Repository hashicorp/terraform-provider-aws, pull requests merged in 2018-10, with the labels that each got.

#6040 tests/provider: Switch TravisCI to Go 1.11.1
  .travis.yml
Labels: provider, size/XS, tests

#6037 ec2: Prevent "InvalidNetworkInterfaceID.NotFound" errors in deleteLingeringLambdaENIs
  aws/resource_aws_security_group.go
Labels: bug, service/ec2, size/XS

#3861 resource/aws_s3_bucket_object: mark version_id as recomputed if a new object will be uploaded
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
Labels: enhancement, service/s3, size/M

#6033 tests/resource/aws_iam_user_login_profile: Remove usage of acctest.RandIntRange()
  aws/resource_aws_iam_user_login_profile_test.go
Labels: service/iam, size/XS, tests

#6009 docs/resource/aws_rds_cluster_instance: Add note that Deletion Protection is only available at the cluster level
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, service/rds, size/XS

#6057 Support all DX connection speeds
  aws/validators.go
  aws/validators_test.go
Labels: enhancement, service/directconnect, size/S, tests

#6029 tests/resource/aws_ses_receipt_filter: Refactor and enhance testing
  aws/resource_aws_ses_receipt_filter_test.go
Labels: service/ses, size/M, tests

#6035 tests/resource/aws_iam_saml_provider: Refactor and enhance testing
  aws/resource_aws_iam_saml_provider_test.go
Labels: service/iam, size/M, tests

#6010 resource/aws_rds_cluster: Add deletion_protection argument
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, enhancement, service/rds, size/M, tests

#6011 resource/aws_db_instance: Add deletion_protection argument
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, enhancement, service/rds, size/L, tests

#6025 service/codedeploy: Support resource import
  aws/resource_aws_codedeploy_app.go
  aws/resource_aws_codedeploy_app_test.go
  aws/resource_aws_codedeploy_deployment_config.go
  aws/resource_aws_codedeploy_deployment_config_test.go
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codedeploy_deployment_group_test.go
  website/docs/r/codedeploy_app.html.markdown
  website/docs/r/codedeploy_deployment_config.html.markdown
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: documentation, enhancement, service/codedeploy, size/XL, tests

#6023 resource/aws_sns_topic_subscription: Always set Terraform state on reads, fix filter_policy removal
  aws/provider_test.go
  aws/resource_aws_sns_topic_subscription.go
  aws/resource_aws_sns_topic_subscription_test.go
Labels: bug, service/sns, size/L, tests

#6048 resource/aws_network_interface_sg_attachment: Properly handle InvalidNetworkInterfaceID.NotFound errors
  aws/resource_aws_network_interface_sg_attachment.go
  aws/resource_aws_network_interface_sg_attachment_test.go
  aws/resource_aws_network_interface_test.go
Labels: bug, service/ec2, size/XL, tests

#5960 New Resource: aws_ec2_fleet
  aws/provider.go
  aws/resource_aws_ec2_fleet.go
  aws/resource_aws_ec2_fleet_test.go
  website/aws.erb
  website/docs/r/ec2_fleet.html.markdown
Labels: documentation, new-resource, service/ec2, size/XXL, tests

#5907 resource/aws_ecs_task_definition: Support task scoped docker volume configurations
  aws/resource_aws_ecs_task_definition_test.go
  aws/structure.go
Labels: bug, service/ecs, size/M, tests

#6065 Add AWS DataPipeline vendor dependencies
  vendor/github.com/aws/aws-sdk-go/service/datapipeline/api.go
  vendor/github.com/aws/aws-sdk-go/service/datapipeline/doc.go
  vendor/github.com/aws/aws-sdk-go/service/datapipeline/errors.go
  vendor/github.com/aws/aws-sdk-go/service/datapipeline/service.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#6068 Align resource example like terraform fmt would do
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, service/cloudwatchevents, size/XS

#6067 Align resource example like terraform fmt would do
  website/docs/r/acm_certificate_validation.html.markdown
Labels: documentation, service/acm, size/S

#6066 Align resource example like terraform fmt would do
  website/docs/r/athena_database.html.markdown
Labels: documentation, service/athena, size/XS

#6060 data/aws_cloudformation_export: Clarify name documentation
  website/docs/d/cloudformation_export.html.markdown
Labels: documentation, service/cloudformation, size/XS

#6069 New resource: aws_pinpoint_event_stream
  aws/provider.go
  aws/resource_aws_pinpoint_event_stream.go
  aws/resource_aws_pinpoint_event_stream_test.go
  website/aws.erb
  website/docs/r/pinpoint_event_stream.markdown
Labels: documentation, service/pinpoint, size/XL, tests

#6064 datasource/launch_template: Add new datasource
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/launch_template.html.markdown
Labels: documentation, new-data-source, service/ec2, size/XL, tests

#6016 New Guide: AWS IAM Policy Documents
  website/aws.erb
  website/docs/d/iam_policy_document.html.markdown
  website/docs/guides/iam-policy-documents.html.md
  website/docs/r/api_gateway_rest_api.html.markdown
  website/docs/r/ecr_lifecycle_policy.html.markdown
  website/docs/r/ecr_repository_policy.html.markdown
  website/docs/r/iam_group_policy.html.markdown
  website/docs/r/iam_policy.html.markdown
  website/docs/r/iam_role_policy.html.markdown
  website/docs/r/iam_user_policy.html.markdown
  website/docs/r/iot_policy.html.markdown
  website/docs/r/kms_key.html.markdown
  website/docs/r/media_store_container_policy.html.markdown
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_policy.html.markdown
  website/docs/r/secretsmanager_secret.html.markdown
  website/docs/r/sns_topic.html.markdown
  website/docs/r/sns_topic_policy.html.markdown
  website/docs/r/sqs_queue.html.markdown
  website/docs/r/sqs_queue_policy.html.markdown
  website/docs/r/vpc_endpoint.html.markdown
Labels: documentation, hashibot/ignore, provider, size/L

#5010 [WIP] Adding support for cluster engine upgrade
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_instance.go
  aws/resource_aws_rds_cluster_test.go
Labels: enhancement, service/rds, size/M

#6088 New resource: aws_pinpoint_sms_channel
  aws/provider.go
  aws/resource_aws_pinpoint_sms_channel.go
  aws/resource_aws_pinpoint_sms_channel_test.go
  website/aws.erb
  website/docs/r/pinpoint_sms_channel.markdown
Labels: documentation, service/pinpoint, size/XL, tests

#6089 New resource: aws_pinpoint_gcm_channel
  aws/provider.go
  aws/resource_aws_pinpoint_gcm_channel.go
  aws/resource_aws_pinpoint_gcm_channel_test.go
  website/aws.erb
  website/docs/r/pinpoint_gcm_channel.markdown
Labels: documentation, service/pinpoint, size/L, tests

#6038 New resource: aws_pinpoint_adm_channel
  aws/provider.go
  aws/resource_aws_pinpoint_adm_channel.go
  aws/resource_aws_pinpoint_adm_channel_test.go
  website/aws.erb
  website/docs/r/pinpoint_adm_channel.markdown
Labels: documentation, service/pinpoint, size/XL, tests

#6085 WIP: fix #6071
  aws/resource_aws_batch_job_queue.go
Labels: bug, service/batch, size/XS

#6070 Adding secret_binary to aws_secretsmanager_secret_version
  aws/data_source_aws_secretsmanager_secret_version.go
  aws/resource_aws_secretsmanager_secret_version.go
  aws/resource_aws_secretsmanager_secret_version_test.go
  website/docs/d/secretsmanager_secret_version.html.markdown
  website/docs/r/secretsmanager_secret_version.html.markdown
Labels: documentation, service/secretsmanager, size/M, tests

#6090 docs: Cross-link aws_lb_target_group_attachment and aws_elb_attachment resources
  website/docs/r/elb_attachment.html.markdown
  website/docs/r/lb_target_group_attachment.html.markdown
Labels: documentation, service/elb, service/elbv2, size/XS

#6091 Support for policy in secrets manager datasource
  aws/data_source_aws_secretsmanager_secret.go
  aws/data_source_aws_secretsmanager_secret_test.go
  website/docs/d/secretsmanager_secret.html.markdown
Labels: documentation, service/secretsmanager, size/M, tests

#5167 aws_lb_listener: wait for listener creation
  aws/resource_aws_lb_listener.go
Labels: bug, service/elbv2, size/S

#3243 New Data Source: aws_workspaces_bundle
  aws/config.go
  aws/data_source_aws_workspaces_bundle.go
  aws/data_source_aws_workspaces_bundle_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/workspaces_bundle.html.markdown
Labels: new-data-source, service/workspaces, size/L, waiting-response

#6078 docs/resource/aws_ecs_task_definition: Clarify resource as managing a single revision
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, service/ecs, size/XS

#6083 tests/resource/aws_db_instance: Consolidate TestAccAWSDBInstance_basic and enhance
  aws/resource_aws_db_instance_test.go
Labels: service/rds, size/M, tests

#6093 Elastic Beanstalk support for PlatformArn
  aws/resource_aws_elastic_beanstalk_environment.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
  website/docs/r/elastic_beanstalk_environment.html.markdown
Labels: documentation, service/elasticbeanstalk, size/M, tests

#3086 New Resource: aws_ebs_snapshot_copy
  aws/provider.go
  aws/resource_aws_ebs_snapshot_copy.go
  aws/resource_aws_ebs_snapshot_copy_test.go
  website/docs/r/copy_snapshot.html.md
Labels: new-resource, service/ec2, size/XL

#6087 Support for setting of certificate in `aws_codebuild_project`
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/M, tests

#6101 Added more color to fixed_gop so it is clear which property it maps to
  website/docs/r/elastic_transcoder_preset.html.markdown
Labels: documentation, service/elastic-transcoder, size/XS

#6102 Fix AWS lb listener authentication documentation
  website/docs/r/lb_listener.html.markdown
  website/docs/r/lb_listener_rule.html.markdown
Labels: documentation, service/elbv2, size/M

#6110 New resource: aws_pinpoint_email_channel
  aws/provider.go
  aws/resource_aws_pinpoint_email_channel.go
  aws/resource_aws_pinpoint_email_channel_test.go
  website/aws.erb
  website/docs/r/pinpoint_email_channel.markdown
Labels: documentation, service/pinpoint, size/XL, tests

#6111 New resource: aws_pinpoint_baidu_channel
  aws/provider.go
  aws/resource_aws_pinpoint_baidu_channel.go
  aws/resource_aws_pinpoint_baidu_channel_test.go
  website/aws.erb
  website/docs/r/pinpoint_baidu_channel.markdown
Labels: documentation, service/pinpoint, size/XL, tests

#6112 aws_pinpoint_* : fix updates
  aws/resource_aws_pinpoint_adm_channel.go
  aws/resource_aws_pinpoint_adm_channel_test.go
  aws/resource_aws_pinpoint_event_stream.go
  aws/resource_aws_pinpoint_event_stream_test.go
  aws/resource_aws_pinpoint_gcm_channel.go
  aws/resource_aws_pinpoint_gcm_channel_test.go
  aws/resource_aws_pinpoint_sms_channel.go
  aws/resource_aws_pinpoint_sms_channel_test.go
  website/docs/r/pinpoint_adm_channel.markdown
Labels: documentation, service/pinpoint, size/M, tests

#6103 Add ip_address property to aws_mq_broker instances list
  aws/resource_aws_mq_broker.go
  aws/resource_aws_mq_broker_test.go
  aws/structure.go
  website/docs/r/mq_broker.html.markdown
Labels: documentation, service/mq, size/XS, tests

#6113 Update aws_waf_web_acl action documentation
  website/docs/r/waf_web_acl.html.markdown
Labels: documentation, service/waf, size/XS

#6119 resource/aws_lb_listener(_rule): Set action order to Computed
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_rule.go
Labels: bug, service/elbv2, size/XS

#6123 Update security_group markdown to add warning about protocol = all an…
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, service/ec2, size/XS

#6130 Add JupyterHub to the list of EMR applications
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, service/emr, size/XS

#6131 docs/resource/aws_lb: Remove non-existent canonical_hosted_zone_id attribute
  website/docs/r/lb.html.markdown
Labels: documentation, service/elbv2, size/XS

#6124 resource/aws_lb_listener(_rule): Allow order to be based on Terraform configuration ordering
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_rule.go
  aws/resource_aws_lb_listener_rule_test.go
  aws/resource_aws_lb_listener_test.go
  website/docs/r/lb_listener.html.markdown
  website/docs/r/lb_listener_rule.html.markdown
Labels: documentation, enhancement, service/elbv2, size/XL, tests

#6143 resource/aws_dx_connection: Export bool value of new MTU parameter
  aws/resource_aws_dx_connection.go
  website/docs/r/dx_connection.html.markdown
Labels: documentation, service/directconnect, size/XS

#6140 resource/aws_codebuild_project: Support `NO_SOURCE` as source's type
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
Labels: service/codebuild, size/M, tests

#6154 aws_lb_listener_rule: Add eventualy consistent read after creation
  aws/resource_aws_lb_listener_rule.go
Labels: bug, service/elbv2, size/XS

#6149 aws_dynamodb_table: Work around tagging limitation in dynamodb-local
  aws/resource_aws_dynamodb_table.go
Labels: enhancement, service/dynamodb, size/XS

#6151 resource/aws_cloudwatch_metric_alarm: Validate alarm actions
  aws/resource_aws_cloudwatch_metric_alarm.go
Labels: enhancement, service/cloudwatch, size/XS

#6146 redshift event subscription resource
  aws/provider.go
  aws/resource_aws_redshift_event_subscription.go
  aws/resource_aws_redshift_event_subscription_test.go
  website/aws.erb
  website/docs/r/redshift_event_subscription.html.markdown
Labels: documentation, new-resource, service/redshift, size/XL, tests

#6117 Add KMS encryption support to the aws_athena_database resource.
  .github/CONTRIBUTING.md
  aws/resource_aws_athena_database.go
  aws/resource_aws_athena_database_test.go
  website/docs/r/athena_database.html.markdown
  website/docs/r/codepipeline.markdown
Labels: documentation, service/athena, size/M, tests

#6161 documentation: cloudformation parameter is a map, not a list
  website/docs/r/cloudformation_stack.html.markdown
Labels: documentation, service/cloudformation, size/XS

#6160 Add copy about inter-region VPC peering limitations
  website/docs/r/vpc_peering.html.markdown
  website/docs/r/vpc_peering_options.html.markdown
Labels: documentation, service/ec2, size/XS

#6156 provider: Replace validateRFC3339TimeString usage with upstream validation.ValidateRFC3339TimeString
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_instance_request.go
  aws/resource_aws_ssm_activation.go
  aws/validators.go
  aws/validators_test.go
Labels: service/ec2, service/ssm, size/M, technical-debt, tests

#6162 vendor: hashicorp/terraform@v0.11.9-beta1
  vendor/github.com/hashicorp/terraform/helper/resource/testing.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_data.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_diff.go
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/terraform/test_failure
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/vendor.json
Labels: dependencies, provider, size/XL

#6164 vendor: aws/aws-sdk-go@v1.15.55
  vendor/github.com/aws/aws-sdk-go/aws/defaults/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/session/shared_config.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/internal/shareddefaults/ecs_container.go
  vendor/github.com/aws/aws-sdk-go/service/cloudtrail/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudtrail/errors.go
  vendor/github.com/aws/aws-sdk-go/service/lambda/api.go
  vendor/github.com/aws/aws-sdk-go/service/lambda/errors.go
  vendor/github.com/aws/aws-sdk-go/service/rds/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicecatalog/api.go
  vendor/vendor.json
Labels: dependencies, provider, service/ecs, size/XXL

#6172 backup_retention_period allowed range
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS

#6175 readme: Add link to docs page of AWS provider
  README.md
Labels: size/XS

#6182 docs/service/waf: Clarify web ACL rules as global versus regional
  website/docs/r/waf_web_acl.html.markdown
  website/docs/r/wafregional_web_acl.html.markdown
Labels: documentation, service/waf, size/XS

#6183 Refactor some validators
  aws/data_source_aws_lambda_invocation.go
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_cloudformation_stack.go
  aws/resource_aws_cloudwatch_dashboard.go
  aws/resource_aws_config_config_rule.go
  aws/resource_aws_dms_replication_task.go
  aws/resource_aws_ecr_lifecycle_policy.go
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_security_configuration.go
  aws/resource_aws_glacier_vault.go
  aws/resource_aws_glue_crawler.go
  aws/resource_aws_iam_role.go
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kms_key.go
  aws/resource_aws_organizations_policy.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_policy.go
  aws/resource_aws_secretsmanager_secret.go
  aws/resource_aws_service_discovery_service.go
  aws/resource_aws_sns_topic.go
  aws/resource_aws_sns_topic_policy.go
  aws/resource_aws_sns_topic_subscription.go
  aws/resource_aws_sqs_queue.go
  aws/resource_aws_sqs_queue_policy.go
  aws/validators.go
  aws/validators_test.go
Labels: service/apigateway, service/cloudformation, service/databasemigrationservice, service/ecr, service/elasticsearch, service/emr, service/firehose, service/glacier, service/glue, service/iam, service/kms, service/lambda, service/organizations, service/s3, service/servicediscovery, service/sns, service/sqs, size/L, technical-debt, tests

#6138 resource/aws_appsync_graphql_api: Various enhancements and properly handle updates
  aws/resource_aws_appsync_graphql_api.go
  aws/resource_aws_appsync_graphql_api_test.go
  website/docs/r/appsync_graphql_api.html.markdown
Labels: documentation, enhancement, service/appsync, size/XL, tests

#6139 resource/aws_appsync_datasource: Various enhancements
  aws/resource_aws_appsync_datasource.go
  aws/resource_aws_appsync_datasource_test.go
  website/docs/r/appsync_datasource.html.markdown
Labels: documentation, enhancement, service/appsync, size/XL, tests

#6194 New resource: aws_pinpoint_apns_channel
  aws/provider.go
  aws/resource_aws_pinpoint_apns_channel.go
  aws/resource_aws_pinpoint_apns_channel_test.go
  website/aws.erb
  website/docs/r/pinpoint_apns_channel.markdown
Labels: documentation, service/pinpoint, size/XL, tests

#4125 CloudHSM v2 resource & datasource
  aws/config.go
  aws/data_source_aws_cloudhsm2_cluster.go
  aws/data_source_aws_cloudhsm2_cluster_test.go
  aws/provider.go
  aws/resource_aws_cloudhsm2_cluster.go
  aws/resource_aws_cloudhsm2_cluster_test.go
  aws/resource_aws_cloudhsm2_hsm.go
  aws/resource_aws_cloudhsm2_hsm_test.go
  examples/cloudhsm/main.tf
  examples/cloudhsm/outputs.tf
  examples/cloudhsm/variables.tf
  website/aws.erb
  website/docs/d/cloudhsm_v2_cluster.html.markdown
  website/docs/r/cloudhsm_v2_cluster.html.markdown
  website/docs/r/cloudhsm_v2_hsm.html.markdown
Labels: documentation, new-data-source, new-resource, service/cloudhsm, service/cloudhsmv2, size/XXL, tests

#6176 Fix "random" ECS task placement strategy
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_service_test.go
  aws/validators.go
Labels: bug, service/ecs, size/M, tests

#6200 issue #6163 Directly Set RDS Parameter Group During Restore from snapshot
  aws/resource_aws_db_instance.go
  aws/resource_aws_rds_cluster.go
Labels: enhancement, service/rds, size/XS

#6201 Update s3_bucket.html.markdown
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XS

#6252 Bump AWS SDK to v1.15.61
  vendor/github.com/aws/aws-sdk-go/aws/credentials/shared_credentials_provider.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/session/shared_config.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/ast.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/comma_token.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/comment_token.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/doc.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/empty_token.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/expression.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/fuzz.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/ini.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/ini_lexer.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/ini_parser.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/literal_tokens.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/newline_token.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/number_helper.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/op_tokens.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/parse_error.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/parse_stack.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/sep_tokens.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/skipper.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/statement.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/value_util.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/visitor.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/walker.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/ws_token.go
  vendor/github.com/aws/aws-sdk-go/service/apigateway/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatchevents/api.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/glue/api.go
  vendor/github.com/aws/aws-sdk-go/service/glue/errors.go
  vendor/github.com/aws/aws-sdk-go/service/inspector/api.go
  vendor/github.com/aws/aws-sdk-go/service/lightsail/api.go
  vendor/github.com/aws/aws-sdk-go/service/medialive/api.go
  vendor/github.com/aws/aws-sdk-go/service/route53/api.go
  vendor/github.com/aws/aws-sdk-go/service/route53/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/github.com/aws/aws-sdk-go/service/workspaces/api.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#2454 resource/aws_network_acl_rule: Fix DiffSuppressFunc
  aws/resource_aws_network_acl_rule.go
  aws/resource_aws_network_acl_rule_test.go
Labels: bug, service/ec2

#5509 aws_flow_log - adding support for sending to S3
  aws/resource_aws_flow_log.go
  aws/resource_aws_flow_log_test.go
  website/docs/r/flow_log.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#6241 resource/aws_security_group_rule: Fix bad examples in docs
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, service/ec2, size/XS

#6260 typo fix under cpu_threads_per_core description
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XS

#6239 add import docs for ses_receipt_rule_set and ses_domain_identity
  website/docs/r/ses_domain_identity.html.markdown
  website/docs/r/ses_receipt_rule_set.html.markdown
Labels: documentation, service/ses, size/XS

#6229 d/nat_gateway: Fix formatting when describing filter arguments
  website/docs/d/nat_gateway.html.markdown
Labels: documentation, service/ec2, size/XS

#6228 Fix non-alphanumeric VPC name in aws_cloudformation_stack example usage
  website/docs/r/cloudformation_stack.html.markdown
Labels: documentation, service/cloudformation, size/XS

#6233 New resource: aws_pinpoint_apns_sandbox_channel
  aws/provider.go
  aws/resource_aws_pinpoint_apns_sandbox_channel.go
  aws/resource_aws_pinpoint_apns_sandbox_channel_test.go
  website/aws.erb
  website/docs/r/pinpoint_apns_sandbox_channel.markdown
Labels: documentation, new-resource, service/pinpoint, size/XL, tests

#6234 New resource: aws_pinpoint_apns_voip_channel
  aws/provider.go
  aws/resource_aws_pinpoint_apns_voip_channel.go
  aws/resource_aws_pinpoint_apns_voip_channel_test.go
  website/aws.erb
  website/docs/r/pinpoint_apns_voip_channel.markdown
Labels: documentation, new-resource, provider, service/pinpoint, size/XL, tests

#6271 aws_s3_bucket: Add MaxItems=1 annotations
  aws/resource_aws_s3_bucket.go
Labels: enhancement, service/s3, size/XS, technical-debt

#6270 elasticsearch_domain: Add MaxItems=1 annotations
  aws/resource_aws_elasticsearch_domain.go
Labels: enhancement, service/elasticsearch, size/XS, technical-debt

#6207 docs: fix example code elastic_transcoder_preset
  website/docs/r/elastic_transcoder_preset.html.markdown
Labels: documentation, service/elastic-transcoder, size/XS

#6247 resouce/aws_waf_rule: add import ability
  aws/resource_aws_waf_rule.go
  aws/resource_aws_waf_rule_test.go
  website/docs/r/waf_rule.html.markdown
Labels: documentation, service/waf, size/XS, tests

#6231 d/aws_nat_gateway: Fix filtering and reading of tags
  aws/data_source_aws_nat_gateway.go
  aws/data_source_aws_nat_gateway_test.go
  website/docs/d/nat_gateway.html.markdown
Labels: documentation, enhancement, service/ec2, size/XS, tests

#6168 issue #6153 terraform validate does not catch name violation for aws_alb_target_group
  aws/resource_aws_lb_target_group.go
  aws/validators.go
  aws/validators_test.go
Labels: enhancement, service/elbv2, size/M, tests

#6275 Added NO_SOURCE as a possible value for source type
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#6232 resource/aws_glue_job: Support security_configuration property
  aws/resource_aws_glue_job.go
  aws/resource_aws_glue_job_test.go
  website/docs/r/glue_job.html.markdown
Labels: documentation, enhancement, service/glue, size/M, tests

#6281 resource/aws_ses_configuration_set: Acceptance test and document resource import
  aws/resource_aws_ses_configuration_set_test.go
  website/docs/r/ses_configuration_set.markdown
Labels: documentation, service/ses, size/XS, tests

#6290 Bump AWS SDK to v1.15.64
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/sagemaker/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#5864 New resource: aws_iot_policy_attachment
  aws/provider.go
  aws/resource_aws_iot_policy_attachment.go
  aws/resource_aws_iot_policy_attachment_test.go
  website/aws.erb
  website/docs/r/iot_policy_attachment.html.markdown
Labels: documentation, new-resource, service/iot, size/XL, tests

#5868 New resource: aws_iot_thing_principal_attachment
  aws/provider.go
  aws/resource_aws_iot_thing_principal_attachment.go
  aws/resource_aws_iot_thing_principal_attachment_test.go
  website/aws.erb
  website/docs/r/iot_thing_principal_attachment.html.markdown
Labels: documentation, new-resource, service/iot, size/XL, tests

#6297 Typo fix on FIFO queue name error
  aws/validators.go
Labels: size/XS

#6215 data-source/aws_iot_endpoint: Add endpoint_type argument
  aws/data_source_aws_iot_endpoint.go
  aws/data_source_aws_iot_endpoint_test.go
  website/docs/d/iot_endpoint.html.markdown
Labels: documentation, enhancement, service/iot, size/M, tests

#6206 resource/aws_cloudwatch_metric_alarm: Allow EC2 Automate ARNs with alarm_actions
  aws/resource_aws_cloudwatch_metric_alarm.go
  aws/resource_aws_cloudwatch_metric_alarm_test.go
  aws/validators.go
  aws/validators_test.go
Labels: bug, regression, service/cloudwatch, size/XL, tests

#6202 resource/aws_codepipeline_webhook: Support resource import
  aws/resource_aws_codepipeline_webhook.go
  aws/resource_aws_codepipeline_webhook_test.go
  website/docs/r/codepipeline_webhook.markdown
Labels: documentation, enhancement, service/codepipeline, size/S, tests

#6224 resource/aws_ami_launch_permission: Prevent panic reading public permissions
  aws/resource_aws_ami_launch_permission.go
  aws/resource_aws_ami_launch_permission_test.go
Labels: bug, crash, service/ec2, size/L, tests

#6226 resource/aws_budgets_budget: Support resource import
  aws/resource_aws_budgets_budget.go
  aws/resource_aws_budgets_budget_test.go
Labels: enhancement, service/budgets, size/XS, tests

#6225 resource/aws_nat_gateway: Remove network_interface_id, private_ip, and public_ip as configurable
  aws/resource_aws_nat_gateway.go
  aws/resource_aws_nat_gateway_test.go
Labels: bug, service/ec2, size/S, tests

#6264 resource/aws_network_acl: Properly handle ICMP code and type with IPv6 ICMP (protocol 58)
  aws/network_acl_entry.go
  aws/resource_aws_network_acl_test.go
Labels: bug, service/ec2, size/S, tests

#6285 Fix bad advice on using ".name" property of Role while ignoring path
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, service/glue, size/XS

#6263 resource/aws_network_acl_rule: Properly handle ICMP code and type with IPv6 ICMP (protocol 58)
  aws/resource_aws_network_acl_rule.go
  aws/resource_aws_network_acl_rule_test.go
Labels: bug, service/ec2, size/S, tests

#6261 resource/aws_cloudwatch_event_permission: Add condition argument (support Organizations access)
  aws/resource_aws_cloudwatch_event_permission.go
  aws/resource_aws_cloudwatch_event_permission_test.go
  website/docs/r/cloudwatch_event_permission.html.markdown
Labels: documentation, enhancement, service/cloudwatchevents, size/L, tests

#6299 resource/aws_route53_zone: Support multiple vpc associations, deprecate vpc_id and vpc_region, and enhance acceptance testing
  aws/resource_aws_route53_zone.go
  aws/resource_aws_route53_zone_test.go
  website/docs/guides/version-2-upgrade.html.md
  website/docs/r/route53_zone.html.markdown
  website/docs/r/route53_zone_association.html.markdown
Labels: documentation, enhancement, service/route53, size/XXL, tests

#6216 docs/resource/aws_ecr_lifecycle_policy: Add note that only one resource can be used with the same ECR repository
  website/docs/r/ecr_lifecycle_policy.html.markdown
Labels: documentation, service/ecr, size/XS

#6295 Set `apply_method` to state in `aws_rds_cluster_parameter_group`
  aws/resource_aws_rds_cluster_parameter_group.go
  aws/resource_aws_rds_cluster_parameter_group_test.go
Labels: bug, service/rds, size/M, tests

#6141 resource/aws_dx_private_virtual_interface: Update resource to support MTU param
  aws/dx_vif.go
  aws/resource_aws_dx_hosted_private_virtual_interface.go
  aws/resource_aws_dx_hosted_private_virtual_interface_accepter.go
  aws/resource_aws_dx_hosted_public_virtual_interface.go
  aws/resource_aws_dx_hosted_public_virtual_interface_accepter.go
  aws/resource_aws_dx_private_virtual_interface.go
  aws/resource_aws_dx_private_virtual_interface_test.go
  aws/resource_aws_dx_public_virtual_interface.go
  aws/validators.go
  aws/validators_test.go
  website/docs/r/dx_private_virtual_interface.html.markdown
Labels: documentation, service/directconnect, size/L, tests

#6191 Load balancer formatting
  website/docs/r/ecs_service.html.markdown
Labels: documentation, service/ecs, size/XS

#6190 aws_egress_only_internet_gateway: Adjust eventualy consistent logic
  aws/resource_aws_egress_only_internet_gateway.go
Labels: bug, service/ec2, size/M

#6253 r/aws_dx_gateway: Use a single Amazon-side ASN validator
  aws/resource_aws_dx_gateway.go
  aws/resource_aws_vpn_gateway.go
  aws/validators.go
  aws/validators_test.go
Labels: enhancement, service/directconnect, size/M, tests

#6284 issue #6096 Typo in data_source_aws_network_interface
  aws/data_source_aws_network_interface.go
  aws/data_source_aws_network_interface_test.go
  website/docs/d/network_interface.html.markdown
Labels: bug, documentation, service/ec2, size/XS, tests

#6304 Issue #6144 Resource 'aws_iam_role_policy.example_policy' does not have attribute 'name'
  aws/resource_aws_iam_role_policy.go
  aws/resource_aws_iam_role_policy_test.go
Labels: bug, service/iam, size/XS, tests

#6294 Update default_network_acl.html.markdown
  website/docs/r/default_network_acl.html.markdown
Labels: documentation, service/ec2, size/XS, waiting-response

#6305 Set ForceNew for s3_backup_mode in aws_kinesis_firehose_delivery_stream
  aws/resource_aws_kinesis_firehose_delivery_stream.go
Labels: bug, service/firehose, size/XS

#6150 aws_ecs_service support deployment_minimum_healthy_percent for DAEMON strategy
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_service_test.go
  website/docs/r/ecs_service.html.markdown
Labels: documentation, enhancement, service/ecs, size/M, tests

#6308 deps: Add aws/aws-sdk-go/service/resourcegroups@v1.15.64
  vendor/github.com/aws/aws-sdk-go/service/resourcegroups/api.go
  vendor/github.com/aws/aws-sdk-go/service/resourcegroups/doc.go
  vendor/github.com/aws/aws-sdk-go/service/resourcegroups/errors.go
  vendor/github.com/aws/aws-sdk-go/service/resourcegroups/service.go
  vendor/vendor.json
Labels: dependencies, provider, service/resourcegroups, size/XXL

#6309 Update cognito_user_pool.markdown
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, service/cognito, size/XS, waiting-response

#6095 r/aws_s3_bucket: Support S3 Cross-Region Replication filtering based on S3 object tags
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
  aws/tags.go
  aws/tags_test.go
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XL, tests

#6288 New Resource: aws_glue_security_configuration
  aws/provider.go
  aws/resource_aws_glue_security_configuration.go
  aws/resource_aws_glue_security_configuration_test.go
  website/aws.erb
  website/docs/r/glue_security_configuration.html.markdown
Labels: documentation, new-resource, provider, service/glue, size/XL, tests
