Repository hashicorp/terraform-provider-aws, pull requests merged in 2018-04, with the labels that each got.

#3990 tests: Serialize WAF Regex Pattern Set acceptance testing
  aws/resource_aws_waf_regex_pattern_set_test.go
  aws/resource_aws_wafregional_regex_pattern_set_test.go
Labels: service/waf, size/M, tests

#3932 resource/aws_elasticache_replication_group: Support Cluster Mode Enabled online shard reconfiguration
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_migrate.go
  aws/resource_aws_elasticache_replication_group_migrate_test.go
  aws/resource_aws_elasticache_replication_group_test.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: enhancement, service/elasticache, size/L

#4015 Minor typo fix
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, size/XS

#4024 docs: Fix formatting of wafregional_geo_match_set
  website/docs/r/wafregional_geo_match_set.html.markdown
Labels: documentation, service/waf, size/XS

#4037 resource/aws_launch_configuration: Clean up code
  aws/resource_aws_launch_configuration.go
Labels: enhancement, service/autoscaling, size/S, technical-debt

#3944 resource/aws_kinesis_firehose_delivery_stream: Add Splunk destination…
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: enhancement, service/firehose, size/M

#2987 Added support for Kinesis Extended S3 Configuration Backup Mode
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: enhancement, service/firehose, size/M

#2640 New Resource: aws_ses_identity_notification
  aws/provider.go
  aws/resource_aws_ses_identity_notification_topic.go
  aws/resource_aws_ses_identity_notification_topic_test.go
  website/aws.erb
  website/docs/r/ses_identity_notification_topic.markdown
Labels: new-resource, service/ses, size/L

#4046 resource/aws_wafregional_rule: Validate all predicate types
  aws/resource_aws_wafregional_rule.go
  website/docs/r/wafregional_rule.html.markdown
Labels: enhancement, service/waf, size/S

#4051 EmailMessageByLink should not be limited to 140 characters
  aws/validators.go
Labels: bug, service/cognito, size/XS

#4032 resource/aws_lb: suppress diff for attributes incorrect lb types
  aws/resource_aws_lb.go
Labels: enhancement, service/elbv2, size/M

#3977 Add MaxSesessionDuration to iam_role for federated users
  aws/resource_aws_iam_role.go
  aws/resource_aws_iam_role_test.go
  website/docs/r/iam_role.html.markdown
Labels: enhancement, service/iam, size/M

#2883 provider: Fallback to session-derived credentials
  aws/config.go
Labels: bug, provider

#3922 tests/resource/aws_subnet: Add sweeper dependencies
  aws/resource_aws_subnet_test.go
Labels: size/XS, tests

#3931 resource/aws_elasticache_*: Add test sweepers
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
  aws/resource_aws_subnet_test.go
Labels: service/elasticache, size/L, tests

#4072 tests/resource/aws_lb: Remove missing attribute from TestAccAWSLBBackwardsCompatibility
  aws/resource_aws_lb_test.go
Labels: service/elbv2, size/XS, tests

#4041 resource/aws_cognito_user_pool: Trim custom: prefix of developer_only_attribute = false schema attributes
  aws/resource_aws_cognito_user_pool_test.go
  aws/structure.go
Labels: bug, service/cognito, size/S

#3961 resource/aws_rds_cluster_instance: Prevent crash on importing non-cluster instances
  aws/resource_aws_rds_cluster_instance.go
Labels: bug, crash, service/rds, size/XS

#4047 resource/aws_kinesis_firehose_delivery_stream: Prevent nil dereference crashes and ensure attributes are flattened correctly
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
Labels: bug, crash, service/firehose, size/L

#4074 resource/aws_ssm_maintenance_window_target: Make resource updatable
  aws/resource_aws_ssm_association.go
  aws/resource_aws_ssm_maintenance_window_target.go
  aws/resource_aws_ssm_maintenance_window_target_test.go
  aws/resource_aws_ssm_maintenance_window_task.go
  aws/structure.go
Labels: enhancement, service/ssm, size/L

#4070 resource/aws_launch_configuration: Add support for ebs_block_device.*.no_device
  aws/resource_aws_launch_configuration.go
  aws/resource_aws_launch_configuration_test.go
Labels: enhancement, service/autoscaling, size/M

#4054 tests/resource/aws_ecs_task_definition: Randomize IAM role and task definition family names
  aws/data_source_aws_ecs_task_definition_test.go
Labels: service/ecs, size/S, tests

#3524 New Resource: aws_organizations_account
  aws/provider.go
  aws/resource_aws_organizations_account.go
  aws/resource_aws_organizations_account_test.go
  aws/resource_aws_organizations_test.go
  website/aws.erb
  website/docs/r/organizations_account.html.markdown
Labels: new-resource, service/organizations, size/L, upstream

#4092 data-source/aws_iam_role: Add max_session_duration attribute
  aws/data_source_aws_iam_role.go
Labels: bug, service/iam, size/XS

#2860 Add cache option to AWS CodeBuild projects
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: enhancement, service/codebuild, size/L

#4102 resource/aws_cloudfront_distribution: Add cache_behavior field_level_encryption_id attribute
  aws/cloudfront_distribution_configuration_structure.go
  aws/cloudfront_distribution_configuration_structure_test.go
  aws/resource_aws_cloudfront_distribution.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: enhancement, service/cloudfront, size/M

#4119 r/aws_network_acl: Fix NACL associations with deleted subnets
  aws/resource_aws_network_acl.go
  aws/resource_aws_network_acl_test.go
  aws/utils.go
Labels: bug, service/ec2, size/XL

#4130 Update codebuild_project.html.markdown
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#3821 Trigger destructive update of resource_aws_dynamodb_table_item if range_key has changed
  aws/resource_aws_dynamodb_table_item.go
  aws/resource_aws_dynamodb_table_item_test.go
Labels: bug, service/dynamodb, size/M

#2684 resource/aws_lambda_function: Make it possible to remove dead_letter_config
  aws/resource_aws_lambda_function.go
Labels: bug, service/lambda

#3982 Fix bug: route53_zone import saves name with trailing . in state causing plan to detect a change and try to recreate the zone
  aws/diff_suppress_funcs.go
  aws/resource_aws_route53_zone.go
Labels: bug, service/route53, size/S

#4135 Update route53_query_log example
  website/docs/r/route53_query_log.html.markdown
Labels: documentation, size/XS

#4139 aws_rds_cluster is not setting engine_version for aurora postgres
  aws/resource_aws_rds_cluster.go
Labels: bug, service/rds, size/XS

#4145 Remove incorrect backtick
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: documentation, service/codedeploy, size/XS

#4147 Fix link to CloudFront API reference
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, service/cloudfront, size/XS

#4148 Fixes Terraform crash for AWS Kinesis Firehose
  aws/resource_aws_kinesis_firehose_delivery_stream.go
Labels: bug, crash, service/firehose, size/XS

#4156 docs/resource/aws_elasticache_replication_group: Further clarify automatic_failover_enabled attribute from API documentation
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, service/elasticache, size/XS

#4107 docs/resource/aws_appautoscaling_target: Link to aws_appautoscaling_policy resource
  website/docs/r/appautoscaling_target.html.markdown
Labels: documentation, service/applicationautoscaling, size/XS

#4140 resource/aws_vpc_peering_connection: Allow active pending state during deletion
  aws/resource_aws_vpc_peering_connection.go
Labels: bug, service/ec2, size/S

#4144 resource/aws_rds_cluster: Set port to force new resource
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
Labels: bug, service/rds, size/M

#4143 resource/aws_iam_user: Retry user login profile deletion on EntityTemporarilyUnmodifiable
  aws/resource_aws_iam_user.go
  aws/resource_aws_iam_user_login_profile_test.go
Labels: bug, service/iam, size/S, tests

#4151 resource/aws_db_event_subscription: Fix tag ARN handling
  aws/resource_aws_db_event_subscription.go
  aws/resource_aws_db_event_subscription_test.go
  website/docs/r/db_event_subscription.html.markdown
Labels: bug, regression, service/rds, size/L

#4159 resource/aws_elb: Return any errors when updating listeners
  aws/resource_aws_elb.go
  aws/resource_aws_elb_test.go
Labels: bug, service/elb, size/M

#4165 resource/aws_emr_cluster: Prevent crash with missing StateChangeReason
  aws/resource_aws_emr_cluster.go
Labels: bug, crash, service/emr, size/S

#4124 CloudHSM vendor v1.13.28
  vendor/github.com/aws/aws-sdk-go/service/cloudhsmv2/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudhsmv2/doc.go
  vendor/github.com/aws/aws-sdk-go/service/cloudhsmv2/errors.go
  vendor/github.com/aws/aws-sdk-go/service/cloudhsmv2/service.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#2311 New Data Source: aws_sqs_queue
  aws/data_source_aws_sqs_queue.go
  aws/data_source_aws_sqs_queue_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/sqs_queue.html.markdown
Labels: new-data-source, service/sqs, size/L, waiting-response

#2985 New Resource: aws_iam_service_linked_role
  aws/provider.go
  aws/resource_aws_iam_service_linked_role.go
  aws/resource_aws_iam_service_linked_role_test.go
  website/aws.erb
  website/docs/r/iam_service_linked_role.html.markdown
Labels: enhancement, new-resource, service/iam, size/L

#4172 add new data source aws_api_gateway_rest_api
  aws/data_source_aws_api_gateway_rest_api.go
  aws/data_source_aws_api_gateway_rest_api_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/api_gateway_rest_api.html.markdown
Labels: new-data-source, service/apigateway, size/L

#4183 Make sure route53 records really exist after creation and add support for all ASCII characters
  aws/resource_aws_route53_record.go
  aws/resource_aws_route53_record_test.go
Labels: bug, service/route53, size/M

#4136 resource/vpc_dhcp_options: Update not found error message
  aws/resource_aws_vpc_dhcp_options.go
Labels: bug, service/ec2, size/S

#4133 r/aws_athena_database: validate athena db name with regex as per docs
  aws/resource_aws_athena_database.go
  aws/resource_aws_athena_database_test.go
Labels: bug, service/athena, size/M

#4095 tests/resource/aws_network_acl: Prevent crash in TestAccAWSNetworkAcl_SubnetChange
  aws/resource_aws_network_acl_test.go
Labels: service/ec2, size/XS, tests

#4189 Support password data on spot requests
  aws/resource_aws_spot_instance_request.go
  aws/resource_aws_spot_instance_request_test.go
Labels: enhancement, service/ec2, size/M, waiting-response

#2590 resource/aws_db_option_group: Add version field
  aws/resource_aws_db_option_group.go
  aws/resource_aws_db_option_group_test.go
  aws/structure.go
  website/docs/r/db_option_group.html.markdown
Labels: bug, service/rds

#3906 resource/ecs_service: Support ServiceRegistries
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_service_test.go
  website/docs/r/ecs_service.html.markdown
Labels: enhancement, service/ecs, size/L

#4093 resource/aws_elasticache_replication_group: Increase default create timeout to 60 minutes
  aws/resource_aws_elasticache_replication_group.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: enhancement, service/elasticache, size/XS

#4049 provider: Support acmpca, fms, and secretsmanager connections
  aws/config.go
Labels: enhancement, provider, size/XS

#3940 resource/aws_spot_fleet_request: Add test sweeper and configurable delete timeout
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
  aws/resource_aws_subnet_test.go
  website/docs/r/spot_fleet_request.html.markdown
Labels: service/ec2, size/M, tests

#4069 waf: Ensure RegexMatch predicate type is consistently supported and documented
  aws/resource_aws_wafregional_rule.go
  aws/validators.go
  website/docs/r/waf_rate_based_rule.html.markdown
  website/docs/r/waf_rule.html.markdown
  website/docs/r/wafregional_rate_based_rule.html.markdown
  website/docs/r/wafregional_rule.html.markdown
Labels: enhancement, service/waf, size/M

#4188 resource/aws_iam_service_linked_role: Support custom_suffix and description arguments
  aws/resource_aws_iam_service_linked_role.go
  aws/resource_aws_iam_service_linked_role_test.go
  website/docs/r/iam_service_linked_role.html.markdown
Labels: enhancement, service/iam, size/L

#4195 docs/resource/aws_spot_instance_request: Adjust spelling of instance_interruption_behaviour attribute to match existing resource schema
  website/docs/r/spot_instance_request.html.markdown
Labels: documentation, service/ec2, size/XS

#4194 resource/aws_codedeploy_deployment_config: Force new resource for minimum_healthy_hosts updates
  aws/resource_aws_codedeploy_deployment_config.go
  aws/resource_aws_codedeploy_deployment_config_test.go
Labels: bug, service/codedeploy, size/M

#4199 fix example documentation for aws_db_snapshot db reference and defaul…
  website/docs/d/db_snapshot.html.markdown
Labels: documentation, size/S

#4201 Update docs for service_discovery_service health_check_config
  website/docs/r/service_discovery_service.html.markdown
Labels: documentation, service/servicediscovery, size/XS

#4121 Doc Update for VPC Endpoint
  website/docs/r/vpc_endpoint.html.markdown
Labels: documentation, size/M

#4116 docs/resource/lambda_permission: Fix cloudwatch example
  website/docs/r/lambda_permission.html.markdown
Labels: documentation, service/lambda, size/XS

#4087 Add documentation examples for Aurora Read Replica Autoscaling
  website/docs/r/appautoscaling_policy.html.markdown
  website/docs/r/appautoscaling_target.html.markdown
Labels: documentation, service/rds, size/M

#4203 Update docs to append '/' to s3 arn for cloudtrail
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, service/cloudtrail, size/XS

#4062 Adding documentation for SSM Command as a Cloudwatch event target
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, service/ssm, size/L

#3801 Optionally filter server certificates by path prefix.
  aws/data_source_aws_iam_server_certificate.go
  aws/data_source_aws_iam_server_certificate_test.go
  aws/resource_aws_iam_server_certificate_test.go
  website/docs/d/iam_server_certificate.html.markdown
Labels: enhancement, service/iam, size/M

#4083 resource/aws_service_discovery_service: Support HealthCheckCustomConfig
  aws/resource_aws_service_discovery_service.go
  aws/resource_aws_service_discovery_service_test.go
  website/docs/r/service_discovery_service.html.markdown
Labels: enhancement, service/servicediscovery, size/M

#4016 New Resource: aws_glue_connection
  aws/provider.go
  aws/resource_aws_glue_connection.go
  aws/resource_aws_glue_connection_test.go
  website/aws.erb
  website/docs/r/glue_connection.html.markdown
Labels: new-resource, service/glue, size/XL

#3523 doc updates for NLBs
  website/docs/r/ecs_service.html.markdown
  website/docs/r/lb.html.markdown
Labels: documentation, service/ecs, service/elbv2, size/M

#4028 New Resource: aws_glue_job
  aws/provider.go
  aws/resource_aws_glue_job.go
  aws/resource_aws_glue_job_test.go
  website/aws.erb
  website/docs/r/glue_job.html.markdown
Labels: new-resource, service/glue, size/XL

#4204 docs/resource/aws_autoscaling_*: Use resource references for RDS examples
  website/docs/r/appautoscaling_policy.html.markdown
  website/docs/r/appautoscaling_target.html.markdown
Labels: documentation, service/rds, size/S

#4154 Deps: Bump terraform@v0.11.7, copystructure, go-getter, and reflectwalk
  vendor/github.com/hashicorp/go-getter/README.md
  vendor/github.com/hashicorp/go-getter/client.go
  vendor/github.com/hashicorp/go-getter/decompress.go
  vendor/github.com/hashicorp/go-getter/decompress_tar.go
  vendor/github.com/hashicorp/go-getter/decompress_testing.go
  vendor/github.com/hashicorp/go-getter/decompress_zip.go
  vendor/github.com/hashicorp/go-getter/get_git.go
  vendor/github.com/hashicorp/go-getter/get_hg.go
  vendor/github.com/hashicorp/go-getter/get_http.go
  vendor/github.com/hashicorp/go-safetemp/LICENSE
  vendor/github.com/hashicorp/go-safetemp/README.md
  vendor/github.com/hashicorp/go-safetemp/safetemp.go
  vendor/github.com/hashicorp/terraform/config/module/get.go
  vendor/github.com/hashicorp/terraform/config/module/validate_provider_alias.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_data.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_diff.go
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/helper/validation/validation.go
  vendor/github.com/hashicorp/terraform/httpclient/useragent.go
  vendor/github.com/hashicorp/terraform/terraform/context.go
  vendor/github.com/hashicorp/terraform/terraform/eval_validate.go
  vendor/github.com/hashicorp/terraform/terraform/interpolate.go
  vendor/github.com/hashicorp/terraform/terraform/state.go
  vendor/github.com/hashicorp/terraform/terraform/transform_reference.go
  vendor/github.com/hashicorp/terraform/terraform/transform_targets.go
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/github.com/mitchellh/copystructure/copystructure.go
  vendor/github.com/mitchellh/reflectwalk/location.go
  vendor/github.com/mitchellh/reflectwalk/location_string.go
  vendor/github.com/mitchellh/reflectwalk/reflectwalk.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#4122 website: Standalone website
  GNUmakefile
Labels: size/XS

#4210 Fix vet issue
  aws/resource_aws_organizations_account_test.go
Labels: size/XS

#4209 resource/aws_iam_role: Suppress NoSuchEntity errors while detaching policies from role
  aws/resource_aws_iam_role.go
Labels: bug, service/iam, size/S

#4208 api_gateway_usage_plan description is optional
  website/docs/r/api_gateway_usage_plan.html.markdown
Labels: documentation, service/apigateway, size/XS

#4173 Add contraints link for aws_db_instance attribute
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS

#4231 docs/resource/aws_lambda_function: Clarify s3_bucket must be in same region to match SDK documentation
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS

#4230 docs/resource/aws_lb: Add example for specifying Elastic IPs
  website/docs/r/lb.html.markdown
Labels: documentation, service/elbv2, size/S

#1986 resource/aws_spot_instance_request: Fix being able to stop requests
  aws/resource_aws_spot_instance_request.go
  aws/resource_aws_spot_instance_request_test.go
Labels: bug, service/ec2, size/M

#4212 New Data Source: cognito_user_pools
  aws/data_source_aws_cognito_user_pools.go
  aws/data_source_aws_cognito_user_pools_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/cognito_user_pools.markdown
Labels: new-data-source, service/cognito, size/L

#4185 make: Add website-test (link checker)
  .travis.yml
  GNUmakefile
Labels: provider, size/S

#4218 [issue-4217] AWS EMR: Force new resource if any of the EC2 attributes has changed
  aws/resource_aws_emr_cluster.go
Labels: bug, service/emr, size/XS

#4238 CodeBuild retry UpdateProject for IAM eventual consistency
  aws/resource_aws_codebuild_project.go
Labels: bug, service/codebuild, size/S

#4086 Set subnet_mapping element attributes to ForceNew
  aws/resource_aws_lb.go
Labels: bug, service/ec2, size/XS

#4244 r/rds_cluster documentation
  website/docs/d/elasticache_cluster.html.markdown
  website/docs/r/api_gateway_integration_response.html.markdown
  website/docs/r/default_network_acl.html.markdown
  website/docs/r/elastic_beanstalk_configuration_template.html.markdown
  website/docs/r/elastic_beanstalk_environment.html.markdown
  website/docs/r/elasticache_cluster.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
  website/docs/r/iam_server_certificate.html.markdown
  website/docs/r/kinesis_stream.html.markdown
  website/docs/r/lightsail_key_pair.html.markdown
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, size/M

#4242 Fix description of 'name' for iam_policy_attachment
  website/docs/r/iam_policy_attachment.html.markdown
Labels: documentation, size/XS

#4237 resource/aws_cognito_user_group: Fix role_arn updates
  aws/resource_aws_cognito_user_group.go
  aws/resource_aws_cognito_user_group_test.go
Labels: bug, service/cognito, size/M

#4234 tests/resource/aws_s3_bucket: Add nil check for LoggingEnabled
  aws/resource_aws_s3_bucket_test.go
Labels: bug, crash, service/s3, size/XS, tests

#4241 S3 bucket: Allow enabling expired_object_delete_marker only
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
Labels: enhancement, service/s3, size/M

#4117 resource/cloudfront_distribution: Added ordered cache behaviors
  aws/cloudfront_distribution_configuration_structure.go
  aws/cloudfront_distribution_configuration_structure_test.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: enhancement, service/cloudfront, size/L

#4193 resource/aws_kinesis_firehose_delivery_stream: Remove extraneous variable
  aws/resource_aws_kinesis_firehose_delivery_stream.go
Labels: service/firehose, size/XS, technical-debt

#2619 r/aws_instance: add T2 unlimited to aws instance resources
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  website/docs/d/instance.html.markdown
  website/docs/r/instance.html.markdown
Labels: enhancement, service/ec2, size/L

#4256 data-source/cognito_user_pools: add attribute of arns
  aws/data_source_aws_cognito_user_pools.go
  aws/data_source_aws_cognito_user_pools_test.go
  website/docs/d/cognito_user_pools.markdown
Labels: enhancement, service/cognito, size/S

#4277 Fix crash with multiple values in IAMPolicyStatementPrincipalSet.Identifiers
  aws/data_source_aws_iam_policy_document_test.go
  aws/iam_policy_model.go
Labels: bug, service/iam, size/S

#4284 (Fix) Mark auth.resource as `Sensitive`
  aws/resource_aws_codebuild_project.go
Labels: bug, service/codebuild, size/XS

#4286 ECS cluster data source: Return error on multiple clusters with same name
  aws/data_source_aws_ecs_cluster.go
Labels: enhancement, service/ecs, size/S

#4287 Add support for ONEZONE_IA for S3
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_test.go
  aws/validators.go
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
Labels: enhancement, service/s3, size/M

#4257 resource/launch_configuration: introduce user_data_base64
  aws/import_aws_launch_configuration_test.go
  aws/resource_aws_launch_configuration.go
  aws/resource_aws_launch_configuration_test.go
  website/docs/r/launch_configuration.html.markdown
Labels: enhancement, service/ec2, size/L, waiting-response

#4270 Add new data source batch_compute_environment
  aws/data_source_aws_batch_compute_environment.go
  aws/data_source_aws_batch_compute_environment_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/batch_compute_environment.html.markdown
Labels: new-data-source, service/batch, size/L

#4300 data-source/iam_instance_profile: export attributes role_arn and role_name
  aws/data_source_aws_iam_instance_profile.go
  aws/data_source_aws_iam_instance_profile_test.go
  website/docs/d/iam_instance_profile.html.markdown
Labels: size/M

#2984 New Data Source: aws_lambda_function
  aws/data_source_aws_lambda_function.go
  aws/data_source_aws_lambda_function_test.go
  aws/provider.go
  aws/resource_aws_lambda_function.go
  website/aws.erb
  website/docs/d/lambda_function.html.markdown
  website/docs/r/lambda_function.html.markdown
Labels: new-data-source, service/lambda, size/XL

#4304 docs/resource/api_gateway_method: add example with cognito user pool authorizer
  website/docs/r/api_gateway_method.html.markdown
Labels: documentation, service/apigateway, size/M

#4308 Fix typos: "it's" => "its" in route53_zone and default_sg docs
  website/docs/d/route53_zone.html.markdown
  website/docs/r/default_security_group.html.markdown
Labels: documentation, size/XS

#4309 Drop not-working cloudtrail example
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, service/cloudtrail, size/XS

#4311 Fix formatting to display code block correctly
  website/docs/r/vpc_endpoint.html.markdown
Labels: documentation, service/ec2, size/XS

#4306 resource/api_gateway_vpc_link: support import
  aws/resource_aws_api_gateway_vpc_link.go
  aws/resource_aws_api_gateway_vpc_link_test.go
  website/docs/r/api_gateway_vpc_link.html.markdown
Labels: enhancement, service/apigateway, size/M

#4251 resource/aws_kinesis_firehose_delivery_stream: Support Redshift processing_configuration
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: enhancement, service/firehose, size/M

#4282 resource/aws_s3_bucket: Prevent panic on lifecycle rule reading errors
  aws/resource_aws_s3_bucket.go
Labels: bug, crash, service/s3, size/XS

#4299 NewResource/dax_parameter_group: Support dax parameter group
  aws/provider.go
  aws/resource_aws_dax_parameter_group.go
  aws/resource_aws_dax_parameter_group_test.go
  website/aws.erb
  website/docs/r/dax_parameter_group.html.markdown
Labels: new-resource, service/dax, size/L

#4312 Add batch job as a cloudwatch_event_target
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_test.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: enhancement, service/batch, size/L

#4314 d/aws_instance: add missing disable_api_termination attribute
  aws/data_source_aws_instance.go
Labels: bug, service/ec2, size/XS

#4249 New Resource: aws_organizations_policy
  aws/provider.go
  aws/resource_aws_organizations_policy.go
  aws/resource_aws_organizations_policy_test.go
  website/aws.erb
  website/docs/r/organizations_policy.html.markdown
Labels: new-resource, service/organizations, size/L

#4253 New Resource: aws_organizations_policy_attachment
  aws/provider.go
  aws/resource_aws_organizations_policy_attachment.go
  aws/resource_aws_organizations_policy_attachment_test.go
  website/aws.erb
  website/docs/r/organizations_policy_attachment.html.markdown
Labels: new-resource, service/organizations, size/L

#3469 aws_api_gateway_stage outputs invoke_url and execution_arn
  aws/resource_aws_api_gateway_stage.go
  aws/resource_aws_api_gateway_stage_test.go
  website/docs/r/api_gateway_stage.html.markdown
Labels: enhancement, service/apigateway, size/M, waiting-response

#4319 updating URI reference in the aws_api_gateway_integration block
  website/docs/guides/serverless-with-aws-lambda-and-api-gateway.html.md
Labels: documentation, size/XS

#4328 docs/resource/aws_ssm_association: Prefer targets InstanceIds over instance_id for schema version 2.0+
  website/docs/r/ssm_association.html.markdown
Labels: documentation, service/ssm, size/M

#3762 resource/cognito_user_pool_client: fix import with user pool id
  aws/resource_aws_cognito_user_pool_client.go
  aws/resource_aws_cognito_user_pool_client_test.go
Labels: bug, service/cognito, size/M

#4330 Rename codecommit documentation pages
  website/aws.erb
  website/docs/r/codecommit_repository.html.markdown
  website/docs/r/codecommit_trigger.html.markdown
Labels: documentation, service/codecommit, size/XS

#4323 Support kinesis and sqs config parameters in cloudwatch_event_target
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_test.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: enhancement, service/cloudwatchevents, size/L

#4272 New Resources and Data Sources: aws_secretsmanager_secret*
  aws/data_source_aws_secretsmanager_secret.go
  aws/data_source_aws_secretsmanager_secret_test.go
  aws/data_source_aws_secretsmanager_secret_version.go
  aws/data_source_aws_secretsmanager_secret_version_test.go
  aws/provider.go
  aws/resource_aws_secretsmanager_secret.go
  aws/resource_aws_secretsmanager_secret_test.go
  aws/resource_aws_secretsmanager_secret_version.go
  aws/resource_aws_secretsmanager_secret_version_test.go
  aws/tagsSecretsManager.go
  aws/tagsSecretsManager_test.go
  website/aws.erb
  website/docs/d/secretsmanager_secret.html.markdown
  website/docs/d/secretsmanager_secret_version.html.markdown
  website/docs/r/secretsmanager_secret.html.markdown
  website/docs/r/secretsmanager_secret_version.html.markdown
Labels: new-data-source, new-resource, service/secretsmanager, size/XXL

#2728 Add RDS Restore Option
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  files/mysql-5-6-xtrabackup.tar.gz
  website/docs/r/db_instance.html.markdown
Labels: enhancement, service/rds, size/L

#4333 resource/aws_elasticache_cluster: Remove plan-time validation for node_type and subnet_group_name
  aws/resource_aws_elasticache_cluster.go
Labels: bug, service/elasticache, size/S

#4337 docs/resource/aws_ecs_service: Add lifecycle ignore_changes example
  website/docs/r/ecs_service.html.markdown
Labels: documentation, service/ecs, size/S

#4339 Minor whitespace code alignment
  website/docs/r/iam_instance_profile.html.markdown
Labels: documentation, service/iam, size/XS

#4347 fix sidebar_current yaml tag
  website/docs/r/cognito_user_group.html.markdown
  website/docs/r/cognito_user_pool.markdown
  website/docs/r/cognito_user_pool_client.markdown
  website/docs/r/cognito_user_pool_domain.markdown
  website/docs/r/s3_bucket_metric.html.markdown
  website/docs/r/s3_bucket_notification.html.markdown
Labels: documentation, size/S

#4348 Added missing '## Example Usage' headers
  website/docs/r/flow_log.html.markdown
  website/docs/r/iam_group_policy_attachment.markdown
  website/docs/r/iam_policy.html.markdown
  website/docs/r/iam_policy_attachment.html.markdown
  website/docs/r/iam_role_policy_attachment.markdown
  website/docs/r/iam_user_policy_attachment.markdown
  website/docs/r/iot_policy.html.markdown
Labels: documentation, size/S

#4341 Resource aws_route53_zone - count fix
  aws/resource_aws_route53_zone.go
  aws/resource_aws_route53_zone_test.go
Labels: bug, service/route53, size/M

#4336 Data Source Route 53 Zone has attribute name_servers
  aws/data_source_aws_route53_zone.go
  aws/data_source_aws_route53_zone_test.go
Labels: enhancement, service/route53, size/M

#4324 Add tag group support for codedeploy-deployment-group
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codedeploy_deployment_group_test.go
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: enhancement, service/codedeploy, size/L

#4305 r/aws_autoscaling_group: Add support for launch template
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
  aws/structure.go
  aws/validators.go
  aws/validators_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: enhancement, service/autoscaling, size/L

#4364 r/launch_template: set security groups in network interfaces
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
Labels: bug, service/ec2, size/S

#4362 aws_instance: Bypass UnsupportedOperation errors with DescribeInstanceCreditSpecifications
  aws/data_source_aws_instance.go
  aws/resource_aws_instance.go
Labels: bug, partition/aws-cn, service/ec2, size/XS

#4363 tests/resource/aws_elasticache_cluster: Remove now extraneous plan-time validation checks for node_type
  aws/resource_aws_elasticache_cluster_test.go
Labels: service/elasticache, size/S, tests

#4063 Add support for enabling Point in time recovery (PITR) for DynamoDB tables
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
  aws/structure.go
  website/docs/r/dynamodb_table.html.markdown
Labels: enhancement, service/dynamodb, size/L

#4370 resource/aws_rds_cluster_instance: Add retries for IAM eventual consistency
  aws/resource_aws_rds_cluster_instance.go
Labels: bug, service/rds, size/S

#4375 Adds link to valid values for delivery_frequency
  website/docs/r/config_delivery_channel.html.markdown
Labels: documentation, size/XS

#4369 r/aws_api_gateway_stage: implement access logging
  aws/resource_aws_api_gateway_stage.go
  aws/resource_aws_api_gateway_stage_test.go
  website/docs/r/api_gateway_stage.html.markdown
Labels: enhancement, service/apigateway, size/L

#4366 Aurora S3 import support
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, service/rds, size/L

#3163 New Data Source: aws_mq_broker
  aws/data_source_aws_mq_broker.go
  aws/data_source_aws_mq_broker_test.go
  aws/provider.go
  aws/resource_aws_mq_broker.go
  aws/structure.go
  website/aws.erb
  website/docs/d/mq_broker.html.markdown
Labels: new-data-source, service/mq, size/L

#1879 New Resource: aws_budget
  aws/config.go
  aws/provider.go
  aws/resource_aws_budgets_budget.go
  aws/resource_aws_budgets_budget_test.go
  website/aws.erb
  website/docs/r/budgets_budget.html.markdown
Labels: new-resource, service/budgets, size/XL

#3909 New Resource: aws_vpc_peering_connection_options
  aws/data_source_aws_vpc_peering_connection.go
  aws/import_aws_vpc_peering_connection_options_test.go
  aws/provider.go
  aws/resource_aws_vpc_peering_connection.go
  aws/resource_aws_vpc_peering_connection_options.go
  aws/resource_aws_vpc_peering_connection_options_test.go
  aws/resource_aws_vpc_peering_connection_test.go
  aws/structure.go
  website/aws.erb
  website/docs/r/vpc_peering.html.markdown
  website/docs/r/vpc_peering_accepter.html.markdown
  website/docs/r/vpc_peering_options.html.markdown
Labels: new-resource, service/ec2, size/XL

#4394 fix docs for appautoscaling_policy policy_type
  website/docs/r/appautoscaling_policy.html.markdown
Labels: documentation, size/XS
