Repository hashicorp/terraform-provider-aws, pull requests merged in 2018-03, with the labels that each got.

#3569 docs/r/api_gateway_vpc_link: target_arn -> target_arns
  aws/resource_aws_api_gateway_vpc_link.go
  website/docs/r/api_gateway_vpc_link.html.markdown
Labels: bug, service/apigateway, size/XS

#3567 tests: Tag data source aws_internet_gateway resources for sweeping
  aws/data_source_aws_instance_test.go
  aws/data_source_aws_lb_listener_test.go
Labels: size/XS, tests

#3568 tests: Tag AWSRoute aws_internet_gateway resources for sweeping
  aws/import_aws_route_table_test.go
  aws/resource_aws_route_table_association_test.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_route_test.go
Labels: size/M, tests

#3513 Closes #3004: adds support for modifying Beanstalk tags
  aws/resource_aws_elastic_beanstalk_environment.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
  aws/tagsBeanstalk.go
  aws/tagsBeanstalk_test.go
  website/docs/r/elastic_beanstalk_environment.html.markdown
Labels: enhancement, service/elasticbeanstalk, size/L

#3521 New Resource: aws_iot_thing
  aws/provider.go
  aws/resource_aws_iot_thing.go
  aws/resource_aws_iot_thing_test.go
  website/aws.erb
  website/docs/r/iot_thing.html.markdown
Labels: new-resource, service/iot, size/L

#3596 Update directory_service_directory.html.markdown
  website/docs/r/directory_service_directory.html.markdown
Labels: documentation, size/XS

#3595 deps: Bump aws-sdk-go@v1.13.8
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/applicationautoscaling/api.go
  vendor/github.com/aws/aws-sdk-go/service/applicationautoscaling/doc.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatchevents/api.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecr/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecr/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ecr/errors.go
  vendor/github.com/aws/aws-sdk-go/service/route53/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicecatalog/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/github.com/aws/aws-sdk-go/service/sts/api.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#3589 docs/resource/directory_service_directory: Additional examples
  website/docs/r/directory_service_directory.html.markdown
Labels: documentation, service/directoryservice, size/M

#3597 resource/aws_ssm_activation: Prevent crash with expiration_date
  aws/resource_aws_ssm_activation.go
  aws/resource_aws_ssm_activation_test.go
  aws/validators.go
  aws/validators_test.go
  website/docs/r/ssm_activation.html.markdown
Labels: bug, crash, service/ssm, size/L

#3537 resource/aws_lb: Add Cross Zone Load Balancing support for NLBs
  aws/resource_aws_lb.go
  aws/resource_aws_lb_test.go
  website/docs/r/lb.html.markdown
Labels: enhancement, service/elbv2, size/L

#3606 duplicate preferred_backup_window attribute
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds, size/XS

#3514 Service details not yet available in GovCloud.
  aws/data_source_aws_vpc_endpoint_service.go
Labels: bug, service/ec2, size/S

#3615 Update example to use new resource
  website/docs/r/lb_listener_certificate.html.markdown
Labels: documentation, size/XS

#3599 add configurable timeouts to security groups
  aws/resource_aws_security_group.go
  website/docs/r/security_group.html.markdown
Labels: enhancement, service/ec2, size/S

#3494 test/resource/aws_lb_listener: Add depends_on = ["aws_internet_gateway.gw"] for testAccAWSLBListenerConfig_https
  aws/resource_aws_lb_listener_test.go
Labels: service/elbv2, size/XS, tests

#3570 resource/aws_lambda_function: Allow PutFunctionConcurrency retries on creation
  aws/resource_aws_lambda_function.go
Labels: bug, service/lambda, size/S

#3580 tests/resource/aws_lb: Add aws_internet_gateway dependency in EIP configuration
  aws/resource_aws_lb_test.go
Labels: service/elbv2, size/XS, tests

#3582 tests/resource/aws_lb_listener_rule: Remove TooManyRules testing
  aws/resource_aws_lb_listener_rule_test.go
Labels: service/elbv2, size/S, tests

#3584 tests/resource/aws_cloudfront_distribution: Add sweeper
  aws/resource_aws_cloudfront_distribution_test.go
Labels: service/cloudfront, size/M, tests

#3619 data-source/aws_db_instance: Prevent crash with EC2 Classic
  aws/data_source_aws_db_instance.go
  aws/data_source_aws_db_instance_test.go
Labels: bug, crash, service/rds, size/M

#3571 resource/aws_cloudfront_distribution: Make default_ttl, max_ttl, and min_ttl attributes as optional
  aws/cloudfront_distribution_configuration_structure.go
  aws/cloudfront_distribution_configuration_structure_test.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: enhancement, service/cloudfront, size/L

#3303 Support encryption at rest for DynamoDB tables
  aws/data_source_aws_dynamodb_table.go
  aws/data_source_aws_dynamodb_table_test.go
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
  aws/structure.go
  website/docs/r/dynamodb_table.html.markdown
Labels: enhancement, service/dynamodb, size/L

#3609 resource/aws_lb: enable_http2 flag for LBs and small refactor
  aws/resource_aws_lb.go
  aws/resource_aws_lb_test.go
  website/docs/r/lb.html.markdown
Labels: enhancement, service/elbv2, size/L

#3636 Fix mistake in grammar
  website/docs/r/lb.html.markdown
Labels: documentation, size/XS

#3637 Update api_gateway_integration.html.markdown
  website/docs/r/api_gateway_integration.html.markdown
Labels: documentation, size/XS

#3639 Add configurable timeouts to aws_route
  aws/resource_aws_route.go
  website/docs/r/route.html.markdown
Labels: enhancement, service/ec2, size/S

#3623 Update example usage for aws_db_snapshot data source
  website/docs/d/db_snapshot.html.markdown
Labels: documentation, service/rds, size/S

#3462 resource/ebs_snapshot: fix crash in case of manual deletion
  aws/resource_aws_ebs_snapshot.go
  aws/resource_aws_ebs_snapshot_test.go
Labels: bug, crash, service/ec2, size/L

#3641 tests: Unify aws_subnet tags (A-D)
  aws/resource_aws_ami_copy_test.go
  aws/resource_aws_api_gateway_vpc_link_test.go
  aws/resource_aws_appautoscaling_scheduled_action_test.go
  aws/resource_aws_appautoscaling_target_test.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_batch_compute_environment_test.go
  aws/resource_aws_batch_job_queue_test.go
  aws/resource_aws_cloud9_environment_ec2_test.go
  aws/resource_aws_codebuild_project_test.go
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_db_subnet_group_test.go
  aws/resource_aws_default_network_acl_test.go
  aws/resource_aws_directory_service_directory_test.go
  aws/resource_aws_dms_replication_instance_test.go
  aws/resource_aws_dms_replication_subnet_group_test.go
  aws/resource_aws_dms_replication_task_test.go
Labels: size/L, tests

#1520 New ssm parameters features
  aws/resource_aws_ssm_parameter.go
  aws/resource_aws_ssm_parameter_test.go
  aws/tagsSSM.go
  aws/tagsSSM_test.go
  website/docs/r/ssm_parameter.html.markdown
Labels: enhancement, service/ssm, size/XL

#3590 iam_account_alias: Pass awserr in returned error
  aws/resource_aws_iam_account_alias.go
Labels: enhancement, service/iam, size/XS

#3635 tests/resource/aws_db_instance: Always run TestAccAWSDBInstance_ec2Classic in us-east-1
  aws/resource_aws_db_instance_test.go
Labels: service/rds, size/XS, tests

#3456 vendor: update zclconf/go-cty to make GetSchema API work correctly
  vendor/github.com/zclconf/go-cty/cty/types_to_register.go
  vendor/github.com/zclconf/go-cty/cty/value_ops.go
  vendor/vendor.json
Labels: dependencies, size/M

#3337 docs/aws_db_instance: Add doc notes regarding cross-region replication of encrypted RDS instances
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/S

#3640 tests: Unify aws_subnet tags (data sources)
  aws/data_source_aws_efs_mount_target_test.go
  aws/data_source_aws_elb_test.go
  aws/data_source_aws_instance_test.go
  aws/data_source_aws_lb_listener_test.go
  aws/data_source_aws_lb_target_group_test.go
  aws/data_source_aws_lb_test.go
  aws/data_source_aws_nat_gateway_test.go
  aws/data_source_aws_network_interface_test.go
  aws/data_source_aws_rds_cluster_test.go
  aws/data_source_aws_route_table_test.go
  aws/data_source_aws_subnet_ids_test.go
  aws/data_source_aws_subnet_test.go
  aws/data_source_aws_vpc_endpoint_service_test.go
  aws/data_source_aws_vpc_endpoint_test.go
  aws/import_aws_route_table_test.go
Labels: size/L, tests

#3156 resource/api_gateway_authorizer: support authorizer type as COGNITO_USER_POOLS
  aws/resource_aws_api_gateway_authorizer.go
  aws/resource_aws_api_gateway_authorizer_test.go
  website/docs/r/api_gateway_authorizer.html.markdown
Labels: enhancement, service/apigateway, size/L

#3649 data-source/availalibity_zones: drop custom ValidateFunc for state
  aws/data_source_aws_availability_zones.go
  aws/data_source_aws_availability_zones_test.go
Labels: service/ec2, size/M, technical-debt

#3650 data-source/elastic_beanstalk_solution_stack: drop custom ValidateFunc for name_regex
  aws/data_source_aws_elastic_beanstalk_solution_stack.go
  aws/data_source_aws_elastic_beanstalk_solution_stack_test.go
Labels: service/elasticbeanstalk, size/M, technical-debt

#3648 data-source/ami_and_ami_ids: drop custom ValidateFunc for name_regex
  aws/data_source_aws_ami.go
  aws/data_source_aws_ami_ids.go
  aws/data_source_aws_ami_test.go
Labels: service/ec2, size/M, technical-debt

#3651 resource/aws_cloud9_environment_ec2: Retry creation for IAM eventual consistency
  aws/resource_aws_cloud9_environment_ec2.go
Labels: enhancement, service/cloud9, size/S

#2564 Add load_balancers and target_group_arns options to Spot fleets
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
  website/docs/r/spot_fleet_request.html.markdown
Labels: enhancement, service/ec2

#3631 resource/dynamodb_table: drop custom ValidateFunc for stream_view_type
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
  aws/validators.go
Labels: service/dynamodb, size/M, technical-debt

#3553 resource/aws_emr_cluster: Add Kerberos support
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_cluster_test.go
  website/docs/r/emr_cluster.html.markdown
Labels: enhancement, service/emr, size/L

#3656 data-source/iam_policy_document: drop custom ValidateFunc for statement.effect
  aws/data_source_aws_iam_policy_document.go
Labels: enhancement, service/iam, size/S

#3657 data-source/iam_server_certificate: drop custom ValidateFunc for name and name_prefix
  aws/data_source_aws_iam_server_certificate.go
Labels: enhancement, service/iam, size/S

#3659 resource/api_gateway_api_key: drop custom ValidateFunc for value
  aws/resource_aws_api_gateway_api_key.go
  aws/validators.go
Labels: enhancement, service/apigateway, size/S

#3660 resource/api_gateway_authorizer: drop custom ValidateFunc for authorizer_result_ttl_in_seconds
  aws/resource_aws_api_gateway_authorizer.go
Labels: enhancement, service/apigateway, size/XS

#3662 resource/api_gateway_usage_plan: drop custom ValidateFunc for quota_settings.period
  aws/resource_aws_api_gateway_usage_plan.go
  aws/validators.go
  aws/validators_test.go
Labels: enhancement, service/apigateway, size/M

#3661 resource/api_gateway_*: update validate functions
  aws/resource_aws_api_gateway_integration.go
  aws/resource_aws_api_gateway_integration_response.go
  aws/resource_aws_api_gateway_method.go
  aws/resource_aws_api_gateway_method_response.go
  aws/validators.go
  aws/validators_test.go
Labels: enhancement, service/apigateway, size/L, waiting-response

#3653 resource/aws_eip_association: Prevent deletion error InvalidAssociationID.NotFound
  aws/resource_aws_eip_association.go
Labels: bug, service/ec2, size/XS

#3674 tests/resource/aws_redshift_cluster: Do not retry deletion during sweep
  aws/resource_aws_redshift_cluster_test.go
Labels: service/redshift, size/XS, tests

#3663 resource/aws_appautoscaling_policy: drop custom ValidateFunc for name, statistic and resource_label
  aws/resource_aws_appautoscaling_policy.go
  aws/validators.go
Labels: service/applicationautoscaling, size/M, technical-debt

#3664 resource/aws_autoscaling_group: drop custom ValidateFunc for name, name_prefix
  aws/resource_aws_autoscaling_group.go
Labels: service/autoscaling, size/S, technical-debt

#3665 resource/cloudfront_distribution: drop ValidateFunc for http_version
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
Labels: service/cloudfront, size/M, technical-debt

#3667 resource/codecommit_repository: drop custom ValidateFunc for repository_name and description
  aws/resource_aws_codecommit_repository.go
Labels: service/codecommit, size/S, technical-debt

#3668 resource/codedeploy_deployment_config: drop custom ValidateFunc for minimum_healthy_hosts.type
  aws/resource_aws_codedeploy_deployment_config.go
  aws/resource_aws_codedeploy_deployment_config_test.go
Labels: service/codedeploy, size/M, technical-debt

#3669 resource/codedeploy_deployment_group: drop custom ValidateFuncs
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codedeploy_deployment_group_test.go
Labels: service/codedeploy, size/L, technical-debt

#3670 resource/codepipeline: drop custom ValidateFuncs
  aws/resource_aws_codepipeline.go
Labels: service/codepipeline, size/M, technical-debt

#3675 resource/cognito_identity_pool_roles_attachment: drop custom ValidateFuncs
  aws/resource_aws_cognito_identity_pool_roles_attachment.go
  aws/validators.go
  aws/validators_test.go
Labels: service/cognito, size/L, technical-debt

#3678 resource/config_config_*: drop custom ValidateFuncs
  aws/resource_aws_config_config_rule.go
  aws/resource_aws_config_delivery_channel.go
  aws/validators.go
Labels: service/configservice, size/M, technical-debt

#3682 resource/dms_*: drop custom ValidateFuncs
  aws/resource_aws_dms_endpoint.go
  aws/resource_aws_dms_replication_instance.go
  aws/resource_aws_dms_replication_task.go
Labels: service/databasemigrationservice, size/S, technical-debt

#3677 resource/cognito_user_pool_*: drop custom ValidateFuncs
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_client.go
  aws/validators.go
Labels: service/cognito, size/L, technical-debt

#3685 resource/efs_file_system: drop custom ValidateFunc for performance_mode
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_efs_file_system_test.go
Labels: service/efs, size/M, technical-debt

#3686 resource/elasticache_cluster: drop custom ValidateFunc for snapshot_retention_limit
  aws/resource_aws_elasticache_cluster.go
Labels: service/elasticache, size/S, technical-debt

#3687 resource/elasticsearch_domain: drop custom ValidateFunc for log_publishing_options.log_type
  aws/resource_aws_elasticsearch_domain.go
Labels: service/elasticsearch, size/S, technical-debt

#2850 resource/aws_instance: Ensure at least one security group is being attached
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
Labels: bug, service/ec2, service/ec2-classic, size/M

#3711 added document for source_region argument
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds, size/XS

#3672 resource/ecs_service: fix crash when importing non-existing service
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_service_test.go
Labels: bug, crash, service/ecs, size/S

#3717 resource/network_interface_attachment: fix typo in filename
  aws/resource_aws_network_interface_attachment_test.go
Labels: size/XS

#3721 resource/route53_*: drop custom ValidateFuncs
  aws/resource_aws_route53_health_check.go
  aws/resource_aws_route53_record.go
  aws/validators.go
  aws/validators_test.go
Labels: service/route53, size/L, technical-debt

#3724 resource/s3_*: drop custom ValidateFuncs
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
  aws/validators.go
  aws/validators_test.go
Labels: service/s3, size/XL, technical-debt

#3722 docs/aws_organizations_organization: Fix header
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, size/XS

#1014 New Resource: aws_wafregional_xss_match_set
  aws/provider.go
  aws/resource_aws_wafregional_xss_match_set.go
  aws/resource_aws_wafregional_xss_match_set_test.go
  website/aws.erb
  website/docs/r/wafregional_xss_match_set.html.markdown
Labels: new-resource, service/waf, size/XL

#3743 Fix link to aws lifecycle policy parameters docs
  website/docs/r/ecr_lifecycle_policy.html.markdown
Labels: documentation, size/XS

#3726 resource/servicecatalog_portfolio: drop custom ValidateFuncs
  aws/resource_aws_servicecatalog_portfolio.go
  aws/validators.go
Labels: service/servicecatalog, size/M, technical-debt

#3732 resource/sns_*: drop custom ValidateFuncs
  aws/resource_aws_sns_topic.go
  aws/resource_aws_sns_topic_subscription.go
  aws/validators.go
  aws/validators_test.go
Labels: service/sns, size/M, technical-debt

#3730 resource/sfn_*: drop custom ValidateFuncs
  aws/resource_aws_sfn_activity.go
  aws/resource_aws_sfn_state_machine.go
  aws/validators.go
  aws/validators_test.go
Labels: service/sfn, size/M, technical-debt

#3038 New Resource: aws_kms_grant
  aws/provider.go
  aws/resource_aws_kms_grant.go
  aws/resource_aws_kms_grant_test.go
  aws/validators.go
  aws/validators_test.go
  website/aws.erb
  website/docs/r/kms_grant.html.markdown
Labels: new-resource, service/kms, size/XL

#3317 Force vpc endpoint type to gateway in govcloud partition.
  aws/resource_aws_vpc_endpoint.go
Labels: bug, partition/aws-us-gov, service/ec2, size/XS

#3725 resource/security_group_*: drop custom ValidateFuncs
  aws/resource_aws_security_group.go
  aws/resource_aws_security_group_rule.go
  aws/resource_aws_security_group_rule_test.go
  aws/validators.go
  aws/validators_test.go
Labels: service/ec2, size/M, technical-debt

#3733 resource/spot_fleet_request: drop custom ValidateFunc
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
Labels: service/ec2, size/S, technical-debt

#3734 resource/ssm_*: drop custom ValidateFuncs
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_document_test.go
  aws/resource_aws_ssm_parameter.go
  aws/validators.go
  aws/validators_test.go
Labels: service/ssm, size/M, technical-debt

#3698 resource/gamelift_build: drop custom ValidateFunc for operating_system
  aws/resource_aws_gamelift_build.go
  aws/validators.go
Labels: service/gamelift, size/S, technical-debt

#3699 resource/guardduty_*: drop custom ValidateFuncs
  aws/resource_aws_guardduty_ipset.go
  aws/resource_aws_guardduty_threatintelset.go
  aws/validators.go
  aws/validators_test.go
Labels: service/guardduty, size/L, technical-debt

#3709 resource/kinesis_stream: drop custom ValidateFunc for retention_period
  aws/resource_aws_kinesis_stream.go
Labels: service/kinesis, size/S, technical-debt

#3710 resource/kms_*: drop custom ValidateFuncs
  aws/resource_aws_kms_alias.go
  aws/resource_aws_kms_key.go
Labels: service/kms, size/M, technical-debt

#3607 Amend the RDS cluster docs in reference to snapshot_identifier
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds, size/XS, waiting-response

#3718 resource/opsworks: drop custom ValidateFuncs
  aws/resource_aws_opsworks_application.go
  aws/resource_aws_opsworks_instance.go
  aws/resource_aws_opsworks_permission.go
Labels: service/opsworks, size/L, technical-debt

#3719 resource/rds_cluster: drop custom ValidateFuncs
  aws/resource_aws_organizations_organization.go
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_instance.go
  aws/validators.go
Labels: service/rds, size/M, technical-debt

#3693 deps: Bump aws-sdk-go@v1.13.11
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/errors.go
  vendor/github.com/aws/aws-sdk-go/service/medialive/api.go
  vendor/github.com/aws/aws-sdk-go/service/rds/api.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#3751 resource/aws_security_group: Add arn attribute
  aws/resource_aws_security_group.go
  aws/resource_aws_security_group_test.go
  website/docs/r/security_group.html.markdown
Labels: enhancement, service/ec2, size/S

#3745 docs/resource/aws_cloudtrail: Improve documentation examples
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, service/cloudtrail, size/M

#3720 resource/redshift_cluster: drop custom ValidateFunc for retention_period
  aws/resource_aws_redshift_cluster.go
Labels: service/redshift, size/S, technical-debt

#3683 resource/dx_*: drop custom ValidateFunc for bandwidth
  aws/resource_aws_dx_connection.go
  aws/resource_aws_dx_lag.go
  aws/resource_aws_dynamodb_table.go
  aws/validators.go
  aws/validators_test.go
Labels: service/directconnect, service/dynamodb, size/M, technical-debt

#3735 resource/waf_*: drop custom ValidateFuncs
  aws/resource_aws_vpc_endpoint.go
  aws/resource_aws_waf_rate_based_rule.go
  aws/resource_aws_waf_rule.go
  aws/resource_aws_waf_web_acl.go
  aws/validators.go
Labels: service/waf, size/L, technical-debt

#3713 resource/lambda_function: drop custom ValidateFunc for runtime
  aws/resource_aws_lambda_function.go
Labels: service/lambda, size/S, technical-debt

#3642 resource/aws_api_gateway_rest_api: Add support for content encoding
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_api_gateway_rest_api_test.go
  website/docs/r/api_gateway_rest_api.html.markdown
Labels: enhancement, service/apigateway, size/M

#3758 Flag required aws_appautoscaling_policy attributes in doc
  website/docs/r/appautoscaling_policy.html.markdown
Labels: documentation, service/applicationautoscaling, size/XS

#2219 f/instance d/instance: Get (Windows) password data
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  website/docs/d/instance.html.markdown
  website/docs/r/instance.html.markdown
Labels: enhancement, service/ec2, size/L

#3708 allow some aws_db_instance changes on "storage-full" state
  aws/resource_aws_db_instance.go
Labels: bug, service/rds, size/XS

#3487 doc/resource/waf_rule: correct predicate type value
  website/docs/r/waf_rule.html.markdown
Labels: documentation, enhancement, service/waf, size/XS, waiting-response

#3768 adding the valid values for RDS engine parameter
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, size/XS

#3769 Add support for timeouts on aws_eip resource
  aws/resource_aws_eip.go
  website/docs/r/eip.html.markdown
Labels: enhancement, service/ec2, size/S

#3275 New Resource: aws_waf_geo_match_set
  aws/provider.go
  aws/resource_aws_waf_geo_match_set.go
  aws/resource_aws_waf_geo_match_set_test.go
  aws/resource_aws_waf_rule_test.go
  aws/validators.go
  website/aws.erb
  website/docs/r/waf_geo_match_set.html.markdown
  website/docs/r/waf_rule.html.markdown
Labels: new-resource, service/waf, size/XL

#3787 Update RDS documentation to use instance type t2 instead of t1
  website/docs/d/db_snapshot.html.markdown
  website/docs/r/db_event_subscription.html.markdown
  website/docs/r/db_instance.html.markdown
  website/docs/r/db_snapshot.html.markdown
Labels: documentation, size/S

#3404 Update `resource_aws_cognito_user_pool_client` to bind updates to `callback_urls` to the correct param
  aws/resource_aws_cognito_user_pool_client.go
Labels: bug, service/cognito, size/XS

#3779 Dettached should be spelled detached
  aws/resource_aws_network_interface.go
  aws/resource_aws_network_interface_attachment.go
Labels: size/XS

#1013 New Resource: aws_wafregional_sql_injection_match_set
  aws/provider.go
  aws/resource_aws_wafregional_sql_injection_match_set.go
  aws/resource_aws_wafregional_sql_injection_match_set_test.go
  website/aws.erb
  website/docs/r/wafregional_sql_injection_match_set.html.markdown
Labels: enhancement, new-resource, service/waf, size/XL

#3673 resource/aws_emr_cluster: Add step support
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_cluster_test.go
  website/docs/r/emr_cluster.html.markdown
Labels: enhancement, service/emr, size/L

#3782 resource/lb_target_group: validate health check threshold for tcp protocol during plan
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lb_target_group_test.go
Labels: enhancement, service/elbv2, size/M

#3776 resource/ssm_association: remove resource from state in case of external deletion
  aws/resource_aws_ssm_association.go
  aws/resource_aws_ssm_association_test.go
Labels: bug, service/ssm, size/L

#3765 resource/aws_lambda_function: Only retry IAM errors for one minute
  aws/resource_aws_lambda_function.go
Labels: bug, service/lambda, size/M

#3774 resource/cognito_user_pool_client: update allowed_oauth_scopes
  aws/resource_aws_cognito_user_pool_client.go
  aws/resource_aws_cognito_user_pool_client_test.go
  website/docs/r/cognito_user_pool_client.markdown
Labels: documentation, service/cognito, size/M, tests

#3794 resource/aws_sqs_queue: Remove explicit IsGovCloud() check
  aws/resource_aws_sqs_queue.go
Labels: enhancement, partition/aws-us-gov, service/sqs, size/S

#3781 tests: Unify aws_subnet tags (E-L)
  aws/resource_aws_ecs_service_test.go
  aws/resource_aws_efs_mount_target_test.go
  aws/resource_aws_eip_association_test.go
  aws/resource_aws_eip_test.go
  aws/resource_aws_elastic_beanstalk_configuration_template_test.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticache_replication_group_test.go
  aws/resource_aws_elasticache_subnet_group_test.go
  aws/resource_aws_elasticsearch_domain_test.go
  aws/resource_aws_elb_test.go
  aws/resource_aws_emr_cluster_test.go
  aws/resource_aws_emr_instance_group_test.go
  aws/resource_aws_flow_log_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_lb_listener_certificate_test.go
  aws/resource_aws_lb_listener_rule_test.go
  aws/resource_aws_lb_listener_test.go
  aws/resource_aws_lb_target_group_attachment_test.go
  aws/resource_aws_lb_test.go
Labels: size/L, tests

#3790 tests: Unify aws_subnet tags (M-Z)
  aws/resource_aws_main_route_table_association_test.go
  aws/resource_aws_mq_broker_test.go
  aws/resource_aws_nat_gateway_test.go
  aws/resource_aws_network_acl_test.go
  aws/resource_aws_network_interface_attachment_test.go
  aws/resource_aws_network_interface_test.go
  aws/resource_aws_opsworks_stack_test.go
  aws/resource_aws_rds_cluster_instance_test.go
  aws/resource_aws_rds_cluster_test.go
  aws/resource_aws_redshift_cluster_test.go
  aws/resource_aws_redshift_subnet_group_test.go
  aws/resource_aws_route_table_association_test.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_route_test.go
  aws/resource_aws_spot_fleet_request_test.go
  aws/resource_aws_spot_instance_request_test.go
  aws/resource_aws_subnet_test.go
  aws/resource_aws_vpc_endpoint_connection_notification_test.go
  aws/resource_aws_vpc_endpoint_service_allowed_principal_test.go
  aws/resource_aws_vpc_endpoint_service_test.go
  aws/resource_aws_vpc_endpoint_subnet_association_test.go
  aws/resource_aws_vpc_endpoint_test.go
Labels: size/L, tests

#3799 deps: Bump aws-sdk-go@v1.13.15
  vendor/github.com/aws/aws-sdk-go/aws/client/default_retryer.go
  vendor/github.com/aws/aws-sdk-go/aws/config.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/handlers.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/user_agent.go
  vendor/github.com/aws/aws-sdk-go/aws/defaults/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/decode.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/request/offset_reader.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request.go
  vendor/github.com/aws/aws-sdk-go/aws/signer/v4/v4.go
  vendor/github.com/aws/aws-sdk-go/aws/types.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/internal/sdkio/io_go1.6.go
  vendor/github.com/aws/aws-sdk-go/internal/sdkio/io_go1.7.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/ec2query/build.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/query/build.go
  vendor/github.com/aws/aws-sdk-go/service/glacier/treehash.go
  vendor/github.com/aws/aws-sdk-go/service/iot/api.go
  vendor/github.com/aws/aws-sdk-go/service/lightsail/api.go
  vendor/github.com/aws/aws-sdk-go/service/lightsail/errors.go
  vendor/github.com/aws/aws-sdk-go/service/organizations/api.go
  vendor/github.com/aws/aws-sdk-go/service/organizations/errors.go
  vendor/github.com/aws/aws-sdk-go/service/redshift/api.go
  vendor/github.com/aws/aws-sdk-go/service/s3/body_hash.go
  vendor/github.com/aws/aws-sdk-go/service/s3/content_md5.go
  vendor/github.com/aws/aws-sdk-go/service/s3/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/s3/statusok_error.go
  vendor/github.com/aws/aws-sdk-go/service/sagemaker/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicediscovery/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicediscovery/errors.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#3798 deps: Bump terraform@v0.11.4
  vendor/github.com/hashicorp/terraform/helper/resource/id.go
  vendor/github.com/hashicorp/terraform/helper/resource/testing.go
  vendor/github.com/hashicorp/terraform/helper/resource/wait.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader_config.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader_diff.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader_map.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_diff.go
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/helper/validation/validation.go
  vendor/github.com/hashicorp/terraform/httpclient/client.go
  vendor/github.com/hashicorp/terraform/httpclient/useragent.go
  vendor/github.com/hashicorp/terraform/plugin/discovery/get.go
  vendor/github.com/hashicorp/terraform/registry/client.go
  vendor/github.com/hashicorp/terraform/registry/errors.go
  vendor/github.com/hashicorp/terraform/svchost/disco/disco.go
  vendor/github.com/hashicorp/terraform/terraform/eval_apply.go
  vendor/github.com/hashicorp/terraform/terraform/eval_validate.go
  vendor/github.com/hashicorp/terraform/terraform/graph_builder_apply.go
  vendor/github.com/hashicorp/terraform/terraform/interpolate.go
  vendor/github.com/hashicorp/terraform/terraform/node_local.go
  vendor/github.com/hashicorp/terraform/terraform/node_output.go
  vendor/github.com/hashicorp/terraform/terraform/node_resource_apply.go
  vendor/github.com/hashicorp/terraform/terraform/node_resource_refresh.go
  vendor/github.com/hashicorp/terraform/terraform/state.go
  vendor/github.com/hashicorp/terraform/terraform/transform_output.go
  vendor/github.com/hashicorp/terraform/terraform/transform_reference.go
  vendor/github.com/hashicorp/terraform/terraform/user_agent.go
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/vendor.json
Labels: dependencies, provider, size/XL

#3786 r/aws_cognito_user_pool Detect auto_verified_attributes changes
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
Labels: bug, service/cognito, size/XS

#3666 resourc/codebuild_project: drop custom ValidateFunc
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
Labels: service/codebuild, size/L, technical-debt

#3707 resource/key_pair: drop custom ValidateFunc for name_prefix
  aws/resource_aws_key_pair.go
  aws/resource_aws_key_pair_test.go
Labels: service/ec2, size/M, technical-debt

#3815 Document additional allowed source type GITHUB_ENTERPRISE
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#3804 resource/aws_ami: Remove manage_ebs_block_devices (unused)
  aws/resource_aws_ami.go
Labels: service/ec2, size/XS, technical-debt

#3817 Fix markdown on Autoscaling Schedule documentation
  website/docs/r/autoscaling_schedule.html.markdown
Labels: documentation, service/autoscaling, size/XS

#3805 resource/aws_api_gateway_client_certificate: Export date fields correctly
  aws/resource_aws_api_gateway_client_certificate.go
Labels: service/apigateway, size/XS, technical-debt

#2973 Port user_data length validation to aws_launch_configuration
  aws/resource_aws_launch_configuration.go
Labels: enhancement, service/autoscaling, size/XS

#3756 New Resource: aws_wafregional_rule
  aws/provider.go
  aws/resource_aws_wafregional_rule.go
  aws/resource_aws_wafregional_rule_test.go
  website/aws.erb
  website/docs/r/wafregional_rule.html.markdown
Labels: new-resource, service/waf, size/XL

#3716 resource/lb_*: drop custom ValidateFuncs
  aws/resource_aws_lb_cookie_stickiness_policy.go
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_rule.go
  aws/resource_aws_lb_target_group.go
  aws/validators.go
Labels: service/elbv2, size/L, technical-debt

#3788 service/s3: setting S3 object content as base64
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
  website/docs/r/s3_bucket_object.html.markdown
Labels: enhancement, service/s3, size/M

#3714 resource/launch_configuration: drop custom ValidateFunc for name/name_prefix
  aws/resource_aws_launch_configuration.go
Labels: service/autoscaling, size/S, technical-debt

#3696 resource/emr_*: drop custom ValidateFuncs
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_instance_group.go
  aws/resource_aws_emr_security_configuration.go
  aws/validators.go
  aws/validators_test.go
Labels: service/emr, size/L, technical-debt

#3832 deps: Bump jen20/awspolicyequivalence@9fbcaca9
  vendor/github.com/jen20/awspolicyequivalence/aws_policy_equivalence.go
  vendor/vendor.json
Labels: dependencies, provider, size/M

#3767 resource/aws_cloudfront_distribution: Validate origin domain_name and origin_id at plan time
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
Labels: enhancement, service/cloudfront, size/L

#3712 test/resource/aws_ecs_*: Check ECS for service existence in acceptance tests
  aws/resource_aws_ecs_service_test.go
  aws/resource_aws_ecs_task_definition_test.go
Labels: service/ecs, size/L, tests

#3778 tests/resource/aws_redshift_cluster: Use aws_redshift_service_account data source
  aws/resource_aws_redshift_cluster_test.go
Labels: service/redshift, size/S, tests

#3811 tests/resource/aws_api_gateway_rest_api: Add sweeper
  aws/resource_aws_api_gateway_rest_api_test.go
Labels: service/apigateway, size/M, tests

#3814 resource/aws_ssm_document: Add document_format argument
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_document_test.go
  website/docs/r/ssm_document.html.markdown
Labels: enhancement, service/ssm, size/M

#3823 resource/aws_ecs_task_definition: Correctly set volume in state
  aws/resource_aws_ecs_task_definition.go
Labels: bug, service/ecs, size/XS

#3826 tests/resource/aws_launch_configuration: Standardize and randomize names
  aws/resource_aws_launch_configuration_test.go
Labels: service/autoscaling, size/M, tests

#3834 resource/aws_kinesis_firehose_delivery_stream: Prevent crash on malformed ID for import
  aws/import_aws_kinesis_firehose_delivery_stream_test.go
  aws/resource_aws_kinesis_firehose_delivery_stream.go
Labels: bug, crash, service/firehose, size/S

#3840 resource/aws_ses_domain_identity: Support trailing period in domain name
  aws/resource_aws_ses_domain_identity.go
  aws/resource_aws_ses_domain_identity_test.go
Labels: enhancement, service/ses, size/M

#3800 tests/resource/aws_elasticsearch_domain: Add sweeper
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_elasticsearch_domain_test.go
Labels: service/elasticsearch, size/M, tests

#3846 docs/resource/aws_lb_listener: Add link to aws_lb_listener_certificate resource
  website/docs/r/lb_listener.html.markdown
Labels: documentation, service/elbv2, size/XS

#3194 resource/aws_dynamodb_table: Update and validate attributes
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
  aws/validators.go
Labels: bug, service/dynamodb, size/L

#3754 New Resource: aws_wafregional_web_acl
  aws/provider.go
  aws/resource_aws_wafregional_rule.go
  aws/resource_aws_wafregional_web_acl.go
  aws/resource_aws_wafregional_web_acl_test.go
  website/aws.erb
  website/docs/r/wafregional_web_acl.html.markdown
Labels: new-resource, service/waf, size/XL

#3857 resource/aws_elasticache_cluster: Introduce initial CustomizeDiff
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_cluster_test.go
Labels: enhancement, service/elasticache, size/L

#3868 Retry acm certificate delete when in use exception.
  aws/resource_aws_acm_certificate.go
Labels: enhancement, service/acm, size/S

#3886 docs/resource/aws_db_instance: Document engine_version DiffSuppressFunc support
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS

#3755 New Resource: aws_wafregional_web_acl_association
  aws/provider.go
  aws/resource_aws_wafregional_web_acl_association.go
  aws/resource_aws_wafregional_web_acl_association_test.go
  website/aws.erb
  website/docs/r/wafregional_web_acl_association.html.markdown
Labels: new-resource, service/waf, size/L

#3897 docs/resource/aws_autoscaling_group: Clarify usage of availability_zones
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS
