Repository hashicorp/terraform-provider-aws, pull requests merged in 2018-12, with the labels that each got.

#6676 F addlambda provided
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
Labels: enhancement, service/lambda, size/S, tests

#6667 Update KMS import example to use ID instead of ARN
  website/docs/r/kms_key.html.markdown
Labels: documentation, service/kms, size/XS

#6623 update the elastic_transcoder_preset example for InterlacedMode
  website/docs/r/elastic_transcoder_preset.html.markdown
Labels: documentation, service/elastic-transcoder, size/XS

#6622 Sort the data sources
  website/aws.erb
Labels: documentation, size/M

#6618 metric_timestamp is an optional parameter and should not send to aws …
  aws/resource_aws_iot_topic_rule.go
Labels: bug, service/iot, size/XS

#6487 Add import for aws_iam_user_policy_attachment
  aws/resource_aws_iam_user_policy_attachment.go
  aws/resource_aws_iam_user_policy_attachment_test.go
  website/docs/r/iam_user_policy_attachment.markdown
Labels: documentation, enhancement, service/iam, size/S, tests

#6589 Support S3 Intelligent-Tiering storage class
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
  aws/validators.go
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, enhancement, service/s3, size/M, tests

#6469 Lambda-Docs: Add logging policy example
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/S

#6613 Support S3 S3 Cross-Region Replication to Glacier
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, enhancement, service/s3, size/S, tests

#6610 Support S3 PUT to Glacier
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, enhancement, service/s3, size/XS, tests

#6681 docs/resource/aws_codedeploy_deployment_group: Clarify usage of load_balancer_info
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: documentation, service/codedeploy, size/XS

#6683 docs/resource/aws_lambda_function: Include aws_cloudwatch_log_group resource example
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS

#6690 remove maximum=1 for cloudwatch destination
  aws/resource_aws_ses_event_destination.go
  aws/resource_aws_ses_event_destination_test.go
Labels: enhancement, service/ses, size/XS, tests

#6678 docs/resource/aws_api_gateway_domain_name: Expand examples and clarify arguments
  website/docs/r/api_gateway_domain_name.html.markdown
Labels: documentation, service/apigateway, size/M

#6680 docs/resource/aws_elasticsearch_domain: Add example for Log Publishing to CloudWatch Logs
  website/docs/r/cloudwatch_log_resource_policy.html.markdown
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, service/cloudwatchlogs, service/elasticsearch, size/M

#6692 fix aws_ecs_service argument documentation
  website/docs/r/ecs_service.html.markdown
Labels: documentation, service/ecs, size/XS

#6675 Handle duplicate sid in policy document
  aws/data_source_aws_iam_policy_document.go
  aws/data_source_aws_iam_policy_document_test.go
Labels: enhancement, service/iam, size/M, tests

#6686 Support Availability Zone ID in data sources
  aws/data_source_aws_availability_zone.go
  aws/data_source_aws_availability_zone_test.go
  aws/data_source_aws_availability_zones.go
  aws/data_source_aws_availability_zones_test.go
  website/docs/d/availability_zone.html.markdown
  website/docs/d/availability_zones.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#6665 service/ec2: Treat empty TGW Route Table IDs when searching for associations/propagations as missing
  aws/ec2_transit_gateway.go
  aws/resource_aws_ec2_transit_gateway_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_test.go
Labels: bug, service/ec2, size/M, tests

#6696 deps: aws/aws-sdk-go@v1.15.89
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/devicefarm/api.go
  vendor/github.com/aws/aws-sdk-go/service/mediaconvert/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicecatalog/api.go
  vendor/github.com/aws/aws-sdk-go/service/storagegateway/api.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#6642 Support VPC sharing
  aws/data_source_aws_internet_gateway.go
  aws/data_source_aws_internet_gateway_test.go
  aws/data_source_aws_route_table.go
  aws/data_source_aws_route_table_test.go
  aws/data_source_aws_subnet.go
  aws/data_source_aws_subnet_test.go
  aws/data_source_aws_vpc.go
  aws/data_source_aws_vpc_dhcp_options.go
  aws/data_source_aws_vpc_dhcp_options_test.go
  aws/data_source_aws_vpc_test.go
  aws/resource_aws_default_network_acl.go
  aws/resource_aws_default_network_acl_test.go
  aws/resource_aws_default_route_table.go
  aws/resource_aws_default_route_table_test.go
  aws/resource_aws_default_subnet.go
  aws/resource_aws_default_subnet_test.go
  aws/resource_aws_default_vpc_dhcp_options.go
  aws/resource_aws_default_vpc_dhcp_options_test.go
  aws/resource_aws_default_vpc_test.go
  aws/resource_aws_ec2_transit_gateway_test.go
  aws/resource_aws_internet_gateway.go
  aws/resource_aws_internet_gateway_test.go
  aws/resource_aws_network_acl.go
  aws/resource_aws_network_acl_test.go
  aws/resource_aws_route_table.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_subnet.go
  aws/resource_aws_subnet_test.go
  aws/resource_aws_vpc.go
  aws/resource_aws_vpc_dhcp_options.go
  aws/resource_aws_vpc_dhcp_options_test.go
  aws/resource_aws_vpc_test.go
  website/docs/d/internet_gateway.html.markdown
  website/docs/d/route_table.html.markdown
  website/docs/d/subnet.html.markdown
  website/docs/d/vpc.html.markdown
  website/docs/d/vpc_dhcp_options.html.markdown
  website/docs/index.html.markdown
  website/docs/r/default_network_acl.html.markdown
  website/docs/r/default_route_table.html.markdown
  website/docs/r/default_subnet.html.markdown
  website/docs/r/default_vpc.html.markdown
  website/docs/r/default_vpc_dhcp_options.html.markdown
  website/docs/r/internet_gateway.html.markdown
  website/docs/r/network_acl.html.markdown
  website/docs/r/route_table.html.markdown
  website/docs/r/subnet.html.markdown
  website/docs/r/vpc.html.markdown
  website/docs/r/vpc_dhcp_options.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#6699 data-source/aws_iam_policy_document: Add version argument
  aws/data_source_aws_iam_policy_document.go
  aws/data_source_aws_iam_policy_document_test.go
  website/docs/d/iam_policy_document.html.markdown
Labels: documentation, enhancement, service/iam, size/L, tests

#6582 Add Argument copy_tags_to_snapshot for aws_rds_cluster_instance
  aws/resource_aws_rds_cluster_instance.go
  aws/resource_aws_rds_cluster_instance_test.go
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, enhancement, service/rds, size/M, tests, waiting-response

#6708 Add aws_appmesh_mesh resource
  aws/config.go
  aws/provider.go
  aws/resource_aws_appmesh_mesh.go
  aws/resource_aws_appmesh_mesh_test.go
  aws/resource_aws_appmesh_test.go
  website/aws.erb
  website/docs/r/appmesh_mesh.html.markdown
Labels: documentation, new-resource, provider, service/appmesh, size/L, tests

#6718 Create new resource for changed aws_iam_user_ssh_key public_key and encoding
  aws/resource_aws_iam_user_ssh_key.go
Labels: bug, service/iam, size/XS

#6722 deps: aws/aws-sdk-go@v1.15.90
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/s3/api.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#6603 r/ecs_service: add propagate_tags attribute
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_service_test.go
  website/docs/r/ecs_service.html.markdown
Labels: documentation, enhancement, service/ecs, size/M, tests

#6723 Add import for aws_ecs_task_definition
  aws/resource_aws_ecs_task_definition.go
  aws/resource_aws_ecs_task_definition_test.go
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, enhancement, service/ecs, size/S, tests

#6729 Support S3 Inventory Apache Parquet format reports
  aws/resource_aws_s3_bucket_inventory.go
  aws/resource_aws_s3_bucket_inventory_test.go
  website/docs/r/s3_bucket_inventory.html.markdown
Labels: documentation, enhancement, service/s3, size/XS, tests

#6732 tests/resource/aws_ecs_service: Fix TestAccAWSEcsService_withLaunchTypeFargate for parallelization and configuration updates
  aws/resource_aws_ecs_service_test.go
Labels: service/ecs, size/XS, tests

#6734 deps: aws/aws-sdk-go@v1.16.0
  vendor/github.com/aws/aws-sdk-go/aws/awsutil/string_value.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/processcreds/provider.go
  vendor/github.com/aws/aws-sdk-go/aws/csm/reporter.go
  vendor/github.com/aws/aws-sdk-go/aws/request/handlers.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request.go
  vendor/github.com/aws/aws-sdk-go/aws/session/doc.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/session/shared_config.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/acm/api.go
  vendor/github.com/aws/aws-sdk-go/service/apigateway/api.go
  vendor/github.com/aws/aws-sdk-go/service/appsync/api.go
  vendor/github.com/aws/aws-sdk-go/service/budgets/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudfront/api.go
  vendor/github.com/aws/aws-sdk-go/service/codepipeline/api.go
  vendor/github.com/aws/aws-sdk-go/service/cognitoidentityprovider/api.go
  vendor/github.com/aws/aws-sdk-go/service/databasemigrationservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/directoryservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/dlm/api.go
  vendor/github.com/aws/aws-sdk-go/service/efs/api.go
  vendor/github.com/aws/aws-sdk-go/service/eks/api.go
  vendor/github.com/aws/aws-sdk-go/service/elasticsearchservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/elastictranscoder/api.go
  vendor/github.com/aws/aws-sdk-go/service/firehose/api.go
  vendor/github.com/aws/aws-sdk-go/service/gamelift/api.go
  vendor/github.com/aws/aws-sdk-go/service/glacier/api.go
  vendor/github.com/aws/aws-sdk-go/service/guardduty/api.go
  vendor/github.com/aws/aws-sdk-go/service/iam/api.go
  vendor/github.com/aws/aws-sdk-go/service/iot/api.go
  vendor/github.com/aws/aws-sdk-go/service/kafka/api.go
  vendor/github.com/aws/aws-sdk-go/service/kms/api.go
  vendor/github.com/aws/aws-sdk-go/service/lambda/api.go
  vendor/github.com/aws/aws-sdk-go/service/lexmodelbuildingservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/lightsail/api.go
  vendor/github.com/aws/aws-sdk-go/service/mediaconvert/api.go
  vendor/github.com/aws/aws-sdk-go/service/medialive/api.go
  vendor/github.com/aws/aws-sdk-go/service/mediapackage/api.go
  vendor/github.com/aws/aws-sdk-go/service/mq/api.go
  vendor/github.com/aws/aws-sdk-go/service/organizations/api.go
  vendor/github.com/aws/aws-sdk-go/service/pinpoint/api.go
  vendor/github.com/aws/aws-sdk-go/service/redshift/api.go
  vendor/github.com/aws/aws-sdk-go/service/resourcegroups/api.go
  vendor/github.com/aws/aws-sdk-go/service/route53/api.go
  vendor/github.com/aws/aws-sdk-go/service/s3/api.go
  vendor/github.com/aws/aws-sdk-go/service/secretsmanager/api.go
  vendor/github.com/aws/aws-sdk-go/service/securityhub/api.go
  vendor/github.com/aws/aws-sdk-go/service/serverlessapplicationrepository/api.go
  vendor/github.com/aws/aws-sdk-go/service/sfn/api.go
  vendor/github.com/aws/aws-sdk-go/service/sqs/checksums.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/github.com/aws/aws-sdk-go/service/storagegateway/api.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#6760 Fix log group and filter deletion race condition
  aws/resource_aws_cloudwatch_log_subscription_filter.go
  aws/resource_aws_cloudwatch_log_subscription_filter_test.go
Labels: bug, service/cloudwatchlogs, size/XS, tests

#6751 Fix docs link for dlm_lifecycle_policy retain_rule
  website/docs/r/dlm_lifecycle_policy.markdown
Labels: documentation, service/dlm, size/XS

#6750 Documentation: Change DLM resource_type allowed value
  website/docs/r/dlm_lifecycle_policy.markdown
Labels: documentation, service/dlm, size/XS

#6743 r/aws_vpc: gosimple fixes
  aws/resource_aws_vpc_dhcp_options_association.go
  aws/resource_aws_vpc_endpoint_service_test.go
  aws/resource_aws_vpc_endpoint_test.go
  aws/resource_aws_vpc_peering_connection.go
  aws/resource_aws_vpc_peering_connection_test.go
Labels: service/ec2, size/S, technical-debt, tests

#6742 r/aws_vpn_connection_route: Fix gosimple issues
  aws/resource_aws_vpn_connection_route.go
  aws/resource_aws_vpn_connection_route_test.go
Labels: service/ec2, size/XS, technical-debt, tests

#6687 Update AWS Lightsail Instance documentation
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, service/lightsail, size/M

#6725 add warning about currently immutable maintenance window
  website/docs/r/mq_broker.html.markdown
Labels: documentation, service/mq, size/XS

#6735 Add Batching to Modifying Systems Manager Documents to Work Around Limits
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_document_test.go
Labels: bug, service/ssm, size/M, tests

#6753 resource/aws_route53_record: Prevent scanning entire zone for missing record
  aws/resource_aws_route53_record.go
  aws/resource_aws_route53_record_test.go
Labels: bug, service/route53, size/L, tests

#6754 docs/resource/aws_codebuild_project: Cross-link aws_codebuild_webhook resource
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#6756 data-source/aws_ip_ranges: Add url argument
  aws/data_source_aws_ip_ranges.go
  aws/data_source_aws_ip_ranges_test.go
  website/docs/d/ip_ranges.html.markdown
Labels: documentation, enhancement, provider, size/S, tests

#6752 resource/aws_elasticache_parameter_group: Handle API reset issues with reserved-memory parameter
  aws/resource_aws_elasticache_parameter_group.go
  aws/resource_aws_elasticache_parameter_group_test.go
  website/docs/r/elasticache_parameter_group.html.markdown
Labels: bug, documentation, service/elasticache, size/XL, tests

#6727 Add ability to import aws_iam_user_ssh_key
  aws/resource_aws_iam_user_ssh_key.go
  aws/resource_aws_iam_user_ssh_key_test.go
  website/docs/r/iam_user_ssh_key.html.markdown
Labels: documentation, enhancement, service/iam, size/M, tests

#6763 New Datasource: aws_api_gateway_vpc_link
  aws/data_source_aws_api_gateway_vpc_link.go
  aws/data_source_aws_api_gateway_vpc_link_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/api_gateway_vpc_link.html.markdown
Labels: documentation, new-data-source, provider, service/apigateway, size/L, tests

#6786 Updated docs to include regions
  website/docs/d/canonical_user_id.html.markdown
Labels: documentation, service/s3, size/XS

#6787 Fix typo: 'type = string' => 'types = list'
  website/docs/r/api_gateway_domain_name.html.markdown
Labels: documentation, service/apigateway, size/XS

#6779 Add a note on blue/green deployments and COPY_AUTO_SCALING_GROUP.
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: documentation, service/codedeploy, size/XS

#6792 Updated to live under `display_name`
  website/docs/d/canonical_user_id.html.markdown
Labels: documentation, service/s3, size/XS

#6576 r/aws_rds_cluster_endpoint: New Resource
  aws/provider.go
  aws/resource_aws_rds_cluster_endpoint.go
  aws/resource_aws_rds_cluster_endpoint_test.go
  website/aws.erb
  website/docs/r/rds_cluster_endpoint.html.markdown
Labels: documentation, new-resource, provider, service/rds, size/XL, tests

#6770 Do not throw error when lambda permission is deleted after function
  aws/resource_aws_lambda_permission.go
Labels: bug, service/lambda, size/XS

#6810 Typo: Remove repeated "client" from markdown
  website/docs/r/cognito_user_pool_client.markdown
Labels: documentation, service/cognito, size/XS

#6803 docs/resource/aws_codedeploy_deployment_group: Ensure Blue Green Deployments with ECS example includes aws_codedeploy_app resource with compute_platform set to ECS
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: documentation, service/codedeploy, size/XS

#6811 tests/resource/aws_ami_copy: Simplify basic test and add description test
  aws/resource_aws_ami_copy_test.go
Labels: service/ec2, size/L, tests

#6813 tests/data-source/aws_elasticache_cluster: Remove optional parameter_group_name argument from resource in test configuration
  aws/data_source_aws_elasticache_cluster_test.go
Labels: service/elasticache, size/XS, tests

#6816 tests/resource/aws_dms_replication_instance: Generate TestAccAWSDmsReplicationInstance_EngineVersion Steps
  aws/resource_aws_dms_replication_instance_test.go
Labels: service/databasemigrationservice, size/M, tests

#6817 resource/aws_ec2_transit_gateway_route: Trigger resource recreation with deleted/deleting route state
  aws/resource_aws_ec2_transit_gateway_route.go
Labels: bug, service/ec2, size/XS

#6820 tests/resource/aws_instance: Simplify TestAccAWSInstance_volumeTagsComputed
  aws/resource_aws_instance_test.go
Labels: service/ec2, size/XS, tests

#6821 tests/data-source/aws_instances: Adjustments for inconsistent acceptance testing
  aws/data_source_aws_instances_test.go
Labels: service/ec2, size/XS, tests

#6822 tests/resource/aws_pinpoint_sms_channel: ImportStateVerifyIgnore *_messages_per_second attributes
  aws/resource_aws_pinpoint_sms_channel_test.go
Labels: service/pinpoint, size/XS, tests

#6823 tests/resource/aws_route53_query_log: Use lowercase naming, add ImportState testing to basic test
  aws/resource_aws_route53_query_log_test.go
Labels: service/route53, size/S, tests

#6824 tests/resource/aws_ssm_activation: Fix ExpectError in TestAccAWSSSMActivation_expirationDate
  aws/resource_aws_ssm_activation_test.go
Labels: service/ssm, size/XS, tests

#6825 tests: Ensure Amazon Linux 2 AMI matching includes expected architecture
  aws/resource_aws_autoscaling_policy_test.go
  aws/resource_aws_ssm_association_test.go
Labels: service/autoscaling, service/ssm, size/XS, tests

#6826 tests/resource/aws_snapshot_create_volume_permission: Use different account_id
  aws/resource_aws_snapshot_create_volume_permission_test.go
Labels: service/ec2, size/XS, tests

#6827 tests/data-source/aws_pricing_product: Add capacitystatus filter for EC2 test configuration
  aws/data_source_aws_pricing_product_test.go
Labels: service/pricing, size/XS, tests

#6830 data-source/aws_lb_listener: Add missing attributes from resource
  aws/data_source_aws_lb_listener.go
  aws/data_source_aws_lb_listener_test.go
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_test.go
Labels: bug, service/elbv2, size/L, tests

#6807 resource/aws_api_gateway_deployment: Handle new AWS Go SDK parameter validation for GetStage during deletion
  aws/resource_aws_api_gateway_deployment.go
  aws/resource_aws_api_gateway_deployment_test.go
Labels: service/apigateway, size/L, tests

#6819 tests/resource/aws_elasticache_replication_group: Simplify and update TestAccAWSElasticacheReplicationGroup_updateParameterGroup for redis5.0
  aws/resource_aws_elasticache_replication_group_test.go
Labels: service/elasticache, size/M, tests

#6747 Add support for aws_ssm_maintenance_window import and documentation
  aws/resource_aws_ssm_maintenance_window.go
  aws/resource_aws_ssm_maintenance_window_target_test.go
  website/docs/r/ssm_maintenance_window.html.markdown
Labels: documentation, enhancement, service/ssm, size/XS, tests

#6797 r/aws_glue_crawler: add a security_configuration argument
  aws/resource_aws_glue_crawler.go
  aws/resource_aws_glue_crawler_test.go
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, enhancement, service/glue, size/M, tests

#6766 Add aws_appmesh_route resource
  aws/provider.go
  aws/resource_aws_appmesh_mesh.go
  aws/resource_aws_appmesh_route.go
  aws/resource_aws_appmesh_route_test.go
  aws/resource_aws_appmesh_test.go
  aws/resource_aws_appmesh_virtual_router.go
  aws/structure.go
  website/aws.erb
  website/docs/r/appmesh_route.html.markdown
  website/docs/r/appmesh_virtual_router.html.markdown
Labels: documentation, new-resource, provider, service/appmesh, size/XL, tests

#6841 deps: aws/aws-sdk-go@v1.16.4
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/eks/api.go
  vendor/github.com/aws/aws-sdk-go/service/eks/errors.go
  vendor/github.com/aws/aws-sdk-go/service/glue/api.go
  vendor/github.com/aws/aws-sdk-go/service/route53/api.go
  vendor/github.com/aws/aws-sdk-go/service/sagemaker/api.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#6843 resource/aws_eks_cluster: Support version update
  aws/resource_aws_eks_cluster.go
  aws/resource_aws_eks_cluster_test.go
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, enhancement, service/eks, size/M, tests

#6737 Fix DynamoDB OnDemand GSI behavior
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
  aws/structure.go
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, enhancement, service/dynamodb, size/M, tests

#6836 add support for eu-north-1 region
  aws/data_source_aws_cloudtrail_service_account.go
  aws/data_source_aws_elb_hosted_zone_id.go
  aws/data_source_aws_elb_service_account.go
  aws/hosted_zones.go
Labels: enhancement, service/cloudtrail, service/elb, service/s3, size/S

#6801 Fix gosimple cognito issues
  aws/resource_aws_cognito_identity_pool_roles_attachment_test.go
  aws/resource_aws_cognito_identity_pool_test.go
  aws/resource_aws_cognito_user_group_test.go
  aws/resource_aws_cognito_user_pool_client_test.go
  aws/resource_aws_cognito_user_pool_domain_test.go
  aws/resource_aws_cognito_user_pool_test.go
Labels: service/cognito, size/M, technical-debt, tests

#6844 resource/aws_acm_certificate: Automatically trim trailing period from domain_name and subject_alternative_names
  aws/resource_aws_acm_certificate.go
  aws/resource_aws_acm_certificate_test.go
Labels: enhancement, service/acm, size/M, tests

#6839 r/aws-securityhub: Add aws_securityhub_account resource
  aws/config.go
  aws/provider.go
  aws/resource_aws_securityhub_account.go
  aws/resource_aws_securityhub_account_test.go
  aws/resource_aws_securityhub_test.go
  website/aws.erb
  website/docs/r/securityhub_account.markdown
Labels: documentation, new-resource, provider, service/securityhub, size/L, tests

#6847 deps: aws/aws-sdk-go/service/s3control@v1.16.4
  vendor/github.com/aws/aws-sdk-go/service/s3control/api.go
  vendor/github.com/aws/aws-sdk-go/service/s3control/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/s3control/doc.go
  vendor/github.com/aws/aws-sdk-go/service/s3control/errors.go
  vendor/github.com/aws/aws-sdk-go/service/s3control/service.go
  vendor/vendor.json
Labels: dependencies, size/XL

#6855 deps: aws/aws-sdk-go@v1.16.5
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/organizations/api.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#6776 can't destroy aws_cloudwatch_log_stream if group has been destroyed
  aws/resource_aws_cloudwatch_log_stream.go
  aws/resource_aws_cloudwatch_log_stream_test.go
Labels: bug, service/cloudwatchlogs, size/S, tests, waiting-response

#6874 gosimple: Fix gosimple data sources issues
  aws/data_source_aws_ami_ids.go
  aws/data_source_aws_autoscaling_groups.go
  aws/data_source_aws_autoscaling_groups_test.go
  aws/data_source_aws_availability_zones_test.go
  aws/data_source_aws_cloudwatch_log_group_test.go
  aws/data_source_aws_db_event_categories_test.go
  aws/data_source_aws_ebs_snapshot.go
  aws/data_source_aws_ebs_snapshot_ids.go
  aws/data_source_aws_ebs_volume.go
  aws/data_source_aws_ecr_repository_test.go
  aws/data_source_aws_efs_file_system.go
  aws/data_source_aws_efs_file_system_test.go
  aws/data_source_aws_elasticache_cluster.go
  aws/data_source_aws_instance.go
  aws/data_source_aws_instances.go
  aws/data_source_aws_internet_gateway.go
  aws/data_source_aws_route53_zone.go
  aws/data_source_aws_s3_bucket.go
  aws/data_source_aws_s3_bucket_object.go
  aws/data_source_aws_s3_bucket_object_test.go
  aws/data_source_aws_security_groups.go
Labels: service/autoscaling, service/cloudwatchlogs, service/ec2, service/ecr, service/efs, service/elasticache, service/rds, service/route53, service/s3, size/M, technical-debt, tests

#6875 Fix gosimple iam issues
  aws/resource_aws_iam_group_membership.go
  aws/resource_aws_iam_group_policy_attachment.go
  aws/resource_aws_iam_instance_profile.go
  aws/resource_aws_iam_openid_connect_provider_test.go
  aws/resource_aws_iam_policy.go
  aws/resource_aws_iam_policy_attachment.go
  aws/resource_aws_iam_role.go
  aws/resource_aws_iam_role_policy_attachment.go
  aws/resource_aws_iam_saml_provider_test.go
  aws/resource_aws_iam_server_certificate.go
  aws/resource_aws_iam_user_group_membership.go
  aws/resource_aws_iam_user_login_profile.go
  aws/resource_aws_iam_user_policy_attachment.go
  aws/resource_aws_iam_user_policy_test.go
  aws/resource_aws_internet_gateway.go
Labels: service/ec2, service/iam, size/M, technical-debt, tests

#6877 Fix gosimple tags issues
  aws/autoscaling_tags.go
  aws/s3_tags.go
  aws/tags.go
  aws/tagsBeanstalk.go
  aws/tagsCloudtrail.go
  aws/tagsDAX.go
  aws/tagsDS.go
  aws/tagsDX.go
  aws/tagsEC.go
  aws/tagsECS.go
  aws/tagsEFS.go
  aws/tagsELB.go
  aws/tagsGeneric.go
  aws/tagsIAM.go
  aws/tagsInspector.go
  aws/tagsKMS.go
  aws/tagsKinesisFirehose.go
  aws/tagsNeptune.go
  aws/tagsRDS.go
  aws/tagsRedshift.go
  aws/tagsSSM.go
  aws/tagsSecretsManager.go
  aws/tags_elasticsearchservice.go
  aws/tags_kinesis.go
  aws/tags_route53.go
Labels: service/autoscaling, service/cloudtrail, service/dax, service/directconnect, service/directoryservice, service/efs, service/elasticache, service/elasticbeanstalk, service/elasticsearch, service/elb, service/inspector, service/kinesis, service/kms, service/neptune, service/rds, service/redshift, service/route53, service/s3, service/secretsmanager, service/ses, size/M, technical-debt

#6876 Fix gosimple s3 issues
  aws/import_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_inventory.go
  aws/resource_aws_s3_bucket_notification_test.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/S, technical-debt, tests

#6866 website/docs/r/lb_target_group: Drop "TLS" from health-check protocols
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, service/elbv2, size/XS

#6870 Update error wording to be clearer
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lb_target_group_test.go
Labels: service/elbv2, size/XS, tests

#6894 Fix name of session_timeout argument
  website/docs/r/lb_listener_rule.html.markdown
Labels: documentation, service/elbv2, size/XS

#6898 Bump AWS SDK to v1.16.7
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/user_agent.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/athena/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudformation/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecr/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecr/errors.go
  vendor/github.com/aws/aws-sdk-go/service/redshift/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicecatalog/api.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#6835 r/aws_licensemanager: Add aws_licensemanager_license_configuration resource
  aws/config.go
  aws/provider.go
  aws/resource_aws_licensemanager_license_configuration.go
  aws/resource_aws_licensemanager_license_configuration_test.go
  aws/tagsLicenseManager.go
  website/aws.erb
  website/docs/r/licensemanager_license_configuration.markdown
Labels: documentation, new-resource, provider, service/licensemanager, size/XL, tests

#6893 data-source/aws_cloudtrail_service_account: Support us-gov-east-1 and us-gov-west-1 regions
  aws/data_source_aws_cloudtrail_service_account.go
  aws/data_source_aws_cloudtrail_service_account_test.go
Labels: enhancement, partition/aws-us-gov, service/cloudtrail, size/S, tests

#6892 service/mediastore: Fix gosimple linting issues
  aws/resource_aws_media_store_container.go
  aws/resource_aws_media_store_container_policy_test.go
  aws/resource_aws_media_store_container_test.go
Labels: service/mediastore, size/XS, technical-debt, tests

#6903 AWS Redirect links for sidebar
  website/aws.erb
Labels: documentation, size/XS

#6891 tests/resource/aws_subnet: Fix gosimple linting issues
  aws/resource_aws_subnet_test.go
Labels: service/ec2, size/XS, technical-debt, tests

#6883 Make tags truly optional on the transfer sftp server resource
  aws/resource_aws_transfer_server.go
Labels: bug, service/transfer, size/XS

#6911 Amazon ECR Repository tags
  aws/data_source_aws_ecr_repository.go
  aws/data_source_aws_ecr_repository_test.go
  aws/resource_aws_ecr_repository.go
  aws/resource_aws_ecr_repository_test.go
  aws/tagsECR.go
  aws/tagsECR_test.go
  website/docs/d/ecr_repository.html.markdown
  website/docs/r/ecr_repository.html.markdown
Labels: documentation, enhancement, service/ecr, service/elasticache, size/XL, tests

#6862 r/aws_securityhub: Add aws_securityhub_standards_subscription
  aws/provider.go
  aws/resource_aws_securityhub_standards_subscription.go
  aws/resource_aws_securityhub_standards_subscription_test.go
  aws/resource_aws_securityhub_test.go
  website/aws.erb
  website/docs/r/securityhub_standards_subscription.markdown
Labels: documentation, new-resource, provider, service/securityhub, size/L, tests

#6904 Fix gosimple acmpca issues
  aws/resource_aws_acmpca_certificate_authority.go
  aws/resource_aws_acmpca_certificate_authority_test.go
Labels: service/acmpca, size/XS, technical-debt, tests

#6905 service/redshiftcluster, taglicensemanger: Fix gosimple linting issues
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_redshift_cluster_test.go
  aws/tagsLicenseManager.go
Labels: service/redshift, size/XS, technical-debt, tests

#6906 service/cloudwatcheventrule: Fix gosimple linting issues
  aws/resource_aws_cloudwatch_event_rule.go
Labels: service/cloudwatchevents, size/XS, technical-debt

#6907 Fix gosimple ami issues
  aws/resource_aws_ami_launch_permission_test.go
Labels: service/ec2, size/XS, technical-debt, tests

#6908 resource/resource_aws_cloudwatch_log_group: Fix gosimple linting issues
  aws/resource_aws_cloudwatch_log_group.go
Labels: service/cloudwatchlogs, size/XS, technical-debt

#6910 resource/resource_aws_cloudwatch_log_subscription_filter: Fix gosimple linting issues
  aws/resource_aws_cloudwatch_log_subscription_filter_test.go
Labels: service/cloudwatchlogs, size/XS, technical-debt, tests

#6915 Fix gosimple app issues
  aws/resource_aws_app_cookie_stickiness_policy_test.go
  aws/resource_aws_appautoscaling_policy.go
  aws/resource_aws_appmesh_route.go
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_router.go
  aws/resource_aws_appsync_graphql_api_test.go
Labels: service/applicationautoscaling, service/appsync, service/elb, size/S, technical-debt, tests

#6918 deps: aws/aws-sdk-go@v1.16.8
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/elasticbeanstalk/api.go
  vendor/vendor.json
Labels: dependencies, provider, size/XXL

#6920 deps: aws/aws-sdk-go/service/apigatewayv2@v1.16.8
  vendor/github.com/aws/aws-sdk-go/service/apigatewayv2/api.go
  vendor/github.com/aws/aws-sdk-go/service/apigatewayv2/doc.go
  vendor/github.com/aws/aws-sdk-go/service/apigatewayv2/errors.go
  vendor/github.com/aws/aws-sdk-go/service/apigatewayv2/service.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#6888 service/dax: Fix gosimple linting issues
  aws/resource_aws_dax_cluster.go
  aws/resource_aws_dax_cluster_test.go
  aws/resource_aws_dax_parameter_group_test.go
  aws/resource_aws_dax_subnet_group_test.go
Labels: service/dax, size/S, technical-debt, tests

#6889 service/efs: Fix gosimple Linting Issues
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_efs_file_system_test.go
  aws/resource_aws_efs_mount_target.go
  aws/resource_aws_efs_mount_target_test.go
Labels: service/efs, size/S, technical-debt, tests

#6890 service/ssm: Fix gosimple linting issues
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_document_test.go
  aws/resource_aws_ssm_maintenance_window.go
  aws/resource_aws_ssm_maintenance_window_target.go
  aws/resource_aws_ssm_maintenance_window_task.go
  aws/resource_aws_ssm_parameter.go
  aws/resource_aws_ssm_parameter_test.go
  aws/resource_aws_ssm_patch_baseline.go
  aws/resource_aws_ssm_patch_group.go
Labels: service/ssm, size/S, technical-debt, tests

#6873 resource/aws_s3_bucket: Skip MethodNotAllowed error for missing S3 Bucket Acceleration functionality (eu-north-1 support)
  aws/resource_aws_s3_bucket.go
Labels: bug, service/s3, size/XS

#6861 service/rds: Initial support for RDS Aurora Global Databases
  aws/provider.go
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  aws/resource_aws_rds_global_cluster.go
  aws/resource_aws_rds_global_cluster_test.go
  website/aws.erb
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, enhancement, new-resource, provider, service/rds, size/XXL, tests

#6909 Fix gosimple api issues
  aws/resource_aws_api_gateway_documentation_part.go
  aws/resource_aws_api_gateway_method_response_test.go
  aws/resource_aws_api_gateway_method_test.go
  aws/resource_aws_api_gateway_stage.go
  aws/resource_aws_api_gateway_vpc_link.go
  aws/resource_aws_api_gateway_vpc_link_test.go
Labels: service/apigateway, size/S, technical-debt, tests

#6924 Fix gosimple athena issues
  aws/resource_aws_athena_database_test.go
  aws/resource_aws_athena_named_query.go
  aws/resource_aws_athena_named_query_test.go
Labels: service/athena, size/XS, technical-debt, tests

#6925 Fix gosimple autoscaling issues
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_waiting.go
  aws/resource_aws_autoscaling_notification.go
  aws/resource_aws_autoscaling_schedule_test.go
Labels: service/autoscaling, size/XS, technical-debt, tests

#6929 service/codebuild: Enable Github Enterprise Report Build Status
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, enhancement, service/codebuild, size/M, tests

#6922 r/aws_guardduty: Add argument finding_publishing_frequency to aws_guardduty_detector
  aws/resource_aws_guardduty_detector.go
  aws/resource_aws_guardduty_detector_test.go
  website/docs/r/guardduty_detector.html.markdown
Labels: documentation, enhancement, service/guardduty, size/XS, tests

#6850 Add Transfer User Resource Support
  aws/provider.go
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_user.go
  aws/resource_aws_transfer_user_test.go
  aws/tagsTransfer.go
  aws/tagsTransfer_test.go
  aws/validators.go
  website/aws.erb
  website/docs/r/transfer_user.html.markdown
Labels: documentation, new-resource, provider, service/transfer, size/XL, tests

#6932 Add Transfer SSH Public Key Resource Support
  aws/provider.go
  aws/resource_aws_transfer_ssh_key.go
  aws/resource_aws_transfer_ssh_key_test.go
  website/aws.erb
  website/docs/r/transfer_ssh_key.html.markdown
Labels: documentation, new-resource, provider, service/transfer, size/XL, tests

#6934 tests/resource/aws_emr_cluster: Adjust custom security group ingress rules
  aws/resource_aws_emr_cluster_test.go
Labels: service/emr, size/M, tests

#6865 enable changing encryption without creating new resource for redshift cluster
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_redshift_cluster_test.go
Labels: enhancement, service/redshift, size/L, tests

#6921 r/aws_securityhub: Add aws_securityhub_product_subscription resource
  aws/provider.go
  aws/resource_aws_securityhub_product_subscription.go
  aws/resource_aws_securityhub_product_subscription_test.go
  aws/resource_aws_securityhub_test.go
  website/aws.erb
  website/docs/r/securityhub_product_subscription.markdown
Labels: documentation, new-resource, provider, service/securityhub, size/XL, tests

#6926 r/aws_licensemanager: Add aws_licensemanager_association resource
  aws/provider.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  aws/resource_aws_licensemanager_association.go
  aws/resource_aws_licensemanager_association_test.go
  website/aws.erb
  website/docs/r/launch_template.html.markdown
  website/docs/r/licensemanager_association.markdown
Labels: documentation, new-resource, provider, service/ec2, service/licensemanager, size/XL, tests

#6849 Add new data source type aws_autoscaling_group
  aws/data_source_aws_autoscaling_group.go
  aws/data_source_aws_autoscaling_group_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/autoscaling_group.html.markdown
Labels: documentation, new-data-source, provider, service/autoscaling, size/XL, tests

#6935 Add force destroy support for Transfer Server
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_server_test.go
  website/docs/r/transfer_server.html.markdown
Labels: documentation, enhancement, service/transfer, size/L, tests

#6939 Fix cloudwatch issues
  aws/resource_aws_cloudwatch_event_permission_test.go
  aws/resource_aws_cloudwatch_log_group_test.go
  aws/resource_aws_cloudwatch_log_stream_test.go
  aws/resource_aws_cloudwatch_log_subscription_filter_test.go
Labels: service/cloudwatchevents, service/cloudwatchlogs, size/XS, technical-debt, tests

#6946 Fix gosimple dms issues
  aws/resource_aws_dms_certificate.go
  aws/resource_aws_dms_replication_subnet_group.go
  aws/resource_aws_dms_replication_task.go
Labels: service/databasemigrationservice, size/XS, technical-debt

#6951 Fix gosimple dx issues
  aws/resource_aws_dx_connection.go
  aws/resource_aws_dx_hosted_private_virtual_interface_accepter.go
  aws/resource_aws_dx_hosted_public_virtual_interface_accepter.go
  aws/resource_aws_dx_lag.go
  aws/resource_aws_dx_private_virtual_interface.go
  aws/resource_aws_dx_public_virtual_interface.go
Labels: service/directconnect, size/S, technical-debt

#6938 Fix gosimple code issues
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codecommit_trigger.go
  aws/resource_aws_codedeploy_deployment_config.go
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codepipeline.go
  aws/resource_aws_codepipeline_test.go
  aws/resource_aws_codepipeline_webhook.go
  aws/resource_aws_codepipeline_webhook_test.go
Labels: service/codebuild, service/codecommit, service/codedeploy, service/codepipeline, size/S, technical-debt, tests

#6607 r/s3: add public access block resource
  aws/provider.go
  aws/resource_aws_s3_bucket_public_access_block.go
  aws/resource_aws_s3_bucket_public_access_block_test.go
  website/aws.erb
  website/docs/r/s3_bucket_public_access_block.html.markdown
Labels: documentation, new-resource, provider, service/s3, size/XL, tests

#5472 Fix read for non-pending aws_acm_certificate
  aws/resource_aws_acm_certificate.go
Labels: bug, service/acm, size/XS

#6967 Fix gosimple dynamodb issues
  aws/resource_aws_dynamodb_global_table.go
Labels: service/dynamodb, size/XS

#6943 Adds a missing port to security groups in the EKS Getting Started guide
  website/docs/guides/eks-getting-started.html.md
Labels: documentation, size/XS

#6996 Documentation Update
  website/docs/r/ami.html.markdown
  website/docs/r/ami_copy.html.markdown
  website/docs/r/ami_from_instance.html.markdown
  website/docs/r/appmesh_virtual_node.html.markdown
  website/docs/r/cloudhsm_v2_cluster.html.markdown
  website/docs/r/load_balancer_backend_server_policy.html.markdown
  website/docs/r/load_balancer_listener_policy.html.markdown
  website/docs/r/load_balancer_policy.html.markdown
  website/docs/r/redshift_snapshot_copy_grant.html.markdown
  website/docs/r/spot_fleet_request.html.markdown
  website/docs/r/spot_instance_request.html.markdown
  website/docs/r/transfer_user.html.markdown
Labels: documentation, service/cloudhsmv2, service/ec2, service/redshift, size/XS
