Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-09, with the labels that each got.

#9905 Import test refactors for vpc resources
  aws/resource_aws_vpc_dhcp_options_test.go
  aws/resource_aws_vpc_endpoint_connection_notification_test.go
  aws/resource_aws_vpc_peering_connection_options_test.go
  aws/resource_aws_vpc_peering_connection_test.go
Labels: service/ec2, size/XL, technical-debt, tests

#9931 Added IoT Analytics Service
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/iotanalytics/api.go
  vendor/github.com/aws/aws-sdk-go/service/iotanalytics/doc.go
  vendor/github.com/aws/aws-sdk-go/service/iotanalytics/errors.go
  vendor/github.com/aws/aws-sdk-go/service/iotanalytics/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#9895 Import testing for vpn gateway
  aws/resource_aws_vpn_gateway_test.go
Labels: service/ec2, size/L, tests

#9985 service/cloudhsmv2: Implement sweeper
  aws/resource_aws_cloudhsm2_cluster.go
  aws/resource_aws_cloudhsm2_cluster_test.go
  aws/resource_aws_cloudhsm2_hsm.go
  aws/resource_aws_subnet_test.go
Labels: service/cloudhsmv2, service/ec2, size/L, tests

#9720 resource/ecs_cluster: Add ability to enable ECS Cluster Insights
  aws/data_source_aws_ecs_cluster.go
  aws/data_source_aws_ecs_cluster_test.go
  aws/resource_aws_ecs_cluster.go
  aws/resource_aws_ecs_cluster_test.go
  website/docs/d/ecs_cluster.html.markdown
  website/docs/r/ecs_cluster.html.markdown
Labels: documentation, enhancement, service/ecs, size/L, tests

#9998 deps: Update github.com/aws/aws-sdk-go@v1.23.15
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/api.go
  vendor/github.com/aws/aws-sdk-go/service/eks/api.go
  vendor/github.com/aws/aws-sdk-go/service/gamelift/api.go
  vendor/github.com/aws/aws-sdk-go/service/sfn/api.go
  vendor/github.com/aws/aws-sdk-go/service/sfn/errors.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#9949 Import test refactor for subnets
  aws/resource_aws_subnet_test.go
Labels: service/ec2, size/M, tests

#9957 Import acceptance test refactor for SSM resources
  aws/resource_aws_ssm_parameter_test.go
  aws/resource_aws_ssm_resource_data_sync_test.go
Labels: service/ssm, size/L, tests

#9958 Acceptance test import refactor for SQS queue policy
  aws/resource_aws_sqs_queue_policy_test.go
Labels: service/sqs, size/XS, tests

#9959 Acceptance test import refactor for simpledb domain
  aws/resource_aws_simpledb_domain_test.go
Labels: service/simpledb, size/XS, tests

#9960 Acceptance test import refactor for SFN activity
  aws/resource_aws_sfn_activity_test.go
Labels: service/sfn, size/M, tests

#9961 Acceptance test import refactor for SES template
  aws/resource_aws_ses_template_test.go
Labels: service/ses, size/M, tests

#9963 Acceptance test import refactor for service resources
  aws/resource_aws_service_discovery_service_test.go
  aws/resource_aws_servicecatalog_portfolio_test.go
Labels: service/servicecatalog, service/servicediscovery, size/L, tests

#9719 Update CentOS 7's Blueprint ID to latest
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, service/lightsail, size/XS

#9977 Add created_at attribute to lightsail instance documentation
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, service/lightsail, size/XS

#9709 Remove usage of terraform.NewResourceConfig
  aws/provider_test.go
Labels: dependencies, size/XS, technical-debt, tests

#10007 Acceptance test import refactor for mediastore container resources
  aws/resource_aws_media_store_container_policy_test.go
  aws/resource_aws_media_store_container_test.go
Labels: service/mediastore, size/M, tests

#10001 Refactor import acceptance tests for s3 buckets
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/XL, tests

#10005 Acceptance test import refactor for network acls
  aws/resource_aws_network_acl_test.go
Labels: service/ec2, size/XL, tests

#9758 resource/aws_cognito_user_pool: Fix perpetual diffs on sms_verification_message
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
Labels: bug, service/cognito, size/S, tests

#10006 service/eks: Add OIDC issuer attributes to aws_eks_cluster resource and data source
  aws/data_source_aws_eks_cluster.go
  aws/data_source_aws_eks_cluster_test.go
  aws/resource_aws_eks_cluster.go
  aws/resource_aws_eks_cluster_test.go
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, enhancement, service/eks, size/M, tests

#10013 resource/aws_cloudfront_distribution: Fix `active_trusted_signers` attribute for Terraform 0.12
  aws/cloudfront_distribution_configuration_structure.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
  vendor/modules.txt
  website/docs/r/cloudfront_distribution.html.markdown
Labels: bug, dependencies, documentation, service/cloudfront, size/L, technical-debt, tests

#9926 service/kinesis: Remove LimitExceededException error retry customization
  aws/config.go
Labels: provider, service/kinesis, size/XS, technical-debt

#9941 service/elasticache: Support longer Cluster and Replication Group identifiers
  aws/resource_aws_dax_cluster.go
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
  aws/validators.go
  aws/validators_test.go
Labels: enhancement, service/dax, service/elasticache, size/XL, tests

#9892 Final retries for elasticsearch domain resources
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_elasticsearch_domain_policy.go
Labels: bug, service/elasticsearch, size/M

#10046 Fix the lightsail name validation to reflect actual minimum length
  aws/resource_aws_lightsail_instance.go
Labels: service/lightsail, size/XS

#10060 Fix lambda permission import docs
  website/docs/r/lambda_permission.html.markdown
Labels: documentation, service/lambda, size/XS

#10056 Add note about required/optional arguments to db snapshot docs
  website/docs/d/db_snapshot.html.markdown
Labels: documentation, service/rds, size/XS

#10063 Revert retry logic change that's apparently causing policy not found …
  aws/resource_aws_iam_policy_attachment.go
Labels: service/iam, size/S

#9835 Mention "serverless" for searches
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS

#9946 Update rate based rule limit for WAF
  aws/resource_aws_waf_rate_based_rule.go
  aws/resource_aws_wafregional_rate_based_rule.go
  website/docs/r/waf_rate_based_rule.html.markdown
  website/docs/r/wafregional_rate_based_rule.html.markdown
Labels: documentation, service/waf, size/XS

#10123 Revert "Update iam_policy.html.markdown"
  website/docs/r/iam_policy.html.markdown
Labels: documentation, service/iam, size/XS

#9836 Fix spot fleet request panic
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
Labels: service/ec2, size/M, tests

#9863 Final retries for ACM cert
  aws/resource_aws_acm_certificate.go
Labels: bug, service/acm, size/M

#10074 Add aws.StringValue wrapper to prevent crash on missing environment name
  aws/ecs_task_definition_equivalency.go
  aws/ecs_task_definition_equivalency_test.go
Labels: bug, crash, service/ecs, size/M, tests

#10101 Ignore lint complaints for valid fsx lustre fs tests
  aws/resource_aws_fsx_lustre_file_system_test.go
Labels: service/fsx, size/XS, tests

#10055 Add import for SSM association
  aws/resource_aws_ssm_association.go
  aws/resource_aws_ssm_association_test.go
  website/docs/r/ssm_association.html.markdown
Labels: documentation, service/ssm, size/L, tests

#10142 r/aws_globalaccelerator_endpoint_group: Fix import command on doc
  website/docs/r/globalaccelerator_endpoint_group.html.markdown
Labels: documentation, service/globalaccelerator, size/XS

#10144 refactor: use acctest.RandStringFromCharSet() instead of randomString() in resource_aws_elb_test
  aws/resource_aws_elb_test.go
Labels: service/elb, size/XS, tests

#9942 Add support for S3 Object Lock legal holds, retention modes and retention periods
  aws/data_source_aws_s3_bucket_object.go
  aws/data_source_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
  website/docs/d/s3_bucket_object.html.markdown
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, enhancement, service/s3, size/XXL, tests

#10077 Import test refactor for glue catalog resources
  aws/resource_aws_glue_catalog_database_test.go
  aws/resource_aws_glue_catalog_table_test.go
Labels: service/glue, size/XL, tests

#10102 Import test refactor for gamelift alias
  aws/resource_aws_gamelift_alias_test.go
Labels: service/gamelift, size/M, tests

#10099 Import test refactor for glacier vault
  aws/resource_aws_glacier_vault_test.go
Labels: service/glacier, size/S, tests

#10119 Import test refactor for emr security config
  aws/resource_aws_emr_security_configuration_test.go
Labels: service/emr, size/XS, tests

#10120 Import test refactor for ELBs
  aws/resource_aws_elb_test.go
Labels: service/elb, size/XL, tests

#10184 Revert "resource/aws_acm_certificate: Retry logic refactor"
  CHANGELOG.md
  aws/resource_aws_acm_certificate.go
Labels: service/acm, size/M

#10021 deps: Remove github.com/terraform-providers/terraform-provider-template
  aws/provider_test.go
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_emr_cluster_test.go
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_ssm_maintenance_window_task_test.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/terraform/helper/pathorcontents/read.go
  vendor/github.com/terraform-providers/terraform-provider-template/LICENSE
  vendor/github.com/terraform-providers/terraform-provider-template/template/datasource_cloudinit_config.go
  vendor/github.com/terraform-providers/terraform-provider-template/template/datasource_template_file.go
  vendor/github.com/terraform-providers/terraform-provider-template/template/provider.go
  vendor/github.com/terraform-providers/terraform-provider-template/template/resource_template_dir.go
  vendor/modules.txt
Labels: dependencies, service/emr, service/lambda, service/rds, service/ssm, size/XXL, technical-debt, tests

#10214 tests/resource/aws_dx_gateway: Skip when associations (likely from other regions) remain as the gateway will fail to delete
  aws/resource_aws_dx_gateway_test.go
Labels: service/directconnect, size/S, tests

#10057 Import test refactor for kinesis resources
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
  aws/resource_aws_kinesis_stream_test.go
Labels: service/firehose, service/kinesis, size/XL, tests

#10008 Acceptance test import refactor for rds cluster resources
  aws/resource_aws_rds_cluster_parameter_group_test.go
  aws/resource_aws_rds_cluster_test.go
Labels: service/rds, size/XL, tests

#9904 Refactor import testing for VPN connections
  aws/resource_aws_vpn_connection_test.go
Labels: service/ec2, size/M, tests

#9984 Acceptance test import refactor for redshift resources
  aws/resource_aws_redshift_parameter_group_test.go
  aws/resource_aws_redshift_security_group_test.go
  aws/resource_aws_redshift_subnet_group_test.go
Labels: service/redshift, size/XL, tests

#10162 Refactor: use acctest.RandStringFromCharSet() instead of randomString() in aws_iam_role_policy
  aws/resource_aws_iam_role_policy_test.go
Labels: service/iam, size/XS, technical-debt, tests

#10215 fix final backup property
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, service/fsx, size/XS

#9967 Acceptance test import refactor for r53 records
  aws/resource_aws_route53_record_test.go
Labels: service/route53, size/L, tests

#10187 fix: remove client-vpn endpoints from state when they are missing
  aws/resource_aws_ec2_client_vpn_endpoint.go
Labels: bug, service/ec2, size/XS

#10179 updated the aws_iot_thing_type documentation to include the import step
  website/docs/r/iot_thing_type.html.markdown
Labels: documentation, service/iot, size/XS

#10059 Import test refactor for IOT resources
  aws/resource_aws_iot_thing_test.go
  aws/resource_aws_iot_topic_rule_test.go
Labels: service/iot, size/L, tests

#10043 Refactor import testing for KMS resources
  aws/resource_aws_kms_alias_test.go
  aws/resource_aws_kms_key_test.go
Labels: service/kms, size/L, tests

#10073 Import test refactor for IAM resources
  aws/resource_aws_iam_account_password_policy_test.go
  aws/resource_aws_iam_group_test.go
  aws/resource_aws_iam_instance_profile_test.go
  aws/resource_aws_iam_openid_connect_provider_test.go
  aws/resource_aws_iam_role_policy_test.go
  aws/resource_aws_iam_role_test.go
  aws/resource_aws_iam_server_certificate_test.go
  aws/resource_aws_iam_user_policy_test.go
  aws/resource_aws_iam_user_test.go
Labels: service/iam, size/XL, tests

#10166 Import test refactor for elastic transcoder preset
  aws/resource_aws_elastic_transcoder_preset_test.go
Labels: service/elastic-transcoder, size/XS, tests

#10165 Fix for missing return statement
  aws/resource_aws_security_group.go
Labels: bug, service/ec2, size/XS

#10163 Add support Import for aws_sns_topic_policy resource
  aws/resource_aws_sns_topic_policy.go
  aws/resource_aws_sns_topic_policy_test.go
  website/docs/r/sns_topic_policy.html.markdown
Labels: documentation, enhancement, service/sns, size/XS, tests

#10156 add tag on create for aws_sqs_queue resource
  aws/resource_aws_sqs_queue.go
Labels: enhancement, service/sqs, size/XS

#10221 Docs - Fix presumed off-by-one
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#10133 Update LocalStack r53 reference to route53
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, size/XS

#10109 Add ip_address attribute to aws_lightsail_static_ip_attachment resource
  aws/resource_aws_lightsail_static_ip_attachment.go
Labels: enhancement, service/lightsail, size/XS

#10113 Add Sweeper for cleaning up CloudWatch Log Resource Policies
  aws/resource_aws_cloudwatch_log_resource_policy_test.go
Labels: service/cloudwatchlogs, size/S, tests

#10087 Correct match to don't-match in default_action block of web acl
  website/docs/r/waf_web_acl.html.markdown
Labels: documentation, service/waf, size/XS

#10086 Fix small typo in aws_route_table doc
  website/docs/r/route_table.html.markdown
Labels: documentation, service/ec2, size/XS

#10082 Typo in eks_cluster_auth.html.markdown
  website/docs/d/eks_cluster_auth.html.markdown
Labels: documentation, service/eks, size/XS

#10067 Fix incorrect SG doc about prefix_list_ids
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, service/ec2, size/XS

#10212 resource/aws_instance: Prevent panic when updating `credit_specification` to empty configuration block
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
Labels: bug, crash, service/ec2, size/M, tests

#10103 Use placement group in spot fleet requests when it is specified
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
Labels: bug, service/ec2, size/S, tests

#9909 Add CreateLogGroup permission to the sample of aws_iam_policy
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS

#9894 Added reference to the id attribute
  website/docs/r/cloudwatch_event_rule.html.markdown
Labels: documentation, service/cloudwatchevents, size/XS

#9759 Correct document about how to import lambda_layer_version
  website/docs/r/lambda_layer_version.html.markdown
Labels: documentation, service/lambda, size/XS

#10015 Add support for getting EndpointURL directly from ElasticBeanstalk Environment resource
  aws/resource_aws_elastic_beanstalk_environment.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
  website/docs/r/elastic_beanstalk_environment.html.markdown
Labels: documentation, enhancement, service/elasticbeanstalk, size/XS, tests

#9344 Update security_group.html.markdown
  website/docs/r/security_group.html.markdown
Labels: documentation, service/ec2, size/XS

#10106 test/resource/aws_s3_bucket: Add EMR bootstrap prefix to sweeper list
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/XS, tests

#8587 r/appsync_graphql_api: support additional_authentication_providers
  aws/resource_aws_appsync_graphql_api.go
  aws/resource_aws_appsync_graphql_api_test.go
  website/docs/r/appsync_graphql_api.html.markdown
Labels: documentation, enhancement, service/appsync, size/XL, tests

#9570 provider: Use real Terraform version in UA header
  aws/config.go
  aws/provider.go
Labels: enhancement, provider, size/XS

#10245 provider: Add -count 1 to testacc Makefile target to prevent issues with Go test caching
  GNUmakefile
Labels: provider, size/XS, technical-debt, tests

#10246 resource/aws_opsworks_stack: Switch legacy Opsworks client User-Agent to real Terraform version
  aws/config.go
  aws/resource_aws_opsworks_stack.go
Labels: provider, service/opsworks, size/XS, technical-debt

#10244 resource/aws_cloudfront_distribution: Migrate flatmap package internally for now, add test covering existing active_trusted_signers behavior
  aws/cloudfront_distribution_configuration_structure.go
  aws/internal/flatmap/README.md
  aws/internal/flatmap/flatten.go
  aws/internal/flatmap/flatten_test.go
  aws/internal/flatmap/map.go
  aws/internal/flatmap/map_test.go
  aws/resource_aws_cloudfront_distribution_test.go
Labels: service/cloudfront, size/XL, technical-debt, tests

#10240 tests/provider: Remove gogetcookie.sh as Go 1.13 uses proxy by default
  .travis.yml
  scripts/gogetcookie.sh
Labels: size/XS, technical-debt, tests

#10242 service/waf: Only wrap errors returned by GetChangeToken in RetryWithToken
  aws/waf_token_handlers.go
  aws/wafregionl_token_handlers.go
Labels: bug, service/waf, size/XS

#10024 provider: Implement replacement functions for tls_private_key and tls_self_signed_certificate test configuration resources
  aws/data_source_aws_acm_certificate_test.go
  aws/tls.go
  aws/tls_test.go
Labels: service/acm, size/M, tests

#10254 resource_aws_efs_filesystem: create tags when resource is created
  aws/resource_aws_efs_file_system.go
Labels: enhancement, service/efs, size/XS

#7627 DNS resolution for inter-region vpc peering
  .github/CONTRIBUTING.md
  aws/provider_test.go
  aws/resource_aws_vpc_peering_connection.go
  aws/resource_aws_vpc_peering_connection_accepter_test.go
  aws/resource_aws_vpc_peering_connection_options.go
  aws/resource_aws_vpc_peering_connection_options_test.go
  aws/resource_aws_vpc_peering_connection_test.go
  aws/structure.go
  website/docs/r/vpc_peering_options.html.markdown
Labels: bug, documentation, service/ec2, size/XXL, tests

#10276 resource/aws_mq_broker: Add encryption_options configuration block (support AWS and customer managed KMS CMKs)
  aws/data_source_aws_mq_broker.go
  aws/data_source_aws_mq_broker_test.go
  aws/resource_aws_mq_broker.go
  aws/resource_aws_mq_broker_test.go
  website/docs/r/mq_broker.html.markdown
Labels: documentation, enhancement, service/mq, size/L, tests

#10249 small documentation fix
  website/docs/r/api_gateway_gateway_response.markdown
Labels: documentation, service/apigateway, size/XS

#10266 deps: Override renovate semanticCommits auto-detection by always disabling
  renovate.json
Labels: dependencies, size/XS

#10238 Refactor: use acctest.RandStringFromCharSet() instead of randomString in resource_aws_redshift_cluster_test
  aws/resource_aws_redshift_cluster_test.go
Labels: service/redshift, size/XS, technical-debt, tests

#10018 internal/keyvaluetags: New Go package for consistently managing resource tags
  GNUmakefile
  aws/internal/keyvaluetags/README.md
  aws/internal/keyvaluetags/generators/listtags/README.md
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/README.md
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/README.md
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/service_tags_gen_test.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_athena_workgroup.go
  aws/tagsAthena.go
  aws/tagsAthena_test.go
Labels: provider, size/XXL, technical-debt, tests

#10216 resource/aws_wafregional_web_acl_association: Ensure missing resource triggers state removal
  aws/resource_aws_wafregional_web_acl_association.go
  aws/resource_aws_wafregional_web_acl_association_test.go
Labels: bug, service/waf, size/S, tests

#10260 tests/data-source/aws_lb_listener: Use internal implementation for TLS key/certificate
  aws/data_source_aws_lb_listener_test.go
Labels: service/elbv2, size/S, tests

#10284 tests/resource/aws_acm_certificate: Use internal implementation for TLS key/certificate
  aws/resource_aws_acm_certificate_test.go
Labels: service/acm, size/M, tests

#10285 tests/resource/aws_cloudfront_distribution: Use internal implementation for TLS key/certificate
  aws/provider_test.go
  aws/resource_aws_cloudfront_distribution_test.go
Labels: service/cloudfront, size/S, tests

#10286 tests/resource/aws_ec2_client_vpn_endpoint: Use internal implementation for TLS key/certificate
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
Labels: service/ec2, size/L, tests

#10287 tests/resource/aws_ec2_client_vpn_network_association: Use internal implementation for TLS key/certificate
  aws/resource_aws_ec2_client_vpn_network_association_test.go
Labels: service/ec2, size/S, tests

#10289 tests/resource/aws_elb: Use internal implementation for TLS key/certificate
  aws/resource_aws_elb_test.go
Labels: service/elb, size/S, tests

#10291 tests/resource/aws_load_balancer_backend_server_policy: Use internal implementation for TLS key/certificate
  aws/resource_aws_load_balancer_backend_server_policy_test.go
  aws/tls.go
  aws/tls_test.go
Labels: service/elb, size/L, tests

#10292 provider: Ensure aws_load_balancer* pull request files are labeled with service/elb
  .hashibot.hcl
Labels: provider, size/XS, technical-debt

#10293 tests/resource/aws_ebs_snapshot_copy: Refactoring to remove inconsistent ProviderFactories usage and make region agnostic
  aws/resource_aws_ebs_snapshot_copy_test.go
Labels: service/ec2, size/L, tests

#10294 resource/aws_lb_listener_certificate: Retry CertificateNotFound errors on creation, use internal implementation for test TLS key/certificate
  aws/resource_aws_lb_listener_certificate.go
  aws/resource_aws_lb_listener_certificate_test.go
Labels: bug, service/elbv2, size/L, tests

#10299 tests/resource/aws_lb_ssl_negotiation_policy: Use internal implementation for TLS key/certificate
  aws/resource_aws_lb_ssl_negotiation_policy_test.go
Labels: service/elb, size/M, tests

#10311 Add link to Lambda APIGW guide
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS
