Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-04, with the labels that each got.

#8138 Docs: Change datasource to data_source in argument refernce to match actual argument
  website/docs/r/appsync_resolver.html.markdown
Labels: documentation, service/appsync, size/XS

#8130 Bump AWS SDK to v1.19.6
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/awsutil/equal.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatch/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatch/errors.go
  vendor/github.com/aws/aws-sdk-go/service/medialive/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicecatalog/api.go
  vendor/github.com/aws/aws-sdk-go/service/workspaces/api.go
  vendor/github.com/aws/aws-sdk-go/service/workspaces/errors.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#8116 resource/aws_cloudfront_distribution: Add wait_for_deployment argument
  aws/import_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_migrate.go
  aws/resource_aws_cloudfront_distribution_migrate_test.go
  aws/resource_aws_cloudfront_distribution_test.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, enhancement, service/cloudfront, size/XL, tests

#8092 docs/provider: Split out endpoint customization into a new Custom Service Endpoints Guide
  website/aws.erb
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/index.html.markdown
Labels: documentation, provider, size/L

#8145 6886 doc update - token attribute
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#8148 provider: Add QuickSight client
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/quicksight/api.go
  vendor/github.com/aws/aws-sdk-go/service/quicksight/doc.go
  vendor/github.com/aws/aws-sdk-go/service/quicksight/errors.go
  vendor/github.com/aws/aws-sdk-go/service/quicksight/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, enhancement, provider, size/XXL

#7366 Add new feature for resoure acmpca_certificate_authority
  aws/resource_aws_acmpca_certificate_authority.go
  aws/resource_aws_acmpca_certificate_authority_test.go
  website/docs/r/acmpca_certificate_authority.html.markdown
Labels: documentation, enhancement, service/acmpca, size/S, tests

#8160 website/docs/r/emr_cluster: Update documentation for bid_price
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, service/emr, size/XS

#8142 Fix $Latest typo
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#8159 tests/data-source/aws_acmpca_certificate_authority: Add new permanent_deletion_time_in_days = 7 argument to test resources and handle additional error for non-existent testing
  aws/data_source_aws_acmpca_certificate_authority_test.go
Labels: service/acmpca, size/XS, tests

#8172 Update to CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: size/L

#8176 fixes formatting on code example
  .github/CONTRIBUTING.md
Labels: size/S

#8178 deps: github.com/hashicorp/terraform@44702fa6c163391fe7295b6004a06cefe150daa0
  go.mod
  go.sum
  vendor/github.com/hashicorp/terraform/config/module/storage.go
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/modules.txt
Labels: dependencies, provider, size/M

#8184 Remove dependency declaration
  website/docs/r/spot_fleet_request.html.markdown
Labels: documentation, service/ec2, size/XS

#8183 Fix indentation in cloudwatch_metric_alarm documentation
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, service/cloudwatch, size/XS

#8182 Default route table computed routes
  aws/resource_aws_default_route_table.go
  aws/resource_aws_default_route_table_test.go
Labels: service/ec2, size/M, terraform-0.12, tests

#8179 resource/aws_network_acl: Set SchemaConfigModeAttr on egress and ingress configuration block attributes
  aws/resource_aws_network_acl.go
  aws/resource_aws_network_acl_test.go
Labels: service/ec2, size/L, technical-debt, terraform-0.12, tests

#8171 tests/service/rds: Add sweepers for aws_rds_cluster and aws_rds_global_cluster resources
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  aws/resource_aws_rds_global_cluster_test.go
Labels: service/rds, size/L, tests

#8177 Update codepipeline.markdown
  website/docs/r/codepipeline.markdown
Labels: documentation, service/codepipeline, size/XS

#8150 resource/aws_cloudfront_distribution: Ignore attribute ordering of cache behavior forwarded values `headers` and cookies `whitelisted_names` arguments
  aws/cloudfront_distribution_configuration_structure.go
  aws/cloudfront_distribution_configuration_structure_test.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
Labels: bug, service/cloudfront, size/XL, tests

#8191 tests/resource/aws_codebuild_project: Add test covering environment variable removal
  aws/resource_aws_codebuild_project_test.go
Labels: service/codebuild, size/M, technical-debt, tests

#8190 Add err object to return when err is not nil
  aws/tagsCloudWatchEvent.go
Labels: service/cloudwatchevents, size/XS, technical-debt

#8198 ECR repository tag-on-create
  aws/resource_aws_ecr_repository.go
Labels: enhancement, service/ecr, size/XS

#8165 Add Import Support for aws_cloudwatch_log_subscription_filter
  aws/resource_aws_cloudwatch_log_subscription_filter.go
  aws/resource_aws_cloudwatch_log_subscription_filter_test.go
  website/docs/r/cloudwatch_log_subscription_filter.html.markdown
Labels: documentation, enhancement, service/cloudwatchlogs, size/S, tests

#8200 website: Link to docs for "attribute-as-blocks mode"
  website/docs/r/default_route_table.html.markdown
  website/docs/r/network_acl.html.markdown
Labels: documentation, service/ec2, size/XS, terraform-0.12

#8168 Add support for resource tags aws cloudwatch metric alarm
  aws/resource_aws_cloudwatch_metric_alarm.go
  aws/resource_aws_cloudwatch_metric_alarm_test.go
  aws/tagsCloudWatch.go
  aws/tagsCloudWatch_test.go
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, enhancement, service/cloudwatch, size/XL, tests

#8155 tests/resource/aws_ec2_client_vpn_endpoint: Add sweeper
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
  aws/resource_aws_subnet_test.go
Labels: service/ec2, size/M, tests

#8161 service/ec2: Automatically retry EC2 CreateVpnConnection and CreateVpnGateway requests for concurrency errors
  aws/config.go
Labels: enhancement, provider, service/ec2, size/XS, tests

#8187 resource/aws_security_group: Set SchemaConfigModeAttr on egress and ingress configuration block attributes
  aws/resource_aws_security_group.go
  aws/resource_aws_security_group_test.go
  website/docs/r/security_group.html.markdown
Labels: documentation, service/ec2, size/L, technical-debt, terraform-0.12, tests

#8194 resource/aws_route_table: Set SchemaConfigModeAttr on route configuration block attributes
  aws/resource_aws_route_table.go
  aws/resource_aws_route_table_test.go
  website/docs/r/route_table.html.markdown
Labels: documentation, service/ec2, size/M, technical-debt, terraform-0.12, tests

#2479 New Resource: aws_sagemaker_endpoint
  aws/resource_aws_sagemaker_endpoint.go
  aws/resource_aws_sagemaker_endpoint_configuration_test.go
  aws/resource_aws_sagemaker_endpoint_test.go
  aws/resource_aws_sagemaker_model.go
  website/docs/r/sagemaker_endpoint.html.markdown
Labels: documentation, new-resource, provider, service/sagemaker, size/XL, tests

#7585 New resource: aws_sagemaker_lifecycle_config
  aws/provider.go
  aws/resource_aws_sagemaker_notebook_instance_lifecycle_configuration.go
  aws/resource_aws_sagemaker_notebook_instance_lifecycle_configuration_test.go
  website/aws.erb
  website/docs/r/sagemaker_lifecycle_config.html.markdown
Labels: documentation, new-resource, provider, service/sagemaker, size/XXL, tests

#8205 r/launch_template.html.markdown: fix indent
  website/docs/r/launch_template.html.markdown
Labels: documentation, service/ec2, size/XS

#8196 Bump AWS SDK to v1.19.10
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/acm/api.go
  vendor/github.com/aws/aws-sdk-go/service/acm/errors.go
  vendor/github.com/aws/aws-sdk-go/service/batch/api.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/eks/api.go
  vendor/github.com/aws/aws-sdk-go/service/emr/api.go
  vendor/github.com/aws/aws-sdk-go/service/iam/api.go
  vendor/github.com/aws/aws-sdk-go/service/iam/doc.go
  vendor/github.com/aws/aws-sdk-go/service/iam/errors.go
  vendor/github.com/aws/aws-sdk-go/service/securityhub/api.go
  vendor/github.com/aws/aws-sdk-go/service/securityhub/doc.go
  vendor/github.com/aws/aws-sdk-go/service/securityhub/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#8212 Reflect actual argument names for aws_backup_selection in docs
  website/docs/r/backup_selection.html.markdown
Labels: documentation, service/backup, size/XS

#8207 Change configuration_name to endpoint_config_name
  website/docs/r/sagemaker_endpoint.html.markdown
Labels: documentation, service/sagemaker, size/XS

#8174 Fixes #8173
  aws/resource_aws_glue_catalog_table.go
  aws/resource_aws_glue_catalog_table_test.go
Labels: bug, service/glue, size/S, tests

#8213 d/aws_lb_target_group: Add missing schema attributes
  aws/data_source_aws_lb_target_group.go
Labels: bug, regression, service/elbv2, size/XS

#8227 Fix production_variants spelling in sagemaker-endpoint-configuration docs
  website/docs/r/sagemaker_endpoint_configuration.html.markdown
Labels: documentation, service/sagemaker, size/XS

#8246 Corrected ec2_transit_gateway example usage by filter
  website/docs/d/ec2_transit_gateway.html.markdown
Labels: documentation, service/ec2, size/XS

#8237 dlm_lifecycle_policy.markdown - added newer intervals
  website/docs/r/dlm_lifecycle_policy.markdown
Labels: documentation, service/dlm, size/XS

#6976 Add import support for aws_iam_user_group_membership resource
  aws/resource_aws_iam_user_group_membership.go
  aws/resource_aws_iam_user_group_membership_test.go
  website/docs/r/iam_user_group_membership.html.markdown
Labels: documentation, enhancement, service/iam, size/M, tests

#8224 website: Update nav sidebar to take advantage of new terraform.io features
  website/aws.erb
Labels: documentation, provider, size/XXL

#8229 remove duplicate line from doc about contributing only one resource at a time
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#8251 docs/provider: Sidebar updates for ordering and clarity
  website/aws.erb
Labels: documentation, provider, size/XL

#8216 Added support for EKS control plane logging
  aws/resource_aws_eks_cluster.go
  aws/resource_aws_eks_cluster_test.go
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, enhancement, service/eks, size/L, tests

#8228 resource/aws_emr_cluster: Set SchemaConfigModeAttr on step configuration block attribute
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_cluster_test.go
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, service/emr, size/M, technical-debt, terraform-0.12, tests

#8247 resource/aws_launch_template: Add elastic_inference_accelerator configuration block
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/r/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#8226 provider: Prevent panic when setting endpoints configuration
  aws/config.go
  aws/provider.go
  aws/provider_test.go
Labels: bug, crash, provider, regression, size/L, tests

#8273 Retry app autoscaling policy create/update on ObjectNotFound error
  aws/resource_aws_appautoscaling_policy.go
Labels: bug, service/applicationautoscaling, size/XS

#8270 make iam_role_arn more explanatory
  website/docs/r/backup_selection.html.markdown
Labels: documentation, service/backup, size/XS, waiting-response

#8219 service/secretsmanager: Handle additional scheduled/marked for deletion error messages
  aws/resource_aws_secretsmanager_secret.go
  aws/resource_aws_secretsmanager_secret_version_test.go
Labels: service/secretsmanager, size/XS, tests

#8274 resource/aws_route53_record: Remove deprecation from `allow_overwrite` argument
  aws/resource_aws_route53_record.go
  website/docs/guides/version-2-upgrade.html.md
  website/docs/r/route53_record.html.markdown
Labels: documentation, service/route53, size/XS, technical-debt

#8218 tests/resource/aws_swf_domain: Add environment variable PreCheck
  aws/resource_aws_swf_domain_test.go
Labels: service/swf, size/XS, tests

#8221 tests/resource/aws_codebuild_project: Provide S3 source type testing a real bucket and object
  aws/resource_aws_codebuild_project_test.go
Labels: service/codebuild, size/XS, tests

#8264 Formatting fixes for backup_plan and backup_vault examples
  website/docs/r/backup_plan.html.markdown
  website/docs/r/backup_vault.html.markdown
Labels: documentation, service/backup, size/XS

#8236 resource/aws_backup_plan: Prevent the sending of empty lifecycle attributes
  aws/resource_aws_backup_plan.go
  aws/resource_aws_backup_plan_test.go
  website/docs/r/backup_plan.html.markdown
Labels: bug, documentation, service/backup, size/M, tests

#8241 #7441 redshift resource create/update/delete timeouts
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_redshift_cluster_test.go
  website/docs/r/redshift_cluster.html.markdown
Labels: documentation, enhancement, service/redshift, size/XS, tests

#7205 [wafregional_web_acl] Add support for ApiGateway
  aws/resource_aws_wafregional_web_acl_association.go
Labels: enhancement, service/waf, size/S, waiting-response

#8119 AWS App Mesh GA additions
  aws/resource_aws_appmesh_mesh.go
  aws/resource_aws_appmesh_mesh_test.go
  aws/resource_aws_appmesh_route.go
  aws/resource_aws_appmesh_route_test.go
  aws/resource_aws_appmesh_test.go
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_node_test.go
  aws/structure.go
  website/docs/r/appmesh_mesh.html.markdown
  website/docs/r/appmesh_route.html.markdown
  website/docs/r/appmesh_virtual_node.html.markdown
  website/docs/r/appmesh_virtual_router.html.markdown
Labels: documentation, enhancement, service/appmesh, size/XXL, tests

#8121 Add support Private Link setting for AWS Tranfer for SFTP Service
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_server_test.go
  website/docs/r/transfer_server.html.markdown
Labels: documentation, enhancement, service/transfer, size/L, tests

#8276 Minor grammar
  website/docs/r/vpc.html.markdown
Labels: documentation, service/ec2, size/XS

#7459 Add support aws worklink website certificate authority association resource
  aws/provider.go
  aws/resource_aws_worklink_website_certificate_authority_association.go
  aws/resource_aws_worklink_website_certificate_authority_association_test.go
  aws/test-fixtures/worklink-website-certificate-authority-association.pem
  website/aws.erb
  website/docs/r/worklink_website_certificate_authority_association.html.markdown
Labels: documentation, new-resource, provider, service/worklink, size/XL, tests

#7943 Enable Staticcheck SA9003
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
  staticcheck.conf
Labels: service/ec2, size/XXL, technical-debt, tests, waiting-response

#8277 docs/provider/CONTRIBUTING: New Sections for Cross-Account Tests, Acceptance Test Guidelines, and New Service
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/L

#8278 Add kinesis video service modules
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/kinesisvideo/api.go
  vendor/github.com/aws/aws-sdk-go/service/kinesisvideo/doc.go
  vendor/github.com/aws/aws-sdk-go/service/kinesisvideo/errors.go
  vendor/github.com/aws/aws-sdk-go/service/kinesisvideo/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#8286 tests/provider: Enable staticcheck SA5007 check
  aws/resource_aws_kms_grant.go
  staticcheck.conf
Labels: provider, service/kms, size/XS, technical-debt, tests

#8321 tests/data-source/aws_vpc_endpoint_service: Add us-west-2d Availability Zone to gateway test
  aws/data_source_aws_vpc_endpoint_service_test.go
Labels: service/ec2, size/XS, tests

#8325 tests/service/wafregional: Add test sweepers for Rate-Based Rules, Rules, and Web ACLs
  aws/resource_aws_wafregional_rate_based_rule_test.go
  aws/resource_aws_wafregional_rule_test.go
  aws/resource_aws_wafregional_web_acl_test.go
Labels: service/waf, size/XL, tests

#8329 Mistake in the code example
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, service/emr, size/XS

#8319 Add Contributing section to README
  README.md
Labels: size/XS

#8323 tests/resource/aws_route_table: Run ImportStateVerify testing in all acceptance tests
  aws/import_aws_route_table_test.go
  aws/resource_aws_route_table_test.go
Labels: service/ec2, size/L, tests

#8335 tests/resource/aws_ami: Add manage_ebs_snapshots virtual attribute to ImportStateVerifyIgnore list
  aws/resource_aws_ami_test.go
Labels: service/ec2, size/XS, technical-debt, terraform-0.12, tests

#8336 docs/resource/aws_ram_principal_association: fix small typo in import example
  website/docs/r/ram_principal_association.markdown
Labels: documentation, service/ram, size/XS

#8337 tests/resource/aws_neptune_cluster: Add apply_immediately virtual attribute to ImportStateVerifyIgnore list
  aws/resource_aws_neptune_cluster_test.go
Labels: service/neptune, size/M, terraform-0.12, tests

#8340 tests/resource/aws_docdb_cluster_instance: Add apply_immediately virtual attribute to ImportStateVerifyIgnore list
  aws/resource_aws_docdb_cluster_instance_test.go
Labels: service/docdb, size/XS, technical-debt, terraform-0.12, tests

#8338 tests/resource/aws_db_instance: Add all virtual attributes to ImportStateVerifyIgnore list
  aws/resource_aws_db_instance_test.go
Labels: service/rds, size/S, technical-debt, terraform-0.12, tests

#8346 tests/resource/aws_cloudformation_stack_set: Allow both Terraform 0.11 and 0.12 error messages for ExpectError testing
  aws/resource_aws_cloudformation_stack_set_test.go
Labels: service/cloudformation, size/XS, tests

#8334 docs/resource/aws_elasticsearch_domain: Add missing equals sign for advanced_options in example
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, service/elasticsearch, size/XS, terraform-0.12

#8354 tests/resource/aws_elasticache_cluster: Add apply_immediately virtual attribute to ImportStateVerifyIgnore list
  aws/resource_aws_elasticache_cluster_test.go
Labels: service/elasticache, size/XS, technical-debt, terraform-0.12, tests

#8359 resource/aws_instance: Always refresh associate_public_ip_address and ipv6_address_count into Terraform state
  aws/resource_aws_instance.go
Labels: bug, service/ec2, size/XS

#8345 tests/resource/aws_rds_cluster_instance: Add virtual attributes to ImportStateVerifyIgnore list
  aws/resource_aws_rds_cluster_instance_test.go
Labels: service/rds, size/M, technical-debt, tests

#8348 tests/resource/aws_emr_cluster: Use configuration block syntax for instance_group name argument test configuration
  aws/resource_aws_emr_cluster_test.go
Labels: service/emr, size/M, tests

#8347 tests/resource/aws_redshift_cluster: Add enable_logging removed attribute to ImportStateVerifyIgnore list
  aws/resource_aws_redshift_cluster_test.go
Labels: service/redshift, size/M, technical-debt, tests

#8339 tests/resource/aws_docdb_cluster: Add apply_immediately virtual attribute to ImportStateVerifyIgnore list
  aws/resource_aws_docdb_cluster_test.go
Labels: service/docdb, size/XS, technical-debt, terraform-0.12, tests

#8362 tests/resource/aws_backup_plan: Add missing equals sign for tags configuration
  aws/resource_aws_backup_plan_test.go
Labels: service/backup, size/XS, tests

#8361 tests/resource/aws_route53_resolver_rule_association: Ensure tags configurations use equals in testing
  aws/resource_aws_route53_resolver_rule_association_test.go
Labels: service/route53resolver, size/XS, tests

#8343 resource/aws_ebs_volume: Always set all attributes in Terraform state, suppress difference for iops = 0 with non-io1 type
  aws/resource_aws_ebs_volume.go
  aws/resource_aws_ebs_volume_test.go
Labels: service/ec2, size/M, technical-debt, tests

#8364 resource/aws_iot_thing_type: Ensure properties configuration block is always present in state
  aws/resource_aws_iot_thing_type.go
  aws/resource_aws_iot_thing_type_test.go
  aws/structure.go
Labels: service/iot, size/S, technical-debt, tests

#8360 resource/aws_sqs_queue: Always refresh all attributes into Terraform state, add import testing to all tests
  aws/resource_aws_sqs_queue.go
  aws/resource_aws_sqs_queue_test.go
Labels: service/sqs, size/XL, technical-debt, tests

#8374 Docs: Fix list in rds_cluster_parameter_group
  website/docs/r/rds_cluster_parameter_group.markdown
Labels: documentation, service/rds, size/XS

#8375 Docs: Remove outdated list of Aurora instance classes
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, service/rds, size/XS

#8358 Fix transposed word order
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, service/rds, size/XS

#8406 docfix: add the CAPABILITY_AUTO_EXPAND option to docs
  website/docs/r/cloudformation_stack.html.markdown
Labels: documentation, service/cloudformation, size/XS

#8382 values takes list
  website/docs/d/subnet.html.markdown
Labels: documentation, service/ec2, size/XS

#8365 [docs] cloudwatch_metric_alarm
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, service/cloudwatch, size/XS

#8416 Correcting spelling error: interence -> inference
  website/docs/r/launch_template.html.markdown
Labels: documentation, service/ec2, size/XS

#8411 Fix reference to account-level ACL block
  website/docs/r/s3_bucket_public_access_block.html.markdown
Labels: documentation, service/s3, size/XS

#8304 Bug - Fix regex for aws_transfer_user
  aws/resource_aws_transfer_user_test.go
  aws/validators.go
Labels: enhancement, service/transfer, size/M, tests

#8428 Increase EMR Cluster deletion timeout to 20 minutes
  aws/resource_aws_emr_cluster.go
Labels: bug, service/emr, size/XS

#8427 Remove old version details in favor of docs link
  website/docs/r/mq_broker.html.markdown
Labels: documentation, service/mq, size/XS

#8324 tests/resource/aws_ssm_document: Add missing owners argument and fix deprecation in automation test
  aws/resource_aws_ssm_document_test.go
Labels: service/ssm, size/XS, tests

#8282 resource/aws_lb: Enable NLB access logs, remove Computed from access_logs attributes, properly read subnet_mappings
  aws/resource_aws_lb.go
  aws/resource_aws_lb_test.go
  website/docs/r/lb.html.markdown
Labels: bug, documentation, enhancement, service/elbv2, size/XL, tests

#8320 service/directconnect: First half of support for Gateway Association Proposals
  aws/data_source_aws_dx_gateway.go
  aws/data_source_aws_dx_gateway_test.go
  aws/provider.go
  aws/resource_aws_dx_gateway.go
  aws/resource_aws_dx_gateway_association_proposal.go
  aws/resource_aws_dx_gateway_association_proposal_test.go
  aws/resource_aws_dx_gateway_test.go
  website/aws.erb
  website/docs/d/dx_gateway.html.markdown
  website/docs/r/dx_gateway.html.markdown
  website/docs/r/dx_gateway_association.html.markdown
  website/docs/r/dx_gateway_association_proposal.html.markdown
Labels: documentation, enhancement, new-resource, provider, service/directconnect, size/XL, tests

#8402 r/aws_eks_cluster: Migrate 'enabled_cluster_log_types' from list to set
  aws/data_source_aws_eks_cluster.go
  aws/data_source_aws_eks_cluster_test.go
  aws/resource_aws_eks_cluster.go
  aws/resource_aws_eks_cluster_test.go
  website/docs/d/eks_cluster.html.markdown
Labels: bug, documentation, service/eks, size/M, tests

#8437 add new ap-east-1 region
  aws/data_source_aws_cloudtrail_service_account.go
  aws/data_source_aws_elb_hosted_zone_id.go
  aws/data_source_aws_elb_service_account.go
  aws/data_source_aws_redshift_service_account.go
  aws/hosted_zones.go
Labels: enhancement, service/cloudtrail, service/elb, service/redshift, service/s3, size/XS

#8330 tests/resource/aws_db_subnet_group: Add sweeper
  aws/resource_aws_db_subnet_group_test.go
  aws/resource_aws_subnet_test.go
Labels: service/ec2, service/rds, size/S, tests

#8322 tests/resource/aws_neptunce_cluster_instance: Add missing third availability zone from cluster configuration
  aws/resource_aws_neptune_cluster_instance_test.go
Labels: service/neptune, size/XS, tests

#8314 tests/resource/aws_cloudfront_distribution: Remove extraneous aliases configurations and create aliased us-east-1 provider configuration
  aws/provider_test.go
  aws/resource_aws_cloudfront_distribution_test.go
Labels: service/cloudfront, size/S, tests

#8292 tests/provider: Enable staticcheck S1034 check
  aws/iam_policy_model.go
  aws/resource_aws_iam_server_certificate.go
  aws/resource_aws_instance.go
  aws/resource_aws_key_pair.go
  aws/resource_aws_launch_configuration.go
  aws/resource_aws_opsworks_application.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_security_group.go
  aws/resource_aws_spot_fleet_request.go
  staticcheck.conf
Labels: provider, service/autoscaling, service/ec2, service/iam, service/opsworks, service/s3, size/S, technical-debt, tests

#6721 resource/aws_vpc: Set ipv6_association_id and ipv6_cidr_block attributes as updated for assign_generated_ipv6_cidr_block updates
  aws/resource_aws_network_acl_rule_test.go
  aws/resource_aws_vpc.go
Labels: bug, service/ec2, size/M, terraform-0.12, tests

#8353 resource/aws_network_interface: Refresh private_ips_count into Terraform state and allow updates from 0 to greater than 0
  aws/resource_aws_network_interface.go
  aws/resource_aws_network_interface_test.go
Labels: bug, service/ec2, size/L, tests

#8453 deps: Revert github.com/kubernetes-sigs/aws-iam-authenticator@v0.4.0
  aws/data_source_aws_eks_cluster_auth.go
  go.mod
  go.sum
  vendor/github.com/gofrs/flock/.gitignore
  vendor/github.com/gofrs/flock/.travis.yml
  vendor/github.com/gofrs/flock/LICENSE
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/appveyor.yml
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/gofrs/flock/flock_winapi.go
  vendor/github.com/gofrs/flock/flock_windows.go
  vendor/github.com/kubernetes-sigs/aws-iam-authenticator/pkg/token/filecache.go
  vendor/github.com/kubernetes-sigs/aws-iam-authenticator/pkg/token/token.go
  vendor/modules.txt
Labels: dependencies, service/eks, size/XXL

#8477 docs/r/dx_gateway_association: Fix broken resource links
  website/docs/r/dx_gateway_association.html.markdown
  website/docs/r/dx_gateway_association_proposal.html.markdown
Labels: documentation, service/directconnect, size/XS

#8423 docs/resource/aws_guardduty_member: Cross-link aws_guardduty_invite_accepter resource
  website/docs/r/guardduty_member.html.markdown
Labels: documentation, service/guardduty, size/XS
