Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-03, with the labels that each got.

#6574 Add Route 53 Resolver endpoint resource
  aws/provider.go
  aws/resource_aws_route53_resolver_endpoint.go
  aws/resource_aws_route53_resolver_endpoint_test.go
  aws/resource_aws_subnet_test.go
  aws/structure.go
  aws/tagsRoute53Resolver.go
  aws/tagsRoute53Resolver_test.go
  aws/validators.go
  aws/validators_test.go
  website/aws.erb
  website/docs/r/route53_resolver_endpoint.html.markdown
Labels: documentation, new-resource, provider, service/ec2, service/route53, size/XXL, tests

#7392 Staticcheck SA4006
  aws/resource_aws_api_gateway_usage_plan.go
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_route.go
  staticcheck.conf
Labels: service/apigateway, service/ec2, service/efs, size/XS, technical-debt, waiting-response

#7788 Fixes Staticcheck S1020
  aws/resource_aws_kms_grant.go
  staticcheck.conf
Labels: service/kms, size/XS

#7634 resource/aws_ram_resource_share: Add arn attribute
  aws/resource_aws_ram_resource_share.go
  aws/resource_aws_ram_resource_share_test.go
  website/docs/r/ram_principal_association.markdown
  website/docs/r/ram_resource_association.html.markdown
  website/docs/r/ram_resource_share.markdown
Labels: documentation, enhancement, service/ram, size/XS, tests

#7635 data-source/aws_redshift_service_account: Add us-gov-east-1 and us-gov-west-1 region mappings
  aws/data_source_aws_redshift_service_account.go
Labels: enhancement, partition/aws-us-gov, service/redshift, size/XS

#7648 resource/aws_lb_target_group: Add lambda_multi_value_headers_enabled argument
  aws/data_source_aws_lb_target_group.go
  aws/resource_aws_alb_target_group_test.go
  aws/resource_aws_lb_target_group.go
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, enhancement, service/elbv2, size/M, tests

#7751 Add new intervals to dlm
  aws/resource_aws_dlm_lifecycle_policy.go
Labels: enhancement, service/dlm, size/XS

#7790 resource/aws_ecs_service: Ensure placement_strategy removal in version 2.0.0 does not force recreation
  aws/resource_aws_ecs_service.go
Labels: bug, service/ecs, size/XS

#7660 Fix crawler to use update instead of create
  aws/resource_aws_glue_crawler.go
Labels: bug, service/glue, size/S

#7731 Convert text/template Usage to fmt.Sprintf()
  aws/resource_aws_budgets_budget_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: service/budgets, service/s3, size/L, technical-debt, tests

#7738 Add engine_version to modify option at restore from snapshot step
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
Labels: bug, service/rds, size/M, tests

#7798 provider: Remove direct dependency on github.com/davecgh/go-spew
  aws/data_source_aws_ebs_volume.go
  aws/resource_aws_autoscaling_policy_test.go
  go.mod
  go.sum
  vendor/github.com/davecgh/go-spew/LICENSE
  vendor/github.com/davecgh/go-spew/spew/bypass.go
  vendor/github.com/davecgh/go-spew/spew/bypasssafe.go
  vendor/github.com/davecgh/go-spew/spew/common.go
  vendor/github.com/davecgh/go-spew/spew/dump.go
  vendor/github.com/davecgh/go-spew/spew/format.go
  vendor/modules.txt
Labels: dependencies, provider, service/autoscaling, service/ec2, size/L, technical-debt, tests

#7797 tests/provider: Update to Go 1.12
  .travis.yml
  README.md
  aws/resource_aws_cloudwatch_event_permission.go
Labels: service/cloudwatchevents, size/S, tests

#7791 Fix aws_s3_bucket_notification without filters
  aws/resource_aws_s3_bucket_notification.go
Labels: bug, crash, service/s3, size/XS

#7778 Add length validation for s3 bucket and bucket_prefix
  aws/resource_aws_s3_bucket.go
Labels: enhancement, service/s3, size/XS

#7794 resource/aws_cloudfront_distribution: Remove `viewer_certificate` configuration block argument `ConflictsWith` usage and fix various related issues with deployment timing
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
Labels: bug, service/cloudfront, size/XL, tests

#7804 resource/aws_guardduty_detector: Clarify finding_publishing_frequency usage for member accounts
  aws/resource_aws_guardduty_detector.go
  website/docs/r/guardduty_detector.html.markdown
Labels: bug, documentation, service/guardduty, size/XS

#7808 Add attribute constraints requirement to Cognito User Pool documentation
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, size/XS

#3960 resource/aws_dynamodb_table: Fix DynamoDB TTL state detection
  aws/data_source_aws_dynamodb_table_test.go
  aws/diff_suppress_funcs.go
  aws/resource_aws_dynamodb_table.go
Labels: bug, service/dynamodb, size/M, waiting-response

#7814 docs/resource/aws_eks_cluster: Clarify version argument handling
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, service/eks, size/XS

#7809 resource/aws_cloudfront_distribution: Allow final creation and update timeout retry for AWS Go SDK retries
  aws/resource_aws_cloudfront_distribution.go
Labels: bug, service/cloudfront, size/S

#7815 docs/data-source/aws_kms_secret: Restore placeholder documentation page with migration information
  website/docs/d/kms_secret.html.markdown
Labels: documentation, service/kms, size/XS

#7820 deps: github.com/aws/aws-sdk-go@v1.17.11
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/client/logger.go
  vendor/github.com/aws/aws-sdk-go/aws/ec2metadata/service.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/session/cabundle_transport.go
  vendor/github.com/aws/aws-sdk-go/aws/session/cabundle_transport_1_5.go
  vendor/github.com/aws/aws-sdk-go/aws/session/cabundle_transport_1_6.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/rest/build.go
  vendor/github.com/aws/aws-sdk-go/service/apigatewayv2/api.go
  vendor/github.com/aws/aws-sdk-go/service/applicationautoscaling/api.go
  vendor/github.com/aws/aws-sdk-go/service/autoscaling/api.go
  vendor/github.com/aws/aws-sdk-go/service/autoscaling/doc.go
  vendor/github.com/aws/aws-sdk-go/service/codedeploy/api.go
  vendor/github.com/aws/aws-sdk-go/service/codedeploy/doc.go
  vendor/github.com/aws/aws-sdk-go/service/cognitoidentity/api.go
  vendor/github.com/aws/aws-sdk-go/service/cognitoidentity/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/costandusagereportservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/costandusagereportservice/doc.go
  vendor/github.com/aws/aws-sdk-go/service/costandusagereportservice/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/api.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/doc.go
  vendor/github.com/aws/aws-sdk-go/service/mediaconvert/api.go
  vendor/github.com/aws/aws-sdk-go/service/medialive/api.go
  vendor/github.com/aws/aws-sdk-go/service/mediapackage/api.go
  vendor/github.com/aws/aws-sdk-go/service/mediastore/api.go
  vendor/github.com/aws/aws-sdk-go/service/organizations/api.go
  vendor/github.com/aws/aws-sdk-go/service/pinpoint/api.go
  vendor/github.com/aws/aws-sdk-go/service/resourcegroups/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/errors.go
  vendor/github.com/aws/aws-sdk-go/service/storagegateway/api.go
  vendor/github.com/aws/aws-sdk-go/service/storagegateway/doc.go
  vendor/github.com/aws/aws-sdk-go/service/sts/api.go
  vendor/github.com/aws/aws-sdk-go/service/sts/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/waf/api.go
  vendor/github.com/aws/aws-sdk-go/service/waf/doc.go
  vendor/github.com/aws/aws-sdk-go/service/waf/errors.go
  vendor/github.com/aws/aws-sdk-go/service/wafregional/api.go
  vendor/github.com/aws/aws-sdk-go/service/wafregional/doc.go
  vendor/github.com/aws/aws-sdk-go/service/wafregional/errors.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#7216 Fix to use expandStringList function for group_names and notifications
  aws/resource_aws_autoscaling_notification.go
Labels: service/autoscaling, size/XS, technical-debt

#7311 new options termination policies
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#7806 update ecs_service max grace period to 2147483647
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_service_test.go
  website/docs/r/ecs_service.html.markdown
Labels: documentation, enhancement, service/ecs, size/XS, tests

#7785 Threshold appears to be wrong
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, service/cloudwatch, size/XS

#6529 Autoscaling group docs: make explicit waiting options
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#7829 data-source/aws_elastic_beanstalk_hosted_zone: Add eu-north-1 region support
  aws/data_source_aws_elastic_beanstalk_hosted_zone.go
Labels: enhancement, service/elasticbeanstalk, size/XS

#7832 github: Improve Pull Request Template with link to contributing guide and community note
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement, provider, size/XS

#7821 resource/aws_autoscaling_group: Configure mixed_instances_policy instance_distribution on_demand_base_capacity and spot_max_price argument zero values
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
Labels: bug, service/autoscaling, size/XS, tests

#7842 Fix staticcheck ST1016
  aws/resource_aws_cloudwatch_event_permission.go
Labels: service/cloudwatchevents, size/XS

#7851 aws_instance: Update block device configuration documentation
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XS

#7825 docs/service/secretsmanager: Show jsondecode() examples for Terraform 0.12 and later
  website/docs/d/secretsmanager_secret_version.html.markdown
  website/docs/r/secretsmanager_secret_version.html.markdown
Labels: documentation, service/secretsmanager, size/XS

#7819 resource/aws_launch_configuration: Prevent ResourceInUse errors caused by eventual consistency during deletion
  aws/resource_aws_launch_configuration.go
Labels: bug, service/autoscaling, size/S

#7818 resource/aws_autoscaling_group: Ensure most attributes are correctly set in Terraform state during read
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
  aws/structure.go
Labels: bug, service/autoscaling, size/XL, tests

#7927 website: Update links to built-in functions
  website/docs/d/ssm_parameter.html.markdown
  website/docs/guides/iam-policy-documents.html.md
Labels: documentation, service/ssm, size/XS

#7925 test/resource/aws_api_gateway_usage_plan: Prevent intermittent ConflictException errors for concurrent deployments
  aws/resource_aws_api_gateway_usage_plan_test.go
Labels: service/apigateway, size/XS, tests

#7924 test/resource/aws_kinesis_analytics_application: Adjust test configuration syntax for Terraform 0.12
  aws/resource_aws_kinesis_analytics_application_test.go
Labels: service/kinesisanalytics, size/S, technical-debt, tests

#7887 resource/aws_s3_bucket: Prevent empty replication_configuration rules filter crash
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: bug, crash, service/s3, size/S, tests

#7886 docs/resource/aws_api_gateway_domain_name: Additional clarification of ACM vs IAM certificate usage
  website/docs/r/api_gateway_domain_name.html.markdown
Labels: documentation, service/apigateway, size/XS

#7881 resource/aws_s3_bucket: Continue supporting empty string bucket argument
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
Labels: bug, regression, service/s3, size/XS, tests

#7855 resource/aws_iam_role_policy_attachment: Prevent NoSuchEntity errors from race conditions
  aws/resource_aws_iam_role_policy_attachment.go
  aws/resource_aws_iam_role_policy_attachment_test.go
Labels: bug, service/iam, size/L, tests

#7841 resource/aws_codebuild_webhook: Only pass BranchFilter if non-empty
  aws/resource_aws_codebuild_webhook.go
Labels: bug, service/codebuild, size/XS, upstream

#7838 resource/aws_ssm_patch_baseline: Support resource import
  aws/resource_aws_ssm_patch_baseline.go
  aws/resource_aws_ssm_patch_baseline_test.go
  website/docs/r/ssm_patch_baseline.html.markdown
Labels: documentation, enhancement, service/ssm, size/XS, tests

#7802 resource/aws_vpc_endpoint_service: Implement sweeper
  aws/resource_aws_lb_test.go
  aws/resource_aws_vpc_endpoint_service.go
  aws/resource_aws_vpc_endpoint_service_test.go
Labels: service/ec2, size/M, tests

#4610 New Resource: aws_guardduty_invite_accepter
  aws/provider.go
  aws/provider_test.go
  aws/resource_aws_guardduty_invite_accepter.go
  aws/resource_aws_guardduty_invite_accepter_test.go
  aws/resource_aws_guardduty_test.go
  website/aws.erb
  website/docs/r/guardduty_invite_accepter.html.markdown
Labels: documentation, new-resource, provider, service/guardduty, size/XL, tests

#7799 Add Route 53 Resolver rule and rule association resources
  aws/diff_suppress_funcs.go
  aws/diff_suppress_funcs_test.go
  aws/provider.go
  aws/resource_aws_route53_resolver_endpoint.go
  aws/resource_aws_route53_resolver_endpoint_test.go
  aws/resource_aws_route53_resolver_rule.go
  aws/resource_aws_route53_resolver_rule_association.go
  aws/resource_aws_route53_resolver_rule_association_test.go
  aws/resource_aws_route53_resolver_rule_test.go
  aws/structure.go
  aws/validators.go
  aws/validators_test.go
  website/aws.erb
  website/docs/r/route53_resolver_rule.html.markdown
  website/docs/r/route53_resolver_rule_association.html.markdown
Labels: documentation, new-resource, provider, service/route53, service/route53resolver, size/XXL, tests

#7907 resource/aws_kms_alias: Prevent state removal of resource immediately after creation due to eventual consistency
  aws/resource_aws_kms_alias.go
Labels: bug, service/kms, size/XS

#7883 resource/aws_ses_domain_mail_from: Prevent crash with deleted SES Domain Identity
  aws/resource_aws_ses_domain_identity_test.go
  aws/resource_aws_ses_domain_mail_from.go
  aws/resource_aws_ses_domain_mail_from_test.go
Labels: bug, crash, service/ses, size/M, tests

#7875 resource/aws_cloudfront_distribution: Ensure retain_on_delete disables the CloudFront Distribution before exiting
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
Labels: bug, regression, service/cloudfront, size/XL, tests

#7513 Fix errors in EC2 Transit Gateway VPC Attachment when TGW is shared from another account
  aws/resource_aws_ec2_transit_gateway_vpc_attachment.go
Labels: bug, service/ec2, size/M

#7941 Move the arn down to the Attributes Reference
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, service/cloudwatch, size/XS

#7900 Fix formatting for 'db_cluster_parameter_group_name' in bulleted list
  website/docs/r/docdb_cluster.html.markdown
Labels: documentation, service/rds, size/XS

#7929 Fix bug in aws_db_instance example
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS

#7892 Fix order of s3_key_prefix
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, service/cloudtrail, size/XS

#7878 Update private_ips_count to clarify its nature
  website/docs/r/network_interface.markdown
Labels: documentation, service/ec2, size/XS

#7919 Fixed typo regarding SNS Topic
  website/docs/r/sns_topic_subscription.html.markdown
Labels: documentation, service/sns, size/XS

#7930 Fix intermittent error putting S3 lifecycle: NoSuchBucket
  aws/awserr.go
  aws/resource_aws_s3_bucket.go
Labels: bug, provider, service/s3, size/S

#7853 resource/aws_ecr_repository_policy: Update policy in state on read
  aws/resource_aws_ecr_repository_policy.go
Labels: bug, service/ecr, size/XS

#7933 Add update step for change tags for aws_backup_vault resource
  aws/resource_aws_backup_vault.go
  aws/resource_aws_backup_vault_test.go
Labels: enhancement, service/backup, size/M, tests

#7880 7605 cloudwatch metric filters need to be serial
  aws/resource_aws_cloudwatch_log_metric_filter.go
  aws/resource_aws_cloudwatch_log_metric_filter_test.go
Labels: bug, service/cloudwatchlogs, size/S, tests

#7902 resource/aws_api_gateway_authorizer: Use Terraform 0.11.12 and later compatible file hashing function in documentation and testing
  aws/resource_aws_api_gateway_authorizer_test.go
  website/docs/r/api_gateway_authorizer.html.markdown
Labels: documentation, service/apigateway, size/XS, technical-debt, tests

#7948 Add arn of the glue crawler
  aws/resource_aws_glue_crawler.go
  aws/resource_aws_glue_crawler_test.go
  website/docs/index.html.markdown
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, enhancement, provider, service/glue, size/XS, tests

#7349 Added public_dns and private_dns to aws_eip
  aws/data_source_aws_eip.go
  aws/resource_aws_eip.go
  website/docs/d/eip.html.markdown
  website/docs/r/eip.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, waiting-response

#7131 Additional (computed) Direct Connect attributes
  aws/resource_aws_dx_bgp_peer.go
  aws/resource_aws_dx_connection.go
  aws/resource_aws_dx_hosted_private_virtual_interface.go
  aws/resource_aws_dx_hosted_public_virtual_interface.go
  aws/resource_aws_dx_lag.go
  aws/resource_aws_dx_private_virtual_interface.go
  aws/resource_aws_dx_public_virtual_interface.go
  website/docs/r/dx_bgp_peer.html.markdown
  website/docs/r/dx_connection.html.markdown
  website/docs/r/dx_hosted_private_virtual_interface.html.markdown
  website/docs/r/dx_hosted_public_virtual_interface.html.markdown
  website/docs/r/dx_lag.html.markdown
  website/docs/r/dx_private_virtual_interface.html.markdown
  website/docs/r/dx_public_virtual_interface.html.markdown
Labels: documentation, enhancement, service/directconnect, size/S

#7003 r/aws_globalaccelerator_listener: Add aws_globalaccelerator_listener resource
  aws/provider.go
  aws/resource_aws_globalaccelerator_listener.go
  aws/resource_aws_globalaccelerator_listener_test.go
  website/aws.erb
  website/docs/r/globalaccelerator_listener.markdown
Labels: documentation, new-resource, provider, service/globalaccelerator, size/XL, tests, waiting-response

#7858 AWS AppMesh resource changes based on 2019/01/25 API version
  aws/provider.go
  aws/resource_aws_appmesh_mesh.go
  aws/resource_aws_appmesh_mesh_test.go
  aws/resource_aws_appmesh_route.go
  aws/resource_aws_appmesh_route_test.go
  aws/resource_aws_appmesh_test.go
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_node_migrate.go
  aws/resource_aws_appmesh_virtual_node_migrate_test.go
  aws/resource_aws_appmesh_virtual_node_test.go
  aws/resource_aws_appmesh_virtual_router.go
  aws/resource_aws_appmesh_virtual_router_migrate.go
  aws/resource_aws_appmesh_virtual_router_migrate_test.go
  aws/resource_aws_appmesh_virtual_router_test.go
  aws/resource_aws_appmesh_virtual_service.go
  aws/resource_aws_appmesh_virtual_service_test.go
  aws/structure.go
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/appmesh/api.go
  vendor/github.com/aws/aws-sdk-go/service/appmesh/doc.go
  vendor/github.com/aws/aws-sdk-go/service/appmesh/errors.go
  vendor/github.com/aws/aws-sdk-go/service/appmesh/service.go
  vendor/github.com/aws/aws-sdk-go/service/autoscaling/api.go
  vendor/github.com/aws/aws-sdk-go/service/autoscaling/doc.go
  vendor/github.com/aws/aws-sdk-go/service/autoscaling/errors.go
  vendor/github.com/aws/aws-sdk-go/service/directconnect/api.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/api.go
  vendor/github.com/aws/aws-sdk-go/service/gamelift/api.go
  vendor/github.com/aws/aws-sdk-go/service/medialive/api.go
  vendor/github.com/aws/aws-sdk-go/service/rds/api.go
  vendor/github.com/aws/aws-sdk-go/service/rds/doc.go
  vendor/github.com/aws/aws-sdk-go/service/rds/errors.go
  vendor/modules.txt
  website/aws.erb
  website/docs/r/appmesh_route.html.markdown
  website/docs/r/appmesh_virtual_node.html.markdown
  website/docs/r/appmesh_virtual_router.html.markdown
  website/docs/r/appmesh_virtual_service.html.markdown
Labels: breaking-change, dependencies, documentation, new-resource, provider, size/XXL, tests

#7458 Add imagePullCredentialsType for codebuild to access cross account image
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, enhancement, service/codebuild, size/S, tests

#6459 API Gateway deployment resource, field stage_name not required #2918
  aws/resource_aws_api_gateway_deployment.go
  aws/resource_aws_api_gateway_deployment_test.go
  website/docs/r/api_gateway_deployment.html.markdown
Labels: documentation, enhancement, service/apigateway, size/M, tests

#7974 resource/ecr_repository_policy: Support import
  aws/resource_aws_ecr_repository_policy.go
  aws/resource_aws_ecr_repository_policy_test.go
  website/docs/r/ecr_repository_policy.html.markdown
Labels: documentation, enhancement, service/ecr, size/S, tests

#7852 Added ComplianceSeverity Argument
  aws/resource_aws_ssm_association.go
  aws/resource_aws_ssm_association_test.go
  website/docs/r/ssm_association.html.markdown
Labels: documentation, enhancement, service/ssm, size/M, tests

#7952 Missing Optional Fields aws_s3_bucket_inventory
  aws/resource_aws_s3_bucket_inventory.go
Labels: enhancement, service/s3, size/XS

#7961 Enabled updates to existing IAM Access Keys
  aws/resource_aws_iam_access_key.go
  aws/resource_aws_iam_access_key_test.go
  website/docs/r/iam_access_key.html.markdown
Labels: documentation, enhancement, service/iam, size/M, tests

#7903 tests/resource/aws_api_gateway_method: Use Terraform 0.11.12 and later compatible file hashing function
  aws/resource_aws_api_gateway_method_test.go
Labels: service/apigateway, size/XS, technical-debt, tests

#7904 docs/resource/aws_api_gateway_integration: Use Terraform 0.11.12 and later compatible file hashing function
  website/docs/r/api_gateway_integration.html.markdown
Labels: documentation, service/apigateway, size/XS, technical-debt

#7905 tests/resource/aws_cloudwatch_event_target: Use Terraform 0.11.12 and later compatible file hashing function
  aws/resource_aws_cloudwatch_event_target_test.go
Labels: service/cloudwatchevents, size/XS, technical-debt, tests

#7908 tests/resource/aws_db_instance: Use Terraform 0.11.12 and later compatible file hashing function
  aws/resource_aws_db_instance_test.go
Labels: service/rds, size/XS, technical-debt, tests

#7910 tests/resource/aws_lambda_alias: Use Terraform 0.11.12 and later compatible file hashing function
  aws/resource_aws_lambda_alias_test.go
Labels: service/lambda, size/XS, technical-debt, tests

#7911 resource/aws_lambda_function: Use Terraform 0.11.12 and later compatible file hashing function in documentation and testing
  aws/resource_aws_lambda_function_test.go
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS, technical-debt, tests

#7912 resource/aws_lambda_layer_version: Use Terraform 0.11.12 and later compatible file hashing function in documentation and testing
  aws/resource_aws_lambda_layer_version_test.go
  website/docs/r/lambda_layer_version.html.markdown
Labels: documentation, service/lambda, size/XS, technical-debt, tests

#7913 tests/resource/aws_rds_cluster: Use Terraform 0.11.12 and later compatible file hashing function
  aws/resource_aws_rds_cluster_test.go
Labels: service/rds, size/XS, technical-debt, tests

#7914 tests/resource/aws_sns_topic_subscription: Use Terraform 0.11.12 and later compatible file hashing function
  aws/resource_aws_sns_topic_subscription_test.go
Labels: service/sns, size/XS, technical-debt, tests

#7915 resource/aws_s3_bucket_object: Use Terraform 0.11.12 and later compatible file hashing function in documentation and testing
  aws/resource_aws_s3_bucket_object_test.go
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, service/s3, size/XS, technical-debt, tests

#7991 doc update to fix Issue 5001
  website/docs/r/api_gateway_integration.html.markdown
Labels: documentation, service/apigateway, size/XS

#7970 resource/ssm_association: Support MaxConcurrency and MaxErrors
  aws/resource_aws_ssm_association.go
  aws/resource_aws_ssm_association_test.go
  website/docs/r/ssm_association.html.markdown
Labels: documentation, enhancement, service/ssm, size/M, tests

#7350 r/aws_backup_plan: Adding resource for managing AWS Backup plans
  aws/provider.go
  aws/resource_aws_backup_plan.go
  aws/resource_aws_backup_plan_test.go
  website/aws.erb
  website/docs/r/backup_plan.html.markdown
Labels: documentation, new-resource, provider, service/backup, size/XL, tests

#7977 New Datasource: aws_transfer_server
  aws/data_source_aws_transfer_server.go
  aws/data_source_aws_transfer_server_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/transfer_server.html.markdown
Labels: documentation, new-data-source, provider, service/transfer, size/XL, tests

#7986 Allow setting endpoint for SES
  aws/config.go
  aws/provider.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, provider, size/XS

#7984 Add support tags attribute for resource_aws_media_package_channel
  aws/resource_aws_media_package_channel.go
  aws/resource_aws_media_package_channel_test.go
  aws/tagsMediapackage.go
  website/docs/r/media_package_channel.html.markdown
Labels: documentation, enhancement, service/mediapackage, size/M, tests

#7996 Enable staticcheck ST1008
  aws/resource_aws_autoscaling_schedule.go
  staticcheck.conf
Labels: service/autoscaling, size/XS, technical-debt

#7993 provider: Fix updated govet composites and nilness checks
  .golangci.yml
  .travis.yml
  aws/config_test.go
  aws/resource_aws_db_instance.go
  aws/resource_aws_docdb_cluster_instance.go
  aws/resource_aws_egress_only_internet_gateway.go
  aws/resource_aws_emr_security_configuration_test.go
  aws/resource_aws_gamelift_game_session_queue_test.go
  aws/resource_aws_organizations_account_test.go
  aws/resource_aws_organizations_policy_test.go
  aws/resource_aws_vpn_connection_test.go
  aws/resource_aws_vpn_gateway_test.go
Labels: service/ec2, service/emr, service/gamelift, service/organizations, service/rds, size/M, technical-debt, tests

#8001 data-source/aws_instance: Add get_user_data argument and user_data_base64 attribute
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  website/docs/d/instance.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#7967 docs/resource/aws_s3_bucket_notification: Add note that multiple resource declarations to the same S3 Bucket will generate a perpetual difference
  website/docs/r/s3_bucket_notification.html.markdown
Labels: documentation, service/s3, size/XS

#8002 tests/provider: Skip additional sweeper errors for AWS GovCloud (US) support
  aws/provider_test.go
Labels: partition/aws-us-gov, provider, size/XS, tests

#7975 deps: github.com/aws/aws-sdk-go@v1.18.3
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/NOTICE.txt
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/acm/api.go
  vendor/github.com/aws/aws-sdk-go/service/acm/doc.go
  vendor/github.com/aws/aws-sdk-go/service/acm/errors.go
  vendor/github.com/aws/aws-sdk-go/service/acmpca/api.go
  vendor/github.com/aws/aws-sdk-go/service/acmpca/doc.go
  vendor/github.com/aws/aws-sdk-go/service/acmpca/errors.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatch/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatchlogs/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatchlogs/errors.go
  vendor/github.com/aws/aws-sdk-go/service/codebuild/api.go
  vendor/github.com/aws/aws-sdk-go/service/configservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/configservice/doc.go
  vendor/github.com/aws/aws-sdk-go/service/configservice/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/elasticbeanstalk/api.go
  vendor/github.com/aws/aws-sdk-go/service/elasticbeanstalk/doc.go
  vendor/github.com/aws/aws-sdk-go/service/glue/api.go
  vendor/github.com/aws/aws-sdk-go/service/iot/api.go
  vendor/github.com/aws/aws-sdk-go/service/kinesis/api.go
  vendor/github.com/aws/aws-sdk-go/service/kinesis/errors.go
  vendor/github.com/aws/aws-sdk-go/service/kinesis/service.go
  vendor/github.com/aws/aws-sdk-go/service/s3/api.go
  vendor/github.com/aws/aws-sdk-go/service/sagemaker/api.go
  vendor/github.com/aws/aws-sdk-go/service/sagemaker/doc.go
  vendor/github.com/aws/aws-sdk-go/service/serverlessapplicationrepository/api.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#7966 resource/aws_route53_zone_association: Support resource import and recreate resource on all updates
  aws/resource_aws_route53_zone_association.go
  aws/resource_aws_route53_zone_association_test.go
  aws/resource_aws_route53_zone_test.go
  aws/resource_aws_vpc_test.go
  website/docs/r/route53_zone_association.html.markdown
Labels: bug, documentation, enhancement, service/ec2, service/route53, size/XL, tests

#8021 deps: github.com/aws/aws-sdk-go@v1.18.5
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/ec2metadata/api.go
  vendor/github.com/aws/aws-sdk-go/aws/request/retryer.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/configservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/configservice/errors.go
  vendor/github.com/aws/aws-sdk-go/service/databasemigrationservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/databasemigrationservice/doc.go
  vendor/github.com/aws/aws-sdk-go/service/databasemigrationservice/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/eks/api.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#7982 resource/aws_appautoscaling_policy: Recreate resource for `resource_id` updates and ignore `ObjectNotFoundException` on deletion
  aws/resource_aws_appautoscaling_policy.go
  aws/resource_aws_appautoscaling_policy_test.go
  website/docs/r/appautoscaling_policy.html.markdown
Labels: bug, documentation, service/applicationautoscaling, size/L, tests

#7968 tests/resource/aws_s3_bucket_notification: Refactor for concurrency and add Lambda Alias test
  aws/resource_aws_s3_bucket_notification_test.go
Labels: service/s3, size/L, tests

#8007 Allow overriding firehose and redshift endpoints
  aws/config.go
  aws/provider.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, provider, size/S

#8020 New Resources: aws_cloudformation_stack_set and aws_cloudformation_stack_set_instance
  aws/diff_suppress_funcs.go
  aws/diff_suppress_funcs_test.go
  aws/provider.go
  aws/resource_aws_cloudformation_stack_set.go
  aws/resource_aws_cloudformation_stack_set_instance.go
  aws/resource_aws_cloudformation_stack_set_instance_test.go
  aws/resource_aws_cloudformation_stack_set_test.go
  aws/resource_aws_cloudformation_stack_test.go
  website/aws.erb
  website/docs/r/cloudformation_stack_set.html.markdown
  website/docs/r/cloudformation_stack_set_instance.html.markdown
Labels: documentation, new-resource, provider, service/cloudformation, size/XXL, tests

#8027 r/kinesis_analytics_application: Support import
  aws/resource_aws_kinesis_analytics_application.go
  aws/resource_aws_kinesis_analytics_application_test.go
  website/docs/r/kinesis_analytics_application.html.markdown
Labels: documentation, enhancement, service/kinesisanalytics, size/M, tests

#8032 Support import for aws_appautoscaling_policy and aws_appautoscaling_target
  aws/resource_aws_appautoscaling_policy.go
  aws/resource_aws_appautoscaling_policy_test.go
  aws/resource_aws_appautoscaling_target.go
  aws/resource_aws_appautoscaling_target_test.go
  website/docs/r/appautoscaling_policy.html.markdown
  website/docs/r/appautoscaling_target.html.markdown
Labels: documentation, enhancement, service/applicationautoscaling, size/L, tests

#8035 docs/provider: Add backwards compatibility note to top of resources where the AWS service is in preview
  website/docs/r/securityhub_account.markdown
  website/docs/r/securityhub_product_subscription.markdown
  website/docs/r/securityhub_standards_subscription.markdown
Labels: documentation, service/securityhub, size/XS

#8039 Update codebuild_project.html.markdown
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#8058 add policy examples to iam policy attachment docs
  website/docs/r/iam_policy_attachment.html.markdown
Labels: documentation, service/iam, size/XS

#2477 New Resource: aws_sagemaker_endpoint_configuration
  aws/provider.go
  aws/resource_aws_sagemaker_endpoint_configuration.go
  aws/resource_aws_sagemaker_endpoint_configuration_test.go
  aws/validators.go
  website/aws.erb
  website/docs/r/sagemaker_endpoint_configuration.html.markdown
Labels: documentation, new-resource, provider, service/sagemaker, size/XL, tests

#8063 deps: github.com/aws/aws-sdk-go@v1.19.1
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/credentials/stscreds/assume_role_provider.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/jsonrpc/jsonrpc.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/restjson/restjson.go
  vendor/github.com/aws/aws-sdk-go/service/apigatewayv2/service.go
  vendor/github.com/aws/aws-sdk-go/service/appmesh/service.go
  vendor/github.com/aws/aws-sdk-go/service/appsync/service.go
  vendor/github.com/aws/aws-sdk-go/service/autoscaling/api.go
  vendor/github.com/aws/aws-sdk-go/service/backup/service.go
  vendor/github.com/aws/aws-sdk-go/service/batch/service.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatchevents/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatchevents/doc.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatchevents/errors.go
  vendor/github.com/aws/aws-sdk-go/service/codepipeline/api.go
  vendor/github.com/aws/aws-sdk-go/service/codepipeline/doc.go
  vendor/github.com/aws/aws-sdk-go/service/cognitoidentity/api.go
  vendor/github.com/aws/aws-sdk-go/service/cognitoidentity/doc.go
  vendor/github.com/aws/aws-sdk-go/service/cognitoidentityprovider/api.go
  vendor/github.com/aws/aws-sdk-go/service/dlm/service.go
  vendor/github.com/aws/aws-sdk-go/service/eks/service.go
  vendor/github.com/aws/aws-sdk-go/service/guardduty/service.go
  vendor/github.com/aws/aws-sdk-go/service/iot/api.go
  vendor/github.com/aws/aws-sdk-go/service/iot/errors.go
  vendor/github.com/aws/aws-sdk-go/service/kafka/service.go
  vendor/github.com/aws/aws-sdk-go/service/lexmodelbuildingservice/service.go
  vendor/github.com/aws/aws-sdk-go/service/lightsail/api.go
  vendor/github.com/aws/aws-sdk-go/service/lightsail/doc.go
  vendor/github.com/aws/aws-sdk-go/service/mediaconnect/service.go
  vendor/github.com/aws/aws-sdk-go/service/mediaconvert/service.go
  vendor/github.com/aws/aws-sdk-go/service/medialive/service.go
  vendor/github.com/aws/aws-sdk-go/service/mediapackage/service.go
  vendor/github.com/aws/aws-sdk-go/service/mq/service.go
  vendor/github.com/aws/aws-sdk-go/service/pinpoint/service.go
  vendor/github.com/aws/aws-sdk-go/service/ram/service.go
  vendor/github.com/aws/aws-sdk-go/service/securityhub/service.go
  vendor/github.com/aws/aws-sdk-go/service/serverlessapplicationrepository/service.go
  vendor/github.com/aws/aws-sdk-go/service/worklink/service.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#8070 resource/aws_vpn_connection: Add transit_gateway_attachment_id attribute
  aws/resource_aws_vpn_connection.go
  aws/resource_aws_vpn_connection_test.go
  website/docs/r/vpn_connection.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#8072 resource/aws_autoscaling_group: Temporarily disable ValidateFunc for Mixed Instances Policy allocation strategy
  aws/resource_aws_autoscaling_group.go
Labels: service/autoscaling, size/XS

#6100 Hide aws_kms_ciphertext plaintext attribute
  aws/data_source_aws_kms_ciphertext.go
Labels: enhancement, service/kms, size/XS

#8071 New Data Source: aws_ec2_transit_gateway_vpn_attachment
  aws/data_source_aws_ec2_transit_gateway_vpn_attachment.go
  aws/data_source_aws_ec2_transit_gateway_vpn_attachment_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/ec2_transit_gateway_vpn_attachment.html.markdown
Labels: documentation, new-data-source, provider, service/ec2, size/L, tests

#8048 resource/aws_ram_principal_association: Organizations principals should be ARNs not IDs
  aws/resource_aws_ram_principal_association.go
  website/docs/r/ram_principal_association.markdown
Labels: documentation, enhancement, service/ram, size/XS

#8097 documentation fix - Issue 5180
  website/docs/r/volume_attachment.html.markdown
Labels: documentation, size/XS

#8066 New Resource: aws_kms_external_key
  aws/provider.go
  aws/resource_aws_kms_external_key.go
  aws/resource_aws_kms_external_key_test.go
  website/aws.erb
  website/docs/r/kms_external_key.html.markdown
Labels: documentation, new-resource, provider, service/kms, size/XXL, tests

#8090 Update lambda_invocation.html.markdown
  website/docs/d/lambda_invocation.html.markdown
Labels: documentation, service/lambda, size/XS

#8108 deps: github.com/aws/aws-sdk-go@v1.19.4
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/appmesh/api.go
  vendor/github.com/aws/aws-sdk-go/service/appmesh/doc.go
  vendor/github.com/aws/aws-sdk-go/service/appmesh/errors.go
  vendor/github.com/aws/aws-sdk-go/service/directconnect/api.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/errors.go
  vendor/github.com/aws/aws-sdk-go/service/elbv2/api.go
  vendor/github.com/aws/aws-sdk-go/service/fms/api.go
  vendor/github.com/aws/aws-sdk-go/service/fms/doc.go
  vendor/github.com/aws/aws-sdk-go/service/fms/errors.go
  vendor/github.com/aws/aws-sdk-go/service/glue/api.go
  vendor/github.com/aws/aws-sdk-go/service/mediaconvert/api.go
  vendor/github.com/aws/aws-sdk-go/service/s3/api.go
  vendor/github.com/aws/aws-sdk-go/service/storagegateway/api.go
  vendor/github.com/aws/aws-sdk-go/service/transfer/api.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#8113 Fixed duplicated sentence in apply_immediately
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS

#8107 service/ec2: Only call DescribeInstanceCreditSpecifications for T2 and T3 Instance Families
  aws/data_source_aws_instance.go
  aws/resource_aws_instance.go
Labels: service/ec2, size/S, technical-debt, upstream

#8112 Correct resource name of aws_eks_cluster
  website/docs/d/eks_cluster_auth.html.markdown
Labels: documentation, service/eks, size/XS

#8080 Elb load balancer policy docs
  website/docs/r/load_balancer_listener_policy.html.markdown
  website/docs/r/load_balancer_policy.html.markdown
Labels: documentation, service/elb, size/S

#8087 syncing the timeout with the attachment resource
  aws/resource_aws_vpn_gateway.go
Labels: service/ec2, size/XS, technical-debt

#8085 Bugfix: allow updates to metric_query on aws_cloudwatch_metric_alarm
  aws/resource_aws_cloudwatch_metric_alarm.go
  aws/resource_aws_cloudwatch_metric_alarm_test.go
Labels: bug, service/cloudwatch, size/S, tests

#8026 resource/batch_compute_environment: Support LaunchTemplate
  aws/resource_aws_batch_compute_environment.go
  aws/resource_aws_batch_compute_environment_test.go
  website/docs/r/batch_compute_environment.html.markdown
Labels: documentation, enhancement, service/batch, size/M, tests

#8076 Feature/add support resource tags for aws cloudwatch event rule resource
  aws/resource_aws_cloudwatch_event_rule.go
  aws/resource_aws_cloudwatch_event_rule_test.go
  aws/tagsCloudWatchEvent.go
  aws/tagsCloudWatchEvent_test.go
  website/docs/r/cloudwatch_event_rule.html.markdown
Labels: documentation, enhancement, service/cloudwatchevents, size/XL, tests, waiting-response

#8122 Update api_gateway_resource.html.markdown
  website/docs/d/api_gateway_resource.html.markdown
Labels: documentation, service/apigateway, size/XS

#5587 Fix resources names in AWS Codepipeline docs
  website/docs/r/codepipeline.markdown
Labels: documentation, size/XS

#6880 Add complex table definition for kinesis parquet integration
  website/docs/r/glue_catalog_table.html.markdown
Labels: documentation, service/glue, size/S
