Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-02, with the labels that each got.

#7412 resource/aws_cognito_identity_pool_roles_attachment: Ensure roles configurations use equals in testing and documentation
  aws/resource_aws_cognito_identity_pool_roles_attachment_test.go
  website/docs/r/cognito_identity_pool_roles_attachment.markdown
Labels: documentation, service/cognito, size/XS, tests

#7422 tests/resource/aws_emr_instance_group: Fix Terraform 0.12 syntax
  aws/resource_aws_emr_instance_group_test.go
Labels: service/emr, size/XS, tests

#7429 tests/resource/aws_dynamodb_table: Add disappears tests
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
Labels: service/dynamodb, size/M, tests

#7430 tests/service/s3: Skip cross-region errors in sweeper
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/XS, tests

#7436 Update example linked role in Elasticsearch docs
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, service/elasticsearch, size/XS

#7433 Add costandusagereportservice client
  aws/config.go
  vendor/github.com/aws/aws-sdk-go/service/costandusagereportservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/costandusagereportservice/costandusagereportserviceiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/costandusagereportservice/doc.go
  vendor/github.com/aws/aws-sdk-go/service/costandusagereportservice/errors.go
  vendor/github.com/aws/aws-sdk-go/service/costandusagereportservice/service.go
  vendor/modules.txt
Labels: dependencies, provider, size/XL

#7009 r/aws_client_vpn_endpoint: Adding new resource to manage AWS Client VPN endpoints
  aws/provider.go
  aws/resource_aws_ec2_client_vpn_endpoint.go
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
  website/aws.erb
  website/docs/r/ec2_client_vpn_endpoint.html.markdown
Labels: documentation, new-resource, provider, service/ec2, size/XL, tests

#7363 Update DynamoDB billing_mode
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
Labels: bug, service/dynamodb, size/M, tests

#7054 Updated documentation for and .
  website/docs/r/transfer_user.html.markdown
Labels: documentation, service/transfer, size/XS, waiting-response

#7448 go.sum: Fix checksum of go-getter
  go.sum
Labels: size/XS

#7345 Feature add support worklink resource
  aws/provider.go
  aws/resource_aws_worklink_fleet.go
  aws/resource_aws_worklink_fleet_test.go
  aws/structure.go
  aws/test-fixtures/worklink-device-ca-certificate.pem
  aws/validators.go
  website/aws.erb
  website/docs/r/worklink_fleet.html.markdown
Labels: documentation, new-resource, provider, size/XXL, tests

#7462 s3_bucket: Limit no of expiration blocks to 1
  aws/resource_aws_s3_bucket.go
Labels: enhancement, service/s3, size/XS

#7457 [PROPOSAL] Switch from gometalinter to golangci-lint
  .golangci.yml
  .gometalinter.json
  GNUmakefile
  aws/config_test.go
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_budgets_budget_test.go
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_ecs_task_definition_test.go
  aws/resource_aws_iam_access_key.go
  aws/resource_aws_iam_access_key_test.go
  aws/resource_aws_iam_user_test.go
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_rds_cluster_test.go
  aws/resource_aws_route53_record.go
  aws/resource_aws_route53_record_test.go
  aws/resource_aws_s3_bucket_test.go
  website/docs/r/db_instance.html.markdown
  website/docs/r/neptune_cluster.html.markdown
  website/docs/r/neptune_cluster_instance.html.markdown
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: hashibot/ignore, proposal, provider, size/L, tests

#7444 Enable staticcheck ST1006
  aws/iam_policy_model.go
  staticcheck.conf
Labels: service/iam, size/XS, technical-debt

#7454 Enable staticcheck ST1017
  aws/data_source_aws_cloudformation_export.go
  aws/resource_aws_codedeploy_deployment_config.go
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_instance.go
  aws/resource_aws_lb.go
  aws/resource_aws_sqs_queue.go
  staticcheck.conf
Labels: service/cloudformation, service/codedeploy, service/ec2, service/elbv2, service/emr, service/sqs, size/XS, technical-debt

#7207 r/aws_backup_vault: Adding resource to manage AWS Backup vaults
  aws/provider.go
  aws/resource_aws_backup_vault.go
  aws/resource_aws_backup_vault_test.go
  website/aws.erb
  website/docs/r/backup_vault.html.markdown
Labels: documentation, new-resource, provider, service/backup, size/XL, tests

#7470 tests/provider: Increase golangci-lint deadline to 5 minutes
  .golangci.yml
Labels: provider, size/XS, tests

#7123 DocumentDB: aws_docdb_cluster_snapshot resource added
  aws/provider.go
  aws/resource_aws_docdb_cluster_snapshot.go
  aws/resource_aws_docdb_cluster_snapshot_test.go
  aws/validators.go
  website/aws.erb
  website/docs/r/docdb_cluster_snapshot.html.markdown
Labels: documentation, new-resource, provider, service/docdb, size/XL, tests

#7483 chore: fix small typo in lambda layer docs
  website/docs/r/lambda_layer_version.html.markdown
Labels: documentation, service/lambda, size/XS

#7482 Fix indent in example (docs)
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XS

#7480 resource/aws_wafregional_web_acl: Add arn attribute and logging_configuration argument
  aws/resource_aws_wafregional_web_acl.go
  aws/resource_aws_wafregional_web_acl_test.go
  website/docs/r/wafregional_web_acl.html.markdown
Labels: documentation, enhancement, service/waf, size/XL, tests

#6833 Add math metric alarm
  aws/resource_aws_cloudwatch_metric_alarm.go
  aws/resource_aws_cloudwatch_metric_alarm_test.go
  website/docs/r/cloudwatch_metric_alarm.html.markdown
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, enhancement, service/cloudwatch, service/dynamodb, size/XL, tests

#7468 Feature/add support aws kinesis analytics application resource only vendor
  aws/config.go
  vendor/github.com/aws/aws-sdk-go/service/kinesisanalyticsv2/api.go
  vendor/github.com/aws/aws-sdk-go/service/kinesisanalyticsv2/doc.go
  vendor/github.com/aws/aws-sdk-go/service/kinesisanalyticsv2/errors.go
  vendor/github.com/aws/aws-sdk-go/service/kinesisanalyticsv2/service.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#7453 resource/aws_dynamodb_table: Improve update handling
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: bug, documentation, service/dynamodb, size/XL, tests

#7143 DocumentDB: Added aws_docdb_cluster_instance resource
  aws/provider.go
  aws/resource_aws_docdb_cluster_instance.go
  aws/resource_aws_docdb_cluster_instance_test.go
  website/aws.erb
  website/docs/r/docdb_cluster_instance.html.markdown
Labels: documentation, new-resource, provider, service/docdb, size/XXL, tests

#7491 DMS: Added docdb as a valid engine type
  aws/resource_aws_dms_endpoint.go
  aws/resource_aws_dms_endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, enhancement, service/databasemigrationservice, size/M, tests

#7490 Issue #7351: aws_ssm_resource_data_sync - doesn't support update
  aws/resource_aws_ssm_resource_data_sync.go
  aws/resource_aws_ssm_resource_data_sync_test.go
Labels: bug, service/ssm, size/M, tests

#7489 issue #7417 aws_ec2_transit_gateway_vpc_attachment error when auto_ac…
  aws/ec2_transit_gateway.go
Labels: bug, service/ec2, size/XS

#7488 tech debt: return the appropriate error aws_lb
  aws/resource_aws_lb.go
Labels: service/elbv2, size/XS, technical-debt

#7509 tests/resource/aws_ecr_repository: Manually construct repository_url value in testAccCheckAWSEcrRepositoryRepositoryURL
  aws/provider_test.go
  aws/resource_aws_ecr_repository_test.go
Labels: service/ecr, size/XS, tests

#7487 Issue #7466 Add security_group_id attribute to aws_directory_service_directory for ADConnector
  aws/resource_aws_directory_service_directory.go
  aws/resource_aws_directory_service_directory_test.go
  website/docs/r/directory_service_directory.html.markdown
Labels: documentation, service/directoryservice, size/XS, tests

#7497 d/aws_dynamodb_table: Add missing 'billing_mode' and 'point_in_time_recovery' attributes
  aws/data_source_aws_dynamodb_table.go
  aws/data_source_aws_dynamodb_table_test.go
Labels: enhancement, service/dynamodb, size/XS, tests

#7486 r/aws_s3_bucket: Only check bucket existence in 'testAccCheckAWSS3BucketDestroy'
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/S, tests

#7478 Add position to aws_ses_receipt_rule example
  website/docs/r/ses_receipt_rule.html.markdown
Labels: documentation, service/ses, size/XS

#7343 Add support for resource_aws_ses_identity_notification_topic import
  aws/resource_aws_ses_identity_notification_topic.go
  aws/resource_aws_ses_identity_notification_topic_test.go
  website/docs/r/ses_identity_notification_topic.markdown
Labels: documentation, enhancement, service/ses, size/S, tests

#7511 deps: github.com/aws/aws-sdk-go@v1.16.32
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/applicationautoscaling/api.go
  vendor/github.com/aws/aws-sdk-go/service/applicationautoscaling/doc.go
  vendor/github.com/aws/aws-sdk-go/service/applicationautoscaling/errors.go
  vendor/github.com/aws/aws-sdk-go/service/codebuild/api.go
  vendor/github.com/aws/aws-sdk-go/service/codecommit/api.go
  vendor/github.com/aws/aws-sdk-go/service/dlm/api.go
  vendor/github.com/aws/aws-sdk-go/service/dlm/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/api.go
  vendor/github.com/aws/aws-sdk-go/service/elasticsearchservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/fsx/api.go
  vendor/github.com/aws/aws-sdk-go/service/fsx/errors.go
  vendor/github.com/aws/aws-sdk-go/service/gamelift/api.go
  vendor/github.com/aws/aws-sdk-go/service/gamelift/doc.go
  vendor/github.com/aws/aws-sdk-go/service/medialive/api.go
  vendor/github.com/aws/aws-sdk-go/service/mediapackage/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicecatalog/api.go
  vendor/github.com/aws/aws-sdk-go/service/workspaces/api.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#7449 New Resource: aws_ram_resource_association
  aws/provider.go
  aws/resource_aws_ram_resource_association.go
  aws/resource_aws_ram_resource_association_test.go
  website/aws.erb
  website/docs/r/ram_resource_association.html.markdown
Labels: documentation, new-resource, provider, service/ram, size/XL, tests

#7499 Update aws_dynamodb_table.server_side_encryption documentation noting DEFAULT encryption type
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, service/dynamodb, size/XS

#7535 r/kinesis_analytics_application: support multiple outputs
  aws/resource_aws_kinesis_analytics_application.go
  aws/resource_aws_kinesis_analytics_application_test.go
Labels: bug, service/kinesisanalytics, size/M, tests

#7361 Add support for Cognito user pool advanced security mode
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/structure.go
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, enhancement, service/cognito, size/M, tests

#7539 moving eks_cluster_auth link in docs
  website/aws.erb
Labels: documentation, size/XS

#7538 tests/resource/aws_appsync_graphql_api: Add sweeper
  aws/resource_aws_appsync_graphql_api_test.go
Labels: service/appsync, size/S, tests

#7471 resource/aws_iot_topic_rule: Fix optional attributes
  aws/resource_aws_iot_topic_rule.go
  aws/resource_aws_iot_topic_rule_test.go
  aws/structure.go
Labels: bug, service/iot, size/M, tests

#7520 Enable staticcheck S1017
  aws/resource_aws_route53_zone.go
  aws/resource_aws_route53_zone_test.go
  aws/resource_aws_s3_bucket_object.go
  staticcheck.conf
Labels: service/route53, service/s3, size/S, technical-debt, tests

#7543 resource/aws_cloudwatch_metric_alarm: Ensure dimensions configurations use equals (part deux)
  aws/resource_aws_cloudwatch_metric_alarm_test.go
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, service/cloudwatch, size/XS, tests

#7545 tests/service/docdb: Temporarily use expanded references
  aws/resource_aws_docdb_cluster_instance_test.go
  aws/resource_aws_docdb_cluster_snapshot_test.go
  aws/resource_aws_docdb_cluster_test.go
Labels: service/docdb, size/XS, tests

#7540 tests/data-source/aws_acmpca_certificate_authority: Use resource.TestCheckResourceAttrPair()
  aws/data_source_aws_acmpca_certificate_authority_test.go
Labels: service/acmpca, size/S, tests

#7556 tests/resource/aws_worklink_fleet: Temporarily expand subnet_ids references
  aws/resource_aws_worklink_fleet_test.go
Labels: size/XS, tests

#7563 New Resource: aws_ram_principal_association
  aws/provider.go
  aws/resource_aws_ram_principal_association.go
  aws/resource_aws_ram_principal_association_test.go
  website/aws.erb
  website/docs/r/ram_principal_association.markdown
Labels: documentation, new-resource, provider, service/ram, size/XL, tests

#7219 [WIP] r/aws_ram_principal_association: Add aws_ram_principal_association resource
  aws/provider.go
  aws/resource_aws_ram_principal_association.go
  aws/resource_aws_ram_principal_association_test.go
  website/docs/r/ram_principal_association.markdown
Labels: documentation, new-resource, provider, service/ram, size/XL, tests, waiting-response

#7519 Catch AccessDenied permission errors when creating aws_iam_user_login…
  aws/resource_aws_iam_user_login_profile.go
Labels: bug, service/iam, size/XS

#7554 resource/aws_api_gateway_rest_api: Remove extraneous timeout for resource deletion
  aws/resource_aws_api_gateway_rest_api.go
Labels: service/apigateway, size/XS

#7186 r/aws_ssm_maintenance_window_task: Fix name/desc validation
  aws/resource_aws_ssm_maintenance_window_task.go
  aws/resource_aws_ssm_maintenance_window_task_test.go
Labels: bug, service/ssm, size/XS, tests

#7559 tests/provider: Ensure tags configurations use equals
  aws/resource_aws_instance_test.go
  aws/resource_aws_mq_broker_test.go
  aws/resource_aws_mq_configuration_test.go
  aws/resource_aws_ram_resource_association_test.go
  aws/resource_aws_sagemaker_model_test.go
Labels: service/ec2, service/mq, service/sagemaker, size/XS, tests

#7560 tests/resource/aws_kinesis_analytics_application: Fix TestAccAWSKinesisAnalyticsApplication_outputsMultiple syntax for Terraform 0.12
  aws/resource_aws_kinesis_analytics_application_test.go
Labels: service/kinesisanalytics, size/XS, tests

#7484 tests/provider: Remove prefix-based conditionals and fix various bugs in sweepers
  aws/aws_sweeper_test.go
  aws/resource_aws_api_gateway_rest_api_test.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_batch_compute_environment_test.go
  aws/resource_aws_cloudwatch_event_permission_test.go
  aws/resource_aws_cloudwatch_event_rule_test.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/resource_aws_config_configuration_aggregator_test.go
  aws/resource_aws_datasync_agent_test.go
  aws/resource_aws_datasync_task_test.go
  aws/resource_aws_dax_cluster_test.go
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_db_option_group_test.go
  aws/resource_aws_directory_service_directory_test.go
  aws/resource_aws_dynamodb_table_test.go
  aws/resource_aws_ebs_volume_test.go
  aws/resource_aws_eks_cluster_test.go
  aws/resource_aws_elastic_beanstalk_application_test.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticache_replication_group_test.go
  aws/resource_aws_elasticache_security_group_test.go
  aws/resource_aws_elasticsearch_domain_test.go
  aws/resource_aws_elb_test.go
  aws/resource_aws_gamelift_alias_test.go
  aws/resource_aws_gamelift_build_test.go
  aws/resource_aws_gamelift_fleet_test.go
  aws/resource_aws_gamelift_game_session_queue_test.go
  aws/resource_aws_glue_classifier_test.go
  aws/resource_aws_glue_connection_test.go
  aws/resource_aws_glue_crawler_test.go
  aws/resource_aws_glue_job_test.go
  aws/resource_aws_glue_security_configuration_test.go
  aws/resource_aws_glue_trigger_test.go
  aws/resource_aws_iam_server_certificate_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_internet_gateway_test.go
  aws/resource_aws_key_pair_test.go
  aws/resource_aws_kms_key_test.go
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_lambda_layer_version_test.go
  aws/resource_aws_launch_configuration_test.go
  aws/resource_aws_lb_target_group_test.go
  aws/resource_aws_lb_test.go
  aws/resource_aws_lightsail_static_ip_test.go
  aws/resource_aws_mq_broker_test.go
  aws/resource_aws_nat_gateway_test.go
  aws/resource_aws_network_acl_test.go
  aws/resource_aws_redshift_cluster_test.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_sagemaker_model_test.go
  aws/resource_aws_secretsmanager_secret_test.go
  aws/resource_aws_security_group_test.go
  aws/resource_aws_storagegateway_gateway_test.go
  aws/resource_aws_subnet_test.go
  aws/resource_aws_vpc_test.go
  aws/resource_aws_waf_regex_match_set_test.go
  aws/resource_aws_waf_rule_group_test.go
  aws/resource_aws_wafregional_regex_match_set_test.go
  aws/resource_aws_wafregional_rule_group_test.go
Labels: hashibot/ignore, provider, size/XL, tests

#7594 Typo fix
  website/docs/d/lb_listener.html.markdown
Labels: documentation, service/elbv2, size/XS

#7589 Update service_discovery_service.html.markdown
  website/docs/r/service_discovery_service.html.markdown
Labels: documentation, service/servicediscovery, size/XS

#7572 Documentation update for r/redshift_event_subscription
  website/docs/r/redshift_event_subscription.html.markdown
Labels: documentation, service/redshift, size/XS

#7528 Fix crash on unsuccessful flow log creation
  aws/resource_aws_flow_log.go
Labels: bug, crash, service/ec2, size/XS

#7591 Add aws Shield feature request 1769 (Part I)
  aws/config.go
  vendor/github.com/aws/aws-sdk-go/service/shield/api.go
  vendor/github.com/aws/aws-sdk-go/service/shield/doc.go
  vendor/github.com/aws/aws-sdk-go/service/shield/errors.go
  vendor/github.com/aws/aws-sdk-go/service/shield/service.go
  vendor/modules.txt
Labels: dependencies, provider, service/shield, size/XXL

#7604 Bump AWS SDK to v1.17.0
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/applicationautoscaling/api.go
  vendor/github.com/aws/aws-sdk-go/service/athena/api.go
  vendor/github.com/aws/aws-sdk-go/service/athena/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/efs/api.go
  vendor/github.com/aws/aws-sdk-go/service/iot/api.go
  vendor/github.com/aws/aws-sdk-go/service/iot/doc.go
  vendor/github.com/aws/aws-sdk-go/service/lambda/api.go
  vendor/github.com/aws/aws-sdk-go/service/lambda/doc.go
  vendor/github.com/aws/aws-sdk-go/service/lambda/errors.go
  vendor/github.com/aws/aws-sdk-go/service/s3/unmarshal_error.go
  vendor/github.com/aws/aws-sdk-go/service/secretsmanager/api.go
  vendor/github.com/aws/aws-sdk-go/service/secretsmanager/doc.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#7598 Mark cloudwatch_event_target docs code blocks as HCL
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, service/cloudwatchevents, size/XS

#7640 Remove 0.0.0.0/0 from examples
  website/docs/r/default_network_acl.html.markdown
  website/docs/r/emr_cluster.html.markdown
  website/docs/r/network_acl_rule.html.markdown
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, service/ec2, service/emr, size/S

#7608 Syntax highlight more docs code blocks
  website/docs/r/iot_topic_rule.html.markdown
  website/docs/r/wafregional_xss_match_set.html.markdown
Labels: documentation, service/iot, service/waf, size/XS

#7618 Remove outdated info in cognito_user_pool_client.generate_secret DOCS
  website/docs/r/cognito_user_pool_client.markdown
Labels: documentation, service/cognito, size/XS

#7606 resource/aws_route53_record: Add validation for alias name and zone_id arguments
  aws/resource_aws_route53_record.go
  aws/resource_aws_route53_record_test.go
Labels: enhancement, service/route53, size/M, tests

#7645 Vpc endpoint suppress policy diff
  aws/resource_aws_vpc_endpoint.go
Labels: bug, service/ec2, size/XS

#7569 Fix to Putting in Description for Launch Template Resource
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
Labels: bug, service/ec2, size/S, tests

#7578 fix kinesis firehose input creation
  aws/resource_aws_kinesis_analytics_application.go
  aws/resource_aws_kinesis_analytics_application_test.go
Labels: bug, service/kinesisanalytics, size/M, tests

#7530 aurora docs link directed to RDS docs, now aurora docs
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds, size/XS

#5800 Fix error creating aws_db_instance from snapshot where snapshot uses storage_type io1
  aws/resource_aws_db_instance.go
Labels: bug, service/rds

#7612 aws_kinesis_firehose_delivery_stream: Updated key description to include elasticsearch
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, service/firehose, size/XS

#5576 data-source/aws_ami and data-source/aws_ami_ids: Require owners argument
  aws/data_source_aws_ami.go
  aws/data_source_aws_ami_ids.go
  aws/data_source_aws_ami_ids_test.go
  aws/data_source_aws_ami_test.go
  aws/data_source_aws_autoscaling_groups_test.go
  aws/data_source_aws_instance_test.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_eip_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_launch_template_test.go
  aws/resource_aws_licensemanager_association_test.go
  aws/resource_aws_spot_instance_request_test.go
  aws/resource_aws_storagegateway_gateway_test.go
  website/docs/d/ami.html.markdown
  website/docs/d/ami_ids.html.markdown
  website/docs/r/licensemanager_association.markdown
Labels: breaking-change, documentation, service/autoscaling, service/ec2, service/storagegateway, size/XL, tests

#7656 Fix small typo in aws_route_table doc page
  website/docs/r/route_table.html.markdown
Labels: documentation, service/ec2, size/XS

#7183 Remove ES service linked role creation
  aws/resource_aws_elasticsearch_domain.go
Labels: service/elasticsearch, size/S, technical-debt

#7663 data-source/aws_lambda_function: Return unqualified arn attribute by default, properly return error for missing function
  aws/data_source_aws_lambda_function.go
  aws/data_source_aws_lambda_function_test.go
  website/docs/d/lambda_function.html.markdown
Labels: breaking-change, bug, documentation, service/lambda, size/XL, tests

#5812 [d/aws_lambda_function] Remove default qualifier
  aws/data_source_aws_lambda_function.go
  aws/data_source_aws_lambda_function_test.go
Labels: breaking-change, service/lambda

#7666 Add docs note for upcoming App Mesh API changes
  website/docs/r/appmesh_virtual_node.html.markdown
  website/docs/r/appmesh_virtual_router.html.markdown
Labels: documentation, service/appmesh, size/XS

#6697 Minor fixes to api_gateway_method request_parameters documentation
  website/docs/r/api_gateway_method.html.markdown
Labels: documentation, service/apigateway, size/XS

#1193 Remove `network_interface_id`
  aws/resource_aws_instance.go
Labels: breaking-change, enhancement, service/ec2, size/XS

#7715 resource/aws_instance: Remove deprecated top-level network_interface_id attribute
  aws/resource_aws_instance.go
  website/docs/r/instance.html.markdown
Labels: breaking-change, documentation, service/ec2, size/XS, technical-debt

#7657 data-source/aws_kms_secret: Soft remove data source type with removal message
  aws/data_source_aws_kms_secret.go
  aws/data_source_aws_kms_secret_test.go
  website/aws.erb
  website/docs/d/kms_secret.html.markdown
Labels: breaking-change, documentation, service/kms, size/L, tests

#7710 resource/aws_cloudfront_distribution: Remove deprecated cache_behaviors configuration block
  aws/cloudfront_distribution_configuration_structure.go
  aws/cloudfront_distribution_configuration_structure_test.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: breaking-change, documentation, service/cloudfront, size/L, technical-debt, tests

#7654 provider: Remove hardcoded AWS China handling
  aws/config.go
  aws/resource_aws_instance.go
  aws/resource_aws_s3_bucket_object.go
Labels: breaking-change, partition/aws-cn, provider, service/ec2, service/s3, size/M, technical-debt

#7633 tests/resource/aws_batch_compute_environment: Skip disabling already disabled compute environments in sweeper
  aws/resource_aws_batch_compute_environment_test.go
Labels: service/batch, size/XS, tests

#7647 tests/resource/aws_cloudwatch_event_target: Implement sweeper
  aws/resource_aws_cloudwatch_event_rule_test.go
  aws/resource_aws_cloudwatch_event_target_test.go
Labels: service/cloudwatchevents, size/M, tests

#7636 resource/aws_vpn_connection: Remove configurability of read-only customer_gateway_configuration, routes, and vgw_telemetry attributes
  aws/resource_aws_vpn_connection.go
Labels: bug, service/ec2, size/XS

#7714 resource/aws_elasticache_cluster: Remove deprecated availability_zones argument
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_cluster_test.go
  website/docs/r/elasticache_cluster.html.markdown
Labels: breaking-change, documentation, service/elasticache, size/XS, technical-debt, tests

#7708 resource/aws_batch_compute_environment: Remove deprecated ecc_cluster_arn attribute
  aws/resource_aws_batch_compute_environment.go
Labels: breaking-change, service/batch, size/XS, technical-debt

#7719 provider: Cleanup all attributes previously marked Removed
  aws/provider.go
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_instance.go
  aws/resource_aws_route53_record.go
Labels: provider, service/codebuild, service/ec2, service/route53, size/S, technical-debt

#7736 docs/cloudwatch_metric_alarm: Correct usage or ARN
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, service/cloudwatch, size/XS

#7720 docs/guides/version-2-upgrade: Various preparations for actual release
  website/docs/guides/version-2-upgrade.html.md
Labels: documentation, provider, size/M

#7718 resource/aws_wafregional_byte_match_set: Remove deprecated byte_match_tuple configuration block
  aws/resource_aws_wafregional_byte_match_set.go
  aws/resource_aws_wafregional_rate_based_rule_test.go
  website/docs/r/wafregional_byte_match_set.html.markdown
Labels: breaking-change, documentation, service/waf, size/S, technical-debt, tests

#7734 resource/aws_route53_record: Switch allow_overwrite default from true to false
  aws/resource_aws_route53_record.go
  website/docs/guides/version-2-upgrade.html.md
  website/docs/r/route53_record.html.markdown
Labels: breaking-change, documentation, service/route53, size/S, technical-debt

#7716 resource/aws_network_acl: Remove deprecated subnet_id argument
  aws/resource_aws_network_acl.go
  website/docs/r/network_acl.html.markdown
Labels: breaking-change, documentation, service/ec2, size/S, technical-debt

#7713 resource/aws_efs_file_system: Remove deprecated reference_name argument
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_efs_file_system_test.go
  website/docs/r/efs_file_system.html.markdown
Labels: breaking-change, documentation, service/efs, size/S, technical-debt, tests

#7712 resource/aws_ecs_service: Remove deprecated placement_strategy configuration block
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_service_test.go
  website/docs/r/ecs_service.html.markdown
Labels: breaking-change, documentation, service/ecs, size/M, technical-debt, tests

#7711 resource/aws_dx_lag: Remove deprecated number_of_connections argument and delete unmanaged connection during resource creation
  aws/resource_aws_dx_lag.go
  website/docs/r/dx_connection_association.html.markdown
  website/docs/r/dx_lag.html.markdown
Labels: breaking-change, documentation, service/directconnect, size/S, technical-debt

#7707 resource/aws_autoscaling_policy: Remove deprecated min_adjustment_step argument
  aws/resource_aws_autoscaling_policy.go
  aws/resource_aws_autoscaling_policy_test.go
  website/docs/r/autoscaling_policy.html.markdown
Labels: breaking-change, documentation, service/autoscaling, size/M, technical-debt, tests

#7706 resource/aws_appautoscaling_policy: Remove deprecated arguments and properly read step_scaling_policy_configuration into Terraform state
  aws/resource_aws_appautoscaling_policy.go
  aws/resource_aws_appautoscaling_policy_test.go
  website/docs/r/appautoscaling_policy.html.markdown
Labels: breaking-change, bug, documentation, service/applicationautoscaling, size/XL, technical-debt, tests

#7704 resource/aws_api_gateway_method_response: Remove deprecated response_parameters_in_json argument
  aws/resource_aws_api_gateway_method_response.go
  website/docs/r/api_gateway_method_response.html.markdown
Labels: breaking-change, documentation, service/apigateway, size/M, technical-debt

#7701 resource/aws_api_gateway_method: Remove deprecated request_parameters_in_json argument
  aws/resource_aws_api_gateway_method.go
  website/docs/r/api_gateway_method.html.markdown
Labels: breaking-change, documentation, service/apigateway, size/M, technical-debt

#7700 resource/aws_api-gateway_integration_response: Remove deprecated response_parameters_in_json argument
  aws/resource_aws_api_gateway_integration_response.go
  website/docs/r/api_gateway_integration_response.html.markdown
Labels: breaking-change, documentation, service/apigateway, size/M, technical-debt

#7699 resource/aws_api_gateway_integration: Remove deprecated request_parameters_in_json argument
  aws/resource_aws_api_gateway_integration.go
  website/docs/r/api_gateway_integration.html.markdown
Labels: breaking-change, documentation, service/apigateway, size/M, technical-debt

#7698 resource/aws_api_gateway_api_key: Remove deprecated stage_key configuration block
  aws/resource_aws_api_gateway_api_key.go
  aws/resource_aws_api_gateway_api_key_test.go
  aws/resource_aws_api_gateway_usage_plan_key_test.go
  aws/structure.go
  aws/structure_test.go
  website/docs/r/api_gateway_api_key.html.markdown
  website/docs/r/api_gateway_usage_plan_key.html.markdown
Labels: breaking-change, documentation, service/apigateway, size/XL, technical-debt, tests

#7697 data-source/aws_region: Remove deprecated current attribute
  aws/data_source_aws_region.go
  aws/data_source_aws_region_test.go
  website/docs/d/region.html.markdown
Labels: breaking-change, documentation, provider, size/XS, technical-debt, tests

#7696 data-source/aws_iam_role: Remove deprecated attributes
  aws/data_source_aws_iam_role.go
  aws/data_source_aws_iam_role_test.go
  website/docs/d/iam_role.html.markdown
Labels: breaking-change, documentation, service/iam, size/M, technical-debt, tests

#7695 resource/aws_route53_zone: Remove deprecated vpc_id and vpc_region arguments
  aws/data_source_aws_route53_zone_test.go
  aws/resource_aws_route53_zone.go
  aws/resource_aws_route53_zone_association_test.go
  aws/resource_aws_route53_zone_test.go
  website/docs/r/route53_zone.html.markdown
Labels: breaking-change, documentation, service/route53, size/L, technical-debt, tests

#7665 tests/resource/aws_api_gateway_vpc_link: Implement sweeper
  aws/resource_aws_api_gateway_vpc_link.go
  aws/resource_aws_api_gateway_vpc_link_test.go
  aws/resource_aws_lb_test.go
Labels: service/apigateway, size/M, tests

#7664 resource/aws_lambda_layer_version: Swap arn and layer_arn attribute values
  aws/data_source_aws_lambda_function_test.go
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_lambda_layer_version.go
  aws/resource_aws_lambda_layer_version_test.go
  website/docs/r/lambda_function.html.markdown
  website/docs/r/lambda_layer_version.html.markdown
Labels: breaking-change, documentation, service/lambda, size/S, technical-debt, tests

#7737 provider: Return error instead of logging on AWS Account ID lookup failure during initialization
  go.mod
  go.sum
  vendor/github.com/hashicorp/aws-sdk-go-base/CHANGELOG.md
  vendor/github.com/hashicorp/aws-sdk-go-base/session.go
  vendor/modules.txt
Labels: breaking-change, dependencies, provider, size/XS

#2425 r/cognito_user_pool: Add ConflictsWith to a few fields
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
Labels: breaking-change, enhancement, service/cognito

#7745 resource/aws_iam_user_login_profile: Properly read, delete, trigger resource recreation, and require import for existing infrastructure
  aws/resource_aws_iam_user_login_profile.go
  aws/resource_aws_iam_user_login_profile_test.go
  website/docs/guides/version-2-upgrade.html.md
  website/docs/r/iam_user_login_profile.html.markdown
Labels: breaking-change, bug, documentation, service/iam, size/L, tests

#7717 resource/aws_redshift_cluster: Remove deprecated arguments and properly read logging into Terraform state
  aws/diff_suppress_funcs.go
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_redshift_cluster_test.go
  aws/structure.go
  website/docs/r/redshift_cluster.html.markdown
Labels: breaking-change, bug, documentation, service/redshift, size/L, technical-debt, tests

#7732 resource/aws_cloudfront_distribution: Adjust TypeSet and TypeList attributes for better difference handling
  aws/cloudfront_distribution_configuration_structure.go
  aws/cloudfront_distribution_configuration_structure_test.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
Labels: bug, service/cloudfront, size/XL, tests

#7755 tests/provider: Remove all aws_region current = true configurations
  aws/resource_aws_cloudwatch_log_destination_policy_test.go
  aws/resource_aws_cloudwatch_log_destination_test.go
  aws/resource_aws_dynamodb_global_table_test.go
  aws/resource_aws_iot_topic_rule_test.go
  aws/resource_aws_sfn_state_machine_test.go
Labels: service/cloudwatchlogs, service/dynamodb, service/iot, service/sfn, size/XS, tests

#7752 tests/data-source/aws_redshift_cluster: Fix TestAccAWSDataSourceRedshiftCluster_logging configuration for recent resource removals
  aws/data_source_aws_redshift_cluster_test.go
Labels: service/redshift, size/M, tests
