Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-06, with the labels that each got.

#8683 tests/service/gamelift: Add PreCheck for service availability and skip undefined sample game regions
  aws/resource_aws_gamelift_alias_test.go
  aws/resource_aws_gamelift_build_test.go
  aws/resource_aws_gamelift_fleet_test.go
  aws/resource_aws_gamelift_game_session_queue_test.go
  aws/resource_aws_gamelift_test.go
Labels: partition/aws-us-gov, service/gamelift, size/S, tests

#8676 tests/service/backup: Add PreCheck for service availability
  aws/resource_aws_backup_plan_test.go
  aws/resource_aws_backup_selection_test.go
  aws/resource_aws_backup_vault_test.go
Labels: partition/aws-us-gov, service/backup, size/S, tests

#8846 docs/provider: Specifically call out AWS_DEFAULT_REGION environment variable for AWS GovCloud (US) testing
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#8684 tests/service/kinesisanalytics: Add PreCheck for service availability
  aws/resource_aws_kinesis_analytics_application_test.go
Labels: partition/aws-us-gov, service/kinesisanalytics, size/S, tests

#8829 Secure basic CloudTrail example
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, service/cloudtrail, size/XS

#8837 Document the aws_ssm_activation "id" attribute
  website/docs/r/ssm_activation.html.markdown
Labels: documentation, service/ssm, size/XS

#8838 Update waf_sql_injection_match_set.html.markdown
  website/docs/r/waf_sql_injection_match_set.html.markdown
Labels: documentation, service/waf, size/XS

#8718 Update default example to use json instead of form
  website/docs/r/codepipeline_webhook.markdown
Labels: documentation, service/codepipeline, size/XS

#8849 Update cloudwatch_event_target.html.markdown
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, service/cloudwatchevents, size/XS

#8844 Add a nil check for reading instance market options
  aws/resource_aws_launch_template.go
Labels: bug, service/ec2, size/XS

#8692 tests/service/cloudfront: Add PreCheck for service availability
  aws/resource_aws_cloudfront_distribution_test.go
  aws/resource_aws_cloudfront_origin_access_identity_test.go
  aws/resource_aws_cloudfront_public_key_test.go
Labels: partition/aws-us-gov, service/cloudfront, size/M, tests

#8787 docs/resource/aws_route53_record: Add NS and SOA Record Management example
  website/docs/r/route53_record.html.markdown
Labels: documentation, service/route53, size/XS

#8685 tests/service/macie: Add PreCheck for service availability
  aws/resource_aws_macie_member_account_association_test.go
  aws/resource_aws_macie_s3_bucket_association_test.go
Labels: partition/aws-us-gov, service/macie, service/s3, size/XS, tests

#8686 tests/service/mediapackage: Add PreCheck for service availability
  aws/resource_aws_media_package_channel_test.go
Labels: partition/aws-us-gov, service/mediapackage, size/XS, tests

#8688 tests/service/mq: Add PreCheck for service availability
  aws/resource_aws_mq_broker_test.go
  aws/resource_aws_mq_configuration_test.go
Labels: partition/aws-us-gov, service/mq, size/S, tests

#8689 tests/service/batch: Add PreCheck for service availability
  aws/data_source_aws_batch_compute_environment_test.go
  aws/data_source_aws_batch_job_queue_test.go
  aws/resource_aws_batch_compute_environment_test.go
  aws/resource_aws_batch_job_definition_test.go
  aws/resource_aws_batch_job_queue_test.go
Labels: partition/aws-us-gov, service/batch, size/S, tests

#8690 tests/service/cloud9: Add PreCheck for service availability
  aws/resource_aws_cloud9_environment_ec2_test.go
Labels: partition/aws-us-gov, service/cloud9, service/ec2, size/XS, tests

#8691 tests/service/budgets: Add PreCheck for service availability
  aws/resource_aws_budgets_budget_test.go
Labels: partition/aws-us-gov, service/budgets, size/XS, tests

#8693 tests/service/cognitoidentity: Add PreCheck for service availability
  aws/resource_aws_cognito_identity_pool_roles_attachment_test.go
  aws/resource_aws_cognito_identity_pool_test.go
Labels: partition/aws-us-gov, service/cognito, size/S, tests

#8695 tests/service/dlm: Add PreCheck for service availability
  aws/resource_aws_dlm_lifecycle_policy_test.go
Labels: partition/aws-us-gov, service/dlm, size/XS, tests

#8696 tests/service/eks: Add PreCheck for service availability
  aws/data_source_aws_eks_cluster_test.go
  aws/resource_aws_eks_cluster_test.go
Labels: partition/aws-us-gov, service/eks, size/XS, tests

#8698 tests/service/lightsail: Add PreCheck for service availability
  aws/resource_aws_lightsail_domain_test.go
  aws/resource_aws_lightsail_instance_test.go
  aws/resource_aws_lightsail_key_pair_test.go
  aws/resource_aws_lightsail_static_ip_attachment_test.go
  aws/resource_aws_lightsail_static_ip_test.go
Labels: partition/aws-us-gov, service/lightsail, size/S, tests

#8700 tests/service/secretsmanager: Add PreCheck for service availability
  aws/data_source_aws_secretsmanager_secret_test.go
  aws/data_source_aws_secretsmanager_secret_version_test.go
  aws/resource_aws_secretsmanager_secret_test.go
  aws/resource_aws_secretsmanager_secret_version_test.go
Labels: partition/aws-us-gov, service/secretsmanager, size/S, tests

#8701 tests/service/route53resolver: Add PreCheck for service availability
  aws/resource_aws_route53_resolver_endpoint_test.go
  aws/resource_aws_route53_resolver_rule_association_test.go
  aws/resource_aws_route53_resolver_rule_test.go
Labels: partition/aws-us-gov, service/route53, service/route53resolver, size/S, tests

#6322 Bump timeout for subnet delete from 10 to 20 mins
  aws/resource_aws_subnet.go
Labels: bug, service/ec2, size/XS

#8694 tests/service/cognitoidentityprovider: Add PreCheck for service availability
  aws/data_source_aws_cognito_user_pools_test.go
  aws/resource_aws_cognito_identity_provider_test.go
  aws/resource_aws_cognito_resource_server_test.go
  aws/resource_aws_cognito_user_group_test.go
  aws/resource_aws_cognito_user_pool_client_test.go
  aws/resource_aws_cognito_user_pool_domain_test.go
  aws/resource_aws_cognito_user_pool_test.go
Labels: partition/aws-us-gov, service/cognito, size/M, tests

#8697 tests/service/elastictranscoder: Add PreCheck for service availability
  aws/resource_aws_elastic_transcoder_pipeline_test.go
  aws/resource_aws_elastic_transcoder_preset_test.go
Labels: partition/aws-us-gov, service/elastic-transcoder, size/XS, tests

#8699 tests/service/ses: Add PreCheck for service availability
  aws/resource_aws_ses_active_receipt_rule_set_test.go
  aws/resource_aws_ses_configuration_set_test.go
  aws/resource_aws_ses_domain_dkim_test.go
  aws/resource_aws_ses_domain_identity_test.go
  aws/resource_aws_ses_domain_identity_verification_test.go
  aws/resource_aws_ses_domain_mail_from_test.go
  aws/resource_aws_ses_email_identity_test.go
  aws/resource_aws_ses_event_destination_test.go
  aws/resource_aws_ses_identity_notification_topic_test.go
  aws/resource_aws_ses_receipt_filter_test.go
  aws/resource_aws_ses_receipt_rule_set_test.go
  aws/resource_aws_ses_receipt_rule_test.go
  aws/resource_aws_ses_template_test.go
Labels: partition/aws-us-gov, service/ses, size/S, tests

#8703 tests/service/transfer: Add PreCheck for service availability
  aws/data_source_aws_transfer_server_test.go
  aws/resource_aws_transfer_server_test.go
  aws/resource_aws_transfer_ssh_key_test.go
  aws/resource_aws_transfer_user_test.go
Labels: partition/aws-us-gov, service/transfer, size/S, tests

#8704 tests/service/waf: Add PreCheck for service availability
  aws/resource_aws_waf_byte_match_set_test.go
  aws/resource_aws_waf_geo_match_set_test.go
  aws/resource_aws_waf_ipset_test.go
  aws/resource_aws_waf_rate_based_rule_test.go
  aws/resource_aws_waf_regex_match_set_test.go
  aws/resource_aws_waf_regex_pattern_set_test.go
  aws/resource_aws_waf_rule_group_test.go
  aws/resource_aws_waf_rule_test.go
  aws/resource_aws_waf_size_constraint_set_test.go
  aws/resource_aws_waf_sql_injection_match_set_test.go
  aws/resource_aws_waf_web_acl_test.go
  aws/resource_aws_waf_xss_match_set_test.go
Labels: partition/aws-us-gov, service/waf, size/M, tests

#8852 Add nil check for S3 bucket metric filter
  aws/resource_aws_s3_bucket_metric.go
  aws/resource_aws_s3_bucket_metric_test.go
Labels: bug, crash, service/s3, size/S, tests

#8856 Retry timeout error for acmpca cert authority
  aws/resource_aws_acmpca_certificate_authority.go
Labels: bug, service/acmpca, size/XS

#8815 tests/provider: Add tfproviderlint
  GNUmakefile
  go.mod
  go.sum
  tools.go
  vendor/github.com/bflad/tfproviderlint/cmd/tfproviderlint/tfproviderlint.go
  vendor/github.com/bflad/tfproviderlint/passes/AT001/AT001.go
  vendor/github.com/bflad/tfproviderlint/passes/AT002/AT002.go
  vendor/github.com/bflad/tfproviderlint/passes/AT003/AT003.go
  vendor/github.com/bflad/tfproviderlint/passes/AT004/AT004.go
  vendor/github.com/bflad/tfproviderlint/passes/R001/R001.go
  vendor/github.com/bflad/tfproviderlint/passes/R002/R002.go
  vendor/github.com/bflad/tfproviderlint/passes/R003/R003.go
  vendor/github.com/bflad/tfproviderlint/passes/R004/R004.go
  vendor/github.com/bflad/tfproviderlint/passes/S001/S001.go
  vendor/github.com/bflad/tfproviderlint/passes/S002/S002.go
  vendor/github.com/bflad/tfproviderlint/passes/S003/S003.go
  vendor/github.com/bflad/tfproviderlint/passes/S004/S004.go
  vendor/github.com/bflad/tfproviderlint/passes/S005/S005.go
  vendor/github.com/bflad/tfproviderlint/passes/S006/S006.go
  vendor/github.com/bflad/tfproviderlint/passes/acctestcase/acctestcase.go
  vendor/github.com/bflad/tfproviderlint/passes/acctestfunc/acctestfunc.go
  vendor/github.com/bflad/tfproviderlint/passes/commentignore/ignore.go
  vendor/github.com/bflad/tfproviderlint/passes/resourcedataset/resourcedataset.go
  vendor/github.com/bflad/tfproviderlint/passes/schemaresource/README.md
  vendor/github.com/bflad/tfproviderlint/passes/schemaresource/schemaresource.go
  vendor/github.com/bflad/tfproviderlint/passes/schemaschema/README.md
  vendor/github.com/bflad/tfproviderlint/passes/schemaschema/schemaschema.go
  vendor/golang.org/x/tools/go/analysis/analysis.go
  vendor/golang.org/x/tools/go/analysis/internal/analysisflags/flags.go
  vendor/golang.org/x/tools/go/analysis/internal/analysisflags/help.go
  vendor/golang.org/x/tools/go/analysis/internal/checker/checker.go
  vendor/golang.org/x/tools/go/analysis/internal/facts/facts.go
  vendor/golang.org/x/tools/go/analysis/internal/facts/imports.go
  vendor/golang.org/x/tools/go/analysis/multichecker/multichecker.go
  vendor/golang.org/x/tools/go/analysis/passes/asmdecl/asmdecl.go
  vendor/golang.org/x/tools/go/analysis/passes/lostcancel/lostcancel.go
  vendor/golang.org/x/tools/go/analysis/passes/stdmethods/stdmethods.go
  vendor/golang.org/x/tools/go/analysis/passes/structtag/structtag.go
  vendor/golang.org/x/tools/go/analysis/passes/unmarshal/unmarshal.go
  vendor/golang.org/x/tools/go/analysis/unitchecker/main.go
  vendor/golang.org/x/tools/go/analysis/unitchecker/unitchecker.go
  vendor/golang.org/x/tools/go/analysis/unitchecker/unitchecker112.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/modules.txt
Labels: dependencies, size/XXL, tests

#8850 service/kafka: Enhancements for General Availability Release
  aws/data_source_aws_msk_cluster.go
  aws/data_source_aws_msk_cluster_test.go
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_msk_cluster_test.go
  website/docs/d/msk_cluster.html.markdown
  website/docs/r/msk_cluster.html.markdown
  website/docs/r/msk_configuration.html.markdown
Labels: documentation, enhancement, service/kafka, size/XXL, tests

#8889 Update iam-policy-documents.html.md
  website/docs/guides/iam-policy-documents.html.md
Labels: documentation, size/XS

#8872 Fixes link to "Common Review Items"
  .github/CONTRIBUTING.md
Labels: size/XS

#8678 New data source: aws_ec2_transit_gateway_dx_gateway_attachment
  aws/data_source_aws_ec2_transit_gateway_dx_gateway_attachment.go
  aws/data_source_aws_ec2_transit_gateway_dx_gateway_attachment_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/ec2_transit_gateway_dx_gateway_attachment.html.markdown
Labels: documentation, new-data-source, provider, service/directconnect, service/ec2, size/XL, tests

#8895 Fix page titles to include full resource/data source name
  website/docs/d/cloudhsm_v2_cluster.html.markdown
  website/docs/d/efs_file_system.html.markdown
  website/docs/d/efs_mount_target.html.markdown
  website/docs/r/batch_job_definition.html.markdown
  website/docs/r/batch_job_queue.html.markdown
  website/docs/r/cloudfront_distribution.html.markdown
  website/docs/r/cloudfront_origin_access_identity.html.markdown
  website/docs/r/cloudfront_public_key.html.markdown
  website/docs/r/cloudhsm_v2_cluster.html.markdown
  website/docs/r/cloudhsm_v2_hsm.html.markdown
  website/docs/r/cloudtrail.html.markdown
  website/docs/r/cloudwatch_metric_alarm.html.markdown
  website/docs/r/dynamodb_table.html.markdown
  website/docs/r/dynamodb_table_item.html.markdown
  website/docs/r/sagemaker_notebook_instance.html.markdown
  website/docs/r/ses_active_receipt_rule_set.html.markdown
  website/docs/r/ses_configuration_set.markdown
  website/docs/r/ses_domain_dkim.html.markdown
  website/docs/r/ses_domain_identity.html.markdown
  website/docs/r/ses_domain_identity_verification.html.markdown
  website/docs/r/ses_domain_mail_from.html.markdown
  website/docs/r/ses_email_identity.html.markdown
  website/docs/r/ses_event_destination.markdown
  website/docs/r/ses_receipt_filter.html.markdown
  website/docs/r/ses_receipt_rule.html.markdown
  website/docs/r/ses_receipt_rule_set.html.markdown
  website/docs/r/sfn_activity.html.markdown
  website/docs/r/sfn_state_machine.html.markdown
  website/docs/r/simpledb_domain.html.markdown
  website/docs/r/sns_platform_application.html.markdown
  website/docs/r/sns_sms_preferences.html.markdown
  website/docs/r/sns_topic.html.markdown
  website/docs/r/sns_topic_policy.html.markdown
  website/docs/r/sns_topic_subscription.html.markdown
  website/docs/r/waf_byte_match_set.html.markdown
  website/docs/r/waf_geo_match_set.html.markdown
  website/docs/r/waf_ipset.html.markdown
  website/docs/r/waf_rate_based_rule.html.markdown
  website/docs/r/waf_regex_match_set.html.markdown
  website/docs/r/waf_regex_pattern_set.html.markdown
  website/docs/r/waf_rule.html.markdown
  website/docs/r/waf_rule_group.html.markdown
  website/docs/r/waf_size_constraint_set.html.markdown
  website/docs/r/waf_sql_injection_match_set.html.markdown
  website/docs/r/waf_xss_match_set.html.markdown
  website/docs/r/wafregional_byte_match_set.html.markdown
  website/docs/r/wafregional_geo_match_set.html.markdown
  website/docs/r/wafregional_ipset.html.markdown
  website/docs/r/wafregional_rate_based_rule.html.markdown
  website/docs/r/wafregional_regex_match_set.html.markdown
  website/docs/r/wafregional_regex_pattern_set.html.markdown
  website/docs/r/wafregional_rule.html.markdown
  website/docs/r/wafregional_rule_group.html.markdown
  website/docs/r/wafregional_size_constraint_set.html.markdown
  website/docs/r/wafregional_sql_injection_match_set.html.markdown
  website/docs/r/wafregional_xss_match_set.html.markdown
Labels: documentation, service/batch, service/cloudfront, service/cloudhsmv2, service/cloudwatch, service/dynamodb, service/efs, service/sagemaker, service/ses, service/sfn, service/simpledb, service/sns, size/M

#8110 CodeBuild Webhook FilterGroups
  aws/resource_aws_codebuild_webhook.go
  aws/resource_aws_codebuild_webhook_test.go
  website/docs/r/codebuild_webhook.html.markdown
Labels: documentation, enhancement, service/codebuild, size/L, tests

#8869 service/dax: Add PreCheck for service availability
  aws/resource_aws_dax_cluster_test.go
  aws/resource_aws_dax_parameter_group_test.go
  aws/resource_aws_dax_subnet_group_test.go
Labels: partition/aws-us-gov, service/dax, size/S, tests

#8875 tests/resource/aws_dynamodb_global_table: Add PreCheck for Global Table functionality
  aws/provider_test.go
  aws/resource_aws_dynamodb_global_table_test.go
Labels: partition/aws-us-gov, service/dynamodb, size/XS, tests

#8878 docs/resource/aws_dynamodb_table: Remove unsupported Terraform 0.11 syntax workaround
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, service/dynamodb, size/XS

#8883 tests/resource/aws_glue_crawler: Ensure IAM configuration is partition agnostic
  aws/resource_aws_glue_crawler_test.go
Labels: partition/aws-us-gov, service/glue, size/XS, tests

#8451 Document AWS_SDK_LOAD_CONFIG on aws provider
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS, waiting-response

#8899 Remove flatmap dependency
  aws/structure_test.go
Labels: size/S, technical-debt, tests, waiting-response

#8909 aws_eks_cluster: Increase create timeout to 30 mins
  aws/resource_aws_eks_cluster.go
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, service/eks, size/XS, waiting-response

#7293 ses_identity_notification_topic: add support for include_original_headers
  aws/resource_aws_ses_identity_notification_topic.go
  aws/resource_aws_ses_identity_notification_topic_test.go
  website/docs/r/ses_identity_notification_topic.markdown
Labels: documentation, enhancement, service/ses, size/M, tests

#8932 Update resource name
  website/docs/r/ses_domain_dkim.html.markdown
Labels: documentation, service/ses, size/XS

#8931 resource/aws_iam_service_linked_role: Automatically suppress Application Autoscaling custom_suffix differences
  aws/resource_aws_iam_service_linked_role.go
  aws/resource_aws_iam_service_linked_role_test.go
Labels: bug, service/iam, size/S, tests

#8887 aws_elasticache_replication_group: Implement noop MigrateState for v0..v1
  aws/resource_aws_elasticache_replication_group.go
Labels: bug, service/elasticache, size/XS

#8900 Add nil check when building dynamo table item id
  aws/resource_aws_dynamodb_table_item.go
Labels: bug, service/dynamodb, size/S

#8934 Clearer source_code_hash description
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS, waiting-response

#8906 Update ram_resource_share.html.markdown
  website/docs/d/ram_resource_share.html.markdown
Labels: documentation, service/ram, size/XS

#8893 Fixes for more resource.Retry calls
  aws/resource_aws_api_gateway_resource.go
  aws/resource_aws_appautoscaling_target.go
  aws/resource_aws_dx_connection_association.go
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_iam_server_certificate.go
  aws/resource_aws_sns_topic_subscription.go
  aws/resource_aws_sns_topic_subscription_test.go
  aws/resource_aws_ssm_activation.go
Labels: bug, service/apigateway, service/applicationautoscaling, service/directconnect, service/elasticache, service/iam, service/sns, service/ssm, size/S, tests

#8962 Add Auto Scaling Plans service client
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/autoscalingplans/api.go
  vendor/github.com/aws/aws-sdk-go/service/autoscalingplans/doc.go
  vendor/github.com/aws/aws-sdk-go/service/autoscalingplans/errors.go
  vendor/github.com/aws/aws-sdk-go/service/autoscalingplans/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#8967 deps: github.com/terraform-providers/terraform-provider-template@v2.1.2+incompatible
  go.mod
  go.sum
  vendor/github.com/terraform-providers/terraform-provider-template/template/datasource_cloudinit_config.go
  vendor/github.com/terraform-providers/terraform-provider-template/template/datasource_template_file.go
  vendor/modules.txt
Labels: dependencies, size/M

#8968 deps: github.com/terraform-providers/terraform-provider-tls@v2.0.1+incompatible
  go.mod
  go.sum
  vendor/github.com/hashicorp/hcl/go.mod
  vendor/github.com/hashicorp/hcl/go.sum
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/data_source_public_key.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/provider.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_cert_request.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_certificate.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_private_key.go
  vendor/modules.txt
Labels: dependencies, size/M

#8969 travis: Add matrix builds
  .travis.yml
Labels: size/S, tests

#8907 Retry for deleting default DHCP options, plus pagination plus a test sweeper
  aws/resource_aws_default_vpc_dhcp_options.go
  aws/resource_aws_default_vpc_dhcp_options_test.go
  aws/resource_aws_vpc_dhcp_options.go
  aws/resource_aws_vpc_dhcp_options_test.go
Labels: bug, service/ec2, size/M, tests

#8977 New Data Source: aws_customer_gateway
  aws/data_source_aws_customer_gateway.go
  aws/data_source_aws_customer_gateway_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/customer_gateway.html.markdown
Labels: documentation, new-data-source, provider, service/ec2, size/L, tests

#8980 polish aws_autoscaling_group readme
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#8981 Final retry for deleting elasticache security group
  aws/resource_aws_elasticache_security_group.go
Labels: bug, service/elasticache, size/XS

#8975 Docs typo fix
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, size/XS

#8984 Final retries for kinesis applications
  aws/resource_aws_kinesis_analytics_application.go
Labels: bug, service/kinesisanalytics, size/XS

#8986 Final retries for docdb cluster operations
  aws/resource_aws_docdb_cluster.go
Labels: bug, service/docdb, size/XS

#8961 Fixed several examples in the codebuild_project docs
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#8990 Update CONTRIBUTING guide to clarify expectations
  .github/CONTRIBUTING.md
Labels: size/L, technical-debt

#9004 Removed duplicate of preferred_backup_window
  website/docs/r/docdb_cluster.html.markdown
Labels: documentation, service/docdb, size/XS

#8960 docs/resource/aws_organization_account: Additional information about role_name drift detection and import
  website/docs/r/organizations_account.html.markdown
Labels: documentation, service/organizations, size/XS

#9021 Add state to availability_zones example
  website/docs/d/availability_zones.html.markdown
Labels: documentation, service/ec2, size/XS

#9012 aws_rds_cluster: 1 ACU is valid now
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds, size/XS

#9011 Removed note about ECR not being available in all regions.
  website/docs/r/ecr_repository.html.markdown
Labels: documentation, service/ecr, size/XS

#8970 Fix importing of DX Gateway associations via DX Gateway import
  aws/import_aws_dx_gateway.go
  aws/resource_aws_dx_gateway.go
Labels: bug, regression, service/directconnect, size/M

#9023 Move tag creation for secrets manager from being a seperate step to be part of the creati…
  aws/resource_aws_secretsmanager_secret.go
Labels: enhancement, service/secretsmanager, size/XS

#8995 Fix typo in CodeBuild Webhook doc
  website/docs/r/codebuild_webhook.html.markdown
Labels: documentation, service/codebuild, size/XS

#9028 Fixed typo (EC2 => ECR) and remove note about ECR availability
  website/docs/r/ecr_repository.html.markdown
  website/docs/r/ecr_repository_policy.html.markdown
Labels: documentation, service/ecr, size/XS

#8935 Clarified WAF predicate documentation
  website/docs/r/waf_rate_based_rule.html.markdown
  website/docs/r/waf_rule.html.markdown
  website/docs/r/wafregional_rate_based_rule.html.markdown
  website/docs/r/wafregional_rule.html.markdown
Labels: documentation, service/waf, size/XS

#8993 Add support resource tags for aws codepipeline resources
  aws/resource_aws_codepipeline.go
  aws/resource_aws_codepipeline_test.go
  aws/resource_aws_codepipeline_webhook.go
  aws/resource_aws_codepipeline_webhook_test.go
  aws/tagsCodePipeline.go
  aws/tagsCodePipeline_test.go
  website/docs/r/codepipeline.markdown
  website/docs/r/codepipeline_webhook.markdown
Labels: documentation, enhancement, service/codepipeline, size/XL, tests

#8886 tests/resource/aws_kinesis_firehose_delivery_stream: Ensure configuration is partition agnostic and fix ExpectError checks
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
Labels: partition/aws-us-gov, service/firehose, size/S, tests

#8879 docs/resource/aws_glue_catalog_table: Use Terraform 0.11 and 0.12 compatible syntax
  website/docs/r/glue_catalog_table.html.markdown
Labels: documentation, service/glue, size/S

#8921 tests/resource/aws_spot_fleet_request: Add PreCheck for functionality
  aws/resource_aws_spot_fleet_request_test.go
Labels: partition/aws-us-gov, service/ec2, size/M, tests

#8922 tests/resource/aws_rds_global_cluster: Add PreCheck for functionality
  aws/resource_aws_rds_global_cluster_test.go
Labels: partition/aws-us-gov, service/rds, size/XS, tests

#8924 docs/resource/aws_cloudfront_distribution: Additional information for web_acl_id argument
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, service/cloudfront, size/XS

#8994 Final retries for RDS cluster functions
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_instance.go
  aws/resource_aws_rds_global_cluster.go
Labels: bug, service/rds, size/XS

#9017 Timeout retries creating and updating firehose delivery streams
  aws/resource_aws_kinesis_firehose_delivery_stream.go
Labels: bug, service/firehose, size/XS

#8957 docs/resource/aws_msk_cluster: Additional information about bootstrap_brokers and bootstrap_brokers_tls
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, service/kafka, size/XS

#9030 tests/provider: Enable tfproviderlint schema checks S007 through S017
  GNUmakefile
Labels: provider, size/XS, tests

#9027 Automate labeling of new issues for triage
  .github/main.workflow
Labels: size/XS, technical-debt

#8976 Add CODEOWNERS file to automatically assign pull requests for review
  .github/CODEOWNERS
Labels: size/XS, technical-debt

#9031 docs/provider: Update Contributing Guide to elide HashiCorp vs. Community Providers section, add links to GitHub Help, and add Go Coding Style references
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/M

#8926 resource/aws_organizations_organization: Add non_master_accounts attribute
  aws/resource_aws_organizations_organization.go
  aws/resource_aws_organizations_organization_test.go
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, enhancement, service/organizations, size/S, tests

#9038 Mention Network LB in target_group_arns arg
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#9022 Updates resource to new Community Forum
  .github/ISSUE_TEMPLATE/Question.md
Labels: size/XS, waiting-response

#9044 Feature/fix removed resource error handling for aws cloudwatch event permission resource
  aws/resource_aws_cloudwatch_event_permission.go
  aws/resource_aws_cloudwatch_event_permission_test.go
Labels: bug, service/cloudwatchevents, size/S, tests

#8874 tests/resource/aws_dms_replication_instance: Support AWS GovCloud (US) testing
  aws/resource_aws_dms_replication_instance_test.go
Labels: partition/aws-us-gov, service/databasemigrationservice, size/M, tests

#8992 Timeout error retries for SSM resources
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_resource_data_sync.go
Labels: bug, service/ssm, size/S

#9013 Final retries for elasticache
  aws/resource_aws_elasticache_parameter_group.go
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_subnet_group.go
Labels: bug, service/elasticache, size/S

#9036 Final retries after timeouts for various Neptune resources
  aws/resource_aws_neptune_cluster.go
  aws/resource_aws_neptune_cluster_instance.go
  aws/resource_aws_neptune_parameter_group.go
Labels: bug, service/neptune, size/S

#9010 provider: Adjust globalaccelerator, route53, and shield service client regions to only configure in appropriate partition
  aws/config.go
Labels: bug, partition/aws-us-gov, provider, service/globalaccelerator, service/route53, service/shield, size/S

#9045 resource/aws_ses_receipt_rule_set: Prevent missing Terraform state for newly created resources
  aws/resource_aws_ses_receipt_rule_set.go
Labels: bug, service/ses, size/S

#8871 tests/service/directoryservice: Support AWS GovCloud (US) testing
  aws/resource_aws_directory_service_conditional_forwarder_test.go
  aws/resource_aws_directory_service_directory_test.go
Labels: partition/aws-us-gov, service/directoryservice, size/L, tests

#9041 Add support for terraform import to resource backup_vault
  .gitignore
  aws/resource_aws_backup_vault.go
  aws/resource_aws_backup_vault_test.go
  website/docs/r/backup_vault.html.markdown
Labels: documentation, enhancement, service/backup, size/M, tests

#9058 provider: Remove extraneous Computed, Optional, and Required: false schema declarations and enable tfproviderlint S019
  GNUmakefile
  aws/resource_aws_cloudhsm2_cluster.go
  aws/resource_aws_db_instance.go
  aws/resource_aws_default_network_acl.go
  aws/resource_aws_docdb_cluster.go
  aws/resource_aws_iam_openid_connect_provider.go
  aws/resource_aws_network_acl.go
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_vpc_peering_connection_accepter.go
Labels: provider, service/docdb, service/ec2, service/iam, service/rds, size/XS, tests

#8780 Add aws_ecs_task_definition.proxy_configuration
  aws/resource_aws_ecs_task_definition.go
  aws/resource_aws_ecs_task_definition_test.go
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, enhancement, service/ecs, size/L, tests

#8771 EBS default encryption
  aws/provider.go
  aws/resource_aws_ebs_default_kms_key.go
  aws/resource_aws_ebs_default_kms_key_test.go
  aws/resource_aws_ebs_encryption_by_default.go
  aws/resource_aws_ebs_encryption_by_default_test.go
  website/aws.erb
  website/docs/r/ebs_default_kms_key.html.markdown
  website/docs/r/ebs_encryption_by_default.html.markdown
Labels: documentation, new-resource, provider, service/ec2, service/kms, size/XL, tests

#8674 Tagging for VPC Endpoints and VPC Endpoint Services
  aws/data_source_aws_vpc_endpoint.go
  aws/data_source_aws_vpc_endpoint_service.go
  aws/data_source_aws_vpc_endpoint_service_test.go
  aws/data_source_aws_vpc_endpoint_test.go
  aws/resource_aws_vpc_endpoint.go
  aws/resource_aws_vpc_endpoint_service.go
  aws/resource_aws_vpc_endpoint_service_test.go
  aws/resource_aws_vpc_endpoint_test.go
  aws/structure.go
  website/docs/d/vpc_endpoint.html.markdown
  website/docs/d/vpc_endpoint_service.html.markdown
  website/docs/r/vpc_endpoint.html.markdown
  website/docs/r/vpc_endpoint_service.html.markdown
Labels: documentation, enhancement, service/ec2, size/XXL, tests

#9060 provider: Automatically configure AWS China Route 53 region and endpoint
  aws/config.go
Labels: bug, partition/aws-cn, provider, service/route53, size/XS

#9054 Remove extra retry and cleanup errors for deleting api gateway resource
  aws/resource_aws_api_gateway_resource.go
Labels: bug, service/apigateway

#9055 Improve error handling when setting opsworks permission
  aws/resource_aws_opsworks_permission.go
  aws/resource_aws_opsworks_permission_test.go
Labels: bug, service/opsworks

#9053 Timeout retry when deleting EMR cluster
  aws/resource_aws_emr_cluster.go
Labels: bug, service/emr, size/M

#9039 Retries for appautoscaling
  aws/resource_aws_appautoscaling_policy.go
  aws/resource_aws_appautoscaling_scheduled_action.go
Labels: bug, service/applicationautoscaling, size/XS

#9066 Updates for terraform-providers link
  .github/ISSUE_TEMPLATE/Question.md
Labels: size/XS

#9003 resource/aws_instance: Add check for empty credit_specification block
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
Labels: bug, crash, service/ec2, size/M, tests

#8991 capture current AWS specific hashibot behaviors in config file
  .hashibot.hcl
Labels: size/XL

#9073 Document ecs_service block in codedeploy_deployment_group
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: documentation, service/codedeploy, size/XS

#8313 Docs: Change role resource reference in policy
  website/docs/r/flow_log.html.markdown
Labels: documentation, service/ec2, size/XS, waiting-response

#9068 Cleanup around resource.Retry methods for various api gateway resources
  aws/resource_aws_api_gateway_account.go
  aws/resource_aws_api_gateway_base_path_mapping.go
  aws/resource_aws_api_gateway_domain_name.go
  aws/resource_aws_api_gateway_gateway_response.go
  aws/resource_aws_api_gateway_model.go
  aws/resource_aws_api_gateway_usage_plan.go
  aws/resource_aws_api_gateway_usage_plan_key.go
Labels: bug, service/apigateway, size/L

#9078 Retries after timeouts on spot resources
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_instance_request.go
Labels: bug, service/ec2, size/XS

#9089 provider: Configure additional hashibot labeling, format configuration
  .hashibot.hcl
Labels: provider, size/XXL, technical-debt

#9098 Add CheckDestroy step for aws_autoscaling_attachment resources acctest
  aws/resource_aws_autoscaling_attachment_test.go
Labels: service/autoscaling, size/S, technical-debt, tests

#9110 provider: Add automatic service labels for applicationinsights and servicequotas
  .hashibot.hcl
Labels: provider, size/XS

#9112 provider: Add service clients for applicationinsights and servicequotas
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/applicationinsights/api.go
  vendor/github.com/aws/aws-sdk-go/service/applicationinsights/doc.go
  vendor/github.com/aws/aws-sdk-go/service/applicationinsights/errors.go
  vendor/github.com/aws/aws-sdk-go/service/applicationinsights/service.go
  vendor/github.com/aws/aws-sdk-go/service/servicequotas/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicequotas/doc.go
  vendor/github.com/aws/aws-sdk-go/service/servicequotas/errors.go
  vendor/github.com/aws/aws-sdk-go/service/servicequotas/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, enhancement, provider, service/applicationinsights, service/servicequotas, size/XXL

#9097 aws/resource_aws_dms_endpoint: add db2 support
  aws/resource_aws_dms_endpoint.go
  aws/resource_aws_dms_endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, enhancement, service/databasemigrationservice, size/M, tests

#9111 resource/alb_target_group: Add support for UDP protocol
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_test.go
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lb_target_group_test.go
  website/docs/r/lb_listener.html.markdown
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, enhancement, service/elbv2, size/L, tests

#9126 Add CheckDestroy:nil for aws_kms_ciphertext resource acctest
  aws/resource_aws_kms_ciphertext_test.go
Labels: service/kms, size/XS, technical-debt, tests

#9123 Add missing CheckDestroy for aws_lb_target_group resource
  aws/resource_aws_lb_target_group_test.go
Labels: service/elbv2, size/XS, technical-debt, tests

#9120 Feature/add check destroy for aws iam instance profile resource
  aws/resource_aws_iam_instance_profile.go
  aws/resource_aws_iam_instance_profile_test.go
Labels: service/iam, size/S, technical-debt, tests

#9106 Add check destroy for aws ebs snapshot copy resource & Fix error handling
  aws/resource_aws_ebs_snapshot_copy.go
  aws/resource_aws_ebs_snapshot_copy_test.go
Labels: bug, service/ec2, size/M, tests

#9134 Add CheckDestroy for aws_ses_domain_dkim resource
  aws/resource_aws_ses_domain_dkim_test.go
Labels: service/ses, size/S, technical-debt, tests

#9099 modify aws db snapshot resource
  aws/resource_aws_db_snapshot.go
  aws/resource_aws_db_snapshot_test.go
Labels: bug, service/rds, size/M, tests

#9135 Add missing CheckDestroy for aws_lambda_event_source_mapping resource
  aws/resource_aws_lambda_event_source_mapping_test.go
Labels: service/lambda, size/XS, technical-debt, tests

#9136 Add Missing CheckDestroy for aws_api_gateway_vpc_link resource
  aws/resource_aws_api_gateway_vpc_link_test.go
Labels: service/apigateway, size/XS, technical-debt, tests

#9116 Add CheckDestroy for aws_ebs_volum resource
  aws/resource_aws_ebs_volume_test.go
Labels: service/ec2, size/S, technical-debt, tests

#9144 Add Missing CheckDestroy for aws_vpc_dhcp_options resource
  aws/resource_aws_vpc_dhcp_options_test.go
Labels: service/ec2, size/XS, technical-debt, tests

#9145 Add Missing CheckDestroy for aws_provider acctest
  aws/provider_test.go
Labels: provider, size/XS, technical-debt, tests

#8884 Data sources for EBS default encryption
  aws/data_source_aws_ebs_default_kms_key.go
  aws/data_source_aws_ebs_default_kms_key_test.go
  aws/data_source_aws_ebs_encryption_by_default.go
  aws/data_source_aws_ebs_encryption_by_default_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/ebs_default_kms_key.html.markdown
  website/docs/d/ebs_encryption_by_default.html.markdown
Labels: documentation, new-data-source, provider, service/ec2, service/kms, size/L, tests

#7981 Add support for tag-on-create for aws_kinesis_firehose_delivery_stream resource
  aws/resource_aws_kinesis_firehose_delivery_stream.go
Labels: enhancement, service/firehose, size/XS

#9132 Updated link to AWS docs for IAM condition operators
  website/docs/d/iam_policy_document.html.markdown
Labels: documentation, service/iam, size/XS

#9133 kinesis_streams - Fix typo in documentation
  website/docs/r/kinesis_stream.html.markdown
Labels: documentation, service/kinesis, size/XS

#9138 Update route53_health_check.html.markdown
  website/docs/r/route53_health_check.html.markdown
Labels: documentation, service/route53, size/XS

#9127 resource/ssm_parameter: Add version as output
  aws/data_source_aws_ssm_parameter.go
  aws/data_source_aws_ssm_parameter_test.go
  aws/resource_aws_ssm_parameter.go
  aws/resource_aws_ssm_parameter_test.go
  website/docs/d/ssm_parameter.html.markdown
  website/docs/r/ssm_parameter.html.markdown
Labels: documentation, enhancement, service/ssm, size/XS, tests

#9146 Modify aws snapshot create volume permission resource
  aws/resource_aws_snapshot_create_volume_permission.go
  aws/resource_aws_snapshot_create_volume_permission_test.go
Labels: size/M, technical-debt, tests

#9152 Update LB target group maximum timeout
  aws/resource_aws_lb_target_group.go
  website/docs/r/lb_target_group.html.markdown
Labels: bug, documentation, service/elbv2, size/XS

#9087 resource/aws_db_instance: Add max_allocated_storage argument (support Storage Autoscaling)
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, enhancement, service/rds, size/L, tests

#9159 Add missing CheckDestroy for aws_macie_member_account_association
  aws/resource_aws_macie_member_account_association_test.go
Labels: service/macie, size/XS, tests

#9162 Add check destroy for aws storagegateway resources
  aws/resource_aws_storagegateway_cache_test.go
  aws/resource_aws_storagegateway_upload_buffer_test.go
  aws/resource_aws_storagegateway_working_storage_test.go
Labels: service/storagegateway, size/XS, technical-debt, tests

#9167 Add CheckDestroy for aws_inspector_resource_group resource
  aws/resource_aws_inspector_resource_group_test.go
Labels: service/inspector, size/XS, technical-debt, tests

#9165 resource/ssm_maintenance_window_target: name and description are optional
  aws/resource_aws_ssm_maintenance_window_target.go
  aws/resource_aws_ssm_maintenance_window_target_test.go
Labels: bug, service/ssm, size/M, tests

#9158 add validation for route53 healthcheck request_interval
  aws/resource_aws_route53_health_check.go
Labels: enhancement, service/route53, size/XS

#9164 Docs: Update CGW 'filter' argument example
  website/docs/d/customer_gateway.html.markdown
Labels: documentation, service/ec2, size/XS
