Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-10, with the labels that each got.

#10326 provider: Remove hashibot pull request labeling of old tags filenames
  .hashibot.hcl
Labels: provider, size/M, technical-debt

#10323 tests/resource/aws_waf_web_acl: Add sweeper
  aws/resource_aws_waf_rule_group_test.go
  aws/resource_aws_waf_web_acl_test.go
Labels: service/waf, size/M, tests

#10307 service/eks: Implement tagging support
  aws/data_source_aws_eks_cluster.go
  aws/data_source_aws_eks_cluster_test.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_eks_cluster.go
  aws/resource_aws_eks_cluster_test.go
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, enhancement, service/eks, size/L, tests

#10352 resource/aws_s3_bucket_object: Fix object deletion for non-versioned objects
  aws/provider_test.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
Labels: bug, regression, service/s3, size/M, tests

#10349 Add Amazon Forecast service client
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/forecastservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/forecastservice/doc.go
  vendor/github.com/aws/aws-sdk-go/service/forecastservice/errors.go
  vendor/github.com/aws/aws-sdk-go/service/forecastservice/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#10347 service/ec2: Updated handling for Lambda Hyperplane ENIs
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_network_interface.go
  aws/resource_aws_security_group.go
  aws/resource_aws_subnet.go
  website/docs/r/lambda_function.html.markdown
  website/docs/r/security_group.html.markdown
  website/docs/r/subnet.html.markdown
Labels: bug, documentation, service/ec2, service/lambda, size/XL, tests

#10351 resource/api_gateway_integration: Use lambda invoke_url in docs
  website/docs/r/api_gateway_integration.html.markdown
Labels: documentation, service/apigateway, size/XS

#10353 resource/aws_ssm_association: Fix instance_id attribute documentation
  website/docs/r/ssm_association.html.markdown
Labels: documentation, service/ssm, size/XS

#10354 aws_api_gateway_method: document request_parameters
  website/docs/r/api_gateway_method.html.markdown
Labels: documentation, service/apigateway, size/XS

#10359 docs(r/transfer_server): add default endpoint_type
  website/docs/r/transfer_server.html.markdown
Labels: documentation, service/transfer, size/XS

#10364 Add Amazon QLDB service client
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/qldb/api.go
  vendor/github.com/aws/aws-sdk-go/service/qldb/doc.go
  vendor/github.com/aws/aws-sdk-go/service/qldb/errors.go
  vendor/github.com/aws/aws-sdk-go/service/qldb/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#10372 provider: Add hashibot deprecated_import_commenter for terraform-plugin-sdk migration
  .hashibot.hcl
Labels: size/XS

#10369 test/resource/aws_iam_role: Update sweeper prefix list
  aws/resource_aws_iam_role_test.go
Labels: service/iam, size/XS, tests

#10375 provider: Update hashibot Terraform Plugin SDK migration comment wording
  .hashibot.hcl
Labels: size/XS

#10229 tests/resource/aws_cloudtrail: Remove troublesome slash prefix
  aws/resource_aws_cloudtrail_test.go
Labels: service/cloudtrail, size/XS, tests

#10035 test/datasource/aws_elasticsearch_domain: Remove service role resource creation
  aws/data_source_aws_elasticsearch_domain_test.go
Labels: service/elasticsearch, size/XS, technical-debt, tests

#10388 resource/aws_s3_bucket: Prevent infinite deletion recursion with force_destroy argument and object keys with empty "directory" prefixes
  aws/config.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: bug, provider, regression, service/s3, size/S, tests

#10315 resource/aws_vpc: Refactor to use keyvaluetags and call Read after Create
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_vpc.go
Labels: service/ec2, size/L, technical-debt

#10305 tests/resource/aws_lb_listener: Use internal implementation for TLS key/certificate
  aws/resource_aws_lb_listener_test.go
Labels: service/elbv2, size/L, tests

#10306 tests/service/apigateway: Use internal implementation for TLS key/certificate
  aws/resource_aws_api_gateway_base_path_mapping_test.go
  aws/resource_aws_api_gateway_domain_name_test.go
  aws/tls.go
  aws/tls_test.go
Labels: service/apigateway, size/XL, tests

#10406 service/s3: Add clarification to bucket notification docs
  website/docs/r/s3_bucket_notification.html.markdown
Labels: documentation, service/s3, size/XS

#10027 Acceptance import test refactor for lambda
  aws/resource_aws_lambda_event_source_mapping_test.go
  aws/resource_aws_lambda_function_test.go
Labels: service/lambda, service/rds, size/XL, terraform-plugin-sdk-migration, tests

#10422 Acceptance test import refactor for EFS resources
  aws/resource_aws_efs_file_system_test.go
  aws/resource_aws_efs_mount_target_test.go
Labels: service/efs, size/L, tests

#10423 Acceptance test import refactor for ECR lifecycle policy
  aws/resource_aws_ecr_lifecycle_policy_test.go
Labels: service/ecr, size/XS, tests

#10400 docs/provider: Add .hashibot.hcl changes to New Service checklist
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#10312 tests/service/iam: Use internal implementation for TLS key/certificate
  aws/data_source_aws_iam_server_certificate_test.go
  aws/resource_aws_iam_server_certificate_test.go
Labels: service/iam, size/L, tests

#10399 provider: Ensure hashibot performs issue labeling with backup, docdb, forecast, personalize, qldb, quicksight, and worklink services
  .hashibot.hcl
Labels: provider, size/XS, technical-debt

#10409 tests/service/kafka: Update removed Kafka version
  aws/data_source_aws_msk_cluster_test.go
  aws/resource_aws_msk_cluster_test.go
Labels: service/kafka, size/S, tests

#10441 updated the aws_backup_plan documentaiton to include the id
  website/docs/r/backup_plan.html.markdown
Labels: documentation, service/backup, size/XS

#10444 githhub/workflows/issues: Add new issues to triage project board
  .github/workflows/issues.yml
Labels: size/XS

#10434 deps: Remove github.com/terraform-providers/terraform-provider-tls
  aws/provider_test.go
  aws/resource_aws_acm_certificate_test.go
  go.mod
  go.sum
  vendor/github.com/terraform-providers/terraform-provider-tls/LICENSE
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/data_source_public_key.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/provider.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_cert_request.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_certificate.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_locally_signed_cert.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_private_key.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_self_signed_cert.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/util.go
  vendor/modules.txt
Labels: dependencies, service/acm, size/XXL, technical-debt, tests

#10439 tests/resource/aws_transfer_server: Add sweeper
  aws/resource_aws_transfer_server_test.go
Labels: service/transfer, size/S, tests

#10410 tests/service/elasticsearchservice: Add PreCheck for IAM SLR, use Cognito PreCheck, refactor to be more region/partition agnostic
  aws/data_source_aws_elasticsearch_domain_test.go
  aws/resource_aws_elasticsearch_domain_test.go
Labels: service/elasticsearch, size/L, tests

#10426 Add configuration support for EMR Instance Groups
  aws/resource_aws_emr_instance_group.go
  aws/resource_aws_emr_instance_group_test.go
  website/docs/r/emr_instance_group.html.markdown
Labels: documentation, enhancement, service/emr, size/M, tests

#10428 Add Missing Comma in JSON Example
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#10397 Return nil and do not use resource data when resource does not exists
  aws/resource_aws_securityhub_product_subscription.go
Labels: bug, service/securityhub, size/XS

#10425 Fix AWS EMR Instance Group Deletion Errors
  aws/resource_aws_emr_cluster_test.go
  aws/resource_aws_emr_instance_group.go
  aws/resource_aws_emr_instance_group_test.go
Labels: bug, service/emr, size/M, tests

#10433 Acceptance test import refactor for dynamodb resources
  aws/resource_aws_dynamodb_global_table_test.go
  aws/resource_aws_dynamodb_table_test.go
Labels: service/dynamodb, size/L, tests

#10453 docs/provider: Fix typo in recommended use of 'aws_region' data source
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#10318 Refactor: Use acctest.RandString instead of randomString on worklink tests
  aws/resource_aws_worklink_fleet_test.go
  aws/resource_aws_worklink_website_certificate_authority_association_test.go
Labels: size/XS, technical-debt, tests

#10199 Import test refactor for EIP resources
  aws/provider_test.go
  aws/resource_aws_eip_association_test.go
  aws/resource_aws_eip_test.go
Labels: service/ec2, size/XL, terraform-plugin-sdk-migration, tests

#10435 Batch up requests with more than 10 target group changes
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
Labels: bug, service/autoscaling, size/L, tests

#10456 github/workflow/issues: Fix syntax issue
  .github/workflows/issues.yml
Labels: size/XS

#10454 r/aws_vpc_endpoint_route_table_association: Fix resource import
  aws/resource_aws_vpc_endpoint_route_table_association.go
  aws/resource_aws_vpc_endpoint_route_table_association_test.go
  website/docs/r/vpc_endpoint_route_table_association.html.markdown
Labels: bug, documentation, service/ec2, size/M, tests

#10464 github/workflows/issues: Add Actions Token
  .github/workflows/issues.yml
Labels: size/XS

#10460 Remove GitHub Action for PR labeling
  .github/PULL_REQUEST_LABELS.yml
  .github/workflows/pull_request.yml
  .hashibot.hcl
Labels: size/M, technical-debt

#10443 resource/aws_gamelift_fleet: Increase default deletion timeout to 20 minutes, add missing timeouts documentation
  aws/resource_aws_gamelift_fleet.go
  website/docs/r/gamelift_fleet.html.markdown
Labels: bug, documentation, service/gamelift, size/XS

#10427 tests/service/storagegateway: Blacklist usw2-az4 from test configuration due to instance type unavailability
  aws/resource_aws_storagegateway_gateway_test.go
Labels: service/storagegateway, size/XS, tests

#10344 tests/resource/aws_sagemaker_notebook_instance: Add sweeper
  aws/resource_aws_sagemaker_notebook_instance_lifecycle_configuration_test.go
  aws/resource_aws_sagemaker_notebook_instance_test.go
  aws/resource_aws_subnet_test.go
Labels: service/ec2, service/sagemaker, size/M, tests

#10338 tests/resource/aws_dms_replication_instance: Add sweeper
  aws/resource_aws_dms_replication_instance_test.go
Labels: service/databasemigrationservice, size/M, tests

#10124 Add WAF rate based rule data source
  aws/data_source_aws_waf_rate_based_rule.go
  aws/data_source_aws_waf_rate_based_rule_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/waf_rate_based_rule.html.markdown
Labels: documentation, new-data-source, provider, service/waf, size/L, tests, waiting-response

#10125 Add WAF regional rate based rule data source
  aws/data_source_aws_wafregional_rate_based_rule.go
  aws/data_source_aws_wafregional_rate_based_rule_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/wafregional_rate_based_rule.html.markdown
Labels: documentation, new-data-source, provider, service/waf, size/M, tests, waiting-response

#10401 Add quicksight user resource
  aws/provider.go
  aws/resource_aws_quicksight_user.go
  aws/resource_aws_quicksight_user_test.go
  website/aws.erb
  website/docs/r/quicksight_user.html.markdown
Labels: documentation, new-resource, provider, service/quicksight, size/XL, tests

#10408 Add tags to WAF WebACL, Rule & Rule Group Resources
  aws/resource_aws_waf_rule.go
  aws/resource_aws_waf_rule_group.go
  aws/resource_aws_waf_rule_group_test.go
  aws/resource_aws_waf_rule_test.go
  aws/resource_aws_waf_web_acl.go
  aws/resource_aws_waf_web_acl_test.go
  website/docs/r/waf_rule.html.markdown
  website/docs/r/waf_rule_group.html.markdown
  website/docs/r/waf_web_acl.html.markdown
Labels: documentation, enhancement, service/waf, size/XL, tests

#10475 Add support import for aws_waf_rate_based_rule resource
  aws/resource_aws_waf_rate_based_rule.go
  aws/resource_aws_waf_rate_based_rule_test.go
  website/docs/r/waf_rate_based_rule.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#10477 Add support import for aws_waf_byte_match_set resource
  aws/resource_aws_waf_byte_match_set.go
  aws/resource_aws_waf_byte_match_set_test.go
  website/docs/r/waf_byte_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#9824 Add glue CSV classifier
  aws/resource_aws_glue_classifier.go
  aws/resource_aws_glue_classifier_test.go
  website/docs/r/glue_classifier.html.markdown
Labels: documentation, enhancement, service/glue, size/L, tests

#10478 Cleanup randomString()
  aws/resource_aws_db_parameter_group_test.go
  aws/validators_test.go
Labels: service/rds, size/S, tests

#7574 Documentation note on aws_s3_bucket_object keys with leading '/'
  aws/data_source_aws_s3_bucket_object_test.go
  website/docs/d/s3_bucket_object.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, service/s3, size/L, tests

#10603 Rename `Quick Sight` in output to `QuickSight`.
  aws/resource_aws_quicksight_group.go
  aws/resource_aws_quicksight_group_test.go
  website/docs/r/quicksight_group.html.markdown
Labels: documentation, service/quicksight, size/XS, tests

#10598 Minor typo
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#10616 Fix ses_identity_policy documentation
  website/docs/r/ses_identity_policy.html.markdown
Labels: documentation, service/ses, size/XS

#10309 resource/aws_cloudhsm_v2_cluster: Ensure multiple tag configurations are applied and perform drift detection of tags
  aws/resource_aws_cloudhsm2_cluster.go
  aws/resource_aws_cloudhsm2_cluster_test.go
Labels: bug, service/cloudhsmv2, size/L, tests

#9741 Small change to fix bug where only 1 tag would be created when multiple specified
  aws/resource_aws_cloudhsm2_cluster.go
Labels: bug, service/cloudhsmv2, size/XS

#10324 resource/aws_licensemanager_license_configuration: Refactor tagging to use keyvaluetags library
  aws/resource_aws_licensemanager_license_configuration.go
  aws/tagsLicenseManager.go
Labels: service/licensemanager, size/M, technical-debt

#10325 service/ecr: Refactor to use keyvaluetags library
  aws/data_source_aws_ecr_repository.go
  aws/resource_aws_ecr_repository.go
  aws/tagsECR.go
  aws/tagsECR_test.go
Labels: service/ecr, size/L, technical-debt, tests

#10411 resource/aws_subnet: Refactor to use keyvaluetags library and call Read after Create
  aws/resource_aws_subnet.go
Labels: service/ec2, size/M, technical-debt

#10412 data-source/aws_subnet: Refactor to use keyvaluetags library
  aws/data_source_aws_subnet.go
Labels: service/ec2, size/XS

#10413 data-source/aws_vpc: Refactor to use keyvaluetags library
  aws/data_source_aws_vpc.go
Labels: service/ec2, size/XS, technical-debt

#10313 docs/provider: Add Adding Resource Tagging Support section
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/L

#10513 VPC cidr_block instead of cidr_blocks
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, service/elasticsearch, size/XS

#10641 r/aws_backup_plan: Correctly handle changes to recovery_point_tags
  aws/resource_aws_backup_plan.go
  aws/resource_aws_backup_plan_test.go
Labels: bug, service/backup, size/XL, tests

#10571 Import test refactor for DX resources
  aws/resource_aws_dx_connection_test.go
  aws/resource_aws_dx_gateway_test.go
  aws/resource_aws_dx_lag_test.go
Labels: service/directconnect, size/L, tests

#10574 Import test refactor for directory service directory
  aws/resource_aws_directory_service_directory_test.go
Labels: service/directoryservice, size/L, tests

#10582 Import test refactor for db resources
  aws/resource_aws_db_event_subscription_test.go
  aws/resource_aws_db_parameter_group_test.go
  aws/resource_aws_db_security_group_test.go
  aws/resource_aws_db_subnet_group_test.go
Labels: service/rds, size/XL, tests

#10596 Import test refactor for dax resources
  aws/resource_aws_dax_cluster_test.go
  aws/resource_aws_dax_parameter_group_test.go
Labels: service/dax, size/M, tests

#10597 Import test refactor for customer gateway
  aws/resource_aws_customer_gateway_test.go
Labels: service/ec2, size/M, tests

#10599 Import test refactor for cognito resources
  aws/resource_aws_cognito_identity_pool_test.go
  aws/resource_aws_cognito_user_group_test.go
  aws/resource_aws_cognito_user_pool_client_test.go
  aws/resource_aws_cognito_user_pool_test.go
Labels: service/cognito, size/XXL, tests

#10601 Import test refactor for codepipeline
  aws/resource_aws_codepipeline_test.go
Labels: service/codepipeline, size/M, tests

#10604 Import test refactor for codecommit
  aws/resource_aws_codecommit_repository_test.go
Labels: service/codecommit, size/M, tests

#10605 Import test refactor for codebuild project
  aws/resource_aws_codebuild_project_test.go
Labels: service/codebuild, size/M, tests

#10607 Import test refactor for cloudy resources
  aws/resource_aws_cloud9_environment_ec2_test.go
  aws/resource_aws_cloudformation_stack_test.go
  aws/resource_aws_cloudfront_origin_access_identity_test.go
Labels: service/cloud9, service/cloudformation, service/cloudfront, service/ec2, size/L, tests

#10609 Import test refactor for athena named queries
  aws/resource_aws_athena_named_query_test.go
Labels: service/athena, size/S, tests

#10610 import test lintignores for ACM cert tests
  aws/resource_aws_acm_certificate_test.go
Labels: service/acm, size/XS, tests

#10618 import test lintignores for API gateway resources
  aws/resource_aws_api_gateway_account_test.go
  aws/resource_aws_api_gateway_client_certificate_test.go
  aws/resource_aws_api_gateway_documentation_part_test.go
  aws/resource_aws_api_gateway_documentation_version_test.go
  aws/resource_aws_api_gateway_usage_plan_test.go
  aws/resource_aws_api_gateway_vpc_link_test.go
Labels: service/apigateway, size/XL, tests

#10645 Import test refactor for launch resources
  aws/resource_aws_launch_configuration_test.go
  aws/resource_aws_launch_template_test.go
Labels: service/autoscaling, service/ec2, size/XL, tests

#10650 Import test refactor for SNS topic
  aws/resource_aws_sns_topic_test.go
Labels: service/sns, size/L, tests

#10160 Import test refactor for elasticache resources
  aws/resource_aws_elasticache_replication_group_test.go
  aws/resource_aws_elasticache_security_group_test.go
  aws/resource_aws_elasticache_subnet_group_test.go
Labels: service/elasticache, size/XL, tests

#10648 import test lintignore for lightsail key pairs
  aws/resource_aws_lightsail_key_pair_test.go
Labels: service/lightsail, size/XS, tests

#10223 Remove square brackets around splat operator
  website/docs/d/subnet_ids.html.markdown
Labels: documentation, size/XS

#10657 S3: support MethodNotAllowed for Object Lock Configuration
  aws/resource_aws_s3_bucket.go
Labels: bug, partition/aws-iso, service/s3, size/XS

#10662 Import test refactor for opsworks resources
  aws/resource_aws_opsworks_custom_layer_test.go
  aws/resource_aws_opsworks_instance_test.go
  aws/resource_aws_opsworks_stack_test.go
Labels: service/opsworks, size/XL, tests

#10649 Import test refactor for EC2 instances
  aws/resource_aws_instance_test.go
Labels: service/ec2, size/XXL, tests

#10380 KmsKeyId support for aws_elasticache_replication_group
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, enhancement, service/elasticache, size/M, tests

#10670 internal/keyvaluetags: Use Go 1.13 error wrapping with UpdateTags errors
  aws/awserr.go
  aws/awserr_test.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/update_tags_gen.go
Labels: bug, provider, size/XL, tests

#10671 Added image scanning configuration to aws_ecr_repository resource
  aws/resource_aws_ecr_repository.go
  aws/resource_aws_ecr_repository_test.go
  website/docs/r/ecr_repository.html.markdown
Labels: documentation, enhancement, service/ecr, size/M, tests

#10374 feat(resource_vpc_flow_log): logformat field added
  aws/resource_aws_flow_log.go
  aws/resource_aws_flow_log_test.go
  website/docs/r/flow_log.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#10679 Import test refactor for security groups
  aws/resource_aws_security_group_test.go
Labels: service/ec2, size/XXL, tests

#10690 Add workflow for labeling new PRs as needs-triage
  .github/workflows/issues.yml
  .github/workflows/pull_requests.yml
Labels: size/XS, technical-debt

#10691 Add HashiBot behavior to lock closed issues after 30 days.
  .hashibot.hcl
Labels: size/XS, technical-debt

#10659 tests/resource/aws_lightsail_instance: Add sweeper
  aws/resource_aws_lightsail_instance_test.go
Labels: service/lightsail, size/S, tests

#10418 [Proof of Concept] provider: Ignore tags implementation
  aws/config.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
  aws/provider.go
  aws/provider_test.go
  aws/resource_aws_subnet.go
  aws/resource_aws_subnet_test.go
  aws/resource_aws_vpc.go
  aws/resource_aws_vpc_test.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, provider, service/ec2, size/XL, tests

#10445 resource/aws_autoscaling_group: Batch ELB attachments and detachments by 10 to prevent API and rate limiting errors
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
Labels: bug, service/autoscaling, size/L, tests

#10637 tests/resource/aws_instance: Allow sweeper to enable API termination
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
Labels: service/ec2, size/XS, tests

#10651 tests/service/ec2: Combine multiple errors and use paginated SDK functions in aws_subnet and aws_vpc sweepers
  aws/resource_aws_subnet_test.go
  aws/resource_aws_vpc_test.go
Labels: service/ec2, size/L, tests

#10704 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#10562 Update aws_ebs_default_kms_key key_id to key_arn in the document
  website/docs/d/ebs_default_kms_key.html.markdown
Labels: documentation, service/ec2, service/kms, size/XS

#10534 add error handling for when bucket is already destroyed
  aws/resource_aws_s3_bucket_public_access_block.go
  aws/resource_aws_s3_bucket_public_access_block_test.go
Labels: bug, service/s3, size/S, tests
