Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-07, with the labels that each got.

#9185 Update lb_listener_rule.html.markdown
  website/docs/r/lb_listener_rule.html.markdown
Labels: documentation, service/elbv2, size/XS

#9176 Added PIPELINE example to appsync_resolver.html.markdown
  website/docs/r/appsync_resolver.html.markdown
Labels: documentation, service/appsync, size/XS

#8559 Not retrieve EMR AD Domain Join User from AWS API
  aws/resource_aws_emr_cluster.go
Labels: bug, service/emr, size/XS

#9187 Update rds_global_cluster.html.markdown
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, service/rds, size/XS

#9188 Fix doc casing `sm_maintenance_window` when targeting InstanceIds
  website/docs/r/ssm_maintenance_window_target.html.markdown
Labels: documentation, service/ssm, size/XS

#9177 New Data Sources: aws_servicequotas_service and aws_servicequotas_service_quota
  aws/data_source_aws_servicequotas_service.go
  aws/data_source_aws_servicequotas_service_quota.go
  aws/data_source_aws_servicequotas_service_quota_test.go
  aws/data_source_aws_servicequotas_service_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/servicequotas_service.html.markdown
  website/docs/d/servicequotas_service_quota.html.markdown
Labels: documentation, new-data-source, provider, service/servicequotas, size/XL, tests

#9190 docs/data-source/aws_lambda_invocation: Add information about jsondecode() in Terraform 0.12
  website/docs/d/lambda_invocation.html.markdown
Labels: documentation, service/lambda, size/XS

#9191 docs/resource/aws_config_config_rule: Additional information for AWS Managed Rules and Custom Rules
  website/docs/r/config_config_rule.html.markdown
Labels: documentation, service/configservice, size/S

#9193 resource/aws_db_instance: Prevent InvalidParameterCombination: No modifications were requested error when updating only allow_major_version_upgrade argument
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
Labels: bug, service/rds, size/XS, tests

#9206 Add support tags attribute for aws_appmesh_route resource
  aws/resource_aws_appmesh_route.go
  aws/resource_aws_appmesh_route_test.go
  aws/resource_aws_appmesh_test.go
  website/docs/r/appmesh_route.html.markdown
Labels: documentation, enhancement, service/appmesh, size/L, tests

#9207 Add support tags attribute for aws_appmesh_virtual_node resource
  aws/resource_aws_appmesh_test.go
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_node_test.go
  website/docs/r/appmesh_virtual_node.html.markdown
Labels: documentation, enhancement, service/appmesh, size/M, tests

#9221 fix: appsync_resolver example
  website/docs/r/appsync_resolver.html.markdown
Labels: documentation, service/appsync, size/XS

#9220 fix: appsync_function example
  website/docs/r/appsync_function.html.markdown
Labels: documentation, service/appsync, size/XS

#9218 Issue-9211 Doc example update of resource name
  website/docs/r/api_gateway_integration_response.html.markdown
  website/docs/r/api_gateway_method_response.html.markdown
Labels: documentation, service/apigateway, size/XS

#8010 Correct documentation for backup_retention_period and db_subnet_group_name
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS

#8632 Updates on ebs_volume documentation
  website/docs/r/ebs_volume.html.markdown
Labels: documentation, service/ec2, size/XS

#9215 add support for tags for codecommit repository
  aws/resource_aws_codecommit_repository.go
  aws/resource_aws_codecommit_repository_test.go
  aws/tagsCodeCommit.go
  aws/tagsCodeCommit_test.go
  website/docs/r/codecommit_repository.html.markdown
Labels: documentation, enhancement, service/codecommit, size/L, tests

#9224 Add support for Transit gateway blackhole route
  aws/resource_aws_ec2_transit_gateway_route.go
  aws/resource_aws_ec2_transit_gateway_route_test.go
  website/docs/r/ec2_transit_gateway_route.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#9246 Fixing the input for the worklink fleet test sweeper
  aws/resource_aws_worklink_fleet_test.go
Labels: service/worklink, size/XS, tests

#9239 Add support import for aws_wafregional_rule resource
  aws/resource_aws_wafregional_rule.go
  aws/resource_aws_wafregional_rule_test.go
  website/docs/r/wafregional_rule.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#9240 Add support import for aws_wafregional_rule_group resource
  aws/resource_aws_wafregional_rule_group.go
  aws/resource_aws_wafregional_rule_group_test.go
  website/docs/r/wafregional_rule_group.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#9248 Add support import for aws_wafregional_web_acl resource
  aws/resource_aws_wafregional_web_acl.go
  aws/resource_aws_wafregional_web_acl_test.go
  website/docs/r/wafregional_web_acl.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#9241 final retry when waiting for transfer user deletion
  aws/resource_aws_transfer_user.go
Labels: bug, service/transfer, size/XS

#9088 New Data Source: aws_msk_configuration
  aws/data_source_aws_msk_configuration.go
  aws/data_source_aws_msk_configuration_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/msk_configuration.html.markdown
Labels: documentation, new-data-source, provider, service/kafka, size/L, tests

#9252 Add support tags attribute for aws_appmesh_virtual_service resource
  aws/resource_aws_appmesh_test.go
  aws/resource_aws_appmesh_virtual_service.go
  aws/resource_aws_appmesh_virtual_service_test.go
  website/docs/r/appmesh_virtual_service.html.markdown
Labels: documentation, enhancement, service/appmesh, size/M, tests

#9258 Add support import for aws_wafregional_byte_match_set resource
  aws/resource_aws_wafregional_byte_match_set.go
  aws/resource_aws_wafregional_byte_match_set_test.go
  website/docs/r/wafregional_byte_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#9254 Add support import for aws_waf_rule_group resource
  aws/resource_aws_waf_rule_group.go
  aws/resource_aws_waf_rule_group_test.go
  website/docs/r/waf_rule_group.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#9249 Add support tags attribute for aws_appmesh_virtual_router resource
  aws/resource_aws_appmesh_test.go
  aws/resource_aws_appmesh_virtual_router.go
  aws/resource_aws_appmesh_virtual_router_test.go
  website/docs/r/appmesh_virtual_router.html.markdown
Labels: documentation, enhancement, service/appmesh, size/M, tests

#9262 Add 'Attributes Reference' section
  website/docs/r/acm_certificate_validation.html.markdown
Labels: documentation, service/acm, size/XS, waiting-response

#9195 service/organizations: Automatically retry API calls on ConcurrentModificationException error
  aws/config.go
  aws/resource_aws_organizations_policy_test.go
  aws/resource_aws_organizations_test.go
Labels: bug, provider, service/organizations, size/M, tests

#9202 resource/aws_organizations_account: Add tags argument
  aws/resource_aws_organizations_account.go
  aws/resource_aws_organizations_account_test.go
  aws/resource_aws_organizations_test.go
  aws/tagsOrganizations.go
  aws/tagsOrganizations_test.go
  website/docs/r/organizations_account.html.markdown
Labels: documentation, enhancement, service/organizations, size/XL, tests

#9267 Add support aws_datapipeline_pipeline resource
  aws/provider.go
  aws/resource_aws_datapipeline_pipeline.go
  aws/resource_aws_datapipeline_pipeline_test.go
  aws/tagsDataPipeline.go
  aws/tagsDataPipeline_test.go
  website/aws.erb
  website/docs/r/datapipeline_pipeline.html.markdown
Labels: documentation, new-resource, provider, service/datapipeline, size/XL, tests

#9272 Update codebuild_webhook.html.markdown
  website/docs/r/codebuild_webhook.html.markdown
Labels: documentation, service/codebuild, size/XS

#9157 Add timeouts for create and delete and refactor to use isAWSErr
  aws/resource_aws_ebs_snapshot.go
  aws/resource_aws_ebs_snapshot_test.go
  website/docs/r/ebs_snapshot.html.markdown
Labels: documentation, enhancement, service/ec2, size/S, tests

#9282 docs: Add ANY as valida http_method in api_gateway_integration
  website/docs/r/api_gateway_integration.html.markdown
Labels: documentation, service/apigateway, size/XS

#9271 AWS App Mesh service discovery using AWS Cloud Map
  aws/resource_aws_appmesh_test.go
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_node_test.go
  aws/structure.go
  website/docs/r/appmesh_virtual_node.html.markdown
Labels: documentation, enhancement, service/appmesh, size/XL, tests

#7341 Issue #7016 support http namespaces in service discovery
  aws/resource_aws_service_discovery_service.go
  aws/resource_aws_service_discovery_service_test.go
  website/docs/r/service_discovery_service.html.markdown
Labels: documentation, enhancement, service/servicediscovery, size/M, tests

#9274 resource/aws_db_event_subscription: Prevent `Unable to find RDS Event Subscription` error during deletion and refresh
  aws/resource_aws_db_event_subscription.go
  aws/resource_aws_db_event_subscription_test.go
Labels: bug, service/rds, size/L, tests

#9278 resource/aws_iam_policy_attachment: Bypass `NoSuchEntity` error when detaching groups, roles, and users (support group, role, and user renames)
  aws/resource_aws_iam_policy_attachment.go
  aws/resource_aws_iam_policy_attachment_test.go
  website/docs/r/iam_role.html.markdown
  website/docs/r/iam_user.html.markdown
Labels: bug, documentation, service/iam, size/L, tests

#7534 Add logs_config schema to aws_codebuild_project
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, enhancement, service/codebuild, size/XL, tests

#8667 resource/aws_lightsail_instance: Add validation for instance name
  aws/resource_aws_lightsail_instance.go
  aws/resource_aws_lightsail_instance_test.go
Labels: enhancement, service/lightsail, size/S, tests

#9273 Add tags support for resource_aws_lightsail_instance
  aws/resource_aws_lightsail_instance.go
  aws/resource_aws_lightsail_instance_test.go
  aws/tagsLightsail.go
  aws/tagsLightsail_test.go
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, enhancement, service/lightsail, size/L, tests

#9261 New Resource: Support AWS AD service Log subscription
  aws/provider.go
  aws/resource_aws_directory_service_log_subscription.go
  aws/resource_aws_directory_service_log_subscription_test.go
  website/aws.erb
  website/docs/r/directory_service_log_subscription.html.markdown
Labels: documentation, new-resource, provider, service/directoryservice, size/XL, tests

#9298 resource/aws_backup_selection: IAM retries, test fix, documentation updates to remove wildcard usage
  aws/resource_aws_backup_selection.go
  aws/resource_aws_backup_selection_test.go
  website/docs/r/backup_selection.html.markdown
Labels: bug, documentation, service/backup, size/M, tests

#9301 docs/resource/aws_api_gateway_stage: Add information about managing the API logging CloudWatch Log Group
  website/docs/r/api_gateway_stage.html.markdown
Labels: documentation, service/apigateway, size/S

#9080 tests/service/lightsail: Remove hardcoded us-east-1 region from configurations except aws_lightsail_domain
  aws/resource_aws_lightsail_instance_test.go
  aws/resource_aws_lightsail_key_pair_test.go
  aws/resource_aws_lightsail_static_ip_attachment_test.go
  aws/resource_aws_lightsail_static_ip_test.go
Labels: service/lightsail, size/M, tests

#9075 tests/provider: Remove hardcoded us-west-2 provider declarations in test configurations
  aws/data_source_aws_availability_zone_test.go
  aws/data_source_aws_canonical_user_id_test.go
  aws/data_source_aws_kms_ciphertext_test.go
  aws/data_source_aws_nat_gateway_test.go
  aws/data_source_aws_prefix_list_test.go
  aws/data_source_aws_sns_test.go
  aws/data_source_aws_vpc_test.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_default_route_table_test.go
  aws/resource_aws_default_vpc_test.go
  aws/resource_aws_elb_test.go
  aws/resource_aws_opsworks_custom_layer_test.go
  aws/resource_aws_opsworks_rails_app_layer_test.go
  aws/resource_aws_opsworks_stack_test.go
  aws/resource_aws_subnet_test.go
  aws/resource_aws_vpc_endpoint_route_table_association_test.go
Labels: service/autoscaling, service/ec2, service/elb, service/kms, service/opsworks, service/s3, service/sns, size/M, tests

#7162 Fix S3 bucket lifecycle rule filters with a single tag and no prefix
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/S, tests

#9290 New Resource: aws_athena_workgroup
  aws/provider.go
  aws/resource_aws_athena_workgroup.go
  aws/resource_aws_athena_workgroup_test.go
  aws/tagsAthena.go
  aws/tagsAthena_test.go
  website/aws.erb
  website/docs/r/athena_workgroup.html.markdown
Labels: documentation, new-resource, provider, service/athena, size/XXL, tests

#9313 resource/aws_ssm_document: Ensure content attribute is refreshed and support resource import
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_document_test.go
  website/docs/r/ssm_document.html.markdown
Labels: bug, documentation, enhancement, service/ssm, size/L, tests

#9204 tests/service/codepipeline: Add PreCheck for service availability
  aws/resource_aws_codepipeline_test.go
  aws/resource_aws_codepipeline_webhook_test.go
Labels: service/codepipeline, size/S, tests

#9205 tests/service/kafka: Add PreCheck for service availability
  aws/data_source_aws_msk_cluster_test.go
  aws/resource_aws_msk_cluster_test.go
  aws/resource_aws_msk_configuration_test.go
Labels: service/kafka, size/S, tests

#9216 tests/resource/aws_db_subnet_group: Use aws_availability_zones data source to make testing region agnostic
  aws/resource_aws_db_subnet_group_test.go
Labels: partition/aws-us-gov, service/rds, size/S, tests

#9237 tests/provider: Enable tfproviderlint AT001 check
  GNUmakefile
Labels: provider, size/XS, tests

#9117 service/directconnect: Implement aws_dx_gateway_association_proposal sweeper and handle cross-region associations in aws_dx_gateway_association test sweeper
  aws/resource_aws_dx_gateway_association_proposal_test.go
  aws/resource_aws_dx_gateway_association_test.go
Labels: service/directconnect, size/M, tests

#9213 tests/resource/aws_subnet: Add aws_msk_cluster to test sweeper dependencies
  aws/resource_aws_subnet_test.go
Labels: service/ec2, size/XS, tests

#9275 tests/resource/aws_db_parameter_group: Add sweeper
  aws/resource_aws_db_parameter_group_test.go
Labels: service/rds, size/S, tests

#9309 resource/aws_ssm_document: Removing the code that adds Null parameters
  aws/resource_aws_ssm_document.go
Labels: service/ssm, size/XS, technical-debt

#9268 docs/resource/aws_codebuild_project: Clarify valid values for environment configuration block image argument
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#9214 tests/resource/aws_rds_cluster: Various refactoring to allow the testing to be more region/partition agnostic
  aws/resource_aws_rds_cluster_test.go
Labels: partition/aws-us-gov, service/rds, size/XL, tests

#9247 docs/provider: Initial Adding Resource Import Support section for Contributing Guide
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#9276 tests/resource/aws_rds_cluster_parameter_group: Add sweeper
  aws/resource_aws_rds_cluster_parameter_group_test.go
Labels: service/rds, size/M, tests

#9336 Add support import Autoscaling Lifecycle Hook
  aws/resource_aws_autoscaling_lifecycle_hook.go
  aws/resource_aws_autoscaling_lifecycle_hook_test.go
  website/docs/r/autoscaling_lifecycle_hooks.html.markdown
Labels: documentation, enhancement, service/autoscaling, size/S, tests

#9347 docs/provider: Clarify Resource Naming guidelines in Contributing Guide
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#7823 Feature/add support for deprecate aws ssm maintenance window task
  aws/resource_aws_ssm_maintenance_window_task.go
  aws/resource_aws_ssm_maintenance_window_task_test.go
  website/docs/r/ssm_maintenance_window_task.html.markdown
Labels: documentation, enhancement, service/ssm, size/XXL, tests

#9354 tests/resource/aws_elb: Switch test configurations to data sources to be region agnostic
  aws/resource_aws_elb_test.go
Labels: partition/aws-us-gov, service/elb, size/L, tests

#9341 EOL node engine 6.10 of lambda function
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_lambda_layer_version_test.go
  aws/resource_aws_pinpoint_app_test.go
  website/docs/guides/serverless-with-aws-lambda-and-api-gateway.html.md
  website/docs/r/lambda_layer_version.html.markdown
  website/docs/r/lambda_permission.html.markdown
Labels: documentation, service/lambda, service/pinpoint, size/XS, technical-debt, tests

#9235 resource/aws_emr_cluster: Add master_instance_group configuration block instance_count argument (support multiple master nodes)
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_cluster_test.go
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, enhancement, service/emr, size/L, tests

#9192 New Resource: aws_servicequotas_service_quota
  aws/provider.go
  aws/resource_aws_servicequotas_service_quota.go
  aws/resource_aws_servicequotas_service_quota_test.go
  website/aws.erb
  website/docs/r/servicequotas_service_quota.html.markdown
Labels: documentation, new-resource, provider, service/servicequotas, size/XL, tests

#9128 resource/api_gateway_domain_name: Add support for security_policy
  aws/resource_aws_api_gateway_domain_name.go
  aws/resource_aws_api_gateway_domain_name_test.go
  website/docs/r/api_gateway_domain_name.html.markdown
Labels: documentation, enhancement, service/apigateway, size/XS, tests

#9332 docs/provider: Initial Maintainers Guide
  .github/MAINTAINING.md
Labels: documentation, provider, size/M

#9065 Cleaning up some resource retries for cloudwatch functions
  aws/resource_aws_cloudwatch_event_permission.go
  aws/resource_aws_cloudwatch_event_rule.go
  aws/resource_aws_cloudwatch_log_destination.go
  aws/resource_aws_cloudwatch_log_subscription_filter.go
Labels: bug, service/cloudwatchevents, service/cloudwatchlogs, size/L

#9396 Send all attributes when updating a cognito_identity_pool resource
  aws/resource_aws_cognito_identity_pool.go
  aws/resource_aws_cognito_identity_pool_test.go
Labels: bug, service/cognito, size/M, tests

#9379 Add support resource tags for aws_media_store_container resource
  aws/resource_aws_media_store_container.go
  aws/resource_aws_media_store_container_test.go
  aws/tagsMediaStore.go
  aws/tagsMediaStore_test.go
  website/docs/r/media_store_container.html.markdown
Labels: documentation, enhancement, service/mediastore, size/XL, tests

#9374 r/aws_rds_cluster: Add TimeoutAction support
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  aws/structure.go
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, enhancement, service/rds, size/XS, tests

#7544 r/aws_s3_bucket_object: Allow empty object
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, enhancement, service/s3, size/S, tests

#9321 d/aws_wafregional_web_acl: Add WAFRegional Web ACL lookup datasource
  aws/data_source_aws_wafregional_web_acl.go
  aws/data_source_aws_wafregional_web_acl_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/wafregional_web_acl.html.markdown
Labels: documentation, new-data-source, provider, service/waf, size/M, tests

#9320 d/aws_waf_web_acl: Add WAF Web ACL lookup datasource
  aws/data_source_aws_waf_web_acl.go
  aws/data_source_aws_waf_web_acl_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/waf_web_acl.html.markdown
Labels: documentation, new-data-source, provider, service/waf, size/L, tests

#9371 resource/aws_db_event_subscription: Handle SubscriptionNotFound errors during Read and Deletion
  aws/resource_aws_db_event_subscription.go
Labels: bug, service/rds, size/XS

#9387 Final retry when reading s3 account public access block
  aws/resource_aws_s3_account_public_access_block.go
Labels: service/s3control, size/XS

#9319 d/aws_wafregional_rule: Add WAFRegional Rule lookup datasource
  aws/data_source_aws_wafregional_rule.go
  aws/data_source_aws_wafregional_rule_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/wafregional_rule.html.markdown
Labels: documentation, new-data-source, provider, service/waf, size/M, tests

#9318 d/aws_waf_rule: Add WAF Rule lookup datasource
  aws/data_source_aws_waf_rule.go
  aws/data_source_aws_waf_rule_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/waf_rule.html.markdown
Labels: documentation, new-data-source, provider, service/waf, size/L, tests

#9398 resource/aws_elasticsearch_domain: Support three Availability Zone awareness
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_elasticsearch_domain_test.go
  aws/structure.go
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, enhancement, service/elasticsearch, size/L, tests

#9383 add workgroup support for Athena named query
  aws/resource_aws_athena_named_query.go
  aws/resource_aws_athena_named_query_test.go
  website/docs/r/athena_named_query.html.markdown
Labels: documentation, enhancement, service/athena, size/M, tests, waiting-response

#9339 tests/resource/aws_ec2_transit_gateway: Ensure sweeper has dependency on Direct Connect Gateway Associations
  aws/resource_aws_dx_gateway_association_test.go
  aws/resource_aws_ec2_transit_gateway_test.go
Labels: service/directconnect, service/ec2, size/M, tests

#9362 docs/resource/aws_ssm_maintenance_window_task: Provide examples of all four task types and add valid values for some task_invocation_parameters
  website/docs/r/ssm_maintenance_window_task.html.markdown
Labels: documentation, service/ssm, size/M

#9331 tests/resource/aws_eip: Implement sweeper
  aws/resource_aws_eip_test.go
Labels: service/ec2, size/M, tests

#8233 Add aws_quicksight_group resource
  aws/provider.go
  aws/resource_aws_quicksight_group.go
  aws/resource_aws_quicksight_group_test.go
  website/aws.erb
  website/docs/r/quicksight_group.html.markdown
Labels: documentation, new-resource, provider, service/quicksight, size/XL, tests

#8397 fix for dynamodb autoscaling policy import
  aws/resource_aws_appautoscaling_policy.go
  aws/resource_aws_appautoscaling_policy_test.go
Labels: bug, service/applicationautoscaling, size/M, tests

#9390 data-source/aws_route53_zone: add linked service attributes
  aws/data_source_aws_route53_zone.go
  aws/data_source_aws_route53_zone_test.go
  website/docs/d/route53_zone.html.markdown
Labels: documentation, enhancement, service/route53, size/M, tests

#9367 tests/resource/aws_ssm_maintenance_window_task: Switch to using window targets instead of instance targets
  aws/resource_aws_ssm_maintenance_window_task_test.go
Labels: partition/aws-us-gov, service/ssm, size/S, tests

#9364 resource/aws_ssm_maintenance_window_task: Prevent `task_parameters` ordering differences
  aws/resource_aws_ssm_maintenance_window_task.go
  aws/resource_aws_ssm_maintenance_window_task_test.go
Labels: bug, service/ssm, size/M, tests

#9419 Adding support for the `aws_organizations_organization` data source
  aws/data_source_aws_organizations_organization.go
  aws/data_source_aws_organizations_organization_test.go
  aws/provider.go
  aws/resource_aws_organizations_test.go
  website/aws.erb
  website/docs/d/organizations_organization.html.markdown
Labels: documentation, new-data-source, provider, service/organizations, size/XL, tests

#5449 add data source for organizations_organization
  aws/data_source_aws_organizations_organization.go
  aws/data_source_aws_organizations_organization_test.go
  aws/provider.go
  website/docs/d/organizations_organization.html.markdown
Labels: new-data-source, service/organizations, size/L

#9424 Add support import for aws_wafregional_ipset resource
  aws/resource_aws_wafregional_ipset.go
  aws/resource_aws_wafregional_ipset_test.go
  website/docs/r/wafregional_ipset.html.markdown
Labels: documentation, service/waf, size/S, tests

#9437 Fix name updates on cognito_user_pool_client resource
  aws/resource_aws_cognito_user_pool_client.go
  aws/resource_aws_cognito_user_pool_client_test.go
Labels: bug, service/cognito, size/S, tests

#9450 docs : fix spelling in aws_glue_catalog_table docs
  website/docs/r/glue_catalog_table.html.markdown
Labels: documentation, service/glue, size/XS

#9447 Fixed an example in the secretsmanager data source docs
  website/docs/d/secretsmanager_secret_version.html.markdown
Labels: documentation, service/secretsmanager, size/XS

#9423 fix for 9395
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, service/ec2, size/XS

#9458 docs/provider: Add missing step to release process for closing the milestone
  .github/MAINTAINING.md
Labels: documentation, provider, size/XS

#9446 resource/aws_db_instance: Redact MasterUserPassword when displaying InvalidParameterValue error with CreateDBInstance
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
Labels: bug, service/rds, size/S, tests

#9439 docs/provider: Split sidebar Data Sources section into relevant service categories
  website/aws.erb
Labels: documentation, provider, size/XXL

#9444 Fixes website_endpoint and website_domain attributes in Chinese regions
  aws/resource_aws_s3_bucket.go
  aws/website_endpoint_url_test.go
Labels: bug, partition/aws-cn, service/s3, size/XS, tests

#9166 Fix TGW example
  examples/transit-gateway-cross-account-vpc-attachment/README.md
  examples/transit-gateway-cross-account-vpc-attachment/main.tf
Labels: documentation, service/ec2, size/XS, waiting-response

#9415 Retries after timeouts for KMS keys and grants.
  aws/resource_aws_kms_grant.go
  aws/resource_aws_kms_grant_test.go
  aws/resource_aws_kms_key.go
Labels: bug, service/kms, size/M, tests

#9421 Final retry after timeout deleting customer gateway
  aws/resource_aws_customer_gateway.go
Labels: bug, service/ec2, size/S

#9438 Final retries for config timeouts
  aws/resource_aws_config_config_rule.go
  aws/resource_aws_config_delivery_channel.go
Labels: bug, service/configservice, size/XS

#9405 Change the wording for related issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/XS

#9431 Add support for cloudwatch event target import
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_test.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, enhancement, service/cloudwatchevents, size/M, tests

#9476 Remove clone depth 1 on Travis CI
  .travis.yml
Labels: size/XS, tests

#9470 resource/aws_cloudfront_distribution: Switch CallerReference from time.Now() to resource.UniqueId()
  aws/cloudfront_distribution_configuration_structure.go
Labels: bug, service/cloudfront, size/XS

#9479 website: Quick sidebar docs fix
  website/aws.erb
Labels: documentation, size/XS

#9474 Fix typo in Elastic Transcoder documentation
  website/docs/r/elastic_transcoder_pipeline.html.markdown
  website/docs/r/elastic_transcoder_preset.html.markdown
Labels: documentation, service/elastic-transcoder, size/XS

#9482 provider: Replace other relevant time.Now() usage with resource.UniqueId() and document in Contributing Guide
  .github/CONTRIBUTING.md
  aws/resource_aws_cloudfront_origin_access_identity.go
  aws/resource_aws_cloudfront_origin_access_identity_test.go
  aws/resource_aws_cloudfront_public_key.go
  aws/resource_aws_cloudfront_public_key_test.go
  aws/resource_aws_servicecatalog_portfolio.go
  aws/resource_aws_servicecatalog_portfolio_test.go
Labels: service/cloudfront, service/servicecatalog, size/S, tests

#9477 Final retries for various DB timeouts
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_option_group.go
  aws/resource_aws_db_parameter_group.go
  aws/resource_aws_db_parameter_group_test.go
Labels: bug, service/rds, size/M, tests

#9471 SourceArn should point to the sns topic publishing
  website/docs/r/sqs_queue_policy.html.markdown
Labels: documentation, service/sqs, size/XS

#9481 Add WAF IP set data source
  aws/data_source_aws_waf_ipset.go
  aws/data_source_aws_waf_ipset_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/waf_ipset.html.markdown
Labels: documentation, new-data-source, provider, service/waf, size/M, tests

#9484 Add WAF Regional IP set data source
  aws/data_source_aws_wafregional_ipset.go
  aws/data_source_aws_wafregional_ipset_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/wafregional_ipset.html.markdown
Labels: documentation, new-data-source, provider, service/waf, size/M, tests

#9496 Fixed typo in configuration template
  website/docs/r/codepipeline.markdown
Labels: documentation, size/XS

#9417 Final retry when creating SES domain identity verification
  aws/resource_aws_ses_domain_identity_verification.go
Labels: bug, service/ses, size/XS

#9498 Final retries for timeouts on SFN objects
  aws/resource_aws_sfn_activity.go
  aws/resource_aws_sfn_state_machine.go
Labels: bug, service/sfn, size/S

#9488 tests/resource_aws_autoscaling_group: Update test configuration with default value for `launch_template.version`
  aws/resource_aws_autoscaling_group_test.go
Labels: service/autoscaling, size/XS, tests

#9505 resource/aws_rds_cluster: Properly update master_password during snapshot restore
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: bug, documentation, service/rds, size/M, tests

#9478 resource/aws_autoscaling_group: Fix issue preventing the removal of `load_balancers` when switching to `target_group_arns`
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
Labels: bug, service/autoscaling, size/L, tests

#9515 Fixed typo in r/vpn_connection docs
  website/docs/r/vpn_connection.html.markdown
Labels: documentation, service/ec2, size/XS

#9518 resource/aws_autoscaling_group: Temporarily revert load_balancers and target_group_arns Computed behavior
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
Labels: bug, regression, service/autoscaling, size/XS, tests

#9520 tests/resource/aws_ec2_transit_gateway_vpc_attachment: Enable Organizations test
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_test.go
Labels: service/ec2, size/XS, tests

#9483 tests/resource/aws_egress_only_internet_gateway: Implement sweeper
  aws/resource_aws_egress_only_internet_gateway_test.go
  aws/resource_aws_vpc_test.go
Labels: service/ec2, size/S, tests

#9500 tests/resource/aws_vpn_gateway: Remove tag filtering for sweeper
  aws/resource_aws_vpn_gateway_test.go
Labels: service/ec2, size/XS, tests

#9497 resource/aws_vpn_connection: Implement sweeper and refactor StateChangeConf logic into functions
  aws/resource_aws_ec2_transit_gateway_test.go
  aws/resource_aws_vpn_connection.go
  aws/resource_aws_vpn_connection_test.go
Labels: service/ec2, size/L, tests

#9539 Missing opening parenthesis in default_route_table documentation
  website/docs/r/default_route_table.html.markdown
Labels: documentation, service/ec2, size/XS

#9536 Final retries for storage gateway functions plus changing test config syntax to fix some long-standing test failures
  aws/resource_aws_storagegateway_cached_iscsi_volume.go
  aws/resource_aws_storagegateway_gateway.go
  aws/resource_aws_storagegateway_gateway_test.go
Labels: bug, service/storagegateway, size/S, tests

#9551 provider: Enable Issue Service Labeling based on Resource Naming
  .hashibot.hcl
Labels: enhancement, provider, size/XL

#9547 provider: Support new me-south-1 region in various data sources
  aws/data_source_aws_cloudtrail_service_account.go
  aws/data_source_aws_elastic_beanstalk_hosted_zone.go
  aws/data_source_aws_elb_hosted_zone_id.go
  aws/data_source_aws_elb_service_account.go
  aws/hosted_zones.go
Labels: enhancement, service/cloudtrail, service/elasticbeanstalk, service/elb, size/XS

#9546 docs/provider: Add New Region information to Maintaining Guide
  .github/MAINTAINING.md
Labels: documentation, provider, size/L

#9522 Doc: fix typo in the msk_cluster documentation: client_authenication => client_authentication
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, service/kafka, size/XS

#9554 provider: Minor fixes for hashibot configuration
  .hashibot.hcl
Labels: size/XS

#9493 Update codebuild_project.html.markdown
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#9511 simple syntax error fix
  examples/eks-getting-started/eks-cluster.tf
  examples/eks-getting-started/eks-worker-nodes.tf
Labels: documentation, service/eks, size/XS

#9527 Added missing permission
  website/docs/r/codepipeline.markdown
Labels: documentation, service/codepipeline, size/XS

#9521 Document instance_state attribute on aws_instance
  website/docs/d/instance.html.markdown
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XS

#9472 Make hsm csr availability condition clear
  website/docs/r/cloudhsm_v2_cluster.html.markdown
Labels: documentation, service/cloudhsmv2, size/XS

#9244 fix: doc codebuild_project Updated IAM policy for VPC access
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#7824 Add override_artifact_name flag to aws_codebuild_project
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, enhancement, service/codebuild, size/M, tests

#9543 Don't error on volume deletion when the volume wasn't found
  aws/resource_aws_storagegateway_cached_iscsi_volume.go
  aws/resource_aws_storagegateway_cached_iscsi_volume_test.go
Labels: bug, service/storagegateway, size/XS, tests

#9560 docs/resource/aws_codebuild_project: Clarify artifacts configuration block location argument
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#9563 Add missing end quote in aws_db_instance docs
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS

#9561 Add support resource tags for configservice
  aws/resource_aws_config_aggregate_authorization.go
  aws/resource_aws_config_aggregate_authorization_test.go
  aws/resource_aws_config_config_rule.go
  aws/resource_aws_config_config_rule_test.go
  aws/resource_aws_config_configuration_aggregator.go
  aws/resource_aws_config_configuration_aggregator_test.go
  aws/resource_aws_config_test.go
  aws/tagsConfigService.go
  aws/tagsConfigService_test.go
  website/docs/r/config_aggregate_authorization.markdown
  website/docs/r/config_config_rule.html.markdown
  website/docs/r/config_configuration_aggregator.html.markdown
Labels: documentation, enhancement, service/configservice, size/XL, tests

#9460 #7741: Pinpoint App - Added resource tag support
  aws/resource_aws_pinpoint_app.go
  aws/resource_aws_pinpoint_app_test.go
  aws/tagsPinPointApp.go
  aws/tagsPinPointApp_test.go
  website/docs/r/pinpoint_app.markdown
Labels: documentation, enhancement, service/pinpoint, size/XL, tests

#9565 resource/aws_route53_record: weighted_routing_policy can be removed from existing records
  aws/resource_aws_route53_record.go
  aws/resource_aws_route53_record_test.go
Labels: bug, service/route53, size/M, tests
