Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-11, with the labels that each got.

#9605 aws_api_gateway_authorizer: fix authorizer_result_ttl_in_seconds cache disable
  aws/resource_aws_api_gateway_authorizer.go
  aws/resource_aws_api_gateway_authorizer_test.go
Labels: bug, service/apigateway, size/M, tests

#10685 Docs: use aws_iam_role_policy_attachment for aws_s3_bucket example
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XS

#10695 Import test refactor for elasticsearch domains
  aws/resource_aws_elasticsearch_domain_test.go
Labels: service/elasticsearch, size/XL, tests

#10700 tests/provider: Replace deleted AWS Managed IAM Policy AmazonEC2SpotFleetRole, use data sources in those tests
  aws/resource_aws_appautoscaling_policy_test.go
  aws/resource_aws_appautoscaling_scheduled_action_test.go
  aws/resource_aws_appautoscaling_target_test.go
  aws/resource_aws_batch_compute_environment_test.go
Labels: service/applicationautoscaling, service/batch, size/M, tests

#10660 tests/resource/aws_globalaccelerator_accelerator: Add sweeper
  aws/resource_aws_globalaccelerator_accelerator_test.go
Labels: service/globalaccelerator, size/M, tests

#10661 tests/resource/aws_kinesis_stream: Add sweeper
  aws/resource_aws_kinesis_stream_test.go
Labels: service/kinesis, size/S, tests

#10708 Add AT002 to make lint target
  GNUmakefile
Labels: size/XS

#10394 Implement QLDB Ledger resource and data lookup
  aws/data_source_aws_qldb_ledger.go
  aws/data_source_aws_qldb_ledger_test.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/provider.go
  aws/resource_aws_qldb_ledger.go
  aws/resource_aws_qldb_ledger_test.go
  website/aws.erb
  website/docs/d/qldb_ledger.html.markdown
  website/docs/r/qldb_ledger.html.markdown
Labels: documentation, new-data-source, new-resource, provider, size/XL, tests, waiting-response

#10718 Fix PR triage GH Action
  .github/workflows/pull_requests.yml
Labels: size/XS, technical-debt

#10479 Add Tag Support for aws_waf_rate_based_rule resource
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/resource_aws_waf_rate_based_rule.go
  aws/resource_aws_waf_rate_based_rule_test.go
  website/docs/r/waf_rate_based_rule.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests, waiting-response

#10488 RDS DB Cluster Snapshot Tags
  aws/data_source_aws_db_cluster_snapshot.go
  aws/data_source_aws_db_cluster_snapshot_test.go
  aws/resource_aws_db_cluster_snapshot.go
  aws/resource_aws_db_cluster_snapshot_test.go
  website/docs/d/db_cluster_snapshot.html.markdown
  website/docs/r/db_cluster_snapshot.html.markdown
Labels: documentation, enhancement, service/rds, size/L, tests

#10503 d/aws_vpc_endpoint: Add support for tag filters
  aws/data_source_aws_vpc_endpoint.go
  aws/data_source_aws_vpc_endpoint_test.go
  website/docs/d/vpc_endpoint.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#10550 add tags to aws_db_instance data source
  aws/data_source_aws_db_instance.go
  aws/data_source_aws_db_instance_test.go
Labels: enhancement, service/rds, size/XS, tests

#10613 Add Tag Support to Storage Gateway Cached ISCSI Volume Resource
  aws/resource_aws_storagegateway_cached_iscsi_volume.go
  aws/resource_aws_storagegateway_cached_iscsi_volume_test.go
  website/docs/r/storagegateway_cached_iscsi_volume.html.markdown
Labels: documentation, enhancement, service/storagegateway, size/L, tests

#10442 resource/aws_mq_broker: security group changes not require broker reboot or recreation
  aws/resource_aws_mq_broker.go
  aws/resource_aws_mq_broker_test.go
Labels: enhancement, service/mq, size/L, tests

#10588 Add Tag Support to Storage Gateway Gateway Resource
  aws/resource_aws_storagegateway_gateway.go
  aws/resource_aws_storagegateway_gateway_test.go
  website/docs/r/storagegateway_gateway.html.markdown
Labels: documentation, enhancement, service/storagegateway, size/M, tests

#10709 tests/resource/aws_batch_job_queue: Remove sweeper prefix checking
  aws/resource_aws_batch_job_queue_test.go
Labels: service/batch, size/XS, tests

#10727 Keyvaluetags - add support for elbv2, acm, acmpca & resourcegroups
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/update_tags_gen.go
Labels: size/L

#10348 d/aws_route53_resolver_rule: Don't retrieve tags for rules 'SHARED_WITH_ME'
  aws/data_source_aws_route53_resolver_rule.go
  aws/data_source_aws_route53_resolver_rule_test.go
Labels: bug, service/route53resolver, size/L, tests

#10483 resource/aws_rds_cluster: Refactor tagging to use keyvaluetags library
  aws/resource_aws_rds_cluster.go
Labels: service/rds, size/XS, technical-debt

#10561 Add Tag Support to API Gateway VPC Link Resource
  aws/provider_test.go
  aws/resource_aws_api_gateway_vpc_link.go
  aws/resource_aws_api_gateway_vpc_link_test.go
  website/docs/r/api_gateway_vpc_link.html.markdown
Labels: documentation, enhancement, service/apigateway, size/L, tests

#10701 Refactor code_build_project to use keyvaluetags
  aws/resource_aws_codebuild_project.go
  aws/tagsCodeBuild.go
Labels: service/codebuild, size/S, technical-debt

#10722 Add Tag Support to Storage Gateway NFS File Share Resource
  aws/resource_aws_storagegateway_nfs_file_share.go
  aws/resource_aws_storagegateway_nfs_file_share_test.go
  website/docs/r/storagegateway_nfs_file_share.html.markdown
Labels: documentation, enhancement, service/storagegateway, size/M, tests

#10724 data/aws_rds_cluster: Refactor tagging to use keyvaluetags library
  aws/data_source_aws_rds_cluster.go
Labels: service/rds, size/XS, technical-debt

#10725 data/acmpca_certificate_authority - Refactor tagging to use keyvaluetags library
  aws/data_source_aws_acmpca_certificate_authority.go
Labels: service/acmpca, size/XS, technical-debt

#10594 Add iotanalytics service regex
  .hashibot.hcl
Labels: size/XS

#10593 Add iotevents service regex
  .hashibot.hcl
Labels: size/XS

#10734 Delete PR triage Github Action
  .github/workflows/pull_requests.yml
Labels: size/XS

#10732 Various hashibot labeling fixes/additions
  .hashibot.hcl
Labels: needs-triage, size/XS

#10733 Refactor r/aws_acm_certificate to use keyvaluetags
  aws/resource_aws_acm_certificate.go
  aws/resource_aws_acm_certificate_test.go
  aws/tagsACM.go
  aws/tagsACM_test.go
Labels: service/acm, size/XL, technical-debt, tests

#10740 Keyvaluetags - add support for SQS & Cloudwatch Logs
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/update_tags_gen.go
Labels: size/M

#10736 Refactor r/aws_acmpca_certificate_authority to use keyvaluetags
  aws/resource_aws_acmpca_certificate_authority.go
  aws/resource_aws_acmpca_certificate_authority_test.go
  aws/tagsACMPCA.go
  aws/tagsACMPCA_test.go
Labels: enhancement, service/acmpca, size/L, technical-debt, tests

#10742 d/aws_ami: Refactor tagging logic to keyvaluetags package
  aws/data_source_aws_ami.go
  aws/data_source_aws_ami_test.go
Labels: service/ec2, size/M, technical-debt, tests

#10751 r/aws_ami: Refactor tagging logic to keyvaluetags package
  aws/resource_aws_ami.go
  aws/resource_aws_ami_test.go
Labels: service/ec2, size/M, technical-debt, tests

#10753 r/aws_cloudwatch_log_group: Refactor tagging logic to keyvaluetags package
  aws/resource_aws_cloudwatch_log_group.go
Labels: enhancement, service/cloudwatchlogs, size/M

#10763 r/swf_domain - add tagging support
  aws/resource_aws_swf_domain.go
  aws/resource_aws_swf_domain_test.go
  website/docs/r/swf_domain.html.markdown
Labels: documentation, enhancement, service/swf, size/M, tests

#10756 d/aws_cloudformation_stack: Refactor tagging logic to keyvaluetags package
  aws/data_source_aws_cloudformation_stack.go
  aws/data_source_aws_cloudformation_stack_test.go
Labels: service/cloudformation, size/M, tests

#10759 r/aws_launch_template: Tag on create
  .github/CONTRIBUTING.md
  aws/data_source_aws_launch_template.go
  aws/resource_aws_launch_template.go
  aws/tags.go
Labels: enhancement, service/ec2, size/M

#10761 r/aws_ec2_fleet: Refactor tagging logic to keyvaluetags package
  aws/resource_aws_ec2_fleet.go
  aws/resource_aws_ec2_fleet_test.go
Labels: enhancement, service/ec2, size/S, tests

#10765 r/cloudformation_stack - refactor to use keyvaluetags + enums
  aws/resource_aws_cloudformation_stack.go
Labels: service/cloudformation, size/M, technical-debt

#10713 nil checks to prevent crashes on empty config blocks
  aws/resource_aws_ssm_maintenance_window_task.go
  aws/resource_aws_ssm_maintenance_window_task_test.go
Labels: bug, crash, service/ssm, size/M, tests

#10778 aws_ebs_volume: Refactor tagging logic to keyvaluetags package
  aws/data_source_aws_ebs_volume.go
  aws/resource_aws_ebs_volume.go
Labels: service/ec2, size/S, technical-debt

#10775 r/aws_ec2_capacity_reservation: Refactor tagging logic to keyvaluetags package
  aws/resource_aws_ec2_capacity_reservation.go
  aws/resource_aws_ec2_capacity_reservation_test.go
Labels: service/ec2, size/S, technical-debt, tests

#10797 r/sqs_queue - refactor to use keyvaluetags
  aws/resource_aws_sqs_queue.go
  aws/resource_aws_sqs_queue_test.go
Labels: service/sqs, size/M, tests

#10786 r/cloudformation_stack_set - refactor to use keyvaluetags
  aws/resource_aws_cloudformation_stack_set.go
  aws/structure.go
Labels: service/cloudformation, size/S, technical-debt

#10798 r/waf_rule- refactor to use keyvaluetags
  aws/resource_aws_waf_rule.go
  aws/resource_aws_waf_rule_test.go
  website/docs/r/waf_rule.html.markdown
Labels: documentation, enhancement, service/waf, size/S, tests

#10799 r/waf_rule_group - refactor to use keyvaluetags
  aws/resource_aws_waf_rule_group.go
  aws/resource_aws_waf_rule_group_test.go
  website/docs/r/waf_rule_group.html.markdown
Labels: documentation, enhancement, service/waf, size/S, tests

#7132 Add members attribute to iam_group data source
  aws/data_source_aws_iam_group.go
  aws/data_source_aws_iam_group_test.go
  website/docs/d/iam_group.html.markdown
Labels: documentation, enhancement, service/iam, size/M, tests

#10801 r/waf_web_acl - refactor to use keyvaluetags
  aws/resource_aws_waf_web_acl.go
  aws/resource_aws_waf_web_acl_test.go
  website/docs/r/waf_web_acl.html.markdown
Labels: documentation, service/waf, size/S, technical-debt, tests

#10811 Add PR triage label behavior
  .hashibot.hcl
Labels: size/XS, technical-debt

#10812 docs/provider: Remove source content for guides which are no longer hosted by this repository
  website/docs/d/iam_policy_document.html.markdown
  website/docs/guides/eks-getting-started.html.md
  website/docs/guides/iam-policy-documents.html.md
  website/docs/guides/serverless-with-aws-lambda-and-api-gateway.html.md
  website/docs/r/api_gateway_rest_api.html.markdown
  website/docs/r/ecr_lifecycle_policy.html.markdown
  website/docs/r/ecr_repository_policy.html.markdown
  website/docs/r/iam_group_policy.html.markdown
  website/docs/r/iam_policy.html.markdown
  website/docs/r/iam_role_policy.html.markdown
  website/docs/r/iam_user_policy.html.markdown
  website/docs/r/iot_policy.html.markdown
  website/docs/r/kms_key.html.markdown
  website/docs/r/media_store_container_policy.html.markdown
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_policy.html.markdown
  website/docs/r/secretsmanager_secret.html.markdown
  website/docs/r/ses_identity_policy.html.markdown
  website/docs/r/sns_topic.html.markdown
  website/docs/r/sns_topic_policy.html.markdown
  website/docs/r/sqs_queue.html.markdown
  website/docs/r/sqs_queue_policy.html.markdown
  website/docs/r/vpc_endpoint.html.markdown
Labels: documentation, service/apigateway, service/ec2, service/ecr, service/iam, service/iot, service/kms, service/mediastore, service/s3, service/secretsmanager, service/ses, service/sns, service/sqs, size/XXL

#10850 resource/aws_lambda_function: Expand kms_key_arn documentation and testing when no environment variables are present
  aws/resource_aws_lambda_function_test.go
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/M, tests

#10806 keyvaluetags - support Waf Regional
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
Labels: size/M

#10857 [documentation] add cloudwatch monitoring for target group and NLB
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, needs-triage, service/cloudwatch, size/XS

#10863 resource/aws_s3_bucket: Retry GetBucketTagging API calls on NoSuchBucket errors due to eventual consistency
  aws/s3_tags.go
Labels: bug, service/s3, size/XS

#10827 Feature/refactor tagging code to use keyvaluetags for aws eip resource
  aws/resource_aws_eip.go
  aws/resource_aws_eip_test.go
Labels: service/ec2, size/S, technical-debt, tests

#10828 refactor tagging code to use keyvaluetags for aws_datapipeline resource
  aws/resource_aws_datapipeline_pipeline.go
  aws/tagsDataPipeline.go
  aws/tagsDataPipeline_test.go
Labels: service/datapipeline, size/L, technical-debt, tests

#10829 Feature/refactor tagging code to use keyvaluetags for aws sagemaker resources
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_sagemaker_endpoint.go
  aws/resource_aws_sagemaker_endpoint_configuration.go
  aws/resource_aws_sagemaker_model.go
  aws/resource_aws_sagemaker_notebook_instance.go
  aws/resource_aws_sagemaker_notebook_instance_test.go
  aws/tags_sagemaker.go
Labels: service/sagemaker, size/L, technical-debt, tests

#10841 refactor tagging code to use keyvaluetags for aws rds cluster resources
  aws/resource_aws_rds_cluster_instance.go
  aws/resource_aws_rds_cluster_parameter_group.go
Labels: service/rds, size/S, technical-debt

#10842 fix to use keyvaluetags in aws_route53_resolver_endpoint and aws_rout…
  aws/resource_aws_route53_resolver_endpoint.go
  aws/resource_aws_route53_resolver_rule.go
  aws/tagsRoute53Resolver.go
Labels: service/route53resolver, size/M, technical-debt

#10883 Add greengrass service
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/greengrass/api.go
  vendor/github.com/aws/aws-sdk-go/service/greengrass/doc.go
  vendor/github.com/aws/aws-sdk-go/service/greengrass/errors.go
  vendor/github.com/aws/aws-sdk-go/service/greengrass/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, needs-triage, provider, size/XXL

#10844 data-source/aws_iam_policy_document: support multiple princiapls in iam policy document without dropping some
  aws/data_source_aws_iam_policy_document_test.go
  aws/iam_policy_model.go
Labels: needs-triage, service/iam, size/M, tests

#10780 data-source/aws_iam_policy_document: Prevent panic when combining single principal identifier with multiple principal identifiers
  aws/data_source_aws_iam_policy_document_test.go
  aws/iam_policy_model.go
Labels: bug, crash, service/iam, size/M, tests

#10864 resource/aws_dlm_lifecycle_policy: Add tags argument and arn attribute
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_dlm_lifecycle_policy.go
  aws/resource_aws_dlm_lifecycle_policy_test.go
  website/docs/r/dlm_lifecycle_policy.markdown
Labels: documentation, enhancement, service/dlm, size/L, tests

#10735 resource/aws_servicequotas_service_quota: Remove resource from Terraform state on NoSuchResourceException error
  aws/resource_aws_servicequotas_service_quota.go
Labels: bug, service/servicequotas, size/XS

#10783 tests/provider: Remove hardcoded aws_spot_fleet_request resource valid_until timestamps
  aws/resource_aws_appautoscaling_policy_test.go
  aws/resource_aws_appautoscaling_scheduled_action_test.go
  aws/resource_aws_appautoscaling_target_test.go
  aws/resource_aws_spot_fleet_request_test.go
Labels: service/applicationautoscaling, service/ec2, size/XL, tests

#10805 resource/aws_glue_crawler: Add tags argument
  aws/resource_aws_glue_crawler.go
  aws/resource_aws_glue_crawler_test.go
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, enhancement, service/glue, size/L, tests

#10747 tests/service/apigateway: Add acceptance tests to verify aws_api_gateway_rest_api and aws_api_gateway_deployment Terraform state removals for external deletion
  aws/resource_aws_api_gateway_deployment_test.go
  aws/resource_aws_api_gateway_rest_api_test.go
Labels: service/apigateway, size/S, tests

#10888 Fix typo in mq_broker docs
  website/docs/r/mq_broker.html.markdown
Labels: documentation, needs-triage, service/mq, size/XS

#10856 fix to use keyvaluetags in aws_ecs resource
  aws/resource_aws_ecs_cluster.go
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_task_definition.go
  aws/resource_aws_ecs_task_definition_test.go
  aws/tagsECS.go
  aws/tagsECS_test.go
Labels: service/ecs, size/XL, technical-debt, tests

#10825 r/aws_efs_file_system: Support 7-day lifecycle management policy
  aws/resource_aws_efs_file_system.go
  website/docs/r/efs_file_system.html.markdown
Labels: documentation, enhancement, service/efs, size/XS

#10617 Make response_templates a map expression
  website/docs/r/api_gateway_integration_response.html.markdown
Labels: documentation, service/apigateway, size/XS

#10466 Add note for api_gateway_domain_name about implicit dependency on acm_certificate_validation
  website/docs/r/api_gateway_domain_name.html.markdown
Labels: documentation, service/apigateway, size/XS

#10889 r/aws_wafregional_web_acl - add tagging support + read after create
  aws/resource_aws_wafregional_web_acl.go
  aws/resource_aws_wafregional_web_acl_test.go
  website/docs/r/wafregional_web_acl.html.markdown
Labels: documentation, enhancement, service/waf, size/XL, tests

#10480 Add import support for aws_waf_geo_match_set resource
  aws/resource_aws_waf_geo_match_set.go
  aws/resource_aws_waf_geo_match_set_test.go
  website/docs/r/waf_geo_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#10481 Add import support for aws_waf_regex_match_set resource
  aws/resource_aws_waf_regex_match_set.go
  aws/resource_aws_waf_regex_match_set_test.go
  website/docs/r/waf_regex_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#10482 Add import support for aws_waf_regex_pattern_set resource
  aws/resource_aws_waf_regex_pattern_set.go
  aws/resource_aws_waf_regex_pattern_set_test.go
  website/docs/r/waf_regex_pattern_set.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#10484 Add import support for aws_waf_size_constraint_set resource
  aws/resource_aws_waf_size_constraint_set.go
  aws/resource_aws_waf_size_constraint_set_test.go
  aws/waf_helpers.go
  website/docs/r/waf_size_constraint_set.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#10485 Add import support for aws_waf_xss_match_set resource
  aws/resource_aws_waf_xss_match_set.go
  aws/resource_aws_waf_xss_match_set_test.go
  website/docs/r/waf_xss_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#10745 service/secretsmanager: Refactor tagging logic to keyvaluetags package
  aws/data_source_aws_secretsmanager_secret.go
  aws/resource_aws_secretsmanager_secret.go
  aws/tagsSecretsManager.go
  aws/tagsSecretsManager_test.go
Labels: service/secretsmanager, size/L, technical-debt, tests

#10538 Add import support for aws_wafregional_web_acl_association resource
  aws/resource_aws_wafregional_web_acl_association.go
  aws/resource_aws_wafregional_web_acl_association_test.go
  website/docs/r/wafregional_web_acl_association.html.markdown
Labels: documentation, enhancement, service/waf, size/S, tests

#10739 service/transfer: Refactor tagging logic to keyvaluetags package
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_user.go
  aws/tagsTransfer.go
  aws/tagsTransfer_test.go
Labels: service/transfer, size/L, technical-debt, tests

#10741 resource/aws_sns_topic: Refactor tagging logic to use keyvaluetags package and call Read after Create
  aws/resource_aws_sns_topic.go
  aws/tagsSNS.go
  aws/tagsSNS_test.go
Labels: service/sns, size/L, technical-debt, tests

#10744 service/sfn: Refactor tagging logic to keyvaluetags package
  aws/resource_aws_sfn_activity.go
  aws/resource_aws_sfn_state_machine.go
  aws/tagsSfn.go
  aws/tagsSfn_test.go
Labels: service/sfn, size/L, technical-debt, tests

#10746 r/aws_s3_bucket_inventory: Add support for 'IntelligentTieringAccessTier'
  aws/provider_test.go
  aws/resource_aws_s3_bucket_inventory.go
  aws/resource_aws_s3_bucket_inventory_test.go
  website/docs/r/s3_bucket_inventory.html.markdown
Labels: documentation, enhancement, service/s3, size/M, tests

#10895 r/aws_wafregional_rule - add tagging support + expose arn + read after create
  aws/resource_aws_wafregional_rule.go
  aws/resource_aws_wafregional_rule_test.go
  website/docs/r/wafregional_rule.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#10896 r/aws_wafregional_rule_group - add tagging support + expose arn + read after create
  aws/resource_aws_wafregional_rule_group.go
  aws/resource_aws_wafregional_rule_group_test.go
  website/docs/r/wafregional_rule_group.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#10897 r/aws_wafregional_rate_based_rule - add tagging support + expose arn + read after create
  aws/resource_aws_wafregional_rate_based_rule.go
  aws/resource_aws_wafregional_rate_based_rule_test.go
  website/docs/r/wafregional_rate_based_rule.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#10818 r/aws_cloudtrail - support Tag on create
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_cloudtrail.go
  aws/resource_aws_cloudtrail_test.go
  aws/tagsCloudtrail.go
  aws/tagsCloudtrail_test.go
Labels: enhancement, service/cloudtrail, size/XL, technical-debt, tests

#10916 New Resource: aws_eks_node_group
  aws/provider.go
  aws/resource_aws_eks_node_group.go
  aws/resource_aws_eks_node_group_test.go
  website/aws.erb
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, new-resource, provider, service/eks, size/XXL, tests

#10839 Add stale issue closer behavior
  .hashibot.hcl
Labels: size/XS, technical-debt

#10175 Fix permanent diff on aws_opsworks ssh_key and password
  aws/resource_aws_opsworks_application.go
  aws/resource_aws_opsworks_stack.go
  aws/resource_aws_opsworks_stack_test.go
  website/docs/r/opsworks_application.html.markdown
  website/docs/r/opsworks_stack.html.markdown
Labels: documentation, service/opsworks, size/L, tests

#10045 Fix for ebs_block_devices disappearing in data source, and fix instan…
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  aws/resource_aws_instance.go
  go.mod
  go.sum
Labels: service/ec2, size/XL, tests

#10906 Refactor tagging code to use keyvaluetags for aws mq resources
  aws/resource_aws_mq_broker.go
  aws/resource_aws_mq_configuration.go
  aws/tagsMQ.go
Labels: service/mq, size/M, technical-debt

#10905 refactor tagging code to use keyvaluetags for aws kms resources
  aws/resource_aws_kms_external_key.go
  aws/resource_aws_kms_key.go
  aws/tagsKMS.go
  aws/tagsKMS_test.go
Labels: service/kms, size/L, technical-debt, tests

#10640 Add Tag Support to Resource Group Resource
  aws/resource_aws_resourcegroups_group.go
  aws/resource_aws_resourcegroups_group_test.go
  website/docs/r/resourcegroups_group.html.markdown
Labels: documentation, enhancement, service/resourcegroups, size/L, tests

#10614 update spot-allocation-strategy attribute
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#10748 fix documentation mistakes
  website/docs/r/autoscaling_policy.html.markdown
Labels: documentation, service/autoscaling, size/XS

#10626 Update Lambda event source mapping argument documentation
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, service/lambda, size/XS

#10625 website/docs/r/launch_template: Update default value for `block_device_mappings.delete_on_termination`
  website/docs/r/launch_template.html.markdown
Labels: documentation, service/ec2, size/XS, tests

#10624 Fix spacing in readme
  examples/two-tier/README.md
Labels: documentation, size/XS

#10608 CloudWatch Logs destination does not support a lambda target
  website/docs/r/cloudwatch_log_destination.html.markdown
Labels: documentation, service/cloudwatchlogs, size/XS

#10544 Spelling correction.
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, service/rds, size/XS

#10500 Fix aws_batch_compute_environment example
  website/docs/r/batch_compute_environment.html.markdown
Labels: documentation, service/batch, size/XS

#10525 Don't require a role for aws_iam_instance_profile
  aws/resource_aws_iam_instance_profile.go
  aws/resource_aws_iam_instance_profile_test.go
  website/docs/r/iam_instance_profile.html.markdown
Labels: documentation, service/iam, size/XS, tests

#10190 Add support for crawlers in aws_glue_trigger
  aws/resource_aws_glue_trigger.go
  aws/resource_aws_glue_trigger_test.go
  website/docs/r/glue_trigger.html.markdown
Labels: documentation, enhancement, service/glue, size/L, tests, waiting-response

#10051 aws_lambda_event_source_mapping: maximum_batching_window_in_seconds
  aws/resource_aws_lambda_event_source_mapping.go
  aws/resource_aws_lambda_event_source_mapping_test.go
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, enhancement, service/lambda, size/M, tests

#10938 resource/aws_lambda_function: support Java 11, Nodejs12x, Python3.8 runtimes
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
Labels: enhancement, service/lambda, size/M, tests

#10710 Use the tf-acc-test prefix for naming API gateways in tests
  aws/resource_aws_api_gateway_documentation_part_test.go
  aws/resource_aws_api_gateway_documentation_version_test.go
  aws/resource_aws_api_gateway_integration_response_test.go
  aws/resource_aws_api_gateway_integration_test.go
  aws/resource_aws_api_gateway_method_response_test.go
  aws/resource_aws_api_gateway_model_test.go
  aws/resource_aws_api_gateway_request_validator_test.go
  aws/resource_aws_api_gateway_resource_test.go
  aws/resource_aws_api_gateway_rest_api_test.go
  aws/resource_aws_api_gateway_usage_plan_key_test.go
  aws/resource_aws_api_gateway_usage_plan_test.go
Labels: service/apigateway, size/XL, technical-debt, tests

#9788 Correct validations for AWS Cloud Map service discovery information for App Mesh virtual nodes
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_node_test.go
  aws/resource_aws_service_discovery_service_test.go
Labels: bug, service/appmesh, service/servicediscovery, size/XS, tests

#9660 Adds diff suppression to group policy documents
  aws/resource_aws_iam_group_policy.go
Labels: enhancement, service/iam, size/XS

#9115 AWS Glue worker_type feature
  aws/resource_aws_glue_job.go
  aws/resource_aws_glue_job_test.go
  website/docs/r/glue_job.html.markdown
Labels: documentation, enhancement, service/glue, size/M, tests

#10918 examples/eks-getting-started: Update for new EKS Node Group functionality
  examples/eks-getting-started/eks-cluster.tf
  examples/eks-getting-started/eks-worker-nodes.tf
  examples/eks-getting-started/providers.tf
Labels: documentation, service/eks, size/M

#10968 resource/aws_glue_job: Add tags argument and arn attribute
  aws/resource_aws_glue_job.go
  aws/resource_aws_glue_job_test.go
  website/docs/r/glue_job.html.markdown
Labels: documentation, enhancement, service/glue, size/L, tests

#10937 resource/aws_batch_compute_environment: Propose resource recreation when updating compute_resources configuration block tags argument
  aws/resource_aws_batch_compute_environment.go
Labels: bug, needs-triage, service/batch, size/XS

#10967 resource/aws_glue_trigger: Add tags argument and arn attribute
  aws/resource_aws_glue_trigger.go
  aws/resource_aws_glue_trigger_test.go
  website/docs/r/glue_trigger.html.markdown
Labels: documentation, enhancement, service/glue, size/M, tests

#10966 Fix incorrect doc
  website/docs/r/security_group.html.markdown
Labels: documentation, needs-triage, service/ec2, size/XS

#10935 r/aws_ebs_snapshot - refactor to use keyvaluetags + update tags
  aws/resource_aws_ebs_snapshot.go
  aws/resource_aws_ebs_snapshot_test.go
Labels: enhancement, service/ec2, size/M, tests

#10936 r/aws_ebs_snapshot_copy - refactor to use keyvaluetags
  aws/resource_aws_ebs_snapshot_copy.go
  aws/resource_aws_ebs_snapshot_copy_test.go
Labels: enhancement, service/ec2, size/M, tests

#9828 AWS CloudWatch Alarm - Anomaly detection
  aws/resource_aws_cloudwatch_metric_alarm.go
  aws/resource_aws_cloudwatch_metric_alarm_test.go
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, enhancement, service/cloudwatch, size/M, tests

#10950 d/aws_ebs_snapshot - refactor to use keyvaluetags
  aws/data_source_aws_ebs_snapshot.go
Labels: service/ec2, size/XS, technical-debt

#8523 New resources: aws_dx_hosted_transit_virtual_interface and aws_dx_hosted_transit_virtual_interface_accepter
  aws/provider.go
  aws/resource_aws_dx_hosted_transit_virtual_interface.go
  aws/resource_aws_dx_hosted_transit_virtual_interface_accepter.go
  aws/resource_aws_dx_hosted_transit_virtual_interface_test.go
  website/aws.erb
  website/docs/r/dx_hosted_transit_virtual_interface.html.markdown
  website/docs/r/dx_hosted_transit_virtual_interface_accepter.html.markdown
Labels: documentation, new-resource, provider, service/directconnect, size/XL, tests

#10970 tests/provider: Provide helpful error when AWS_ALTERNATE_REGION partition does not match AWS_DEFAULT_REGION partition
  aws/provider_test.go
Labels: provider, size/XS, tests

#10837 docs - Minor copy style fixes on acm_certificate
  website/docs/r/acm_certificate.html.markdown
Labels: documentation, service/acm, size/XS

#10993 Fix users attribute of iam_group data source
  aws/data_source_aws_iam_group.go
  aws/data_source_aws_iam_group_test.go
Labels: bug, service/iam, size/S, tests

#11006 resource/aws_sns_topic_policy: fix import command documentation
  website/docs/r/sns_topic_policy.html.markdown
Labels: documentation, service/sns, size/XS

#10981 resource/aws_default_route_table: Fixes for creation and recreation behavior when Default Route Table is missing
  aws/resource_aws_default_route_table.go
  aws/resource_aws_default_route_table_test.go
Labels: bug, service/ec2, size/M, tests

#11002 [WIP] expose clusterSecurityGroupId from aws_eks_cluster resource/data-source as its attribute
  aws/data_source_aws_eks_cluster.go
  aws/data_source_aws_eks_cluster_test.go
  aws/resource_aws_eks_cluster.go
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, enhancement, service/eks, size/XS, tests

#10982 Update description to match other official providers
  README.md
Labels: needs-triage, size/XS

#10907 refactor tagging code to use keyvaluetags for aws msk resources & data source
  aws/data_source_aws_msk_cluster.go
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_msk_cluster_test.go
  aws/tags_msk.go
  aws/tags_msk_test.go
Labels: service/kafka, size/L, technical-debt, tests

#11010 resource/aws_eks_node_group: Ensure testing and documentation includes necessary IAM Role permissions depends_on configuration
  aws/resource_aws_eks_node_group_test.go
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, service/eks, size/M, tests

#9572 Direct Connect virtual interfaces: Tag-on-create and validate type during import
  aws/resource_aws_dx_hosted_private_virtual_interface.go
  aws/resource_aws_dx_hosted_private_virtual_interface_accepter.go
  aws/resource_aws_dx_hosted_private_virtual_interface_test.go
  aws/resource_aws_dx_hosted_public_virtual_interface.go
  aws/resource_aws_dx_hosted_public_virtual_interface_accepter.go
  aws/resource_aws_dx_hosted_public_virtual_interface_test.go
  aws/resource_aws_dx_private_virtual_interface.go
  aws/resource_aws_dx_private_virtual_interface_test.go
  aws/resource_aws_dx_public_virtual_interface.go
  aws/resource_aws_dx_public_virtual_interface_test.go
Labels: enhancement, service/directconnect, size/XXL, tests

#10985 resource/aws_datasync_task: Remove BEST_EFFORT value from posix_permissions argument validation and documentation
  aws/resource_aws_datasync_task.go
  website/docs/r/datasync_task.html.markdown
Labels: documentation, service/datasync, size/XS, technical-debt, upstream

#11016 resource/aws_lambda_function: Support waiting for State on CreateFunction and LastUpdatedStatus on UpdateFunctionConfiguration
  aws/resource_aws_lambda_function.go
Labels: enhancement, service/lambda, size/M

#11015 resource/codebuild_project add BUILD_GENERAL1_2XLARGE compute type
  aws/resource_aws_codebuild_project.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#11009 docs/resource/aws_glue_job: Additional information about logging and metrics
  website/docs/r/glue_job.html.markdown
Labels: documentation, service/glue, size/XS

#11018 Add greengrass service to keyvaluetags
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
Labels: enhancement, service/greengrass, size/M

#11031 provider: Add GitHub Issue Template Config and remove extraneous templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Question.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: enhancement, provider, size/S

#10984 resource/aws_datasync_location_s3: Retry creation for IAM eventual consistency errors
  aws/resource_aws_datasync_location_s3.go
  aws/resource_aws_datasync_location_s3_test.go
  aws/resource_aws_datasync_task_test.go
Labels: bug, service/datasync, size/M, tests

#10157 Only set associate_public_ip_address if it's explicitly set
  aws/resource_aws_ec2_fleet_test.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
Labels: bug, service/ec2, size/XL, tests

#11033 Updates MAINTAINING.md
  .github/MAINTAINING.md
  CHANGELOG.md
Labels: size/XS

#10908 Set `secret` and `ses_smtp_password` to sensitive
  aws/resource_aws_iam_access_key.go
  website/docs/r/iam_access_key.html.markdown
Labels: documentation, service/iam, size/XS

#11040 resource/aws_iam_user: Delete a user's virtual MFA devices when force_destroy is enabled
  aws/resource_aws_iam_user.go
  aws/resource_aws_iam_user_test.go
Labels: service/iam, size/S, tests

#11041 add support for ca_cert_identifier parameter for docdb
  aws/resource_aws_docdb_cluster_instance.go
  aws/resource_aws_docdb_cluster_instance_test.go
  website/docs/r/docdb_cluster_instance.html.markdown
Labels: documentation, service/docdb, size/XS, tests

#11035 resource/codebuild_project add gpu worker for codebuild
  aws/resource_aws_codebuild_project.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, needs-triage, service/codebuild, size/XS

#11021 Change name to id in the aws_lightsail_static_ip_attachment example
  website/docs/r/lightsail_static_ip_attachment.html.markdown
Labels: documentation, needs-triage, service/lightsail, size/XS

#11057 Recreate batch_compute_environment when updating launch_template
  aws/resource_aws_batch_compute_environment.go
  aws/resource_aws_batch_compute_environment_test.go
Labels: bug, service/batch, size/M, tests

#11055 Update the iot thing type docs to match the schema
  website/docs/r/iot_thing_type.html.markdown
Labels: documentation, service/iot, size/XS
