Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-05, with the labels that each got.

#8439 Update Pull Request Template to allow PR authors to suggest release notes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/XS

#8463 data-source/aws_availability_zones: Add blacklisted_names and blacklisted_zone_ids arguments
  aws/data_source_aws_availability_zones.go
  aws/data_source_aws_availability_zones_test.go
  website/docs/d/availability_zones.html.markdown
Labels: documentation, enhancement, provider, service/ec2, size/M, tests

#8466 New Resource: aws_db_instance_role_association
  aws/provider.go
  aws/resource_aws_db_instance_role_association.go
  aws/resource_aws_db_instance_role_association_test.go
  website/aws.erb
  website/docs/r/db_instance_role_association.html.markdown
Labels: documentation, new-resource, provider, service/rds, size/XL, tests

#8426 AWS Systems Manager resources: Add support for resource tags
  aws/resource_aws_ssm_activation.go
  aws/resource_aws_ssm_activation_test.go
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_document_test.go
  aws/resource_aws_ssm_maintenance_window.go
  aws/resource_aws_ssm_maintenance_window_test.go
  aws/resource_aws_ssm_parameter_test.go
  aws/resource_aws_ssm_patch_baseline.go
  aws/resource_aws_ssm_patch_baseline_test.go
  aws/tags.go
  aws/tagsSSM.go
  website/docs/r/ssm_activation.html.markdown
  website/docs/r/ssm_maintenance_window.html.markdown
  website/docs/r/ssm_patch_baseline.html.markdown
Labels: documentation, service/ses, service/ssm, size/L, tests

#8467 resource/aws_sfn_state_machine: Bypass UnknownOperationException error for ListTagsForResource
  aws/resource_aws_sfn_state_machine.go
Labels: enhancement, service/sfn, size/XS

#8483 resource/aws_elb_attachment: Retry ELB attachment on `InvalidTarget` error
  aws/resource_aws_elb_attachment.go
Labels: enhancement, service/elb, size/XS

#8479 Tech debt: Replace 'validateAny' and 'validateIntegerInSlice' with upstream 'validation.Any' and 'validation.IntInSlice'
  aws/resource_aws_cloudwatch_metric_alarm.go
  aws/resource_aws_dlm_lifecycle_policy.go
  aws/resource_aws_dx_hosted_private_virtual_interface.go
  aws/resource_aws_dx_private_virtual_interface.go
  aws/validators.go
  aws/validators_test.go
Labels: service/directconnect, service/dlm, size/L, tests, waiting-response

#8473 Code example incorrect
  website/docs/r/secretsmanager_secret_version.html.markdown
Labels: documentation, service/secretsmanager, size/XS

#8399 adds roots attribute to the aws_organizations_organization resource
  aws/resource_aws_organizations_organization.go
  aws/resource_aws_organizations_organization_test.go
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, enhancement, service/organizations, size/L, tests

#8496 route53_delegation_set: fix link to AWS API reference
  website/docs/r/route53_delegation_set.html.markdown
Labels: documentation, service/route53, size/XS

#8512 Add Amazon Managed Blockchain service client
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/managedblockchain/api.go
  vendor/github.com/aws/aws-sdk-go/service/managedblockchain/doc.go
  vendor/github.com/aws/aws-sdk-go/service/managedblockchain/errors.go
  vendor/github.com/aws/aws-sdk-go/service/managedblockchain/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#8545 fixes outdated link to AWS API doc
  website/docs/r/docdb_cluster_instance.html.markdown
Labels: documentation, service/docdb, size/XS

#8317 Update data_source_aws_db_instance.go
  aws/data_source_aws_db_instance.go
Labels: enhancement, service/rds, size/XS, waiting-response

#8445 fix: doc api_gateway_integration example wrong function name
  website/docs/r/api_gateway_integration.html.markdown
Labels: documentation, service/apigateway, size/XS

#8489 docs/resource/lambda_event_source_mapping: Update import docs to clarify missing data
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, service/lambda, size/XS

#7340 Fix aws_glue_job resource attribute
  aws/resource_aws_glue_job.go
  aws/resource_aws_glue_job_test.go
  website/docs/r/glue_job.html.markdown
Labels: documentation, service/glue, size/L, tests

#8555 tests/provider: Update testAccPreCheck to also note AWS_PROFILE environment variable usage
  aws/provider_test.go
Labels: provider, size/XS, tests

#8567 r/appsync_graphql_api: add tags support
  aws/resource_aws_appsync_graphql_api.go
  aws/resource_aws_appsync_graphql_api_test.go
  aws/tagsAppsync.go
  website/docs/r/appsync_graphql_api.html.markdown
Labels: documentation, enhancement, service/appsync, size/M, tests

#8547 docs/provider: Update contributing guide Documentation Update section with common review items
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#8573 Update lambda_function.html.markdown
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS

#8578 docs: Some Interface vpc_endpoints accept a policy
  website/docs/r/vpc_endpoint.html.markdown
Labels: documentation, service/ec2, size/XS

#8585 updated aws_iot_thing_principal_attachment documentation to fix error
  website/docs/r/iot_thing_principal_attachment.html.markdown
Labels: documentation, service/iot, size/XS

#8577 d/lambda_layer_version: Add Lambda Layer Version datasource
  aws/data_source_aws_lambda_layer_version.go
  aws/data_source_aws_lambda_layer_version_test.go
  aws/provider.go
  website/docs/d/lambda_layer_version.html.markdown
Labels: documentation, new-data-source, provider, service/lambda, size/XL, tests

#8558 docs/resource/aws_rds_cluster: Note availability_zones argument behavior with 3 Availability Zones
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds, size/XS

#8513 #8506 ability to import an existing lambda alias to terraform state
  aws/resource_aws_lambda_alias.go
  aws/resource_aws_lambda_alias_test.go
  website/docs/r/lambda_alias.html.markdown
Labels: documentation, enhancement, service/lambda, size/S, tests

#8566 docs/resource/aws_eks_cluster: Add Enabling Control Plane Logging example
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, service/eks, size/S

#8557 tests/service/ec2: Blacklist usw2-az4 zone ID for EC2 Transit Gateway acceptance testing
  aws/data_source_aws_ec2_transit_gateway_vpc_attachment_test.go
  aws/resource_aws_ec2_transit_gateway_route_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_test.go
  aws/resource_aws_route_test.go
Labels: service/ec2, size/L, tests

#8563 resource/aws_cloudfront_distribution: Validate `*_cache_behavior` `forwarded_values` `cookies` configuration block `forward` argument
  aws/cloudfront_distribution_configuration_structure.go
  aws/resource_aws_cloudfront_distribution.go
Labels: enhancement, service/cloudfront, size/XS

#8581 resource/aws_organizations_organization: Add accounts attribute
  aws/resource_aws_organizations_organization.go
  aws/resource_aws_organizations_organization_test.go
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, enhancement, service/organizations, size/M, tests

#8582 resource/aws_organizations_organizational_unit: Add accounts attribute
  aws/resource_aws_organizations_organizational_unit.go
  aws/resource_aws_organizations_organizational_unit_test.go
  website/docs/r/organizations_organizational_unit.html.markdown
Labels: documentation, enhancement, service/organizations, size/M, tests

#8588 resource/aws_organizations_organization: Add enabled_policy_types argument
  aws/resource_aws_organizations_organization.go
  aws/resource_aws_organizations_organization_test.go
  aws/resource_aws_organizations_policy_attachment_test.go
  aws/resource_aws_organizations_test.go
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, enhancement, service/organizations, size/XL, tests

#8300 Feature/add importer for asg scheduled action
  aws/resource_aws_autoscaling_schedule.go
  aws/resource_aws_autoscaling_schedule_test.go
  website/docs/r/autoscaling_schedule.html.markdown
Labels: documentation, enhancement, service/autoscaling, size/M, tests

#8576 Correctly refresh VGW attachment state
  aws/resource_aws_vpn_gateway.go
  aws/resource_aws_vpn_gateway_attachment.go
Labels: bug, service/ec2, size/M

#8403 Add 'aws_ecr_image' datasource
  aws/data_source_aws_ecr_image.go
  aws/data_source_aws_ecr_image_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/ecr_image.html.markdown
Labels: documentation, new-data-source, provider, service/ecr, size/L, tests

#8608 Direct Connect hosted virtual interface cross-account tests
  aws/resource_aws_dx_hosted_private_virtual_interface_test.go
  aws/resource_aws_dx_hosted_public_virtual_interface_test.go
  website/docs/r/dx_hosted_private_virtual_interface_accepter.html.markdown
Labels: documentation, service/directconnect, size/L, tests

#8539 docs/provider: Update contributing guide with Resource Contribution Guidelines section
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/L

#8592 Updates for go1.12 compatibility
  README.md
Labels: size/S

#8459 resource/aws_emr_cluster: Add master_instance_group and core_instance_group configuration blocks, deprecate other instance group configuration methods
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_cluster_test.go
  website/aws.erb
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, service/emr, size/XXL, technical-debt, tests

#8491 d/aws_ram_resource_share: Adding new data source for RAM resource share
  aws/data_source_aws_ram_resource_share.go
  aws/data_source_aws_ram_resource_share_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/ram_resource_share.html.markdown
Labels: documentation, new-data-source, provider, service/ram, size/L, tests

#8622 r/lambda_function: support nodejs 10.x runtime
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
Labels: enhancement, service/lambda, size/S, tests

#8468 Add support for tags for sns topic
  aws/resource_aws_sns_topic.go
  aws/resource_aws_sns_topic_test.go
  aws/tagsSNS.go
  aws/tagsSNS_test.go
  website/docs/r/sns_topic.html.markdown
Labels: documentation, enhancement, service/sns, size/XL, tests

#6575 New resource: aws_ses_email_identity
  aws/provider.go
  aws/resource_aws_ses_email_identity.go
  aws/resource_aws_ses_email_identity_test.go
  website/aws.erb
  website/docs/r/ses_email_identity.html.markdown
Labels: documentation, new-resource, provider, service/ses, size/L, tests

#8395 Use tag-on-create for sfn
  aws/resource_aws_sfn_activity.go
  aws/resource_aws_sfn_state_machine.go
Labels: enhancement, service/sfn, size/XS

#8636 alias update to reduce confusion
  website/docs/r/kinesis_stream.html.markdown
Labels: documentation, service/kinesis, size/XS

#8639 tests/resource/aws_sfn_state_machine: Allow test configurations to be partition agnostic in IAM ARNs
  aws/resource_aws_sfn_state_machine_test.go
Labels: service/sfn, size/XS, tests

#8630 Retry LB listener methods after timeout
  aws/resource_aws_lb_listener.go
Labels: service/elbv2, size/XS

#8641 Update db_instance.html.markdown
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS

#7721 Issue 1769 add aws shield protection feature ( Part II )
  aws/config.go
  aws/provider.go
  aws/resource_aws_shield_protection.go
  aws/resource_aws_shield_protection_test.go
  website/aws.erb
  website/docs/r/shield_protection.html.markdown
Labels: documentation, new-resource, provider, service/shield, size/XL, tests

#8643 r/aws_kinesis_analytics_application: Add support for resource tags
  aws/resource_aws_kinesis_analytics_application.go
  aws/resource_aws_kinesis_analytics_application_test.go
  aws/tagsKinesisAnalytics.go
  aws/tagsKinesisAnalytics_test.go
  website/docs/r/kinesis_analytics_application.html.markdown
Labels: documentation, enhancement, service/kinesisanalytics, size/XL, tests

#8546 Modify Aws Backup Selection Resource
  aws/resource_aws_backup_selection.go
  aws/resource_aws_backup_selection_test.go
  website/docs/r/backup_selection.html.markdown
Labels: bug, documentation, enhancement, service/backup, size/M, tests

#5667 S3 bucket api gateway integration (Issue #5652)
  examples/s3-api-gateway-integration/README.md
  examples/s3-api-gateway-integration/main.tf
  examples/s3-api-gateway-integration/terraform.template.tfvars
  examples/s3-api-gateway-integration/variables.tf
Labels: documentation, service/apigateway, size/L

#8614 Add support resource tags for elastic beanstalk resources
  aws/resource_aws_elastic_beanstalk_application.go
  aws/resource_aws_elastic_beanstalk_application_test.go
  aws/resource_aws_elastic_beanstalk_application_version.go
  aws/resource_aws_elastic_beanstalk_application_version_test.go
  aws/tagsBeanstalk.go
  website/docs/r/elastic_beanstalk_application.html.markdown
  website/docs/r/elastic_beanstalk_application_version.html.markdown
Labels: documentation, enhancement, service/elasticbeanstalk, size/L, tests

#8078 resource/aws_emr_instance_group: add autoscaling_policy and bid_price arguments, along with resource importing support
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_instance_group.go
  aws/resource_aws_emr_instance_group_test.go
  website/docs/r/emr_instance_group.html.markdown
Labels: documentation, enhancement, service/emr, size/XL, tests

#8647 The instance name with space is not permitted.
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, service/lightsail, size/XS

#8664 resource/aws_ssm_parameter: Remove Tier from PutParameter if unsupported, fix testing for GovCloud
  aws/resource_aws_ssm_parameter.go
  aws/resource_aws_ssm_parameter_test.go
Labels: bug, partition/aws-cn, service/ssm, size/XS, tests

#8659 resource/aws_cloudwatch_event_rule: Ignore UnknownOperationException error on reading tags
  aws/tagsCloudWatchEvent.go
Labels: bug, service/cloudwatchevents, size/XS

#8615 tests/service/ec2: Additional EC2 Transit Gateway test configuration blacklisting for usw2-az4
  aws/data_source_aws_route_test.go
  aws/resource_aws_route_table_test.go
Labels: service/ec2, size/XS, tests

#8583 resource/aws_organizations_account: Add parent_id argument (support moving accounts)
  aws/resource_aws_organizations_account.go
  aws/resource_aws_organizations_account_test.go
  aws/resource_aws_organizations_test.go
  website/docs/r/organizations_account.html.markdown
Labels: documentation, enhancement, service/organizations, size/L, tests

#8613 tests/resource/aws_budgets_budget: Add decimal to budget limit amount configuration
  aws/resource_aws_budgets_budget_test.go
Labels: service/budgets, size/XS, tests

#8668 key_pair_name is optional.
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, service/lightsail, size/XS

#8669 aws_cloudwatch_log_group property
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, service/eks, size/XS

#8670 tests/resource/aws_rds_global_cluster: Bypass sweeper error in AWS GovCloud (US)
  aws/provider_test.go
Labels: partition/aws-us-gov, service/rds, size/XS, tests

#8671 Add name, desc for SSM maintenance window targets
  aws/resource_aws_ssm_maintenance_window_target.go
  aws/resource_aws_ssm_maintenance_window_target_test.go
  website/docs/r/ssm_maintenance_window_target.html.markdown
Labels: documentation, service/ssm, size/M, tests

#7742 make aws_glue_connection resource connection_properties argument sensitive
  aws/resource_aws_glue_connection.go
Labels: service/glue, size/XS

#8677 tests/service/codebuild: Add AccessDeniedException to testAccPreCheckSkipError
  aws/provider_test.go
Labels: partition/aws-us-gov, service/codebuild, size/XS, tests

#8308 Rearrange docs to de-emphasize using AWS static credentials
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#8711 Format AWS client VPN example with terraform fmt
  website/docs/r/ec2_client_vpn_endpoint.html.markdown
Labels: documentation, service/ec2, size/XS

#8707 Update iam group name
  aws/resource_aws_iam_group.go
  aws/resource_aws_iam_group_test.go
Labels: bug, service/iam, size/S, tests

#8732 Fix Shield Resources always being expanded in the sidebar
  website/aws.erb
Labels: documentation, provider, size/XS

#8735 docs/provider/custom-service-endpoints: Reactively columnize Available Endpoint Customizations list
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, size/XS

#8726 Adding retry to reading transit gateway route
  aws/resource_aws_ec2_transit_gateway_route.go
Labels: service/ec2, size/XS

#8740 New Resource: aws_msk_configuration
  aws/provider.go
  aws/resource_aws_msk_configuration.go
  aws/resource_aws_msk_configuration_test.go
  website/aws.erb
  website/docs/r/msk_configuration.html.markdown
Labels: documentation, new-resource, provider, service/kafka, size/XL, tests

#8743 New Data Source: aws_msk_cluster
  aws/data_source_aws_msk_cluster.go
  aws/data_source_aws_msk_cluster_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/msk_cluster.html.markdown
Labels: documentation, new-data-source, provider, service/kafka, size/L, tests

#8215 added local cache type and mode options
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, enhancement, service/codebuild, size/M, tests

#8738 Update iam_policy_document.html.markdown
  website/docs/d/iam_policy_document.html.markdown
Labels: documentation, service/iam, size/XS

#8739 Documentation: added autoscaling:EC2_INSTANCE_TERMINATE_ERROR
  website/docs/r/autoscaling_notification.html.markdown
Labels: documentation, service/autoscaling, size/XS

#6453 Performance Insights configuration for aws_db_instance
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, enhancement, service/rds, size/XL, tests

#8752 resource/aws_ec2_transit_gateway: Add retry on DirectConnect Attachments error
  aws/resource_aws_ec2_transit_gateway.go
Labels: service/ec2, size/XS

#8682 r/aws_kinesis_stream: Add Support enforce_consumer_deletion attribute
  aws/resource_aws_kinesis_stream.go
  aws/resource_aws_kinesis_stream_test.go
  website/docs/r/kinesis_stream.html.markdown
Labels: documentation, enhancement, service/kinesis, size/M, tests

#8528 r/aws_dx_gateway_association: Update for transit gateway support plus the second half (cross-account proposal acceptance) of support for Gateway Association Proposals
  aws/resource_aws_dx_gateway_association.go
  aws/resource_aws_dx_gateway_association_proposal.go
  aws/resource_aws_dx_gateway_association_proposal_test.go
  aws/resource_aws_dx_gateway_association_test.go
  aws/resource_aws_dx_gateway_test.go
  examples/dx-gateway-cross-account-vgw-association/README.md
  examples/dx-gateway-cross-account-vgw-association/main.tf
  examples/dx-gateway-cross-account-vgw-association/terraform.template.tfvars
  examples/dx-gateway-cross-account-vgw-association/variables.tf
  website/docs/r/dx_gateway_association.html.markdown
  website/docs/r/dx_gateway_association_proposal.html.markdown
Labels: documentation, service/directconnect, service/ec2, size/XXL, tests

#8757 update the waf_web_acl documentation with rules Optional
  website/docs/r/waf_web_acl.html.markdown
Labels: documentation, service/waf, size/XS

#8705 tests/service/worklink: Add PreCheck for service availability
  aws/resource_aws_worklink_fleet_test.go
  aws/resource_aws_worklink_website_certificate_authority_association_test.go
Labels: partition/aws-us-gov, service/worklink, size/S, tests

#8706 tests/service/xray: Add PreCheck for service availability
  aws/resource_aws_xray_sampling_rule_test.go
Labels: partition/aws-us-gov, service/xray, size/XS, tests

#8675 service/appsync: Various minor fixes
  aws/resource_aws_appsync_api_key_test.go
  aws/resource_aws_appsync_datasource_test.go
  aws/resource_aws_appsync_graphql_api.go
  aws/resource_aws_appsync_graphql_api_test.go
  aws/resource_aws_appsync_resolver_test.go
Labels: partition/aws-us-gov, service/appsync, size/M, tests

#8763 docs/resource/aws_rds_cluster: Additional engine_version argument information and examples
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds, size/XS

#8764 provider: Include error messages when failing to retrieve tags
  aws/resource_aws_db_instance.go
  aws/resource_aws_docdb_subnet_group.go
  aws/tagsSSM.go
Labels: service/rds, service/ses, size/XS

#8725 github: Initial PR labeler action
  .github/PULL_REQUEST_LABELS.yml
  .github/main.workflow
Labels: enhancement, provider, size/M

#8642 Add filter documentation for d/aws_subnet_ids
  website/docs/d/subnet_ids.html.markdown
Labels: documentation, service/ec2, size/XS

#8805 resource/aws_msk_cluster: Document az_distribution valid value and ensure validation uses proper casing
  aws/resource_aws_msk_cluster.go
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, service/kafka, size/XS

#8008 Fix letter case on aws_dms_endpoint.mongodb_settings
  aws/resource_aws_dms_endpoint.go
Labels: service/databasemigrationservice, size/XS

#8799 d/aws_rds_cluster: Fix hosted_zone_id
  aws/data_source_aws_rds_cluster.go
  aws/data_source_aws_rds_cluster_test.go
Labels: bug, service/rds, size/XS, tests

#8812 aws/resource_aws_iot_role_alias: Add arn to the IoT role alias resource
  aws/resource_aws_iot_role_alias.go
  aws/resource_aws_iot_role_alias_test.go
  website/docs/r/iot_role_alias.html.markdown
Labels: documentation, enhancement, service/iot, size/XS, tests

#8824 correct documentation to move tags to top-level resource rather than lifecycle settings
  website/docs/r/elastic_beanstalk_application.html.markdown
Labels: documentation, service/elasticbeanstalk, size/XS
