Repository hashicorp/terraform-provider-aws, pull requests merged in 2019-08, with the labels that each got.

#4310 New Resource: r/aws_fms_admin_account
  aws/provider.go
  aws/resource_aws_fms_admin_account.go
  aws/resource_aws_fms_admin_account_test.go
  website/aws.erb
  website/docs/r/fms_admin_account.markdown
Labels: new-resource, service/fms, size/L

#9583 Execute make fmt for aws_fms_admin_account resource
  aws/resource_aws_fms_admin_account.go
Labels: service/fms, size/XS

#9588 docs/provider: Add line item in Pull Request Review Process about scanning for missing issue references
  .github/MAINTAINING.md
Labels: documentation, provider, size/XS

#9586 provider: Enable hashibot comment on release behavior
  .github/MAINTAINING.md
  .hashibot.hcl
Labels: provider, size/XS

#6968 Add data source for listing S3 objects
  aws/data_source_aws_s3_bucket_objects.go
  aws/data_source_aws_s3_bucket_objects_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/s3_bucket_objects.html.markdown
Labels: documentation, new-data-source, provider, service/s3, size/XL, tests

#9430 Glue Crawler: Add catalog target config
  aws/resource_aws_glue_crawler.go
  aws/resource_aws_glue_crawler_test.go
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, enhancement, service/glue, size/XL, tests

#7759 Add the ability to encrypt root_block_device in aws_launch_configuration
  aws/resource_aws_launch_configuration.go
  aws/resource_aws_launch_configuration_test.go
  website/docs/r/launch_configuration.html.markdown
Labels: documentation, enhancement, service/autoscaling, size/M, tests

#9590 docs/provider: Add line item for creating GitHub release during Release Process
  .github/MAINTAINING.md
Labels: documentation, provider, size/XS

#9582 Expose status property on EKS clusters
  aws/data_source_aws_eks_cluster.go
  aws/data_source_aws_eks_cluster_test.go
  aws/resource_aws_eks_cluster.go
  aws/resource_aws_eks_cluster_test.go
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, enhancement, service/eks, size/XS, tests

#9604 Fix SSM association example with correct list type
  website/docs/r/ssm_association.html.markdown
Labels: documentation, service/ssm, size/XS

#9553 Final retries for various lambda functions
  aws/resource_aws_lambda_event_source_mapping.go
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_permission.go
Labels: bug, service/lambda, size/M

#9598 Retry ACM certificate domain validation
  aws/resource_aws_acm_certificate.go
Labels: bug, service/acm, size/XS, upstream

#9413 Acm cert transparency logging
  aws/diff_suppress_funcs.go
  aws/resource_aws_acm_certificate.go
  aws/resource_aws_acm_certificate_test.go
  website/docs/r/acm_certificate.html.markdown
Labels: documentation, enhancement, service/acm, size/M, tests

#9607 Final retry after timeout updating SNS platform application
  aws/resource_aws_sns_platform_application.go
Labels: bug, service/sns, size/XS

#9283 Allow for creating a IoT Core certificate without CSR.
  aws/resource_aws_iot_certificate.go
  aws/resource_aws_iot_certificate_test.go
  website/docs/r/iot_certificate.html.markdown
Labels: documentation, enhancement, service/iot, size/M, tests

#9646 Update cloudfront_distribution.html.markdown
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, service/cloudfront, size/XS

#9642 r/cloudfront_distribution: update timeout
  aws/resource_aws_cloudfront_distribution.go
Labels: bug, service/cloudfront, size/XS

#9625 aws_ssm_maintenance_window_task: Fix incorrect example in documentation
  website/docs/r/ssm_maintenance_window_task.html.markdown
Labels: documentation, service/ssm, size/XS

#9623 Fix WAF rule group markdown
  website/docs/r/waf_rule_group.html.markdown
Labels: documentation, service/waf, size/XS

#8522 New resource: aws_dx_transit_virtual_interface
  aws/dx_vif.go
  aws/dx_vif_test.go
  aws/provider.go
  aws/resource_aws_dx_transit_virtual_interface.go
  aws/resource_aws_dx_transit_virtual_interface_test.go
  website/aws.erb
  website/docs/r/dx_transit_virtual_interface.html.markdown
Labels: documentation, new-resource, provider, service/directconnect, size/XL, tests

#9639 added tags for aws_cognito_identity_pool
  aws/resource_aws_cognito_identity_pool.go
  aws/resource_aws_cognito_identity_pool_test.go
  aws/tagsCognito.go
  aws/tagsCognito_test.go
  website/docs/r/cognito_identity_pool.markdown
Labels: documentation, enhancement, service/cognito, size/L, tests

#9636 adding lifecycle_policy config block to efs_file_system (fixes #7623)
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_efs_file_system_test.go
  website/docs/r/efs_file_system.html.markdown
Labels: documentation, enhancement, service/efs, size/L, tests

#9621 Add support resource import for aws wafregional rate based rule resource
  aws/resource_aws_wafregional_rate_based_rule.go
  aws/resource_aws_wafregional_rate_based_rule_test.go
  website/docs/r/wafregional_rate_based_rule.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#9620 Feature/add support resource import for aws wafregional geo match set resource
  aws/resource_aws_wafregional_geo_match_set.go
  aws/resource_aws_wafregional_geo_match_set_test.go
  website/docs/r/wafregional_geo_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#9600 Remove extraneous equal signs
  website/docs/r/ses_event_destination.markdown
Labels: documentation, service/ses, size/XS

#9591 aws_s3_bucket_object : detect empty values at plan time
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
Labels: enhancement, service/s3, size/S, tests

#8064 Feature/add snapshot schedules resource for redshift
  aws/provider.go
  aws/resource_aws_redshift_snapshot_schedule.go
  aws/resource_aws_redshift_snapshot_schedule_association.go
  aws/resource_aws_redshift_snapshot_schedule_association_test.go
  aws/resource_aws_redshift_snapshot_schedule_test.go
  website/aws.erb
  website/docs/r/redshift_snapshot_schedule.html.markdown
  website/docs/r/redshift_snapshot_schedule_association.html.markdown
Labels: documentation, new-resource, provider, service/redshift, size/XXL, tests

#9599 resource/aws_spot_fleet_request: Add ebs_block_device and root_block_device kms_key_id argument (support encryption on launch)
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
Labels: enhancement, service/ec2, size/L, tests

#9608 Final retries after datasync resource timeout errors
  aws/resource_aws_datasync_agent.go
  aws/resource_aws_datasync_task.go
Labels: bug, service/datasync, size/M

#9629 Final retries after timeouts creating and deleting cloud9 environments
  aws/resource_aws_cloud9_environment_ec2.go
Labels: bug, service/cloud9, size/S

#9631 Final retries after timeouts when creating organizations resources
  aws/resource_aws_organizations_organizational_unit.go
  aws/resource_aws_organizations_policy.go
  aws/resource_aws_organizations_policy_attachment.go
Labels: bug, service/organizations, size/XS

#9630 Final retries creating and deleting Dax clusters
  aws/resource_aws_dax_cluster.go
Labels: bug, service/dax, size/XS

#9632 Final retries after timeouts creating and updating secrets
  aws/resource_aws_secretsmanager_secret.go
Labels: bug, service/secretsmanager, size/XS

#9633 Final retries after timeouts deleting media resources
  aws/resource_aws_media_package_channel.go
  aws/resource_aws_media_store_container.go
Labels: bug, service/mediapackage, service/mediastore, size/XS

#9656 Referencing CodeCommit repository in the trigger
  website/docs/r/codecommit_trigger.html.markdown
Labels: documentation, service/codecommit, size/XS

#9644 Final retry after timeout deleting vpc
  aws/resource_aws_vpc.go
Labels: bug, service/ec2, size/XS

#9649 Final retries after timeouts creating, draining, and deleting ASGs and autoscaling helpers
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_waiting.go
  aws/resource_aws_autoscaling_lifecycle_hook.go
Labels: bug, service/autoscaling, size/L

#9638 Final retry after timeout reading egress-only gateway
  aws/resource_aws_egress_only_internet_gateway.go
Labels: bug, service/ec2, size/S

#5602 d/Adds a url_suffix attribute to data_source_aws_partition
  aws/config.go
  aws/data_source_aws_partition.go
  aws/data_source_aws_partition_test.go
  website/docs/d/partition.html.markdown
Labels: documentation, enhancement, provider, size/M, tests, waiting-response

#9557 Support for ECR repository immutable image tags
  aws/resource_aws_ecr_repository.go
  aws/resource_aws_ecr_repository_test.go
  website/docs/r/ecr_repository.html.markdown
Labels: documentation, enhancement, service/ecr, size/M, tests

#9672 bad reference for resources
  website/docs/r/athena_named_query.html.markdown
Labels: documentation, service/athena, size/XS

#9677 Fix subnet_ids type in documentation.
  website/docs/d/subnet_ids.html.markdown
Labels: documentation, service/ec2, size/XS

#9650 tests/resource/aws_vpn_gateway: Ensure sweeper skips detached/deleted infrastructure and ignores already deleted errors
  aws/resource_aws_vpn_gateway_test.go
Labels: service/ec2, size/XS, tests

#9687 converted main.workflow to Actions V2 yml files
  .github/main.workflow
  .github/workflows/issues.yml
  .github/workflows/pull_request.yml
Labels: size/M

#9683 docs/provider: Add information to Maintaining Guide about what types of changes should have a CHANGELOG entry
  .github/MAINTAINING.md
Labels: documentation, provider, size/XS

#9681 docs/provider: Add note to avoid ResourceData.GetOkExists() to Contributing Guide
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#9675 Final retries after timeouts creating, updating, and deleting CloudHSM resources
  aws/resource_aws_cloudhsm2_cluster.go
  aws/resource_aws_cloudhsm2_hsm.go
Labels: bug, size/S

#9674 Final retry after timeout reading AMI
  aws/resource_aws_ami.go
Labels: bug, service/ec2, size/XS

#9678 Final retries after timeouts creating and updating cloudtrails
  aws/resource_aws_cloudtrail.go
Labels: bug, service/cloudtrail, size/XS

#9641 Final retries deleting and attaching VPN gateways
  aws/config.go
  aws/resource_aws_vpn_gateway.go
Labels: bug, provider, service/ec2, size/S

#9682 Final retries after timeouts in various code-related resources
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codepipeline.go
Labels: bug, service/codebuild, service/codedeploy, size/XS

#9691 resource/aws_rds_cluster: Add multimaster to engine_mode validation
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, enhancement, service/rds, size/M, tests

#9702 Add a note to the ALB docs to clarify requirements of optional subnet…
  website/docs/r/lb.html.markdown
Labels: documentation, service/elbv2, size/XS

#9684 Final retries and deleting extraneous retry blocks from cognito resources
  aws/resource_aws_cognito_identity_pool.go
  aws/resource_aws_cognito_identity_pool_roles_attachment.go
  aws/resource_aws_cognito_user_pool.go
Labels: bug, service/cognito, size/S

#9695 Final retry after timeout creating DMS endpoint
  aws/resource_aws_dms_endpoint.go
  aws/resource_aws_dms_endpoint_test.go
Labels: bug, service/databasemigrationservice, size/S, tests

#9696 Final retries after timeouts in docdb resources
  aws/resource_aws_docdb_cluster_instance.go
  aws/resource_aws_docdb_cluster_parameter_group.go
  aws/resource_aws_docdb_subnet_group.go
Labels: bug, service/docdb, size/XS

#9697 Final retries after timeouts creating, updating, and deleting dynamodb tables
  aws/resource_aws_dynamodb_table.go
Labels: bug, service/dynamodb, size/XS

#9698 Final retries after timeouts for EBS snapshot resources
  aws/resource_aws_ebs_snapshot.go
  aws/resource_aws_ebs_snapshot_copy.go
Labels: bug, service/ec2, size/M

#9711 Update rds_cluster_instance.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, service/rds, size/XS

#9713 Add support resource import for aws wafregional size constraint set resource
  aws/resource_aws_wafregional_size_constraint_set.go
  aws/resource_aws_wafregional_size_constraint_set_test.go
  website/docs/r/wafregional_size_constraint_set.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#9717 Add support resource import for aws wafregional sql injection match set resource
  aws/resource_aws_wafregional_sql_injection_match_set.go
  aws/resource_aws_wafregional_sql_injection_match_set_test.go
  website/docs/r/wafregional_sql_injection_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#9661 final retries creating and checking validation for ACM certificates
  aws/resource_aws_acm_certificate_validation.go
Labels: bug, service/acm, size/S

#9704 Final retries after timeouts for ECS resources
  aws/resource_aws_ecs_cluster.go
  aws/resource_aws_ecs_service.go
Labels: bug, service/ecs, size/M

#9712 Add support resource import for aws wafregional regex pattern set resource
  aws/resource_aws_wafregional_regex_pattern_set.go
  aws/resource_aws_wafregional_regex_pattern_set_test.go
  website/docs/r/wafregional_regex_pattern_set.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#9652 Fix secondary_artifacts hash function for aws_codebuild_project
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: bug, documentation, service/codebuild, size/XXL, tests

#9699 Add support resource import for aws wafregional regex match set resource
  aws/resource_aws_wafregional_regex_match_set.go
  aws/resource_aws_wafregional_regex_match_set_test.go
  website/docs/r/wafregional_regex_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/M, tests

#9730 provider: Update GitHub Actions workflows for v2
  .github/workflows/issues.yml
  .github/workflows/pull_request.yml
Labels: provider, size/XS, technical-debt

#9716 New Resources: aws_config_organization_custom_rule and aws_config_organization_managed_rule
  aws/config.go
  aws/configservice.go
  aws/provider.go
  aws/resource_aws_config_organization_custom_rule.go
  aws/resource_aws_config_organization_custom_rule_test.go
  aws/resource_aws_config_organization_managed_rule.go
  aws/resource_aws_config_organization_managed_rule_test.go
  aws/resource_aws_config_test.go
  website/aws.erb
  website/docs/r/config_organization_custom_rule.html.markdown
  website/docs/r/config_organization_managed_rule.html.markdown
Labels: documentation, new-resource, provider, service/configservice, size/XXL, tests

#9726 Correct `name` -> `bucket` in flog_log docs
  website/docs/r/flow_log.html.markdown
Labels: documentation, service/ec2, size/XS

#9737 provider: Ensure needs-triage issue labeling step in GitHub Actions v2 is conditional on opened action
  .github/workflows/issues.yml
Labels: provider, size/XS, technical-debt

#9728 Rfd retry eip
  aws/resource_aws_eip.go
  aws/resource_aws_eip_association.go
Labels: bug, service/ec2, size/S

#9729 Final retry after timeout creating EKS cluster
  aws/resource_aws_eks_cluster.go
Labels: bug, service/eks, size/XS

#9731 Final retries for elastic beanstalk apps
  aws/resource_aws_elastic_beanstalk_application.go
Labels: bug, service/elasticbeanstalk, size/XS

#9752 Final retries for gamelift resources
  aws/resource_aws_gamelift_build.go
  aws/resource_aws_gamelift_fleet.go
Labels: bug, service/gamelift, size/XS

#9753 Final retry after timeout creating gluecrawler
  aws/resource_aws_glue_crawler.go
Labels: bug, service/glue, size/XS

#9757 Final guard duty retry
  aws/resource_aws_guardduty_member.go
Labels: bug, service/guardduty, size/S

#9761 New Resources: aws_fsx_lustre_file_system and aws_fsx_windows_file_system
  aws/fsx.go
  aws/provider.go
  aws/resource_aws_directory_service_directory_test.go
  aws/resource_aws_fsx_lustre_file_system.go
  aws/resource_aws_fsx_lustre_file_system_test.go
  aws/resource_aws_fsx_windows_file_system.go
  aws/resource_aws_fsx_windows_file_system_test.go
  aws/resource_aws_subnet_test.go
  aws/tagsFSX.go
  aws/tagsFSX_test.go
  website/aws.erb
  website/docs/r/fsx_lustre_file_system.html.markdown
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, new-resource, provider, service/directoryservice, service/ec2, service/fsx, size/XXL, tests

#9701 Add AWS Lake Formation service client
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/lakeformation/api.go
  vendor/github.com/aws/aws-sdk-go/service/lakeformation/doc.go
  vendor/github.com/aws/aws-sdk-go/service/lakeformation/errors.go
  vendor/github.com/aws/aws-sdk-go/service/lakeformation/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#9745 resource/aws_db_instance: Only send performance_insights_kms_key_id on update if configured
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
Labels: bug, service/rds, size/L, tests

#9747 resource/aws_db_instance: Ensure monitoring attributes are always written to state and retry ModifyDBInstance on IAM eventual consistency error
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
Labels: bug, service/rds, size/XL, tests

#9748 resource/aws_rds_cluster_instance: Ensure monitoring attributes are always written to state
  aws/resource_aws_rds_cluster_instance.go
  aws/resource_aws_rds_cluster_instance_test.go
Labels: bug, service/rds, size/XL, tests

#9740 Added CW log export value postgresql for aurora-postgresql
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, enhancement, service/rds, size/XS, tests

#9765 Final retries for ELB resources
  aws/resource_aws_elb.go
  aws/resource_aws_elb_attachment.go
Labels: bug, service/elb, size/S

#9767 Final retry after timeout deleting inspector assessment target
  aws/resource_aws_inspector_assessment_target.go
Labels: bug, service/inspector, size/XS

#9766 Final retries for IAM resources
  aws/resource_aws_iam_instance_profile.go
  aws/resource_aws_iam_policy.go
  aws/resource_aws_iam_policy_attachment.go
  aws/resource_aws_iam_role.go
  aws/resource_aws_iam_user.go
Labels: bug, service/iam, size/M

#9710 resource/aws_network_acl_rule: Remove resource from Terraform state on `InvalidNetworkAclID.NotFound` errors
  aws/resource_aws_network_acl_rule.go
  aws/resource_aws_network_acl_rule_test.go
  aws/resource_aws_network_acl_test.go
Labels: bug, service/ec2, size/M, tests

#9746 resource/aws_rds_cluster_instance: Ensure performance_insights_kms_key_id updates include performance_insights_enabled
  aws/resource_aws_rds_cluster_instance.go
  aws/resource_aws_rds_cluster_instance_test.go
Labels: bug, service/rds, size/XL, tests

#9823 `status` is not an attribute in the schema
  website/docs/r/docdb_cluster.html.markdown
Labels: documentation, service/docdb, size/XS

#9772 provider: Remove Route 53 endpoint workaround in AWS GovCloud (US)
  aws/config.go
Labels: provider, service/route53, size/XS, technical-debt

#9442 Allow S3 objects to use etag and SSE-S3 encryption
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
Labels: bug, service/s3, size/S, tests

#9780 Final retry deleting iot types
  aws/resource_aws_iot_thing_type.go
Labels: bug, service/iot, size/XS

#9781 Final retry after timeout creating launch config
  aws/resource_aws_launch_configuration.go
Labels: bug, service/autoscaling, size/XS

#9787 Final retries for LB resources
  aws/resource_aws_lb.go
  aws/resource_aws_lb_listener_certificate.go
  aws/resource_aws_lb_listener_rule.go
Labels: bug, service/elbv2, size/M

#9797 Final retries for routes
  aws/resource_aws_route.go
  aws/resource_aws_route_table.go
  aws/resource_aws_route_table_association.go
Labels: bug, service/ec2, size/S

#9799 Final sagemaker retries
  aws/resource_aws_sagemaker_model.go
  aws/resource_aws_sagemaker_notebook_instance.go
Labels: bug, service/sagemaker, size/S

#9815 Final retry for transfer server
  aws/resource_aws_transfer_server.go
Labels: bug, service/transfer, size/XS

#9820 Final retry for wafregional acl association
  aws/resource_aws_wafregional_web_acl_association.go
Labels: bug, service/waf, size/XS

#9821 Final tag retries
  aws/tagsDynamoDb.go
  aws/tags_sagemaker.go
Labels: bug, service/dynamodb, service/sagemaker, size/S

#9779 Final retries after internet gateway timeouts
  aws/resource_aws_internet_gateway.go
Labels: bug, service/ec2, size/M

#9793 Final retries for msk cluster
  aws/resource_aws_msk_cluster.go
Labels: bug, service/kafka, size/S

#9796 Final retries for redshift resources
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_redshift_snapshot_copy_grant.go
Labels: bug, service/redshift, size/S

#9818 Retries and retry removal for opsworks resources
  aws/resource_aws_opsworks_application.go
  aws/resource_aws_opsworks_rds_db_instance.go
  aws/resource_aws_opsworks_stack.go
  aws/resource_aws_opsworks_stack_test.go
Labels: bug, service/opsworks, size/L, tests

#9813 Final retries for SQS resources
  aws/resource_aws_sqs_queue.go
  aws/resource_aws_sqs_queue_policy.go
Labels: bug, service/sqs, size/XS

#9812 Security group retries
  aws/resource_aws_security_group.go
  aws/resource_aws_security_group_rule.go
Labels: bug, service/ec2, size/M

#9826 WAF and wafregional token final retries
  aws/waf_token_handlers.go
  aws/wafregionl_token_handlers.go
Labels: bug, service/waf, size/XS

#9773 Add default setting for aws_cloudwatch_event_target ecs_target's task_count
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_test.go
Labels: bug, service/cloudwatchevents, size/M, tests

#9830 Final ACL retries
  aws/resource_aws_network_acl.go
  aws/resource_aws_network_acl_rule.go
Labels: bug, service/ec2, size/L

#9849 Update `final_snapshot_identifier ` in db_instance.html.markdown
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS

#9862 Fixes EC2 capacity reservation in state not found
  aws/resource_aws_ec2_capacity_reservation.go
Labels: service/ec2, size/XS

#9819 Fix retiring_principal argument name for aws_kms_grant resource
  website/docs/r/kms_grant.html.markdown
Labels: documentation, service/kms, size/XS

#9861 Final retries for s3 timeouts
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_inventory.go
  aws/resource_aws_s3_bucket_metric.go
  aws/resource_aws_s3_bucket_notification.go
  aws/resource_aws_s3_bucket_policy.go
  aws/resource_aws_s3_bucket_public_access_block.go
Labels: bug, service/s3, size/M

#9785 tests/data-source/aws_organizations_organization: Add Organizations PreCheck
  aws/data_source_aws_organizations_organization_test.go
Labels: service/organizations, size/XS, tests

#9579 s3_bucket_object: Fix ETAG changes not forcing new
  aws/resource_aws_s3_bucket_object_test.go
Labels: service/s3, size/S, tests

#7342 r/aws_s3_bucket: Include any system tags that Terraform ignores when setting S3 bucket tags
  aws/resource_aws_cloudformation_stack.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
  aws/s3_tags.go
  aws/s3_tags_test.go
Labels: bug, service/cloudformation, service/s3, size/XL, tests

#9794 Add Personalize service
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/personalize/api.go
  vendor/github.com/aws/aws-sdk-go/service/personalize/doc.go
  vendor/github.com/aws/aws-sdk-go/service/personalize/errors.go
  vendor/github.com/aws/aws-sdk-go/service/personalize/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#9874 Add AWS Amplify service client
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/amplify/api.go
  vendor/github.com/aws/aws-sdk-go/service/amplify/doc.go
  vendor/github.com/aws/aws-sdk-go/service/amplify/errors.go
  vendor/github.com/aws/aws-sdk-go/service/amplify/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#9875 Add Amazon AppStream service client
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/appstream/api.go
  vendor/github.com/aws/aws-sdk-go/service/appstream/doc.go
  vendor/github.com/aws/aws-sdk-go/service/appstream/errors.go
  vendor/github.com/aws/aws-sdk-go/service/appstream/service.go
  vendor/github.com/aws/aws-sdk-go/service/appstream/waiters.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#9916 Add iotevents service
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/iotevents/api.go
  vendor/github.com/aws/aws-sdk-go/service/iotevents/doc.go
  vendor/github.com/aws/aws-sdk-go/service/iotevents/errors.go
  vendor/github.com/aws/aws-sdk-go/service/iotevents/service.go
  vendor/modules.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL, tests

#9921 Remove non-existant status attribute from docdb_cluster_instance resource doc
  website/docs/r/docdb_cluster_instance.html.markdown
Labels: documentation, size/XS

#9927 Documentation: Remove duplicate nested lists for Global Accelerator resources
  website/aws.erb
Labels: documentation, size/XS

#9912 Multiple load_balancer blocks
  website/docs/r/ecs_service.html.markdown
Labels: documentation, service/ecs, size/XS

#9936 tests/service/s3: Check S3 Bucket location before attempting other S3 operations in sweepers
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/S, tests
