Repository hashicorp/terraform-provider-aws, pull requests merged in 2020-01, with the labels that each got.

#11363 tests/provider: Enable allowed documentation subcategories check
  .github/CONTRIBUTING.md
  GNUmakefile
  website/allowed-subcategories.txt
  website/docs/d/workspaces_bundle.html.markdown
  website/docs/r/workspaces_ip_group.html.markdown
Labels: documentation, provider, service/workspaces, size/M, tests

#11359 tests/resource/aws_eks_fargate_profile: Add PreCheck
  aws/resource_aws_eks_fargate_profile_test.go
Labels: service/eks, size/S, tests

#10790 Update eks_cluster.html.markdown
  website/docs/d/eks_cluster.html.markdown
Labels: documentation, service/eks, size/XS

#11410 Updating LB docs typo in target port max to 65535 from 65536
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, service/elbv2, size/XS

#11425 API Gateway stage - add kinesis access logs test + docs
  aws/resource_aws_api_gateway_stage_test.go
  website/docs/r/api_gateway_stage.html.markdown
Labels: documentation, service/apigateway, size/M, tests

#11416 r/d-launch_configuration-arn addition
  aws/data_source_aws_launch_configuration.go
  aws/data_source_aws_launch_configuration_test.go
  aws/resource_aws_launch_configuration.go
  aws/resource_aws_launch_configuration_test.go
  website/docs/d/launch_configuration.html.markdown
  website/docs/r/launch_configuration.html.markdown
Labels: documentation, enhancement, service/autoscaling, size/XS, tests

#11419 Refactor aws_lb resource and data source to use keyvaluetags + enums
  aws/data_source_aws_lb_test.go
  aws/resource_aws_lb.go
  aws/resource_aws_lb_test.go
Labels: enhancement, service/elbv2, size/XL, technical-debt, tests

#11412 Refactor Lambda Function to use keyvaluetags
  aws/data_source_aws_lambda_function.go
  aws/data_source_aws_lambda_function_test.go
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
  aws/tagsLambda.go
Labels: service/lambda, size/M, technical-debt, tests

#11446 Amazon Resource Names are not a valid option
  website/docs/r/ecs_cluster.html.markdown
Labels: documentation, service/ecs, size/XS

#11450 aws/validators: Allow aws account ID in validateArn
  aws/validators.go
  aws/validators_test.go
Labels: bug, provider, size/XS, tests

#11423 ECS Service enums + eventual consistency for service-role
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_service_test.go
Labels: bug, enhancement, service/ecs, size/S, tests

#11462 aws_lb_target_group resource + data source - refactor to use keyvaluetags
  aws/data_source_aws_lb_target_group_test.go
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lb_target_group_test.go
  aws/tags.go
Labels: service/elbv2, size/XXL, technical-debt, tests

#11467 resource/aws_batch_compute_environment - refactor to use keyvaluetags
  aws/resource_aws_batch_compute_environment.go
Labels: service/batch, size/XS, technical-debt

#11438 Update SQS queue example to use jsonencode.
  website/docs/r/sqs_queue.html.markdown
Labels: documentation, service/sqs, size/XS

#10682 `aws_batch_compute_environment` to support name prefix
  aws/resource_aws_batch_compute_environment.go
  aws/resource_aws_batch_compute_environment_test.go
  aws/validators.go
  aws/validators_test.go
  website/docs/r/batch_compute_environment.html.markdown
Labels: documentation, enhancement, service/batch, size/M, tests

#11352 Refactor Kinesis Streams resource and data source to use keyvaluetags package
  aws/data_source_aws_kinesis_stream.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/updatetags/README.md
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_kinesis_stream.go
  aws/resource_aws_kinesis_stream_test.go
  aws/tags_kinesis.go
  aws/tags_kinesis_test.go
Labels: service/kinesis, size/XL, technical-debt, tests

#11468 resource/aws_rds_cluster_instance: Prevent is already being deleted error on deletion
  aws/resource_aws_rds_cluster_instance.go
  aws/resource_aws_rds_cluster_instance_test.go
Labels: bug, service/rds, size/M, tests

#10894 added support in batch for the allocation_strategy attribute
  aws/resource_aws_batch_compute_environment.go
  aws/resource_aws_batch_compute_environment_test.go
  website/docs/r/batch_compute_environment.html.markdown
Labels: documentation, enhancement, service/batch, size/M, tests

#11346 Refactor cloudwatch event rule resource to use keyvaluetags + refactor tests
  aws/resource_aws_cloudwatch_event_rule.go
  aws/resource_aws_cloudwatch_event_rule_test.go
  aws/tagsCloudWatchEvent.go
  aws/tagsCloudWatchEvent_test.go
Labels: bug, enhancement, service/cloudwatchevents, size/XL, tests

#11432 add import support for waf regional xss match set
  aws/resource_aws_wafregional_xss_match_set.go
  aws/resource_aws_wafregional_xss_match_set_test.go
  website/docs/r/wafregional_xss_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#11436 Import support for API Gateway Authorizer resource
  aws/resource_aws_api_gateway_authorizer.go
  aws/resource_aws_api_gateway_authorizer_test.go
  website/docs/r/api_gateway_authorizer.html.markdown
Labels: documentation, enhancement, service/apigateway, size/L, tests

#11437 Import support for ami launch permission resource
  aws/resource_aws_ami_launch_permission.go
  aws/resource_aws_ami_launch_permission_test.go
  website/docs/r/ami_launch_permission.html.markdown
Labels: documentation, enhancement, service/ec2, size/S, tests

#11406 Add import support for aws_batch_job_queue
  aws/resource_aws_batch_job_queue.go
  aws/resource_aws_batch_job_queue_test.go
  website/docs/r/batch_job_queue.html.markdown
Labels: documentation, enhancement, service/batch, size/S, tests, waiting-response

#11439 resource/aws_api_gateway_usage_plan_key: Support resource import
  aws/resource_aws_api_gateway_usage_plan_key.go
  aws/resource_aws_api_gateway_usage_plan_key_test.go
  website/docs/r/api_gateway_usage_plan_key.html.markdown
Labels: documentation, enhancement, service/apigateway, size/M, tests

#11394 Adds clarification on Cognito User Pool Attribute Schema elements
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, service/cognito, size/XS

#11471 provider: Support AWS C2S/SC2S Regional ARNs in ARN validation
  aws/validators.go
  aws/validators_test.go
Labels: bug, partition/aws-iso, partition/aws-iso-b, provider, size/S, tests

#11023 New Resource: aws_workspaces_directory
  aws/provider.go
  aws/resource_aws_workspaces_directory.go
  aws/resource_aws_workspaces_directory_test.go
  aws/resource_aws_workspaces_ip_group.go
  aws/tagsWorkspaces.go
  examples/workspaces/main.tf
  go.mod
  go.sum
  website/aws.erb
  website/docs/r/workspaces_directory.html.markdown
Labels: documentation, new-resource, provider, service/workspaces, size/XL, tests

#11282 New Data Source: aws_directory_service_directory
  aws/data_source_aws_directory_service_directory.go
  aws/data_source_aws_directory_service_directory_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/directory_service_directory.html.markdown
Labels: documentation, provider, service/directoryservice, size/XL, tests

#11517 Remove deprecated `nodejs8.10` Lambda function runtime from tests
  aws/data_source_aws_lambda_function_test.go
  aws/data_source_aws_lambda_invocation_test.go
  aws/data_source_aws_lambda_layer_version_test.go
  aws/resource_aws_api_gateway_authorizer_test.go
  aws/resource_aws_api_gateway_method_test.go
  aws/resource_aws_appsync_datasource_test.go
  aws/resource_aws_cloudtrail_test.go
  aws/resource_aws_cloudwatch_event_target_test.go
  aws/resource_aws_cloudwatch_log_subscription_filter_test.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/resource_aws_config_config_rule_test.go
  aws/resource_aws_config_organization_custom_rule_test.go
  aws/resource_aws_kinesis_analytics_application_test.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
  aws/resource_aws_lambda_alias_test.go
  aws/resource_aws_lambda_event_source_mapping_test.go
  aws/resource_aws_lambda_function_event_invoke_config_test.go
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_lambda_layer_version_test.go
  aws/resource_aws_lambda_permission_test.go
  aws/resource_aws_lambda_provisioned_concurrency_config_test.go
  aws/resource_aws_pinpoint_app_test.go
  aws/resource_aws_s3_bucket_notification_test.go
  aws/resource_aws_secretsmanager_secret_test.go
  aws/resource_aws_sfn_state_machine_test.go
  aws/resource_aws_sns_topic_subscription_test.go
Labels: service/apigateway, service/appsync, service/cloudtrail, service/cloudwatchevents, service/cloudwatchlogs, service/cognito, service/configservice, service/firehose, service/kinesisanalytics, service/lambda, service/pinpoint, service/s3, service/secretsmanager, service/sfn, service/sns, size/L, tests

#11104 Change instance profile if the instance is stopped
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
Labels: bug, service/ec2, size/L, tests

#11238 service/databasemigrationservice: Refactor to use keyvaluetags package
  aws/resource_aws_dms_endpoint.go
  aws/resource_aws_dms_replication_instance.go
  aws/resource_aws_dms_replication_subnet_group.go
  aws/resource_aws_dms_replication_task.go
  aws/tags_dms.go
  aws/tags_dms_test.go
Labels: service/databasemigrationservice, size/XL, technical-debt, tests

#11227 service/fsx: Refactor to use keyvaluetags package
  aws/resource_aws_fsx_lustre_file_system.go
  aws/resource_aws_fsx_windows_file_system.go
  aws/tagsFSX.go
  aws/tagsFSX_test.go
Labels: service/fsx, size/L, technical-debt, tests

#11228 resource/aws_appsync_graphql_api: Refactor to use keyvaluetags package
  aws/resource_aws_appsync_graphql_api.go
  aws/tagsAppsync.go
Labels: service/appsync, size/M, technical-debt

#11226 resource/aws_dax_cluster: Refactor to use keyvaluetags package
  aws/resource_aws_dax_cluster.go
  aws/tagsDAX.go
  aws/tagsDAX_test.go
Labels: service/dax, size/L, technical-debt, tests

#9008 Add clarification about lightsail's name uniqueness constraints
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, service/lightsail, size/XS

#11243 service/elasticache: Refactor to use keyvaluetags package, add arn attribute to aws_elasticache_cluster resource
  aws/data_source_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_replication_group.go
  aws/tagsEC.go
  aws/tagsEC_test.go
Labels: enhancement, service/elasticache, size/L, tests

#11542 Update workspaces_bundle_test to check whether `description` is set
  aws/data_source_aws_workspaces_bundle_test.go
Labels: service/workspaces, size/XS, tests

#11552 docs: Fix incorrectly named resource documentation files
  .hashibot.hcl
  website/aws.erb
  website/docs/r/autoscaling_group.html.markdown
  website/docs/r/autoscaling_lifecycle_hook.html.markdown
  website/docs/r/default_vpc.html.markdown
  website/docs/r/elastictranscoder_pipeline.html.markdown
  website/docs/r/elastictranscoder_preset.html.markdown
  website/docs/r/main_route_table_association.html.markdown
  website/docs/r/vpc.html.markdown
  website/docs/r/vpc_peering_connection.html.markdown
  website/docs/r/vpc_peering_connection_accepter.html.markdown
  website/docs/r/vpc_peering_connection_options.html.markdown
Labels: documentation, service/autoscaling, service/ec2, size/S

#11244 service/docdb: Refactor to use keyvaluetags package
  aws/resource_aws_docdb_cluster.go
  aws/resource_aws_docdb_cluster_instance.go
  aws/resource_aws_docdb_cluster_parameter_group.go
  aws/resource_aws_docdb_subnet_group.go
  aws/tagsDocDB.go
  aws/tagsDocDB_test.go
Labels: service/docdb, size/XL, technical-debt, tests

#11245 service/neptune: Refactor to use keyvaluetags package, support tag-on-create in aws_neptune_parameter_group resource
  aws/resource_aws_neptune_cluster.go
  aws/resource_aws_neptune_cluster_instance.go
  aws/resource_aws_neptune_cluster_parameter_group.go
  aws/resource_aws_neptune_event_subscription.go
  aws/resource_aws_neptune_parameter_group.go
  aws/resource_aws_neptune_subnet_group.go
  aws/tagsNeptune.go
  aws/tagsNeptune_test.go
Labels: enhancement, service/neptune, size/XL, tests

#11520 keyvaluetags:d-eip
  aws/data_source_aws_eip.go
Labels: service/ec2, size/XS, technical-debt

#11368 Refactor Pinpoint application resource to use keyvaluetags package
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/provider_test.go
  aws/resource_aws_pinpoint_app.go
  aws/resource_aws_pinpoint_app_test.go
  aws/resource_aws_s3_bucket_test.go
  aws/tagsPinPointApp.go
  aws/tagsPinPointApp_test.go
Labels: needs-triage, service/pinpoint, service/s3, size/XL, tests

#11248 service/redshift: Refactor to use keyvaluetags package
  aws/data_source_aws_redshift_cluster.go
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_redshift_event_subscription.go
  aws/resource_aws_redshift_parameter_group.go
  aws/resource_aws_redshift_snapshot_copy_grant.go
  aws/resource_aws_redshift_snapshot_schedule.go
  aws/resource_aws_redshift_subnet_group.go
  aws/tagsRedshift.go
  aws/tagsRedshift_test.go
Labels: service/redshift, size/L, technical-debt, tests

#11354 internal/keyvaluetags: Automatically combine UpdateTags API call if TagFunction equals UntagFunction
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/update_tags_gen.go
Labels: service/route53, size/M, technical-debt

#11379 resource/aws_opsworks_permission: Prevent `Unable to change own permission level` error during self updates
  aws/resource_aws_opsworks_permission.go
  aws/resource_aws_opsworks_permission_test.go
Labels: bug, service/opsworks, size/L, tests

#11457 docs/resource/aws_eks_node_group: Note max items restriction for instance_types argument
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, service/eks, size/XS

#11465 refactor elb resource + data source to use keyvaluetags
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_elb.go
  aws/resource_aws_elb_test.go
  aws/tagsELB.go
  aws/tagsELB_test.go
Labels: service/elb, size/XL, technical-debt, tests

#11545 Blacklist us-west-2 AZ for TestAccDataSourceAwsEip_Instance
  aws/data_source_aws_eip_test.go
Labels: service/ec2, size/XS, technical-debt, tests

#11411 Better debug message in resource_aws_db_option_group
  aws/resource_aws_db_option_group.go
Labels: service/rds, size/XS

#11113 Update budgets_budget docs with sample Savings Plan and RI budget
  website/docs/r/budgets_budget.html.markdown
Labels: documentation, service/budgets, size/S, waiting-response

#11422 docs/r: Change minimum_healthy_hosts to required
  website/docs/r/codedeploy_deployment_config.html.markdown
Labels: documentation, service/codedeploy, size/XS, waiting-response

#11396 Adds sweeper for `aws_workspaces_directory`
  aws/resource_aws_directory_service_directory_test.go
  aws/resource_aws_workspaces_directory.go
  aws/resource_aws_workspaces_directory_test.go
Labels: service/directoryservice, service/workspaces, size/M, tests

#11486 Support tagging for Gamelift resources - Alias, Build & Session Queue
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_gamelift_alias.go
  aws/resource_aws_gamelift_alias_test.go
  aws/resource_aws_gamelift_build.go
  aws/resource_aws_gamelift_build_test.go
  aws/resource_aws_gamelift_game_session_queue.go
  aws/resource_aws_gamelift_game_session_queue_test.go
  website/docs/r/gamelift_alias.html.markdown
  website/docs/r/gamelift_build.html.markdown
  website/docs/r/gamelift_game_session_queue.html.markdown
Labels: documentation, enhancement, service/gamelift, size/XL, tests

#11541 resource/aws_db_instance: ca_cert_identifier support for read replicas
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
Labels: bug, service/rds, size/S, tests

#5493 Mark the resources as computed so they don't force new resource when default is used (#5075)
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_cluster_test.go
Labels: bug, service/emr, size/L

#11387 Refactor CodePipeline pipeline and webhook resources to use keyvaluetags package and fix webhook resource recreation issues
  aws/resource_aws_codepipeline.go
  aws/resource_aws_codepipeline_webhook.go
  aws/resource_aws_codepipeline_webhook_test.go
  aws/tagsCodePipeline.go
  aws/tagsCodePipeline_test.go
Labels: bug, enhancement, service/codepipeline, size/XL, tests

#11578 Changed url data source for aws_directory_service_directory
  website/aws.erb
Labels: documentation, service/directoryservice, size/XS

#11492 Add support for package SSM document type
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_document_test.go
  website/docs/r/ssm_document.html.markdown
Labels: documentation, enhancement, service/ssm, size/L, tests

#11571 .github: Enable GitHub Actions pull request workflow to comment and fail on CHANGELOG.md changes
  .github/workflows/changelog_checks.yml
Labels: provider, size/XS, tests

#11357 aws_autoscaling_group waits for enough WeightedCapacity if instance weight specified
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_autoscaling_group_waiting.go
Labels: service/autoscaling, size/XS, tests

#8933 * Updated docs for v12.
  website/docs/d/subnet_ids.html.markdown
Labels: documentation, size/XS

#11540 Support resetting of parameter group values
  aws/resource_aws_db_parameter_group.go
  aws/resource_aws_db_parameter_group_test.go
  aws/resource_aws_rds_cluster_parameter_group.go
  aws/resource_aws_rds_cluster_parameter_group_test.go
Labels: bug, service/rds, size/L, tests

#11475 service/cloudwatchevents: Handling for RemoveTargets failure entries and eventual consistency
  aws/resource_aws_cloudwatch_event_rule.go
  aws/resource_aws_cloudwatch_event_target.go
Labels: bug, service/cloudwatchevents, size/S

#11048 r/aws_rds_cluster: Allow enable/disable Data API Aurora Serverless
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds, size/M, tests

#11051 Make 'profiler' a valid CloudWatch log export type for DocumentDB.
  aws/resource_aws_docdb_cluster.go
  aws/resource_aws_docdb_cluster_test.go
  website/docs/r/docdb_cluster.html.markdown
Labels: documentation, enhancement, service/docdb, size/XS, tests

#11585 Add test sweepers for EKS Fargate Profiles and Node Groups
  GNUmakefile
  aws/resource_aws_eks_cluster_test.go
  aws/resource_aws_eks_fargate_profile_test.go
  aws/resource_aws_eks_node_group_test.go
Labels: service/eks, size/L, tests

#11553 Add support for instance_role_arn in GameLift Fleet
  aws/resource_aws_gamelift_fleet.go
  aws/resource_aws_gamelift_fleet_test.go
  aws/resource_aws_gamelift_test.go
  website/docs/r/gamelift_fleet.html.markdown
Labels: documentation, service/gamelift, size/M, tests

#11598 Refactor IAM Role and User resources to use keyvaluetags package
  aws/internal/keyvaluetags/iam_tags.go
  aws/resource_aws_iam_role.go
  aws/resource_aws_iam_user.go
  aws/tagsIAM.go
  aws/tagsIAM_test.go
Labels: service/iam, size/XL, technical-debt, tests

#11530 Update available Autoscaling metrics
  aws/resource_aws_autoscaling_group_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS, tests

#11599 Refactor Elastic Beanstalk resource to use keyvaluetags package
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_elastic_beanstalk_application.go
  aws/resource_aws_elastic_beanstalk_application_version.go
  aws/resource_aws_elastic_beanstalk_environment.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
  aws/tagsBeanstalk.go
  aws/tagsBeanstalk_test.go
Labels: service/elasticbeanstalk, size/XL, technical-debt, tests

#11588 Block us-west-2 AZs from spot instance tests
  aws/resource_aws_spot_instance_request_test.go
Labels: service/ec2, size/M, tests

#11616 Fix test to create expected NamespaceAlreadyExists error
  aws/resource_aws_service_discovery_private_dns_namespace_test.go
Labels: service/servicediscovery, size/XS, tests

#11565 Refactor Backup Plan recovery_point_tags to use keyvaluetags package
  aws/resource_aws_backup_plan.go
  aws/tagsGeneric.go
  aws/tagsGeneric_test.go
Labels: needs-triage, service/backup, size/M, tests

#11629 Refactor Organizations resources to use keyvaluetags package
  aws/resource_aws_organizations_account.go
  aws/tagsOrganizations.go
  aws/tagsOrganizations_test.go
Labels: service/organizations, size/L, technical-debt, tests

#11491 provider: Fix d.Set() calls with invalid *time.Time value input
  aws/data_source_aws_acmpca_certificate_authority.go
  aws/provider_test.go
  aws/resource_aws_acmpca_certificate_authority.go
  aws/resource_aws_acmpca_certificate_authority_test.go
  aws/resource_aws_emr_security_configuration.go
  aws/resource_aws_emr_security_configuration_test.go
  aws/resource_aws_iam_service_linked_role.go
  aws/resource_aws_iam_service_linked_role_test.go
  aws/resource_aws_lambda_event_source_mapping.go
  aws/resource_aws_lambda_event_source_mapping_test.go
  aws/resource_aws_organizations_account.go
  aws/resource_aws_organizations_account_test.go
  aws/resource_aws_ssm_activation.go
  aws/resource_aws_ssm_activation_test.go
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_document_test.go
  website/docs/r/ssm_activation.html.markdown
Labels: bug, documentation, service/acmpca, service/emr, service/iam, service/lambda, service/organizations, service/ssm, size/S, tests

#11494 resource/aws_appautoscaling_policy: Remove unimplemented alarms attribute
  aws/resource_aws_appautoscaling_policy.go
Labels: service/applicationautoscaling, size/XS, technical-debt

#11496 resource/aws_dms_certificate: Properly set certificate_wallet into Terraform state
  aws/resource_aws_dms_certificate.go
Labels: bug, service/databasemigrationservice, size/XS

#11497 resource/aws_ec2_client_vpn_endpoint: Properly set status value into Terraform state
  aws/resource_aws_ec2_client_vpn_endpoint.go
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
Labels: bug, service/ec2, size/XS, tests

#11498 resource/aws_waf_sql_injection_match_set: Properly set sql_injection_match_tuples into Terraform state
  aws/resource_aws_waf_sql_injection_match_set.go
  aws/resource_aws_waf_sql_injection_match_set_test.go
Labels: bug, service/waf, size/XS, tests

#11573 Refactor Inspector resource group resource to use keyvaluetags package (or not)
  aws/resource_aws_inspector_resource_group.go
  aws/resource_aws_inspector_resource_group_test.go
  aws/tagsInspector.go
  website/docs/r/inspector_resource_group.html.markdown
Labels: documentation, service/inspector, size/L, technical-debt, tests

#11626 Refactor DataSync resources to use keyvaluetags package
  aws/datasync_tags.go
  aws/datasync_tags_test.go
  aws/resource_aws_datasync_agent.go
  aws/resource_aws_datasync_location_efs.go
  aws/resource_aws_datasync_location_nfs.go
  aws/resource_aws_datasync_location_s3.go
  aws/resource_aws_datasync_task.go
Labels: service/datasync, size/XL, technical-debt, tests

#11535 Allows enabling support of tag policies
  aws/resource_aws_organizations_organization.go
  aws/resource_aws_organizations_organization_test.go
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, enhancement, service/organizations, size/XS, tests

#11575 Refactor CloudFront Distribution resource to use keyvaluetags package
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/updatetags/README.md
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_cloudfront_distribution.go
  aws/tagsCloudFront.go
Labels: service/cloudfront, size/XL, technical-debt

#10809 Fix copy-paste in QuickSight user documentation
  website/docs/r/quicksight_user.html.markdown
Labels: documentation, service/quicksight, size/XS

#10788 Add 7 missing IP range values to documentation
  website/docs/d/ip_ranges.html.markdown
Labels: documentation, provider, size/XS

#10787 website: Fix broken english for SNS sentence
  website/docs/r/sns_topic_subscription.html.markdown
Labels: documentation, service/sns, size/XS

#10781 docs: add closing parenthesis to ecr repository
  website/docs/r/ecr_repository.html.markdown
Labels: documentation, service/ecr, size/XS

#10639 Add custom cert requirement for protocol version
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, service/cloudfront, size/XS

#11071 r/egress_only_internet_gateway: Add support for 'terraform import'
  aws/resource_aws_egress_only_internet_gateway.go
  aws/resource_aws_egress_only_internet_gateway_test.go
  website/docs/r/egress_only_internet_gateway.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#11482 EC2 Placement Group tagging support
  aws/resource_aws_placement_group.go
  aws/resource_aws_placement_group_test.go
  website/docs/r/placement_group.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#10228 Updated documentation for terraform 0.12 improvements.
  website/docs/r/iam_role_policy.html.markdown
Labels: documentation, service/iam, size/S

#9832 Update variable references to 0.12 syntax
  website/docs/d/availability_zones.html.markdown
Labels: documentation, service/ec2, size/XS

#11625 Fix typo
  website/docs/r/route_table_association.html.markdown
Labels: documentation, service/ec2, size/XS

#11628 fix pre 0.11 interpolation warnings
  examples/eks-getting-started/eks-cluster.tf
  examples/eks-getting-started/eks-worker-nodes.tf
  examples/eks-getting-started/outputs.tf
  examples/eks-getting-started/variables.tf
  examples/eks-getting-started/vpc.tf
Labels: documentation, service/eks, size/M

#11074 RDS Cluster Endpoint tagging support
  aws/resource_aws_rds_cluster_endpoint.go
  aws/resource_aws_rds_cluster_endpoint_test.go
Labels: enhancement, service/rds, size/M, tests

#10976 added extra arguments for explicit_auth_flows
  aws/resource_aws_cognito_user_pool_client.go
  website/docs/r/cognito_user_pool_client.markdown
Labels: documentation, enhancement, service/cognito, size/XS

#10820 d/aws_sqs_queue - add tags attribute
  aws/data_source_aws_sqs_queue.go
  aws/data_source_aws_sqs_queue_test.go
  website/docs/d/sqs_queue.html.markdown
Labels: documentation, enhancement, service/sqs, size/S, tests

#10755 d/aws_cloudwatch_log_group: add attributes
  aws/data_source_aws_cloudwatch_log_group.go
  aws/data_source_aws_cloudwatch_log_group_test.go
  website/docs/d/cloudwatch_log_group.html.markdown
Labels: documentation, enhancement, service/cloudwatchlogs, size/L, tests

#11618 Create sweepers for EFS resources
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_efs_file_system_test.go
  aws/resource_aws_efs_mount_target.go
  aws/resource_aws_efs_mount_target_test.go
  aws/resource_aws_subnet_test.go
Labels: service/ec2, service/efs, size/L, tests

#11073 ACM tag on create support
  aws/resource_aws_acm_certificate.go
Labels: enhancement, service/acm, size/XS

#10795 add missing `multi_az` param to aws_db_instance data source
  aws/data_source_aws_db_instance.go
  aws/data_source_aws_db_instance_test.go
Labels: bug, service/rds, size/XS, tests

#10821 d/aws_api_gateway_api_key - add attributes
  aws/data_source_aws_api_gateway_api_key.go
  aws/data_source_aws_api_gateway_api_key_test.go
  website/docs/d/api_gateway_api_key.html.markdown
Labels: documentation, enhancement, service/apigateway, size/S, tests

#10647 add status attribute to resource/datasource aws_organizaion
  aws/data_source_aws_organizations_organization.go
  aws/data_source_aws_organizations_organization_test.go
  aws/resource_aws_organizations_organization.go
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, enhancement, service/organizations, size/XS, tests

#10633 resource/aws_network_interface: Add the mac_address attribute
  aws/resource_aws_network_interface.go
  aws/resource_aws_network_interface_test.go
  website/docs/r/network_interface.markdown
Labels: documentation, enhancement, service/ec2, size/XS, tests

#10627 API Gateway private REST API - Support VPC Endpoint
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_api_gateway_rest_api_test.go
  website/docs/r/api_gateway_rest_api.html.markdown
Labels: documentation, enhancement, service/apigateway, size/L, tests

#10535 WAF Regional Web ACL Association - add API Gateway Association Example
  aws/resource_aws_wafregional_web_acl_association_test.go
  website/docs/r/wafregional_web_acl_association.html.markdown
Labels: documentation, service/waf, size/M, tests

#10530 Add pending status for aws_redshift_cluster resource
  aws/resource_aws_redshift_cluster.go
Labels: bug, service/redshift, size/XS

#10505 increase cognito scope limit
  aws/resource_aws_cognito_resource_server.go
  aws/resource_aws_cognito_user_pool_client.go
Labels: bug, service/cognito, size/XS

#10366 resource/aws_iot_topic_rule: Fix recreate resource when name change
  aws/resource_aws_iot_topic_rule.go
Labels: bug, service/iot, size/XS

#10357 resource/cloudfront_distribution: Set MaxItems 2 on origin group memb…
  aws/resource_aws_cloudfront_distribution.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, enhancement, service/cloudfront, size/XS

#11481 Ec2 key pair tagging support
  aws/resource_aws_key_pair.go
  aws/resource_aws_key_pair_test.go
  website/docs/r/key_pair.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#9569 Document "icmpv6" as possible protocol for security group rules
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, service/ec2, size/XS

#11707 r/ecs_task_definition: support EFS Volume
  aws/resource_aws_ecs_task_definition.go
  aws/resource_aws_ecs_task_definition_test.go
  aws/structure.go
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, enhancement, service/ecs, size/XL, tests

#11690 Remove duplicate punctuation
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#11686 tests/service/rds: Acceptance test configuration fixes for deprecated Oracle instance class and for matching instance to option group engine version
  aws/resource_aws_db_instance_role_association_test.go
  aws/resource_aws_db_instance_test.go
Labels: service/rds, size/S, tests

#11502 internal/keyvaluetags: Simplify updatetags generator template batching support
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/update_tags_gen.go
Labels: size/M, technical-debt

#11727 deps: github.com/aws/aws-sdk-go@6ca8a5496cb4
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/json/jsonutil/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/jsonrpc/unmarshal_error.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/restjson/unmarshal_error.go
  vendor/github.com/aws/aws-sdk-go/service/applicationinsights/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloud9/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudtrail/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatch/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatchevents/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudwatchlogs/api.go
  vendor/github.com/aws/aws-sdk-go/service/codebuild/api.go
  vendor/github.com/aws/aws-sdk-go/service/codecommit/api.go
  vendor/github.com/aws/aws-sdk-go/service/codedeploy/api.go
  vendor/github.com/aws/aws-sdk-go/service/codepipeline/api.go
  vendor/github.com/aws/aws-sdk-go/service/codepipeline/doc.go
  vendor/github.com/aws/aws-sdk-go/service/codepipeline/errors.go
  vendor/github.com/aws/aws-sdk-go/service/configservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/dax/api.go
  vendor/github.com/aws/aws-sdk-go/service/directconnect/api.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/ecs/api.go
  vendor/github.com/aws/aws-sdk-go/service/elasticsearchservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/elastictranscoder/api.go
  vendor/github.com/aws/aws-sdk-go/service/emr/api.go
  vendor/github.com/aws/aws-sdk-go/service/iotevents/api.go
  vendor/github.com/aws/aws-sdk-go/service/kms/api.go
  vendor/github.com/aws/aws-sdk-go/service/kms/errors.go
  vendor/github.com/aws/aws-sdk-go/service/lambda/api.go
  vendor/github.com/aws/aws-sdk-go/service/lexmodelbuildingservice/api.go
  vendor/github.com/aws/aws-sdk-go/service/managedblockchain/api.go
  vendor/github.com/aws/aws-sdk-go/service/servicecatalog/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/github.com/aws/aws-sdk-go/service/transfer/api.go
  vendor/github.com/aws/aws-sdk-go/service/waf/api.go
  vendor/github.com/aws/aws-sdk-go/service/wafregional/api.go
  vendor/modules.txt
Labels: dependencies, regression, size/XXL

#11735 Update error message wording to reflect change in AWS API
  aws/resource_aws_api_gateway_account.go
Labels: bug, service/apigateway, size/XS

#11691 tests/resource/aws_api_gateway_deployment: Fix TestAccAWSAPIGatewayDeployment_StageName_EmptyString check
  aws/resource_aws_api_gateway_deployment_test.go
Labels: service/apigateway, size/XS, tests

#11716 tests/resource/aws_autoscaling_group: Fix typo in TestAccAWSAutoScalingGroup_LoadBalancers configuration
  aws/resource_aws_autoscaling_group_test.go
Labels: service/autoscaling, size/XS, tests

#11717 tests/resource/aws_ec2_client_vpn_network_association: Blacklist usw2-az4 which does not support this functionality
  aws/resource_aws_ec2_client_vpn_network_association_test.go
Labels: service/ec2, size/XS, tests

#11647 d/aws_efs_file_system - add attributes
  aws/data_source_aws_efs_file_system.go
  aws/data_source_aws_efs_file_system_test.go
  website/docs/d/efs_file_system.html.markdown
Labels: documentation, enhancement, service/efs, size/M, tests

#11654 r/aws_efs_file_system - refactor tagging and tests
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_efs_file_system_test.go
Labels: enhancement, service/efs, size/XL, tests

#11746 resource/aws_efs_file_system and resource/aws_efs_mount_target: Support for cn-north-1 and cn-northwest-1
  aws/data_source_aws_efs_file_system.go
  aws/data_source_aws_efs_mount_target.go
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_efs_mount_target.go
  aws/resource_aws_efs_mount_target_test.go
Labels: enhancement, partition/aws-cn, partition/aws-iso, partition/aws-iso-b, service/efs, size/XS, tests

#11750 Update ecs_task_definition.html.markdown
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, service/ecs, size/S

#10819 resource/aws_ssm_parameter: Enable to change type from SecureString to String
  aws/resource_aws_ssm_parameter.go
  aws/resource_aws_ssm_parameter_test.go
Labels: bug, service/ssm, size/S, tests

#10890 Adding support for password_policy.temporary_password_validity_days
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/structure.go
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, service/cognito, size/M, tests

#11478 resource_aws_ssm_maintenance_window - add support for description argument
  aws/resource_aws_ssm_maintenance_window.go
  aws/resource_aws_ssm_maintenance_window_test.go
  website/docs/r/ssm_maintenance_window.html.markdown
Labels: documentation, enhancement, service/ssm, size/M, tests

#11658 r/ssm_activation - remove from state if removed manually
  aws/resource_aws_ssm_activation.go
  aws/resource_aws_ssm_activation_test.go
Labels: bug, service/ssm, size/M, tests

#11388 Add docs for application patch baseline rules
  website/docs/r/ssm_patch_baseline.html.markdown
Labels: documentation, service/ssm, size/S

#11663 Fix ES domain creation when transient errors occur
  aws/resource_aws_elasticsearch_domain.go
Labels: bug, service/elasticsearch, size/XS

#10430 resource/aws_elasticsearch_domain DomainEndpointOptions
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_elasticsearch_domain_test.go
  aws/structure.go
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, enhancement, service/elasticsearch, size/M, tests

#8234 Add fleet_type option for Gamelift fleets. #3809
  aws/resource_aws_gamelift_fleet.go
  aws/resource_aws_gamelift_fleet_test.go
  website/docs/r/gamelift_fleet.html.markdown
Labels: documentation, enhancement, service/gamelift, size/XS, tests, waiting-response

#11081 Add support for DynamoDB customer managed CMKs for server-side encryption
  aws/data_source_aws_dynamodb_table.go
  aws/data_source_aws_dynamodb_table_test.go
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
  aws/structure.go
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, enhancement, service/dynamodb, size/L, tests

#8618 feature(sagemaker notebook): Add DirectInternetAccess support
  aws/resource_aws_sagemaker_notebook_instance.go
  aws/resource_aws_sagemaker_notebook_instance_test.go
  website/docs/r/sagemaker_notebook_instance.html.markdown
Labels: documentation, enhancement, service/sagemaker, size/M, tests

#11688 resource/aws_emr_instance_group: Wait for RUNNING status on creation and various fixes to be region/partition agnostic
  aws/resource_aws_emr_instance_group.go
  aws/resource_aws_emr_instance_group_test.go
Labels: enhancement, service/emr, size/M, tests

#11705 Fixes root_resource_id not being set on Api Gateway Rest API data source
  aws/data_source_aws_api_gateway_rest_api.go
Labels: bug, service/apigateway, size/XS

#10822 d/api_gateway_vpc_link - add attributes
  aws/data_source_aws_api_gateway_vpc_link.go
  aws/data_source_aws_api_gateway_vpc_link_test.go
  website/docs/d/api_gateway_vpc_link.html.markdown
Labels: documentation, enhancement, service/apigateway, size/S, tests

#10939 r/aws_storagegateway_gateway - add cloudwatch logs support
  aws/resource_aws_storagegateway_gateway.go
  aws/resource_aws_storagegateway_gateway_test.go
  website/docs/r/storagegateway_gateway.html.markdown
Labels: documentation, enhancement, service/storagegateway, size/M, tests

#11062 KMS asymmetric keys
  aws/data_source_aws_kms_key.go
  aws/data_source_aws_kms_key_test.go
  aws/resource_aws_kms_key.go
  aws/resource_aws_kms_key_test.go
  website/docs/d/kms_key.html.markdown
  website/docs/r/kms_key.html.markdown
Labels: documentation, enhancement, service/kms, size/XL, tests

#11602 Updates defaults and configuration of RDS Cluster scaling configuration
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  aws/structure.go
  aws/structure_test.go
Labels: service/rds, size/L, tests

#11479 resource_aws_ssm_document - add support for target type argument
  aws/resource_aws_ssm_document.go
  aws/resource_aws_ssm_document_test.go
  website/docs/r/ssm_document.html.markdown
Labels: documentation, enhancement, service/ssm, size/L, tests

#11755 aws_ssm_association resource support AutomationTargetParameterName
  aws/resource_aws_ssm_association.go
  aws/resource_aws_ssm_association_test.go
  website/docs/r/ssm_association.html.markdown
Labels: documentation, enhancement, service/ssm, size/L, tests

#11808 Fix typo in msk_configuration docs
  website/docs/r/msk_configuration.html.markdown
Labels: documentation, service/kafka, size/XS

#11739 resource/aws_cloudwatch_log_subscription_filter: Perform eventual consistency retries on update
  aws/resource_aws_cloudwatch_log_subscription_filter.go
Labels: bug, service/cloudwatchlogs, size/XS

#11793 resource/aws_elasticsearch_domain: Ensure in-place version upgrade is fully successful before returning
  aws/resource_aws_elasticsearch_domain.go
Labels: bug, service/elasticsearch, size/XS

#11748 tests/provider: Introduce testAccMatchResourceAttrRegionalHostname() for region and partition agnostic hostname testing
  aws/provider_test.go
  aws/resource_aws_efs_file_system_test.go
Labels: provider, service/efs, size/XS, tests

#11804 Updates test S3 bucket name to match sweeper patterns
  aws/data_source_aws_s3_bucket_objects_test.go
Labels: service/s3, size/XS, tests

#11819 resource/aws_appautoscaling_target: Prevent state removal at creation
  aws/resource_aws_appautoscaling_target.go
Labels: bug, service/applicationautoscaling, size/XS

#10952 resource/aws_codebuild_project: Implements git_submodules_config block
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, enhancement, service/codebuild, size/L, tests
