Repository hashicorp/terraform-provider-aws, pull requests merged in 2020-12, with the labels that each got.

#16446 resource/aws_rds_cluster: Fix an enabled_cloudwatch_logs_exports type conversion error
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
Labels: bug, service/rds, size/M, tests

#16488 resource/aws_fsx_windows_file_system: Prevent potential panics, unexpected errors, and use correct operation timeout on update
  aws/fsx.go
  aws/resource_aws_fsx_windows_file_system.go
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: service/fsx, size/S

#16168 r/aws_appmesh_virtual_gateway: Add connection pool
  aws/resource_aws_appmesh_test.go
  aws/resource_aws_appmesh_virtual_gateway.go
  aws/resource_aws_appmesh_virtual_gateway_test.go
  website/docs/r/appmesh_virtual_gateway.html.markdown
Labels: enhancement, service/appmesh, size/XL, tests

#15249 r/aws_apigatewayv2_domain_name: Support mutual TLS authentication
  aws/resource_aws_apigatewayv2_domain_name.go
  aws/resource_aws_apigatewayv2_domain_name_test.go
  aws/test-fixtures/apigateway-domain-name-truststore-1.pem
  aws/test-fixtures/apigateway-domain-name-truststore-2.pem
  website/docs/r/apigatewayv2_domain_name.html.markdown
Labels: documentation, service/apigatewayv2, size/XL, tests

#16512 Add lambda container image support
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
  website/docs/r/lambda_function.html.markdown
Labels: enhancement, service/lambda, size/XL, tests

#16510 resource/aws_eks_node_group: Add capacity_type argument and support multiple instance_types
  aws/resource_aws_eks_node_group.go
  aws/resource_aws_eks_node_group_test.go
  website/docs/r/eks_node_group.html.markdown
Labels: enhancement, service/eks, size/L, tests

#16447 resource/aws_rds_cluster: Add validateRdsIdentifier for source_cluster_identifier in restore_to_point_in_time block
  aws/resource_aws_rds_cluster.go
Labels: bug, service/rds, size/XS

#16497 Add MWAA service client
  .hashibot.hcl
  aws/config.go
  aws/provider.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: provider, size/XS

#16525 tests/datasync: Fix hardcoded regions
  aws/datasync_test.go
Labels: partition/aws-us-gov, service/datasync, size/XS, tests

#16524 tests/transfer: Fix hardcoded regions
  aws/data_source_aws_transfer_server_test.go
  aws/resource_aws_transfer_server_test.go
Labels: partition/aws-us-gov, service/transfer, size/S

#16523 tests/ds/region: Fix hardcoded region
  aws/data_source_aws_region_test.go
Labels: partition/aws-us-gov, provider, size/XS, tests

#16516 tests/ds/ip_ranges: Lint ignore hardcoded regions
  aws/data_source_aws_ip_ranges_test.go
Labels: partition/aws-us-gov, provider, size/XS, tests

#16336 tests/provider: Fix hardcoded regions (Validator, Structure)
  aws/structure_test.go
  aws/validators_test.go
Labels: partition/aws-us-gov, size/XS, tests

#16462 docs/service/elasticache Removes references to automated backup not being available on t2 instances
  website/docs/r/elasticache_cluster.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, service/elasticache, size/XS

#16492 r/networkfirewall: add service precheck
  aws/resource_aws_networkfirewall_firewall_policy_test.go
  aws/resource_aws_networkfirewall_firewall_test.go
  aws/resource_aws_networkfirewall_logging_configuration_test.go
  aws/resource_aws_networkfirewall_resource_policy_test.go
  aws/resource_aws_networkfirewall_rule_group_test.go
Labels: service/networkfirewall, size/M, tests

#16478 r/ssm_maintainance_window_target - remove from state if deleted
  aws/resource_aws_ssm_maintenance_window_target.go
  aws/resource_aws_ssm_maintenance_window_target_test.go
Labels: bug, service/ssm, size/M, tests

#16528 r/networkfirewall_rule_group: update required fields and documentation
  aws/resource_aws_networkfirewall_rule_group.go
  aws/resource_aws_networkfirewall_rule_group_test.go
  website/docs/r/networkfirewall_rule_group.html.markdown
Labels: service/networkfirewall, size/M, tests

#16543 tests/provider: Lint ignore hardcoded regions
  aws/provider.go
  aws/provider_test.go
Labels: partition/aws-us-gov, provider, size/XS, tests

#16380 tests/route53: Skip PublicDNS tests
  aws/data_source_aws_route53_delegation_set_test.go
  aws/data_source_aws_route53_resolver_endpoint_test.go
  aws/data_source_aws_route53_resolver_rule_test.go
  aws/data_source_aws_route53_resolver_rules_test.go
  aws/data_source_aws_route53_zone_test.go
  aws/provider_test.go
  aws/resource_aws_route53_delegation_set_test.go
  aws/resource_aws_route53_health_check_test.go
  aws/resource_aws_route53_query_log_test.go
  aws/resource_aws_route53_record_test.go
  aws/resource_aws_route53_resolver_endpoint_test.go
  aws/resource_aws_route53_resolver_query_log_config_association_test.go
  aws/resource_aws_route53_resolver_query_log_config_test.go
  aws/resource_aws_route53_resolver_rule_association_test.go
  aws/resource_aws_route53_resolver_rule_test.go
  aws/resource_aws_route53_vpc_association_authorization_test.go
  aws/resource_aws_route53_zone_association_test.go
  aws/resource_aws_route53_zone_test.go
  aws/resource_aws_shield_protection_test.go
Labels: partition/aws-us-gov, service/route53, service/route53resolver, service/shield, size/XL, tests

#16335 ds/redshift_service_account: Fix hardcoded regions
  aws/data_source_aws_redshift_service_account.go
Labels: partition/aws-us-gov, service/redshift, size/S

#16334 hosted zone: Fix hardcoded region
  aws/hosted_zones.go
  aws/hosted_zones_test.go
Labels: partition/aws-us-gov, size/S, tests

#16332 ds/elb: Fixed hardcoded regions
  aws/data_source_aws_elb_hosted_zone_id.go
  aws/data_source_aws_elb_hosted_zone_id_test.go
  aws/data_source_aws_elb_service_account.go
Labels: partition/aws-us-gov, service/elb, size/M, tests

#16330 tests/config: Fix hardcoded regions
  aws/config_test.go
Labels: partition/aws-us-gov, size/XS, tests

#16328 ds/elastic_beanstalk_hosted_zone: Fix hardcoded region
  aws/data_source_aws_elastic_beanstalk_hosted_zone.go
  aws/data_source_aws_elastic_beanstalk_hosted_zone_test.go
Labels: partition/aws-us-gov, service/elasticbeanstalk, size/S, tests

#16326 ds/cloudtrail_service_account: Fix hardcoded regions
  aws/data_source_aws_cloudtrail_service_account.go
Labels: partition/aws-us-gov, service/cloudtrail, size/S

#16476 r/backup_plan - retry on delete + validations
  aws/resource_aws_backup_plan.go
Labels: bug, enhancement, service/backup, size/M

#16518 Feature to update maximum_batching_window_in_seconds in aws lambda event source mapping for SQS event source type
  aws/resource_aws_lambda_event_source_mapping.go
  aws/resource_aws_lambda_event_source_mapping_test.go
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: enhancement, service/lambda, size/M, tests

#16472 r/storagegateway_gateway - add missing `smb_active_directory_settings` arguments + validations.
  aws/internal/service/storagegateway/waiter/status.go
  aws/internal/service/storagegateway/waiter/waiter.go
  aws/resource_aws_storagegateway_gateway.go
  aws/resource_aws_storagegateway_gateway_test.go
  website/docs/r/storagegateway_gateway.html.markdown
Labels: enhancement, service/storagegateway, size/XL, tests

#16552 r/eks_node_group: remove drift detection from capacity_type argument
  aws/resource_aws_eks_node_group.go
  website/docs/r/eks_node_group.html.markdown
Labels: service/eks, size/XS

#16545 provider: Ensure website PR files are labeled as documentation
  .hashibot.hcl
Labels: provider, size/XS

#16541 provider: Add ecrpublic Service Client
  .hashibot.hcl
  aws/config.go
  aws/provider.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: provider, size/XS

#16535 d/remove invalid values in CodeBuild second_artifacts.type
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#16522 Updated network association timeout from 10 min to 30 min
  aws/internal/service/ec2/waiter/waiter.go
Labels: bug, service/ec2, size/XS

#16460 fix typo in instances_distribution example
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#16280 resource/cloudfront_distribution: Use flattenStringSet helper
  aws/cloudfront_distribution_configuration_structure.go
Labels: service/cloudfront, size/XS, technical-debt

#16281 resource/cloudformation_stack: Use flattenStringSet helper
  aws/data_source_aws_cloudformation_stack.go
  aws/resource_aws_cloudformation_stack.go
Labels: service/cloudformation, size/XS, technical-debt

#16282 resource/datasync_location_smb: Use flattenStringSet helper
  aws/datasync.go
  aws/resource_aws_datasync_location_smb.go
Labels: service/datasync, size/XS, technical-debt

#16283 resource/batch_compute_environment: Use flattenStringSet helper
  aws/resource_aws_batch_compute_environment.go
Labels: service/batch, size/XS, technical-debt

#16284 resource/codebuild_project: Use flattenStringSet helper
  aws/resource_aws_codebuild_project.go
Labels: service/codebuild, size/XS, technical-debt

#16291 resource/ecs_service: Use flattenStringSet helper
  aws/resource_aws_ecs_service.go
Labels: service/ecs, size/XS, technical-debt

#16294 resource/s3_bucket_notification: Use flattenStringSet helper
  aws/resource_aws_s3_bucket_notification.go
Labels: service/s3, size/XS, technical-debt

#16295 resource/storagegateway_smb_file_share: Use flattenStringSet helper
  aws/resource_aws_storagegateway_smb_file_share.go
Labels: service/storagegateway, size/XS, technical-debt

#16296 Use flattenStringSet helper
  aws/structure.go
Labels: service/elasticsearch, size/XS, technical-debt

#16293 resource/eks_cluster: Use flattenStringSet helper
  aws/resource_aws_eks_cluster.go
Labels: service/eks, size/XS, technical-debt

#16305 tests/provider: Migrate remaining PreConfig disappears testing to testAccCheckResourceDisappears
  aws/resource_aws_app_cookie_stickiness_policy_test.go
  aws/resource_aws_ecs_task_definition_test.go
  aws/resource_aws_glue_catalog_table_test.go
  aws/resource_aws_lb_cookie_stickiness_policy_test.go
  aws/resource_aws_ssm_association_test.go
Labels: service/ecs, service/elb, service/ssm, size/L, technical-debt, tests

#16441 docs/service/ec2: Include more references to aws_ec2_tag resource for EC2 Transit Gateway VPN Attachment usage
  website/docs/d/ec2_transit_gateway_vpn_attachment.html.markdown
  website/docs/r/vpn_connection.html.markdown
Labels: documentation, service/ec2, size/XS

#16443 resource/aws_instance: Automatically retry instance restart on eventual consistency error during `instance_type` in-place update
  aws/internal/service/ec2/errors.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/resource_aws_instance.go
Labels: bug, service/ec2, size/S

#16484 resource/aws_cloudwatch_event_target: Prevent potential panic and passthrough custom event_bus_name in v0 state upgrade
  aws/resource_aws_cloudwatch_event_target_migrate.go
  aws/resource_aws_cloudwatch_event_target_migrate_test.go
Labels: bug, service/cloudwatchevents, service/eventbridge, size/S, tests

#16501 docs/data-source/aws_eks_cluster_auth: Add note about resource import
  website/docs/d/eks_cluster_auth.html.markdown
Labels: service/eks, size/XS

#16549 tests/ec2: Fix/ignore hardcoded regions
  aws/resource_aws_ec2_availability_zone_group_test.go
  aws/resource_aws_ec2_client_vpn_authorization_rule_test.go
  aws/resource_aws_ec2_client_vpn_network_association_test.go
  aws/resource_aws_ec2_client_vpn_route_test.go
  aws/resource_aws_ec2_transit_gateway_route_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_test.go
Labels: partition/aws-us-gov, service/ec2, size/XL, tests

#16561 tech-debt/networkfirewall: update retry methods to include context
  aws/resource_aws_networkfirewall_firewall_policy.go
  aws/resource_aws_networkfirewall_rule_group.go
Labels: service/networkfirewall, size/XS, technical-debt

#16183 r/aws_lambda_function return nil on resource not found errors
  aws/resource_aws_lambda_function.go
Labels: bug, service/lambda, size/XS

#16288 resource/codedeploy_deployment_group: Use flattenStringSet helper
  aws/resource_aws_codedeploy_deployment_group.go
Labels: service/codedeploy, size/XS, technical-debt

#16565 provider: Add -debug flag to main binary
  main.go
Labels: enhancement, provider, size/XS

#16571 documentation/bug-template: Add language to indicate that configurations to reproduce bugs are required
  .github/ISSUE_TEMPLATE/Bug_Report.md
Labels: documentation, provider, size/XS

#16417 tests/resource/aws_batch_compute_environment: Handle INVALID status in sweeper
  aws/resource_aws_batch_compute_environment_test.go
Labels: service/batch, size/M, technical-debt, tests

#16304 tests/resource/aws_lightsail_domain: Remove hardcoded region and standardize disappears testing
  aws/lightsail_domain_test.go
  aws/resource_aws_lightsail_domain_test.go
Labels: service/lightsail, size/M, technical-debt, tests

#16599 tests/r/vpn_gateway: Fix hardcoded region
  aws/resource_aws_vpn_gateway_test.go
Labels: partition/aws-us-gov, service/ec2, size/XS, tests

#16333 ds/eip ds/arn: Fix hardcoded region
  aws/data_source_aws_arn_test.go
  aws/data_source_aws_eip.go
Labels: partition/aws-us-gov, provider, service/ec2, size/S, tests

#16167 r/aws_appmesh_virtual_node: Add connection pool and outlier detection
  aws/resource_aws_appmesh_test.go
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_node_test.go
  aws/structure.go
  website/docs/r/appmesh_virtual_node.html.markdown
Labels: enhancement, service/appmesh, size/XXL, tests

#14012 r/aws_default_route_table: Refactor acceptance tests in preparation for future fixes/enhancements
  aws/resource_aws_default_route_table_test.go
  aws/resource_aws_route_table_test.go
Labels: service/ec2, size/XL, technical-debt, tests

#16617 bump tfproviderlint to support AT009 check
  GNUmakefile
  awsproviderlint/go.mod
  awsproviderlint/go.sum
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/AT009/AT009.go
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/R019/R019.go
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/R019/README.md
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/V009/README.md
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/V009/V009.go
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/V010/README.md
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/V010/V010.go
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/checks.go
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/helper/schema/resourcedatahaschangescallexpr/resourcedatahaschangescallexpr.go
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/helper/validation/stringdoesnotmatchcallexpr/stringdoesnotmatchcallexpr.go
  awsproviderlint/vendor/github.com/bflad/tfproviderlint/passes/helper/validation/stringmatchcallexpr/stringmatchcallexpr.go
  awsproviderlint/vendor/modules.txt
Labels: dependencies, provider, size/XL

#14013 r/aws_route_table: Refactor acceptance tests in preparation for future fixes/enhancements
  .github/workflows/acctest-terraform-lint.yml
  aws/resource_aws_route_table.go
  aws/resource_aws_route_table_test.go
  aws/validators_test.go
Labels: provider, service/ec2, size/XXL, tests

#16569 add schedule_offset parameter to aws_ssm_maintenance_window
  aws/resource_aws_ssm_maintenance_window.go
  aws/resource_aws_ssm_maintenance_window_test.go
  website/docs/r/ssm_maintenance_window.html.markdown
Labels: documentation, enhancement, service/ssm, size/M, tests

#16596 workflow/milestone: Specify master as checkout ref to ensure next milestone can be found
  .github/workflows/milestone.yml
Labels: provider, size/XS, tests

#16135 tests/resource/sagemaker_endpoint: Make region agnostic
  aws/data_source_aws_sagemaker_prebuilt_ecr_image.go
  aws/resource_aws_sagemaker_endpoint_test.go
Labels: partition/aws-us-gov, service/ecr, service/sagemaker, size/M, tests

#16589 [aws_workspaces_directory] Fix Empty Custom Security Group ID & Default OU
  aws/resource_aws_workspaces_directory.go
  aws/resource_aws_workspaces_directory_test.go
Labels: bug, service/workspaces, size/XL, tests

#16459 [aws_workspaces_workspace] Add Failed Request Error Code Along With Message
  aws/resource_aws_workspaces_workspace.go
Labels: service/workspaces, size/XS, technical-debt

#16612 r/glue_schema - new resource
  aws/internal/service/glue/finder/finder.go
  aws/internal/service/glue/id.go
  aws/internal/service/glue/waiter/status.go
  aws/internal/service/glue/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_glue_schema.go
  aws/resource_aws_glue_schema_test.go
  website/docs/r/glue_schema.html.markdown
Labels: documentation, new-resource, provider, service/glue, size/XL, tests

#16667 adding Computed :true to id of few data sources
  aws/data_source_aws_customer_gateway.go
  aws/data_source_aws_ec2_transit_gateway.go
  aws/data_source_aws_ec2_transit_gateway_peering_attachment.go
  aws/data_source_aws_ec2_transit_gateway_route_table.go
  aws/data_source_aws_ec2_transit_gateway_vpc_attachment.go
  aws/data_source_aws_guardduty_detector.go
Labels: bug, service/ec2, service/guardduty, size/XS

#16605 r/backup_plan - remove validation
  aws/resource_aws_backup_plan.go
Labels: bug, service/backup, size/S

#16252 r/aws_ec2_carrier_gateway: New resource.
  aws/internal/service/ec2/errors.go
  aws/internal/service/ec2/finder/finder.go
  aws/internal/service/ec2/waiter/status.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_ec2_carrier_gateway.go
  aws/resource_aws_ec2_carrier_gateway_test.go
  aws/resource_aws_vpc_test.go
  website/docs/r/ec2_carrier_gateway.html.markdown
Labels: documentation, new-resource, provider, service/ec2, size/XL, tests

#16566 resource/aws_imagebuilder_image_recipe: Ensure proper ordering of `component` configuration blocks
  aws/data_source_aws_imagebuilder_image_recipe.go
  aws/resource_aws_imagebuilder_image_recipe.go
  aws/resource_aws_imagebuilder_image_recipe_test.go
  website/docs/d/imagebuilder_image_recipe.html.markdown
  website/docs/r/imagebuilder_image_recipe.html.markdown
Labels: bug, documentation, service/imagebuilder, size/M, tests

#16580 Sweepers: Allow skipping GuardDuty Detector
  aws/provider_test.go
  aws/resource_aws_guardduty_detector_test.go
Labels: service/guardduty, size/XS, technical-debt, tests

#16597 provider: Document, standardize, and lint for disappears acceptance testing of parent resources
  .semgrep.yml
  aws/resource_aws_backup_selection_test.go
  aws/resource_aws_emr_instance_group_test.go
  aws/resource_aws_lambda_event_source_mapping_test.go
  aws/resource_aws_msk_scram_secret_association_test.go
  aws/resource_aws_network_acl_rule_test.go
  aws/resource_aws_networkfirewall_resource_policy_test.go
  aws/resource_aws_s3_access_point_test.go
  aws/resource_aws_s3_bucket_public_access_block_test.go
  aws/resource_aws_wafv2_web_acl_logging_configuration_test.go
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, linter, provider, service/backup, service/ec2, service/emr, service/kafka, service/lambda, service/networkfirewall, service/s3, service/wafv2, size/M, technical-debt, tests

#16600 docs/contributing: Add Extending Terraform link for acceptance test framework environment variables
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, size/XS

#16679 provider: Adds support for ECS authentication URI for acceptance tests
  aws/provider_test.go
Labels: size/XS, tests

#16702 r/aws_instance: Correct 'TestAccAWSInstance_EbsRootDevice_ModifyType'
  aws/resource_aws_instance_test.go
Labels: service/ec2, size/XS, tests

#16707 aws_launch_template: AWS Wavelength support
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/r/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#16649 aws_launch_template: gp3 volume scalable throughput
  aws/data_source_aws_launch_template.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/r/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#16457 Allow looking up launch templates by ID in aws_launch_template data source
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
  website/docs/d/launch_template.html.markdown
Labels: enhancement, service/ec2, size/S, tests

#16652 aws_spot_fleet_request: gp3 volume scalable throughput
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
Labels: enhancement, service/ec2, size/L, tests

#13267 Lake Formation Resource
  aws/provider.go
  aws/resource_aws_lakeformation_resource.go
  aws/resource_aws_lakeformation_resource_test.go
  website/allowed-subcategories.txt
  website/docs/r/lakeformation_resource.html.markdown
Labels: documentation, partition/aws-us-gov, provider, service/lakeformation, size/XL, tests

#16630 tests/res/route53: Fix hardcoded regions
  aws/resource_aws_route53_health_check_test.go
  aws/resource_aws_route53_record_test.go
Labels: partition/aws-us-gov, service/route53, size/S, tests

#16626 tests/res/security_group_rule: Fix hardcoded region
  aws/resource_aws_security_group_rule_test.go
Labels: partition/aws-us-gov, service/ec2, size/XS, tests

#16735 r/aws_route_table: Refactor acceptance test configuration generator so as avoid 'terrafmt' linting exclusion
  .github/workflows/acctest-terraform-lint.yml
  aws/resource_aws_route_table_test.go
Labels: service/ec2, size/M, technical-debt, tests

#16297 Adds launch_template to aws_autoscaling_group data source
  aws/data_source_aws_autoscaling_group.go
  aws/data_source_aws_autoscaling_group_test.go
Labels: enhancement, service/autoscaling, size/M, tests

#16692 Fix Terminated Workspace Panic
  aws/internal/service/workspaces/waiter/status.go
  aws/internal/service/workspaces/waiter/waiter.go
  aws/resource_aws_workspaces_workspace_test.go
Labels: bug, crash, service/workspaces, size/M, tests

#16731 Fix typo in aws_launch_template doc: throughput
  website/docs/r/launch_template.html.markdown
Labels: documentation, service/ec2, size/XS

#14637 added metadata_options for aws_launch_config
  aws/data_source_aws_launch_configuration.go
  aws/data_source_aws_launch_configuration_test.go
  aws/resource_aws_launch_configuration.go
  aws/resource_aws_launch_configuration_test.go
  website/docs/d/launch_configuration.html.markdown
  website/docs/r/launch_configuration.html.markdown
Labels: documentation, enhancement, service/autoscaling, size/L, tests

#16644 New Service: Amazon Connect
  .hashibot.hcl
  aws/config.go
  aws/provider.go
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, service/connect, size/XS

#16739 d/aws_prefix_list: fixes
  aws/data_source_aws_prefix_list.go
  aws/data_source_aws_prefix_list_test.go
  website/docs/d/prefix_list.html.markdown
Labels: bug, documentation, service/ec2, size/M, tests

#16637 tests/provider: Fix and enable AT009 lint check
  GNUmakefile
  aws/data_source_aws_dynamodb_table_test.go
  aws/data_source_aws_elb_test.go
  aws/data_source_aws_instance_test.go
  aws/data_source_aws_kms_key_test.go
  aws/data_source_aws_lb_listener_test.go
  aws/data_source_aws_lb_target_group_test.go
  aws/data_source_aws_lb_test.go
  aws/data_source_aws_rds_cluster_test.go
  aws/data_source_aws_route53_resolver_rules_test.go
  aws/resource_aws_alb_target_group_test.go
  aws/resource_aws_backup_plan_test.go
  aws/resource_aws_cognito_identity_pool_roles_attachment_test.go
  aws/resource_aws_cognito_identity_pool_test.go
  aws/resource_aws_cognito_resource_server_test.go
  aws/resource_aws_cognito_user_group_test.go
  aws/resource_aws_cognito_user_pool_client_test.go
  aws/resource_aws_cognito_user_pool_domain_test.go
  aws/resource_aws_ec2_traffic_mirror_session_test.go
  aws/resource_aws_ec2_traffic_mirror_target_test.go
  aws/resource_aws_elasticsearch_domain_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_kms_key_test.go
  aws/resource_aws_lb_listener_test.go
  aws/resource_aws_lb_target_group_attachment_test.go
  aws/resource_aws_lb_target_group_test.go
  aws/resource_aws_lb_test.go
  aws/resource_aws_ram_resource_share_accepter_test.go
  aws/resource_aws_ram_resource_share_test.go
  aws/resource_aws_ses_domain_dkim_test.go
  aws/resource_aws_ses_domain_identity_test.go
  aws/resource_aws_ses_domain_identity_verification_test.go
  aws/resource_aws_ses_domain_mail_from_test.go
  aws/resource_aws_ses_email_identity_test.go
  aws/resource_aws_ses_identity_notification_topic_test.go
  aws/resource_aws_ses_identity_policy_test.go
  aws/resource_aws_shield_protection_test.go
  aws/resource_aws_vpc_endpoint_connection_notification_test.go
  aws/resource_aws_vpc_endpoint_route_table_association_test.go
  aws/resource_aws_vpc_endpoint_service_allowed_principal_test.go
  aws/resource_aws_vpc_peering_connection_test.go
Labels: provider, service/backup, service/cognito, service/dynamodb, service/ec2, service/elasticsearch, service/elb, service/elbv2, service/kms, service/ram, service/rds, service/route53resolver, service/ses, size/XL, technical-debt, tests

#16724 aws_eip: Add 'carrier_ip' attribute
  aws/data_source_aws_eip.go
  aws/data_source_aws_eip_test.go
  aws/resource_aws_eip.go
  aws/resource_aws_eip_test.go
  aws/resource_aws_instance_test.go
  website/docs/d/eip.html.markdown
  website/docs/r/eip.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#16361 Support Nitro Enclaves in aws_instance and aws_launch_template
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/d/instance.html.markdown
  website/docs/d/launch_template.html.markdown
  website/docs/r/instance.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#16557 provider: Bump Go version to 1.15 and standardize on .go-version file for GitHub Actions workflows
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/snapshot.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
  .go-version
  docs/DEVELOPMENT.md
  docs/MAINTAINING.md
  go.mod
Labels: documentation, provider, size/M, tests

#16723 d/aws_network_interface: AWS Wavelength support
  aws/data_source_aws_network_interface.go
  aws/data_source_aws_network_interface_test.go
  aws/structure.go
  website/docs/d/network_interface.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#16770 d/aws_availability_zone: Additional attributes for Local and Wavelength Zones
  aws/data_source_aws_availability_zone.go
  aws/data_source_aws_availability_zone_test.go
  website/docs/d/availability_zone.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#16780 tech-debt/networkfirewall_resource_policy: update policy configs and examples in documentation
  aws/resource_aws_networkfirewall_resource_policy_test.go
  website/docs/r/networkfirewall_resource_policy.html.markdown
Labels: documentation, service/networkfirewall, size/S, technical-debt, tests

#14740 Add VPN options and enable acceleration to aws_vpn_connection resource
  aws/resource_aws_vpn_connection.go
  aws/resource_aws_vpn_connection_test.go
  website/docs/r/vpn_connection.html.markdown
Labels: documentation, enhancement, needs-triage, service/ec2, size/XXL, tests

#16680 resource/aws_main_route_table_association: Prevent crash on creation when VPC main route table association is not found
  aws/resource_aws_main_route_table_association.go
Labels: bug, crash, service/ec2, size/XS

#16648 tests/resource/aws_elasticsearch_domain: Use multierror in sweeper and skip domains stuck in deleting status
  aws/resource_aws_elasticsearch_domain_test.go
Labels: service/elasticsearch, size/M, tests

#16669 service/ec2: Use paginated functions in plural COIP and Local Gateway data sources
  aws/data_source_aws_ec2_coip_pools.go
  aws/data_source_aws_ec2_local_gateway_route_tables.go
  aws/data_source_aws_ec2_local_gateway_virtual_interface_groups.go
  aws/data_source_aws_ec2_local_gateways.go
Labels: bug, service/ec2, size/M

#16756 docs/resource/aws_elasticache_replication_group: parameter auto_minor_version_upgrade not supported by API
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, service/elasticache, size/XS

#13250 Lake Formation Data Lake Settings
  CHANGELOG.md
  aws/data_source_aws_lakeformation_data_lake_settings.go
  aws/data_source_aws_lakeformation_data_lake_settings_test.go
  aws/provider.go
  aws/resource_aws_lakeformation_data_lake_settings.go
  aws/resource_aws_lakeformation_data_lake_settings_test.go
  docs/FAQ.md
  docs/roadmaps/2020_August_to_October.md
  website/docs/d/lakeformation_data_lake_settings.html.markdown
  website/docs/r/lakeformation_data_lake_settings.html.markdown
Labels: documentation, new-resource, partition/aws-us-gov, provider, service/lakeformation, size/XL, tests

#16748 docs/contributing: Add data handling and conversion documentation
  docs/CONTRIBUTING.md
  docs/contributing/contribution-checklists.md
  docs/contributing/data-handling-and-conversion.md
Labels: documentation, provider, size/XL

#16620 aws_instance: Support for gp3 volumes
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  website/docs/r/instance.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#16653 resource/aws_directory_service_directory: Deletion and sweeper refactoring
  aws/internal/service/directoryservice/lister/list.go
  aws/internal/service/directoryservice/lister/list_pages_gen.go
  aws/resource_aws_directory_service_directory.go
  aws/resource_aws_directory_service_directory_test.go
Labels: service/directoryservice, size/M, technical-debt, tests

#16738 New data source: aws_ec2_managed_prefix_list
  aws/data_source_aws_ec2_managed_prefix_list.go
  aws/data_source_aws_ec2_managed_prefix_list_test.go
  aws/provider.go
  website/docs/d/ec2_managed_prefix_list.html.markdown
Labels: documentation, new-data-source, provider, service/ec2, size/XL, tests

#14068 New resource: aws_ec2_managed_prefix_list
  aws/internal/service/ec2/finder/finder.go
  aws/internal/service/ec2/waiter/status.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_ec2_managed_prefix_list.go
  aws/resource_aws_ec2_managed_prefix_list_test.go
  website/docs/r/ec2_managed_prefix_list.html.markdown
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, new-resource, provider, service/ec2, size/XXL, tests

#16830 r/aws_db_instance Bugfix: Pass db_subnet_group_name in restore_to_point_in_time (Issue #16821)
  aws/resource_aws_db_instance.go
Labels: bug, service/rds, size/XS

#16809 resource/s3_bucket: Fix lifecycle_rule requirements documentation
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XS

#16800 updated mq broker `user` property to 'required'
  website/docs/r/mq_broker.html.markdown
Labels: documentation, service/mq, size/XS

#16684 Mark Kinesis Firehose Stream access_key as sensitive
  aws/resource_aws_kinesis_firehose_delivery_stream.go
Labels: service/firehose, size/XS

#16603 Update documentation for aws_lambda_function optional 'runtime' parameter
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS

#16773 Correctly quote `shared` in ecs_task_definition
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, service/ecs, size/XS

#16808 resource/aws_eip_association: fix eventual consistency issue when associating EIP
  aws/internal/service/ec2/waiter/waiter.go
  aws/resource_aws_eip_association.go
Labels: bug, service/ec2, size/S

#13396 Lake Formation Permissions
  CHANGELOG.md
  aws/data_source_aws_lakeformation_data_lake_settings.go
  aws/data_source_aws_lakeformation_data_lake_settings_test.go
  aws/data_source_aws_lakeformation_permissions.go
  aws/data_source_aws_lakeformation_permissions_test.go
  aws/data_source_aws_lakeformation_resource.go
  aws/data_source_aws_lakeformation_resource_test.go
  aws/provider.go
  aws/resource_aws_lakeformation_data_lake_settings.go
  aws/resource_aws_lakeformation_data_lake_settings_test.go
  aws/resource_aws_lakeformation_permissions.go
  aws/resource_aws_lakeformation_permissions_test.go
  aws/resource_aws_lakeformation_resource.go
  aws/resource_aws_lakeformation_resource_test.go
  aws/resource_aws_lakeformation_test.go
  aws/validators.go
  aws/validators_test.go
  website/docs/d/lakeformation_data_lake_settings.html.markdown
  website/docs/d/lakeformation_permissions.html.markdown
  website/docs/d/lakeformation_resource.html.markdown
  website/docs/r/lakeformation_data_lake_settings.html.markdown
  website/docs/r/lakeformation_permissions.html.markdown
  website/docs/r/lakeformation_resource.html.markdown
Labels: documentation, new-resource, partition/aws-us-gov, provider, service/lakeformation, size/XXL, tests

#16678 resource/aws_autoscaling_group: Add Instance Refresh configuration
  aws/internal/experimental/nullable/int.go
  aws/internal/experimental/nullable/int_test.go
  aws/internal/experimental/nullable/testing.go
  aws/internal/service/autoscaling/waiter/status.go
  aws/internal/service/autoscaling/waiter/waiter.go
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_autoscaling_group_waiting.go
  go.mod
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, enhancement, service/autoscaling, size/XXL, tests

#16870 Changelog typo
  CHANGELOG.md
Labels: documentation, provider, size/XS

#16852 Updating example's "name"
  website/docs/r/codestarconnections_connection.markdown
Labels: bug, documentation, service/codestarconnections, size/XS

#16869 Include string "IMDSv2" in docs
  website/docs/r/instance.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/XS

#16636 update ssm maintenance window task resource docs
  website/docs/r/ssm_maintenance_window_task.html.markdown
Labels: documentation, needs-triage, service/ssm, size/XS

#16608 increased max retention period for kinesis stream to 8760
  aws/resource_aws_kinesis_stream.go
  aws/resource_aws_kinesis_stream_test.go
  website/docs/r/kinesis_stream.html.markdown
Labels: documentation, enhancement, service/kinesis, size/XS, tests
