Repository hashicorp/terraform-provider-aws, pull requests merged in 2020-11, with the labels that each got.

#15960 Add CodeStar Connections service client
  .hashibot.hcl
  aws/config.go
  aws/provider.go
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, size/XS

#15904 tests/provider: Standardize remaining alternate provider testing and refactor testAccProviderFactories for broad usage
  aws/cur_test.go
  aws/data_source_aws_cur_report_definition_test.go
  aws/data_source_aws_db_subnet_group_test.go
  aws/data_source_aws_route53_resolver_rule_test.go
  aws/ec2_classic_test.go
  aws/provider_test.go
  aws/resource_aws_cloudfront_distribution_test.go
  aws/resource_aws_codepipeline_test.go
  aws/resource_aws_cur_report_definition_test.go
  aws/resource_aws_dx_gateway_association_proposal_test.go
  aws/resource_aws_dx_gateway_association_test.go
  aws/resource_aws_dx_hosted_private_virtual_interface_test.go
  aws/resource_aws_dx_hosted_public_virtual_interface_test.go
  aws/resource_aws_dx_hosted_transit_virtual_interface_test.go
  aws/resource_aws_dynamodb_global_table_test.go
  aws/resource_aws_ebs_snapshot_copy_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_test.go
  aws/resource_aws_guardduty_invite_accepter_test.go
  aws/resource_aws_ram_resource_share_accepter_test.go
  aws/resource_aws_rds_cluster_test.go
  aws/resource_aws_redshift_cluster_test.go
  aws/resource_aws_redshift_security_group_test.go
  aws/resource_aws_route53_vpc_association_authorization_test.go
  aws/resource_aws_route53_zone_association_test.go
  aws/resource_aws_s3_bucket_test.go
  aws/resource_aws_subnet_test.go
  aws/resource_aws_vpc_peering_connection_accepter_test.go
  aws/resource_aws_vpc_peering_connection_options_test.go
  aws/resource_aws_vpc_peering_connection_test.go
  aws/resource_aws_vpc_test.go
Labels: service/cloudfront, service/codepipeline, service/costandusagereportservice, service/directconnect, service/dynamodb, service/ec2, service/guardduty, service/ram, service/rds, service/redshift, service/route53, service/route53resolver, service/s3, size/L, technical-debt, tests

#14468 r/secretsmanager_secret_policy - new resource
  aws/provider.go
  aws/resource_aws_secretsmanager_secret.go
  aws/resource_aws_secretsmanager_secret_policy.go
  aws/resource_aws_secretsmanager_secret_policy_test.go
  website/docs/r/secretsmanager_secret_policy.html.markdown
Labels: documentation, new-resource, provider, service/secretsmanager, size/XL, tests

#15986 tests/provider: Fix hardcoded endpoint ID (wafregional)
  aws/data_source_aws_wafregional_ipset_test.go
  aws/data_source_aws_wafregional_rate_based_rule_test.go
  aws/data_source_aws_wafregional_rule_test.go
  aws/data_source_aws_wafregional_web_acl_test.go
  aws/resource_aws_wafregional_byte_match_set_test.go
  aws/resource_aws_wafregional_geo_match_set_test.go
  aws/resource_aws_wafregional_ipset_test.go
  aws/resource_aws_wafregional_rate_based_rule_test.go
  aws/resource_aws_wafregional_regex_match_set_test.go
  aws/resource_aws_wafregional_regex_pattern_set_test.go
  aws/resource_aws_wafregional_rule_group_test.go
  aws/resource_aws_wafregional_rule_test.go
  aws/resource_aws_wafregional_size_constraint_set_test.go
  aws/resource_aws_wafregional_sql_injection_match_set_test.go
  aws/resource_aws_wafregional_web_acl_association_test.go
  aws/resource_aws_wafregional_web_acl_test.go
  aws/resource_aws_wafregional_xss_match_set_test.go
Labels: partition/aws-us-gov, service/waf, service/wafregional, size/L, tests

#15985 tests/provider: Fix hardcoded endpoint ID (WAF)
  aws/data_source_aws_waf_ipset_test.go
  aws/data_source_aws_waf_rate_based_rule_test.go
  aws/data_source_aws_waf_rule_test.go
  aws/data_source_aws_waf_web_acl_test.go
Labels: partition/aws-us-gov, service/waf, size/XS, tests

#15934 r/glue_crawler - support mongodb target
  aws/resource_aws_glue_crawler.go
  aws/resource_aws_glue_crawler_test.go
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, enhancement, service/glue, size/XL, tests

#15938 service/rds: Additional error handling for Global Clusters, test fixes for engine versions
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  aws/resource_aws_rds_global_cluster.go
Labels: bug, service/rds, size/M, tests

#15988 tests/provider: Update docs to avoid hardcoded endpoints ID
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, partition/aws-us-gov, provider, size/XS

#15984 tests/provider: Fix hardcoded endpoint ID (OpsWorks)
  aws/resource_aws_opsworks_application_test.go
  aws/resource_aws_opsworks_custom_layer_test.go
  aws/resource_aws_opsworks_ganglia_layer_test.go
  aws/resource_aws_opsworks_haproxy_layer_test.go
  aws/resource_aws_opsworks_instance_test.go
  aws/resource_aws_opsworks_java_app_layer_test.go
  aws/resource_aws_opsworks_memcached_layer_test.go
  aws/resource_aws_opsworks_mysql_layer_test.go
  aws/resource_aws_opsworks_nodejs_app_layer_test.go
  aws/resource_aws_opsworks_permission_test.go
  aws/resource_aws_opsworks_php_app_layer_test.go
  aws/resource_aws_opsworks_rails_app_layer_test.go
  aws/resource_aws_opsworks_rds_db_instance_test.go
  aws/resource_aws_opsworks_stack_test.go
  aws/resource_aws_opsworks_static_web_layer_test.go
  aws/resource_aws_opsworks_user_profile_test.go
Labels: partition/aws-us-gov, service/opsworks, size/M, tests

#15983 tests/provider: Fix hardcoded endpoint ID (models.lex)
  aws/data_source_aws_lex_bot_alias_test.go
  aws/data_source_aws_lex_bot_test.go
  aws/data_source_aws_lex_intent_test.go
  aws/data_source_aws_lex_slot_type_test.go
  aws/resource_aws_lex_bot_alias_test.go
  aws/resource_aws_lex_bot_test.go
  aws/resource_aws_lex_intent_test.go
  aws/resource_aws_lex_slot_type_test.go
Labels: partition/aws-us-gov, service/lexmodelbuildingservice, size/M, tests

#15981 tests/provider: Fix hardcoded endpoint ID (fsx)
  aws/resource_aws_datasync_location_fsx_windows_file_system_test.go
  aws/resource_aws_fsx_lustre_file_system_test.go
  aws/resource_aws_fsx_windows_file_system_test.go
Labels: partition/aws-us-gov, service/datasync, service/fsx, size/M, tests

#15980 tests/provider: Fix hardcoded endpoint ID (codestar)
  aws/resource_aws_codestarnotifications_notification_rule_test.go
Labels: partition/aws-us-gov, service/codestarnotifications, size/XS, tests

#15979 tests/provider: Fix hardcoded endpoint ID (CodeArtifact)
  aws/data_source_aws_codeartifact_authorization_token_test.go
  aws/data_source_aws_codeartifact_repository_endpoint_test.go
  aws/resource_aws_codeartifact_domain_permissions_policy_test.go
  aws/resource_aws_codeartifact_domain_test.go
  aws/resource_aws_codeartifact_repository_permissions_policy_test.go
  aws/resource_aws_codeartifact_repository_test.go
Labels: partition/aws-us-gov, service/codeartifact, size/S, tests

#15978 tests/provider: Fix hardcoded endpoints ID (cloudfront)
  aws/data_source_aws_cloudfront_distribution_test.go
  aws/resource_aws_cloudfront_distribution_test.go
  aws/resource_aws_cloudfront_origin_access_identity_test.go
  aws/resource_aws_cloudfront_public_key_test.go
  aws/resource_aws_s3_bucket_test.go
  aws/resource_aws_shield_protection_test.go
Labels: partition/aws-us-gov, service/cloudfront, service/s3, service/shield, size/M, tests

#15977 tests/provider: Fix hardcoded endpoint ID (cloud9)
  aws/resource_aws_cloud9_environment_ec2_test.go
Labels: partition/aws-us-gov, service/cloud9, service/ec2, size/XS, tests

#15976 tests/provider: Fix hardcoded endpoints ID (budgets)
  aws/resource_aws_budgets_budget_test.go
Labels: partition/aws-us-gov, service/budgets, size/XS, tests

#15975 tests/provider: Fix hardcoded endpoint ID (appsync)
  aws/resource_aws_appsync_api_key_test.go
  aws/resource_aws_appsync_datasource_test.go
  aws/resource_aws_appsync_function_test.go
  aws/resource_aws_appsync_graphql_api_test.go
  aws/resource_aws_appsync_resolver_test.go
Labels: partition/aws-us-gov, service/appsync, size/M, tests

#15914 tests/provider: Fix partition issues (DS AMI)
  aws/data_source_aws_ami_test.go
  aws/provider_test.go
Labels: partition/aws-us-gov, service/ec2, size/S, tests

#15793 r/glue_trigger - add support for `security_configuration` and `notification_property` for `actions` + refactor tests and waiters
  aws/internal/service/glue/waiter/status.go
  aws/internal/service/glue/waiter/waiter.go
  aws/resource_aws_glue_trigger.go
  aws/resource_aws_glue_trigger_test.go
  website/docs/r/glue_trigger.html.markdown
Labels: documentation, enhancement, service/glue, size/XL, tests

#15973 tests/service/rds: Remove hardcoded us-east-1 environment variable handling
  aws/data_source_aws_db_instance_test.go
  aws/ec2_classic_test.go
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_db_security_group_test.go
Labels: partition/aws-us-gov, service/ec2, service/rds, size/M, technical-debt, tests

#16006 codeartifact resources tagging support
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_codeartifact_domain.go
  aws/resource_aws_codeartifact_domain_test.go
  aws/resource_aws_codeartifact_repository.go
  aws/resource_aws_codeartifact_repository_test.go
  website/docs/r/codeartifact_domain.html.markdown
  website/docs/r/codeartifact_repository.html.markdown
Labels: enhancement, provider, service/codeartifact, size/XL, tests

#15956 r/glue_catalog_database - plan time validations + read after create
  aws/resource_aws_glue_catalog_database.go
Labels: enhancement, service/glue, size/M

#15948 r/glue_classifier - `quote_symbol` fix optional
  aws/resource_aws_glue_classifier.go
  aws/resource_aws_glue_classifier_test.go
Labels: bug, service/glue, size/M, tests

#16017 r/aws_apigatewayv2_integration: Different range of valid values and defaults for 'timeout_milliseconds' between HTTP and WebSocket APIs
  aws/resource_aws_apigatewayv2_integration.go
  aws/resource_aws_apigatewayv2_integration_test.go
  website/docs/r/apigatewayv2_integration.html.markdown
Labels: service/apigatewayv2, size/S, tests

#14028 r/aws_eip - support NetworkBorderGroup attribute
  aws/resource_aws_eip.go
  aws/resource_aws_eip_test.go
  website/docs/r/eip.html.markdown
Labels: documentation, enhancement, service/ec2, size/S, tests

#16005 r/aws_kinesis_analytics_application: Correct resource update
  aws/internal/service/kinesisanalytics/finder/finder.go
  aws/internal/service/kinesisanalytics/waiter/status.go
  aws/internal/service/kinesisanalytics/waiter/waiter.go
  aws/resource_aws_kinesis_analytics_application.go
  aws/resource_aws_kinesis_analytics_application_test.go
Labels: service/kinesisanalytics, size/XXL, tests

#15957 r/sagemaker_model - add support for `image_config` + refactor tests
  aws/resource_aws_sagemaker_model.go
  aws/resource_aws_sagemaker_model_test.go
  website/docs/r/sagemaker_model.html.markdown
Labels: documentation, enhancement, service/sagemaker, size/XL, tests

#15780 tests/msk_cluster: Fix and enable msk_cluster revision test
  aws/resource_aws_msk_cluster_test.go
Labels: service/kafka, size/XS, technical-debt, tests

#8628 d/aws_route53_resolver_endpoint: Add Route53resolver endpoint datasource
  aws/data_source_aws_route53_resolver_endpoint.go
  aws/data_source_aws_route53_resolver_endpoint_test.go
  aws/provider.go
  website/docs/d/route53_resolver_endpoint.html.markdown
Labels: documentation, new-data-source, provider, service/route53resolver, size/XL, tests

#15941 Improve documentation for EventBridge target input transformer template
  aws/resource_aws_cloudwatch_event_target_test.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, service/cloudwatchevents, service/eventbridge, size/L, tests

#16055 linter/Fix R53 resolver import
  aws/data_source_aws_route53_resolver_endpoint.go
Labels: service/route53resolver, size/XS

#15887 r/sagemaker_endpoint_configuration - support `data_capture_config` + validations and test refactor
  aws/resource_aws_sagemaker_endpoint_configuration.go
  aws/resource_aws_sagemaker_endpoint_configuration_test.go
  website/docs/r/sagemaker_endpoint_configuration.html.markdown
Labels: documentation, enhancement, service/sagemaker, size/XL, tests

#14135 New Data Source: aws_workspaces_workspace
  aws/data_source_aws_workspaces_workspace.go
  aws/data_source_aws_workspaces_workspace_test.go
  aws/provider.go
  aws/resource_aws_workspaces_workspace.go
  website/docs/d/workspaces_workspace.html.markdown
Labels: documentation, new-data-source, provider, service/workspaces, size/XL, tests

#15915 resource/aws_rds_cluster: Prevent restored cluster recreation with kms_key_id and lack of storage_encrypted, add testing and documentation
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: bug, documentation, service/rds, size/M, tests

#15922 Adds custom event bus support to EventBridge permission resource
  aws/internal/service/cloudwatchevents/id.go
  aws/resource_aws_cloudwatch_event_permission.go
  aws/resource_aws_cloudwatch_event_permission_test.go
  website/docs/r/cloudwatch_event_permission.html.markdown
  website/docs/r/cloudwatch_event_rule.html.markdown
Labels: documentation, service/cloudwatchevents, service/eventbridge, size/L, tests

#15925 tests/provider: Check for multiple AWS Go SDK service imports
  .semgrep.yml
Labels: linter, provider, size/S, tests

#15939 resource/aws_rds_cluster_instance: Add Cluster Identifier to creation error message
  aws/resource_aws_rds_cluster_instance.go
Labels: bug, service/rds, size/XS

#15949 resource/aws_datasync_task: Allow UNAVAILABLE as pending status during creation
  aws/internal/service/datasync/waiter/status.go
  aws/internal/service/datasync/waiter/waiter.go
  aws/resource_aws_datasync_task.go
  aws/resource_aws_datasync_task_test.go
Labels: service/datasync, size/L, technical-debt, tests

#15954 tests/resource/aws_spot_datafeed_subscription: Add missing S3 grants to configuration and minor refactoring
  aws/resource_aws_spot_datafeed_subscription_test.go
Labels: partition/aws-us-gov, service/ec2, size/M, technical-debt, tests

#15955 tests/resource/aws_s3_bucket: Refactor broken TypeSet checking
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/M, technical-debt, tests

#16039 docs/contributing: Add service-specific region acceptance testing section
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, size/M

#16066 Fix data_source_aws_workspaces_workspace import lint issue
  aws/data_source_aws_workspaces_workspace.go
Labels: service/workspaces, size/XS

#15799 Add eventbus to cloudwatch event target
  aws/internal/service/cloudwatchevents/finder/finder.go
  aws/internal/service/cloudwatchevents/id.go
  aws/internal/service/cloudwatchevents/lister/list.go
  aws/resource_aws_cloudwatch_event_rule_test.go
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_test.go
  aws/validators.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, enhancement, provider, service/cloudwatchevents, service/eventbridge, service/route53resolver, size/XL, tests

#15600 r/fsx_lustre_filesystem - remove required with for `auto_policy_import`
  aws/resource_aws_fsx_lustre_file_system.go
Labels: service/fsx, size/XS

#15987 Fix typo in athena_workgroup doc
  website/docs/r/athena_workgroup.html.markdown
Labels: documentation, service/athena, size/XS

#16001 Fix example Enabling IAM Roles for Service Accounts
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, service/eks, size/XS

#16068 service/s3: Prefix internal error constants with ErrCode and remove multiple service imports from aws_s3_bucket_public_access_block
  aws/internal/keyvaluetags/s3_tags.go
  aws/internal/service/s3/errors.go
  aws/resource_aws_s3_bucket_public_access_block.go
  aws/resource_aws_s3_bucket_public_access_block_test.go
Labels: provider, service/s3, size/S, technical-debt, tests

#16062 tests/provider: Add service PreCheck (SimpleDB)
  aws/resource_aws_simpledb_domain_test.go
Labels: partition/aws-us-gov, service/simpledb, size/XS, tests

#16045 tests/resource/aws_waf_web_acl: Remove hardcoded environment variable handling
  aws/resource_aws_waf_web_acl_test.go
  aws/waf_logging_configuration_test.go
Labels: service/waf, size/M, technical-debt, tests

#16075 resource/aws_cloudwatch_event_target: Include state upgrade for new default event bus name in Read path and only include EventBusName when non-empty in API requests
  aws/internal/service/cloudwatchevents/lister/list.go
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_migrate.go
  aws/resource_aws_cloudwatch_event_target_migrate_test.go
Labels: bug, regression, service/cloudwatchevents, service/eventbridge, size/L, tests

#15356 r/aws_kinesis_firehose_delivery_stream add http_endpoint_configuration
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, enhancement, service/firehose, size/XL, tests

#16050 docs/contributing: fixing typos in aws_sagemaker docs and tests
  aws/resource_aws_sagemaker_code_repository_test.go
  website/docs/r/sagemaker_code_repository.htm.markdown
Labels: documentation, service/sagemaker, size/XS, tests

#16079 Elasticsearch service ebs volume size is different.
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, service/elasticsearch, size/XS

#16084 Fix 'make gen' failure
  aws/internal/keyvaluetags/s3control_tags.go
Labels: provider, service/s3control, size/XS

#16090 tests/provider: Use make gen in CI to fully verify code generation during submissions
  .github/workflows/terraform_provider.yml
Labels: provider, size/XS, tests

#16060 Correct health check path reference per 1.7.0
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, service/elbv2, size/XS

#15757 Update aws_route53_record error message to be inline with implementation and docs.
  aws/resource_aws_route53_record.go
Labels: service/route53, size/XS, technical-debt

#15709 Put secretsmanager_secret_version import statement into single quotes to make it work
  website/docs/r/secretsmanager_secret_version.html.markdown
Labels: documentation, service/secretsmanager, size/XS

#15927 [WIP] Check for ClusterNotFoundException when reading ECS service
  aws/resource_aws_ecs_service.go
Labels: bug, service/ecs, size/XS

#15773 Updating regex and test to comply with AWS Documentation
  aws/validators.go
  aws/validators_test.go
Labels: bug, service/cognito, size/XS, tests

#15551 Documentation: Fix cycle error in documentation example
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS

#15479 Add configurable timeouts to workspaces
  aws/internal/service/workspaces/waiter/waiter.go
  aws/resource_aws_workspaces_workspace.go
  aws/resource_aws_workspaces_workspace_test.go
  website/docs/r/workspaces_workspace.html.markdown
Labels: documentation, service/workspaces, size/M, tests

#15567 aws_network_interface: nil pointer dereference panic when flattening attachment
  aws/structure.go
Labels: bug, crash, service/ec2, size/XS

#15779 update the list of blueprint IDs supported by aws_lightsail_instance
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, service/lightsail, size/S

#16096 Fix team naming for slack notifications.
  .github/workflows/team_slack_bot.yml
Labels: provider, size/XS, tests

#14535 aws_workspaces_bundle: Fix empty (private) owner
  aws/data_source_aws_workspaces_bundle.go
  aws/data_source_aws_workspaces_bundle_test.go
  website/docs/d/workspaces_bundle.html.markdown
Labels: documentation, service/workspaces, size/S, tests

#15613 lb_target_group: Allow invalid stickiness config, avoid breaking change
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lb_target_group_test.go
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, partition/aws-us-gov, service/elbv2, size/S, tests

#16125 r/aws_kinesisanalyticsv2_application,aws_kinesis_analytics_application: Additional IAM eventual consistency check
  aws/internal/service/kinesisanalytics/lister/list.go
  aws/internal/service/kinesisanalytics/waiter/waiter.go
  aws/internal/service/kinesisanalyticsv2/lister/list.go
  aws/internal/service/kinesisanalyticsv2/lister/list_pages_gen.go
  aws/internal/service/kinesisanalyticsv2/waiter/waiter.go
  aws/resource_aws_kinesis_analytics_application.go
  aws/resource_aws_kinesis_analytics_application_test.go
  aws/resource_aws_kinesisanalyticsv2_application.go
  aws/resource_aws_kinesisanalyticsv2_application_test.go
Labels: service/kinesisanalytics, service/kinesisanalyticsv2, size/XXL, tests

#15951 tests/resource/aws_datasync_location_smb: Simplify and update base configuration
  aws/resource_aws_datasync_location_smb_test.go
Labels: partition/aws-us-gov, service/datasync, size/L, technical-debt, tests

#16024 tests/data-source/aws_region: Remove hardcoded us-east-1 handling
  aws/data_source_aws_region_test.go
Labels: partition/aws-us-gov, provider, size/L, technical-debt, tests

#16035 tests/resource/aws_instance: Remove hardcoded us-east-1 handling
  aws/resource_aws_instance_test.go
Labels: partition/aws-us-gov, service/ec2, size/S, technical-debt, tests

#16036 tests/resource/aws_security_group: Remove hardcoded us-east-1 handling
  aws/resource_aws_security_group_test.go
Labels: partition/aws-us-gov, service/ec2, size/M, technical-debt, tests

#16044 tests/resource/aws_route53_query_log: Remove hardcoded environment variable handling
  aws/resource_aws_route53_query_log_test.go
  aws/route53_query_log_test.go
Labels: partition/aws-us-gov, service/route53, size/M, technical-debt, tests

#16034 tests/service/elasticache: Remove hardcoded us-east-1 handling
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticache_security_group_test.go
Labels: partition/aws-us-gov, service/elasticache, size/M, technical-debt, tests

#16040 tests/data-source/aws_pricing_product: Remove hardcoded us-east-1 handling
  aws/data_source_aws_pricing_product_test.go
  aws/pricing_test.go
Labels: partition/aws-us-gov, service/pricing, size/M, technical-debt, tests

#16041 tests/resource/aws_fms_admin_account: Remove hardcoded environment variable handling
  aws/fms_admin_test.go
  aws/resource_aws_fms_admin_account_test.go
Labels: partition/aws-us-gov, service/fms, size/M, technical-debt, tests

#16131 Gateway Load Balancer Support
  aws/data_source_aws_route_table.go
  aws/resource_aws_default_route_table.go
  aws/resource_aws_default_route_table_test.go
  aws/resource_aws_lb.go
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lb_target_group_test.go
  aws/resource_aws_lb_test.go
  aws/resource_aws_route.go
  aws/resource_aws_route_table.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_route_test.go
  aws/resource_aws_vpc_endpoint.go
  aws/resource_aws_vpc_endpoint_service.go
  aws/resource_aws_vpc_endpoint_service_test.go
  aws/resource_aws_vpc_endpoint_test.go
  website/docs/d/route_table.html.markdown
  website/docs/r/default_route_table.html.markdown
  website/docs/r/lb.html.markdown
  website/docs/r/lb_target_group.html.markdown
  website/docs/r/route.html.markdown
  website/docs/r/route_table.html.markdown
  website/docs/r/vpc_endpoint.html.markdown
  website/docs/r/vpc_endpoint_service.html.markdown
Labels: enhancement, service/ec2, service/elbv2, size/XL, tests

#15926 tests/provider: Simplify checks to run in awsproviderlint Makefile target
  GNUmakefile
Labels: provider, size/M

#16134 tests/resource/aws_lb: Fix TestAccAWSLB_networkLoadbalancerEIP configuration
  aws/resource_aws_lb_test.go
Labels: size/XS, technical-debt, tests

#15942 resource/aws_db_instance: Ignore DBInstanceNotFound error during deletion
  aws/resource_aws_db_instance.go
Labels: bug, service/rds, size/XS

#16100 tests/provider: Add PreCheck (MQ)
  aws/data_source_aws_mq_broker_test.go
Labels: partition/aws-us-gov, service/mq, size/XS, tests

#16103 tests/provider: Add PreCheck (LightSail)
  aws/resource_aws_lightsail_instance_test.go
Labels: partition/aws-us-gov, service/lightsail, size/XS, tests

#16152 Update fsx_windows_file_system.html.markdown
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, service/fsx, size/XS

#16144 .github/workflows: Replace deprecated set-env handling
  .github/workflows/terraform_provider.yml
Labels: provider, size/XS, technical-debt, tests

#16150 service/waf: Generate paginated list functions and implement all sweepers
  aws/internal/service/waf/lister/list.go
  aws/internal/service/waf/lister/list_pages_gen.go
  aws/resource_aws_waf_byte_match_set_test.go
  aws/resource_aws_waf_geo_match_set_test.go
  aws/resource_aws_waf_ipset_test.go
  aws/resource_aws_waf_rate_based_rule_test.go
  aws/resource_aws_waf_regex_match_set_test.go
  aws/resource_aws_waf_regex_pattern_set_test.go
  aws/resource_aws_waf_rule_group_test.go
  aws/resource_aws_waf_rule_test.go
  aws/resource_aws_waf_size_constraint_set_test.go
  aws/resource_aws_waf_sql_injection_match_set_test.go
  aws/resource_aws_waf_xss_match_set_test.go
Labels: service/waf, size/XXL, technical-debt, tests

#16032 service/ec2: Handle additional EIP association issues and remove EIP hardcoded us-east-1 environment variable handling in tests
  aws/resource_aws_eip.go
  aws/resource_aws_eip_association.go
  aws/resource_aws_eip_association_test.go
  aws/resource_aws_eip_test.go
Labels: bug, partition/aws-us-gov, service/ec2, size/XL, tests

#16159 added appliance_mode_support argument/attribute
  aws/data_source_aws_ec2_transit_gateway_vpc_attachment.go
  aws/data_source_aws_ec2_transit_gateway_vpc_attachment_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_test.go
  website/docs/d/ec2_transit_gateway_vpc_attachment.html.markdown
  website/docs/r/ec2_transit_gateway_vpc_attachment.html.markdown
  website/docs/r/ec2_transit_gateway_vpc_attachment_accepter.html.markdown
Labels: enhancement, service/ec2, size/M, tests

#16149 Docs Overview AWS [Grammatical changes]
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#16139 tests/resource/aws_api_gateway_domain_name: Remove hardcoded environment variable handling, create public ACM certificate, improve state value checks
  aws/api_gateway_domain_name_test.go
  aws/resource_aws_api_gateway_domain_name_test.go
  docs/MAINTAINING.md
Labels: documentation, partition/aws-us-gov, provider, service/apigateway, size/L, technical-debt, tests

#15556 E ec2 transit gateway update params
  aws/resource_aws_ec2_transit_gateway.go
  aws/resource_aws_ec2_transit_gateway_test.go
Labels: enhancement, service/ec2, size/M, tests

#16155 tests/resource/devicefarm_project: Add PreCheck
  aws/resource_aws_devicefarm_project_test.go
Labels: partition/aws-us-gov, service/devicefarm, size/XS

#16091 service/rds: Discourage usage of engine_mode = "global" due to API changes
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, service/rds, size/XS

#7031 Support Aurora point-in-time restore
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  aws/validators.go
  aws/validators_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds, size/L, tests

#13921 rd/transit_gateway_route_table - add arn + refactor disappears
  aws/data_source_aws_ec2_transit_gateway_route_table.go
  aws/data_source_aws_ec2_transit_gateway_route_table_test.go
  aws/resource_aws_ec2_transit_gateway_route_table.go
  aws/resource_aws_ec2_transit_gateway_route_table_test.go
  website/docs/d/ec2_transit_gateway_route_table.html.markdown
  website/docs/index.html.markdown
  website/docs/r/ec2_transit_gateway_route_table.html.markdown
Labels: documentation, provider, service/ec2, size/S, technical-debt, tests

#15969 resource/db_instance: add restore to point in time support
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_iot_topic_rule.go
  aws/validators.go
  aws/validators_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, enhancement, provider, service/iot, service/rds, size/XL, tests

#16064 docs: Add docs on linting
  docs/contributing/pullrequest-submission-and-lifecycle.md
Labels: documentation, partition/aws-us-gov, provider, size/S

#16164 tests/resource/aws_eks_node_group: Fix test failures
  aws/resource_aws_eks_node_group_test.go
Labels: service/eks, size/XS, technical-debt, tests

#7895 New resource aws_glue_dev_endpoint
  aws/internal/service/glue/waiter/status.go
  aws/internal/service/glue/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_glue_dev_endpoint.go
  aws/resource_aws_glue_dev_endpoint_test.go
  website/docs/r/glue_dev_endpoint.markdown
Labels: documentation, new-resource, provider, service/glue, size/XXL, tests

#16093 Fix workspaces_defaultRole notes
  website/docs/r/workspaces_directory.html.markdown
  website/docs/r/workspaces_workspace.html.markdown
Labels: documentation, service/workspaces, size/M

#16008 r/aws_storagegateway_smb_file_share: Add `file_share_name` argument
  aws/resource_aws_storagegateway_smb_file_share.go
  aws/resource_aws_storagegateway_smb_file_share_test.go
  website/docs/r/storagegateway_smb_file_share.html.markdown
Labels: enhancement, service/storagegateway, size/M, tests

#15473 adding fix for aws org feature_set update issue from #15462
  aws/resource_aws_organizations_organization.go
  aws/resource_aws_organizations_organization_test.go
  aws/resource_aws_organizations_test.go
  website/docs/r/organizations_organization.html.markdown
Labels: bug, documentation, service/organizations, size/M, tests

#16018 tests/provider: Fixes for testing provider re-configuration
  aws/provider_test.go
Labels: partition/aws-us-gov, size/S, tests

#16076 docs: Add documentation for avoiding hardcoding in tests
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, partition/aws-us-gov, provider, size/L

#16116 r/backup_plan - `lifecycle` block in `copy_action` is optional
  aws/resource_aws_backup_plan.go
  aws/resource_aws_backup_plan_test.go
Labels: bug, service/backup, size/M, tests

#16112 r/backup_vault_policy - new resource
  aws/provider.go
  aws/resource_aws_backup_vault_policy.go
  aws/resource_aws_backup_vault_policy_test.go
  website/docs/r/backup_vault_policy.html.markdown
Labels: new-resource, provider, service/backup, size/XL, tests

#16174 tests/provider: Add API Gateway EDGE PreCheck
  aws/data_source_aws_api_gateway_resource_test.go
  aws/data_source_aws_api_gateway_rest_api_test.go
  aws/data_source_aws_transfer_server_test.go
  aws/resource_aws_api_gateway_usage_plan_test.go
  aws/resource_aws_sns_topic_subscription_test.go
  aws/resource_aws_transfer_server_test.go
  aws/resource_aws_wafregional_web_acl_association_test.go
Labels: partition/aws-us-gov, service/apigateway, service/sns, service/transfer, service/waf, size/XS, tests

#16182 .github/workflows: Remove --quiet flag from terrafmt
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/website.yml
Labels: provider, size/XS, tests

#15696 Add GitHub action to comment on new Pull Requests.
  .github/workflows/pull_requests.yml
  docs/FAQ.md
Labels: documentation, provider, size/XS, tests

#16193 r/iam_saml_provider - add sweeper
  aws/resource_aws_iam_saml_provider.go
  aws/resource_aws_iam_saml_provider_test.go
Labels: service/iam, size/M, technical-debt, tests

#16232 resource/aws_glue_dev_endpoint: Catch additional IAM eventual consistency error and fix VPC testing
  aws/internal/service/glue/waiter/status.go
  aws/resource_aws_glue_dev_endpoint.go
  aws/resource_aws_glue_dev_endpoint_test.go
Labels: bug, service/glue, size/S, tests

#16245 d-wafv2_web_acl-documentation: Update wafv2_web_acl.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, service/wafv2, size/XS

#16227 docs: Fix heading not matching TOC
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, size/XS

#15481 Use the current credentials when trying to get the bucket region
  aws/data_source_aws_s3_bucket.go
  aws/resource_aws_s3_bucket.go
Labels: bug, partition/aws-cn, service/s3, size/XS

#16140 tests/resource/aws_cognito_user_pool_domain: Remove hardcoded region handling and create public ACM Certificate
  aws/cognito_user_pool_domain_test.go
  aws/resource_aws_acm_certificate_test.go
  aws/resource_aws_cognito_user_pool_domain_test.go
  docs/MAINTAINING.md
Labels: documentation, partition/aws-us-gov, provider, service/acm, service/cognito, size/L, technical-debt, tests

#16220 tests/resource/aws_api_gateway_integration: Migrate to SDK TypeSet fu…
  aws/resource_aws_api_gateway_integration_test.go
Labels: needs-triage, service/apigateway, size/XS, tests

#16221 tests/resource/aws_apigatewayv2: Migrate to SDK TypeSet Function
  aws/resource_aws_apigatewayv2_api_test.go
  aws/resource_aws_apigatewayv2_authorizer_test.go
  aws/resource_aws_apigatewayv2_stage_test.go
Labels: needs-triage, service/apigatewayv2, size/M, tests

#16223 tests/resource/aws_appmesh: Migrate to SDK TypeSet Function
  aws/resource_aws_appmesh_route_test.go
  aws/resource_aws_appmesh_virtual_gateway_test.go
  aws/resource_aws_appmesh_virtual_node_test.go
Labels: needs-triage, service/appmesh, size/M, tests

#13619 r/api_gateway_rest_api_policy - add new resource
  aws/provider.go
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_api_gateway_rest_api_policy.go
  aws/resource_aws_api_gateway_rest_api_policy_test.go
  website/docs/r/api_gateway_rest_api_policy.html.markdown
Labels: documentation, new-resource, provider, service/apigateway, size/XL, tests

#16222 tests/resource/aws_appautoscaling_policy: Migrate to SDK TypeSet Func…
  aws/resource_aws_appautoscaling_policy_test.go
Labels: needs-triage, service/applicationautoscaling, size/XS, tests

#13654 aws_msk_cluster: support in-place Kafka version upgrade
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_msk_cluster_test.go
Labels: enhancement, service/kafka, size/L, tests

#16057 docs/added length constraints
  website/docs/r/apigatewayv2_api.html.markdown
  website/docs/r/apigatewayv2_authorizer.html.markdown
  website/docs/r/apigatewayv2_deployment.html.markdown
  website/docs/r/apigatewayv2_domain_name.html.markdown
  website/docs/r/apigatewayv2_integration.html.markdown
  website/docs/r/apigatewayv2_model.html.markdown
  website/docs/r/apigatewayv2_route.html.markdown
  website/docs/r/apigatewayv2_stage.html.markdown
  website/docs/r/apigatewayv2_vpc_link.html.markdown
  website/docs/r/appautoscaling_policy.html.markdown
  website/docs/r/appmesh_gateway_route.html.markdown
  website/docs/r/appmesh_mesh.html.markdown
  website/docs/r/appmesh_route.html.markdown
  website/docs/r/appmesh_virtual_gateway.html.markdown
  website/docs/r/appmesh_virtual_node.html.markdown
  website/docs/r/appmesh_virtual_router.html.markdown
  website/docs/r/appmesh_virtual_service.html.markdown
Labels: documentation, service/apigatewayv2, service/applicationautoscaling, service/appmesh, size/M

#16224 tests/resource/aws_autoscaling: Migrate to SDK TypeSet Function
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_autoscaling_policy_test.go
Labels: needs-triage, service/autoscaling, size/XS, tests

#16235 tests/resource/aws_waf: Migrate to SDK TypeSet Function
  aws/resource_aws_waf_byte_match_set_test.go
  aws/resource_aws_waf_geo_match_set_test.go
  aws/resource_aws_waf_ipset_test.go
  aws/resource_aws_waf_rate_based_rule_test.go
  aws/resource_aws_waf_regex_match_set_test.go
  aws/resource_aws_waf_regex_pattern_set_test.go
  aws/resource_aws_waf_rule_group_test.go
  aws/resource_aws_waf_rule_test.go
  aws/resource_aws_waf_size_constraint_set_test.go
  aws/resource_aws_waf_sql_injection_match_set_test.go
  aws/resource_aws_waf_xss_match_set_test.go
Labels: needs-triage, service/waf, size/M, tests

#16236 tests/resource/aws_wafregional: Migrate to SDK TypeSet Function
  aws/resource_aws_wafregional_byte_match_set_test.go
  aws/resource_aws_wafregional_geo_match_set_test.go
  aws/resource_aws_wafregional_ipset_test.go
  aws/resource_aws_wafregional_rate_based_rule_test.go
  aws/resource_aws_wafregional_regex_match_set_test.go
  aws/resource_aws_wafregional_regex_pattern_set_test.go
  aws/resource_aws_wafregional_rule_group_test.go
  aws/resource_aws_wafregional_rule_test.go
  aws/resource_aws_wafregional_size_constraint_set_test.go
  aws/resource_aws_wafregional_sql_injection_match_set_test.go
  aws/resource_aws_wafregional_web_acl_test.go
  aws/resource_aws_wafregional_xss_match_set_test.go
Labels: needs-triage, service/waf, size/M, tests

#16169 New Resource: aws_imagebuilder_component
  aws/data_source_aws_imagebuilder_component.go
  aws/data_source_aws_imagebuilder_component_test.go
  aws/provider.go
  aws/resource_aws_imagebuilder_component.go
  aws/resource_aws_imagebuilder_component_test.go
  website/allowed-subcategories.txt
  website/docs/d/imagebuilder_component.html.markdown
  website/docs/r/imagebuilder_component.html.markdown
Labels: new-data-source, new-resource, provider, service/imagebuilder, size/XXL, tests

#16180 New Resource: aws_imagebuilder_distribution_configuration
  aws/data_source_aws_imagebuilder_distribution_configuration.go
  aws/data_source_aws_imagebuilder_distribution_configuration_test.go
  aws/provider.go
  aws/resource_aws_imagebuilder_distribution_configuration.go
  aws/resource_aws_imagebuilder_distribution_configuration_test.go
  website/docs/d/imagebuilder_distribution_configuration.html.markdown
  website/docs/r/imagebuilder_distribution_configuration.html.markdown
Labels: new-data-source, new-resource, provider, service/imagebuilder, size/XXL, tests

#16237 tests/resource/aws_wafv2: Migrate to SDK TypeSet Function
  aws/resource_aws_wafv2_ip_set_test.go
  aws/resource_aws_wafv2_regex_pattern_set_test.go
  aws/resource_aws_wafv2_rule_group_test.go
  aws/resource_aws_wafv2_web_acl_logging_configuration_test.go
  aws/resource_aws_wafv2_web_acl_test.go
Labels: needs-triage, service/wafv2, size/L, tests

#16072 r/storagegateway_nfs_file_share - support `file_share_name`
  aws/resource_aws_storagegateway_nfs_file_share.go
  aws/resource_aws_storagegateway_nfs_file_share_test.go
  website/docs/r/storagegateway_nfs_file_share.html.markdown
Labels: enhancement, service/storagegateway, size/M, tests

#16052 r/glue_catalog_table - add `parameters` argument to `columns` + validations
  aws/resource_aws_glue_catalog_table.go
  aws/resource_aws_glue_catalog_table_test.go
  website/docs/r/glue_catalog_table.html.markdown
Labels: documentation, enhancement, service/glue, size/XL, tests

#16238 tests/provider: Migrate to SDK TypeSet Function (A-C)
  aws/resource_aws_autoscalingplans_scaling_plan_test.go
  aws/resource_aws_backup_plan_test.go
  aws/resource_aws_cloudformation_stack_test.go
  aws/resource_aws_cloudfront_distribution_test.go
  aws/resource_aws_codebuild_project_test.go
  aws/resource_aws_codedeploy_deployment_group_test.go
  aws/resource_aws_cognito_identity_pool_test.go
  aws/resource_aws_cognito_user_pool_client_test.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/resource_aws_config_config_rule_test.go
Labels: needs-triage, service/autoscalingplans, service/backup, service/cloudformation, service/cloudfront, service/codebuild, service/codedeploy, service/cognito, service/configservice, size/L, tests

#14020 Fix for issue #13538
  aws/resource_aws_eks_fargate_profile.go
  aws/resource_aws_eks_fargate_profile_test.go
Labels: bug, service/eks, size/M, tests

#16186 New Resource: aws_imagebuilder_infrastructure_configuration
  aws/data_source_aws_imagebuilder_infrastructure_configuration.go
  aws/data_source_aws_imagebuilder_infrastructure_configuration_test.go
  aws/provider.go
  aws/resource_aws_imagebuilder_infrastructure_configuration.go
  aws/resource_aws_imagebuilder_infrastructure_configuration_test.go
  website/docs/d/imagebuilder_infrastructure_configuration.html.markdown
  website/docs/r/imagebuilder_infrastructure_configuration.html.markdown
Labels: new-data-source, new-resource, provider, service/imagebuilder, size/XXL, tests

#16271 docs: Remediate and enable MD010 lint
  .markdownlint.yml
  website/docs/d/elasticsearch_domain.html.markdown
  website/docs/r/api_gateway_account.html.markdown
  website/docs/r/api_gateway_authorizer.html.markdown
  website/docs/r/api_gateway_stage.html.markdown
  website/docs/r/cloudwatch_event_bus.html.markdown
  website/docs/r/cloudwatch_event_rule.html.markdown
  website/docs/r/cloudwatch_event_target.html.markdown
  website/docs/r/cloudwatch_log_metric_filter.html.markdown
  website/docs/r/config_config_rule.html.markdown
  website/docs/r/config_configuration_recorder.html.markdown
  website/docs/r/config_delivery_channel.html.markdown
  website/docs/r/elasticsearch_domain.html.markdown
  website/docs/r/iam_account_password_policy.html.markdown
  website/docs/r/iam_role_policy_attachment.markdown
  website/docs/r/kms_key.html.markdown
  website/docs/r/lambda_permission.html.markdown
  website/docs/r/waf_ipset.html.markdown
  website/docs/r/waf_regex_match_set.html.markdown
  website/docs/r/wafregional_regex_match_set.html.markdown
Labels: documentation, service/apigateway, service/cloudwatchevents, service/cloudwatchlogs, service/configservice, service/elasticsearch, service/eventbridge, service/iam, service/kms, service/lambda, service/waf, size/L, tests

#16263 Update documentation to include required parameter
  website/docs/r/ecs_capacity_provider.html.markdown
Labels: documentation, service/ecs, size/XS

#16121 r/aws_globalaccelerator_endpoint_group: Support port overrides
  aws/internal/service/globalaccelerator/finder/finder.go
  aws/resource_aws_globalaccelerator_endpoint_group.go
  aws/resource_aws_globalaccelerator_endpoint_group_test.go
  website/docs/r/globalaccelerator_endpoint_group.html.markdown
Labels: service/globalaccelerator, size/XL, tests

#16133 r/aws_apigatewayv2_stage: Correctly handle deletion of route_settings
  aws/resource_aws_api_gateway_account_test.go
  aws/resource_aws_apigatewayv2_stage.go
  aws/resource_aws_apigatewayv2_stage_test.go
Labels: service/apigateway, service/apigatewayv2, size/XL, tests

#16290 r/aws_apigatewayv2_stage: Fix merge error in acceptance tests
  aws/resource_aws_apigatewayv2_stage_test.go
Labels: service/apigatewayv2, size/XS, tests

#16277 r/networkfirewall: new resources
  .hashibot.hcl
  aws/config.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/internal/service/networkfirewall/finder/finder.go
  aws/internal/service/networkfirewall/waiter/status.go
  aws/internal/service/networkfirewall/waiter/waiter.go
  aws/networkfirewall_helpers.go
  aws/provider.go
  aws/resource_aws_networkfirewall_firewall.go
  aws/resource_aws_networkfirewall_firewall_policy.go
  aws/resource_aws_networkfirewall_firewall_policy_test.go
  aws/resource_aws_networkfirewall_firewall_test.go
  aws/resource_aws_networkfirewall_logging_configuration.go
  aws/resource_aws_networkfirewall_logging_configuration_test.go
  aws/resource_aws_networkfirewall_rule_group.go
  aws/resource_aws_networkfirewall_rule_group_test.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/r/networkfirewall_firewall.html.markdown
  website/docs/r/networkfirewall_firewall_policy.html.markdown
  website/docs/r/networkfirewall_logging_configuration.html.markdown
  website/docs/r/networkfirewall_rule_group.html.markdown
Labels: new-resource, provider, size/XXL, tests

#16278 tests/resource/aws_msk_cluster: Randomize resource naming in TestAccAWSMskCluster_LoggingInfo
  aws/resource_aws_msk_cluster_test.go
Labels: service/kafka, size/XS, technical-debt, tests

#16240 tests/provider: Migrate to SDK TypeSet Function (DB)
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_db_option_group_test.go
  aws/resource_aws_db_parameter_group_test.go
  aws/resource_aws_db_proxy_default_target_group_test.go
  aws/resource_aws_db_proxy_test.go
  aws/resource_aws_db_security_group_test.go
Labels: needs-triage, service/rds, size/L, tests

#14451 aws_workspaces_directory: Assign IP Group
  aws/resource_aws_workspaces_directory.go
  aws/resource_aws_workspaces_directory_test.go
  aws/resource_aws_workspaces_ip_group.go
  website/docs/r/workspaces_directory.html.markdown
Labels: documentation, service/workspaces, size/L, tests

#16265 resource/aws_accessanalyzer_analyzer: Adds correct validation to analyzer_name
  aws/resource_aws_accessanalyzer_analyzer.go
Labels: enhancement, service/accessanalyzer, size/XS

#16258 tests/provider: Fix and enable AT004 lint check
  GNUmakefile
  aws/data_source_aws_eip_test.go
  aws/provider_test.go
  aws/resource_aws_eip_test.go
  aws/resource_aws_lightsail_domain_test.go
  aws/resource_aws_opsworks_stack_test.go
Labels: provider, service/ec2, service/lightsail, service/opsworks, size/XS, technical-debt, tests

#16231 tests/resource/aws_codebuild_project: Remove WINDOWS_CONTAINER acceptance test
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: service/codebuild, size/S, technical-debt, tests

#16254 tests/provider: Fix query returned no results errors (SSM, Launch Template)
  aws/resource_aws_launch_template_test.go
  aws/resource_aws_ssm_association_test.go
  aws/resource_aws_ssm_document_test.go
Labels: partition/aws-us-gov, service/ec2, service/ssm, size/L, tests

#16229 tests/provider: Fix query returned no results (instance)
  aws/data_source_aws_instances_test.go
  aws/resource_aws_instance_test.go
Labels: service/ec2, size/L, tests

#16038 tests/provider: Fix hardcoded RDS versions
  aws/resource_aws_rds_cluster_test.go
Labels: partition/aws-us-gov, service/rds, size/L, tests

#16314 resource/aws_lb: Fix enable_cross_zone_load_balancing argument handling with Gateway Load Balancers
  aws/resource_aws_lb.go
  aws/resource_aws_lb_test.go
Labels: bug, service/elbv2, size/M, tests

#15989 Add `waiter` functions for CloudFormation Stack and CloudFormation Stack Set operations
  aws/internal/service/cloudformation/lister/list.go
  aws/internal/service/cloudformation/waiter/status.go
  aws/internal/service/cloudformation/waiter/waiter.go
  aws/resource_aws_cloudformation_stack.go
  aws/resource_aws_cloudformation_stack_set.go
  aws/resource_aws_cloudformation_stack_set_instance.go
  aws/resource_aws_cloudformation_stack_set_instance_test.go
  aws/resource_aws_cloudformation_stack_set_test.go
  aws/resource_aws_cloudformation_stack_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: service/cloudformation, service/s3, size/XXL, tests

#16195 r/glue_crawler - added more docs and example on `configuration` argument
  website/docs/r/glue_crawler.html.markdown
Labels: service/glue, size/XS
