Repository hashicorp/terraform-provider-aws, pull requests merged in 2020-04, with the labels that each got.

#12457 service/docdb: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_docdb_cluster.go
  aws/resource_aws_docdb_cluster_instance.go
  aws/resource_aws_docdb_cluster_parameter_group.go
  aws/resource_aws_docdb_subnet_group.go
Labels: service/docdb, size/XS, technical-debt

#12458 service/neptune: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_neptune_cluster.go
  aws/resource_aws_neptune_cluster_instance.go
  aws/resource_aws_neptune_cluster_parameter_group.go
  aws/resource_aws_neptune_event_subscription.go
  aws/resource_aws_neptune_parameter_group.go
  aws/resource_aws_neptune_subnet_group.go
Labels: service/neptune, size/S, technical-debt

#12459 service/elb: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_elb.go
  aws/resource_aws_proxy_protocol_policy.go
Labels: service/elb, size/S, technical-debt

#12460 service/route53resolver: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_route53_resolver_endpoint.go
  aws/resource_aws_route53_resolver_rule.go
Labels: service/route53resolver, size/XS, technical-debt

#12461 service/redshift: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_redshift_event_subscription.go
  aws/resource_aws_redshift_parameter_group.go
  aws/resource_aws_redshift_snapshot_copy_grant.go
  aws/resource_aws_redshift_snapshot_schedule.go
  aws/resource_aws_redshift_subnet_group.go
Labels: service/redshift, size/S, technical-debt

#12463 resource/aws_directory_service_directory: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_directory_service_directory.go
Labels: service/directoryservice, size/XS, technical-debt

#12464 resource/aws_autoscaling_group: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_autoscaling_group.go
Labels: service/autoscaling, size/XS, technical-debt

#12465 service/ec2: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_ami.go
  aws/resource_aws_ami_copy.go
  aws/resource_aws_ami_from_instance.go
  aws/resource_aws_default_network_acl.go
  aws/resource_aws_ec2_client_vpn_endpoint.go
  aws/resource_aws_instance.go
  aws/resource_aws_network_acl.go
  aws/resource_aws_network_interface.go
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_subnet.go
  aws/resource_aws_vpc.go
  aws/resource_aws_vpc_endpoint_service.go
Labels: service/ec2, size/M, technical-debt

#12466 resource/aws_lambda_function: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_lambda_function.go
Labels: service/lambda, size/XS, technical-debt

#12467 resource/aws_api_gateway_stage: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_api_gateway_stage.go
Labels: service/apigateway, size/XS, technical-debt

#12468 resource/aws_lb_listener: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_lb_listener_rule.go
Labels: service/elbv2, size/XS, technical-debt

#12469 resource/aws_codestarnotifications_notification_rule: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_codestarnotifications_notification_rule.go
Labels: service/codestarnotifications, size/XS, technical-debt

#12590 typo: want option is buildspec
  aws/resource_aws_codebuild_project.go
Labels: bug, service/codebuild, size/XS

#12560 Fix #12555: Error "grant not found for key id"
  aws/resource_aws_kms_grant.go
  aws/resource_aws_kms_grant_test.go
Labels: bug, service/kms, size/S, tests

#12575 r/elastic_transcoder_pipeline - remove `getStringPtr` calls + refactor tests
  aws/resource_aws_elastic_transcoder_pipeline.go
  aws/resource_aws_elastic_transcoder_pipeline_test.go
Labels: needs-triage, service/elastic-transcoder, size/XL, tests

#12596 Do not swallow error when detaching volume
  aws/resource_aws_volume_attachment.go
Labels: bug, service/ec2, size/XS

#12581 r/elastic_transcoder_preset remove `stringptr` + refactor
  aws/resource_aws_elastic_transcoder_preset.go
  aws/resource_aws_elastic_transcoder_preset_test.go
  aws/structure.go
Labels: service/elastic-transcoder, size/XL, technical-debt, tests

#12389 Fix EMR Cluster bootstrap action ordering
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_cluster_test.go
  website/docs/r/emr_cluster.html.markdown
Labels: bug, documentation, service/emr, size/XL, tests

#12324 fix S3 ACL permissions
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XS

#12614 resource/aws_s3_bucket: Prevent various panics with empty configuration blocks
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
Labels: bug, crash, service/s3, size/L, tests

#12626 fix lint error for aws_s3_bucket resource doc
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XS

#12462 service/sagemaker: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_sagemaker_endpoint.go
  aws/resource_aws_sagemaker_model.go
  aws/resource_aws_sagemaker_notebook_instance.go
Labels: service/sagemaker, size/XS, technical-debt

#12549 Add CodePipeline cross-region action support
  aws/resource_aws_codepipeline.go
  aws/resource_aws_codepipeline_test.go
  aws/resource_aws_codepipeline_webhook_test.go
  website/docs/r/codepipeline.markdown
Labels: documentation, enhancement, service/codepipeline, size/XXL, tests

#12649 fix attribute name typo deletion_protection
  website/docs/r/neptune_cluster.html.markdown
Labels: documentation, service/neptune, size/XS

#12672 fix documentation for aws_launch_template EBS block kms_key_id property
  website/docs/r/launch_template.html.markdown
Labels: documentation, service/ec2, size/XS

#12687 Fix broken link to Cloudtrail Data Events
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, service/cloudtrail, size/XS

#12641 r/elastic_transcoder - remove setmap
  aws/resource_aws_elastic_transcoder_pipeline.go
  aws/resource_aws_elastic_transcoder_preset.go
  aws/structure.go
Labels: service/elastic-transcoder, size/L, technical-debt

#6468 Cloudfront Distribution Data Source (#6586)
  aws/data_source_aws_cloudfront_distribution.go
  aws/data_source_aws_cloudfront_distribution_test.go
  aws/provider.go
  aws/resource_aws_cloudfront_distribution.go
  website/aws.erb
  website/docs/d/cloudfront_distribution.html.markdown
Labels: documentation, new-data-source, provider, service/cloudfront, size/L, tests

#11232 resource/aws_appautoscaling_policy: Support importing policies for DynamoDB table indexes
  aws/resource_aws_appautoscaling_policy.go
  aws/resource_aws_appautoscaling_policy_test.go
Labels: bug, service/applicationautoscaling, size/XS, tests

#10350 allow snapshot copy grants to be imported
  aws/resource_aws_redshift_snapshot_copy_grant.go
Labels: enhancement, service/redshift, size/XS

#12705 Fix example for `notification_type` in `r/aws_ssm_maintenance_window_task
  website/docs/r/ssm_maintenance_window_task.html.markdown
Labels: documentation, service/ssm, size/XS

#12700 Fix for creating an RDS read replica in shared subnets.
  aws/resource_aws_db_instance.go
Labels: bug, service/rds, size/XS

#12674 enable s20 lint check and fix issues
  GNUmakefile
  aws/resource_aws_ami.go
  aws/resource_aws_ami_copy.go
  aws/resource_aws_ami_from_instance.go
  aws/resource_aws_inspector_assessment_template.go
Labels: service/ec2, service/inspector, size/XS, technical-debt

#12295 r/aws_spot_fleet_request - add support for tagging + validations
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
Labels: enhancement, service/ec2, size/XL, tests

#11683 r/cloudhsmv2_cluster - support tag on create
  .github/CONTRIBUTING.md
  aws/resource_aws_cloudhsm2_cluster.go
  aws/resource_aws_cloudhsm2_cluster_test.go
Labels: enhancement, service/cloudhsmv2, size/S, tests

#11568 r/aws_egress_only_internet_gateway: Add tags argument
  aws/resource_aws_egress_only_internet_gateway.go
  aws/resource_aws_egress_only_internet_gateway_test.go
  website/docs/r/egress_only_internet_gateway.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#12712 AWS Lambda support for .NET Core 3.1
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
Labels: enhancement, service/lambda, size/S, tests

#9228 New resource: aws_apigatewayv2_authorizer
  aws/provider.go
  aws/resource_aws_apigatewayv2_authorizer.go
  aws/resource_aws_apigatewayv2_authorizer_test.go
  website/aws.erb
  website/docs/r/apigatewayv2_authorizer.html.markdown
Labels: documentation, new-resource, provider, service/apigateway, service/apigatewayv2, size/XL, tests

#8949 New resource: aws_apigatewayv2_integration
  aws/provider.go
  aws/resource_aws_apigatewayv2_integration.go
  aws/resource_aws_apigatewayv2_integration_test.go
  website/aws.erb
  website/docs/r/apigatewayv2_integration.html.markdown
Labels: documentation, new-resource, provider, service/apigateway, service/apigatewayv2, size/XL, tests

#8912 New resource: aws_apigatewayv2_model
  aws/provider.go
  aws/resource_aws_apigatewayv2_model.go
  aws/resource_aws_apigatewayv2_model_test.go
  website/aws.erb
  website/docs/r/apigatewayv2_model.html.markdown
Labels: documentation, new-resource, provider, service/apigateway, service/apigatewayv2, size/XL, tests

#12746 Fix missing side navigation links: aws_apigatewayv2_integration and aws_apigatewayv2_model
  website/aws.erb
Labels: documentation, size/XS

#12401 resource/aws_rds_global_cluster: Add aurora-postgresql to engine argument plan-time validation
  aws/resource_aws_rds_global_cluster.go
  aws/resource_aws_rds_global_cluster_test.go
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, enhancement, service/rds, size/XS, tests

#12717 service/acm: Update acceptance tests to use ARN testing check functions
  aws/data_source_aws_acm_certificate_test.go
  aws/resource_aws_acm_certificate_test.go
  aws/resource_aws_acm_certificate_validation_test.go
Labels: service/acm, size/S, technical-debt, tests

#12718 service/ecr: Update acceptance tests to use ARN testing check functions
  aws/data_source_aws_ecr_repository_test.go
Labels: service/ecr, size/XS, technical-debt, tests

#12719 service/ecs: Update acceptance tests to use ARN testing check functions
  aws/data_source_aws_ecs_task_definition_test.go
Labels: service/ecs, size/XS, technical-debt, tests

#12720 service/api_gateway: Update acceptance tests to use ARN testing check functions
  aws/resource_aws_api_gateway_account_test.go
  aws/resource_aws_api_gateway_stage_test.go
Labels: service/apigateway, size/XS, technical-debt, tests

#12738 resource/aws_kms_key: Prevent eventual consistency related errors on creation
  aws/resource_aws_kms_key.go
Labels: bug, service/kms, size/M

#12735 provider: Add SERVICECreateTags generator to keyvaluetags, refactor EC2 resources to use keyvaluetags.CreateEc2Tags
  aws/internal/keyvaluetags/create_tags_gen.go
  aws/internal/keyvaluetags/generators/createtags/main.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/resource_aws_ami.go
  aws/resource_aws_ami_copy.go
  aws/resource_aws_ami_from_instance.go
  aws/resource_aws_customer_gateway.go
  aws/resource_aws_default_security_group.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter.go
  aws/resource_aws_egress_only_internet_gateway.go
  aws/resource_aws_eip.go
  aws/resource_aws_internet_gateway.go
  aws/resource_aws_key_pair.go
  aws/resource_aws_network_acl.go
  aws/resource_aws_network_interface.go
  aws/resource_aws_placement_group.go
  aws/resource_aws_route_table.go
  aws/resource_aws_security_group.go
  aws/resource_aws_spot_instance_request.go
  aws/resource_aws_subnet.go
  aws/resource_aws_vpc.go
  aws/resource_aws_vpc_dhcp_options.go
  aws/resource_aws_vpc_peering_connection.go
  aws/resource_aws_vpc_peering_connection_accepter.go
  aws/resource_aws_vpn_connection.go
  aws/resource_aws_vpn_gateway.go
Labels: bug, regression, service/ec2, size/XXL

#12760 r/aws_ecs_task_definition: Add sweeper
  aws/resource_aws_ecs_task_definition_test.go
Labels: service/ecs, size/S, technical-debt, tests

#12782 fix: failing nil pointer checks
  aws/resource_aws_autoscaling_notification.go
  aws/resource_aws_emr_cluster.go
Labels: service/autoscaling, service/emr, size/XS, technical-debt

#12778 Fix and enable tfproviderlint S024 check: ForceNew is extraneous in data source schema attributes
  GNUmakefile
  aws/data_source_aws_ami.go
  aws/data_source_aws_ami_ids.go
  aws/data_source_aws_autoscaling_group.go
  aws/data_source_aws_batch_compute_environment.go
  aws/data_source_aws_batch_job_queue.go
  aws/data_source_aws_codecommit_repository.go
  aws/data_source_aws_common_schema.go
  aws/data_source_aws_db_instance.go
  aws/data_source_aws_db_snapshot.go
  aws/data_source_aws_ebs_snapshot.go
  aws/data_source_aws_ebs_snapshot_ids.go
  aws/data_source_aws_ebs_volume.go
  aws/data_source_aws_ecr_repository.go
  aws/data_source_aws_ecs_cluster.go
  aws/data_source_aws_ecs_container_definition.go
  aws/data_source_aws_ecs_service.go
  aws/data_source_aws_ecs_task_definition.go
  aws/data_source_aws_efs_file_system.go
  aws/data_source_aws_efs_mount_target.go
  aws/data_source_aws_eks_cluster.go
  aws/data_source_aws_elastic_beanstalk_application.go
  aws/data_source_aws_elastic_beanstalk_solution_stack.go
  aws/data_source_aws_elasticache_cluster.go
  aws/data_source_aws_iam_server_certificate.go
  aws/data_source_aws_instance.go
  aws/data_source_aws_kms_secret.go
  aws/data_source_aws_kms_secrets.go
  aws/data_source_aws_lambda_invocation.go
  aws/data_source_aws_secretsmanager_secret_version.go
Labels: service/autoscaling, service/batch, service/codecommit, service/ec2, service/ecr, service/ecs, service/efs, service/eks, service/elasticache, service/elasticbeanstalk, service/iam, service/kms, service/lambda, service/rds, service/secretsmanager, size/S

#12800 Update ValidateFunc for dlm lifecycle policy times
  aws/resource_aws_dlm_lifecycle_policy.go
Labels: bug, service/dlm, size/XS

#12802 update_docs_rt_type
  website/docs/d/route_tables.html.markdown
Labels: documentation, service/ec2, size/XS

#12797 deps: Vendor github.com/aws/aws-sdk-go/service/route53domains
  .hashibot.hcl
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/route53domains/api.go
  vendor/github.com/aws/aws-sdk-go/service/route53domains/doc.go
  vendor/github.com/aws/aws-sdk-go/service/route53domains/errors.go
  vendor/github.com/aws/aws-sdk-go/service/route53domains/service.go
  vendor/modules.txt
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#12342 DynamoDB V2019.11.21
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
  aws/structure.go
Labels: enhancement, service/dynamodb, size/XL, tests

#12819 r/aws_ec2_client_vpn_endpoint: add multiple 'authentication_options' …
  aws/resource_aws_ec2_client_vpn_endpoint.go
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
Labels: enhancement, service/ec2, size/L, tests

#9365 New resource: aws_api_gatewayv2_integration_response
  aws/aws_apigatewayv2_integration_response.go
  aws/aws_apigatewayv2_integration_response_test.go
  aws/provider.go
  website/aws.erb
  website/docs/r/apigatewayv2_integration_response.html.markdown
Labels: documentation, provider, service/apigateway, service/apigatewayv2, size/XL, tests

#12824 Update pinpoint_email_channel.markdown
  website/docs/r/pinpoint_email_channel.markdown
Labels: documentation, service/pinpoint, size/XS

#12269 New data source - aws_regions
  aws/data_source_aws_regions.go
  aws/data_source_aws_regions_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/regions.html.markdown
Labels: documentation, new-data-source, provider, service/ec2, size/L, tests, waiting-response

#11923 r/aws_backup_plan: Adding Copy Action support
  aws/resource_aws_backup_plan.go
  aws/resource_aws_backup_plan_test.go
  website/docs/r/backup_plan.html.markdown
Labels: documentation, enhancement, service/backup, size/XL, tests, waiting-response

#10705 Various aws_cognito_identity_provider improvements
  aws/resource_aws_cognito_identity_provider.go
  aws/resource_aws_cognito_identity_provider_test.go
Labels: enhancement, service/cognito, size/M, tests, waiting-response

#12781 Fix and enable tfproviderlint S023 check
  GNUmakefile
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_migrate.go
  aws/resource_aws_docdb_cluster.go
  aws/resource_aws_neptune_cluster.go
  aws/resource_aws_rds_cluster.go
Labels: service/docdb, service/neptune, service/rds, size/XS, technical-debt

#12831 Rename aws_apigatewayv2_integration_response resource source files to match standard naming convention
  aws/resource_aws_apigatewayv2_integration_response.go
  aws/resource_aws_apigatewayv2_integration_response_test.go
Labels: service/apigatewayv2, size/XS, tests

#12827 Fixing a Typo
  website/docs/r/ram_resource_share.markdown
Labels: documentation, service/ram, size/XS

#7170 Add dms_event_subscription resource
  aws/provider.go
  aws/resource_aws_dms_event_subscription.go
  aws/resource_aws_dms_event_subscription_test.go
  website/docs/r/dms_event_subscription.html.markdown
Labels: documentation, new-resource, provider, service/databasemigrationservice, size/XL, tests, waiting-response

#8881 New resource: aws_apigatewayv2_route
  aws/provider.go
  aws/resource_aws_apigatewayv2_route.go
  aws/resource_aws_apigatewayv2_route_test.go
  website/aws.erb
  website/docs/r/apigatewayv2_integration.html.markdown
  website/docs/r/apigatewayv2_route.html.markdown
Labels: documentation, new-resource, provider, service/apigatewayv2, size/XL, tests

#11792 Allow Elasticsearch to be used as an engine for DMS Endpoint
  aws/resource_aws_dms_endpoint.go
  aws/resource_aws_dms_endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, enhancement, service/databasemigrationservice, size/L, tests

#8633 aws_dms_endpoint: Add Kinesis as a target endpoint type
  aws/resource_aws_dms_endpoint.go
  aws/resource_aws_dms_endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, enhancement, service/databasemigrationservice, size/L, tests

#9373 New resource: aws_apigatewayv2_route_response
  aws/provider.go
  aws/resource_aws_apigatewayv2_route_response.go
  aws/resource_aws_apigatewayv2_route_response_test.go
  website/aws.erb
  website/docs/r/apigatewayv2_route_response.html.markdown
Labels: documentation, new-resource, provider, service/apigatewayv2, size/XL, tests

#9245 New resource: aws_apigatewayv2_deployment
  aws/internal/service/apigatewayv2/waiter/status.go
  aws/internal/service/apigatewayv2/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_apigatewayv2_deployment.go
  aws/resource_aws_apigatewayv2_deployment_test.go
  website/aws.erb
  website/docs/r/apigatewayv2_deployment.html.markdown
Labels: documentation, new-resource, provider, service/apigatewayv2, size/XL, tests

#12765 service/servicediscovery: Refactor waiter logic into separate package, add test sweepers
  aws/internal/service/servicediscovery/waiter/status.go
  aws/internal/service/servicediscovery/waiter/waiter.go
  aws/resource_aws_service_discovery_http_namespace.go
  aws/resource_aws_service_discovery_http_namespace_test.go
  aws/resource_aws_service_discovery_private_dns_namespace.go
  aws/resource_aws_service_discovery_private_dns_namespace_test.go
  aws/resource_aws_service_discovery_public_dns_namespace.go
  aws/resource_aws_service_discovery_public_dns_namespace_test.go
  aws/resource_aws_service_discovery_service.go
  aws/resource_aws_service_discovery_service_test.go
Labels: service/servicediscovery, size/XL, tests

#12855 test_update_rds-ca-2019
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_rds_cluster_instance_test.go
Labels: service/rds, size/XS, tests, waiting-response

#12857 .github/workflows/issues: Ignore collaborators for needs-triage issue labeling
  .github/workflows/issues.yml
Labels: size/XS, technical-debt

#12620 Change EC2 Instance root volume size without re-creating
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_spot_instance_request.go
  aws/resource_aws_spot_instance_request_test.go
  aws/resource_aws_ssm_association_test.go
  website/docs/d/instance.html.markdown
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, service/ssm, size/XL, tests

#9232 New resource: aws_apigatewayv2_stage
  aws/provider.go
  aws/resource_aws_apigatewayv2_stage.go
  aws/resource_aws_apigatewayv2_stage_test.go
  aws/structure.go
  aws/structure_test.go
  website/aws.erb
  website/docs/r/apigatewayv2_stage.html.markdown
Labels: documentation, new-resource, provider, service/apigatewayv2, size/XXL, tests

#9391 New resource: aws_apigatewayv2_domain_name
  aws/provider.go
  aws/resource_aws_apigatewayv2_domain_name.go
  aws/resource_aws_apigatewayv2_domain_name_test.go
  website/aws.erb
  website/docs/r/apigatewayv2_domain_name.html.markdown
Labels: documentation, new-resource, provider, service/apigatewayv2, size/XL, tests

#12577 New resource: aws_apigatewayv2_vpc_link
  aws/internal/service/apigatewayv2/waiter/status.go
  aws/internal/service/apigatewayv2/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_apigatewayv2_vpc_link.go
  aws/resource_aws_apigatewayv2_vpc_link_test.go
  website/aws.erb
  website/docs/r/api_gateway_vpc_link.html.markdown
  website/docs/r/apigatewayv2_vpc_link.html.markdown
Labels: documentation, provider, service/apigateway, service/apigatewayv2, size/XL, tests

#12452 r/aws_apigatewayv2_api: Add CORS configuration and quick start attributes
  aws/resource_aws_apigatewayv2_api.go
  aws/resource_aws_apigatewayv2_api_test.go
  aws/structure.go
  website/docs/r/apigatewayv2_api.html.markdown
Labels: documentation, service/apigatewayv2, size/XL, tests

#12733 service/appautoscaling: Update acceptance tests to use ARN testing check functions
  aws/resource_aws_appautoscaling_target_test.go
Labels: service/applicationautoscaling, size/XS, technical-debt, tests

#12731 service/cloudfront: Update acceptance tests to use ARN testing check functions
  aws/resource_aws_cloudfront_distribution_test.go
  aws/resource_aws_cloudfront_origin_access_identity_test.go
Labels: service/cloudfront, size/XS, technical-debt, tests

#12902 aws_lambda_alias resource: suppress diff for function_name
  aws/resource_aws_lambda_alias.go
  aws/resource_aws_lambda_alias_test.go
Labels: enhancement, service/lambda, size/M, tests

#12899 Update dms_endpoint.html.markdown
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, service/databasemigrationservice, size/XS

#10542 Add support for force destroy unmanaged signing certificate for aws_iam_user resource
  aws/resource_aws_iam_user.go
  aws/resource_aws_iam_user_test.go
Labels: bug, service/iam, size/M, tests

#9461 New resource: aws_apigatewayv2_api_mapping
  aws/provider.go
  aws/resource_aws_apigatewayv2_api_mapping.go
  aws/resource_aws_apigatewayv2_api_mapping_test.go
  aws/resource_aws_apigatewayv2_api_test.go
  website/aws.erb
  website/docs/r/apigatewayv2_api_mapping.html.markdown
Labels: documentation, new-resource, provider, service/apigatewayv2, size/XL, tests, waiting-response

#12888 r/aws_acm_certificate: Add test sweeper
  aws/resource_aws_acm_certificate_test.go
Labels: service/acm, size/M, tests

#12898 Do not send kms_arn in glue security configuration if mode is SSES3
  aws/resource_aws_glue_security_configuration.go
  aws/resource_aws_glue_security_configuration_test.go
Labels: bug, service/glue, size/XS, tests

#11783 r/aws_ssm_maintanance_window_target - add plan time validation to `resource_type` + docs and tests
  aws/resource_aws_ssm_maintenance_window_target.go
  aws/resource_aws_ssm_maintenance_window_target_test.go
  website/docs/r/ssm_maintenance_window_target.html.markdown
Labels: documentation, enhancement, service/ssm, size/L, tests

#12884 add excludeVerboseContent option to aws_appsync_graphql_api
  aws/resource_aws_appsync_graphql_api.go
  aws/resource_aws_appsync_graphql_api_test.go
  website/docs/r/appsync_graphql_api.html.markdown
Labels: documentation, enhancement, service/appsync, size/M, tests

#12752 Add message to highlight ulimit option which can prevent issues with …
  .github/CONTRIBUTING.md
  .hashibot.hcl
Labels: documentation, provider, size/XS

#12946 Contributing Guide: Correct ELB, S3 and Elastic Beanstalk links for new AWS regions
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#11910 Add stage action namespace to resource_aws_codepipeline
  aws/resource_aws_codepipeline.go
  aws/resource_aws_codepipeline_test.go
  website/docs/r/codepipeline.markdown
Labels: documentation, enhancement, service/codepipeline, size/L, tests

#12905 Update iam_role_policy.html.markdown
  website/docs/r/iam_role_policy.html.markdown
Labels: documentation, service/iam, size/XS

#12885 Fixing zone_id reference
  website/docs/r/acm_certificate_validation.html.markdown
Labels: documentation, service/acm, size/XS

#12936 Support empty associate_public_ip_address in launch_template data sources
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
Labels: bug, service/ec2, size/S, tests

#12890 r/aws_route: allow using compressed IPV6 CIDR
  aws/resource_aws_route.go
  aws/resource_aws_route_test.go
  aws/structure.go
Labels: enhancement, service/ec2, size/L, tests

#12921 add support for importing aws_network_acl_rule resources
  aws/resource_aws_network_acl_rule.go
  aws/resource_aws_network_acl_rule_test.go
  website/docs/r/network_acl_rule.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests, waiting-response

#12924 add support for importing aws_default_network_acl resources
  aws/resource_aws_default_network_acl.go
  aws/resource_aws_default_network_acl_test.go
  website/docs/r/default_network_acl.html.markdown
Labels: documentation, enhancement, service/ec2, service/ssm, size/S, tests

#12948 add support for importing aws_volume_attachment resource
  aws/resource_aws_volume_attachment.go
  aws/resource_aws_volume_attachment_test.go
  website/docs/r/volume_attachment.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#12929 add support for importing aws_service_discovery_private_dns_namespace
  aws/resource_aws_service_discovery_private_dns_namespace.go
  aws/resource_aws_service_discovery_private_dns_namespace_test.go
  website/docs/r/service_discovery_private_dns_namespace.html.markdown
Labels: documentation, enhancement, service/servicediscovery, size/S, tests

#12965 Fix formatting of code block
  .github/CONTRIBUTING.md
Labels: documentation, provider, size/XS

#12967 af-south-1 (Cape Town)
  aws/data_source_aws_cloudtrail_service_account.go
  aws/data_source_aws_elastic_beanstalk_hosted_zone.go
  aws/data_source_aws_elb_hosted_zone_id.go
  aws/data_source_aws_elb_service_account.go
  aws/data_source_aws_redshift_service_account.go
  aws/hosted_zones.go
Labels: enhancement, service/cloudtrail, service/elasticbeanstalk, service/elb, service/redshift, size/XS

#11659 d/acm_certificate: add `tags` attribute
  aws/data_source_aws_acm_certificate.go
  aws/data_source_aws_acm_certificate_test.go
  website/docs/d/acm_certificate.html.markdown
Labels: documentation, service/acm, size/XS, tests

#12867 resource/aws_rds_cluster: Support aurora-mysql and aurora-postgres Global Clusters
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
Labels: bug, service/rds, size/M, tests

#12933 add support for importing aws_ssm_activation resource
  aws/resource_aws_ssm_activation.go
  aws/resource_aws_ssm_activation_test.go
  website/docs/r/ssm_activation.html.markdown
Labels: documentation, enhancement, service/ssm, size/S, tests

#12734 service/config: Update acceptance tests to use ARN testing check functions
  aws/resource_aws_config_aggregate_authorization_test.go
  aws/resource_aws_config_config_rule_test.go
  aws/resource_aws_config_configuration_aggregator_test.go
  aws/resource_aws_config_configuration_recorder.go
  aws/resource_aws_config_configuration_recorder_status.go
  aws/resource_aws_config_configuration_recorder_test.go
  aws/resource_aws_config_delivery_channel_test.go
Labels: service/configservice, size/M, technical-debt, tests

#12793 r/wafregional_web_acl - add plan time validation
  aws/resource_aws_wafregional_web_acl.go
  aws/resource_aws_wafregional_web_acl_test.go
Labels: enhancement, service/waf, size/M, tests

#12775 r/waf_ipset - read after create + refactor tests
  aws/resource_aws_waf_ipset.go
  aws/resource_aws_waf_ipset_test.go
Labels: enhancement, service/waf, size/L, tests

#12777 r/waf_xss_match_set: read after create + validations
  aws/resource_aws_waf_xss_match_set.go
  aws/resource_aws_waf_xss_match_set_test.go
Labels: enhancement, service/waf, size/L, tests

#11657 r/aws_waf_sql_injection_match_set - import support
  aws/resource_aws_waf_sql_injection_match_set.go
  aws/resource_aws_waf_sql_injection_match_set_test.go
  website/docs/r/waf_sql_injection_match_set.html.markdown
Labels: documentation, enhancement, service/waf, size/L, tests

#12935 add support for importing aws_ssm_maintenance_window_target resource
  aws/resource_aws_ssm_maintenance_window_target.go
  aws/resource_aws_ssm_maintenance_window_target_test.go
  website/docs/r/ssm_maintenance_window_target.html.markdown
Labels: documentation, enhancement, service/ssm, size/M, tests, waiting-response

#12962 r/key_pair - tag on create
  aws/resource_aws_key_pair.go
  aws/resource_aws_key_pair_test.go
Labels: enhancement, service/ec2, size/M, tests

#12963 r/placement_group - tag on create
  aws/resource_aws_placement_group.go
  aws/resource_aws_placement_group_test.go
Labels: enhancement, service/ec2, size/S, tests

#12978 r/db_snapshot: import support
  aws/resource_aws_db_snapshot.go
  aws/resource_aws_db_snapshot_test.go
  website/docs/r/db_snapshot.html.markdown
Labels: documentation, enhancement, service/rds, size/L, tests

#11841 r/mq_broker: support import + plan time validations
  aws/resource_aws_mq_broker.go
  aws/resource_aws_mq_broker_test.go
  website/docs/r/mq_broker.html.markdown
Labels: documentation, enhancement, service/mq, size/XL, tests

#13024 r/aws_wafregional_xss_match_set: Fix 'panic: interface conversion: interface {} is *schema.Set, not []interface {}'
  aws/resource_aws_wafregional_xss_match_set.go
  aws/resource_aws_wafregional_xss_match_set_test.go
Labels: bug, crash, service/waf, size/M, tests

#13037 Use latest SQL version in IoT Topic Rule example
  website/docs/r/iot_topic_rule.html.markdown
Labels: documentation, service/iot, size/XS

#12732 Spot Fleet Launch Template Support
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
  website/docs/r/spot_fleet_request.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#12976 GovCloud ELB hosted zone IDs
  aws/data_source_aws_elb_hosted_zone_id.go
Labels: enhancement, service/elb, size/XS

#12588 provider: Ensure aws_prefix_list is labeled service/ec2
  .hashibot.hcl
Labels: provider, size/XS

#12604 tests/provider: Introduce regional sweeper AWSClient cache
  aws/aws_sweeper_test.go
Labels: provider, size/XS, tests

#12612 resource/aws_elastic_transcoder_preset: Refactor testing to ensure unrelated testing does not include description
  aws/resource_aws_elastic_transcoder_preset_test.go
Labels: service/elastic-transcoder, size/M, tests

#12613 resource/aws_kinesis_firehose_delivery_stream: Prevent panic with empty `processing_configuration` configuration block
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
Labels: bug, crash, service/firehose, size/S, tests

#12858 fix tagging for default route table
  aws/resource_aws_default_route_table.go
  aws/resource_aws_default_route_table_test.go
  aws/resource_aws_route_table.go
  aws/resource_aws_route_table_test.go
Labels: bug, enhancement, service/ec2, size/XL, tests

#12617 resource/aws_lb_listener: Prevent panics on creation and refresh when API throttled
  aws/resource_aws_lb_listener.go
Labels: bug, crash, service/elbv2, size/XS

#12695 docs/resource/aws_appautoscaling_policy: Link to AWS documentation for policy_type argument documentation
  website/docs/r/appautoscaling_policy.html.markdown
Labels: documentation, service/applicationautoscaling, size/XS

#12694 docs/resource/aws_appautoscaling_target: Additional information about role_arn
  website/docs/r/appautoscaling_policy.html.markdown
  website/docs/r/appautoscaling_scheduled_action.html.markdown
  website/docs/r/appautoscaling_target.html.markdown
Labels: documentation, service/applicationautoscaling, size/XS

#12378 provider: Replace deprecated helper/validation.ValidateJsonString function
  GNUmakefile
  aws/data_source_aws_lambda_invocation.go
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_apigatewayv2_model.go
  aws/resource_aws_cloudformation_stack.go
  aws/resource_aws_cloudwatch_dashboard.go
  aws/resource_aws_config_config_rule.go
  aws/resource_aws_config_organization_custom_rule.go
  aws/resource_aws_config_organization_managed_rule.go
  aws/resource_aws_dms_replication_task.go
  aws/resource_aws_ecr_lifecycle_policy.go
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_instance_group.go
  aws/resource_aws_emr_security_configuration.go
  aws/resource_aws_glacier_vault.go
  aws/resource_aws_glue_crawler.go
  aws/resource_aws_iam_role.go
  aws/resource_aws_kms_external_key.go
  aws/resource_aws_kms_key.go
  aws/resource_aws_organizations_policy.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_policy.go
  aws/resource_aws_secretsmanager_secret.go
  aws/resource_aws_ses_identity_policy.go
  aws/resource_aws_sns_topic.go
  aws/resource_aws_sns_topic_policy.go
  aws/resource_aws_sns_topic_subscription.go
  aws/resource_aws_sqs_queue.go
  aws/resource_aws_sqs_queue_policy.go
  aws/resource_aws_vpc_endpoint.go
Labels: service/apigateway, service/apigatewayv2, service/cloudformation, service/cloudwatch, service/configservice, service/databasemigrationservice, service/ec2, service/ecr, service/elasticsearch, service/emr, service/glacier, service/glue, service/iam, service/kms, service/lambda, service/organizations, service/s3, service/secretsmanager, service/ses, service/sns, service/sqs, size/M, technical-debt

#12611 resource/aws_glue_catalog_table: Prevent various panics with empty configuration blocks
  aws/resource_aws_glue_catalog_table.go
  aws/resource_aws_glue_catalog_table_test.go
Labels: bug, crash, service/glue, size/M, tests

#12630 resource/aws_fsx_windows_file_system: Prevent panic when update includes `self_managed_active_directory` settings
  aws/resource_aws_fsx_windows_file_system.go
  aws/resource_aws_fsx_windows_file_system_test.go
Labels: bug, crash, service/fsx, size/S, tests

#12634 resource/aws_route53_zone: Guard against missing ChangeInfo during creation
  aws/resource_aws_route53_zone.go
Labels: bug, crash, service/route53, size/XS

#13035 add backup_* data sources
  aws/data_source_aws_backup_plan.go
  aws/data_source_aws_backup_plan_test.go
  aws/data_source_aws_backup_selection.go
  aws/data_source_aws_backup_selection_test.go
  aws/data_source_aws_backup_vault.go
  aws/data_source_aws_backup_vault_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/backup_plan.html.markdown
  website/docs/d/backup_selection.html.markdown
  website/docs/d/backup_vault.html.markdown
Labels: documentation, new-data-source, provider, service/backup, size/XL, tests

#12473 resource/aws_iam_instance_profile: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_iam_instance_profile.go
Labels: service/iam, size/XS, technical-debt

#13025 r/aws_glue_catalog_database: Remove extraneous Exists function
  aws/resource_aws_glue_catalog_database.go
  aws/resource_aws_glue_catalog_database_test.go
Labels: service/glue, size/S, technical-debt, tests

#13026 r/aws_glue_crawler: Remove extraneous Exists function
  aws/resource_aws_glue_crawler.go
Labels: service/glue, size/XS, technical-debt

#13027 r/aws_iam_openid_connect_provider: Remove extraneous Exists function
  aws/resource_aws_iam_openid_connect_provider.go
Labels: service/iam, size/S, technical-debt

#13028 r/aws_ssm_parameter: Remove extraneous Exists function
  aws/resource_aws_ssm_parameter.go
Labels: service/ssm, size/XS, technical-debt

#13029 r/aws_kms_grant: Remove extraneous Exists function
  aws/resource_aws_kms_grant.go
Labels: service/kms, size/XS, technical-debt

#13043 r/aws_ami_launch_permission: Remove extraneous Exists function
  aws/resource_aws_ami_launch_permission.go
Labels: service/ec2, size/XS, technical-debt

#12696 docs/resource/aws_appautoscaling_policy: Additional customized_metric_specification documentation
  website/docs/r/appautoscaling_policy.html.markdown
Labels: documentation, service/applicationautoscaling, size/S

#12916 Make ES Domain in-place upgrade's timeout configurable
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_elasticsearch_domain_test.go
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, enhancement, service/elasticsearch, size/XS, tests

#12873 resource/aws_route53_health_check: Validate reference_name
  aws/resource_aws_route53_health_check.go
Labels: enhancement, service/route53, size/XS

#12632 resource/aws_batch_job_queue: Prevent panic when ComputeEnvironmentOrder is updated outside Terraform
  aws/resource_aws_batch_job_queue.go
  aws/resource_aws_batch_job_queue_test.go
Labels: bug, crash, service/batch, size/XL, tests

#12766 tests/service/guardduty: Prevent detector data source concurrency errors, refactor detector resource import testing
  aws/data_source_aws_guardduty_detector_test.go
  aws/resource_aws_guardduty_detector_test.go
  aws/resource_aws_guardduty_test.go
Labels: service/guardduty, size/S, tests

#12699 resource/aws_appautoscaling_scheduled_action: Include ResourceId in DescribeScheduledActions API call
  aws/resource_aws_appautoscaling_scheduled_action.go
  aws/resource_aws_appautoscaling_scheduled_action_test.go
Labels: bug, service/applicationautoscaling, size/M, tests

#12772 service/storagegateway: Gateway activation stability and test configuration fixes
  aws/data_source_aws_storagegateway_local_disk_test.go
  aws/resource_aws_storagegateway_cache_test.go
  aws/resource_aws_storagegateway_cached_iscsi_volume_test.go
  aws/resource_aws_storagegateway_gateway.go
  aws/resource_aws_storagegateway_gateway_test.go
  aws/resource_aws_storagegateway_upload_buffer_test.go
  aws/resource_aws_storagegateway_working_storage_test.go
Labels: service/storagegateway, size/XL, tests

#12773 resource/aws_storagegateway_gateway: Retry 504 status code on activation
  aws/resource_aws_storagegateway_gateway.go
Labels: bug, service/storagegateway, size/XS

#13076 Replace 'testAccPreCheckOffersEc2InstanceType' with 'aws_ec2_instance_type_offering' data source
  aws/data_source_aws_instance_test.go
  aws/provider_test.go
  aws/resource_aws_instance_test.go
Labels: service/ec2, size/M, technical-debt, tests

#13061 eu-south-1 (Milan)
  aws/data_source_aws_cloudtrail_service_account.go
  aws/data_source_aws_elastic_beanstalk_hosted_zone.go
  aws/data_source_aws_elb_hosted_zone_id.go
  aws/data_source_aws_elb_service_account.go
  aws/data_source_aws_redshift_service_account.go
  aws/hosted_zones.go
Labels: enhancement, service/cloudtrail, service/elasticbeanstalk, service/elb, service/redshift, size/XS

#13030 support for importing aws_default_route_table resource
  aws/resource_aws_default_route_table.go
  aws/resource_aws_default_route_table_test.go
  website/docs/r/default_route_table.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#12097 add outpost support to subnet resource
  aws/data_source_aws_subnet.go
  aws/data_source_aws_subnet_test.go
  aws/resource_aws_subnet.go
  aws/resource_aws_subnet_test.go
  website/docs/d/subnet.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests
