Repository hashicorp/terraform-provider-aws, pull requests merged in 2020-02, with the labels that each got.

#11838 tests/provider: Add markdownlint to website-lint target
  .markdownlint.yml
  GNUmakefile
Labels: documentation, provider, size/S, tests

#11689 tests/resource/aws_ssm_maintenance_window: Add sweeper
  aws/resource_aws_ssm_maintenance_window_test.go
Labels: service/ssm, size/M, tests

#11692 resource/aws_dynamodb_table: Skip ResourceNotFoundException during deletion
  aws/resource_aws_dynamodb_table.go
Labels: bug, service/dynamodb, size/XS

#11693 resource/aws_appautoscaling_target: Automatically retry creation on `ValidationException: ECS service doesn't exist` for ECS eventual consistency
  aws/resource_aws_appautoscaling_target.go
Labels: bug, service/applicationautoscaling, size/XS

#11701 resource/aws_ecs_cluster: Delay check of ECS Cluster status during creation for ECS eventual consistency
  aws/resource_aws_ecs_cluster.go
Labels: bug, service/ecs, size/XS

#11702 tests/resource/aws_elastic_beanstalk_environment: Refactoring and modernization
  aws/provider_test.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
Labels: service/elasticbeanstalk, size/XXL, technical-debt, tests

#11714 tests/resource/aws_lb_target_group_attachment: Refactoring for region/partition agnostic and blacklist usw2-az4
  aws/resource_aws_lb_target_group_attachment_test.go
Labels: service/elbv2, size/XL, technical-debt, tests

#11704 tests/resource/aws_cloud9_environment_ec2: Remove dependency on Default VPC and blacklist usw2-az4
  aws/resource_aws_cloud9_environment_ec2_test.go
Labels: service/cloud9, service/ec2, size/M, technical-debt, tests

#9877 Issue #9831 Add support for source version to aws_codebuild_project resource Closes #9831
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, enhancement, service/codebuild, size/M, tests

#11861 docs/provider: Fix markdownlint MD031 failures and enable rule
  .markdownlint.yml
  website/docs/d/cloudhsm_v2_cluster.html.markdown
  website/docs/d/ebs_default_kms_key.html.markdown
  website/docs/d/ram_resource_share.html.markdown
  website/docs/d/security_groups.html.markdown
  website/docs/d/ssm_document.html.markdown
  website/docs/r/api_gateway_method.html.markdown
  website/docs/r/appsync_graphql_api.html.markdown
  website/docs/r/cloudhsm_v2_cluster.html.markdown
  website/docs/r/cloudhsm_v2_hsm.html.markdown
  website/docs/r/cognito_user_pool_client.markdown
  website/docs/r/cognito_user_pool_domain.markdown
  website/docs/r/elasticsearch_domain.html.markdown
  website/docs/r/iot_certificate.html.markdown
  website/docs/r/ssm_maintenance_window.html.markdown
Labels: documentation, service/apigateway, service/appsync, service/cloudhsmv2, service/cognito, service/ec2, service/elasticsearch, service/iot, service/kms, service/ram, service/ssm, size/XS

#11820 docs/provider: Add information for tfproviderdocs, tfproviderlint, and yaml.v2 in Maintaining Guide Dependency Updates section
  .github/MAINTAINING.md
Labels: documentation, provider, size/XS

#11873 tests/provider: Enable new passing tfproviderlint checks
  GNUmakefile
Labels: provider, size/XS, tests

#11722 tests/resource/aws_guardduty_detector: Add sweeper
  aws/resource_aws_guardduty_detector_test.go
Labels: service/guardduty, size/S, tests

#11725 tests/service/cloudformation: Add sweepers and export randomization
  aws/data_source_aws_cloudformation_export_test.go
  aws/resource_aws_cloudformation_stack_set.go
  aws/resource_aws_cloudformation_stack_set_instance.go
  aws/resource_aws_cloudformation_stack_set_instance_test.go
  aws/resource_aws_cloudformation_stack_set_test.go
  aws/resource_aws_cloudformation_stack_test.go
  aws/resource_aws_iam_role_test.go
Labels: service/cloudformation, service/iam, size/XL, tests

#11726 resource/aws_cloudformation_stack_set: Wait for update operation completion and report any errors
  aws/resource_aws_cloudformation_stack_set.go
  website/docs/r/cloudformation_stack_set.html.markdown
Labels: bug, documentation, service/cloudformation, size/XS

#11532 awsproviderlint: Initial implementation with AWSAT001 check
  GNUmakefile
  awsproviderlint/README.md
  awsproviderlint/main.go
  awsproviderlint/passes/AWSAT001/AWSAT001.go
  awsproviderlint/passes/AWSAT001/AWSAT001_test.go
  awsproviderlint/passes/AWSAT001/README.md
  awsproviderlint/passes/AWSAT001/testdata/src/a/main.go
  awsproviderlint/passes/AWSAT001/testdata/src/a/vendor
  awsproviderlint/passes/checks.go
  awsproviderlint/passes/checks_test.go
  go.mod
  vendor/github.com/bflad/tfproviderlint/passes/helper/resource/testmatchresourceattrcallexpr/testmatchresourceattrcallexpr.go
  vendor/github.com/bflad/tfproviderlint/passes/helper/schema/resourcedatagetokexistscallexpr/resourcedatagetokexistscallexpr.go
  vendor/github.com/bflad/tfproviderlint/xpasses/XR001/README.md
  vendor/github.com/bflad/tfproviderlint/xpasses/XR001/XR001.go
  vendor/github.com/bflad/tfproviderlint/xpasses/XR002/README.md
  vendor/github.com/bflad/tfproviderlint/xpasses/XR002/XR002.go
  vendor/github.com/bflad/tfproviderlint/xpasses/XR003/README.md
  vendor/github.com/bflad/tfproviderlint/xpasses/XR003/XR003.go
  vendor/github.com/bflad/tfproviderlint/xpasses/XR004/README.md
  vendor/github.com/bflad/tfproviderlint/xpasses/XR004/XR004.go
  vendor/github.com/bflad/tfproviderlint/xpasses/XS001/README.md
  vendor/github.com/bflad/tfproviderlint/xpasses/XS001/XS001.go
  vendor/github.com/bflad/tfproviderlint/xpasses/checks.go
  vendor/golang.org/x/tools/go/analysis/analysistest/analysistest.go
  vendor/golang.org/x/tools/internal/testenv/testenv.go
  vendor/golang.org/x/tools/internal/testenv/testenv_112.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL, tests

#11877 Add DX resource documentation links which is omitted
  website/aws.erb
Labels: documentation, service/directconnect, size/XS

#11648 Addresses a number of issues with blocks in `aws_codedeploy_deployment_group`
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codedeploy_deployment_group_test.go
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: documentation, service/codedeploy, size/XXL, tests

#11875 docs/provider: Fix markdownlint MD032 failures and enable rule
  .markdownlint.yml
  website/docs/d/ebs_default_kms_key.html.markdown
  website/docs/d/organizations_organizational_units.html.markdown
  website/docs/d/route53_zone.html.markdown
  website/docs/r/autoscaling_schedule.html.markdown
  website/docs/r/db_option_group.html.markdown
  website/docs/r/db_parameter_group.html.markdown
  website/docs/r/pinpoint_apns_channel.markdown
  website/docs/r/pinpoint_apns_sandbox_channel.markdown
  website/docs/r/pinpoint_apns_voip_channel.markdown
  website/docs/r/pinpoint_apns_voip_sandbox_channel.markdown
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/sagemaker_endpoint_configuration.html.markdown
  website/docs/r/spot_datafeed_subscription.html.markdown
  website/docs/r/vpc_dhcp_options.html.markdown
  website/docs/r/vpc_dhcp_options_association.html.markdown
Labels: documentation, service/autoscaling, service/ec2, service/kms, service/organizations, service/pinpoint, service/rds, service/route53, service/s3, service/sagemaker, size/M

#11488 resource/aws_batch_job_definition: Properly set container_properties and name into Terraform state and fix basic test
  aws/internal/service/batch/equivalency/container_properties.go
  aws/internal/service/batch/equivalency/container_properties_test.go
  aws/resource_aws_batch_job_definition.go
  aws/resource_aws_batch_job_definition_test.go
Labels: bug, service/batch, size/XL, tests

#10381 aws_datasync_location_smb addition
  aws/datasync.go
  aws/provider.go
  aws/resource_aws_datasync_location_smb.go
  aws/resource_aws_datasync_location_smb_test.go
  website/aws.erb
  website/docs/r/datasync_location_smb.html.markdown
Labels: documentation, new-resource, provider, service/datasync, size/XL, tests

#11730 r/vpc_endpoint- refactor to use keyvaluetags
  aws/resource_aws_vpc_endpoint.go
  aws/resource_aws_vpc_endpoint_test.go
Labels: service/ec2, size/M, technical-debt, tests

#11661 refactor route53 zone data source to use keyvaluetags
  aws/data_source_aws_route53_zone.go
  aws/data_source_aws_route53_zone_test.go
Labels: service/route53, size/L, technical-debt, tests

#11638 Move custom service-specific tagging functions to own namespace
  .travis.yml
  GNUmakefile
  aws/internal/keyvaluetags/iam_tags.go
  aws/internal/keyvaluetags/key_value_tags.go
Labels: service/iam, size/XS, tests

#11904 rd/vpc_dhcp_options - refactor to use keyvaluetags
  aws/data_source_aws_vpc_dhcp_options.go
  aws/resource_aws_vpc_dhcp_options.go
  aws/resource_aws_vpc_dhcp_options_test.go
Labels: service/ec2, size/M, technical-debt, tests

#11897 Allows deletion of managed CloudWatch event rules and event targets
  aws/resource_aws_cloudwatch_event_rule_test.go
  aws/resource_aws_cloudwatch_event_target_test.go
Labels: service/cloudwatchevents, size/XS, tests

#11499 tests/provider: Enable tfproviderlint R004 check
  GNUmakefile
  aws/import_aws_s3_bucket.go
Labels: provider, service/s3, size/XS, tests

#11894 resource/aws_s3_bucket: Retry read after creation for 404 status code
  aws/awserr.go
  aws/resource_aws_s3_bucket.go
Labels: bug, provider, service/s3, size/S

#11900 resource/aws_glacier_vault: Refactor to use keyvaluetags package
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_glacier_vault.go
  aws/resource_aws_glacier_vault_test.go
Labels: service/glacier, size/L, technical-debt, tests

#11906 service/ec2: Refactor aws_customer_gateway data source and resource to use keyvaluetags package
  aws/data_source_aws_customer_gateway.go
  aws/resource_aws_customer_gateway.go
Labels: service/ec2, size/XS, technical-debt

#11908 service/ec2: Refactor aws_nat_gateway data source and resource to use keyvaluetags package
  aws/data_source_aws_nat_gateway.go
  aws/resource_aws_nat_gateway.go
Labels: service/ec2, size/S, technical-debt

#11909 service/ec2: Refactor aws_vpn_gateway data source and resource to use keyvaluetags package
  aws/data_source_aws_vpn_gateway.go
  aws/resource_aws_vpn_gateway.go
Labels: service/ec2, size/S, technical-debt

#11886 deps: Update renovate ignoreDeps to include golang.org/x/tools, remove unused dependencies, and alphabetize list
  renovate.json
Labels: dependencies, provider, size/XS

#11889 Read property dns_servers for resource resource_aws_ec2_client_vpn_endpoint
  aws/resource_aws_ec2_client_vpn_endpoint.go
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
Labels: bug, service/ec2, size/XS, tests

#11847 r/aws_fsx_lustre_file_system: Lower minimum storage cap to 1200Gb
  aws/resource_aws_fsx_lustre_file_system.go
  aws/resource_aws_fsx_lustre_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
Labels: documentation, enhancement, service/fsx, size/XS, tests

#11856 fix typo in aws_lb_listener_rule doc
  website/docs/r/lb_listener_rule.html.markdown
Labels: documentation, service/elbv2, size/XS

#11816 Fixed link and modified sentence
  README.md
Labels: documentation, provider, size/XS

#11544 resource/aws_network_acl_rule: Fix provider error when missing rule
  aws/resource_aws_network_acl_rule.go
  aws/resource_aws_network_acl_rule_test.go
Labels: bug, service/ec2, size/S, tests

#11650 aws_default_security_group : missing description attribute
  aws/resource_aws_default_security_group.go
  aws/resource_aws_default_security_group_test.go
Labels: bug, service/ec2, size/XS, tests

#11612 Enable organization tag policies with attachment
  aws/resource_aws_organizations_policy.go
  aws/resource_aws_organizations_policy_attachment.go
  aws/resource_aws_organizations_policy_attachment_test.go
  aws/resource_aws_organizations_policy_test.go
  aws/resource_aws_organizations_test.go
  website/docs/r/organizations_policy.html.markdown
Labels: documentation, enhancement, service/organizations, size/M, tests

#11617 resource/aws_cloudwatch_log_stream: Prevent early state removal
  aws/resource_aws_cloudwatch_log_stream.go
Labels: bug, service/cloudwatchlogs, size/XS

#11649 resource/aws_kinesis_firehose_delivery_stream: Allow processor clearing
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
Labels: bug, service/firehose, size/M, tests

#11958 New Service: WorkMail
  aws/config.go
  aws/provider.go
  vendor/github.com/aws/aws-sdk-go/service/workmail/api.go
  vendor/github.com/aws/aws-sdk-go/service/workmail/doc.go
  vendor/github.com/aws/aws-sdk-go/service/workmail/errors.go
  vendor/github.com/aws/aws-sdk-go/service/workmail/service.go
  vendor/modules.txt
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: dependencies, documentation, provider, size/XXL

#11980 docs: use identical text string for file and string arguments
  website/docs/d/kms_secrets.html.markdown
Labels: documentation, service/kms, size/XS

#11975 r/aws_codebuild_project: Fix documentation example for 'source_version' attribute
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#11974 Add documentation for custom keyvaluetags functions
  .github/CONTRIBUTING.md
  aws/internal/keyvaluetags/README.md
Labels: documentation, provider, size/XS

#11983 Adds TEST_COUNT makefile parameter
  GNUmakefile
Labels: size/XS

#11985 docs: fix lb_listener_rule attribute names
  website/docs/r/lb_listener_rule.html.markdown
Labels: documentation, service/elbv2, size/XS

#11963 Refactor S3 Bucket Metric resource to use keyvaluetags package.
  aws/resource_aws_s3_bucket_metric.go
Labels: service/s3, size/XS

#11916 Refactor S3 Bucket resource to use keyvaluetags package
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
  aws/internal/keyvaluetags/s3_tags.go
  aws/resource_aws_backup_plan.go
  aws/resource_aws_s3_bucket.go
  aws/s3_tags.go
  aws/tags.go
  aws/tags_test.go
Labels: service/backup, service/s3, size/XL, tests

#11559 Gamelift fleet tagging support
  aws/resource_aws_gamelift_fleet.go
  aws/resource_aws_gamelift_fleet_test.go
  website/docs/r/gamelift_fleet.html.markdown
Labels: documentation, enhancement, service/gamelift, size/XL, tests

#11895 aws_route53_record: add create,update,delete timeout options for the resource
  aws/resource_aws_route53_record.go
Labels: bug, documentation, service/route53, size/M, tests

#11949 service/neptune: enable CloudwatchLogsExports of type audit
  aws/resource_aws_neptune_cluster.go
  aws/resource_aws_neptune_cluster_test.go
  website/docs/r/neptune_cluster.html.markdown
Labels: documentation, enhancement, service/neptune, size/M, tests

#11948 Fix Route 53 resolver sweepers
  aws/resource_aws_route53_resolver_endpoint_test.go
  aws/resource_aws_route53_resolver_rule_association_test.go
  aws/resource_aws_route53_resolver_rule_test.go
Labels: service/route53resolver, size/M, tests

#11790 resource/aws_rds_global_database: Allow Aurora MySQL 5.7 as a Global Database Engine
  aws/resource_aws_rds_global_cluster.go
  aws/resource_aws_rds_global_cluster_test.go
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, enhancement, service/rds, size/S, tests

#11472 Enable RDS MSSQL agent log export to CloudWatch
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, enhancement, service/rds, size/S, tests

#10971 d/api_gateway_rest_api - add attributes
  aws/data_source_aws_api_gateway_rest_api.go
  aws/data_source_aws_api_gateway_rest_api_test.go
  website/docs/d/api_gateway_rest_api.html.markdown
Labels: documentation, enhancement, service/apigateway, size/L, tests

#8461 add delete_automated_backups option for rds instances
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_migrate.go
  aws/resource_aws_db_instance_migrate_test.go
  aws/resource_aws_db_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, enhancement, service/rds, size/XL, tests

#11731 r/neptune_cluster - support delete protection
  aws/resource_aws_neptune_cluster.go
  aws/resource_aws_neptune_cluster_test.go
  website/docs/r/neptune_cluster.html.markdown
Labels: documentation, enhancement, service/neptune, size/XL, tests

#11953 d/aws_route53_zone: Filter on tags is containment, not exact equality
  aws/data_source_aws_route53_zone.go
  aws/data_source_aws_route53_zone_test.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
Labels: bug, regression, service/route53, size/M, tests

#11996 Increase go test timeout as 30s seems to be too low for dockerized environments
  GNUmakefile
Labels: needs-triage, size/XS

#11995 Fixed Splunk configuration option description
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, service/firehose, size/XS

#10991 New resource r/aws_codestarnotification_rule
  .hashibot.hcl
  aws/config.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/provider.go
  aws/resource_aws_codestarnotifications_notification_rule.go
  aws/resource_aws_codestarnotifications_notification_rule_test.go
  vendor/github.com/aws/aws-sdk-go/service/codestarnotifications/api.go
  vendor/github.com/aws/aws-sdk-go/service/codestarnotifications/doc.go
  vendor/github.com/aws/aws-sdk-go/service/codestarnotifications/errors.go
  vendor/github.com/aws/aws-sdk-go/service/codestarnotifications/service.go
  vendor/modules.txt
  website/allowed-subcategories.txt
  website/aws.erb
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/r/codestarnotifications_notification_rule.markdown
Labels: dependencies, documentation, new-resource, provider, size/XXL, tests

#12002 docs/provider: Fix and enable markdownlint rules MD003, MD018, MD019, MD026, MD030, MD033, and MD046
  .markdownlint.yml
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/index.html.markdown
  website/docs/r/autoscaling_group.html.markdown
  website/docs/r/cloudformation_stack.html.markdown
  website/docs/r/default_network_acl.html.markdown
  website/docs/r/default_route_table.html.markdown
  website/docs/r/dms_replication_instance.html.markdown
  website/docs/r/ecs_task_definition.html.markdown
  website/docs/r/elastic_beanstalk_application_version.html.markdown
  website/docs/r/internet_gateway.html.markdown
  website/docs/r/nat_gateway.html.markdown
  website/docs/r/organizations_account.html.markdown
  website/docs/r/organizations_organization.html.markdown
  website/docs/r/route.html.markdown
  website/docs/r/route_table.html.markdown
  website/docs/r/sagemaker_notebook_instance.html.markdown
  website/docs/r/sns_topic.html.markdown
Labels: documentation, provider, service/autoscaling, service/cloudformation, service/databasemigrationservice, service/ec2, service/ecs, service/elasticbeanstalk, service/organizations, service/sagemaker, service/sns, size/M

#11874 Add S3 Storage Class Analytics Configuration
  GNUmakefile
  aws/provider.go
  aws/resource_aws_s3_bucket_analytics_configuration.go
  aws/resource_aws_s3_bucket_analytics_configuration_test.go
  aws/resource_aws_s3_bucket_metric.go
  website/aws.erb
  website/docs/r/s3_bucket_analysis_configuration.html.markdown
Labels: documentation, new-resource, provider, service/s3, size/XXL, tests

#6552 Adding support for CPU Options to resource aws_launch_template
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/r/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#9810 9775 launch config with instance store
  aws/resource_aws_instance.go
  aws/resource_aws_launch_configuration_test.go
Labels: bug, regression, service/autoscaling, size/M, tests

#6961 Enable hibernation attribute for aws_instance resource
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  website/docs/r/instance.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#11964 [WIP] Refactor S3 Bucket Object data source and resource to use keyvaluetags package
  aws/data_source_aws_s3_bucket_object.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
  aws/internal/keyvaluetags/s3_tags.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/s3_tags.go
  aws/s3_tags_test.go
Labels: service/s3, size/XL, technical-debt, tests

#12001 resource/aws_cognito_user_pool: Allow admin_create_user_config configuration block unused_account_validity_days to be omitted
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
Labels: bug, regression, service/cognito, size/S, tests

#12000 resource/aws_batch_job_definition: Prevent extraneous differences with container properties missing environment, mount point, ulimits, and volumes configuration
  aws/internal/service/batch/equivalency/container_properties.go
  aws/internal/service/batch/equivalency/container_properties_test.go
  aws/resource_aws_batch_job_definition_test.go
Labels: bug, regression, service/batch, size/M, tests

#12009 resource/aws_launch_configuration: Allow missing EC2 Image during root block device lookup
  aws/resource_aws_ami_test.go
  aws/resource_aws_instance.go
  aws/resource_aws_launch_configuration_test.go
Labels: bug, regression, service/autoscaling, service/ec2, size/L, tests

#11821 Prevents acc tests and sweeper for AWS Glue workflows in GovCloud
  aws/resource_aws_glue_workflow_test.go
Labels: service/glue, size/XS, tests

#12040 Fix LB update subnets acceptance test
  aws/resource_aws_lb_test.go
Labels: service/elbv2, size/S, tests

#11562 resource/aws_ram_resource_share_accepter: Fix Read operation since invitations are purged after 7 days
  aws/resource_aws_ram_resource_share_accepter.go
  aws/resource_aws_ram_resource_share_accepter_test.go
  website/docs/r/ram_resource_share_accepter.markdown
Labels: bug, documentation, service/ram, size/M, tests

#12063 update r/aws_globalaccelerator_endpoint_group documentation
  website/docs/r/globalaccelerator_endpoint_group.html.markdown
Labels: documentation, service/globalaccelerator, size/XS

#12068 Update the syntax of the examples in sns_topic_subscription to terraform 0.12.x syntax.
  website/docs/r/sns_topic_subscription.html.markdown
Labels: documentation, service/sns, size/XS

#12020 Be clear about type for aws_subnet_ids
  website/docs/d/subnet_ids.html.markdown
Labels: documentation, service/ec2, size/XS

#12014 Adds default S3 bucket name to S3 sweeper
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/XS, tests

#12041 S3 bucket names for sweeper
  aws/data_source_aws_redshift_cluster_test.go
  aws/resource_aws_athena_database_test.go
  aws/resource_aws_athena_named_query_test.go
  aws/resource_aws_elastic_transcoder_pipeline_test.go
  aws/resource_aws_elb_test.go
  aws/resource_aws_globalaccelerator_accelerator_test.go
  aws/resource_aws_lb_test.go
  aws/resource_aws_macie_s3_bucket_association_test.go
  aws/resource_aws_redshift_cluster_test.go
Labels: service/athena, service/elastic-transcoder, service/elb, service/globalaccelerator, service/macie, service/redshift, service/s3, size/L, tests

#12064 Fix Doc: InvalidParameterValue: 'MaxAgeRule' and 'MaxCountRule' canno…
  website/docs/r/elastic_beanstalk_application.html.markdown
Labels: documentation, service/elasticbeanstalk, size/XS

#11924 re-create lambda policy when permission sid not found
  aws/resource_aws_lambda_permission.go
  aws/resource_aws_lambda_permission_test.go
Labels: service/lambda, size/M, tests

#12052 internal/naming: New package for shared naming logic
  .github/CONTRIBUTING.md
  aws/import_aws_security_group.go
  aws/internal/naming/naming.go
  aws/internal/naming/naming_test.go
  aws/resource_aws_security_group.go
  aws/resource_aws_security_group_test.go
Labels: enhancement, service/ec2, size/XL, tests

#12047 service/sfn: Fixes for tfproviderlint R006
  aws/resource_aws_sfn_activity.go
  aws/resource_aws_sfn_state_machine.go
Labels: service/sfn, size/XS, technical-debt

#12046 resource/aws_ssm_document: Fixes for tfproviderlint R006
  aws/resource_aws_ssm_document.go
Labels: service/ssm, size/XS, technical-debt

#12045 resource/aws_redshift_snapshot_copy_grant: Fixes for tfproviderlint R006
  aws/resource_aws_redshift_snapshot_copy_grant.go
Labels: service/redshift, size/XS, technical-debt

#12044 resource/aws_lambda_permission: Fixes for tfproviderlint R006
  aws/resource_aws_lambda_permission.go
Labels: service/lambda, size/S, technical-debt

#12043 resource/aws_iam_policy_attachment: Fixes for tfproviderlint R006
  aws/resource_aws_iam_policy_attachment.go
Labels: service/iam, size/S, technical-debt

#12042 resource/aws_codedeploy_deployment_group: Fixes for tfproviderlint R006
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codedeploy_deployment_group_test.go
Labels: service/codedeploy, size/M, technical-debt, tests

#12035 tests/resource/aws_organizations_policy: Add missing testAccOrganizationsAccountPreCheck
  aws/resource_aws_organizations_policy_test.go
Labels: service/organizations, size/XS, tests

#11962 tests/resource/aws_launch_template: Add sweeper
  aws/resource_aws_launch_template_test.go
Labels: service/ec2, size/S, tests

#12004 docs/guides/custom-service-endpoints: Use fully HTML list for Terraform Registry compatibility
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, size/L

#12091 Make weight in default_capacity_provider_strategy optional.
  website/docs/r/ecs_cluster.html.markdown
Labels: documentation, service/ecs, size/XS

#12092 Update default EBS Volume type
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XS

#9490 data/aws_lambda_alias: new data source
  aws/data_source_aws_lambda_alias.go
  aws/data_source_aws_lambda_alias_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/lambda_alias.html.markdown
Labels: documentation, new-data-source, provider, service/lambda, size/L, tests

#10402 r/aws_appmesh_route: Add support for HTTP header-based routing and route priorities
  aws/resource_aws_appmesh_route.go
  aws/resource_aws_appmesh_route_test.go
  aws/resource_aws_appmesh_test.go
  aws/structure.go
  website/docs/r/appmesh_route.html.markdown
Labels: documentation, service/appmesh, size/XL, tests

#11211 resource/aws_lambda_function: Publish new version on config-only function updates
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
Labels: bug, service/lambda, size/S, tests

#11144 Add SigV4 for SES SMTP passwords
  aws/resource_aws_iam_access_key.go
  aws/resource_aws_iam_access_key_test.go
  website/docs/r/iam_access_key.html.markdown
Labels: documentation, enhancement, service/iam, size/M, tests

#8913 Add support for host_key attribute for Transfer Server
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_server_test.go
  aws/test-fixtures/transfer-ssh-rsa-key
  website/docs/r/transfer_server.html.markdown
Labels: documentation, enhancement, service/transfer, size/M, tests

#12109 Fixed spacing and spelling
  website/docs/r/codestarnotifications_notification_rule.markdown
Labels: documentation, service/codestarnotifications, size/XS

#12032 resource/aws_ses_receipt_rule: Fixes for tfproviderlint R002
  aws/resource_aws_ses_receipt_rule.go
Labels: service/ses, size/XS, technical-debt

#12031 resource/aws_route53_record: Fixes for tfproviderlint R002
  aws/resource_aws_route53_record.go
Labels: service/route53, size/XS, technical-debt

#12030 resource/aws_proxy_protocol_policy: Fixes for tfproviderlint R002
  aws/resource_aws_proxy_protocol_policy.go
Labels: service/elb, size/XS, technical-debt

#12029 resource/aws_redshift_security_group: Fixes for tfproviderlint R002
  aws/resource_aws_redshift_security_group.go
  aws/resource_aws_redshift_security_group_test.go
Labels: service/redshift, size/XS, technical-debt, tests

#12027 resource/aws_iam_saml_provider: Fixes for tfproviderlint R002
  aws/resource_aws_iam_saml_provider.go
Labels: service/iam, size/XS, technical-debt

#12026 resource/aws_iot_certificate: Fixes for tfproviderlint R002
  aws/resource_aws_iot_certificate.go
Labels: service/iot, size/XS, technical-debt

#11956 tests/service/elasticache: Replace deprecated cache.m1 with cache.t3, refactor data source testing
  aws/data_source_aws_elasticache_cluster_test.go
  aws/data_source_aws_elasticache_replication_group_test.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticache_replication_group_test.go
Labels: service/elasticache, size/XL, technical-debt, tests

#12048 tests/provider: Enable tfproviderlint R006 check
  GNUmakefile
Labels: provider, size/XS, tests

#11946 resource/aws_glacier_vault: Fixes for tfproviderlint R002
  aws/resource_aws_glacier_vault.go
Labels: service/glacier, size/XS, technical-debt

#9372 New resources: Traffic mirroring
  aws/provider.go
  aws/resource_aws_ec2_traffic_mirror_filter.go
  aws/resource_aws_ec2_traffic_mirror_filter_rule.go
  aws/resource_aws_ec2_traffic_mirror_filter_rule_test.go
  aws/resource_aws_ec2_traffic_mirror_filter_test.go
  aws/resource_aws_ec2_traffic_mirror_session.go
  aws/resource_aws_ec2_traffic_mirror_session_test.go
  aws/resource_aws_ec2_traffic_mirror_target.go
  aws/resource_aws_ec2_traffic_mirror_target_test.go
  website/aws.erb
  website/docs/r/ec2_traffic_mirror_filter.html.markdown
  website/docs/r/ec2_traffic_mirror_filter_rule.html.markdown
  website/docs/r/ec2_traffic_mirror_session.html.markdown
  website/docs/r/ec2_traffic_mirror_target.html.markdown
Labels: documentation, new-resource, provider, service/ec2, size/XXL, tests

#10932 data source for a step function state machine
  aws/data_source_aws_sfn_state_machine.go
  aws/data_source_aws_sfn_state_machine_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/sfn_state_machine.html.markdown
Labels: documentation, new-data-source, provider, service/sfn, size/L, tests

#11100 resource/aws_lambda_event_source_mapping: Adding ParallelizationFactor, MaximumRecordAgeInSeconds, BisectBatchOnFunctionError, MaximumRetryAttempts, DestinationConfig
  aws/resource_aws_lambda_event_source_mapping.go
  aws/resource_aws_lambda_event_source_mapping_test.go
  aws/structure.go
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, enhancement, service/lambda, size/XL, tests

#11451 aws_msk_cluster: support Cluster expansion and Open Monitoring
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_msk_cluster_test.go
  website/docs/d/msk_cluster.html.markdown
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, enhancement, service/kafka, size/XL, tests

#12114 Updating pythonshell details
  website/docs/r/glue_job.html.markdown
Labels: documentation, service/glue, size/XS

#12115 add support for resource_aws_glub_job notification_property and notify_delay_after
  aws/resource_aws_glue_job.go
  aws/resource_aws_glue_job_test.go
  website/docs/r/glue_job.html.markdown
Labels: documentation, enhancement, service/glue, size/M, tests

#11320 Fix example of IP ranges usage
  website/docs/d/ip_ranges.html.markdown
Labels: documentation, provider, size/XS, waiting-response

#11837 r/aws_workspaces_directory: Fix panic if previously registered directory is no longer registered
  aws/resource_aws_workspaces_directory.go
  aws/resource_aws_workspaces_directory_test.go
Labels: bug, crash, service/workspaces, size/M, tests

#11276 Add aws_s3_access_point resource
  aws/data_source_aws_s3_bucket_object_test.go
  aws/data_source_aws_s3_bucket_objects_test.go
  aws/provider.go
  aws/resource_aws_s3_access_point.go
  aws/resource_aws_s3_access_point_test.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
  website/aws.erb
  website/docs/d/s3_bucket_object.html.markdown
  website/docs/d/s3_bucket_objects.html.markdown
  website/docs/r/s3_access_point.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, new-resource, provider, service/s3, size/XXL, tests

#12156 Add `.go-version` file
  .go-version
Labels: needs-triage, size/XS

#11947 service/ec2: Fixes for tfproviderlint R002
  aws/resource_aws_route_table_association.go
  aws/resource_aws_security_group_rule.go
  aws/resource_aws_spot_instance_request.go
  aws/resource_aws_vpn_gateway.go
  aws/resource_aws_vpn_gateway_attachment.go
Labels: service/ec2, size/XS, technical-debt

#11945 resource/aws_elastic_beanstalk_environment: Fixes for tfproviderlint R002
  aws/resource_aws_elastic_beanstalk_environment.go
Labels: service/elasticbeanstalk, size/XS, technical-debt

#11944 service/elastictranscoder: Fixes for tfproviderlint R002
  aws/resource_aws_elastic_transcoder_pipeline.go
  aws/resource_aws_elastic_transcoder_preset.go
Labels: service/elastic-transcoder, size/XS, technical-debt

#11943 service/cognito: Fixes for tfproviderlint R002
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_client.go
Labels: service/cognito, size/XS, technical-debt

#11921 service/cloudwatchlogs: Fixes for tfproviderlint R002
  aws/resource_aws_cloudwatch_log_destination_policy.go
  aws/resource_aws_cloudwatch_log_resource_policy.go
Labels: service/cloudwatchlogs, size/XS, technical-debt

#11920 data-source/aws_iam_server_certificate: Fixes for tfproviderlint R002
  aws/data_source_aws_iam_server_certificate.go
  aws/data_source_aws_iam_server_certificate_test.go
Labels: service/iam, size/XS, technical-debt, tests

#11917 resource/aws_ec2_client_vpn_endpoint: Refactor to use keyvaluetags package
  aws/resource_aws_ec2_client_vpn_endpoint.go
Labels: service/ec2, size/XS, technical-debt

#11912 service/ec2: Refactor aws_network_interface(s) data sources and resource to use keyvaluetags package
  aws/data_source_aws_network_interface.go
  aws/data_source_aws_network_interfaces.go
  aws/resource_aws_network_interface.go
Labels: service/ec2, size/XS, technical-debt

#11415 [WIP] Direct Connect virtual interface resources: Refactor tagging logic to keyvaluetags package and add 'amazon_side_asn' attribute
  aws/dx_vif.go
  aws/resource_aws_dx_hosted_private_virtual_interface.go
  aws/resource_aws_dx_hosted_private_virtual_interface_accepter.go
  aws/resource_aws_dx_hosted_private_virtual_interface_test.go
  aws/resource_aws_dx_hosted_public_virtual_interface.go
  aws/resource_aws_dx_hosted_public_virtual_interface_accepter.go
  aws/resource_aws_dx_hosted_public_virtual_interface_test.go
  aws/resource_aws_dx_hosted_transit_virtual_interface.go
  aws/resource_aws_dx_hosted_transit_virtual_interface_accepter.go
  aws/resource_aws_dx_hosted_transit_virtual_interface_test.go
  aws/resource_aws_dx_private_virtual_interface.go
  aws/resource_aws_dx_private_virtual_interface_test.go
  aws/resource_aws_dx_public_virtual_interface.go
  aws/resource_aws_dx_public_virtual_interface_test.go
  aws/resource_aws_dx_transit_virtual_interface.go
  aws/resource_aws_dx_transit_virtual_interface_test.go
  aws/tagsDX.go
  aws/tagsDX_test.go
Labels: enhancement, service/directconnect, size/XL, tests

#12116 add support for Ruby27 lambda runtime
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
Labels: enhancement, service/lambda, size/S, tests

#11080 Support for SFN activity as data source
  aws/data_source_aws_sfn_activity.go
  aws/data_source_aws_sfn_activity_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/sfn_activity.html.markdown
Labels: documentation, new-data-source, provider, service/sfn, size/L, tests

#11670 Add dns_name, hosted_zone_id attributes to Global Accelerator for Route53 ALIASes
  aws/resource_aws_globalaccelerator_accelerator.go
  aws/resource_aws_globalaccelerator_accelerator_test.go
  website/docs/r/globalaccelerator_accelerator.markdown
Labels: documentation, enhancement, service/globalaccelerator, size/XS, tests

#12211 Update CHANGELOG.md
  CHANGELOG.md
Labels: needs-triage, size/XS
