Repository hashicorp/terraform-provider-aws, pull requests merged in 2020-03, with the labels that each got.

#12095 Limits directories for sweepers to just `./aws`
  GNUmakefile
Labels: provider, size/XS, tests

#12147 Fixes Elastic Beanstalk sweeper names
  aws/resource_aws_elastic_beanstalk_application_test.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
  aws/resource_aws_subnet_test.go
Labels: service/ec2, service/elasticbeanstalk, size/XS, tests

#12168 Add validation on CloudFront distribution georestriction type
  aws/resource_aws_cloudfront_distribution.go
Labels: bug, crash, service/cloudfront, size/XS

#12209 docs/provider: Fix invalid HCL in example configurations
  website/docs/r/autoscaling_group.html.markdown
  website/docs/r/cognito_user_pool.markdown
  website/docs/r/default_network_acl.html.markdown
  website/docs/r/emr_cluster.html.markdown
  website/docs/r/lambda_function.html.markdown
  website/docs/r/launch_template.html.markdown
  website/docs/r/network_acl_rule.html.markdown
  website/docs/r/sagemaker_notebook_instance_lifecycle_configuration.html.markdown
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
  website/docs/r/ssm_document.html.markdown
Labels: documentation, service/autoscaling, service/cognito, service/ec2, service/emr, service/lambda, service/sagemaker, service/ssm, size/M

#11919 resource/aws_iam_service_linked_role: Allow aws_service_name validation to accept values in AWS partitions outside AWS Commercial and AWS GovCloud (US)
  aws/resource_aws_iam_service_linked_role.go
Labels: bug, partition/aws-cn, partition/aws-iso, partition/aws-iso-b, service/iam, size/XS

#11913 service/ec2: Refactor Network ACL data source and resources to use keyvaluetags package
  aws/data_source_aws_network_acls.go
  aws/resource_aws_default_network_acl.go
  aws/resource_aws_default_network_acl_test.go
  aws/resource_aws_network_acl.go
Labels: service/ec2, size/S, technical-debt, tests

#11932 resource/aws_vpn_connection: Refactor to use keyvaluetags package
  aws/resource_aws_vpn_connection.go
Labels: service/ec2, size/XS, technical-debt

#11931 service/ec2: Refactor VPC Endpoint (Service) data sources and resource to use keyvaluetags package
  aws/data_source_aws_vpc_endpoint.go
  aws/data_source_aws_vpc_endpoint_service.go
  aws/resource_aws_vpc_endpoint_service.go
Labels: service/ec2, size/XS, technical-debt

#11915 service/ec2: Refactor aws_route_table(s) data sources and resource to use keyvaluetags package
  aws/data_source_aws_route_table.go
  aws/data_source_aws_route_tables.go
  aws/resource_aws_route_table.go
  aws/resource_aws_route_table_test.go
Labels: service/ec2, size/S, technical-debt, tests

#11934 service/ec2: Refactor Spot Instance and Fleet resources to use keyvaluetags package
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_instance_request.go
Labels: service/ec2, size/S, technical-debt

#11935 resource/aws_vpc_peering_connection: Refactor to use keyvaluetags package
  aws/resource_aws_vpc_peering_connection.go
Labels: service/ec2, size/XS, technical-debt

#12220 AWS QuickSight keyvaluetags
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/service_tags_gen_test.go
  aws/internal/keyvaluetags/update_tags_gen.go
Labels: service/quicksight, size/L, tests

#12207 Replace local version of schema validators with identical versions from terraform-plugin-sdk helper/validation package
  aws/resource_aws_dax_cluster.go
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_sagemaker_endpoint_configuration.go
  aws/validators.go
Labels: service/dax, service/elasticache, service/sagemaker, size/S, technical-debt

#11141 resource/aws_alb_target_group: Add load balancing algorithm type
  aws/resource_aws_alb_target_group_test.go
  aws/resource_aws_lb_target_group.go
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, enhancement, service/elbv2, size/M, tests

#12228 Fix race condition in examples
  website/docs/r/s3_bucket_notification.html.markdown
Labels: documentation, service/s3, size/XS

#12224 Fixing example resource
  website/docs/d/subnet_ids.html.markdown
Labels: documentation, service/ec2, size/XS

#12193 fixup(cloudwatch_log_group) documentation
  website/docs/r/cloudwatch_log_group.html.markdown
Labels: documentation, service/cloudwatchlogs, size/XS

#12180 spelling typo
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, service/cloudtrail, size/XS

#12155 default EBS Volume type
  website/docs/r/ebs_volume.html.markdown
Labels: documentation, service/ec2, size/XS

#12137 tfproviderlint R009 check: remove Go panic usage from 'structure.go'
  aws/structure.go
Labels: service/elastic-transcoder, size/S, technical-debt

#12122 docs: add capacitystatus filter to aws_pricing_product
  website/docs/d/pricing_product.html.markdown
Labels: documentation, service/pricing, size/XS

#12177 Correct default value for client-broker encryption setting.
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, service/kafka, size/XS

#12227 Fix CloudFormation StackSet acceptance tests and sweepers in GovCloud
  aws/resource_aws_cloudformation_stack_set.go
  aws/resource_aws_cloudformation_stack_set_instance.go
  aws/resource_aws_cloudformation_stack_set_instance_test.go
  aws/resource_aws_cloudformation_stack_set_test.go
  website/docs/r/cloudformation_stack_set.html.markdown
  website/docs/r/cloudformation_stack_set_instance.html.markdown
Labels: documentation, service/cloudformation, size/L, tests

#12139 New Data Sources: aws_ec2_instance_type_offering and aws_ec2_instance_type_offerings
  aws/data_source_aws_ec2_instance_type_offering.go
  aws/data_source_aws_ec2_instance_type_offering_test.go
  aws/data_source_aws_ec2_instance_type_offerings.go
  aws/data_source_aws_ec2_instance_type_offerings_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/ec2_instance_type_offering.html.markdown
  website/docs/d/ec2_instance_type_offerings.html.markdown
Labels: documentation, new-data-source, provider, service/ec2, size/XL, tests

#12170 resource/aws_media_store_container: Prevent ValidationException on creation when no tags are configured
  aws/resource_aws_media_store_container.go
Labels: bug, service/mediastore, size/XS

#12171 resource/aws_lambda_function_event_invoke_config: Retry on additional IAM eventual consistency error with SNS Topic destinations
  aws/resource_aws_lambda_function_event_invoke_config.go
Labels: bug, service/lambda, size/XS

#12172 tests/resource/aws_eks_node_group: Update TestAccAWSEksNodeGroup_ReleaseVersion argument value
  aws/resource_aws_eks_node_group_test.go
Labels: service/eks, size/XS, tests

#3728 Implementation of acl grants
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, enhancement, service/s3, size/XL, tests

#11907 service/ec2: Refactor aws_internet_gateway data source and resource to use keyvaluetags package
  aws/data_source_aws_internet_gateway.go
  aws/data_source_aws_internet_gateway_test.go
  aws/resource_aws_internet_gateway.go
Labels: service/ec2, size/S, technical-debt, tests

#12280 resource/aws_eks_cluster: Add encryption_config configuration block
  aws/resource_aws_eks_cluster.go
  aws/resource_aws_eks_cluster_test.go
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, enhancement, service/eks, size/L, tests

#11918 service/ec2: Refactor Security Group data sources and resources to use keyvaluetags package
  aws/data_source_aws_security_group.go
  aws/data_source_aws_security_groups.go
  aws/resource_aws_default_security_group.go
  aws/resource_aws_security_group.go
  aws/tags.go
  aws/tags_test.go
Labels: service/ec2, size/L, technical-debt, tests

#11645 Refactor WorkSpaces resources to use keyvaluetags package
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/internal/keyvaluetags/workspaces_tags.go
  aws/resource_aws_workspaces_directory.go
  aws/resource_aws_workspaces_directory_test.go
  aws/resource_aws_workspaces_ip_group.go
  aws/resource_aws_workspaces_ip_group_test.go
  aws/tagsWorkspaces.go
Labels: service/iam, service/workspaces, size/L, tests

#12274 docs(website): update module name to snake case
  website/docs/r/sns_topic_policy.html.markdown
Labels: documentation, service/sns, size/XS

#12256 Securityhub is no longer in preview - update docs
  website/docs/r/securityhub_account.markdown
  website/docs/r/securityhub_product_subscription.markdown
  website/docs/r/securityhub_standards_subscription.markdown
Labels: documentation, service/securityhub, size/XS

#12296 zone_awareness_enabled - elaboration
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, service/elasticsearch, size/XS

#12244 fix typo in launch template docs
  website/docs/r/launch_template.html.markdown
Labels: documentation, service/ec2, size/XS

#12288 r/aws_vpc_endpoint - tag on create
  aws/resource_aws_vpc_endpoint.go
Labels: enhancement, service/ec2, size/XS

#12135 add tagging support to ec2 traffic mirror target
  aws/resource_aws_ec2_traffic_mirror_target.go
  aws/resource_aws_ec2_traffic_mirror_target_test.go
  website/docs/r/ec2_traffic_mirror_target.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#12134 add tagging support to ec2 traffic mirror session
  aws/resource_aws_ec2_traffic_mirror_session.go
  aws/resource_aws_ec2_traffic_mirror_session_test.go
  website/docs/r/ec2_traffic_mirror_session.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#12133 add tagging support to ec2 traffic mirror filter + read after create
  aws/resource_aws_ec2_traffic_mirror_filter.go
  aws/resource_aws_ec2_traffic_mirror_filter_test.go
  website/docs/r/ec2_traffic_mirror_filter.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#12132 r/aws_cloud9_environment_ec2: Support tagging
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_cloud9_environment_ec2.go
  aws/resource_aws_cloud9_environment_ec2_test.go
  website/docs/r/cloud9_environment_ec2.html.markdown
Labels: documentation, enhancement, service/cloud9, service/ec2, size/XL, tests

#11972 AWS AppSync integration with AWS X-Ray
  aws/resource_aws_appsync_graphql_api.go
  aws/resource_aws_appsync_graphql_api_test.go
  website/docs/r/appsync_graphql_api.html.markdown
Labels: documentation, enhancement, service/appsync, size/S, tests

#12290 r/aws_vpc_endpoint_service - tag on create + read after create
  aws/resource_aws_vpc_endpoint_service.go
  aws/resource_aws_vpc_endpoint_service_test.go
Labels: enhancement, service/ec2, size/XS, tests

#12309 Add keyvaluetags support for aws globalaccelerator accelerator resoure
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_globalaccelerator_accelerator.go
  aws/resource_aws_globalaccelerator_accelerator_test.go
  website/docs/r/globalaccelerator_accelerator.markdown
Labels: documentation, enhancement, service/globalaccelerator, size/L, tests

#12289 service/ec2: Finish refactoring to keyvaluetags package
  aws/data_source_aws_eip.go
  aws/data_source_aws_instances.go
  aws/data_source_aws_subnet.go
  aws/data_source_aws_subnet_ids.go
  aws/data_source_aws_vpc.go
  aws/data_source_aws_vpc_peering_connection.go
  aws/data_source_aws_vpcs.go
  aws/resource_aws_ami.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_internet_gateway_test.go
  aws/resource_aws_launch_template_test.go
  aws/resource_aws_nat_gateway_test.go
  aws/resource_aws_network_acl_test.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_security_group_test.go
  aws/resource_aws_vpc_peering_connection_test.go
  aws/resource_aws_vpc_test.go
  aws/resource_aws_vpn_gateway_test.go
  aws/tags.go
  aws/tags_test.go
Labels: service/ec2, size/L, technical-debt, tests

#12314 Update ram_resource_share_accepter.markdown
  website/docs/r/ram_resource_share_accepter.markdown
Labels: documentation, service/ram, size/XS

#12308 Add AT005 lint rule and fix tests
  GNUmakefile
  aws/resource_aws_elastic_beanstalk_application_test.go
Labels: service/elasticbeanstalk, size/XS, tests

#12273 r/aws_flow_log - add tagging support
  aws/resource_aws_flow_log.go
  aws/resource_aws_flow_log_test.go
  website/docs/r/flow_log.html.markdown
Labels: documentation, enhancement, service/ec2, size/L, tests

#12298 Rename documentation subcategory for API Gateway v1 to prepare for v2
  website/allowed-subcategories.txt
  website/aws.erb
  website/docs/d/api_gateway_api_key.html.markdown
  website/docs/d/api_gateway_resource.html.markdown
  website/docs/d/api_gateway_rest_api.html.markdown
  website/docs/d/api_gateway_vpc_link.html.markdown
  website/docs/r/api_gateway_account.html.markdown
  website/docs/r/api_gateway_api_key.html.markdown
  website/docs/r/api_gateway_authorizer.html.markdown
  website/docs/r/api_gateway_base_path_mapping.html.markdown
  website/docs/r/api_gateway_client_certificate.html.markdown
  website/docs/r/api_gateway_deployment.html.markdown
  website/docs/r/api_gateway_documentation_part.html.markdown
  website/docs/r/api_gateway_documentation_version.html.markdown
  website/docs/r/api_gateway_domain_name.html.markdown
  website/docs/r/api_gateway_gateway_response.markdown
  website/docs/r/api_gateway_integration.html.markdown
  website/docs/r/api_gateway_integration_response.html.markdown
  website/docs/r/api_gateway_method.html.markdown
  website/docs/r/api_gateway_method_response.html.markdown
  website/docs/r/api_gateway_method_settings.html.markdown
  website/docs/r/api_gateway_model.html.markdown
  website/docs/r/api_gateway_request_validator.html.markdown
  website/docs/r/api_gateway_resource.html.markdown
  website/docs/r/api_gateway_rest_api.html.markdown
  website/docs/r/api_gateway_stage.html.markdown
  website/docs/r/api_gateway_usage_plan.html.markdown
  website/docs/r/api_gateway_usage_plan_key.html.markdown
  website/docs/r/api_gateway_vpc_link.html.markdown
Labels: documentation, service/apigateway, size/M

#12277 tests/provider: Remove extraneously hardcoded provider configurations in test configurations
  aws/data_source_aws_elastic_beanstalk_hosted_zone_test.go
  aws/provider_test.go
  aws/resource_aws_ami_from_instance_test.go
  aws/resource_aws_codecommit_trigger_test.go
  aws/resource_aws_dynamodb_global_table_test.go
  aws/resource_aws_eip_test.go
  aws/resource_aws_pinpoint_adm_channel_test.go
  aws/resource_aws_pinpoint_apns_channel_test.go
  aws/resource_aws_pinpoint_apns_sandbox_channel_test.go
  aws/resource_aws_pinpoint_apns_voip_channel_test.go
  aws/resource_aws_pinpoint_apns_voip_sandbox_channel_test.go
  aws/resource_aws_pinpoint_app_test.go
  aws/resource_aws_pinpoint_baidu_channel_test.go
  aws/resource_aws_pinpoint_email_channel_test.go
  aws/resource_aws_pinpoint_event_stream_test.go
  aws/resource_aws_pinpoint_gcm_channel_test.go
  aws/resource_aws_pinpoint_sms_channel_test.go
  aws/resource_aws_rds_cluster_test.go
  aws/resource_aws_route53_zone_association_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: service/codecommit, service/dynamodb, service/ec2, service/elasticbeanstalk, service/pinpoint, service/rds, service/route53, service/s3, size/XXL, technical-debt, tests

#12253 tests/data-source/aws_internet_gateway: Remove hardcoded provider region and ExpectNonEmptyPlan
  aws/data_source_aws_internet_gateway_test.go
Labels: service/ec2, size/XS, tests

#12247 tests/service/storagegateway: Refactor to use aws_ec2_instance_type_offering and aws_ssm_parameter data sources
  aws/resource_aws_storagegateway_gateway_test.go
Labels: service/storagegateway, size/L, tests

#12328 Update index.html.markdown
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#12241 provider: Additional hashibot pull request labeling
  .hashibot.hcl
Labels: size/XS

#11720 service/ec2: Automatically retry on DetachVpnGateway calls receiving `InvalidParameterValue: This call cannot be completed because there are pending VPNs or Virtual Interfaces`
  aws/config.go
Labels: provider, service/ec2, size/XS

#12173 tests/resource/aws_ssm_activation: Remove broken ExpectError testing from TestAccAWSSSMActivation_expirationDate
  aws/resource_aws_ssm_activation_test.go
Labels: service/ssm, size/XS, tests

#12088 tests/provider: Enable passing tfproviderlint v0.10.0 checks
  GNUmakefile
Labels: provider, size/XS, tests

#12028 resource/aws_opsworks_stack: Fixes for tfproviderlint R002
  aws/resource_aws_opsworks_stack.go
Labels: service/opsworks, size/XS, technical-debt

#11959 tests/resource/aws_launch_template: Randomize naming in network interface test configurations
  aws/resource_aws_launch_template_test.go
Labels: service/ec2, size/XS, tests

#12174 tests/data-source/aws_ssm_parameter: Randomize naming
  aws/data_source_aws_ssm_parameter_test.go
Labels: service/ssm, size/XS, tests

#11957 tests/resource/aws_cloudwatch_metric_alarm: Prevent instance type errors during instance testing
  aws/resource_aws_cloudwatch_metric_alarm_test.go
Labels: service/cloudwatch, size/S, tests

#11890 tests/resource/aws_key_pair: Randomize name in test configurations
  aws/resource_aws_key_pair_test.go
Labels: service/ec2, size/S, tests

#12234 provider: Fix and enable tfproviderlint S031, S032, and S033
  GNUmakefile
  aws/data_source_aws_cloudformation_stack.go
  aws/data_source_aws_cloudhsm2_cluster.go
  aws/data_source_aws_dynamodb_table.go
  aws/data_source_aws_efs_file_system.go
  aws/data_source_aws_eks_cluster.go
  aws/data_source_aws_elastic_beanstalk_application.go
  aws/data_source_aws_elb.go
  aws/data_source_aws_lambda_function.go
  aws/data_source_aws_lambda_layer_version.go
  aws/data_source_aws_lb.go
  aws/data_source_aws_lb_target_group.go
  aws/data_source_aws_mq_broker.go
  aws/data_source_aws_rds_cluster.go
  aws/resource_aws_api_gateway_account.go
  aws/resource_aws_cloudhsm2_cluster.go
  aws/resource_aws_eks_cluster.go
Labels: service/apigateway, service/cloudformation, service/dynamodb, service/efs, service/eks, service/elasticbeanstalk, service/elb, service/elbv2, service/lambda, service/mq, service/rds, size/S

#12233 provider: Fix and enable tfproviderlint V002, V004, V007, and V008
  GNUmakefile
  aws/data_source_aws_ami.go
  aws/data_source_aws_ami_ids.go
  aws/data_source_aws_elastic_beanstalk_solution_stack.go
  aws/resource_aws_appsync_api_key.go
  aws/resource_aws_codepipeline_webhook.go
  aws/resource_aws_ec2_capacity_reservation.go
  aws/resource_aws_kms_external_key.go
  aws/resource_aws_lambda_event_source_mapping.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_route53_resolver_endpoint.go
  aws/resource_aws_route53_resolver_rule.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_instance_request.go
  aws/resource_aws_ssm_activation.go
  aws/resource_aws_vpc.go
  aws/resource_aws_vpc_ipv4_cidr_block_association.go
Labels: service/appsync, service/codepipeline, service/ec2, service/elasticbeanstalk, service/kms, service/lambda, service/route53resolver, service/s3, service/ssm, size/S, technical-debt

#12033 tests/provider: Enable tfproviderlint R002 check
  GNUmakefile
  aws/resource_aws_sns_platform_application.go
Labels: provider, service/sns, size/XS, tests

#12189 provider: Add AWSClient PartitionHostname() and RegionalHostname() receiver methods and AWSR001 linter
  GNUmakefile
  aws/config.go
  aws/config_test.go
  aws/data_source_aws_efs_file_system.go
  aws/data_source_aws_efs_mount_target.go
  aws/data_source_aws_eip.go
  aws/data_source_aws_s3_bucket.go
  aws/data_source_aws_s3_bucket_test.go
  aws/data_source_aws_transfer_server.go
  aws/data_source_aws_vpc_endpoint_service_test.go
  aws/resource_aws_api_gateway_deployment.go
  aws/resource_aws_api_gateway_stage.go
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_efs_file_system_test.go
  aws/resource_aws_efs_mount_target.go
  aws/resource_aws_efs_mount_target_test.go
  aws/resource_aws_eip.go
  aws/resource_aws_eip_test.go
  aws/resource_aws_s3_access_point.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
  aws/resource_aws_transfer_server.go
  aws/structure.go
  aws/website_endpoint_url_test.go
  awsproviderlint/README.md
  awsproviderlint/passes/AWSR001/AWSR001.go
  awsproviderlint/passes/AWSR001/AWSR001_test.go
  awsproviderlint/passes/AWSR001/README.md
  awsproviderlint/passes/AWSR001/testdata/src/a/main.go
  awsproviderlint/passes/checks.go
  awsproviderlint/passes/fmtsprintfcallexpr/fmtsprintfcallexpr.go
  awsproviderlint/passes/fmtsprintfcallexpr/fmtsprintfcallexpr_test.go
Labels: provider, service/apigateway, service/cognito, service/ec2, service/efs, service/s3, service/transfer, size/XL, technical-debt, tests

#12299 Clean up HSM v2 function names
  CHANGELOG.md
  aws/data_source_aws_cloudhsm2_cluster.go
  aws/data_source_aws_cloudhsm2_cluster_test.go
  aws/provider.go
  aws/resource_aws_cloudhsm2_cluster.go
  aws/resource_aws_cloudhsm2_cluster_test.go
  aws/resource_aws_cloudhsm2_hsm.go
  aws/resource_aws_cloudhsm2_hsm_test.go
  examples/cloudhsm/main.tf
  website/docs/r/cloudhsm_v2_cluster.html.markdown
Labels: documentation, provider, service/cloudhsmv2, size/L, tests

#12355 Update to supported nodejs version
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS

#12339 Updates hashibot config to identify `apigatewayv2` service name
  .hashibot.hcl
Labels: needs-triage, size/XS

#12358 resource/aws_cognito_user_pool: Support Software Token MFA Configuration
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/structure.go
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, enhancement, service/cognito, size/XXL, tests

#8842 New resource: aws_apigatewayv2_api
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/provider.go
  aws/resource_aws_apigatewayv2_api.go
  aws/resource_aws_apigatewayv2_api_test.go
  website/allowed-subcategories.txt
  website/aws.erb
  website/docs/r/api_gateway_rest_api.html.markdown
  website/docs/r/apigatewayv2_api.html.markdown
Labels: documentation, new-resource, provider, service/apigateway, service/apigatewayv2, size/XL, tests

#12283 Fix error handling for alternative errors
  aws/resource_aws_ebs_snapshot_copy.go
Labels: bug, service/ec2, size/XS

#8291 Feature/add support aws kinesis video stream resource
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/provider.go
  aws/resource_aws_kinesis_video_stream.go
  aws/resource_aws_kinesis_video_stream_test.go
  website/allowed-subcategories.txt
  website/aws.erb
  website/docs/r/kinesis_video_stream.html.markdown
Labels: documentation, new-resource, provider, size/XL, tests

#12240 spellcheck fixes for CHANGELOG
  CHANGELOG.md
Labels: documentation, provider, size/XS

#12393 r/aws_elastic_beanstalk_environment: make fmt
  aws/resource_aws_elastic_beanstalk_environment.go
Labels: service/elasticbeanstalk, size/XS, technical-debt

#12375 r/aws_inspector_assessment_template: Support resource tags
  aws/internal/keyvaluetags/inspector_tags.go
  aws/resource_aws_inspector_assessment_template.go
  aws/resource_aws_inspector_assessment_template_test.go
  website/docs/r/inspector_assessment_template.html.markdown
Labels: documentation, enhancement, service/inspector, size/XL, tests

#12347 r/aws_nat_gateway - support for tag on create
  aws/resource_aws_nat_gateway.go
  aws/resource_aws_nat_gateway_test.go
Labels: enhancement, service/ec2, size/L, tests

#12377 tests/provider: Add misspell for CHANGELOG.md in docscheck Make target
  CHANGELOG.md
  GNUmakefile
Labels: provider, size/XS, tests

#12385 Avoid Amazon's SSM security holes
  website/docs/r/ssm_activation.html.markdown
Labels: documentation, service/ssm, size/XS

#12381 r/aws_backup_plan - add import support
  aws/resource_aws_backup_plan.go
  aws/resource_aws_backup_plan_test.go
  website/docs/r/backup_plan.html.markdown
Labels: documentation, enhancement, service/backup, size/S, tests

#12349 d/aws_iam_role Added Tags as an output.
  aws/data_source_aws_iam_role.go
  aws/data_source_aws_iam_role_test.go
  website/docs/d/iam_role.html.markdown
Labels: documentation, enhancement, service/iam, size/M, tests

#10687 fix issue 10511 - aws_backup_selection
  aws/resource_aws_backup_selection.go
Labels: bug, service/backup, size/XS

#11845 r/aws_backup_vault: remove from state if manually deleted
  aws/resource_aws_backup_vault.go
  aws/resource_aws_backup_vault_test.go
Labels: bug, service/backup, size/S, tests

#11257 Add drop_invalid_header_fields to AWS ALB Resource
  aws/data_source_aws_lb.go
  aws/resource_aws_lb.go
  aws/resource_aws_lb_test.go
  website/docs/r/lb.html.markdown
Labels: documentation, enhancement, service/elbv2, size/M, tests

#12392 restore "required" field in security group rule example
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, service/ec2, size/XS

#11170 When Lambda function name change, alias must be replace
  aws/resource_aws_lambda_alias.go
Labels: bug, service/lambda, size/XS

#11842 d/aws_vpc_endpoint_service: Correctly handle SageMaker Notebook endpoints
  website/docs/d/vpc_endpoint.html.markdown
  website/docs/d/vpc_endpoint_service.html.markdown
  website/docs/r/vpc_endpoint.html.markdown
Labels: documentation, service/ec2, size/XS, tests

#12008 r/aws_kinesis_stream Fix kms_key_id field not updating
  aws/resource_aws_kinesis_stream.go
  aws/resource_aws_kinesis_stream_test.go
Labels: bug, service/kinesis, size/M, tests

#12406 docs: Fix terraform 0.12 warning
  website/docs/r/default_network_acl.html.markdown
Labels: documentation, service/ec2, size/XS

#10826 Fix validate docdb instance identifier limit
  aws/validators.go
  aws/validators_test.go
Labels: enhancement, service/docdb, size/S, tests, waiting-response

#12383 r/aws_opsworks_application - add import support + validations
  aws/resource_aws_opsworks_application.go
  aws/resource_aws_opsworks_application_test.go
  website/docs/r/opsworks_application.html.markdown
Labels: documentation, enhancement, service/opsworks, size/L, tests

#11984 Add Sensitive flag to private ssh_key properties
  aws/resource_aws_opsworks_application.go
  aws/resource_aws_opsworks_stack.go
Labels: bug, service/opsworks, size/XS

#12327 Add 1 hour backup interval for DLM
  aws/resource_aws_dlm_lifecycle_policy.go
  website/docs/r/dlm_lifecycle_policy.markdown
Labels: documentation, enhancement, service/dlm, size/XS

#12388 r/aws_cognito_user_pool_client - change lists to sets to prevent change when values are not sorted
  aws/resource_aws_cognito_user_pool_client.go
  aws/resource_aws_cognito_user_pool_client_test.go
Labels: bug, service/cognito, size/M, tests

#12418 resource_aws_s3_bucket.go: retry NoSuchBucket when updating tags for s3 bucket
  aws/resource_aws_s3_bucket.go
Labels: bug, service/s3, size/XS

#12411 resource/aws_lambda_function: Add length validation for lambda handler
  aws/resource_aws_lambda_function.go
Labels: enhancement, service/lambda, size/XS

#12307 Add test for Launch template ipv4 addresses
  aws/resource_aws_launch_template_test.go
Labels: service/ec2, size/S, tests

#12350 r/aws_api_gateway_rest_api - fix vpc endpoint updates
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_api_gateway_rest_api_test.go
Labels: bug, service/apigateway, size/M, tests

#11762 r/cognito_user_pool_client - add pinpoints analytics support
  aws/resource_aws_cognito_user_pool_client.go
  aws/resource_aws_cognito_user_pool_client_test.go
  website/docs/r/cognito_user_pool_client.markdown
Labels: documentation, enhancement, service/cognito, size/XL, tests

#11607 Configure "FROM email address" for Cognito user pool (aws_cognito_user_pool)
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/structure.go
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, enhancement, service/cognito, size/XS, tests

#12317 Support case insensitive usernames for Cognito user pools
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/structure.go
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, enhancement, service/cognito, size/M, tests

#11604 Add prevent_user_existence_errors to cognito user pool client.
  aws/resource_aws_cognito_user_pool_client.go
  aws/resource_aws_cognito_user_pool_client_test.go
  website/docs/r/cognito_user_pool_client.markdown
Labels: documentation, enhancement, service/cognito, size/XS, tests

#6975 r/aws_securityhub: Add aws_securityhub_member resource
  aws/provider.go
  aws/resource_aws_securityhub_member.go
  aws/resource_aws_securityhub_member_test.go
  aws/resource_aws_securityhub_test.go
  website/aws.erb
  website/docs/r/securityhub_member.markdown
Labels: documentation, new-resource, provider, service/securityhub, size/XL, tests

#7252 Feature/add import to dhcp options associations
  aws/resource_aws_vpc_dhcp_options_association.go
  aws/resource_aws_vpc_dhcp_options_association_test.go
  website/docs/r/vpc_dhcp_options_association.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#12090 Add PCI standard examples and docs
  website/docs/r/securityhub_standards_subscription.markdown
Labels: documentation, service/securityhub, size/XS

#12400 service/ec2: Initial support for Local Zones
  aws/data_source_aws_availability_zone.go
  aws/data_source_aws_availability_zone_test.go
  aws/data_source_aws_availability_zones.go
  aws/data_source_aws_availability_zones_test.go
  aws/provider.go
  aws/resource_aws_ec2_availability_zone_group.go
  aws/resource_aws_ec2_availability_zone_group_test.go
  website/aws.erb
  website/docs/d/availability_zone.html.markdown
  website/docs/d/availability_zones.html.markdown
  website/docs/r/ec2_availability_zone_group.html.markdown
Labels: documentation, enhancement, new-resource, provider, service/ec2, size/XL, tests

#11992 add support for Cloudwatch Log Metric Filter import
  aws/resource_aws_cloudwatch_log_metric_filter.go
  aws/resource_aws_cloudwatch_log_metric_filter_test.go
  website/docs/r/cloudwatch_log_metric_filter.html.markdown
Labels: documentation, enhancement, service/cloudwatchlogs, size/M, tests

#11843 r/mq_configuration - add import tests + remove call to list tags
  aws/resource_aws_mq_configuration.go
  aws/resource_aws_mq_configuration_test.go
Labels: enhancement, service/mq, size/M, tests

#12254 Resource aws athena workgroup
  aws/resource_aws_athena_workgroup.go
  aws/resource_aws_athena_workgroup_test.go
  website/docs/r/athena_workgroup.html.markdown
Labels: documentation, enhancement, service/athena, size/L, tests

#12510 Correcting possible values for encryption_option in athena_workgroup documentation
  website/docs/r/athena_workgroup.html.markdown
Labels: documentation, service/athena, size/XS

#12447 Moved VPC SGs from ModifyDB to RestoreDB API Call
  aws/resource_aws_db_instance.go
Labels: bug, service/rds, size/XS

#12529 Update the resource definition
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, service/cognito, size/XS

#12416 d/aws_prefix_lists - add filter
  aws/data_source_aws_prefix_list.go
  aws/data_source_aws_prefix_list_test.go
  website/docs/d/prefix_list.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#12403 d/aws_launch_template - filter support
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
  website/docs/d/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#12404 d/aws_vpc_endpoint_service - filter support
  aws/data_source_aws_vpc_endpoint_service.go
  aws/data_source_aws_vpc_endpoint_service_test.go
  website/docs/d/vpc_endpoint_service.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#12415 d/aws_ec2_transit_gateway_vpn_attachment - filter support
  aws/data_source_aws_ec2_transit_gateway_vpn_attachment.go
  aws/data_source_aws_ec2_transit_gateway_vpn_attachment_test.go
  website/docs/d/ec2_transit_gateway_vpn_attachment.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#12542 provider: Switch stale handling from hashibot to official GitHub Action
  .github/workflows/stale.yml
  .hashibot.hcl
Labels: provider, size/S

#12530 Implement aws_storagegateway_nfs_file_share.path
  aws/resource_aws_storagegateway_nfs_file_share.go
  aws/resource_aws_storagegateway_nfs_file_share_test.go
Labels: bug, service/storagegateway, size/XS, tests

#12516 d/ec2_transit_gateway_dx_gateway_attachement - filter support
  aws/data_source_aws_ec2_transit_gateway_dx_gateway_attachment.go
  aws/data_source_aws_ec2_transit_gateway_dx_gateway_attachment_test.go
  website/docs/d/ec2_transit_gateway_dx_gateway_attachment.html.markdown
Labels: documentation, enhancement, service/directconnect, service/ec2, size/M, tests

#12239 Cleans up EMR Cluster tests
  aws/provider_test.go
  aws/resource_aws_emr_cluster_test.go
Labels: service/emr, size/XXL, tests

#12483 r/aws_flow_log: Add max_aggregation_interval attribute
  aws/resource_aws_flow_log.go
  aws/resource_aws_flow_log_test.go
  website/docs/r/flow_log.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#12486 Fixed documentation example for aws_api_gateway_deployment
  website/docs/r/api_gateway_deployment.html.markdown
Labels: documentation, service/apigateway, size/XS

#12215 aws_msk_cluster: support Logging Info
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_msk_cluster_test.go
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, enhancement, service/kafka, size/XL, tests

#11757 r/ecs_task_definition: Support Attach Elastic Accelerator
  aws/resource_aws_ecs_task_definition.go
  aws/resource_aws_ecs_task_definition_test.go
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, enhancement, service/ecs, size/L, tests

#12556 provider: Updates to verify hashibot behaviors and increase stale handling per run
  .github/workflows/stale.yml
  .hashibot.hcl
Labels: provider, size/XS, technical-debt

#12544 tests/data-source/aws_vpc_endpoint_service: Fix EC2 policy check
  aws/data_source_aws_vpc_endpoint_service_test.go
Labels: service/ec2, size/XS, tests

#12491 rd/aws_instance and rd/aws_launch_template: Add support for metadata_options
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
  aws/provider_test.go
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/d/instance.html.markdown
  website/docs/d/launch_template.html.markdown
  website/docs/r/instance.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#12079 Fix pending states for Neptune Instance
  aws/resource_aws_neptune_cluster_instance.go
Labels: bug, service/neptune, size/XS

#12305 r/aws_route53_health_check - suppress diff when expanded ipv6 address is the same
  aws/resource_aws_route53_health_check.go
  aws/resource_aws_route53_health_check_test.go
Labels: service/route53, size/M, tests

#12470 resource/aws_licensemanager_license_configuration: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_licensemanager_license_configuration.go
Labels: service/licensemanager, size/XS, technical-debt

#12471 resource/aws_elasticache_parameter_group: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_elasticache_parameter_group.go
Labels: service/elasticache, size/XS, technical-debt

#12472 resource/aws_globalaccelerator_accelerator: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_globalaccelerator_accelerator.go
Labels: service/globalaccelerator, size/XS, technical-debt

#12474 resource/aws_qldb_ledger: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_qldb_ledger.go
Labels: service/qldb, size/XS, technical-debt

#12475 resource/aws_route53_zone: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_route53_zone.go
Labels: service/route53, size/XS, technical-debt

#12476 resource/aws_opsworks_rds_db_instance: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_opsworks_rds_db_instance.go
Labels: service/opsworks, size/XS, technical-debt

#12546 tests/service/rds: Sweeper and randomization of Database Snapshots
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_db_snapshot_test.go
Labels: service/rds, size/M, tests

#11885 Fix bluegreen deployment changes for ECS
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codedeploy_deployment_group_test.go
Labels: bug, service/codedeploy, size/M, tests

#12492 rd/launch_template - add hibernation options
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/d/launch_template.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#11991 add support for Kms grant import
  aws/resource_aws_kms_grant.go
  aws/resource_aws_kms_grant_test.go
  website/docs/r/kms_grant.html.markdown
Labels: documentation, enhancement, service/kms, size/XL, tests, waiting-response

#12559 Add additional bandwidth options for Direct Connect
  aws/validators.go
  aws/validators_test.go
  website/docs/r/dx_connection.html.markdown
  website/docs/r/dx_lag.html.markdown
Labels: documentation, enhancement, service/directconnect, size/XS, tests

#12576 (docs) show AWS recommended EFS volume mount options
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, service/ecs, size/XS

#12477 service/rds: Remove deprecated (helper/schema.ResourceData).Partial() and (helper/schema.ResourceData).SetPartial()
  aws/resource_aws_db_cluster_snapshot.go
  aws/resource_aws_db_event_subscription.go
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_option_group.go
  aws/resource_aws_db_parameter_group.go
  aws/resource_aws_db_security_group.go
  aws/resource_aws_db_snapshot.go
  aws/resource_aws_db_subnet_group.go
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_instance.go
Labels: service/rds, size/M, technical-debt

#12511 Fixes Elastic Beanstalk Application and Environment Sweepers and Tests
  aws/resource_aws_elastic_beanstalk_application_test.go
  aws/resource_aws_elastic_beanstalk_environment.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
Labels: service/elasticbeanstalk, size/L, tests
