Repository hashicorp/terraform-provider-aws, pull requests merged in 2020-07, with the labels that each got.

#13901 tests/service/iam: Implement aws_iam_group and aws_iam_policy sweepers, catch additional aws_iam_role and aws_iam_user
  aws/resource_aws_iam_group.go
  aws/resource_aws_iam_group_test.go
  aws/resource_aws_iam_policy_test.go
  aws/resource_aws_iam_role_test.go
  aws/resource_aws_iam_user_test.go
Labels: service/iam, size/L, technical-debt, tests

#13912 resource/aws_autoscaling_group: Prevent unexpected differences in `tags` for Terraform 0.11 and earlier with boolean `propagate_at_launch` values
  aws/resource_aws_autoscaling_group.go
Labels: bug, regression, service/autoscaling, size/S

#13922 resource/aws_spot_fleet_request: Increase default delete timeout to 15 minutes
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
  website/docs/r/spot_fleet_request.html.markdown
Labels: bug, documentation, service/ec2, size/XS, tests

#11335 Delete old Route53 record when updating name
  aws/resource_aws_route53_record.go
  aws/resource_aws_route53_record_test.go
Labels: bug, service/route53, size/M, tests

#13012 resource/aws_route53_record: allow change record type and set_id for records with health checks
  aws/resource_aws_route53_record.go
Labels: bug, service/route53, size/XS

#12005 r/sfn_state_machine - iam role eventual consistency + wait for delete + add `arn` attribute
  aws/internal/service/sfn/waiter/status.go
  aws/internal/service/sfn/waiter/waiter.go
  aws/resource_aws_sfn_state_machine.go
  aws/resource_aws_sfn_state_machine_test.go
  website/docs/r/sfn_state_machine.html.markdown
Labels: bug, enhancement, service/sfn, size/XL, tests

#13927 resource/aws_db_instance_role_association: Prevent immediate read after creation panic
  aws/resource_aws_db_instance_role_association.go
Labels: bug, crash, service/rds, size/XS

#14026 Change aws_vpc option instance_tenancy to default (saving users $48/day)
  website/docs/r/vpc.html.markdown
Labels: documentation, service/ec2, size/XS

#14023 docs: Fix broken ec2_tag resource link in resource tagging guide
  website/docs/guides/resource-tagging.html.md
Labels: documentation, size/XS

#14034 awsproviderlint: Add missing AWSR002 link and docs to add these links to README
  awsproviderlint/README.md
Labels: size/XS

#14031 Add hardcoded AMI ID check
  awsproviderlint/README.md
  awsproviderlint/passes/AWSAT002/AWSAT002.go
  awsproviderlint/passes/AWSAT002/AWSAT002_test.go
  awsproviderlint/passes/AWSAT002/README.md
  awsproviderlint/passes/AWSAT002/testdata/src/a/main.go
  awsproviderlint/passes/AWSAT002/testdata/src/a/vendor
  awsproviderlint/passes/checks.go
Labels: partition/aws-us-gov, size/L, tests

#14030 r/aws_customer_gateway: Allow 4-byte ASNs
  aws/resource_aws_customer_gateway.go
  aws/resource_aws_customer_gateway_test.go
  aws/validators.go
  aws/validators_test.go
Labels: bug, regression, service/ec2, size/M, tests

#9948 Sagemaker example of "deploy your own model"
  .github/workflows/examples.yml
  examples/sagemaker/README.md
  examples/sagemaker/main.tf
  examples/sagemaker/model.tar.gz
Labels: examples, provider, size/L, tests

#14037 docs/rds_cluster_instance: the engine/version should match that of the cluster
  website/docs/r/rds_cluster_endpoint.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, service/rds, size/XS

#5225 r/launch_template: modify default_version
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/r/launch_template.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#14065 resource/aws_launch_template: Skip extra API call during update and parallelize new tests
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
Labels: service/ec2, size/XS, tests

#14060 service/organizations: Support Backup policies
  aws/resource_aws_organizations_organization.go
  aws/resource_aws_organizations_organization_test.go
  aws/resource_aws_organizations_policy.go
  aws/resource_aws_organizations_policy_test.go
  aws/resource_aws_organizations_test.go
  website/docs/r/organizations_organization.html.markdown
  website/docs/r/organizations_policy.html.markdown
Labels: documentation, enhancement, service/organizations, size/M, tests

#14081 resource/wafv2_regex_pattern_set: rewrite typeset checks
  aws/resource_aws_wafv2_regex_pattern_set_test.go
Labels: service/wafv2, size/XS, tests

#14033 tests/provider: Initial goreleaser configuration and CI workflow
  .github/workflows/terraform_provider.yml
  .gitignore
  .goreleaser.yml
  docs/MAINTAINING.md
Labels: documentation, provider, size/M, tests

#14047 r/sqs_queue_policy - add disappears test
  aws/resource_aws_sqs_queue_policy.go
  aws/resource_aws_sqs_queue_policy_test.go
Labels: service/sqs, size/M, technical-debt, tests

#13950 Add Authorization Rules for Client VPN
  aws/ec2_filters.go
  aws/internal/experimental/sync/sync.go
  aws/internal/service/ec2/errors.go
  aws/internal/service/ec2/filter.go
  aws/internal/service/ec2/finder/finder.go
  aws/internal/service/ec2/id.go
  aws/internal/service/ec2/waiter/status.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_ec2_client_vpn_authorization_rule.go
  aws/resource_aws_ec2_client_vpn_authorization_rule_test.go
  aws/resource_aws_ec2_client_vpn_endpoint.go
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
  aws/resource_aws_ec2_client_vpn_network_association.go
  aws/resource_aws_ec2_client_vpn_network_association_test.go
  docs/MAINTAINING.md
  website/aws.erb
  website/docs/r/ec2_client_vpn_authorization_rule.html.markdown
  website/docs/r/ec2_client_vpn_endpoint.html.markdown
Labels: documentation, provider, service/ec2, size/XXL, tests

#14105 additional typeset re-writes
  aws/resource_aws_autoscaling_policy_test.go
  aws/resource_aws_cloudfront_distribution_test.go
  aws/resource_aws_cognito_user_pool_client_test.go
  aws/resource_aws_dx_hosted_public_virtual_interface_test.go
  aws/resource_aws_dx_public_virtual_interface_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_organizations_organization_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: service/autoscaling, service/cloudfront, service/cognito, service/directconnect, service/ec2, service/organizations, service/s3, size/M, tests

#12920 r/aws_apigatewayv2_domain_name: Document association of a Route 53 RR
  website/docs/r/apigatewayv2_domain_name.html.markdown
Labels: documentation, needs-triage, service/apigatewayv2, size/XS

#14117 Added use case of private IP outside of VPC scope
  website/docs/r/lb_target_group_attachment.html.markdown
Labels: documentation, service/elbv2, size/XS

#14076 resource/wafv2_web_acl and resource/wafv2_rule_group: rewrite typeset checks
  aws/resource_aws_wafv2_rule_group_test.go
  aws/resource_aws_wafv2_web_acl_test.go
Labels: service/autoscaling, service/cloudfront, service/cognito, service/directconnect, service/ec2, service/organizations, service/s3, service/wafv2, size/XL, tests

#14036 Add static check for hardcoded region
  awsproviderlint/README.md
  awsproviderlint/passes/AWSAT003/AWSAT003.go
  awsproviderlint/passes/AWSAT003/AWSAT003_test.go
  awsproviderlint/passes/AWSAT003/README.md
  awsproviderlint/passes/AWSAT003/testdata/src/a/main.go
  awsproviderlint/passes/AWSAT003/testdata/src/a/vendor
  awsproviderlint/passes/checks.go
Labels: size/L, tests

#14067 Rewrite TypeSet checks with helpers [Part 6]
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_autoscaling_policy_test.go
  aws/resource_aws_cloudfront_distribution_test.go
  aws/resource_aws_cognito_user_pool_client_test.go
  aws/resource_aws_dx_hosted_public_virtual_interface_test.go
  aws/resource_aws_dx_public_virtual_interface_test.go
  aws/resource_aws_elb_test.go
  aws/resource_aws_globalaccelerator_listener_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_kms_grant_test.go
  aws/resource_aws_launch_configuration_test.go
  aws/resource_aws_lb_listener_rule_test.go
  aws/resource_aws_mq_broker_test.go
  aws/resource_aws_neptune_cluster_parameter_group_test.go
  aws/resource_aws_neptune_cluster_test.go
  aws/resource_aws_neptune_parameter_group_test.go
  aws/resource_aws_network_acl_test.go
  aws/resource_aws_opsworks_application_test.go
  aws/resource_aws_opsworks_custom_layer_test.go
  aws/resource_aws_organizations_organization_test.go
  aws/resource_aws_proxy_protocol_policy_test.go
  aws/resource_aws_rds_cluster_parameter_group_test.go
  aws/resource_aws_redshift_parameter_group_test.go
  aws/resource_aws_redshift_security_group_test.go
  aws/resource_aws_route53_record_test.go
  aws/resource_aws_route53_resolver_rule_test.go
  aws/resource_aws_s3_bucket_test.go
  aws/resource_aws_secretsmanager_secret_version_test.go
  aws/resource_aws_security_group_test.go
  aws/resource_aws_spot_fleet_request_test.go
  aws/resource_aws_ssm_patch_baseline_test.go
  aws/resource_aws_storagegateway_nfs_file_share_test.go
  aws/resource_aws_vpc_peering_connection_options_test.go
  aws/resource_aws_waf_byte_match_set_test.go
  aws/resource_aws_waf_geo_match_set_test.go
  aws/resource_aws_waf_ipset_test.go
  aws/resource_aws_waf_rate_based_rule_test.go
  aws/resource_aws_waf_regex_match_set_test.go
  aws/resource_aws_waf_regex_pattern_set_test.go
  aws/resource_aws_waf_rule_group_test.go
  aws/resource_aws_waf_rule_test.go
  aws/resource_aws_waf_size_constraint_set_test.go
  aws/resource_aws_waf_sql_injection_match_set_test.go
  aws/resource_aws_waf_xss_match_set_test.go
  aws/resource_aws_wafregional_byte_match_set_test.go
  aws/resource_aws_wafregional_geo_match_set_test.go
  aws/resource_aws_wafregional_ipset_test.go
  aws/resource_aws_wafregional_rate_based_rule_test.go
  aws/resource_aws_wafregional_regex_match_set_test.go
  aws/resource_aws_wafregional_regex_pattern_set_test.go
  aws/resource_aws_wafregional_rule_group_test.go
  aws/resource_aws_wafregional_rule_test.go
  aws/resource_aws_wafregional_size_constraint_set_test.go
  aws/resource_aws_wafregional_sql_injection_match_set_test.go
  aws/resource_aws_wafregional_web_acl_test.go
  aws/resource_aws_wafregional_xss_match_set_test.go
  aws/resource_aws_wafv2_regex_pattern_set_test.go
  aws/resource_aws_wafv2_rule_group_test.go
  aws/resource_aws_wafv2_web_acl_test.go
Labels: service/autoscaling, service/cloudfront, service/cognito, service/directconnect, service/ec2, service/elb, service/elbv2, service/globalaccelerator, service/kms, service/mq, service/neptune, service/opsworks, service/organizations, service/rds, service/redshift, service/route53, service/route53resolver, service/s3, service/secretsmanager, service/ssm, service/storagegateway, service/waf, size/XXL, tests

#14097 Add static check for hardcoded state hashes
  awsproviderlint/README.md
  awsproviderlint/passes/AWSAT004/AWSAT004.go
  awsproviderlint/passes/AWSAT004/AWSAT004_test.go
  awsproviderlint/passes/AWSAT004/README.md
  awsproviderlint/passes/AWSAT004/testdata/src/a/main.go
  awsproviderlint/passes/AWSAT004/testdata/src/a/vendor
  awsproviderlint/passes/checks.go
Labels: size/L, tests

#14103 Resource ec2 client vpn route
  aws/internal/service/ec2/errors.go
  aws/internal/service/ec2/finder/finder.go
  aws/internal/service/ec2/id.go
  aws/internal/service/ec2/waiter/status.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
  aws/resource_aws_ec2_client_vpn_route.go
  aws/resource_aws_ec2_client_vpn_route_test.go
  website/aws.erb
  website/docs/r/ec2_client_vpn_route.html.markdown
Labels: documentation, provider, service/ec2, size/XL, tests

#14130 Add static check for hardcoded ARN partition
  awsproviderlint/README.md
  awsproviderlint/passes/AWSAT005/AWSAT005.go
  awsproviderlint/passes/AWSAT005/AWSAT005_test.go
  awsproviderlint/passes/AWSAT005/README.md
  awsproviderlint/passes/AWSAT005/testdata/src/a/main.go
  awsproviderlint/passes/AWSAT005/testdata/src/a/vendor
  awsproviderlint/passes/checks.go
Labels: size/M, tests

#14126 Inappropriate value for attribute tags
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#14096 docs/provider: Use 0.12 interpolation syntax
  website/docs/r/route53_zone.html.markdown
Labels: documentation, service/route53, size/XS

#13602 Non-deprecated syntax for TGW attachment example
  website/docs/r/ec2_transit_gateway_vpc_attachment.html.markdown
Labels: documentation, service/ec2, size/XS, terraform-0.12

#12278 Update vpcs.html.markdown
  website/docs/d/vpcs.html.markdown
Labels: documentation, service/ec2, size/XS

#12442 removing Interpolation-only expression
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XS, terraform-0.12

#12563 Fix multiline pattern in an example.
  website/docs/r/cloudwatch_event_rule.html.markdown
Labels: documentation, service/cloudwatchevents, size/XS

#13224 Update kms_secrets.html.markdown - add example for AWS CLI v2
  website/docs/d/kms_secrets.html.markdown
Labels: documentation, service/kms, size/XS

#13303 KMS key alias is not acceptable
  website/docs/r/secretsmanager_secret.html.markdown
Labels: documentation, service/secretsmanager, size/XS

#13482 Fix interpolation and update example to latest LTS
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XS, terraform-0.12

#13592 Update elasticsearch_domain docs
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, service/elasticsearch, size/XS

#13652 Update dax_cluster.html.markdown
  website/docs/r/dax_cluster.html.markdown
Labels: documentation, service/dax, size/XS

#13694 Update cloudfront_origin_access_identity.html.markdown
  website/docs/r/cloudfront_origin_access_identity.html.markdown
Labels: documentation, service/cloudfront, size/XS

#13748 Updated example Ubuntu AMI 14.04 -> 20.04 and variable interpolation to 0.12 syntax
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XS, terraform-0.12

#13847 update instance doc for tf12 syntax, newer os, newer instance class
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XS

#13900 Fix document for ALB Listener Rule
  website/docs/r/lb_listener_rule.html.markdown
Labels: documentation, service/elbv2, size/S

#14150 Fix AWS MSK Cluster documentation: Kafka ver. and some warns
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, service/kafka, size/S

#14152 Updated the cloudfront_distribution documentation
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, service/cloudfront, size/XS

#11557 Update count example syntax to 0.12
  examples/count/main.tf
  examples/count/outputs.tf
  examples/count/variables.tf
  examples/count/versions.tf
Labels: size/XS, terraform-0.12

#14077 provider: Authentication updates for Terraform AWS Provider v3.0.0
  aws/config.go
  aws/provider.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/aws-sdk-go-base/.golangci.yml
  vendor/github.com/hashicorp/aws-sdk-go-base/.travis.yml
  vendor/github.com/hashicorp/aws-sdk-go-base/CHANGELOG.md
  vendor/github.com/hashicorp/aws-sdk-go-base/awsauth.go
  vendor/github.com/hashicorp/aws-sdk-go-base/awserr.go
  vendor/github.com/hashicorp/aws-sdk-go-base/config.go
  vendor/github.com/hashicorp/aws-sdk-go-base/endpoints.go
  vendor/github.com/hashicorp/aws-sdk-go-base/errors.go
  vendor/github.com/hashicorp/aws-sdk-go-base/go.mod
  vendor/github.com/hashicorp/aws-sdk-go-base/go.sum
  vendor/github.com/hashicorp/aws-sdk-go-base/mock.go
  vendor/github.com/hashicorp/aws-sdk-go-base/session.go
  vendor/modules.txt
  website/docs/guides/version-3-upgrade.html.md
  website/docs/index.html.markdown
Labels: breaking-change, bug, dependencies, documentation, enhancement, provider, size/XL

#14141 Add static check for hardcoded AWS partition DNS suffixes
  awsproviderlint/README.md
  awsproviderlint/passes/AWSAT006/AWSAT006.go
  awsproviderlint/passes/AWSAT006/AWSAT006_test.go
  awsproviderlint/passes/AWSAT006/README.md
  awsproviderlint/passes/AWSAT006/testdata/src/a/main.go
  awsproviderlint/passes/AWSAT006/testdata/src/a/vendor
  awsproviderlint/passes/checks.go
Labels: size/L, tests

#14001 Remove "Removed" attributes
  aws/data_source_aws_iam_role.go
  aws/data_source_aws_region.go
  aws/resource_aws_api_gateway_api_key.go
  aws/resource_aws_api_gateway_integration.go
  aws/resource_aws_api_gateway_integration_response.go
  aws/resource_aws_api_gateway_method.go
  aws/resource_aws_api_gateway_method_response.go
  aws/resource_aws_appautoscaling_policy.go
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_router.go
  aws/resource_aws_autoscaling_policy.go
  aws/resource_aws_batch_compute_environment.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_dx_lag.go
  aws/resource_aws_ecs_service.go
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_instance.go
  aws/resource_aws_network_acl.go
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_route53_zone.go
  aws/resource_aws_wafregional_byte_match_set.go
  aws/structure.go
Labels: provider, service/apigateway, service/applicationautoscaling, service/appmesh, service/autoscaling, service/batch, service/cloudfront, service/directconnect, service/ec2, service/ecs, service/efs, service/elasticache, service/iam, service/redshift, service/route53, service/waf, size/XL

#14104 Ensure nil is not passed to RetryError helpers
  aws/resource_aws_acm_certificate_validation.go
  aws/resource_aws_cloudwatch_event_permission.go
  aws/resource_aws_codepipeline.go
  aws/resource_aws_codestarnotifications_notification_rule.go
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_ecr_repository_policy.go
  aws/resource_aws_iam_role.go
  aws/resource_aws_instance.go
  aws/resource_aws_internet_gateway.go
  aws/resource_aws_kms_grant.go
  aws/resource_aws_kms_key.go
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_spot_instance_request.go
  aws/resource_aws_ssm_activation.go
Labels: service/acm, service/cloudwatchevents, service/codestarnotifications, service/cognito, service/ec2, service/ecr, service/iam, service/kms, service/redshift, service/ssm, size/M

#14121 resource/aws_s3_bucket: Remove automatic aws_s3_bucket_policy import
  aws/import_aws_s3_bucket.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: breaking-change, documentation, service/s3, size/M, technical-debt, tests

#14157 provider: Clarify requested Terraform versions wanted in bug report issue template
  .github/ISSUE_TEMPLATE/Bug_Report.md
Labels: provider, size/XS

#14124 resource/aws_dx_gateway: Remove automatic aws_dx_gateway_association import
  aws/resource_aws_dx_gateway.go
  aws/resource_aws_dx_gateway_test.go
  website/docs/guides/version-3-upgrade.html.md
Labels: breaking-change, documentation, service/directconnect, size/S, technical-debt, tests

#9718 Allow creation of everlasting spot fleet requests
  aws/resource_aws_spot_fleet_request.go
  website/docs/r/spot_fleet_request.html.markdown
Labels: breaking-change, documentation, enhancement, service/ec2, size/XS

#14137 resource/aws_emr_cluster: Remove `instance_group` configuration block, `core_instance_count`, `core_instance_type`, and `master_instance_type` arguments
  aws/resource_aws_appautoscaling_scheduled_action_test.go
  aws/resource_aws_appautoscaling_target_test.go
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_cluster_test.go
  website/docs/r/emr_cluster.html.markdown
Labels: breaking-change, documentation, service/applicationautoscaling, service/emr, size/XXL, technical-debt, tests

#7141 Remove max_frame_rate default value
  aws/resource_aws_elastic_transcoder_preset.go
Labels: breaking-change, service/elastic-transcoder, size/XS

#13891 FAQ.md Link reactions to sorted PRs and issues
  docs/FAQ.md
Labels: documentation, provider, size/XS, waiting-response

#12927 autoscaling: set conflict between availability_zones and vpc_zone_identifier
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: breaking-change, documentation, enhancement, service/autoscaling, size/M, tests

#14125 data-source/aws_lambda_invocation: Remove result_map attribute
  aws/data_source_aws_lambda_invocation.go
  aws/data_source_aws_lambda_invocation_test.go
  website/docs/d/lambda_invocation.html.markdown
Labels: breaking-change, technical-debt

#3894 resource/aws_sns_platform_application: Remove hashing StateFunc on platform credential and principal
  aws/resource_aws_sns_platform_application.go
Labels: bug, service/sns, size/XS, thinking

#14064 resource/autoscaling_group: reintroduce changes made in #9478
  aws/resource_aws_autoscaling_attachment_test.go
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/autoscaling_attachment.html.markdown
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/M, tests

#14005 data-source/efs_filesystem: return error if 0 results found
  aws/data_source_aws_efs_file_system.go
  aws/data_source_aws_efs_file_system_test.go
Labels: service/efs, size/S, tests

#14006 data-source/directory_service_directory: return error if 0 results found
  aws/data_source_aws_directory_service_directory.go
  aws/data_source_aws_directory_service_directory_test.go
Labels: service/directoryservice, size/M, tests

#9685 Fix update of imported ACM certificates
  aws/resource_aws_acm_certificate.go
  aws/resource_aws_acm_certificate_test.go
Labels: service/acm, size/M, tests

#13529 New Data Source: aws_workspaces_directory
  aws/data_source_aws_workspaces_bundle.go
  aws/data_source_aws_workspaces_directory.go
  aws/data_source_aws_workspaces_directory_test.go
  aws/provider.go
  website/aws.erb
  website/docs/d/workspaces_bundle.html.markdown
  website/docs/d/workspaces_directory.html.markdown
Labels: documentation, provider, service/workspaces, size/L, tests

#14176 provider: Bump Go version to 1.13.13
  .go-version
  CHANGELOG.md
Labels: documentation, provider, size/XS, technical-debt

#14143 provider: New versions of the provider can only be automatically installed on Terraform 0.12 and later
  .tfproto5
  website/docs/guides/version-3-upgrade.html.md
Labels: breaking-change, documentation, provider, size/XS

#14134 data-source/aws_availability_zones: Remove blacklisted_names and blacklisted_zone_ids arguments
  aws/data_source_aws_availability_zones.go
  aws/data_source_aws_availability_zones_test.go
  website/docs/d/availability_zones.html.markdown
Labels: breaking-change, documentation, service/ec2, size/M, tests

#14088 provider: Catch aws_elastictranscoder resource naming with issues correctly
  .hashibot.hcl
Labels: provider, size/XS, technical-debt

#14069 docs/service/ecs: Update wording around ECS Capacity Provider and Auto Scaling Group handling with AmazonECSManaged tag
  website/docs/r/autoscaling_group.html.markdown
  website/docs/r/ecs_capacity_provider.html.markdown
Labels: documentation, service/autoscaling, service/ecs, size/XS

#14132 resource/aws_msk_cluster: Update encryption_info.encryption_in_transit.client_broker default to match API default
  aws/data_source_aws_msk_cluster_test.go
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_msk_cluster_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/msk_cluster.html.markdown
Labels: breaking-change, bug, documentation, service/kafka, size/M, tests

#14091 tests/provider: Update testacc target to error when provided example test pattern
  GNUmakefile
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, size/XS

#14127 resource/aws_s3_bucket: Convert region to read-only attribute
  aws/data_source_aws_cur_report_definition_test.go
  aws/resource_aws_cur_report_definition_test.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
  aws/resource_aws_ssm_resource_data_sync_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/ssm_resource_data_sync.html.markdown
Labels: breaking-change, bug, documentation, service/costandusagereportservice, service/s3, service/ssm, size/M, tests

#14165 Corrects name of Workspaces Workspace sweeper
  aws/resource_aws_workspaces_workspace_test.go
Labels: service/workspaces, size/XS, tests

#11300 aws_acm_certificate: fix subject_alternative_names forces recreation
  aws/resource_aws_acm_certificate.go
Labels: bug, service/acm, size/XS

#14147 Remove hardcoded AMI IDs from launch_config data source
  aws/data_source_aws_launch_configuration_test.go
Labels: service/autoscaling, size/XS, tests

#12616 Do not import aws_security_group_rule for associated rules during aws_security_group import
  aws/import_aws_security_group.go
  aws/resource_aws_security_group.go
  aws/resource_aws_security_group_test.go
  website/docs/guides/version-3-upgrade.html.md
Labels: breaking-change, documentation, service/ec2, size/XL, tests

#14160 service/wafv2: update web_acl and rule_group documentation
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, service/wafv2, size/M

#8612 delete_on_termination on ENI has to be optional
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/guides/version-3-upgrade.html.md
Labels: breaking-change, bug, documentation, service/ec2, size/M, tests

#14079 resource/instance: add private_ips field
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  website/docs/d/instance.html.markdown
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XL, tests

#14148 Removed hardcoded AMI IDs from AutoscalingAttachment
  aws/resource_aws_autoscaling_attachment_test.go
Labels: service/autoscaling, size/S, tests

#14207 add COMMIT_MESSAGE to website document as acceptable codebuild filter types
  website/docs/r/codebuild_webhook.html.markdown
Labels: documentation, service/codebuild, size/XS

#14198 resource/elasticsearch_domain: update method to set advanced_security_options
  aws/elasticsearch_domain_structure.go
  aws/resource_aws_elasticsearch_domain.go
Labels: service/apigateway, service/elasticsearch, service/elbv2, size/M, technical-debt

#10520 Error when data.aws_ecr_repository cannot find repository
  aws/data_source_aws_ecr_repository.go
Labels: bug, service/ecr, size/XS

#10521 Error when data.aws_launch_template cannot find launch template
  aws/data_source_aws_launch_template.go
Labels: service/ec2, size/S

#14004 data-source/launch_template: add non-existent acctest
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
Labels: service/ec2, size/M, technical-debt, tests

#14007 data-source/ecr_repository: add non-existent acctest
  aws/data_source_aws_ecr_repository_test.go
Labels: service/ecr, size/S, technical-debt, tests

#14190 Add new maintainers to issues.yml so needs-triage label does not get applied.
  .github/workflows/dependencies.yml
  .github/workflows/issues.yml
Labels: provider, size/XS, tests

#14233 Ignore hardcoded AMI because not actually used
  aws/resource_aws_launch_template_test.go
Labels: service/ec2, size/XS, tests

#14252 Add roadmap for August to October and archive existing roadmap
  ROADMAP.md
  docs/roadmaps/2020_May_to_July.md
Labels: documentation, provider, size/L

#13062 r/aws_apigatewayv2_integration: suppress diff for passthrough_behavior
  aws/resource_aws_apigatewayv2_integration.go
  aws/resource_aws_apigatewayv2_integration_test.go
Labels: service/apigatewayv2, size/M, tests

#14177 docs/provider: Setup and document release/* branch convention, link 2.x and earlier changelog entries
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
  CHANGELOG.md
  docs/MAINTAINING.md
Labels: documentation, provider, size/XXL, tests

#14256 Document max_retries default
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#14017 data-source/elasticache_replication_group: adjust error formatting and handling
  aws/data_source_aws_elasticache_replication_group.go
  aws/data_source_aws_elasticache_replication_group_test.go
Labels: service/elasticache, size/S, tests

#10170 r/aws_s3_bucket: Add S3 Same-Region Replication acceptance test
  aws/resource_aws_s3_bucket_test.go
Labels: service/s3, size/M, tests

#14272 tests/resource/aws_rds_cluster: Remove aws_s3_bucket region argument from TestAccAWSRDSCluster_s3Restore
  aws/resource_aws_rds_cluster_test.go
Labels: service/rds, size/XS, tests

#14194 resource/cloudfront_distribution and resource/db_event_subscription: refactor resource import
  aws/import_aws_cloudfront_distribution.go
  aws/import_aws_db_event_subscription.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_db_event_subscription.go
Labels: service/cloudfront, service/rds, size/M, technical-debt

#14268 resource/rds_cluster: update default value for min_capacity in scaling_configuration block
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
  aws/structure.go
  aws/structure_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/rds_cluster.html.markdown
Labels: breaking-change, documentation, service/rds, size/M, tests

#14266 resource/api_gateway_method_settings: keep throttling disabled by default
  aws/resource_aws_api_gateway_method_settings.go
  aws/resource_aws_api_gateway_method_settings_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/api_gateway_method_settings.html.markdown
Labels: breaking-change, documentation, service/apigateway, size/L, tests

#12676 r/fsx_windows_file_system - add support for multi-az
  aws/resource_aws_fsx_windows_file_system.go
  aws/resource_aws_fsx_windows_file_system_test.go
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, enhancement, service/fsx, size/L, tests

#14167 Fix schema set errors
  aws/data_source_aws_lb.go
  aws/elasticsearch_domain_structure.go
  aws/resource_aws_api_gateway_resource.go
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_lb_cookie_stickiness_policy.go
  aws/resource_aws_spot_instance_request.go
  aws/resource_aws_ssm_association.go
  aws/structure.go
Labels: service/apigateway, service/ec2, service/elasticsearch, service/elb, service/elbv2, service/lambda, service/ssm, size/M, tests

#14216 tests/provider: Enable AWSAT004 check for CI
  GNUmakefile
Labels: provider, size/XS, tests

#14260 resource/aws_launch_configuration: Remove DescribeLaunchConfigurations retries on all errors
  aws/resource_aws_launch_configuration.go
Labels: bug, service/autoscaling, size/XS, technical-debt

#14265 resource/aws_spot_fleet_request: Only retry RequestSpotFleet on IAM eventual consistency errors, use standard 2 minute timeout
  aws/resource_aws_spot_fleet_request.go
Labels: bug, service/ec2, size/XS, technical-debt

#14264 resource/aws_codepipeline: Only retry CreatePipeline errors for IAM eventual consistency
  aws/resource_aws_codepipeline.go
Labels: bug, size/XS, technical-debt

#14263 resource/aws_ssm_activation: Only retry CreateActivation on IAM eventual consistency error, allow retries for standard 2 minutes
  aws/resource_aws_ssm_activation.go
Labels: bug, service/ssm, size/XS, technical-debt

#14261 resource/aws_network_acl_rule: Immediately return DescribeNetworkAcls errors on creation
  aws/resource_aws_network_acl_rule.go
Labels: bug, service/ec2, size/XS, technical-debt

#14279 Add function to check TypeSet pairs
  aws/internal/tfawsresource/testing.go
  aws/internal/tfawsresource/testing_test.go
  aws/resource_aws_autoscaling_group_test.go
Labels: service/autoscaling, size/XL, tests

#14286 Fix TestAccAWSRDSCluster_EngineVersion
  aws/resource_aws_rds_cluster_test.go
Labels: service/rds, size/XS, tests

#13644 r/aws_apigatewayv2_stage: 'deployment_id` is Computed for auto-deployments
  aws/resource_aws_apigatewayv2_stage.go
  aws/resource_aws_apigatewayv2_stage_test.go
  website/docs/r/apigatewayv2_stage.html.markdown
Labels: documentation, service/apigatewayv2, size/M, tests

#14181 provider/go: bump to v1.14.5
  .go-version
  docs/DEVELOPMENT.md
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, documentation, provider, size/M

#14080 r/aws_apigatewayv2_integration: Add 'request_parameters' attribute
  aws/resource_aws_apigatewayv2_integration.go
  aws/resource_aws_apigatewayv2_integration_test.go
  website/docs/r/apigatewayv2_integration.html.markdown
Labels: documentation, enhancement, service/apigatewayv2, size/S, tests

#13833 r/aws_apigatewayv2_route: Update route key
  aws/resource_aws_apigatewayv2_route.go
  aws/resource_aws_apigatewayv2_route_test.go
Labels: service/apigatewayv2, size/M, tests

#13013 r/aws_apigatewayv2_integration: Add tls_config attribute
  aws/resource_aws_apigatewayv2_integration.go
  aws/resource_aws_apigatewayv2_integration_test.go
  website/docs/r/apigatewayv2_integration.html.markdown
Labels: documentation, service/apigatewayv2, size/L, tests

#14230 resource/s3_bucket_metric: add atleastoneof property to filter attributes
  aws/resource_aws_s3_bucket_metric.go
  aws/resource_aws_s3_bucket_metric_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/s3_bucket_metric.html.markdown
Labels: bug, documentation, service/s3, size/S, tests

#14321 Remove hardcoded AMI and AZ from autoscaling lifecycle hook tests
  aws/resource_aws_autoscaling_lifecycle_hook_test.go
Labels: service/autoscaling, size/XS, tests

#14308 Improve static check for hardcoded partition in ARN
  awsproviderlint/passes/AWSAT005/AWSAT005.go
  awsproviderlint/passes/AWSAT005/testdata/src/a/main.go
Labels: size/XS, tests

#14291 resource/aws_lambda_function: Increase IAM retry timeout for create to 2 minutes
  aws/resource_aws_lambda_function.go
Labels: bug, service/lambda, size/XS

#14310 resource/instance and resource/ebs_volume: error when iops provided for unsupported volume type
  aws/resource_aws_ebs_volume.go
  aws/resource_aws_ebs_volume_test.go
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/ebs_volume.html.markdown
Labels: breaking-change, documentation, service/ec2, size/L, tests

#14323 Remove hardcoded AMIs and AZs
  aws/resource_aws_autoscaling_notification_test.go
Labels: partition/aws-us-gov, service/autoscaling, size/S, tests

#14325 Remove hardcoded AMIs and AZs from autoscaling schedule
  aws/resource_aws_autoscaling_schedule_test.go
Labels: service/autoscaling, size/S, tests

#14235 Removed hardcoded AMIs and AZs
  aws/resource_aws_elb_attachment_test.go
Labels: partition/aws-us-gov, service/elb, size/M, tests

#14234 Remove hardcoded AMI and AZ
  aws/resource_aws_network_interface_attachment_test.go
Labels: service/ec2, size/XS, tests

#14232 Remove hardcoded AMI from eip association
  aws/resource_aws_eip_association_test.go
Labels: partition/aws-us-gov, service/ec2, size/XS, tests

#13809 r/aws_apigatewayv2_stage: 'data_trace_enabled' and 'logging_level' are only valid for WebSocket APIs
  aws/resource_aws_apigatewayv2_stage.go
  aws/resource_aws_apigatewayv2_stage_test.go
  website/docs/r/apigatewayv2_stage.html.markdown
Labels: documentation, service/apigatewayv2, size/XL, tests

#14199 resource/aws_acm_certificate: Convert domain_validation_options to TypeSet and calculate elements during plan
  aws/resource_aws_acm_certificate.go
  aws/resource_aws_acm_certificate_test.go
  aws/resource_aws_acm_certificate_validation_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/acm_certificate.html.markdown
  website/docs/r/acm_certificate_validation.html.markdown
Labels: breaking-change, bug, documentation, enhancement, service/acm, size/XL, tests

#13243 Implement Disappears test for API Gateway resources
  aws/resource_aws_api_gateway_api_key.go
  aws/resource_aws_api_gateway_api_key_test.go
  aws/resource_aws_api_gateway_authorizer.go
  aws/resource_aws_api_gateway_authorizer_test.go
  aws/resource_aws_api_gateway_base_path_mapping.go
  aws/resource_aws_api_gateway_base_path_mapping_test.go
  aws/resource_aws_api_gateway_client_certificate.go
  aws/resource_aws_api_gateway_client_certificate_test.go
  aws/resource_aws_api_gateway_deployment.go
  aws/resource_aws_api_gateway_deployment_test.go
  aws/resource_aws_api_gateway_documentation_part.go
  aws/resource_aws_api_gateway_documentation_part_test.go
  aws/resource_aws_api_gateway_documentation_version_test.go
  aws/resource_aws_api_gateway_domain_name.go
  aws/resource_aws_api_gateway_domain_name_test.go
  aws/resource_aws_api_gateway_gateway_response.go
  aws/resource_aws_api_gateway_gateway_response_test.go
  aws/resource_aws_api_gateway_integration.go
  aws/resource_aws_api_gateway_integration_response.go
  aws/resource_aws_api_gateway_integration_response_test.go
  aws/resource_aws_api_gateway_integration_test.go
  aws/resource_aws_api_gateway_method.go
  aws/resource_aws_api_gateway_method_response.go
  aws/resource_aws_api_gateway_method_response_test.go
  aws/resource_aws_api_gateway_method_settings.go
  aws/resource_aws_api_gateway_method_settings_test.go
  aws/resource_aws_api_gateway_method_test.go
  aws/resource_aws_api_gateway_model.go
  aws/resource_aws_api_gateway_model_test.go
  aws/resource_aws_api_gateway_request_validator.go
  aws/resource_aws_api_gateway_request_validator_test.go
  aws/resource_aws_api_gateway_resource.go
  aws/resource_aws_api_gateway_resource_test.go
  aws/resource_aws_api_gateway_rest_api_test.go
  aws/resource_aws_api_gateway_stage.go
  aws/resource_aws_api_gateway_stage_test.go
  aws/resource_aws_api_gateway_usage_plan.go
  aws/resource_aws_api_gateway_usage_plan_key.go
  aws/resource_aws_api_gateway_usage_plan_key_test.go
  aws/resource_aws_api_gateway_usage_plan_test.go
  aws/resource_aws_api_gateway_vpc_link_test.go
Labels: service/apigateway, size/XXL, technical-debt, tests

#14200 Add SECRETS_MANAGER to the CodeBuild environment_variable type
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#14311 resource/aws_ssm_maintenance_window_task: Remove deprecated logging_info and task_parameters configuration blocks
  aws/resource_aws_ssm_maintenance_window_task.go
  aws/resource_aws_ssm_maintenance_window_task_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/ssm_maintenance_window_task.html.markdown
Labels: breaking-change, documentation, service/ssm, size/XL, technical-debt, tests

#14309 resource/aws_lb_listener_rule: Remove deprecated condition configuration block field and values arguments
  aws/resource_aws_lb_listener_rule.go
  aws/resource_aws_lb_listener_rule_test.go
  website/docs/r/lb_listener_rule.html.markdown
Labels: breaking-change, documentation, service/elbv2, size/XL, technical-debt, tests

#14294 resource/aws_cognito_user_pool: Remove deprecated admin_create_user_config.unused_account_validity_days argument
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/structure.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/cognito_user_pool.markdown
Labels: breaking-change, documentation, service/cognito, size/M, technical-debt, tests

#14131 tests/provider: Ensure awsproviderlint source is dependency and lint checked
  .github/workflows/dependencies.yml
  .github/workflows/terraform_provider.yml
  GNUmakefile
Labels: provider, size/XS, tests

#14140 provider: Initial snapshot build workflow
  .github/workflows/snapshot.yml
Labels: enhancement, provider, size/S, tests

#14299 resource/aws_iam_access_key: Remove deprecated ses_smtp_password attribute
  aws/resource_aws_iam_access_key.go
  aws/resource_aws_iam_access_key_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/iam_access_key.html.markdown
Labels: breaking-change, documentation, service/iam, size/M, technical-debt, tests

#14238 provider: Remove deprecated kinesis_analytics and r53 custom endpoint arguments
  aws/config.go
  aws/provider.go
  aws/provider_test.go
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/guides/version-3-upgrade.html.md
Labels: breaking-change, documentation, provider, size/M, technical-debt, tests

#14296 resource/aws_glue_job: Remove deprecated allocated_capacity argument
  aws/resource_aws_glue_job.go
  aws/resource_aws_glue_job_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/glue_job.html.markdown
Labels: breaking-change, documentation, service/glue, size/L, technical-debt, tests

#14303 resource/aws_iam_instance_profile: Remove deprecated roles argument
  aws/resource_aws_appautoscaling_target_test.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_elastic_beanstalk_environment_test.go
  aws/resource_aws_iam_instance_profile.go
  aws/resource_aws_iam_instance_profile_test.go
  aws/resource_aws_iam_role_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_launch_configuration_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/emr_cluster.html.markdown
  website/docs/r/iam_instance_profile.html.markdown
Labels: breaking-change, documentation, service/applicationautoscaling, service/autoscaling, service/ec2, service/elasticbeanstalk, service/emr, service/iam, size/L, technical-debt, tests

#14330 Remove hardcoded AMIs and AZs in network interface test
  aws/resource_aws_network_interface_test.go
Labels: service/ec2, size/XL, tests

#14262 resource/aws_sns_topic_subscription: Use paginated ListSubscriptionsByTopic and return immediately on errors
  aws/resource_aws_sns_topic_subscription.go
  aws/resource_aws_sns_topic_subscription_test.go
Labels: bug, service/sns, size/M, technical-debt, tests

#14144 service/directconnect: vpn_gateway_id Argument Removals and Increase aws_dx_gateway_association Default Timeouts
  aws/resource_aws_dx_gateway_association.go
  aws/resource_aws_dx_gateway_association_migrate.go
  aws/resource_aws_dx_gateway_association_proposal.go
  aws/resource_aws_dx_gateway_association_proposal_test.go
  aws/resource_aws_dx_gateway_association_test.go
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/dx_gateway_association.html.markdown
  website/docs/r/dx_gateway_association_proposal.html.markdown
Labels: breaking-change, bug, documentation, service/directconnect, size/L, tests

#14329 Update `cidr_blocks` value to list
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, service/ec2, size/XS

#12643 r/api_gateway_authorizer - fix to allow zero value for `authorizer_result_ttl_in_seconds`
  aws/resource_aws_api_gateway_authorizer.go
  aws/resource_aws_api_gateway_authorizer_test.go
Labels: bug, service/apigateway, size/XL, tests

#14301 resource/ses_domain_identity and resource/ses_domain_identity_verification: remove domain custom StateFunc
  aws/resource_aws_ses_domain_identity.go
  aws/resource_aws_ses_domain_identity_verification.go
Labels: documentation, service/route53, service/ses, size/XS, tests

#14259 resource/aws_appautoscaling_target: Remove DeregisterScalableTarget retries on all errors and add disappears test
  aws/resource_aws_appautoscaling_target.go
  aws/resource_aws_appautoscaling_target_test.go
Labels: bug, service/applicationautoscaling, size/M, technical-debt, tests

#14300 resource/acm_certificate: remove custom StateFunc to handle domain_name trailing period
  aws/resource_aws_acm_certificate.go
  aws/resource_aws_acm_certificate_test.go
Labels: documentation, service/acm, service/route53resolver, size/M, tests

#14298 resource/route53_resolver_rule and data-source/route53_resolver_rule: remove domain_name trailing period
  aws/data_source_aws_route53_resolver_rule.go
  aws/resource_aws_route53_resolver_rule.go
  aws/resource_aws_route53_resolver_rule_test.go
  website/docs/guides/version-3-upgrade.html.md
Labels: documentation, service/route53resolver, size/S, tests

#14221 Update provider's S3 bucket lookup to use GetBucketRegion utility
  aws/data_source_aws_s3_bucket.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_test.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3iface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/batch.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/bucket_region.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/buffered_read_seeker.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/default_read_seeker_write_to.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/default_read_seeker_write_to_windows.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/default_writer_read_from.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/default_writer_read_from_windows.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/doc.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/download.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/pool.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/read_seeker_write_to.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/upload.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/upload_input.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/writer_read_from.go
  vendor/modules.txt
Labels: dependencies, enhancement, service/s3, size/XXL, tests

#14082 Remove hardcoded AMIs in spot instance request tests
  aws/resource_aws_spot_instance_request_test.go
Labels: service/ec2, size/S, tests
