Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-12, with the labels that each got.

#21969 kms/key: Preserve order in JSON policy lists
  .changelog/21969.txt
  internal/service/kms/key.go
  internal/service/kms/key_test.go
  internal/verify/diff.go
  internal/verify/diff_test.go
  internal/verify/json.go
  internal/verify/json_test.go
  internal/verify/validate.go
  internal/verify/verify.go
  internal/verify/verify_test.go
Labels: size/XL, tests, service/kms, verify

#21966 :alien: add support for aws_autoscaling_group filters
  .changelog/21966.txt
  internal/service/autoscaling/groups_data_source.go
  internal/service/autoscaling/groups_data_source_test.go
Labels: size/XL, tests, service/autoscaling

#21943 Return a different cloudfront hosted_zone_id if in AWS CN
  .changelog/21943.txt
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_configuration_structure.go
  internal/service/cloudfront/distribution_data_source.go
Labels: size/XS, service/cloudfront

#21963 r/synthetics_canary - add `artifact_config` + make `artifact_s3_location` updateble
  .changelog/21963.txt
  internal/service/synthetics/canary.go
  internal/service/synthetics/canary_test.go
  internal/service/synthetics/find.go
  website/docs/r/synthetics_canary.html.markdown
Labels: enhancement, documentation, size/L, tests, service/synthetics

#21901 r/s3_bucket_replication_configuration: make `event_threshold` optional in `destination` `metrics` config block
  .changelog/21901.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_replication_configuration.go
  internal/service/s3/bucket_replication_configuration_test.go
  website/docs/r/s3_bucket_replication_configuration.html.markdown
Labels: bug, documentation, size/M, tests, service/s3

#21989 Restore bfe20a96cd31cc296ae657cbcd3bdc308a01922b (#21970)
  .changelog/21970.txt
  internal/service/elasticache/user_group_test.go
Labels: size/S, tests, service/elasticache

#21945 Update accessanalyzer_analyzer.html.markdown
  website/docs/r/accessanalyzer_analyzer.html.markdown
Labels: enhancement, documentation, size/XS, service/accessanalyzer

#21947 Correct cloudwatch_event_connection Data Course Title
  website/docs/d/cloudwatch_event_connection.html.markdown
Labels: bug, documentation, size/XS, service/events

#14943 Add NOTE about default processing_configuration parameters
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, size/XS, service/kinesis

#21990 kms: Preserve order in JSON/policies
  .changelog/21990.txt
  internal/service/kms/external_key.go
  internal/service/kms/external_key_test.go
  internal/service/kms/replica_external_key.go
  internal/service/kms/replica_external_key_test.go
  internal/service/kms/replica_key.go
  internal/service/kms/replica_key_test.go
  internal/verify/json.go
  internal/verify/json_test.go
Labels: size/M, tests, service/kms, verify

#21888 Add account_id for aws_account_alternate_contact to manage member accounts in an AWS organization
  .changelog/21888.txt
  internal/service/account/alternate_contact.go
  internal/service/account/alternate_contact_test.go
  website/docs/r/account_alternate_contact.html.markdown
Labels: documentation, size/L, tests, service/account

#21999 Updates the AWS SDK for Go to v1.42.17
  go.mod
  go.sum
Labels: size/XS

#11487 Codecommit approval rule template
  .changelog/11487.txt
  internal/provider/provider.go
  internal/service/codecommit/approval_rule_template.go
  internal/service/codecommit/approval_rule_template_data_source.go
  internal/service/codecommit/approval_rule_template_data_source_test.go
  internal/service/codecommit/approval_rule_template_test.go
  website/docs/d/codecommit_approval_rule_template.html.markdown
  website/docs/r/codecommit_approval_rule_template.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, service/codecommit, provider

#21997 s3: Preserve order in JSON/policy arrays
  .changelog/21997.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_policy.go
  internal/service/s3/bucket_policy_test.go
Labels: size/XL, tests, service/s3

#21998 Add VPC IPAM Service and Update VPC Resources to support IPAM Parameters
  .changelog/21998.txt
  internal/provider/provider.go
  internal/service/ec2/vpc.go
  internal/service/ec2/vpc_byoip_test.go
  internal/service/ec2/vpc_ipam.go
  internal/service/ec2/vpc_ipam_pool.go
  internal/service/ec2/vpc_ipam_pool_cidr.go
  internal/service/ec2/vpc_ipam_pool_cidr_allocation.go
  internal/service/ec2/vpc_ipam_pool_cidr_allocation_test.go
  internal/service/ec2/vpc_ipam_pool_cidr_test.go
  internal/service/ec2/vpc_ipam_pool_data_source.go
  internal/service/ec2/vpc_ipam_pool_data_source_test.go
  internal/service/ec2/vpc_ipam_pool_test.go
  internal/service/ec2/vpc_ipam_scope.go
  internal/service/ec2/vpc_ipam_scope_test.go
  internal/service/ec2/vpc_ipam_test.go
  internal/service/ec2/vpc_ipv4_cidr_block_association.go
  internal/service/ec2/vpc_ipv4_cidr_block_association_test.go
  internal/service/ec2/vpc_ipv6_cidr_block_association.go
  internal/service/ec2/vpc_test.go
  internal/verify/validate.go
  website/docs/d/vpc_ipam_pool.html.markdown
  website/docs/r/vpc.html.markdown
  website/docs/r/vpc_ipam.html.markdown
  website/docs/r/vpc_ipam_pool.html.markdown
  website/docs/r/vpc_ipam_pool_cidr.html.markdown
  website/docs/r/vpc_ipam_pool_cidr_allocation.html.markdown
  website/docs/r/vpc_ipam_scope.html.markdown
  website/docs/r/vpc_ipv4_cidr_block_association.html.markdown
  website/docs/r/vpc_ipv6_cidr_block_association.html.markdown
Labels: documentation, size/XL, tests, service/ec2, provider, needs-triage, verify

#13467 CodeCommit approval rule template association
  .changelog/13467.txt
  internal/provider/provider.go
  internal/service/codecommit/approval_rule_template_association.go
  internal/service/codecommit/approval_rule_template_association_test.go
  internal/service/codecommit/find.go
  website/docs/r/codecommit_approval_rule_template_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/codecommit, provider

#22009 fix: correct usage example
  website/docs/d/subnet_ids.html.markdown
Labels: documentation, size/XS, service/ec2

#22011 :memo: update docs to support asg filters change
  website/docs/d/autoscaling_groups.html.markdown
Labels: documentation, size/XS, service/autoscaling

#22004 ecr: Preserve/ignore order in JSON/policy
  .changelog/22004.txt
  internal/service/ecr/errorcheck_test.go
  internal/service/ecr/registry_policy.go
  internal/service/ecr/registry_policy_test.go
  internal/service/ecr/repository_policy.go
  internal/service/ecr/repository_policy_test.go
  internal/service/iam/role.go
  internal/service/iam/wait.go
Labels: size/XL, tests, service/iam, service/ecr

#22010 Update s3_bucket_ownership_controls.html.markdown
  website/docs/r/s3_bucket_ownership_controls.html.markdown
Labels: documentation, size/XS, service/s3

#22017 Docs update for aws_vpc_ipv6_cidr_block_association inaccuracies
  website/docs/r/vpc_ipv6_cidr_block_association.html.markdown
Labels: documentation, size/XS, service/ec2

#21954 add support for SQS-managed SSE
  .changelog/21954.txt
  internal/service/sqs/queue.go
  internal/service/sqs/queue_test.go
  website/docs/r/sqs_queue.html.markdown
Labels: documentation, size/S, tests, service/sqs

#21882 r/cloudtrail - add validations + tests
  .changelog/21882.txt
  internal/service/cloudtrail/cloudtrail.go
  internal/service/cloudtrail/cloudtrail_test.go
Labels: enhancement, size/XL, tests, service/cloudtrail

#22003 Fixes initial setup for Service Quota resource and data source
  internal/service/servicequotas/acc_test.go
  internal/service/servicequotas/find.go
  internal/service/servicequotas/service_quota.go
  internal/service/servicequotas/service_quota_data_source.go
  internal/service/servicequotas/service_quota_data_source_test.go
  internal/service/servicequotas/service_quota_test.go
  website/docs/d/servicequotas_service_quota.html.markdown
Labels: documentation, size/XL, tests, service/servicequotas

#21937 r/aws_lambda_event_source_mapping: add filter_criteria attribute
  .changelog/21937.txt
  internal/service/lambda/event_source_mapping.go
  internal/service/lambda/event_source_mapping_test.go
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, size/L, tests, service/lambda

#22021 r/aws_backup_region_settings: Add `ResourceTypeManagementPreference`
  .changelog/22021.txt
  internal/flex/flex.go
  internal/service/backup/region_settings.go
  internal/service/backup/region_settings_test.go
  website/docs/r/backup_region_settings.html.markdown
Labels: documentation, size/M, tests, service/backup, flex

#20221 Implements `d.IsNewResource()` Check in Read functions for OpsWorks Layers and API Gateway (v1) resources
  .semgrep.yml
  internal/service/amp/workspace.go
  internal/service/apigateway/api_key.go
  internal/service/apigateway/authorizer.go
  internal/service/apigateway/base_path_mapping.go
  internal/service/apigateway/client_certificate.go
  internal/service/apigateway/deployment.go
  internal/service/apigateway/documentation_part.go
  internal/service/apigateway/documentation_version.go
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/gateway_response.go
  internal/service/apigateway/integration.go
  internal/service/apigateway/integration_response.go
  internal/service/apigateway/method.go
  internal/service/apigateway/method_response.go
  internal/service/apigateway/model.go
  internal/service/apigateway/request_validator.go
  internal/service/apigateway/resource.go
  internal/service/apigateway/rest_api.go
  internal/service/apigateway/rest_api_policy.go
  internal/service/apigateway/stage.go
  internal/service/apigateway/usage_plan.go
  internal/service/apigateway/usage_plan_key.go
  internal/service/apigateway/vpc_link.go
  internal/service/opsworks/layers.go
  internal/service/opsworks/stack_test.go
Labels: size/L, tests, service/apigateway, service/opsworks, linter, service/amp

#21652 Add auto tune options to aws_elasticsearch_domain
  .changelog/21652.txt
  internal/service/elasticsearch/domain.go
  internal/service/elasticsearch/domain_data_source.go
  internal/service/elasticsearch/domain_data_source_test.go
  internal/service/elasticsearch/domain_structure.go
  internal/service/elasticsearch/domain_test.go
  website/docs/d/elasticsearch_domain.html.markdown
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, size/XL, tests, service/elasticsearch

#22034 R/ecs service update with bg deployment
  internal/service/ecs/service_test.go
Labels: size/L, tests, service/ecs

#22026 r/s3_bucket_replication_configuration: ensure rule can be created without specifying `prefix` or `filter`
  .changelog/22026.txt
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/flex.go
Labels: bug, size/M, tests, service/s3

#22027 resource/aws_directory_service_directory: Adds retry when directory still has authorized applications
  internal/service/ds/directory.go
Labels: size/XS, service/directoryservice

#22039 r/transfer: add lambda identity provider support
  .changelog/22039.txt
  .github/workflows/terraform_provider.yml
  .tflint.hcl
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  internal/service/transfer/test-fixtures/lambdatest.zip
  internal/service/transfer/transfer_test.go
  website/docs/r/transfer_server.html.markdown
Labels: documentation, size/M, tests, service/transfer, linter, repository

#22050 Upgrade to v0.10.0 of `tflint-ruleset-aws`
  .tflint.hcl
Labels: size/XS, linter

#22048 Use forked awspolicyequivalence
  go.mod
  go.sum
  internal/service/elasticsearch/acc_test.go
  internal/service/glue/resource_policy_test.go
  internal/service/kms/external_key_test.go
  internal/service/kms/key_test.go
  internal/service/kms/wait.go
  internal/service/s3/bucket_policy_test.go
  internal/service/s3control/access_point_test.go
  internal/service/sns/topic_test.go
  internal/service/sqs/queue_test.go
  internal/service/sqs/wait.go
  internal/verify/json.go
Labels: size/S, tests, service/s3, service/sns, service/sqs, service/glue, service/kms, service/elasticsearch, service/s3control, verify

#22064 docs/aws_vpc_ipam_pool - minor fixes
  website/docs/r/vpc_ipam_pool.html.markdown
Labels: documentation, size/XS, service/ec2

#22044 Re-enables Semgrep rule `prefer-aws-go-sdk-pointer-conversion-conditional`
  .semgrep.yml
  internal/service/autoscaling/launch_configuration.go
  internal/service/cloudfront/distribution_configuration_structure.go
  internal/service/dms/certificate.go
  internal/service/ds/directory.go
  internal/service/dynamodb/table.go
  internal/service/elastictranscoder/pipeline.go
  internal/service/elastictranscoder/preset.go
  internal/service/fsx/ontap_volume.go
  internal/service/gamelift/fleet.go
  internal/service/glue/resource_policy.go
  internal/service/guardduty/ipset.go
  internal/service/guardduty/threatintelset.go
  internal/service/iam/access_key.go
  internal/service/iam/user.go
  internal/service/iot/certificate.go
  internal/service/kms/grant.go
  internal/service/lambda/flex.go
  internal/service/neptune/parameter_group.go
  internal/service/opsworks/layers.go
  internal/service/opsworks/stack.go
  internal/service/organizations/account.go
  internal/service/securityhub/invite_accepter.go
  internal/service/ssm/resource_data_sync.go
Labels: size/M, service/lambda, service/iam, service/guardduty, service/gamelift, service/cloudfront, service/opsworks, service/autoscaling, service/dynamodb, service/organizations, service/ssm, service/glue, service/directoryservice, service/kms, service/iot, service/databasemigrationservice, service/neptune, service/securityhub, service/fsx, linter, service/elastictranscoder

#22046 linter/semgrep: Enables `d.IsNewResource` check for all services starting with "A"
  .semgrep.yml
  internal/service/apigatewayv2/api.go
  internal/service/apigatewayv2/api_mapping.go
  internal/service/apigatewayv2/authorizer.go
  internal/service/apigatewayv2/deployment.go
  internal/service/apigatewayv2/integration.go
  internal/service/apigatewayv2/integration_response.go
  internal/service/apigatewayv2/model.go
  internal/service/apigatewayv2/route.go
  internal/service/apigatewayv2/route_response.go
  internal/service/apigatewayv2/stage.go
  internal/service/apigatewayv2/vpc_link.go
  internal/service/appautoscaling/policy.go
  internal/service/appautoscaling/scheduled_action.go
  internal/service/appautoscaling/target.go
  internal/service/appsync/api_key.go
  internal/service/appsync/api_key_test.go
  internal/service/appsync/datasource.go
  internal/service/appsync/datasource_test.go
  internal/service/appsync/function.go
  internal/service/appsync/function_test.go
  internal/service/appsync/graphql_api.go
  internal/service/appsync/graphql_api_test.go
  internal/service/appsync/resolver.go
  internal/service/appsync/resolver_test.go
  internal/service/athena/named_query.go
  internal/service/athena/workgroup.go
  internal/service/autoscaling/attachment.go
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_waiting.go
  internal/service/autoscaling/launch_configuration.go
  internal/service/autoscaling/lifecycle_hook.go
  internal/service/autoscaling/policy.go
  internal/service/autoscaling/schedule.go
Labels: size/L, linter

#22002 r/aws_kinesis_stream: add stream_mode attribute
  .changelog/22002.txt
  internal/service/kinesis/stream.go
  internal/service/kinesis/stream_data_source.go
  internal/service/kinesis/stream_data_source_test.go
  internal/service/kinesis/stream_test.go
  website/docs/d/kinesis_stream.html.markdown
  website/docs/r/kinesis_stream.html.markdown
Labels: documentation, size/XL, tests, service/kinesis

#22079 docs/aws_vpc ipam ipv6 attributes
  website/docs/r/vpc.html.markdown
Labels: documentation, size/XS, service/ec2

#22067 IAM: Only set policy if actually changed
  .changelog/22067.txt
  go.mod
  go.sum
  internal/service/iam/group_policy.go
  internal/service/iam/group_policy_test.go
  internal/service/iam/policy.go
  internal/service/iam/policy_test.go
  internal/service/iam/role.go
  internal/service/iam/role_policy.go
  internal/service/iam/role_policy_test.go
  internal/service/iam/role_test.go
  internal/service/iam/user_policy.go
  internal/service/iam/user_policy_test.go
Labels: size/XL, tests, service/iam

#22080 b/aws_redshift_cluster: Adds retries to enabling and disabling the redshift cluster's logging
  .changelog/22080.txt
  internal/service/redshift/cluster.go
Labels: size/S, service/redshift

#21855 r/emr studio - new resource
  .changelog/21855.txt
  internal/provider/provider.go
  internal/service/ec2/sweep.go
  internal/service/emr/find.go
  internal/service/emr/managed_scaling_policy_test.go
  internal/service/emr/studio.go
  internal/service/emr/studio_test.go
  internal/service/emr/sweep.go
  website/docs/r/emr_studio.html.markdown
Labels: documentation, size/XL, tests, service/ec2, service/emr, provider, sweeper

#22072 r/alb: on create, only modify `enable_waf_fail_open` argument if change is present
  .changelog/22072.txt
  internal/service/elbv2/load_balancer.go
Labels: bug, size/XS, service/elbv2

#22077 r/appstream_image_builder: create with `image_arn` if configured
  .changelog/22077.txt
  internal/service/appstream/image_builder.go
  internal/service/appstream/image_builder_test.go
Labels: bug, size/S, tests, service/appstream

#22016 r/ecs - Add support for FARGATE Windows Containers and ARM based Containers
  .changelog/22016.txt
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_test.go
  website/docs/r/ecs_task_definition.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ecs

#22093 r/aws_kms_key: Add acceptance test for policy with boolean condition
  internal/service/kms/key_test.go
Labels: size/M, tests, service/kms

#22066 Add ElastiCache Data Tiering
  .changelog/22066.txt
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, size/M, tests, service/elasticache

#22076 linter/semgrep: Restore domain name check
  .semgrep.yml
Labels: size/XS, linter

#22096 feat: add `aws_ecs_task_set` resource
  .changelog/22096.txt
  internal/provider/provider.go
  internal/service/ecs/flex.go
  internal/service/ecs/status.go
  internal/service/ecs/task_set.go
  internal/service/ecs/task_set_test.go
  internal/service/ecs/wait.go
  website/docs/r/ecs_task_set.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ecs, provider

#22100 efs/file_system_policy: Fix diffs with equivalent policies
  .changelog/22100.txt
  internal/service/efs/file_system_policy.go
  internal/service/efs/file_system_policy_test.go
Labels: size/L, tests, service/efs

#22099 iam/role: Fix spurious diffs with inline_policy ordering
  .changelog/22099.txt
  internal/service/iam/role.go
  internal/service/iam/role_test.go
  website/docs/r/iam_role.html.markdown
Labels: documentation, size/M, tests, service/iam

#22108 Revert tflint@0.33.2
  tools/go.mod
  tools/go.sum
Labels: size/S

#22051 Add a subnet CIDR reservation resource
  .changelog/22051.txt
  internal/provider/provider.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/subnet_cidr_reservation.go
  internal/service/ec2/subnet_cidr_reservation_test.go
  website/docs/r/ec2_subnet_cidr_reservation.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ec2, provider

#22110 r/aws_dynamodb_table: add table_class attribute
  .changelog/22110.txt
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_data_source.go
  internal/service/dynamodb/table_data_source_test.go
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, size/M, tests, service/dynamodb

#22116 sweepers: Fixes sweepers and adds simple check to prevent breakage
  .github/workflows/terraform_provider.yml
  internal/service/emr/sweep.go
  internal/sweep/sweep.go
Labels: size/S, service/emr, linter, sweeper, repository

#22119 tests/d/aws_ecs_cluster: Fix 'Attribute "setting.#" not set, but "setting.#" is set in aws_ecs_cluster.test as "1"'
  .changelog/22119.txt
  internal/service/ecs/cluster.go
  internal/service/ecs/cluster_data_source.go
  internal/service/ecs/cluster_test.go
  internal/service/ecs/find.go
  internal/service/ecs/status.go
Labels: size/S, tests, service/ecs

#22120 test/lambda: Fix TestAccLambdaFunction_runtimes
  internal/service/lambda/function_test.go
Labels: size/XS, tests, service/lambda

#22115 apigateway/rest_api: Fix diffs from equivalent policies
  .changelog/22115.txt
  internal/service/apigateway/rest_api.go
  internal/service/apigateway/rest_api_policy.go
  internal/service/apigateway/rest_api_policy_test.go
  internal/service/apigateway/rest_api_test.go
Labels: size/XL, tests, service/apigateway

#22114 Fix markdown for aws_s3_bucket_ownership_controls docs
  website/docs/r/s3_bucket_ownership_controls.html.markdown
Labels: documentation, size/XS, service/s3

#22118 r/aws_apigatewayv2_integration: Use `nodejs14.x` Lambda runtime
  internal/service/apigatewayv2/integration_test.go
Labels: size/XS, tests, service/apigatewayv2

#21930 docs: refactor splat expression to for expression
  website/docs/r/lb.html.markdown
Labels: documentation, size/XS, service/elbv2

#21931 docs: add role policy attachment to example
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, size/XS, needs-triage, service/events

#22130 backup/vault_policy: Fix diffs with equivalent policies
  .changelog/22130.txt
  internal/service/backup/vault_policy.go
  internal/service/backup/vault_policy_test.go
Labels: size/L, tests, service/backup

#22135 logs/resource_policy: Fix equivalent policy diffs
  .changelog/22135.txt
  internal/service/cloudwatchlogs/resource_policy.go
  internal/service/cloudwatchlogs/resource_policy_test.go
Labels: size/L, tests, service/cloudwatchlogs

#22136 codeartifact/permissions_policy: Fix equivalent policy diffs
  .changelog/22136.txt
  internal/service/codeartifact/codeartifact_test.go
  internal/service/codeartifact/domain_permissions_policy.go
  internal/service/codeartifact/domain_permissions_policy_test.go
  internal/service/codeartifact/repository_permissions_policy.go
  internal/service/codeartifact/repository_permissions_policy_test.go
Labels: size/L, tests, service/codeartifact

#22137 ec2/vpc_endpoint: Fix erroneous diffs with equivalent policies
  .changelog/22137.txt
  internal/service/ec2/vpc_endpoint.go
  internal/service/ec2/vpc_endpoint_test.go
Labels: size/M, tests, service/ec2

#22140 r/emr_studio_session_mapping - new resource
  .changelog/22140.txt
  internal/provider/provider.go
  internal/service/emr/find.go
  internal/service/emr/id.go
  internal/service/emr/studio_session_mapping.go
  internal/service/emr/studio_session_mapping_test.go
  website/docs/r/emr_studio_session_mapping.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/emr, provider

#21097 r/aws_connect_bot_association - add new resource
  .changelog/21097.txt
  internal/provider/provider.go
  internal/service/connect/bot_association.go
  internal/service/connect/bot_association_data_source.go
  internal/service/connect/bot_association_data_source_test.go
  internal/service/connect/bot_association_test.go
  internal/service/connect/enum.go
  internal/service/connect/find.go
  internal/service/connect/id.go
  internal/service/connect/wait.go
  website/docs/d/connect_bot_association.markdown
  website/docs/r/connect_bot_association.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, provider, service/connect

#22155 Correct CHANGELOG for #22016
  .changelog/22016.txt
  CHANGELOG.md
Labels: documentation, size/XS, provider

#21276 r/d/aws_connect_lambda_function_association - add new resource and data source
  .changelog/21276.txt
  internal/provider/provider.go
  internal/service/connect/contact_flow_data_source_test.go
  internal/service/connect/contact_flow_test.go
  internal/service/connect/enum.go
  internal/service/connect/find.go
  internal/service/connect/id.go
  internal/service/connect/lambda_function_association.go
  internal/service/connect/lambda_function_association_data_source.go
  internal/service/connect/lambda_function_association_data_source_test.go
  internal/service/connect/lambda_function_association_test.go
  internal/service/connect/test-fixtures/connect_contact_flow.json
  internal/service/connect/test-fixtures/connect_contact_flow_updated.json
  internal/service/connect/test-fixtures/lambdatest.zip
  website/docs/d/connect_lambda_function_association.markdown
  website/docs/r/connect_lambda_function_association.markdown
Labels: enhancement, documentation, new-resource, new-data-source, size/XL, tests, provider, service/connect

#22139 `s3`: reference storage classes from SDK and AWS docs
  internal/service/s3/bucket.go
  internal/service/s3/object_copy.go
  internal/service/s3/validate.go
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
  website/docs/r/s3_bucket_replication_configuration.html.markdown
  website/docs/r/s3_object_copy.html.markdown
  website/docs/r/storagegateway_nfs_file_share.html.markdown
  website/docs/r/storagegateway_smb_file_share.html.markdown
Labels: documentation, size/S, service/s3, service/storagegateway

#22142 ecr/lifecycle_policy: Fix diffs when policy equivalent
  .changelog/22142.txt
  internal/service/ecr/lifecycle_policy.go
  internal/service/ecr/lifecycle_policy_test.go
Labels: size/L, tests, service/ecr

#22143 Add warning to documentation to hosted zone DNSSEC config
  website/docs/r/route53_hosted_zone_dnssec.html.markdown
Labels: documentation, size/XS

#22157 elasticsearch/domain: Fix erroneous/perpetual diffs
  .changelog/22157.txt
  internal/flex/flex.go
  internal/service/apigatewayv2/integration.go
  internal/service/apigatewayv2/integration_response.go
  internal/service/apigatewayv2/route.go
  internal/service/apigatewayv2/route_response.go
  internal/service/apigatewayv2/stage.go
  internal/service/cloudwatchlogs/metric_filter.go
  internal/service/ecs/task_definition.go
  internal/service/elasticsearch/domain.go
  internal/service/elasticsearch/domain_data_source.go
  internal/service/elasticsearch/domain_policy.go
  internal/service/elasticsearch/domain_policy_test.go
  internal/service/elasticsearch/domain_saml_options_test.go
  internal/service/elasticsearch/domain_test.go
  internal/service/kinesisanalyticsv2/application.go
  internal/service/kms/grant.go
  internal/service/s3/bucket_object.go
  internal/service/s3/bucket_object_data_source.go
  internal/service/s3/object_copy.go
  internal/verify/diff_test.go
  internal/verify/json.go
  internal/verify/verify.go
Labels: size/XL, tests, service/s3, service/ecs, service/cloudwatchlogs, service/kms, service/elasticsearch, service/kinesisanalyticsv2, service/apigatewayv2, flex, verify

#21955 r/networkfirewall_firewall_(policy|rule_group) stateful rule ordering
  .changelog/21955.txt
  internal/service/networkfirewall/firewall_policy.go
  internal/service/networkfirewall/firewall_policy_test.go
  internal/service/networkfirewall/helpers.go
  internal/service/networkfirewall/rule_group.go
  internal/service/networkfirewall/rule_group_test.go
  website/docs/r/networkfirewall_firewall_policy.html.markdown
  website/docs/r/networkfirewall_rule_group.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/networkfirewall

#21960 FSx Backup Volume addition
  .changelog/21960.txt
  internal/service/fsx/backup.go
  internal/service/fsx/backup_test.go
  website/docs/r/fsx_backup.html.markdown
Labels: enhancement, documentation, size/L, tests, service/fsx

#21983 Add Hugging Face DLC images to sagemaker pre-built ecr image
  .changelog/21983.txt
  internal/service/sagemaker/prebuilt_ecr_image_data_source.go
Labels: enhancement, size/XS, service/sagemaker

#22168 Tweak CHANGELOG entry
  .changelog/21983.txt
Labels: size/XS

#21934 r/aws_connect_hours_of_operation
  .changelog/21934.txt
  internal/provider/provider.go
  internal/service/connect/hours_of_operation.go
  internal/service/connect/hours_of_operation_test.go
  internal/service/connect/wait.go
  website/docs/r/connect_hours_of_operation.html.markdown
Labels: enhancement, documentation, size/XL, tests, provider, service/connect

#20857 resource/aws_appsync_graphql_api: Add `lambda_authorizer_config` argument
  .changelog/20857.txt
  internal/service/appsync/appsync_test.go
  internal/service/appsync/graphql_api.go
  internal/service/appsync/graphql_api_test.go
  website/docs/r/appsync_graphql_api.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/appsync

#21868 Clean up docs on aws_s3_bucket_policy
  website/docs/r/s3_bucket_policy.html.markdown
Labels: documentation, size/S, service/s3

#19292 F/resource aws dynamodb table: restore from point in time
  .changelog/19292.txt
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: enhancement, size/XL, tests, service/dynamodb

#22185 r/iam_service_linked_role - tagging support
  .changelog/22185.txt
  internal/service/iam/service_linked_role.go
  internal/service/iam/service_linked_role_test.go
  internal/service/iam/sweep.go
  internal/service/iam/wait.go
  website/docs/r/iam_service_linked_role.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/iam, sweeper

#22172 New Resource: aws_ecr_pull_through_cache_rule
  .changelog/22172.txt
  internal/provider/provider.go
  internal/service/ecr/find.go
  internal/service/ecr/pull_through_cache_rule.go
  internal/service/ecr/pull_through_cache_rule_test.go
  website/docs/r/ecr_pull_through_cache_rule.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ecr, provider

#22179 New resource: ECR registry scanning configuration
  .changelog/22179.txt
  internal/provider/provider.go
  internal/service/ecr/registry_scanning_configuration.go
  internal/service/ecr/registry_scanning_configuration_test.go
  website/docs/r/ecr_registry_scanning_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ecr, provider

#22165 events/bus_policy: Fix diffs with policy
  .changelog/22165.txt
  internal/service/events/bus_policy.go
  internal/service/events/bus_policy_test.go
Labels: size/M, tests, service/events

#22166 glacier/vault: Fix spurious policy diffs
  .changelog/22166.txt
  internal/service/glacier/vault.go
  internal/service/glacier/vault_lock.go
  internal/service/glacier/vault_lock_test.go
  internal/service/glacier/vault_test.go
Labels: size/XL, tests, service/glacier

#22167 glue/resource_policy: Fix diffs with equivalent policies
  .changelog/22167.txt
  internal/service/glue/data_catalog_encryption_settings_data_source_test.go
  internal/service/glue/data_catalog_encryption_settings_test.go
  internal/service/glue/glue_test.go
  internal/service/glue/resource_policy.go
  internal/service/glue/resource_policy_test.go
Labels: size/L, tests, service/glue

#22169 iot/policy: Fix diffs with equivalent policies
  .changelog/22169.txt
  internal/service/iot/policy.go
Labels: size/S, service/iot

#22170 mediastore/container_policy: Fix equivalent policy diffs
  .changelog/22170.txt
  internal/service/mediastore/container_policy.go
  internal/service/mediastore/container_policy_test.go
Labels: size/M, tests, service/mediastore

#22171 networkfirewall/resource_policy: Fix equivalent policy diffs
  .changelog/22171.txt
  internal/service/networkfirewall/resource_policy.go
  internal/service/networkfirewall/resource_policy_test.go
Labels: size/M, tests, service/networkfirewall

#19040 f/resource_aws_dms_endpoint: support for secrets id for oracle and postgres
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/databasemigrationservice

#22190 Update outdated docs on DMS instance sizes
  website/docs/r/dms_replication_instance.html.markdown
Labels: documentation, size/XS, service/databasemigrationservice

#22200 fix: increase golanci timeout to 25m
  .golangci.yml
Labels: size/XS, github_actions

#22206 docs(quicksight): iam_arn req if IAM is specified
  website/docs/r/quicksight_user.html.markdown
Labels: documentation, size/XS, service/quicksight

#22134 Iterate event buses when sweeping event targets and event rules
  internal/service/events/sweep.go
Labels: size/M, sweeper, service/events

#22193 transfer: Fix erroneous diffs with user and access policies
  .changelog/22193.txt
  internal/service/transfer/access.go
  internal/service/transfer/user.go
Labels: size/M, service/transfer

#22192 ssoadmin/permission_set_inline_policy: Fix errorneous diffs
  .changelog/22192.txt
  internal/service/ssoadmin/permission_set_inline_policy.go
Labels: size/XS, service/ssoadmin

#22207 d/aws_connect_hours_of_operation
  .changelog/22207.txt
  internal/provider/provider.go
  internal/service/connect/enum.go
  internal/service/connect/hours_of_operation_data_source.go
  internal/service/connect/hours_of_operation_data_source_test.go
  website/docs/d/connect_hours_of_operation.html.markdown
Labels: documentation, size/XL, tests, provider, service/connect, needs-triage

#21946 fix: Error - expected idle_disconnect_timeout_in_seconds to be in the range (60 - 3600), got 15
  website/docs/r/appstream_fleet.html.markdown
Labels: bug, documentation, size/XS, service/appstream

#21932 Docs/aws_emr_cluster
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, size/XS, service/emr

#21928 docs: iam statement Resource, NotResource conflict
  website/docs/d/iam_policy_document.html.markdown
Labels: documentation, size/XS, service/iam

#21287 add RSA 3072 for data_source_aws_acm_certificate key_types
  internal/service/acm/certificate_data_source.go
  website/docs/d/acm_certificate.html.markdown
Labels: enhancement, documentation, size/XS, service/acm

#22194 sqs: Fix diffs with policies
  .changelog/22194.txt
  internal/service/sqs/queue.go
  internal/service/sqs/queue_policy.go
  internal/service/sqs/queue_test.go
  internal/service/sqs/status.go
  internal/service/sqs/wait.go
Labels: size/XL, tests, service/sqs

#22215 Add additional attributes to documentation
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, size/XS, service/lightsail

#22219 aws_cloudfront_origin_request_policy docs fixes
  website/docs/d/cloudfront_cache_policy.html.markdown
  website/docs/d/cloudfront_origin_request_policy.html.markdown
  website/docs/d/cloudfront_response_headers_policy.html.markdown
  website/docs/r/cloudfront_cache_policy.html.markdown
  website/docs/r/cloudfront_origin_request_policy.html.markdown
  website/docs/r/cloudfront_response_headers_policy.html.markdown
Labels: documentation, size/M, service/cloudfront

#22213 sns/topic: Fix diffs with policies
  .changelog/22213.txt
  internal/service/sns/topic.go
  internal/service/sns/topic_policy.go
  internal/service/sns/topic_policy_test.go
Labels: size/L, tests, service/sns

#22214 ses/identity_policy: Fix equivalent policy diffs
  .changelog/22214.txt
  internal/service/ses/identity_policy.go
  internal/service/ses/identity_policy_test.go
Labels: size/M, tests, service/ses

#22221 r/s3_bucket: handle `versioning` configuration when explicitly disabled
  .changelog/22221.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_test.go
Labels: bug, size/XL, tests, service/s3

#22227 Fix: wrong 'eu-south-1' region's S3 hosted zone ID
  .changelog/22227.txt
  internal/service/s3/hosted_zones.go
Labels: bug, size/XS, service/s3

#22236 Update aws_s3_account_public_access_block.block_public_acls docs
  website/docs/r/s3_account_public_access_block.html.markdown
Labels: documentation, size/XS, service/s3control

#22229 Update s3_bucket_ownership_controls.html.markdown
  website/docs/r/s3_bucket_ownership_controls.html.markdown
Labels: documentation, size/XS, service/s3, needs-triage

#22217 secretsmanager/secret: Fix equivalent policy diffs
  .changelog/22217.txt
  internal/acctest/acctest.go
  internal/service/iam/wait.go
  internal/service/secretsmanager/secret.go
  internal/service/secretsmanager/secret_policy.go
  internal/service/secretsmanager/secret_test.go
  internal/verify/json.go
  website/docs/r/secretsmanager_secret.html.markdown
  website/docs/r/secretsmanager_secret_policy.html.markdown
Labels: documentation, size/L, tests, service/iam, service/secretsmanager, verify

#12578 resource/aws_emr_cluster: Fix aws_emr_security_configuration destroy issues
  .changelog/12578.txt
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
  internal/service/emr/find.go
  internal/service/emr/wait.go
Labels: bug, size/L, tests, service/emr

#22246 r/aws_fsx_ontap_storage_virtual_machine: Deprecate `organizational_unit_distinguidshed_name` in favor of `organizational_unit_distinguished_name`
  .changelog/22246.txt
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/service/fsx/ontap_storage_virtual_machine_test.go
Labels: size/M, tests, service/fsx

#22254 docs(connect): typo blog to block
  website/docs/r/connect_hours_of_operation.html.markdown
Labels: documentation, size/XS, service/connect

#22245 fixup: Fix link to provider docs
  README.md
Labels: documentation, size/XS, provider

#22025 Update `securityhub_standards_control` example with idiomatic quoted label syntax
  website/docs/r/securityhub_standards_control.markdown
Labels: documentation, size/XS, service/securityhub

#21531 Increase route_table Create timeout
  .changelog/21531.txt
  internal/service/ec2/route.go
  internal/service/ec2/route_table.go
  website/docs/r/route.html.markdown
  website/docs/r/route_table.html.markdown
Labels: enhancement, documentation, size/XS, service/ec2, timeouts

#16901 New Resource: aws_ecrpublic_repository_policy
  .changelog/16901.txt
  internal/provider/provider.go
  internal/service/ecrpublic/repository_policy.go
  internal/service/ecrpublic/repository_policy_test.go
  website/docs/r/ecrpublic_repository_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/ecrpublic

#22255 s3control: Fix equivalent policy diffs
  .changelog/22255.txt
  internal/service/s3control/access_point.go
  internal/service/s3control/access_point_policy.go
  internal/service/s3control/access_point_test.go
  internal/service/s3control/bucket_policy.go
  internal/service/s3control/multi_region_access_point_policy.go
  internal/service/s3control/object_lambda_access_point_policy.go
  internal/service/s3control/object_lambda_access_point_policy_test.go
  internal/service/secretsmanager/secret.go
  internal/service/secretsmanager/secret_test.go
  website/docs/r/s3_access_point.html.markdown
  website/docs/r/secretsmanager_secret.html.markdown
Labels: documentation, size/L, tests, service/secretsmanager, service/s3control

#22259 sagemaker/model_package_group_policy: Fix equivalent policy diffs
  .changelog/22259.txt
  internal/service/sagemaker/model_package_group_policy.go
  internal/service/sagemaker/model_package_group_policy_test.go
Labels: size/S, tests, service/sagemaker

#22263 Add Documentation for Hugging Face DLC images in sagemaker pre-built ecr image
  website/docs/d/sagemaker_prebuilt_ecr_image.html.markdown
Labels: documentation, size/XS, service/sagemaker

#21906 fix: Update the docs for CloudWatch Event Rule Target to mention use …
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, size/S, service/events

#21773 fix missing provisionSsoAdminPermissionSet() after delete a policy
  .changelog/21773.txt
  internal/service/ssoadmin/managed_policy_attachment.go
Labels: bug, size/XS, service/ssoadmin

#22150 Update wafv2_web_acl_logging_configuration.html.markdown
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, size/XS, service/wafv2

#22270 r/aws_sns_platform_application: Skip errors in unsupported regions
  internal/sweep/sweep.go
Labels: size/XS, sweeper

#22265 sweeper/aws_iam_service_linked_role: Set correct resource ID
  internal/service/iam/sweep.go
Labels: size/XS, service/iam, sweeper

#21002 feat: adding support `aws_ecr_replication_configuration` repository filter
  .changelog/21231.txt
  internal/service/ecr/replication_configuration.go
  internal/service/ecr/replication_configuration_test.go
  website/docs/r/ecr_replication_configuration.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ecr

#22189 r/codebuild_project - add support for `bucket_access_owner` and `public_visibility`
  .changelog/22189.txt
  internal/service/codebuild/find.go
  internal/service/codebuild/project.go
  internal/service/codebuild/project_test.go
  internal/service/codebuild/sweep.go
  website/docs/r/codebuild_project.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/codebuild, sweeper

#22281 Increase rules and destination limits for aws_ecr_replication_configuration
  .changelog/22281.txt
  internal/service/ecr/replication_configuration.go
  website/docs/r/ecr_replication_configuration.html.markdown
Labels: documentation, size/XS, service/ecr

#22256 New Resource: aws_memorydb_subnet_group
  .changelog/22256.txt
  internal/provider/provider.go
  internal/service/memorydb/find.go
  internal/service/memorydb/generate.go
  internal/service/memorydb/subnet_group.go
  internal/service/memorydb/subnet_group_test.go
  internal/service/memorydb/tags_gen.go
  website/docs/r/memorydb_subnet_group.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, provider, tags, service/memorydb, generators

#22261 New Resource: aws_memorydb_user
  .changelog/22261.txt
  internal/provider/provider.go
  internal/service/memorydb/find.go
  internal/service/memorydb/status.go
  internal/service/memorydb/subnet_group_test.go
  internal/service/memorydb/user.go
  internal/service/memorydb/user_test.go
  internal/service/memorydb/wait.go
  website/docs/r/memorydb_user.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/memorydb

#21094 feat: aws_kinesisanalyticsv2_application custom timeouts
  .changelog/21094.txt
  internal/service/kinesisanalyticsv2/application.go
  internal/service/kinesisanalyticsv2/application_snapshot.go
  internal/service/kinesisanalyticsv2/application_test.go
  internal/service/kinesisanalyticsv2/wait.go
  website/docs/r/kinesisanalyticsv2_application.html.markdown
  website/docs/r/kinesisanalyticsv2_application_snapshot.html.markdown
Labels: documentation, size/M, tests, service/kinesisanalyticsv2

#22262 r/aws_batch_scheduling_policy
  .changelog/22262.txt
  internal/provider/provider.go
  internal/service/batch/scheduling_policy.go
  internal/service/batch/scheduling_policy_test.go
  internal/service/batch/validate.go
  internal/service/batch/validate_test.go
  website/docs/r/batch_scheduling_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/batch, provider

#22293 resource/emr_cluster: Fix bootstrap_action documentation
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, size/XS, service/emr

#22294 docs/contributing: updated filenames for hardcoded new region values
  docs/contributing/contribution-checklists.md
Labels: documentation, size/XS, provider

#22285 new data source cognito_user_pool_signing_certificate
  .changelog/22285.txt
  internal/provider/provider.go
  internal/service/cognitoidp/test-fixtures/saml-metadata.xml
  internal/service/cognitoidp/user_pool_signing_certificate_data_source.go
  internal/service/cognitoidp/user_pool_signing_certificate_data_source_test.go
  website/docs/d/cognito_user_pool_signing_certificate.markdown
Labels: documentation, size/L, tests, provider, service/cognitoidentityprovider

#22289 new datasource aws_cognito_user_pool_clients
  .changelog/22289.txt
  internal/provider/provider.go
  internal/service/cognitoidp/user_pool_clients_data_source.go
  internal/service/cognitoidp/user_pool_clients_data_source_test.go
  website/docs/d/cognito_user_pool_clients.markdown
Labels: documentation, new-data-source, size/M, tests, provider, service/cognitoidentityprovider

#22284 fix #22268: allow any character in networkfirewall/ip_sets as per the…
  .changelog/22284.txt
  internal/service/networkfirewall/rule_group.go
Labels: bug, size/XS, service/networkfirewall

#22282 Resource/aws_sqs_queue added redrive policy
  internal/attrmap/attrmap.go
  internal/service/sns/consts.go
  internal/service/sns/find.go
  internal/service/sns/sms_preferences.go
  internal/service/sns/status.go
  internal/service/sns/topic.go
  internal/service/sns/topic_policy.go
  internal/service/sns/topic_policy_test.go
  internal/service/sns/topic_subscription.go
  internal/service/sns/topic_subscription_test.go
  internal/service/sns/topic_test.go
  internal/service/sns/wait.go
  internal/service/sqs/queue.go
  internal/service/sqs/queue_test.go
  internal/service/sqs/status.go
  website/docs/r/sqs_queue.html.markdown
Labels: documentation, size/XL, tests, service/sns, service/sqs

#19083 New resource/aws_vpc_endpoint_connection_accepter
  .changelog/19083.txt
  internal/provider/provider.go
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/vpc_endpoint_connection_accepter.go
  internal/service/ec2/vpc_endpoint_connection_accepter_test.go
  internal/service/ec2/wait.go
  website/docs/r/vpc_endpoint_connection_accepter.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ec2, provider

#18082 r/elasticsearch_domain - tag on create + refactor to use waiter and finder packages
  .changelog/18082.txt
  internal/service/elasticsearch/domain.go
  internal/service/elasticsearch/domain_data_source.go
  internal/service/elasticsearch/domain_policy.go
  internal/service/elasticsearch/domain_saml_options.go
  internal/service/elasticsearch/domain_saml_options_test.go
  internal/service/elasticsearch/domain_structure.go
  internal/service/elasticsearch/domain_test.go
  internal/service/elasticsearch/find.go
  internal/service/elasticsearch/flex.go
  internal/service/elasticsearch/status.go
  internal/service/elasticsearch/sweep.go
  internal/service/elasticsearch/wait.go
Labels: enhancement, size/XL, tests, service/elasticsearch, sweeper

#22308 Fix spelling mistake in s3-api-gateway-integration example.
  examples/s3-api-gateway-integration/main.tf
Labels: size/XS, examples

#22313 Add kafkaconnect service
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  infrastructure/repository/labels-service.tf
  internal/conns/conns.go
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XS, repository, client-connections

#22311 New Resource: aws_memorydb_acl
  internal/provider/provider.go
  internal/service/memorydb/acl.go
  internal/service/memorydb/acl_test.go
  internal/service/memorydb/find.go
  internal/service/memorydb/status.go
  internal/service/memorydb/wait.go
  website/docs/r/memorydb_acl.html.markdown
Labels: documentation, size/XL, tests, provider, service/memorydb

#22310 datasource aws_ses_active_receipt_rule_set
  .changelog/22310.txt
  internal/provider/provider.go
  internal/service/ses/active_receipt_rule_set_data_source.go
  internal/service/ses/active_receipt_rule_set_data_source_test.go
  internal/service/ses/active_receipt_rule_set_test.go
  website/docs/d/ses_active_receipt_rule_set.html.markdown
Labels: documentation, size/L, tests, service/ses, provider

#22298 r/aws_batch_job_queue - new attribute
  .changelog/22298.txt
  internal/service/batch/job_queue.go
  internal/service/batch/job_queue_test.go
  internal/service/batch/sweep.go
  website/docs/r/batch_job_queue.html.markdown
Labels: documentation, size/L, tests, service/batch, sweeper

#22315 fix: change the type from array to slice to prevent a panic
  .changelog/22315.txt
  internal/service/ec2/traffic_mirror_filter_rule.go
Labels: size/XS, service/ec2

#22304 New Resource: aws_memorydb_parameter_group
  .changelog/22304.txt
  internal/provider/provider.go
  internal/service/memorydb/find.go
  internal/service/memorydb/parameter_group.go
  internal/service/memorydb/parameter_group_test.go
  website/docs/r/memorydb_parameter_group.html.markdown
Labels: documentation, size/XL, tests, provider, service/memorydb
