Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-03, with the labels that each got.

#17520 docs/contributing: Additional Data Handling and Conversion sections to cover special behaviors and guidelines
  docs/contributing/data-handling-and-conversion.md
Labels: documentation, provider, size/M

#17474 New Resource: aws_route53_hosted_zone_dnssec
  .changelog/pending.txt
  aws/internal/service/route53/enum.go
  aws/internal/service/route53/finder/finder.go
  aws/internal/service/route53/waiter/status.go
  aws/internal/service/route53/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_route53_hosted_zone_dnssec.go
  aws/resource_aws_route53_hosted_zone_dnssec_test.go
  website/docs/r/route53_hosted_zone_dnssec.html.markdown
  website/docs/r/route53_key_signing_key.html.markdown
  website/docs/r/route53_zone.html.markdown
Labels: documentation, new-resource, provider, service/route53, size/XL, tests

#17208 resource/aws_route53_record: Add DS record type support
  aws/resource_aws_route53_record.go
  aws/resource_aws_route53_record_test.go
Labels: service/route53, size/S, tests

#17865 Correct heading in running-and-writing-acceptance-tests.md
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, size/XS

#17873 documentation/sagemaker_app_image_config: remove tags until #17267 is addressed
  website/docs/r/sagemaker_app_image_config.html.markdown
Labels: documentation, service/sagemaker, size/XS

#17872 r/neptune_cluster_parameter_group: update parameter field modification on create/update
  .changelog/17872.txt
  aws/resource_aws_neptune_cluster_parameter_group.go
  aws/resource_aws_neptune_cluster_parameter_group_test.go
Labels: bug, service/neptune, size/L, tests

#17836 resource/aws_kms_grant: Support operations on asymmetric keys
  .changelog/17836.txt
  aws/resource_aws_kms_grant.go
  aws/resource_aws_kms_grant_test.go
  website/docs/r/kms_grant.html.markdown
Labels: documentation, service/kms, size/M, tests

#17904 Correct handling of timestamps in Data Handling and Conversion guide
  docs/contributing/data-handling-and-conversion.md
Labels: documentation, provider, size/XS

#17925 workflow/firewatch - Enable slack
  .github/workflows/firewatch.yml
Labels: provider, size/XS, tests

#17815 Update aws_apigatewayv2_integration documentation for private integration
  website/docs/r/apigatewayv2_integration.html.markdown
Labels: documentation, service/apigatewayv2, size/XS

#17921 tests/cloudhsmv2: Remove deprecated type constraints
  aws/data_source_aws_cloudhsm2_cluster_test.go
  aws/resource_aws_cloudhsm2_cluster_test.go
Labels: prerelease-tf-testing, service/cloudhsmv2, size/XS, terraform-0.15, tests

#17739 r/aws_globalaccelerator_accelerator: Correctly update flow log attributes when enabled
  .changelog/17739.txt
  aws/internal/service/globalaccelerator/arn.go
  aws/internal/service/globalaccelerator/arn_test.go
  aws/internal/service/globalaccelerator/finder/finder.go
  aws/internal/service/globalaccelerator/waiter/status.go
  aws/internal/service/globalaccelerator/waiter/waiter.go
  aws/resource_aws_globalaccelerator_accelerator.go
  aws/resource_aws_globalaccelerator_accelerator_test.go
  aws/resource_aws_globalaccelerator_endpoint_group.go
  aws/resource_aws_globalaccelerator_endpoint_group_test.go
  aws/resource_aws_globalaccelerator_listener.go
  aws/resource_aws_globalaccelerator_listener_test.go
Labels: service/globalaccelerator, size/XXL, tests

#17922 tests/lblistenerrule: Remove deprecated type constraints
  aws/resource_aws_lb_listener_rule_test.go
Labels: prerelease-tf-testing, service/elbv2, size/S, terraform-0.15, tests

#17928 tests/lblistener: Remove deprecated type constraints
  aws/resource_aws_lb_listener_test.go
Labels: prerelease-tf-testing, service/elbv2, size/XS, terraform-0.15, tests

#17930 tests/lb: Remove deprecated type constraints
  aws/resource_aws_lb_test.go
Labels: prerelease-tf-testing, service/elbv2, size/XS, terraform-0.15, tests

#17843 Fix the link to aws_iam_role_policy_attachment resource
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, needs-triage, service/eks, size/XS

#17918 docs/service/ec2: Clarifications for aws_ami data source and aws_instance resource types
  website/docs/d/ami.html.markdown
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/S

#17931 tests/shield: Remove deprecated type constraints
  aws/resource_aws_shield_protection_test.go
Labels: prerelease-tf-testing, service/shield, size/XS, terraform-0.15, tests

#17932 tests/data-source/lb: Remove deprecated type constraints
  aws/data_source_aws_elb_test.go
  aws/data_source_aws_lb_listener_test.go
  aws/data_source_aws_lb_target_group_test.go
  aws/data_source_aws_lb_test.go
Labels: prerelease-tf-testing, service/elb, service/elbv2, size/XS, terraform-0.15, tests

#17885 resource/aws_ssm_maintenance_window_task: Prevent ValidationException error on update when priority is not set or 0
  .changelog/17885.txt
  aws/resource_aws_ssm_maintenance_window_task.go
  aws/resource_aws_ssm_maintenance_window_task_test.go
Labels: bug, service/ssm, size/M, tests

#17901 Add "storage-optimization" to Neptune cluster instance create/update pending states
  .changelog/17901.txt
  aws/resource_aws_neptune_cluster_instance.go
Labels: bug, service/neptune, size/XS

#17900 Fix AWS DB Proxy target example to use correct name from default TG attribute
  website/docs/r/db_proxy_target.html.markdown
Labels: documentation, needs-triage, service/rds, size/XS

#17869 resource/aws_acm_certificate: Trigger resource recreation on VALIDATION_TIMED_OUT status
  .changelog/17869.txt
  aws/resource_aws_acm_certificate.go
Labels: bug, service/acm, size/XS

#16861 [doc] Add a warning on loggroup naming convention with EKS
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, needs-triage, service/eks, size/XS

#17437 tests/service/directconnect: Implement aws_dx_connection and aws_dx_lag sweepers
  aws/resource_aws_dx_connection_test.go
  aws/resource_aws_dx_lag_test.go
Labels: service/directconnect, size/M, technical-debt, tests

#17881 workflows: Migrate panic issue labeling, add further bug issue labeling
  .github/labeler-issue-needs-triage.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-needs-triage.yml
  .github/workflows/issues.yml
  .github/workflows/pull_requests.yml
  .hashibot.hcl
Labels: provider, size/S, tests

#15112 resource/lb_listener: Fix default_action.forward.target_group minimum
  .changelog/15112.txt
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_test.go
Labels: service/elbv2, size/XS, tests

#17880 resource/aws_storagegateway_upload_buffer: Replace `Provider produced inconsistent result after apply` with actual error message
  .changelog/17880.txt
  aws/internal/service/storagegateway/finder/finder.go
  aws/resource_aws_storagegateway_upload_buffer.go
  aws/resource_aws_storagegateway_upload_buffer_test.go
Labels: bug, service/storagegateway, size/M, tests

#17867 docs/resource/aws_instance: Clarify credit_specification configuration block behaviors
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XS

#17718 provider: Convert and enforce most data sources to AWS Go SDK pointer conversion functions during conditionals
  .semgrep.yml
  aws/data_source_aws_acm_certificate.go
  aws/data_source_aws_ami_ids.go
  aws/data_source_aws_api_gateway_rest_api.go
  aws/data_source_aws_cloudfront_cache_policy.go
  aws/data_source_aws_cloudfront_origin_request_policy.go
  aws/data_source_aws_ebs_default_kms_key_test.go
  aws/data_source_aws_ebs_encryption_by_default_test.go
  aws/data_source_aws_elasticache_cluster.go
  aws/data_source_aws_iam_server_certificate_test.go
  aws/data_source_aws_instance.go
  aws/data_source_aws_kms_alias.go
  aws/data_source_aws_lb_listener.go
  aws/data_source_aws_nat_gateway.go
  aws/data_source_aws_sfn_state_machine.go
  aws/data_source_aws_ssm_patch_baseline.go
  aws/data_source_aws_subnet.go
  aws/data_source_aws_workspaces_image_test.go
Labels: service/acm, service/apigateway, service/cloudfront, service/ec2, service/elasticache, service/elbv2, service/iam, service/kms, service/sfn, service/ssm, service/workspaces, size/M, tests

#16108 resource/aws_mq_broker: Add RabbitMQ engine type
  .changelog/16108.txt
  aws/data_source_aws_mq_broker.go
  aws/data_source_aws_mq_broker_test.go
  aws/internal/service/mq/waiter/status.go
  aws/internal/service/mq/waiter/waiter.go
  aws/resource_aws_mq_broker.go
  aws/resource_aws_mq_broker_test.go
  aws/structure.go
  website/docs/r/mq_broker.html.markdown
Labels: documentation, service/mq, size/XXL, tests

#17822 provider: Refactoring for Go 1.16 ioutil package deprecation
  aws/data_source_aws_ip_ranges.go
  aws/internal/generators/listpages/main.go
  aws/internal/service/eks/token/token.go
  aws/internal/service/eks/token/token_test.go
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_iam_user_test.go
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_s3_bucket_object_test.go
Labels: provider, service/eks, service/emr, service/iam, service/lambda, service/s3, size/S, technical-debt, tests

#17984 Don't run slack related actions in forks
  .github/workflows/firewatch.yml
  .github/workflows/team_slack_bot.yml
Labels: provider, size/XS, tests

#17983 workflows: Ensure bill-rich gets maintainer treatment in conditionals
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/issues.yml
  .github/workflows/pull_requests.yml
Labels: provider, size/XS, tests

#14935 r/cognito_user_pool_client - Access and ID token validity
  .changelog/14935.txt
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_client.go
  aws/resource_aws_cognito_user_pool_client_test.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/structure.go
  aws/validators.go
  website/docs/r/cognito_user_pool.markdown
  website/docs/r/cognito_user_pool_client.markdown
Labels: documentation, enhancement, partition/aws-us-gov, service/cognito, size/XXL, tests

#11459 Amazon MQ throughput-optimized message brokers
  aws/resource_aws_mq_broker_test.go
  website/docs/r/mq_broker.html.markdown
Labels: documentation, enhancement, service/mq, size/M, tests

#17982 Add `configuring-iam-database-auth` pending state
  .changelog/17982.txt
  aws/resource_aws_rds_cluster_instance.go
Labels: bug, service/rds, size/XS

#12758 r/mq_broker - allow updating engine version
  .changelog/12758.txt
  aws/resource_aws_mq_broker.go
  aws/resource_aws_mq_broker_test.go
Labels: enhancement, service/mq, size/XL, tests

#17990 linter: Replace time.Time == time.Time with time.Equals()
  .semgrep.yml
  aws/resource_aws_api_gateway_api_key_test.go
  aws/resource_aws_api_gateway_deployment_test.go
  aws/resource_aws_apigatewayv2_deployment_test.go
  aws/resource_aws_codedeploy_app_test.go
  aws/resource_aws_codedeploy_deployment_config_test.go
  aws/resource_aws_datasync_agent_test.go
  aws/resource_aws_datasync_location_efs_test.go
  aws/resource_aws_datasync_location_nfs_test.go
  aws/resource_aws_datasync_location_s3_test.go
  aws/resource_aws_datasync_location_smb_test.go
  aws/resource_aws_docdb_cluster_test.go
  aws/resource_aws_ec2_fleet_test.go
  aws/resource_aws_ecr_repository_test.go
  aws/resource_aws_ecs_service_test.go
  aws/resource_aws_eks_cluster_test.go
  aws/resource_aws_eks_node_group_test.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticsearch_domain_test.go
  aws/resource_aws_kms_external_key_test.go
  aws/resource_aws_rds_cluster_test.go
  aws/resource_aws_sagemaker_notebook_instance_test.go
Labels: linter, service/apigateway, service/apigatewayv2, service/codedeploy, service/datasync, service/docdb, service/ec2, service/ecr, service/ecs, service/efs, service/eks, service/elasticache, service/elasticsearch, service/kms, service/rds, service/sagemaker, size/M, tests

#18004 Replaces `pattern-not-inside` directives in rules with `nosemgrep` comments in code
  .semgrep.yml
  aws/internal/tfresource/errors.go
  aws/structure.go
  aws/utils.go
Labels: linter, provider, size/XS

#16261 Updated Amazon MQ functionality
  aws/internal/service/mq/waiter/waiter.go
  aws/resource_aws_mq_broker.go
  aws/resource_aws_mq_broker_test.go
  website/docs/r/mq_broker.html.markdown
Labels: documentation, service/mq, size/L, tests

#17850 ACM PCA: add resource to issue certificates from private CA and import CA certificates
  .changelog/10213.txt
  .changelog/17850.txt
  aws/data_source_aws_acmpca_certificate.go
  aws/data_source_aws_acmpca_certificate_authority.go
  aws/data_source_aws_acmpca_certificate_test.go
  aws/internal/service/acmpca/finder/finder.go
  aws/internal/service/acmpca/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_acmpca_certificate.go
  aws/resource_aws_acmpca_certificate_authority.go
  aws/resource_aws_acmpca_certificate_authority_certificate.go
  aws/resource_aws_acmpca_certificate_authority_certificate_test.go
  aws/resource_aws_acmpca_certificate_authority_migrate.go
  aws/resource_aws_acmpca_certificate_authority_test.go
  aws/resource_aws_acmpca_certificate_test.go
  aws/resource_aws_guardduty_filter.go
  aws/tls.go
  aws/tls_test.go
  aws/validators.go
  aws/validators_test.go
  website/docs/d/acmpca_certificate.html.markdown
  website/docs/r/acm_certificate.html.markdown
  website/docs/r/acmpca_certificate.html.markdown
  website/docs/r/acmpca_certificate_authority_certificate.html.markdown
Labels: documentation, new-data-source, new-resource, provider, service/acm, service/acmpca, service/guardduty, size/XXL, tests

#18013 Make snapshot_identifier computed
  .changelog/18013.txt
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
Labels: enhancement, service/rds, size/M, tests

#17997 aws_apigatewayv2_integration request and response parameters examples
  website/docs/r/apigatewayv2_integration.html.markdown
Labels: documentation, service/apigatewayv2, size/XS

#17784 r/aws_kinesis_analytics_application: Add 'start_application' attribute
  .changelog/17784.txt
  aws/internal/service/kinesisanalytics/finder/finder.go
  aws/internal/service/kinesisanalytics/waiter/status.go
  aws/internal/service/kinesisanalytics/waiter/waiter.go
  aws/resource_aws_kinesis_analytics_application.go
  aws/resource_aws_kinesis_analytics_application_test.go
  website/docs/r/kinesis_analytics_application.html.markdown
Labels: documentation, enhancement, service/kinesisanalytics, size/XL, tests

#17725 Allow adding member Replication Group to ElastiCache Global Replication Group
  .changelog/17725.txt
  .semgrep.yml
  GNUmakefile
  aws/data_source_aws_elasticache_replication_group.go
  aws/internal/service/elasticache/finder/finder.go
  aws/internal/service/elasticache/waiter/status.go
  aws/internal/service/elasticache/waiter/waiter.go
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_global_replication_group.go
  aws/resource_aws_elasticache_global_replication_group_test.go
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
  website/docs/r/elasticache_global_replication_group.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, provider, service/elasticache, size/XL, tests

#18052 Docs: aws_instance: move notes to be in the right place
  website/docs/r/instance.html.markdown
Labels: documentation, needs-triage, service/ec2, size/XS

#18023 update aws_cloudwatch_metric_alarm doc
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, needs-triage, service/cloudwatch, size/XS

#18009 docs/resource/aws_storagegateway_stored_iscsi_volume: Fix incorrect resource type in import section
  website/docs/r/storagegateway_stored_iscsi_volume.html.markdown
Labels: documentation, service/storagegateway, size/XS

#17671 tests/aws_config_configuration_aggregator: update organization and switch tests
  aws/resource_aws_config_configuration_aggregator_test.go
Labels: service/configservice, size/XS, technical-debt, tests

#18007 docs/provider: Fix various header issues
  website/docs/r/acm_certificate.html.markdown
  website/docs/r/cognito_user_pool_client.markdown
  website/docs/r/cognito_user_pool_ui_customization.html.markdown
  website/docs/r/config_conformance_pack.html.markdown
  website/docs/r/devicefarm_project.html.markdown
  website/docs/r/emr_instance_fleet.html.markdown
  website/docs/r/fms_policy.html.markdown
  website/docs/r/glue_dev_endpoint.markdown
  website/docs/r/iam_user_group_membership.html.markdown
  website/docs/r/lightsail_domain.html.markdown
  website/docs/r/lightsail_key_pair.html.markdown
  website/docs/r/load_balancer_listener_policy.html.markdown
  website/docs/r/networkfirewall_resource_policy.html.markdown
  website/docs/r/secretsmanager_secret_policy.html.markdown
  website/docs/r/securityhub_invite_accepter.markdown
  website/docs/r/ssm_maintenance_window_target.html.markdown
  website/docs/r/transfer_server.html.markdown
  website/docs/r/transfer_ssh_key.html.markdown
  website/docs/r/transfer_user.html.markdown
  website/docs/r/vpc_peering_connection_options.html.markdown
  website/docs/r/wafregional_web_acl_association.html.markdown
  website/docs/r/workspaces_directory.html.markdown
Labels: documentation, service/acm, service/cognito, service/configservice, service/devicefarm, service/ec2, service/elb, service/emr, service/fms, service/glue, service/iam, service/lightsail, service/networkfirewall, service/secretsmanager, service/securityhub, service/ssm, service/transfer, service/waf, service/workspaces, size/M

#18021 docs/provider: Attribute headers and byline fixes (S-W resources)
  website/docs/r/s3_bucket_analytics_configuration.html.markdown
  website/docs/r/s3_bucket_inventory.html.markdown
  website/docs/r/s3_bucket_metric.html.markdown
  website/docs/r/s3_bucket_notification.html.markdown
  website/docs/r/s3_bucket_policy.html.markdown
  website/docs/r/s3_object_copy.html.markdown
  website/docs/r/sagemaker_app.html.markdown
  website/docs/r/sagemaker_domain.html.markdown
  website/docs/r/sagemaker_image.html.markdown
  website/docs/r/sagemaker_image_version.html.markdown
  website/docs/r/sagemaker_model_package_group.html.markdown
  website/docs/r/sagemaker_user_profile.html.markdown
  website/docs/r/secretsmanager_secret_policy.html.markdown
  website/docs/r/ses_active_receipt_rule_set.html.markdown
  website/docs/r/ses_configuration_set.html.markdown
  website/docs/r/ses_event_destination.html.markdown
  website/docs/r/ses_identity_notification_topic.markdown
  website/docs/r/ses_identity_policy.html.markdown
  website/docs/r/ses_receipt_rule.html.markdown
  website/docs/r/ses_receipt_rule_set.html.markdown
  website/docs/r/signer_signing_profile_permission.html.markdown
  website/docs/r/sns_sms_preferences.html.markdown
  website/docs/r/sns_topic_policy.html.markdown
  website/docs/r/spot_datafeed_subscription.html.markdown
  website/docs/r/sqs_queue_policy.html.markdown
  website/docs/r/ssm_resource_data_sync.html.markdown
  website/docs/r/ssoadmin_account_assignment.html.markdown
  website/docs/r/ssoadmin_managed_policy_attachment.html.markdown
  website/docs/r/ssoadmin_permission_set.html.markdown
  website/docs/r/ssoadmin_permission_set_inline_policy.html.markdown
  website/docs/r/storagegateway_tape_pool.html.markdown
  website/docs/r/vpc_peering_connection_accepter.html.markdown
  website/docs/r/vpn_gateway_route_propagation.html.markdown
  website/docs/r/wafv2_web_acl_association.html.markdown
Labels: documentation, service/ec2, service/s3, service/sagemaker, service/secretsmanager, service/ses, service/signer, service/sns, service/sqs, service/ssm, service/ssoadmin, size/M

#17985 r/aws_globalaccelerator_accelerator: Correct name validation length
  .changelog/17985.txt
  aws/resource_aws_globalaccelerator_accelerator.go
  aws/resource_aws_globalaccelerator_listener.go
Labels: bug, service/globalaccelerator, size/S

#17876 r/waf_rule: catch referenced item exception when removing WAF rule; additional linting
  .changelog/17876.txt
  aws/resource_aws_waf_rule.go
  aws/resource_aws_waf_rule_test.go
  aws/resource_aws_waf_web_acl.go
  aws/resource_aws_waf_web_acl_test.go
Labels: service/waf, size/XL, technical-debt, tests

#11967 r/aws_ssm_parameter: Adding support for Intelligent-Tiering
  .changelog/11967.txt
  aws/resource_aws_ssm_parameter.go
  aws/resource_aws_ssm_parameter_test.go
  website/docs/r/ssm_parameter.html.markdown
Labels: documentation, enhancement, service/ssm, size/L, tests

#17958 #13605 added base64decode string before sending to aws-sdk-go, so cer…
  .changelog/17958.txt
  aws/resource_aws_dms_certificate.go
  aws/resource_aws_dms_certificate_test.go
  aws/testdata/service/dms/oracle_wallet_certificate.pem
  aws/validators.go
  aws/validators_test.go
  website/docs/r/dms_certificate.html.markdown
Labels: bug, documentation, service/databasemigrationservice, size/L, tests

#18071 New Service Client: Audit Manager
  .hashibot.hcl
  aws/config.go
  aws/provider.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, new, provider, size/XS

#18017 docs/provider: Attribute headers and byline fixes (A-C resources)
  website/docs/r/api_gateway_base_path_mapping.html.markdown
  website/docs/r/api_gateway_gateway_response.markdown
  website/docs/r/api_gateway_integration.html.markdown
  website/docs/r/api_gateway_integration_response.html.markdown
  website/docs/r/api_gateway_method.html.markdown
  website/docs/r/api_gateway_method_response.html.markdown
  website/docs/r/api_gateway_method_settings.html.markdown
  website/docs/r/appautoscaling_target.html.markdown
  website/docs/r/autoscaling_attachment.html.markdown
  website/docs/r/autoscaling_lifecycle_hook.html.markdown
  website/docs/r/cloudwatch_event_target.html.markdown
  website/docs/r/cloudwatch_log_destination_policy.html.markdown
  website/docs/r/cloudwatch_log_subscription_filter.html.markdown
  website/docs/r/codebuild_project.html.markdown
  website/docs/r/codecommit_trigger.html.markdown
  website/docs/r/cognito_user_group.html.markdown
  website/docs/r/config_configuration_recorder_status.html.markdown
  website/docs/r/config_remediation_configuration.html.markdown
  website/docs/r/cur_report_definition.html.markdown
Labels: documentation, service/apigateway, service/applicationautoscaling, service/autoscaling, service/cloudwatchevents, service/cloudwatchlogs, service/codebuild, service/codecommit, service/cognito, service/configservice, service/costandusagereportservice, service/eventbridge, size/M

#18019 docs/provider: Attribute headers and byline fixes (D-I resources)
  website/docs/r/db_event_subscription.html.markdown
  website/docs/r/directory_service_conditional_forwarder.html.markdown
  website/docs/r/directory_service_log_subscription.html.markdown
  website/docs/r/dms_event_subscription.html.markdown
  website/docs/r/dx_connection_association.html.markdown
  website/docs/r/ebs_default_kms_key.html.markdown
  website/docs/r/ebs_encryption_by_default.html.markdown
  website/docs/r/ec2_client_vpn_authorization_rule.html.markdown
  website/docs/r/elasticsearch_domain_policy.html.markdown
  website/docs/r/elastictranscoder_preset.html.markdown
  website/docs/r/elb_attachment.html.markdown
  website/docs/r/emr_managed_scaling_policy.html.markdown
  website/docs/r/glue_resource_policy.html.markdown
  website/docs/r/iam_account_alias.html.markdown
  website/docs/r/iam_group_policy_attachment.markdown
  website/docs/r/iam_instance_profile.html.markdown
  website/docs/r/iam_role.html.markdown
  website/docs/r/iam_role_policy_attachment.markdown
  website/docs/r/iam_user_policy_attachment.markdown
  website/docs/r/iot_policy_attachment.html.markdown
  website/docs/r/iot_thing_principal_attachment.html.markdown
Labels: documentation, service/databasemigrationservice, service/directconnect, service/directoryservice, service/ec2, service/elastic-transcoder, service/elasticsearch, service/elb, service/emr, service/glue, service/iam, service/iot, service/kms, service/rds, size/M

#18022 docs/provider: Remove other examples code block languages
  website/docs/r/ecs_task_definition.html.markdown
  website/docs/r/load_balancer_backend_server_policy.html.markdown
  website/docs/r/load_balancer_policy.html.markdown
Labels: documentation, service/ecs, service/elb, size/M

#15213 Add pagination support (introduced in aws-sdk-go v1.33.21) and multiple baselines per patch group.
  .changelog/15213.txt
  aws/internal/service/ssm/finder/finder.go
  aws/resource_aws_ssm_patch_group.go
  aws/resource_aws_ssm_patch_group_migrate.go
  aws/resource_aws_ssm_patch_group_migrate_test.go
  aws/resource_aws_ssm_patch_group_test.go
  website/docs/r/ssm_patch_group.html.markdown
Labels: bug, documentation, service/ssm, size/XL, tests

#17538 Update the Sagemaker Waiter Timeout for Creation from 10 to 60minutes
  aws/internal/service/sagemaker/waiter/waiter.go
Labels: service/sagemaker, size/XS

#17465 resource/aws_codebuild_project: Deprecate source and secondary_sources auth blocks
  .changelog/17465.txt
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/M, technical-debt, tests

#18076 r/storagegateway_gateway - smb file share visibility
  .changelog/18076.txt
  aws/resource_aws_storagegateway_gateway.go
  aws/resource_aws_storagegateway_gateway_test.go
  website/docs/r/storagegateway_gateway.html.markdown
Labels: documentation, enhancement, service/storagegateway, size/M, tests

#18057 tests: Add Common (semgrepable) ErrorCheck functionality
  aws/provider_test.go
  aws/resource_aws_route53_record_test.go
Labels: service/route53, size/M, tests

#18059 docs/tests: Add ErrorCheck documentation
  docs/contributing/contribution-checklists.md
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, size/M

#17973 aws_ec2_traffic_mirror_target: Correct arn
  aws/resource_aws_ec2_traffic_mirror_target.go
  aws/resource_aws_ec2_traffic_mirror_target_test.go
  website/docs/r/ec2_traffic_mirror_target.html.markdown
Labels: documentation, service/ec2, size/XS, tests

#17938 resource_aws_ec2_traffic_mirror_session: Correct ARN
  aws/resource_aws_ec2_traffic_mirror_session.go
  aws/resource_aws_ec2_traffic_mirror_session_test.go
  website/docs/r/ec2_traffic_mirror_session.html.markdown
Labels: documentation, service/ec2, size/XS, tests

#17834 aws_network_acl: Correct the ARN account id
  aws/resource_aws_network_acl.go
  website/docs/index.html.markdown
Labels: documentation, provider, service/ec2, size/XS

#17803 aws_internet_gateway: Correct the ARN account id
  aws/data_source_aws_internet_gateway.go
  aws/resource_aws_internet_gateway.go
  website/docs/index.html.markdown
Labels: documentation, needs-triage, provider, service/ec2, size/XS

#17782 aws_vpc_endpoint: Correct the ARN account id
  aws/data_source_aws_vpc_endpoint.go
  aws/resource_aws_vpc_endpoint.go
  website/docs/index.html.markdown
Labels: documentation, needs-triage, provider, service/ec2, size/XS

#17758 aws_vpc_dhcp_options: Correct the ARN account id
  aws/data_source_aws_vpc_dhcp_options.go
  aws/resource_aws_vpc_dhcp_options.go
  website/docs/index.html.markdown
Labels: documentation, needs-triage, provider, service/ec2, size/XS

#17736 aws_ec2_carrier_gateway: Correct the ARN account id
  aws/resource_aws_ec2_carrier_gateway.go
Labels: service/ec2, size/XS

#17178 resource/aws_ami: Add owner_id attribute
  aws/resource_aws_ami.go
  aws/resource_aws_ami_copy.go
  aws/resource_aws_ami_from_instance.go
  aws/resource_aws_ami_test.go
  website/docs/r/ami.html.markdown
Labels: documentation, needs-triage, service/ec2, size/XS, tests

#18150 ami: Fix main branch
  aws/resource_aws_ami.go
  aws/resource_aws_ami_copy.go
  aws/resource_aws_ami_from_instance.go
Labels: service/ec2, size/L

#17149 Adds Kinesis Stream Consumer resource and data source (third time)
  .changelog/17149.txt
  aws/data_source_aws_kinesis_stream_consumer.go
  aws/data_source_aws_kinesis_stream_consumer_test.go
  aws/internal/service/kinesis/finder/finder.go
  aws/internal/service/kinesis/waiter/status.go
  aws/internal/service/kinesis/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_kinesis_stream_consumer.go
  aws/resource_aws_kinesis_stream_consumer_test.go
  aws/resource_aws_kinesis_stream_test.go
  website/docs/d/kinesis_stream_consumer.html.markdown
  website/docs/r/kinesis_stream_consumer.html.markdown
Labels: documentation, provider, service/kinesis, size/XL, tests

#18173 Add 'Timeouts' heading for Global Accelerator resource timeout documentation
  website/docs/r/globalaccelerator_endpoint_group.html.markdown
  website/docs/r/globalaccelerator_listener.markdown
Labels: documentation, service/globalaccelerator, size/XS

#17974 [Proof of Concept] Default tags implementation: provider and subnet/vpc resources
  .changelog/17974.txt
  aws/config.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
  aws/provider.go
  aws/provider_test.go
  aws/resource_aws_subnet.go
  aws/resource_aws_subnet_test.go
  aws/resource_aws_vpc.go
  aws/resource_aws_vpc_test.go
  aws/tags.go
  website/docs/index.html.markdown
  website/docs/r/subnet.html.markdown
  website/docs/r/vpc.html.markdown
Labels: documentation, enhancement, proposal, provider, service/ec2, size/XXL, tests

#18177 provider: update pointer conversions in test function
  aws/provider_test.go
Labels: size/XS, tests

#17944 docs/resource/vpc_peering_connection: Fix markdown
  website/docs/r/vpc_peering_connection.html.markdown
Labels: documentation, needs-triage, service/ec2, size/XS

#18144 tests/ec2: Add ErrorCheck (Data Source Part 1)
  aws/data_source_aws_ami_ids_test.go
  aws/data_source_aws_ami_test.go
  aws/data_source_aws_availability_zone_test.go
  aws/data_source_aws_availability_zones_test.go
  aws/data_source_aws_customer_gateway_test.go
  aws/data_source_aws_ebs_default_kms_key_test.go
  aws/data_source_aws_ebs_encryption_by_default_test.go
  aws/data_source_aws_ebs_snapshot_ids_test.go
  aws/data_source_aws_ebs_snapshot_test.go
  aws/data_source_aws_ebs_volume_test.go
  aws/data_source_aws_ebs_volumes_test.go
Labels: partition/aws-us-gov, service/ec2, service/kms, size/L, tests

#18145 tests/ec2: Add ErrorCheck (Data Source Part 2)
  aws/data_source_aws_ec2_coip_pool_test.go
  aws/data_source_aws_ec2_coip_pools_test.go
  aws/data_source_aws_ec2_instance_type_offering_test.go
  aws/data_source_aws_ec2_instance_type_offerings_test.go
  aws/data_source_aws_ec2_instance_type_test.go
  aws/data_source_aws_ec2_local_gateway_route_table_test.go
  aws/data_source_aws_ec2_local_gateway_route_tables_test.go
  aws/data_source_aws_ec2_local_gateway_virtual_interface_group_test.go
  aws/data_source_aws_ec2_local_gateway_virtual_interface_groups_test.go
  aws/data_source_aws_ec2_local_gateway_virtual_interface_test.go
Labels: partition/aws-us-gov, service/ec2, size/M, tests

#18146 tests/ec2: Add ErrorCheck (Data Source Part 3)
  aws/data_source_aws_ec2_local_gateway_test.go
  aws/data_source_aws_ec2_local_gateways_test.go
  aws/data_source_aws_ec2_managed_prefix_list_test.go
  aws/data_source_aws_ec2_spot_price_test.go
  aws/data_source_aws_ec2_transit_gateway_dx_gateway_attachment_test.go
  aws/data_source_aws_ec2_transit_gateway_peering_attachment_test.go
  aws/data_source_aws_ec2_transit_gateway_route_table_test.go
  aws/data_source_aws_ec2_transit_gateway_test.go
  aws/data_source_aws_ec2_transit_gateway_vpc_attachment_test.go
  aws/data_source_aws_ec2_transit_gateway_vpn_attachment_test.go
Labels: partition/aws-us-gov, service/directconnect, service/ec2, size/S, tests

#18147 tests/ec2: Add ErrorCheck (DataSource Part 4)
  aws/data_source_aws_eip_test.go
  aws/data_source_aws_instance_test.go
  aws/data_source_aws_instances_test.go
  aws/data_source_aws_internet_gateway_test.go
  aws/data_source_aws_launch_template_test.go
  aws/data_source_aws_nat_gateway_test.go
  aws/data_source_aws_network_acls_test.go
  aws/data_source_aws_network_interface_test.go
  aws/data_source_aws_network_interfaces_test.go
  aws/data_source_aws_prefix_list_test.go
Labels: partition/aws-us-gov, service/ec2, size/L, tests

#18148 tests/ec2: Add ErrorCheck (Data Source Part 5)
  aws/data_source_aws_region_test.go
  aws/data_source_aws_regions_test.go
  aws/data_source_aws_route_table_test.go
  aws/data_source_aws_route_tables_test.go
  aws/data_source_aws_route_test.go
  aws/data_source_aws_security_group_test.go
  aws/data_source_aws_security_groups_test.go
  aws/data_source_aws_subnet_ids_test.go
  aws/data_source_aws_subnet_test.go
  aws/data_source_aws_vpc_dhcp_options_test.go
Labels: partition/aws-us-gov, provider, service/ec2, size/M, tests

#18149 tests/ec2: Add ErrorCheck (Data Source Part 6)
  aws/data_source_aws_vpc_endpoint_service_test.go
  aws/data_source_aws_vpc_endpoint_test.go
  aws/data_source_aws_vpc_peering_connection_test.go
  aws/data_source_aws_vpc_peering_connections_test.go
  aws/data_source_aws_vpc_test.go
  aws/data_source_aws_vpcs_test.go
  aws/data_source_aws_vpn_gateway_test.go
Labels: partition/aws-us-gov, service/ec2, size/M, tests

#18153 tests/ec2: Add ErrorCheck (Resources Part 1)
  aws/resource_aws_ami_copy_test.go
  aws/resource_aws_ami_from_instance_test.go
  aws/resource_aws_ami_launch_permission_test.go
  aws/resource_aws_ami_test.go
  aws/resource_aws_customer_gateway_test.go
  aws/resource_aws_default_network_acl_test.go
  aws/resource_aws_default_route_table_test.go
  aws/resource_aws_default_security_group_test.go
  aws/resource_aws_default_subnet_test.go
  aws/resource_aws_default_vpc_dhcp_options_test.go
Labels: partition/aws-us-gov, service/ec2, size/S, tests

#18154 tests/ec2: Add ErrorCheck (Resources Part 2)
  aws/resource_aws_ebs_default_kms_key_test.go
  aws/resource_aws_ebs_encryption_by_default_test.go
  aws/resource_aws_ebs_snapshot_copy_test.go
  aws/resource_aws_ebs_snapshot_test.go
  aws/resource_aws_ec2_availability_zone_group_test.go
  aws/resource_aws_ec2_capacity_reservation_test.go
  aws/resource_aws_ec2_client_vpn_authorization_rule_test.go
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
  aws/resource_aws_ec2_client_vpn_network_association_test.go
  aws/resource_aws_vpc_test.go
Labels: partition/aws-us-gov, service/ec2, service/kms, size/S, tests

#18165 tests/autoscaling: Add ErrorCheck
  aws/data_source_aws_autoscaling_group_test.go
  aws/data_source_aws_autoscaling_groups_test.go
  aws/data_source_aws_launch_configuration_test.go
  aws/resource_aws_autoscaling_attachment_test.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_autoscaling_lifecycle_hook_test.go
  aws/resource_aws_autoscaling_notification_test.go
  aws/resource_aws_autoscaling_policy_test.go
  aws/resource_aws_autoscaling_schedule_test.go
  aws/resource_aws_launch_configuration_test.go
  aws/resource_aws_launch_template_test.go
Labels: partition/aws-us-gov, service/autoscaling, service/ec2, size/M, tests

#18155 tests/ec2: Add ErrorCheck (Resource Part 3)
  aws/resource_aws_ec2_client_vpn_route_test.go
  aws/resource_aws_ec2_fleet_test.go
  aws/resource_aws_ec2_local_gateway_route_table_vpc_association_test.go
  aws/resource_aws_ec2_local_gateway_route_test.go
  aws/resource_aws_ec2_managed_prefix_list_test.go
  aws/resource_aws_ec2_traffic_mirror_filter_rule_test.go
  aws/resource_aws_ec2_traffic_mirror_filter_test.go
  aws/resource_aws_ec2_traffic_mirror_session_test.go
  aws/resource_aws_ec2_traffic_mirror_target_test.go
  aws/resource_aws_ec2_transit_gateway_peering_attachment_test.go
Labels: partition/aws-us-gov, service/ec2, size/S, tests

#18156 tests/ec2: Add ErrorCheck (Resources Part 4)
  aws/resource_aws_ec2_transit_gateway_peering_attachment_accepter_test.go
  aws/resource_aws_ec2_transit_gateway_prefix_list_reference_test.go
  aws/resource_aws_ec2_transit_gateway_route_table_association_test.go
  aws/resource_aws_ec2_transit_gateway_route_table_propagation_test.go
  aws/resource_aws_ec2_transit_gateway_route_table_test.go
  aws/resource_aws_ec2_transit_gateway_route_test.go
  aws/resource_aws_ec2_transit_gateway_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_test.go
  aws/resource_aws_efs_mount_target_test.go
Labels: partition/aws-us-gov, service/ec2, service/efs, size/S, tests

#18158 tests/ec2: Add ErrorCheck (Resources Part 5)
  aws/resource_aws_egress_only_internet_gateway_test.go
  aws/resource_aws_eip_association_test.go
  aws/resource_aws_eip_test.go
  aws/resource_aws_flow_log_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_internet_gateway_test.go
  aws/resource_aws_key_pair_test.go
  aws/resource_aws_main_route_table_association_test.go
  aws/resource_aws_nat_gateway_test.go
  aws/resource_aws_network_acl_rule_test.go
Labels: partition/aws-us-gov, service/ec2, size/M, tests

#18166 tests/data-source/rds: Add ErrorCheck
  aws/data_source_aws_db_cluster_snapshot_test.go
  aws/data_source_aws_db_event_categories_test.go
  aws/data_source_aws_db_instance_test.go
  aws/data_source_aws_db_snapshot_test.go
  aws/data_source_aws_db_subnet_group_test.go
  aws/data_source_aws_rds_certificate_test.go
  aws/data_source_aws_rds_cluster_test.go
  aws/data_source_aws_rds_engine_version_test.go
  aws/data_source_aws_rds_orderable_db_instance_test.go
Labels: partition/aws-us-gov, service/rds, size/M, tests

#18160 tests/ec2: Add ErrorCheck (Resources Part 6)
  aws/resource_aws_network_acl_test.go
  aws/resource_aws_network_interface_sg_attachment_test.go
  aws/resource_aws_network_interface_test.go
  aws/resource_aws_placement_group_test.go
  aws/resource_aws_route_table_association_test.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_route_test.go
  aws/resource_aws_security_group_rule_test.go
  aws/resource_aws_security_group_test.go
  aws/resource_aws_snapshot_create_volume_permission_test.go
Labels: partition/aws-us-gov, service/ec2, size/L, tests

#18161 tests/ec2: Add ErrorCheck (Resources Part 7)
  aws/resource_aws_spot_datafeed_subscription_test.go
  aws/resource_aws_spot_fleet_request_test.go
  aws/resource_aws_spot_instance_request_test.go
  aws/resource_aws_subnet_test.go
  aws/resource_aws_volume_attachment_test.go
  aws/resource_aws_vpc_dhcp_options_association_test.go
  aws/resource_aws_vpc_dhcp_options_test.go
  aws/resource_aws_vpc_endpoint_route_table_association_test.go
  aws/resource_aws_vpc_endpoint_service_allowed_principal_test.go
  aws/resource_aws_vpc_endpoint_service_test.go
Labels: partition/aws-us-gov, service/ec2, size/M, tests

#18163 tests/ec2: Add ErrorCheck (Resources Part 9)
  aws/resource_aws_vpn_gateway_test.go
Labels: partition/aws-us-gov, service/ec2, size/XS, tests

#18167 tests/rds: Add ErrorCheck (Resources Part 1)
  aws/resource_aws_db_cluster_snapshot_test.go
  aws/resource_aws_db_event_subscription_test.go
  aws/resource_aws_db_instance_role_association_test.go
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_db_option_group_test.go
  aws/resource_aws_db_parameter_group_test.go
  aws/resource_aws_db_proxy_default_target_group_test.go
  aws/resource_aws_db_proxy_target_test.go
  aws/resource_aws_db_proxy_test.go
  aws/resource_aws_db_security_group_test.go
Labels: partition/aws-us-gov, service/rds, size/L, tests

#18168 tests/rds: Add ErrorCheck (Resources Part 2)
  aws/resource_aws_db_snapshot_test.go
  aws/resource_aws_db_subnet_group_test.go
  aws/resource_aws_rds_cluster_endpoint_test.go
  aws/resource_aws_rds_cluster_instance_test.go
  aws/resource_aws_rds_cluster_parameter_group_test.go
  aws/resource_aws_rds_cluster_test.go
  aws/resource_aws_rds_global_cluster_test.go
Labels: partition/aws-us-gov, service/rds, size/M, tests

#17909 Add StateFunc to store values in lower case
  .changelog/17909.txt
  aws/resource_aws_db_parameter_group.go
  aws/resource_aws_db_parameter_group_test.go
Labels: enhancement, service/rds, size/M, tests

#14319 r/wafv2_web_acl_logging_configuration: update redacted_fields schema definition
  .changelog/14319.txt
  aws/resource_aws_wafv2_web_acl_logging_configuration.go
  aws/resource_aws_wafv2_web_acl_logging_configuration_test.go
  aws/wafv2_helper.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: bug, documentation, service/wafv2, size/XL, tests

#18199 Test that ec2 vpn client association works with multiple subnets
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
  aws/resource_aws_ec2_client_vpn_network_association_test.go
Labels: service/ec2, size/M, tests

#18028 tests/provider: Fix and enable AWS SDK Go pointer conversion linting (A-B resources)
  .semgrep.yml
  aws/resource_aws_ami.go
  aws/resource_aws_api_gateway_base_path_mapping.go
  aws/resource_aws_api_gateway_documentation_part.go
  aws/resource_aws_api_gateway_integration.go
  aws/resource_aws_api_gateway_stage.go
  aws/resource_aws_app_cookie_stickiness_policy.go
  aws/resource_aws_appautoscaling_policy.go
  aws/resource_aws_appautoscaling_target.go
  aws/resource_aws_appsync_resolver.go
  aws/resource_aws_athena_database.go
  aws/resource_aws_autoscaling_attachment.go
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_lifecycle_hook.go
  aws/resource_aws_autoscaling_notification.go
  aws/resource_aws_autoscaling_policy.go
  aws/resource_aws_autoscaling_schedule.go
  aws/resource_aws_batch_job_definition.go
  aws/resource_aws_batch_job_queue.go
  aws/resource_aws_budgets_budget_test.go
Labels: service/apigateway, service/applicationautoscaling, service/appsync, service/athena, service/autoscaling, service/batch, service/budgets, service/ec2, service/elb, size/XL, tests

#18201 tests/apigatewayv2: Add ErrorCheck
  aws/data_source_aws_apigatewayv2_apis_test.go
  aws/resource_aws_apigatewayv2_api_test.go
  aws/resource_aws_apigatewayv2_authorizer_test.go
  aws/resource_aws_apigatewayv2_deployment_test.go
  aws/resource_aws_apigatewayv2_domain_name_test.go
  aws/resource_aws_apigatewayv2_integration_response_test.go
  aws/resource_aws_apigatewayv2_integration_test.go
  aws/resource_aws_apigatewayv2_model_test.go
  aws/resource_aws_apigatewayv2_route_response_test.go
  aws/resource_aws_apigatewayv2_route_test.go
  aws/resource_aws_apigatewayv2_stage_test.go
  aws/resource_aws_apigatewayv2_vpc_link_test.go
Labels: partition/aws-us-gov, service/apigatewayv2, size/M, tests

#18205 ci/goreleaser: Look for more performance
  .github/workflows/terraform_provider.yml
Labels: linter, proposal, provider, size/XS, tests

#18198 tests/sagemaker: Add ErrorCheck
  aws/resource_aws_sagemaker_app_image_config_test.go
  aws/resource_aws_sagemaker_app_test.go
  aws/resource_aws_sagemaker_code_repository_test.go
  aws/resource_aws_sagemaker_domain_test.go
  aws/resource_aws_sagemaker_endpoint_configuration_test.go
  aws/resource_aws_sagemaker_endpoint_test.go
  aws/resource_aws_sagemaker_feature_group_test.go
  aws/resource_aws_sagemaker_image_test.go
  aws/resource_aws_sagemaker_image_version_test.go
  aws/resource_aws_sagemaker_model_package_group_test.go
  aws/resource_aws_sagemaker_model_test.go
  aws/resource_aws_sagemaker_notebook_instance_lifecycle_configuration_test.go
  aws/resource_aws_sagemaker_notebook_instance_test.go
  aws/resource_aws_sagemaker_user_profile_test.go
Labels: partition/aws-us-gov, service/sagemaker, size/M, tests

#18197 tests/s3: Add ErrorCheck
  aws/data_source_aws_canonical_user_id_test.go
  aws/data_source_aws_s3_bucket_object_test.go
  aws/data_source_aws_s3_bucket_objects_test.go
  aws/data_source_aws_s3_bucket_test.go
  aws/resource_aws_s3_bucket_analytics_configuration_test.go
  aws/resource_aws_s3_bucket_inventory_test.go
  aws/resource_aws_s3_bucket_metric_test.go
  aws/resource_aws_s3_bucket_notification_test.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_ownership_controls_test.go
  aws/resource_aws_s3_bucket_policy_test.go
  aws/resource_aws_s3_bucket_public_access_block_test.go
  aws/resource_aws_s3_bucket_test.go
  aws/resource_aws_s3_object_copy_test.go
Labels: partition/aws-us-gov, service/s3, size/L, tests

#18196 tests/opsworks: Add ErrorCheck (Part 2)
  aws/resource_aws_opsworks_nodejs_app_layer_test.go
  aws/resource_aws_opsworks_permission_test.go
  aws/resource_aws_opsworks_php_app_layer_test.go
  aws/resource_aws_opsworks_rails_app_layer_test.go
  aws/resource_aws_opsworks_rds_db_instance_test.go
  aws/resource_aws_opsworks_stack_test.go
  aws/resource_aws_opsworks_static_web_layer_test.go
  aws/resource_aws_opsworks_user_profile_test.go
Labels: partition/aws-us-gov, service/opsworks, size/XS, tests

#18195 tests/opsworks: Add ErrorCheck (Part 1)
  aws/resource_aws_opsworks_application_test.go
  aws/resource_aws_opsworks_custom_layer_test.go
  aws/resource_aws_opsworks_ganglia_layer_test.go
  aws/resource_aws_opsworks_haproxy_layer_test.go
  aws/resource_aws_opsworks_instance_test.go
  aws/resource_aws_opsworks_java_app_layer_test.go
  aws/resource_aws_opsworks_memcached_layer_test.go
  aws/resource_aws_opsworks_mysql_layer_test.go
Labels: partition/aws-us-gov, service/opsworks, size/XS, tests

#18194 tests/glue: Add ErrorCheck (Part 2)
  aws/resource_aws_glue_ml_transform_test.go
  aws/resource_aws_glue_partition_test.go
  aws/resource_aws_glue_registry_test.go
  aws/resource_aws_glue_resource_policy_test.go
  aws/resource_aws_glue_schema_test.go
  aws/resource_aws_glue_security_configuration_test.go
  aws/resource_aws_glue_trigger_test.go
  aws/resource_aws_glue_user_defined_function_test.go
  aws/resource_aws_glue_workflow_test.go
Labels: partition/aws-us-gov, service/glue, size/S, tests

#18193 tests/glue: Add ErrorCheck (Part 1)
  aws/data_source_aws_glue_script_test.go
  aws/resource_aws_glue_catalog_database_test.go
  aws/resource_aws_glue_catalog_table_test.go
  aws/resource_aws_glue_classifier_test.go
  aws/resource_aws_glue_connection_test.go
  aws/resource_aws_glue_crawler_test.go
  aws/resource_aws_glue_data_catalog_encryption_settings_test.go
  aws/resource_aws_glue_dev_endpoint_test.go
  aws/resource_aws_glue_job_test.go
Labels: partition/aws-us-gov, service/glue, size/M, tests

#18191 tests/dx: Add ErrorCheck (Part 2)
  aws/resource_aws_dx_hosted_private_virtual_interface_test.go
  aws/resource_aws_dx_hosted_public_virtual_interface_test.go
  aws/resource_aws_dx_hosted_transit_virtual_interface_test.go
  aws/resource_aws_dx_lag_test.go
  aws/resource_aws_dx_private_virtual_interface_test.go
  aws/resource_aws_dx_public_virtual_interface_test.go
  aws/resource_aws_dx_transit_virtual_interface_test.go
Labels: partition/aws-us-gov, service/directconnect, size/XS, tests

#18190 tests/dx: Add ErrorCheck (Part 1)
  aws/data_source_aws_dx_gateway_test.go
  aws/resource_aws_dx_bgp_peer_test.go
  aws/resource_aws_dx_connection_association_test.go
  aws/resource_aws_dx_connection_test.go
  aws/resource_aws_dx_gateway_association_proposal_test.go
  aws/resource_aws_dx_gateway_association_test.go
  aws/resource_aws_dx_gateway_test.go
Labels: partition/aws-us-gov, service/directconnect, size/XS, tests

#18189 tests/iam: Add ErrorCheck (Part 3)
  aws/resource_aws_iam_saml_provider_test.go
  aws/resource_aws_iam_server_certificate_test.go
  aws/resource_aws_iam_service_linked_role_test.go
  aws/resource_aws_iam_user_group_membership_test.go
  aws/resource_aws_iam_user_login_profile_test.go
  aws/resource_aws_iam_user_policy_attachment_test.go
  aws/resource_aws_iam_user_policy_test.go
  aws/resource_aws_iam_user_ssh_key_test.go
  aws/resource_aws_iam_user_test.go
Labels: partition/aws-us-gov, service/iam, size/S, tests

#17589 New data source aws_ec2_transit_gateway_route_tables
  .changelog/17589.txt
  aws/data_source_aws_ec2_transit_gateway_route_tables.go
  aws/data_source_aws_ec2_transit_gateway_route_tables_test.go
  aws/provider.go
  website/docs/d/ec2_transit_gateway_route_tables.html.markdown
Labels: documentation, new-data-source, provider, service/ec2, size/L, tests

#18211 docs/r/wafv2_web_acl_logging_configuration: fix import example formatting
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, service/wafv2, size/XS

#18188 tests/iam: Add ErrorCheck (Part 2)
  aws/resource_aws_iam_group_policy_attachment_test.go
  aws/resource_aws_iam_group_policy_test.go
  aws/resource_aws_iam_group_test.go
  aws/resource_aws_iam_instance_profile_test.go
  aws/resource_aws_iam_openid_connect_provider_test.go
  aws/resource_aws_iam_policy_attachment_test.go
  aws/resource_aws_iam_policy_test.go
  aws/resource_aws_iam_role_policy_attachment_test.go
  aws/resource_aws_iam_role_policy_test.go
  aws/resource_aws_iam_role_test.go
Labels: partition/aws-us-gov, service/iam, size/S, tests

#18186 tests/iam: Add ErrorCheck (Part 1)
  aws/data_source_aws_iam_group_test.go
  aws/data_source_aws_iam_instance_profile_test.go
  aws/data_source_aws_iam_role_test.go
  aws/data_source_aws_iam_server_certificate_test.go
  aws/data_source_aws_iam_user_test.go
  aws/resource_aws_iam_access_key_test.go
  aws/resource_aws_iam_account_alias_test.go
  aws/resource_aws_iam_account_password_policy_test.go
  aws/resource_aws_iam_group_membership_test.go
Labels: partition/aws-us-gov, service/iam, size/S, tests

#18185 tests/apigateway: Add ErrorCheck (Part 3)
  aws/data_source_aws_api_gateway_api_key_test.go
  aws/data_source_aws_api_gateway_domain_name_test.go
  aws/data_source_aws_api_gateway_resource_test.go
  aws/data_source_aws_api_gateway_rest_api_test.go
  aws/data_source_aws_api_gateway_vpc_link_test.go
  aws/resource_aws_api_gateway_rest_api_policy_test.go
  aws/resource_aws_api_gateway_stage_test.go
  aws/resource_aws_api_gateway_usage_plan_key_test.go
  aws/resource_aws_api_gateway_usage_plan_test.go
  aws/resource_aws_api_gateway_vpc_link_test.go
Labels: partition/aws-us-gov, service/apigateway, size/S, tests

#18181 tests/apigateway: Add ErrorCheck (Part 1)
  aws/resource_aws_api_gateway_account_test.go
  aws/resource_aws_api_gateway_api_key_test.go
  aws/resource_aws_api_gateway_authorizer_test.go
  aws/resource_aws_api_gateway_base_path_mapping_test.go
  aws/resource_aws_api_gateway_client_certificate_test.go
  aws/resource_aws_api_gateway_deployment_test.go
  aws/resource_aws_api_gateway_documentation_part_test.go
  aws/resource_aws_api_gateway_documentation_version_test.go
  aws/resource_aws_api_gateway_domain_name_test.go
  aws/resource_aws_api_gateway_gateway_response_test.go
Labels: partition/aws-us-gov, service/apigateway, size/S, tests

#18180 tests/waf: Add Error Check (Part 2)
  aws/data_source_aws_waf_ipset_test.go
  aws/data_source_aws_waf_rate_based_rule_test.go
  aws/data_source_aws_waf_rule_test.go
  aws/data_source_aws_waf_web_acl_test.go
  aws/resource_aws_waf_web_acl_test.go
  aws/resource_aws_waf_xss_match_set_test.go
Labels: partition/aws-us-gov, service/waf, size/S, tests

#18178 tests/waf: Add ErrorCheck (Part 1)
  aws/resource_aws_waf_byte_match_set_test.go
  aws/resource_aws_waf_geo_match_set_test.go
  aws/resource_aws_waf_ipset_test.go
  aws/resource_aws_waf_rate_based_rule_test.go
  aws/resource_aws_waf_regex_match_set_test.go
  aws/resource_aws_waf_regex_pattern_set_test.go
  aws/resource_aws_waf_rule_group_test.go
  aws/resource_aws_waf_rule_test.go
  aws/resource_aws_waf_size_constraint_set_test.go
  aws/resource_aws_waf_sql_injection_match_set_test.go
Labels: partition/aws-us-gov, service/waf, size/S, tests

#18164 tests/mq: Add ErrorCheck
  aws/data_source_aws_mq_broker_test.go
  aws/resource_aws_mq_broker_test.go
  aws/resource_aws_mq_configuration_test.go
Labels: partition/aws-us-gov, service/mq, size/XS, tests

#18203 r/aws_lakeformation_permissions: Fix bug where SELECT permissions are not properly read in from AWS
  .changelog/18203.txt
  aws/resource_aws_lakeformation_permissions.go
  aws/resource_aws_lakeformation_permissions_test.go
  aws/resource_aws_lakeformation_test.go
Labels: service/lakeformation, size/L, tests

#18096 tests/provider: Add aws_s3_bucket resource force_destroy argument in log bucket configurations
  aws/resource_aws_cloudfront_distribution_test.go
  aws/resource_aws_globalaccelerator_accelerator_test.go
  aws/resource_aws_msk_cluster_test.go
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, service/cloudfront, service/globalaccelerator, service/kafka, size/XS, tests

#17641 data-source/aws_vpc_endpoint_service: Switch service_type filtering from client-side to API
  .changelog/17641.txt
  aws/data_source_aws_vpc_endpoint_service.go
Labels: bug, crash, service/ec2, size/S

#18219 tests/elbv2: Add ErrorCheck
  aws/data_source_aws_lb_listener_test.go
  aws/data_source_aws_lb_target_group_test.go
  aws/data_source_aws_lb_test.go
  aws/resource_aws_alb_target_group_test.go
  aws/resource_aws_lb_listener_certificate_test.go
  aws/resource_aws_lb_listener_rule_test.go
  aws/resource_aws_lb_listener_test.go
  aws/resource_aws_lb_target_group_attachment_test.go
  aws/resource_aws_lb_target_group_test.go
  aws/resource_aws_lb_test.go
Labels: partition/aws-us-gov, service/elbv2, size/L, tests

#18217 tests/backup: Add ErrorCheck
  aws/data_source_aws_backup_plan_test.go
  aws/data_source_aws_backup_selection_test.go
  aws/data_source_aws_backup_vault_test.go
  aws/resource_aws_backup_global_settings_test.go
  aws/resource_aws_backup_plan_test.go
  aws/resource_aws_backup_region_settings_test.go
  aws/resource_aws_backup_selection_test.go
  aws/resource_aws_backup_vault_notifications_test.go
  aws/resource_aws_backup_vault_policy_test.go
  aws/resource_aws_backup_vault_test.go
Labels: partition/aws-us-gov, service/backup, size/S, tests

#18216 tests/pinpoint: Add ErrorCheck
  aws/resource_aws_pinpoint_adm_channel_test.go
  aws/resource_aws_pinpoint_apns_channel_test.go
  aws/resource_aws_pinpoint_apns_sandbox_channel_test.go
  aws/resource_aws_pinpoint_apns_voip_channel_test.go
  aws/resource_aws_pinpoint_apns_voip_sandbox_channel_test.go
  aws/resource_aws_pinpoint_app_test.go
  aws/resource_aws_pinpoint_baidu_channel_test.go
  aws/resource_aws_pinpoint_email_channel_test.go
  aws/resource_aws_pinpoint_event_stream_test.go
  aws/resource_aws_pinpoint_gcm_channel_test.go
  aws/resource_aws_pinpoint_sms_channel_test.go
Labels: partition/aws-us-gov, service/pinpoint, size/XS, tests

#18213 tests/imagebuilder: Add ErrorCheck
  aws/data_source_aws_imagebuilder_component_test.go
  aws/data_source_aws_imagebuilder_distribution_configuration_test.go
  aws/data_source_aws_imagebuilder_image_pipeline_test.go
  aws/data_source_aws_imagebuilder_image_recipe_test.go
  aws/data_source_aws_imagebuilder_image_test.go
  aws/data_source_aws_imagebuilder_infrastructure_configuration_test.go
  aws/resource_aws_imagebuilder_component_test.go
  aws/resource_aws_imagebuilder_distribution_configuration_test.go
  aws/resource_aws_imagebuilder_image_pipeline_test.go
  aws/resource_aws_imagebuilder_image_recipe_test.go
  aws/resource_aws_imagebuilder_image_test.go
  aws/resource_aws_imagebuilder_infrastructure_configuration_test.go
Labels: service/imagebuilder, size/M, tests

#18212 tests/elb: Add ErrorCheck
  aws/data_source_aws_elb_test.go
  aws/resource_aws_app_cookie_stickiness_policy_test.go
  aws/resource_aws_elb_test.go
  aws/resource_aws_lb_cookie_stickiness_policy_test.go
  aws/resource_aws_lb_ssl_negotiation_policy_test.go
  aws/resource_aws_load_balancer_backend_server_policy_test.go
  aws/resource_aws_load_balancer_listener_policy_test.go
  aws/resource_aws_load_balancer_policy_test.go
  aws/resource_aws_proxy_protocol_policy_test.go
Labels: partition/aws-us-gov, service/elb, size/XS, tests

#18218 tests/configservice: Add ErrorCheck
  aws/resource_aws_config_aggregate_authorization_test.go
  aws/resource_aws_config_config_rule_test.go
  aws/resource_aws_config_configuration_aggregator_test.go
  aws/resource_aws_config_configuration_recorder_status_test.go
  aws/resource_aws_config_configuration_recorder_test.go
  aws/resource_aws_config_conformance_pack_test.go
  aws/resource_aws_config_delivery_channel_test.go
  aws/resource_aws_config_organization_custom_rule_test.go
  aws/resource_aws_config_organization_managed_rule_test.go
  aws/resource_aws_config_remediation_configuration_test.go
Labels: partition/aws-us-gov, service/configservice, size/M, tests

#18210 tests/wafregional: Add ErrorCheck
  aws/data_source_aws_wafregional_ipset_test.go
  aws/data_source_aws_wafregional_rate_based_rule_test.go
  aws/data_source_aws_wafregional_rule_test.go
  aws/data_source_aws_wafregional_web_acl_test.go
  aws/resource_aws_wafregional_byte_match_set_test.go
  aws/resource_aws_wafregional_geo_match_set_test.go
  aws/resource_aws_wafregional_ipset_test.go
  aws/resource_aws_wafregional_rate_based_rule_test.go
  aws/resource_aws_wafregional_regex_match_set_test.go
  aws/resource_aws_wafregional_regex_pattern_set_test.go
  aws/resource_aws_wafregional_rule_group_test.go
  aws/resource_aws_wafregional_rule_test.go
  aws/resource_aws_wafregional_size_constraint_set_test.go
  aws/resource_aws_wafregional_sql_injection_match_set_test.go
  aws/resource_aws_wafregional_web_acl_association_test.go
  aws/resource_aws_wafregional_web_acl_test.go
  aws/resource_aws_wafregional_xss_match_set_test.go
Labels: partition/aws-us-gov, service/waf, size/M, tests

#18209 tests/ssm: Add ErrorCheck
  aws/data_source_aws_ssm_document_test.go
  aws/data_source_aws_ssm_parameter_test.go
  aws/data_source_aws_ssm_patch_baseline_test.go
  aws/resource_aws_ssm_activation_test.go
  aws/resource_aws_ssm_association_test.go
  aws/resource_aws_ssm_document_test.go
  aws/resource_aws_ssm_maintenance_window_target_test.go
  aws/resource_aws_ssm_maintenance_window_task_test.go
  aws/resource_aws_ssm_maintenance_window_test.go
  aws/resource_aws_ssm_parameter_test.go
  aws/resource_aws_ssm_patch_baseline_test.go
  aws/resource_aws_ssm_patch_group_test.go
  aws/resource_aws_ssm_resource_data_sync_test.go
Labels: partition/aws-us-gov, service/ssm, size/M, tests

#18208 tests/lambda: Add ErrorCheck
  aws/data_source_aws_lambda_alias_test.go
  aws/data_source_aws_lambda_code_signing_config_test.go
  aws/data_source_aws_lambda_function_test.go
  aws/data_source_aws_lambda_invocation_test.go
  aws/data_source_aws_lambda_layer_version_test.go
  aws/resource_aws_lambda_alias_test.go
  aws/resource_aws_lambda_code_signing_config_test.go
  aws/resource_aws_lambda_event_source_mapping_test.go
  aws/resource_aws_lambda_function_event_invoke_config_test.go
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_lambda_layer_version_test.go
  aws/resource_aws_lambda_permission_test.go
  aws/resource_aws_lambda_provisioned_concurrency_config_test.go
Labels: partition/aws-us-gov, service/lambda, size/L, tests

#18221 tests/guardduty: Add ErrorCheck
  aws/data_source_aws_guardduty_detector_test.go
  aws/resource_aws_guardduty_detector_test.go
  aws/resource_aws_guardduty_filter_test.go
  aws/resource_aws_guardduty_invite_accepter_test.go
  aws/resource_aws_guardduty_ipset_test.go
  aws/resource_aws_guardduty_member_test.go
  aws/resource_aws_guardduty_organization_admin_account_test.go
  aws/resource_aws_guardduty_organization_configuration_test.go
  aws/resource_aws_guardduty_publishing_destination_test.go
  aws/resource_aws_guardduty_threatintelset_test.go
Labels: partition/aws-us-gov, service/guardduty, size/XS, tests

#18222 tests/kms: Add ErrorCheck
  aws/data_source_aws_kms_alias_test.go
  aws/data_source_aws_kms_ciphertext_test.go
  aws/data_source_aws_kms_key_test.go
  aws/data_source_aws_kms_secrets_test.go
  aws/resource_aws_kms_alias_test.go
  aws/resource_aws_kms_ciphertext_test.go
  aws/resource_aws_kms_external_key_test.go
  aws/resource_aws_kms_grant_test.go
  aws/resource_aws_kms_key_test.go
Labels: partition/aws-us-gov, service/kms, size/M, tests

#18129 Add CodeStar Connection data source
  aws/data_source_aws_codestarconnections_connection.go
  aws/data_source_aws_codestarconnections_connection_test.go
  aws/internal/service/codestarconnections/finder/finder.go
  aws/provider.go
  aws/resource_aws_codestarconnections_connection.go
  website/docs/d/codestarconnections_connection.html.markdown
Labels: documentation, new-data-source, provider, service/codestarconnections, size/L, tests

#18281 r/pinpoint_sms_channel - fix no setting params on update
  .changelog/18281.txt
  aws/resource_aws_pinpoint_sms_channel.go
  aws/resource_aws_pinpoint_sms_channel_test.go
Labels: bug, service/pinpoint, size/M, tests

#18223 tests/redshift:Add ErrorCheck
  aws/data_source_aws_redshift_cluster_test.go
  aws/data_source_aws_redshift_orderable_cluster_test.go
  aws/resource_aws_redshift_cluster_test.go
  aws/resource_aws_redshift_event_subscription_test.go
  aws/resource_aws_redshift_parameter_group_test.go
  aws/resource_aws_redshift_security_group_test.go
  aws/resource_aws_redshift_snapshot_copy_grant_test.go
  aws/resource_aws_redshift_snapshot_schedule_association_test.go
  aws/resource_aws_redshift_snapshot_schedule_test.go
  aws/resource_aws_redshift_subnet_group_test.go
Labels: partition/aws-us-gov, service/redshift, size/M, tests

#18224 tests:storagegateway: Add ErrorCheck
  aws/data_source_aws_storagegateway_local_disk_test.go
  aws/resource_aws_storagegateway_cache_test.go
  aws/resource_aws_storagegateway_cached_iscsi_volume_test.go
  aws/resource_aws_storagegateway_gateway_test.go
  aws/resource_aws_storagegateway_nfs_file_share_test.go
  aws/resource_aws_storagegateway_smb_file_share_test.go
  aws/resource_aws_storagegateway_stored_iscsi_volume_test.go
  aws/resource_aws_storagegateway_tape_pool_test.go
  aws/resource_aws_storagegateway_upload_buffer_test.go
  aws/resource_aws_storagegateway_working_storage_test.go
Labels: partition/aws-us-gov, service/storagegateway, size/M, tests

#18225 tests/wafv2: Add ErrorCheck
  aws/data_source_aws_wafv2_ip_set_test.go
  aws/data_source_aws_wafv2_regex_pattern_set_test.go
  aws/data_source_aws_wafv2_rule_group_test.go
  aws/data_source_aws_wafv2_web_acl_test.go
  aws/resource_aws_wafv2_ip_set_test.go
  aws/resource_aws_wafv2_regex_pattern_set_test.go
  aws/resource_aws_wafv2_rule_group_test.go
  aws/resource_aws_wafv2_web_acl_association_test.go
  aws/resource_aws_wafv2_web_acl_logging_configuration_test.go
  aws/resource_aws_wafv2_web_acl_test.go
Labels: partition/aws-us-gov, service/wafv2, size/M, tests

#18226 tests/ecs: Add ErrorCheck
  aws/data_source_aws_ecs_cluster_test.go
  aws/data_source_aws_ecs_container_definition_test.go
  aws/data_source_aws_ecs_service_test.go
  aws/data_source_aws_ecs_task_definition_test.go
  aws/resource_aws_ecs_capacity_provider_test.go
  aws/resource_aws_ecs_cluster_test.go
  aws/resource_aws_ecs_service_test.go
  aws/resource_aws_ecs_task_definition_test.go
Labels: partition/aws-us-gov, size/M

#18227 tests/neptune: Add ErrorCheck
  aws/data_source_aws_neptune_engine_version_test.go
  aws/data_source_aws_neptune_orderable_db_instance_test.go
  aws/resource_aws_neptune_cluster_instance_test.go
  aws/resource_aws_neptune_cluster_parameter_group_test.go
  aws/resource_aws_neptune_cluster_snapshot_test.go
  aws/resource_aws_neptune_cluster_test.go
  aws/resource_aws_neptune_event_subscription_test.go
  aws/resource_aws_neptune_parameter_group_test.go
  aws/resource_aws_neptune_subnet_group_test.go
Labels: partition/aws-us-gov, service/neptune, size/S, tests

#18229 tests/efs: Add ErrorCheck
  aws/data_source_aws_efs_access_point_test.go
  aws/data_source_aws_efs_access_points_test.go
  aws/data_source_aws_efs_file_system_test.go
  aws/data_source_aws_efs_mount_target_test.go
  aws/resource_aws_efs_access_point_test.go
  aws/resource_aws_efs_file_system_policy_test.go
  aws/resource_aws_efs_file_system_test.go
Labels: partition/aws-us-gov, service/efs, size/S, tests

#18233 tests/elasticache: Add ErrorCheck
  aws/data_source_aws_elasticache_replication_group_test.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticache_global_replication_group_test.go
  aws/resource_aws_elasticache_parameter_group_test.go
  aws/resource_aws_elasticache_replication_group_test.go
  aws/resource_aws_elasticache_security_group_test.go
  aws/resource_aws_elasticache_subnet_group_test.go
Labels: partition/aws-us-gov, service/elasticache, size/M, tests

#18250 tests/qldb: Add ErrorCheck
  aws/data_source_aws_qldb_ledger_test.go
  aws/resource_aws_qldb_ledger_test.go
Labels: partition/aws-us-gov, service/qldb, size/XS, tests

#18260 tests/athena: Add ErrorCheck
  aws/resource_aws_athena_database_test.go
  aws/resource_aws_athena_named_query_test.go
  aws/resource_aws_athena_workgroup_test.go
Labels: partition/aws-us-gov, service/athena, size/XS, tests

#18270 tests/codebuild: Add ErrorCheck
  aws/resource_aws_codebuild_project_test.go
  aws/resource_aws_codebuild_report_group_test.go
  aws/resource_aws_codebuild_source_credential_test.go
  aws/resource_aws_codebuild_webhook_test.go
Labels: partition/aws-us-gov, service/codebuild, size/M, tests

#18272 tests/r/ecrpublic_repository: Add ErrorCheck
  aws/resource_aws_ecrpublic_repository_test.go
Labels: partition/aws-us-gov, service/ecrpublic, size/XS, tests

#18271 tests/r/devicefarm_project: Add ErrorCheck
  aws/resource_aws_devicefarm_project_test.go
Labels: partition/aws-us-gov, service/devicefarm, size/XS, tests
