Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-10, with the labels that each got.

#21123 fix: update max number of memcache nodes
  website/docs/r/elasticache_cluster.html.markdown
Labels: documentation, size/XS, service/elasticache

#21057 handle missing column
  aws/resource_aws_lakeformation_permissions.go
Labels: enhancement, size/XS, service/lakeformation

#21128 Retroactive update of v3.61.0 CHANGELOG
  CHANGELOG.md
Labels: documentation, size/XS, provider

#21127 Fix a broken link in contribution-checklists.md
  docs/contributing/contribution-checklists.md
Labels: documentation, size/XS, provider

#21120 Docs/add note for ssm association to target all instances
  website/docs/r/ssm_association.html.markdown
Labels: documentation, waiting-response, size/S, service/ssm

#21144 Add option to stop an instance before trying to remove an attached volume
  .changelog/21144.txt
  aws/internal/service/ec2/waiter/waiter.go
  aws/resource_aws_volume_attachment.go
  aws/resource_aws_volume_attachment_test.go
  website/docs/r/volume_attachment.html.markdown
Labels: documentation, size/L, tests, service/ec2

#21122 Added proper status and waiter to Lex Bot. Fixed issues with import tests.
  .changelog/20383.txt
  .changelog/21122.txt
  aws/data_source_aws_lex_bot.go
  aws/data_source_aws_lex_bot_test.go
  aws/data_source_aws_lex_intent.go
  aws/internal/service/lex/enum.go
  aws/internal/service/lex/finder/finder.go
  aws/internal/service/lex/waiter/status.go
  aws/internal/service/lex/waiter/waiter.go
  aws/resource_aws_lex_bot.go
  aws/resource_aws_lex_bot_alias_test.go
  aws/resource_aws_lex_bot_test.go
  aws/resource_aws_lex_intent.go
  aws/resource_aws_lex_intent_test.go
  website/docs/r/lex_bot.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/lexmodelbuildingservice

#21125 Fixes a bug and added test sweeper for Appstream Fleets and Stacks
  .changelog/21125.txt
  aws/internal/service/appstream/lister/list.go
  aws/internal/service/appstream/lister/list_pages_gen.go
  aws/internal/service/appstream/waiter/waiter.go
  aws/resource_aws_appstream_fleet_test.go
  aws/resource_aws_appstream_stack_test.go
Labels: size/L, tests, service/appstream

#21146 Add exclusions list to issue-comment-created
  .github/workflows/issue-comment-created.yml
Labels: size/XS

#21145 Update workflow name
  .github/workflows/autoremove_labels.yml
Labels: size/XS

#17706 F/aws emr cluster
  .changelog/17706.txt
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_emr_cluster_test.go
  website/docs/r/emr_cluster.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/emr

#16489 feat: add aws_dx_hosted_connection and aws_dx_connection_confirmation resource
  .changelog/16489.txt
  aws/internal/service/directconnect/finder/finder.go
  aws/internal/service/directconnect/waiter/status.go
  aws/internal/service/directconnect/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_dx_connection.go
  aws/resource_aws_dx_connection_association.go
  aws/resource_aws_dx_connection_association_test.go
  aws/resource_aws_dx_connection_confirmation.go
  aws/resource_aws_dx_connection_confirmation_test.go
  aws/resource_aws_dx_connection_test.go
  aws/resource_aws_dx_hosted_connection.go
  aws/resource_aws_dx_hosted_connection_test.go
  aws/resource_aws_dx_lag.go
  aws/resource_aws_dx_lag_test.go
  website/docs/r/dx_connection_confirmation.html.markdown
  website/docs/r/dx_hosted_connection.html.markdown
  website/docs/r/dx_lag.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/directconnect, provider

#17993 r/aws_db_instance: Add `replica_mode` attribute
  .changelog/17991.txt
  aws/internal/service/rds/enum.go
  aws/internal/service/rds/finder/finder.go
  aws/internal/service/rds/waiter/status.go
  aws/internal/service/rds/waiter/waiter.go
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_rds_cluster_instance.go
  aws/resource_aws_rds_cluster_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/rds
