Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-08, with the labels that each got.

#17046 PoolArn attribute support in Data Source: aws_ec2_coip_pool
  .changelog/17046.txt
  aws/data_source_aws_ec2_coip_pool.go
  aws/data_source_aws_ec2_coip_pool_test.go
  website/docs/d/ec2_coip_pool.html.markdown
Labels: documentation, service/ec2, size/XS, tests

#18117 r/aws_kms_key: Support policy lockout check bypass
  .changelog/18117.txt
  aws/data_source_aws_kms_alias.go
  aws/data_source_aws_kms_alias_test.go
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
  aws/internal/naming/naming_test.go
  aws/internal/service/kms/arn.go
  aws/internal/service/kms/arn_test.go
  aws/internal/service/kms/enum.go
  aws/internal/service/kms/finder/finder.go
  aws/internal/service/kms/waiter/status.go
  aws/internal/service/kms/waiter/waiter.go
  aws/internal/tfresource/errors.go
  aws/internal/tfresource/retry.go
  aws/internal/tfresource/retry_test.go
  aws/internal/tfresource/wait.go
  aws/internal/tfresource/wait_test.go
  aws/resource_aws_ebs_default_kms_key_test.go
  aws/resource_aws_kms_alias.go
  aws/resource_aws_kms_alias_test.go
  aws/resource_aws_kms_external_key.go
  aws/resource_aws_kms_external_key_test.go
  aws/resource_aws_kms_key.go
  aws/resource_aws_kms_key_test.go
  website/docs/r/kms_external_key.html.markdown
  website/docs/r/kms_key.html.markdown
Labels: documentation, provider, service/ec2, service/kms, size/XL, tests

#20427 Add missing CHANGELOG entries
  .changelog/19829.txt
  CHANGELOG.md
Labels: documentation, provider, size/XS

#20348 Add AWS Go SDK service client for Route53 Recovery Control Config
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  aws/config.go
  aws/provider.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, size/XS

#20367 add new service, aws route53 recovery readiness
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  aws/config.go
  aws/provider.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, size/XS

#20428 docs: align docs for fields with SchemaConfigModeAttr
  website/docs/r/default_route_table.html.markdown
  website/docs/r/default_security_group.html.markdown
  website/docs/r/emr_cluster.html.markdown
  website/docs/r/network_acl.html.markdown
  website/docs/r/route_table.html.markdown
  website/docs/r/security_group.html.markdown
Labels: documentation, service/ec2, service/emr, size/L

#20420 r/appconfig_deployment: add to `deployment_strategy_id` validation
  .changelog/20420.txt
  aws/resource_aws_appconfig_deployment.go
  aws/resource_aws_appconfig_deployment_test.go
  website/docs/r/appconfig_deployment.html.markdown
Labels: documentation, service/appconfig, size/S, tests

#20419 sweeper/appconfig_*: add sweepers
  aws/resource_aws_appconfig_application_test.go
  aws/resource_aws_appconfig_configuration_profile_test.go
  aws/resource_aws_appconfig_deployment_strategy_test.go
  aws/resource_aws_appconfig_environment_test.go
  aws/resource_aws_appconfig_hosted_configuration_version_test.go
Labels: service/appconfig, size/XL, sweeper, tests

#20417 tests/resource_aws_ecrpublic_repository: check for region in ecrpublic-specific PreCheck
  aws/resource_aws_ecrpublic_repository_test.go
Labels: size/XS, tests

#20436 ASG - correct min value on max_instance_lifetime in the docs
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling

#20426 Fix branch name symmetry issue for Amplify
  .changelog/20426.txt
  aws/internal/service/amplify/id.go
  aws/internal/service/amplify/id_test.go
Labels: service/amplify, size/M

#20437 Oracle only national character set
  .changelog/20437.txt
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/M, tests

#20409 r/aws_launch_tamplate: Allow more resource values for tag specification
  .changelog/20409.txt
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  website/docs/r/launch_template.html.markdown
Labels: documentation, service/ec2, size/XS, tests

#20357 r/aws_instance: launch_template Remove unnecessary api calls
  .changelog/20357.txt
  aws/resource_aws_instance.go
Labels: service/ec2, size/S

#12808 Fix for Resource Access Management edge case involving VPC Classic Link
  aws/resource_aws_vpc.go
Labels: service/ec2, size/XS

#17864 resource/aws_db_instance: add support for CoIP enabled argument
  .changelog/17864.txt
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XL, tests

#20441 r/apigateway_vpc_link: move stateConf to internal/service/apigateway and update delete target status
  .changelog/20441.txt
  aws/internal/service/apigateway/waiter/waiter.go
  aws/resource_aws_api_gateway_vpc_link.go
Labels: bug, service/apigateway, size/M

#20453 Typo Fix ROADMAP.md
  ROADMAP.md
Labels: documentation, size/XS, provider, needs-triage

#20449 Link AssumeRole Learn tutorial from docs, fix typo
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider, needs-triage

#20463 r/aws_synthetics_canary: Correctly report creation errors
  .changelog/20463.txt
  aws/internal/service/synthetics/finder/finder.go
  aws/internal/service/synthetics/waiter/status.go
  aws/internal/service/synthetics/waiter/waiter.go
  aws/resource_aws_synthetics_canary.go
  aws/resource_aws_synthetics_canary_test.go
Labels: bug, size/XL, tests, service/synthetics

#20317 Remove hardcoded domain names from data source acceptance tests
  .semgrep.yml
  aws/data_source_aws_acmpca_certificate_test.go
  aws/data_source_aws_directory_service_directory_test.go
  aws/data_source_aws_workspaces_directory_test.go
  aws/data_source_aws_workspaces_workspace_test.go
  aws/resource_aws_spot_instance_request_test.go
  aws/resource_aws_workspaces_directory_test.go
  aws/resource_aws_workspaces_ip_group_test.go
  aws/resource_aws_workspaces_workspace_test.go
Labels: size/L, tests, service/ec2, service/workspaces, service/directoryservice, service/acmpca

#19236 Adds check to ensure `isResourceTimeoutError()` check returns value if the `resource.Retry()` does
  .semgrep.yml
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_cloudwatch_event_rule.go
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_option_group.go
  aws/resource_aws_ecs_service.go
  aws/resource_aws_eip.go
  aws/resource_aws_elb.go
  aws/resource_aws_glue_trigger.go
  aws/resource_aws_iam_instance_profile.go
  aws/resource_aws_lex_bot.go
  aws/resource_aws_lex_bot_alias.go
  aws/resource_aws_lex_intent.go
  aws/resource_aws_lex_slot_type.go
  aws/resource_aws_macie2_account.go
  aws/resource_aws_networkfirewall_firewall_policy.go
  aws/resource_aws_networkfirewall_rule_group.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_analytics_configuration.go
  aws/resource_aws_secretsmanager_secret.go
  aws/resource_aws_secretsmanager_secret_policy.go
  aws/resource_aws_secretsmanager_secret_rotation.go
  aws/resource_aws_signer_signing_profile_permission.go
  aws/resource_aws_vpc_dhcp_options.go
  aws/resource_aws_waf_rule.go
  aws/resource_aws_wafv2_ip_set.go
  aws/resource_aws_wafv2_rule_group.go
  aws/resource_aws_wafv2_web_acl.go
  aws/resource_aws_wafv2_web_acl_association.go
Labels: size/L, service/iam, service/ec2, service/s3, service/ecs, service/cognito, service/cloudwatchevents, service/rds, service/codebuild, service/elb, service/autoscaling, service/waf, service/glue, service/lexmodelbuildingservice, service/secretsmanager, service/eventbridge, service/wafv2, service/macie2, linter, service/networkfirewall, service/signer

#20464 r/imagebuilder_image_configuration: set `terminate_instance_on_failure` directly in API requests
  .changelog/20464.txt
  aws/resource_aws_imagebuilder_infrastructure_configuration.go
Labels: bug, size/XS, service/imagebuilder

#16471 Detect error_action in IoT rule
  .changelog/16471.txt
  aws/resource_aws_iot_topic_rule.go
  aws/resource_aws_iot_topic_rule_test.go
Labels: bug, size/S, tests, service/iot

#20467 r/iot_topic_rule: add iamwaiter propagation timeout during creation
  .changelog/20467.txt
  aws/resource_aws_iot_topic_rule.go
  aws/resource_aws_iot_topic_rule_test.go
Labels: size/L, tests, service/iot

#20469 tests/data_aws_ec2_instance_type: update expected ebsInfo.nvmeSupport value for m5.large instance type
  aws/data_source_aws_ec2_instance_type_test.go
Labels: size/XS, tests, service/ec2

#20471 tests/data.aws_neptune_engine_version: update version number to non-deprecated version
  aws/data_source_aws_neptune_engine_version_test.go
Labels: size/XS, tests, service/neptune

#20466 Updates `tflint` tool to v0.30.0
  tools/go.mod
  tools/go.sum
Labels: size/XL, provider

#20457 f athena request pays enabled
  .changelog/20457.txt
  aws/resource_aws_athena_workgroup.go
  aws/resource_aws_athena_workgroup_test.go
  website/docs/r/athena_workgroup.html.markdown
Labels: documentation, size/M, tests, service/athena

#20462 Add device_type_linux to workspace_access_properties
  .changelog/20462.txt
  aws/data_source_aws_workspaces_bundle_test.go
  aws/data_source_aws_workspaces_directory.go
  aws/data_source_aws_workspaces_directory_test.go
  aws/data_source_aws_workspaces_image_test.go
  aws/data_source_aws_workspaces_test.go
  aws/data_source_aws_workspaces_workspace_test.go
  aws/internal/service/workspaces/finder/finder.go
  aws/internal/service/workspaces/lister/list.go
  aws/internal/service/workspaces/lister/list_pages_gen.go
  aws/internal/service/workspaces/waiter/status.go
  aws/internal/service/workspaces/waiter/waiter.go
  aws/internal/tfresource/retry.go
  aws/provider_test.go
  aws/resource_aws_synthetics_canary.go
  aws/resource_aws_workspaces_directory.go
  aws/resource_aws_workspaces_directory_test.go
  aws/resource_aws_workspaces_ip_group_test.go
  aws/resource_aws_workspaces_test.go
  aws/resource_aws_workspaces_workspace_test.go
  website/docs/d/workspaces_directory.html.markdown
  website/docs/r/workspaces_directory.html.markdown
Labels: documentation, size/XL, tests, service/workspaces, service/synthetics

#20472 Serialize SageMaker acceptance tests: r/aws_sagemaker_workforce
  aws/internal/service/sagemaker/finder/finder.go
  aws/internal/service/sagemaker/waiter/status.go
  aws/internal/service/sagemaker/waiter/waiter.go
  aws/resource_aws_sagemaker_domain_test.go
  aws/resource_aws_sagemaker_feature_group.go
  aws/resource_aws_sagemaker_feature_group_test.go
  aws/resource_aws_sagemaker_test.go
  aws/resource_aws_sagemaker_user_profile_test.go
  aws/resource_aws_sagemaker_workforce_test.go
Labels: size/L, tests, service/sagemaker

#20478 TestAccAWSSESIdentityPolicy_Identity_Email: create email with random test domain
  aws/resource_aws_ses_identity_policy_test.go
Labels: size/XS, tests, service/ses

#20477 tests/db_instance_role_association: use db instance data source in place of deprecated engine
  aws/resource_aws_db_instance_role_association_test.go
Labels: size/XS, tests, service/rds

#20496 Adds zhelding as maintainer to actions and documentation
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/issues.yml
  .github/workflows/project.yml
  .github/workflows/pull_requests.yml
  docs/FAQ.md
Labels: documentation, size/XS, tests, provider

#20510 r/iam_user_login_profile: Fix wrong import
  aws/resource_aws_iam_user_login_profile.go
Labels: size/XS, service/iam

#20487 r/aws_lambda_event_source_mapping: Ignore change to `last_modified` in acceptance test import steps
  aws/resource_aws_lambda_event_source_mapping_test.go
Labels: size/M, tests, service/lambda

#20486 r/aws_redshift_cluster: Fix "InvalidVPCNetworkStateFault: The requested AZ us-west-2a is not a valid AZ." errors in acceptance tests.
  aws/resource_aws_redshift_cluster_test.go
Labels: size/M, tests, service/redshift

#19973 tests/apprunner_custom_domain_association: use ENV var for domain and use a valid ECR public image to ensure service creation succeeds
  aws/resource_aws_apprunner_custom_domain_association_test.go
  docs/MAINTAINING.md
Labels: size/XS, tests, service/apprunner

#20480 Add parameter build_type to codebuild_webhook
  .changelog/20480.txt
  aws/resource_aws_codebuild_webhook.go
  aws/resource_aws_codebuild_webhook_test.go
  website/docs/r/codebuild_webhook.html.markdown
Labels: documentation, size/M, tests, service/codebuild

#20491 r/aws_shield_protection_group: New resource
  .changelog/20491.txt
  aws/provider.go
  aws/resource_aws_shield_protection_group.go
  aws/resource_aws_shield_protection_group_test.go
  website/docs/r/shield_protection_group.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/shield, provider

#20521 Documentation fix for data.aws_default_tags
  website/docs/d/default_tags.markdown
Labels: documentation, size/XS, needs-triage

#20451 Corrections to include/exclude documentation
  website/docs/r/fms_policy.html.markdown
Labels: documentation, size/XS, service/fms

#19504 Add new aws_chime_voice_connector resource
  .changelog/19504.txt
  aws/provider.go
  aws/resource_aws_chime_voice_connector.go
  aws/resource_aws_chime_voice_connector_test.go
  website/docs/r/chime_voice_connector.html.markdown
Labels: documentation, size/XL, tests, provider, service/chime, needs-triage

#20531 r/cloudwatch_log_stream: catch not found errors in CheckDestroy test method and do the same in resource
  aws/resource_aws_cloudwatch_log_stream.go
  aws/resource_aws_cloudwatch_log_stream_test.go
Labels: size/XS, tests, service/cloudwatchlogs

#20528 D add rabbitmq lambda event source doc
  aws/resource_aws_lambda_event_source_mapping_test.go
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, size/L, tests, service/lambda

#20465 Serialize Cloud HSM v2 acceptance tests
  aws/data_source_aws_cloudhsm_v2_cluster_test.go
  aws/data_source_aws_cloudhsm_v2_test.go
  aws/resource_aws_cloudhsm_v2_cluster_test.go
  aws/resource_aws_cloudhsm_v2_hsm_test.go
  aws/resource_aws_cloudhsm_v2_test.go
Labels: size/L, tests, service/cloudhsmv2, sweeper

#20524 FAQ: Add section on mergability.
  docs/FAQ.md
Labels: documentation, size/XS, provider

#20532 r/eks_node_group: change `instance_types` back to a TypeSet since it supports multiple values
  aws/resource_aws_eks_node_group.go
  website/docs/r/eks_node_group.html.markdown
Labels: enhancement, size/XS

#20219 Leave parameters in existing case
  aws/structure.go
  aws/structure_test.go
Labels: size/XS, tests

#20207 Use engine_version and engine_version_actual for aws_db_instance
  .changelog/20207.txt
  aws/diff_suppress_funcs.go
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/M, tests, service/rds

#20551 fix format of example
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/XS, service/cloudfront

#20570 r/sagemaker_human_task_ui - new resource
  .changelog/20570.txt
  aws/internal/service/sagemaker/finder/finder.go
  aws/provider.go
  aws/resource_aws_sagemaker_human_task_ui.go
  aws/resource_aws_sagemaker_human_task_ui_test.go
  aws/test-fixtures/sagemaker-human-task-ui-tmpl.html
  website/docs/r/sagemaker_human_task_ui.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/sagemaker, provider

#20058 r/sagemaker_device_fleet - new resource
  .changelog/20058.txt
  aws/internal/service/sagemaker/finder/finder.go
  aws/provider.go
  aws/resource_aws_sagemaker_device_fleet.go
  aws/resource_aws_sagemaker_device_fleet_test.go
  website/docs/r/sagemaker_device_fleet.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/sagemaker, provider

#20530 Fixing typo for passwords field in elasticache user and extending timeouts
  .changelog/20530.txt
  aws/resource_aws_elasticache_user.go
  aws/resource_aws_elasticache_user_test.go
Labels: size/XS, tests, service/elasticache

#20555 bugfix for lambda in ap-northeast-3
  .changelog/20555.txt
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
Labels: size/XS, tests, service/lambda

#20579 r/aws_storagegateway_smb_file_share: Only set `OplocksEnabled` in the API if a value is specified in configuration
  .changelog/20579.txt
  aws/resource_aws_storagegateway_smb_file_share.go
  aws/resource_aws_storagegateway_smb_file_share_test.go
Labels: bug, size/S, tests, service/storagegateway

#20593 Add support for AWS Lambda Python 3.9 runtime
  .changelog/20593.txt
Labels: enhancement, size/XS

#20288 r/appconfig_deployment: remove waiter since deployment time is configurable
  .changelog/20288.txt
  aws/internal/service/appconfig/waiter/status.go
  aws/internal/service/appconfig/waiter/waiter.go
  aws/resource_aws_appconfig_deployment.go
  aws/resource_aws_appconfig_deployment_test.go
  website/docs/r/appconfig_deployment.html.markdown
Labels: documentation, size/M, tests, service/appconfig

#20575 Fix lambda function Zip type attribute checks
  .changelog/20575.txt
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
Labels: size/M, tests, service/lambda

#20578 r/aws_glue_dev_endpoint: Correctly report failure reason
  aws/internal/service/glue/enum.go
  aws/internal/service/glue/finder/finder.go
  aws/internal/service/glue/waiter/status.go
  aws/internal/service/glue/waiter/waiter.go
  aws/resource_aws_glue_dev_endpoint.go
  aws/resource_aws_glue_dev_endpoint_test.go
Labels: size/L, tests, service/glue

#17591 Add S3 Connection Attributes to DMS Endpoint
  .changelog/17591.txt
  aws/resource_aws_dms_endpoint.go
  aws/resource_aws_dms_endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: enhancement, documentation, size/M, tests, service/databasemigrationservice

#20337 Remove hardcoded domain names from acceptance tests for resources A-B
  .semgrep.yml
  aws/resource_aws_acm_certificate_test.go
  aws/resource_aws_acmpca_certificate_authority_certificate_test.go
  aws/resource_aws_acmpca_certificate_authority_test.go
  aws/resource_aws_acmpca_certificate_test.go
  aws/resource_aws_appmesh_virtual_gateway_test.go
  aws/resource_aws_appmesh_virtual_node_test.go
  aws/resource_aws_apprunner_custom_domain_association_test.go
  aws/resource_aws_athena_database.go
  aws/resource_aws_athena_database_test.go
Labels: size/L, tests, service/acm, service/athena, service/acmpca, service/appmesh, service/apprunner

#18818 r/db_parameter_group: Allow mixed case parameter values
  .changelog/18818.txt
  aws/resource_aws_db_parameter_group.go
  aws/resource_aws_db_parameter_group_test.go
  aws/resource_aws_rds_cluster_parameter_group_test.go
  aws/structure.go
  aws/structure_test.go
Labels: size/XL, tests, service/rds

#20608 Handle paginated response when fetch parameters from rds cluster parameter group
  .changelog/16010.txt
  aws/resource_aws_rds_cluster_parameter_group.go
Labels: bug, size/XS, service/rds

#18585 Create data source for aws iam roles
  .changelog/18585.txt
  aws/data_source_aws_iam_roles.go
  aws/data_source_aws_iam_roles_test.go
  aws/provider.go
  website/docs/d/iam_roles.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/iam, provider

#17613 Proposal: Add more fine-grained errors for finder functions
  aws/data_source_aws_security_group.go
  aws/internal/service/ec2/finder/finder.go
  aws/internal/tfresource/not_found_error.go
  aws/internal/tfresource/not_found_error_test.go
Labels: proposal, size/L, tests, service/ec2

#20613 EventBridge Rule and Target: Allow `event_bridge_name` to be an ARN
  .changelog/20312.txt
  aws/internal/service/cloudwatchevents/enum.go
  aws/internal/service/cloudwatchevents/finder/finder.go
  aws/internal/service/cloudwatchevents/id.go
  aws/internal/service/cloudwatchevents/id_test.go
  aws/internal/service/cloudwatchevents/state.go
  aws/internal/service/cloudwatchevents/state_test.go
  aws/resource_aws_cloudwatch_event_archive_test.go
  aws/resource_aws_cloudwatch_event_permission.go
  aws/resource_aws_cloudwatch_event_permission_test.go
  aws/resource_aws_cloudwatch_event_rule.go
  aws/resource_aws_cloudwatch_event_rule_test.go
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_test.go
Labels: size/XL, tests, service/cloudwatchevents, service/eventbridge

#20562 r/aws_eks_addon: Update addon versions for `TestAccAWSEksAddon_AddonVersion`
  .changelog/20562.txt
  aws/internal/service/eks/waiter/waiter.go
  aws/resource_aws_eks_addon_test.go
Labels: size/XS, tests, service/eks

#20561 r/aws_eks_identity_provider_config: Use `CreateWithoutTimeout`et al.
  .changelog/20561.txt
  aws/resource_aws_eks_identity_provider_config.go
  website/docs/r/eks_identity_provider_config.html.markdown
Labels: enhancement, documentation, size/XS, service/eks

#20565 Add new aws_chime_voice_connector_group resource
  .changelog/20565.txt
  aws/provider.go
  aws/resource_aws_chime_voice_connector_group.go
  aws/resource_aws_chime_voice_connector_group_test.go
  website/docs/r/chime_voice_connector_group.html.markdown
Labels: documentation, size/XL, tests, provider, service/chime, needs-triage

#20564 r/aws_wafv2: Add missing values to `text_transformation` argument
  .changelog/20564.txt
  aws/wafv2_helper.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XS, service/wafv2

#20627 Update AWS ElasticSearch module examples
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, size/XS, service/elasticsearch, needs-triage

#20629 Flag `aws_elasticache_user` Passwords as Sensitive
  .changelog/20629.txt
  aws/data_source_aws_elasticache_user.go
  aws/resource_aws_elasticache_user.go
  website/docs/r/elasticache_user.html.markdown
Labels: documentation, size/XS, service/elasticache

#20614 r/fsx_lustre_file_system - add support for creating filesystem from backup
  .changelog/20614.txt
  aws/resource_aws_fsx_lustre_file_system.go
  aws/resource_aws_fsx_lustre_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
Labels: enhancement, documentation, size/M, tests, service/fsx

#20637 Infrastructure for MemoryDB service
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  aws/config.go
  aws/provider.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XS, provider

#13783 provider: Introduce tag resource generator, new aws_dynamodb_tag and aws_ecs_tag resources
  .changelog/13783.txt
  .semgrep.yml
  GNUmakefile
  aws/internal/keyvaluetags/create_tags_gen.go
  aws/internal/keyvaluetags/generators/createtags/main.go
  aws/internal/keyvaluetags/generators/gettag/main.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/get_tag_gen.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/namevaluesfilters/README.md
  aws/internal/namevaluesfilters/ec2_filters.go
  aws/internal/namevaluesfilters/ec2_filters_test.go
  aws/internal/namevaluesfilters/generators/servicefilters/README.md
  aws/internal/namevaluesfilters/generators/servicefilters/main.go
  aws/internal/namevaluesfilters/name_values_filters.go
  aws/internal/namevaluesfilters/name_values_filters_test.go
  aws/internal/namevaluesfilters/service_filters_gen.go
  aws/internal/namevaluesfilters/service_generation_customizations.go
  aws/internal/tagresource/README.md
  aws/internal/tagresource/generator/main.go
  aws/internal/tagresource/service_generation_customizations.go
  aws/internal/tagresource/tag_resources.go
  aws/internal/tagresource/tag_resources_test.go
  aws/provider.go
  aws/resource_aws_dynamodb_tag_gen.go
  aws/resource_aws_dynamodb_tag_gen_test.go
  aws/resource_aws_dynamodb_tag_test.go
  aws/resource_aws_ec2_tag_gen.go
  aws/resource_aws_ec2_tag_gen_test.go
  aws/resource_aws_ec2_tag_test.go
  aws/resource_aws_ecs_tag_gen.go
  aws/resource_aws_ecs_tag_gen_test.go
  aws/resource_aws_ecs_tag_test.go
  aws/tag_resources.go
  docs/contributing/contribution-checklists.md
  website/docs/r/dynamodb_tag.html.markdown
  website/docs/r/ecs_tag.html.markdown
Labels: documentation, new-resource, size/XL, size/XXL, tests, service/ec2, service/ecs, service/dynamodb, provider

#20642 Add pagination to aws_route53_resolver_rule data source
  .changelog/20642.txt
  aws/data_source_aws_route53_resolver_rule.go
Labels: size/XS, service/route53resolver

#20643 r/fsx_windows_fs - create from backup + move fsx common functions to internal package
  .changelog/20643.txt
  aws/fsx.go
  aws/internal/service/fsx/finder/finder.go
  aws/internal/service/fsx/waiter/status.go
  aws/internal/service/fsx/waiter/waiter.go
  aws/resource_aws_fsx_backup.go
  aws/resource_aws_fsx_lustre_file_system.go
  aws/resource_aws_fsx_lustre_file_system_test.go
  aws/resource_aws_fsx_windows_file_system.go
  aws/resource_aws_fsx_windows_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/fsx

#20652 rd/route53_zone - add `arn` attribute
  .changelog/20652.txt
  aws/data_source_aws_route53_zone.go
  aws/data_source_aws_route53_zone_test.go
  aws/resource_aws_route53_zone.go
  aws/resource_aws_route53_zone_test.go
  website/docs/d/route53_zone.html.markdown
  website/docs/r/route53_zone.html.markdown
Labels: enhancement, documentation, size/S, tests, service/route53

#20526 aws route53recoveryreadiness add new resources
  .changelog/20526.txt
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/provider.go
  aws/resource_aws_route53recoveryreadiness_cell.go
  aws/resource_aws_route53recoveryreadiness_cell_test.go
  aws/resource_aws_route53recoveryreadiness_readiness_check.go
  aws/resource_aws_route53recoveryreadiness_readiness_check_test.go
  aws/resource_aws_route53recoveryreadiness_recovery_group.go
  aws/resource_aws_route53recoveryreadiness_recovery_group_test.go
  aws/resource_aws_route53recoveryreadiness_resource_set.go
  aws/resource_aws_route53recoveryreadiness_resource_set_test.go
  website/docs/r/route53recoveryreadiness_cell.html.markdown
  website/docs/r/route53recoveryreadiness_readiness_check.html.markdown
  website/docs/r/route53recoveryreadiness_recovery_group.html.markdown
  website/docs/r/route53recoveryreadiness_resource_set.html.markdown
Labels: documentation, size/XL, tests, provider, service/route53recoveryreadiness

#20653 r/route53_health_check - add `arn` attribute + validations
  .changelog/20653.txt
  aws/resource_aws_route53_health_check.go
  aws/resource_aws_route53_health_check_test.go
  website/docs/r/route53_health_check.html.markdown
Labels: enhancement, documentation, size/M, tests, service/route53

#20568 Add recovery control config resources
  .changelog/20568.txt
  aws/internal/service/route53recoverycontrolconfig/waiter/status.go
  aws/internal/service/route53recoverycontrolconfig/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_route53recoverycontrolconfig_cluster.go
  aws/resource_aws_route53recoverycontrolconfig_cluster_test.go
  aws/resource_aws_route53recoverycontrolconfig_control_panel.go
  aws/resource_aws_route53recoverycontrolconfig_control_panel_test.go
  aws/resource_aws_route53recoverycontrolconfig_routing_control.go
  aws/resource_aws_route53recoverycontrolconfig_routing_control_test.go
  aws/resource_aws_route53recoverycontrolconfig_safety_rule.go
  aws/resource_aws_route53recoverycontrolconfig_safety_rule_test.go
  aws/resource_aws_route53recoverycontrolconfig_test.go
  website/docs/r/route53recoverycontrolconfig_cluster.html.markdown
  website/docs/r/route53recoverycontrolconfig_control_panel.html.markdown
  website/docs/r/route53recoverycontrolconfig_routing_control.html.markdown
  website/docs/r/route53recoverycontrolconfig_safety_rule.html.markdown
Labels: documentation, size/XL, tests, provider, service/route53recoverycontrolconfig

#20664 rd/route53_delegation_set - add `arn` attribute + remove resource from state when doesn't exist
  .changelog/20664.txt
  aws/data_source_aws_route53_delegation_set.go
  aws/data_source_aws_route53_delegation_set_test.go
  aws/resource_aws_route53_delegation_set.go
  aws/resource_aws_route53_delegation_set_test.go
  website/docs/d/route53_delegation_set.html.markdown
  website/docs/r/route53_delegation_set.html.markdown
Labels: enhancement, documentation, size/M, tests, service/route53

#20666 r/route53_query_log - add `arn` attribute + remove resource from state when doesn't exist
  .changelog/20666.txt
  aws/resource_aws_route53_query_log.go
  aws/resource_aws_route53_query_log_test.go
  website/docs/r/route53_query_log.html.markdown
Labels: enhancement, documentation, size/M, tests, service/route53

#20658 Add support for BucketKeyStatus to S3 inventories
  .changelog/20658.txt
  aws/resource_aws_s3_bucket_inventory.go
  website/docs/r/s3_bucket_inventory.html.markdown
Labels: documentation, size/XS, service/s3

#20674 New resource aws_autoscaling_group_tag
  .changelog/20009.txt
  aws/internal/service/autoscaling/enum.go
  aws/provider.go
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_tag.go
  aws/resource_aws_autoscaling_group_tag_test.go
  website/docs/r/autoscaling_group_tag.html.markdown
Labels: documentation, size/XL, tests, service/autoscaling, provider

#20547 New resource for AppStream Stack
  .changelog/20547.txt
  aws/internal/service/appstream/finder/finder.go
  aws/internal/service/appstream/waiter/status.go
  aws/internal/service/appstream/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_appstream_stack.go
  aws/resource_aws_appstream_stack_test.go
  website/allowed-subcategories.txt
  website/docs/r/appstream_stack.html.markdown
Labels: documentation, size/XL, tests, provider, service/appstream

#19944 fix aws_kms_public_key.public_key format - must be base64
  .changelog/19944.txt
  aws/data_source_aws_kms_public_key.go
Labels: bug, documentation, size/XS, service/kms

#20715 Fix misleading aws_s3_bucket_policy docs
  website/docs/r/s3_bucket_policy.html.markdown
Labels: documentation, size/XS, service/s3

#20720 Fix: Add settings field to ecs.DescribeClustersInput
  .changelog/20720.txt
  aws/internal/service/ecs/finder/finder.go
Labels: bug, size/XS, service/ecs

#13009 resource/aws_s3_bucket: Retry on GetBucketTagging 404 Errors
  aws/awserr.go
Labels: bug, size/S, provider

#20691 use configuration_set name instead of arn in aws_pinpoint_email_channel_resource
  .changelog/20691.txt
  aws/resource_aws_pinpoint_email_channel.go
  aws/resource_aws_pinpoint_email_channel_test.go
Labels: size/XS, tests, service/pinpoint

#20711 feat: add `platform_identifier` to `r/aws_sagemaker_notebook_instance`
  .changelog/20711.txt
  aws/resource_aws_sagemaker_notebook_instance.go
  aws/resource_aws_sagemaker_notebook_instance_test.go
  website/docs/r/sagemaker_notebook_instance.html.markdown
Labels: enhancement, documentation, size/M, tests, service/sagemaker

#19765 Fix athena db reader
  .changelog/19765.txt
  aws/resource_aws_athena_database.go
Labels: enhancement, size/S, service/athena

#20148 fix: Remove sns_platform_application custom diff
  aws/resource_aws_sns_platform_application.go
  aws/resource_aws_sns_platform_application_test.go
Labels: size/S, tests, service/sns

#20560 Adds configurable timeouts for `aws_config_organization_conformance_pack`
  .changelog/20560.txt
  aws/configservice.go
  aws/resource_aws_config_organization_conformance_pack.go
  website/docs/r/config_organization_conformance_pack.html.markdown
Labels: enhancement, documentation, size/S, service/configservice

#10773 Added warning note to codecommit_trigger resource
  website/docs/r/codecommit_trigger.html.markdown
Labels: documentation, size/XS, service/codecommit

#7615 Added use case for availability_zones in autoscaling docs
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#11925 [documentation] more deprecation notices around 's3' ...
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, size/XS, service/firehose

#12647 Add 'Conflict' notice to launch_template.vpc_security_group_ids
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XS, service/ec2, needs-triage

#20741 docs/r/autoscaling_group: remove merge conflicts
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#20731 Add recovery control health check type
  .changelog/20731.txt
  aws/resource_aws_route53_health_check.go
  aws/resource_aws_route53_health_check_test.go
  website/docs/r/route53_health_check.html.markdown
Labels: enhancement, documentation, size/M, tests, service/route53

#12786 [docs] Make note of `file()` support for codebuild buildspecs
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, size/XS, service/codebuild, needs-triage

#13557 Add example for egress rule of any/any to default 0.0.0.0 route
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, size/XS, service/ec2, needs-triage
