Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-01, with the labels that each got.

#16899 Fix links in docs to terraform resource timeouts
  website/docs/r/ami.html.markdown
  website/docs/r/ami_copy.html.markdown
  website/docs/r/ami_from_instance.html.markdown
  website/docs/r/dynamodb_table.html.markdown
  website/docs/r/instance.html.markdown
  website/docs/r/lex_bot.html.markdown
  website/docs/r/lex_bot_alias.html.markdown
  website/docs/r/lex_intent.html.markdown
  website/docs/r/lex_slot_type.html.markdown
  website/docs/r/spot_fleet_request.html.markdown
  website/docs/r/spot_instance_request.html.markdown
Labels: documentation, service/dynamodb, service/ec2, service/lexmodelbuildingservice, size/XS

#16897 Remove preview note for S3 object ownership as it's now GA
  website/docs/r/s3_bucket_ownership_controls.html.markdown
Labels: documentation, service/s3, size/XS

#16905 Removing limit from aws_imagebuilder_distribution_configuration
  aws/resource_aws_imagebuilder_distribution_configuration.go
Labels: bug, service/imagebuilder, size/XS

#16954 Fix typo
  website/docs/r/codeartifact_repository_permissions_policy.html.markdown
Labels: documentation, service/codeartifact, size/XS

#16947 feature: Add working_directory to ImageBuilder
  aws/data_source_aws_imagebuilder_image_recipe.go
  aws/data_source_aws_imagebuilder_image_recipe_test.go
  aws/resource_aws_imagebuilder_image_recipe.go
  website/docs/r/imagebuilder_image_recipe.html.markdown
Labels: documentation, enhancement, service/imagebuilder, size/XS, tests

#16577 Sweepers: Allow skipping individual IAM Roles
  aws/resource_aws_iam_role.go
  aws/resource_aws_iam_role_test.go
Labels: service/iam, size/M, technical-debt, tests

#16082 r/sagemaker_image - new resource
  aws/internal/service/sagemaker/finder/finder.go
  aws/internal/service/sagemaker/waiter/status.go
  aws/internal/service/sagemaker/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_sagemaker_image.go
  aws/resource_aws_sagemaker_image_test.go
  website/docs/r/sagemaker_image.html.markdown
Labels: documentation, new-resource, provider, service/sagemaker, size/XL, tests

#16914 fix in resource aws_msk_cluster enhanced_monitoring PER_TOPIC_PER_PARTITION
  aws/resource_aws_msk_cluster.go
Labels: enhancement, service/kafka, size/XS

#16955 .github/workflows: Increase goreleaser timeout from 1h to 2h
  .github/workflows/terraform_provider.yml
Labels: provider, size/XS, tests

#16938 fix #16917 - changed aws transfer username validation to support 100 chars
  aws/resource_aws_transfer_user_test.go
  aws/validators.go
Labels: bug, documentation, service/transfer, size/XS, tests

#16741 tests/provider: Enable S1039 check for unnecessary fmt.Sprint()/fmt.S…
  .golangci.yml
  aws/data_source_aws_autoscaling_group_test.go
  aws/data_source_aws_codeartifact_authorization_token_test.go
  aws/data_source_aws_codeartifact_repository_endpoint_test.go
  aws/data_source_aws_directory_service_directory_test.go
  aws/data_source_aws_docdb_engine_version_test.go
  aws/data_source_aws_ebs_snapshot_ids_test.go
  aws/data_source_aws_ec2_spot_price_test.go
  aws/data_source_aws_instance_test.go
  aws/data_source_aws_neptune_engine_version_test.go
  aws/data_source_aws_rds_engine_version_test.go
  aws/data_source_aws_rds_orderable_db_instance_test.go
  aws/data_source_aws_route_test.go
  aws/data_source_aws_workspaces_workspace_test.go
  aws/resource_aws_apigatewayv2_integration_test.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_autoscaling_notification_test.go
  aws/resource_aws_datasync_location_fsx_windows_file_system_test.go
  aws/resource_aws_db_instance_test.go
  aws/resource_aws_docdb_subnet_group_test.go
  aws/resource_aws_ec2_transit_gateway_route_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_test.go
  aws/resource_aws_eip_association_test.go
  aws/resource_aws_elb_attachment_test.go
  aws/resource_aws_emr_cluster_test.go
  aws/resource_aws_fsx_windows_file_system_test.go
  aws/resource_aws_glue_data_catalog_encryption_settings_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_lambda_code_signing_config_test.go
  aws/resource_aws_neptune_cluster_test.go
  aws/resource_aws_neptune_subnet_group_test.go
  aws/resource_aws_network_acl_rule_test.go
  aws/resource_aws_network_interface_test.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_route_test.go
  aws/resource_aws_signer_signing_profile_permission_test.go
  aws/resource_aws_signer_signing_profile_test.go
  aws/resource_aws_vpn_gateway_test.go
  aws/resource_aws_xray_encryption_config_test.go
  staticcheck.conf
Labels: service/apigatewayv2, service/autoscaling, service/codeartifact, service/datasync, service/directoryservice, service/docdb, service/ec2, service/elb, service/emr, service/fsx, service/glue, service/lambda, service/neptune, service/rds, service/workspaces, size/XL, technical-debt, tests

#16495 VPC endpoint service private dns name support
  aws/resource_aws_vpc_endpoint_service.go
  aws/resource_aws_vpc_endpoint_service_test.go
  website/docs/r/vpc_endpoint_service.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#16817 [#1530] document configuring emr applications
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, service/emr, size/XS

#16727 Glue catalog table empty partition keys
  aws/resource_aws_glue_catalog_table.go
  aws/resource_aws_glue_catalog_table_test.go
Labels: bug, service/glue, size/XS, tests

#16714 r/glue_crawler - add support for `lineage_configuration`, `recrawl_policy` and plan time validations.
  aws/resource_aws_glue_crawler.go
  aws/resource_aws_glue_crawler_test.go
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, enhancement, service/glue, size/XL, tests

#16924 resource/aws_emr_cluster: fix error on missing cluster
  aws/resource_aws_emr_cluster.go
Labels: bug, service/emr, size/XS

#12340 Add validation for route53 zone schema
  aws/resource_aws_route53_zone.go
Labels: enhancement, service/route53, size/XS

#16829 Allow configuring number of node groups and replicas per node directly for "Redis (cluster mode disabled)"
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, service/elasticache, size/M, tests

#16987 resource/opsworks: Fix hardcoded regions
  aws/resource_aws_opsworks_instance_test.go
  aws/resource_aws_opsworks_stack.go
Labels: partition/aws-us-gov, service/opsworks, size/XS, tests

#16983 tests/resource/iam_access_key: Fix hardcoded region
  aws/resource_aws_iam_access_key_test.go
Labels: partition/aws-us-gov, service/guardduty, service/iam, size/XS, tests

#16967 tests/resource/codebuild_project: Fix hardcoded regions
  aws/resource_aws_codebuild_project_test.go
Labels: partition/aws-us-gov, service/codebuild, size/XL, tests

#16984 tests/resource/instance: Fix hardcoded region
  aws/resource_aws_instance_test.go
Labels: partition/aws-us-gov, service/ec2, size/XS, tests

#16977 resource/devicefarm_project: Fix hardcoded regions
  aws/resource_aws_devicefarm_project.go
  aws/resource_aws_devicefarm_project_test.go
  website/docs/r/devicefarm_project.html.markdown
Labels: documentation, partition/aws-us-gov, service/devicefarm, size/XS, tests

#16966 tests/resource/budgets_budget: Fix hardcoded regions
  aws/resource_aws_budgets_budget_test.go
Labels: partition/aws-us-gov, service/budgets, size/XS, tests

#16962 resource/eks_fargate_profile: Fix hardcoded regions
  aws/resource_aws_eks_fargate_profile_test.go
Labels: partition/aws-us-gov, service/eks, size/XS, tests

#16960 resource/gamelift: Fix hardcoded regions
  aws/resource_aws_gamelift_alias_test.go
  aws/resource_aws_gamelift_build_test.go
  aws/resource_aws_gamelift_fleet_test.go
  aws/resource_aws_gamelift_game_session_queue_test.go
  aws/resource_aws_gamelift_test.go
Labels: partition/aws-us-gov, service/gamelift, size/M, tests

#16965 tests/resource/dynamodb_global_table: Fix hardcoded regions
  aws/resource_aws_dynamodb_global_table_test.go
Labels: partition/aws-us-gov, service/dynamodb, size/XS, tests

#16975 tests/resource/cognito_user_group: Fix hardcoded region
  aws/resource_aws_cognito_user_group_test.go
Labels: partition/aws-us-gov, service/cognito, size/XS, tests

#16761 update description of protocol arguments on aws_security_group resource
  website/docs/r/security_group.html.markdown
Labels: documentation, needs-triage, service/ec2, size/XS

#15808 r/aws_sso_permission_set: New Resource
  aws/data_source_aws_ssoadmin_instances.go
  aws/data_source_aws_ssoadmin_instances_test.go
  aws/data_source_aws_ssoadmin_permission_set.go
  aws/data_source_aws_ssoadmin_permission_set_test.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/internal/service/ssoadmin/finder/finder.go
  aws/internal/service/ssoadmin/waiter/status.go
  aws/internal/service/ssoadmin/waiter/waiter.go
  aws/provider.go
  aws/provider_test.go
  aws/resource_aws_ssoadmin_managed_policy_attachment.go
  aws/resource_aws_ssoadmin_managed_policy_attachment_test.go
  aws/resource_aws_ssoadmin_permission_set.go
  aws/resource_aws_ssoadmin_permission_set_inline_policy.go
  aws/resource_aws_ssoadmin_permission_set_inline_policy_test.go
  aws/resource_aws_ssoadmin_permission_set_test.go
  website/docs/d/ssoadmin_instances.html.markdown
  website/docs/d/ssoadmin_permission_set.html.markdown
  website/docs/r/ssoadmin_managed_policy_attachment.html.markdown
  website/docs/r/ssoadmin_permission_set.html.markdown
  website/docs/r/ssoadmin_permission_set_inline_policy.html.markdown
Labels: documentation, new-data-source, new-resource, provider, service/ssoadmin, size/XXL, tests

#9594 r/aws_fms_policy: Add new resource for AWS Firewall Manager Policy
  aws/provider.go
  aws/resource_aws_fms_policy.go
  aws/resource_aws_fms_policy_test.go
  website/docs/r/fms_policy.html.markdown
Labels: documentation, new-resource, provider, service/fms, size/XL, tests

#17042 Fix typo in 'data-handling-and-conversion.md'
  docs/contributing/data-handling-and-conversion.md
Labels: documentation, provider, size/XS

#16794 docs/contributing: Initial error handling documentation
  docs/CONTRIBUTING.md
  docs/contributing/error-handling.md
  docs/contributing/pullrequest-submission-and-lifecycle.md
Labels: documentation, provider, size/XL

#17050 service/lakeformation: add service to issue/pr labeler
  .hashibot.hcl
Labels: provider, size/XS, technical-debt

#16651 semgrep: add rule to enforce flattenStringSet when converting list of strings to Set
  .semgrep.yml
Labels: size/XS, technical-debt

#16884 resource/networkfirewall_rule_group: remove ForceNew attribute from stateful_rule field and its children
  aws/resource_aws_networkfirewall_rule_group.go
  aws/resource_aws_networkfirewall_rule_group_test.go
Labels: bug, service/networkfirewall, size/L, tests

#16885 resource/db_instance: include check for first char in final_snapshot_identifier ValidationFunc
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds, size/XS, tests

#16602 tests/resource/workspaces_directory: Fix hardcoded region
  aws/resource_aws_workspaces_directory_test.go
Labels: partition/aws-us-gov, service/workspaces, size/XS, tests

#16638 ds/partition: Add reverse DNS prefix
  aws/data_source_aws_partition.go
  aws/data_source_aws_partition_test.go
  website/docs/d/partition.html.markdown
Labels: documentation, partition/aws-iso, partition/aws-iso-b, partition/aws-us-gov, provider, size/XS, tests

#17023 resource/aws_route53_zone_association: Prevent deletion errors for missing Hosted Zone or VPC association
  aws/resource_aws_route53_zone_association.go
Labels: bug, service/route53, size/XS

#16980 tests/resource/efs_file_system: Fix hardcoded region
  aws/resource_aws_efs_file_system_test.go
Labels: partition/aws-us-gov, service/efs, size/XS, tests

#16976 resource/config_aggregate_authorization: Fix hardcoded regions
  aws/resource_aws_config_aggregate_authorization.go
  aws/resource_aws_config_aggregate_authorization_test.go
Labels: partition/aws-us-gov, service/configservice, size/XS, tests

#16981 tests/resource/guardduty_filter: Fix hardcoded region
  aws/resource_aws_guardduty_filter_test.go
Labels: partition/aws-us-gov, service/guardduty, size/XS, tests

#17055 resource/aws_s3_bucket_inventory: Prevent crashes with empty destination, filter, and schedule configuration blocks
  aws/resource_aws_s3_bucket_inventory.go
Labels: bug, crash, service/s3, size/XS

#17067 .github/workflows: Reduce goreleaser parallelism to match GitHub Actions hosted runners
  .github/workflows/snapshot.yml
  .github/workflows/terraform_provider.yml
Labels: provider, size/XS, tests

#17053 Prefer expandStringSet()
  aws/structure.go
Labels: size/XS

#17004 resource/aws_elasticache_parameter_group: acceptance test fixes
  aws/resource_aws_elasticache_parameter_group.go
  aws/resource_aws_elasticache_parameter_group_test.go
  aws/structure.go
  aws/structure_test.go
Labels: partition/aws-us-gov, service/elasticache, size/XL, technical-debt, tests

#16827 resource/dms_endpoint: add support for extraConnectionAttributes in create/read ops and handle diffs
  aws/resource_aws_dms_endpoint.go
  aws/resource_aws_dms_endpoint_test.go
Labels: bug, service/databasemigrationservice, size/XL, tests

#17077 test/resource/elasticache_cluster: Fix lint issue
  aws/resource_aws_elasticache_cluster_test.go
Labels: linter, service/elasticache, size/XS, tests

#5427 Update api_gateway_method_settings.html.markdown
  website/docs/r/api_gateway_method_settings.html.markdown
Labels: documentation, service/apigateway, size/XS

#12820 docs/resource/aws_api_gateway_gateway_response: Fix invalid JSON in response template
  website/docs/r/api_gateway_gateway_response.markdown
Labels: documentation, service/apigateway, size/XS

#13282 service/apigateway: added `operation_name` attribute to API G. method
  aws/resource_aws_api_gateway_method.go
  aws/resource_aws_api_gateway_method_test.go
  website/docs/r/api_gateway_method.html.markdown
Labels: documentation, enhancement, service/apigateway, size/M, tests

#16198 added disable_execute_api_endpoint argument
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_api_gateway_rest_api_test.go
  website/docs/r/api_gateway_rest_api.html.markdown
Labels: documentation, enhancement, service/apigateway, size/M, tests

#16147 use patch updates for aws_api_gateway_base_path_mapping where possibl…
  aws/resource_aws_api_gateway_base_path_mapping.go
  aws/resource_aws_api_gateway_base_path_mapping_test.go
Labels: enhancement, service/apigateway, size/L, tests

#15499 Add TLS Config to api gateway integration
  aws/resource_aws_api_gateway_integration.go
  aws/resource_aws_api_gateway_integration_test.go
  website/docs/r/api_gateway_integration.html.markdown
Labels: documentation, enhancement, service/apigateway, size/M, tests

#13497 Add feature to concurrently update/delete AWS API Gateway method settings
  aws/resource_aws_api_gateway_method_settings.go
Labels: bug, service/apigateway, size/XS

#17089 fix autoscaling_group attribute 'instance_warmup'
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#17079 docs/dms_endpoint: add date_partition_enabled to resource documentation
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, service/databasemigrationservice, size/XS

#15474 resource/aws_instance: Add `tags` parameter to `root_block_device`, `ebs_block_device` blocks (#12225)
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  aws/tags.go
  website/docs/r/instance.html.markdown
Labels: documentation, partition/aws-us-gov, service/ec2, size/XXL, tests

#16688 Workspaces Directory Access Properties
  aws/data_source_aws_workspaces_directory.go
  aws/data_source_aws_workspaces_directory_test.go
  aws/resource_aws_workspaces_directory.go
  aws/resource_aws_workspaces_directory_test.go
  website/docs/d/workspaces_directory.html.markdown
  website/docs/r/workspaces_directory.html.markdown
Labels: documentation, enhancement, service/workspaces, size/XL, tests

#16867 r/aws_appmesh_route: Allow empty 'match' for 'grpc_route'
  aws/resource_aws_appmesh_route.go
  aws/resource_aws_appmesh_route_test.go
  aws/resource_aws_appmesh_test.go
  aws/structure.go
Labels: service/appmesh, size/L, tests

#16077 r/sagemaker_domain - new resource
  aws/internal/service/sagemaker/finder/finder.go
  aws/internal/service/sagemaker/waiter/status.go
  aws/internal/service/sagemaker/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_sagemaker_domain.go
  aws/resource_aws_sagemaker_domain_test.go
  aws/resource_aws_sagemaker_image.go
  website/docs/r/sagemaker_domain.html.markdown
Labels: documentation, new-resource, provider, service/sagemaker, size/XXL, tests

#17043 r/aws_apigatewayv2_integration: Data mapping in HTTP APIs
  aws/resource_aws_apigatewayv2_integration.go
  aws/resource_aws_apigatewayv2_integration_test.go
  website/docs/r/apigatewayv2_integration.html.markdown
Labels: documentation, service/apigatewayv2, size/L, tests

#15023 New resource: aws_cloudwatch_composite_alarm
  aws/internal/service/cloudwatch/finder/finder.go
  aws/provider.go
  aws/resource_aws_cloudwatch_composite_alarm.go
  aws/resource_aws_cloudwatch_composite_alarm_test.go
  website/docs/r/cloudwatch_composite_alarm.html.markdown
Labels: documentation, new-resource, provider, service/cloudwatch, size/XL, tests

#17012 resource/aws_route53_resolver_dnssec_config - new resource
  aws/internal/service/route53resolver/finder/finder.go
  aws/internal/service/route53resolver/waiter/status.go
  aws/internal/service/route53resolver/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_route53_resolver_dnssec_config.go
  aws/resource_aws_route53_resolver_dnssec_config_test.go
  website/docs/r/route53_resolver_dnssec_config.html.markdown
Labels: documentation, new-resource, provider, service/route53resolver, size/XL, tests

#17105 tests/resource/fsx_lustre_file_system: Make GovCloud compatible
  aws/resource_aws_fsx_lustre_file_system_test.go
Labels: partition/aws-us-gov, service/fsx, size/M, tests

#17104 Allow additional resource types
  aws/resource_aws_fms_policy.go
Labels: enhancement, service/fms, size/XS

#17115 tests/workspaces - Add GovCloud related prechecks to workspaces directory datasource
  aws/data_source_aws_workspaces_directory_test.go
Labels: bug, partition/aws-us-gov, service/workspaces, size/XS, tests

#17116 Update Data Handling and Conversion guide: Fix typo and encourage error checking
  docs/contributing/data-handling-and-conversion.md
Labels: documentation, provider, size/XS

#17112 resource/aws_globalaccelerator_*: Timeouts for Global Accelerator resources
  aws/resource_aws_globalaccelerator_accelerator.go
  aws/resource_aws_globalaccelerator_accelerator_test.go
  aws/resource_aws_globalaccelerator_endpoint_group.go
  aws/resource_aws_globalaccelerator_listener.go
  website/docs/r/globalaccelerator_accelerator.markdown
  website/docs/r/globalaccelerator_endpoint_group.html.markdown
  website/docs/r/globalaccelerator_listener.markdown
Labels: documentation, service/globalaccelerator, size/M, tests

#16959 Add GitHub v2 Authentication to CodePipeline
  aws/provider_test.go
  aws/resource_aws_codepipeline.go
  aws/resource_aws_codepipeline_test.go
  aws/resource_aws_codepipeline_webhook_test.go
  website/docs/r/codepipeline.markdown
  website/docs/r/codestarconnections_connection.markdown
Labels: bug, documentation, enhancement, service/codepipeline, service/codestarconnections, size/XL, tests

#15322 r/ssoadmin_account_assignment: new resource; d/identitystore: new data sources
  aws/data_source_aws_identitystore_group.go
  aws/data_source_aws_identitystore_group_test.go
  aws/data_source_aws_identitystore_user.go
  aws/data_source_aws_identitystore_user_test.go
  aws/internal/service/ssoadmin/finder/finder.go
  aws/internal/service/ssoadmin/waiter/status.go
  aws/internal/service/ssoadmin/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_ssoadmin_account_assignment.go
  aws/resource_aws_ssoadmin_account_assignment_test.go
  aws/resource_aws_ssoadmin_permission_set.go
  aws/resource_aws_ssoadmin_permission_set_test.go
  website/docs/d/identitystore_group.html.markdown
  website/docs/d/identitystore_user.html.markdown
  website/docs/r/ssoadmin_account_assignment.html.markdown
Labels: documentation, new-data-source, new-resource, provider, service/identitystore, service/ssoadmin, size/XXL, tests

#17136 resource/instance: Fix invalid address set
  aws/data_source_aws_instance.go
  aws/data_source_aws_instance_test.go
  aws/resource_aws_instance.go
Labels: service/ec2, size/M, tests

#16728 r/sagemaker_feature_group - new resource
  aws/internal/service/sagemaker/finder/finder.go
  aws/internal/service/sagemaker/waiter/status.go
  aws/internal/service/sagemaker/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_sagemaker_feature_group.go
  aws/resource_aws_sagemaker_feature_group_test.go
  website/docs/r/sagemaker_feature_group.html.markdown
Labels: documentation, new-resource, provider, service/sagemaker, size/XXL, tests

#16475 r/backup_global_settings - add new resource
  aws/provider.go
  aws/resource_aws_backup_global_settings.go
  aws/resource_aws_backup_global_settings_test.go
  website/docs/r/backup_global_settings.html.markdown
Labels: new-resource, provider, service/backup, size/L, tests

#16631 aws_ami: gp3 volume scalable throughtput
  aws/data_source_aws_ami.go
  aws/data_source_aws_ami_test.go
  aws/resource_aws_ami.go
  aws/resource_aws_ami_copy.go
  aws/resource_aws_ami_from_instance.go
  aws/resource_aws_ami_test.go
  website/docs/d/ami.html.markdown
  website/docs/r/ami.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#16517 aws_ebs_volume: gp3 volume scalable throughput
  aws/data_source_aws_ebs_volume.go
  aws/data_source_aws_ebs_volume_test.go
  aws/resource_aws_ebs_volume.go
  aws/resource_aws_ebs_volume_test.go
  website/docs/d/ebs_volume.html.markdown
  website/docs/r/ebs_volume.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#17132 chore(docs): apigw policy uses execution_arn
  website/docs/r/api_gateway_rest_api_policy.html.markdown
Labels: documentation, service/apigateway, size/XS

#17011 tests/resource/organizations_policy: Fix hardcoded regions
  aws/resource_aws_organizations_policy_test.go
Labels: partition/aws-us-gov, service/organizations, size/XS, tests

#17145 docs/networkfirewall_rule_group: update rule_variables documentation per AWS API docs
  website/docs/r/networkfirewall_rule_group.html.markdown
Labels: documentation, service/networkfirewall, size/XS

#16544 r/lambda_function: update lambda package type check to prevent panic
  aws/resource_aws_lambda_function.go
Labels: bug, crash, service/lambda, size/XS

#16614 r/api_gateway_authorizer: set authorizer_credentials via PatchOperation on create for COGNITO_USER_POOLS type
  aws/resource_aws_api_gateway_authorizer.go
  aws/resource_aws_api_gateway_authorizer_test.go
Labels: bug, service/apigateway, size/M, tests

#17124 Fixes and enables makezero linter
  .golangci.yml
  aws/internal/keyvaluetags/key_value_tags.go
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_instance.go
  aws/structure.go
  tools/go.mod
  tools/go.sum
Labels: linter, provider, service/autoscaling, service/dynamodb, service/ec2, size/L, technical-debt

#17072 Prefer expandStringSet() – Resources A-F
  aws/cloudfront_distribution_configuration_structure.go
  aws/cloudfront_distribution_configuration_structure_test.go
  aws/data_source_aws_autoscaling_groups.go
  aws/resource_aws_api_gateway_integration.go
  aws/resource_aws_api_gateway_method.go
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_notification.go
  aws/resource_aws_cloudformation_stack.go
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codestarnotifications_notification_rule.go
  aws/resource_aws_dax_cluster.go
  aws/resource_aws_db_event_subscription.go
  aws/resource_aws_dms_event_subscription.go
  aws/resource_aws_dms_replication_instance.go
  aws/resource_aws_dms_replication_subnet_group.go
  aws/resource_aws_docdb_cluster.go
  aws/resource_aws_ec2_client_vpn_endpoint.go
  aws/resource_aws_ec2_traffic_mirror_filter.go
  aws/resource_aws_ecs_task_definition.go
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_subnet_group.go
  aws/resource_aws_elb.go
  aws/resource_aws_fms_policy.go
Labels: service/apigateway, service/autoscaling, service/cloudformation, service/cloudfront, service/codebuild, service/codedeploy, service/codestarnotifications, service/databasemigrationservice, service/dax, service/docdb, service/ec2, service/ecs, service/elasticache, service/elb, service/fms, service/rds, size/L, technical-debt, tests

#17073 Prefer expandStringSet() – Resources I-W
  aws/resource_aws_iam_group_membership.go
  aws/resource_aws_iam_policy_attachment.go
  aws/resource_aws_iam_user_group_membership.go
  aws/resource_aws_kinesis_stream.go
  aws/resource_aws_lambda_layer_version.go
  aws/resource_aws_launch_configuration.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_lb.go
  aws/resource_aws_lex_intent.go
  aws/resource_aws_load_balancer_backend_server_policy.go
  aws/resource_aws_load_balancer_listener_policy.go
  aws/resource_aws_mq_broker.go
  aws/resource_aws_neptune_cluster.go
  aws/resource_aws_neptune_event_subscription.go
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_endpoint.go
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_redshift_snapshot_schedule.go
  aws/resource_aws_route53_health_check.go
  aws/resource_aws_s3_bucket_inventory.go
  aws/resource_aws_secretsmanager_secret_version.go
  aws/resource_aws_ses_event_destination.go
  aws/resource_aws_ses_receipt_rule.go
  aws/resource_aws_ssm_patch_baseline.go
  aws/resource_aws_vpc_endpoint.go
  aws/resource_aws_vpc_endpoint_service.go
  aws/resource_aws_wafv2_web_acl_logging_configuration.go
Labels: service/autoscaling, service/ec2, service/elb, service/elbv2, service/iam, service/kinesis, service/lambda, service/lexmodelbuildingservice, service/mq, service/neptune, service/rds, service/redshift, service/route53, service/s3, service/secretsmanager, service/ses, service/ssm, service/wafv2, size/L, technical-debt

#13287 Add `tags` attribute to `aws_iam_user` data source.
  aws/data_source_aws_iam_user.go
  aws/data_source_aws_iam_user_test.go
  website/docs/d/iam_user.html.markdown
Labels: documentation, enhancement, service/iam, size/M, tests

#17159 .github/workflows: Remove goreleaser parallelism
  .github/workflows/snapshot.yml
  .github/workflows/terraform_provider.yml
Labels: provider, size/XS, tests

#17056 resource/aws_lambda_function: Prevent crash with missing environment variable value
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
  aws/structure.go
Labels: bug, crash, service/lambda, size/M, tests

#17193 Correct block-devices linking.
  website/docs/r/instance.html.markdown
Labels: bug, documentation, service/ec2, size/XS

#16582 tests/vpc: Fix hardcoded regions, clean up EC2 public/private suffixes
  aws/data_source_aws_eip.go
  aws/data_source_aws_eip_test.go
  aws/resource_aws_default_vpc_dhcp_options.go
  aws/resource_aws_default_vpc_dhcp_options_test.go
  aws/resource_aws_eip.go
  aws/resource_aws_eip_association_test.go
  aws/resource_aws_eip_test.go
  aws/resource_aws_network_interface_test.go
  aws/resource_aws_vpc_dhcp_options_test.go
Labels: partition/aws-us-gov, service/ec2, size/XL, tests

#17194 Prefer expandStringSet() – Add semgrep rule
  .semgrep.yml
Labels: linter, size/XS, technical-debt

#17175 Prefer tfresource.NotFound() over checking error type
  .semgrep.yml
  aws/resource_aws_cloudwatch_log_metric_filter.go
  aws/resource_aws_lambda_permission.go
Labels: linter, service/cloudwatchlogs, service/lambda, size/XS, technical-debt

#17123 r/sagemaker_user_profile - new resource
  aws/internal/service/sagemaker/finder/finder.go
  aws/internal/service/sagemaker/waiter/status.go
  aws/internal/service/sagemaker/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_sagemaker_domain.go
  aws/resource_aws_sagemaker_domain_test.go
  aws/resource_aws_sagemaker_user_profile.go
  aws/resource_aws_sagemaker_user_profile_test.go
  website/docs/r/sagemaker_user_profile.html.markdown
Labels: documentation, new-resource, provider, service/sagemaker, size/XXL, tests

#17029 tests/serverlessapplicationrespository_application: Fix hardcoded regions
  aws/data_source_aws_serverlessapplicationrepository_application_test.go
  aws/resource_aws_serverlessapplicationrepository_cloudformation_stack_test.go
Labels: partition/aws-us-gov, service/cloudformation, service/serverlessapplicationrepository, size/L, tests

#17196 tests: Enable AWSAT003 (hardcoded regions)
  GNUmakefile
Labels: partition/aws-us-gov, provider, size/XS

#17141 r/sagemaker_image_version - new resource
  aws/internal/service/sagemaker/finder/finder.go
  aws/internal/service/sagemaker/waiter/status.go
  aws/internal/service/sagemaker/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_sagemaker_image.go
  aws/resource_aws_sagemaker_image_version.go
  aws/resource_aws_sagemaker_image_version_test.go
  docs/MAINTAINING.md
  website/docs/r/sagemaker_image_version.html.markdown
Labels: documentation, new-resource, provider, service/sagemaker, size/XL, tests

#17099 resource/aws_api_gateway_rest_api: Additional OpenAPI specification acceptance testing and fix various attributes after import
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_api_gateway_rest_api_test.go
  website/docs/r/api_gateway_rest_api.html.markdown
Labels: bug, documentation, service/apigateway, size/XXL, tests

#17177 service/elasticache: use waiter and finder function pattern
  aws/data_source_aws_elasticache_cluster.go
  aws/data_source_aws_elasticache_replication_group.go
  aws/data_source_aws_elasticache_replication_group_test.go
  aws/internal/service/elasticache/finder/finder.go
  aws/internal/service/elasticache/waiter/status.go
  aws/internal/service/elasticache/waiter/waiter.go
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
Labels: service/elasticache, size/XL, technical-debt, tests

#17202 workflow/Fix milestone assignment when PR has multiple issues
  .github/workflows/milestone.yml
Labels: provider, size/XS, tests

#17180 d/aws_lambda_function: prevent read error when fetching code signing config for "Image" package type
  aws/data_source_aws_lambda_function.go
  aws/data_source_aws_lambda_function_test.go
  docs/MAINTAINING.md
Labels: bug, documentation, provider, service/lambda, size/M, tests

#17209 resource/aws_api_gateway_rest_api: Fix disable_execute_api_endpoint and endpoint_configuration vpc_endpoint_ids handling with OpenAPI specification import (body argument)
  aws/data_source_aws_api_gateway_rest_api_test.go
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_api_gateway_rest_api_test.go
  website/docs/r/api_gateway_rest_api.html.markdown
Labels: bug, documentation, service/apigateway, size/XL, tests

#17212 docs/resource/aws_api_gateway_integration_response: Remove "-" selection pattern documentation
  website/docs/r/api_gateway_integration_response.html.markdown
Labels: documentation, service/apigateway, size/XS

#17205 Updated aws_db_proxy_target documentation per issue #17172
  website/docs/r/db_proxy_target.html.markdown
Labels: documentation, service/rds, size/XS

#17189 resource/lakeformation permissions: Fix multiple permissions bug
  .changelog/17189.txt
  aws/data_source_aws_lakeformation_data_lake_settings.go
  aws/data_source_aws_lakeformation_permissions.go
  aws/data_source_aws_lakeformation_permissions_test.go
  aws/resource_aws_lakeformation_data_lake_settings.go
  aws/resource_aws_lakeformation_permissions.go
  aws/resource_aws_lakeformation_permissions_test.go
  aws/resource_aws_lakeformation_test.go
  website/docs/r/lakeformation_data_lake_settings.html.markdown
Labels: documentation, partition/aws-us-gov, service/lakeformation, size/L, tests

#17220 Update elasticsearch argument reference
  website/docs/r/elasticsearch_domain.html.markdown
Labels: documentation, service/elasticsearch, size/XS

#17051 ElastiCache documentation fixes and bringing some validations in line with documentation
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticache_replication_group.go
  website/docs/r/elasticache_cluster.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, service/elasticache, size/M

#16215 Changelog Automation
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/generate_changelog.yml
  .gitignore
  GNUmakefile
  docs/MAINTAINING.md
  docs/contributing/pullrequest-submission-and-lifecycle.md
  scripts/changelog.tmpl
  scripts/generate-changelog.sh
  scripts/release-note.tmpl
  tools/go.mod
  tools/go.sum
  tools/main.go
Labels: documentation, provider, size/XL, tests

#15091 docs/provider: Add protocol to api_endpoint attribute
  website/docs/r/apigatewayv2_api.html.markdown
Labels: documentation, service/apigatewayv2, size/XS, waiting-response

#17045 clarify how throughput should be specified
  website/docs/r/launch_template.html.markdown
Labels: documentation, needs-triage, service/ec2, size/XS

#17201 Adds CustomizeDiff to update computed member_clusters
  .changelog/17201.txt
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
Labels: service/elasticache, size/M, tests

#17246 repository/Change explicit references to default branch name to main.
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/pull_requests.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
  .hashibot.hcl
  GNUmakefile
  docs/MAINTAINING.md
  docs/contributing/data-handling-and-conversion.md
  website/docs/guides/version-2-upgrade.html.md
  website/docs/guides/version-3-upgrade.html.md
Labels: documentation, provider, size/S, tests

#13420 Added CIDR block set to datasource VPC peering
  aws/data_source_aws_vpc_peering_connection.go
  aws/data_source_aws_vpc_peering_connection_test.go
  website/docs/d/vpc_peering_connection.html.markdown
Labels: documentation, enhancement, service/ec2, size/M, tests

#17242 Fix fmtcheck error in 'tools/main.go'
  tools/main.go
Labels: size/XS

#17252 d/identitystore: update error logging w/filter info
  aws/data_source_aws_identitystore_group.go
  aws/data_source_aws_identitystore_user.go
Labels: enhancement, service/identitystore, size/XS

#17250 documentation/networkfirewall_rule_group: update useful examples and their descriptions
  website/docs/r/networkfirewall_rule_group.html.markdown
Labels: documentation, enhancement, service/networkfirewall, size/S

#17034 docs/contributing: Initial Provider Design page
  docs/CONTRIBUTING.md
  docs/contributing/contribution-checklists.md
  docs/contributing/provider-design.md
Labels: documentation, provider, size/M

#17263 correct example aws_ssoadmin_permission_set name
  website/docs/r/ssoadmin_account_assignment.html.markdown
Labels: documentation, service/ssoadmin, size/XS

#17231 r/ssm_patch_baseline: Clarify valid operating_system/patch_filter key combinations
  website/docs/r/ssm_patch_baseline.html.markdown
Labels: documentation, service/ssm, size/XS

#17226 Update data_source_aws_elb_hosted_zone_id
  aws/data_source_aws_elb_hosted_zone_id.go
Labels: bug, service/elb, size/XS

#17173 Add "linkTag" SES event dimension options to docs
  website/docs/r/ses_event_destination.markdown
Labels: documentation, service/ses, size/XS

#17174 resource/instance: Update documentation for #15474
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XS

#17162 r/aws_transfer_user: update resource documentation example
  website/docs/r/transfer_user.html.markdown
Labels: documentation, service/transfer, size/XS

#17065 Add emrcontainers service
  .hashibot.hcl
  aws/config.go
  aws/provider.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, enhancement, provider, size/XS

#17238 Update lb_listener datasource schema to match lb_listener default_action forward schema
  aws/data_source_aws_lb_listener.go
Labels: bug, service/elbv2, size/S

#17206 resource/aws_elasticache_replication_group: refactor Update functions
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
Labels: service/elasticache, size/XL, tests

#17292 docs/contributing: Add short note about deep error wrapping
  docs/contributing/error-handling.md
Labels: documentation, provider, size/XS

#17297 Update go-changelog to use fork allowing filesystem storage
  scripts/generate-changelog.sh
  tools/go.mod
  tools/go.sum
Labels: size/S

#16710 New Resource: aws_imagebuilder_image
  .changelog/16710.txt
  aws/data_source_aws_imagebuilder_image.go
  aws/data_source_aws_imagebuilder_image_test.go
  aws/internal/service/imagebuilder/waiter/status.go
  aws/internal/service/imagebuilder/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_imagebuilder_image.go
  aws/resource_aws_imagebuilder_image_test.go
  website/docs/d/imagebuilder_image.html.markdown
  website/docs/r/imagebuilder_image.html.markdown
Labels: documentation, new-data-source, new-resource, partition/aws-us-gov, provider, service/imagebuilder, size/XXL, tests

#17002 data-source/aws_route53_zone: Perform NS record lookup for private Hosted Zones
  .changelog/17002.txt
  aws/data_source_aws_route53_zone.go
  aws/data_source_aws_route53_zone_test.go
Labels: bug, service/route53, size/S, tests

#16806 tests/service/ec2: Add PreCheck for Managed Prefix Lists
  aws/data_source_aws_ec2_managed_prefix_list_test.go
  aws/provider_test.go
  aws/resource_aws_ec2_managed_prefix_list_test.go
Labels: partition/aws-us-gov, service/ec2, size/S, technical-debt, tests

#17296 resource/aws_elasticache_replication_group: Simplify scaling replicas in non-cluster mode
  aws/internal/service/elasticache/finder/finder.go
  aws/internal/service/elasticache/waiter/status.go
  aws/internal/service/elasticache/waiter/waiter.go
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
Labels: service/elasticache, size/XL, tests

#16882 Add support for Amazon Managed Service for Prometheus
  .hashibot.hcl
  aws/config.go
  aws/internal/service/prometheusservice/waiter/status.go
  aws/internal/service/prometheusservice/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_prometheus_workspace.go
  aws/resource_aws_prometheus_workspace_test.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/r/prometheus_workspace.html.markdown
Labels: documentation, new-resource, provider, size/XL, tests

#17320 resource/aws_elasticache_replication_group: Enable Multi-AZ
  .changelog/17320.txt
  aws/data_source_aws_elasticache_replication_group.go
  aws/data_source_aws_elasticache_replication_group_test.go
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
  website/docs/d/elasticache_replication_group.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, enhancement, service/elasticache, size/XL, tests

#17262 r/codeartifact_domain - make encryption_key optional
  .changelog/17262.txt
  aws/resource_aws_codeartifact_domain.go
  aws/resource_aws_codeartifact_domain_test.go
  website/docs/r/codeartifact_domain.html.markdown
Labels: documentation, enhancement, service/codeartifact, size/M, tests

#17285 docs/contributing: Add Versioned Resources section to Provider Design page
  docs/contributing/provider-design.md
Labels: documentation, provider, size/XS

#17339 changelog/ correct issue link formatting
  scripts/release-note.tmpl
Labels: size/XS

#17221 r/sagemaker_app_image_config - new resource
  .changelog/17221.txt
  aws/internal/service/sagemaker/finder/finder.go
  aws/provider.go
  aws/resource_aws_sagemaker_app_image_config.go
  aws/resource_aws_sagemaker_app_image_config_test.go
  website/docs/r/sagemaker_app_image_config.html.markdown
  website/docs/r/sagemaker_code_repository.html.markdown
Labels: documentation, new-resource, provider, service/sagemaker, size/XL, tests

#17301 resource/aws_elasticache_replication_group: Allow changing replica count in cluster-mode
  .changelog/17301.txt
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, service/elasticache, size/L, tests

#12645 r/glacier_vault: fix policy diff + read after create + refactor tests
  aws/resource_aws_glacier_vault.go
  aws/resource_aws_glacier_vault_test.go
Labels: bug, crash, service/glacier, size/XL, tests

#17230 docs/service/apigateway: aws_api_gateway_deployment usage overhaul to discourage stage_name and further encourage create_before_destroy
  .gitignore
  examples/api-gateway-rest-api-openapi/README.md
  examples/api-gateway-rest-api-openapi/domain.tf
  examples/api-gateway-rest-api-openapi/main.tf
  examples/api-gateway-rest-api-openapi/outputs.tf
  examples/api-gateway-rest-api-openapi/rest-api.tf
  examples/api-gateway-rest-api-openapi/stage.tf
  examples/api-gateway-rest-api-openapi/terraform.template.tfvars
  examples/api-gateway-rest-api-openapi/tls.tf
  examples/api-gateway-rest-api-openapi/variables.tf
  website/docs/r/api_gateway_base_path_mapping.html.markdown
  website/docs/r/api_gateway_deployment.html.markdown
  website/docs/r/api_gateway_domain_name.html.markdown
  website/docs/r/api_gateway_method_settings.html.markdown
  website/docs/r/api_gateway_rest_api.html.markdown
  website/docs/r/api_gateway_stage.html.markdown
  website/docs/r/api_gateway_usage_plan.html.markdown
  website/docs/r/wafregional_web_acl_association.html.markdown
  website/docs/r/wafv2_web_acl_association.html.markdown
Labels: documentation, examples, provider, service/apigateway, service/waf, service/wafv2, size/XL

#16676 service/ec2: Add COIP support to aws_subnet resource and data source
  .changelog/16676.txt
  aws/data_source_aws_subnet.go
  aws/data_source_aws_subnet_test.go
  aws/internal/service/ec2/errors.go
  aws/internal/service/ec2/finder/finder.go
  aws/internal/service/ec2/waiter/status.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/resource_aws_subnet.go
  aws/resource_aws_subnet_test.go
  website/docs/d/subnet.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#17358 scripts: Allow H1 headers in CHANGELOG.md and generate current CHANGELOG
  CHANGELOG.md
  scripts/generate-changelog.sh
Labels: documentation, provider, size/XS

#17254 resource/aws_kinesis_firehose_delivery_stream: Use IAM timeout constant for retries, add LakeFormation permissions retries and configuration to tests
  .changelog/17254.txt
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
Labels: bug, service/firehose, size/M, technical-debt, tests

#17316 tests/resource/aws_lakeformation_permissions: Add test for table wildcard permissions
  aws/resource_aws_lakeformation_permissions_test.go
  aws/resource_aws_lakeformation_test.go
Labels: service/lakeformation, size/M, tests

#17249 tests/data-source/aws_pricing_product: Adjust redshift query precision
  aws/data_source_aws_pricing_product_test.go
Labels: service/pricing, size/XS, technical-debt, tests

#17318 resource/aws_iam_access_key: Add `create_date` attribute
  .changelog/17318.txt
  aws/resource_aws_iam_access_key.go
  aws/resource_aws_iam_access_key_test.go
  website/docs/r/iam_access_key.html.markdown
Labels: documentation, enhancement, service/iam, size/XS, tests

#17321 resource/aws_iam_access_key: Support resource import
  .changelog/17321.txt
  aws/resource_aws_iam_access_key.go
  aws/resource_aws_iam_access_key_test.go
  website/docs/r/iam_access_key.html.markdown
Labels: documentation, enhancement, service/iam, size/M, tests

#17322 resource/aws_iam_access_key: Ensure Inactive status is properly configured during resource creation
  .changelog/17322.txt
  aws/resource_aws_iam_access_key.go
  aws/resource_aws_iam_access_key_test.go
Labels: bug, service/iam, size/S, tests
