Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-05, with the labels that each got.

#19183 docs/provider: Fix type wording and clarify `default_tags` configuration
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#19197 Fix argument name in documentation
  website/docs/d/resourcegroupstaggingapi_resources.html.markdown
Labels: documentation, service/resourcegroupstaggingapi, size/XS

#19199 add awsbackup snapshot type
  website/docs/d/db_cluster_snapshot.html.markdown
  website/docs/d/db_snapshot.html.markdown
Labels: documentation, service/rds, size/XS

#19168 Support for tags `aws_shield_protection`
  .changelog/19168.txt
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/resource_aws_shield_protection.go
  aws/resource_aws_shield_protection_test.go
  website/docs/r/shield_protection.html.markdown
Labels: documentation, provider, service/shield, size/XL, tests

#19210 team / remove bflad from team automation and docs
  .github/workflows/changelog.yml
  .github/workflows/project.yml
  docs/FAQ.md
Labels: documentation, provider, size/XS, tests

#19131 Removes `IDRefreshName` from acceptance tests for resources I-N
  aws/resource_aws_iam_group_policy_test.go
  aws/resource_aws_iam_instance_profile_test.go
  aws/resource_aws_iam_role_policy_test.go
  aws/resource_aws_iam_role_test.go
  aws/resource_aws_iam_user_policy_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_internet_gateway_test.go
  aws/resource_aws_key_pair_test.go
  aws/resource_aws_lb_listener_test.go
  aws/resource_aws_lb_target_group_test.go
  aws/resource_aws_lb_test.go
  aws/resource_aws_lightsail_instance_test.go
  aws/resource_aws_nat_gateway_test.go
  aws/resource_aws_network_acl_test.go
  aws/resource_aws_network_interface_attachment_test.go
  aws/resource_aws_network_interface_test.go
Labels: service/ec2, service/elbv2, service/iam, service/lightsail, size/XXL, tests

#19132 Removes `IDRefreshName` from acceptance tests for resources P-V
  aws/resource_aws_pinpoint_adm_channel_test.go
  aws/resource_aws_pinpoint_apns_channel_test.go
  aws/resource_aws_pinpoint_apns_sandbox_channel_test.go
  aws/resource_aws_pinpoint_apns_voip_channel_test.go
  aws/resource_aws_pinpoint_apns_voip_sandbox_channel_test.go
  aws/resource_aws_pinpoint_app_test.go
  aws/resource_aws_pinpoint_baidu_channel_test.go
  aws/resource_aws_pinpoint_email_channel_test.go
  aws/resource_aws_pinpoint_event_stream_test.go
  aws/resource_aws_pinpoint_gcm_channel_test.go
  aws/resource_aws_pinpoint_sms_channel_test.go
  aws/resource_aws_route53_delegation_set_test.go
  aws/resource_aws_route53_health_check_test.go
  aws/resource_aws_route53_record_test.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_security_group_test.go
  aws/resource_aws_sns_topic_test.go
  aws/resource_aws_subnet_test.go
  aws/resource_aws_transfer_server_test.go
  aws/resource_aws_transfer_user_test.go
  aws/resource_aws_vpc_endpoint_connection_notification_test.go
  aws/resource_aws_vpc_endpoint_test.go
  aws/resource_aws_vpn_connection_test.go
  aws/resource_aws_vpn_gateway_route_propagation_test.go
  aws/resource_aws_vpn_gateway_test.go
Labels: service/ec2, service/pinpoint, service/route53, service/sns, service/transfer, size/XXL, tests

#19072 Add support for partner event bus and sources
  .changelog/18491.txt
  .changelog/19072.txt
  aws/internal/service/cloudwatchevents/id.go
  aws/internal/service/cloudwatchevents/id_test.go
  aws/resource_aws_cloudwatch_event_bus.go
  aws/resource_aws_cloudwatch_event_bus_test.go
  aws/resource_aws_cloudwatch_event_rule_test.go
  aws/resource_aws_cloudwatch_event_target_test.go
  aws/validators.go
  aws/validators_test.go
  docs/MAINTAINING.md
  website/docs/r/cloudwatch_event_bus.html.markdown
Labels: documentation, provider, service/cloudwatchevents, service/eventbridge, size/XL, tests

#19219 d/aws_cloudwatch_event_source: New Data Source
  .changelog/19219.txt
  aws/data_source_aws_cloudwatch_event_source.go
  aws/data_source_aws_cloudwatch_event_source_test.go
  aws/provider.go
  website/docs/d/cloudwatch_event_source.html.markdown
Labels: documentation, provider, service/cloudwatchevents, service/eventbridge, size/L, tests

#19190 F/resource aws datasync location s3 storage class
  .changelog/19190.txt
  aws/resource_aws_datasync_location_s3.go
  aws/resource_aws_datasync_location_s3_test.go
  website/docs/r/datasync_location_s3.html.markdown
Labels: documentation, service/datasync, size/M, tests

#19176 Add support for AllowClassicFlow to the Cognito Identity Pool resource.
  .changelog/19176.txt
  aws/resource_aws_cognito_identity_pool.go
  website/docs/r/cognito_identity_pool.markdown
Labels: documentation, service/cognito, size/XS

#19187 May - July 2021 Roadmap
  ROADMAP.md
  docs/roadmaps/2021_February_to_April.md
Labels: documentation, provider, size/L

#18505 r/aws_lakeformation_permissions: don't throw no permissions found
  .changelog/18505.txt
  aws/data_source_aws_lakeformation_permissions.go
  aws/data_source_aws_lakeformation_permissions_test.go
  aws/resource_aws_lakeformation_permissions.go
  aws/resource_aws_lakeformation_permissions_test.go
  aws/resource_aws_lakeformation_test.go
  aws/utils.go
  aws/utils_test.go
  website/docs/r/lakeformation_permissions.html.markdown
Labels: bug, documentation, provider, service/lakeformation, size/XXL, tests

#19218 Enables `tfproviderlint` rule `AT010`
  GNUmakefile
  aws/resource_aws_eip_test.go
Labels: provider, service/ec2, size/XS, tests

#19239 Correct MWAA cloud_watch_log_group_arn attribute in documentation
  website/docs/r/mwaa_environment.html.markdown
Labels: documentation, service/mwaa, size/XS

#19232 Correct example in elasticache replication group
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, service/elasticache, size/XS

#19237 Extends semgrep rule to include `resource.RetryContext()`
  .semgrep.yml
Labels: linter, size/M

#15434 f/aws_sfn_state_machine: enable tracing config
  .changelog/15434.txt
  aws/internal/service/sfn/finder/finder.go
  aws/internal/service/sfn/waiter/status.go
  aws/internal/service/sfn/waiter/waiter.go
  aws/resource_aws_sfn_state_machine.go
  aws/resource_aws_sfn_state_machine_test.go
  website/docs/r/sfn_state_machine.html.markdown
Labels: documentation, provider, service/sfn, size/XXL, tests

#19216 Bugfix retry behavior in aws_ssoadmin_managed_policy_attachment for eventual consistency issue
  .changelog/19216.txt
  aws/config.go
  aws/resource_aws_ssoadmin_managed_policy_attachment.go
Labels: bug, provider, service/ssoadmin, size/XS

#18115 Handle ObjectNotFoundException gracefully when deleting app autoscaling target
  .changelog/18115.txt
  aws/resource_aws_appautoscaling_target.go
Labels: bug, service/applicationautoscaling, size/XS

#15375 r/transfer_server - add `security_policy_name` and refactor tests
  .changelog/15375.txt
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_server_test.go
  website/docs/r/transfer_server.html.markdown
Labels: documentation, enhancement, service/transfer, size/XL, tests

#19165 New resource for Macie2 Classification Job
  .changelog/19165.txt
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/provider.go
  aws/resource_aws_macie2_account_test.go
  aws/resource_aws_macie2_classification_job.go
  aws/resource_aws_macie2_classification_job_test.go
  aws/resource_aws_macie2_test.go
  website/docs/r/macie2_classification_job.html.markdown
Labels: documentation, provider, service/macie2, size/XXL, tests

#16743 Implement dynamodb kinesis streaming destination
  .changelog/16743.txt
  aws/internal/service/dynamodb/finder/finder.go
  aws/internal/service/dynamodb/waiter/status.go
  aws/internal/service/dynamodb/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_dynamodb_kinesis_streaming_destination.go
  aws/resource_aws_dynamodb_kinesis_streaming_destination_test.go
  website/docs/r/dynamodb_kinesis_streaming_destination.html.markdown
Labels: documentation, new-resource, provider, service/dynamodb, size/XL, tests

#19207 r/aws_batch_job_definition: Prevent diff with default Fargate platform configuration
  .changelog/19207.txt
  aws/internal/service/batch/equivalency/container_properties.go
  aws/internal/service/batch/equivalency/container_properties_test.go
  aws/resource_aws_batch_job_definition_test.go
Labels: bug, service/batch, size/M, tests

#19205 r/aws_batch_compute_environment: `service_role` is optional, fix "At least one compute-resources attribute must be specified" error.
  .changelog/19205.txt
  aws/resource_aws_batch_compute_environment.go
  aws/resource_aws_batch_compute_environment_test.go
Labels: bug, service/batch, size/L, tests

#19266 add plugins_s3_object_version to resourceAwsMwaaEnvironmentUpdate
  .changelog/19266.txt
  aws/resource_aws_mwaa_environment.go
  aws/resource_aws_mwaa_environment_test.go
Labels: bug, service/mwaa, size/M, tests

#19252 resource/aws_elasticache_global_replication_group: Disassociate members of global replication group
  aws/resource_aws_elasticache_global_replication_group.go
  aws/resource_aws_elasticache_global_replication_group_test.go
Labels: service/elasticache, size/XS, tests

#13371 support FTP & FTPS protocols for the aws_transfer_server resource
  .changelog/13371.txt
  aws/data_source_aws_transfer_server.go
  aws/data_source_aws_transfer_server_test.go
  aws/internal/service/transfer/finder/finder.go
  aws/internal/service/transfer/id.go
  aws/internal/service/transfer/waiter/status.go
  aws/internal/service/transfer/waiter/waiter.go
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_server_test.go
  aws/resource_aws_transfer_user.go
  website/docs/d/transfer_server.html.markdown
  website/docs/r/transfer_server.html.markdown
Labels: documentation, enhancement, service/transfer, size/XXL, tests

#19172 r/glue_connection - validations
  .changelog/19172.txt
  aws/resource_aws_glue_connection.go
  aws/validators.go
Labels: enhancement, service/glue, size/S

#19251 provider: add additional if-condition when setting `tags_all` to new computed
  .changelog/19251.txt
  aws/resource_aws_vpc_test.go
  aws/tags.go
Labels: bug, service/ec2, size/L, tests

#19274 Correct example values for aws_ecrpublic_repository parameters
  website/docs/r/ecrpublic_repository.html.markdown
Labels: documentation, service/ecrpublic, size/XS

#19254 New resource for Macie2 Custom Data Identifier
  .changelog/19254.txt
  aws/provider.go
  aws/resource_aws_macie2_custom_data_identifier.go
  aws/resource_aws_macie2_custom_data_identifier_test.go
  aws/resource_aws_macie2_test.go
  website/docs/r/macie2_custom_data_identifier.html.markdown
Labels: documentation, provider, service/macie2, size/XL, tests

#19253 aws_lambda_event_source_mapping: Support reading `starting_position` fields
  .changelog/19253.txt
  aws/resource_aws_lambda_event_source_mapping.go
  aws/resource_aws_lambda_event_source_mapping_test.go
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, service/lambda, size/XXL, tests

#15463 New resource: Timestream Write database resource
  .changelog/15463.txt
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/provider.go
  aws/resource_aws_timestreamwrite_database.go
  aws/resource_aws_timestreamwrite_database_test.go
  website/docs/r/timestreamwrite_database.html.markdown
Labels: documentation, new-resource, provider, service/timestreamwrite, size/XL, tests

#19286 rd/lb_listener - add tagging support
  .changelog/19286.txt
  aws/data_source_aws_lb_listener.go
  aws/data_source_aws_lb_listener_test.go
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_rule_test.go
  aws/resource_aws_lb_listener_test.go
  aws/resource_aws_lb_test.go
  website/docs/r/lb_listener.html.markdown
Labels: documentation, service/elbv2, size/XL, tests

#19284 F/resource aws codestarconnections connection - support for host_arn
  .changelog/19284.txt
  aws/data_source_aws_codestarconnections_connection.go
  aws/resource_aws_codestarconnections_connection.go
  aws/resource_aws_codestarconnections_connection_test.go
  website/docs/d/codestarconnections_connection.html.markdown
  website/docs/r/codestarconnections_connection.markdown
Labels: documentation, service/codestarconnections, size/M, tests

#19283 New resource for Macie2 Findings Filter
  .changelog/19283.txt
  aws/provider.go
  aws/resource_aws_macie2_findings_filter.go
  aws/resource_aws_macie2_findings_filter_test.go
  aws/resource_aws_macie2_test.go
  website/docs/r/macie2_findings_filter.html.markdown
Labels: documentation, provider, service/macie2, size/XXL, tests

#17735 F/destination_outpost_arn support in aws_ami_copy
  .changelog/17735.txt
  aws/resource_aws_ami_copy.go
  aws/resource_aws_ami_copy_test.go
  website/docs/r/ami_copy.html.markdown
Labels: documentation, service/ec2, size/M, tests

#19337 Add support for API Gateway as an EventBrigde target
  .changelog/19337.txt
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_test.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, service/cloudwatchevents, service/eventbridge, size/L, tests

#19322 workflow/asana tidy
  .github/workflows/release.yml
Labels: provider, size/XS, tests

#13938 resource/aws_eks_node_group: add support for node_group_name prefixes
  .changelog/13938.txt
  aws/internal/service/eks/id.go
  aws/resource_aws_eks_node_group.go
  aws/resource_aws_eks_node_group_test.go
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, service/eks, size/XL, tests

#14452 r/datasync_task - add scheduling support
  .changelog/14452.txt
  aws/internal/service/datasync/finder/finder.go
  aws/internal/service/datasync/waiter/status.go
  aws/internal/service/datasync/waiter/waiter.go
  aws/resource_aws_datasync_task.go
  aws/resource_aws_datasync_task_test.go
  website/docs/r/datasync_task.html.markdown
Labels: documentation, enhancement, service/datasync, size/XL, tests

#19300 r/servicecatalog_tag_option: New resource
  .changelog/19300.txt
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_servicecatalog_tag_option.go
  aws/resource_aws_servicecatalog_tag_option_test.go
  website/docs/r/servicecatalog_tag_option.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XL, tests

#16204 resource/aws_datasync_task: Add `excludes` argument, missing `options` arguments
  .changelog/16204.txt
  aws/datasync.go
  aws/resource_aws_datasync_task.go
  aws/resource_aws_datasync_task_test.go
  website/docs/r/datasync_task.html.markdown
Labels: documentation, service/datasync, size/XL, tests

#18547 resource/aws_datasync_location_s3: Add `agent_arns` and `s3_storage_class` arguments
  .changelog/18547.txt
  aws/resource_aws_datasync_location_s3.go
  aws/resource_aws_datasync_location_s3_test.go
  website/docs/r/datasync_location_s3.html.markdown
Labels: documentation, service/datasync, size/XS, tests

#16207 resource/aws_datasync_agent: Add support for VPC Endpoints
  .changelog/16207.txt
  aws/internal/service/datasync/finder/finder.go
  aws/internal/service/datasync/waiter/status.go
  aws/internal/service/datasync/waiter/waiter.go
  aws/resource_aws_datasync_agent.go
  aws/resource_aws_datasync_agent_test.go
  aws/resource_aws_datasync_task.go
  website/docs/r/datasync_agent.html.markdown
Labels: documentation, service/datasync, size/XL, tests

#19364 workflow: Add card archiver job
  .github/workflows/release.yml
Labels: provider, size/XS, tests

#19351 sweepers/timestreamwrite_database: fix sweeper error handling; add _disappears test
  aws/resource_aws_timestreamwrite_database_test.go
Labels: service/timestreamwrite, size/S, technical-debt, tests

#19354 resource/timestreamwrite_table: new resource
  .changelog/19354.txt
  aws/provider.go
  aws/resource_aws_timestreamwrite_database_test.go
  aws/resource_aws_timestreamwrite_table.go
  aws/resource_aws_timestreamwrite_table_test.go
  website/docs/r/timestreamwrite_table.html.markdown
Labels: documentation, new-resource, provider, service/timestreamwrite, size/XL, tests

#19361 F/resource aws pinpoint email channel
  .changelog/19361.txt
  aws/resource_aws_pinpoint_email_channel.go
  aws/resource_aws_pinpoint_email_channel_test.go
  website/docs/r/pinpoint_email_channel.markdown
Labels: documentation, service/pinpoint, size/M, tests

#19380 workflow/release-token-fix
  .github/workflows/release.yml
Labels: provider, size/XS, tests

#19278 r/servicecatalog_portfolio_share: New resource(s)
  .changelog/19278.txt
  aws/internal/envvar/testing_funcs.go
  aws/internal/service/organizations/finder/finder.go
  aws/internal/service/servicecatalog/finder/finder.go
  aws/internal/service/servicecatalog/id.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/internal/service/sts/finder/finder.go
  aws/provider.go
  aws/provider_test.go
  aws/resource_aws_servicecatalog_organizations_access.go
  aws/resource_aws_servicecatalog_organizations_access_test.go
  aws/resource_aws_servicecatalog_portfolio.go
  aws/resource_aws_servicecatalog_portfolio_share.go
  aws/resource_aws_servicecatalog_portfolio_share_test.go
  aws/validators.go
  aws/validators_test.go
  website/docs/r/servicecatalog_organizations_access.html.markdown
  website/docs/r/servicecatalog_portfolio_share.html.markdown
Labels: documentation, provider, service/organizations, service/servicecatalog, service/sts, size/XXL, tests

#19303 New resource for Macie2 Organization Admin Account
  .changelog/19303.txt
  aws/provider.go
  aws/resource_aws_macie2_organization_admin_account.go
  aws/resource_aws_macie2_organization_admin_account_test.go
  aws/resource_aws_macie2_test.go
  website/docs/r/macie2_organization_admin_account.html.markdown
Labels: documentation, provider, service/macie2, size/XL, tests

#19390 docs: update valid policy types in aws_organizations_organization
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, service/organizations, size/XS

#19401 Update route_tables.html.markdown
  website/docs/d/route_tables.html.markdown
Labels: documentation, service/ec2, size/XS

#17585 data_source/aws_outposts_outpost and aws_outposts_outposts: add argument for owner_id
  .changelog/17585.txt
  aws/data_source_aws_outposts_outpost.go
  aws/data_source_aws_outposts_outpost_test.go
  aws/data_source_aws_outposts_outposts.go
  website/docs/d/outposts_outpost.html.markdown
  website/docs/d/outposts_outposts.html.markdown
Labels: documentation, service/outposts, size/M, tests

#19315 resource aws_cloudfront_function
  .changelog/19315.txt
  aws/cloudfront_distribution_configuration_structure.go
  aws/cloudfront_distribution_configuration_structure_test.go
  aws/data_source_aws_cloudfront_function.go
  aws/data_source_aws_cloudfront_function_test.go
  aws/provider.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
  aws/resource_aws_cloudfront_function.go
  aws/resource_aws_cloudfront_function_test.go
  website/docs/d/cloudfront_function.html.markdown
  website/docs/r/cloudfront_distribution.html.markdown
  website/docs/r/cloudfront_function.html.markdown
Labels: documentation, provider, service/cloudfront, size/XXL, tests

#19367 d/glue_connection + glue_data_catalog_encryption_settings - new data sources
  .changelog/18802.txt
  aws/data_source_aws_glue_connection.go
  aws/data_source_aws_glue_connection_test.go
  aws/data_source_aws_glue_data_catalog_encryption_settings.go
  aws/data_source_aws_glue_data_catalog_encryption_settings_test.go
  aws/provider.go
  website/docs/d/glue_connection.html.markdown
  website/docs/d/glue_data_catalog_encryption_settings.html.markdown
Labels: documentation, new-data-source, provider, service/glue, size/XL, tests

#19304 New resource for Macie2 Member and Invitation Accepter
  .changelog/19304.txt
  aws/internal/service/macie2/finder/finder.go
  aws/internal/service/macie2/waiter/status.go
  aws/internal/service/macie2/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_macie2_account.go
  aws/resource_aws_macie2_invitation_accepter.go
  aws/resource_aws_macie2_invitation_accepter_test.go
  aws/resource_aws_macie2_member.go
  aws/resource_aws_macie2_member_test.go
  aws/resource_aws_macie2_test.go
  website/docs/r/macie2_invitation_accepter.html.markdown
  website/docs/r/macie2_member.html.markdown
Labels: documentation, provider, service/macie2, size/XXL, tests

#19371 r/glue_catalog_database - add `target_database` argument
  .changelog/19371.txt
  aws/resource_aws_glue_catalog_database.go
  aws/resource_aws_glue_catalog_database_test.go
  website/docs/r/glue_catalog_database.html.markdown
Labels: documentation, enhancement, service/glue, size/M, tests

#19372 r/glue_catalog_table - add `target_table` argument
  .changelog/19372.txt
  aws/resource_aws_glue_catalog_table.go
  aws/resource_aws_glue_catalog_table_test.go
  website/docs/r/glue_catalog_table.html.markdown
Labels: documentation, enhancement, service/glue, size/L, tests

#19386 r/aws_lambda_function: Wait for successful completion of function code update
  .changelog/19386.txt
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
Labels: service/lambda, size/XS, tests

#19423 Default limits on backends per Virtual Node to 50
  .changelog/19423.txt
  aws/resource_aws_appmesh_virtual_node.go
Labels: service/appmesh, size/XS

#19410 Change direct connect gateway association in docs
  website/docs/r/dx_gateway_association.html.markdown
Labels: documentation, service/directconnect, size/XS

#18841 resource/aws_network_interface: add support for interface_type argument for EFA
  .changelog/18841.txt
  aws/provider_test.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
  aws/resource_aws_network_interface.go
  aws/resource_aws_network_interface_test.go
  website/docs/r/launch_template.html.markdown
  website/docs/r/network_interface.markdown
Labels: documentation, service/ec2, size/XL, tests

#19389 New resource for Delegated Administrators for Organizations and datasources for Delegated Administrators and Services
  .changelog/19389.txt
  aws/data_source_aws_organizations_delegated_administrators.go
  aws/data_source_aws_organizations_delegated_administrators_test.go
  aws/data_source_aws_organizations_delegated_services.go
  aws/data_source_aws_organizations_delegated_services_test.go
  aws/provider.go
  aws/resource_aws_organizations_delegated_administrator.go
  aws/resource_aws_organizations_delegated_administrator_test.go
  aws/resource_aws_organizations_test.go
  website/docs/d/organizations_delegated_administrators.html.markdown
  website/docs/d/organizations_delegated_services.html.markdown
  website/docs/r/organizations_delegated_administrator.html.markdown
Labels: documentation, provider, service/organizations, size/XL, tests

#19432 Implement AWS App Runner resources
  .changelog/19432.txt
  .hashibot.hcl
  aws/config.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/internal/service/apprunner/finder/finder.go
  aws/internal/service/apprunner/id.go
  aws/internal/service/apprunner/id_test.go
  aws/internal/service/apprunner/waiter/status.go
  aws/internal/service/apprunner/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_apprunner_auto_scaling_configuration_version.go
  aws/resource_aws_apprunner_auto_scaling_configuration_version_test.go
  aws/resource_aws_apprunner_connection.go
  aws/resource_aws_apprunner_connection_test.go
  aws/resource_aws_apprunner_custom_domain_association.go
  aws/resource_aws_apprunner_custom_domain_association_test.go
  aws/resource_aws_apprunner_service.go
  aws/resource_aws_apprunner_service_test.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/r/apprunner_auto_scaling_configuration_version.html.markdown
  website/docs/r/apprunner_connection.html.markdown
  website/docs/r/apprunner_custom_domain_association.html.markdown
  website/docs/r/apprunner_service.html.markdown
Labels: documentation, provider, size/XXL, tests

#19429 r/aws_cloudwatch_metric_stream: New resource
  .changelog/18870.txt
  aws/internal/service/cloudwatch/waiter/status.go
  aws/internal/service/cloudwatch/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_cloudwatch_metric_stream.go
  aws/resource_aws_cloudwatch_metric_stream_test.go
  website/docs/r/cloudwatch_metric_stream.html.markdown
Labels: documentation, provider, service/cloudwatch, size/XXL, tests

#19385 r/servicecatalog: New resources (constraint, product_portfolio_association)
  .changelog/19385.txt
  aws/internal/service/servicecatalog/enum.go
  aws/internal/service/servicecatalog/finder/finder.go
  aws/internal/service/servicecatalog/id.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_servicecatalog_constraint.go
  aws/resource_aws_servicecatalog_constraint_test.go
  aws/resource_aws_servicecatalog_portfolio.go
  aws/resource_aws_servicecatalog_product_portfolio_association.go
  aws/resource_aws_servicecatalog_product_portfolio_association_test.go
  website/docs/r/servicecatalog_constraint.html.markdown
  website/docs/r/servicecatalog_product_portfolio_association.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XXL, tests

#19424 update log delivery example with working ACL
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XS

#19430 resource/networkfirewall_rule_group: check configuration changes in rules when determining update input
  .changelog/19430.txt
  aws/resource_aws_networkfirewall_rule_group.go
  aws/resource_aws_networkfirewall_rule_group_test.go
Labels: bug, service/networkfirewall, size/S, tests

#19369 r/servicecatalog_service_action: New resource
  .changelog/19369.txt
  aws/diff_suppress_funcs.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_servicecatalog_service_action.go
  aws/resource_aws_servicecatalog_service_action_test.go
  website/docs/r/servicecatalog_service_action.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XL, tests

#6856 Data source for aws_service_discovery_dns_namespace
  .changelog/6856.txt
  aws/data_source_aws_service_discovery_dns_namespace.go
  aws/data_source_aws_service_discovery_dns_namespace_test.go
  aws/provider.go
  website/docs/d/service_discovery_dns_namespace.html.markdown
Labels: documentation, new-data-source, provider, service/servicediscovery, size/L, tests

#19267 resource/elasticache_subnet_group: appropriately ignore default tags configuration in `default` resource
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
  aws/resource_aws_elasticache_subnet_group.go
  aws/resource_aws_elasticache_subnet_group_test.go
Labels: bug, provider, service/elasticache, size/M, tests

#16908 resource/aws_instance: add support for Capacity Reservations
  .changelog/16908.txt
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2, size/XL, tests

#19384 workflow/Add job to update with new minor version after release.
  .github/workflows/release.yml
Labels: provider, size/XS, tests

#19439 workflow/ be consistent with secrets usage in workflows
  .github/workflows/release.yml
Labels: provider, size/XS, tests

#19447 Predictive autoscaling
  .changelog/19447.txt
  aws/internal/experimental/nullable/int.go
  aws/resource_aws_autoscaling_policy.go
  aws/resource_aws_autoscaling_policy_test.go
  website/docs/r/autoscaling_policy.html.markdown
Labels: documentation, service/autoscaling, size/XL, tests

#19358 hashibot: Migrate closed_issue_locker behavior to GitHub Actions
  .github/workflows/lock.yml
  .hashibot.hcl
Labels: provider, size/S, tests

#19360 hashibot: Migrate pull_request_path_labeler behavior to GitHub Actions
  .github/labeler-pr-triage.yml
  .github/workflows/pull_requests.yml
  .hashibot.hcl
  docs/contributing/contribution-checklists.md
Labels: documentation, provider, size/XXL, tests

#19375 ConnectionProperties should be optional to create glue connection
  .changelog/19375.txt
  aws/resource_aws_glue_connection.go
  aws/resource_aws_glue_connection_test.go
  website/docs/r/glue_connection.html.markdown
Labels: documentation, enhancement, service/glue, size/M, tests

#19343 Add AWS Chime serivce
  .github/labeler-pr-triage.yml
  .hashibot.hcl
  aws/config.go
  aws/provider.go
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, size/XS

#19457 Specify main as ref for post-release changelog edit
  .github/workflows/release.yml
Labels: provider, size/XS, tests

#19454 r/eks_addon: Use service account
  aws/resource_aws_eks_addon.go
Labels: service/eks, size/XS

#19452 r/servicecatalog_budget_resource_association: New resource
  .changelog/19452.txt
  .changelog/19454.txt
  aws/internal/service/servicecatalog/finder/finder.go
  aws/internal/service/servicecatalog/id.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_servicecatalog_budget_resource_association.go
  aws/resource_aws_servicecatalog_budget_resource_association_test.go
  website/docs/r/servicecatalog_budget_resource_association.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XL, tests

#19448 r/servicecatalog_tag_option_resource_association: New resource
  .changelog/19448.txt
  aws/internal/service/servicecatalog/finder/finder.go
  aws/internal/service/servicecatalog/id.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_servicecatalog_tag_option_resource_association.go
  aws/resource_aws_servicecatalog_tag_option_resource_association_test.go
  website/docs/r/servicecatalog_tag_option_resource_association.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XL, tests

#19316 r/servicecatalog_provisioning_artifact: New resource
  .changelog/19316.txt
  aws/internal/service/servicecatalog/id.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_servicecatalog_constraint_test.go
  aws/resource_aws_servicecatalog_product_portfolio_association_test.go
  aws/resource_aws_servicecatalog_product_test.go
  aws/resource_aws_servicecatalog_provisioning_artifact.go
  aws/resource_aws_servicecatalog_provisioning_artifact_test.go
  website/docs/r/servicecatalog_provisioning_artifact.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XXL, tests

#19167 Add examples for mysql and postgresql
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, service/rds, size/M

#19461 Documentation: fixed import parameter in aws_dms_certificate
  website/docs/r/dms_certificate.html.markdown
Labels: documentation, service/databasemigrationservice, size/XS

#15966 Add aws_amplify_app resource
  .changelog/15966.txt
  aws/internal/service/amplify/consts.go
  aws/internal/service/amplify/finder/finder.go
  aws/internal/service/amplify/lister/list.go
  aws/internal/service/amplify/lister/list_pages_gen.go
  aws/provider.go
  aws/resource_aws_amplify_app.go
  aws/resource_aws_amplify_app_test.go
  aws/resource_aws_amplify_test.go
  docs/MAINTAINING.md
  website/allowed-subcategories.txt
  website/docs/r/amplify_app.html.markdown
Labels: documentation, provider, service/amplify, size/XXL, tests

#11936 New Resource: aws_amplify_backend_environment
  .changelog/11936.txt
  aws/internal/service/amplify/finder/finder.go
  aws/internal/service/amplify/id.go
  aws/provider.go
  aws/resource_aws_amplify_backend_environment.go
  aws/resource_aws_amplify_backend_environment_test.go
  aws/resource_aws_amplify_test.go
  website/docs/r/amplify_app.html.markdown
  website/docs/r/amplify_backend_environment.html.markdown
Labels: documentation, provider, service/amplify, size/XL, tests

#19391 Expose the default tags configured on a provider as a data source
  .changelog/19391.txt
  aws/data_source_aws_default_tags.go
  aws/data_source_aws_default_tags_test.go
  aws/provider.go
  website/docs/d/default_tags.markdown
Labels: documentation, provider, size/L, tests

#19492 add missing interface_type
  .changelog/19492.txt
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
Labels: service/ec2, size/XS, tests

#19483 resource/apprunner_service: fix resource creation with instance role and instance_configuration
  .changelog/19483.txt
  aws/resource_aws_apprunner_service.go
  aws/resource_aws_apprunner_service_test.go
Labels: bug, service/apprunner, size/M, tests

#19471 resource/apprunner_service: add missing arguments in expansion methods
  .changelog/19471.txt
  aws/resource_aws_apprunner_service.go
  aws/resource_aws_apprunner_service_test.go
Labels: bug, service/apprunner, size/M, tests

#18905 Add support for Cloudwatch Event API Destination and Connections
  .changelog/18905.txt
  aws/data_source_aws_cloudwatch_event_connection.go
  aws/data_source_aws_cloudwatch_event_connection_test.go
  aws/internal/service/cloudwatchevents/finder/finder.go
  aws/internal/service/cloudwatchevents/waiter/status.go
  aws/internal/service/cloudwatchevents/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_cloudwatch_event_api_destination.go
  aws/resource_aws_cloudwatch_event_api_destination_test.go
  aws/resource_aws_cloudwatch_event_connection.go
  aws/resource_aws_cloudwatch_event_connection_test.go
  aws/resource_aws_cloudwatch_event_rule_test.go
  website/docs/d/cloudwatch_event_connection.html.markdown
  website/docs/r/cloudwatch_event_api_destination.html.markdown
  website/docs/r/cloudwatch_event_connection.html.markdown
Labels: documentation, provider, service/cloudwatchevents, service/eventbridge, size/XXL, tests

#19502 d/aws_mq_broker: `logs.audit` is TypeString (NullableBool)
  .changelog/19502.txt
  aws/data_source_aws_mq_broker.go
Labels: bug, service/mq, size/XS

#19515 resource/aws_synthetics_canary: fix minimum timeout_in_seconds
  .changelog/19515.txt
  aws/resource_aws_synthetics_canary.go
Labels: service/synthetics, size/XS

#19482 resource/aws_eks_node_group: added support for taints
  .changelog/19482.txt
  aws/resource_aws_eks_node_group.go
  aws/resource_aws_eks_node_group_test.go
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, service/eks, size/L, tests

#19520 Trivial typo correction
  website/docs/r/ec2_traffic_mirror_target.html.markdown
Labels: documentation, service/ec2, size/XS

#19524 Add a link to Learn from docs
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#19528 r/sns_topic - add firehose args
  .changelog/19528.txt
  aws/resource_aws_sns_topic.go
  aws/resource_aws_sns_topic_test.go
  website/docs/r/sns_topic.html.markdown
Labels: documentation, service/sns, size/L, tests

#17571 14324 - Fix kafka_versions being a required field
  .changelog/17571.txt
  aws/resource_aws_msk_configuration.go
  aws/resource_aws_msk_configuration_test.go
Labels: service/kafka, size/XS, tests

#19496 r/aws_lb_listener_rule: Allow empty string for `action.redirect.query`
  .changelog/19496.txt
  aws/resource_aws_lb_listener_rule.go
  aws/resource_aws_lb_listener_rule_test.go
Labels: bug, regression, service/elbv2, size/M, tests

#19404 Add support for MSK IAM client authentication
  .changelog/19404.txt
  aws/data_source_aws_msk_cluster.go
  aws/data_source_aws_msk_cluster_test.go
  aws/internal/service/msk/waiter/waiter.go
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_msk_cluster_test.go
  aws/resource_aws_msk_scram_secret_association_test.go
  website/docs/d/msk_cluster.html.markdown
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, service/kafka, size/XL, tests

#19505 r/aws_batch_job_definition: Don't crash when setting `timeout.attempt_duration_seconds` to `null`
  .changelog/19505.txt
  aws/resource_aws_batch_job_definition.go
Labels: bug, crash, service/batch, size/S

#19517 r/aws_ec2_managed_prefix_list: Fix crash with multiple description-only changes
  .changelog/19517.txt
  aws/resource_aws_ec2_managed_prefix_list.go
  aws/resource_aws_ec2_managed_prefix_list_test.go
Labels: bug, crash, regression, service/ec2, size/S, tests

#19415 WAFv2: Add support for custom request and responses to rules
  .changelog/19415.txt
  aws/resource_aws_wafv2_rule_group.go
  aws/resource_aws_wafv2_rule_group_test.go
  aws/resource_aws_wafv2_web_acl.go
  aws/resource_aws_wafv2_web_acl_test.go
  aws/wafv2_helper.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, enhancement, service/wafv2, size/XXL, tests

#19100 Add support for Eventbridge Schema Registry, Discoverer and Schema resources
  .changelog/19100.txt
  .changelog/19404.txt
  .github/labeler-pr-triage.yml
  .hashibot.hcl
  aws/config.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/list_tags_gen.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/internal/service/schemas/finder/finder.go
  aws/internal/service/schemas/id.go
  aws/provider.go
  aws/resource_aws_cloudwatch_event_bus_test.go
  aws/resource_aws_schemas_discoverer.go
  aws/resource_aws_schemas_discoverer_test.go
  aws/resource_aws_schemas_registry.go
  aws/resource_aws_schemas_registry_test.go
  aws/resource_aws_schemas_schema.go
  aws/resource_aws_schemas_schema_test.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/r/schemas_discoverer.html.markdown
  website/docs/r/schemas_registry.html.markdown
  website/docs/r/schemas_schema.html.markdown
Labels: documentation, provider, service/cloudwatchevents, service/eventbridge, size/XXL, tests

#19535 aws_ec2_capacity_reservation outpost_arn attribute support
  .changelog/19535.txt
  aws/resource_aws_ec2_capacity_reservation.go
  aws/resource_aws_ec2_capacity_reservation_test.go
  website/docs/r/ec2_capacity_reservation.html.markdown
Labels: documentation, service/ec2, size/XS, tests

#19551 Add tags argument to resource/aws_elasticache_parameter_group
  .changelog/19551.txt
  aws/resource_aws_elasticache_parameter_group.go
  aws/resource_aws_elasticache_parameter_group_test.go
  website/docs/r/elasticache_parameter_group.html.markdown
Labels: documentation, service/elasticache, size/M, tests

#19548 hashibot: Migrate regexp_issue_labeler_v2 behavior to GitHub Actions
  .github/labeler-issue-triage.yml
  .hashibot.hcl
  docs/contributing/contribution-checklists.md
Labels: documentation, provider, size/XL

#17573 Allow local and remote IPv4 and IPv6 CIDRs to be of any size
  .changelog/17573.txt
  aws/resource_aws_instance_test.go
  aws/resource_aws_vpn_connection.go
  aws/resource_aws_vpn_connection_test.go
Labels: service/ec2, size/XL, tests

#19557 resource/aws_ecs_service: Adds support for ECS Anywhere
  .changelog/19557.txt
  aws/resource_aws_ecs_service.go
  website/docs/r/ecs_service.html.markdown
Labels: documentation, service/ecs, size/XS

#16049 enhancement/added new options to cloudfront distribution resource
  .changelog/16049.txt
  aws/cloudfront_distribution_configuration_structure.go
  aws/cloudfront_distribution_configuration_structure_test.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, needs-triage, service/cloudfront, size/L, tests

#19559 r/cloudtrail: Add DynamoDB as data_resource
  .changelog/19559.txt
  aws/resource_aws_cloudtrail.go
  aws/resource_aws_cloudtrail_test.go
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, service/cloudtrail, size/XXL, tests

#10539 Added check for on_failure before resetting disable_rollback during refresh
  .changelog/10539.txt
  aws/resource_aws_cloudformation_stack.go
  aws/resource_aws_cloudformation_stack_test.go
Labels: service/cloudformation, size/L, tests

#19499 ds/servicecatalog_constraint: New data source
  .changelog/19499.txt
  aws/data_source_aws_servicecatalog_constraint.go
  aws/data_source_aws_servicecatalog_constraint_test.go
  aws/provider.go
  website/docs/d/servicecatalog_constraint.html.markdown
Labels: documentation, new-data-source, provider, service/servicecatalog, size/L, tests

#19573 tests/ds/servicecat_constraint: Fix test
  aws/data_source_aws_servicecatalog_constraint_test.go
Labels: service/servicecatalog, size/XS, tests

#19592 Update lb_target_group docs
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, needs-triage, service/elbv2, size/XS
