Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-06, with the labels that each got.

#19610 hashibot: Migrate remove_labels_on_reply behavior to GitHub Actions
  .github/workflows/issue-comment-created.yml
  .hashibot.hcl
Labels: provider, size/XS, tests

#19594 r/aws_cloudwatch_event_api_destination: Maximum value for `invocation_rate_limit_per_second` is `300`
  .changelog/19594.txt
  aws/resource_aws_cloudwatch_event_api_destination.go
Labels: service/cloudwatchevents, service/eventbridge, size/XS

#19425 Initial implementation of self_managed_event_source for aws_lambda_event_source_mapping
  .changelog/19425.txt
  aws/resource_aws_lambda_event_source_mapping.go
  aws/resource_aws_lambda_event_source_mapping_test.go
  aws/structure.go
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, enhancement, service/lambda, size/XXL, tests

#19615 r/elasticache_cluster: add `SetTagsDiff` function to CustomizeDiff sequence
  .changelog/19615.txt
  aws/resource_aws_elasticache_cluster.go
Labels: bug, service/elasticache, size/XS

#19596 Update ssoadmin_managed_policy_attachment.html.markdown
  website/docs/r/ssoadmin_managed_policy_attachment.html.markdown
Labels: documentation, service/ssoadmin, size/XS

#19582 Add codebuild_source_credential note
  website/docs/r/codebuild_source_credential.html.markdown
Labels: documentation, service/codebuild, size/XS

#19578 F/resource aws acmpca certificate authority: support for S3ObjectAcl
  .changelog/19578.txt
  aws/resource_aws_acmpca_certificate_authority.go
  aws/resource_aws_acmpca_certificate_authority_test.go
  website/docs/r/acmpca_certificate_authority.html.markdown
Labels: documentation, service/acmpca, size/M, tests

#19606 fix default status for aws_iam_access_key
  .changelog/19606.txt
  aws/resource_aws_iam_access_key.go
Labels: needs-triage, service/iam, size/XS

#19622 Fix mislabeled block in codebuild proj documentation
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, service/codebuild, size/XS

#19574 r/devicefarm_project - add `default_job_timeout_minutes` and `tags` arguments
  .changelog/19574.txt
  aws/resource_aws_devicefarm_project.go
  aws/resource_aws_devicefarm_project_test.go
  website/docs/r/devicefarm_project.html.markdown
Labels: documentation, enhancement, service/devicefarm, size/L, tests

#19568 r/fsx_lustre_filesystem - allow updating `storage_capacity`
  .changelog/19568.txt
  aws/resource_aws_fsx_lustre_file_system.go
  aws/resource_aws_fsx_lustre_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
Labels: documentation, service/fsx, size/M, tests

#19571 r/cloudwatch_metric_alarm - add validation to `metric_query.metric.stat` + refactor to use expanded/flatteners
  .changelog/19571.txt
  aws/internal/service/cloudwatch/finder/finder.go
  aws/resource_aws_cloudwatch_metric_alarm.go
  aws/resource_aws_cloudwatch_metric_alarm_test.go
Labels: service/cloudwatch, size/XL, tests

#19470 r/servicecatalog_principal_portfolio_association: New resource
  .changelog/19470.txt
  aws/data_source_aws_servicecatalog_constraint.go
  aws/internal/service/servicecatalog/enum.go
  aws/internal/service/servicecatalog/finder/finder.go
  aws/internal/service/servicecatalog/id.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_servicecatalog_constraint.go
  aws/resource_aws_servicecatalog_constraint_test.go
  aws/resource_aws_servicecatalog_portfolio.go
  aws/resource_aws_servicecatalog_portfolio_share.go
  aws/resource_aws_servicecatalog_portfolio_share_test.go
  aws/resource_aws_servicecatalog_principal_portfolio_association.go
  aws/resource_aws_servicecatalog_principal_portfolio_association_test.go
  aws/resource_aws_servicecatalog_product.go
  aws/resource_aws_servicecatalog_product_portfolio_association.go
  aws/resource_aws_servicecatalog_product_portfolio_association_test.go
  aws/resource_aws_servicecatalog_product_test.go
  aws/resource_aws_servicecatalog_provisioning_artifact.go
  aws/resource_aws_servicecatalog_provisioning_artifact_test.go
  aws/resource_aws_servicecatalog_service_action.go
  aws/resource_aws_servicecatalog_service_action_test.go
  website/docs/r/servicecatalog_principal_portfolio_association.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XL, tests

#11937 New Resource: aws_amplify_branch
  .changelog/11937.txt
  aws/internal/service/amplify/finder/finder.go
  aws/internal/service/amplify/id.go
  aws/provider.go
  aws/resource_aws_amplify_app.go
  aws/resource_aws_amplify_backend_environment_test.go
  aws/resource_aws_amplify_branch.go
  aws/resource_aws_amplify_branch_test.go
  aws/resource_aws_amplify_test.go
  website/docs/r/amplify_branch.html.markdown
Labels: documentation, new-resource, service/amplify, size/XXL, tests

#19632 Adding GP3 support for launch configurations
  .changelog/19632.txt
  aws/data_source_aws_launch_configuration.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_launch_configuration.go
  aws/resource_aws_launch_configuration_test.go
  website/docs/d/launch_configuration.html.markdown
  website/docs/r/launch_configuration.html.markdown
Labels: documentation, service/autoscaling, size/M, tests

#11939 New Resource: aws_amplify_webhook
  .changelog/11937.txt
  .changelog/11939.txt
  aws/internal/service/amplify/finder/finder.go
  aws/provider.go
  aws/resource_aws_amplify_test.go
  aws/resource_aws_amplify_webhook.go
  aws/resource_aws_amplify_webhook_test.go
  website/docs/r/amplify_webhook.html.markdown
Labels: documentation, provider, service/amplify, size/XL, tests

#19644 feature: Add Amazon Location Service client.
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  aws/config.go
  aws/provider.go
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, size/XS

#11938 New Resource: aws_amplify_domain_association
  .changelog/11938.txt
  aws/internal/service/amplify/finder/finder.go
  aws/internal/service/amplify/id.go
  aws/internal/service/amplify/waiter/status.go
  aws/internal/service/amplify/waiter/waiter.go
  aws/internal/tfresource/errors.go
  aws/provider.go
  aws/resource_aws_amplify_domain_association.go
  aws/resource_aws_amplify_domain_association_test.go
  aws/resource_aws_amplify_test.go
  docs/MAINTAINING.md
  website/docs/r/amplify_domain_association.html.markdown
Labels: documentation, provider, service/amplify, size/XL, tests

#19654 r/aws_cloudwatch_event_api_destination: Fix crash on update
  .changelog/19654.txt
  aws/resource_aws_cloudwatch_event_api_destination.go
  aws/resource_aws_cloudwatch_event_api_destination_test.go
Labels: bug, service/cloudwatchevents, service/eventbridge, size/XS, tests

#19664 r/fsx _lustre_file_system - add `data_compression_type`
  .changelog/19664.txt
  aws/resource_aws_fsx_lustre_file_system.go
  aws/resource_aws_fsx_lustre_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
Labels: documentation, service/fsx, size/M, tests

#19670 r/ecs_task_definition - add support for fsx win fs
  .changelog/19670.txt
  aws/resource_aws_ecs_task_definition.go
  aws/resource_aws_ecs_task_definition_test.go
  aws/structure.go
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, enhancement, service/ecs, size/XXL, tests

#19681 F/aws acmpca certificate authority
  .changelog/19681.txt
  aws/data_source_aws_acmpca_certificate_authority.go
  aws/data_source_aws_acmpca_certificate_authority_test.go
  website/docs/d/acmpca_certificate_authority.html.markdown
Labels: bug, documentation, regression, service/acmpca, size/M, tests

#19639 r/aws_sqs_queue: support high-throughput FIFO queues
  .changelog/19639.txt
  aws/internal/attrmap/attrmap.go
  aws/internal/json/equivalence.go
  aws/internal/json/equivalence_test.go
  aws/internal/service/sqs/consts.go
  aws/internal/service/sqs/finder/finder.go
  aws/internal/service/sqs/name.go
  aws/internal/service/sqs/name_test.go
  aws/internal/service/sqs/waiter/status.go
  aws/internal/service/sqs/waiter/waiter.go
  aws/resource_aws_sqs_queue.go
  aws/resource_aws_sqs_queue_policy.go
  aws/resource_aws_sqs_queue_policy_test.go
  aws/resource_aws_sqs_queue_test.go
  website/docs/r/sqs_queue.html.markdown
Labels: documentation, service/sqs, size/XXL, tests

#16502 r/cognito_user_pool - add `custom_email_sender`, `kms_key_id` and `custom_sms_sender` to `lambda_config` + move cognito user pool function from strucute.go
  .changelog/16502.txt
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_client.go
  aws/resource_aws_cognito_user_pool_client_test.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/structure.go
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, enhancement, service/cognito, size/XXL, tests

#19562 Fix invalid example: session_number is required
  website/docs/r/ec2_traffic_mirror_session.html.markdown
Labels: documentation, service/ec2, size/XS

#19703 r/aws_cloudwatch_event_target - fix input transformer input paths validation
  .changelog/19703.txt
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_test.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: bug, documentation, service/cloudwatchevents, size/S, tests

#19656 r/default_vpc_dhcp_options - add `owner_id` arg
  .changelog/19656.txt
  aws/resource_aws_default_vpc_dhcp_options.go
  aws/resource_aws_default_vpc_dhcp_options_test.go
  website/docs/r/default_vpc_dhcp_options.html.markdown
Labels: bug, documentation, service/ec2, size/M, tests

#19691 rd/transfer_server - add support for `domain`
  .changelog/19691.txt
  aws/data_source_aws_transfer_server.go
  aws/data_source_aws_transfer_server_test.go
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_server_test.go
  website/docs/d/transfer_server.html.markdown
  website/docs/r/transfer_server.html.markdown
Labels: documentation, enhancement, service/transfer, size/M, tests

#19693 r/transfer_user - add support for `posix_profile`
  .changelog/19693.txt
  aws/internal/service/transfer/finder/finder.go
  aws/internal/service/transfer/waiter/status.go
  aws/internal/service/transfer/waiter/waiter.go
  aws/resource_aws_transfer_user.go
  aws/resource_aws_transfer_user_test.go
  website/docs/r/transfer_user.html.markdown
Labels: documentation, enhancement, service/transfer, size/XL, tests

#19694 r/ecs_task_definition - add support for `ephemeral_storage`
  .changelog/19694.txt
  aws/resource_aws_ecs_task_definition.go
  aws/resource_aws_ecs_task_definition_test.go
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, enhancement, service/ecs, size/M, tests

#19696 Migrate from GitHub HashiBot release_commenter behavior to GitHub Actions
  .github/workflows/milestone-closed.yml
  .hashibot.hcl
Labels: provider, size/XS, technical-debt, tests

#19668 r/aws_cloudwatch_metric_alarm: Allow extended statistics in `metric.stat` argument
  .changelog/19668.txt
  aws/resource_aws_cloudwatch_metric_alarm.go
  aws/resource_aws_cloudwatch_metric_alarm_test.go
Labels: bug, regression, service/cloudwatch, size/XS, tests

#19599 Add example showing Web ACL association
  website/docs/r/appsync_graphql_api.html.markdown
Labels: documentation, service/appsync, size/S

#19701 r/aws_autoscaling_policy predictive_scaling_configuration requires resource_label to be defined
  website/docs/r/autoscaling_policy.html.markdown
Labels: documentation, service/autoscaling, size/XS

#19729 Migrate from GitHub HashiBot pull_request_size_labeler behavior to GitHub Actions
  .github/workflows/pull_requests.yml
  .hashibot.hcl
Labels: provider, size/S, tests

#19647 d/aws_globalaccelerator_accelerator: Add data globalaccelerator accelerator
  .changelog/19647.txt
  aws/data_source_aws_globalaccelerator_accelerator.go
  aws/data_source_aws_globalaccelerator_accelerator_test.go
  aws/provider.go
  website/docs/d/globalaccelerator_accelerator.html.markdown
  website/docs/r/globalaccelerator_accelerator.html.markdown
  website/docs/r/globalaccelerator_listener.html.markdown
Labels: documentation, provider, service/globalaccelerator, size/L, tests

#19666 r/aws_batch_job_definition: Match equivalency of `null` and `[]` for `linuxParameters.devices` and `linuxParameters.tmpfs`
  .changelog/19666.txt
  aws/internal/service/batch/equivalency/container_properties.go
  aws/internal/service/batch/equivalency/container_properties_test.go
Labels: bug, service/batch, size/M, tests

#19722 resource,data_source/aws_servicequotas_service_quota: Handle embedded error in ServiceQuota struct
  .changelog/19722.txt
  aws/data_source_aws_servicequotas_service_quota.go
  aws/data_source_aws_servicequotas_service_quota_test.go
  aws/resource_aws_servicequotas_service_quota.go
  aws/resource_aws_servicequotas_service_quota_test.go
Labels: service/servicequotas, size/L, tests

#19705 r/aws_cur_report_definition: support update
  .changelog/19705.txt
  aws/resource_aws_cur_report_definition.go
  aws/resource_aws_cur_report_definition_test.go
  aws/resource_aws_cur_test.go
  website/docs/r/cur_report_definition.html.markdown
Labels: documentation, enhancement, service/costandusagereportservice, size/XL, tests

#19738 documentation/servicequotas resources
  website/docs/d/servicequotas_service.html.markdown
  website/docs/d/servicequotas_service_quota.html.markdown
  website/docs/r/servicequotas_service_quota.html.markdown
Labels: documentation, service/servicequotas, size/XS

#19577 F data source aws appmesh mesh create
  .changelog/19577.txt
  aws/data_source_aws_appmesh_mesh.go
  aws/data_source_aws_appmesh_mesh_test.go
  aws/provider.go
  website/docs/d/appmesh_mesh.html.markdown
Labels: documentation, provider, service/appmesh, size/XL, tests

#19671 sweeper/aws_elasticache_global_replication_group: Reduce run time during failures
  GNUmakefile
  aws/internal/service/elasticache/waiter/waiter.go
  aws/resource_aws_elasticache_global_replication_group.go
  aws/resource_aws_elasticache_global_replication_group_test.go
  aws/resource_aws_elasticache_replication_group.go
Labels: bug, service/elasticache, size/M, tests

#19677 resource/aws_iot_topic_rule: Allow tags with '@' on creation
  .changelog/19677.txt
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
  aws/resource_aws_iot_topic_rule.go
  aws/resource_aws_iot_topic_rule_test.go
  aws/resource_aws_s3_bucket_object_test.go
Labels: provider, service/iot, service/s3, size/M, tests

#19758 service/ec2: Support Private NAT Gateways
  .changelog/19758.txt
  aws/data_source_aws_nat_gateway.go
  aws/data_source_aws_nat_gateway_test.go
  aws/resource_aws_nat_gateway.go
  aws/resource_aws_nat_gateway_test.go
  website/docs/d/nat_gateway.html.markdown
  website/docs/r/nat_gateway.html.markdown
Labels: documentation, service/ec2, size/M, tests

#19704 r/cognito_user_pool: Suppress diff for empty `account_recovery_setting`
  .changelog/19704.txt
  aws/resource_aws_cognito_user_pool.go
Labels: bug, service/cognito, size/M

#19753 r/datasync_location_smb - support update
  .changelog/19753.txt
  aws/resource_aws_datasync_location_smb.go
  aws/resource_aws_datasync_location_smb_test.go
Labels: service/datasync, service/location, size/M, tests

#19555 Allow empty string as valid setting for launch_type in CloudWatchEventTarget
  .changelog/19555.txt
  aws/resource_aws_cloudwatch_event_target.go
  aws/resource_aws_cloudwatch_event_target_test.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: bug, documentation, service/cloudwatchevents, service/eventbridge, size/L, tests

#16906 Use shared naming logic for ASG and Launch Configuration (name_prefix fix)
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
  aws/resource_aws_launch_configuration.go
  aws/resource_aws_launch_configuration_test.go
  website/docs/r/autoscaling_group.html.markdown
  website/docs/r/launch_configuration.html.markdown
Labels: documentation, service/autoscaling, size/XL, technical-debt, tests

#19773 Add missing 'status' attribute to organizations datasource docs
  website/docs/d/organizations_organization.html.markdown
Labels: documentation, service/organizations, size/XS

#19777 Docs use incorrect argument for on_premises_instance_tag_filter
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: documentation, service/codedeploy, size/XS

#12508 Add a cautionary note for CMK-encrypted volumes
  website/docs/r/ebs_volume.html.markdown
Labels: documentation, needs-triage, service/ec2, size/XS

#19770 fix docs: SSO credentials is now supported
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#19685 d/aws_autoscaling_group - fix on_demand_percentage_above_base_capacity default value to 100
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, needs-triage, service/autoscaling, size/XS

#19271 Clarify key policy vs IAM policy
  website/docs/r/kms_key.html.markdown
Labels: documentation, needs-triage, service/kms, size/XS

#19170 aws_iam_policy_document.statement.principals.type allows `*` as value
  website/docs/d/iam_policy_document.html.markdown
Labels: documentation, needs-triage, service/iam, size/XS

#19126 chore: add codeowners to eventbridge
  .github/CODEOWNERS
Labels: needs-triage, provider, size/XS

#19791 Remove default group from CODEOWNERS
  .github/CODEOWNERS
Labels: provider, size/M

#19785 r/ecs _cluster - add `configuration` block + refactor to user finder and waiters package
  .changelog/19785.txt
  aws/internal/service/ecs/finder/finder.go
  aws/internal/service/ecs/waiter/status.go
  aws/internal/service/ecs/waiter/waiter.go
  aws/resource_aws_ecs_cluster.go
  aws/resource_aws_ecs_cluster_test.go
  website/docs/r/ecs_cluster.html.markdown
Labels: documentation, enhancement, service/ecs, size/XL, tests

#19554 r/budgets_budget_action - new resource
  .changelog/19554.txt
  aws/internal/service/budgets/finder/finder.go
  aws/internal/service/budgets/id.go
  aws/internal/service/budgets/waiter/status.go
  aws/internal/service/budgets/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_budgets_budget_action.go
  aws/resource_aws_budgets_budget_action_test.go
  website/docs/r/budgets_budget_action.html.markdown
Labels: documentation, new-resource, provider, service/budgets, size/XL, size/XXL, tests

#19767 r/datasync_location_nfs - support update + add `mount_options`
  .changelog/19767.txt
  aws/resource_aws_datasync_location_nfs.go
  aws/resource_aws_datasync_location_nfs_test.go
  website/docs/r/datasync_location_nfs.html.markdown
Labels: documentation, service/datasync, service/location, size/L, tests

#19774 F data source aws appmesh virtualservice
  .changelog/19774.txt
  aws/data_source_aws_appmesh_mesh_test.go
  aws/data_source_aws_appmesh_virtual_service.go
  aws/data_source_aws_appmesh_virtual_service_test.go
  aws/provider.go
  website/docs/d/appmesh_virtual_service.html.markdown
Labels: documentation, provider, service/appmesh, size/XL, tests

#19771 .github/workflows: Fix waiting-response label removal
  .github/workflows/issue-comment-created.yml
Labels: provider, size/XS, tests

#18733 resource/aws_route53_resolver_firewall_config: Add new resource
  .changelog/18733.txt
  aws/internal/service/route53resolver/finder/finder.go
  aws/provider.go
  aws/resource_aws_route53_resolver_firewall_config.go
  aws/resource_aws_route53_resolver_firewall_config_test.go
  website/docs/r/route53_resolver_firewall_config.markdown
Labels: documentation, provider, service/route53resolver, size/XL, tests

#19827 Adjust AWS Glue triggers default timeouts to be aligned with documentation
  .changelog/19827.txt
  aws/internal/service/glue/waiter/waiter.go
Labels: service/glue, size/XS

#19819 r/cognito_identity_provider - fix updating `idp_identifiers` crash
  .changelog/19819.txt
  aws/resource_aws_cognito_identity_provider.go
  aws/resource_aws_cognito_identity_provider_test.go
Labels: bug, crash, service/cognito, size/M, tests

#19804 r/cloudwatch_log_metric_filter - add `unit`
  .changelog/19804.txt
  aws/resource_aws_cloudwatch_log_metric_filter.go
  aws/resource_aws_cloudwatch_log_metric_filter_test.go
  aws/structure.go
  website/docs/r/cloudwatch_log_metric_filter.html.markdown
Labels: documentation, enhancement, service/cloudwatchlogs, size/L, tests

#19830 d/Fix data source title and partial information
  website/docs/d/cloudfront_cache_policy.html.markdown
Labels: documentation, needs-triage, service/cloudfront, size/XS

#19834 r/aws_sqs_queue: Backwards compatibility fix for default `kms_data_key_reuse_period_seconds`
  .changelog/19834.txt
  aws/internal/service/sqs/consts.go
  aws/internal/service/sqs/waiter/waiter.go
  aws/resource_aws_sqs_queue.go
  aws/resource_aws_sqs_queue_test.go
Labels: bug, regression, service/sqs, size/M, tests

#13127 r/spot_fleet_request - on demand arguments
  .changelog/13127.txt
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_spot_fleet_request_test.go
  website/docs/r/spot_fleet_request.html.markdown
Labels: documentation, enhancement, service/ec2, size/XL, tests

#19817 r/lakeformation_permissions: Fix update bug
  .changelog/19817.txt
  aws/data_source_aws_lakeformation_permissions.go
  aws/internal/service/lakeformation/filter.go
  aws/internal/service/lakeformation/filter_test.go
  aws/internal/service/lakeformation/waiter/status.go
  aws/internal/service/lakeformation/waiter/waiter.go
  aws/resource_aws_lakeformation_permissions.go
  aws/resource_aws_lakeformation_permissions_test.go
  aws/resource_aws_lakeformation_test.go
  website/docs/d/lakeformation_permissions.html.markdown
  website/docs/r/lakeformation_permissions.html.markdown
Labels: documentation, service/lakeformation, size/XL, tests

#19852 updated route table conflict warning
  website/docs/r/default_route_table.html.markdown
  website/docs/r/main_route_table_association.html.markdown
Labels: documentation, service/ec2, size/XS

#19810 EKS node group scaling_config.min_size can be 0 as well as desired
  .changelog/19810.txt
  aws/resource_aws_eks_node_group.go
  aws/resource_aws_eks_node_group_test.go
Labels: service/eks, size/M, tests

#19831 r/aws_lambda_event_source_mapping: Additional IAM eventual consistency error message
  .changelog/19831.txt
  aws/resource_aws_lambda_event_source_mapping.go
Labels: bug, regression, service/lambda, size/XS

#19500 ds/servicecatalog_portfolio: New data source
  .changelog/19500.txt
  aws/data_source_aws_servicecatalog_portfolio.go
  aws/data_source_aws_servicecatalog_portfolio_test.go
  aws/provider.go
  website/docs/d/servicecatalog_portfolio.html.markdown
Labels: documentation, provider, service/servicecatalog, size/L, tests

#18631 tests/r/waf: Add sweeper concurrency
  aws/resource_aws_waf_byte_match_set_test.go
  aws/resource_aws_waf_geo_match_set_test.go
  aws/resource_aws_waf_ipset_test.go
  aws/resource_aws_waf_rate_based_rule_test.go
  aws/resource_aws_waf_regex_match_set_test.go
  aws/resource_aws_waf_regex_pattern_set_test.go
  aws/resource_aws_waf_rule_group_test.go
  aws/resource_aws_waf_rule_test.go
  aws/resource_aws_waf_size_constraint_set_test.go
  aws/resource_aws_waf_sql_injection_match_set_test.go
  aws/resource_aws_waf_web_acl_test.go
  aws/resource_aws_waf_xss_match_set_test.go
Labels: service/waf, size/XL, tests

#19820 Check VpcSettings and ConnectSettings for nil values
  .changelog/19820.txt
  aws/data_source_aws_directory_service_directory.go
Labels: service/directoryservice, size/XS

#19426 aws_route(_table): Wrap CRUD operations on route tables and routes in retries
  .changelog/19426.txt
  .semgrep.yml
  aws/diff_suppress_funcs.go
  aws/ec2_transit_gateway.go
  aws/internal/net/cidr.go
  aws/internal/net/cidr_test.go
  aws/internal/service/ec2/enum.go
  aws/internal/service/ec2/errors.go
  aws/internal/service/ec2/finder/finder.go
  aws/internal/service/ec2/id.go
  aws/internal/service/ec2/waiter/status.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/internal/tfresource/errors_test.go
  aws/internal/tfresource/retry.go
  aws/internal/tfresource/retry_test.go
  aws/resource_aws_default_route_table.go
  aws/resource_aws_default_route_table_test.go
  aws/resource_aws_main_route_table_association.go
  aws/resource_aws_main_route_table_association_test.go
  aws/resource_aws_route.go
  aws/resource_aws_route_table.go
  aws/resource_aws_route_table_association.go
  aws/resource_aws_route_table_association_test.go
  aws/resource_aws_route_table_test.go
  aws/resource_aws_vpc_endpoint.go
  aws/resource_aws_vpc_endpoint_route_table_association.go
  aws/resource_aws_vpc_endpoint_route_table_association_test.go
  aws/resource_aws_vpc_endpoint_subnet_association.go
  aws/resource_aws_vpc_endpoint_subnet_association_test.go
  aws/resource_aws_vpc_endpoint_test.go
  aws/resource_aws_wafv2_ip_set.go
  aws/validators.go
  aws/validators_test.go
Labels: bug, service/ec2, size/XL, tests

#19867 r/codedeploy_app: Fix, parallelize sweeper
  aws/aws_sweeper_test.go
  aws/resource_aws_codedeploy_app_test.go
Labels: service/codedeploy, size/S, tests

#19876 Update aws_lb_target_group target type validation to use values array
  aws/resource_aws_lb_target_group.go
Labels: service/elbv2, size/XS

#19746 Update DNSSEC docs to a working example
  website/docs/r/route53_hosted_zone_dnssec.html.markdown
  website/docs/r/route53_key_signing_key.html.markdown
Labels: documentation, needs-triage, size/S

#19833 d/resource_cloudfront_cache_policy - fix bullet formatting for config/items
  website/docs/r/cloudfront_cache_policy.html.markdown
Labels: documentation, service/cloudfront, size/XS

#19885 Improve Route 53 resource code comments
  aws/resource_aws_route53_record.go
Labels: service/route53, size/XS

#19866 sweepers/subnet: add networkfirewall firewall to dependencies
  aws/resource_aws_subnet_test.go
Labels: size/XS, technical-debt

#19869 tests/apprunner_service: update tests to use existing image in ECR (previous one dne)
  aws/resource_aws_apprunner_service_test.go
Labels: service/apprunner, size/S, tests

#19873 sweepers/apprunner_autoscaling_configuration_version: skip default configs
  aws/resource_aws_apprunner_auto_scaling_configuration_version_test.go
Labels: service/apprunner, size/XS, tests

#19879 sweepers/imagebuilder_image: find image builder version arns + concurrency
  aws/resource_aws_imagebuilder_image_test.go
Labels: size/M

#19887 sweeper/backup_vault_notifications: use paginated func and add concurrency
  aws/resource_aws_backup_vault_notifications_test.go
Labels: service/backup, size/M, tests

#19877 sweeper/aws_iam_instance_profile: Instance profiles fail to delete with attached roles
  aws/resource_aws_iam_instance_profile_test.go
  aws/resource_aws_iam_role_test.go
Labels: service/iam, size/M, tests

#19886 sweeper/backup_vault: add sweeper with concurrency
  aws/resource_aws_backup_vault.go
  aws/resource_aws_backup_vault_test.go
Labels: service/backup, size/M, tests

#19899 r/neptune_cluster - add `copy_snapshot_to_tags` and refactor to use waiters
  .changelog/19899.txt
  aws/internal/service/neptune/waiter/status.go
  aws/internal/service/neptune/waiter/waiter.go
  aws/resource_aws_neptune_cluster.go
  aws/resource_aws_neptune_cluster_test.go
  website/docs/r/neptune_cluster.html.markdown
Labels: documentation, enhancement, service/neptune, size/XL, tests

#19898 r/neptune_cluster_endpoint - new resource
  .changelog/19898.txt
  aws/internal/service/neptune/finder/finder.go
  aws/internal/service/neptune/id.go
  aws/internal/service/neptune/waiter/status.go
  aws/internal/service/neptune/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_neptune_cluster_endpoint.go
  aws/resource_aws_neptune_cluster_endpoint_test.go
  website/docs/r/neptune_cluster_endpoint.html.markdown
Labels: documentation, new-resource, provider, service/neptune, size/XL, tests

#19743 r/glue_catalog_database - set `location_uri` to computed
  .changelog/19743.txt
  aws/resource_aws_glue_catalog_database.go
  aws/resource_aws_glue_catalog_database_test.go
Labels: bug, service/glue, size/S, tests

#19742 r/glue_catalog_table - fix update for `schema_reference`
  .changelog/19742.txt
  aws/resource_aws_glue_catalog_table.go
  aws/resource_aws_glue_catalog_table_test.go
Labels: bug, service/glue, size/XS, tests

#19875 tests/r/route53_zone: Add sweeper
  aws/aws_sweeper_test.go
  aws/internal/service/route53/waiter/waiter.go
  aws/internal/tfresource/retry.go
  aws/internal/tfresource/retry_test.go
  aws/resource_aws_route53_key_signing_key.go
  aws/resource_aws_route53_key_signing_key_test.go
  aws/resource_aws_route53_record.go
  aws/resource_aws_route53_zone.go
  aws/resource_aws_route53_zone_test.go
Labels: service/route53, size/XL, tests

#19503 ds/servicecatalog_product: New data source
  .changelog/19503.txt
  aws/data_source_aws_servicecatalog_product.go
  aws/data_source_aws_servicecatalog_product_test.go
  aws/provider.go
  website/docs/d/servicecatalog_product.html.markdown
Labels: documentation, provider, service/servicecatalog, size/L, tests

#19497 r/aws_elasticsearch_domain_saml_options: New resource
  .changelog/19497.txt
  aws/elasticsearch_domain_structure.go
  aws/provider.go
  aws/resource_aws_elasticsearch_domain_saml_options.go
  aws/resource_aws_elasticsearch_domain_saml_options_test.go
  website/docs/r/elasticsearch_domain_saml_options.html.markdown
Labels: documentation, needs-triage, provider, service/elasticsearch, size/XL, tests

#16874 adds an event bus policy resource
  aws/provider.go
  aws/resource_aws_cloudwatch_event_bus_policy.go
  aws/resource_aws_cloudwatch_event_bus_policy_test.go
  website/docs/r/cloudwatch_event_bus_policy.html.markdown
Labels: documentation, new-resource, provider, service/cloudwatchevents, service/eventbridge, size/XL, tests

#19925 Add CHANGELOG entry for #16874
  .changelog/16874.txt
Labels: size/XS

#18102 adding support for app cookie stickiness
  .changelog/18102.txt
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lb_target_group_test.go
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, needs-triage, service/elbv2, size/L, tests

#19144 EKS supports adding KMS envelope encryption to existing clusters
  .changelog/19144.txt
  aws/data_source_aws_eks_addon.go
  aws/data_source_aws_eks_cluster.go
  aws/data_source_aws_eks_cluster_test.go
  aws/internal/service/amplify/waiter/waiter.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/internal/service/eks/enum.go
  aws/internal/service/eks/finder/finder.go
  aws/internal/service/eks/id.go
  aws/internal/service/eks/waiter/status.go
  aws/internal/service/eks/waiter/waiter.go
  aws/internal/tfresource/errors.go
  aws/internal/tfresource/errors_test.go
  aws/resource_aws_eks_addon.go
  aws/resource_aws_eks_addon_test.go
  aws/resource_aws_eks_cluster.go
  aws/resource_aws_eks_cluster_test.go
  aws/resource_aws_eks_fargate_profile.go
  aws/resource_aws_eks_fargate_profile_test.go
  aws/resource_aws_eks_node_group.go
  aws/resource_aws_eks_node_group_test.go
Labels: service/amplify, service/ec2, service/eks, size/XL, tests

#18006 Add efs_file_system_backup_policy resource
  .changelog/18006.txt
  aws/internal/service/efs/finder/finder.go
  aws/internal/service/efs/waiter/status.go
  aws/internal/service/efs/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_backup_vault.go
  aws/resource_aws_backup_vault_test.go
  aws/resource_aws_efs_backup_policy.go
  aws/resource_aws_efs_backup_policy_test.go
  website/docs/r/efs_backup_policy.html.markdown
Labels: documentation, provider, service/backup, service/efs, size/XL, tests

#19934 tests/sweeper/route53_zone: Protect domain
  aws/resource_aws_route53_zone_test.go
Labels: service/route53, size/XS, tests

#19854 r/aws_backup_vault_policy: sweeper should not fail on AccessDeniedException
  .changelog/19749.txt
  .changelog/19854.txt
  aws/internal/service/backup/errors.go
  aws/internal/service/backup/finder/finder.go
  aws/resource_aws_backup_vault_policy.go
  aws/resource_aws_backup_vault_policy_test.go
Labels: service/backup, size/L, tests

#19927 lakeformation_permissions: Clarify principal in docs
  website/docs/r/lakeformation_permissions.html.markdown
Labels: documentation, service/lakeformation, size/XS

#19937 r/route53_zone: Add a new protected TLD
  aws/resource_aws_route53_zone_test.go
Labels: service/route53, size/XS, tests

#17807 github: Add labels, colors
  infrastructure/repository/labels-partition.tf
  infrastructure/repository/labels-service.tf
  infrastructure/repository/labels-workflow.tf
Labels: provider, size/S

#16942 resource/aws_ecs_capacity_provider: Add support for ECS capacity provider update
  .changelog/16942.txt
  aws/internal/service/ecs/finder/finder.go
  aws/internal/service/ecs/lister/list.go
  aws/internal/service/ecs/lister/list_pages_gen.go
  aws/internal/service/ecs/waiter/status.go
  aws/internal/service/ecs/waiter/waiter.go
  aws/resource_aws_ecs_capacity_provider.go
  aws/resource_aws_ecs_capacity_provider_test.go
Labels: enhancement, service/ecs, size/XL, tests

#19951 infrastructure: Fix github config
  infrastructure/repository/main.tf
Labels: provider, size/XS

#19955 Fix crash in lb_target_group data source.
  .changelog/18102.txt
  aws/data_source_aws_lb_target_group.go
  aws/data_source_aws_lb_target_group_test.go
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lb_target_group_test.go
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, service/elbv2, size/L, tests

#19572 ds/servicecatalog_launch_paths: New data source
  .changelog/19572.txt
  aws/data_source_aws_servicecatalog_launch_paths.go
  aws/data_source_aws_servicecatalog_launch_paths_test.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  website/docs/d/servicecatalog_launch_paths.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XL, tests

#19971 Fix campaign_hook argument description for the pinpoint_app resource.
  website/docs/r/pinpoint_app.markdown
Labels: documentation, service/pinpoint, size/XS

#15801 Updating port numbers in custom service endpoints documentation
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/S

#19918 Document tweaks for the CloudWatch metric stream resource
  website/docs/r/cloudwatch_metric_stream.html.markdown
Labels: documentation, service/cloudwatch, size/XS

#19969 Correct typo
  website/docs/r/elasticsearch_domain_saml_options.html.markdown
Labels: documentation, service/elasticsearch, size/XS

#19959 Fix typo in aws_autoscaling_attachment target group attachment example.
  website/docs/r/autoscaling_attachment.html.markdown
Labels: documentation, service/autoscaling, size/XS

#19913 Fixed description of role_arn attribute of aws_cloudwatch_event_target
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, service/cloudwatchevents, service/eventbridge, size/XS

#19946 Check target blocks are not nil
  .changelog/19946.txt
  aws/resource_aws_cloudwatch_event_target.go
Labels: service/cloudwatchevents, service/eventbridge, size/XS

#19957 d/aws_iam_session_context: New data source
  .changelog/19957.txt
  aws/data_source_aws_caller_identity.go
  aws/data_source_aws_iam_session_context.go
  aws/data_source_aws_iam_session_context_test.go
  aws/internal/service/iam/finder/finder.go
  aws/provider.go
  website/docs/d/caller_identity.html.markdown
  website/docs/d/iam_session_context.markdown
Labels: documentation, provider, service/iam, service/sts, size/XL, tests

#19970 r/fsx_windows_file_system - add `audit_log_configuration`
  .changelog/19970.txt
  aws/resource_aws_fsx_windows_file_system.go
  aws/resource_aws_fsx_windows_file_system_test.go
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, enhancement, service/fsx, size/L, tests

#20005 Fix typo in aws_lambda_function resource
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda, size/XS

#19994 r/aws_mwaa_environment: Changing the KMS key used by MWAA should force recreation of the Airflow environment
  .changelog/19994.txt
  aws/resource_aws_mwaa_environment.go
Labels: service/mwaa, size/XS

#20001 tests/d/servicecat_launch_paths: Fix for assumed role
  aws/data_source_aws_servicecatalog_launch_paths_test.go
Labels: service/servicecatalog, size/XS, tests

#19459 r/servicecatalog_provisioned_product: New resource
  .changelog/19459.txt
  aws/internal/keyvaluetags/servicecatalog_tags.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_servicecatalog_provisioned_product.go
  aws/resource_aws_servicecatalog_provisioned_product_test.go
  website/docs/r/servicecatalog_product.html.markdown
  website/docs/r/servicecatalog_provisioned_product.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XL, size/XXL, tests

#19813 d/servicecatalog_portfolio_constraints: New data source
  .changelog/19813.txt
  aws/data_source_aws_servicecatalog_constraint.go
  aws/data_source_aws_servicecatalog_portfolio_constraints.go
  aws/data_source_aws_servicecatalog_portfolio_constraints_test.go
  aws/internal/service/servicecatalog/id.go
  aws/internal/service/servicecatalog/waiter/status.go
  aws/internal/service/servicecatalog/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_servicecatalog_constraint.go
  website/docs/d/servicecatalog_portfolio_constraints.html.markdown
Labels: documentation, provider, service/servicecatalog, size/XL, tests

#18083 Add aws_cloudfront_monitoring_subscription resource
  .changelog/18083.txt
  aws/internal/service/cloudfront/finder/finder.go
  aws/provider.go
  aws/resource_aws_cloudfront_monitoring_subscription.go
  aws/resource_aws_cloudfront_monitoring_subscription_test.go
  website/docs/r/cloudfront_monitoring_subscription.html.markdown
Labels: documentation, needs-triage, provider, service/cloudfront, size/XL, tests
