Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-09, with the labels that each got.

#20753 Run `go get github.com/zclconf/go-cty/cty/msgpack@v1.9.0`
  go.mod
  go.sum
Labels: size/XS

#20754 Fix `go.mod`/`go.sum` inconsistencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Labels: size/M

#3538 Force Delete Service Discovery Service
  .changelog/3538.txt
  aws/data_source_aws_service_discovery_dns_namespace_test.go
  aws/internal/service/servicediscovery/finder/finder.go
  aws/internal/service/servicediscovery/waiter/status.go
  aws/internal/service/servicediscovery/waiter/waiter.go
  aws/resource_aws_service_discovery_http_namespace.go
  aws/resource_aws_service_discovery_http_namespace_test.go
  aws/resource_aws_service_discovery_private_dns_namespace.go
  aws/resource_aws_service_discovery_private_dns_namespace_test.go
  aws/resource_aws_service_discovery_public_dns_namespace.go
  aws/resource_aws_service_discovery_public_dns_namespace_test.go
  aws/resource_aws_service_discovery_service.go
  aws/resource_aws_service_discovery_service_test.go
  website/docs/r/service_discovery_service.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/servicediscovery

#17498 resource/aws_service_discovery_instance: new implementation
  .changelog/17498.txt
  aws/internal/service/servicediscovery/finder/finder.go
  aws/provider.go
  aws/resource_aws_service_discovery_http_namespace.go
  aws/resource_aws_service_discovery_instance.go
  aws/resource_aws_service_discovery_instance_test.go
  aws/resource_aws_service_discovery_private_dns_namespace.go
  aws/resource_aws_service_discovery_public_dns_namespace.go
  aws/resource_aws_service_discovery_service.go
  website/docs/r/service_discovery_instance.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/servicediscovery, provider

#20775 r/vpn_connection: replace `DescribeTransitGatewayAttachments` with paginated method
  .changelog/20775.txt
  aws/resource_aws_vpn_connection.go
Labels: enhancement, size/S, service/ec2

#18339 d - Add delete/destroy warning to aws_db_option_group resource page
  website/docs/r/db_option_group.html.markdown
Labels: documentation, size/XS, service/rds

#20758 docs/contributing: how to find undocumented new region values
  docs/contributing/contribution-checklists.md
Labels: documentation, size/XS, provider, needs-triage

#20828 Update vpc_id attribute description for aws_db_snapshot
  website/docs/r/db_snapshot.html.markdown
Labels: documentation, size/XS, service/rds

#20687 Add quicksight group membership resource
  .changelog/20687.txt
  aws/internal/service/quicksight/finder/finder.go
  aws/provider.go
  aws/resource_aws_quicksight_group_membership.go
  aws/resource_aws_quicksight_group_membership_test.go
  website/docs/r/quicksight_group_membership.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/quicksight

#20826 docs: Add missing account_id for CloudWatch cross account alarm
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, size/XS, service/cloudwatch

#20832 Fix `tfproviderdocs` error
  website/docs/r/db_option_group.html.markdown
Labels: documentation, size/XS, service/rds

#20667 Add new resource aws_chime_voice_connector_termination
  .changelog/20667.txt
  aws/config.go
  aws/provider.go
  aws/resource_aws_chime_voice_connector_termination.go
  aws/resource_aws_chime_voice_connector_termination_test.go
  website/docs/r/chime_voice_connector_termination.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/chime

#20676 F/aws chime voice connector origination
  .changelog/20676.txt
  aws/provider.go
  aws/resource_aws_chime_voice_connector_origination.go
  aws/resource_aws_chime_voice_connector_origination_test.go
  website/docs/r/chime_voice_connector_origination.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/chime

#20837 Move protocol to required section in SG doc
  website/docs/r/security_group.html.markdown
Labels: documentation, service/ec2

#20835 docs: Add link to the supported statistics for cloudwatch alarm
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, size/XS, service/cloudwatch

#20830 r/ec2_transit_gateway: replace `GetTransitGatewayRouteTablePropagations` with pagination method in ec2/finder
  aws/ec2_transit_gateway.go
  aws/internal/service/ec2/finder/finder.go
  aws/resource_aws_ec2_transit_gateway_route_table_propagation.go
  aws/resource_aws_ec2_transit_gateway_route_table_propagation_test.go
  aws/resource_aws_ec2_transit_gateway_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter.go
Labels: size/M, tests, service/ec2

#15991 Update cognito_identity_pool_roles_attachment.markdown
  website/docs/r/cognito_identity_pool_roles_attachment.markdown
Labels: size/XS, service/cognito, needs-triage

#20851 AWS Transfer support for Microsoft Active Directory (AD) authentication
  .changelog/20342.txt
  aws/internal/service/transfer/finder/finder.go
  aws/internal/service/transfer/id.go
  aws/internal/service/transfer/waiter/status.go
  aws/internal/service/transfer/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_directory_service_directory_test.go
  aws/resource_aws_transfer_access.go
  aws/resource_aws_transfer_access_test.go
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_server_test.go
  aws/resource_aws_transfer_test.go
  aws/resource_aws_transfer_user.go
  aws/resource_aws_transfer_user_test.go
  website/docs/r/transfer_access.html.markdown
  website/docs/r/transfer_server.html.markdown
Labels: documentation, size/XL, tests, service/directoryservice, provider, service/transfer

#20861 Extend MWAA create timeout to 2 hours
  .changelog/20861.txt
  aws/internal/service/mwaa/waiter/waiter.go
Labels: size/XS, service/mwaa

#20797 r/ec2_managed_prefix_list - allow updating `max_entries`
  .changelog/20797.txt
  aws/resource_aws_ec2_managed_prefix_list.go
  aws/resource_aws_ec2_managed_prefix_list_test.go
Labels: enhancement, size/XS, tests, service/ec2

#20795 r/route53_health_check - allow updating `ip_address` + sweeper
  .changelog/20795.txt
  aws/internal/service/route53/finder/finder.go
  aws/resource_aws_route53_health_check.go
  aws/resource_aws_route53_health_check_test.go
Labels: bug, enhancement, size/XL, tests, service/route53, sweeper

#20796 r/launch_template - add support for `http_protocol_ipv6 ` to `metadata_options`
  .changelog/20796.txt
  aws/internal/service/ec2/enum.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_launch_template_test.go
Labels: enhancement, size/M, tests, service/ec2

#20785 aws_iam_role name_prefix size
  .changelog/12436.txt
  .changelog/19532.txt
  .changelog/20785.txt
  aws/data_source_aws_iam_session_context.go
  aws/internal/service/iam/finder/finder.go
  aws/resource_aws_iam_role.go
  aws/resource_aws_iam_role_policy_attachment_test.go
  aws/resource_aws_iam_role_test.go
Labels: enhancement, size/XL, tests, service/iam

#20875 aws_networkfirewall_rule_group - add example in docs
  website/docs/r/networkfirewall_rule_group.html.markdown
Labels: documentation, size/S, service/networkfirewall

#20873 Use better ARN as an example for importing aws_imagebuilder_infrastructure_configuration
  website/docs/r/imagebuilder_infrastructure_configuration.html.markdown
Labels: documentation, size/XS, service/imagebuilder

#20800 AWS ConfigService KMS encryption support
  .changelog/20600.txt
  aws/resource_aws_config_delivery_channel.go
  aws/resource_aws_config_delivery_channel_test.go
  website/docs/r/config_delivery_channel.html.markdown
Labels: enhancement, documentation, size/S, tests, service/configservice

#20838 BugFix: Add bypass_file_system_lockout_safety_check to efs efs_file_system_policy
  .changelog/20838.txt
  aws/internal/service/efs/finder/finder.go
  aws/resource_aws_efs_file_system_policy.go
  aws/resource_aws_efs_file_system_policy_test.go
  website/docs/r/efs_file_system_policy.html.markdown
Labels: enhancement, documentation, size/L, tests, service/efs

#20840 Remove invalid maintenance_window attribute from aws_docdb_cluster
  website/docs/r/docdb_cluster.html.markdown
Labels: documentation, size/XS, service/docdb

#20844 Update max_instance_lifetime limit
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#20842 Improve message of name validation error
  .changelog/20842.txt
  aws/resource_aws_imagebuilder_distribution_configuration.go
Labels: bug, size/XS, service/imagebuilder

#20791 configuration_set on aws_cognito_user_pool always detected as a change
  aws/resource_aws_cognito_user_pool.go
Labels: bug, size/XS, service/cognito

#20879 Update DMS documentation to add dependencies.
  website/docs/r/dms_replication_instance.html.markdown
Labels: documentation, size/XS, service/databasemigrationservice

#20881 D aws storagegateway smb file share
  website/docs/r/storagegateway_smb_file_share.html.markdown
Labels: documentation, size/XS, service/storagegateway

#19368 r/aws_cloudtrail - add support for advanced event selectors
  .changelog/19368.txt
  aws/internal/service/cloudtrail/enum.go
  aws/resource_aws_cloudtrail.go
  aws/resource_aws_cloudtrail_test.go
  website/docs/r/cloudtrail.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/cloudtrail

#20846 resource/aws_ec2_client_vpn_endpoint: add self service portal options
  .changelog/17897.txt
  aws/resource_aws_ec2_client_vpn_endpoint.go
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
  website/docs/r/ec2_client_vpn_endpoint.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ec2

#20779 r/db_instance - fix update for `license_model`
  .changelog/20779.txt
  aws/resource_aws_db_instance.go
  aws/resource_aws_db_instance_test.go
Labels: bug, size/M, tests, service/rds

#20809 r/sagemaker_endpoint_config - add support for `async_inference_config`
  .changelog/20809.txt
  aws/internal/service/sagemaker/finder/finder.go
  aws/resource_aws_sagemaker_endpoint_configuration.go
  aws/resource_aws_sagemaker_endpoint_configuration_test.go
  aws/resource_aws_sagemaker_test.go
  website/docs/r/sagemaker_endpoint_configuration.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/sagemaker

#20874 r/efs_file_system - support transition to primary storage class
  .changelog/20874.txt
  aws/internal/service/efs/finder/finder.go
  aws/internal/service/efs/waiter/status.go
  aws/internal/service/efs/waiter/waiter.go
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_efs_file_system_test.go
  website/docs/r/efs_file_system.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/efs

#20883 d/aws_eks_clusters: New data source
  .changelog/20315.txt
  aws/data_source_aws_eks_clusters.go
  aws/data_source_aws_eks_clusters_test.go
  aws/provider.go
  website/docs/d/eks_clusters.html.markdown
Labels: documentation, size/M, tests, provider, service/eks

#20884 Added internal url references for sections in the doc
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#14829 Add examples of aws_iam_access_key v3 upgrade paths
  website/docs/guides/version-3-upgrade.html.md
Labels: enhancement, documentation, size/XS

#14805 Add another example of upgrading aws_acm_certificate from v2 to v3
  website/docs/guides/version-3-upgrade.html.md
Labels: enhancement, documentation, size/M

#13564 data-source/aws_eks_node_group
  .changelog/13564.txt
  aws/data_source_aws_eks_clusters.go
  aws/data_source_aws_eks_node_group.go
  aws/data_source_aws_eks_node_group_test.go
  aws/data_source_aws_eks_node_groups.go
  aws/data_source_aws_eks_node_groups_test.go
  aws/provider.go
  website/docs/d/eks_node_group.html.markdown
  website/docs/d/eks_node_groups.html.markdown
Labels: documentation, new-data-source, size/XL, tests, provider, service/eks

#20896 Fix simple typo in cognito_user_pool docs
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, size/XS, service/cognito

#20863 F/aws chime voice connector logging
  .changelog/20863.txt
  aws/provider.go
  aws/resource_aws_chime_voice_connector_logging.go
  aws/resource_aws_chime_voice_connector_logging_test.go
  aws/resource_aws_chime_voice_connector_termination_test.go
  website/docs/r/chime_voice_connector_logging.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/chime

#20905 Correct non-tags change detection
  .semgrep.yml
  aws/resource_aws_elasticache_user.go
  aws/resource_aws_elasticache_user_group.go
  aws/resource_aws_elasticache_user_group_test.go
  aws/resource_aws_neptune_cluster_endpoint.go
  aws/resource_aws_sagemaker_device_fleet.go
  aws/resource_aws_sagemaker_workteam.go
  aws/resource_aws_sagemaker_workteam_test.go
Labels: size/S, tests, service/sagemaker, service/elasticache, technical-debt, service/neptune, linter

#20923 waf_web_acl: add hint on the example
  website/docs/r/waf_web_acl.html.markdown
Labels: documentation, size/XS, service/waf

#20919 docs: add note on lambda retry config
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/XS, service/lambda

#20916 Update documentation for aws cloudfront key group
  website/docs/r/cloudfront_key_group.html.markdown
Labels: documentation, size/XS, service/cloudfront

#20928 documentation/Move invalid second target tracking block
  website/docs/r/autoscaling_policy.html.markdown
Labels: documentation, size/XS, service/autoscaling

#14874 Added lifecycle ignore_changes stanza to example usage
  website/docs/r/route53_vpc_association_authorization.html.markdown
Labels: documentation, size/XS, service/route53

#20929 Fix AppRunner Documentation: Valid values are PYTHON_3 / NODEJS_12, not python3 / nodejs12
  website/docs/r/apprunner_service.html.markdown
Labels: documentation, size/XS, service/apprunner

#20914 resource/aws_kms_key: Updates policy and tag propagation time to 5 minutes
  .changelog/20914.txt
  aws/internal/service/kms/waiter/waiter.go
  aws/resource_aws_kms_key.go
Labels: size/XS, service/kms

#20615 Add New MSK Broker Node Data Resource
  .changelog/20615.txt
  aws/data_source_aws_msk_broker_nodes.go
  aws/data_source_aws_msk_broker_nodes_test.go
  aws/data_source_aws_msk_cluster_test.go
  aws/provider.go
  website/docs/d/msk_broker_nodes.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/kafka

#20638 Add msk_kafka_version data source
  .changelog/20638.txt
  aws/data_source_aws_msk_kafka_version.go
  aws/data_source_aws_msk_kafka_version_test.go
  aws/provider.go
  website/docs/d/msk_kafka_version.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/kafka

#20952 r/cognito_user_pool - remove lambda config
  .changelog/20952.txt
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
Labels: bug, size/XS, tests, service/cognito

#14627 Fix Kafka subnet ordering diff
  .changelog/14627.txt
  .changelog/15661.txt
  .changelog/17726.txt
  aws/data_source_aws_msk_cluster.go
  aws/data_source_aws_msk_cluster_test.go
  aws/internal/service/kafka/enum.go
  aws/internal/service/kafka/finder/finder.go
  aws/internal/service/kafka/sort.go
  aws/internal/service/kafka/sort_test.go
  aws/internal/service/kafka/waiter/status.go
  aws/internal/service/kafka/waiter/waiter.go
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_msk_cluster_test.go
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, size/XL, tests, service/kafka

#20825 r/sagemaker_flow_definition
  .changelog/20825.txt
  aws/internal/service/sagemaker/finder/finder.go
  aws/internal/service/sagemaker/waiter/status.go
  aws/internal/service/sagemaker/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_sagemaker_flow_definition.go
  aws/resource_aws_sagemaker_flow_definition_test.go
  aws/resource_aws_sagemaker_test.go
  website/docs/r/sagemaker_flow_definition.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/sagemaker, provider

#20933 Add new chime_voice_connector_streaming resource
  .changelog/20933.txt
  aws/provider.go
  aws/resource_aws_chime_voice_connector_streaming.go
  aws/resource_aws_chime_voice_connector_streaming_test.go
  website/docs/r/chime_voice_connector_streaming.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/chime

#20980 Fix AWS EKS node groups example docs
  website/docs/d/eks_node_groups.html.markdown
Labels: documentation, size/XS, service/eks

#20987 Fix formatting
  aws/internal/generators/listpages/main.go
  aws/internal/keyvaluetags/generators/createtags/main.go
  aws/internal/keyvaluetags/generators/gettag/main.go
  aws/internal/keyvaluetags/generators/listtags/main.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/iam_tags.go
  aws/internal/keyvaluetags/inspector_tags.go
  aws/internal/keyvaluetags/s3_tags.go
  aws/internal/keyvaluetags/s3control_tags.go
  aws/internal/keyvaluetags/servicecatalog_tags.go
  aws/internal/namevaluesfilters/ec2_filters.go
  aws/internal/namevaluesfilters/generators/servicefilters/main.go
  aws/internal/tagresource/generator/main.go
  tools/main.go
Labels: size/XS

#20889 docs: update outdated info regarding dns resolution for inter-region VPC peering
  website/docs/r/vpc_peering_connection.html.markdown
Labels: documentation, size/XS, service/ec2

#20951 r/fsx_ontap_filesystem - new resource
  .changelog/20951.txt
  aws/internal/service/fsx/finder/finder.go
  aws/internal/service/fsx/waiter/status.go
  aws/internal/service/fsx/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_fsx_lustre_file_system.go
  aws/resource_aws_fsx_ontap_file_system.go
  aws/resource_aws_fsx_ontap_file_system_test.go
  aws/resource_aws_fsx_windows_file_system.go
  aws/resource_aws_subnet_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
  website/docs/r/fsx_ontap_file_system.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/fsx

#20543 New resource for AppStream Fleet
  .changelog/20543.txt
  aws/data_source_aws_iam_group_test.go
  aws/data_source_aws_iam_role_test.go
  aws/internal/service/appstream/finder/finder.go
  aws/internal/service/appstream/waiter/status.go
  aws/internal/service/appstream/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_appstream_fleet.go
  aws/resource_aws_appstream_fleet_test.go
  aws/resource_aws_codestarconnections_host_test.go
  aws/resource_aws_sqs_queue_policy_test.go
  website/docs/r/appstream_fleet.html.markdown
  website/docs/r/secretsmanager_secret.html.markdown
  website/docs/r/secretsmanager_secret_rotation.html.markdown
Labels: documentation, size/XL, tests, service/iam, service/sqs, provider, service/appstream, service/secretsmanager, service/codestarconnections

#20997 Remove Bill from docs and workflows after his departure
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/issues.yml
  .github/workflows/project.yml
  .github/workflows/pull_requests.yml
  docs/FAQ.md
Labels: documentation, size/XS, tests, provider

#16709 r/aws_connect_instance - add new resource
  .changelog/16709.txt
  aws/data_source_aws_connect_instance.go
  aws/data_source_aws_connect_instance_test.go
  aws/internal/service/connect/enum.go
  aws/internal/service/connect/errors.go
  aws/internal/service/connect/waiter/status.go
  aws/internal/service/connect/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_connect_instance.go
  aws/resource_aws_connect_instance_test.go
  website/docs/d/connect_instance.html.markdown
  website/docs/r/connect_instance.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, size/XXL, tests, provider, service/connect

#16854 r/aws_connect_contact_flow - add new resource
  .changelog/16854.txt
  aws/data_source_aws_connect_contact_flow.go
  aws/data_source_aws_connect_contact_flow_test.go
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/internal/service/connect/enum.go
  aws/internal/service/connect/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_connect_contact_flow.go
  aws/resource_aws_connect_contact_flow_test.go
  aws/testdata/service/connect/connect_contact_flow.json
  aws/testdata/service/connect/connect_contact_flow_updated.json
  website/docs/d/connect_contact_flow.html.markdown
  website/docs/r/connect_contact_flow.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, size/XXL, tests, provider, service/connect

#21008 handle http_protocol_ipv6 metadata in data_source_launch_template
  .changelog/21008.txt
  aws/data_source_aws_launch_template.go
  aws/data_source_aws_launch_template_test.go
Labels: bug, regression, size/XS, tests, service/ec2

#19394 Creating aws_ec2_managed_prefix_list_entry resource
  .changelog/19394.txt
  aws/internal/service/ec2/finder/finder.go
  aws/internal/service/ec2/id.go
  aws/internal/service/ec2/waiter/status.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_ec2_managed_prefix_list.go
  aws/resource_aws_ec2_managed_prefix_list_entry.go
  aws/resource_aws_ec2_managed_prefix_list_entry_test.go
  aws/resource_aws_ec2_managed_prefix_list_test.go
  website/docs/r/ec2_managed_prefix_list.html.markdown
  website/docs/r/ec2_managed_prefix_list_entry.html.markdown
Labels: documentation, size/XL, tests, service/ec2, provider

#15167 feature: new datasource cloudfront_canonical_user_id
  .changelog/15167.txt
  aws/data_source_aws_cloudfront_log_delivery_canonical_user_id.go
  aws/data_source_aws_cloudfront_log_delivery_canonical_user_id_test.go
  aws/internal/tfresource/errors.go
  aws/provider.go
  website/docs/d/cloudfront_log_delivery_canonical_user_id.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/cloudfront, provider

#10817 Add aws_dedicated_host for terraform-provider-aws
  .changelog/10817.txt
  aws/data_source_aws_ec2_host.go
  aws/data_source_aws_ec2_host_test.go
  aws/internal/service/ec2/errors.go
  aws/internal/service/ec2/finder/finder.go
  aws/internal/service/ec2/waiter/status.go
  aws/internal/service/ec2/waiter/waiter.go
  aws/internal/tfresource/not_found_error.go
  aws/provider.go
  aws/resource_aws_ec2_host.go
  aws/resource_aws_ec2_host_test.go
  aws/resource_aws_ec2_managed_prefix_list.go
  website/docs/d/ec2_host.html.markdown
  website/docs/r/ec2_host.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, service/ec2, provider

#21037 r/sagemaker_app_image_config - tagging support
  .changelog/21037.txt
  aws/resource_aws_sagemaker_app_image_config.go
  aws/resource_aws_sagemaker_app_image_config_test.go
  website/docs/r/sagemaker_app_image_config.html.markdown
Labels: enhancement, documentation, size/M, tests, service/sagemaker

#21041 r/sagemaker_studio_lifecycle_config - new resource + usage in domain and user profile
  .changelog/21041.txt
  aws/internal/service/sagemaker/finder/finder.go
  aws/provider.go
  aws/resource_aws_sagemaker_domain.go
  aws/resource_aws_sagemaker_domain_test.go
  aws/resource_aws_sagemaker_studio_lifecycle_config.go
  aws/resource_aws_sagemaker_studio_lifecycle_config_test.go
  aws/resource_aws_sagemaker_test.go
  aws/resource_aws_sagemaker_user_profile.go
  aws/resource_aws_sagemaker_user_profile_test.go
  website/docs/r/sagemaker_domain.html.markdown
  website/docs/r/sagemaker_studio_lifecycle_config.html.markdown
  website/docs/r/sagemaker_user_profile.html.markdown
Labels: documentation, size/XL, tests, service/sagemaker, provider

#18445 Add data source for Kinesis Firehose Delivery Stream.
  .changelog/18445.txt
  aws/data_source_aws_kinesis_firehose_delivery_stream.go
  aws/data_source_aws_kinesis_firehose_delivery_stream_test.go
  aws/internal/service/firehose/finder/finder.go
  aws/internal/service/firehose/waiter/status.go
  aws/internal/service/firehose/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesis_firehose_delivery_stream_test.go
  website/docs/d/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/firehose, provider

#21048 add description about http_protocol_ipv6
  website/docs/d/launch_template.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XS, service/ec2

#14671 r/iot_authorizer - new resource
  aws/internal/service/iot/finder/iot.go
  aws/provider.go
  aws/resource_aws_iot_authorizer.go
  aws/resource_aws_iot_authorizer_test.go
  aws/test-fixtures/iot-authorizer-signing-key.pem
  website/docs/r/iot_authorizer.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/iot, provider

#21062 r/aws_route_table_association: Wait for 40 NotFoundChecks
  .changelog/21062.txt
  aws/internal/service/ec2/waiter/waiter.go
Labels: size/XS, service/ec2

#21071 Add missing CHANGELOG entry for #14671
  .changelog/14671.txt
Labels: size/XS

#21084 fix: use `resource.Test` in serialized connect resource tests
  aws/resource_aws_connect_contact_flow_test.go
  aws/resource_aws_connect_instance_test.go
Labels: size/XS, tests, service/connect

#13474 Add `aws_redshift_scheduled_action` resource
  .changelog/13474.txt
  aws/internal/service/redshift/errors.go
  aws/internal/service/redshift/finder/finder.go
  aws/provider.go
  aws/resource_aws_iam_role_test.go
  aws/resource_aws_redshift_scheduled_action.go
  aws/resource_aws_redshift_scheduled_action_test.go
  go.mod
  website/docs/r/redshift_scheduled_action.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/iam, service/redshift, provider

#21077 provider: Add HTTP proxy setting
  .changelog/21077.txt
  aws/config.go
  aws/provider.go
  go.mod
  go.sum
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider

#21085 DirectConnect Connection & LAG: `provider_name` -> Computed
  .changelog/21085.txt
  aws/resource_aws_dx_connection.go
  aws/resource_aws_dx_lag.go
Labels: bug, regression, size/XS, service/directconnect

#20970 Serialize Transit Gateway tests
  aws/data_source_aws_ec2_transit_gateway_dx_gateway_attachment_test.go
  aws/data_source_aws_ec2_transit_gateway_peering_attachment_test.go
  aws/data_source_aws_ec2_transit_gateway_route_table_test.go
  aws/data_source_aws_ec2_transit_gateway_route_tables_test.go
  aws/data_source_aws_ec2_transit_gateway_test.go
  aws/data_source_aws_ec2_transit_gateway_vpc_attachment_test.go
  aws/data_source_aws_ec2_transit_gateway_vpn_attachment_test.go
  aws/resource_aws_ec2_transit_gateway_peering_attachment_accepter_test.go
  aws/resource_aws_ec2_transit_gateway_peering_attachment_test.go
  aws/resource_aws_ec2_transit_gateway_prefix_list_reference_test.go
  aws/resource_aws_ec2_transit_gateway_route_table_association_test.go
  aws/resource_aws_ec2_transit_gateway_route_table_propagation_test.go
  aws/resource_aws_ec2_transit_gateway_route_table_test.go
  aws/resource_aws_ec2_transit_gateway_route_test.go
  aws/resource_aws_ec2_transit_gateway_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter_test.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_test.go
Labels: size/XL, tests, service/ec2, technical-debt

#21036 New resource for AppStream ImageBuilder
  .changelog/21036.txt
  aws/internal/service/appstream/finder/finder.go
  aws/internal/service/appstream/lister/list.go
  aws/internal/service/appstream/lister/list_pages_gen.go
  aws/internal/service/appstream/waiter/status.go
  aws/internal/service/appstream/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_appstream_image_builder.go
  aws/resource_aws_appstream_image_builder_test.go
  website/docs/r/appstream_image_builder.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/appstream

#21091 Add support for AWS Lambda Functions powered by AWS Graviton2 processors
  .changelog/21091.txt
  aws/data_source_aws_lambda_function.go
  aws/data_source_aws_lambda_function_test.go
  aws/data_source_aws_lambda_layer_version.go
  aws/data_source_aws_lambda_layer_version_test.go
  aws/resource_aws_lambda_function.go
  aws/resource_aws_lambda_function_test.go
  aws/resource_aws_lambda_layer_version.go
  aws/resource_aws_lambda_layer_version_test.go
  website/docs/d/lambda_function.html.markdown
  website/docs/d/lambda_layer_version.html.markdown
  website/docs/r/lambda_function.html.markdown
  website/docs/r/lambda_layer_version.html.markdown
Labels: documentation, size/XL, tests, service/lambda, needs-triage

#21093 add quicksight data source resource
  .changelog/20710.txt
  aws/internal/service/quicksight/waiter/status.go
  aws/internal/service/quicksight/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_quicksight_data_source.go
  aws/resource_aws_quicksight_data_source_test.go
  website/docs/r/quicksight_data_source.html.markdown
Labels: documentation, size/XL, tests, provider, service/quicksight

#21103 Correct CHANGELOG format
  .changelog/21091.txt
Labels: size/XS

#21074 r/aws_db_event_subscription: Use waiters package
  aws/internal/service/rds/enum.go
  aws/internal/service/rds/finder/finder.go
  aws/internal/service/rds/waiter/status.go
  aws/internal/service/rds/waiter/waiter.go
  aws/internal/tfresource/retry.go
  aws/resource_aws_db_event_subscription.go
  aws/resource_aws_db_event_subscription_test.go
Labels: size/XL, tests, service/rds, technical-debt

#21053 d/db_proxy - new data source
  .changelog/21053.txt
  aws/data_source_aws_db_proxy.go
  aws/data_source_aws_db_proxy_test.go
  aws/internal/service/rds/finder/finder.go
  aws/provider.go
  website/docs/d/db_proxy.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/rds, provider

#20955 Clarify S3 bucket name restrictions
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, size/XS, service/s3

#21111 Fix depends_on in securityhub_invite_accepter
  website/docs/r/securityhub_invite_accepter.markdown
Labels: documentation, size/XS, service/securityhub

#9615 Add datasource ssm_parameters_by_path
  .changelog/9615.txt
  aws/data_source_aws_ssm_parameters_by_path.go
  aws/data_source_aws_ssm_parameters_by_path_test.go
  aws/provider.go
  website/docs/d/ssm_parameters_by_path.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/ssm, provider

#21110 New resource and data source `aws_cloudcontrolapi_resource`
  .changelog/21110.txt
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  aws/config.go
  aws/data_source_aws_cloudcontrolapi_resource.go
  aws/data_source_aws_cloudcontrolapi_resource_test.go
  aws/internal/service/cloudcontrol/finder/finder.go
  aws/internal/service/cloudcontrol/waiter/status.go
  aws/internal/service/cloudcontrol/waiter/waiter.go
  aws/internal/service/cloudformation/errors.go
  aws/internal/service/cloudformation/finder/finder.go
  aws/internal/service/cloudformation/id.go
  aws/internal/service/cloudformation/waiter/status.go
  aws/internal/service/cloudformation/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_cloudcontrolapi_resource.go
  aws/resource_aws_cloudcontrolapi_resource_test.go
  aws/resource_aws_cloudformation_stack_set.go
  aws/resource_aws_cloudformation_stack_set_instance.go
  aws/resource_aws_cloudformation_stack_set_instance_test.go
  aws/resource_aws_cloudformation_stack_set_test.go
  aws/resource_aws_cloudformation_type.go
  aws/resource_aws_cloudformation_type_test.go
  aws/resource_aws_serverlessapplicationrepository_cloudformation_stack.go
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  website/allowed-subcategories.txt
  website/docs/d/cloudcontrolapi_resource.html.markdown
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/r/cloudcontrolapi_resource.html.markdown
Labels: documentation, size/XL, tests, service/cloudformation, provider, service/serverlessapplicationrepository

#21113 Correct CHANGELOG format
  .changelog/21110.txt
Labels: size/XS
