Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-04, with the labels that each got.

#18315 r/aws_backup - Add support for RDS continuous backup
  .changelog/18315.txt
  aws/resource_aws_backup_plan.go
  aws/resource_aws_backup_plan_test.go
  website/docs/r/backup_plan.html.markdown
Labels: documentation, service/backup, size/M, tests

#18474 resource/aws_backup_selection: Handle read-after-create eventual consistency
  aws/internal/service/backup/waiter/waiter.go
  aws/resource_aws_backup_selection.go
Labels: bug, service/backup, size/S

#18466 resource/aws_network_interface_sg_attachment: Handle read-after-create eventual consistency
  .changelog/18466.txt
  aws/internal/service/ec2/errors.go
  aws/internal/service/ec2/finder/finder.go
  aws/resource_aws_network_interface_sg_attachment.go
  aws/resource_aws_network_interface_sg_attachment_test.go
Labels: bug, service/ec2, size/L, tests

#18473 resource/aws_spot_instance_request: Handle read-after-create eventual consistency
  .changelog/18473.txt
  aws/internal/service/ec2/errors.go
  aws/internal/service/ec2/finder/finder.go
  aws/resource_aws_spot_instance_request.go
Labels: bug, service/ec2, size/M

#18472 resource/aws_vpc_dhcp_options_association: Handle read-after-create eventual consistency
  .changelog/18472.txt
  aws/resource_aws_vpc_dhcp_options_association.go
  aws/resource_aws_vpc_dhcp_options_association_test.go
Labels: bug, service/ec2, size/M, tests

#18435 service/iam: Handle read-after-create eventual consistency in IAM Role resources
  .changelog/18435.txt
  aws/resource_aws_iam_role.go
  aws/resource_aws_iam_role_policy.go
  aws/resource_aws_iam_role_policy_attachment.go
Labels: bug, service/iam, size/M

#16671 tech-debt/resources:autofix extraneous value conversion for d.Set() of primitives
  aws/cloudfront_cache_policy_structure.go
  aws/resource_aws_acmpca_certificate.go
  aws/resource_aws_acmpca_certificate_authority_certificate.go
  aws/resource_aws_appsync_function.go
  aws/resource_aws_appsync_graphql_api.go
  aws/resource_aws_autoscalingplans_scaling_plan.go
  aws/resource_aws_cloudfront_cache_policy.go
  aws/resource_aws_cloudfront_origin_request_policy.go
  aws/resource_aws_cloudfront_realtime_log_config.go
  aws/resource_aws_cloudwatch_log_subscription_filter.go
  aws/resource_aws_cloudwatch_query_definition.go
  aws/resource_aws_codepipeline_webhook.go
  aws/resource_aws_cur_report_definition.go
  aws/resource_aws_dax_cluster.go
  aws/resource_aws_directory_service_directory.go
  aws/resource_aws_dx_gateway.go
  aws/resource_aws_dx_gateway_association_proposal.go
  aws/resource_aws_ebs_encryption_by_default.go
  aws/resource_aws_ec2_transit_gateway.go
  aws/resource_aws_ec2_transit_gateway_route_table.go
  aws/resource_aws_ec2_transit_gateway_route_table_association.go
  aws/resource_aws_ec2_transit_gateway_route_table_propagation.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter.go
  aws/resource_aws_elasticache_cluster.go
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_emr_cluster.go
  aws/resource_aws_fms_policy.go
  aws/resource_aws_glue_job.go
  aws/resource_aws_glue_ml_transform.go
  aws/resource_aws_iam_user_login_profile.go
  aws/resource_aws_kinesis_analytics_application.go
  aws/resource_aws_kinesisanalyticsv2_application.go
  aws/resource_aws_lambda_function_event_invoke_config.go
  aws/resource_aws_lambda_provisioned_concurrency_config.go
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lightsail_instance.go
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_msk_configuration.go
  aws/resource_aws_pinpoint_email_channel.go
  aws/resource_aws_pinpoint_sms_channel.go
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_resourcegroups_group.go
  aws/resource_aws_s3_bucket_inventory.go
  aws/resource_aws_ses_configuration_set.go
  aws/resource_aws_sns_topic.go
  aws/resource_aws_spot_fleet_request.go
  aws/resource_aws_ssm_patch_group.go
  aws/resource_aws_storagegateway_cached_iscsi_volume.go
  aws/resource_aws_storagegateway_gateway.go
  aws/resource_aws_storagegateway_tape_pool.go
  aws/resource_aws_transfer_server.go
  aws/resource_aws_wafv2_ip_set.go
  aws/resource_aws_wafv2_regex_pattern_set.go
  aws/resource_aws_wafv2_rule_group.go
  aws/resource_aws_wafv2_web_acl.go
  aws/resource_aws_worklink_fleet.go
Labels: service/acmpca, service/appsync, service/autoscalingplans, service/cloudfront, service/cloudwatchevents, service/cloudwatchlogs, service/codepipeline, service/costandusagereportservice, service/dax, service/directconnect, service/directoryservice, service/ec2, service/elasticache, service/elasticsearch, service/emr, service/eventbridge, service/fms, service/glue, service/iam, service/kafka, service/kinesisanalytics, service/kinesisanalyticsv2, service/lambda, service/pinpoint, size/XL, technical-debt

#18512 Allow schema additions in cognito user pools
  .changelog/18512.txt
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_cognito_user_pool_test.go
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, service/cognito, service/s3, size/L, tests

#18458 service/iam: Handle read-after-create eventual consistency in IAM User resources
  .changelog/18458.txt
  aws/internal/service/iam/finder/finder.go
  aws/resource_aws_iam_user.go
  aws/resource_aws_iam_user_group_membership.go
  aws/resource_aws_iam_user_login_profile.go
  aws/resource_aws_iam_user_policy.go
  aws/resource_aws_iam_user_policy_attachment.go
  aws/resource_aws_iam_user_ssh_key.go
Labels: bug, service/iam, size/XL

#18465 resource/aws_vpc_endpoint_route_table_association: Handle read-after-create eventual consistency
  .changelog/pending.txt
  aws/internal/service/ec2/finder/finder.go
  aws/resource_aws_vpc_endpoint_route_table_association.go
Labels: bug, service/ec2, size/M

#18405 docs/contributing: Add Asynchronous Operation Error Retries section to Retries and Waiters page
  docs/contributing/retries-and-waiters.md
Labels: documentation, provider, size/M

#13476 Remove readonly properties from DMS ReplicationTaskSettings
  .changelog/13476.txt
  aws/resource_aws_dms_replication_task.go
  aws/resource_aws_dms_replication_task_test.go
Labels: service/databasemigrationservice, size/L, tests

#18459 service/iam: Handle read-after-create eventual consistency in IAM Group resources
  .changelog/18459.txt
  aws/internal/service/iam/finder/finder.go
  aws/resource_aws_iam_group.go
  aws/resource_aws_iam_group_membership.go
  aws/resource_aws_iam_group_policy.go
  aws/resource_aws_iam_group_policy_attachment.go
Labels: bug, service/iam, size/L

#18537 service/s3: Add d.IsNewResource checks and standardize retry logic
  aws/internal/service/s3/errors.go
  aws/internal/service/s3/waiter/waiter.go
  aws/resource_aws_s3_bucket_analytics_configuration.go
  aws/resource_aws_s3_bucket_inventory.go
  aws/resource_aws_s3_bucket_metric.go
  aws/resource_aws_s3_bucket_notification.go
  aws/resource_aws_s3_bucket_public_access_block.go
  aws/resource_aws_s3_object_copy.go
Labels: service/s3, size/L, technical-debt

#18541 Point code example links at current default branch
  website/docs/r/dx_gateway_association.html.markdown
  website/docs/r/dx_gateway_association_proposal.html.markdown
  website/docs/r/ec2_transit_gateway_peering_attachment.html.markdown
  website/docs/r/ec2_transit_gateway_peering_attachment_accepter.markdown
  website/docs/r/ec2_transit_gateway_vpc_attachment.html.markdown
  website/docs/r/ec2_transit_gateway_vpc_attachment_accepter.html.markdown
Labels: documentation, service/directconnect, service/ec2, size/XS

#15336 tests/provider: Add concurrency to sweep (DB instance)
  aws/aws_sweeper_test.go
  aws/provider_test.go
  aws/resource_aws_db_instance_test.go
Labels: partition/aws-us-gov, service/rds, size/L, tests

#16581 r/aws_s3_bucket: Add support for S3 Bucket Keys
  .changelog/16581.txt
  aws/data_source_aws_s3_bucket_object.go
  aws/data_source_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_bucket_object_test.go
  aws/resource_aws_s3_bucket_test.go
  website/docs/d/s3_bucket_object.html.markdown
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, enhancement, service/s3, size/L, tests

#18529 service/appmesh: Handle read-after-create eventual consistency in resources
  .changelog/18529.txt
  .semgrep.yml
  aws/internal/service/appmesh/waiter/waiter.go
  aws/resource_aws_appmesh_gateway_route.go
  aws/resource_aws_appmesh_mesh.go
  aws/resource_aws_appmesh_route.go
  aws/resource_aws_appmesh_route_test.go
  aws/resource_aws_appmesh_virtual_gateway.go
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_router.go
  aws/resource_aws_appmesh_virtual_service.go
Labels: bug, service/appmesh, size/XL, tests

#18553 docs(aws_cloudwatch_query_definition): fixes the code example
  website/docs/r/cloudwatch_query_definition.html.markdown
Labels: documentation, service/cloudwatch, size/XS

#18546 Fix typo in ECR public repository docs
  website/docs/r/ecrpublic_repository.html.markdown
Labels: documentation, service/ecrpublic, size/XS

#18462 service/secretsmanager: Handle read-after-create eventual consistency in resources
  .changelog/18462.txt
  aws/internal/service/secretsmanager/waiter/waiter.go
  aws/resource_aws_secretsmanager_secret.go
  aws/resource_aws_secretsmanager_secret_policy.go
  aws/resource_aws_secretsmanager_secret_policy_test.go
  aws/resource_aws_secretsmanager_secret_rotation.go
  aws/resource_aws_secretsmanager_secret_test.go
  aws/resource_aws_secretsmanager_secret_version.go
Labels: bug, service/secretsmanager, size/L, tests

#18464 service/ecr: Handle read-after-create eventual consistency in resources
  .changelog/18464.txt
  aws/internal/service/ecr/waiter/waiter.go
  aws/resource_aws_ecr_lifecycle_policy.go
  aws/resource_aws_ecr_repository.go
  aws/resource_aws_ecr_repository_policy.go
Labels: bug, service/ecr, size/L

#18535 service/s3control: Add d.IsNewResource() checks, public access block update waiters, and standardize read handling
  aws/internal/service/s3control/errors.go
  aws/internal/service/s3control/finder/finder.go
  aws/internal/service/s3control/waiter/status.go
  aws/internal/service/s3control/waiter/waiter.go
  aws/resource_aws_s3_access_point.go
  aws/resource_aws_s3_account_public_access_block.go
Labels: service/s3control, size/L, technical-debt

#17664 Update provider development docs to include development overrides
  docs/DEVELOPMENT.md
Labels: documentation, enhancement, provider, size/XS

#16650 semgrep: add rule to remove extraneous value wrapping in d.Set()
  .semgrep.yml
Labels: size/XS, technical-debt

#14245 r/lb_listener - validations + refactor tests
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_test.go
Labels: service/elbv2, size/XXL, tests

#17041 resource/aws_cloudfront_key_group - new resource
  .changelog/17041.txt
  aws/provider.go
  aws/resource_aws_cloudfront_key_group.go
  aws/resource_aws_cloudfront_key_group_test.go
  aws/resource_aws_cloudfront_origin_request_policy_test.go
  website/docs/r/cloudfront_key_group.html.markdown
Labels: documentation, new-resource, provider, service/cloudfront, size/XL, tests, waiting-response

#18526 tests/provider: Fix and enable tfproviderlint AT012 for mismatched acceptance test prefixes within a single file
  GNUmakefile
  aws/data_source_aws_directory_service_directory_test.go
  aws/data_source_aws_launch_configuration_test.go
  aws/data_source_aws_lb_target_group_test.go
  aws/provider_test.go
  aws/resource_aws_db_option_group_test.go
  aws/resource_aws_elastic_beanstalk_application_test.go
  aws/resource_aws_elb_test.go
  aws/resource_aws_opsworks_stack_test.go
  aws/resource_aws_s3_bucket_test.go
Labels: provider, service/autoscaling, service/directoryservice, service/elasticbeanstalk, service/elb, service/elbv2, service/opsworks, service/rds, service/s3, size/L, technical-debt, tests

#16616 r/mwaa_environment - new resource
  aws/internal/keyvaluetags/generators/servicetags/main.go
  aws/internal/keyvaluetags/generators/updatetags/main.go
  aws/internal/keyvaluetags/service_generation_customizations.go
  aws/internal/keyvaluetags/service_tags_gen.go
  aws/internal/keyvaluetags/update_tags_gen.go
  aws/internal/service/mwaa/finder/finder.go
  aws/internal/service/mwaa/waiter/status.go
  aws/internal/service/mwaa/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_mwaa_environment.go
  aws/resource_aws_mwaa_environment_test.go
  website/docs/r/mwaa_environment.html.markdown
Labels: documentation, new-resource, provider, service/mwaa, size/XXL, tests, waiting-response

#15359 tests/provider: Add concurrency to sweep (WAF Web ACL)
  aws/resource_aws_waf_web_acl_test.go
Labels: service/waf, size/S, tests

#18486 Read system parameters that exist in config
  .changelog/18486.txt
  aws/resource_aws_docdb_cluster_parameter_group.go
  aws/resource_aws_docdb_cluster_parameter_group_test.go
  aws/structure.go
  website/docs/r/docdb_cluster_parameter_group.html.markdown
Labels: documentation, service/docdb, size/M, tests

#14462 Resource/lb_listener: Add alpn policy argument
  .changelog/14462.txt
  aws/data_source_aws_lb_listener.go
  aws/data_source_aws_lb_listener_test.go
  aws/internal/service/elbv2/waiter/waiter.go
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_test.go
  website/docs/d/lb_listener.html.markdown
  website/docs/r/lb_listener.html.markdown
Labels: documentation, enhancement, service/elbv2, size/XXL, tests

#16853 r/ecr_replication_configuration - new resource
  .changelog/16853.txt
  aws/provider.go
  aws/resource_aws_ecr_replication_configuration.go
  aws/resource_aws_ecr_replication_configuration_test.go
  website/docs/r/ecr_replication_configuration.html.markdown
Labels: documentation, new-resource, provider, service/ecr, size/XL, tests

#16831 r/ecr_registry_policy - new resource
  .changelog/16831.txt
  aws/provider.go
  aws/resource_aws_ecr_registry_policy.go
  aws/resource_aws_ecr_registry_policy_test.go
  website/docs/r/ecr_registry_policy.html.markdown
Labels: documentation, new-resource, provider, service/ecr, size/XL, tests

#18588 fix: r/ssm_parameter description and allowed_pattern validation
  .changelog/18588.txt
  aws/resource_aws_ssm_parameter.go
Labels: bug, regression, service/ssm, size/XS

#18580 resource/aws_cloudhsm_v2_hsm: Prevent orphaned HSM Instances by additionally matching on ENI identifier during lookup
  .changelog/18580.txt
  aws/resource_aws_cloudhsm2_hsm.go
  aws/resource_aws_cloudhsm2_hsm_test.go
Labels: bug, service/cloudhsmv2, size/L, tests

#17612 Include tags in options for creating vpc EIPs.
  .changelog/17612.txt
  aws/resource_aws_eip.go
Labels: needs-triage, service/ec2, size/XS

#18143 Cloudwatch EventRule to support partner eventbus names
  aws/resource_aws_cloudwatch_event_permission.go
  aws/resource_aws_cloudwatch_event_rule.go
  aws/resource_aws_cloudwatch_event_target.go
  aws/validators.go
  aws/validators_test.go
Labels: service/cloudwatchevents, service/eventbridge, size/S, tests

#18572 docs/acctests: Include concurrent sweeper examples
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, size/M

#18578 tests/r/eks_node_group: Add EKS service ErrorCheck
  aws/resource_aws_eks_node_group_test.go
Labels: partition/aws-us-gov, service/eks, size/XS, tests

#18574 tests/elasticsearch_domain: Add sweeper concurrency
  aws/resource_aws_elasticsearch_domain_test.go
  aws/resource_aws_waf_web_acl_test.go
Labels: service/elasticsearch, service/waf, size/S, tests

#18575 tests/r/eks_node_group: Add sweeper concurrency
  aws/resource_aws_eks_cluster_test.go
  aws/resource_aws_eks_node_group.go
  aws/resource_aws_eks_node_group_test.go
Labels: service/eks, size/L, tests

#18576 tests/r/redshift_cluser: Add sweeper concurrency
  aws/resource_aws_redshift_cluster_test.go
Labels: service/redshift, size/S, tests

#18587 tests/r/elasticache_replication_group: Add sweeper concurrency
  aws/resource_aws_elasticache_replication_group_test.go
Labels: service/elasticache, size/S, tests

#18592 tests/redshift: Add sweeper concurrency
  aws/resource_aws_redshift_event_subscription_test.go
  aws/resource_aws_redshift_snapshot_schedule_test.go
  aws/resource_aws_redshift_subnet_group_test.go
Labels: service/redshift, size/L, tests

#18623 tests/r/dms_replication_instance: Add sweeper concurrency
  aws/resource_aws_dms_replication_instance_test.go
Labels: service/databasemigrationservice, size/S, tests

#18626 tests/r/fsx: Add sweeper concurrency
  aws/resource_aws_fsx_lustre_file_system_test.go
  aws/resource_aws_fsx_windows_file_system_test.go
Labels: service/fsx, size/M, tests

#18641 Add shuheiktgw to CODEOWNERS
  .github/CODEOWNERS
Labels: provider, size/XS

#18632 tests/service/iam: Refactor and fix IAM Account Alias testing
  aws/data_source_aws_iam_account_alias_test.go
  aws/resource_aws_iam_account_alias_test.go
Labels: service/iam, size/M, tests

#18634 resource/aws_lb_target_group: Handle read-after-create eventual consistency
  .changelog/18634.txt
  aws/internal/service/elbv2/finder/finder.go
  aws/internal/service/elbv2/waiter/waiter.go
  aws/resource_aws_lb_target_group.go
Labels: bug, service/elbv2, size/M

#18622 workflows: Ensure aws_cloudwatch_query_definition resource has issues and pull requests labeled as service/cloudwatchlogs
  .hashibot.hcl
Labels: provider, size/XS, technical-debt

#18667 resource/aws_xray_sampling_rule fix rule name max length
  .changelog/18667.txt
  aws/resource_aws_xray_sampling_rule.go
Labels: bug, service/xray, size/XS

#18554 resource/aws_route53_resolver_firewall_rule_group: Add new resource
  aws/internal/service/route53resolver/finder/finder.go
  aws/provider.go
  aws/resource_aws_route53_resolver_firewall_rule_group.go
  aws/resource_aws_route53_resolver_firewall_rule_group_test.go
  website/docs/r/route53_resolver_firewall_rule_group.markdown
Labels: documentation, new-resource, provider, service/route53resolver, size/XL, tests

#18640 r/ssm_parameter: allow adding tags to a parameter if `overwrite` is specified
  .changelog/18640.txt
  aws/resource_aws_ssm_parameter.go
  aws/resource_aws_ssm_parameter_test.go
Labels: bug, regression, service/ssm, size/L, tests

#18611 resource/aws_s3_object_copy: Add bucket_key_enabled argument
  .changelog/18611.txt
  aws/resource_aws_s3_object_copy.go
  aws/resource_aws_s3_object_copy_test.go
Labels: service/s3, size/M, tests

#18635 Removes plan-time validation for `automatic_failover_enabled`
  .changelog/18635.txt
  aws/resource_aws_elasticache_replication_group.go
  aws/resource_aws_elasticache_replication_group_test.go
Labels: service/elasticache, size/M, tests

#18666 tests/sweeper: Remove unnecessary len() check
  aws/resource_aws_dms_replication_instance_test.go
  aws/resource_aws_eks_node_group_test.go
  aws/resource_aws_elasticache_replication_group_test.go
  aws/resource_aws_elasticsearch_domain_test.go
  aws/resource_aws_fsx_lustre_file_system_test.go
  aws/resource_aws_fsx_windows_file_system_test.go
  aws/resource_aws_redshift_cluster_test.go
  aws/resource_aws_redshift_event_subscription_test.go
  aws/resource_aws_redshift_snapshot_schedule_test.go
  aws/resource_aws_redshift_subnet_group_test.go
  aws/resource_aws_waf_web_acl_test.go
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, service/databasemigrationservice, service/eks, service/elasticache, service/elasticsearch, service/fsx, service/redshift, service/waf, size/M, tests

#18630 tests/resource/aws_codepipeline: Implement sweeper
  aws/resource_aws_codepipeline_test.go
Labels: service/codepipeline, size/S, tests

#18629 tests/service/iot: Implement remaining sweepers
  aws/resource_aws_iot_certificate_test.go
  aws/resource_aws_iot_policy_attachment_test.go
  aws/resource_aws_iot_policy_test.go
  aws/resource_aws_iot_role_alias_test.go
  aws/resource_aws_iot_thing_principal_attachment_test.go
  aws/resource_aws_iot_thing_test.go
  aws/resource_aws_iot_thing_type_test.go
Labels: service/iot, size/XL, tests

#18627 tests/service/lexmodelbuildingservice: Implement sweepers
  aws/resource_aws_lex_bot_alias_test.go
  aws/resource_aws_lex_bot_test.go
  aws/resource_aws_lex_intent_test.go
  aws/resource_aws_lex_slot_type_test.go
Labels: service/lexmodelbuildingservice, size/L, tests

#18624 tests/resource/aws_placement_group: Implement sweeper
  aws/resource_aws_placement_group_test.go
Labels: service/ec2, size/S, tests

#18621 tests/resource/aws_cloudwatch_query_definition: Implement sweeper
  aws/resource_aws_cloudwatch_query_definition_test.go
Labels: service/cloudwatchlogs, size/M, tests

#18620 tests/resource/aws_ssm_resource_data_sync: Implement sweeper
  aws/resource_aws_ssm_resource_data_sync_test.go
Labels: service/ssm, size/S, tests

#18612 workflow: Ensure aws_s3_object_copy resource has issues and pull requests labeled as service/s3
  .hashibot.hcl
Labels: provider, size/XS, technical-debt

#18628 tests/provider: Fix and enable nilerr linter
  .golangci.yml
  aws/internal/service/sagemaker/errors.go
  aws/provider_test.go
  aws/resource_aws_cloudwatch_log_destination_policy_test.go
  aws/resource_aws_cloudwatch_log_destination_test.go
  aws/resource_aws_cloudwatch_log_group_test.go
  aws/resource_aws_cloudwatch_log_resource_policy_test.go
  aws/resource_aws_cloudwatch_log_stream_test.go
  aws/resource_aws_dms_replication_task_test.go
  aws/resource_aws_emr_instance_fleet.go
  aws/resource_aws_flow_log.go
  aws/resource_aws_iam_account_alias_test.go
  aws/resource_aws_lambda_permission.go
  aws/resource_aws_lambda_permission_test.go
  aws/resource_aws_organizations_organizational_unit.go
  aws/resource_aws_organizations_organizational_unit_test.go
  aws/resource_aws_organizations_test.go
  aws/resource_aws_redshift_cluster_test.go
  aws/resource_aws_route53_query_log_test.go
  aws/resource_aws_sagemaker_app_image_config_test.go
  aws/resource_aws_sagemaker_app_test.go
  aws/resource_aws_sagemaker_code_repository_test.go
  aws/resource_aws_sagemaker_domain_test.go
  aws/resource_aws_sagemaker_feature_group_test.go
  aws/resource_aws_sagemaker_image_test.go
  aws/resource_aws_sagemaker_image_version_test.go
  aws/resource_aws_sagemaker_model_package_group_test.go
  aws/resource_aws_sagemaker_notebook_instance_test.go
  aws/resource_aws_sagemaker_user_profile_test.go
Labels: service/cloudwatchlogs, service/databasemigrationservice, service/ec2, service/emr, service/iam, service/lambda, service/organizations, service/redshift, service/route53, service/sagemaker, size/L, tests

#18215 r/aws_dynamodb_table: update gsi provisioned throughput settings
  .changelog/18215.txt
  aws/resource_aws_dynamodb_table.go
Labels: service/dynamodb, size/XS

#18373 DynamoDB Replica - kms_key_arn support
  .changelog/18373.txt
  aws/data_source_aws_dynamodb_table.go
  aws/internal/service/dynamodb/finder/finder.go
  aws/internal/service/dynamodb/waiter/status.go
  aws/internal/service/dynamodb/waiter/waiter.go
  aws/resource_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table_test.go
  aws/structure.go
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, service/dynamodb, size/XXL, tests

#18081 b/resource_aws_rds_cluster: RDS cluster port change to happen in-place
  .changelog/18081.txt
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_test.go
Labels: service/rds, size/S, tests

#18817 docs: Incorrect reference in ecr_replication_configuration
  website/docs/r/ecr_replication_configuration.html.markdown
Labels: documentation, service/ecr, size/XS

#18738 Kit is joining the team! 🚀
  .github/workflows/changelog.yml
  .github/workflows/project.yml
  docs/FAQ.md
Labels: documentation, provider, size/XS, tests

#18840 ds/elb: Unshare Read with Resource
  aws/data_source_aws_elb.go
  aws/data_source_aws_elb_test.go
Labels: service/elb, size/L, tests

#18599 service/cloudhsmv2: Modernize and refactor resources and datasource
  aws/config.go
  aws/data_source_aws_cloudhsm_v2_cluster.go
  aws/data_source_aws_cloudhsm_v2_cluster_test.go
  aws/internal/service/cloudhsmv2/finder/finder.go
  aws/internal/service/cloudhsmv2/waiter/status.go
  aws/internal/service/cloudhsmv2/waiter/waiter.go
  aws/resource_aws_cloudhsm2_hsm.go
  aws/resource_aws_cloudhsm2_hsm_test.go
  aws/resource_aws_cloudhsm_v2_cluster.go
  aws/resource_aws_cloudhsm_v2_cluster_test.go
  aws/resource_aws_cloudhsm_v2_hsm.go
  aws/resource_aws_cloudhsm_v2_hsm_test.go
Labels: provider, service/cloudhsmv2, size/XXL, technical-debt, tests

#18857 Fix typo, Retying -> Retrying
  website/docs/r/sns_topic_subscription.html.markdown
Labels: documentation, needs-triage, service/sns, size/XS

#18816 docs: Add prioritized allocation strategy as valid value
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, service/autoscaling, size/XS

#18846 tech-debt: refactor iam data source and resource to use different Read methods
  aws/data_source_aws_iam_policy.go
  aws/resource_aws_iam_policy.go
Labels: service/iam, size/L, technical-debt

#18842 tech-debt: refactor curreportdefinition data and resources to use different Read methods
  aws/data_source_aws_cur_report_definition.go
  aws/internal/service/costandusagereportservice/finder/finder.go
  aws/resource_aws_cur_report_definition.go
  aws/resource_aws_cur_report_definition_test.go
Labels: service/costandusagereportservice, size/L, technical-debt, tests

#18844 tech-debt: refactor dynamodb data and resources to use different Read methods
  aws/data_source_aws_dynamodb_table.go
  aws/resource_aws_dynamodb_table.go
Labels: service/dynamodb, size/XL, technical-debt

#18848 tech-debt: refactor mq data and resources to use different Read methods
  aws/data_source_aws_mq_broker.go
  aws/resource_aws_mq_broker.go
Labels: service/mq, size/L

#18838 tech-debt: refactor alb/lb data and resources to remove references to resource Read from data source
  aws/data_source_aws_lb.go
  aws/data_source_aws_lb_listener.go
  aws/data_source_aws_lb_target_group.go
  aws/internal/service/elbv2/finder/finder.go
  aws/resource_aws_lb.go
  aws/resource_aws_lb_listener.go
  aws/resource_aws_lb_listener_rule.go
  aws/resource_aws_lb_listener_test.go
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_lb_target_group_test.go
  aws/resource_aws_lb_test.go
  aws/structure.go
Labels: service/elbv2, size/XXL, technical-debt, tests

#18862 structure/expandStringMap: migrate stringMapToPointers usage to expandStringMap
  aws/data_source_aws_kms_ciphertext.go
  aws/resource_aws_api_gateway_integration.go
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_apigatewayv2_integration.go
  aws/resource_aws_apigatewayv2_integration_response.go
  aws/resource_aws_apigatewayv2_route.go
  aws/resource_aws_apigatewayv2_route_response.go
  aws/resource_aws_apigatewayv2_stage.go
  aws/resource_aws_backup_global_settings.go
  aws/resource_aws_backup_plan.go
  aws/resource_aws_codepipeline.go
  aws/resource_aws_cognito_identity_provider.go
  aws/resource_aws_eks_fargate_profile.go
  aws/resource_aws_eks_node_group.go
  aws/resource_aws_elasticsearch_domain.go
  aws/resource_aws_glue_catalog_database.go
  aws/resource_aws_glue_catalog_table.go
  aws/resource_aws_glue_dev_endpoint.go
  aws/resource_aws_glue_job.go
  aws/resource_aws_glue_partition.go
  aws/resource_aws_glue_workflow.go
  aws/resource_aws_imagebuilder_distribution_configuration.go
  aws/resource_aws_iot_thing.go
  aws/resource_aws_kinesis_firehose_delivery_stream.go
  aws/resource_aws_kinesisanalyticsv2_application.go
  aws/resource_aws_kms_ciphertext.go
  aws/resource_aws_kms_grant.go
  aws/resource_aws_mwaa_environment.go
  aws/resource_aws_s3_bucket_object.go
  aws/resource_aws_s3_object_copy.go
  aws/resource_aws_sagemaker_model.go
  aws/resource_aws_xray_sampling_rule.go
  aws/structure.go
  docs/contributing/data-handling-and-conversion.md
Labels: service/apigateway, service/apigatewayv2, service/backup, service/cognito, service/eks, service/elasticsearch, service/firehose, service/glue, service/imagebuilder, service/iot, service/kinesisanalyticsv2, service/kms, service/mwaa, service/s3, size/M

#18734 Adding Warm pool support in auto scaling group
  aws/resource_aws_autoscaling_group.go
  aws/resource_aws_autoscaling_group_test.go
  website/docs/d/autoscaling_groups.html.markdown
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, needs-triage, service/autoscaling, size/XL, tests

#18645 Prefer lastPage for pagination, S
  .semgrep.yml
  aws/resource_aws_service_discovery_public_dns_namespace_test.go
  aws/resource_aws_service_discovery_service_test.go
  aws/resource_aws_ses_domain_identity_test.go
  aws/resource_aws_sns_platform_application_test.go
  aws/resource_aws_sns_topic_test.go
  aws/resource_aws_spot_fleet_request_test.go
  aws/resource_aws_ssoadmin_account_assignment_test.go
  aws/resource_aws_ssoadmin_permission_set_test.go
  aws/resource_aws_storagegateway_gateway_test.go
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, provider, service/ec2, service/servicediscovery, service/ses, service/sns, service/ssoadmin, service/storagegateway, size/M, tests

#18646 Prefer lastPage for pagination, A
  .semgrep.yml
  aws/resource_aws_acm_certificate_test.go
  aws/resource_aws_apigatewayv2_domain_name_test.go
  aws/resource_aws_appmesh_gateway_route_test.go
  aws/resource_aws_appmesh_mesh_test.go
  aws/resource_aws_appmesh_route_test.go
  aws/resource_aws_appmesh_virtual_gateway_test.go
  aws/resource_aws_appmesh_virtual_node_test.go
  aws/resource_aws_appmesh_virtual_router_test.go
  aws/resource_aws_appmesh_virtual_service_test.go
  aws/resource_aws_batch_job_definition_test.go
Labels: service/acm, service/apigatewayv2, service/appmesh, service/batch, size/M, tests

#18647 Prefer lastPage for pagination, C
  .semgrep.yml
  aws/resource_aws_cloudtrail_test.go
  aws/resource_aws_cloudwatch_log_group_test.go
  aws/resource_aws_codebuild_report_group_test.go
  aws/resource_aws_cognito_user_pool_domain_test.go
  aws/resource_aws_cognito_user_pool_test.go
  aws/resource_aws_db_event_subscription_test.go
  aws/resource_aws_ec2_carrier_gateway_test.go
  aws/resource_aws_ec2_client_vpn_endpoint_test.go
  aws/resource_aws_ec2_client_vpn_network_association_test.go
  aws/resource_aws_ecr_repository_test.go
Labels: service/cloudtrail, service/cloudwatchlogs, service/codebuild, service/cognito, service/ec2, service/ecr, service/rds, size/M, tests

#18653 tests/r/subnet: Add sweeper concurrency
  aws/resource_aws_subnet_test.go
Labels: service/ec2, size/S, tests

#18658 tests/r/vpc: Add sweeper concurrency
  aws/resource_aws_vpc_test.go
Labels: service/ec2, size/S, tests

#18656 tests/r/ecrpublic_repository: Add sweeper concurrency
  aws/resource_aws_ecrpublic_repository_test.go
Labels: service/ecrpublic, size/S, tests

#18564 r/codedeploy_app - add arn attribute & tagging support & sweeper
  .changelog/18564.txt
  aws/resource_aws_codedeploy_app.go
  aws/resource_aws_codedeploy_app_test.go
  website/docs/index.html.markdown
  website/docs/r/codedeploy_app.html.markdown
Labels: documentation, enhancement, provider, service/codedeploy, size/L, tests

#18751 docs: Security Groups: Add IPv6 examples
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, service/ec2, size/L

#18655 ec2: Add service-specific ErrorCheck
  aws/resource_aws_instance_test.go
Labels: service/ec2, size/XS, tests

#18648 Prefer lastPage for pagination, E
  .semgrep.yml
  aws/resource_aws_ecs_cluster_test.go
  aws/resource_aws_ecs_service_test.go
  aws/resource_aws_ecs_task_definition_test.go
  aws/resource_aws_elasticache_cluster_test.go
  aws/resource_aws_elasticache_parameter_group_test.go
  aws/resource_aws_elasticache_replication_group_test.go
  aws/resource_aws_elasticache_security_group_test.go
  aws/resource_aws_elasticache_subnet_group_test.go
  aws/resource_aws_elb_test.go
Labels: service/ecrpublic, service/ecs, service/elasticache, service/elb, size/S, tests

#18649 Prefer lastPage for pagination, F
  .semgrep.yml
  aws/resource_aws_emr_cluster_test.go
  aws/resource_aws_flow_log_test.go
  aws/resource_aws_glacier_vault_test.go
  aws/resource_aws_iam_group_test.go
  aws/resource_aws_iam_policy_test.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_kinesis_analytics_application_test.go
  aws/resource_aws_kinesisanalyticsv2_application_test.go
  aws/resource_aws_lb_target_group_test.go
  aws/resource_aws_lb_test.go
Labels: service/ec2, service/elbv2, service/emr, service/glacier, service/iam, service/kinesisanalytics, service/kinesisanalyticsv2, size/S, tests

#18650 Prefer lastPage for pagination, R
  .semgrep.yml
  aws/resource_aws_msk_configuration_test.go
  aws/resource_aws_neptune_event_subscription_test.go
  aws/resource_aws_network_interface_test.go
  aws/resource_aws_redshift_cluster_snapshot_test.go
  aws/resource_aws_redshift_cluster_test.go
  aws/resource_aws_redshift_event_subscription_test.go
  aws/resource_aws_redshift_snapshot_schedule_test.go
  aws/resource_aws_redshift_subnet_group_test.go
  aws/resource_aws_route53_query_log_test.go
  aws/resource_aws_route53_resolver_dnssec_config_test.go
Labels: service/ec2, service/kafka, service/neptune, service/redshift, service/route53, service/route53resolver, size/S, tests

#18801 New service client: Amazon Detective
  .hashibot.hcl
  aws/config.go
  aws/provider.go
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, provider, size/XS

#18651 Prefer lastPage for pagination, S
  .semgrep.yml
  aws/resource_aws_route53_resolver_endpoint_test.go
  aws/resource_aws_route53_resolver_query_log_config_association_test.go
  aws/resource_aws_route53_resolver_query_log_config_test.go
  aws/resource_aws_route53_resolver_rule_association_test.go
  aws/resource_aws_route53_resolver_rule_test.go
  aws/resource_aws_route53_zone.go
  aws/resource_aws_secretsmanager_secret_policy_test.go
  aws/resource_aws_secretsmanager_secret_test.go
  aws/resource_aws_service_discovery_http_namespace_test.go
  aws/resource_aws_service_discovery_private_dns_namespace_test.go
Labels: service/route53, service/route53resolver, service/secretsmanager, service/servicediscovery, size/S, tests

#18643 Prefer use of lastPage in pagination functions
  .semgrep.yml
  aws/data_source_aws_ec2_managed_prefix_list.go
  aws/data_source_aws_instances.go
  aws/data_source_aws_route53_resolver_rules.go
  aws/data_source_aws_sfn_activity.go
  aws/internal/service/apigatewayv2/finder/finder.go
  aws/resource_aws_cloudwatch_event_rule_test.go
  aws/resource_aws_cloudwatch_event_target_test.go
  aws/resource_aws_kinesis_stream.go
Labels: service/apigatewayv2, service/cloudwatchevents, service/costandusagereportservice, service/ec2, service/eventbridge, service/kinesis, service/route53resolver, service/sfn, size/M, tests

#15828 Add support for Amazon SNS FIFO Topics
  .changelog/15828.txt
  aws/data_source_aws_sns.go
  aws/data_source_aws_sns_test.go
  aws/data_source_aws_sns_topic.go
  aws/data_source_aws_sns_topic_test.go
  aws/internal/naming/naming.go
  aws/internal/naming/naming_test.go
  aws/internal/service/sns/consts.go
  aws/resource_aws_sns_topic.go
  aws/resource_aws_sns_topic_test.go
  docs/contributing/contribution-checklists.md
  website/docs/r/sns_topic.html.markdown
Labels: documentation, provider, service/sns, size/XXL, tests

#18886 r/aws_route53_resolver_firewall_rule_group: Fix `prefer-pagination-bool-var-last-page` semgrep error
  aws/resource_aws_route53_resolver_firewall_rule_group_test.go
Labels: service/route53resolver, size/XS, tests

#18716 r/codedeploy_deployment_group - add attributes & tagging support
  .changelog/18716.txt
  aws/resource_aws_codedeploy_deployment_group.go
  aws/resource_aws_codedeploy_deployment_group_test.go
  website/docs/index.html.markdown
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: documentation, enhancement, provider, service/codedeploy, size/XXL, tests

#18814 Update s3 replication IAM role perms as per AWS doc.
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, service/s3, size/XS

#18600 service/fms: Fix acceptance testing and use API model regular expression for `resource_type` and `resource_type_list` argument plan time validation
  .changelog/18600.txt
  aws/config.go
  aws/resource_aws_fms_admin_account.go
  aws/resource_aws_fms_admin_account_test.go
  aws/resource_aws_fms_policy.go
  aws/resource_aws_fms_policy_test.go
  aws/resource_aws_fms_test.go
  website/docs/r/fms_policy.html.markdown
Labels: bug, documentation, provider, service/fms, size/XL, tests

#17164 r/aws_sqs_queue: append .fifo suffix for FIFO queue if name unspecified
  aws/internal/service/sqs/consts.go
  aws/resource_aws_sns_topic_test.go
  aws/resource_aws_sqs_queue.go
  aws/resource_aws_sqs_queue_test.go
  aws/validators.go
  aws/validators_test.go
  website/docs/r/sqs_queue.html.markdown
Labels: documentation, service/sns, service/sqs, size/XL, tests

#18558 resource/aws_route53_resolver_firewall_domain_list: Add new resource
  aws/internal/service/route53resolver/finder/finder.go
  aws/internal/service/route53resolver/waiter/status.go
  aws/internal/service/route53resolver/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_route53_resolver_firewall_domain_list.go
  aws/resource_aws_route53_resolver_firewall_domain_list_test.go
  website/docs/r/route53_resolver_firewall_domain_list.markdown
Labels: documentation, needs-triage, provider, service/route53resolver, size/XL, tests

#18821 linter: add rule to discourage data source referencing resource Read
  .semgrep.yml
Labels: documentation, linter, provider, service/cloudhsmv2, service/costandusagereportservice, service/dynamodb, service/ec2, service/elb, service/elbv2, service/iam, service/kms, service/mq, service/route53resolver, service/sfn, service/sns, size/XS, tests

#18908 Add CHANGELOG entry for #17164
  .changelog/17164.txt
Labels: size/XS

#18494 resource/securityhub_insight: new resource
  .changelog/18494.txt
  aws/internal/service/securityhub/finder/finder.go
  aws/provider.go
  aws/resource_aws_securityhub_insight.go
  aws/resource_aws_securityhub_insight_test.go
  aws/resource_aws_securityhub_test.go
  website/docs/r/securityhub_insight.html.markdown
Labels: documentation, new-resource, provider, service/securityhub, size/XXL, tests

#18882 r/ecr_replication - delete rules on resource delete
  .changelog/18882.txt
  aws/resource_aws_ecr_replication_configuration.go
  aws/resource_aws_ecr_replication_configuration_test.go
Labels: bug, service/ecr, size/S, tests

#17992 Fix Quotas `service_code`/`quota_code` validation
  .changelog/17992.txt
  aws/resource_aws_servicequotas_service_quota.go
Labels: enhancement, service/servicequotas, size/XS, tests

#18909 Only reject tags for standard EIPs on EC2 Classic
  .changelog/18909.txt
  aws/resource_aws_eip.go
  aws/resource_aws_eip_association_test.go
  aws/resource_aws_eip_test.go
Labels: service/ec2, size/XL, tests

#18860 Link RDS Learn tutorial from AWS provider docs
  website/docs/r/db_instance.html.markdown
  website/docs/r/db_parameter_group.html.markdown
  website/docs/r/db_subnet_group.html.markdown
Labels: documentation, needs-triage, service/rds, size/XS

#18915 Add CHANGELOG entry for #18558
  .changelog/18558.txt
Labels: size/XS

#18644 r/aws_cloudfront_distribution: Support trusted_key_groups argument
  .changelog/18644.txt
  aws/cloudfront_distribution_configuration_structure.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudfront_distribution_test.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, service/cloudfront, size/L, tests

#18879 Add aws_kms_public_key data source
  .changelog/18873.txt
  aws/data_source_aws_kms_public_key.go
  aws/data_source_aws_kms_public_key_test.go
  aws/provider.go
  website/docs/d/kms_public_key.html.markdown
Labels: documentation, provider, service/kms, size/L, tests

#18710 provider: Support default tags (resources aws_x*)
  aws/resource_aws_xray_group.go
  aws/resource_aws_xray_sampling_rule.go
  website/docs/r/xray_group.html.markdown
  website/docs/r/xray_sampling_rule.html.markdown
Labels: documentation, service/xray, size/S

#18914 Add IAM permissions to codepipeline docs
  website/docs/r/codepipeline.markdown
Labels: documentation, needs-triage, size/XS

#18880 Add instance shutdown behavior retrieval
  .changelog/18880.txt
  aws/resource_aws_instance.go
  aws/resource_aws_instance_test.go
  aws/resource_aws_spot_fleet_request_test.go
Labels: service/ec2, size/L, tests

#18932 f/resource_aws_datasync_task: Add support for log_level
  aws/datasync.go
  aws/resource_aws_datasync_task.go
  aws/resource_aws_datasync_task_test.go
  website/docs/r/datasync_task.html.markdown
Labels: documentation, enhancement, service/datasync, size/M, tests

#18934 Fix CHANGELOG after 3.37.0 release
  CHANGELOG.md
Labels: documentation, provider, size/XS

#18936 docs/service/ssm: Include additional information for aws_ssm_parameter value sensitivity
  website/docs/d/ssm_parameter.html.markdown
  website/docs/r/ssm_parameter.html.markdown
Labels: documentation, service/ssm, size/XS

#18919 tests/resource/sns_topic: Make FIFO topic tests GovCloud compatible
  aws/provider_test.go
  aws/resource_aws_sns_topic_subscription_test.go
  aws/resource_aws_sns_topic_test.go
Labels: partition/aws-us-gov, service/sns, size/XS, tests

#16850 Add platform capability to Batch job definition
  .changelog/16850.txt
  aws/internal/service/batch/consts.go
  aws/internal/service/batch/finder/finder.go
  aws/resource_aws_batch_job_definition.go
  aws/resource_aws_batch_job_definition_test.go
  website/docs/r/batch_job_definition.html.markdown
Labels: documentation, needs-triage, service/batch, size/XL, tests

#18598 Allow rds_global_cluster engine_version upgrade
  .changelog/18598.txt
  aws/internal/service/rds/waiter/waiter.go
  aws/resource_aws_rds_global_cluster.go
  aws/resource_aws_rds_global_cluster_test.go
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, service/ec2, service/rds, size/L, tests

#18336 resource/aws_batch_job_definition: Add propagate_tags argument
  .changelog/18336.txt
  aws/resource_aws_batch_job_definition.go
  aws/resource_aws_batch_job_definition_test.go
  website/docs/r/batch_job_definition.html.markdown
Labels: documentation, service/batch, size/M, tests

#16940 resource/aws_batch_job_definition: Add support for evaluate on exit to job retry strategy
  aws/resource_aws_batch_job_definition.go
  aws/resource_aws_batch_job_definition_test.go
  website/docs/r/batch_job_definition.html.markdown
Labels: documentation, service/batch, size/L, tests

#16120 bugfix/treat empty secretOptions as null to prevent batch_job_definition recreation every time
  .changelog/16120.txt
  aws/internal/service/batch/equivalency/container_properties.go
  aws/internal/service/batch/equivalency/container_properties_test.go
  aws/resource_aws_batch_job_definition.go
Labels: service/batch, size/S, tests

#18958 provider: update SetTagsDiff when setting the computed tags_all attribute
  .changelog/18958.txt
  aws/resource_aws_subnet_test.go
  aws/tags.go
Labels: service/ec2, size/M, tests

#18744 provider: Support default tags (resources aws_gu*)
  aws/resource_aws_guardduty_detector.go
  aws/resource_aws_guardduty_filter.go
  aws/resource_aws_guardduty_ipset.go
  aws/resource_aws_guardduty_threatintelset.go
  website/docs/r/guardduty_detector.html.markdown
  website/docs/r/guardduty_filter.html.markdown
  website/docs/r/guardduty_ipset.html.markdown
  website/docs/r/guardduty_threatintelset.html.markdown
Labels: documentation, service/guardduty, size/M

#18743 provider: Support default tags (resources aws_ga-glo)
  aws/resource_aws_gamelift_alias.go
  aws/resource_aws_gamelift_build.go
  aws/resource_aws_gamelift_fleet.go
  aws/resource_aws_gamelift_game_session_queue.go
  aws/resource_aws_glacier_vault.go
  aws/resource_aws_globalaccelerator_accelerator.go
  website/docs/r/gamelift_alias.html.markdown
  website/docs/r/gamelift_build.html.markdown
  website/docs/r/gamelift_fleet.html.markdown
  website/docs/r/gamelift_game_session_queue.html.markdown
  website/docs/r/glacier_vault.html.markdown
  website/docs/r/globalaccelerator_accelerator.markdown
Labels: documentation, service/gamelift, service/glacier, service/globalaccelerator, size/L

#18717 provider: Support default tags (resources aws_t*)
  aws/resource_aws_transfer_server.go
  aws/resource_aws_transfer_user.go
  website/docs/r/transfer_server.html.markdown
  website/docs/r/transfer_user.html.markdown
Labels: documentation, service/transfer, size/S

#18713 provider: Support default tags (resources aws_f*)
  aws/resource_aws_flow_log.go
  aws/resource_aws_fsx_lustre_file_system.go
  aws/resource_aws_fsx_windows_file_system.go
  website/docs/r/flow_log.html.markdown
  website/docs/r/fsx_lustre_file_system.html.markdown
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, enhancement, service/ec2, service/fsx, size/M

#18718 provider: Support default tags (resources aws_m*)
  aws/resource_aws_media_convert_queue.go
  aws/resource_aws_media_package_channel.go
  aws/resource_aws_media_store_container.go
  aws/resource_aws_mq_broker.go
  aws/resource_aws_mq_configuration.go
  aws/resource_aws_msk_cluster.go
  aws/resource_aws_mwaa_environment.go
  website/docs/r/media_convert_queue.html.markdown
  website/docs/r/media_package_channel.html.markdown
  website/docs/r/media_store_container.html.markdown
  website/docs/r/mq_broker.html.markdown
  website/docs/r/mq_configuration.html.markdown
  website/docs/r/msk_cluster.html.markdown
  website/docs/r/mwaa_environment.html.markdown
Labels: documentation, enhancement, service/kafka, service/mediaconvert, service/mediapackage, service/mediastore, service/mq, service/mwaa, size/L

#18719 provider: Support default tags (resources aws_p*)
  aws/resource_aws_pinpoint_app.go
  aws/resource_aws_placement_group.go
  website/docs/r/pinpoint_app.markdown
  website/docs/r/placement_group.html.markdown
Labels: documentation, enhancement, service/ec2, service/pinpoint, size/S

#18720 provider: Support default tags (resources aws_n*)
  aws/resource_aws_nat_gateway.go
  aws/resource_aws_neptune_cluster.go
  aws/resource_aws_neptune_cluster_instance.go
  aws/resource_aws_neptune_cluster_parameter_group.go
  aws/resource_aws_neptune_event_subscription.go
  aws/resource_aws_neptune_parameter_group.go
  aws/resource_aws_neptune_subnet_group.go
  aws/resource_aws_network_acl.go
  aws/resource_aws_network_interface.go
  aws/resource_aws_networkfirewall_firewall.go
  aws/resource_aws_networkfirewall_firewall_policy.go
  aws/resource_aws_networkfirewall_rule_group.go
  website/docs/r/nat_gateway.html.markdown
  website/docs/r/neptune_cluster.html.markdown
  website/docs/r/neptune_cluster_instance.html.markdown
  website/docs/r/neptune_cluster_parameter_group.html.markdown
  website/docs/r/neptune_event_subscription.html.markdown
  website/docs/r/neptune_parameter_group.html.markdown
  website/docs/r/neptune_subnet_group.html.markdown
  website/docs/r/network_acl.html.markdown
  website/docs/r/network_interface.markdown
  website/docs/r/networkfirewall_firewall.html.markdown
  website/docs/r/networkfirewall_firewall_policy.html.markdown
  website/docs/r/networkfirewall_rule_group.html.markdown
Labels: documentation, enhancement, service/ec2, service/neptune, service/networkfirewall, size/XL

#18724 provider: Support default tags (resources aws_l*)
  aws/resource_aws_lambda_function.go
  aws/resource_aws_launch_template.go
  aws/resource_aws_lb.go
  aws/resource_aws_lb_target_group.go
  aws/resource_aws_licensemanager_license_configuration.go
  aws/resource_aws_lightsail_instance.go
  website/docs/r/lambda_function.html.markdown
  website/docs/r/launch_template.html.markdown
  website/docs/r/lb.html.markdown
  website/docs/r/lb_target_group.html.markdown
  website/docs/r/licensemanager_license_configuration.markdown
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, enhancement, service/ec2, service/elbv2, service/lambda, service/licensemanager, service/lightsail, size/L

#18736 provider: Support default tags (resources aws_e* 6)
  aws/resource_aws_elb.go
  aws/resource_aws_emr_cluster.go
  website/docs/r/elb.html.markdown
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, service/elb, service/emr, size/M

#18579 service/cloudformation: New Resource and Data Source: aws_cloudformation_type
  .changelog/18579.txt
  .gitignore
  aws/data_source_aws_cloudformation_type.go
  aws/data_source_aws_cloudformation_type_test.go
  aws/internal/service/cloudformation/arn.go
  aws/internal/service/cloudformation/arn_test.go
  aws/internal/service/cloudformation/waiter/status.go
  aws/internal/service/cloudformation/waiter/waiter.go
  aws/provider.go
  aws/resource_aws_cloudformation_type.go
  aws/resource_aws_cloudformation_type_test.go
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/.gitignore
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/.rpdk-config
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/Makefile
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/README.md
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/cmd/main.go
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/cmd/resource/model.go
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/cmd/resource/resource.go
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/docs/README.md
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/docs/memo.md
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/docs/tag.md
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/example_inputs/inputs_1_create.json
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/example_inputs/inputs_1_invalid.json
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/example_inputs/inputs_1_update.json
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/examplecompany-exampleservice-exampleresource.json
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/go.mod
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/go.sum
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/makebuild
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/resource-role.yaml
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/template.yml
  website/docs/d/cloudformation_type.html.markdown
  website/docs/r/cloudformation_type.html.markdown
Labels: new-data-source, new-resource, provider, service/cloudformation, size/XXL, tests

#19006 provider: add additional logic to SetTagsDiff to prevent `tags_all` perpetual diff when no `tags` configured
  aws/tags.go
Labels: bug, provider, size/XS

#19011 internal/keyvaluetags: Allow KeyValueTags type passthrough in New(), add unit testing, and fix potential panic
  aws/internal/keyvaluetags/key_value_tags.go
  aws/internal/keyvaluetags/key_value_tags_test.go
Labels: provider, size/L, tests

#19044 docs: change egress to ingress typo in aws_security_group doc
  website/docs/r/security_group.html.markdown
Labels: documentation, service/ec2, size/XS

#19037 lb_target_group - Remove unknown attribute for health checks in the documentation
  website/docs/r/lb_target_group.html.markdown
Labels: needs-triage, service/elbv2, size/XS

#18711 r/ebs_snapshot_copy: Add default tags
  aws/resource_aws_ebs_snapshot_copy.go
  website/docs/r/ebs_snapshot_copy.html.markdown
Labels: documentation, service/ec2, size/XS

#18722 provider: Support default tags (resources aws_e* 1)
  aws/resource_aws_ebs_snapshot.go
  aws/resource_aws_ebs_volume.go
  aws/resource_aws_ec2_capacity_reservation.go
  aws/resource_aws_ec2_carrier_gateway.go
  aws/resource_aws_ec2_client_vpn_endpoint.go
  aws/resource_aws_ec2_fleet.go
  aws/resource_aws_ec2_local_gateway_route_table_vpc_association.go
  aws/resource_aws_ec2_managed_prefix_list.go
  aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/cmd/resource/resource.go
  website/docs/r/ebs_snapshot.html.markdown
  website/docs/r/ebs_volume.html.markdown
  website/docs/r/ec2_capacity_reservation.html.markdown
  website/docs/r/ec2_carrier_gateway.html.markdown
  website/docs/r/ec2_client_vpn_endpoint.html.markdown
  website/docs/r/ec2_fleet.html.markdown
  website/docs/r/ec2_local_gateway_route_table_vpc_association.html.markdown
  website/docs/r/ec2_managed_prefix_list.html.markdown
Labels: documentation, service/ec2, size/XL, tests

#18725 provider: Support default tags (resources aws_e* 2)
  aws/resource_aws_ec2_traffic_mirror_filter.go
  aws/resource_aws_ec2_traffic_mirror_session.go
  aws/resource_aws_ec2_traffic_mirror_target.go
  aws/resource_aws_ec2_transit_gateway.go
  aws/resource_aws_ec2_transit_gateway_peering_attachment.go
  aws/resource_aws_ec2_transit_gateway_peering_attachment_accepter.go
  aws/resource_aws_ec2_transit_gateway_route_table.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment.go
  aws/resource_aws_ec2_transit_gateway_vpc_attachment_accepter.go
  website/docs/r/ec2_traffic_mirror_filter.html.markdown
  website/docs/r/ec2_traffic_mirror_session.html.markdown
  website/docs/r/ec2_traffic_mirror_target.html.markdown
  website/docs/r/ec2_transit_gateway.html.markdown
  website/docs/r/ec2_transit_gateway_peering_attachment.html.markdown
  website/docs/r/ec2_transit_gateway_peering_attachment_accepter.html.markdown
  website/docs/r/ec2_transit_gateway_route_table.html.markdown
  website/docs/r/ec2_transit_gateway_vpc_attachment.html.markdown
  website/docs/r/ec2_transit_gateway_vpc_attachment_accepter.html.markdown
Labels: documentation, service/ec2, size/L

#18726 provider: Support default tags (resources aws_r*)
  aws/resource_aws_ram_resource_share.go
  aws/resource_aws_rds_cluster.go
  aws/resource_aws_rds_cluster_endpoint.go
  aws/resource_aws_rds_cluster_instance.go
  aws/resource_aws_rds_cluster_parameter_group.go
  aws/resource_aws_redshift_cluster.go
  aws/resource_aws_redshift_event_subscription.go
  aws/resource_aws_redshift_parameter_group.go
  aws/resource_aws_redshift_snapshot_copy_grant.go
  aws/resource_aws_redshift_snapshot_schedule.go
  aws/resource_aws_redshift_subnet_group.go
  aws/resource_aws_resourcegroups_group.go
  aws/resource_aws_route53_health_check.go
  aws/resource_aws_route53_resolver_endpoint.go
  aws/resource_aws_route53_resolver_firewall_rule_group.go
  aws/resource_aws_route53_resolver_query_log_config.go
  aws/resource_aws_route53_resolver_rule.go
  aws/resource_aws_route53_zone.go
  aws/resource_aws_route_table.go
  website/docs/r/ram_resource_share.markdown
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster_endpoint.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
  website/docs/r/rds_cluster_parameter_group.markdown
  website/docs/r/redshift_cluster.html.markdown
  website/docs/r/redshift_event_subscription.html.markdown
  website/docs/r/redshift_parameter_group.html.markdown
  website/docs/r/redshift_snapshot_copy_grant.html.markdown
  website/docs/r/redshift_snapshot_schedule.html.markdown
  website/docs/r/redshift_subnet_group.html.markdown
  website/docs/r/resourcegroups_group.html.markdown
  website/docs/r/route53_health_check.html.markdown
  website/docs/r/route53_resolver_endpoint.html.markdown
  website/docs/r/route53_resolver_firewall_rule_group.markdown
  website/docs/r/route53_resolver_query_log_config.html.markdown
  website/docs/r/route53_resolver_rule.html.markdown
  website/docs/r/route53_zone.html.markdown
  website/docs/r/route_table.html.markdown
Labels: documentation, enhancement, service/ec2, service/ram, service/rds, service/redshift, service/resourcegroups, service/route53, service/route53resolver, size/XL

#18723 provider: Support default tags (resources aws_i*)
  aws/resource_aws_iam_instance_profile.go
  aws/resource_aws_iam_openid_connect_provider.go
  aws/resource_aws_iam_policy.go
  aws/resource_aws_iam_role.go
  aws/resource_aws_iam_saml_provider.go
  aws/resource_aws_iam_server_certificate.go
  aws/resource_aws_iam_user.go
  aws/resource_aws_imagebuilder_component.go
  aws/resource_aws_imagebuilder_distribution_configuration.go
  aws/resource_aws_imagebuilder_image.go
  aws/resource_aws_imagebuilder_image_pipeline.go
  aws/resource_aws_imagebuilder_image_recipe.go
  aws/resource_aws_imagebuilder_infrastructure_configuration.go
  aws/resource_aws_inspector_assessment_template.go
  aws/resource_aws_instance.go
  aws/resource_aws_internet_gateway.go
  aws/resource_aws_iot_topic_rule.go
  website/docs/r/iam_instance_profile.html.markdown
  website/docs/r/iam_openid_connect_provider.html.markdown
  website/docs/r/iam_policy.html.markdown
  website/docs/r/iam_role.html.markdown
  website/docs/r/iam_saml_provider.html.markdown
  website/docs/r/iam_server_certificate.html.markdown
  website/docs/r/iam_user.html.markdown
  website/docs/r/imagebuilder_component.html.markdown
  website/docs/r/imagebuilder_distribution_configuration.html.markdown
  website/docs/r/imagebuilder_image.html.markdown
  website/docs/r/imagebuilder_image_pipeline.html.markdown
  website/docs/r/imagebuilder_image_recipe.html.markdown
  website/docs/r/imagebuilder_infrastructure_configuration.html.markdown
  website/docs/r/inspector_assessment_template.html.markdown
  website/docs/r/instance.html.markdown
  website/docs/r/internet_gateway.html.markdown
  website/docs/r/iot_topic_rule.html.markdown
Labels: documentation, enhancement, service/ec2, service/iam, service/imagebuilder, service/inspector, service/iot, size/XL

#18728 provider: Support default tags (resources aws_c*)
  aws/resource_aws_cloud9_environment_ec2.go
  aws/resource_aws_cloudformation_stack.go
  aws/resource_aws_cloudformation_stack_set.go
  aws/resource_aws_cloudfront_distribution.go
  aws/resource_aws_cloudhsm_v2_cluster.go
  aws/resource_aws_cloudtrail.go
  aws/resource_aws_cloudwatch_composite_alarm.go
  aws/resource_aws_cloudwatch_event_bus.go
  aws/resource_aws_cloudwatch_event_rule.go
  aws/resource_aws_cloudwatch_log_group.go
  aws/resource_aws_cloudwatch_metric_alarm.go
  aws/resource_aws_codeartifact_domain.go
  aws/resource_aws_codeartifact_repository.go
  aws/resource_aws_codebuild_project.go
  aws/resource_aws_codebuild_report_group.go
  aws/resource_aws_codecommit_repository.go
  aws/resource_aws_codepipeline.go
  aws/resource_aws_codepipeline_webhook.go
  aws/resource_aws_codestarconnections_connection.go
  aws/resource_aws_codestarnotifications_notification_rule.go
  aws/resource_aws_cognito_identity_pool.go
  aws/resource_aws_cognito_user_pool.go
  aws/resource_aws_config_aggregate_authorization.go
  aws/resource_aws_config_config_rule.go
  aws/resource_aws_config_configuration_aggregator.go
  aws/resource_aws_customer_gateway.go
  website/docs/r/cloud9_environment_ec2.html.markdown
  website/docs/r/cloudformation_stack.html.markdown
  website/docs/r/cloudformation_stack_set.html.markdown
  website/docs/r/cloudfront_distribution.html.markdown
  website/docs/r/cloudhsm_v2_cluster.html.markdown
  website/docs/r/cloudtrail.html.markdown
  website/docs/r/cloudwatch_composite_alarm.html.markdown
  website/docs/r/cloudwatch_event_bus.html.markdown
  website/docs/r/cloudwatch_event_rule.html.markdown
  website/docs/r/cloudwatch_log_group.html.markdown
  website/docs/r/cloudwatch_metric_alarm.html.markdown
  website/docs/r/codeartifact_domain.html.markdown
  website/docs/r/codeartifact_repository.html.markdown
  website/docs/r/codebuild_project.html.markdown
  website/docs/r/codebuild_report_group.html.markdown
  website/docs/r/codecommit_repository.html.markdown
  website/docs/r/codepipeline.markdown
  website/docs/r/codepipeline_webhook.markdown
  website/docs/r/codestarconnections_connection.markdown
  website/docs/r/codestarnotifications_notification_rule.markdown
  website/docs/r/cognito_identity_pool.markdown
  website/docs/r/cognito_user_pool.markdown
  website/docs/r/config_aggregate_authorization.markdown
  website/docs/r/config_config_rule.html.markdown
  website/docs/r/config_configuration_aggregator.html.markdown
  website/docs/r/customer_gateway.html.markdown
Labels: documentation, enhancement, service/cloud9, service/cloudformation, service/cloudfront, service/cloudhsmv2, service/cloudtrail, service/cloudwatch, service/cloudwatchevents, service/cloudwatchlogs, service/codeartifact, service/codebuild, service/codecommit, service/codepipeline, service/codestarconnections, service/codestarnotifications, service/cognito, service/configservice, service/ec2, service/eventbridge, size/XL

#18742 provider: Support default tags (resources aws_a)
  aws/resource_aws_accessanalyzer_analyzer.go
  aws/resource_aws_acm_certificate.go
  aws/resource_aws_acmpca_certificate_authority.go
  aws/resource_aws_ami.go
  aws/resource_aws_ami_copy.go
  aws/resource_aws_ami_from_instance.go
  aws/resource_aws_api_gateway_api_key.go
  aws/resource_aws_api_gateway_client_certificate.go
  aws/resource_aws_api_gateway_domain_name.go
  aws/resource_aws_api_gateway_rest_api.go
  aws/resource_aws_api_gateway_stage.go
  aws/resource_aws_api_gateway_usage_plan.go
  aws/resource_aws_api_gateway_vpc_link.go
  aws/resource_aws_apigatewayv2_api.go
  aws/resource_aws_apigatewayv2_domain_name.go
  aws/resource_aws_apigatewayv2_stage.go
  aws/resource_aws_apigatewayv2_vpc_link.go
  aws/resource_aws_appmesh_gateway_route.go
  aws/resource_aws_appmesh_mesh.go
  aws/resource_aws_appmesh_route.go
  aws/resource_aws_appmesh_virtual_gateway.go
  aws/resource_aws_appmesh_virtual_node.go
  aws/resource_aws_appmesh_virtual_router.go
  aws/resource_aws_appmesh_virtual_service.go
  aws/resource_aws_appsync_graphql_api.go
  aws/resource_aws_athena_workgroup.go
  website/docs/r/accessanalyzer_analyzer.html.markdown
  website/docs/r/acm_certificate.html.markdown
  website/docs/r/acmpca_certificate_authority.html.markdown
  website/docs/r/ami.html.markdown
  website/docs/r/ami_copy.html.markdown
  website/docs/r/ami_from_instance.html.markdown
  website/docs/r/api_gateway_api_key.html.markdown
  website/docs/r/api_gateway_client_certificate.html.markdown
  website/docs/r/api_gateway_domain_name.html.markdown
  website/docs/r/api_gateway_rest_api.html.markdown
  website/docs/r/api_gateway_stage.html.markdown
  website/docs/r/api_gateway_usage_plan.html.markdown
  website/docs/r/api_gateway_vpc_link.html.markdown
  website/docs/r/apigatewayv2_api.html.markdown
  website/docs/r/apigatewayv2_domain_name.html.markdown
  website/docs/r/apigatewayv2_stage.html.markdown
  website/docs/r/apigatewayv2_vpc_link.html.markdown
  website/docs/r/appmesh_gateway_route.html.markdown
  website/docs/r/appmesh_mesh.html.markdown
  website/docs/r/appmesh_route.html.markdown
  website/docs/r/appmesh_virtual_gateway.html.markdown
  website/docs/r/appmesh_virtual_node.html.markdown
  website/docs/r/appmesh_virtual_router.html.markdown
  website/docs/r/appmesh_virtual_service.html.markdown
  website/docs/r/appsync_graphql_api.html.markdown
  website/docs/r/athena_workgroup.html.markdown
Labels: documentation, service/accessanalyzer, service/acm, service/acmpca, service/apigateway, service/apigatewayv2, service/appmesh, service/appsync, service/athena, service/ec2, size/XL

#18714 provider: Support default tags (resources aws_q*)
  aws/resource_aws_qldb_ledger.go
  website/docs/r/qldb_ledger.html.markdown
Labels: documentation, service/qldb, size/XS

#18715 provider: Support default tags (resources aws_b*)
  aws/resource_aws_backup_plan.go
  aws/resource_aws_backup_vault.go
  aws/resource_aws_batch_compute_environment.go
  aws/resource_aws_batch_job_definition.go
  aws/resource_aws_batch_job_queue.go
  website/docs/r/backup_plan.html.markdown
  website/docs/r/backup_vault.html.markdown
  website/docs/r/batch_compute_environment.html.markdown
  website/docs/r/batch_job_definition.html.markdown
  website/docs/r/batch_job_queue.html.markdown
Labels: documentation, enhancement, service/backup, service/batch, size/M

#18729 provider: Support default tags (resources aws_e* 3)
  aws/resource_aws_ecr_repository.go
  aws/resource_aws_ecs_capacity_provider.go
  aws/resource_aws_ecs_cluster.go
  aws/resource_aws_ecs_service.go
  aws/resource_aws_ecs_task_definition.go
  aws/resource_aws_efs_access_point.go
  aws/resource_aws_efs_file_system.go
  aws/resource_aws_egress_only_internet_gateway.go
  aws/resource_aws_eip.go
  website/docs/r/ecr_repository.html.markdown
  website/docs/r/ecs_capacity_provider.html.markdown
  website/docs/r/ecs_cluster.html.markdown
  website/docs/r/ecs_service.html.markdown
  website/docs/r/ecs_task_definition.html.markdown
  website/docs/r/efs_access_point.html.markdown
  website/docs/r/efs_file_system.html.markdown
  website/docs/r/egress_only_internet_gateway.html.markdown
  website/docs/r/eip.html.markdown
Labels: documentation, service/ec2, service/ecr, service/ecs, service/efs, size/XL
