Repository hashicorp/terraform-provider-aws, pull requests merged in 2021-11, with the labels that each got.

#21557 Updated AWS IAM Policy Document Guide endpoint
  website/docs/r/iam_role.html.markdown
Labels: documentation, size/XS, service/iam

#21559 Fix missing word in docs
  website/docs/r/neptune_cluster.html.markdown
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds, service/neptune

#21265 fix route table for Amazon FSx for NetApp ONTAP routes and tag
  .changelog/21265.txt
  internal/service/ec2/enum.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/flex.go
  internal/service/ec2/flex_test.go
  internal/service/ec2/network_interface.go
  internal/service/ec2/network_interface_attachment.go
  internal/service/ec2/network_interface_attachment_test.go
  internal/service/ec2/network_interface_data_source.go
  internal/service/ec2/network_interface_data_source_test.go
  internal/service/ec2/network_interface_sg_attachment.go
  internal/service/ec2/network_interface_sg_attachment_test.go
  internal/service/ec2/network_interface_test.go
  internal/service/ec2/network_interfaces_data_source.go
  internal/service/ec2/network_interfaces_data_source_test.go
  internal/service/ec2/route_table.go
  internal/service/ec2/route_table_data_source.go
  internal/service/ec2/security_group.go
  internal/service/ec2/status.go
  internal/service/ec2/wait.go
  internal/service/fsx/ontap_file_system_test.go
  website/docs/d/network_interface.html.markdown
  website/docs/r/network_interface.markdown
Labels: bug, documentation, size/XL, tests, service/ec2, service/fsx

#21565 r/aws_batch_compute_environment: Add `ec2_configuration`
  .changelog/21565.txt
  internal/service/batch/compute_environment.go
  internal/service/batch/compute_environment_test.go
  website/docs/r/batch_compute_environment.html.markdown
Labels: documentation, size/L, tests, service/batch

#21555 ec2 launch template network_card_index attribute added to network int…
  .changelog/21555.txt
  internal/service/ec2/launch_template.go
  internal/service/ec2/launch_template_data_source.go
  internal/service/ec2/launch_template_test.go
  internal/service/ec2/placement_group.go
  website/docs/r/launch_template.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ec2

#21616 r/aws_eks_node_group: Refer to AWS documentation for valid `ami_type` values
  .changelog/21616.txt
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, size/XS, service/eks

#21478 r/aws_storagegateway_file_system_association: Correct resource not found error handling
  internal/service/storagegateway/enum.go
  internal/service/storagegateway/errors.go
  internal/service/storagegateway/file_system_association.go
  internal/service/storagegateway/file_system_association_test.go
  internal/service/storagegateway/find.go
  internal/service/storagegateway/status.go
  internal/service/storagegateway/wait.go
Labels: size/L, tests, service/storagegateway

#21635 storagegateway/file_system_association: Increase timeouts
  internal/service/storagegateway/enum.go
Labels: size/XS, service/storagegateway

#21620 Feature: CloudFront response headers policies
  .changelog/21620.txt
  internal/provider/provider.go
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_configuration_structure.go
  internal/service/cloudfront/distribution_configuration_structure_test.go
  internal/service/cloudfront/distribution_test.go
  internal/service/cloudfront/find.go
  internal/service/cloudfront/response_headers_policy.go
  internal/service/cloudfront/response_headers_policy_data_source.go
  internal/service/cloudfront/response_headers_policy_data_source_test.go
  internal/service/cloudfront/response_headers_policy_test.go
  website/docs/d/cloudfront_response_headers_policy.html.markdown
  website/docs/r/cloudfront_distribution.html.markdown
  website/docs/r/cloudfront_response_headers_policy.html.markdown
Labels: documentation, size/XL, tests, service/cloudfront, provider

#21639 fix initialization of serviceData in internal/conns
  internal/conns/conns.go
Labels: size/XS, client-connections

#21641 Fix endpoints assignment, testing
  .changelog/21639.txt
  .changelog/21641.txt
  internal/acctest/acctest_test.go
  internal/conns/conns.go
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XL, tests, client-connections

#21632 Update autoscaling_group.html.markdown
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#21643 Fix docs for kms resources
  website/docs/r/kms_replica_external_key.html.markdown
  website/docs/r/kms_replica_key.html.markdown
Labels: documentation, size/XS, service/kms, needs-triage

#21657 Fix custom endpoint bug
  .changelog/21657.txt
  internal/acctest/acctest_test.go
  internal/conns/conns.go
  internal/provider/provider.go
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/L, tests, provider, client-connections

#21554 Sweeper: Add sweeper for `aws_dms_replication_task`
  GNUmakefile
  internal/service/dms/sweep.go
  internal/service/ec2/sweep.go
Labels: size/S, service/ec2, service/databasemigrationservice, sweeper, repository

#21542 tech_debt: functions for detaching and deleting network interfaces
  .changelog/21542.txt
  internal/service/ec2/enum.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/internet_gateway.go
  internal/service/ec2/internet_gateway_data_source.go
  internal/service/ec2/internet_gateway_data_source_test.go
  internal/service/ec2/internet_gateway_test.go
  internal/service/ec2/network_interface.go
  internal/service/ec2/network_interface_attachment.go
  internal/service/ec2/network_interface_data_source.go
  internal/service/ec2/network_interface_data_source_test.go
  internal/service/ec2/network_interfaces_data_source.go
  internal/service/ec2/security_group.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/wait.go
  internal/service/elb/load_balancer.go
  internal/service/elbv2/load_balancer.go
Labels: size/XL, tests, service/ec2, service/elbv2, service/elb, sweeper

#21661 r/datasync_s3_location - add validation `agent_arns`, `s3_bucket_arn` and `s3_config. bucket_access_role_arn`
  .changelog/21661.txt
  internal/service/datasync/location_s3.go
  internal/service/datasync/location_s3_test.go
Labels: size/S, tests, service/datasync

#19697 r/aws_cloudfront_function Always store DEVELOPMENT stage etag in state
  .changelog/19697.txt
  internal/service/cloudfront/find.go
  internal/service/cloudfront/function.go
  internal/service/cloudfront/function_test.go
  website/docs/r/cloudfront_function.html.markdown
Labels: bug, documentation, size/M, tests, service/cloudfront

#21681 November - January Roadmap
  ROADMAP.md
  docs/roadmaps/2021_August_to_October.md
Labels: documentation, size/L, provider

#21440 linting: Restores Semgrep checks
  .semgrep.yml
  internal/generate/namevaluesfilters/generators/servicefilters/main.go
  internal/generate/namevaluesfilters/service_filters_gen.go
  internal/service/autoscaling/group.go
  internal/service/autoscaling/launch_configuration.go
  internal/service/backup/vault_notifications_test.go
  internal/service/cognitoidp/user_pool_ui_customization_test.go
  internal/service/ec2/network_interface_sg_attachment_test.go
  internal/service/ec2/network_interface_test.go
  internal/service/efs/mount_target.go
  internal/service/elasticbeanstalk/environment.go
  internal/service/elasticsearch/domain_saml_options_test.go
  internal/service/elb/load_balancer.go
  internal/service/elb/load_balancer_test.go
  internal/service/elbv2/load_balancer.go
  internal/service/glue/ml_transform_test.go
  internal/service/iam/openid_connect_provider_test.go
  internal/service/iam/server_certificate.go
  internal/service/prometheus/workspace_test.go
  internal/service/s3/bucket_object.go
  internal/service/s3/enum.go
  internal/service/serverlessapprepo/cloudformation_stack.go
  internal/service/transfer/server.go
  internal/service/worklink/website_certificate_authority_association_test.go
Labels: size/L, tests, service/iam, service/ec2, service/s3, service/elbv2, service/elb, service/elasticbeanstalk, service/autoscaling, service/efs, service/glue, service/serverlessapplicationrepository, service/transfer, service/backup, service/worklink, linter, service/prometheusservice, generators, service/cognitoidentityprovider

#21669 Allow empty values in Service Catalog provisioning parameters
  .changelog/21669.txt
  internal/service/servicecatalog/provisioned_product.go
  internal/service/servicecatalog/provisioned_product_test.go
Labels: size/S, tests, service/servicecatalog

#21690 Correct `Core Services` link
  docs/roadmaps/2021_August_to_October.md
Labels: documentation, size/XS

#21501 Added index check for parsing record ID to avoid panic
  internal/service/route53/record.go
  internal/service/route53/record_test.go
Labels: bug, size/XS, tests, service/route53

#21695 Update bid_percentage argument description
  website/docs/r/batch_compute_environment.html.markdown
Labels: documentation, size/XS, service/batch

#21675 chore: update doc of `aws_rds_cluster`, `backtrack_window` description
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#12509 r/aws_cloudfront_field_level_encryption_profile - new resource
  .changelog/12509.txt
  .changelog/15033.txt
  internal/provider/provider.go
  internal/service/cloudfront/cache_policy.go
  internal/service/cloudfront/cache_policy_data_source.go
  internal/service/cloudfront/cache_policy_data_source_test.go
  internal/service/cloudfront/cache_policy_structure.go
  internal/service/cloudfront/cache_policy_test.go
  internal/service/cloudfront/consts.go
  internal/service/cloudfront/field_level_encryption_config.go
  internal/service/cloudfront/field_level_encryption_config_test.go
  internal/service/cloudfront/field_level_encryption_profile.go
  internal/service/cloudfront/field_level_encryption_profile_test.go
  internal/service/cloudfront/find.go
  internal/service/cloudfront/list.go
  internal/service/cloudfront/monitoring_subscription.go
  internal/service/cloudfront/monitoring_subscription_test.go
  internal/service/cloudfront/origin_request_policy.go
  internal/service/cloudfront/origin_request_policy_data_source.go
  internal/service/cloudfront/origin_request_policy_data_source_test.go
  internal/service/cloudfront/origin_request_policy_structure.go
  internal/service/cloudfront/origin_request_policy_test.go
  internal/service/cloudfront/realtime_log_config.go
  internal/service/cloudfront/realtime_log_config_test.go
  internal/service/cloudfront/response_headers_policy.go
  internal/service/cloudfront/response_headers_policy_data_source.go
  internal/service/cloudfront/response_headers_policy_data_source_test.go
  internal/service/cloudfront/response_headers_policy_test.go
  internal/service/cloudfront/sweep.go
  website/docs/r/cloudfront_cache_policy.html.markdown
  website/docs/r/cloudfront_field_level_encryption_config.html.markdown
  website/docs/r/cloudfront_field_level_encryption_profile.html.markdown
Labels: bug, crash, documentation, new-resource, size/XL, tests, service/cloudfront, provider, sweeper

#15829 Feature/ds key pair
  .changelog/15829.txt
  internal/provider/provider.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/key_pair.go
  internal/service/ec2/key_pair_data_source.go
  internal/service/ec2/key_pair_data_source_test.go
  internal/service/ec2/key_pair_test.go
  website/docs/d/key_pair.html.markdown
Labels: enhancement, documentation, new-data-source, size/XL, tests, service/ec2, provider

#21696 Disables acceptance tests for AWS Config aggregate authorization
  internal/service/config/aggregate_authorization_test.go
Labels: size/L, tests, service/configservice

#21163 Import icmp
  .changelog/21163.txt
  internal/service/ec2/security_group.go
  internal/service/ec2/security_group_rule.go
  internal/service/ec2/security_group_rule_test.go
  internal/service/ec2/security_group_test.go
  website/docs/r/security_group_rule.html.markdown
Labels: bug, documentation, size/M, tests, service/ec2

#21720 resourcegroupstagging to resourcegroupstaggingapi
  .github/labeler-pr-triage.yml
  internal/conns/conns.go
  internal/generate/listpages/main.go
  internal/generate/tags/main.go
  internal/provider/provider.go
  internal/service/resourcegroupstaggingapi/README.md
  internal/service/resourcegroupstaggingapi/generate.go
  internal/service/resourcegroupstaggingapi/resources_data_source.go
  internal/service/resourcegroupstaggingapi/resources_data_source_test.go
  internal/service/resourcegroupstaggingapi/tags_gen.go
Labels: documentation, size/S, tests, provider, tags, repository, client-connections, generators

#21721 prometheus to amp
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  infrastructure/repository/labels-service.tf
  internal/conns/conns.go
  internal/generate/listpages/main.go
  internal/generate/tags/main.go
  internal/provider/provider.go
  internal/service/amp/README.md
  internal/service/amp/alert_manager_definition.go
  internal/service/amp/alert_manager_definition_test.go
  internal/service/amp/find.go
  internal/service/amp/rule_group_namespace.go
  internal/service/amp/rule_group_namespace_test.go
  internal/service/amp/status.go
  internal/service/amp/wait.go
  internal/service/amp/workspace.go
  internal/service/amp/workspace_test.go
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/M, tests, provider, repository, client-connections, generators

#21723 docs: Acctests
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, size/L, provider

#21724 docs: Fix randomwithprefix
  docs/contributing/contribution-checklists.md
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, size/S, provider

#21717 r/aws_ebs_encryption_by_default - add import support
  .changelog/21717.txt
  internal/service/ec2/ebs_encryption_by_default.go
  internal/service/ec2/ebs_encryption_by_default_test.go
  website/docs/r/ebs_encryption_by_default.html.markdown
Labels: documentation, size/XS, tests, service/ec2

#21479 tests/macie: Skip Macie class acceptance tests if not enabled
  internal/service/macie/s3_bucket_association_test.go
Labels: size/XS, tests, service/macie

#21481 r/aws_sns_sms_preferences: Fix acceptance tests
  internal/create/attrmap.go
  internal/service/sns/sms_preferences.go
  internal/service/sns/sms_preferences_test.go
  internal/service/sqs/queue.go
Labels: tests

#21499 r/aws_synthetics_canary: Increase IAM role propagation wait time on Create
  internal/service/synthetics/canary.go
  internal/service/synthetics/canary_test.go
Labels: size/XS, tests, service/synthetics

#21712 d/aws_db_instance - require db_instance_identifier to be non-empty
  internal/service/rds/instance_data_source.go
Labels: size/XS, service/rds

#20978 r/aws_docdb_global_cluster: Support for DocDB Global Clusters
  .changelog/20978.txt
  internal/provider/provider.go
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_test.go
  internal/service/docdb/find.go
  internal/service/docdb/global_cluster.go
  internal/service/docdb/global_cluster_test.go
  internal/service/docdb/sweep.go
  internal/service/docdb/validate.go
  internal/service/docdb/wait.go
  website/docs/r/docdb_cluster.html.markdown
  website/docs/r/docdb_global_cluster.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/docdb, sweeper

#21737 Remove MaxItems Limit from CreateJobQueue
  .changelog/21737.txt
  internal/service/batch/job_queue.go
  website/docs/r/batch_job_queue.html.markdown
Labels: documentation, size/XS, service/batch, needs-triage

#21739 Remove "ForceNew" from ec2_managed_prefix_list's max_entries
  website/docs/r/ec2_managed_prefix_list.html.markdown
Labels: documentation, size/XS, service/ec2

#21710 service/ec2/find: update call to`DescribeRouteTables` with paginated method
  .changelog/21710.txt
  internal/service/ec2/find.go
Labels: size/M, service/ec2

#21735 Note that aws_docdb_cluster_parameter_group.parameter.* should be strings
  website/docs/r/docdb_cluster_parameter_group.html.markdown
Labels: documentation, service/docdb

#21404 Revert "change arg back to a TypeSet since it supports multiple values and order doesn't matter"
  .changelog/21404.txt
  internal/service/eks/node_group.go
  internal/service/eks/node_group_test.go
  website/docs/r/eks_node_group.html.markdown
Labels: bug, documentation, regression, size/S, tests, service/eks

#20329 r/s3_bucket_intelligent_tiering_configuration: New Resource
  .changelog/20329.txt
  internal/provider/provider.go
  internal/service/s3/bucket_intelligent_tiering_configuration.go
  internal/service/s3/bucket_intelligent_tiering_configuration_test.go
  internal/service/s3/wait.go
  website/docs/r/s3_bucket_intelligent_tiering_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3, provider

#21740 Revert documentation changes around attributes-as-blocks
  website/docs/r/default_route_table.html.markdown
  website/docs/r/default_security_group.html.markdown
  website/docs/r/emr_cluster.html.markdown
  website/docs/r/network_acl.html.markdown
  website/docs/r/route_table.html.markdown
  website/docs/r/security_group.html.markdown
Labels: documentation, size/L, service/ec2, service/emr

#21738 r/elasticsearch_domin: use tags as `KeyValueTags` type instead of as `[]*elasticsearchservice.Tag` in `UpdateTags`
  .changelog/21738.txt
  internal/service/elasticsearch/domain.go
Labels: bug, size/XS, service/elasticsearch

#21722 config to configservice
  .github/labeler-pr-triage.yml
  internal/acctest/acctest_test.go
  internal/conns/conns.go
  internal/provider/provider.go
  internal/service/config/config_test.go
  internal/service/configservice/README.md
  internal/service/configservice/aggregate_authorization.go
  internal/service/configservice/aggregate_authorization_test.go
  internal/service/configservice/config_rule.go
  internal/service/configservice/config_rule_test.go
  internal/service/configservice/config_test.go
  internal/service/configservice/configservice.go
  internal/service/configservice/configuration_aggregator.go
  internal/service/configservice/configuration_aggregator_test.go
  internal/service/configservice/configuration_recorder.go
  internal/service/configservice/configuration_recorder_status.go
  internal/service/configservice/configuration_recorder_status_test.go
  internal/service/configservice/configuration_recorder_test.go
  internal/service/configservice/conformance_pack.go
  internal/service/configservice/conformance_pack_test.go
  internal/service/configservice/delivery_channel.go
  internal/service/configservice/delivery_channel_test.go
  internal/service/configservice/flex.go
  internal/service/configservice/generate.go
  internal/service/configservice/organization_conformance_pack.go
  internal/service/configservice/organization_conformance_pack_test.go
  internal/service/configservice/organization_custom_rule.go
  internal/service/configservice/organization_custom_rule_test.go
  internal/service/configservice/organization_managed_rule.go
  internal/service/configservice/organization_managed_rule_test.go
  internal/service/configservice/remediation_configuration.go
  internal/service/configservice/remediation_configuration_test.go
  internal/service/configservice/sweep.go
  internal/service/configservice/tags_gen.go
  internal/service/configservice/test-fixtures/lambdatest.zip
  internal/service/configservice/validate.go
  internal/sweep/sweep_test.go
Labels: documentation, size/XL, tests, service/configservice, provider, sweeper, tags, repository, client-connections, generators

#21741 serverlessapprepo to serverlessrepo
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  docs/contributing/contribution-checklists.md
  infrastructure/repository/labels-service.tf
  internal/conns/conns.go
  internal/generate/listpages/main.go
  internal/generate/tags/main.go
  internal/provider/provider.go
  internal/service/serverlessapprepo/README.md
  internal/service/serverlessrepo/README.md
  internal/service/serverlessrepo/application_data_source.go
  internal/service/serverlessrepo/application_data_source_test.go
  internal/service/serverlessrepo/cloudformation_stack.go
  internal/service/serverlessrepo/cloudformation_stack_test.go
  internal/service/serverlessrepo/find.go
  internal/service/serverlessrepo/generate.go
  internal/service/serverlessrepo/tags_gen.go
  internal/service/serverlessrepo/wait.go
Labels: documentation, size/L, tests, provider, service/serverlessrepo, tags, repository, client-connections, generators, service/serverlessapplicationrepository

#21744 lexmodelbuilding to lexmodels
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  infrastructure/repository/labels-service.tf
  internal/acctest/acctest_test.go
  internal/conns/conns.go
  internal/generate/listpages/main.go
  internal/generate/tags/main.go
  internal/provider/provider.go
  internal/service/docdb/sweep.go
  internal/service/lexmodelbuilding/README.md
  internal/service/lexmodels/README.md
  internal/service/lexmodels/bot.go
  internal/service/lexmodels/bot_alias.go
  internal/service/lexmodels/bot_alias_data_source.go
  internal/service/lexmodels/bot_alias_data_source_test.go
  internal/service/lexmodels/bot_alias_test.go
  internal/service/lexmodels/bot_data_source.go
  internal/service/lexmodels/bot_data_source_test.go
  internal/service/lexmodels/bot_test.go
  internal/service/lexmodels/enum.go
  internal/service/lexmodels/find.go
  internal/service/lexmodels/intent.go
  internal/service/lexmodels/intent_data_source.go
  internal/service/lexmodels/intent_data_source_test.go
  internal/service/lexmodels/intent_test.go
  internal/service/lexmodels/slot_type.go
  internal/service/lexmodels/slot_type_data_source.go
  internal/service/lexmodels/slot_type_data_source_test.go
  internal/service/lexmodels/slot_type_test.go
  internal/service/lexmodels/status.go
  internal/service/lexmodels/sweep.go
  internal/service/lexmodels/test-fixtures/lambdatest.zip
  internal/service/lexmodels/wait.go
  internal/sweep/sweep_test.go
Labels: documentation, size/XL, tests, service/lexmodels, provider, service/docdb, sweeper, repository, client-connections, generators

#21743 r/security_group: add pagination to security group find method
  .changelog/21743.txt
  internal/service/ec2/find.go
Labels: bug, size/S, service/ec2

#21702 r/emr_cluster - add `auto_termination_policy` + use finder and waiter
  .changelog/21702.txt
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
  internal/service/emr/errors.go
  internal/service/emr/find.go
  internal/service/emr/instance_group_test.go
  internal/service/emr/status.go
  internal/service/emr/wait.go
  website/docs/r/emr_cluster.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/emr

#21756 Amend PR labeler elasticsearch dir elasticsearchservice -> elasticsearch
  .github/labeler-pr-triage.yml
Labels: size/XS, repository

#21709 Docs: Add Transit Gateway filter support options
  website/docs/d/ec2_transit_gateway.html.markdown
Labels: documentation, size/XS, service/ec2

#21736 Correct cloudfront_response_headers_policy docs
  website/docs/r/cloudfront_response_headers_policy.html.markdown
Labels: documentation, size/M, service/cloudfront

#21060 r/aws_s3_multi_region_access_point and r/aws_s3_multi_region_access_point_policy : New resource
  .changelog/21060.txt
  internal/acctest/acctest.go
  internal/provider/provider.go
  internal/service/s3control/access_point.go
  internal/service/s3control/access_point_test.go
  internal/service/s3control/consts.go
  internal/service/s3control/errors.go
  internal/service/s3control/find.go
  internal/service/s3control/multi_region_access_point.go
  internal/service/s3control/multi_region_access_point_policy.go
  internal/service/s3control/multi_region_access_point_policy_test.go
  internal/service/s3control/multi_region_access_point_test.go
  internal/service/s3control/status.go
  internal/service/s3control/sweep.go
  internal/service/s3control/validate.go
  internal/service/s3control/wait.go
  website/docs/r/s3control_multi_region_access_point.html.markdown
  website/docs/r/s3control_multi_region_access_point_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/s3control, sweeper

#21750 r/aws_accessanalyzer_analyzer: Add test sweeper
  internal/service/accessanalyzer/analyzer.go
  internal/service/accessanalyzer/sweep.go
  internal/sweep/sweep_test.go
Labels: size/M, tests, service/accessanalyzer, sweeper

#21765 r/sagemaker_endpoint - add `deployment_config` argument
  .changelog/21765.txt
  internal/service/sagemaker/endpoint.go
  internal/service/sagemaker/endpoint_test.go
  internal/service/sagemaker/find.go
  website/docs/r/sagemaker_endpoint.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/sagemaker

#21767 ds/emr_release_labels
  .changelog/21767.txt
  internal/provider/provider.go
  internal/service/emr/release_labels_data_source.go
  internal/service/emr/release_labels_data_source_test.go
  website/docs/d/emr_release_labels.markdown
Labels: documentation, new-data-source, size/L, tests, service/emr, provider

#21760 r/neptune_cluster: support in-place update of `engine_version`
  .changelog/21760.txt
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_test.go
  internal/service/neptune/wait.go
Labels: enhancement, size/M, tests, service/neptune

#21769 aws_iot_thing_type tags support
  .changelog/21769.txt
  internal/service/iot/thing_type.go
  internal/service/iot/thing_type_test.go
  website/docs/r/iot_thing_type.html.markdown
Labels: documentation, size/L, tests, service/iot

#21560 New resource: aws_securityhub_finding_aggregator
  .changelog/21560.txt
  internal/provider/provider.go
  internal/service/securityhub/finding_aggregator.go
  internal/service/securityhub/finding_aggregator_test.go
  internal/service/securityhub/securityhub_test.go
  website/docs/r/securityhub_finding_aggregator.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/securityhub

#19294 Implement object lambda access points for S3
  .changelog/19294.txt
  internal/provider/provider.go
  internal/service/s3/sweep.go
  internal/service/s3control/access_point.go
  internal/service/s3control/access_point_policy.go
  internal/service/s3control/access_point_policy_test.go
  internal/service/s3control/access_point_test.go
  internal/service/s3control/errors.go
  internal/service/s3control/find.go
  internal/service/s3control/multi_region_access_point.go
  internal/service/s3control/multi_region_access_point_policy.go
  internal/service/s3control/multi_region_access_point_policy_test.go
  internal/service/s3control/multi_region_access_point_test.go
  internal/service/s3control/object_lambda_access_point.go
  internal/service/s3control/object_lambda_access_point_policy.go
  internal/service/s3control/object_lambda_access_point_policy_test.go
  internal/service/s3control/object_lambda_access_point_test.go
  internal/service/s3control/sweep.go
  internal/service/s3control/test-fixtures/lambdatest.zip
  website/docs/r/s3_access_point.html.markdown
  website/docs/r/s3control_access_point_policy.html.markdown
  website/docs/r/s3control_object_lambda_access_point.html.markdown
  website/docs/r/s3control_object_lambda_access_point_policy.html.markdown
Labels: documentation, new-resource, size/XL, size/XXL, tests, service/s3, provider, service/s3control, sweeper

#21793 r/aws_cloudfront_cache_policy: Fix support for 0 values of `default_ttl`, `max_ttl` and `min_ttl`
  .changelog/21793.txt
  internal/service/cloudfront/cache_policy.go
  internal/service/cloudfront/cache_policy_test.go
Labels: size/M, tests, service/cloudfront

#21794 r/aws_internet_gateway: Allow `available` as a pending state during gateway detach
  .changelog/21794.txt
  internal/service/ec2/wait.go
Labels: size/XS, service/ec2

#21777 resource/aws_autoscaling_group: Fix autoscaling groups stuck in `pending` instance refresh
  .changelog/21777.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
Labels: size/M, tests, service/autoscaling

#21779 autoscaling_group: Link to API docs for metrics values
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#21798 Github Action to add roadmap milestone items to working board
  .github/workflows/roadmap_milestone.yml
Labels: size/XS

#21797 aws_route53_resolver_dnssec_config - increase config create/delete timeouts to 10 minutes
  .changelog/21797.txt
  internal/service/route53resolver/wait.go
Labels: size/XS, service/route53resolver

#21802 make: Add PKG and TESTS parameters
  .github/PULL_REQUEST_TEMPLATE.md
  GNUmakefile
  docs/contributing/contribution-checklists.md
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, size/S, provider, repository

#21812 Add description: lb_target_group_attachment for target type alb
  website/docs/r/lb_target_group_attachment.html.markdown
Labels: documentation, size/XS

#21547 Add id attribute to server_certificate_data doc
  website/docs/d/iam_server_certificate.html.markdown
Labels: documentation, size/XS, service/iam

#21819 Update quicksight_user documentation example to include a valid example
  website/docs/r/quicksight_user.html.markdown
Labels: documentation, size/XS, service/quicksight

#21800 Linting: Restores more Semgrep rules
  .semgrep.yml
  internal/service/apigateway/flex.go
  internal/service/autoscaling/launch_configuration.go
  internal/service/autoscaling/sweep.go
  internal/service/cloudformation/flex.go
  internal/service/cloudfront/distribution_configuration_structure.go
  internal/service/cognitoidentity/flex.go
  internal/service/cognitoidentity/pool.go
  internal/service/cognitoidentity/pool_roles_attachment.go
  internal/service/configservice/flex.go
  internal/service/dax/cluster.go
  internal/service/docdb/sweep.go
  internal/service/dynamodb/global_table.go
  internal/service/ecr/repository.go
  internal/service/ecs/flex.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_test.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/subnet_group.go
  internal/service/glue/resource_policy_test.go
  internal/service/kms/key_test.go
  internal/service/mq/broker.go
  internal/service/organizations/account.go
  internal/service/s3control/sweep.go
  internal/service/serverlessrepo/cloudformation_stack.go
  internal/service/ses/identity_notification_topic_test.go
  internal/service/signer/signing_profile_permission.go
  internal/service/sns/topic_test.go
  internal/service/swf/domain.go
  internal/service/waf/byte_match_set.go
  internal/service/waf/flex.go
  internal/service/waf/geo_match_set.go
  internal/service/waf/helpers.go
  internal/service/waf/rate_based_rule.go
  internal/service/waf/regex_match_set.go
  internal/service/waf/regex_pattern_set.go
  internal/service/waf/rule.go
  internal/service/waf/rule_group.go
  internal/service/waf/size_constraint_set.go
  internal/service/waf/sql_injection_match_set.go
  internal/service/waf/web_acl.go
  internal/service/waf/xss_match_set.go
  internal/service/wafregional/byte_match_set.go
  internal/service/wafregional/flex.go
  internal/service/wafregional/geo_match_set.go
  internal/service/wafregional/rate_based_rule.go
  internal/service/wafregional/regex_match_set.go
  internal/service/wafregional/regex_match_set_test.go
  internal/service/wafregional/regex_pattern_set.go
  internal/service/wafregional/rule.go
  internal/service/wafregional/rule_group.go
  internal/service/wafregional/size_constraint_set.go
  internal/service/wafregional/sql_injection_match_set.go
  internal/service/wafregional/sweep.go
  internal/service/wafregional/waf_helpers.go
  internal/service/wafregional/web_acl.go
  internal/service/wafregional/xss_match_set.go
  internal/tfresource/retry.go
Labels: size/XL, tests, service/ecs, service/cognito, service/configservice, service/apigateway, service/dax, service/sns, service/cloudfront, service/autoscaling, service/mq, service/dynamodb, service/organizations, service/ses, service/waf, service/elasticache, service/glue, service/kms, service/cloudformation, service/swf, service/ecr, service/serverlessrepo, linter, sweeper

#21822 Semgrep: Try removing restrictions
  .semgrep.yml
Labels: size/XS, linter

#20769 support for DynamicPartitioningConfiguration in firehose resource
  .changelog/20769.txt
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_data_source_test.go
  internal/service/firehose/delivery_stream_test.go
Labels: enhancement, size/XL, tests, service/firehose

#21837 Add encryption-in-transit-supported attribute to aws_ec2_instance_type
  .changelog/21837.txt
  internal/service/ec2/instance_type_data_source.go
  internal/service/ec2/instance_type_data_source_test.go
  website/docs/d/ec2_instance_type.html.markdown
Labels: documentation, size/XS, tests, service/ec2

#21831 r/route: Prevent giving up on route ready wait too early
  .changelog/21831.txt
  internal/service/ec2/wait.go
Labels: bug, size/XS, service/ec2

#21825 Increase aws_lambda_layer_version compatible_runtimes MaxItems value to 15
  .changelog/21825.txt
  internal/service/lambda/layer_version.go
Labels: bug, size/XS, service/lambda

#20777 Independent S3 Bucket Replication Configuration Resource
  .changelog/20777.txt
  internal/provider/provider.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_replication_configuration.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/enum.go
  internal/service/s3/flex.go
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_replication_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3, provider

#21799 New resources: `aws_iot_thing_group` and `aws_iot_thing_group_membership`
  .changelog/21799.txt
  internal/provider/provider.go
  internal/service/iot/authorizer.go
  internal/service/iot/authorizer_test.go
  internal/service/iot/find.go
  internal/service/iot/iot.go
  internal/service/iot/sweep.go
  internal/service/iot/thing.go
  internal/service/iot/thing_group.go
  internal/service/iot/thing_group_membership.go
  internal/service/iot/thing_group_membership_test.go
  internal/service/iot/thing_group_test.go
  internal/service/iot/thing_test.go
  website/docs/r/iot_thing_group.html.markdown
  website/docs/r/iot_thing_group_membership.html.markdown
Labels: documentation, size/XL, tests, service/iot, provider, sweeper

#21838 d/aws_cloudfront_response_headers_policy: Add missing `items` level in `custom_headers_config` block
  .changelog/21838.txt
  internal/service/cloudfront/response_headers_policy_data_source.go
  internal/service/cloudfront/response_headers_policy_data_source_test.go
Labels: size/M, tests, service/cloudfront

#11941 New Resource: aws_lambda_layer_version_permission
  .changelog/11941.txt
  internal/provider/provider.go
  internal/service/lambda/layer_version_permission.go
  internal/service/lambda/layer_version_permission_test.go
  website/docs/r/lambda_layer_version_permission.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/lambda, provider

#11997 Add `skip_destroy` parameter to `aws_lambda_layer_version` resource
  .changelog/11997.txt
  internal/service/lambda/function_test.go
  internal/service/lambda/layer_version.go
  internal/service/lambda/layer_version_test.go
  website/docs/r/lambda_layer_version.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/lambda

#21842 apprunner/service: Make `instance_role_arn` optional
  .changelog/20149.txt
  internal/service/apprunner/service.go
  internal/service/apprunner/service_test.go
  website/docs/r/apprunner_service.html.markdown
Labels: documentation, size/M, tests, service/apprunner

#21814 d/aws_imagebuilder_image_recipes - new data source
  .changelog/21814.txt
  internal/provider/provider.go
  internal/service/imagebuilder/filters.go
  internal/service/imagebuilder/image_recipes_data_source.go
  internal/service/imagebuilder/image_recipes_data_source_test.go
  website/docs/d/imagebuilder_image_recipes.html.markdown
Labels: documentation, new-data-source, size/XL, tests, provider, service/imagebuilder

#12949 Retry S3 OperationAborted errors
  .changelog/12949.txt
  internal/conns/conns.go
Labels: enhancement, size/XS, client-connections

#21789 New resource/aws_account_alternate_contact
  .changelog/21789.txt
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  infrastructure/repository/labels-service.tf
  internal/conns/conns.go
  internal/provider/provider.go
  internal/service/account/alternate_contact.go
  internal/service/account/alternate_contact_test.go
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/r/account_alternate_contact.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, client-connections

#21752 Acceptance tests: Replace `nodejs10.x` Lambda runtime with `nodejs14.x`
  internal/service/apigatewayv2/authorizer_test.go
  internal/service/lambda/function_test.go
  internal/service/lambda/layer_version_test.go
Labels: size/XS, tests, service/lambda, service/apigatewayv2

#21850 New Data Source: aws_ec2_instance_types
  .changelog/21850.txt
  internal/provider/provider.go
  internal/service/ec2/instance_types_data_source.go
  internal/service/ec2/instance_types_data_source_test.go
  website/docs/d/ec2_instance_types.html.markdown
Labels: documentation, size/L, tests, service/ec2, provider

#16393 service/elbv2/load_balancer: Support WAF fail open
  .changelog/16393.txt
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/load_balancer_data_source_test.go
  internal/service/elbv2/load_balancer_test.go
  website/docs/r/lb.html.markdown
Labels: enhancement, documentation, size/L, tests, service/elbv2

#21824 Add notes to quicksight_user documentation
  website/docs/r/quicksight_user.html.markdown
Labels: documentation, size/XS, service/quicksight

#19764 WAFv2: Added support for custom response bodies
  .changelog/19764.txt
  internal/service/wafv2/helper.go
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/rule_group_test.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/wafv2

#14764 aws_elb & aws_lb: Add desync_mitigation_mode
  .changelog/14764.txt
  internal/service/elb/load_balancer.go
  internal/service/elb/load_balancer_data_source.go
  internal/service/elb/load_balancer_data_source_test.go
  internal/service/elb/load_balancer_test.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/load_balancer_data_source_test.go
  internal/service/elbv2/load_balancer_test.go
  website/docs/r/elb.html.markdown
  website/docs/r/lb.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/elbv2, service/elb

#18079 Update aws_config_remediation_configuration resource to support latest schema as of 2021-03-12
  .changelog/18079.txt
  .github/workflows/terraform_provider.yml
  internal/service/configservice/config_test.go
  internal/service/configservice/remediation_configuration.go
  internal/service/configservice/remediation_configuration_test.go
  website/docs/r/config_remediation_configuration.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/configservice, linter, repository

#19576 WAFv2: Added support for label_match_statement and rule_label
  .changelog/19576.txt
  internal/service/wafv2/helper.go
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/rule_group_test.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/wafv2

#21867 semgrep: remove extraneous pointer conversion in elb/load_balancer.go and elb/load_balancer_data_source.go
  internal/service/elb/load_balancer.go
  internal/service/elb/load_balancer_data_source.go
Labels: size/XS, service/elb

#21869 Clean up Kafka/MSK funcs
  internal/service/kafka/broker_nodes_data_source_test.go
  internal/service/kafka/cluster.go
  internal/service/kafka/cluster_data_source_test.go
  internal/service/kafka/cluster_test.go
  internal/service/kafka/configuration_data_source_test.go
  internal/service/kafka/configuration_test.go
  internal/service/kafka/kafka_version_data_source.go
  internal/service/kafka/scram_secret_association_test.go
Labels: size/XL, tests, service/kafka

#21866 Update GHA workflows: go test
  .github/workflows/terraform_provider.yml
Labels: size/S, linter, repository

#17203 r/cloudtrail: Exclude Management Event Sources
  .changelog/17203.txt
  internal/service/cloudtrail/cloudtrail.go
  internal/service/cloudtrail/cloudtrail_test.go
  website/docs/r/cloudtrail.html.markdown
Labels: enhancement, documentation, size/M, tests, service/cloudtrail

#21485 New resource for AppStream User and Stack User Association
  .changelog/21485.txt
  internal/provider/provider.go
  internal/service/appstream/find.go
  internal/service/appstream/fleet_test.go
  internal/service/appstream/generate.go
  internal/service/appstream/list_pages_gen.go
  internal/service/appstream/status.go
  internal/service/appstream/user.go
  internal/service/appstream/user_stack_association.go
  internal/service/appstream/user_stack_association_test.go
  internal/service/appstream/user_test.go
  internal/service/appstream/wait.go
  website/docs/r/appstream_user.html.markdown
  website/docs/r/appstream_user_stack_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/appstream, generators

#17733 F/Support for AthenaEngineVersion option in Athena work groups
  .changelog/17733.txt
  internal/service/athena/workgroup.go
  internal/service/athena/workgroup_test.go
  website/docs/r/athena_workgroup.html.markdown
Labels: documentation, size/M, tests, service/athena

#21884 imagebuilder: Allow image recipe to be updated/replaced
  internal/service/imagebuilder/distribution_configuration.go
  internal/service/imagebuilder/distribution_configuration_data_source.go
  internal/service/imagebuilder/distribution_configuration_test.go
  internal/service/imagebuilder/image.go
  internal/service/imagebuilder/image_data_source.go
  internal/service/imagebuilder/image_pipeline.go
  internal/service/imagebuilder/image_pipeline_data_source.go
  internal/service/imagebuilder/image_recipe.go
  internal/service/imagebuilder/image_recipe_data_source.go
  internal/service/imagebuilder/image_recipe_test.go
  internal/service/imagebuilder/image_recipes_data_source_test.go
  internal/service/imagebuilder/infrastructure_configuration.go
  internal/service/imagebuilder/infrastructure_configuration_data_source.go
Labels: bug, size/L, tests, service/imagebuilder

#21886 Fix changelog
  .changelog/11997.txt
  .changelog/21884.txt
  CHANGELOG.md
Labels: documentation, size/XS, provider

#15387 aws_ec2_fleet: support in-place update of launch template config
  .changelog/15387.txt
  internal/service/ec2/fleet.go
  internal/service/ec2/fleet_test.go
Labels: enhancement, size/M, tests, service/ec2

#12868 resource/aws_dlm_lifecycle_policy: Implement support for Cross-Region Copy feature
  .changelog/12868.txt
  internal/service/dlm/lifecycle_policy.go
  internal/service/dlm/lifecycle_policy_test.go
  website/docs/r/dlm_lifecycle_policy.markdown
Labels: enhancement, documentation, size/XL, tests, service/dlm

#16203 Allow auth_token change without destroy and recreate
  .changelog/16203.txt
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
Labels: enhancement, size/S, tests, service/elasticache

#7983 Made enable_ecs_managed_tags a force new parameter
  .changelog/7983.txt
  internal/service/ecs/service.go
Labels: bug, size/XS, service/ecs

#21877 Use Ubuntu Bionic 18.04 LTS instead of unsupported 12.04 in two-tier example
  examples/two-tier/variables.tf
Labels: size/XS, needs-triage, examples

#12018 Fix wait for ASG capacity when increasing min size
  .changelog/12018.txt
  internal/service/autoscaling/group_waiting.go
  internal/service/autoscaling/group_waiting_test.go
Labels: bug, size/S, tests, service/autoscaling

#10693 Add validation to the name of aws_elb resource.
  .changelog/10693.txt
  internal/service/elbv2/validate.go
  internal/service/elbv2/validate_test.go
Labels: enhancement, size/XS, tests, service/elbv2

#21153 wafv2_web_acl doc: Update rate based example
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/XS, service/wafv2

#14870 Add value for the AmazonECSManaged tag in the aws_autoscaling_group resource example
  website/docs/r/ecs_capacity_provider.html.markdown
Labels: documentation, size/XS, service/ecs

#21780 Add fsx ontap_storage_virtual_machine resource
  .changelog/21780.txt
  internal/provider/provider.go
  internal/service/ec2/sweep.go
  internal/service/fsx/find.go
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/service/fsx/ontap_storage_virtual_machine_test.go
  internal/service/fsx/status.go
  internal/service/fsx/sweep.go
  internal/service/fsx/wait.go
  website/docs/r/fsx_ontap_storage_virtual_machine.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/fsx, sweeper

#21803 Add output S3 region to AWS SSM since it is now a supported parameter.
  .changelog/21803.txt
  internal/service/ssm/association.go
  internal/service/ssm/association_test.go
  website/docs/r/ssm_association.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ssm

#21484 New resource for AppStream Stack Fleet Association
  .changelog/21484.txt
  internal/provider/provider.go
  internal/service/appstream/find.go
  internal/service/appstream/fleet_stack_association.go
  internal/service/appstream/fleet_stack_association_test.go
  internal/service/appstream/generate.go
  internal/service/appstream/list_pages_gen.go
  website/docs/r/appstream_fleet_stack_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/appstream, generators

#21015 add `image_uri` to data source `aws_lambda_function`
  .changelog/21015.txt
  internal/service/lambda/function_data_source.go
  internal/service/lambda/function_data_source_test.go
  website/docs/d/lambda_function.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/lambda

#20707 Allow ECS Service Capacity Provider Updates
  .changelog/20707.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
  website/docs/r/ecs_service.html.markdown
Labels: documentation, size/XL, tests, service/ecs

#21900 RDS: Add storage-optimization pending state
  .changelog/21900.txt
  internal/service/docdb/cluster_instance.go
  internal/service/neptune/cluster_instance.go
  internal/service/rds/cluster.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/global_cluster.go
  internal/service/rds/instance_role_association.go
Labels: size/S, service/rds, service/neptune, service/docdb

#19533 added single condition values handling
  .changelog/19533.txt
  internal/service/iam/policy_document_data_source.go
  internal/service/iam/policy_document_data_source_test.go
Labels: bug, regression, size/M, tests, service/iam

#21889 Add fsx ontap_volume resource
  .changelog/21889.txt
  internal/provider/provider.go
  internal/service/fsx/find.go
  internal/service/fsx/ontap_volume.go
  internal/service/fsx/ontap_volume_test.go
  internal/service/fsx/status.go
  internal/service/fsx/wait.go
  website/docs/r/fsx_ontap_volume.html.markdown
Labels: documentation, size/XL, tests, provider, service/fsx, needs-triage

#21911 Restore `github.com/hashicorp/terraform-plugin-sdk` to default repo
  go.mod
  go.sum
Labels: size/XS

#21130 feat: adding support for connection termination in aws_lb_target_group
  .changelog/21130.txt
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_data_source.go
  internal/service/elbv2/target_group_test.go
  website/docs/r/lb_target_group.html.markdown
Labels: enhancement, documentation, size/M, tests, service/elbv2

#14908 r/aws_ecs_account_setting_default : Adds resource for default ECS account settings
  docs/contributing/service-package-pullrequest-guide.md
  internal/provider/provider.go
  internal/service/ecs/account_setting_default.go
  internal/service/ecs/account_setting_default_test.go
  website/docs/r/ecs_account_setting_default.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ecs, provider
