Repository hashicorp/terraform-provider-aws, pull requests merged in 2022-01, with the labels that each got.

#21508 r/aws_sagemaker_domain: add arguments to DefaultResourceSpec
  .changelog/21508.txt
  internal/service/sagemaker/app.go
  internal/service/sagemaker/app_test.go
  internal/service/sagemaker/domain.go
  internal/service/sagemaker/domain_test.go
  internal/service/sagemaker/sagemaker_test.go
  internal/service/sagemaker/user_profile.go
  internal/service/sagemaker/user_profile_test.go
  website/docs/r/sagemaker_app.html.markdown
  website/docs/r/sagemaker_domain.html.markdown
  website/docs/r/sagemaker_user_profile.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/sagemaker

#22371 11511: Added data source aws_organizations_resource_tags
  .changelog/22371.txt
  internal/provider/provider.go
  internal/service/organizations/organizations_test.go
  internal/service/organizations/resource_tags_data_source.go
  internal/service/organizations/resource_tags_data_source_test.go
  website/docs/d/organizations_resource_tags.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/organizations, provider

#22359 r/aws_ses_event_destination: fix cloudwatch_destination more contains
  .changelog/22359.txt
  internal/service/ses/event_destination.go
Labels: bug, size/M, service/ses

#22363 r/timestreamwrite_table - add `magnetic_store_write_properties` block
  .changelog/22363.txt
  internal/service/timestreamwrite/table.go
  internal/service/timestreamwrite/table_test.go
  website/docs/r/timestreamwrite_table.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/timestreamwrite

#22346 r/datasync_location_fsx_lustre_file_system - new resource
  .changelog/22346.txt
  internal/provider/provider.go
  internal/service/datasync/find.go
  internal/service/datasync/location_fsx_lustre_file_system.go
  internal/service/datasync/location_fsx_lustre_file_system_test.go
  internal/service/datasync/sweep.go
  internal/service/datasync/uri.go
  website/docs/r/datasync_location_fsx_lustre_file_system.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/datasync, sweeper

#22352 Align Contribution guide sweeper section for post service package refactor
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, size/XS, provider

#22345 r/codebuild_project - add `secondary_source_version` argument
  .changelog/22345.txt
  internal/service/codebuild/project.go
  internal/service/codebuild/project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: enhancement, documentation, size/L, tests, service/codebuild

#22335 d/aws_batch_scheduling_policy
  .changelog/22335.txt
  internal/provider/provider.go
  internal/service/batch/scheduling_policy_data_source.go
  internal/service/batch/scheduling_policy_data_source_test.go
  website/docs/d/batch_scheduling_policy.html.markdown
Labels: documentation, size/L, tests, service/batch, provider

#22344 r/codebuild_source_credential - finder, sweeper and disappears test
  internal/service/codebuild/find.go
  internal/service/codebuild/source_credential.go
  internal/service/codebuild/source_credential_test.go
  internal/service/codebuild/sweep.go
Labels: size/L, tests, service/codebuild, sweeper

#22347 r/datasync_location_hdfs - new resource
  .changelog/22347.txt
  internal/provider/provider.go
  internal/service/datasync/find.go
  internal/service/datasync/location_hdfs.go
  internal/service/datasync/location_hdfs_test.go
  internal/service/datasync/sweep.go
  internal/service/datasync/uri.go
  internal/service/datasync/uri_test.go
  website/docs/r/datasync_location_hdfs.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/datasync, sweeper

#22389 Correct resource names in CHANGELOG entries
  .changelog/21508.txt
Labels: size/XS

#22196 r/codebuild_resource_policy - new resource
  .changelog/22196.txt
  internal/provider/provider.go
  internal/service/codebuild/find.go
  internal/service/codebuild/resource_policy.go
  internal/service/codebuild/resource_policy_test.go
  website/docs/r/codebuild_resource_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/codebuild, provider

#22295 data_source: ap-southeast-3 (Jakarta)
  .changelog/22295.txt
  internal/service/cloudtrail/service_account_data_source.go
  internal/service/elb/hosted_zone_id_data_source.go
  internal/service/s3/hosted_zones.go
Labels: size/XS, service/s3, service/cloudtrail, service/elb

#22328 Add sweepers for `aws_vpc_ipam`, `aws_vpc_ipam_scope`, `aws_vpc_ipam_pool` and `aws_vpc_ipam_pool_cidr`
  internal/service/appstream/generate.go
  internal/service/appstream/list_pages_gen.go
  internal/service/appstream/sweep.go
  internal/service/ds/directory.go
  internal/service/ds/find.go
  internal/service/ds/sweep.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_ipam.go
  internal/service/ec2/vpc_ipam_pool.go
  internal/service/ec2/vpc_ipam_scope.go
Labels: size/XL, service/ec2, service/directoryservice, service/appstream, sweeper, generators

#18085 f/provider - Add validation for provider session-name
  .changelog/18085.txt
  internal/provider/provider.go
Labels: size/XS, provider

#22222 f/aws_ssm_parameters_by_path: Add support for recursive parameter retrieval
  .changelog/22222.txt
  internal/service/ssm/parameters_by_path_data_source.go
  internal/service/ssm/parameters_by_path_data_source_test.go
  website/docs/d/ssm_parameters_by_path.html.markdown
Labels: documentation, size/M, tests, service/ssm

#21458 r/aws_cloudbuild_project: fix plan validation to take into account computed cache location
  .changelog/21458.txt
  internal/service/codebuild/project.go
  internal/service/codebuild/project_test.go
Labels: bug, size/S, tests, service/codebuild

#21025 r/devicefarm_device_pool - new resource + use finder for devicefarm project
  .changelog/21025.txt
  internal/provider/provider.go
  internal/service/devicefarm/device_pool.go
  internal/service/devicefarm/device_pool_test.go
  internal/service/devicefarm/find.go
  internal/service/devicefarm/project.go
  internal/service/devicefarm/project_test.go
  internal/service/devicefarm/sweep.go
  website/docs/r/devicefarm_device_pool.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/devicefarm, provider, sweeper

#21034 r/cloudfront_distribution - plan time validations
  .changelog/21034.txt
  internal/service/cloudfront/distribution.go
Labels: enhancement, size/M, service/cloudfront

#22391 Add `testAccIPAMPreCheck` to check for IPAM service-linked role
  internal/service/ec2/vpc_byoip_test.go
  internal/service/ec2/vpc_ipam_pool_cidr_allocation_test.go
  internal/service/ec2/vpc_ipam_pool_cidr_test.go
  internal/service/ec2/vpc_ipam_pool_data_source_test.go
  internal/service/ec2/vpc_ipam_pool_test.go
  internal/service/ec2/vpc_ipam_scope_test.go
  internal/service/ec2/vpc_ipam_test.go
  internal/service/ec2/vpc_ipv4_cidr_block_association_test.go
  internal/service/ec2/vpc_test.go
Labels: size/L, tests, service/ec2

#22381 changed to create_time
  website/docs/r/glue_user_defined_function.html.markdown
Labels: documentation, size/XS, service/glue

#15489 Improve reading kinesis stream state
  internal/service/kinesis/find.go
  internal/service/kinesis/status.go
  internal/service/kinesis/stream.go
  internal/service/kinesis/stream_consumer.go
  internal/service/kinesis/stream_consumer_test.go
  internal/service/kinesis/stream_data_source.go
  internal/service/kinesis/stream_test.go
  internal/service/kinesis/wait.go
Labels: enhancement, size/XL, tests, service/kinesis

#21727 Use s3manager.Uploader for creating S3 bucket objects
  .changelog/21727.txt
  internal/service/s3/bucket_object.go
Labels: enhancement, size/XL, service/s3

#22387 docs/contributing: Correct link to website source
  docs/contributing/contribution-checklists.md
Labels: documentation, size/XS, provider

#22394 New resource/aws_vpc_ipam_organization_admin_account
  .changelog/22394.txt
  internal/provider/provider.go
  internal/service/ec2/vpc_ipam_organization_admin_account.go
  internal/service/ec2/vpc_ipam_organization_admin_account_test.go
  website/docs/r/vpc_ipam_organization_admin_account.html.markdown
  website/docs/r/vpc_ipam_pool_cidr.html.markdown
Labels: documentation, size/XL, tests, service/ec2, provider

#22348 d/aws_batch_job_queue - new attribute
  .changelog/22348.txt
  internal/service/batch/job_queue_data_source.go
  internal/service/batch/job_queue_data_source_test.go
  website/docs/d/batch_job_queue.html.markdown
Labels: documentation, size/M, tests, service/batch

#22396 r/aws_dax_cluster - new attribute
  .changelog/22396.txt
  internal/service/dax/cluster.go
  internal/service/dax/cluster_test.go
  website/docs/r/dax_cluster.html.markdown
Labels: documentation, size/M, tests, service/dax

#22395 r/appstream_fleet: correctly create resource with `stream_view` argument
  .changelog/22395.txt
  internal/service/appstream/fleet.go
  internal/service/appstream/fleet_test.go
  website/docs/r/appstream_fleet.html.markdown
Labels: bug, documentation, size/XS, tests, service/appstream

#22341 r/aws_vpc_ipam_preview_next_cidr
  internal/provider/provider.go
  internal/service/ec2/vpc_ipam_preview_next_cidr.go
  internal/service/ec2/vpc_ipam_preview_next_cidr_test.go
  website/docs/r/vpc_ipam_preview_next_cidr.html.markdown
Labels: documentation, size/XL, tests, service/ec2, provider

#22388 New Resource: aws_memorydb_cluster
  .changelog/22388.txt
  internal/provider/provider.go
  internal/service/memorydb/cluster.go
  internal/service/memorydb/cluster_test.go
  internal/service/memorydb/find.go
  internal/service/memorydb/status.go
  internal/service/memorydb/wait.go
  website/docs/r/memorydb_cluster.html.markdown
Labels: documentation, size/XL, tests, provider, service/memorydb

#22380 Update aws_synthetics_canary docs
  website/docs/r/synthetics_canary.html.markdown
Labels: documentation, size/XS, service/synthetics

#22402 r/networkfirewall_resource_policy: add error handling during delete for possible RAM related error
  .changelog/22402.txt
  internal/service/networkfirewall/resource_policy.go
  internal/service/networkfirewall/wait.go
Labels: enhancement, size/XS, service/networkfirewall

#22406 r/codepipeline_webhook - validations
  .changelog/22406.txt
  internal/service/codepipeline/webhook.go
  internal/service/codepipeline/webhook_test.go
  website/docs/r/codepipeline_webhook.markdown
Labels: enhancement, documentation, size/XL, tests, service/codepipeline

#18451 r/codepipeline - add validations
  .changelog/18451.txt
  internal/service/codepipeline/codepipeline.go
Labels: enhancement, size/M, service/codepipeline

#22417 td/remove id from resource schema
  internal/service/route53resolver/dnssec_config.go
  internal/service/route53resolver/firewall_rule_group.go
  internal/service/route53resolver/firewall_rule_group_test.go
Labels: size/XS, tests, technical-debt, service/route53resolver

#22234 add Amazon FSx for OpenZFS resources
  .changelog/22234.txt
  internal/provider/provider.go
  internal/service/ec2/sweep.go
  internal/service/fsx/backup_test.go
  internal/service/fsx/find.go
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_file_system_test.go
  internal/service/fsx/openzfs_snapshot.go
  internal/service/fsx/openzfs_snapshot_test.go
  internal/service/fsx/openzfs_volume.go
  internal/service/fsx/openzfs_volume_test.go
  internal/service/fsx/status.go
  internal/service/fsx/sweep.go
  internal/service/fsx/wait.go
  website/docs/r/fsx_backup.html.markdown
  website/docs/r/fsx_openzfs_file_system.html.markdown
  website/docs/r/fsx_openzfs_snapshot.html.markdown
  website/docs/r/fsx_openzfs_volume.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ec2, provider, service/fsx, sweeper

#18560 r/cloud9_environment_ec2 - validations + refactor to use finder and waiter packages + sweeper
  .changelog/18560.txt
  internal/service/cloud9/environment_ec2.go
  internal/service/cloud9/environment_ec2_test.go
  internal/service/cloud9/find.go
  internal/service/cloud9/status.go
  internal/service/cloud9/sweep.go
  internal/service/cloud9/wait.go
  internal/service/ec2/sweep.go
  internal/sweep/sweep_test.go
Labels: size/XL, tests, service/ec2, service/cloud9, sweeper

#22403 Skip Glue Data Catalog Encryption Settings acceptance tests
  internal/service/cloudfront/find.go
  internal/service/cloudfront/sweep.go
  internal/service/glue/data_catalog_encryption_settings_data_source_test.go
  internal/service/glue/data_catalog_encryption_settings_test.go
  internal/service/iam/sweep.go
Labels: size/M, tests, service/iam, service/cloudfront, service/glue, sweeper

#22350 Add support for AWS Direct Connect Sitelink #22187
  .changelog/22350.txt
  internal/service/directconnect/private_virtual_interface.go
  internal/service/directconnect/private_virtual_interface_test.go
  internal/service/directconnect/transit_virtual_interface.go
  internal/service/directconnect/transit_virtual_interface_test.go
  internal/service/directconnect/vif.go
Labels: enhancement, size/L, tests, service/directconnect

#22425 sweeper/fsx: Avoid `Error adding (aws_fsx_ontap_volume) to sweeperFuncs: function already exists in map`
  internal/service/fsx/sweep.go
Labels: size/XS, service/fsx, sweeper

#22418 fix validation parameter and style
  .changelog/22418.txt
  internal/service/ec2/vpc_ipam_pool_cidr_allocation.go
  website/docs/r/vpc_ipam_pool_cidr_allocation.html.markdown
Labels: documentation, size/XS, service/ec2

#22414 Add aws_mskconnect_worker_configuration resource
  .changelog/22414.txt
  internal/provider/provider.go
  internal/service/kafkaconnect/find.go
  internal/service/kafkaconnect/worker_configuration.go
  internal/service/kafkaconnect/worker_configuration_data_source.go
  internal/service/kafkaconnect/worker_configuration_data_source_test.go
  internal/service/kafkaconnect/worker_configuration_test.go
  website/docs/d/mskconnect_worker_configuration.html.markdown
  website/docs/r/mskconnect_worker_configuration.html.markdown
Labels: documentation, size/XL, tests, provider, service/kafkaconnect

#22439 r/glue_trigger - add `start_on_creation`
  .changelog/22439.txt
  internal/service/glue/trigger.go
  internal/service/glue/trigger_test.go
  website/docs/r/glue_trigger.html.markdown
Labels: enhancement, documentation, size/S, tests, service/glue

#22443 r/devicefarm_upload - new resource
  .changelog/22443.txt
  internal/provider/provider.go
  internal/service/devicefarm/find.go
  internal/service/devicefarm/upload.go
  internal/service/devicefarm/upload_test.go
  website/docs/r/devicefarm_upload.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/devicefarm, provider

#11857 r/aws_cloud9_environment_membership - add new resource
  .changelog/11857.txt
  internal/provider/provider.go
  internal/service/cloud9/environment_membership.go
  internal/service/cloud9/environment_membership_test.go
  internal/service/cloud9/find.go
  website/docs/r/cloud9_environment_membership.markdown
Labels: documentation, new-resource, size/XL, tests, service/cloud9, provider

#22442 sweeper/AppStream: Delete the correct resource types
  internal/service/appstream/directory_config.go
  internal/service/appstream/fleet.go
  internal/service/appstream/image_builder.go
  internal/service/appstream/stack.go
  internal/service/appstream/sweep.go
Labels: size/L, service/appstream, sweeper

#22448 r/devicefarm_network_profile - new resource
  internal/provider/provider.go
  internal/service/devicefarm/device_pool.go
  internal/service/devicefarm/find.go
  internal/service/devicefarm/network_profile.go
  internal/service/devicefarm/network_profile_test.go
  internal/service/devicefarm/upload.go
  website/docs/r/devicefarm_network_profile.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/devicefarm, provider

#22435 r/customer_gateway - cleanup + `certificate_arn`
  .changelog/22435.txt
  internal/acctest/acctest.go
  internal/service/acmpca/certificate_authority_test.go
  internal/service/appmesh/virtual_gateway_test.go
  internal/service/appmesh/virtual_node_test.go
  internal/service/ec2/customer_gateway.go
  internal/service/ec2/customer_gateway_data_source.go
  internal/service/ec2/customer_gateway_data_source_test.go
  internal/service/ec2/customer_gateway_test.go
  internal/service/ec2/enum.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpn_gateway.go
  internal/service/ec2/vpn_gateway_attachment.go
  internal/service/ec2/vpn_gateway_attachment_test.go
  internal/service/ec2/vpn_gateway_data_source.go
  internal/service/ec2/vpn_gateway_data_source_test.go
  internal/service/ec2/vpn_gateway_test.go
  internal/service/ec2/wait.go
  internal/service/kafka/cluster_test.go
  internal/service/transfer/server_test.go
  website/docs/d/customer_gateway.html.markdown
  website/docs/r/customer_gateway.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ec2, service/acmpca, service/transfer, service/appmesh, service/kafka, sweeper

#22342 r/ebs_snapshot - support storage tier + sweeper
  .changelog/22342.txt
  internal/service/ec2/ebs_snapshot.go
  internal/service/ec2/ebs_snapshot_copy.go
  internal/service/ec2/ebs_snapshot_copy_test.go
  internal/service/ec2/ebs_snapshot_data_source.go
  internal/service/ec2/ebs_snapshot_data_source_test.go
  internal/service/ec2/ebs_snapshot_import.go
  internal/service/ec2/ebs_snapshot_import_test.go
  internal/service/ec2/ebs_snapshot_test.go
  internal/service/ec2/enum.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/wait.go
  website/docs/d/ebs_snapshot.html.markdown
  website/docs/r/ebs_snapshot.html.markdown
  website/docs/r/ebs_snapshot_copy.html.markdown
  website/docs/r/ebs_snapshot_import.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ec2, sweeper

#22454 docs/contributing: add Sagemaker account IDs to new region steps
  docs/contributing/contribution-checklists.md
Labels: documentation, size/XS, provider

#22464 docs/autoscaling_group: add note instance_refresh
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#22460 r/cloudwatch_log_destination_policy - add `force_update` argument
  .changelog/22460.txt
  internal/service/cloudwatchlogs/destination_policy.go
  internal/service/cloudwatchlogs/destination_policy_test.go
  website/docs/r/cloudwatch_log_destination_policy.html.markdown
Labels: enhancement, documentation, size/M, tests, service/cloudwatchlogs

#22462 r/fsx_lustre_file_system - add more values to `per_unit_storage_throughput`
  .changelog/22462.txt
  internal/service/fsx/lustre_file_system.go
Labels: bug, size/XS, service/fsx

#22453 data_source: ap-southeast-3 (Jakarta)
  .changelog/22453.txt
  internal/service/elb/service_account_data_source.go
Labels: size/XS, service/elb

#22455 data_source: new region Sagemaker account IDs (af-south-1, ap-northeast-3, eu-south-1)
  .changelog/22455.txt
  internal/service/sagemaker/prebuilt_ecr_image_data_source.go
Labels: enhancement, size/S, service/sagemaker

#22461 r/cloudfront_distribution - bump `origin_read_timeout` validation to `180`
  .changelog/22461.txt
  internal/service/cloudfront/distribution.go
Labels: bug, regression, size/XS, service/cloudfront

#22458 r/devicefarm_instance_profile - new resource
  .changelog/22458.txt
  internal/provider/provider.go
  internal/service/devicefarm/find.go
  internal/service/devicefarm/instance_profile.go
  internal/service/devicefarm/instance_profile_test.go
  website/docs/r/devicefarm_instance_profile.html.markdown
  website/docs/r/devicefarm_network_profile.html.markdown
Labels: documentation, size/XL, tests, service/devicefarm, provider

#22466 Update import documentation for aws_account_alternate_contact
  website/docs/r/account_alternate_contact.html.markdown
Labels: documentation, size/XS, service/account

#22463 Add support for EC2 Instance Metadata Tags
  .changelog/22463.txt
  internal/service/ec2/instance.go
  internal/service/ec2/instance_data_source.go
  internal/service/ec2/instance_data_source_test.go
  internal/service/ec2/instance_test.go
  internal/service/ec2/launch_template.go
  internal/service/ec2/launch_template_data_source.go
  internal/service/ec2/launch_template_data_source_test.go
  internal/service/ec2/launch_template_test.go
  website/docs/d/instance.html.markdown
  website/docs/d/launch_template.html.markdown
  website/docs/r/instance.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/M, tests, service/ec2

#22472 r/glue_crawler - support delta tables
  .changelog/22472.txt
  internal/service/glue/crawler.go
  internal/service/glue/crawler_test.go
  website/docs/r/glue_crawler.html.markdown
Labels: enhancement, documentation, size/L, tests, service/glue

#22476 Correct data source name in CHANGELOG
  .changelog/22463.txt
Labels: size/XS

#18610 Add ECS task definition family validation to match API requirements
  .changelog/18610.txt
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_test.go
Labels: enhancement, size/XS, tests, service/ecs

#22269 ecs/task_definition: Add `skip_destroy` argument
  .changelog/22269.txt
  GNUmakefile
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_test.go
Labels: size/XL, tests, service/ecs, repository

#21556 Fixed an issue when importing Route53 Records with underscores
  .changelog/21556.txt
  internal/service/route53/record.go
  internal/service/route53/record_test.go
Labels: bug, size/M, tests, service/route53

#22486 New Resource: aws_memorydb_snapshot
  .changelog/22486.txt
  internal/provider/provider.go
  internal/service/memorydb/cluster_test.go
  internal/service/memorydb/snapshot.go
  internal/service/memorydb/snapshot_test.go
  internal/service/memorydb/status.go
  internal/service/memorydb/wait.go
  website/docs/r/memorydb_snapshot.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/memorydb

#22411 r/appsync_datasource - http authorization + rdbms source
  .changelog/22411.txt
  internal/service/appsync/appsync_test.go
  internal/service/appsync/datasource.go
  internal/service/appsync/datasource_test.go
  website/docs/r/appsync_datasource.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/appsync

#22477 d/aws_cognito_user_pool_client lookup single client attributes
  .changelog/22477.txt
  internal/provider/provider.go
  internal/service/cognitoidp/user_pool_client_data_source.go
  internal/service/cognitoidp/user_pool_client_data_source_test.go
  website/docs/d/cognito_user_pool_client.markdown
Labels: documentation, new-data-source, size/XL, tests, provider, service/cognitoidentityprovider

#22485 r/aws_eks_cluster: Add ip_family argument
  .changelog/22485.txt
  internal/service/eks/cluster.go
  internal/service/eks/cluster_data_source.go
  internal/service/eks/cluster_data_source_test.go
  internal/service/eks/cluster_test.go
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, size/M, tests, service/eks

#22470 r/aws_vpc_ipam_pool_cidr_allocation - new attribute
  .changelog/22470.txt
  internal/service/ec2/vpc_ipam_pool_cidr_allocation.go
  internal/service/ec2/vpc_ipam_pool_cidr_allocation_test.go
  website/docs/r/vpc_ipam_pool_cidr_allocation.html.markdown
Labels: documentation, size/M, tests, service/ec2

#22501 r/aws_vpc_ipam_preview_next_cidr - new attribute
  .changelog/22501.txt
  internal/service/ec2/vpc_ipam_preview_next_cidr.go
  internal/service/ec2/vpc_ipam_preview_next_cidr_test.go
  website/docs/r/vpc_ipam_preview_next_cidr.html.markdown
Labels: documentation, size/M, tests, service/ec2

#22074 backup/selection_type: add conditions and not_resources fields
  .changelog/22074.txt
  internal/service/backup/selection.go
  internal/service/backup/selection_data_source_test.go
  internal/service/backup/selection_test.go
  website/docs/r/backup_selection.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/backup

#22484 r/appsync_function - Support `sync_config` and `max_batch_size`
  .changelog/22484.txt
  internal/service/appsync/appsync_test.go
  internal/service/appsync/datasource.go
  internal/service/appsync/function.go
  internal/service/appsync/function_test.go
  website/docs/r/appsync_function.html.markdown
Labels: bug, enhancement, documentation, size/L, tests, service/appsync

#22480 added nil check for nfs exports
  .changelog/22480.txt
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_file_system_test.go
  internal/service/fsx/openzfs_volume.go
Labels: bug, crash, size/M, tests, service/fsx

#22506 Modifications to resolve github CI errors
  .changelog/22438.txt
  internal/service/ec2/vpc_ipam_pool.go
  internal/service/ec2/vpc_ipam_pool_data_source.go
  internal/service/ec2/vpc_ipam_pool_data_source_test.go
Labels: size/M, tests, service/ec2

#22349 r/aws_connect_contact_flow_module
  .changelog/22349.txt
  internal/provider/provider.go
  internal/service/connect/contact_flow_module.go
  internal/service/connect/contact_flow_module_test.go
  internal/service/connect/test-fixtures/connect_contact_flow_module.json
  internal/service/connect/test-fixtures/connect_contact_flow_module_updated.json
  website/docs/r/connect_contact_flow_module.html.markdown
Labels: documentation, size/XL, tests, provider, service/connect, needs-triage

#22510 r/appsync_resolver - add `sync_config` and `max_batch_size`
  .changelog/22510.txt
  internal/service/appsync/appsync_test.go
  internal/service/appsync/resolver.go
  internal/service/appsync/resolver_test.go
  website/docs/r/appsync_resolver.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/appsync

#22515 workflow: Increase stale ops per run
  .github/workflows/stale.yml
Labels: size/XS, repository

#22303 resource/aws_connect_contact_flow: add delete function
  .changelog/22303.txt
  internal/service/connect/contact_flow.go
  internal/service/connect/contact_flow_test.go
  website/docs/r/connect_contact_flow.html.markdown
Labels: documentation, size/S, tests, service/connect, needs-triage

#22522 r/aws_ssm_parameter: Mark `version` as computed when value changes
  .changelog/22522.txt
  internal/service/ssm/parameter.go
  internal/service/ssm/parameter_test.go
Labels: size/S, tests, service/ssm

#22250 r/aws_connect_quick_connect
  .changelog/22250.txt
  internal/provider/provider.go
  internal/service/connect/quick_connect.go
  internal/service/connect/quick_connect_test.go
  website/docs/r/connect_quick_connect.html.markdown
Labels: documentation, size/XL, tests, provider, service/connect

#19311 r/vpn_connection - modify from/to vgw/tgw
  .changelog/19311.txt
  internal/service/ec2/enum.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpn_connection.go
  internal/service/ec2/vpn_connection_route.go
  internal/service/ec2/vpn_connection_route_test.go
  internal/service/ec2/vpn_connection_test.go
  internal/service/ec2/wait.go
  website/docs/r/vpn_connection.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ec2, sweeper

#22531 r/aws_subnet: Resource-based naming is not available in the `ap-southeast-3` region
  .changelog/22531.txt
  internal/service/ec2/status.go
  internal/service/ec2/subnet.go
  internal/service/ec2/wait.go
Labels: size/S, service/ec2

#22426 r/aws_instance: Fix docs for root_device_volume
  internal/service/ec2/instance.go
  website/docs/r/instance.html.markdown
Labels: documentation, size/XS, service/ec2, needs-triage

#22367 docs/ec2_client_vpn_endpoint: fix dns_servers docs
  website/docs/r/ec2_client_vpn_endpoint.html.markdown
Labels: documentation, size/XS, service/ec2

#22450 Support for aws_vpc support new attribute Ipv6CidrBlockNetworkBorderGroup
  .changelog/22211.txt
  internal/service/ec2/vpc.go
  internal/service/ec2/vpc_test.go
  website/docs/r/vpc.html.markdown
Labels: documentation, size/L, tests, service/ec2

#22514 :sparkles: r/aws_cognito_identity_pool_provider_principal_tag
  .changelog/22514.txt
  internal/provider/provider.go
  internal/service/cognitoidentity/pool_provider_principal_tag.go
  internal/service/cognitoidentity/pool_provider_principal_tag_test.go
  website/docs/r/cognito_identity_pool_provider_principal_tag.markdown
Labels: documentation, new-resource, size/XL, tests, service/cognito, provider

#22283 Illustrate SecretsManager secret policy with a safer example
  website/docs/r/secretsmanager_secret_policy.html.markdown
Labels: documentation, size/XS, service/secretsmanager, needs-triage

#21993 New Resource: aws_shield_protection_health_check_association
  .changelog/21993.txt
  internal/provider/provider.go
  internal/service/shield/id.go
  internal/service/shield/protection_health_check_association.go
  internal/service/shield/protection_health_check_association_test.go
  website/docs/r/shield_protection_health_check_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/shield, provider

#22541 changing name of the resource to avoid confusion
  website/docs/d/secretsmanager_secret_version.html.markdown
Labels: documentation, size/XS, service/secretsmanager, needs-triage

#22511 sns/topic: ISO-friendly tagging
  .changelog/22511.txt
  internal/service/sns/consts.go
  internal/service/sns/topic.go
Labels: size/S, service/sns, partition/aws-iso, partition/aws-iso-b

#22516 sqs/queue: Make ISO-friendly tags
  .changelog/22516.txt
  internal/service/sqs/consts.go
  internal/service/sqs/queue.go
  internal/service/sqs/queue_data_source.go
Labels: size/M, service/sqs

#22535 ecr: ISO-friendly tagging
  .changelog/22535.txt
  internal/service/ecr/consts.go
  internal/service/ecr/repository.go
  internal/service/ecr/repository_data_source.go
Labels: size/M, service/ecr

#22545 Update CHANGELOG entry
  .changelog/22514.txt
Labels: size/XS

#22546 Update CHANGELOG entry
  .changelog/21993.txt
Labels: size/XS

#22529 ecs: ISO-friendly tagging
  .changelog/22529.txt
  internal/service/ecs/capacity_provider.go
  internal/service/ecs/cluster.go
  internal/service/ecs/cluster_data_source.go
  internal/service/ecs/flex.go
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
  internal/service/ecs/tag_test.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_test.go
  internal/service/ecs/task_set.go
Labels: size/XL, tests, service/ecs, tags

#22544 iam: ISO-friendly tagging
  .changelog/22544.txt
  internal/service/iam/consts.go
  internal/service/iam/role.go
  internal/service/iam/role_data_source.go
  internal/service/iam/user.go
  internal/service/iam/user_data_source.go
Labels: size/L, service/iam

#22550 eventbridge: ISO-friendly tagging
  .changelog/22550.txt
  internal/service/events/bus.go
  internal/service/events/consts.go
  internal/service/events/rule.go
Labels: size/M, service/events

#22551 elbv2: ISO-friendly tagging
  .changelog/22551.txt
  internal/service/elbv2/consts.go
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_data_source.go
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/listener_rule_test.go
  internal/service/elbv2/listener_test.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/load_balancer_test.go
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_data_source.go
Labels: size/XL, tests, service/elbv2

#22556 cloudwatch: ISO-friendly tagging
  .changelog/22556.txt
  internal/service/cloudwatch/composite_alarm.go
  internal/service/cloudwatch/const.go
  internal/service/cloudwatch/metric_alarm.go
  internal/service/cloudwatch/metric_stream.go
Labels: size/L, service/cloudwatch

#22559 ISO-Friendly tagging fixups
  .golangci.yml
  internal/service/cloudwatch/consts.go
  internal/service/ecr/repository.go
  internal/service/ecs/capacity_provider.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_set.go
  internal/service/ecs/task_set_test.go
  internal/service/events/bus.go
  internal/service/events/consts.go
  internal/service/events/rule.go
  internal/service/events/target.go
  internal/service/iam/consts.go
  internal/service/iam/policy_model.go
  internal/service/s3/bucket_notification.go
  internal/service/s3/consts.go
  internal/service/wafv2/consts.go
  internal/service/wafv2/flex.go
  internal/service/wafv2/helper.go
  internal/service/wafv2/regex_pattern_set.go
  internal/service/wafv2/regex_pattern_set_data_source.go
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_logging_configuration.go
Labels: size/XL, tests, service/iam, service/s3, service/ecs, service/cloudwatch, service/ecr, service/wafv2, linter, service/events

#22552 Add aliases to cloudfront datasource
  .changelog/22552.txt
  internal/service/cloudfront/distribution_data_source.go
  internal/service/cloudfront/distribution_data_source_test.go
  website/docs/d/cloudfront_distribution.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/cloudfront

#22580 ec2/subnet: Availability zone ID not supported in all partitions
  .changelog/22580.txt
  internal/service/ec2/subnet.go
  website/docs/d/subnet.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation, size/XS, service/ec2, partition/aws-iso

#22575 s3/bucket: Guard against object lock error
  .changelog/22575.txt
  internal/service/s3/bucket.go
Labels: size/XS, service/s3, partition/aws-iso

#18376 Add Semgrep rule to warn on calling 'd.SetId()' in a resource create or delete function
  .semgrep.yml
  internal/service/cloudformation/stack.go
  internal/service/ec2/fleet.go
  internal/service/ec2/spot_fleet_request.go
  internal/service/neptune/event_subscription.go
  internal/service/redshift/snapshot_schedule_association.go
  internal/service/sns/topic_subscription.go
  internal/service/wafregional/regex_match_set.go
Labels: size/M, service/ec2, service/sns, service/redshift, service/waf, service/cloudformation, technical-debt, service/neptune, linter

#12433 r/aws_opsworks_custom_layer - add cloudwatch configuration + disappears test
  .changelog/12433.txt
  internal/service/opsworks/custom_layer_test.go
  internal/service/opsworks/layers.go
  website/docs/r/opsworks_custom_layer.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/opsworks

#22572 d/aws_cloudfront_origin_access_identity
  .changelog/22572.txt
  internal/provider/provider.go
  internal/service/cloudfront/origin_access_identity_data_source.go
  internal/service/cloudfront/origin_access_identity_data_source_test.go
  website/docs/d/cloudfront_origin_access_identity.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/cloudfront, provider

#22569 fix AppRunner custom domain association after manual delete
  .changelog/20222.txt
  internal/service/apprunner/status.go
  internal/service/apprunner/wait.go
Labels: bug, size/XS, service/apprunner

#22615 d/aws_cognito_user_pool_clients - support name attribute
  .changelog/22615.txt
  internal/service/cognitoidp/user_pool_clients_data_source.go
  internal/service/cognitoidp/user_pool_clients_data_source_test.go
  website/docs/d/cognito_user_pool_clients.markdown
Labels: documentation, size/XS, tests, service/cognitoidentityprovider

#22616 This fixes #22220
  website/docs/r/cloudfront_response_headers_policy.html.markdown
Labels: documentation, size/XS, service/cloudfront

#22487 r/appsync_domain_name + association resources
  .changelog/22487.txt
  internal/provider/provider.go
  internal/service/appsync/appsync_test.go
  internal/service/appsync/domain_name.go
  internal/service/appsync/domain_name_api_association.go
  internal/service/appsync/domain_name_api_association_test.go
  internal/service/appsync/domain_name_test.go
  internal/service/appsync/find.go
  internal/service/appsync/status.go
  internal/service/appsync/sweep.go
  internal/service/appsync/wait.go
  website/docs/r/appsync_domain_name.html.markdown
  website/docs/r/appsync_domain_name_api_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/appsync, provider, sweeper

#21776 r/aws_load_balancer_policy: suppress computed `policy_attribute` diffs
  .changelog/21776.txt
  internal/service/elb/enum.go
  internal/service/elb/flex.go
  internal/service/elb/policy.go
  internal/service/elb/policy_test.go
Labels: bug, size/XL, tests, service/elb

#21763 aws_imagebuilder_image_recipe - support for user data
  .changelog/21763.txt
  internal/service/imagebuilder/image_recipe.go
  internal/service/imagebuilder/image_recipe_data_source.go
  internal/service/imagebuilder/image_recipe_data_source_test.go
  internal/service/imagebuilder/image_recipe_test.go
  website/docs/d/imagebuilder_image_recipe.html.markdown
  website/docs/r/imagebuilder_image_recipe.html.markdown
Labels: documentation, size/M, tests, service/imagebuilder

#22420 Fix reading and updating Security Group error
  .changelog/22420.txt
  internal/acctest/acctest.go
  internal/provider/provider.go
  internal/service/ec2/core_acc_test.go
  internal/service/ec2/default_security_group.go
  internal/service/ec2/default_vpc_test.go
  internal/service/ec2/egress_only_internet_gateway.go
  internal/service/ec2/egress_only_internet_gateway_test.go
  internal/service/ec2/enum.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/flex.go
  internal/service/ec2/instance.go
  internal/service/ec2/nat_gateway.go
  internal/service/ec2/nat_gateway_data_source.go
  internal/service/ec2/nat_gateway_data_source_test.go
  internal/service/ec2/nat_gateway_test.go
  internal/service/ec2/security_group.go
  internal/service/ec2/security_group_test.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc.go
  internal/service/ec2/vpc_byoip_test.go
  internal/service/ec2/vpc_data_source.go
  internal/service/ec2/vpc_data_source_test.go
  internal/service/ec2/vpc_dhcp_options.go
  internal/service/ec2/vpc_dhcp_options_association.go
  internal/service/ec2/vpc_dhcp_options_association_test.go
  internal/service/ec2/vpc_dhcp_options_data_source.go
  internal/service/ec2/vpc_dhcp_options_data_source_test.go
  internal/service/ec2/vpc_dhcp_options_test.go
  internal/service/ec2/vpc_ipv4_cidr_block_association.go
  internal/service/ec2/vpc_ipv4_cidr_block_association_test.go
  internal/service/ec2/vpc_ipv6_cidr_block_association.go
  internal/service/ec2/vpc_ipv6_cidr_block_association_test.go
  internal/service/ec2/vpc_test.go
  internal/service/ec2/wait.go
Labels: bug, size/XL, tests, service/ec2, provider, sweeper

#22630 resource/aws_dynamodb_table: Add special case for changing billing mode with autoscaling
  .changelog/22630.txt
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
  internal/service/dynamodb/wait.go
Labels: size/XL, tests, service/dynamodb

#22163 New resource for Detective Member and Invitation Accepter
  .changelog/22163.txt
  internal/provider/provider.go
  internal/service/detective/detective_test.go
  internal/service/detective/find.go
  internal/service/detective/graph.go
  internal/service/detective/graph_test.go
  internal/service/detective/invitation_accepter.go
  internal/service/detective/invitation_accepter_test.go
  internal/service/detective/member.go
  internal/service/detective/member_test.go
  internal/service/detective/status.go
  internal/service/detective/wait.go
  website/docs/r/detective_graph.html.markdown
  website/docs/r/detective_invitation_accepter.html.markdown
  website/docs/r/detective_member.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/detective

#22664 r/route and r/route_table: deprecate `instance_id`
  .changelog/22664.txt
  internal/service/ec2/route.go
  internal/service/ec2/route_table.go
  website/docs/r/route.html.markdown
  website/docs/r/route_table.html.markdown
Labels: documentation, size/XS, service/ec2

#17723 CloudSearch Domain Resource Support
  .changelog/17723.txt
  internal/provider/provider.go
  internal/service/cloudsearch/README.md
  internal/service/cloudsearch/domain.go
  internal/service/cloudsearch/domain_service_access_policy.go
  internal/service/cloudsearch/domain_service_access_policy_test.go
  internal/service/cloudsearch/domain_test.go
  internal/service/cloudsearch/sweep.go
  internal/sweep/sweep_test.go
  website/allowed-subcategories.txt
  website/docs/r/cloudsearch_domain.html.markdown
  website/docs/r/cloudsearch_domain_service_access_policy.html.markdown
Labels: documentation, new-resource, size/XL, size/XXL, tests, service/cloudsearch, provider, sweeper

#22669 r/glue_schema - add json test + update doc
  internal/service/glue/schema_test.go
  website/docs/r/glue_schema.html.markdown
Labels: documentation, size/S, tests, service/glue

#22665 r/aws_ecr_lifecycle_policy - fix change detection bug
  .changelog/22665.txt
  internal/service/ecr/lifecycle_policy.go
  internal/service/ecr/lifecycle_policy_test.go
Labels: size/M, tests, service/ecr

#22643 data/aws_vpc_ipam_preview_next_cidr
  .changelog/22643.txt
  internal/provider/provider.go
  internal/service/ec2/vpc_ipam_preview_next_cidr_data_source.go
  internal/service/ec2/vpc_ipam_preview_next_cidr_data_source_test.go
  website/docs/d/vpc_ipam_preview_next_cidr.html.markdown
Labels: documentation, size/XL, tests, service/ec2, provider

#22685 `terrafmt` escapes from prior PRs
  website/docs/d/appmesh_mesh.html.markdown
  website/docs/d/ec2_instance_type_offerings.html.markdown
  website/docs/d/key_pair.html.markdown
  website/docs/d/kms_key.html.markdown
  website/docs/d/msk_broker_nodes.html.markdown
  website/docs/d/route53_resolver_endpoint.html.markdown
  website/docs/d/subnet.html.markdown
  website/docs/r/chime_voice_connector_termination.html.markdown
  website/docs/r/cloud9_environment_membership.markdown
  website/docs/r/cloudfront_field_level_encryption_config.html.markdown
  website/docs/r/cloudfront_field_level_encryption_profile.html.markdown
  website/docs/r/codebuild_project.html.markdown
  website/docs/r/default_subnet.html.markdown
  website/docs/r/devicefarm_device_pool.html.markdown
  website/docs/r/ebs_encryption_by_default.html.markdown
  website/docs/r/ec2_subnet_cidr_reservation.html.markdown
  website/docs/r/ecr_replication_configuration.html.markdown
  website/docs/r/fsx_ontap_volume.html.markdown
  website/docs/r/fsx_openzfs_volume.html.markdown
  website/docs/r/glue_dev_endpoint.markdown
  website/docs/r/kinesis_stream_consumer.html.markdown
  website/docs/r/main_route_table_association.html.markdown
  website/docs/r/s3control_bucket.html.markdown
  website/docs/r/vpn_gateway_route_propagation.html.markdown
Labels: documentation, size/S, service/ec2, service/codebuild, service/cloudfront, service/glue, service/kms, service/ecr, service/cloud9, service/devicefarm, service/chime, service/s3control, service/route53resolver, service/appmesh, service/fsx, service/kafka

#22291 aws_fsx_lustre_file_system support Persistent 2, add new resource aws_fsx_data_repository_association
  .changelog/22291.txt
  internal/provider/provider.go
  internal/service/fsx/data_repository_association.go
  internal/service/fsx/data_repository_association_test.go
  internal/service/fsx/find.go
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  internal/service/fsx/status.go
  internal/service/fsx/wait.go
  website/docs/r/fsx_data_repository_association.html.markdown
  website/docs/r/fsx_lustre_file_system.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, provider, service/fsx

#22689 Add naming conventions guide
  docs/contributing/README.md
  docs/contributing/naming.md
Labels: documentation, size/L, provider

#22690 Fix naming docs minor issue
  docs/contributing/naming.md
Labels: documentation, size/XS, provider

#17382 Fix data source aws_vpc_peering_connections
  .changelog/17382.txt
  internal/service/ec2/vpc_peering_connections_data_source.go
  internal/service/ec2/vpc_peering_connections_data_source_test.go
Labels: bug, size/S, tests, service/ec2

#22695 Add AWS_DETECTIVE_MEMBER_EMAIL to environment variable dictionary
  docs/contributing/maintaining.md
Labels: documentation, size/XS, provider

#22683 Doc fix - this example is a resource not a data lookup
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, size/XS, needs-triage, service/events

#19488 New resource: aws_lambda_invocation
  .changelog/19488.txt
  internal/provider/provider.go
  internal/service/lambda/alias.go
  internal/service/lambda/alias_data_source.go
  internal/service/lambda/code_signing_config.go
  internal/service/lambda/code_signing_config_data_source.go
  internal/service/lambda/event_source_mapping.go
  internal/service/lambda/event_source_mapping_test.go
  internal/service/lambda/function.go
  internal/service/lambda/function_data_source.go
  internal/service/lambda/function_data_source_test.go
  internal/service/lambda/function_event_invoke_config.go
  internal/service/lambda/function_event_invoke_config_test.go
  internal/service/lambda/function_test.go
  internal/service/lambda/invocation.go
  internal/service/lambda/invocation_data_source_test.go
  internal/service/lambda/invocation_test.go
  internal/service/lambda/layer_version_permission_test.go
  internal/service/lambda/permission.go
  internal/service/lambda/permission_test.go
  internal/service/lambda/provisioned_concurrency_config.go
  internal/service/lambda/provisioned_concurrency_config_test.go
  website/docs/r/lambda_invocation.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/lambda, provider

#22698 `lambda_event_source_mapping` supports reporting `BatchItemFailures` for SQS
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, size/XS, service/lambda

#22702 Fix markdownlinkcheck
  .github/workflows/documentation.yml
  .github/workflows/website.yml
  .markdownlinkcheck.json
  docs/contributing/running-and-writing-acceptance-tests.md
Labels: documentation, size/XS, provider, linter, repository

#22688 r/devicefarm_test_grid_project - new resource
  .changelog/22688.txt
  internal/provider/provider.go
  internal/service/devicefarm/find.go
  internal/service/devicefarm/sweep.go
  internal/service/devicefarm/test_grid_project.go
  internal/service/devicefarm/test_grid_project_test.go
  website/docs/r/devicefarm_test_grid_project.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/devicefarm, provider, sweeper

#22700 lambda: Add long-running test guards
  docs/contributing/running-and-writing-acceptance-tests.md
  internal/service/lambda/event_source_mapping_test.go
  internal/service/lambda/function_data_source_test.go
  internal/service/lambda/function_event_invoke_config_test.go
  internal/service/lambda/function_test.go
  internal/service/lambda/permission_test.go
  internal/service/lambda/provisioned_concurrency_config_test.go
Labels: documentation, size/L, tests, service/lambda, provider

#18561 r/apigateway_stage - add `waf_acl_arn` attribute + use waiter and finder
  .changelog/18561.txt
  internal/service/apigateway/deployment.go
  internal/service/apigateway/deployment_test.go
  internal/service/apigateway/find.go
  internal/service/apigateway/method_settings.go
  internal/service/apigateway/method_settings_test.go
  internal/service/apigateway/stage.go
  internal/service/apigateway/stage_test.go
  internal/service/apigateway/status.go
  internal/service/apigateway/wait.go
  website/docs/r/api_gateway_stage.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/apigateway

#22693 Disable code signing in lambda for ap-southeast-3
  .changelog/22693.txt
  internal/service/lambda/function.go
  internal/service/lambda/function_test.go
Labels: bug, size/S, tests, service/lambda

#22713 r/internet_gateway: Prevent giving up on wait for attachement too early
  .changelog/22713.txt
  internal/service/ec2/wait.go
Labels: size/XS, service/ec2

#22717 ISO Tags: Improve error handling
  .changelog/22717.txt
  internal/service/cloudwatch/composite_alarm.go
  internal/service/cloudwatch/consts.go
  internal/service/cloudwatch/metric_alarm.go
  internal/service/cloudwatch/metric_stream.go
  internal/service/elbv2/consts.go
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_data_source.go
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_data_source.go
  internal/service/events/bus.go
  internal/service/events/consts.go
  internal/service/events/rule.go
  internal/verify/verify.go
Labels: size/L, service/elbv2, service/cloudwatch, partition/aws-iso, verify, service/events

#22694 r/aws_ami - sweeper
  internal/service/ec2/ami.go
  internal/service/ec2/ebs_snapshot.go
  internal/service/ec2/errors.go
  internal/service/ec2/sweep.go
Labels: size/M, service/ec2, sweeper

#22253 `aws_default_vpc` and `aws_default_subnet`: Full lifecycle
  .changelog/22253.txt
  internal/acctest/acctest.go
  internal/service/ec2/coip_pool_data_source_test.go
  internal/service/ec2/coip_pools_data_source_test.go
  internal/service/ec2/default_subnet.go
  internal/service/ec2/default_subnet_test.go
  internal/service/ec2/default_vpc.go
  internal/service/ec2/default_vpc_test.go
  internal/service/ec2/errors.go
  internal/service/ec2/instance_test.go
  internal/service/ec2/instance_types_data_source_test.go
  internal/service/ec2/local_gateway_route_tables_data_source_test.go
  internal/service/ec2/local_gateways_data_source_test.go
  internal/service/ec2/status.go
  internal/service/ec2/subnet.go
  internal/service/ec2/subnets_data_source_test.go
  internal/service/ec2/sweep.go
  internal/service/ec2/transit_gateway_route_tables_data_source_test.go
  internal/service/ec2/vpc.go
  internal/service/ec2/vpcs_data_source.go
  internal/service/ec2/vpcs_data_source_test.go
  internal/service/ec2/wait.go
  internal/service/eks/cluster_data_source_test.go
  internal/service/eks/clusters_data_source_test.go
  website/docs/r/default_subnet.html.markdown
  website/docs/r/default_vpc.html.markdown
Labels: enhancement, documentation, breaking-change, size/XL, tests, service/ec2, service/eks, sweeper

#21534 r/sagemaker_project - new resource
  .changelog/21534.txt
  internal/provider/provider.go
  internal/service/sagemaker/find.go
  internal/service/sagemaker/project.go
  internal/service/sagemaker/project_test.go
  internal/service/sagemaker/status.go
  internal/service/sagemaker/sweep.go
  internal/service/sagemaker/wait.go
  website/docs/r/sagemaker_project.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/sagemaker, provider, sweeper

#22640 :memo: Replace docs to remove clients filter and just have a normal lookup
  website/docs/d/cognito_user_pool_client.markdown
Labels: documentation, size/XS, service/cognitoidentityprovider

#17846 Add support for private_ip_list, private_ip_list_enabled, and ipv6 args
  .changelog/17846.txt
  internal/service/ec2/network_interface.go
  internal/service/ec2/network_interface_data_source.go
  internal/service/ec2/network_interface_test.go
  website/docs/r/network_interface.markdown
Labels: enhancement, documentation, size/XL, tests, service/ec2

#22722 r/aws_vpc_dhcp_options_association: Support `default` DHCP Options ID
  .changelog/22722.txt
  internal/service/ec2/vpc_dhcp_options_association.go
  internal/service/ec2/vpc_dhcp_options_association_test.go
Labels: bug, regression, size/M, tests, service/ec2

#21881 d/aws_imagebuilder_components - new data source
  .changelog/21881.txt
  internal/provider/provider.go
  internal/service/imagebuilder/components_data_source.go
  internal/service/imagebuilder/components_data_source_test.go
  website/docs/d/imagebuilder_components.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/imagebuilder

#15806 aws_vpn_connection resource's customer_gateway_configuration should be sensitive
  .changelog/15806.txt
  internal/service/ec2/vpn_connection.go
Labels: enhancement, size/XS, service/ec2

#22723 d/aws_imagebuilder_infrastructure_configurations - new data source
  .changelog/22723.txt
  internal/provider/provider.go
  internal/service/imagebuilder/infrastructure_configurations_data_source.go
  internal/service/imagebuilder/infrastructure_configurations_data_source_test.go
  website/docs/d/imagebuilder_infrastructure_configurations.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/imagebuilder

#22697 r/dataexchange_data_set - new resource
  .changelog/22697.txt
  internal/provider/provider.go
  internal/service/dataexchange/data_set.go
  internal/service/dataexchange/data_set_test.go
  internal/service/dataexchange/find.go
  internal/service/dataexchange/sweep.go
  website/allowed-subcategories.txt
  website/docs/r/dataexchange_data_set.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/dataexchange, sweeper

#22733 d/aws_imagebuilder_distribution_configurations - new data source
  .changelog/22733.txt
  internal/provider/provider.go
  internal/service/imagebuilder/distribution_configurations_data_source.go
  internal/service/imagebuilder/distribution_configurations_data_source_test.go
  website/docs/d/imagebuilder_distribution_configurations.html.markdown
Labels: documentation, size/L, tests, provider, service/imagebuilder

#22731 d/api_gateway_export and api_gateway_sdk - new datasources
  .changelog/22731.txt
  internal/provider/provider.go
  internal/service/apigateway/export_data_source.go
  internal/service/apigateway/export_data_source_test.go
  internal/service/apigateway/sdk_data_source.go
  internal/service/apigateway/sdk_data_source_test.go
  website/docs/d/api_gateway_export.html.markdown
  website/docs/d/api_gateway_sdk.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/apigateway, provider

#22732 d/apigatewayv2_export - new data source
  .changelog/22732.txt
  internal/provider/provider.go
  internal/service/apigatewayv2/export_data_source.go
  internal/service/apigatewayv2/export_data_source_test.go
  website/docs/d/apigatewayv2_export.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/apigatewayv2

#22725 Amend remaining references to separate 'waiter' package
  docs/contributing/error-handling.md
  docs/contributing/retries-and-waiters.md
Labels: documentation, size/XS, provider
