Repository hashicorp/terraform-provider-aws, pull requests merged in 2022-06, with the labels that each got.

#25092 d/redshift_cluster_credentials - new data source
  .changelog/25092.txt
  internal/provider/provider.go
  internal/service/redshift/cluster_credentials_data_source.go
  internal/service/redshift/cluster_credentials_data_source_test.go
  website/docs/d/redshift_cluster_credentials.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/redshift, provider

#25093 r/redshift_hsm_configuration - new resource
  .changelog/25093.txt
  internal/provider/provider.go
  internal/service/redshift/find.go
  internal/service/redshift/hsm_configuration.go
  internal/service/redshift/hsm_configuration_test.go
  internal/service/redshift/sweep.go
  website/docs/r/redshift_hsm_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/redshift, provider, sweeper

#25096 r/redshift_cluster_iam_roles - new resource
  .changelog/25096.txt
  internal/provider/provider.go
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_iam_roles.go
  internal/service/redshift/cluster_iam_roles_test.go
  website/docs/r/redshift_cluster.html.markdown
  website/docs/r/redshift_cluster_iam_roles.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/redshift, provider

#24846 f/resource_aws_dms_endpoint: allow configuring secrets manager secret when engine is aurora, mariadb or mysql
  .changelog/24846.txt
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, size/XL, tests, service/dms

#25104 r/redshiftdata_statement - new resource
  .changelog/25104.txt
  internal/provider/provider.go
  internal/service/redshiftdata/find.go
  internal/service/redshiftdata/statement.go
  internal/service/redshiftdata/statement_test.go
  internal/service/redshiftdata/status.go
  internal/service/redshiftdata/wait.go
  website/docs/r/redshiftdata_statement.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/redshiftdata

#23280 fix when change ebs_volume type preserve iops
  .changelog/23280.txt
  internal/service/ec2/ebs_volume.go
  internal/service/ec2/ebs_volume_test.go
Labels: bug, size/M, tests, service/ec2ebs

#25113 r/ram_resource_share - add `permission_arns` argument
  .changelog/25113.txt
  internal/service/ram/resource_share.go
  internal/service/ram/resource_share_test.go
  website/docs/r/ram_resource_share.markdown
Labels: enhancement, documentation, size/L, tests, service/ram

#25080 r/aws_dms_endpoint: Secrets manager secret for `aws_dms_endpoint` with `engine_name = redshift`
  .changelog/25080.txt
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/dms

#25099 skaff: resource generation template fixes
  skaff/resource/resource.tmpl
Labels: size/XS, skaff

#22859 Update GuardDuty resource to add Kubernetes audit log data source
  .changelog/22859.txt
  internal/service/guardduty/detector.go
  internal/service/guardduty/detector_test.go
  internal/service/guardduty/guardduty_test.go
  internal/service/guardduty/member_test.go
  website/docs/r/guardduty_detector.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/guardduty

#25109 r/aws_acmpca_policy - new resource
  .changelog/25109.txt
  internal/provider/provider.go
  internal/service/acmpca/find.go
  internal/service/acmpca/policy.go
  internal/service/acmpca/policy_test.go
  website/docs/r/acmpca_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/acmpca

#23691 feat(mongodb): add secrets_manager_arn
  .changelog/23691.txt
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/dms

#25140 r/aws_neptune_cluster: added `allow_major_version_upgrade` attribute
  .changelog/25140.txt
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_test.go
  website/docs/r/neptune_cluster.html.markdown
Labels: documentation, size/M, tests, service/neptune

#25130 r/servicecatalog_provisioned_product: fix error when in the `TAINTED` state
  .changelog/25130.txt
  internal/service/servicecatalog/provisioned_product_test.go
  internal/service/servicecatalog/wait.go
  website/docs/r/servicecatalog_provisioned_product.html.markdown
Labels: bug, documentation, size/M, tests, service/servicecatalog

#25146 Renames GuardDuty acceptance tests to naming standards
  internal/service/guardduty/detector_test.go
Labels: size/XS, tests, service/guardduty

#25145 resource/aws_db_instance_role_association & aws_rds_cluster_role_association: Extend timeouts
  .changelog/25145.txt
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_role_association.go
  internal/service/rds/cluster_role_association_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_role_association.go
  internal/service/rds/instance_role_association_test.go
  internal/service/rds/wait.go
Labels: size/XL, tests, service/rds

#25158 r/ram_resource_share - Fix #25156
  .changelog/25158.txt
  CHANGELOG.md
  internal/service/ram/resource_share.go
Labels: bug, documentation, regression, size/XS, provider, service/ram

#25164 Next planned release is `v4.17.1`
  CHANGELOG.md
Labels: documentation, size/XS, provider

#25169 Increase `goreleaser` timeout to 3 hours
  .github/workflows/release.yml
Labels: size/XS, repository, github_actions

#21916 Adding option to capture snapshots on destroy of ebs_volume using final_snapshot parameter
  .changelog/21916.txt
  internal/service/ec2/consts.go
  internal/service/ec2/ebs_snapshot.go
  internal/service/ec2/ebs_snapshot_copy.go
  internal/service/ec2/ebs_snapshot_copy_test.go
  internal/service/ec2/ebs_snapshot_import.go
  internal/service/ec2/ebs_snapshot_import_test.go
  internal/service/ec2/ebs_snapshot_test.go
  internal/service/ec2/ebs_volume.go
  internal/service/ec2/ebs_volume_attachment.go
  internal/service/ec2/ebs_volume_data_source.go
  internal/service/ec2/ebs_volume_test.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/wait.go
  website/docs/r/ebs_volume.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ec2, service/ec2ebs

#25151 fix(doc): wrong example for aws_imagebuilder_distribution_configuration
  website/docs/r/imagebuilder_distribution_configuration.html.markdown
Labels: documentation, size/XS, service/imagebuilder

#25175 Improve changelog
  CHANGELOG.md
Labels: documentation, size/S, provider

#25159 d/aws_ram_resource_share - add `resource_share_status` argument
  .changelog/25159.txt
  internal/service/ram/resource_share_data_source.go
  internal/service/ram/resource_share_data_source_test.go
  website/docs/d/ram_resource_share.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ram

#20912 Add timeout support for EBS Snapshot copies
  .changelog/20912.txt
  internal/service/ec2/ebs_snapshot_copy.go
  internal/service/ec2/ebs_snapshot_import.go
  website/docs/r/ebs_snapshot_copy.html.markdown
Labels: enhancement, documentation, size/XS, service/ec2ebs

#24764 Add XNotEmplemented error handling in resourceBucketRead
  .changelog/24764.txt
  internal/service/s3/bucket.go
Labels: bug, size/XS, service/s3

#24346 Add missing CHANGELOG entries for `3.74.2` through `3.75.1`
  CHANGELOG.md
Labels: documentation, size/M, provider

#25089 Updates `actions/setup-go` to use `go-version-file`
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/skaff.yml
  .github/workflows/snapshot.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
  .github/workflows/workflow-lint.yml
Labels: size/M, linter, repository, github_actions

#25194 Add additional compute types to aws_workspaces_workspace list of valid values
  website/docs/r/workspaces_workspace.html.markdown
Labels: documentation, size/XS, service/workspaces

#25212 Fix aws_elasticache_user doc
  website/docs/d/elasticache_user.html.markdown
Labels: documentation, size/XS, service/elasticache

#25213 Correct aws_lakeformation_permissions docs example
  website/docs/r/lakeformation_permissions.html.markdown
Labels: documentation, size/XS, service/lakeformation

#25078 docs: Minor change to description in the docs
  website/docs/r/appconfig_hosted_configuration_version.html.markdown
Labels: documentation, size/XS, service/appconfig

#24737 aws_db_parameter_group: add note to docs about perpetual diff/drift
  website/docs/r/db_parameter_group.html.markdown
Labels: documentation, size/XS, service/rds, needs-triage

#25211 skaff: add usage documentation
  skaff/README.md
Labels: documentation, size/M, skaff

#25240 Documentation: r/aws_cloudwatch_event_target example
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, size/M, service/events

#25239 Update upgrade guide to indicate lifecycle_rule id is required
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XS

#25242 Update `aws_sns_platform_application` argument descriptions
  website/docs/r/sns_platform_application.html.markdown
Labels: documentation, size/XS, service/sns

#25257 r/aws_vpc_ipam_pool_cidr_allocation use AllocationId over filtering on `allocation-id`
  .changelog/25257.txt
  internal/service/ec2/ipam_pool_cidr_allocation.go
Labels: enhancement, size/XS, service/ipam

#25177 New Resource: aws_ce_anomaly_monitor
  .changelog/251777.txt
  internal/provider/provider.go
  internal/service/ce/anomaly_monitor.go
  internal/service/ce/anomaly_monitor_test.go
  internal/service/ce/consts.go
  internal/service/ce/find.go
  internal/service/ce/generate.go
  internal/service/ce/tags_gen.go
  website/docs/r/ce_anomaly_monitor.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, tags, generators, service/ce

#25174 resource/aws_ssm_parameter: Allow `Intelligent-Tiering` to upgrade to `Advanced`
  .changelog/25174.txt
  internal/service/ssm/parameter.go
  internal/service/ssm/parameter_test.go
  website/docs/r/ssm_parameter.html.markdown
Labels: documentation, size/M, tests, service/ssm

#25274 Add sweeper for spot instance requests
  internal/service/ec2/sweep.go
Labels: size/M, sweeper

#25263 Documentation: remove duplicate word
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XS

#25046 vpc: Problem creating multiple managed prefix list entries
  .changelog/25046.txt
  internal/service/ec2/vpc_managed_prefix_list_entry.go
  internal/service/ec2/vpc_managed_prefix_list_entry_test.go
Labels: size/M, tests, service/vpc

#25297 ci: Retry semgrep on spurious errors
  .github/scripts/semgrep.sh
  .github/workflows/semgrep-ci.yml
Labels: size/XS, repository, github_actions

#25305 acm: Naming fixes
  .semgrep-service-name0.yml
  internal/service/acm/certificate.go
  internal/service/acm/certificate_data_source.go
  internal/service/acm/certificate_data_source_test.go
  internal/service/acm/certificate_test.go
  internal/service/acm/certificate_validation_test.go
Labels: size/XL, tests, service/acm

#25306 emr: Fix naming
  .semgrep-service-name0.yml
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
  internal/service/emr/instance_fleet_test.go
  internal/service/emr/instance_group.go
  internal/service/emr/instance_group_test.go
  internal/service/emr/managed_scaling_policy_test.go
  internal/service/emr/release_labels_data_source_test.go
Labels: size/L, tests, service/emr

#25309 appsync: Fix naming
  .semgrep-service-name0.yml
  internal/provider/provider.go
  internal/service/appsync/api_cache.go
  internal/service/appsync/api_cache_test.go
  internal/service/appsync/datasource_test.go
  internal/service/appsync/domain_name_api_association.go
  internal/service/appsync/domain_name_api_association_test.go
  internal/service/appsync/find.go
  internal/service/appsync/function_test.go
  internal/service/appsync/graphql_api_test.go
  internal/service/appsync/resolver_test.go
  internal/service/appsync/status.go
  internal/service/appsync/sweep.go
  internal/service/appsync/wait.go
Labels: size/XL, tests, service/appsync, provider, sweeper

#25310 kafka: Fix func naming
  .semgrep-service-name0.yml
  internal/service/kafka/broker_nodes_data_source_test.go
  internal/service/kafka/cluster.go
  internal/service/kafka/cluster_data_source_test.go
  internal/service/kafka/cluster_test.go
  internal/service/kafka/configuration_data_source_test.go
  internal/service/kafka/configuration_test.go
  internal/service/kafka/kafka_version_data_source_test.go
  internal/service/kafka/scram_secret_association_test.go
Labels: size/L, tests, service/kafka

#25311 athena: Fix func naming
  .semgrep-service-name0.yml
  internal/service/athena/data_catalog_test.go
  internal/service/athena/database.go
  internal/service/athena/database_test.go
  internal/service/athena/named_query_test.go
  internal/service/athena/workgroup.go
  internal/service/athena/workgroup_test.go
Labels: size/L, tests, service/athena

#25313 firehose: Fix func naming
  .semgrep-service-name0.yml
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_data_source_test.go
  internal/service/firehose/delivery_stream_test.go
Labels: size/L, tests, service/firehose

#25312 batch: Fix func names
  .semgrep-service-name0.yml
  internal/service/batch/compute_environment.go
  internal/service/batch/compute_environment_data_source_test.go
  internal/service/batch/compute_environment_test.go
  internal/service/batch/container_properties_test.go
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_test.go
  internal/service/batch/job_queue.go
  internal/service/batch/job_queue_data_source_test.go
  internal/service/batch/job_queue_test.go
  internal/service/batch/scheduling_policy_data_source_test.go
  internal/service/batch/scheduling_policy_test.go
Labels: size/XL, tests, service/batch

#24920 r/aws_kendra_index
  .changelog/24920.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/conns/config.go
  internal/conns/config_gen.go
  internal/provider/provider.go
  internal/service/kendra/index.go
  internal/service/kendra/index_test.go
  internal/service/kendra/tags.go
  names/names.go
  names/names_data.csv
  website/docs/r/kendra_index.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/kendra, client-connections, generators

#25327 devicefarm: Fix func names
  .semgrep-service-name0.yml
  internal/service/devicefarm/device_pool.go
  internal/service/devicefarm/device_pool_test.go
  internal/service/devicefarm/find.go
  internal/service/devicefarm/instance_profile.go
  internal/service/devicefarm/instance_profile_test.go
  internal/service/devicefarm/network_profile.go
  internal/service/devicefarm/network_profile_test.go
  internal/service/devicefarm/project.go
  internal/service/devicefarm/project_test.go
  internal/service/devicefarm/test_grid_project.go
  internal/service/devicefarm/test_grid_project_test.go
  internal/service/devicefarm/upload.go
  internal/service/devicefarm/upload_test.go
Labels: size/S, tests, service/devicefarm

#25332 rds: Fix func naming
  .semgrep-service-name0.yml
  internal/service/rds/certificate_data_source_test.go
  internal/service/rds/cluster_activity_stream_test.go
  internal/service/rds/cluster_data_source_test.go
  internal/service/rds/cluster_endpoint_test.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/cluster_parameter_group_test.go
  internal/service/rds/cluster_role_association_test.go
  internal/service/rds/cluster_snapshot_data_source.go
  internal/service/rds/cluster_snapshot_data_source_test.go
  internal/service/rds/cluster_snapshot_test.go
  internal/service/rds/cluster_test.go
  internal/service/rds/engine_version_data_source_test.go
  internal/service/rds/event_categories_data_source_test.go
  internal/service/rds/event_subscription_test.go
  internal/service/rds/global_cluster_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_automated_backups_replication_test.go
  internal/service/rds/instance_data_source_test.go
  internal/service/rds/instance_role_association.go
  internal/service/rds/instance_role_association_test.go
  internal/service/rds/instance_test.go
  internal/service/rds/option_group_test.go
  internal/service/rds/parameter_group_test.go
  internal/service/rds/proxy.go
  internal/service/rds/proxy_data_source.go
  internal/service/rds/proxy_data_source_test.go
  internal/service/rds/proxy_default_target_group.go
  internal/service/rds/proxy_endpoint_test.go
  internal/service/rds/proxy_target_test.go
  internal/service/rds/proxy_test.go
  internal/service/rds/security_group_test.go
  internal/service/rds/snapshot_copy_test.go
  internal/service/rds/snapshot_data_source.go
  internal/service/rds/snapshot_data_source_test.go
  internal/service/rds/snapshot_test.go
  internal/service/rds/subnet_group_data_source_test.go
  internal/service/rds/subnet_group_test.go
Labels: size/XL, tests, service/rds

#25326 r/aws_dynamodb_table_item: fix to remove item elements on update
  .changelog/25326.txt
  internal/service/dynamodb/table_item.go
  internal/service/dynamodb/table_item_test.go
Labels: size/L, tests, service/dynamodb

#25337 ci: Rework semgrep for performance
  .github/scripts/semgrep.sh
  .github/workflows/semgrep-ci.yml
  .semgrep-caps-aws-config.yml
  .semgrep-service-name0.yml
  .semgrep-service-name1.yml
  .semgrep-service-name2.yml
  .semgrep-service-name3.yml
Labels: size/XL

#25342 ci/semgrep/a-c: Remove exclusions
  .semgrep-service-name1.yml
  internal/service/connect/bot_association.go
  internal/service/connect/contact_flow.go
  internal/service/connect/instance.go
  internal/service/connect/quick_connect_data_source_test.go
  internal/service/connect/routing_profile_data_source.go
  internal/service/connect/security_profile_data_source.go
  internal/service/connect/user_hierarchy_group.go
  internal/service/connect/user_hierarchy_structure_data_source.go
  internal/service/connect/wait.go
  internal/service/cur/acc_test.go
  internal/service/cur/report_definition_data_source_test.go
  internal/service/cur/report_definition_test.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_data_source.go
  internal/service/dynamodb/table_item_test.go
Labels: size/M, tests, service/dynamodb, service/connect, service/cur

#25344 ci/semgrep/a: Remove exclusions
  .semgrep-service-name0.yml
  internal/service/account/alternate_contact_test.go
  internal/service/account/find.go
  internal/service/amp/alert_manager_definition_test.go
  internal/service/amp/rule_group_namespace_test.go
  internal/service/amp/workspace_test.go
  internal/service/apigateway/vpc_link.go
  internal/service/apigateway/wait.go
  internal/service/apigatewayv2/export_data_source_test.go
  internal/service/apigatewayv2/stage.go
  internal/service/appautoscaling/policy.go
  internal/service/appautoscaling/policy_test.go
  internal/service/appautoscaling/scheduled_action.go
  internal/service/appautoscaling/scheduled_action_test.go
  internal/service/appintegrations/event_integration_test.go
Labels: size/L, tests, service/apigateway, service/apigatewayv2, service/amp, service/account, service/appintegrations, service/appautoscaling

#25345 ci/semgrep/backup: Remove exclusion
  .semgrep-caps-aws-config.yml
  .semgrep-service-name0.yml
  internal/service/backup/consts.go
  internal/service/backup/find.go
  internal/service/backup/framework_data_source_test.go
  internal/service/backup/framework_test.go
  internal/service/backup/global_settings_test.go
  internal/service/backup/plan.go
  internal/service/backup/plan_test.go
  internal/service/backup/region_settings_test.go
  internal/service/backup/report_plan_data_source_test.go
  internal/service/backup/report_plan_test.go
  internal/service/backup/selection.go
  internal/service/backup/selection_test.go
  internal/service/backup/vault.go
  internal/service/backup/vault_lock_configuration.go
  internal/service/backup/vault_lock_configuration_test.go
  internal/service/backup/vault_notifications_test.go
  internal/service/backup/vault_policy.go
  internal/service/backup/vault_policy_test.go
  internal/service/backup/vault_test.go
Labels: size/XL

#25346 ci/cloud9: Remove exclusions
  .semgrep-caps-aws-config.yml
  .semgrep-service-name0.yml
  internal/service/cloud9/environment_ec2_test.go
  internal/service/cloud9/environment_membership_test.go
Labels: size/S, tests, service/cloud9

#25349 ci/semgrep/b-c: Remove exclusions
  .semgrep-service-name0.yml
  internal/service/budgets/budget.go
  internal/service/budgets/sweep.go
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_configuration_structure.go
  internal/service/cloudfront/distribution_configuration_structure_test.go
  internal/service/cloudfront/distribution_data_source.go
  internal/service/cloudfront/log_delivery_canonical_user_id_data_source.go
  internal/service/cloudhsmv2/sweep.go
  internal/service/cloudtrail/cloudtrail.go
  internal/service/cloudtrail/cloudtrail_test.go
  internal/service/cloudtrail/consts.go
  internal/service/cloudtrail/event_data_store_test.go
  internal/service/codebuild/project.go
  internal/service/codebuild/project_test.go
  internal/service/codepipeline/codepipeline.go
  internal/service/codepipeline/consts.go
  internal/service/codepipeline/webhook_test.go
  internal/service/cognitoidentity/pool_test.go
  internal/service/cognitoidp/user_in_group_test.go
Labels: size/XL, tests, service/codebuild, service/cloudtrail, service/cloudfront, service/budgets, service/codepipeline, service/cloudhsmv2, sweeper, service/cognitoidp, service/cognitoidentity

#25350 ci/semgrep/tests: Remove exclusions
  .semgrep-caps-aws-config.yml
  internal/service/appmesh/mesh_data_source_test.go
  internal/service/appmesh/virtual_service_data_source_test.go
  internal/service/codeartifact/authorization_token_data_source_test.go
  internal/service/codeartifact/domain_permissions_policy_test.go
  internal/service/codeartifact/domain_test.go
  internal/service/codeartifact/repository_endpoint_data_source_test.go
  internal/service/codeartifact/repository_permissions_policy_test.go
  internal/service/codeartifact/repository_test.go
  internal/service/codecommit/approval_rule_template_data_source_test.go
  internal/service/codecommit/repository_data_source_test.go
  internal/service/ecr/authorization_token_data_source_test.go
  internal/service/ecr/image_data_source_test.go
  internal/service/ecr/repository_data_source_test.go
  internal/service/ecrpublic/authorization_token_data_source_test.go
  internal/service/ecs/cluster_data_source_test.go
  internal/service/ecs/container_definition_data_source_test.go
  internal/service/ecs/service_data_source_test.go
  internal/service/ecs/task_definition_data_source_test.go
  internal/service/elasticbeanstalk/hosted_zone_data_source_test.go
  internal/service/events/permission_test.go
  internal/service/kinesis/stream_data_source_test.go
  internal/service/meta/service_data_source_test.go
  internal/service/rds/cluster_snapshot_data_source_test.go
Labels: size/XL, tests, service/ecs, service/rds, service/elasticbeanstalk, service/codecommit, service/kinesis, service/ecr, service/appmesh, service/codeartifact, service/ecrpublic, service/meta, service/events

#25355 schemas: Fix test configs names
  .semgrep-caps-aws-config.yml
  internal/service/schemas/discoverer_test.go
  internal/service/schemas/registry_test.go
  internal/service/schemas/schema_test.go
Labels: size/M, tests, service/schemas

#25359 dynamodb: Fix test configs names
  .semgrep-caps-aws-config.yml
  internal/service/dynamodb/contributor_insights_test.go
  internal/service/dynamodb/kinesis_streaming_destination_test.go
  internal/service/dynamodb/table_data_source_test.go
  internal/service/dynamodb/table_item_test.go
  internal/service/dynamodb/table_test.go
Labels: size/L

#25356 identitystore: Fix test configs names
  .semgrep-caps-aws-config.yml
  internal/service/identitystore/group_data_source_test.go
  internal/service/identitystore/user_data_source_test.go
Labels: size/XS, tests, service/identitystore

#25358 efs: Fix test configs names
  .semgrep-caps-aws-config.yml
  internal/service/efs/access_point_data_source_test.go
  internal/service/efs/access_point_test.go
  internal/service/efs/access_points_data_source_test.go
  internal/service/efs/backup_policy_test.go
  internal/service/efs/file_system_data_source_test.go
  internal/service/efs/file_system_policy_test.go
  internal/service/efs/file_system_test.go
  internal/service/efs/mount_target_data_source_test.go
  internal/service/efs/mount_target_test.go
  internal/service/efs/replication_configuration_test.go
Labels: size/L, tests, service/efs

#25357 route53recoveryreadiness: Fix test configs names
  .semgrep-caps-aws-config.yml
  internal/service/route53recoveryreadiness/cell_test.go
  internal/service/route53recoveryreadiness/readiness_check_test.go
  internal/service/route53recoveryreadiness/recovery_group_test.go
  internal/service/route53recoveryreadiness/resource_set_test.go
Labels: size/M, tests, service/route53recoveryreadiness

#25361 meta: Fix test configs names
  .semgrep-caps-aws-config.yml
  internal/service/apigateway/rest_api_data_source_test.go
  internal/service/apigateway/rest_api_test.go
  internal/service/meta/arn_data_source_test.go
  internal/service/meta/billing_service_account_data_source_test.go
  internal/service/meta/default_tags_data_source_test.go
  internal/service/meta/ip_ranges_data_source_test.go
  internal/service/meta/partition_data_source_test.go
  internal/service/meta/regions_data_source_test.go
Labels: size/M, tests, service/apigateway, service/meta

#25364 ci/semgrep: Update semgrep config regex
  .semgrep-caps-aws-config.yml
  internal/service/apigateway/rest_api_data_source_test.go
  internal/service/apigateway/rest_api_test.go
  internal/service/cognitoidentity/pool_test.go
  internal/service/ds/directory_data_source_test.go
  internal/service/elasticache/cluster_test.go
  internal/service/lightsail/container_service_deployment_version_test.go
  internal/service/lightsail/container_service_test.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/cluster_test.go
  internal/service/rds/instance_test.go
  internal/service/rds/proxy_default_target_group_test.go
  internal/service/rds/subnet_group_data_source_test.go
  internal/service/waf/ipset_test.go
  internal/service/wafregional/ipset_test.go
Labels: size/XL, tests, service/apigateway, service/rds, service/lightsail, service/waf, service/elasticache, service/wafregional, service/ds, service/cognitoidentity

#25365 accessanalyzer: Fix test configs names
  .semgrep-caps-aws-config.yml
  internal/service/accessanalyzer/analyzer_test.go
Labels: size/XS, tests, service/accessanalyzer

#25366 amplify: Fix test configs names
  .semgrep-caps-aws-config.yml
  internal/service/amplify/app_test.go
  internal/service/amplify/backend_environment_test.go
  internal/service/amplify/branch_test.go
  internal/service/amplify/domain_association_test.go
  internal/service/amplify/webhook_test.go
Labels: size/M, tests, service/amplify

#25369 ci/semgrep: Add semgrep service generator
  .github/workflows/semgrep-ci.yml
  .semgrep-caps-aws-ec2.yml
  .semgrep-configs.yml
  .semgrep-service-name0.yml
  .semgrep-service-name1.yml
  .semgrep-service-name2.yml
  .semgrep-service-name3.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/generate/servicesemgrep/generate.go
  internal/generate/servicesemgrep/main.go
  internal/generate/servicesemgrep/semgrep_header.tmpl
  internal/service/emrserverless/application_test.go
  names/names_data.csv
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XL, tests, repository, generators, github_actions, service/emrserverless

#25373 ci/semgrep/codecommit: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
Labels: size/XS, generators

#25374 ci/semgrep/ecr: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/ecr/pull_through_cache_rule_test.go
  internal/service/ecr/registry_policy_test.go
  internal/service/ecr/registry_scanning_configuration_test.go
  internal/service/ecr/replication_configuration_test.go
  internal/service/ecr/repository_policy_test.go
  internal/service/ecr/repository_test.go
Labels: size/M, tests, service/ecr, generators

#25378 ci/semgrep/kinesisanalyticsv2: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/kinesisanalyticsv2/application_snapshot_test.go
  internal/service/kinesisanalyticsv2/application_test.go
Labels: size/L, tests, service/kinesisanalyticsv2, generators

#25379 ci/semgrep/glacier: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/glacier/vault_lock_test.go
  internal/service/glacier/vault_test.go
Labels: size/S, tests, service/glacier, generators

#25377 ci/semgrep/route53recoverycontrolconfig: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/route53recoverycontrolconfig/cluster_test.go
  internal/service/route53recoverycontrolconfig/control_panel_test.go
  internal/service/route53recoverycontrolconfig/routing_control_test.go
  internal/service/route53recoverycontrolconfig/safety_rule_test.go
Labels: size/S, tests, service/route53recoverycontrolconfig, generators

#25375 ci/semgrep/grafana: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/provider/provider.go
  internal/service/grafana/license_association_test.go
  internal/service/grafana/role_association_test.go
  internal/service/grafana/status.go
  internal/service/grafana/wait.go
  internal/service/grafana/workspace_data_source_test.go
  internal/service/grafana/workspace_saml_configuration.go
  internal/service/grafana/workspace_saml_configuration_test.go
  internal/service/grafana/workspace_test.go
Labels: size/M, tests, provider, generators, service/grafana

#25376 ci/semgrep/emrcontainers: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/emrcontainers/virtual_cluster_data_source_test.go
  internal/service/emrcontainers/virtual_cluster_test.go
Labels: size/XS, tests, service/emrcontainers, generators

#25380 ci/semgrep/elasticbeanstalk: Remove exclusion
  .semgrep-configs.yml
  .semgrep-service-name0.yml
  .semgrep-service-name1.yml
  .semgrep-service-name2.yml
  .semgrep-service-name3.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/elasticbeanstalk/application.go
  internal/service/elasticbeanstalk/application_data_source_test.go
  internal/service/elasticbeanstalk/application_test.go
  internal/service/elasticbeanstalk/application_version_test.go
  internal/service/elasticbeanstalk/configuration_template_test.go
  internal/service/elasticbeanstalk/environment.go
  internal/service/elasticbeanstalk/environment_migrate.go
  internal/service/elasticbeanstalk/environment_test.go
  names/names_data.csv
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XL, tests, service/elasticbeanstalk, generators

#25382 ci/semgrep/appflow: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/appflow/connector_profile_test.go
  internal/service/appflow/flow_test.go
Labels: size/S, tests, service/appflow, generators

#25383 ci/semgrep/chime: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/chime/voice_connector_group_test.go
  internal/service/chime/voice_connector_logging_test.go
  internal/service/chime/voice_connector_origination_test.go
  internal/service/chime/voice_connector_streaming_test.go
  internal/service/chime/voice_connector_termination_credentials_test.go
  internal/service/chime/voice_connector_termination_test.go
  internal/service/chime/voice_connector_test.go
Labels: size/M, tests, service/chime, generators

#25384 ci/semgrep/budgets: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/budgets/budget_action_test.go
  internal/service/budgets/budget_test.go
Labels: size/S, tests, service/budgets, generators

#25385 ci/semgrep/datasync: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/datasync/agent_test.go
  internal/service/datasync/location_efs_test.go
  internal/service/datasync/location_fsx_lustre_file_system_test.go
  internal/service/datasync/location_fsx_openzfs_file_system_test.go
  internal/service/datasync/location_fsx_windows_file_system_test.go
  internal/service/datasync/location_nfs_test.go
  internal/service/datasync/location_s3_test.go
  internal/service/datasync/location_smb_test.go
  internal/service/datasync/task_test.go
Labels: size/L, tests, service/datasync, generators

#25394 ci/semgrep/account,appmesh: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
Labels: size/XS, generators

#25391 ci/semgrep/events: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/events/api_destination_test.go
  internal/service/events/archive_test.go
  internal/service/events/bus_policy_test.go
  internal/service/events/bus_test.go
  internal/service/events/connection_data_source_test.go
  internal/service/events/permission_test.go
  internal/service/events/rule_test.go
  internal/service/events/source_data_source_test.go
  internal/service/events/target_test.go
Labels: size/L, tests, generators, service/events

#25398 iot: Fix semgrep issue
  internal/service/iot/certificate_test.go
Labels: size/XS, tests, service/iot

#25393 ci/semgrep/resourcegroupstaggingapi: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/resourcegroupstaggingapi/resources_data_source_test.go
Labels: size/XS, tests, service/resourcegroupstaggingapi, generators

#25395 ci/semgrep/directconnect: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/directconnect/connection_association_test.go
  internal/service/directconnect/connection_data_source_test.go
  internal/service/directconnect/gateway_association_proposal_test.go
  internal/service/directconnect/gateway_association_test.go
  internal/service/directconnect/gateway_data_source_test.go
  internal/service/directconnect/gateway_test.go
  internal/service/directconnect/location_data_source_test.go
  internal/service/directconnect/private_virtual_interface_test.go
  internal/service/directconnect/transit_virtual_interface_test.go
Labels: size/M, tests, service/directconnect, generators

#25399 ci/semgrep/guardduty: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/guardduty/detector_data_source_test.go
  internal/service/guardduty/detector_test.go
Labels: size/S, tests, service/guardduty, generators

#25401 ci/semgrep/cloudsearch: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/cloudsearch/domain_service_access_policy_test.go
  internal/service/cloudsearch/domain_test.go
Labels: size/S, tests, service/cloudsearch, generators

#25402 ci/semgrep/appstream: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/appstream/directory_config_test.go
  internal/service/appstream/fleet_stack_association_test.go
  internal/service/appstream/fleet_test.go
  internal/service/appstream/image_builder_test.go
  internal/service/appstream/stack_test.go
  internal/service/appstream/user_stack_association_test.go
  internal/service/appstream/user_test.go
Labels: size/M, tests, service/appstream, generators

#25400 ci/semgrep/codepipeline: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/codepipeline/codepipeline_test.go
  internal/service/codepipeline/webhook_test.go
Labels: size/M, tests, service/codepipeline, generators

#25403 ci/semgrep/elbv2: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/elbv2/hosted_zone_id_data_source_test.go
  internal/service/elbv2/listener_certificate_test.go
  internal/service/elbv2/listener_data_source_test.go
  internal/service/elbv2/listener_rule_test.go
  internal/service/elbv2/listener_test.go
  internal/service/elbv2/load_balancer_data_source_test.go
  internal/service/elbv2/load_balancer_test.go
  internal/service/elbv2/target_group_attachment_test.go
  internal/service/elbv2/target_group_data_source_test.go
  internal/service/elbv2/target_group_test.go
Labels: size/XL, tests, service/elbv2, generators

#25404 ci/semgrep/iam: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/iam/access_key_test.go
  internal/service/iam/account_alias_data_source_test.go
  internal/service/iam/account_alias_test.go
  internal/service/iam/account_password_policy_test.go
  internal/service/iam/group_data_source_test.go
  internal/service/iam/group_membership_test.go
  internal/service/iam/group_policy_attachment_test.go
  internal/service/iam/group_test.go
  internal/service/iam/instance_profile_data_source_test.go
  internal/service/iam/instance_profile_test.go
  internal/service/iam/instance_profiles_data_source_test.go
  internal/service/iam/policy_attachment_test.go
  internal/service/iam/policy_data_source_test.go
  internal/service/iam/policy_document_data_source_test.go
  internal/service/iam/policy_test.go
  internal/service/iam/role_data_source_test.go
  internal/service/iam/role_policy_attachment_test.go
  internal/service/iam/role_policy_test.go
  internal/service/iam/role_test.go
  internal/service/iam/saml_provider_data_source_test.go
  internal/service/iam/saml_provider_test.go
  internal/service/iam/server_certificate_data_source_test.go
  internal/service/iam/service_linked_role_test.go
  internal/service/iam/service_specific_credential_test.go
  internal/service/iam/session_context_data_source_test.go
  internal/service/iam/signing_certificate_test.go
  internal/service/iam/user_data_source_test.go
  internal/service/iam/user_group_membership_test.go
  internal/service/iam/user_login_profile_test.go
  internal/service/iam/user_policy_attachment_test.go
  internal/service/iam/user_policy_test.go
  internal/service/iam/user_ssh_key_data_source_test.go
  internal/service/iam/user_ssh_key_test.go
  internal/service/iam/user_test.go
  internal/service/iam/virtual_mfa_device_test.go
Labels: size/XL, tests, service/iam, generators

#25406 ci/semgrep/resourcegroups: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/resourcegroups/group_test.go
Labels: size/XS, tests, service/resourcegroups, generators

#25405 ci/semgrep/servicequotas: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/servicequotas/service_data_source_test.go
  internal/service/servicequotas/service_quota_data_source_test.go
  internal/service/servicequotas/service_quota_test.go
Labels: size/S, tests, service/servicequotas, generators

#25407 ci/semgrep/codestarnotifications: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/codestarnotifications/notification_rule_test.go
Labels: size/S, tests, service/codestarnotifications, generators

#25408 ci/semgrep/organizations: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/organizations/account_test.go
  internal/service/organizations/delegated_administrator_test.go
  internal/service/organizations/delegated_administrators_data_source_test.go
  internal/service/organizations/delegated_services_data_source_test.go
  internal/service/organizations/organization_data_source_test.go
  internal/service/organizations/organization_test.go
  internal/service/organizations/organizational_unit_test.go
  internal/service/organizations/organizational_units_data_source_test.go
  internal/service/organizations/policy_attachment_test.go
  internal/service/organizations/policy_test.go
  internal/service/organizations/resource_tags_data_source_test.go
Labels: size/L, tests, service/organizations, generators

#25411 ci/semgrep/cloudhsmv2: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/cloudhsmv2/cluster_test.go
  internal/service/cloudhsmv2/hsm_test.go
Labels: size/S, tests, service/cloudhsmv2, generators

#25413 ci/semgrep/elb: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/elb/app_cookie_stickiness_policy_test.go
  internal/service/elb/attachment_test.go
  internal/service/elb/lb_cookie_stickiness_policy_test.go
  internal/service/elb/lb_ssl_negotiation_policy_test.go
  internal/service/elb/load_balancer_data_source_test.go
  internal/service/elb/load_balancer_test.go
  internal/service/elb/policy_test.go
  internal/service/elb/proxy_protocol_policy_test.go
  internal/service/elbv2/listener_certificate_test.go
Labels: size/L

#25414 ci/semgrep/networkmanager: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/networkmanager/connection_data_source_test.go
  internal/service/networkmanager/connection_test.go
  internal/service/networkmanager/connections_data_source_test.go
  internal/service/networkmanager/core_network_policy_document_data_source_test.go
  internal/service/networkmanager/customer_gateway_association_test.go
  internal/service/networkmanager/device_data_source_test.go
  internal/service/networkmanager/device_test.go
  internal/service/networkmanager/devices_data_source_test.go
  internal/service/networkmanager/global_network_data_source_test.go
  internal/service/networkmanager/global_network_test.go
  internal/service/networkmanager/global_networks_data_source_test.go
  internal/service/networkmanager/link_association_test.go
  internal/service/networkmanager/link_data_source_test.go
  internal/service/networkmanager/link_test.go
  internal/service/networkmanager/links_data_source_test.go
  internal/service/networkmanager/site_data_source_test.go
  internal/service/networkmanager/site_test.go
  internal/service/networkmanager/sites_data_source_test.go
  internal/service/networkmanager/transit_gateway_connect_peer_association_test.go
  internal/service/networkmanager/transit_gateway_registration_test.go
Labels: size/L, tests, service/networkmanager, generators

#25415 ci/semgrep/s3outposts: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/s3outposts/endpoint_test.go
Labels: size/XS, tests, service/s3outposts, generators

#25417 ci/semgrep/acmpca: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/acmpca/certificate_authority_certificate_test.go
  internal/service/acmpca/certificate_authority_data_source_test.go
  internal/service/acmpca/certificate_authority_test.go
  internal/service/acmpca/certificate_data_source_test.go
  internal/service/acmpca/certificate_test.go
  internal/service/acmpca/policy_test.go
Labels: size/M, tests, service/acmpca, generators

#25418 ci/semgrep/ecrpublic: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/ecrpublic/repository_test.go
Labels: size/S, tests, service/ecrpublic, generators

#25419 ci/semgrep/route53domains: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/route53domains/registered_domain_test.go
Labels: size/S, tests, service/route53domains, generators

#25420 ci/semgrep/codestarconnections: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/codestarconnections/connection_data_source_test.go
  internal/service/codestarconnections/connection_test.go
  internal/service/codestarconnections/host_test.go
Labels: size/S, tests, service/codestarconnections, generators

#25421 ci/semgrep/cloudcontrol: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/cloudcontrol/resource_data_source_test.go
  internal/service/cloudcontrol/resource_test.go
Labels: size/M, tests, generators, service/cloudcontrol

#25423 ci/semgrep/apigatewayv2: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/apigatewayv2/api_data_source_test.go
  internal/service/apigatewayv2/api_mapping_test.go
  internal/service/apigatewayv2/api_test.go
  internal/service/apigatewayv2/apis_data_source_test.go
  internal/service/apigatewayv2/authorizer_test.go
  internal/service/apigatewayv2/deployment_test.go
  internal/service/apigatewayv2/domain_name_test.go
  internal/service/apigatewayv2/export_data_source_test.go
  internal/service/apigatewayv2/integration_test.go
  internal/service/apigatewayv2/route_test.go
  internal/service/apigatewayv2/stage_test.go
Labels: size/L, tests, service/apigatewayv2, generators

#25424 ci/semgrep/globalaccelerator: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/globalaccelerator/accelerator_data_source_test.go
  internal/service/globalaccelerator/endpoint_group_test.go
Labels: size/XS, tests, service/globalaccelerator, generators

#25279 r/ipam_pool_cidr_allocation: add test to ensure filtering by ipam pool allication id
  internal/service/ec2/ipam_pool_cidr_allocation_test.go
Labels: size/M, tests, service/ipam

#25425 ci/semgrep/autoscaling: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/autoscaling/attachment_test.go
  internal/service/autoscaling/group_data_source_test.go
  internal/service/autoscaling/group_test.go
  internal/service/autoscaling/groups_data_source_test.go
  internal/service/autoscaling/launch_configuration_data_source_test.go
  internal/service/autoscaling/launch_configuration_test.go
  internal/service/autoscaling/lifecycle_hook_test.go
  internal/service/autoscaling/notification_test.go
  internal/service/autoscaling/policy_test.go
  internal/service/autoscaling/schedule_test.go
Labels: size/XL, tests, service/autoscaling, generators

#25336 Update lb_target_group.html.markdown
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, size/XS, service/elbv2

#25426 ci/semgrep/s3control: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/s3control/access_point_policy_test.go
  internal/service/s3control/access_point_test.go
  internal/service/s3control/account_public_access_block_test.go
  internal/service/s3control/bucket_lifecycle_configuration_test.go
  internal/service/s3control/bucket_policy_test.go
  internal/service/s3control/bucket_test.go
  internal/service/s3control/multi_region_access_point_test.go
  internal/service/s3control/object_lambda_access_point_policy_test.go
  internal/service/s3control/object_lambda_access_point_test.go
Labels: size/L, tests, service/s3control, generators

#25427 ci/semgrep/cloudfront: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/cloudfront/cache_policy_data_source_test.go
  internal/service/cloudfront/cache_policy_test.go
  internal/service/cloudfront/distribution_data_source_test.go
  internal/service/cloudfront/distribution_test.go
  internal/service/cloudfront/field_level_encryption_config_test.go
  internal/service/cloudfront/field_level_encryption_profile_test.go
  internal/service/cloudfront/function_data_source_test.go
  internal/service/cloudfront/function_test.go
  internal/service/cloudfront/key_group_test.go
  internal/service/cloudfront/log_delivery_canonical_user_id_data_source_test.go
  internal/service/cloudfront/monitoring_subscription_test.go
  internal/service/cloudfront/origin_access_identities_data_source_test.go
  internal/service/cloudfront/origin_access_identity_data_source_test.go
  internal/service/cloudfront/origin_access_identity_test.go
  internal/service/cloudfront/origin_request_policy_data_source_test.go
  internal/service/cloudfront/origin_request_policy_test.go
  internal/service/cloudfront/public_key_test.go
  internal/service/cloudfront/realtime_log_config_data_source_test.go
  internal/service/cloudfront/realtime_log_config_test.go
  internal/service/cloudfront/response_headers_policy_data_source_test.go
  internal/service/cloudfront/response_headers_policy_test.go
Labels: size/XL, tests, service/cloudfront, generators

#25429 elasticache/replication_group: Add nil guards for endpoints
  internal/service/elasticache/replication_group.go
Labels: size/XS, service/elasticache

#25428 ci/semgrep/elasticsearch: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/elasticsearch/domain_data_source_test.go
  internal/service/elasticsearch/domain_policy_test.go
  internal/service/elasticsearch/domain_saml_options_test.go
  internal/service/elasticsearch/domain_test.go
Labels: size/L, tests, service/elasticsearch, generators

#25443 ci/semgrep/ecs: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/ecs/account_setting_default_test.go
  internal/service/ecs/capacity_provider_test.go
  internal/service/ecs/cluster_capacity_providers_test.go
  internal/service/ecs/cluster_test.go
  internal/service/ecs/service_test.go
  internal/service/ecs/tag_test.go
  internal/service/ecs/task_definition_test.go
  internal/service/ecs/task_set_test.go
Labels: size/XL, tests, service/ecs, tags, generators

#25444 ci/semgrep/ce: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/ce/anomaly_monitor_test.go
  internal/service/ce/cost_category_data_source_test.go
  internal/service/ce/cost_category_test.go
  internal/service/ce/tags_data_source_test.go
Labels: size/S, tests, generators, service/ce

#25446 ci/semgrep/apigateway: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/apigateway/api_key_data_source_test.go
  internal/service/apigateway/api_key_test.go
  internal/service/apigateway/authorizer_test.go
  internal/service/apigateway/base_path_mapping_test.go
  internal/service/apigateway/client_certificate_test.go
  internal/service/apigateway/deployment_test.go
  internal/service/apigateway/documentation_part_test.go
  internal/service/apigateway/documentation_version_test.go
  internal/service/apigateway/domain_name_data_source_test.go
  internal/service/apigateway/domain_name_test.go
  internal/service/apigateway/export_data_source_test.go
  internal/service/apigateway/gateway_response_test.go
  internal/service/apigateway/integration_response_test.go
  internal/service/apigateway/integration_test.go
  internal/service/apigateway/method_response_test.go
  internal/service/apigateway/method_settings_test.go
  internal/service/apigateway/method_test.go
  internal/service/apigateway/model_test.go
  internal/service/apigateway/request_validator_test.go
  internal/service/apigateway/resource_data_source_test.go
  internal/service/apigateway/resource_test.go
  internal/service/apigateway/rest_api_policy_test.go
  internal/service/apigateway/rest_api_test.go
  internal/service/apigateway/sdk_data_source_test.go
  internal/service/apigateway/stage_test.go
  internal/service/apigateway/usage_plan_key_test.go
  internal/service/apigateway/usage_plan_test.go
  internal/service/apigateway/vpc_link_data_source_test.go
  internal/service/apigateway/vpc_link_test.go
Labels: size/XL, tests, service/apigateway, generators

#25447 ci/semgrep/configservice: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/configservice/config_rule_test.go
  internal/service/configservice/configuration_aggregator_test.go
  internal/service/configservice/configuration_recorder_status_test.go
  internal/service/configservice/conformance_pack_test.go
  internal/service/configservice/organization_conformance_pack_test.go
  internal/service/configservice/organization_custom_rule_test.go
  internal/service/configservice/organization_managed_rule_test.go
  internal/service/configservice/remediation_configuration_test.go
Labels: size/L, tests, service/configservice, generators

#25431 organizations_account: Add more docs to billing iam users
  website/docs/r/organizations_account.html.markdown
Labels: documentation, size/XS, service/organizations

#25451 Fix v4.18.0 CHANGELOG entry for new `aws_ce_anomaly_monitor` resource
  .changelog/25177.txt
  CHANGELOG.md
Labels: documentation, size/XS, provider

#25436 Fix example for Selecting Backups By Conditions
  website/docs/r/backup_selection.html.markdown
Labels: documentation, size/XS, service/backup

#25449 ci/semgrep/s3: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/s3/bucket_accelerate_configuration_test.go
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_analytics_configuration_test.go
  internal/service/s3/bucket_cors_configuration_test.go
  internal/service/s3/bucket_data_source_test.go
  internal/service/s3/bucket_intelligent_tiering_configuration_test.go
  internal/service/s3/bucket_inventory_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_metric_test.go
  internal/service/s3/bucket_notification_test.go
  internal/service/s3/bucket_object_data_source_test.go
  internal/service/s3/bucket_object_lock_configuration_test.go
  internal/service/s3/bucket_object_test.go
  internal/service/s3/bucket_objects_data_source_test.go
  internal/service/s3/bucket_ownership_controls_test.go
  internal/service/s3/bucket_policy_data_source_test.go
  internal/service/s3/bucket_policy_test.go
  internal/service/s3/bucket_public_access_block_test.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_request_payment_configuration_test.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_versioning_test.go
  internal/service/s3/bucket_website_configuration_test.go
  internal/service/s3/canonical_user_id_data_source_test.go
  internal/service/s3/object_copy_test.go
  internal/service/s3/object_data_source_test.go
  internal/service/s3/object_test.go
  internal/service/s3/objects_data_source_test.go
Labels: size/XL, tests, service/s3, generators

#25452 ci/semgrep/dms: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/dms/certificate_test.go
  internal/service/dms/endpoint_test.go
  internal/service/dms/event_subscription_test.go
  internal/service/dms/replication_instance_test.go
  internal/service/dms/replication_task_test.go
Labels: size/M, tests, generators, service/dms

#25453 ci/semgrep/appautoscaling: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/appautoscaling/policy_test.go
  internal/service/appautoscaling/target_test.go
Labels: size/M, tests, generators, service/appautoscaling

#25454 ci/semgrep/cloudwatch: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/cloudwatch/composite_alarm_test.go
  internal/service/cloudwatch/dashboard_test.go
  internal/service/cloudwatch/metric_alarm_test.go
  internal/service/cloudwatch/metric_stream_test.go
Labels: size/L

#25455 ci/semgrep/kinesis: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/kinesis/stream_consumer_data_source_test.go
  internal/service/kinesis/stream_test.go
Labels: size/S, tests, service/kinesis, generators

#25456 ci/providerlint: Improve providerlint handling
  .github/scripts/providerlint.sh
  .github/workflows/terraform_provider.yml
Labels: size/XS, linter, repository, github_actions

#25457 ci/semgrep/cloudtrail: Remove exclusion
  .semgrep-configs.yml
  .semgrep-service-name0.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/generate/servicesemgrep/main.go
  internal/service/cloudtrail/cloudtrail_test.go
  internal/service/cloudtrail/event_data_store_test.go
  internal/service/cloudtrail/service_account_data_source_test.go
Labels: size/L, tests, service/cloudtrail, generators

#25301 Correct `aws_ce_anomaly_monitor` argument names
  website/docs/r/ce_anomaly_monitor.html.markdown
Labels: documentation, size/XS, service/ce

#25329 r/waf_byte_match_set.byte_match_tuples.target_string (docs) fix example, spacing (fixes #25328)
  website/docs/r/waf_byte_match_set.html.markdown
Labels: documentation, size/XS, service/waf

#25458 ci/semgrep/dax: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/dax/cluster_test.go
Labels: size/S, service/dax, generators

#25459 ci/semgrep/lambda: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/apigateway/base_path_mapping_test.go
  internal/service/lambda/alias_data_source_test.go
  internal/service/lambda/alias_test.go
  internal/service/lambda/code_signing_config_data_source_test.go
  internal/service/lambda/code_signing_config_test.go
  internal/service/lambda/event_source_mapping_test.go
  internal/service/lambda/function_data_source_test.go
  internal/service/lambda/function_event_invoke_config_test.go
  internal/service/lambda/function_test.go
  internal/service/lambda/function_url_data_source_test.go
  internal/service/lambda/function_url_test.go
  internal/service/lambda/invocation_data_source_test.go
  internal/service/lambda/invocation_test.go
  internal/service/lambda/layer_version_data_source_test.go
  internal/service/lambda/layer_version_permission_test.go
  internal/service/lambda/layer_version_test.go
  internal/service/lambda/permission_test.go
  internal/service/lambda/provisioned_concurrency_config_test.go
Labels: size/XL, tests, service/lambda, service/apigateway, generators

#25460 ci/semgrep/cognitoidp: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/cognitoidp/identity_provider_test.go
  internal/service/cognitoidp/resource_server_test.go
  internal/service/cognitoidp/user_group_test.go
  internal/service/cognitoidp/user_in_group_test.go
  internal/service/cognitoidp/user_pool_client_data_source_test.go
  internal/service/cognitoidp/user_pool_client_test.go
  internal/service/cognitoidp/user_pool_clients_data_source_test.go
  internal/service/cognitoidp/user_pool_test.go
  internal/service/cognitoidp/user_pool_ui_customization_test.go
  internal/service/cognitoidp/user_pools_data_source_test.go
  internal/service/cognitoidp/user_test.go
Labels: size/XL, tests, generators, service/cognitoidp

#25450 r/aws_launch_configuration: No default for `associate_public_ip_address`
  .changelog/25450.txt
  internal/service/autoscaling/launch_configuration.go
  internal/service/autoscaling/launch_configuration_test.go
Labels: size/L, tests, service/autoscaling

#25461 ci/semgrep/elasticache: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/elasticache/cluster_data_source_test.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/global_replication_group_test.go
  internal/service/elasticache/parameter_group_test.go
  internal/service/elasticache/replication_group_data_source_test.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elasticache/security_group_test.go
  internal/service/elasticache/subnet_group_test.go
  internal/service/elasticache/user_data_source_test.go
  internal/service/elasticache/user_group_association_test.go
  internal/service/elasticache/user_group_test.go
  internal/service/elasticache/user_test.go
Labels: size/XL, tests, service/elasticache, generators

#25463 ci/golangci-lint: Run from subshell
  .github/workflows/terraform_provider.yml
Labels: size/XS, linter, repository, github_actions

#25462 ci/semgrep/ram: Remove exclusion
  .semgrep-configs.yml
  internal/generate/servicesemgrep/configs.tmpl
  internal/service/ram/principal_association_test.go
  internal/service/ram/resource_association_test.go
  internal/service/ram/resource_share_accepter_test.go
  internal/service/ram/resource_share_data_source_test.go
  internal/service/ram/resource_share_test.go
Labels: size/M, tests, service/ram, generators

#25464 Ec2host outpostarn
  .changelog/25464.txt
  internal/service/ec2/ec2_host.go
  internal/service/ec2/ec2_host_data_source.go
  internal/service/ec2/ec2_host_data_source_test.go
  internal/service/ec2/ec2_host_test.go
  website/docs/d/ec2_host.html.markdown
  website/docs/r/ec2_host.html.markdown
Labels: documentation, size/M, tests, service/ec2

#25185 r/aws_instance - add `disable_api_stop` argument
  .changelog/25185.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_data_source.go
  internal/service/ec2/ec2_instance_data_source_test.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/ec2_launch_template_data_source_test.go
  internal/service/ec2/ec2_launch_template_test.go
  website/docs/d/instance.html.markdown
  website/docs/r/instance.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ec2

#25490 Workaround failing `semgrep` GitHub Action
  .github/workflows/semgrep-ci.yml
Labels: size/XS, repository, github_actions

#25473 d/aws_kendra_index
  .changelog/25473.txt
  internal/provider/provider.go
  internal/service/kendra/index_data_source.go
  internal/service/kendra/index_data_source_test.go
  website/docs/d/kendra_index.html.markdown
Labels: documentation, new-data-source, size/XL, tests, provider, service/kendra

#25161 Add Private DNS Options to EC2 instance
  .changelog/25161.txt
  internal/acctest/acctest.go
  internal/service/autoscaling/group_test.go
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_data_source.go
  internal/service/ec2/ec2_instance_data_source_test.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/ec2_instance_type_data_source.go
  internal/service/ec2/ec2_instance_type_data_source_test.go
  internal/service/ec2/ec2_instance_type_offering_data_source.go
  internal/service/ec2/ec2_instance_type_offering_data_source_test.go
  internal/service/ec2/ec2_instance_type_offerings_data_source.go
  internal/service/ec2/ec2_instance_type_offerings_data_source_test.go
  internal/service/ec2/ec2_instance_types_data_source.go
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/ec2_launch_template_test.go
  internal/service/ec2/filter.go
  internal/service/ec2/find.go
  internal/service/ec2/vpc_default_vpc_dhcp_options.go
  internal/service/ec2/vpc_default_vpc_dhcp_options_test.go
  internal/service/ec2/vpc_dhcp_options.go
  internal/service/ec2/vpc_dhcp_options_test.go
  internal/service/ec2/vpc_subnet.go
  website/docs/d/instance.html.markdown
  website/docs/r/instance.html.markdown
Labels: documentation, size/XL, tests, service/ec2, service/autoscaling, service/vpc

#25199 r/kendra_thesaurus: new resource
  .changelog/25199.txt
  internal/provider/provider.go
  internal/service/kendra/find.go
  internal/service/kendra/id.go
  internal/service/kendra/id_test.go
  internal/service/kendra/index.go
  internal/service/kendra/index_test.go
  internal/service/kendra/kendra_test.go
  internal/service/kendra/thesaurus.go
  internal/service/kendra/thesaurus_test.go
  website/docs/r/kendra_thesaurus.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/kendra

#25261 Add multi-key/multi-value `conditional` example to `aws_iam_policy_document` data source documentation
  website/docs/d/iam_policy_document.html.markdown
Labels: documentation, size/M, service/iam

#25278 r/aws_sagemaker_domain: in-place update for default user settings
  internal/service/sagemaker/domain.go
  internal/service/sagemaker/domain_test.go
  internal/service/sagemaker/sagemaker_test.go
Labels: enhancement, size/M, tests, service/sagemaker

#25182 r/datasync_location_efs - add access point args
  .changelog/25182.txt
  internal/service/datasync/location_efs.go
  internal/service/datasync/location_efs_test.go
  website/docs/r/datasync_location_efs.html.markdown
Labels: enhancement, documentation, size/L, tests, service/datasync

#19523 New resource: aws_lakeformation_lf_tag
  .changelog/19523.txt
  internal/provider/provider.go
  internal/service/lakeformation/lakeformation_test.go
  internal/service/lakeformation/lf_tag.go
  internal/service/lakeformation/lf_tag_test.go
  website/docs/r/lakeformation_lf_tag.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/lakeformation

#25515 r/aws_kendra_faq
  .changelog/25515.txt
  internal/provider/provider.go
  internal/service/kendra/faq.go
  internal/service/kendra/faq_test.go
  internal/service/kendra/find.go
  internal/service/kendra/id.go
  internal/service/kendra/index_data_source.go
  internal/service/kendra/kendra_test.go
  internal/service/kendra/test-fixtures/basic.csv
  website/docs/r/kendra_faq.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/kendra
