Repository hashicorp/terraform-provider-aws, pull requests merged in 2022-02, with the labels that each got.

#22858 Add grafana package
  internal/service/grafana/consts.go
Labels: size/XS, service/grafana

#22856 d/aws_imagebuilder_image_recipe - add component parameter attribute
  .changelog/22856.txt
  internal/service/imagebuilder/image_recipe_data_source.go
  internal/service/imagebuilder/image_recipe_data_source_test.go
  website/docs/d/imagebuilder_image_recipe.html.markdown
Labels: documentation, size/S, tests, service/imagebuilder

#22842 r/aws_imagebuilder_distribution_configuration - add support for launch template configurations
  .changelog/22842.txt
  internal/service/imagebuilder/distribution_configuration.go
  internal/service/imagebuilder/distribution_configuration_test.go
  website/docs/r/imagebuilder_distribution_configuration.html.markdown
Labels: documentation, size/L, tests, service/imagebuilder

#22863 aws_vpc_ipam* docs and modifyIpam fixes
  .changelog/22863.txt
  internal/service/ec2/vpc_ipam.go
  internal/service/ec2/vpc_ipam_test.go
  website/docs/r/vpc_ipam_pool.html.markdown
  website/docs/r/vpc_ipam_pool_cidr.html.markdown
Labels: documentation, size/M, tests, service/ec2

#22815 Add Route 53 Recovery Control sweepers
  internal/service/route53recoverycontrolconfig/cluster.go
  internal/service/route53recoverycontrolconfig/control_panel.go
  internal/service/route53recoverycontrolconfig/routing_control.go
  internal/service/route53recoverycontrolconfig/safety_rule.go
  internal/service/route53recoverycontrolconfig/sweep.go
  internal/sweep/sweep_test.go
Labels: size/XL, tests, sweeper, service/route53recoverycontrolconfig

#14218 New Data Source - aws_ec2_client_vpn_endpoint
  .changelog/14218.txt
  .changelog/20689.txt
  internal/provider/provider.go
  internal/service/ec2/client_vpn_authorization_rule.go
  internal/service/ec2/client_vpn_authorization_rule_test.go
  internal/service/ec2/client_vpn_endpoint_data_source.go
  internal/service/ec2/client_vpn_endpoint_data_source_test.go
  internal/service/ec2/client_vpn_endpoint_test.go
  internal/service/ec2/client_vpn_network_association.go
  internal/service/ec2/client_vpn_network_association_test.go
  internal/service/ec2/find.go
  internal/service/ec2/id.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/wait.go
  website/docs/d/ec2_client_vpn_endpoint.html.markdown
  website/docs/r/ec2_client_vpn_network_association.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/ec2, provider, sweeper

#22743 d/aws_subnet_ids: Deprecate
  .changelog/22743.txt
  internal/service/ec2/subnet_ids_data_source.go
  website/docs/d/subnet_ids.html.markdown
Labels: documentation, size/XS, service/ec2

#22843 :memo: update example and domain description
  website/docs/r/cognito_user_pool_domain.markdown
Labels: documentation, size/XS, needs-triage, service/cognitoidentityprovider

#22881 provider: Logging fixes
  internal/conns/conns.go
  main.go
Labels: size/XS, provider, client-connections

#22884 d/aws_imagebuilder_distribution_configuration - add launch_template_configuration attribute
  .changelog/22884.txt
  internal/service/imagebuilder/distribution_configuration_data_source.go
  internal/service/imagebuilder/distribution_configuration_data_source_test.go
  website/docs/d/imagebuilder_distribution_configuration.html.markdown
Labels: enhancement, documentation, size/S, tests, service/imagebuilder

#22760 Q1 2022 roadmap: Feb - Apr
  ROADMAP.md
  docs/roadmaps/2021_November_to_January.md
Labels: documentation, size/L, provider

#22891 r/aws_ec2_client_vpn_endpoint: `connection_log_options.cloudwatch_log_stream` is Computed
  .changelog/22891.txt
  internal/service/ec2/client_vpn_endpoint.go
  internal/service/ec2/client_vpn_endpoint_test.go
Labels: size/XS, tests, service/ec2

#22887 r/aws_ec2_client_vpn_endpoint & r/aws_ec2_client_vpn_network_association: Deprecate `status` attribute
  .changelog/22887.txt
  internal/service/ec2/client_vpn_endpoint.go
  internal/service/ec2/client_vpn_network_association.go
  website/docs/r/ec2_client_vpn_endpoint.html.markdown
  website/docs/r/ec2_client_vpn_network_association.html.markdown
Labels: documentation, size/XS, service/ec2

#22882 r/aws_backup_selection: Prevent continual recreation due to `condition` and `not_resources` diffs
  .changelog/22882.txt
  internal/service/backup/selection.go
  internal/service/backup/selection_test.go
Labels: size/XS, tests, service/backup

#22898 Reduce minimum file system throughput for aws_fsx_ontap_file_system
  .changelog/22898.txt
  internal/service/fsx/ontap_file_system.go
  internal/service/fsx/ontap_file_system_test.go
  website/docs/r/fsx_ontap_file_system.html.markdown
Labels: documentation, size/S, tests, service/fsx

#22818 Version 4 Upgrade Guide Base
  website/docs/d/cloudwatch_log_group.html.markdown
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XL, service/cloudwatchlogs

#22666 r/elasticache_replication_group: deprecations/addition of args to align with API
  .changelog/22666.txt
  internal/service/elasticache/replication_group.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: enhancement, documentation, size/L, service/elasticache

#22662 r/autoscaling_attachment: deprecate `alb_target_group_arn` and add `lb_target_group_arn`
  .changelog/22662.txt
  internal/service/autoscaling/attachment.go
  website/docs/r/autoscaling_attachment.html.markdown
Labels: documentation, size/M, service/autoscaling

#22663 r/autoscaling_group: deprecate `tags`
  .changelog/22663.txt
  internal/service/autoscaling/group.go
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#22667 d/elasticache_replication_group: deprecation/add args to align with API
  .changelog/22667.txt
  internal/service/elasticache/replication_group_data_source.go
  internal/service/elasticache/replication_group_data_source_test.go
  website/docs/d/elasticache_replication_group.html.markdown
Labels: documentation, size/S, tests, service/elasticache

#22833 Correct fragment identifier reference
  website/docs/r/budgets_budget.html.markdown
Labels: documentation, size/XS, service/budgets

#22805 r/aws_batch_compute_environment: Enforce no `compute_resources` block for `UNMANAGED` compute environments
  .changelog/22805.txt
  internal/service/batch/compute_environment.go
  internal/service/batch/compute_environment_test.go
Labels: breaking-change, size/S, tests, service/batch

#22902 release/3.x: Backport of #22882 (r/aws_backup_selection continual diffs)
  .changelog/22882.txt
  internal/service/backup/selection.go
  internal/service/backup/selection_test.go
Labels: size/XS, tests, service/backup

#22803 r/cloudwatch_event_target: remove launch_type default
  .changelog/22803.txt
  internal/service/events/target.go
  internal/service/events/target_test.go
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, breaking-change, size/M, tests, service/events

#22878 r/acmpca_certificate_authority: Deprecate `status` attribute
  .changelog/22878.txt
  internal/service/acmpca/certificate_authority.go
  internal/service/acmpca/certificate_authority_test.go
  website/docs/r/acmpca_certificate_authority.html.markdown
Labels: documentation, size/XS, tests, service/acmpca

#22890 d/aws_iam_policy_document: Deprecate source_json, override_json
  .changelog/22890.txt
  internal/service/iam/policy_document_data_source.go
  internal/service/iam/policy_document_data_source_test.go
  website/docs/d/iam_policy_document.html.markdown
Labels: documentation, size/S, tests, service/iam

#22888 r/aws_budgets_budget: Deprecate `cost_filters` argument
  .changelog/22888.txt
  internal/service/budgets/budget.go
  internal/service/budgets/budget_test.go
  website/docs/r/budgets_budget.html.markdown
Labels: documentation, size/XS, tests, service/budgets

#22877 Add s3_bucket_object deprecated copies
  .changelog/22850.txt
  .changelog/22877.txt
  CHANGELOG.md
  internal/provider/provider.go
  internal/service/s3/bucket_object.go
  internal/service/s3/bucket_object_data_source.go
  internal/service/s3/bucket_object_data_source_test.go
  internal/service/s3/bucket_object_test.go
  internal/service/s3/bucket_objects_data_source.go
  internal/service/s3/bucket_objects_data_source_test.go
  website/docs/d/s3_bucket_object.html.markdown
  website/docs/d/s3_bucket_objects.html.markdown
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, size/XL, tests, service/s3, provider

#22804 Enhance FIPS, DualStack, Unique STS Region Support
  .changelog/22804.txt
  internal/conns/conns.go
  internal/provider/provider.go
  internal/sweep/sweep.go
  website/docs/index.html.markdown
Labels: documentation, size/XL, provider, sweeper, client-connections

#22883 provider: Update to Go v1.17
  .github/workflows/terraform_provider.yml
  .go-version
  .golangci.yml
  docs/contributing/development-environment.md
  go.mod
  go.sum
  internal/generate/listpages/main.go
  internal/generate/namevaluesfilters/generators/servicefilters/main.go
  internal/generate/tagresource/main.go
  internal/generate/tags/main.go
  internal/service/ec2/generate/createtags/main.go
  internal/service/events/consts.go
  internal/service/events/target.go
  tools/go.mod
  tools/go.sum
Labels: documentation, size/XL, service/ec2, provider, linter, repository, generators, service/events

#19919 Add aws_cognito_user resource
  .changelog/19919.txt
  internal/provider/provider.go
  internal/service/cognitoidp/user.go
  internal/service/cognitoidp/user_test.go
  website/docs/r/cognito_user.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/cognitoidentityprovider

#22178 resource/aws_db_instance: Correctly handles update and reboot for replica instances
  .changelog/22178.txt
  docs/contributing/contribution-checklists.md
  internal/generate/namevaluesfilters/generators/servicefilters/main.go
  internal/service/rds/enum.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  internal/service/rds/wait.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/XL, tests, service/rds, provider, generators

#22648 r/s3_bucket_website_configuration: new resource
  .changelog/22648.txt
  internal/provider/provider.go
  internal/service/s3/bucket_website_configuration.go
  internal/service/s3/bucket_website_configuration_test.go
  internal/service/s3/errors.go
  website/docs/r/s3_bucket_website_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3, provider

#22617 r/s3_bucket_accelerate_configuration: new resource
  .changelog/22617.txt
  internal/provider/provider.go
  internal/service/s3/bucket_accelerate_configuration.go
  internal/service/s3/bucket_accelerate_configuration_test.go
  website/docs/r/s3_bucket_accelerate_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3, provider

#22608 r/s3_bucket_logging: new resource
  .changelog/22608.txt
  internal/provider/provider.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_logging.go
  internal/service/s3/bucket_logging_test.go
  website/docs/r/s3_bucket_logging.html.markdown
Labels: documentation, size/XL, tests, service/s3, provider

#22579 r/s3_bucket_lifecycle_configuration: new resource
  .changelog/22579.txt
  internal/provider/provider.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/enum.go
  internal/service/s3/errors.go
  internal/service/s3/flex.go
  internal/service/s3/status.go
  internal/service/s3/wait.go
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3, provider

#22375 td/aws_connect_hours_of_operation
  .changelog/22375.txt
  internal/service/connect/hours_of_operation.go
  internal/service/connect/hours_of_operation_data_source.go
  internal/service/connect/hours_of_operation_data_source_test.go
  internal/service/connect/hours_of_operation_test.go
  internal/service/connect/wait.go
  website/docs/d/connect_hours_of_operation.html.markdown
  website/docs/r/connect_hours_of_operation.html.markdown
Labels: enhancement, documentation, breaking-change, size/M, tests, technical-debt, service/connect

#22671 Update documentation and Semgrep rules for flex functions
  .semgrep.yml
  docs/contributing/data-handling-and-conversion.md
Labels: documentation, size/XS, provider, linter

#22609 r/s3_bucket_server_side_encryption_configuration: new resource
  .changelog/22609.txt
  internal/provider/provider.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_server_side_encryption_configuration.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  internal/service/s3/errors.go
  website/docs/r/s3_bucket_server_side_encryption_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3, provider

#22915 fsx/ontap_storeage_virtulal_mcahine: Remove deprecadted distinguidshed
  .changelog/22915.txt
  .github/workflows/terraform_provider.yml
  docs/contributing/contribution-checklists.md
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/service/fsx/ontap_storage_virtual_machine_migrate.go
  internal/service/fsx/ontap_storage_virtual_machine_migrate_test.go
  internal/service/fsx/ontap_storage_virtual_machine_test.go
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XL, tests, provider, service/fsx, linter, repository

#20482 r/aws_elasticache_cluster: require one of `engine` or `replication_group_id`
  .changelog/20482.txt
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/elasticache_cluster.html.markdown
Labels: enhancement, documentation, breaking-change, size/M, tests, service/elasticache

#22926 ec2/customer_gateway: Remove empty validation
  .changelog/22926.txt
  internal/service/ec2/customer_gateway.go
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XS, service/ec2

#22927 aws_ec2_route_table_association: use retry logic on newly created resource
  .changelog/22927.txt
  internal/service/ec2/route_table_association.go
Labels: size/XS, service/ec2

#22928 ec2/network_acl: Remove empty validation
  .changelog/22928.txt
  internal/service/ec2/default_network_acl.go
  internal/service/ec2/network_acl.go
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/M, service/ec2

#22614 r/s3_bucket: read-only `website`, `website_endpoint`, and `website_domain` arguments
  .changelog/22614.txt
  internal/service/cloudformation/stack_test.go
  internal/service/route53/record_test.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_data_source_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_website_configuration.go
  internal/service/s3/bucket_website_configuration_test.go
  internal/service/s3/errors.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_website_configuration.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/s3, service/route53, service/cloudformation

#22939 rd/ami - add `boot_mode` and `outpost_arn`
  .changelog/22939.txt
  internal/service/ec2/ami.go
  internal/service/ec2/ami_data_source.go
  internal/service/ec2/ami_test.go
  website/docs/d/ami.html.markdown
  website/docs/r/ami.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ec2

#22935 r/fsx_lustre_file_system - add `log_configuration` argument
  .changelog/22935.txt
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
Labels: enhancement, documentation, size/L, tests, service/fsx

#22941 r/glue_partition_index - add timeouts
  .changelog/22941.txt
  internal/service/glue/partition_index.go
  internal/service/glue/wait.go
  website/docs/r/glue_partition_index.html.markdown
Labels: enhancement, documentation, size/XS, service/glue

#22933 r/dataexchanage_revision - new resource
  .changelog/22933.txt
  internal/provider/provider.go
  internal/service/dataexchange/find.go
  internal/service/dataexchange/revision.go
  internal/service/dataexchange/revision_test.go
  website/docs/r/dataexchange_revision.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/dataexchange

#22620 d/aws_cloudfront_realtime_log_config
  .changelog/22620.txt
  internal/provider/provider.go
  internal/service/cloudfront/find.go
  internal/service/cloudfront/realtime_log_config_data_source.go
  internal/service/cloudfront/realtime_log_config_data_source_test.go
  website/docs/d/cloudfront_realtime_log_config.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/cloudfront, provider

#22946 r/cloudwatch_event_target - `http_target.path_parameter_values` preserve order + validations
  .changelog/22946.txt
  internal/service/events/target.go
Labels: bug, enhancement, size/M, service/events

#22911 r/aws_ec2_client_vpn_network_association: Deprecate `security_groups`; r/aws_ec2_client_vpn_endpoint: Add `security_group_ids` and `vpc_id`
  .changelog/22911.txt
  internal/conns/conns.go
  internal/service/ec2/client_vpn_authorization_rule.go
  internal/service/ec2/client_vpn_endpoint.go
  internal/service/ec2/client_vpn_endpoint_data_source.go
  internal/service/ec2/client_vpn_endpoint_data_source_test.go
  internal/service/ec2/client_vpn_endpoint_test.go
  internal/service/ec2/client_vpn_network_association.go
  internal/service/ec2/client_vpn_network_association_test.go
  internal/service/ec2/client_vpn_route.go
  internal/service/ec2/client_vpn_route_test.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/id.go
  internal/service/ec2/status.go
  internal/service/ec2/wait.go
  website/docs/d/ec2_client_vpn_endpoint.html.markdown
  website/docs/r/ec2_client_vpn_endpoint.html.markdown
  website/docs/r/ec2_client_vpn_network_association.html.markdown
  website/docs/r/ec2_client_vpn_route.html.markdown
Labels: documentation, size/XL, tests, service/ec2, client-connections

#22948 ec2: Remove remaining empty validation
  .changelog/22948.txt
  internal/service/ec2/default_vpc.go
  internal/service/ec2/instance.go
  internal/service/ec2/instance_test.go
  internal/service/ec2/vpc.go
  internal/service/ec2/vpc_ipv6_cidr_block_association.go
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XL, tests, service/ec2

#22853 r/s3_bucket_acl: new resource
  .changelog/22853.txt
  internal/provider/provider.go
  internal/service/s3/bucket_acl.go
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_test.go
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_acl.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3, provider

#22613 r/s3_bucket: read-only `request_payer` argument
  .changelog/22613.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_request_payment_configuration_test.go
  internal/service/s3/bucket_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, breaking-change, size/L, tests, service/s3

#22611 r/s3_bucket: read-only `cors_rule` argument
  .changelog/22611.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_cors_configuration_test.go
  internal/service/s3/bucket_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/s3

#22610 r/s3_bucket: read-only `acceleration_status` argument
  .changelog/22610.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_accelerate_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/errors.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, breaking-change, size/L, tests, service/s3

#22599 r/s3_bucket: read-only `logging` argument
  .changelog/22599.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/s3

#22604 r/s3_bucket: read-only `replication_configuration` argument
  .changelog/22604.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/enum.go
  internal/service/s3/errors.go
  internal/tags/tags.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_replication_configuration.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/s3, tags

#22605 r/s3_bucket: read-only `server_side_encryption_configuration` argument
  .changelog/22605.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  internal/service/s3/bucket_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/s3

#22538 r/s3_bucket: read-only `policy` argument
  .changelog/22538.txt
  internal/service/elb/load_balancer_test.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_test.go
  internal/service/s3/errors.go
  website/docs/d/billing_service_account.html.markdown
  website/docs/d/cloudtrail_service_account.html.markdown
  website/docs/d/elb_service_account.html.markdown
  website/docs/d/redshift_service_account.html.markdown
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/s3, service/cloudtrail, service/elb, service/redshift, service/meta

#22581 r/s3_bucket: read-only `lifecycle_rule`
  .changelog/22581.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/validate.go
  internal/service/s3/validate_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/s3

#22606 r/s3_bucket: read-only `versioning` argument
  .changelog/22606.txt
  internal/service/apigateway/domain_name_test.go
  internal/service/apigatewayv2/domain_name_test.go
  internal/service/athena/database_test.go
  internal/service/kafkaconnect/custom_plugin_test.go
  internal/service/lambda/function_test.go
  internal/service/mwaa/environment_test.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_object_data_source_test.go
  internal/service/s3/bucket_object_test.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_versioning.go
  internal/service/s3/errors.go
  internal/service/s3/object_copy_test.go
  internal/service/s3/object_data_source_test.go
  internal/service/s3/object_test.go
  internal/service/signer/signing_job_data_source_test.go
  internal/service/signer/signing_job_test.go
  internal/service/synthetics/canary_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
  website/docs/r/s3_bucket_replication_configuration.html.markdown
  website/docs/r/s3_object.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/lambda, service/s3, service/apigateway, service/athena, service/apigatewayv2, service/synthetics, service/mwaa, service/kafkaconnect

#22612 r/s3_bucket: read-only `object_lock_configuration` `rule` argument
  .changelog/22612.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_object_lock_configuration_test.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/s3

#22954 Remove last empty string validation
  .changelog/22954.txt
  .semgrep.yml
  internal/service/efs/mount_target.go
  internal/service/efs/mount_target_test.go
  internal/service/elasticsearch/domain.go
  internal/service/elasticsearch/domain_data_source_test.go
  internal/service/elasticsearch/domain_test.go
  internal/service/events/target.go
  internal/service/events/target_test.go
  internal/service/s3/bucket_object_test.go
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, breaking-change, size/XL, tests, service/efs, service/elasticsearch, linter, service/events

#22979 examples/s3-cross-account-access: migrate example to `aws_s3_bucket_policy` resource
  examples/s3-cross-account-access/main.tf
Labels: size/XS, examples

#22978 waf/helpers: prevent panic during `ExpandActivatedRule` method
  .changelog/22978.txt
  internal/service/waf/helpers.go
Labels: bug, size/XS, service/waf, service/wafregional

#22975 tests/cloudformation_stack: correct `aws_s3_bucket_website_configuration` resource name in test config
  internal/service/cloudformation/stack.go
  internal/service/cloudformation/stack_test.go
Labels: size/XS, tests, service/cloudformation

#22977 r/s3_bucket_cors_configuration: add retry around Get method during read
  .changelog/22977.txt
  internal/service/s3/bucket_cors_configuration.go
  internal/service/s3/bucket_cors_configuration_test.go
Labels: enhancement, size/XS, service/s3

#22972 r/ami_copy, r/ami_from_instance: add `boot_mode` and `ebs_block_device.outpost_arn` args inherited from AMI resource
  .changelog/22972.txt
  internal/service/ec2/ami_copy.go
  internal/service/ec2/ami_from_instance.go
Labels: enhancement, size/XS, service/ec2

#22996 elbv2: Don't allow invalid configurations
  .changelog/22996.txt
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_test.go
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/L, tests, service/elbv2

#22537 r/s3_bucket: read-only `acl` and `grant` arguments
  .changelog/22537.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/s3

#22668 r/db_instance: deprecate `name` and add `db_name`
  .changelog/22668.txt
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/L, tests, service/rds

#22998 Add metadata url, new arg docs
  website/docs/guides/version-4-upgrade.html.md
  website/docs/index.html.markdown
Labels: documentation, size/S, provider

#20661 mq_broker: don't recreate when `auto_minor_version_upgrade` and `host_instance_type` changed
  .changelog/20661.txt
  internal/service/mq/broker.go
  internal/service/mq/broker_data_source.go
  internal/service/mq/broker_data_source_test.go
  internal/service/mq/broker_test.go
Labels: size/XL, tests, service/mq

#22994 Fix error in example for cloudwatch_event_target
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, size/XS, service/events

#22938 Update aws_lb_target_group resource docs
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, size/XS, service/elbv2

#22876 fix lambda_config link
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, size/XS, service/cognitoidentityprovider

#22661 Document valid values for sagemaker domain retention policy
  website/docs/r/sagemaker_domain.html.markdown
Labels: documentation, size/XS, service/sagemaker

#23003 docs/**: update examples to use `aws_s3_bucket_acl` instead
  website/docs/d/billing_service_account.html.markdown
  website/docs/d/elb_service_account.html.markdown
  website/docs/r/cloudfront_distribution.html.markdown
  website/docs/r/cloudsearch_domain.html.markdown
  website/docs/r/cloudwatch_metric_stream.html.markdown
  website/docs/r/codebuild_project.html.markdown
  website/docs/r/codepipeline.markdown
  website/docs/r/fsx_data_repository_association.html.markdown
  website/docs/r/guardduty_ipset.html.markdown
  website/docs/r/guardduty_publishing_destination.html.markdown
  website/docs/r/guardduty_threatintelset.html.markdown
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
  website/docs/r/msk_cluster.html.markdown
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
  website/docs/r/s3_bucket_logging.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
  website/docs/r/s3_bucket_replication_configuration.html.markdown
  website/docs/r/s3_bucket_versioning.html.markdown
  website/docs/r/s3_object.html.markdown
Labels: documentation, size/M

#23002 docs/d/cloudfront_log_delivery_canonical_user_id: update example to `aws_s3_bucket_acl`
  website/docs/d/cloudfront_log_delivery_canonical_user_id.html.markdown
Labels: documentation, size/XS, service/cloudfront

#23001 tests/spot_datafeed_subscription: update to `aws_s3_bucket_acl`
  internal/service/ec2/errors.go
  internal/service/ec2/spot_datafeed_subscription.go
  internal/service/ec2/spot_datafeed_subscription_test.go
Labels: size/M, tests, technical-debt

#22999 tech-debt/tests: Migrate to `aws_s3_bucket_policy`
  internal/service/cloudformation/stack_test.go
  internal/service/cloudtrail/cloudtrail_test.go
  internal/service/redshift/cluster_test.go
Labels: size/M, tests, service/cloudtrail, service/redshift, service/cloudformation

#22925 resource/aws_elasticache_replication_group: Migrate from availability_zones TypeSet attribute to preferred_cache_cluster_azs TypeList attribute
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, size/XL, tests, service/elasticache

#23010 tests/wafregional: update to `aws_s3_bucket_acl` resource
  internal/service/wafregional/web_acl_test.go
Labels: size/XS, tests, service/waf

#23011 tests/waf: update to `aws_s3_bucket_acl` resource
  internal/service/waf/web_acl_test.go
Labels: size/XS, tests, service/waf

#23013 tests/ssm: update to `aws_s3_bucket_acl` resource
  internal/service/ssm/maintenance_window_task_test.go
Labels: size/XS, tests, service/ssm

#23015 tests/ses: update to `aws_s3_bucket_acl` resource
  internal/service/ses/event_destination_test.go
  internal/service/ses/receipt_rule_test.go
Labels: size/XS, tests, service/ses

#23004 tests/wafv2: update to `aws_s3_bucket_acl` resource
  internal/service/wafv2/web_acl_logging_configuration_test.go
Labels: size/XS, tests, service/wafv2

#23021 tests/route53: update to `aws_s3_bucket_acl` resource
  internal/service/route53/record_test.go
Labels: size/XS, tests, service/route53

#23016 tests/servicecatalog: update to `aws_s3_bucket_acl` resource
  internal/service/servicecatalog/constraint_test.go
  internal/service/servicecatalog/product_test.go
  internal/service/servicecatalog/provisioned_product_test.go
  internal/service/servicecatalog/provisioning_artifact_test.go
Labels: size/XS, tests, service/servicecatalog

#23017 Example of using a non-VPC endpoint prefix with a security group
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, size/XS, service/ec2

#23012 tests/synthetics: update to `aws_s3_bucket_acl` resource
  internal/service/synthetics/canary_test.go
Labels: size/XS, tests, service/synthetics

#23018 tests/sagemaker: update to `aws_s3_bucket_acl` resource
  internal/service/sagemaker/app_test.go
  internal/service/sagemaker/device_fleet_test.go
  internal/service/sagemaker/device_test.go
  internal/service/sagemaker/endpoint_configuration_test.go
  internal/service/sagemaker/endpoint_test.go
  internal/service/sagemaker/feature_group_test.go
  internal/service/sagemaker/flow_definition_test.go
  internal/service/sagemaker/model_test.go
  internal/service/sagemaker/notebook_instance_test.go
  internal/service/sagemaker/project_test.go
  internal/service/sagemaker/sagemaker_test.go
Labels: size/L, tests, service/sagemaker

#23030 ecs: Fix ISO tagging
  .changelog/23030.txt
  internal/service/ecs/capacity_provider.go
  internal/service/ecs/cluster.go
  internal/service/ecs/find.go
  internal/service/ecs/service.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_set.go
Labels: size/M, service/ecs, partition/aws-iso, partition/aws-iso-b

#21732 aws wafv2 webacl managed rule group version support
  .changelog/21732.txt
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/L, tests, service/wafv2

#18807 Subnet nacl association
  .changelog/18807.txt
  internal/provider/provider.go
  internal/service/ec2/default_network_acl.go
  internal/service/ec2/default_network_acl_test.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/network_acl.go
  internal/service/ec2/network_acl_association.go
  internal/service/ec2/network_acl_association_test.go
  internal/service/ec2/network_acl_entry.go
  internal/service/ec2/network_acl_entry_test.go
  internal/service/ec2/network_acl_rule.go
  internal/service/ec2/network_acl_rule_test.go
  internal/service/ec2/network_acl_test.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc.go
  internal/service/ec2/wait.go
  website/docs/r/network_acl.html.markdown
  website/docs/r/network_acl_association.html.markdown
Labels: documentation, size/XL, tests, service/ec2, provider, sweeper

#23032 tests/quicksight: update to `aws_s3_bucket_acl`
  internal/service/quicksight/data_source_test.go
Labels: size/XS, tests, service/quicksight

#23034 tests/mwaa: update to `aws_s3_bucket_acl`
  internal/service/mwaa/environment_test.go
Labels: size/XS, tests, service/mwaa

#23038 tests/lakeformation: update to `aws_s3_bucket_acl`
  internal/service/lakeformation/permissions_data_source_test.go
  internal/service/lakeformation/permissions_test.go
Labels: size/XS, tests, service/lakeformation

#23042 Add a list of valid types to lex intent fulfillment
  website/docs/r/lex_intent.html.markdown
Labels: documentation, size/XS, service/lexmodels

#23036 tests/lambda: update to `aws_s3_bucket_acl`
  internal/service/lambda/function_test.go
  internal/service/lambda/permission_test.go
Labels: size/XS, tests, service/lambda

#23033 tests/networkfirewall: update to `aws_s3_bucket_acl`
  internal/service/networkfirewall/logging_configuration_test.go
Labels: size/XS, tests, service/networkfirewall

#23044 tests/guardduty: update to `aws_s3_bucket_acl`
  internal/service/guardduty/ipset_test.go
  internal/service/guardduty/publishing_destination_test.go
  internal/service/guardduty/threatintelset_test.go
Labels: size/S, tests, service/guardduty

#23046 tests/globalaccelerator: update to `aws_s3_bucket_acl`
  internal/service/globalaccelerator/accelerator_test.go
Labels: size/XS, tests, service/globalaccelerator

#23043 tests/kafka: update to `aws_s3_bucket_acl`
  internal/service/kafka/cluster_test.go
Labels: size/XS, tests, service/kafka

#23050 tests/elastictranscoder: update to `aws_s3_bucket_acl`
  internal/service/elastictranscoder/pipeline_test.go
Labels: size/S, tests, service/elastictranscoder

#23051 tests/elb: update to `aws_s3_bucket_acl`
  internal/service/elb/load_balancer_test.go
Labels: size/XS, tests, service/elb

#23053 tests/cur: update to `aws_s3_bucket_acl`
  internal/service/cur/report_definition_data_source_test.go
  internal/service/cur/report_definition_test.go
Labels: size/XS, tests, service/costandusagereportservice

#23054 tests/configservice: update to `aws_s3_bucket_acl`
  internal/service/configservice/conformance_pack_test.go
  internal/service/configservice/organization_conformance_pack_test.go
Labels: size/S, tests, service/configservice

#23019 tests/s3: update to `aws_s3_bucket_acl` resource
  internal/service/s3/bucket_data_source_test.go
  internal/service/s3/bucket_inventory_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_metric_test.go
  internal/service/s3/bucket_notification_test.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_versioning_test.go
  internal/service/s3/bucket_website_configuration_test.go
Labels: size/L, tests, service/s3

#23064 tests/codepipeline: update to `aws_s3_bucket_acl`
  internal/service/codepipeline/codepipeline_test.go
  internal/service/codepipeline/webhook_test.go
Labels: size/XS, tests, service/codepipeline

#23065 tests/cloudwatchlogs: update to `aws_s3_bucket_acl`
  internal/service/cloudwatchlogs/subscription_filter_test.go
Labels: size/XS, tests, service/cloudwatchlogs

#23066 tests/cloudwatch: update to `aws_s3_bucket_acl`
  internal/service/cloudwatch/metric_stream_test.go
Labels: size/XS, tests, service/cloudwatch

#23063 tests/transfer: update to `aws_s3_bucket_acl`
  internal/service/transfer/access_test.go
Labels: size/XS, tests, service/transfer

#23068 tests/cloudfront: update to `aws_s3_bucket_acl`
  internal/service/cloudfront/distribution_test.go
Labels: size/XS, tests, service/cloudfront

#23052 provider: Add environment variable support for DynamoDB, IAM, S3, STS endpoints
  .changelog/23052.txt
  internal/conns/conns.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/L, tests, provider, client-connections

#23055 provider: Adds `s3_use_path_style` and deprecates `s3_force_path_style`
  .changelog/23055.txt
  internal/conns/conns.go
  internal/provider/provider.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider, client-connections

#23074 tests/apigateway: update to `aws_s3_bucket_acl`
  internal/service/apigateway/stage_test.go
Labels: size/XS, tests, service/apigateway

#23048 tests/emr: update to `aws_s3_bucket_acl`
  internal/service/emr/cluster_test.go
  internal/service/emr/studio_session_mapping_test.go
  internal/service/emr/studio_test.go
Labels: size/XS, tests, service/emr

#23047 tests/fsx: update to `aws_s3_bucket_acl`
  internal/service/fsx/data_repository_association_test.go
  internal/service/fsx/lustre_file_system_test.go
Labels: size/S, tests, service/fsx

#23078 tests/acctest: update to `aws_s3_bucket_acl`
  internal/acctest/acctest_test.go
Labels: size/XS, tests

#21076 Add ownership-verification-cert. to API Gateway
  .changelog/21076.txt
  internal/service/apigateway/acc_test.go
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/domain_name_test.go
  internal/service/apigateway/errorcheck_test.go
  internal/service/apigatewayv2/domain_name.go
  internal/service/apigatewayv2/domain_name_test.go
  internal/service/apigatewayv2/errorcheck_test.go
  internal/service/s3/bucket_versioning.go
  internal/service/s3/status.go
  internal/service/s3/wait.go
  website/docs/d/api_gateway_domain_name.html.markdown
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/api_gateway_domain_name.html.markdown
  website/docs/r/apigatewayv2_domain_name.html.markdown
  website/docs/r/s3_bucket_versioning.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/s3, service/apigateway, service/apigatewayv2

#23082 service/ssm: tech debt: fix V001 errors
  internal/service/ssm/document.go
  internal/service/ssm/validate.go
  internal/service/ssm/validate_test.go
Labels: size/M, tests, service/ssm, needs-triage

#23087 documentation: Provider configuration updates
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider

#23081 version-4-upgrade: move s3 bucket refactor up and add note
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XL

#23077 provider: add `assume_role.0.duration` and deprecate `assume_role.0.duration_seconds`
  .changelog/23077.txt
  internal/provider/provider.go
  internal/provider/validate.go
  internal/provider/validate_test.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/index.html.markdown
Labels: documentation, size/M, tests, provider

#23080 provider: Adds parameters for multiple config and credentials files
  .changelog/23080.txt
  internal/conns/conns.go
  internal/provider/provider.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/index.html.markdown
Labels: documentation, size/M, provider, client-connections

#23037 docs/r/s3_bucket_intelligent_tiering: fix access_tier
  website/docs/r/s3_bucket_intelligent_tiering_configuration.html.markdown
Labels: documentation, size/XS, service/s3

#16640 data source/service: Add data source for service
  .changelog/16640.txt
  internal/provider/provider.go
  internal/service/meta/service_data_source.go
  internal/service/meta/service_data_source_test.go
  website/docs/d/service.html.markdown
Labels: documentation, size/XL, tests, provider, partition/aws-us-gov, service/meta

#22960 r/sagemaker_endpoint_configuration - emptiness check for arguments
  .changelog/22960.txt
  internal/service/sagemaker/endpoint_configuration.go
  internal/service/sagemaker/endpoint_configuration_test.go
Labels: bug, size/M, tests, service/sagemaker

#22963 r/glue_trigger - add `event_batching_condition`
  .changelog/22963.txt
  internal/service/glue/trigger.go
  internal/service/glue/trigger_test.go
  website/docs/r/glue_trigger.html.markdown
Labels: enhancement, documentation, size/L, tests, service/glue

#22965 r/aws_imagebuilder_container_recipe - new resource
  .changelog/22965.txt
  internal/provider/provider.go
  internal/service/imagebuilder/container_recipe.go
  internal/service/imagebuilder/container_recipe_test.go
  internal/service/imagebuilder/sweep.go
  website/docs/r/imagebuilder_container_recipe.html.markdown
Labels: documentation, size/XL, tests, provider, service/imagebuilder, sweeper

#22964 r/glue_catalog_database - add `create_table_default_permission` argument
  .changelog/22964.txt
  internal/service/glue/catalog_database.go
  internal/service/glue/catalog_database_test.go
  website/docs/r/glue_catalog_database.html.markdown
Labels: enhancement, documentation, size/L, tests, service/glue

#23127 Add undocumented `ipsec.1-aes256` VPN Connection type
  .changelog/23127.txt
  internal/service/ec2/enum.go
Labels: bug, regression, size/XS, service/ec2

#23108 r/aws_imagebuilder_image_recipe - fix errors in documentation
  website/docs/d/imagebuilder_image_recipe.html.markdown
  website/docs/r/imagebuilder_image_recipe.html.markdown
Labels: documentation, size/XS, service/imagebuilder

#23119 docs: instance_interruption_behaviour -> instance_interruption_behavior upgrade typo
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XS

#23061 Tip on how to reference a pool ID via name
  website/docs/d/cognito_user_pools.markdown
Labels: documentation, size/XS, service/cognitoidentityprovider

#23113 r/iam_virtual_mfa_device - new resource
  .changelog/23113.txt
  internal/provider/provider.go
  internal/service/iam/find.go
  internal/service/iam/sweep.go
  internal/service/iam/tags.go
  internal/service/iam/virtual_mfa_device.go
  internal/service/iam/virtual_mfa_device_test.go
  website/docs/r/iam_virtual_mfa_device.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/iam, provider, sweeper

#23133 v4 Upgrade Guide: update tf provider configuraiton block
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XS

#23134 d/aws_imagebuilder_container_recipes - new data source
  .changelog/23134.txt
  internal/provider/provider.go
  internal/service/imagebuilder/container_recipes_data_source.go
  internal/service/imagebuilder/container_recipes_data_source_test.go
  website/docs/d/imagebuilder_container_recipes.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/imagebuilder

#23138 Backport of #23127 to `release/3.x`
  .changelog/23127.txt
  internal/service/ec2/enum.go
Labels: size/XS, service/ec2

#23098 r/aws_backup_report_plan
  .changelog/23098.txt
  internal/provider/provider.go
  internal/service/backup/report_plan.go
  internal/service/backup/report_plan_test.go
  internal/service/backup/validate.go
  internal/service/backup/validate_test.go
  website/docs/r/backup_report_plan.html.markdown
Labels: documentation, size/XL, tests, provider, service/backup

#23141 Correct CHANGELOG for #23113
  .changelog/23113.txt
Labels: size/XS

#23139 Backport of #23039 to `release/3.x`
  .changelog/23039.txt
  internal/service/rds/cluster.go
  internal/service/rds/engine_version_test.go
Labels: size/M, tests, service/rds

#23140 Add link to v3 CHANGELOG
  CHANGELOG.md
Labels: documentation, size/XS, provider

#16185 r/iam_service_specific_credential - new resource
  .changelog/16185.txt
  internal/provider/provider.go
  internal/service/iam/find.go
  internal/service/iam/service_specific_credential.go
  internal/service/iam/service_specific_credential_test.go
  internal/service/iam/sweep.go
  internal/service/iam/user.go
  internal/service/iam/user_test.go
  website/docs/r/iam_service_specific_credential.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/iam, provider, sweeper

#23149 service/lambda: tech debt: fix V001 linter errors
  internal/service/lambda/permission.go
  internal/service/lambda/validate.go
  internal/service/lambda/validate_test.go
Labels: size/M, tests, service/lambda, technical-debt

#23151 r/api_gateway_authorizer - add `arn` attribute
  .changelog/23151.txt
  internal/service/apigateway/authorizer.go
  internal/service/apigateway/authorizer_test.go
  website/docs/r/api_gateway_authorizer.html.markdown
Labels: enhancement, documentation, size/M, tests, service/apigateway

#12384 r/aws_iam_user_login_profile - Make the PGP key in optional
  .changelog/12384.txt
  internal/service/iam/user_login_profile.go
  internal/service/iam/user_login_profile_test.go
  website/docs/r/iam_user_login_profile.html.markdown
Labels: enhancement, documentation, size/L, tests, service/iam
