Repository hashicorp/terraform-provider-aws, pull requests merged in 2022-04, with the labels that each got.

#23821 r/s3_bucket: make `website` configurable
  .changelog/23821.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_website_configuration_test.go
  website/docs/r/s3_bucket.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/s3

#23822 r/s3_bucket: make `server_side_encryption_configuration` configurable
  .changelog/23822.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  internal/service/s3/bucket_test.go
  website/docs/r/s3_bucket.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/s3

#23842 r/s3_bucket: make `replication_configuration` configurable
  .changelog/23842.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/errors.go
  website/docs/r/s3_bucket.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/s3

#23843 r/s3_bucket: make `policy` configurable
  .changelog/23843.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_policy_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/errors.go
  website/docs/r/s3_bucket.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/s3

#23844 r/s3_bucket: make `request_payer` configurable
  .changelog/23844.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_request_payment_configuration_test.go
  internal/service/s3/bucket_test.go
  website/docs/r/s3_bucket.html.markdown
Labels: enhancement, documentation, size/M, tests, service/s3

#23979 elasticache: ISO-friendly tagging
  .changelog/23979.txt
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_data_source.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/diff.go
  internal/service/elasticache/find.go
  internal/service/elasticache/global_replication_group.go
  internal/service/elasticache/global_replication_group_test.go
  internal/service/elasticache/parameter_group.go
  internal/service/elasticache/parameter_group_test.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elasticache/status.go
  internal/service/elasticache/subnet_group.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_group.go
  internal/service/elasticache/user_group_test.go
  internal/service/elasticache/user_test.go
  internal/service/elasticache/validate.go
Labels: size/XL, tests, service/elasticache, partition/aws-iso-b

#23990 d/aws_memorydb_snapshot: new data source
  .changelog/23990.txt
  internal/provider/provider.go
  internal/service/memorydb/snapshot_data_source.go
  internal/service/memorydb/snapshot_data_source_test.go
  website/docs/d/memorydb_snapshot.html.markdown
Labels: documentation, size/L, tests, provider, service/memorydb

#23973 support aws_vpc_ipam cascade for easier deletes
  .changelog/23973.txt
  internal/service/ec2/vpc_ipam.go
  internal/service/ec2/vpc_ipam_test.go
  website/docs/r/vpc_ipam.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ec2

#23993 IoT Authorizer HTTP caching support
  .changelog/23993.txt
  internal/service/iot/authorizer.go
  internal/service/iot/authorizer_test.go
  website/docs/r/iot_authorizer.html.markdown
Labels: documentation, size/XS, tests, service/iot

#23923 Add note about filename
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/XS, service/lambda

#23952 internal/conns: add retry handling for `InternalErrorException` when calling FMS `PutPolicy`
  .changelog/23952.txt
  internal/conns/conns.go
Labels: enhancement, size/XS, client-connections

#23991 d/aws_memorydb_cluster: new data source
  .changelog/23991.txt
  internal/provider/provider.go
  internal/service/memorydb/cluster.go
  internal/service/memorydb/cluster_data_source.go
  internal/service/memorydb/cluster_data_source_test.go
  website/docs/d/memorydb_cluster.html.markdown
Labels: documentation, size/XL, tests, provider, service/memorydb

#23978 Change the link provided to describe addons
  website/docs/r/eks_addon.html.markdown
Labels: documentation, size/XS, service/eks

#15363 Add return type to Argument Reference on vpc_endpoint_service document
  website/docs/r/vpc_endpoint_service.html.markdown
Labels: enhancement, documentation, size/XS, service/ec2

#9929 New resource type for IoT indexing configuration
  .changelog/9929.txt
  internal/acctest/acctest.go
  internal/provider/provider.go
  internal/service/iot/indexing_configuration.go
  internal/service/iot/indexing_configuration_test.go
  website/docs/r/iot_indexing_configuration.html.markdown
Labels: documentation, size/XL, tests, service/iot, provider

#12108 Add aws_iot_provisioning_template resource
  .changelog/12108.txt
  internal/provider/provider.go
  internal/service/backup/report_plan.go
  internal/service/iot/provisioning_template.go
  internal/service/iot/provisioning_template_test.go
  internal/tfresource/retry.go
  internal/tfresource/retry_test.go
  website/docs/r/iot_provisioning_template.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/iot, provider, service/backup

#24001 r/lambda_permission - add `principal_org_id` argument
  .changelog/24001.txt
  internal/service/lambda/permission.go
  internal/service/lambda/permission_test.go
  website/docs/r/lambda_permission.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/lambda

#24002 r/fsx_ontap_file_system - Support updating `storage_capacity`, `throughput_capacity`, `disk_iops_configuration`
  .changelog/24002.txt
  internal/service/fsx/ontap_file_system.go
  internal/service/fsx/ontap_file_system_test.go
Labels: enhancement, size/M, tests, service/fsx

#24011 f/aws_ssm_maintenance_windows: add new datasource
  .changelog/24011.txt
  internal/provider/provider.go
  internal/service/ssm/maintenance_windows_data_source.go
  internal/service/ssm/maintenance_windows_data_source_test.go
  website/docs/d/ssm_maintenance_windows.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/ssm, provider

#23157 d/aws_eks_addon_version
  .changelog/23157.txt
  internal/provider/provider.go
  internal/service/eks/addon_version_data_source.go
  internal/service/eks/addon_version_data_source_test.go
  internal/service/eks/find.go
  website/docs/d/eks_addon_version.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/eks

#23947 r/aws_dynamo_contributor_insights: Add new resource
  .changelog/23947.txt
  internal/provider/provider.go
  internal/service/dynamodb/contributor_insights.go
  internal/service/dynamodb/contributor_insights_test.go
  internal/service/dynamodb/find.go
  internal/service/dynamodb/status.go
  internal/service/dynamodb/wait.go
  website/docs/r/dynamodb_contributor_insights.html.markdown
Labels: documentation, size/XL, tests, service/dynamodb, provider

#24027 switching explicit ForceNew false to implicit default
  internal/service/cloudwatchlogs/subscription_filter.go
  internal/service/ec2/spot_fleet_request.go
  internal/service/elasticbeanstalk/application.go
  internal/service/elasticsearch/domain.go
  internal/service/emr/instance_group.go
  internal/service/opensearch/domain.go
  internal/service/rds/cluster_parameter_group.go
  internal/service/redshift/parameter_group.go
  internal/service/sns/topic.go
Labels: size/XS, service/ec2, service/emr, service/cloudwatchlogs, service/sns, service/rds, service/redshift, service/elasticbeanstalk, service/elasticsearch, technical-debt, service/opensearch

#24028 Add insights_configuration argument to aws_xray_group resource
  .changelog/24028.txt
  internal/service/xray/group.go
  internal/service/xray/group_test.go
  website/docs/r/xray_group.html.markdown
Labels: documentation, size/L, tests, service/xray

#24024 r/aws_route: Call SetId before WaitRouteReady
  .changelog/24024.txt
  internal/service/ec2/default_route_table.go
  internal/service/ec2/route.go
  internal/service/ec2/route_data_source.go
  internal/service/ec2/route_table.go
  internal/service/ec2/route_table_data_source.go
  internal/service/ec2/route_test.go
  internal/service/ec2/vpn_connection.go
  internal/service/ec2/vpn_connection_test.go
  website/docs/d/route.html.markdown
  website/docs/d/route_table.html.markdown
  website/docs/r/default_route_table.html.markdown
  website/docs/r/route.html.markdown
  website/docs/r/route_table.html.markdown
  website/docs/r/vpn_connection.html.markdown
Labels: documentation, size/L, tests, service/ec2

#23985 r/s3_bucket: make `Computed`-only parameters configurable
  .changelog/23798.txt
  .changelog/23816.txt
  .changelog/23817.txt
  .changelog/23818.txt
  .changelog/23819.txt
  .changelog/23820.txt
  .changelog/23821.txt
  .changelog/23822.txt
  .changelog/23842.txt
  .changelog/23843.txt
  .changelog/23844.txt
  .changelog/23984.txt
  .changelog/23985.txt
  CHANGELOG.md
  internal/service/elb/load_balancer_test.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_accelerate_configuration_test.go
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_cors_configuration_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_object_lock_configuration_test.go
  internal/service/s3/bucket_policy_test.go
  internal/service/s3/bucket_public_access_block_test.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_request_payment_configuration_test.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_versioning_test.go
  internal/service/s3/bucket_website_configuration_test.go
  internal/service/s3/errors.go
  internal/service/s3/object_copy.go
  internal/service/s3/validate.go
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, size/XL, tests, service/s3, service/elb, provider

#23931 r/aws_organizations_account CloseAccount
  .changelog/23930.txt
  internal/acctest/acctest.go
  internal/service/organizations/account.go
  internal/service/organizations/account_test.go
  internal/service/organizations/find.go
  internal/service/organizations/organizations_test.go
  website/docs/r/organizations_account.html.markdown
Labels: documentation, size/XL, tests, service/organizations

#24020 r/aws_s3_bucket: Speed up deletion
  .changelog/24020.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_object.go
  internal/service/s3/delete.go
  internal/service/s3/delete_test.go
  internal/service/s3/errors.go
  internal/service/s3/object.go
  internal/service/s3/object_copy.go
  internal/service/s3/sweep.go
  internal/service/s3/test-fixtures/populate_bucket.py
Labels: enhancement, size/XL, tests, service/s3, sweeper

#22097 New Resource aws_rds_cluster_activity_stream
  .changelog/22097.txt
  internal/provider/provider.go
  internal/service/rds/cluster_activity_stream.go
  internal/service/rds/cluster_activity_stream_test.go
  internal/service/rds/find.go
  internal/service/rds/status.go
  internal/service/rds/sweep.go
  internal/service/rds/wait.go
  website/docs/r/rds_cluster_activity_stream.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/rds, provider, sweeper

#24053 Lambda Function URLs
  .changelog/24053.txt
  internal/provider/provider.go
  internal/service/lambda/function_url.go
  internal/service/lambda/function_url_data_source.go
  internal/service/lambda/function_url_data_source_test.go
  internal/service/lambda/function_url_test.go
  website/docs/d/lambda_function_url.html.markdown
  website/docs/r/lambda_function_url.html.markdown
Labels: documentation, size/XL, tests, service/lambda, provider

#24056 Adds documentation for assuming an IAM role using web identity federation
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider

#24038 F/ add ability to specify a privatelink end point for S3 file gateway - NFS resource
  .changelog/15355.txt
  .changelog/24038.txt
  internal/service/storagegateway/enum.go
  internal/service/storagegateway/errors.go
  internal/service/storagegateway/find.go
  internal/service/storagegateway/gateway.go
  internal/service/storagegateway/gateway_test.go
  internal/service/storagegateway/nfs_file_share.go
  internal/service/storagegateway/nfs_file_share_test.go
  internal/service/storagegateway/status.go
  internal/service/storagegateway/wait.go
  website/docs/r/storagegateway_gateway.html.markdown
  website/docs/r/storagegateway_nfs_file_share.html.markdown
Labels: documentation, size/XL, tests, service/storagegateway

#13392 add aws iot logging options
  .changelog/13392.txt
  internal/provider/provider.go
  internal/service/iot/logging_options.go
  internal/service/iot/logging_options_test.go
  website/docs/r/iot_logging_options.html.markdown
Labels: documentation, new-resource, size/L, tests, service/iot, provider

#24064 Updates `aws-sdk-go-base` to `v2.0.0-beta.14` and `awsv1shim` to `v2/awsv1shim/v2.0.0-beta.15`
  .changelog/24064.txt
  go.mod
  go.sum
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider

#23996 elasticache/aws_elasticache_cluster: Enable `auto_minor_version_upgrade`
  .changelog/23996.txt
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
  website/docs/r/elasticache_cluster.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, size/XL, tests, service/elasticache

#24066 Correct GameLift name
  internal/service/gamelift/alias.go
  internal/service/gamelift/alias_test.go
  internal/service/gamelift/build.go
  internal/service/gamelift/build_test.go
  internal/service/gamelift/fleet.go
  internal/service/gamelift/fleet_test.go
  internal/service/gamelift/game_server_group.go
  internal/service/gamelift/game_server_group_test.go
  internal/service/gamelift/game_session_queue.go
  internal/service/gamelift/game_session_queue_test.go
  internal/service/gamelift/gamelift_test.go
  internal/service/gamelift/script.go
  internal/service/gamelift/script_test.go
  internal/service/gamelift/sweep.go
  internal/service/gamelift/wait.go
  website/allowed-subcategories.txt
  website/docs/r/gamelift_alias.html.markdown
  website/docs/r/gamelift_build.html.markdown
  website/docs/r/gamelift_fleet.html.markdown
  website/docs/r/gamelift_game_server_group.markdown
  website/docs/r/gamelift_game_session_queue.html.markdown
  website/docs/r/gamelift_script.html.markdown
Labels: documentation, size/XL, tests, service/gamelift, sweeper

#24068 account: Update subcategory
  website/allowed-subcategories.txt
  website/docs/r/account_alternate_contact.html.markdown
Labels: documentation, size/XS, service/account

#24069 acm: Update subcategory
  website/allowed-subcategories.txt
  website/docs/d/acm_certificate.html.markdown
  website/docs/r/acm_certificate.html.markdown
  website/docs/r/acm_certificate_validation.html.markdown
Labels: documentation, size/XS, service/acm

#24070 ACMPCA: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/acmpca_certificate.html.markdown
  website/docs/d/acmpca_certificate_authority.html.markdown
  website/docs/r/acmpca_certificate.html.markdown
  website/docs/r/acmpca_certificate_authority.html.markdown
  website/docs/r/acmpca_certificate_authority_certificate.html.markdown
Labels: documentation, size/XS, service/acmpca

#24071 amazonmanagedserviceforprometheus(amp): Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/prometheus_alert_manager_definition.html.markdown
  website/docs/r/prometheus_rule_group_namespace.html.markdown
  website/docs/r/prometheus_workspace.html.markdown
Labels: documentation, size/XS, service/amp

#24072 amplifyconsole: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/amplify_app.html.markdown
  website/docs/r/amplify_backend_environment.html.markdown
  website/docs/r/amplify_branch.html.markdown
  website/docs/r/amplify_domain_association.html.markdown
  website/docs/r/amplify_webhook.html.markdown
Labels: documentation, size/XS, service/amplify

#24074 apigatewayv2(websocketandhttpapis): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/apigatewayv2_api.html.markdown
  website/docs/d/apigatewayv2_apis.html.markdown
  website/docs/d/apigatewayv2_export.html.markdown
  website/docs/r/apigatewayv2_api.html.markdown
  website/docs/r/apigatewayv2_api_mapping.html.markdown
  website/docs/r/apigatewayv2_authorizer.html.markdown
  website/docs/r/apigatewayv2_deployment.html.markdown
  website/docs/r/apigatewayv2_domain_name.html.markdown
  website/docs/r/apigatewayv2_integration.html.markdown
  website/docs/r/apigatewayv2_integration_response.html.markdown
  website/docs/r/apigatewayv2_model.html.markdown
  website/docs/r/apigatewayv2_route.html.markdown
  website/docs/r/apigatewayv2_route_response.html.markdown
  website/docs/r/apigatewayv2_stage.html.markdown
  website/docs/r/apigatewayv2_vpc_link.html.markdown
Labels: documentation, size/S, service/apigatewayv2

#24075 appmesh: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/appmesh_mesh.html.markdown
  website/docs/d/appmesh_virtual_service.html.markdown
  website/docs/r/appmesh_gateway_route.html.markdown
  website/docs/r/appmesh_mesh.html.markdown
  website/docs/r/appmesh_route.html.markdown
  website/docs/r/appmesh_virtual_gateway.html.markdown
  website/docs/r/appmesh_virtual_node.html.markdown
  website/docs/r/appmesh_virtual_router.html.markdown
  website/docs/r/appmesh_virtual_service.html.markdown
Labels: documentation, size/XS, service/appmesh

#24081 cloudhsmv2: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/cloudhsm_v2_cluster.html.markdown
  website/docs/r/cloudhsm_v2_cluster.html.markdown
  website/docs/r/cloudhsm_v2_hsm.html.markdown
Labels: size/XS

#24077 appstream: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/appstream_directory_config.html.markdown
  website/docs/r/appstream_fleet.html.markdown
  website/docs/r/appstream_fleet_stack_association.html.markdown
  website/docs/r/appstream_image_builder.html.markdown
  website/docs/r/appstream_stack.html.markdown
  website/docs/r/appstream_user.html.markdown
  website/docs/r/appstream_user_stack_association.html.markdown
Labels: documentation, size/XS, service/appstream

#24082 synthetics: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/synthetics_canary.html.markdown
Labels: documentation, size/XS, service/synthetics

#24078 autoscaling: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/autoscaling_group.html.markdown
  website/docs/d/autoscaling_groups.html.markdown
  website/docs/d/launch_configuration.html.markdown
  website/docs/r/autoscaling_attachment.html.markdown
  website/docs/r/autoscaling_group.html.markdown
  website/docs/r/autoscaling_group_tag.html.markdown
  website/docs/r/autoscaling_lifecycle_hook.html.markdown
  website/docs/r/autoscaling_notification.html.markdown
  website/docs/r/autoscaling_policy.html.markdown
  website/docs/r/autoscaling_schedule.html.markdown
  website/docs/r/launch_configuration.html.markdown
Labels: documentation, size/XS, service/autoscaling

#24084 datalifecyclemanager(dlm): Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/dlm_lifecycle_policy.markdown
Labels: documentation, size/XS, service/dlm

#24095 elasticloadbalancing(elbclassic): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/elb.html.markdown
  website/docs/d/elb_hosted_zone_id.html.markdown
  website/docs/d/elb_service_account.html.markdown
  website/docs/r/app_cookie_stickiness_policy.html.markdown
  website/docs/r/elb.html.markdown
  website/docs/r/elb_attachment.html.markdown
  website/docs/r/lb_cookie_stickiness_policy.html.markdown
  website/docs/r/lb_ssl_negotiation_policy.html.markdown
  website/docs/r/load_balancer_backend_server_policy.html.markdown
  website/docs/r/load_balancer_listener_policy.html.markdown
  website/docs/r/load_balancer_policy.html.markdown
  website/docs/r/proxy_protocol_policy.html.markdown
Labels: size/XS

#24089 ecr: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/ecr_authorization_token.html.markdown
  website/docs/d/ecr_image.html.markdown
  website/docs/d/ecr_repository.html.markdown
  website/docs/d/ecrpublic_authorization_token.html.markdown
  website/docs/r/ecr_lifecycle_policy.html.markdown
  website/docs/r/ecr_pull_through_cache_rule.html.markdown
  website/docs/r/ecr_registry_policy.html.markdown
  website/docs/r/ecr_registry_scanning_configuration.html.markdown
  website/docs/r/ecr_replication_configuration.html.markdown
  website/docs/r/ecr_repository.html.markdown
  website/docs/r/ecr_repository_policy.html.markdown
  website/docs/r/ecrpublic_repository.html.markdown
  website/docs/r/ecrpublic_repository_policy.html.markdown
Labels: documentation, size/XS, service/ecr, service/ecrpublic

#24087 directoryservice: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/directory_service_directory.html.markdown
  website/docs/r/directory_service_conditional_forwarder.html.markdown
  website/docs/r/directory_service_directory.html.markdown
  website/docs/r/directory_service_log_subscription.html.markdown
Labels: documentation, size/XS, service/directoryservice

#24090 ecs: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/ecs_cluster.html.markdown
  website/docs/d/ecs_container_definition.html.markdown
  website/docs/d/ecs_service.html.markdown
  website/docs/d/ecs_task_definition.html.markdown
  website/docs/r/ecs_account_setting_default.html.markdown
  website/docs/r/ecs_capacity_provider.html.markdown
  website/docs/r/ecs_cluster.html.markdown
  website/docs/r/ecs_cluster_capacity_providers.html.markdown
  website/docs/r/ecs_service.html.markdown
  website/docs/r/ecs_tag.html.markdown
  website/docs/r/ecs_task_definition.html.markdown
  website/docs/r/ecs_task_set.html.markdown
Labels: documentation, size/XS, service/ecs

#24085 databasemigrationservice(dms): Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/dms_certificate.html.markdown
  website/docs/r/dms_endpoint.html.markdown
  website/docs/r/dms_event_subscription.html.markdown
  website/docs/r/dms_replication_instance.html.markdown
  website/docs/r/dms_replication_subnet_group.html.markdown
  website/docs/r/dms_replication_task.html.markdown
Labels: documentation, size/XS, service/databasemigrationservice

#24080 servicediscovery: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/service_discovery_dns_namespace.html.markdown
  website/docs/r/service_discovery_http_namespace.html.markdown
  website/docs/r/service_discovery_instance.html.markdown
  website/docs/r/service_discovery_private_dns_namespace.html.markdown
  website/docs/r/service_discovery_public_dns_namespace.html.markdown
  website/docs/r/service_discovery_service.html.markdown
Labels: documentation, size/XS, service/servicediscovery

#24099 elasticmapreduce(emr): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/emr_release_labels.markdown
  website/docs/r/emr_cluster.html.markdown
  website/docs/r/emr_instance_fleet.html.markdown
  website/docs/r/emr_instance_group.html.markdown
  website/docs/r/emr_managed_scaling_policy.html.markdown
  website/docs/r/emr_security_configuration.html.markdown
  website/docs/r/emr_studio.html.markdown
  website/docs/r/emr_studio_session_mapping.html.markdown
Labels: documentation, size/XS, service/emr

#24098 mediastore: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/media_store_container.html.markdown
  website/docs/r/media_store_container_policy.html.markdown
Labels: documentation, size/XS, service/mediastore

#24092 eks: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/eks_addon.html.markdown
  website/docs/d/eks_addon_version.html.markdown
  website/docs/d/eks_cluster.html.markdown
  website/docs/d/eks_cluster_auth.html.markdown
  website/docs/d/eks_clusters.html.markdown
  website/docs/d/eks_node_group.html.markdown
  website/docs/d/eks_node_groups.html.markdown
  website/docs/r/eks_addon.html.markdown
  website/docs/r/eks_cluster.html.markdown
  website/docs/r/eks_fargate_profile.html.markdown
  website/docs/r/eks_identity_provider_config.html.markdown
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, size/XS, service/eks

#24088 imagebuilder: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/imagebuilder_component.html.markdown
  website/docs/d/imagebuilder_components.html.markdown
  website/docs/d/imagebuilder_container_recipe.html.markdown
  website/docs/d/imagebuilder_container_recipes.html.markdown
  website/docs/d/imagebuilder_distribution_configuration.html.markdown
  website/docs/d/imagebuilder_distribution_configurations.html.markdown
  website/docs/d/imagebuilder_image.html.markdown
  website/docs/d/imagebuilder_image_pipeline.html.markdown
  website/docs/d/imagebuilder_image_pipelines.html.markdown
  website/docs/d/imagebuilder_image_recipe.html.markdown
  website/docs/d/imagebuilder_image_recipes.html.markdown
  website/docs/d/imagebuilder_infrastructure_configuration.html.markdown
  website/docs/d/imagebuilder_infrastructure_configurations.html.markdown
  website/docs/r/imagebuilder_component.html.markdown
  website/docs/r/imagebuilder_container_recipe.html.markdown
  website/docs/r/imagebuilder_distribution_configuration.html.markdown
  website/docs/r/imagebuilder_image.html.markdown
  website/docs/r/imagebuilder_image_pipeline.html.markdown
  website/docs/r/imagebuilder_image_recipe.html.markdown
  website/docs/r/imagebuilder_infrastructure_configuration.html.markdown
Labels: documentation, size/S, service/imagebuilder

#24096 mediaconvert: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/media_convert_queue.html.markdown
Labels: documentation, size/XS, service/mediaconvert

#24108 kinesisdataanalytics(sqlapplications): Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/kinesis_analytics_application.html.markdown
Labels: documentation, size/XS, service/kinesisanalytics

#24107 keyspaces: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/keyspaces_keyspace.html.markdown
Labels: documentation, size/XS, service/keyspaces

#24104 iam: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/iam_account_alias.html.markdown
  website/docs/d/iam_group.html.markdown
  website/docs/d/iam_instance_profile.html.markdown
  website/docs/d/iam_openid_connect_provider.html.markdown
  website/docs/d/iam_policy.html.markdown
  website/docs/d/iam_policy_document.html.markdown
  website/docs/d/iam_role.html.markdown
  website/docs/d/iam_roles.html.markdown
  website/docs/d/iam_server_certificate.html.markdown
  website/docs/d/iam_session_context.markdown
  website/docs/d/iam_user.html.markdown
  website/docs/d/iam_user_ssh_key.html.markdown
  website/docs/d/iam_users.html.markdown
  website/docs/r/iam_access_key.html.markdown
  website/docs/r/iam_account_alias.html.markdown
  website/docs/r/iam_account_password_policy.html.markdown
  website/docs/r/iam_group.html.markdown
  website/docs/r/iam_group_membership.html.markdown
  website/docs/r/iam_group_policy.html.markdown
  website/docs/r/iam_group_policy_attachment.markdown
  website/docs/r/iam_instance_profile.html.markdown
  website/docs/r/iam_openid_connect_provider.html.markdown
  website/docs/r/iam_policy.html.markdown
  website/docs/r/iam_policy_attachment.html.markdown
  website/docs/r/iam_role.html.markdown
  website/docs/r/iam_role_policy.html.markdown
  website/docs/r/iam_role_policy_attachment.markdown
  website/docs/r/iam_saml_provider.html.markdown
  website/docs/r/iam_server_certificate.html.markdown
  website/docs/r/iam_service_linked_role.html.markdown
  website/docs/r/iam_service_specific_credential.html.markdown
  website/docs/r/iam_signing_certificate.html.markdown
  website/docs/r/iam_user.html.markdown
  website/docs/r/iam_user_group_membership.html.markdown
  website/docs/r/iam_user_login_profile.html.markdown
  website/docs/r/iam_user_policy.html.markdown
  website/docs/r/iam_user_policy_attachment.markdown
  website/docs/r/iam_user_ssh_key.html.markdown
  website/docs/r/iam_virtual_mfa_device.html.markdown
Labels: documentation, size/M, service/iam

#24101 eventbridge(cloudwatchevents): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/cloudwatch_event_connection.html.markdown
  website/docs/r/cloudwatch_event_api_destination.html.markdown
  website/docs/r/cloudwatch_event_archive.html.markdown
  website/docs/r/cloudwatch_event_bus.html.markdown
  website/docs/r/cloudwatch_event_bus_policy.html.markdown
  website/docs/r/cloudwatch_event_connection.html.markdown
  website/docs/r/cloudwatch_event_permission.html.markdown
  website/docs/r/cloudwatch_event_rule.html.markdown
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, size/XS, service/events

#24112 locationservice: Change subcategory
  website/allowed-subcategories.txt
Labels: documentation, size/XS

#24102 firewallmanager(fms): Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/fms_admin_account.html.markdown
  website/docs/r/fms_policy.html.markdown
Labels: documentation, size/XS, service/fms

#24117 managedworkflowsforapacheairflow(mwaa): Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/mwaa_environment.html.markdown
Labels: documentation, size/XS, service/mwaa

#24119 quantumledgerdatabase(qldb): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/qldb_ledger.html.markdown
  website/docs/r/qldb_ledger.html.markdown
Labels: documentation, size/XS, service/qldb

#24111 lex: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/lex_bot.html.markdown
  website/docs/d/lex_bot_alias.html.markdown
  website/docs/d/lex_intent.html.markdown
  website/docs/d/lex_slot_type.html.markdown
  website/docs/r/lex_bot.html.markdown
  website/docs/r/lex_bot_alias.html.markdown
  website/docs/r/lex_intent.html.markdown
  website/docs/r/lex_slot_type.html.markdown
Labels: documentation, size/XS, service/lexmodels

#24121 rds: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/db_cluster_snapshot.html.markdown
  website/docs/d/db_event_categories.html.markdown
  website/docs/d/db_instance.html.markdown
  website/docs/d/db_proxy.html.markdown
  website/docs/d/db_snapshot.html.markdown
  website/docs/d/db_subnet_group.html.markdown
  website/docs/d/rds_certificate.html.markdown
  website/docs/d/rds_cluster.html.markdown
  website/docs/d/rds_engine_version.markdown
  website/docs/d/rds_orderable_db_instance.markdown
  website/docs/r/db_cluster_snapshot.html.markdown
  website/docs/r/db_event_subscription.html.markdown
  website/docs/r/db_instance.html.markdown
  website/docs/r/db_instance_automated_backups_replication.markdown
  website/docs/r/db_instance_role_association.html.markdown
  website/docs/r/db_option_group.html.markdown
  website/docs/r/db_parameter_group.html.markdown
  website/docs/r/db_proxy.html.markdown
  website/docs/r/db_proxy_default_target_group.html.markdown
  website/docs/r/db_proxy_endpoint.html.markdown
  website/docs/r/db_proxy_target.html.markdown
  website/docs/r/db_security_group.html.markdown
  website/docs/r/db_snapshot.html.markdown
  website/docs/r/db_subnet_group.html.markdown
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster_activity_stream.html.markdown
  website/docs/r/rds_cluster_endpoint.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
  website/docs/r/rds_cluster_parameter_group.markdown
  website/docs/r/rds_cluster_role_association.html.markdown
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, size/M, service/rds

#24114 managedstreamingforkafka(msk): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/msk_broker_nodes.html.markdown
  website/docs/d/msk_cluster.html.markdown
  website/docs/d/msk_configuration.html.markdown
  website/docs/d/msk_kafka_version.html.markdown
  website/docs/r/msk_cluster.html.markdown
  website/docs/r/msk_configuration.html.markdown
  website/docs/r/msk_scram_secret_association.html.markdown
Labels: documentation, size/XS, service/kafka

#24113 grafana: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/grafana_workspace.html.markdown
  website/docs/r/grafana_license_association.html.markdown
  website/docs/r/grafana_role_association.html.markdown
  website/docs/r/grafana_workspace.html.markdown
  website/docs/r/grafana_workspace_saml_configuration.html.markdown
Labels: documentation, size/XS, service/grafana

#24110 kms: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/kms_alias.html.markdown
  website/docs/d/kms_ciphertext.html.markdown
  website/docs/d/kms_key.html.markdown
  website/docs/d/kms_public_key.html.markdown
  website/docs/d/kms_secret.html.markdown
  website/docs/d/kms_secrets.html.markdown
  website/docs/r/kms_alias.html.markdown
  website/docs/r/kms_ciphertext.html.markdown
  website/docs/r/kms_external_key.html.markdown
  website/docs/r/kms_grant.html.markdown
  website/docs/r/kms_key.html.markdown
  website/docs/r/kms_replica_external_key.html.markdown
  website/docs/r/kms_replica_key.html.markdown
Labels: documentation, size/XS, service/kms

#24122 resourcegroupstaggingapi: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/resourcegroupstaggingapi_resources.html.markdown
Labels: documentation, size/XS, service/resourcegroupstaggingapi

#24126 route53recoveryreadiness: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/route53recoveryreadiness_cell.html.markdown
  website/docs/r/route53recoveryreadiness_readiness_check.html.markdown
  website/docs/r/route53recoveryreadiness_recovery_group.html.markdown
  website/docs/r/route53recoveryreadiness_resource_set.html.markdown
Labels: documentation, size/XS, service/route53recoveryreadiness

#24123 route53: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/route53_delegation_set.html.markdown
  website/docs/d/route53_traffic_policy_document.html.markdown
  website/docs/d/route53_zone.html.markdown
  website/docs/r/route53_delegation_set.html.markdown
  website/docs/r/route53_health_check.html.markdown
  website/docs/r/route53_hosted_zone_dnssec.html.markdown
  website/docs/r/route53_key_signing_key.html.markdown
  website/docs/r/route53_query_log.html.markdown
  website/docs/r/route53_record.html.markdown
  website/docs/r/route53_traffic_policy.html.markdown
  website/docs/r/route53_traffic_policy_instance.html.markdown
  website/docs/r/route53_vpc_association_authorization.html.markdown
  website/docs/r/route53_zone.html.markdown
  website/docs/r/route53_zone_association.html.markdown
Labels: documentation, size/S, service/route53

#24128 glacier: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/glacier_vault.html.markdown
  website/docs/r/glacier_vault_lock.html.markdown
Labels: documentation, size/XS, service/glacier

#24131 ses: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/ses_active_receipt_rule_set.html.markdown
  website/docs/d/ses_domain_identity.markdown
  website/docs/d/ses_email_identity.markdown
  website/docs/r/ses_active_receipt_rule_set.html.markdown
  website/docs/r/ses_configuration_set.html.markdown
  website/docs/r/ses_domain_dkim.html.markdown
  website/docs/r/ses_domain_identity.html.markdown
  website/docs/r/ses_domain_identity_verification.html.markdown
  website/docs/r/ses_domain_mail_from.html.markdown
  website/docs/r/ses_email_identity.html.markdown
  website/docs/r/ses_event_destination.html.markdown
  website/docs/r/ses_identity_notification_topic.markdown
  website/docs/r/ses_identity_policy.html.markdown
  website/docs/r/ses_receipt_filter.html.markdown
  website/docs/r/ses_receipt_rule.html.markdown
  website/docs/r/ses_receipt_rule_set.html.markdown
  website/docs/r/ses_template.html.markdown
Labels: documentation, size/S, service/ses

#24135 ssm: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/ssm_document.html.markdown
  website/docs/d/ssm_instances.html.markdown
  website/docs/d/ssm_maintenance_windows.html.markdown
  website/docs/d/ssm_parameter.html.markdown
  website/docs/d/ssm_parameters_by_path.html.markdown
  website/docs/d/ssm_patch_baseline.html.markdown
  website/docs/r/ssm_activation.html.markdown
  website/docs/r/ssm_association.html.markdown
  website/docs/r/ssm_document.html.markdown
  website/docs/r/ssm_maintenance_window.html.markdown
  website/docs/r/ssm_maintenance_window_target.html.markdown
  website/docs/r/ssm_maintenance_window_task.html.markdown
  website/docs/r/ssm_parameter.html.markdown
  website/docs/r/ssm_patch_baseline.html.markdown
  website/docs/r/ssm_patch_group.html.markdown
  website/docs/r/ssm_resource_data_sync.html.markdown
Labels: documentation, size/S, service/ssm

#24130 simpledb: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/simpledb_domain.html.markdown
Labels: documentation, size/XS, service/simpledb

#24138 transfer: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/transfer_server.html.markdown
  website/docs/r/transfer_access.html.markdown
  website/docs/r/transfer_server.html.markdown
  website/docs/r/transfer_ssh_key.html.markdown
  website/docs/r/transfer_user.html.markdown
Labels: documentation, size/XS, service/transfer

#24132 stepfunction(sfn): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/sfn_activity.html.markdown
  website/docs/d/sfn_state_machine.html.markdown
  website/docs/r/sfn_activity.html.markdown
  website/docs/r/sfn_state_machine.html.markdown
Labels: documentation, size/XS, service/sfn

#24141 wafregional: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/wafregional_ipset.html.markdown
  website/docs/d/wafregional_rate_based_rule.html.markdown
  website/docs/d/wafregional_rule.html.markdown
  website/docs/d/wafregional_web_acl.html.markdown
  website/docs/r/wafregional_byte_match_set.html.markdown
  website/docs/r/wafregional_geo_match_set.html.markdown
  website/docs/r/wafregional_ipset.html.markdown
  website/docs/r/wafregional_rate_based_rule.html.markdown
  website/docs/r/wafregional_regex_match_set.html.markdown
  website/docs/r/wafregional_regex_pattern_set.html.markdown
  website/docs/r/wafregional_rule.html.markdown
  website/docs/r/wafregional_rule_group.html.markdown
  website/docs/r/wafregional_size_constraint_set.html.markdown
  website/docs/r/wafregional_sql_injection_match_set.html.markdown
  website/docs/r/wafregional_web_acl.html.markdown
  website/docs/r/wafregional_web_acl_association.html.markdown
  website/docs/r/wafregional_xss_match_set.html.markdown
Labels: documentation, size/S, service/waf

#24139 wafv2: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/wafv2_ip_set.html.markdown
  website/docs/d/wafv2_regex_pattern_set.html.markdown
  website/docs/d/wafv2_rule_group.html.markdown
  website/docs/d/wafv2_web_acl.html.markdown
  website/docs/r/wafv2_ip_set.html.markdown
  website/docs/r/wafv2_regex_pattern_set.html.markdown
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
  website/docs/r/wafv2_web_acl_association.html.markdown
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, size/XS, service/wafv2

#24079 t autoscaling plans update subcat
  website/allowed-subcategories.txt
  website/docs/r/autoscalingplans_scaling_plan.html.markdown
Labels: documentation, size/XS, service/autoscalingplans

#24142 budgets: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/budgets_budget.html.markdown
  website/docs/r/budgets_budget_action.html.markdown
Labels: documentation, size/XS, service/budgets

#24137 swf: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/swf_domain.html.markdown
Labels: documentation, size/XS, service/swf

#24143 xray: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/xray_encryption_config.html.markdown
  website/docs/r/xray_group.html.markdown
  website/docs/r/xray_sampling_rule.html.markdown
Labels: documentation, size/XS, service/xray

#24073 apigateway(restapis): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/api_gateway_api_key.html.markdown
  website/docs/d/api_gateway_domain_name.html.markdown
  website/docs/d/api_gateway_export.html.markdown
  website/docs/d/api_gateway_resource.html.markdown
  website/docs/d/api_gateway_rest_api.html.markdown
  website/docs/d/api_gateway_sdk.html.markdown
  website/docs/d/api_gateway_vpc_link.html.markdown
  website/docs/r/api_gateway_account.html.markdown
  website/docs/r/api_gateway_api_key.html.markdown
  website/docs/r/api_gateway_authorizer.html.markdown
  website/docs/r/api_gateway_base_path_mapping.html.markdown
  website/docs/r/api_gateway_client_certificate.html.markdown
  website/docs/r/api_gateway_deployment.html.markdown
  website/docs/r/api_gateway_documentation_part.html.markdown
  website/docs/r/api_gateway_documentation_version.html.markdown
  website/docs/r/api_gateway_domain_name.html.markdown
  website/docs/r/api_gateway_gateway_response.markdown
  website/docs/r/api_gateway_integration.html.markdown
  website/docs/r/api_gateway_integration_response.html.markdown
  website/docs/r/api_gateway_method.html.markdown
  website/docs/r/api_gateway_method_response.html.markdown
  website/docs/r/api_gateway_method_settings.html.markdown
  website/docs/r/api_gateway_model.html.markdown
  website/docs/r/api_gateway_request_validator.html.markdown
  website/docs/r/api_gateway_resource.html.markdown
  website/docs/r/api_gateway_rest_api.html.markdown
  website/docs/r/api_gateway_rest_api_policy.html.markdown
  website/docs/r/api_gateway_stage.html.markdown
  website/docs/r/api_gateway_usage_plan.html.markdown
  website/docs/r/api_gateway_usage_plan_key.html.markdown
  website/docs/r/api_gateway_vpc_link.html.markdown
Labels: documentation, size/M, service/apigateway

#24140 waf: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/waf_ipset.html.markdown
  website/docs/d/waf_rate_based_rule.html.markdown
  website/docs/d/waf_rule.html.markdown
  website/docs/d/waf_web_acl.html.markdown
  website/docs/r/waf_byte_match_set.html.markdown
  website/docs/r/waf_geo_match_set.html.markdown
  website/docs/r/waf_ipset.html.markdown
  website/docs/r/waf_rate_based_rule.html.markdown
  website/docs/r/waf_regex_match_set.html.markdown
  website/docs/r/waf_regex_pattern_set.html.markdown
  website/docs/r/waf_rule.html.markdown
  website/docs/r/waf_rule_group.html.markdown
  website/docs/r/waf_size_constraint_set.html.markdown
  website/docs/r/waf_sql_injection_match_set.html.markdown
  website/docs/r/waf_web_acl.html.markdown
  website/docs/r/waf_xss_match_set.html.markdown
Labels: documentation, size/S, service/waf

#24133 sns: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/sns_topic.html.markdown
  website/docs/r/sns_platform_application.html.markdown
  website/docs/r/sns_sms_preferences.html.markdown
  website/docs/r/sns_topic.html.markdown
  website/docs/r/sns_topic_policy.html.markdown
  website/docs/r/sns_topic_subscription.html.markdown
Labels: documentation, size/XS, service/sns

#24127 s3: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/canonical_user_id.html.markdown
  website/docs/d/s3_bucket.html.markdown
  website/docs/d/s3_bucket_object.html.markdown
  website/docs/d/s3_bucket_objects.html.markdown
  website/docs/d/s3_object.html.markdown
  website/docs/d/s3_objects.html.markdown
  website/docs/r/s3_access_point.html.markdown
  website/docs/r/s3_account_public_access_block.html.markdown
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_accelerate_configuration.html.markdown
  website/docs/r/s3_bucket_acl.html.markdown
  website/docs/r/s3_bucket_analytics_configuration.html.markdown
  website/docs/r/s3_bucket_cors_configuration.html.markdown
  website/docs/r/s3_bucket_intelligent_tiering_configuration.html.markdown
  website/docs/r/s3_bucket_inventory.html.markdown
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
  website/docs/r/s3_bucket_logging.html.markdown
  website/docs/r/s3_bucket_metric.html.markdown
  website/docs/r/s3_bucket_notification.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
  website/docs/r/s3_bucket_object_lock_configuration.html.markdown
  website/docs/r/s3_bucket_ownership_controls.html.markdown
  website/docs/r/s3_bucket_policy.html.markdown
  website/docs/r/s3_bucket_public_access_block.html.markdown
  website/docs/r/s3_bucket_replication_configuration.html.markdown
  website/docs/r/s3_bucket_request_payment_configuration.html.markdown
  website/docs/r/s3_bucket_server_side_encryption_configuration.html.markdown
  website/docs/r/s3_bucket_versioning.html.markdown
  website/docs/r/s3_bucket_website_configuration.html.markdown
  website/docs/r/s3_object.html.markdown
  website/docs/r/s3_object_copy.html.markdown
Labels: documentation, size/M, service/s3, service/s3control

#24103 filesystem(fsx): Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/fsx_backup.html.markdown
  website/docs/r/fsx_data_repository_association.html.markdown
  website/docs/r/fsx_lustre_file_system.html.markdown
  website/docs/r/fsx_ontap_file_system.html.markdown
  website/docs/r/fsx_ontap_storage_virtual_machine.html.markdown
  website/docs/r/fsx_ontap_volume.html.markdown
  website/docs/r/fsx_openzfs_file_system.html.markdown
  website/docs/r/fsx_openzfs_snapshot.html.markdown
  website/docs/r/fsx_openzfs_volume.html.markdown
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, size/XS, service/fsx

#24076 applicationautoscaling: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/appautoscaling_policy.html.markdown
  website/docs/r/appautoscaling_scheduled_action.html.markdown
  website/docs/r/appautoscaling_target.html.markdown
Labels: documentation, size/XS, service/applicationautoscaling

#24083 datapipeline: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/datapipeline_pipeline.html.markdown
  website/docs/d/datapipeline_pipeline_definition.html.markdown
  website/docs/r/datapipeline_pipeline.html.markdown
  website/docs/r/datapipeline_pipeline_definition.html.markdown
Labels: documentation, size/XS, service/datapipeline

#24093 elasticloadbalancingv2(alb/nlb): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/lb.html.markdown
  website/docs/d/lb_listener.html.markdown
  website/docs/d/lb_target_group.html.markdown
  website/docs/r/lb.html.markdown
  website/docs/r/lb_listener.html.markdown
  website/docs/r/lb_listener_certificate.html.markdown
  website/docs/r/lb_listener_rule.html.markdown
  website/docs/r/lb_target_group.html.markdown
  website/docs/r/lb_target_group_attachment.html.markdown
Labels: documentation, size/XS, service/elbv2

#24120 ram: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/ram_resource_share.html.markdown
  website/docs/r/ram_principal_association.markdown
  website/docs/r/ram_resource_association.html.markdown
  website/docs/r/ram_resource_share.markdown
  website/docs/r/ram_resource_share_accepter.markdown
Labels: documentation, size/XS, service/ram

#24136 identitystore: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/identitystore_group.html.markdown
  website/docs/d/identitystore_user.html.markdown
Labels: documentation, size/XS, service/identitystore

#24129 s3outposts: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/s3outposts_endpoint.html.markdown
Labels: documentation, size/XS, service/s3outposts

#24086 documentdb: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/docdb_engine_version.markdown
  website/docs/d/docdb_orderable_db_instance.markdown
  website/docs/r/docdb_cluster.html.markdown
  website/docs/r/docdb_cluster_instance.html.markdown
  website/docs/r/docdb_cluster_parameter_group.html.markdown
  website/docs/r/docdb_cluster_snapshot.html.markdown
  website/docs/r/docdb_global_cluster.html.markdown
  website/docs/r/docdb_subnet_group.html.markdown
Labels: documentation, size/XS, service/docdb

#24118 pricing: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/pricing_product.html.markdown
Labels: documentation, size/XS, service/pricing

#24091 efs: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/efs_access_point.html.markdown
  website/docs/d/efs_access_points.html.markdown
  website/docs/d/efs_file_system.html.markdown
  website/docs/d/efs_mount_target.html.markdown
  website/docs/r/efs_access_point.html.markdown
  website/docs/r/efs_backup_policy.html.markdown
  website/docs/r/efs_file_system.html.markdown
  website/docs/r/efs_file_system_policy.html.markdown
  website/docs/r/efs_mount_target.html.markdown
Labels: documentation, size/XS, service/efs

#24125 route53recoverycontrolconfig: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/route53recoverycontrolconfig_cluster.html.markdown
  website/docs/r/route53recoverycontrolconfig_control_panel.html.markdown
  website/docs/r/route53recoverycontrolconfig_routing_control.html.markdown
  website/docs/r/route53recoverycontrolconfig_safety_rule.html.markdown
Labels: documentation, size/XS, service/route53recoverycontrolconfig

#24105 accessanalyzer: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/accessanalyzer_analyzer.html.markdown
Labels: documentation, size/XS, service/accessanalyzer

#24100 elasticmapreducecontainers: Change subcategory
  website/allowed-subcategories.txt
Labels: documentation, size/XS

#24106 iot: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/iot_endpoint.html.markdown
  website/docs/r/iot_authorizer.html.markdown
  website/docs/r/iot_certificate.html.markdown
  website/docs/r/iot_indexing_configuration.html.markdown
  website/docs/r/iot_logging_options.html.markdown
  website/docs/r/iot_policy.html.markdown
  website/docs/r/iot_policy_attachment.html.markdown
  website/docs/r/iot_provisioning_template.html.markdown
  website/docs/r/iot_role_alias.html.markdown
  website/docs/r/iot_thing.html.markdown
  website/docs/r/iot_thing_group.html.markdown
  website/docs/r/iot_thing_group_membership.html.markdown
  website/docs/r/iot_thing_principal_attachment.html.markdown
  website/docs/r/iot_thing_type.html.markdown
  website/docs/r/iot_topic_rule.html.markdown
Labels: documentation, size/S, service/iot

#24116 memorydb: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/memorydb_acl.html.markdown
  website/docs/d/memorydb_cluster.html.markdown
  website/docs/d/memorydb_parameter_group.html.markdown
  website/docs/d/memorydb_snapshot.html.markdown
  website/docs/d/memorydb_subnet_group.html.markdown
  website/docs/d/memorydb_user.html.markdown
  website/docs/r/memorydb_acl.html.markdown
  website/docs/r/memorydb_cluster.html.markdown
  website/docs/r/memorydb_parameter_group.html.markdown
  website/docs/r/memorydb_snapshot.html.markdown
  website/docs/r/memorydb_subnet_group.html.markdown
  website/docs/r/memorydb_user.html.markdown
Labels: documentation, size/XS, service/memorydb

#24109 kinesisdataanalyticsv2(sqlandflinkapplications): Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/kinesisanalyticsv2_application.html.markdown
  website/docs/r/kinesisanalyticsv2_application_snapshot.html.markdown
Labels: documentation, size/XS, service/kinesisanalyticsv2

#24134 sqs: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/sqs_queue.html.markdown
  website/docs/r/sqs_queue.html.markdown
  website/docs/r/sqs_queue_policy.html.markdown
Labels: documentation, size/XS, service/sqs

#24124 route53domains: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/route53domains_registered_domain.html.markdown
Labels: documentation, size/XS, service/route53domains

#24097 mediapackage: Change subcategory
  website/allowed-subcategories.txt
  website/docs/r/media_package_channel.html.markdown
Labels: documentation, size/XS, service/mediapackage

#24115 kafkaconnect(mskconnect): Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/mskconnect_connector.html.markdown
  website/docs/d/mskconnect_custom_plugin.html.markdown
  website/docs/d/mskconnect_worker_configuration.html.markdown
  website/docs/r/mskconnect_connector.html.markdown
  website/docs/r/mskconnect_custom_plugin.html.markdown
  website/docs/r/mskconnect_worker_configuration.html.markdown
Labels: documentation, size/M, service/kafkaconnect

#24144 route53resolver: Change subcategory
  website/allowed-subcategories.txt
  website/docs/d/route53_resolver_endpoint.html.markdown
  website/docs/d/route53_resolver_rule.html.markdown
  website/docs/d/route53_resolver_rules.html.markdown
  website/docs/r/route53_resolver_dnssec_config.html.markdown
  website/docs/r/route53_resolver_endpoint.html.markdown
  website/docs/r/route53_resolver_firewall_config.markdown
  website/docs/r/route53_resolver_firewall_domain_list.markdown
  website/docs/r/route53_resolver_firewall_rule.markdown
  website/docs/r/route53_resolver_firewall_rule_group.markdown
  website/docs/r/route53_resolver_firewall_rule_group_association.markdown
  website/docs/r/route53_resolver_query_log_config.html.markdown
  website/docs/r/route53_resolver_query_log_config_association.html.markdown
  website/docs/r/route53_resolver_rule.html.markdown
  website/docs/r/route53_resolver_rule_association.html.markdown
Labels: documentation, size/S, service/route53resolver

#10498 Adding IAM SAML Provider Data source
  .changelog/10498.txt
  internal/provider/provider.go
  internal/service/iam/find.go
  internal/service/iam/openid_connect_provider_data_source.go
  internal/service/iam/saml_provider.go
  internal/service/iam/saml_provider_data_source.go
  internal/service/iam/saml_provider_data_source_test.go
  internal/service/iam/saml_provider_test.go
  website/docs/d/iam_saml_provider.html.markdown
Labels: documentation, size/XL, tests, service/iam, provider

#24156 Fix IAM subcategory
  website/docs/d/iam_saml_provider.html.markdown
Labels: documentation, size/XS, service/iam

#24147 docs: update cloudtrail docs for aws_s3_bucket
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, size/XS, service/cloudtrail

#24159 cognito: Split docs into subcategories
  website/allowed-subcategories.txt
  website/docs/d/cognito_user_pool_client.markdown
  website/docs/d/cognito_user_pool_clients.markdown
  website/docs/d/cognito_user_pool_signing_certificate.markdown
  website/docs/d/cognito_user_pools.markdown
  website/docs/r/cognito_identity_pool.markdown
  website/docs/r/cognito_identity_pool_provider_principal_tag.markdown
  website/docs/r/cognito_identity_pool_roles_attachment.markdown
  website/docs/r/cognito_identity_provider.html.markdown
  website/docs/r/cognito_resource_server.markdown
  website/docs/r/cognito_user.html.markdown
  website/docs/r/cognito_user_group.html.markdown
  website/docs/r/cognito_user_in_group.html.markdown
  website/docs/r/cognito_user_pool.markdown
  website/docs/r/cognito_user_pool_client.markdown
  website/docs/r/cognito_user_pool_domain.markdown
  website/docs/r/cognito_user_pool_ui_customization.html.markdown
Labels: documentation, size/S, service/cognito, service/cognitoidentityprovider

#24157 docs(lambda_permission): fix typo
  website/docs/r/lambda_permission.html.markdown
Labels: documentation, size/XS, service/lambda

#24163 docs(lambda_permission): another typo fix
  website/docs/r/lambda_permission.html.markdown
Labels: documentation, size/XS, service/lambda, needs-triage

#24162 provider: Fix endpoints test panic
  internal/acctest/provider_test.go
Labels: size/XS, tests

#24049 r/aws_autoscaling_group: Clarify purpose of the protect_from_scale_in…
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling, needs-triage

#24182 docs: Fix name anchors, add GHRC link check option
  GNUmakefile
  docs/contributing/contribution-checklists.md
  docs/contributing/error-handling.md
  docs/contributing/maintaining.md
  docs/contributing/pullrequest-submission-and-lifecycle.md
  docs/contributing/running-and-writing-acceptance-tests.md
  scripts/markdown-link-check.sh
  website/docs/d/msk_broker_nodes.html.markdown
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/batch_compute_environment.html.markdown
  website/docs/r/cognito_resource_server.markdown
  website/docs/r/db_instance.html.markdown
  website/docs/r/dlm_lifecycle_policy.markdown
  website/docs/r/elasticache_cluster.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
  website/docs/r/glue_catalog_table.html.markdown
  website/docs/r/glue_partition.html.markdown
  website/docs/r/mwaa_environment.html.markdown
  website/docs/r/opensearch_domain.html.markdown
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/sagemaker_domain.html.markdown
  website/docs/r/sagemaker_endpoint.html.markdown
  website/docs/r/sagemaker_user_profile.html.markdown
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, size/M, service/rds, service/sagemaker, service/elasticache, service/glue, service/batch, provider, service/dlm, service/kafka, service/wafv2, service/mwaa, repository, service/cognitoidentityprovider, service/opensearch

#24189 Fix list in aws_cloudformation_stack_set docs
  website/docs/r/cloudformation_stack_set.html.markdown
Labels: documentation, size/XS, service/cloudformation

#24057 r/config_config_rule - use finder + add custom policy
  .changelog/24057.txt
  internal/service/configservice/config_rule.go
  internal/service/configservice/config_rule_test.go
  internal/service/configservice/config_test.go
  internal/service/configservice/find.go
  internal/service/configservice/flex.go
  internal/service/configservice/status.go
  internal/service/configservice/wait.go
  website/docs/r/config_config_rule.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/configservice

#24148 Add retry for "conflicting operation" when creating/updating multiple `aws_cloudwatch_log_subscription_filter` resources
  .changelog/24148.txt
  internal/service/cloudwatchlogs/subscription_filter.go
  internal/service/cloudwatchlogs/subscription_filter_test.go
Labels: bug, size/M, tests, service/cloudwatchlogs

#24169 Add provider infrastructure for Amazon CloudWatch Evidently
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  infrastructure/repository/labels-service.tf
  internal/conns/conns.go
  internal/generate/listpages/main.go
  internal/generate/tags/main.go
  names/names.go
  names/names_test.go
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XS, tests, repository, client-connections, generators, github_actions

#24170 r/grafana_workspace - validations
  .changelog/24170.txt
  internal/service/grafana/workspace.go
Labels: enhancement, size/XS, service/grafana

#24172 r/athena_database - add `properties` + import support
  .changelog/24172.txt
  internal/service/athena/database.go
  internal/service/athena/database_test.go
  website/docs/r/athena_database.html.markdown
Labels: enhancement, documentation, size/L, tests, service/athena

#24190 Add aws_nat_gateways data source
  .changelog/24190.txt
  internal/provider/provider.go
  internal/service/ec2/nat_gateways_data_source.go
  internal/service/ec2/nat_gateways_data_source_test.go
  website/docs/d/nat_gateways.html.markdown
Labels: enhancement, documentation, new-data-source, size/XL, tests, service/ec2, provider

#24188 r/vpc_ipam_scope: prevent panic and add pagination when describing existing scopes by ID
  .changelog/24188.txt
  internal/service/ec2/vpc_ipam_scope.go
Labels: bug, size/S, service/ec2

#24065 t-aws_rds_activity_stream: Exclude regions that are not supported in test
  internal/service/rds/cluster_activity_stream_test.go
Labels: size/S, tests, service/rds

#24204 elasticache: Add new user_group_association resource
  .changelog/24204.txt
  .github/workflows/documentation.yml
  .github/workflows/website.yml
  internal/provider/provider.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_group_association.go
  internal/service/elasticache/user_group_association_test.go
  website/docs/r/elasticache_user_group_association.html.markdown
Labels: documentation, size/XL, tests, service/elasticache, provider, linter, repository, github_actions

#24215 fix: add Elemental MediaTailor to list of allowed subcategories
  website/allowed-subcategories.txt
Labels: documentation, size/XS

#24200 r/datasync_location_fsx_openzfs_file_system - new resource
  .changelog/#24200.txt
  internal/provider/provider.go
  internal/service/datasync/find.go
  internal/service/datasync/location_fsx_openzfs_file_system.go
  internal/service/datasync/location_fsx_openzfs_file_system_test.go
  internal/service/datasync/uri.go
  internal/service/datasync/uri_test.go
  website/docs/r/datasync_location_fsx_openzfs_file_system.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/datasync

#19297 New resource: f-aws_qldb_stream
  .changelog/19297.txt
  internal/provider/provider.go
  internal/service/qldb/ledger.go
  internal/service/qldb/ledger_data_source.go
  internal/service/qldb/ledger_data_source_test.go
  internal/service/qldb/ledger_test.go
  internal/service/qldb/stream.go
  internal/service/qldb/stream_test.go
  internal/service/qldb/sweep.go
  website/docs/r/qldb_ledger.html.markdown
  website/docs/r/qldb_stream.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/qldb, sweeper

#24205 Clean up CI on main
  .github/workflows/website.yml
  website/docs/r/config_config_rule.html.markdown
Labels: documentation, size/S, service/configservice, linter, repository, github_actions

#24220 fixing error for creating additonal Lambda URLs on the same function
  .changelog/24220.txt
  internal/service/lambda/function_url.go
  internal/service/lambda/function_url_test.go
Labels: bug, size/M, tests, service/lambda

#24218 feat: Add support for preserve to eks add-on
  .changelog/24218.txt
  internal/service/eks/addon.go
  internal/service/eks/addon_data_source_test.go
  internal/service/eks/addon_test.go
  internal/service/eks/addon_version_data_source_test.go
  website/docs/r/eks_addon.html.markdown
Labels: enhancement, documentation, size/L, tests, service/eks

#21694 Adds support for AMI sharing to Orgs and OUs
  .changelog/20677.txt
  .changelog/21694.txt
  internal/service/ec2/ami_launch_permission.go
  internal/service/ec2/ami_launch_permission_test.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/snapshot_create_volume_permission_test.go
  website/docs/r/ami_launch_permission.html.markdown
Labels: documentation, size/XL, tests, service/ec2

#24202 Do not validate items that conflict
  .changelog/24202.txt
  internal/service/cloudformation/stack_set_test.go
  internal/service/cloudformation/type.go
Labels: bug, size/M, tests, service/cloudformation

#24224 [Repository] Add new-service label
  infrastructure/repository/labels-workflow.tf
Labels: size/XS, repository

#24227 Update description of `aws_emr_cluster.applications`
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, size/XS, service/emr

#24237 r/emr_cluster - Skip error on UnknownOperationException
  .changelog/24237.txt
  internal/acctest/acctest.go
  internal/service/ecs/task_definition_test.go
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
  internal/service/emr/errors.go
  internal/service/iam/policy_document_data_source_test.go
  internal/service/lambda/function_url_test.go
  internal/service/rds/cluster_activity_stream_test.go
  internal/service/route53/health_check_test.go
Labels: bug, size/M, tests, service/emr, partition/aws-us-gov

#24230 Add example `aws_cognito_user_pool_client` with Cognito IdP
  website/docs/r/cognito_user_pool_client.markdown
Labels: documentation, size/XS, service/cognitoidentityprovider

#24223 r/ecs_service: add wait condition after create/update and handle errors when using `wait_for_steady_state`
  .changelog/24223.txt
  internal/conns/conns.go
  internal/service/ecs/service.go
Labels: bug, size/S, service/ecs, client-connections

#23865 github/workflows: change post_publish to workflow dependency and skip `changelog-newversion` if tag is from non-default branch
  .github/workflows/post_publish.yml
  .github/workflows/release.yml
Labels: size/M, repository, github_actions

#24247 Fix release.yml syntax
  .github/workflows/release.yml
Labels: size/XS, repository, github_actions

#24250 stack_set.operation_preferences.failure_tolerance_count can be zero
  .changelog/24250.txt
  internal/service/cloudformation/stack_set_test.go
  internal/service/cloudformation/type.go
Labels: bug, size/S, tests, service/cloudformation

#24248 r/transfer_workflow - new resource
  .changelog/24248.txt
  internal/provider/provider.go
  internal/service/transfer/find.go
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  internal/service/transfer/sweep.go
  internal/service/transfer/transfer_test.go
  internal/service/transfer/workflow.go
  internal/service/transfer/workflow_test.go
  website/docs/r/transfer_server.html.markdown
  website/docs/r/transfer_workflow.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, provider, service/transfer, sweeper

#24267 Add label for skaff
  infrastructure/repository/labels-workflow.tf
Labels: size/XS, repository

#24268 skaff: Improvements
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  infrastructure/repository/labels-workflow.tf
  skaff/resource/resourcetest.tmpl
Labels: size/XL, repository, github_actions

#24270 skaff: Add TF resource import
  .github/labeler-pr-triage.yml
  skaff/go.mod
  skaff/go.sum
  skaff/resource/resource.tmpl
Labels: size/S, repository, github_actions, skaff
