Repository hashicorp/terraform-provider-aws, pull requests merged in 2022-05, with the labels that each got.

#24491 docs: updated to reflect the actual requirements. ServerlessV2 requires provisioned enginemode not serverlessv2
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#24401 d/aws_ssm_patch_baseline - new attributes
  .changelog/24401.txt
  internal/service/ssm/patch_baseline_data_source.go
  internal/service/ssm/patch_baseline_data_source_test.go
  website/docs/d/ssm_patch_baseline.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ssm

#24487 d/aws_imagebuilder - Make imagebuilder plural data sources use namevaluesfilters package
  internal/generate/namevaluesfilters/ec2_filters_test.go
  internal/generate/namevaluesfilters/name_values_filters_test.go
  internal/service/imagebuilder/components_data_source.go
  internal/service/imagebuilder/container_recipes_data_source.go
  internal/service/imagebuilder/distribution_configurations_data_source.go
  internal/service/imagebuilder/filters.go
  internal/service/imagebuilder/image_pipelines_data_source.go
  internal/service/imagebuilder/image_recipes_data_source.go
  internal/service/imagebuilder/infrastructure_configurations_data_source.go
Labels: size/M, tests, technical-debt, service/imagebuilder, generators

#24489 `r/ec2_ami` and `d/ec2_ami` - Support deprecate time for AMIs
  .changelog/24489.txt
  internal/service/ec2/ec2_ami.go
  internal/service/ec2/ec2_ami_copy.go
  internal/service/ec2/ec2_ami_copy_test.go
  internal/service/ec2/ec2_ami_data_source.go
  internal/service/ec2/ec2_ami_data_source_test.go
  internal/service/ec2/ec2_ami_from_instance.go
  internal/service/ec2/ec2_ami_from_instance_test.go
  internal/service/ec2/ec2_ami_launch_permission_test.go
  internal/service/ec2/ec2_ami_test.go
  internal/service/ec2/status.go
  internal/service/ec2/wait.go
  internal/verify/diff.go
  internal/verify/diff_test.go
  website/docs/d/ami.html.markdown
  website/docs/r/ami.html.markdown
Labels: documentation, size/XL, tests, service/ec2, verify

#24486 service/lambda: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/lambda/flex.go
  internal/service/lambda/function.go
Labels: size/XS, service/lambda, linter

#24483 r/rds_security_group: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/rds/security_group.go
Labels: size/XS, service/rds, linter

#24479 r/servicediscovery_service: updates for semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/servicediscovery/service.go
Labels: size/XS, service/servicediscovery, linter

#24481 r/route53_record: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/route53/flex.go
Labels: size/XS, service/route53, linter

#24477 service/ssm: updates for semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/ssm/association.go
  internal/service/ssm/document.go
  internal/service/ssm/flex.go
  internal/service/ssm/resource_data_sync.go
  internal/service/ssm/resource_data_sync_test.go
Labels: size/M, tests, service/ssm, linter

#24480 service/s3: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/s3/bucket_analytics_configuration.go
  internal/service/s3/bucket_metric.go
  internal/service/s3/bucket_metric_test.go
  internal/service/s3/bucket_notification.go
Labels: size/S, tests, service/s3, linter

#24482 service/redshift: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/redshift/flex.go
Labels: size/XS, service/redshift, linter

#24484 service/opworks: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/opsworks/application.go
  internal/service/opsworks/application_test.go
  internal/service/opsworks/consts.go
  internal/service/opsworks/instance.go
  internal/service/opsworks/instance_test.go
  internal/service/opsworks/layers.go
  internal/service/opsworks/stack.go
  internal/service/opsworks/status.go
  internal/service/opsworks/wait.go
Labels: size/XL, tests, service/opsworks, technical-debt, linter

#24465 Fix DAX semgrep `prefer-aws-go-sdk-pointer-conversion-conditional` errors
  .semgrep.yml
  internal/service/dax/cluster.go
  internal/service/dax/parameter_group.go
Labels: size/XS, service/dax, technical-debt, linter

#24515 service/iam: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/iam/server_certificate.go
  internal/service/iam/user_ssh_key.go
Labels: size/XS, service/iam, linter

#24516 r/gamelift_alias: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/gamelift/alias.go
Labels: size/XS, service/gamelift, linter

#24518 service/elb: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/elb/flex.go
Labels: size/XS, service/elb, linter

#24466 Fix DocDB semgrep `prefer-aws-go-sdk-pointer-conversion-conditional` errors
  .semgrep.yml
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_instance.go
  internal/service/docdb/subnet_group.go
Labels: size/XS, technical-debt, service/docdb, linter

#24508 doc and test of security_group for change name use-case
  internal/service/ec2/vpc_security_group_test.go
  website/docs/r/security_group.html.markdown
Labels: documentation, size/M, tests, service/vpc

#24514 d/aws_secretsmanager_secrets - new data source
  .changelog/24514.txt
  internal/generate/namevaluesfilters/generators/servicefilters/main.go
  internal/generate/namevaluesfilters/service_filters_gen.go
  internal/generate/namevaluesfilters/service_generation_customizations.go
  internal/provider/provider.go
  internal/service/secretsmanager/secret.go
  internal/service/secretsmanager/secret_test.go
  internal/service/secretsmanager/secrets_data_source.go
  internal/service/secretsmanager/secrets_data_source_test.go
  website/docs/d/secretsmanager_secrets.html.markdown
Labels: documentation, new-data-source, size/XL, tests, provider, service/secretsmanager, generators

#24468 Fix EC2 semgrep `prefer-aws-go-sdk-pointer-conversion-conditional` errors
  .semgrep.yml
  internal/service/ec2/ec2_eip.go
  internal/service/ec2/ec2_spot_instance_request.go
  internal/service/ec2/flex.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/vpc_security_group_rule.go
  internal/service/ec2/vpc_security_group_test.go
Labels: size/S, tests, service/ec2, technical-debt, linter, service/vpc

#24549 athena: Remove service from funcs
  internal/service/athena/database.go
  internal/service/athena/database_test.go
  internal/service/athena/named_query_test.go
  internal/service/athena/workgroup.go
  internal/service/athena/workgroup_test.go
Labels: size/L, tests, service/athena

#24550 apigatewayv2: Remove service from funcs
  internal/service/apigatewayv2/route.go
  internal/service/apigatewayv2/stage.go
Labels: size/S, service/apigatewayv2

#24472 Fix ECS semgrep `prefer-aws-go-sdk-pointer-conversion-conditional` errors
  .semgrep.yml
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_equivalency.go
Labels: size/XS, service/ecs, technical-debt, linter

#24552 appconfig: Remove service from funcs
  internal/service/appconfig/application_test.go
  internal/service/appconfig/configuration_profile.go
  internal/service/appconfig/configuration_profile_test.go
  internal/service/appconfig/deployment_strategy_test.go
  internal/service/appconfig/deployment_test.go
  internal/service/appconfig/environment.go
  internal/service/appconfig/environment_test.go
  internal/service/appconfig/hosted_configuration_version_test.go
Labels: size/M, tests, service/appconfig

#24553 acmpca: Remove service from funcs
  internal/service/acmpca/certificate.go
  internal/service/acmpca/certificate_authority.go
  internal/service/acmpca/certificate_authority_data_source.go
  internal/service/acmpca/certificate_authority_migrate.go
  internal/service/acmpca/certificate_test.go
Labels: size/S, tests, service/acmpca

#24554 amplify: Remove service from funcs
  internal/service/amplify/app.go
  internal/service/amplify/domain_association.go
Labels: size/S, service/amplify

#24557 appstream: Remove service from funcs
  internal/service/appstream/fleet_test.go
  internal/service/appstream/image_builder.go
Labels: size/XS, tests, service/appstream

#24524 service/ec2: updates to pass semgrep rule `prefer-aws-go-sdk-pointer-conversion-assignment`
  .semgrep.yml
  internal/service/ec2/ec2_eip.go
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_spot_datafeed_subscription.go
  internal/service/ec2/ec2_spot_instance_request.go
  internal/service/ec2/flex.go
  internal/service/ec2/vpc_route_table_data_source.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/vpc_security_group_rule.go
Labels: size/M, service/ec2, linter, service/vpc

#24548 r/aws_ssm_maintenance_window_task - improve documentation of service_role_arn argument
  website/docs/r/ssm_maintenance_window_task.html.markdown
Labels: documentation, size/XS, service/ssm

#24537 b/fix PreconditionFailed errors on aws_cloudfront_distribution
  .changelog/24537.txt
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_test.go
Labels: bug, size/XL, tests, service/cloudfront

#24530 Always include AttachmentsSources when updating SSM documents
  .changelog/24530.txt
  internal/service/ssm/document.go
Labels: bug, size/XS, service/ssm

#24560 appsync: Remove service from funcs
  internal/service/appsync/api_cache_test.go
  internal/service/appsync/api_key_test.go
  internal/service/appsync/appsync_test.go
  internal/service/appsync/datasource.go
  internal/service/appsync/datasource_test.go
  internal/service/appsync/domain_name_api_association_test.go
  internal/service/appsync/domain_name_test.go
  internal/service/appsync/function.go
  internal/service/appsync/function_test.go
  internal/service/appsync/graphql_api.go
  internal/service/appsync/graphql_api_test.go
  internal/service/appsync/resolver.go
  internal/service/appsync/resolver_test.go
Labels: size/XL, tests, service/appsync

#24561 appmesh: Remove service from funcs
  internal/service/appmesh/flex.go
  internal/service/appmesh/gateway_route.go
  internal/service/appmesh/gateway_route_test.go
  internal/service/appmesh/mesh.go
  internal/service/appmesh/mesh_data_source.go
  internal/service/appmesh/mesh_data_source_test.go
  internal/service/appmesh/mesh_test.go
  internal/service/appmesh/route.go
  internal/service/appmesh/route_test.go
  internal/service/appmesh/virtual_gateway.go
  internal/service/appmesh/virtual_gateway_test.go
  internal/service/appmesh/virtual_node.go
  internal/service/appmesh/virtual_node_migrate.go
  internal/service/appmesh/virtual_node_test.go
  internal/service/appmesh/virtual_router.go
  internal/service/appmesh/virtual_router_migrate.go
  internal/service/appmesh/virtual_router_test.go
  internal/service/appmesh/virtual_service.go
  internal/service/appmesh/virtual_service_data_source.go
  internal/service/appmesh/virtual_service_data_source_test.go
  internal/service/appmesh/virtual_service_test.go
Labels: size/XL, tests, service/appmesh

#24563 autoscalingplans: Remove service from funcs
  internal/service/autoscalingplans/scaling_plan.go
  internal/service/autoscalingplans/scaling_plan_test.go
Labels: size/M, tests, service/autoscalingplans

#24564 autoscaling: Remove service from funcs
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_data_source.go
  internal/service/autoscaling/group_data_source_test.go
  internal/service/autoscaling/group_tag_test.go
  internal/service/autoscaling/group_test.go
  internal/service/autoscaling/groups_data_source_test.go
  internal/service/autoscaling/policy_test.go
Labels: size/L, tests, service/autoscaling

#24559 tools: Update `skaff`
  .github/workflows/terraform_provider.yml
  skaff/go.mod
  skaff/go.sum
  skaff/resource/resource.go
Labels: size/M, linter, repository, github_actions, skaff

#24541 r/ecs_service: retry `WaitUntilServicesStable` up to 3 times within resource instead of client connection
  .changelog/24541.txt
  internal/conns/config.go
  internal/service/ecs/wait.go
Labels: bug, size/S, service/ecs, client-connections

#24577 ecrpublic: Remove service from funcs
  internal/service/ecrpublic/repository.go
Labels: size/XS

#24578 ecr: Remove service from funcs
  internal/service/ecr/lifecycle_policy_test.go
  internal/service/ecr/registry_scanning_configuration.go
  internal/service/ecr/replication_configuration.go
  internal/service/ecr/repository.go
  internal/service/ecr/repository_data_source.go
Labels: size/M, tests, service/ecr

#24576 dynamodb: Remove service from funcs
  internal/service/dynamodb/flex.go
  internal/service/dynamodb/global_table_test.go
  internal/service/dynamodb/kinesis_streaming_destination.go
  internal/service/dynamodb/kinesis_streaming_destination_test.go
  internal/service/dynamodb/status.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_data_source.go
  internal/service/dynamodb/table_item.go
  internal/service/dynamodb/table_migrate.go
  internal/service/dynamodb/table_test.go
  internal/service/dynamodb/tag_test.go
  internal/service/dynamodb/wait.go
Labels: size/XL, tests, service/dynamodb, tags

#24579 r/aws_launch_template: Fix crash in `TestAccEC2LaunchTemplate_licenseSpecification`
  .changelog/24579.txt
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_test.go
Labels: bug, crash, size/XS, tests, service/ec2

#24532 Fix Redshift semgrep `prefer-aws-go-sdk-pointer-conversion-conditional` errors
  .semgrep.yml
  internal/service/redshift/security_group.go
  internal/service/redshift/snapshot_schedule_association.go
Labels: size/XS, service/redshift, technical-debt, linter

#24580 efs: Remove service from funcs
  internal/service/efs/access_point.go
  internal/service/efs/access_point_data_source.go
  internal/service/efs/access_point_data_source_test.go
  internal/service/efs/access_point_test.go
  internal/service/efs/access_points_data_source_test.go
  internal/service/efs/backup_policy.go
  internal/service/efs/backup_policy_test.go
  internal/service/efs/file_system.go
  internal/service/efs/file_system_data_source.go
  internal/service/efs/file_system_data_source_test.go
  internal/service/efs/file_system_policy_test.go
  internal/service/efs/file_system_test.go
  internal/service/efs/mount_target_test.go
Labels: size/L, tests, service/efs

#24581 eks: Remove service from funcs
  internal/service/eks/addon_test.go
  internal/service/eks/cluster.go
  internal/service/eks/cluster_data_source.go
  internal/service/eks/fargate_profile.go
  internal/service/eks/identity_provider_config.go
  internal/service/eks/node_group.go
  internal/service/eks/node_group_data_source.go
  internal/service/eks/node_group_test.go
Labels: size/L, tests, service/eks

#24533 Fix RDS semgrep `prefer-aws-go-sdk-pointer-conversion-conditional` errors
  .semgrep.yml
  internal/service/rds/cluster.go
  internal/service/rds/instance.go
  internal/service/rds/option_group.go
  internal/service/rds/security_group.go
Labels: size/XS, service/rds, technical-debt, linter

#24534 Fix ElastiCache semgrep `prefer-aws-go-sdk-pointer-conversion-conditional` errors
  .semgrep.yml
  internal/service/elasticache/cluster.go
  internal/service/elasticache/security_group.go
  internal/service/elasticache/subnet_group.go
Labels: size/XS, service/elasticache, technical-debt, linter

#24583 emr: Remove service from funcs
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
  internal/service/emr/instance_group.go
  internal/service/emr/managed_scaling_policy.go
  internal/service/emr/managed_scaling_policy_test.go
  internal/service/emr/security_configuration_test.go
  internal/service/emr/studio_session_mapping_test.go
  internal/service/emr/studio_test.go
Labels: size/L, tests, service/emr

#24584 fms: Remove service from funcs
  internal/service/fms/acc_test.go
  internal/service/fms/admin_account.go
  internal/service/fms/admin_account_test.go
  internal/service/fms/policy.go
  internal/service/fms/policy_test.go
Labels: size/M, tests, service/fms

#24585 glue: Remove service from funcs
  internal/service/glue/catalog_database.go
  internal/service/glue/catalog_database_test.go
  internal/service/glue/catalog_table.go
  internal/service/glue/catalog_table_test.go
  internal/service/glue/classifier.go
  internal/service/glue/connection.go
  internal/service/glue/connection_data_source.go
  internal/service/glue/crawler.go
  internal/service/glue/crawler_test.go
  internal/service/glue/dev_endpoint.go
  internal/service/glue/dev_endpoint_test.go
  internal/service/glue/job.go
  internal/service/glue/job_test.go
  internal/service/glue/ml_transform.go
  internal/service/glue/ml_transform_test.go
  internal/service/glue/partition.go
  internal/service/glue/partition_index.go
  internal/service/glue/partition_index_test.go
  internal/service/glue/partition_test.go
  internal/service/glue/script_data_source.go
  internal/service/glue/security_configuration.go
  internal/service/glue/status.go
  internal/service/glue/trigger.go
  internal/service/glue/trigger_test.go
  internal/service/glue/user_defined_function_test.go
  internal/service/glue/wait.go
Labels: size/XL, tests, service/glue

#24586 neptune: Remove service from funcs
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_instance_test.go
  internal/service/neptune/cluster_parameter_group.go
  internal/service/neptune/cluster_snapshot_test.go
  internal/service/neptune/subnet_group_test.go
Labels: size/M, tests, service/neptune

#24587 mq: Remove service from funcs
  internal/service/mq/broker.go
  internal/service/mq/configuration_test.go
Labels: size/S, tests, service/mq

#24588 fsx: Remove service from funcs
  internal/service/fsx/backup_test.go
  internal/service/fsx/data_repository_association_test.go
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  internal/service/fsx/ontap_file_system.go
  internal/service/fsx/ontap_file_system_test.go
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/service/fsx/ontap_storage_virtual_machine_test.go
  internal/service/fsx/ontap_volume.go
  internal/service/fsx/ontap_volume_test.go
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_file_system_test.go
  internal/service/fsx/openzfs_snapshot_test.go
  internal/service/fsx/openzfs_volume.go
  internal/service/fsx/openzfs_volume_test.go
  internal/service/fsx/windows_file_system.go
  internal/service/fsx/windows_file_system_test.go
Labels: size/XL, tests, service/fsx

#24589 pinpoint: Remove service from funcs
  internal/service/pinpoint/app.go
Labels: size/XS, service/pinpoint

#24591 workspaces: Remove service from funcs
  internal/service/workspaces/bundle_data_source_test.go
  internal/service/workspaces/directory_data_source_test.go
  internal/service/workspaces/directory_test.go
  internal/service/workspaces/image_data_source_test.go
  internal/service/workspaces/workspace_data_source_test.go
  internal/service/workspaces/workspace_test.go
Labels: size/L, tests, service/workspaces

#24539 Fix ELB semgrep `prefer-aws-go-sdk-pointer-conversion-conditional` errors
  .semgrep.yml
  internal/service/elb/attachment.go
  internal/service/elb/flex.go
  internal/service/elb/lb_cookie_stickiness_policy.go
  internal/service/elb/load_balancer.go
  internal/service/elb/policy.go
Labels: size/XS, service/elb, technical-debt, linter

#24590 xray: Remove service from funcs
  internal/service/xray/encryption_config_test.go
  internal/service/xray/group_test.go
  internal/service/xray/sampling_rule_test.go
Labels: size/S, tests, service/xray

#24595 timestreamwrite: Remove service from funcs
  internal/service/timestreamwrite/table.go
Labels: size/S, service/timestreamwrite

#24594 transfer: Remove service from funcs
  internal/service/transfer/access.go
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  internal/service/transfer/transfer_test.go
  internal/service/transfer/user.go
Labels: size/M, tests, service/transfer

#24600 ssoadmin: Remove service from funcs
  internal/service/ssoadmin/managed_policy_attachment.go
  internal/service/ssoadmin/managed_policy_attachment_test.go
  internal/service/ssoadmin/permission_set.go
  internal/service/ssoadmin/permission_set_inline_policy.go
  internal/service/ssoadmin/permission_set_inline_policy_test.go
Labels: size/S, tests, service/ssoadmin

#24592 waf: Remove service from funcs
  internal/service/waf/acc_test.go
  internal/service/waf/byte_match_set.go
  internal/service/waf/ipset.go
  internal/service/waf/rate_based_rule.go
  internal/service/waf/regex_match_set_test.go
  internal/service/waf/regex_pattern_set.go
  internal/service/waf/rule.go
  internal/service/waf/rule_group.go
  internal/service/waf/sql_injection_match_set.go
  internal/service/waf/web_acl.go
  internal/service/waf/web_acl_test.go
  internal/service/wafregional/byte_match_set.go
  internal/service/wafregional/geo_match_set_test.go
  internal/service/wafregional/ipset.go
  internal/service/wafregional/rate_based_rule.go
  internal/service/wafregional/rate_based_rule_test.go
  internal/service/wafregional/regex_match_set_test.go
  internal/service/wafregional/regex_pattern_set.go
  internal/service/wafregional/rule.go
  internal/service/wafregional/rule_group.go
  internal/service/wafregional/rule_test.go
  internal/service/wafregional/sql_injection_match_set.go
  internal/service/wafregional/web_acl.go
  internal/service/wafregional/web_acl_association_test.go
  internal/service/wafregional/web_acl_test.go
  internal/service/wafv2/web_acl.go
Labels: size/L, tests, service/waf, service/wafv2, service/wafregional

#24598 swf: Remove service from funcs
  internal/service/swf/domain_test.go
Labels: size/XS, tests, service/swf

#24601 ssm: Remove service from funcs
  internal/service/ssm/association.go
  internal/service/ssm/association_migrate.go
  internal/service/ssm/document.go
  internal/service/ssm/resource_data_sync.go
  internal/service/ssm/resource_data_sync_test.go
Labels: size/S, tests, service/ssm

#24602 sqs: Remove service from funcs
  internal/service/sqs/queue_policy_migrate.go
  internal/service/sqs/queue_test.go
Labels: size/XS, tests, service/sqs

#24608 servicediscovery: Remove service from funcs
  internal/service/servicediscovery/http_namespace_test.go
  internal/service/servicediscovery/instance.go
  internal/service/servicediscovery/private_dns_namespace_test.go
  internal/service/servicediscovery/public_dns_namespace_test.go
  internal/service/servicediscovery/service.go
  internal/service/servicediscovery/service_test.go
Labels: size/M

#24611 secretsmanager: Remove service from funcs
  internal/service/secretsmanager/secret.go
  internal/service/secretsmanager/secret_data_source.go
  internal/service/secretsmanager/secret_rotation.go
  internal/service/secretsmanager/secret_rotation_data_source.go
Labels: size/S

#24551 docs: Add example for assume role with web identity
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider, authentication

#24609 serverlessrepo: Remove service
  internal/service/serverlessrepo/application_data_source.go
  internal/service/serverlessrepo/cloudformation_stack.go
  internal/service/serverlessrepo/cloudformation_stack_test.go
Labels: size/S, tests, service/serverlessrepo

#24605 shield: Remove service from funcs
  internal/service/shield/protection_group_test.go
  internal/service/shield/protection_health_check_association_test.go
  internal/service/shield/protection_test.go
Labels: size/M, tests, service/shield

#24614 s3control: Remove service from funcs
  internal/service/s3control/bucket_lifecycle_configuration.go
  internal/service/s3control/bucket_lifecycle_configuration_test.go
  internal/service/s3control/multi_region_access_point.go
  internal/service/s3control/multi_region_access_point_policy.go
  internal/service/s3control/multi_region_access_point_policy_test.go
  internal/service/s3control/multi_region_access_point_test.go
Labels: size/M, tests, service/s3control

#24606 sfn: Remove service from funcs
  internal/service/sfn/activity_data_source_test.go
  internal/service/sfn/state_machine.go
Labels: size/XS

#24610 securityhub: Remove service from funcs
  internal/service/securityhub/insight.go
  internal/service/securityhub/organization_admin_account_test.go
Labels: size/XL, tests, service/securityhub

#24613 s3outposts: Remove service from funcs
  internal/service/s3outposts/endpoint.go
Labels: size/XS, service/s3outposts

#24612 schemas: Remove service from funcs
  internal/service/schemas/discoverer_test.go
  internal/service/schemas/registry_test.go
  internal/service/schemas/schema_test.go
Labels: size/S, tests, service/schemas

#24603 sns: Remove service from funcs
  internal/service/sns/topic_policy.go
  internal/service/sns/topic_subscription.go
Labels: size/XS, service/sns

#24616 r/cloudtrail: correct example to log all S3 object events
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, size/XS, service/cloudtrail

#24395 Add Kafka support to IOT topic rules
  .changelog/16087.txt
  .changelog/19175.txt
  .changelog/22337.txt
  .changelog/24395.txt
  internal/provider/provider.go
  internal/service/ec2/sweep.go
  internal/service/iot/find.go
  internal/service/iot/sweep.go
  internal/service/iot/topic_rule.go
  internal/service/iot/topic_rule_destination.go
  internal/service/iot/topic_rule_destination_test.go
  internal/service/iot/topic_rule_test.go
  website/docs/r/iot_topic_rule.html.markdown
  website/docs/r/iot_topic_rule_destination.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, service/iot, provider, sweeper

#24617 ram: Remove service from funcs
  internal/service/ram/resource_association.go
  internal/service/ram/resource_share_data_source.go
Labels: size/XS, service/ram

#24423 Added new datasource for listing instance profiles for a role
  .changelog/24423.txt
  internal/provider/provider.go
  internal/service/iam/instance_profiles_data_source.go
  internal/service/iam/instance_profiles_data_source_test.go
  website/docs/d/iam_instance_profiles.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/iam, provider

#24615 s3: Remove service from funcs
  internal/service/s3/bucket.go
  internal/service/s3/bucket_analytics_configuration.go
  internal/service/s3/bucket_data_source_test.go
  internal/service/s3/bucket_intelligent_tiering_configuration_test.go
  internal/service/s3/bucket_inventory.go
  internal/service/s3/bucket_inventory_test.go
  internal/service/s3/bucket_object.go
  internal/service/s3/bucket_object_data_source.go
  internal/service/s3/bucket_ownership_controls.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_website_configuration.go
  internal/service/s3/delete.go
  internal/service/s3/object.go
  internal/service/s3/object_copy.go
  internal/service/s3/object_data_source.go
Labels: size/L, tests, service/s3

#24619 redshift: Remove service from funcs
  internal/service/redshift/cluster.go
  internal/service/redshift/scheduled_action.go
  internal/service/redshift/security_group.go
  internal/service/redshift/snapshot_schedule.go
  internal/service/redshift/snapshot_schedule_association.go
  internal/service/redshift/subnet_group_test.go
Labels: size/M, tests, service/redshift

#24618 rds: Remove service from funcs
  internal/service/rds/cluster.go
  internal/service/rds/cluster_activity_stream.go
  internal/service/rds/cluster_activity_stream_test.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/cluster_test.go
  internal/service/rds/flex.go
  internal/service/rds/instance_test.go
  internal/service/rds/orderable_instance_data_source_test.go
Labels: size/M

#24663 elbv2: Remove service from funcs
  internal/service/elbv2/listener_test.go
  internal/service/elbv2/load_balancer_test.go
  internal/service/elbv2/target_group_test.go
Labels: size/XS, tests, service/elbv2

#24662 events: Remove service from funcs
  internal/service/events/bus_data_source_test.go
  internal/service/events/rule_test.go
Labels: size/XS, tests, service/events

#24661 firehose: Remove service from funcs
  internal/service/firehose/delivery_stream_migrate.go
  internal/service/firehose/delivery_stream_test.go
Labels: size/XS, tests, service/firehose

#24660 glacier: Remove service from funcs
  internal/service/glacier/vault.go
Labels: size/XS, service/glacier

#24659 globalaccelerator: Remove service from funcs
  internal/service/globalaccelerator/accelerator.go
  internal/service/globalaccelerator/accelerator_data_source.go
  internal/service/globalaccelerator/accelerator_data_source_test.go
  internal/service/globalaccelerator/accelerator_test.go
  internal/service/globalaccelerator/endpoint_group.go
  internal/service/globalaccelerator/endpoint_group_test.go
  internal/service/globalaccelerator/listener_test.go
  internal/service/globalaccelerator/sweep.go
Labels: size/L, tests, service/globalaccelerator, sweeper

#24658 grafana: Remove service from funcs
  internal/service/grafana/license_association_test.go
  internal/service/grafana/role_association_test.go
  internal/service/grafana/workspace_data_source_test.go
  internal/service/grafana/workspace_saml_configuration_test.go
  internal/service/grafana/workspace_test.go
Labels: size/M, tests, service/grafana

#24657 guardduty: Remove service from funcs
  internal/service/guardduty/detector.go
  internal/service/guardduty/detector_test.go
  internal/service/guardduty/filter.go
  internal/service/guardduty/filter_test.go
  internal/service/guardduty/ipset.go
  internal/service/guardduty/ipset_test.go
  internal/service/guardduty/member.go
  internal/service/guardduty/member_test.go
  internal/service/guardduty/organization_admin_account_test.go
  internal/service/guardduty/organization_configuration.go
  internal/service/guardduty/organization_configuration_test.go
  internal/service/guardduty/threatintelset.go
  internal/service/guardduty/threatintelset_test.go
Labels: size/L, tests, service/guardduty

#24655 inspector: Remove service from funcs
  internal/service/inspector/resource_group.go
Labels: size/XS, service/inspector

#24654 iot: Remove service from funcs
  internal/service/iot/flex.go
  internal/service/iot/thing_group_test.go
  internal/service/iot/thing_test.go
  internal/service/iot/thing_type.go
  internal/service/iot/thing_type_test.go
  internal/service/iot/topic_rule.go
  internal/service/iot/topic_rule_test.go
Labels: size/XL, tests, service/iot

#24653 kafka: Remove service from funcs
  internal/service/kafka/cluster_test.go
  internal/service/kafka/configuration_test.go
  internal/service/kafka/kafka_version_data_source.go
Labels: size/XS, tests, service/kafka

#24652 kafkaconnect: Remove service from funcs
  internal/service/kafkaconnect/connector.go
Labels: size/S, service/kafkaconnect

#24651 keyspaces: Remove service from funcs
  internal/service/keyspaces/sweep.go
Labels: size/XS, sweeper, service/keyspaces

#24650 identitystore: Remove service from funcs
  internal/service/identitystore/group_data_source.go
  internal/service/identitystore/user_data_source.go
Labels: size/XS, service/identitystore

#24649 kinesis: Remove service from funcs
  internal/service/kinesis/stream_data_source_test.go
  internal/service/kinesis/stream_test.go
Labels: size/L, tests, service/kinesis

#24648 kinesisanalytics: Remove service from funcs
  GNUmakefile
  internal/service/kinesisanalytics/application.go
  internal/service/kinesisanalytics/application_test.go
Labels: size/XL, tests, service/kinesisanalytics, repository

#24647 kinesisvideo: Remove service from funcs
  internal/service/kinesisvideo/stream_test.go
Labels: size/S, tests, service/kinesisvideo

#24646 kms: Remove service from funcs
  internal/service/kms/alias.go
  internal/service/kms/external_key.go
  internal/service/kms/grant.go
  internal/service/kms/key.go
  internal/service/kms/replica_external_key.go
  internal/service/kms/replica_key.go
Labels: size/M, service/kms

#24644 lakeformation: Remove service from funcs
  internal/service/lakeformation/permissions.go
  internal/service/lakeformation/permissions_data_source.go
  internal/service/lakeformation/permissions_test.go
  internal/service/lakeformation/resource_test.go
Labels: size/S, tests, service/lakeformation

#24643 lambda: Remove service from funcs
  internal/service/lambda/function_data_source_test.go
  internal/service/lambda/function_test.go
Labels: size/XS, tests, service/lambda

#24642 lexmodels: Remove service from funcs
  internal/service/lexmodels/bot.go
  internal/service/lexmodels/bot_alias.go
  internal/service/lexmodels/bot_test.go
  internal/service/lexmodels/intent.go
  internal/service/lexmodels/slot_type.go
  internal/service/lexmodels/slot_type_data_source.go
  internal/service/lexmodels/status.go
  internal/service/lexmodels/wait.go
Labels: size/L, tests, service/lexmodels

#24641 licensemanager: Remove service from funcs
  internal/service/licensemanager/association_test.go
  internal/service/licensemanager/license_configuration_test.go
Labels: size/XS, tests, service/licensemanager

#24640 lightsail: Remove service from funcs
  internal/service/lightsail/acc_test.go
  internal/service/lightsail/domain_test.go
  internal/service/lightsail/instance_public_ports.go
Labels: size/S, tests, service/lightsail

#24639 macie2: Remove service from funcs
  internal/service/macie2/account.go
  internal/service/macie2/account_test.go
  internal/service/macie2/classification_job.go
  internal/service/macie2/classification_job_test.go
  internal/service/macie2/custom_data_identifier.go
  internal/service/macie2/custom_data_identifier_test.go
  internal/service/macie2/findings_filter.go
  internal/service/macie2/findings_filter_test.go
  internal/service/macie2/invitation_accepter.go
  internal/service/macie2/invitation_accepter_test.go
  internal/service/macie2/member.go
  internal/service/macie2/member_test.go
  internal/service/macie2/organization_admin_account.go
  internal/service/macie2/organization_admin_account_test.go
Labels: size/L, tests, service/macie2

#24637 mediaconvert: Remove service from funcs
  internal/service/mediaconvert/queue.go
  internal/service/mediaconvert/queue_test.go
  internal/service/mediaconvert/structure.go
Labels: size/S, tests, service/mediaconvert

#24636 mediapackage: Remove service from funcs
  internal/service/mediapackage/channel.go
  internal/service/mediapackage/channel_test.go
Labels: size/XS, tests, service/mediapackage

#24635 mediastore: Remove service from funcs
  internal/service/mediastore/container.go
  internal/service/mediastore/container_policy_test.go
  internal/service/mediastore/container_test.go
Labels: size/XS, tests, service/mediastore

#24634 mwaa: Remove service from funcs
  internal/service/mwaa/environment.go
Labels: size/M

#24633 networkfirewall: Remove service from funcs
  internal/service/networkfirewall/firewall.go
  internal/service/networkfirewall/firewall_policy.go
  internal/service/networkfirewall/firewall_test.go
  internal/service/networkfirewall/helpers.go
  internal/service/networkfirewall/logging_configuration.go
  internal/service/networkfirewall/logging_configuration_test.go
  internal/service/networkfirewall/rule_group.go
  internal/service/networkfirewall/rule_group_test.go
Labels: size/XL, tests, service/networkfirewall

#24632 networkmanager: Remove service from funcs
  internal/service/networkmanager/connection_test.go
  internal/service/networkmanager/customer_gateway_association_test.go
  internal/service/networkmanager/transit_gateway_connect_peer_association_test.go
  internal/service/networkmanager/transit_gateway_registration_test.go
Labels: size/S, tests, service/networkmanager

#24630 opensearch: Remove service from funcs
  internal/service/opensearch/domain_data_source_test.go
  internal/service/opensearch/domain_saml_options.go
  internal/service/opensearch/domain_test.go
Labels: size/M, tests, service/opensearch

#24629 opsworks: Remove service from funcs
  internal/service/opsworks/custom_layer_test.go
  internal/service/opsworks/layers.go
  internal/service/opsworks/stack.go
Labels: size/S, tests, service/opsworks

#24628 organizations: Remove service from funcs
  internal/service/organizations/delegated_administrators_data_source.go
  internal/service/organizations/delegated_services_data_source.go
  internal/service/organizations/organization.go
  internal/service/organizations/organization_data_source.go
  internal/service/organizations/organization_test.go
  internal/service/organizations/organizational_unit.go
Labels: size/S, tests, service/organizations

#24627 outposts: Remove service from funcs
  internal/service/outposts/outpost_instance_types_data_source_test.go
  internal/service/outposts/outposts_data_source_test.go
Labels: size/XS, tests, service/outposts

#24626 pricing: Remove service from funcs
  internal/service/pricing/acc_test.go
  internal/service/pricing/product_data_source_test.go
Labels: size/S, tests, service/pricing

#24624 route53domains: Remove service from funcs
  internal/service/route53domains/registered_domain_test.go
Labels: size/S, tests, service/route53domains

#24623 route53recoverycontrolconfig: Remove service from funcs
  internal/service/route53recoverycontrolconfig/cluster.go
  internal/service/route53recoverycontrolconfig/control_panel.go
  internal/service/route53recoverycontrolconfig/routing_control.go
  internal/service/route53recoverycontrolconfig/safety_rule.go
  internal/service/route53recoverycontrolconfig/status.go
  internal/service/route53recoverycontrolconfig/wait.go
Labels: size/M

#24621 quicksight: Remove service from funcs
  internal/service/quicksight/data_source.go
  internal/service/quicksight/data_source_test.go
  internal/service/quicksight/group_membership_test.go
  internal/service/quicksight/group_test.go
  internal/service/quicksight/user_test.go
Labels: size/M, tests, service/quicksight

#24656 iam: Remove service from funcs
  internal/service/iam/group_policy_test.go
  internal/service/iam/instance_profile.go
  internal/service/iam/instance_profiles_data_source.go
  internal/service/iam/openid_connect_provider_data_source_test.go
  internal/service/iam/openid_connect_provider_test.go
  internal/service/iam/policy.go
  internal/service/iam/policy_document_data_source.go
  internal/service/iam/policy_model.go
  internal/service/iam/role.go
  internal/service/iam/role_policy.go
  internal/service/iam/role_policy_test.go
  internal/service/iam/role_test.go
  internal/service/iam/server_certificate_data_source_test.go
  internal/service/iam/server_certificate_test.go
  internal/service/iam/user_policy_test.go
  internal/service/iam/validate.go
  internal/service/keyspaces/sweep.go
Labels: size/XL, tests, service/iam, sweeper, service/keyspaces

#24625 route53: Remove service from funcs
  internal/service/route53/delegation_set_test.go
  internal/service/route53/health_check_test.go
  internal/service/route53/hosted_zone_dnssec.go
  internal/service/route53/hosted_zone_dnssec_test.go
  internal/service/route53/key_signing_key_test.go
  internal/service/route53/query_log_test.go
  internal/service/route53/record_migrate.go
  internal/service/route53/record_test.go
  internal/service/route53/traffic_policy_document_data_source.go
  internal/service/route53/traffic_policy_document_model.go
  internal/service/route53/traffic_policy_instance_test.go
  internal/service/route53/traffic_policy_test.go
  internal/service/route53/vpc_association_authorization_test.go
  internal/service/route53/zone.go
  internal/service/route53/zone_association_test.go
  internal/service/route53/zone_data_source_test.go
  internal/service/route53/zone_test.go
Labels: size/XL, tests, service/route53

#24622 route53resolver: Remove service from funcs
  internal/service/route53resolver/dnssec_config_test.go
  internal/service/route53resolver/endpoint.go
  internal/service/route53resolver/endpoint_data_source_test.go
  internal/service/route53resolver/endpoint_test.go
  internal/service/route53resolver/firewall_config_test.go
  internal/service/route53resolver/firewall_domain_list_test.go
  internal/service/route53resolver/firewall_rule_group_association_test.go
  internal/service/route53resolver/firewall_rule_group_test.go
  internal/service/route53resolver/firewall_rule_test.go
  internal/service/route53resolver/query_log_config_association_test.go
  internal/service/route53resolver/query_log_config_test.go
  internal/service/route53resolver/rule.go
  internal/service/route53resolver/rule_association.go
  internal/service/route53resolver/rule_association_test.go
  internal/service/route53resolver/rule_data_source.go
  internal/service/route53resolver/rule_data_source_test.go
  internal/service/route53resolver/rule_test.go
  internal/service/route53resolver/rules_data_source_test.go
Labels: size/XL, tests, service/route53resolver

#24674 docdb: Remove service from funcs
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_instance_test.go
  internal/service/docdb/cluster_snapshot_test.go
  internal/service/docdb/cluster_test.go
  internal/service/docdb/event_subscription_test.go
  internal/service/docdb/global_cluster.go
  internal/service/docdb/global_cluster_test.go
  internal/service/docdb/subnet_group_test.go
  internal/service/keyspaces/sweep.go
Labels: size/XL, tests, service/docdb, sweeper, service/keyspaces

#24667 elastictranscoder: Remove service from funcs
  internal/service/elastictranscoder/pipeline_test.go
  internal/service/elastictranscoder/preset_test.go
Labels: size/S, tests, service/elastictranscoder

#24668 elasticsearch: Remove service from funcs
  internal/service/elasticsearch/domain_saml_options.go
Labels: size/XS, service/elasticsearch

#24669 elasticbeanstalk: Remove service from funcs
  internal/service/elasticbeanstalk/environment.go
Labels: size/XS, service/elasticbeanstalk

#24670 ecs: Remove service from funcs
  internal/service/ecs/task_definition_migrate.go
Labels: size/XS, service/ecs

#24679 acctest/aws_iot_topic_rule_destination: Better resource deletion
  .github/dependabot.yml
  internal/acctest/acctest.go
  internal/service/appstream/directory_config_test.go
  internal/service/ds/conditional_forwarder_test.go
  internal/service/ds/directory_data_source_test.go
  internal/service/ds/directory_test.go
  internal/service/ds/log_subscription_test.go
  internal/service/ecs/task_definition_test.go
  internal/service/elasticache/replication_group_test.go
  internal/service/iot/topic_rule_destination.go
  internal/service/iot/topic_rule_destination_test.go
  internal/service/iot/topic_rule_test.go
  internal/service/memorydb/cluster_data_source_test.go
  internal/service/memorydb/cluster_test.go
  internal/service/memorydb/snapshot_test.go
  internal/service/memorydb/subnet_group_data_source_test.go
  internal/service/memorydb/subnet_group_test.go
  internal/service/rds/instance_test.go
  skaff/go.mod
  skaff/go.sum
Labels: dependencies, size/XL, tests, service/ecs, service/rds, service/elasticache, service/iot, service/appstream, service/memorydb, repository, github_actions, skaff, service/ds

#24631 Update aws_apprunner_service example to be functional
  website/docs/r/apprunner_service.html.markdown
Labels: documentation, size/XS, service/apprunner

#24682 r/aws_location_map - new resource
  .changelog/24682.txt
  internal/provider/provider.go
  internal/service/location/generate.go
  internal/service/location/map.go
  internal/service/location/map_test.go
  internal/service/location/tags_gen.go
  website/docs/r/location_map.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/location, tags, generators

#24685 Fixes aws_subnet on creation improperly handling IPv6 CIDR pending association state
  .changelog/24685.txt
  internal/service/ec2/vpc_default_subnet.go
  internal/service/ec2/vpc_subnet.go
Labels: bug, size/XS, service/vpc

#19262 Support CodeStar Connection data source lookup by name
  .changelog/19262.txt
  internal/service/codestarconnections/connection.go
  internal/service/codestarconnections/connection_data_source.go
  internal/service/codestarconnections/connection_data_source_test.go
  internal/service/codestarconnections/connection_test.go
  internal/service/codestarconnections/find.go
  internal/service/codestarconnections/host.go
  internal/service/codestarconnections/host_test.go
  internal/service/codestarconnections/status.go
  internal/service/codestarconnections/sweep.go
  internal/service/codestarconnections/wait.go
  internal/service/ec2/sweep.go
  internal/sweep/sweep_test.go
  website/docs/d/codestarconnections_connection.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/codestarconnections, sweeper

#24699 Tech debt: Prefer AWS Go SDK pointer conversion functions for dereferencing when converting int64 to int
  .semgrep.yml
  internal/service/cloudformation/stack.go
  internal/service/cloudfront/distribution_configuration_structure.go
  internal/service/dax/cluster.go
  internal/service/directconnect/bgp_peer_test.go
  internal/service/ec2/vpc_security_group_rule_test.go
  internal/service/elasticache/cluster.go
  internal/service/elb/backend_server_policy.go
  internal/service/elb/listener_policy.go
  internal/service/opsworks/layers.go
Labels: size/M, tests, service/dax, service/directconnect, service/elb, service/cloudfront, service/opsworks, service/elasticache, service/cloudformation, technical-debt, linter, service/vpc

#24687 rds: Import `name_prefix` for `aws_rds_cluster_parameter_group`
  .changelog/24687.txt
  internal/service/rds/cluster_parameter_group.go
  internal/service/rds/cluster_parameter_group_test.go
Labels: bug, size/M, tests, service/rds

#24693 d/aws_location_map - new data source
  .changelog/24693.txt
  internal/provider/provider.go
  internal/service/location/map.go
  internal/service/location/map_data_source.go
  internal/service/location/map_data_source_test.go
  website/docs/d/location_map.html.markdown
  website/docs/r/location_map.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/location

#24691 Add enabled_metrics to aws_autoscaling_group data source
  .changelog/24691.txt
  internal/service/autoscaling/group_data_source.go
  internal/service/autoscaling/group_data_source_test.go
  website/docs/d/autoscaling_group.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/autoscaling

#24697 Add retry on `MalformedPolicyDocumentException` to wait for IAM propagation on KMS policy update
  .changelog/24697.txt
  internal/service/kms/key.go
  internal/service/kms/key_test.go
Labels: bug, size/S, tests, service/kms

#24543 Add Attribute Based Instance-type Selection support to EC2 Launch Templates
  .changelog/24543.txt
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/ec2_launch_template_data_source_test.go
  internal/service/ec2/ec2_launch_template_test.go
  internal/verify/validate.go
  internal/verify/validate_test.go
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XL, tests, service/ec2, verify

#24475 ROADMAP: MAY - JULY 2022
  ROADMAP.md
  docs/roadmaps/2022_February_to_April.md
Labels: documentation, size/L, provider

#23768 Dont recreate listener rule after priority change
  .changelog/23768.txt
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/listener_rule_test.go
Labels: bug, size/S, tests, service/elbv2

#24448 Add InstanceRequirement (ABIS) to Spot Request
  .changelog/24448.txt
  internal/service/ec2/ec2_spot_fleet_request.go
  internal/service/ec2/ec2_spot_fleet_request_test.go
  website/docs/r/spot_fleet_request.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ec2

#24713 Fix `markdown-lint` errors
  docs/roadmaps/2022_February_to_April.md
Labels: documentation, size/XS

#24725 Run `go mod tidy` in `skaff`
  skaff/go.sum
Labels: size/XS, skaff

#24722 Fix `golangci-lint` errors
  internal/acctest/acctest.go
  internal/service/autoscaling/policy.go
  internal/service/sagemaker/app_image_config.go
  internal/service/transfer/server.go
  internal/service/transfer/workflow.go
Labels: size/XS, tests, service/autoscaling, service/sagemaker, service/transfer, linter

#24708 r/aws_imagebuilder_image_recipe: `ForceNew` resource on updates
  .changelog/24708.txt
  internal/service/imagebuilder/image_recipe.go
  internal/service/imagebuilder/image_recipe_test.go
Labels: bug, size/M, tests, service/imagebuilder

#23943 [DO NOT MERGE] RelAPI Onboarding
  .github/workflows/release.yml
  .goreleaser.yml
  .release/release-metadata.hcl
Labels: size/XS, repository, github_actions

#24017 Add support for r/aws_appflow_flow
  .changelog/24017.txt
  internal/provider/provider.go
  internal/service/appflow/find.go
  internal/service/appflow/flow.go
  internal/service/appflow/flow_test.go
  internal/service/appflow/generate.go
  internal/service/appflow/status.go
  internal/service/appflow/tags_gen.go
  internal/service/appflow/test-fixtures/flow_source.csv
  internal/service/appflow/wait.go
  website/docs/r/appflow_flow.html.markdown
Labels: documentation, size/XL, tests, provider, service/appflow, tags, generators

#24745 Tech debt: Prefer `(*awserr.Error)` instead of `(*awserr.Error).Code()` / `(*awserr.Error).Message()` in `fmt.Errorf()`
  .changelog/24745.txt
  .semgrep.yml
  internal/service/autoscaling/notification.go
  internal/service/ec2/ebs_volume.go
  internal/service/ec2/ebs_volume_attachment.go
  internal/service/ec2/ebs_volume_attachment_test.go
  internal/service/ec2/ebs_volume_test.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/wait.go
  website/docs/r/ebs_volume.html.markdown
Labels: documentation, size/XL, tests, service/autoscaling, linter, service/ec2ebs

#23524 d/aws_connect_security_profile
  .changelog/23524.txt
  internal/provider/provider.go
  internal/service/connect/enum.go
  internal/service/connect/security_profile_data_source.go
  internal/service/connect/security_profile_data_source_test.go
  website/docs/d/connect_security_profile.html.markdown
Labels: documentation, new-data-source, size/XL, tests, provider, service/connect

#23531 r/aws_connect_user_hierarchy_group
  .changelog/23531.txt
  internal/provider/provider.go
  internal/service/connect/user_hierarchy_group.go
  internal/service/connect/user_hierarchy_group_test.go
  website/docs/r/connect_user_hierarchy_group.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/connect

#24757 [Docs] Add additional services to grafana_workspace.data_sources
  website/docs/r/grafana_workspace.html.markdown
Labels: documentation, size/XS, service/grafana
