Repository hashicorp/terraform-provider-aws, pull requests merged in 2022-09, with the labels that each got.

#26590 Upgrade `aws-sdk-go-base` to `v2.0.0-beta.17`
  .changelog/26590.txt
  .ci/tools/go.mod
  .ci/tools/go.sum
  go.mod
  go.sum
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, linter, skaff

#26572 Support new AWS Middle East (UAE) Region `me-central-1`
  .changelog/26572.txt
  internal/service/cloudtrail/service_account_data_source.go
  internal/service/elasticbeanstalk/hosted_zone_data_source.go
  internal/service/elb/hosted_zone_id_data_source.go
  internal/service/elb/service_account_data_source.go
  internal/service/elbv2/hosted_zone_id_data_source.go
  internal/service/lambda/function.go
  internal/service/redshift/service_account_data_source.go
  internal/service/s3/hosted_zones.go
  internal/service/sagemaker/prebuilt_ecr_image_data_source.go
Labels: size/L, service/lambda, service/s3, service/elbv2, service/cloudtrail, service/elb, service/redshift, service/elasticbeanstalk, service/sagemaker

#26600 Redshift Serverless (Workgroup) doc typo correction
  website/docs/r/redshiftserverless_workgroup.html.markdown
Labels: documentation, size/XS, service/redshiftserverless

#26554 Correct `aws_ce_anomaly_monitor` arguments in `aws_ce_anomaly_subscription` docs
  website/docs/r/ce_anomaly_subscription.html.markdown
Labels: documentation, size/XS, service/ce

#25259 r/aws_lambda_function: Added Lambda function name validation
  .changelog/25259.txt
  internal/service/lambda/function.go
  internal/service/lambda/function_test.go
Labels: enhancement, size/S, tests, service/lambda

#26555 Redshift serverless endpoint
  .changelog/26555.txt
  internal/provider/provider.go
  internal/service/redshiftserverless/endpoint_access.go
  internal/service/redshiftserverless/endpoint_access_test.go
  internal/service/redshiftserverless/find.go
  internal/service/redshiftserverless/namespace.go
  internal/service/redshiftserverless/status.go
  internal/service/redshiftserverless/sweep.go
  internal/service/redshiftserverless/wait.go
  internal/service/redshiftserverless/workgroup.go
  internal/service/redshiftserverless/workgroup_test.go
  website/docs/r/redshiftserverless_endpoint_access.html.markdown
  website/docs/r/redshiftserverless_workgroup.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, provider, sweeper, service/redshiftserverless

#26609 Update ROADMAP's Core Services link
  ROADMAP.md
Labels: documentation, size/XS, provider

#26560 aws_lambda_event_source_mapping: Add Kafka config blocks + consumer_group_id
  .changelog/26560.txt
  internal/service/lambda/event_source_mapping.go
  internal/service/lambda/event_source_mapping_test.go
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/lambda

#26525 EC2-Classic retirement phase 2: Prevent creation of new EC2-Classic resources
  .changelog/26525.txt
  .changelog/26553.txt
  internal/service/autoscaling/launch_configuration.go
  internal/service/ec2/ec2_eip.go
  internal/service/ec2/ec2_eip_association.go
  internal/service/ec2/ec2_eip_association_test.go
  internal/service/ec2/ec2_eip_data_source.go
  internal/service/ec2/ec2_eip_data_source_test.go
  internal/service/ec2/ec2_eip_test.go
  internal/service/ec2/ec2_eips_data_source_test.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/vpc_.go
  internal/service/ec2/vpc_default_vpc.go
  internal/service/ec2/vpc_peering_connection.go
  internal/service/ec2/vpc_peering_connection_accepter.go
  internal/service/ec2/vpc_peering_connection_options.go
  internal/service/ec2/vpc_peering_connection_options_test.go
  internal/service/ec2/vpc_peering_connection_test.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/vpc_security_group_test.go
  internal/service/ec2/vpc_test.go
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/security_group.go
  internal/service/elasticache/security_group_test.go
  internal/service/opsworks/stack.go
  internal/service/opsworks/stack_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  internal/service/rds/security_group.go
  internal/service/rds/security_group_test.go
  internal/service/redshift/cluster.go
  internal/service/redshift/security_group.go
  internal/service/redshift/security_group_test.go
Labels: size/XL, tests, service/ec2, service/rds, service/redshift, service/opsworks, service/autoscaling, service/elasticache, service/vpc

#25368 wip f: additional attribute source_identity for assume_role
  .changelog/25368.txt
  internal/provider/fwprovider/provider.go
  internal/provider/provider.go
  internal/provider/validate.go
  website/docs/index.html.markdown
Labels: enhancement, documentation, size/S, provider

#11195 Set lambda function version to latest published version when no qualifier; set to "$LATEST" when no published version
  .changelog/11195.txt
  internal/service/lambda/function_data_source.go
  internal/service/lambda/function_data_source_test.go
  website/docs/d/lambda_function.html.markdown
Labels: enhancement, documentation, size/M, tests, service/lambda

#26613 d/aws_db_instance - updated performance insights retention period
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, size/XS, tests, service/rds

#26621 Migrate the Identity Store service to AWS Go SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/conns/config.go
  internal/conns/config_gen.go
  internal/service/identitystore/group_data_source.go
  internal/service/identitystore/user_data_source.go
  names/names.go
  names/names_data.csv
Labels: size/L, service/identitystore, client-connections, generators

#26634 Backup Vault force sweep
  internal/service/backup/sweep.go
Labels: size/S, service/backup, sweeper

#26629 F aws eks addon add timeouts
  .changelog/26629.txt
  internal/service/eks/addon.go
  internal/service/eks/wait.go
  website/docs/r/eks_addon.html.markdown
Labels: documentation, size/S, service/eks

#26636 r/aws_redshiftserverless_usage_limit - new resource
  .changelog/26636.txt
  internal/provider/provider.go
  internal/service/redshiftserverless/find.go
  internal/service/redshiftserverless/usage_limit.go
  internal/service/redshiftserverless/usage_limit_test.go
  internal/service/redshiftserverless/workgroup.go
  website/docs/r/redshiftserverless_usage_limit.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/redshiftserverless

#26631 resource/aws_instance: Handle regions where instance metadata tags are unsupported
  .changelog/26631.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
Labels: size/S, tests, service/ec2

#26608 r/aws_medialive_multiplex: add CRUD operations
  .changelog/26608.txt
  internal/provider/provider.go
  internal/service/medialive/medialive_test.go
  internal/service/medialive/multiplex.go
  internal/service/medialive/multiplex_test.go
  internal/service/medialive/sweep.go
  website/docs/r/medialive_multiplex.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/medialive, provider, sweeper

#26670 sweep: Add missing dependency to ENI
  internal/service/ec2/sweep.go
Labels: size/XS, sweeper

#26520 F/aws s3 bucket object lock configuration
  .changelog/26520.txt
  internal/service/s3/bucket_object_lock_configuration.go
  internal/service/s3/bucket_object_lock_configuration_test.go
  website/docs/r/s3_bucket_object_lock_configuration.html.markdown
Labels: enhancement, documentation, size/S, tests, service/s3

#26657 Handle bool value in condition when importing json policy
  .changelog/26657.txt
  internal/service/iam/policy_document_data_source_test.go
  internal/service/iam/policy_model.go
Labels: bug, size/M, tests, service/iam

#26667 Fix link to RDS proxy endpoints
  website/docs/r/db_proxy_endpoint.html.markdown
Labels: documentation, size/XS

#26669 fix(doc): update aws_prometheus_workspace data source doc with good name
  website/docs/d/prometheus_workspace.html.markdown
Labels: documentation, size/XS, service/amp

#26625 Remove Learn References from Overview Page
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider, needs-triage

#26675 Update sagemaker domain docs
  website/docs/r/sagemaker_domain.html.markdown
Labels: documentation, size/XS, service/sagemaker

#26676 sweepers: Fix vpc, ec2, rds sweeper problems
  internal/service/ec2/sweep.go
  internal/service/iam/sweep.go
  internal/service/rds/cluster.go
  internal/service/rds/global_cluster.go
  internal/service/rds/instance.go
  internal/service/rds/instance_automated_backups_replication.go
  internal/service/rds/sweep.go
Labels: size/L, service/iam, service/rds, sweeper

#26637 Site to Site VPN logging
  .changelog/26637.txt
  internal/service/ec2/consts.go
  internal/service/ec2/vpnsite_connection.go
  internal/service/ec2/vpnsite_connection_test.go
  website/docs/r/vpn_connection.html.markdown
Labels: documentation, size/XL, tests, service/vpnsite

#26683 Bugfix: Use DescribeManagedPrefixListsPagesWithContext to get prefix list
  .changelog/26683.txt
  internal/service/ec2/consts.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/id.go
  internal/service/ec2/status.go
  internal/service/ec2/vpc_managed_prefix_list.go
  internal/service/ec2/vpc_managed_prefix_list_data_source.go
  internal/service/ec2/vpc_managed_prefix_list_data_source_test.go
  internal/service/ec2/vpc_managed_prefix_list_entry.go
  internal/service/ec2/vpc_managed_prefix_list_entry_test.go
  internal/service/ec2/vpc_managed_prefix_list_test.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/wait.go
Labels: size/XL, tests, service/vpc

#26489 Add dual stack support for Amazon Aurora
  .changelog/26489.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_data_source_test.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
  internal/service/rds/engine_version_test.go
  internal/service/rds/find.go
  internal/service/rds/flex.go
  internal/service/rds/flex_test.go
  internal/service/rds/global_cluster.go
  internal/service/rds/instance_test.go
  internal/service/rds/status.go
  internal/service/rds/wait.go
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/rds

#26691 semgrep 0.112 breaks `helper-schema-ResourceData-Resource-Set-tags`
  .github/workflows/semgrep-ci.yml
Labels: size/XS, linter, repository, github_actions

#26640 Add validation to on aws_iam_policy_document source_policy_documents
  .changelog/26640.txt
  internal/service/iam/policy_document_data_source.go
  internal/service/iam/policy_document_data_source_test.go
  internal/service/iam/policy_model.go
Labels: bug, crash, size/S, tests, service/iam

#26671 resource/aws_ec2_fleet: Create sweeper
  internal/service/ec2/ec2_fleet.go
  internal/service/ec2/sweep.go
  internal/service/ec2/wait.go
Labels: size/M

#26382 linter: Adds rules from Semgrep Registry
  .github/workflows/semgrep-ci.yml
  GNUmakefile
  internal/generate/servicesemgrep/main.go
  internal/generate/sweepimp/main.go
  internal/service/apigateway/base_path_mapping.go
  internal/service/appstream/directory_config_test.go
  internal/service/appstream/fleet_test.go
  internal/service/appstream/stack_test.go
  internal/service/detective/invitation_accepter.go
  internal/service/glue/find.go
  internal/service/networkfirewall/logging_configuration_test.go
  internal/service/networkmanager/core_network_policy_model.go
  internal/service/redshift/event_subscription.go
  names/names_test.go
  skaff/datasource/datasource.go
  skaff/resource/resource.go
Labels: size/S, tests, service/apigateway, service/redshift, service/glue, service/appstream, service/networkmanager, service/detective, linter, service/networkfirewall, repository, generators, github_actions, skaff

#25915 New resource: aws_ssoadmin_customer_managed_policy_attachment
  .changelog/25915.txt
  internal/provider/provider.go
  internal/service/ssoadmin/customer_managed_policy_attachment.go
  internal/service/ssoadmin/customer_managed_policy_attachment_test.go
  internal/service/ssoadmin/find.go
  website/docs/r/ssoadmin_customer_managed_policy_attachment.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, provider, service/ssoadmin

#26694 New Resource: aws_medialive_multiplex_program
  .changelog/26694.txt
  go.mod
  go.sum
  internal/provider/fwprovider/provider.go
  internal/service/medialive/medialive_test.go
  internal/service/medialive/multiplex_program.go
  internal/service/medialive/multiplex_program_test.go
  website/docs/r/medialive_multiplex_program.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/medialive, provider

#26698 sweepers: More fixes
  internal/service/acm/sweep.go
  internal/service/apigateway/sweep.go
  internal/service/apigatewayv2/generate.go
  internal/service/apigatewayv2/list_pages_gen.go
  internal/service/apigatewayv2/sweep.go
  internal/service/ds/sweep.go
  internal/service/elbv2/sweep.go
  internal/service/iam/sweep.go
Labels: size/XL, service/iam, service/elbv2, service/apigateway, service/acm, service/apigatewayv2, sweeper, generators, service/ds

#26696 Reload Lambda Function environment variables if `kms_key_arn` has changed
  .changelog/26696.txt
  internal/service/lambda/function.go
  internal/service/lambda/function_data_source.go
  internal/service/lambda/function_test.go
  internal/service/lambda/generate.go
  internal/service/lambda/sweep.go
  internal/service/lambda/tags_gen.go
Labels: bug, size/XL, tests, service/lambda, sweeper, tags, generators

#26688 aws_location: create README.md
  internal/service/location/README.md
Labels: documentation, size/XS, service/location

#26711 resource/aws_opsworks_stack: Use Default VPC when no VPC ID passed
  .changelog/26711.txt
  internal/acctest/acctest.go
  internal/service/acm/sweep.go
  internal/service/ec2/vpc_security_group_test.go
  internal/service/opsworks/stack.go
  internal/service/opsworks/stack_test.go
  website/docs/r/opsworks_stack.html.markdown
Labels: documentation, size/L, tests, service/acm, service/opsworks, sweeper, service/vpc

#26731 Restore use of `latest` semgrep container image in CI
  .github/workflows/semgrep-ci.yml
Labels: size/XS, linter, repository, github_actions

#26654 Retry when creating or deleting asg_autoscaling_attachment resources
  .changelog/26654.txt
  internal/service/autoscaling/attachment.go
  internal/service/autoscaling/attachment_test.go
Labels: bug, size/L, tests, service/autoscaling

#26734 sweep: Minor fixes
  internal/service/acm/sweep.go
  internal/service/iam/sweep.go
  internal/service/s3/sweep.go
Labels: size/S, service/iam, service/s3, service/acm, sweeper

#26353 Add DocDB sweepers
  internal/service/docdb/find.go
  internal/service/docdb/global_cluster.go
  internal/service/docdb/status.go
  internal/service/docdb/sweep.go
  internal/service/docdb/wait.go
  internal/service/ec2/sweep.go
Labels: enhancement, size/XL, service/docdb, sweeper

#26736 skaff: Run `go mod tidy`
  skaff/go.sum
Labels: size/S, skaff

#26672 Docs: `aws_flow_log` - note requirement of either `log_group_name` or `log_destination`
  website/docs/r/flow_log.html.markdown
Labels: documentation, size/XS, service/vpc

#26452 Add note about `preferred_backup_window` for `aws_rds_cluster_instance` resources
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, size/XS, service/rds

#26737 Revert to tflint v0.39.3
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: size/XS, linter

#26740 Run `go get github.com/terraform-linters/tflint@v0.39.3`
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: size/XS, linter

#26101 PoC: Super simple Plugin Framework data source self-registration
  internal/conns/awsclient.go
  internal/conns/awsclient_gen.go
  internal/conns/config.go
  internal/conns/config_gen.go
  internal/fwtypes/README.md
  internal/fwtypes/arn.go
  internal/fwtypes/arn_test.go
  internal/fwtypes/duration.go
  internal/fwtypes/duration_test.go
  internal/generate/awsclient/file.tmpl
  internal/generate/awsclient/main.go
  internal/generate/clientconfig/file.tmpl
  internal/generate/clientconfig/main.go
  internal/intf/provider.go
  internal/intf/service.go
  internal/provider/fwprovider/provider.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/service/codepipeline/codepipeline_test.go
  internal/service/meta/arn_data_source.go
  internal/service/meta/arn_data_source_fw.go
  internal/service/meta/svcimpl.go
  internal/sweep/sweep.go
  tools/tfsdk2fw/datasource.tmpl
  tools/tfsdk2fw/main.go
  tools/tfsdk2fw/naming/camel.go
  tools/tfsdk2fw/naming/camel_test.go
Labels: documentation, size/XL, tests, service/codepipeline, provider, sweeper, client-connections, generators, service/meta

#26745 ec2/iso: Fix disableAPIStop bug for instances
  .changelog/26745.txt
  internal/service/cloudwatch/composite_alarm.go
  internal/service/cloudwatch/metric_alarm.go
  internal/service/cloudwatch/metric_stream.go
  internal/service/ec2/ec2_instance.go
  internal/service/ecr/repository.go
  internal/service/ecr/repository_data_source.go
  internal/service/ecs/capacity_provider.go
  internal/service/ecs/cluster.go
  internal/service/ecs/find.go
  internal/service/ecs/service.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_set.go
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_data_source.go
  internal/service/elasticache/parameter_group.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/subnet_group.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_group.go
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_data_source.go
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_data_source.go
  internal/service/events/bus.go
  internal/service/events/rule.go
  internal/service/iam/instance_profile.go
  internal/service/iam/openid_connect_provider.go
  internal/service/iam/policy.go
  internal/service/iam/role.go
  internal/service/iam/saml_provider.go
  internal/service/iam/server_certificate.go
  internal/service/iam/service_linked_role.go
  internal/service/iam/user.go
  internal/service/iam/virtual_mfa_device.go
  internal/service/sns/topic.go
  internal/service/sqs/queue.go
  internal/service/sqs/queue_data_source.go
  internal/verify/verify.go
Labels: size/L, service/iam, service/ec2, service/ecs, service/elbv2, service/sns, service/sqs, service/cloudwatch, service/elasticache, service/ecr, verify, service/events

#26748 ci: TeamCity schedule
  .teamcity/settings.kts
Labels: size/XS

#26749 teamcity: Cron problems
  .teamcity/settings.kts
Labels: size/XS

#26750 ci: TeamCity possible
  .teamcity/settings.kts
Labels: size/XS

#26727 Add datasource `aws_ec2_managed_prefix_lists`
  .changelog/26727.txt
  internal/provider/provider.go
  internal/service/ec2/vpc_managed_prefix_lists_data_source.go
  internal/service/ec2/vpc_managed_prefix_lists_data_source_test.go
  website/docs/d/ec2_managed_prefix_lists.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/vpc

#26751 Move IAM role perms for OpenSearch
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, size/XS, service/firehose, needs-triage

#26744 resource/aws_dynamodb_table: Handles Tables in `ARCHIVED` status
  .changelog/26744.txt
  internal/service/dynamodb/status.go
  internal/service/dynamodb/sweep.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_data_source.go
  internal/service/dynamodb/table_replica.go
Labels: size/S, service/dynamodb, sweeper

#26764 fix documentation error for resource aws_cloudfront_response_headers_policy
  website/docs/r/cloudfront_response_headers_policy.html.markdown
Labels: documentation, size/XS, service/cloudfront

#26768 Add retry to resourceReplicationSubnetGroupCreate
  .changelog/26768.txt
  internal/service/dms/replication_subnet_group.go
  internal/service/dms/wait.go
Labels: size/S, service/dms

#26592 feat: Update `aws_lambda_function` with `qualified_invoke_arn` output
  .changelog/26439.txt
  internal/service/lambda/function.go
  internal/service/lambda/function_data_source.go
  internal/service/lambda/function_data_source_test.go
  internal/service/lambda/function_event_invoke_config_test.go
  internal/service/lambda/function_test.go
  internal/service/lambda/provisioned_concurrency_config_test.go
  website/docs/d/lambda_function.html.markdown
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/XL, tests, service/lambda

#26786 EC2-Classic retirement phase 3: Remove acceptance test configurations
  internal/acctest/ec2_classic.go
  internal/service/autoscaling/launch_configuration_test.go
  internal/service/ec2/ec2_eip_association_test.go
  internal/service/ec2/ec2_eip_test.go
Labels: size/XL, tests, service/ec2, service/autoscaling

#26787 Document `client_secret` attribute of `aws_cognito_user_pool_client` data source
  website/docs/d/cognito_user_pool_client.markdown
Labels: documentation, size/XS, service/cognitoidp

#26765 r/aws_db_instance: add custom_iam_instance_profile attribute
  .changelog/26765.txt
  internal/service/rds/consts_test.go
  internal/service/rds/errors.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  internal/service/rds/test-fixtures/custom-sql-cloudformation.json
  internal/service/rds/wait.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/XL, tests, service/rds

#26789 Use db_name in db_instance example not deprecated name
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/XS, service/rds

#26712 r/aws_ec2_managed_prefix_list_entry include note about pfx-lists with many entries
  website/docs/r/ec2_managed_prefix_list_entry.html.markdown
Labels: documentation, size/XS, service/vpc

#22596 Switch to Issue Forms
  .github/ISSUE_TEMPLATE/00_bug_report.yml
  .github/ISSUE_TEMPLATE/01_documentation.yml
  .github/ISSUE_TEMPLATE/02_enhancement.yml
  .github/ISSUE_TEMPLATE/03_new_resource.yml
  .github/ISSUE_TEMPLATE/04_repository.yml
  .github/ISSUE_TEMPLATE/05_other.yml
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/autoremove_labels.yml
  .github/workflows/community-comment.yml
  .github/workflows/issues.yml
Labels: proposal, size/XL, repository, github_actions

#26886 docs(kendra): faq source_s3_path to s3_path
  website/docs/r/kendra_faq.html.markdown
Labels: documentation, size/XS, needs-triage, service/kendra

#26885 Update rds_cluster_role_association.html.markdown to fix example typo
  website/docs/r/rds_cluster_role_association.html.markdown
Labels: documentation, size/XS, service/rds

#26916 Preserve bug label on issues from bug template
  .github/labeler-issue-triage.yml
  .github/workflows/issues.yml
  internal/generate/issuelabels/main.go
Labels: size/XS, needs-triage, repository, generators, github_actions

#26845 r/aws_ec2_managed_prefix_list - Fix: `MaxEntries` and `Entry` can be changed in same apply
  .changelog/26845.txt
  internal/service/ec2/vpc_managed_prefix_list.go
  internal/service/ec2/vpc_managed_prefix_list_test.go
Labels: size/M, tests, service/vpc

#26866 Add support for EKS local clusters on Outposts
  .changelog/26866.txt
  go.mod
  go.sum
  internal/service/eks/cluster.go
  internal/service/eks/cluster_data_source.go
  internal/service/eks/cluster_test.go
  internal/service/eks/node_group_test.go
  internal/service/eks/wait.go
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, size/L, tests, service/eks

#26943 include warning about services that do not use this endpoint
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, size/XS, service/organizations

#26979 Update maintainer list
  docs/faq.md
  infrastructure/repository/maintainer-list.tf
Labels: documentation, size/XS, repository

#26889 Add headers, additional info to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/XS, repository

#26981 skaff: Update links in comments
  .github/workflows/community-comment.yml
  skaff/datasource/datasource.tmpl
  skaff/resource/resource.tmpl
Labels: size/XS, repository, github_actions, skaff

#26992 skaff: Minor fixes
  skaff/datasource/datasource.tmpl
  skaff/datasource/datasourcetest.tmpl
  skaff/resource/resource.tmpl
  skaff/resource/resourcetest.tmpl
Labels: size/XS, skaff

#26993 skaff: Fix website doc generation
  names/names.go
  skaff/datasource/datasource.go
  skaff/datasource/datasource.tmpl
  skaff/datasource/websitedoc.tmpl
  skaff/resource/resource.go
  skaff/resource/websitedoc.tmpl
Labels: size/M, skaff

#26952 resource/aws_sqs_queue: Fix panic in sweeper
  internal/service/sqs/sweep.go
Labels: size/XS, service/sqs, sweeper

#26955 resource/aws_iam_role: Add sweeper dependency on `aws_iot_topic_rule_destination`
  internal/service/iam/sweep.go
Labels: size/XS, service/iam, sweeper

#26956 resource/aws_network_interface : Add sweeper dependency on `aws_db_proxy`
  internal/service/ec2/sweep.go
Labels: size/XS, sweeper

#26965 workflows: Updates paths to `tools` directory in GitHub workflows
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/examples.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
  .github/workflows/workflow-lint.yml
Labels: size/XS, linter, repository, github_actions

#26954 Sweepers for `aws_directory_service_directory` and `aws_directory_service_region`
  internal/service/ds/sweep.go
Labels: size/S, sweeper, service/ds

#26831 linters: Remove deprecated linters and replace with suggested alternative
  .ci/.golangci2.yml
  internal/acctest/provider_test.go
  internal/service/cloudformation/stack_set_test.go
  internal/service/codebuild/project_test.go
  internal/service/datasync/task_test.go
  internal/service/dynamodb/backup.go
  internal/service/ec2/ec2_capacity_reservation_test.go
  internal/service/ec2/ec2_fleet_test.go
  internal/service/ec2/ec2_spot_fleet_request_test.go
  internal/service/firehose/list_pages.go
  internal/service/glue/data_catalog_encryption_settings_data_source_test.go
  internal/service/glue/data_catalog_encryption_settings_test.go
  internal/service/mediaconvert/queue_test.go
  internal/service/networkmanager/transit_gateway_peering.go
  internal/service/networkmanager/transit_gateway_route_table_attachment.go
  internal/service/rds/instance_test.go
  internal/service/redshift/consts.go
  internal/service/route53/list_pages.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3control/bucket_lifecycle_configuration_test.go
  internal/service/s3control/bucket_test.go
  internal/service/ses/template_test.go
  internal/service/storagegateway/cached_iscsi_volume_test.go
  internal/service/storagegateway/enum.go
Labels: size/XL, tests, service/ec2, service/s3, service/route53, service/rds, service/codebuild, service/redshift, service/mediaconvert, service/firehose, service/dynamodb, service/storagegateway, service/ses, service/glue, service/cloudformation, service/s3control, service/datasync, service/networkmanager

#26967 tests - lambda: updated references to nodejs.12x lambda runtime
  examples/api-gateway-websocket-chat-app/main.tf
  examples/cognito-user-pool/main.tf
  internal/service/apigateway/authorizer_test.go
  internal/service/apigateway/method_test.go
  internal/service/appconfig/configuration_profile_test.go
  internal/service/appsync/datasource_test.go
  internal/service/cloudtrail/cloudtrail_test.go
  internal/service/cognitoidp/user_pool_test.go
  internal/service/configservice/config_rule_test.go
  internal/service/configservice/organization_custom_rule_test.go
  internal/service/events/target_test.go
  internal/service/firehose/delivery_stream_test.go
  internal/service/iot/authorizer_test.go
  internal/service/kendra/data_source_test.go
  internal/service/kinesisanalytics/application_test.go
  internal/service/kinesisanalyticsv2/application_test.go
  internal/service/lambda/alias_data_source_test.go
  internal/service/lambda/alias_test.go
  internal/service/lambda/event_source_mapping_test.go
  internal/service/lambda/function_data_source_test.go
  internal/service/lambda/function_event_invoke_config_test.go
  internal/service/lambda/function_test.go
  internal/service/lambda/invocation_data_source_test.go
  internal/service/lambda/layer_version_data_source_test.go
  internal/service/lambda/layer_version_test.go
  internal/service/lambda/permission_test.go
  internal/service/lambda/provisioned_concurrency_config_test.go
  internal/service/lexmodels/intent_test.go
  internal/service/logs/subscription_filter_test.go
  internal/service/pinpoint/app_test.go
  internal/service/s3/bucket_notification_test.go
  internal/service/secretsmanager/secret_rotation_data_source_test.go
  internal/service/secretsmanager/secret_rotation_test.go
  internal/service/secretsmanager/secret_test.go
  internal/service/ses/receipt_rule_test.go
  internal/service/sfn/state_machine_test.go
  internal/service/sns/topic_subscription_test.go
  internal/service/ssm/maintenance_window_task_test.go
  website/docs/r/apigatewayv2_integration.html.markdown
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
  website/docs/r/lambda_function.html.markdown
  website/docs/r/lambda_layer_version.html.markdown
  website/docs/r/lambda_permission.html.markdown
Labels: documentation, size/L, tests, service/lambda, service/s3, service/configservice, service/apigateway, service/sns, service/cloudtrail, service/firehose, service/ssm, service/ses, service/appsync, service/iot, service/lexmodels, service/sfn, service/kinesisanalytics, service/secretsmanager, service/pinpoint, service/kinesisanalyticsv2, service/apigatewayv2, service/appconfig, service/kendra, examples, service/events, service/logs, service/cognitoidp

#26785 Regression issue: Allow SSM parameter overwrite upon creation
  .changelog/26785.txt
  internal/service/ssm/parameter.go
  internal/service/ssm/parameter_test.go
  website/docs/r/ssm_parameter.html.markdown
Labels: bug, documentation, size/S, tests, service/ssm

#26948 New Resource: aws_identitystore_user
  .changelog/26948.txt
  internal/provider/provider.go
  internal/service/identitystore/user.go
  internal/service/identitystore/user_test.go
  website/docs/r/identitystore_user.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/identitystore

#26674 New resource `aws_identitystore_group`
  .changelog/26674.txt
  internal/provider/provider.go
  internal/service/identitystore/group.go
  internal/service/identitystore/group_test.go
  website/docs/r/identitystore_group.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/identitystore

#27000 inspector2: First resource `aws_inspector2_organization_configuration`
  .changelog/27000.txt
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  GNUmakefile
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/conns/config.go
  internal/conns/config_gen.go
  internal/provider/provider.go
  internal/service/inspector2/organization_configuration.go
  internal/service/inspector2/organization_configuration_test.go
  names/names.go
  names/names_data.csv
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/r/inspector2_organization_configuration.html.markdown
Labels: documentation, size/XL, tests, provider, client-connections, generators, service/inspector2

#26985 [Documentation] #26986 Add import for aws_cloudfront_origin_request_policy
  website/docs/r/cloudfront_origin_request_policy.html.markdown
Labels: documentation, size/XS, service/cloudfront

#27008 update apigatewayv2_deployment.html.markdown
  website/docs/r/apigatewayv2_deployment.html.markdown
Labels: documentation, size/XS, service/apigatewayv2

#26998 Added missing argument in cloudwatch_metric_stream doc
  website/docs/r/cloudwatch_metric_stream.html.markdown
Labels: documentation, size/XS, service/cloudwatch

#26959 docs(iam_access_key): add instructions about the expected `pgp_key` format
  website/docs/r/iam_access_key.html.markdown
Labels: documentation, size/XS, service/iam

#26944 [New Resource] aws_identitystore_group_membership
  .changelog/26944.txt
  internal/provider/provider.go
  internal/service/identitystore/group_membership.go
  internal/service/identitystore/group_membership_test.go
  website/docs/r/identitystore_group_membership.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, provider, service/identitystore

#26975 add controltower service
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/service/controltower/README.md
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/L, repository, client-connections, generators, github_actions, new-service

#26997 New Resource: aws_kms_custom_key_store
  .changelog/26997.txt
  internal/provider/provider.go
  internal/service/kms/custom_key_store.go
  internal/service/kms/custom_key_store_test.go
  internal/service/kms/find.go
  internal/service/kms/kms_test.go
  website/docs/r/kms_custom_key_store.html.markdown
Labels: documentation, size/XL, tests, service/kms, provider

#26792 Fix: Adding 'upgrade' cloudwatch log export type for AWS RDS Cluster
  .changelog/26792.txt
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
Labels: bug, size/S, tests, service/rds

#27018 Document and test KMS `GENERATE_VERIFY_MAC` key usage value
  internal/service/kms/key_test.go
  website/docs/r/kms_key.html.markdown
Labels: documentation, size/S, tests, service/kms

#27011 resource/aws_appautoscalingpolicy: add computed attribute `alarmARNs`
  .changelog/27011.txt
  internal/service/appautoscaling/policy.go
  internal/service/appautoscaling/policy_test.go
  website/docs/r/appautoscaling_policy.html.markdown
Labels: enhancement, documentation, size/M, tests, service/appautoscaling

#27004 dms_endpoint - use_task_start_time_for_full_load_timestamp
  .changelog/27004.txt
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, size/XS, tests, service/dms

#27021 Tech debt: Move `internal/intf` to `internal/experimental/intf`
  internal/conns/awsclient.go
  internal/conns/awsclient_gen.go
  internal/experimental/intf/README.md
  internal/experimental/intf/provider.go
  internal/experimental/intf/service.go
  internal/generate/awsclient/file.tmpl
  internal/provider/fwprovider/provider.go
  internal/provider/provider.go
  internal/service/meta/svcimpl.go
Labels: documentation, size/XS, provider, client-connections, generators, service/meta

#26864 f-aws_ec2_traffic_mirror_target
  .changelog/26767.txt
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/vpc_traffic_mirror_target.go
  internal/service/ec2/vpc_traffic_mirror_target_test.go
  website/docs/r/ec2_traffic_mirror_target.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/vpc

#26784 ACM certificate: Additional attributes
  .changelog/26784.txt
  GNUmakefile
  internal/service/acm/certificate.go
  internal/service/acm/certificate_data_source.go
  internal/service/acm/certificate_data_source_test.go
  internal/service/acm/certificate_test.go
  internal/service/acm/certificate_validation.go
  internal/service/acm/certificate_validation_test.go
  internal/service/acmpca/certificate_authority.go
  internal/service/acmpca/certificate_authority_data_source.go
  website/docs/r/acm_certificate.html.markdown
  website/docs/r/acmpca_certificate.html.markdown
  website/docs/r/acmpca_certificate_authority.html.markdown
Labels: documentation, size/XL, tests, service/acm, service/acmpca, repository

#24787 Added custom key stores for aws_kms_key & custom key store data source
  .changelog/24787.txt
  internal/provider/provider.go
  internal/service/kms/custom_key_store.go
  internal/service/kms/custom_key_store_data_source.go
  internal/service/kms/custom_key_store_data_source_test.go
  internal/service/kms/custom_key_store_test.go
  internal/service/kms/find.go
  internal/service/kms/key.go
  website/docs/d/kms_custom_key_store.html.markdown
  website/docs/r/kms_key.html.markdown
Labels: enhancement, documentation, new-data-source, size/L, tests, service/kms, provider

#27025 [Docs]: Fix typo in `aws_kms_custom_key_store` resource docs
  website/docs/r/kms_custom_key_store.html.markdown
Labels: documentation, size/XS, service/kms

#26890 Remove incorrect reference to `aws_redshiftserverless_endpoint_access.security_group_ids`
  website/docs/r/redshiftserverless_endpoint_access.html.markdown
Labels: documentation, size/XS, service/redshiftserverless

#27026 resource/aws_acm_certificate: Add RFC 3339 duration support for `early_renewal_duration`
  internal/diag/diag.go
  internal/sdktypes/README.md
  internal/sdktypes/duration.go
  internal/sdktypes/duration_test.go
  internal/sdktypes/rfc3339_duration.go
  internal/sdktypes/testing_test.go
  internal/service/acm/certificate.go
  internal/service/acm/certificate_test.go
  internal/types/duration/duration.go
  internal/types/duration/duration_test.go
  internal/verify/validate.go
  website/docs/r/acm_certificate.html.markdown
Labels: documentation, size/XL, tests, service/acm, verify

#26523 Changed IRSA example to include all fingerprints
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, size/XS, service/eks

#26980 eks_cluster: Export ipv6 service address range
  .changelog/26980.txt
  internal/service/eks/cluster.go
  internal/service/eks/cluster_data_source.go
  internal/service/eks/cluster_data_source_test.go
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/eks

#27038 EKS Add-on resolve_conflicts with PRESERVE feature tests and docs updated
  .changelog/27038.txt
  internal/service/eks/addon_test.go
  website/docs/r/eks_addon.html.markdown
Labels: documentation, size/XS, tests, service/eks

#26812 Fix PartitionKey and ClusteringKey Types in Schema
  .changelog/26812.txt
  internal/service/keyspaces/table.go
Labels: bug, size/XS, service/keyspaces

#26858 Fix typo for rolesanywhere
  .changelog/26858.txt
  internal/service/rolesanywhere/profile.go
  internal/service/rolesanywhere/profile_test.go
  internal/service/rolesanywhere/trust_anchor.go
  internal/service/rolesanywhere/trust_anchor_test.go
Labels: bug, size/M, tests, service/rolesanywhere

#26846 sesv2: Use AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/conns/config.go
  internal/conns/config_gen.go
  names/names.go
  names/names_data.csv
Labels: size/XS, service/sesv2, client-connections, generators

#27044 Run `go mod tidy`
  go.sum
Labels: size/XS

#27045 Correct CHANGELOG entries
  .changelog/26980.txt
Labels: size/XS
