Repository hashicorp/terraform-provider-aws, pull requests merged in 2022-08, with the labels that each got.

#26067 Fix SSM Service setting documentation
  website/docs/r/ssm_service_setting.html.markdown
Labels: documentation, size/XS, service/ssm

#26069 Run `go mod tidy`
  go.mod
Labels: dependencies, size/XS

#26051 API Gateway REST API Race Conditions
  .changelog/26051.txt
  internal/service/apigateway/rest_api.go
  internal/service/apigateway/rest_api_test.go
  website/docs/r/api_gateway_rest_api.html.markdown
Labels: bug, documentation, size/XL, tests, service/apigateway

#26057 Add `tags` and `tags_all` argument to `aws_ecrpublic_repository`
  .changelog/26057.txt
  internal/service/ecrpublic/generate.go
  internal/service/ecrpublic/repository.go
  internal/service/ecrpublic/repository_test.go
  internal/service/ecrpublic/tags_gen.go
  website/docs/r/ecrpublic_repository.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ecrpublic, tags, generators

#26056 Add `preserve_host_header` argument to `aws_lb`
  .changelog/26056.txt
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/load_balancer_data_source_test.go
  internal/service/elbv2/load_balancer_test.go
  website/docs/r/lb.html.markdown
Labels: enhancement, documentation, size/L, tests, service/elbv2

#26078 Fix `tflint` "terraform_deprecated_interpolation" errors
  internal/service/appautoscaling/policy_test.go
  internal/service/backup/vault_notifications_test.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/replication_group_test.go
  internal/service/fms/policy_test.go
  internal/service/fsx/lustre_file_system_test.go
  internal/service/iot/authorizer_test.go
  internal/service/rds/cluster_activity_stream_test.go
  internal/service/sagemaker/feature_group_test.go
  internal/service/sagemaker/workteam_test.go
  internal/service/servicecatalog/constraint_test.go
Labels: size/S, tests, service/rds, service/sagemaker, service/servicecatalog, service/elasticache, service/iot, service/fms, service/fsx, service/backup, service/appautoscaling

#26079 skaff: Run `go mod tidy`
  skaff/go.mod
  skaff/go.sum
Labels: size/XS, skaff

#26049 #26048 add record_size_kib to aws_fsx_openzfs_volume
  .changelog/26049.txt
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_file_system_test.go
  internal/service/fsx/openzfs_volume.go
  internal/service/fsx/openzfs_volume_test.go
  website/docs/r/fsx_openzfs_file_system.html.markdown
  website/docs/r/fsx_openzfs_volume.html.markdown
Labels: enhancement, documentation, size/M, tests, service/fsx

#26076 tech-debt: Transit Gateway modernize
  internal/acctest/acctest.go
  internal/service/ec2/filters.go
  internal/service/ec2/find.go
  internal/service/ec2/id.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/transitgateway_.go
  internal/service/ec2/transitgateway_connect.go
  internal/service/ec2/transitgateway_connect_data_source.go
  internal/service/ec2/transitgateway_connect_peer.go
  internal/service/ec2/transitgateway_connect_peer_data_source.go
  internal/service/ec2/transitgateway_connect_test.go
  internal/service/ec2/transitgateway_data_source.go
  internal/service/ec2/transitgateway_data_source_test.go
  internal/service/ec2/transitgateway_dx_gateway_attachment_data_source.go
  internal/service/ec2/transitgateway_dx_gateway_attachment_data_source_test.go
  internal/service/ec2/transitgateway_multicast_domain.go
  internal/service/ec2/transitgateway_multicast_domain_association.go
  internal/service/ec2/transitgateway_multicast_domain_data_source.go
  internal/service/ec2/transitgateway_multicast_group_member.go
  internal/service/ec2/transitgateway_multicast_group_source.go
  internal/service/ec2/transitgateway_peering_attachment.go
  internal/service/ec2/transitgateway_peering_attachment_accepter.go
  internal/service/ec2/transitgateway_peering_attachment_accepter_test.go
  internal/service/ec2/transitgateway_peering_attachment_data_source.go
  internal/service/ec2/transitgateway_peering_attachment_data_source_test.go
  internal/service/ec2/transitgateway_peering_attachment_test.go
  internal/service/ec2/transitgateway_prefix_list_reference.go
  internal/service/ec2/transitgateway_prefix_list_reference_test.go
  internal/service/ec2/transitgateway_route.go
  internal/service/ec2/transitgateway_route_table.go
  internal/service/ec2/transitgateway_route_table_association.go
  internal/service/ec2/transitgateway_route_table_association_test.go
  internal/service/ec2/transitgateway_route_table_data_source.go
  internal/service/ec2/transitgateway_route_table_data_source_test.go
  internal/service/ec2/transitgateway_route_table_propagation.go
  internal/service/ec2/transitgateway_route_table_propagation_test.go
  internal/service/ec2/transitgateway_route_table_test.go
  internal/service/ec2/transitgateway_route_tables_data_source.go
  internal/service/ec2/transitgateway_test.go
  internal/service/ec2/transitgateway_vpc_attachment.go
  internal/service/ec2/transitgateway_vpc_attachment_accepter.go
  internal/service/ec2/transitgateway_vpc_attachment_accepter_test.go
  internal/service/ec2/transitgateway_vpc_attachment_data_source.go
  internal/service/ec2/transitgateway_vpc_attachment_data_source_test.go
  internal/service/ec2/transitgateway_vpc_attachment_test.go
  internal/service/ec2/transitgateway_vpc_attachments_data_source.go
  internal/service/ec2/transitgateway_vpn_attachment_data_source.go
  internal/service/ec2/transitgateway_vpn_attachment_data_source_test.go
  internal/service/ec2/wait.go
Labels: size/XL, tests, sweeper, service/transitgateway

#25686 r/aws_kendra_data_source
  .changelog/25686.txt
  internal/flex/flex.go
  internal/provider/provider.go
  internal/service/kendra/data_source.go
  internal/service/kendra/data_source_test.go
  internal/service/kendra/experience_data_source_test.go
  internal/service/kendra/experience_test.go
  internal/service/kendra/faq_data_source_test.go
  internal/service/kendra/faq_test.go
  internal/service/kendra/find.go
  internal/service/kendra/id.go
  internal/service/kendra/index_data_source_test.go
  internal/service/kendra/index_test.go
  internal/service/kendra/kendra_test.go
  internal/service/kendra/query_suggestions_block_list_data_source_test.go
  internal/service/kendra/query_suggestions_block_list_test.go
  internal/service/kendra/test-fixtures/lambdatest.zip
  internal/service/kendra/thesaurus_data_source_test.go
  internal/service/kendra/thesaurus_test.go
  website/docs/r/kendra_data_source.html.markdown
Labels: documentation, size/XL, tests, provider, service/kendra, flex

#26094 docs(kendra): rm unused depends_on
  website/docs/r/kendra_data_source.html.markdown
Labels: documentation, size/XS, service/kendra

#26082 r/iam_role_policy: add plan time validation to role argument
  .changelog/26082.txt
  internal/service/iam/role_policy.go
  internal/service/iam/validate.go
  internal/service/iam/validate_test.go
  website/docs/r/iam_role_policy.html.markdown
Labels: enhancement, documentation, size/S, tests, service/iam

#26055 Add dual stack support to Global Accelerator
  .changelog/26055.txt
  internal/service/globalaccelerator/accelerator_test.go
  website/docs/r/globalaccelerator_accelerator.html.markdown
Labels: enhancement, documentation, size/S, tests, service/globalaccelerator

#26099 Avoid use of the `aws_arn` data source in the provider's own acceptance tests
  internal/acctest/acctest.go
  internal/acctest/provider_test.go
Labels: size/XS, tests

#26103 create: Refactor test funcs to acctest
  docs/contributing/contribution-checklists.md
  internal/acctest/acctest.go
  internal/create/naming.go
  internal/create/naming_test.go
  internal/service/autoscaling/group_test.go
  internal/service/autoscaling/launch_configuration_test.go
  internal/service/batch/compute_environment_test.go
  internal/service/budgets/budget_test.go
  internal/service/docdb/event_subscription_test.go
  internal/service/ec2/ec2_key_pair_test.go
  internal/service/ec2/ec2_launch_template_test.go
  internal/service/ec2/vpc_security_group_test.go
  internal/service/eks/node_group_test.go
  internal/service/events/rule_test.go
  internal/service/events/target_test.go
  internal/service/iam/role_test.go
  internal/service/kms/alias_test.go
  internal/service/lambda/permission_test.go
  internal/service/macie2/classification_job_test.go
  internal/service/macie2/custom_data_identifier_test.go
  internal/service/macie2/findings_filter_test.go
  internal/service/memorydb/acl_test.go
  internal/service/memorydb/cluster_test.go
  internal/service/memorydb/snapshot_test.go
  internal/service/memorydb/subnet_group_test.go
  internal/service/rds/cluster_parameter_group_test.go
  internal/service/rds/event_subscription_test.go
  internal/service/rds/instance_test.go
  internal/service/secretsmanager/secret_test.go
  internal/service/signer/signing_profile_permission_test.go
  internal/service/sns/topic_test.go
  internal/service/sqs/queue_test.go
Labels: documentation, size/XL, tests, service/lambda, service/iam, service/ec2, service/sns, service/rds, service/sqs, service/autoscaling, service/budgets, service/kms, service/batch, provider, service/secretsmanager, service/eks, service/docdb, service/macie2, service/signer, service/memorydb, create, service/events, service/vpc

#26114 Add missing CHANGELOG entries
  .changelog/10563.txt
Labels: size/XS

#26110 f-data-aws_dx_location-add-macsec
  .changelog/26110.txt
  internal/service/directconnect/location_data_source.go
  internal/service/directconnect/location_data_source_test.go
  website/docs/d/dx_location.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/directconnect

#26105 Macie Macie2 Classification Results - Export Configuration #19856
  .changelog/19856.txt
  internal/provider/provider.go
  internal/service/macie2/classification_export_configuration.go
  internal/service/macie2/classification_export_configuration_test.go
  internal/service/macie2/macie2_test.go
  website/docs/r/macie2_classification_export_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/macie2

#25698 New Resource: aws_transcribe_language_model
  .changelog/25698.txt
  internal/provider/provider.go
  internal/service/transcribe/language_model.go
  internal/service/transcribe/language_model_test.go
  internal/service/transcribe/sweep.go
  internal/service/transcribe/test-fixtures/language_model_test1.txt
  website/docs/r/transcribe_language_model.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, sweeper, service/transcribe

#25755 feat: add ability to set domain controller count on aws_directory_service_directory resource
  .changelog/25755.txt
  .github/workflows/golangci-lint.yml
  GNUmakefile
  internal/provider/provider.go
  internal/service/ds/directory.go
  internal/service/ds/directory_data_source.go
  internal/service/ds/directory_data_source_test.go
  internal/service/ds/directory_test.go
  internal/service/ds/find.go
  internal/service/ds/flex.go
  internal/service/ds/generate.go
  internal/service/ds/list_pages_gen.go
  internal/service/ds/region.go
  internal/service/ds/region_test.go
  internal/service/ds/shared_directory.go
  internal/service/ds/shared_directory_accepter.go
  internal/service/ds/shared_directory_accepter_test.go
  internal/service/ds/shared_directory_test.go
  internal/service/ds/status.go
  internal/service/ds/wait.go
  website/docs/r/directory_service_directory.html.markdown
  website/docs/r/directory_service_region.html.markdown
  website/docs/r/directory_service_shared_directory.html.markdown
  website/docs/r/directory_service_shared_directory_accepter.html.markdown
Labels: enhancement, documentation, size/XL, tests, provider, repository, generators, github_actions, service/ds

#25987 Fix for ASG early errors issue
  .changelog/25987.txt
  internal/service/autoscaling/attachment.go
  internal/service/autoscaling/attachment_test.go
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  internal/service/autoscaling/group_waiting.go
  internal/service/autoscaling/group_waiting_test.go
  internal/service/autoscaling/schedule.go
  internal/service/autoscaling/schedule_test.go
  internal/service/autoscaling/validate.go
  internal/service/elb/enum.go
Labels: enhancement, size/XL, tests, service/elb, service/autoscaling

#26150 Keep `context.TODO()` in non-test code
  .ci/.semgrep.yml
  internal/service/docdb/cluster.go
  internal/service/docdb/sweep.go
  internal/service/ds/sweep.go
  internal/service/ecs/service.go
  internal/service/ecs/status.go
  internal/service/eks/sweep.go
  internal/service/iam/access_key.go
  internal/service/iam/user.go
  internal/service/lightsail/sweep.go
  internal/service/networkfirewall/sweep.go
Labels: size/S, service/iam, service/ecs, service/lightsail, service/eks, service/docdb, service/networkfirewall, sweeper, service/ds

#26149 linting: Add `yamllint`
  .ci/.semgrep-caps-aws-ec2.yml
  .ci/.semgrep.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/firewatch.yml
  .github/workflows/generate_changelog.yml
  .github/workflows/issues.yml
  .github/workflows/milestone.yml
  .github/workflows/post_publish.yml
  .github/workflows/project.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  .github/workflows/roadmap_milestone.yml
  .github/workflows/semgrep-ci.yml
  .github/workflows/stale.yml
  .github/workflows/team_slack_bot.yml
  .github/workflows/website.yml
  .github/workflows/yamllint.yml
  .yamllint
  GNUmakefile
  examples/ecs-alb/cloud-config.yml
  internal/generate/servicesemgrep/main.go
  internal/service/cloudformation/testdata/examplecompany-exampleservice-exampleresource/resource-role.yaml
  internal/service/cloudformation/testdata/examplecompany-exampleservice-exampleresource/template.yml
Labels: size/XL, tests, service/cloudformation, examples, linter, repository, generators, github_actions

#25495 created network firewall data source
  .changelog/25495.txt
  internal/provider/provider.go
  internal/service/networkfirewall/firewall_data_source.go
  internal/service/networkfirewall/firewall_data_source_test.go
  website/docs/d/networkfirewall_firewall.html.markdown
Labels: documentation, new-data-source, size/XL, tests, provider, service/networkfirewall

#20819 Add support to pull DNS IP addresses for shared AD
  .changelog/20819.txt
  internal/service/ds/directory_data_source.go
  internal/service/ds/directory_data_source_test.go
Labels: enhancement, size/S, tests, service/ds

#26160 aws_macie2_classification_job: Macie2 Add bucket_criteria
  .changelog/19837.txt
  internal/service/macie2/classification_job.go
  internal/service/macie2/classification_job_test.go
  internal/service/macie2/consts.go
  internal/service/macie2/macie2_test.go
  website/docs/r/macie2_classification_job.html.markdown
Labels: documentation, size/XL, tests, service/macie2

#26169 Update documentation for Transit Gateway Flow Logs
  website/docs/r/flow_log.html.markdown
Labels: documentation, size/XS, service/vpc

#26154 Fix emr_instance_group read when emr_cluster no longer exists
  .changelog/26154.txt
  internal/service/emr/cluster_test.go
  internal/service/emr/instance_group.go
  internal/service/emr/instance_group_test.go
Labels: bug, size/XL, tests, service/emr

#26171 gofmt for Go 1.19
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/golangci-lint.yml
  internal/acctest/acctest.go
  internal/create/naming.go
  internal/service/acm/certificate_test.go
  internal/service/acmpca/certificate_authority_data_source_test.go
  internal/service/appstream/status.go
  internal/service/cloudformation/stack_set_instance_test.go
  internal/service/cloudfront/distribution_test.go
  internal/service/connect/bot_association_test.go
  internal/service/connect/contact_flow_test.go
  internal/service/connect/hours_of_operation_test.go
  internal/service/connect/instance_test.go
  internal/service/connect/lambda_function_association_test.go
  internal/service/connect/quick_connect_test.go
  internal/service/connect/security_profile_test.go
  internal/service/connect/user_hierarchy_group_test.go
  internal/service/connect/user_hierarchy_structure_test.go
  internal/service/connect/vocabulary_test.go
  internal/service/docdb/cluster_test.go
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/filters.go
  internal/service/ec2/flex.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/vpnclient_endpoint_test.go
  internal/service/eks/arn.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elastictranscoder/preset_test.go
  internal/service/elb/hosted_zone_id_data_source_test.go
  internal/service/elbv2/hosted_zone_id_data_source_test.go
  internal/service/events/target_test.go
  internal/service/fsx/data_repository_association_test.go
  internal/service/iam/acc_test.go
  internal/service/networkmanager/core_network_policy_document_data_source_test.go
  internal/service/networkmanager/errors.go
  internal/service/opsworks/stack.go
  internal/service/rds/instance_test.go
  internal/service/redshift/consts.go
  internal/service/route53/flex.go
  internal/service/sagemaker/model_test.go
  internal/service/secretsmanager/secret_data_source_test.go
  internal/service/servicediscovery/private_dns_namespace_test.go
  internal/service/ssm/document.go
  internal/service/storagegateway/errors.go
  internal/tags/tags.go
  internal/tfresource/errors.go
  internal/verify/diff.go
Labels: size/XL, tests, service/iam, service/ec2, service/route53, service/elbv2, service/rds, service/acm, service/elb, service/cloudfront, service/redshift, service/opsworks, service/storagegateway, service/ssm, service/sagemaker, service/servicediscovery, service/elasticache, service/cloudformation, service/appstream, service/secretsmanager, service/acmpca, service/eks, service/connect, service/fsx, service/docdb, service/networkmanager, linter, tags, repository, create, verify, service/events, service/elastictranscoder, github_actions, service/vpnclient, service/vpc

#26173 ci: More custom runners
  .github/CODEOWNERS
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/terraform_provider.yml
Labels: size/M, linter, repository, github_actions

#26120 Adding amp workspace datasource
  .changelog/26120.txt
  internal/provider/provider.go
  internal/service/amp/find.go
  internal/service/amp/workspace_data_source.go
  internal/service/amp/workspace_data_source_test.go
  website/docs/d/prometheus_workspace.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/amp

#26061 r/aws_location_tracker_association: new resource
  .changelog/26061.txt
  internal/provider/provider.go
  internal/service/location/tracker_association.go
  internal/service/location/tracker_association_test.go
  website/docs/r/location_tracker_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/location

#26153 Docs: point lifecycle links to their new place
  website/docs/r/api_gateway_deployment.html.markdown
  website/docs/r/apigatewayv2_deployment.html.markdown
  website/docs/r/cloudformation_type.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, size/XS, service/apigateway, service/rds, service/cloudformation, service/apigatewayv2

#26177 Fix semgrep `ci.avoid-context-TODO-in-tests`
  internal/service/location/tracker_association_test.go
Labels: size/XS, linter, service/location

#26159 Docs: update aws_lb_listener_certificate import documentation to make…
  website/docs/r/lb_listener_certificate.html.markdown
Labels: documentation, size/XS, service/elbv2

#26166 Q3 Public Roadmap
  ROADMAP.md
Labels: documentation, size/M, provider

#26197 r/aws_kinesis_firehose_delivery_stream: Add paginated lister and use in sweeper
  internal/service/firehose/list_pages.go
  internal/service/firehose/sweep.go
Labels: size/M, service/firehose, sweeper

#25304 Contributor Documentation Refactor
  .github/workflows/mkdocs.yml
  README.md
  docs/README.md
  docs/acc-test-environment-variables.md
  docs/add-a-new-datasource.md
  docs/add-a-new-region.md
  docs/add-a-new-resource.md
  docs/add-a-new-service.md
  docs/add-import-support.md
  docs/adding-a-tag-resource.md
  docs/aws-go-sdk-base.md
  docs/aws-go-sdk-versions.md
  docs/bugs-and-enhancements.md
  docs/changelog-process.md
  docs/contributing/README.md
  docs/contributing/contribution-checklists.md
  docs/contributing/maintaining.md
  docs/contributing/pullrequest-submission-and-lifecycle.md
  docs/core-services.md
  docs/data-handling-and-conversion.md
  docs/dependency-updates.md
  docs/development-environment.md
  docs/documentation-changes.md
  docs/error-handling.md
  docs/faq.md
  docs/images/hashicorp-black.png
  docs/images/hashicorp.png
  docs/index.md
  docs/issue-reporting-and-lifecycle.md
  docs/naming.md
  docs/prioritization.md
  docs/provider-design.md
  docs/raising-a-pull-request.md
  docs/resource-filtering.md
  docs/resource-name-generation.md
  docs/resource-tagging.md
  docs/retries-and-waiters.md
  docs/roadmaps/2020_August_to_October.md
  docs/roadmaps/2020_May_to_July.md
  docs/roadmaps/2020_November_to_January.md
  docs/roadmaps/2021_August_to_October.md
  docs/roadmaps/2021_February_to_April.md
  docs/roadmaps/2021_May_to_July.md
  docs/roadmaps/2021_November_to_January.md
  docs/roadmaps/2022_February_to_April.md
  docs/roadmaps/README.md
  docs/running-and-writing-acceptance-tests.md
  docs/service-package-pullrequest-guide.md
  docs/skaff.md
  docs/stylesheets/extra.css
  mkdocs.yml
  skaff/README.md
  website/docs/d/prefix_list.html.markdown
  website/docs/d/ssm_document.html.markdown
  website/docs/d/ssm_parameter.html.markdown
  website/docs/guides/version-3-upgrade.html.md
  website/docs/r/appsync_datasource.html.markdown
  website/docs/r/appsync_function.html.markdown
  website/docs/r/appsync_resolver.html.markdown
  website/docs/r/cloudwatch_event_archive.html.markdown
Labels: documentation, size/XL, service/ssm, service/appsync, service/devicefarm, provider, repository, service/events, github_actions, skaff, service/vpc

#14045 added radius_settings to aws_directory_service_directory
  .changelog/14045.txt
  internal/provider/provider.go
  internal/service/ds/directory_data_source.go
  internal/service/ds/directory_data_source_test.go
  internal/service/ds/directory_test.go
  internal/service/ds/find.go
  internal/service/ds/radius_settings.go
  internal/service/ds/radius_settings_test.go
  internal/service/ds/status.go
  internal/service/ds/wait.go
  website/docs/d/directory_service_directory.html.markdown
  website/docs/r/directory_service_radius_settings.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, provider, service/ds

#26194 r/aws_lb_listener: update tags after creation
  .changelog/26194.txt
  internal/service/elbv2/const.go
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_test.go
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_test.go
Labels: size/S, tests, service/elbv2

#25848 Changing Lambda Integration Type to AWS_PROXY
  website/docs/r/apigatewayv2_integration.html.markdown
Labels: documentation, size/XS, service/apigatewayv2

#26196 Update macie2_organization_admin_account.html.markdown
  website/docs/r/macie2_organization_admin_account.html.markdown
Labels: documentation, size/XS, needs-triage, service/macie2

#26199 r/aws_backup_vault: Add `force_destroy` argument
  .changelog/26199.txt
  internal/service/backup/find.go
  internal/service/backup/status.go
  internal/service/backup/vault.go
  internal/service/backup/vault_test.go
  internal/service/backup/wait.go
  website/docs/r/backup_vault.html.markdown
Labels: documentation, size/XL, tests, service/backup

#26188 add glue execution class option
  .changelog/26188.txt
  internal/service/glue/dev_endpoint_test.go
  internal/service/glue/find.go
  internal/service/glue/job.go
  internal/service/glue/job_test.go
  internal/service/glue/sweep.go
  website/docs/r/glue_job.html.markdown
Labels: documentation, size/XL, tests, service/glue, sweeper

#26220 r/aws_security_group_rule: Prevent crash when empty strings in `prefix_list_ids`
  .changelog/26220.txt
  internal/service/ec2/vpc_security_group_rule.go
  internal/service/ec2/vpc_security_group_rule_test.go
Labels: bug, crash, size/M, tests, service/vpc

#20926 Bug Fix: Failure to create RDS replicas with 'enhanced-monitoring' if source already exists
  .changelog/20926.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/consts.go
  internal/service/rds/errors.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  internal/service/rds/validate.go
  internal/service/rds/wait.go
Labels: bug, size/XL, tests, service/rds

#26184 Add aws_fsx_openzfs_snapshot data source
  .changelog/26184.txt
  internal/provider/provider.go
  internal/service/fsx/common_schema_data_source.go
  internal/service/fsx/find.go
  internal/service/fsx/openzfs_snapshot_data_source.go
  internal/service/fsx/openzfs_snapshot_data_source_test.go
  website/docs/d/fsx_openzfs_snapshot.html.markdown
Labels: documentation, new-data-source, size/XL, tests, provider, service/fsx

#26152 r/aws_connect_instance_storage_config
  .changelog/26152.txt
  internal/provider/provider.go
  internal/service/connect/bot_association_data_source_test.go
  internal/service/connect/bot_association_test.go
  internal/service/connect/connect_test.go
  internal/service/connect/contact_flow_data_source_test.go
  internal/service/connect/contact_flow_module_data_source_test.go
  internal/service/connect/contact_flow_module_test.go
  internal/service/connect/contact_flow_test.go
  internal/service/connect/hours_of_operation_data_source_test.go
  internal/service/connect/hours_of_operation_test.go
  internal/service/connect/instance_data_source_test.go
  internal/service/connect/instance_storage_config.go
  internal/service/connect/instance_storage_config_test.go
  internal/service/connect/instance_test.go
  internal/service/connect/lambda_function_association_data_source_test.go
  internal/service/connect/lambda_function_association_test.go
  internal/service/connect/prompt_data_source_test.go
  internal/service/connect/queue_data_source_test.go
  internal/service/connect/queue_test.go
  internal/service/connect/quick_connect_data_source_test.go
  internal/service/connect/quick_connect_test.go
  internal/service/connect/routing_profile_data_source_test.go
  internal/service/connect/routing_profile_test.go
  internal/service/connect/security_profile_data_source_test.go
  internal/service/connect/security_profile_test.go
  internal/service/connect/user_hierarchy_group_data_source_test.go
  internal/service/connect/user_hierarchy_group_test.go
  internal/service/connect/user_hierarchy_structure_data_source_test.go
  internal/service/connect/user_hierarchy_structure_test.go
  internal/service/connect/user_test.go
  internal/service/connect/vocabulary_test.go
  website/docs/r/connect_instance_storage_config.html.markdown
Labels: documentation, size/XL, tests, provider, service/connect, needs-triage

#26033 Correct `aws_rds_global_cluster` 'New MySQL Global Cluster' example
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#26175 aws_elasticsearch_domain add throughput attr 26045
  .changelog/26045.txt
  internal/service/elasticsearch/domain.go
  internal/service/elasticsearch/domain_data_source.go
  internal/service/elasticsearch/domain_data_source_test.go
  internal/service/elasticsearch/domain_test.go
  internal/service/elasticsearch/flex.go
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_data_source.go
  internal/service/opensearch/domain_data_source_test.go
  internal/service/opensearch/domain_test.go
  internal/service/opensearch/flex.go
  website/docs/d/elasticsearch_domain.html.markdown
  website/docs/d/opensearch_domain.html.markdown
  website/docs/r/elasticsearch_domain.html.markdown
  website/docs/r/opensearch_domain.html.markdown
Labels: enhancement, documentation, size/M, tests, service/elasticsearch, service/opensearch

#26232 Combines `semall` rule into one `semgrep` execution
  GNUmakefile
Labels: size/XS, repository

#26240 B aws appflow flow trigger config
  .changelog/26240.txt
  internal/service/appflow/flow.go
  internal/service/appflow/flow_test.go
Labels: bug, size/S, tests, service/appflow

#26231 Extends `markdownlint` checks to all Markdown files
  .github/workflows/documentation.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
  .markdownlint.yml
  GNUmakefile
  README.md
  examples/asg/README.md
  examples/ecs-alb/README.md
  examples/eip/README.md
  examples/elasticsearch-domain/README.md
  examples/elb/README.md
  examples/lambda-file-systems/README.md
  examples/rds/README.md
  examples/s3-api-gateway-integration/README.md
  examples/sagemaker/README.md
  examples/transit-gateway-intra-region-peering/README.md
  examples/two-tier/README.md
  internal/generate/namescapslist/header.tmpl
  internal/generate/namescapslist/main.go
  internal/generate/namevaluesfilters/generators/servicefilters/README.md
  internal/generate/tags/README.md
  internal/generate/tags/README_servicetags.md
  names/caps.md
  skaff/README.md
  tools/tfsdk2fw/README.md
Labels: documentation, size/M, provider, examples, linter, repository, generators, github_actions, skaff

#26251 Generate fixed-length OpenSearch & Elasticsearch random domain names in acceptance tests
  internal/service/elasticsearch/domain_data_source_test.go
  internal/service/elasticsearch/domain_test.go
  internal/service/opensearch/domain_data_source_test.go
  internal/service/opensearch/domain_test.go
Labels: size/XL, tests, service/elasticsearch, service/opensearch

#26253 linting: Run `semgrep` directly in GitHub Actions
  .ci/scripts/semgrep.sh
  .github/workflows/semgrep-ci.yml
  GNUmakefile
Labels: size/S, linter, repository, github_actions

#26250 dynamodb: New resource table replica
  .changelog/26250.txt
  internal/provider/provider.go
  internal/service/dynamodb/arn.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_replica.go
  internal/service/dynamodb/table_replica_test.go
  internal/service/dynamodb/wait.go
  internal/service/redshift/consts.go
  website/docs/r/dynamodb_table.html.markdown
  website/docs/r/dynamodb_table_replica.html.markdown
Labels: documentation, size/XL, tests, service/redshift, service/dynamodb, provider

#26257 dynamodb_table: Fix `replica.*propagate_tags` bug
  .changelog/26257.txt
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, size/XL, tests, service/dynamodb

#26272 Update release.yml
  .github/workflows/release.yml
Labels: size/XS, repository, github_actions

#26277 add goreleaser arg to change default parallelism
  .github/workflows/release.yml
Labels: size/XS, repository, github_actions

#26283 aws_chime_voice_connector_logging - Enable Media Metrics Logging
  .changelog/26283.txt
  internal/service/chime/voice_connector_logging.go
  internal/service/chime/voice_connector_logging_test.go
  website/docs/r/chime_voice_connector_logging.html.markdown
Labels: documentation, size/S, tests, service/chime

#26289 AppFlow trigger start date being incorrectly set
  .changelog/26289.txt
  CHANGELOG.md
  internal/service/appflow/flow.go
  internal/service/appflow/flow_test.go
Labels: bug, documentation, size/M, tests, provider, service/appflow

#26286 r/aws_db_instance: Don't call `ModifyDBInstance` when just `final_snapshot_identifier` is changed
  .changelog/26286.txt
  internal/service/rds/find.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
Labels: bug, regression, size/L, tests, service/rds

#26303 skaff: Run `go mod tidy`
  skaff/go.mod
  skaff/go.sum
Labels: size/S, skaff

#26287 sweeper/aws_ecs_service: No longer fails silently on error
  internal/service/ecs/sweep.go
Labels: size/M, service/ecs, sweeper

#26224 linting: Updates `terrafmt` to `v0.5.1`
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: size/M, linter

#26284 d/aws_networkfirewall_firewall: new attributes
  .changelog/26284.txt
  internal/service/networkfirewall/firewall_data_source.go
  internal/service/networkfirewall/firewall_data_source_test.go
  website/docs/d/networkfirewall_firewall.html.markdown
Labels: enhancement, documentation, size/M, tests, service/networkfirewall

#26281 aws_acm_certificate - Add validity dates
  .changelog/26281.txt
  internal/service/acm/certificate.go
  internal/service/acm/certificate_test.go
  website/docs/r/acm_certificate.html.markdown
Labels: documentation, size/M, tests, service/acm

#26323 Correct typo in AWS Glue Job documentation
  website/docs/r/glue_job.html.markdown
Labels: documentation, size/XS, service/glue

#26331 Correct CHANGELOG entry
  .changelog/26284.txt
Labels: size/XS

#26109 Add missing attribute to iam policy data source docs
  website/docs/d/iam_policy.html.markdown
Labels: documentation, size/XS, service/iam, needs-triage

#26325 cloudwatch_log_subscription_filter: better filter_pattern description
  website/docs/r/cloudwatch_log_subscription_filter.html.markdown
Labels: documentation, size/XS, needs-triage, service/logs

#26318 fix secondary_sources.source_identifer doc
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, size/XS, service/codebuild, needs-triage

#26227 New Resources: r/`aws_networkmanager_vpc_attachment` & r/`aws_networkmanager_attachment_acceptor`
  .changelog/26227.txt
  internal/provider/provider.go
  internal/service/networkmanager/attachment_accepter.go
  internal/service/networkmanager/vpc_attachment.go
  internal/service/networkmanager/vpc_attachment_test.go
  website/docs/r/networkmanager_attachment_accepter.html.markdown
  website/docs/r/networkmanager_vpc_attachment.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/networkmanager

#26336 docs: Update readme
  README.md
  docs/README.md
Labels: documentation, size/S, provider

#26278 r/aws_opsworks_stack: Use correct region when updating tags
  .changelog/26278.txt
  go.mod
  go.sum
  internal/acctest/acctest.go
  internal/service/opsworks/consts.go
  internal/service/opsworks/custom_layer.go
  internal/service/opsworks/custom_layer_test.go
  internal/service/opsworks/ecs_cluster_layer_test.go
  internal/service/opsworks/ganglia_layer.go
  internal/service/opsworks/ganglia_layer_test.go
  internal/service/opsworks/haproxy_layer.go
  internal/service/opsworks/haproxy_layer_test.go
  internal/service/opsworks/java_app_layer.go
  internal/service/opsworks/java_app_layer_test.go
  internal/service/opsworks/layers.go
  internal/service/opsworks/layers_test.go
  internal/service/opsworks/memcached_layer_test.go
  internal/service/opsworks/mysql_layer_test.go
  internal/service/opsworks/nodejs_app_layer_test.go
  internal/service/opsworks/php_app_layer_test.go
  internal/service/opsworks/rails_app_layer.go
  internal/service/opsworks/rails_app_layer_test.go
  internal/service/opsworks/rds_db_instance.go
  internal/service/opsworks/rds_db_instance_test.go
  internal/service/opsworks/stack.go
  internal/service/opsworks/stack_test.go
  internal/service/opsworks/static_web_layer_test.go
Labels: size/XL, tests, service/opsworks

#26320 Add `ip_address_type` support to elbv2 target group
  .changelog/26320.txt
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_test.go
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, size/M, tests, service/elbv2

#26348 d/github/pr: fix faq & contrib guide links in the PR workflow
  .github/workflows/pull_requests.yml
Labels: size/XS, needs-triage, repository, github_actions

#25684 Add support for AWS MSK serverless cluster type
  .changelog/25684.txt
  internal/provider/provider.go
  internal/service/kafka/cluster.go
  internal/service/kafka/cluster_test.go
  internal/service/kafka/find.go
  internal/service/kafka/generate.go
  internal/service/kafka/serverless_cluster.go
  internal/service/kafka/serverless_cluster_test.go
  internal/service/kafka/status.go
  internal/service/kafka/sweep.go
  internal/service/kafka/tags_gen.go
  internal/service/kafka/wait.go
  website/docs/d/msk_cluster.html.markdown
  website/docs/r/msk_cluster.html.markdown
  website/docs/r/msk_serverless_cluster.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, provider, service/kafka, sweeper, tags, generators

#26334 inspector: Add support for SNS subscriptions
  .changelog/26334.txt
  internal/service/inspector/assessment_template.go
  internal/service/inspector/assessment_template_test.go
  internal/service/inspector/find.go
  website/docs/r/inspector_assessment_template.html.markdown
Labels: documentation, size/XL, tests, service/inspector

#26368 Add a note that changing resource attributes will stop the task
  website/docs/r/dms_replication_task.html.markdown
Labels: documentation, size/XS, needs-triage, service/dms

#26360 Remove services from acceptance tests in CI
  .teamcity/components/generated/services_all.kt
  internal/generate/teamcity/main.go
Labels: size/XS, tests, generators

#26366 Fix link to "how to contribute" page in DMS docs
  internal/service/dms/README.md
Labels: documentation, size/XS, needs-triage, service/dms

#26254 Documentation: Fix deprecations section typo
  docs/changelog-process.md
Labels: documentation, size/XS, needs-triage

#26265 Updates documentation on fmc_policy resource
  website/docs/r/fms_policy.html.markdown
Labels: documentation, size/XS, service/fms

#25267 docs(route53_record): add references to block descriptions
  website/docs/r/route53_record.html.markdown
Labels: documentation, size/XS, service/route53

#26405 skaff: Use snake name in data source website docs
  skaff/datasource/websitedoc.tmpl
Labels: documentation, size/XS, skaff

#26407 Add support for python_version 3.9 in aws_glue_job
  .changelog/26407.txt
  internal/service/glue/job.go
  internal/service/glue/job_test.go
  website/docs/r/glue_job.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/glue

#26308 fix(ec2_eip): Fix default tags not set, #25567
  .changelog/26308.txt
  internal/service/ec2/ec2_eip.go
Labels: bug, size/XS, service/ec2

#25286 New resource: `aws_grafana_workspace_api_key`
  .changelog/25286.txt
  internal/provider/provider.go
  internal/service/grafana/workspace_api_key.go
  internal/service/grafana/workspace_api_key_test.go
  internal/service/grafana/workspace_test.go
  website/docs/r/grafana_workspace_api_key.html.markdown
Labels: documentation, new-resource, size/L, tests, provider, service/grafana

#26445 Redshift Serverless doc typo correction
  website/docs/r/redshiftserverless_namespace.html.markdown
Labels: documentation, size/XS, service/redshiftserverless

#26402 Remove erroneous reference to `aws_imagebuilder_distribution_configuration.kms_key_id` argument
  website/docs/r/imagebuilder_distribution_configuration.html.markdown
Labels: documentation, size/XS, service/imagebuilder

#23532 r/aws_ec2_network_insights_analysis - new resource
  .changelog/23532.txt
  internal/provider/provider.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/vpc_network_insights_analysis.go
  internal/service/ec2/vpc_network_insights_analysis_data_source.go
  internal/service/ec2/vpc_network_insights_analysis_data_source_test.go
  internal/service/ec2/vpc_network_insights_analysis_test.go
  internal/service/ec2/vpc_network_insights_path.go
  internal/service/ec2/vpc_network_insights_path_data_source.go
  internal/service/ec2/vpc_network_insights_path_data_source_test.go
  internal/service/ec2/vpc_network_insights_path_test.go
  internal/service/ec2/wait.go
  website/docs/d/ec2_network_insights_analysis.html.markdown
  website/docs/d/ec2_network_insights_path.html.markdown
  website/docs/r/ec2_network_insights_analysis.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, provider, service/vpc

#26456 r/aws_organizations_policy: Handle `content` as generic JSON
  .changelog/26279.txt
  internal/service/organizations/policy.go
Labels: size/XS, service/organizations

#26457 skaff: Improve Required, Computed, Optional explanation
  skaff/resource/resource.tmpl
Labels: size/S, skaff

#26451 fix: Tag changes do not cause updates to firehose destinations
  .changelog/26451.txt
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
Labels: bug, size/L, tests, service/firehose

#26454 appstream_fleet: Fix empty domain_join bug
  .changelog/26454.txt
  .ci/.tflint.hcl
  .github/workflows/acctest-terraform-lint.yml
  internal/service/appstream/fleet.go
  internal/service/appstream/fleet_test.go
Labels: size/L, tests, service/appstream, linter, repository, github_actions

#26427 EC2-Classic retirement phase 1: Resource and attribute deprecation
  .changelog/26427.txt
  internal/service/autoscaling/launch_configuration.go
  internal/service/ec2/vpc_.go
  internal/service/ec2/vpc_peering_connection.go
  internal/service/elasticache/cluster.go
  internal/service/elasticache/security_group.go
  internal/service/rds/instance.go
  internal/service/rds/security_group.go
  internal/service/redshift/cluster.go
  internal/service/redshift/security_group.go
  website/docs/r/db_security_group.html.markdown
  website/docs/r/elasticache_security_group.html.markdown
  website/docs/r/redshift_security_group.html.markdown
Labels: documentation, size/M, service/rds, service/redshift, service/autoscaling, service/elasticache, service/vpc

#26469 Clarify valid values for `aws_elb.access_logs.interval`
  website/docs/r/elb.html.markdown
Labels: documentation, size/XS, service/elb

#26468 Correct spelling of argument in example of `aws_accessanalyzer_archive_rule`
  website/docs/r/accessanalyzer_archive_rule.html.markdown
Labels: documentation, size/XS, service/accessanalyzer

#26467 add redshiftserverless workgroup resource
  .changelog/26467.txt
  .ci/.semgrep-caps-aws-ec2.yml
  GNUmakefile
  internal/generate/servicesemgrep/cae.tmpl
  internal/generate/servicesemgrep/main.go
  internal/generate/servicesemgrep/service.tmpl
  internal/provider/provider.go
  internal/service/redshiftserverless/find.go
  internal/service/redshiftserverless/namespace.go
  internal/service/redshiftserverless/status.go
  internal/service/redshiftserverless/wait.go
  internal/service/redshiftserverless/workgroup.go
  internal/service/redshiftserverless/workgroup_test.go
  names/caps.csv
  names/caps.md
  website/docs/r/redshiftserverless_workgroup.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, repository, generators, service/redshiftserverless

#26264 New resource `aws_ec2_transit_gateway_policy_table` and `aws_ec2_transit_gateway_policy_table_association`
  .changelog/26264.txt
  internal/provider/provider.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/transitgateway_attachment_data_source.go
  internal/service/ec2/transitgateway_attachment_data_source_test.go
  internal/service/ec2/transitgateway_data_source_test.go
  internal/service/ec2/transitgateway_policy_table.go
  internal/service/ec2/transitgateway_policy_table_association.go
  internal/service/ec2/transitgateway_policy_table_association_test.go
  internal/service/ec2/transitgateway_policy_table_test.go
  internal/service/ec2/transitgateway_test.go
  internal/service/ec2/wait.go
  internal/service/networkmanager/core_network.go
  internal/service/networkmanager/sweep.go
  internal/service/networkmanager/transit_gateway_peering.go
  internal/service/networkmanager/transit_gateway_peering_test.go
  internal/service/networkmanager/transit_gateway_route_table_attachment.go
  internal/service/networkmanager/transit_gateway_route_table_attachment_test.go
  internal/service/networkmanager/vpc_attachment.go
  website/docs/d/ec2_transit_gateway_attachment.html.markdown
  website/docs/r/ec2_transit_gateway_policy_table.html.markdown
  website/docs/r/ec2_transit_gateway_policy_table_association.html.markdown
  website/docs/r/networkmanager_transit_gateway_peering.html.markdown
  website/docs/r/networkmanager_transit_gateway_route_table_attachment.html.markdown
  website/docs/r/networkmanager_vpc_attachment.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, provider, service/networkmanager, sweeper, service/transitgateway

#26465 r/aws_kendra_index - document_metadata_configuration_updates
  .changelog/20294.txt
  internal/flex/flex.go
  internal/service/kendra/index.go
  internal/service/kendra/index_test.go
  website/docs/r/kendra_index.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/kendra, flex

#26185 feat(rds): add support for IPV6 for RDS subnet groups #24822
  .changelog/26185.txt
  internal/acctest/acctest.go
  internal/service/rds/consts.go
  internal/service/rds/find.go
  internal/service/rds/instance.go
  internal/service/rds/instance_data_source.go
  internal/service/rds/instance_data_source_test.go
  internal/service/rds/instance_test.go
  internal/service/rds/orderable_instance_data_source.go
  internal/service/rds/subnet_group.go
  internal/service/rds/subnet_group_data_source.go
  internal/service/rds/subnet_group_data_source_test.go
  internal/service/rds/subnet_group_test.go
  website/docs/d/db_instance.html.markdown
  website/docs/d/db_subnet_group.html.markdown
  website/docs/d/rds_orderable_db_instance.markdown
  website/docs/r/db_instance.html.markdown
  website/docs/r/db_subnet_group.html.markdown
Labels: documentation, size/XL, tests, service/rds

#26500 update to custom runner and set parallelism
  .github/workflows/release.yml
Labels: size/XS, repository, github_actions

#26493 feat: add target_capacity_unit_type to ec2_fleet and ec2_spot_fleet_request resources
  .changelog/26493.txt
  internal/service/ec2/ec2_fleet.go
  internal/service/ec2/ec2_fleet_test.go
  internal/service/ec2/ec2_spot_fleet_request.go
  internal/service/ec2/ec2_spot_fleet_request_test.go
  internal/service/ec2/status.go
  internal/service/ec2/wait.go
  website/docs/r/ec2_fleet.html.markdown
  website/docs/r/spot_fleet_request.html.markdown
Labels: documentation, size/XL, tests, service/ec2

#26411 aws_dms_endpoint redis target settings bug fix
  .changelog/26411.txt
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: enhancement, documentation, size/L, tests, service/dms

#26473 d/aws_location_tracker_association: remove unnecessary ForceNew
  internal/service/location/tracker_association_data_source.go
Labels: enhancement, size/XS, service/location

#26472 d/aws_location_tracker_associations: new data source
  .changelog/26472.txt
  internal/provider/provider.go
  internal/service/location/tracker_associations_data_source.go
  internal/service/location/tracker_associations_data_source_test.go
  website/docs/d/location_tracker_associations.html.markdown
Labels: documentation, new-data-source, size/L, tests, provider, service/location

#25845 Add cookie match_pattern attribute to aws_wafv2_web_acl
  .changelog/25845.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/rule_group_test.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/L, tests, service/wafv2

#26507 fix: add missing rds states
  internal/service/rds/consts.go
Labels: enhancement, size/S, service/rds

#26510 r/aws_cloudfront_distribution: add origin_access_control_id attribute
  .changelog/26510.txt
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_configuration_structure.go
  internal/service/cloudfront/distribution_test.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/M, tests, service/cloudfront

#26503 opensearch/domain: Allow fine-grained access control to be enabled
  .changelog/26503.txt
  internal/service/elasticsearch/domain_data_source_test.go
  internal/service/elasticsearch/domain_test.go
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_structure.go
  internal/service/opensearch/domain_test.go
  website/docs/r/opensearch_domain.html.markdown
Labels: documentation, size/XL, tests, service/opensearch

#26524 r/aws_ram_resource_share: Add sweeper
  internal/service/ram/resource_share.go
  internal/service/ram/sweep.go
  internal/sweep/sweep_test.go
Labels: size/M, tests, service/ram, sweeper

#26526 sweeper/aws_location_tracker_association: new sweeper
  internal/service/location/sweep.go
Labels: size/M, service/location, sweeper

#26527 r/aws_ecs_task_definition: document skip_destroy argument
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, size/XS, service/ecs

#26514 d/ec2_managed_prefix_list_entry - updated example
  website/docs/r/ec2_managed_prefix_list_entry.html.markdown
Labels: documentation, size/XS, service/vpc

#26495 sweepers/aws_kendra_index
  internal/service/kendra/sweep.go
  internal/sweep/sweep_test.go
Labels: size/M, tests, service/kendra, sweeper

#26532 ec2/instance: Dedicated host resource group compatibility
  .changelog/26532.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_data_source.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/ec2_instances_data_source_test.go
  website/docs/d/instance.html.markdown
  website/docs/r/instance.html.markdown
Labels: documentation, size/XL, tests, service/ec2

#26551 Correct `scaling_config` and `update_config` values in `aws_eks_node_group` docs
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, size/XS, service/eks

#26482 fix: update aws_autoscaling_group documentation for termination policies
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#26476 fix example does not use data ecs_tasks_definition doc
  website/docs/d/ecs_task_definition.html.markdown
Labels: documentation, size/XS, service/ecs

#24772 Support json body matching in wafv2 byte match rule
  .changelog/24772.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/rule_group_test.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/wafv2

#26574 Run `go mod tidy`
  go.sum
Labels: size/XS

#26553 vpc/security_group: Fix complex dependency violations
  .changelog/26553.txt
  GNUmakefile
  internal/service/ec2/errors.go
  internal/service/ec2/vpc_default_security_group.go
  internal/service/ec2/vpc_default_security_group_test.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/vpc_security_group_rule.go
  internal/service/ec2/vpc_security_group_rule_test.go
  internal/service/ec2/vpc_security_group_test.go
  website/docs/r/default_security_group.html.markdown
  website/docs/r/security_group.html.markdown
Labels: documentation, size/XL, tests, repository, service/vpc
