Repository hashicorp/terraform-provider-aws, pull requests merged in 2023-04, with the labels that each got.

#30397 Add VPCLattice client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/provider/service_packages_gen.go
  internal/service/vpclattice/service_package_gen.go
  internal/service/vpclattice/tags.go
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XL, provider, repository, client-connections, generators, github_actions

#30401 New DataSources - `aws_oam_link` and `aws_oam_links`
  .changelog/30401.txt
  internal/service/oam/link_data_source.go
  internal/service/oam/link_data_source_test.go
  internal/service/oam/links_data_source.go
  internal/service/oam/links_data_source_test.go
  internal/service/oam/service_package_gen.go
  website/docs/d/oam_link.html.markdown
  website/docs/d/oam_links.html.markdown
Labels: documentation, new-data-source, size/XL, tests, generators, partner, service/oam

#30400 New resource aws_quicksight_folder
  .changelog/30400.txt
  internal/service/quicksight/data_set.go
  internal/service/quicksight/data_set_test.go
  internal/service/quicksight/data_source.go
  internal/service/quicksight/data_source_test.go
  internal/service/quicksight/flex.go
  internal/service/quicksight/flex_test.go
  internal/service/quicksight/folder.go
  internal/service/quicksight/folder_test.go
  internal/service/quicksight/service_package_gen.go
  website/docs/r/quicksight_folder.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/quicksight, generators

#30417 Tech debt: Reduce `tags` boilerplate code - Plugin Framework resources `w*` and `x*` (Phase 3c)
  internal/service/waf/rate_based_rule.go
  internal/service/waf/rule.go
  internal/service/waf/rule_group.go
  internal/service/waf/service_package_gen.go
  internal/service/waf/web_acl.go
  internal/service/wafregional/rate_based_rule.go
  internal/service/wafregional/rule.go
  internal/service/wafregional/rule_group.go
  internal/service/wafregional/service_package_gen.go
  internal/service/wafregional/web_acl.go
  internal/service/wafv2/ip_set.go
  internal/service/wafv2/regex_pattern_set.go
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/service_package_gen.go
  internal/service/wafv2/web_acl.go
  internal/service/workspaces/directory.go
  internal/service/workspaces/ip_group.go
  internal/service/workspaces/service_package_gen.go
  internal/service/workspaces/workspace.go
  internal/service/xray/group.go
  internal/service/xray/sampling_rule.go
  internal/service/xray/service_package_gen.go
Labels: size/XL, service/waf, service/workspaces, service/xray, service/wafv2, service/wafregional, tags

#30247 Handle pending RDS engine version updates
  .changelog/30247.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_test.go
  internal/service/rds/engine_version_test.go
  internal/service/rds/instance.go
  internal/service/rds/verify.go
Labels: size/L, tests, service/rds

#30421 Tech debt: Reduce `tags` boilerplate code - Plugin Framework resources `t*` (Phase 3c)
  internal/service/timestreamwrite/database.go
  internal/service/timestreamwrite/service_package_gen.go
  internal/service/timestreamwrite/table.go
  internal/service/transcribe/language_model.go
  internal/service/transcribe/medical_vocabulary.go
  internal/service/transcribe/service_package_gen.go
  internal/service/transcribe/vocabulary.go
  internal/service/transcribe/vocabulary_filter.go
  internal/service/transfer/server.go
  internal/service/transfer/service_package_gen.go
  internal/service/transfer/user.go
  internal/service/transfer/workflow.go
  internal/tags/tags.go
Labels: size/XL, service/transfer, service/timestreamwrite, tags, generators, service/transcribe

#30359 New resource aws_quicksight_account_subscription
  .changelog/30359.txt
  internal/service/quicksight/account_subscription.go
  internal/service/quicksight/account_subscription_test.go
  internal/service/quicksight/quicksight_test.go
  internal/service/quicksight/service_package_gen.go
  website/docs/r/quicksight_account_subscription.html.markdown
  website/docs/r/quicksight_data_set.html.markdown
  website/docs/r/quicksight_data_source.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/quicksight, generators

#30418 Use session.NewSession instead of deprecated session.New
  .ci/.golangci2.yml
  internal/service/iam/user_login_profile_test.go
Labels: size/XS, tests, service/iam

#30425 add new attributes to secrets manager rotation rules
  .changelog/30425.txt
  internal/service/secretsmanager/secret.go
  internal/service/secretsmanager/secret_data_source.go
  internal/service/secretsmanager/secret_rotation.go
  internal/service/secretsmanager/secret_rotation_data_source.go
  internal/service/secretsmanager/secret_rotation_test.go
  website/docs/r/secretsmanager_secret_rotation.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/secretsmanager, partner

#30448 Debugging guide
  docs/debugging.md
  docs/images/breakpoints.png
  docs/images/debug-button.png
  docs/images/debug-controls.png
  docs/images/debug-gui.png
  docs/images/launch-json.png
  docs/index.md
  docs/running-and-writing-acceptance-tests.md
Labels: documentation, size/XL

#30116 aws_transcribe_vocabulary_filter - typo
  website/docs/r/transcribe_vocabulary_filter.html.markdown
Labels: documentation, size/XS, service/transcribe

#30450 [docs] Fix managed policy id
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/XS, service/cloudfront

#30458 Add string equality checks to dependencies and changelog actions.
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
Labels: size/XS, repository, github_actions

#30463 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `b*` (Phase 3c)
  internal/service/backup/framework.go
  internal/service/backup/plan.go
  internal/service/backup/report_plan.go
  internal/service/backup/service_package_gen.go
  internal/service/backup/vault.go
  internal/service/batch/compute_environment.go
  internal/service/batch/job_definition.go
  internal/service/batch/job_queue.go
  internal/service/batch/scheduling_policy.go
  internal/service/batch/service_package_gen.go
Labels: size/XL, service/batch, service/backup, generators

#28921 Added resource: `aws_inspector2_member_association`
  .changelog/28921.txt
  internal/service/inspector2/delegated_admin_account_test.go
  internal/service/inspector2/enabler_test.go
  internal/service/inspector2/inspector2_test.go
  internal/service/inspector2/member_association.go
  internal/service/inspector2/member_association_test.go
  internal/service/inspector2/organization_configuration_test.go
  internal/service/inspector2/service_package_gen.go
  website/docs/r/inspector2_member_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/inspector2

#30461 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `r*` (Phase 3c)
  internal/service/ram/resource_share.go
  internal/service/ram/service_package_gen.go
  internal/service/rbin/rule.go
  internal/service/rbin/service_package_gen.go
  internal/service/rds/cluster.go
  internal/service/rds/cluster_endpoint.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_parameter_group.go
  internal/service/rds/cluster_snapshot.go
  internal/service/rds/cluster_test.go
  internal/service/rds/event_subscription.go
  internal/service/rds/instance.go
  internal/service/rds/option_group.go
  internal/service/rds/parameter_group.go
  internal/service/rds/proxy.go
  internal/service/rds/proxy_data_source.go
  internal/service/rds/proxy_endpoint.go
  internal/service/rds/reserved_instance.go
  internal/service/rds/security_group.go
  internal/service/rds/service_package_gen.go
  internal/service/rds/snapshot.go
  internal/service/rds/snapshot_copy.go
  internal/service/rds/subnet_group.go
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_snapshot.go
  internal/service/redshift/event_subscription.go
  internal/service/redshift/hsm_client_certificate.go
  internal/service/redshift/hsm_configuration.go
  internal/service/redshift/parameter_group.go
  internal/service/redshift/service_package_gen.go
  internal/service/redshift/snapshot_copy_grant.go
  internal/service/redshift/snapshot_schedule.go
  internal/service/redshift/subnet_group.go
  internal/service/redshift/usage_limit.go
  internal/service/redshiftserverless/namespace.go
  internal/service/redshiftserverless/service_package_gen.go
  internal/service/redshiftserverless/workgroup.go
  internal/service/resourcegroups/group.go
  internal/service/resourcegroups/service_package_gen.go
  internal/service/rolesanywhere/profile.go
  internal/service/rolesanywhere/service_package_gen.go
  internal/service/rolesanywhere/trust_anchor.go
  internal/service/route53recoveryreadiness/cell.go
  internal/service/route53recoveryreadiness/readiness_check.go
  internal/service/route53recoveryreadiness/recovery_group.go
  internal/service/route53recoveryreadiness/resource_set.go
  internal/service/route53recoveryreadiness/service_package_gen.go
  internal/service/route53resolver/endpoint.go
  internal/service/route53resolver/firewall_domain_list.go
  internal/service/route53resolver/firewall_rule_group.go
  internal/service/route53resolver/firewall_rule_group_association.go
  internal/service/route53resolver/query_log_config.go
  internal/service/route53resolver/rule.go
  internal/service/route53resolver/service_package_gen.go
  internal/service/rum/app_monitor.go
  internal/service/rum/service_package_gen.go
Labels: size/XL, tests, service/rds, service/redshift, service/resourcegroups, service/ram, service/route53resolver, service/route53recoveryreadiness, generators, service/rum, service/rbin, service/redshiftserverless, service/rolesanywhere

#30429 Add VPC Lattice Service resource
  .changelog/30429.txt
  internal/service/vpclattice/generate.go
  internal/service/vpclattice/service.go
  internal/service/vpclattice/service_package_gen.go
  internal/service/vpclattice/service_test.go
  internal/service/vpclattice/tags_gen.go
  names/names.go
  website/docs/r/vpclattice_service.html.markdown
Labels: documentation, new-resource, size/XL, tests, tags, generators, service/vpclattice

#30224 [HF] certficate_mode -> certificate_mode
  .changelog/30224.txt
  internal/service/medialive/channel_encoder_settings_schema.go
Labels: bug, size/XS, service/medialive

#30445 Replace Service IDs of endpoints package
  .ci/.golangci2.yml
  internal/service/meta/region_data_source.go
  internal/service/rds/global_cluster.go
  internal/service/s3/bucket.go
Labels: size/XS, service/s3, service/rds, service/meta

#30459 Fixes "inconsistent result" errors with empty `Set` values
  internal/flex/framework.go
  internal/framework/flex/flex.go
  internal/service/cognitoidp/managed_user_pool_client.go
  internal/service/cognitoidp/managed_user_pool_client_test.go
  internal/service/cognitoidp/user_pool_client.go
  internal/service/cognitoidp/user_pool_client_test.go
Labels: size/XL

#30485 Remove unecessary maintainer_list secret and add dependabot as a maintainer
  infrastructure/repository/community.tf
Labels: size/XS, repository

#30482 Add VPCLatticeServiceNetwork resource
  .changelog/35969.txt
  internal/service/vpclattice/service_network.go
  internal/service/vpclattice/service_network_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_service_network.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/vpclattice

#30486 Seperate changelog misspell action
  .github/workflows/changelog.yml
  .github/workflows/changelog_misspell.yml
Labels: size/S, repository, github_actions

#30484 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `o*` (Phase 3c)
  internal/service/oam/link.go
  internal/service/oam/service_package_gen.go
  internal/service/oam/sink.go
  internal/service/opensearch/domain.go
  internal/service/opensearch/service_package_gen.go
  internal/service/opsworks/custom_layer.go
  internal/service/opsworks/ecs_cluster_layer.go
  internal/service/opsworks/ganglia_layer.go
  internal/service/opsworks/haproxy_layer.go
  internal/service/opsworks/java_app_layer.go
  internal/service/opsworks/layers.go
  internal/service/opsworks/memcached_layer.go
  internal/service/opsworks/mysql_layer.go
  internal/service/opsworks/nodejs_app_layer.go
  internal/service/opsworks/php_app_layer.go
  internal/service/opsworks/rails_app_layer.go
  internal/service/opsworks/service_package_gen.go
  internal/service/opsworks/stack.go
  internal/service/opsworks/stack_test.go
  internal/service/opsworks/static_web_layer.go
  internal/service/organizations/account.go
  internal/service/organizations/organizational_unit.go
  internal/service/organizations/policy.go
  internal/service/organizations/service_package_gen.go
Labels: size/XL, tests, service/opsworks, service/organizations, generators, service/opensearch, service/oam

#30398 Emrserverless add image configuration
  .changelog/30398.txt
  internal/service/emrserverless/application.go
  internal/service/emrserverless/application_test.go
  internal/service/imagebuilder/container_recipe.go
  internal/service/imagebuilder/container_recipe_test.go
  website/docs/r/emrserverless_application.markdown
  website/docs/r/imagebuilder_container_recipe.html.markdown
Labels: documentation, size/XL, tests, service/imagebuilder, service/emrserverless

#30491 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `n*` (Phase 3c)
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_endpoint.go
  internal/service/neptune/cluster_instance.go
  internal/service/neptune/cluster_parameter_group.go
  internal/service/neptune/event_subscription.go
  internal/service/neptune/parameter_group.go
  internal/service/neptune/service_package_gen.go
  internal/service/neptune/subnet_group.go
  internal/service/networkfirewall/firewall.go
  internal/service/networkfirewall/firewall_policy.go
  internal/service/networkfirewall/rule_group.go
  internal/service/networkfirewall/service_package_gen.go
  internal/service/networkmanager/connect_attachment.go
  internal/service/networkmanager/connect_peer.go
  internal/service/networkmanager/connection.go
  internal/service/networkmanager/core_network.go
  internal/service/networkmanager/device.go
  internal/service/networkmanager/global_network.go
  internal/service/networkmanager/link.go
  internal/service/networkmanager/service_package_gen.go
  internal/service/networkmanager/site.go
  internal/service/networkmanager/site_to_site_vpn_attachment.go
  internal/service/networkmanager/transit_gateway_peering.go
  internal/service/networkmanager/transit_gateway_route_table_attachment.go
  internal/service/networkmanager/vpc_attachment.go
Labels: size/XL, service/neptune, service/networkmanager, service/networkfirewall, generators

#30490 Add VPCLattice Service data source
  .changelog/30490.txt
  internal/service/vpclattice/service_data_source.go
  internal/service/vpclattice/service_data_source_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/d/vpclattice_service.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, service/vpclattice

#30509 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `d*` (Phase 3c)
  internal/service/dataexchange/data_set.go
  internal/service/dataexchange/revision.go
  internal/service/dataexchange/service_package_gen.go
  internal/service/datapipeline/pipeline.go
  internal/service/datapipeline/service_package_gen.go
  internal/service/datasync/agent.go
  internal/service/datasync/location_efs.go
  internal/service/datasync/location_fsx_lustre_file_system.go
  internal/service/datasync/location_fsx_openzfs_file_system.go
  internal/service/datasync/location_fsx_windows_file_system.go
  internal/service/datasync/location_hdfs.go
  internal/service/datasync/location_nfs.go
  internal/service/datasync/location_object_storage.go
  internal/service/datasync/location_s3.go
  internal/service/datasync/location_smb.go
  internal/service/datasync/service_package_gen.go
  internal/service/datasync/task.go
  internal/service/dax/cluster.go
  internal/service/dax/service_package_gen.go
  internal/service/deploy/app.go
  internal/service/deploy/deployment_group.go
  internal/service/deploy/service_package_gen.go
  internal/service/detective/graph.go
  internal/service/detective/service_package_gen.go
  internal/service/devicefarm/device_pool.go
  internal/service/devicefarm/instance_profile.go
  internal/service/devicefarm/network_profile.go
  internal/service/devicefarm/project.go
  internal/service/devicefarm/service_package_gen.go
  internal/service/devicefarm/test_grid_project.go
  internal/service/directconnect/connection.go
  internal/service/directconnect/hosted_private_virtual_interface_accepter.go
  internal/service/directconnect/hosted_public_virtual_interface_accepter.go
  internal/service/directconnect/hosted_transit_virtual_interface_accepter.go
  internal/service/directconnect/lag.go
  internal/service/directconnect/private_virtual_interface.go
  internal/service/directconnect/public_virtual_interface.go
  internal/service/directconnect/service_package_gen.go
  internal/service/directconnect/transit_virtual_interface.go
  internal/service/directconnect/vif.go
  internal/service/dlm/lifecycle_policy.go
  internal/service/dlm/service_package_gen.go
  internal/service/dms/certificate.go
  internal/service/dms/endpoint.go
  internal/service/dms/event_subscription.go
  internal/service/dms/replication_instance.go
  internal/service/dms/replication_subnet_group.go
  internal/service/dms/replication_task.go
  internal/service/dms/s3_endpoint.go
  internal/service/dms/service_package_gen.go
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_instance.go
  internal/service/docdb/cluster_parameter_group.go
  internal/service/docdb/event_subscription.go
  internal/service/docdb/service_package_gen.go
  internal/service/docdb/subnet_group.go
  internal/service/ds/directory.go
  internal/service/ds/service_package_gen.go
Labels: size/XL, service/dax, service/directconnect, service/devicefarm, service/dlm, service/datapipeline, service/datasync, service/docdb, service/dataexchange, service/detective, generators, service/ds, service/deploy, service/dms

#30510 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `m*` (Phase 3c)
  internal/service/macie2/classification_job.go
  internal/service/macie2/custom_data_identifier.go
  internal/service/macie2/findings_filter.go
  internal/service/macie2/member.go
  internal/service/macie2/service_package_gen.go
  internal/service/mediaconvert/queue.go
  internal/service/mediaconvert/service_package_gen.go
  internal/service/medialive/channel.go
  internal/service/medialive/input.go
  internal/service/medialive/input_security_group.go
  internal/service/medialive/multiplex.go
  internal/service/medialive/service_package_gen.go
  internal/service/mediapackage/channel.go
  internal/service/mediapackage/service_package_gen.go
  internal/service/mediastore/container.go
  internal/service/mediastore/service_package_gen.go
  internal/service/memorydb/acl.go
  internal/service/memorydb/cluster.go
  internal/service/memorydb/parameter_group.go
  internal/service/memorydb/service_package_gen.go
  internal/service/memorydb/snapshot.go
  internal/service/memorydb/subnet_group.go
  internal/service/memorydb/user.go
  internal/service/mq/broker.go
  internal/service/mq/configuration.go
  internal/service/mq/service_package_gen.go
  internal/service/mwaa/environment.go
  internal/service/mwaa/service_package_gen.go
Labels: size/XL, service/mediaconvert, service/medialive, service/mq, service/mediastore, service/mediapackage, service/macie2, service/mwaa, service/memorydb, generators

#30496 Improves validation for `aws_cognito_user_pool_client` and `aws_cognito_managed_user_pool_client`
  internal/service/cognitoidp/managed_user_pool_client.go
  internal/service/cognitoidp/managed_user_pool_client_test.go
  internal/service/cognitoidp/user_pool_client.go
  internal/service/cognitoidp/user_pool_client_test.go
  website/docs/r/cognito_managed_user_pool_client.html.markdown
  website/docs/r/cognito_user_pool_client.html.markdown
Labels: documentation, size/XL, tests, service/cognitoidp

#30512 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `l*` (Phase 3c)
  internal/service/lambda/function.go
  internal/service/lambda/service_package_gen.go
  internal/service/licensemanager/license_configuration.go
  internal/service/licensemanager/service_package_gen.go
  internal/service/lightsail/bucket.go
  internal/service/lightsail/certificate.go
  internal/service/lightsail/container_service.go
  internal/service/lightsail/database.go
  internal/service/lightsail/disk.go
  internal/service/lightsail/distribution.go
  internal/service/lightsail/instance.go
  internal/service/lightsail/lb.go
  internal/service/lightsail/service_package_gen.go
  internal/service/location/geofence_collection.go
  internal/service/location/map.go
  internal/service/location/place_index.go
  internal/service/location/route_calculator.go
  internal/service/location/service_package_gen.go
  internal/service/location/tracker.go
Labels: size/XL, service/lambda, service/lightsail, service/licensemanager, service/location, generators

#30514 Sweepers: Add Custom Routing Accelerator and VPC Lattice sweepers
  internal/service/globalaccelerator/sweep.go
  internal/service/vpclattice/service.go
  internal/service/vpclattice/service_network.go
  internal/service/vpclattice/sweep.go
  internal/sweep/sweep_test.go
Labels: size/XL, tests, service/globalaccelerator, sweeper, service/vpclattice

#30515 VPC: Ignore route table routes managed by VPC Lattice
  .changelog/30515.txt
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_default_route_table.go
  internal/service/ec2/vpc_route_table.go
  internal/service/ec2/vpc_route_table_data_source.go
Labels: enhancement, size/XS, sweeper, service/vpc

#30513 [TechDebt]: S3 default security settings documentation updates
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_acl.html.markdown
Labels: documentation, size/XL, service/s3

#30522 servicecat/prov_product: Allow for TAINTED
  .changelog/30522.txt
  internal/service/servicecatalog/provisioned_product_test.go
  internal/service/servicecatalog/wait.go
  website/docs/r/servicecatalog_provisioned_product.html.markdown
Labels: documentation, size/S, tests, service/servicecatalog

#30508 New resource: `aws_vpclattice_service_network_service_association`
  .changelog/30410.txt
  internal/service/vpclattice/service_network_service_association.go
  internal/service/vpclattice/service_network_service_association_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_service_network_service_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/vpclattice

#30516 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `k*` (Phase 3c)
  internal/service/kafka/cluster.go
  internal/service/kafka/serverless_cluster.go
  internal/service/kafka/service_package_gen.go
  internal/service/kendra/data_source.go
  internal/service/kendra/faq.go
  internal/service/kendra/index.go
  internal/service/kendra/query_suggestions_block_list.go
  internal/service/kendra/service_package_gen.go
  internal/service/kendra/thesaurus.go
  internal/service/keyspaces/keyspace.go
  internal/service/keyspaces/service_package_gen.go
  internal/service/keyspaces/table.go
  internal/service/kinesis/service_package_gen.go
  internal/service/kinesis/stream.go
  internal/service/kinesisanalytics/application.go
  internal/service/kinesisanalytics/service_package_gen.go
  internal/service/kinesisanalyticsv2/application.go
  internal/service/kinesisanalyticsv2/service_package_gen.go
  internal/service/kinesisvideo/service_package_gen.go
  internal/service/kinesisvideo/stream.go
Labels: size/XL, service/kinesis, service/kinesisvideo, service/kinesisanalytics, service/kinesisanalyticsv2, service/kafka, service/kendra, generators, service/keyspaces

#30517 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `i*` (Phase 3c)
  internal/service/imagebuilder/component.go
  internal/service/imagebuilder/container_recipe.go
  internal/service/imagebuilder/distribution_configuration.go
  internal/service/imagebuilder/image.go
  internal/service/imagebuilder/image_pipeline.go
  internal/service/imagebuilder/image_recipe.go
  internal/service/imagebuilder/infrastructure_configuration.go
  internal/service/imagebuilder/service_package_gen.go
  internal/service/iot/provisioning_template.go
  internal/service/iot/service_package_gen.go
  internal/service/iot/thing_group.go
  internal/service/iot/thing_type.go
  internal/service/iot/topic_rule.go
  internal/service/ivs/channel.go
  internal/service/ivs/playback_key_pair.go
  internal/service/ivs/recording_configuration.go
  internal/service/ivs/service_package_gen.go
  internal/service/ivschat/logging_configuration.go
  internal/service/ivschat/room.go
  internal/service/ivschat/service_package_gen.go
Labels: size/XL, service/iot, service/imagebuilder, service/ivs, generators, service/ivschat

#30518 Update wafv2_web_acl with ATP managed rule config
  .changelog/30518.txt
  CHANGELOG.md
  internal/service/wafv2/flex.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/XL, tests, provider, service/wafv2

#30535 r/aws_msk_serverless_cluster: `vpc_config.security_group_ids` is Computed
  .changelog/30535.txt
  internal/service/kafka/serverless_cluster.go
  internal/service/kafka/serverless_cluster_test.go
Labels: bug, size/XS, tests, service/kafka

#30537 r/aws_batch_compute_environment: Fix crash when `compute_resources.launch_template` is empty
  .changelog/30537.txt
  internal/service/batch/compute_environment.go
Labels: bug, crash, size/XS, service/batch

#30539 r/aws_launch_template: Fix crash when `instance_market_options.spot_options` is empty
  .changelog/30539.txt
  internal/service/ec2/ec2_launch_template.go
Labels: bug, crash, size/XS, service/ec2

#30498 Adding certificate_data_source to dms
  .changelog/30498.txt
  internal/service/dms/certificate_data_source.go
  internal/service/dms/certificate_data_source_test.go
  internal/service/dms/service_package_gen.go
  website/docs/d/dms_certificate.html.markdown
Labels: documentation, size/L, tests, generators, service/dms

#30534 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `f*` (Phase 3c)
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
  internal/service/firehose/service_package_gen.go
  internal/service/fis/experiment_template.go
  internal/service/fis/service_package_gen.go
  internal/service/fms/policy.go
  internal/service/fms/service_package_gen.go
  internal/service/fsx/backup.go
  internal/service/fsx/data_repository_association.go
  internal/service/fsx/data_repository_association_test.go
  internal/service/fsx/file_cache.go
  internal/service/fsx/file_cache_test.go
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/ontap_file_system.go
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/service/fsx/ontap_storage_virtual_machine_migrate.go
  internal/service/fsx/ontap_volume.go
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_snapshot.go
  internal/service/fsx/openzfs_volume.go
  internal/service/fsx/service_package_gen.go
  internal/service/fsx/windows_file_system.go
Labels: size/XL, tests, service/firehose, service/fms, service/fsx, generators, service/fis

#30487 New Resource: `aws_quicksight_ingestion`
  .changelog/30487.txt
  internal/service/quicksight/exports_test.go
  internal/service/quicksight/ingestion.go
  internal/service/quicksight/ingestion_test.go
  internal/service/quicksight/service_package_gen.go
  website/docs/r/quicksight_ingestion.html.markdown
Labels: documentation, size/XL, tests, service/quicksight, generators

#30552 Update default timeout for aws_ec2_client_vpn_route
  .changelog/30552.txt
  internal/service/ec2/vpnclient_route.go
  internal/service/ec2/wait.go
  website/docs/r/ec2_client_vpn_route.html.markdown
Labels: enhancement, documentation, size/XS, timeouts, service/vpnclient

#30538 New Resource: aws_pipes_pipe
  .changelog/30538.txt
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  internal/generate/servicesemgrep/service.tmpl
  internal/service/pipes/find.go
  internal/service/pipes/flex.go
  internal/service/pipes/generate.go
  internal/service/pipes/pipe.go
  internal/service/pipes/pipe_test.go
  internal/service/pipes/service_package_gen.go
  internal/service/pipes/status.go
  internal/service/pipes/sweep.go
  internal/service/pipes/tags_gen.go
  internal/service/pipes/wait.go
  internal/sweep/sweep_test.go
  website/docs/r/pipes_pipe.html.markdown
Labels: documentation, new-resource, size/XL, tests, sweeper, tags, generators, service/pipes

#30546 aws_nat_gateway: add association_id attribute to resource and data source
  .changelog/30546.txt
  internal/service/ec2/vpc_nat_gateway.go
  internal/service/ec2/vpc_nat_gateway_data_source.go
  internal/service/ec2/vpc_nat_gateway_data_source_test.go
  internal/service/ec2/vpc_nat_gateway_test.go
  website/docs/d/nat_gateway.html.markdown
  website/docs/r/nat_gateway.html.markdown
Labels: enhancement, documentation, size/S, tests, service/vpc

#30553 fix: enable_xff_client_port default is false
  website/docs/r/lb.html.markdown
Labels: documentation, size/XS, service/elbv2

#30590 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `kms` (Phase 3c)
  internal/service/kms/external_key.go
  internal/service/kms/key.go
  internal/service/kms/replica_external_key.go
  internal/service/kms/replica_key.go
  internal/service/kms/service_package_gen.go
  internal/service/kms/wait.go
Labels: size/L, service/kms, generators

#30589 [TechDebt]: S3 acceptance test default security settings refactor
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_data_source_test.go
  internal/service/s3/bucket_inventory_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_metric_test.go
  internal/service/s3/bucket_notification_test.go
  internal/service/s3/bucket_policy_test.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_versioning_test.go
  internal/service/s3/bucket_website_configuration_test.go
Labels: size/XL, tests, service/s3

#30549 Support startup scripts in MWAA
  .changelog/30549.txt
  internal/service/mwaa/environment.go
  internal/service/mwaa/environment_test.go
  website/docs/r/mwaa_environment.html.markdown
Labels: enhancement, documentation, size/S, tests, service/mwaa

#30595 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `route53domains` (Phase 3c)
  internal/service/route53domains/registered_domain.go
  internal/service/route53domains/service_package_gen.go
Labels: size/S, service/route53domains, generators

#30594 r/aws_s3_bucket_replication_configuration: fix check destroy panic
  internal/service/s3/bucket_replication_configuration_test.go
Labels: size/S, tests, service/s3

#30598 Add changelog
  .changelog/30536.txt
Labels: size/XS

#30599 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `dynamodb` (Phase 3c)
  internal/provider/intercept.go
  internal/service/dynamodb/service_package_gen.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_replica.go
Labels: size/M, service/dynamodb, provider, generators

#30588 17661: `cache_cluster_size` should be updated only if `cache_cluster_enabled` is true
  .changelog/22300.txt
  .changelog/30588.txt
  internal/conns/awsclient.go
  internal/service/apigateway/deployment.go
  internal/service/apigateway/deployment_test.go
  internal/service/apigateway/export_data_source_test.go
  internal/service/apigateway/find.go
  internal/service/apigateway/forge.go
  internal/service/apigateway/method_settings.go
  internal/service/apigateway/method_settings_test.go
  internal/service/apigateway/rest_api.go
  internal/service/apigateway/rest_api_test.go
  internal/service/apigateway/sdk_data_source_test.go
  internal/service/apigateway/stage.go
  internal/service/apigateway/stage_test.go
  internal/service/apigateway/status.go
  website/docs/r/api_gateway_rest_api.html.markdown
Labels: bug, documentation, size/XL, tests, service/apigateway, client-connections

#30641 Typo in ECS Service doc
  website/docs/r/ecs_service.html.markdown
Labels: documentation, size/XS, service/ecs, needs-triage

#30592 remove repo-specific codeql action, in favor of centralized job
  .github/workflows/codeql-analysis.yml
Labels: size/XS, needs-triage, repository, github_actions

#30150 Documentation correction for aws_iam_role_policy_attachment-fix
  website/docs/r/iam_role_policy_attachment.markdown
Labels: enhancement, documentation, size/XS, service/iam

#30653 New Resource: `aws_quicksight_iam_policy_assignment`
  .changelog/30653.txt
  internal/service/quicksight/exports_test.go
  internal/service/quicksight/iam_policy_assignment.go
  internal/service/quicksight/iam_policy_assignment_test.go
  internal/service/quicksight/service_package_gen.go
  website/docs/r/quicksight_iam_policy_assignment.html.markdown
Labels: documentation, size/XL, tests, service/quicksight, generators

#30602 [New Resource]: aws_vpclattice_target_group
  .changelog/30455.txt
  internal/service/vpclattice/service_package_gen.go
  internal/service/vpclattice/target_group.go
  internal/service/vpclattice/target_group_test.go
  website/docs/r/vpclattice_target_group.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/vpclattice

#30639 Tech debt: Reduce `tags` boilerplate code - Plugin SDK resources `ssmincidents` (Phase 3c)
  internal/service/ssmincidents/generate.go
  internal/service/ssmincidents/replication_set.go
  internal/service/ssmincidents/replication_set_data_source.go
  internal/service/ssmincidents/service_package_gen.go
  internal/service/ssmincidents/tags.go
  internal/service/ssmincidents/tags_gen.go
Labels: size/L, tags, generators, service/ssmincidents

#30648 Filter out dependabot from feed pr open action
  .github/workflows/pull_request_feed.yml
Labels: size/XS, repository, github_actions

#30301 new resource: `aws_sagemaker_data_quality_job_definition`
  .changelog/30301.txt
  internal/service/sagemaker/data_quality_job_definition.go
  internal/service/sagemaker/data_quality_job_definition_test.go
  internal/service/sagemaker/prebuilt_ecr_image_data_source.go
  internal/service/sagemaker/service_package_gen.go
  website/docs/r/sagemaker_data_quality_job_definition.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/sagemaker, generators

#28142 resource/aws_acmpca_certificate: Add api_passthrough argument
  .changelog/28142.txt
  internal/service/acmpca/certificate.go
  internal/service/acmpca/certificate_test.go
  website/docs/r/acmpca_certificate.html.markdown
Labels: enhancement, documentation, size/L, tests, service/acmpca

#30655 r/aws_rds_cluster: Fix RDS Cluster acceptance test
  internal/service/rds/cluster_test.go
Labels: size/L, tests, service/rds, technical-debt

#30523 Adds retry when KMS key not found
  internal/service/codeartifact/domain.go
Labels: size/XS, service/codeartifact

#30652 Fixes OpenSearch and Elasticsearch acceptance tests
  internal/service/elasticsearch/domain_data_source_test.go
  internal/service/opensearch/domain_data_source_test.go
  internal/service/opensearch/domain_test.go
Labels: size/XS

#30666 New Service: Document DB Elastic
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/provider/service_packages_gen.go
  internal/service/docdbelastic/README.md
  internal/service/docdbelastic/service_package_gen.go
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/L, provider, repository, client-connections, generators, github_actions, new-service

#30681 New Resource: `aws_quicksight_namespace`
  .changelog/30681.txt
  internal/provider/fwprovider/intercept.go
  internal/service/quicksight/account_subscription.go
  internal/service/quicksight/data_set_data_source.go
  internal/service/quicksight/exports_test.go
  internal/service/quicksight/group.go
  internal/service/quicksight/group_membership.go
  internal/service/quicksight/iam_policy_assignment.go
  internal/service/quicksight/ingestion.go
  internal/service/quicksight/namespace.go
  internal/service/quicksight/namespace_test.go
  internal/service/quicksight/service_package_gen.go
  internal/service/quicksight/user.go
  website/docs/r/quicksight_namespace.html.markdown
Labels: documentation, size/XL, tests, provider, service/quicksight, generators

#12310 Data source aws_quicksight_user
  .changelog/12310.txt
  internal/service/quicksight/service_package_gen.go
  internal/service/quicksight/user.go
  internal/service/quicksight/user_data_source.go
  internal/service/quicksight/user_data_source_test.go
  website/docs/d/quicksight_user.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/quicksight, generators

#30385 Fix wrong outputs of aws_dx_connection
  .changelog/30385.txt
  internal/service/directconnect/connection.go
  internal/service/directconnect/connection_data_source.go
  internal/service/directconnect/connection_data_source_test.go
  internal/service/directconnect/connection_test.go
  internal/service/directconnect/hosted_connection.go
  internal/service/directconnect/lag.go
  website/docs/d/dx_connection.html.markdown
  website/docs/r/dx_connection.html.markdown
Labels: enhancement, documentation, size/S, tests, service/directconnect

#30679 rds/cluster: Parameter group regression fix
  .changelog/30679.txt
  internal/service/rds/certificate_data_source.go
  internal/service/rds/cluster.go
  internal/service/rds/cluster_activity_stream.go
  internal/service/rds/cluster_activity_stream_test.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_endpoint.go
  internal/service/rds/cluster_endpoint_test.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/cluster_parameter_group.go
  internal/service/rds/cluster_parameter_group_test.go
  internal/service/rds/cluster_role_association.go
  internal/service/rds/cluster_role_association_test.go
  internal/service/rds/cluster_snapshot_data_source.go
  internal/service/rds/cluster_test.go
  internal/service/rds/clusters_data_source.go
  internal/service/rds/engine_version_data_source.go
  internal/service/rds/event_categories_data_source.go
  internal/service/rds/event_subscription.go
  internal/service/rds/event_subscription_test.go
  internal/service/rds/find.go
  internal/service/rds/global_cluster.go
  internal/service/rds/global_cluster_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_automated_backups_replication.go
  internal/service/rds/instance_data_source.go
  internal/service/rds/instance_data_source_test.go
  internal/service/rds/instance_migrate_test.go
  internal/service/rds/instance_role_association.go
  internal/service/rds/instance_role_association_test.go
  internal/service/rds/instance_test.go
  internal/service/rds/instances_data_source.go
  internal/service/rds/option_group_test.go
  internal/service/rds/orderable_instance_data_source.go
  internal/service/rds/parameter_group.go
  internal/service/rds/parameter_group_test.go
  internal/service/rds/proxy.go
  internal/service/rds/proxy_data_source.go
  internal/service/rds/proxy_default_target_group.go
  internal/service/rds/proxy_default_target_group_test.go
  internal/service/rds/proxy_endpoint.go
  internal/service/rds/proxy_endpoint_test.go
  internal/service/rds/proxy_target.go
  internal/service/rds/proxy_target_test.go
  internal/service/rds/proxy_test.go
  internal/service/rds/reserved_instance_offering_data_source.go
  internal/service/rds/reserved_instance_test.go
  internal/service/rds/security_group.go
  internal/service/rds/snapshot.go
  internal/service/rds/snapshot_copy.go
  internal/service/rds/snapshot_copy_test.go
  internal/service/rds/snapshot_data_source.go
  internal/service/rds/snapshot_test.go
  internal/service/rds/status.go
  internal/service/rds/subnet_group.go
  internal/service/rds/subnet_group_data_source.go
  internal/service/rds/subnet_group_test.go
  internal/service/rds/sweep.go
Labels: size/L, tests, service/rds, sweeper

#30684 new resource: `aws_sagemaker_monitoring_schedule`
  .changelog/30684.txt
  internal/service/sagemaker/monitoring_schedule.go
  internal/service/sagemaker/monitoring_schedule_test.go
  internal/service/sagemaker/service_package_gen.go
  internal/service/sagemaker/status.go
  internal/service/sagemaker/wait.go
  website/docs/r/sagemaker_monitoring_schedule.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/sagemaker, generators

#30375 Allow to rename the dx gateway name
  .changelog/30375.txt
  internal/service/directconnect/gateway.go
  internal/service/directconnect/gateway_test.go
  internal/service/directconnect/validate.go
  internal/service/directconnect/validate_test.go
  internal/service/ec2/validate.go
  internal/service/ec2/validate_test.go
  internal/service/ec2/vpnsite_gateway.go
  internal/verify/validate.go
  internal/verify/validate_test.go
Labels: enhancement, size/L, tests, service/directconnect, verify, service/vpnsite

#30686 add chime-sdk-voice service
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/provider/service_packages_gen.go
  internal/service/chimesdkvoice/README.md
  internal/service/chimesdkvoice/service_package_gen.go
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/L, provider, repository, client-connections, generators, github_actions, new-service

#30662 Allows removal of `token_validity_units` block
  .changelog/30662.txt
  internal/service/cognitoidp/managed_user_pool_client.go
  internal/service/cognitoidp/managed_user_pool_client_test.go
  internal/service/cognitoidp/user_pool_client.go
  internal/service/cognitoidp/user_pool_client_test.go
Labels: size/XL, tests, service/cognitoidp

#30685 Uses `acctest.CheckResourceAttrEquivalentJSON` for field `item`
  internal/service/dynamodb/table_item_test.go
Labels: size/XS, tests, service/dynamodb

#30663 resource/aws_servicecatalog_provisioned_product: Return clearer error message on failure
  .changelog/30522.txt
  .changelog/30588.txt
  .changelog/30663.txt
  CHANGELOG.md
  internal/service/servicecatalog/provisioned_product_test.go
  internal/service/servicecatalog/status.go
  internal/service/servicecatalog/wait.go
  website/docs/r/servicecatalog_provisioned_product.html.markdown
Labels: documentation, size/M, tests, service/servicecatalog, provider

#30703 rds/instance: Allow replicas to have versions
  .changelog/30703.txt
  internal/service/rds/instance.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/XS, service/rds

#30603 Add media insights pipeline configuration resource
  .changelog/30603.txt
  internal/service/chimesdkmediapipelines/generate.go
  internal/service/chimesdkmediapipelines/media_insights_pipeline_configuration.go
  internal/service/chimesdkmediapipelines/media_insights_pipeline_configuration_test.go
  internal/service/chimesdkmediapipelines/service_package_gen.go
  internal/service/chimesdkmediapipelines/tags_gen.go
  website/docs/r/chimesdkmediapipelines_media_insights_pipeline_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, tags, generators, service/chimesdkmediapipelines

#30704 Updated catalog and schema reference for quicksight data set
  .changelog/30704.txt
  internal/service/quicksight/data_set.go
Labels: size/XS, service/quicksight

#30707 Add AWS Clean Rooms Service Client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/provider/service_packages_gen.go
  internal/service/cleanrooms/service_package_gen.go
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XL, provider, repository, client-connections, generators, github_actions

#30712 resource/aws_dynamodb_table_item: Correctly handle List and Map attribute JSON values
  .changelog/30712.txt
  internal/maps/maps.go
  internal/maps/maps_test.go
  internal/service/dynamodb/flex.go
  internal/service/dynamodb/flex_test.go
  internal/service/dynamodb/table_item.go
  internal/service/dynamodb/table_item_test.go
Labels: bug, size/XL, tests, service/dynamodb

#30714 resource/aws_db_instance: Fixes panic when updating `replica_mode`
  .changelog/30714.txt
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
Labels: crash, size/S, tests, service/rds

#29661 aws_efs_file_system_policy - updating example
  website/docs/r/efs_file_system_policy.html.markdown
Labels: enhancement, documentation, size/XS, service/efs

#29552 docs: add default for `internal` argument in lb
  website/docs/r/lb.html.markdown
Labels: enhancement, documentation, size/XS

#30432 Add consistency check during CreateTopic to handle ABAC vs. eventual consistency issues
  .changelog/30432.txt
  internal/service/sns/topic.go
Labels: bug, size/XS, service/sns, eventual-consistency

#30730 Correctly persist `create_columns_operation.expression` field
  .changelog/30708.txt
  internal/service/quicksight/data_set.go
Labels: bug, size/XS, service/quicksight

#30734 Fix to properly flatten `cast_column_type_operation.format` field
  .changelog/30701.txt
  internal/service/quicksight/data_set.go
Labels: size/XS, service/quicksight

#30733 Fix to properly expand `project_operation.projected_columns` field
  .changelog/30699.txt
  internal/service/quicksight/data_set.go
Labels: size/XS, service/quicksight

#30211 feat: add support to specify FIS network actions
  .changelog/30211.txt
  internal/service/fis/experiment_template.go
  website/docs/r/fis_experiment_template.html.markdown
Labels: enhancement, documentation, size/XS, service/fis

#30419 Added nolint for Threshold of anomaly_subscription
  .ci/.golangci2.yml
  internal/service/ce/anomaly_subscription.go
Labels: size/XS, service/ce

#30739 r/aws_dx_gateway: Remove `name` argument validation
  .changelog/30739.txt
  internal/service/directconnect/gateway.go
Labels: bug, regression, size/XS, service/directconnect

#29083 r/aws_default_vpc: Fix adoption of default VPC with generated IPv6
  .changelog/29083.txt
  internal/service/ec2/vpc_default_vpc.go
  internal/service/ec2/vpc_default_vpc_test.go
Labels: bug, size/L, tests, service/vpc

#29905 Increase aws_dms_replication_instance creation timeout
  .changelog/29905.txt
  internal/service/dms/replication_instance.go
  website/docs/r/dms_replication_instance.html.markdown
Labels: enhancement, documentation, size/XS, service/dms

#25846 Add support for Eventbridge Global Endpoints
  .changelog/25846.txt
  internal/service/events/endpoint.go
  internal/service/events/endpoint_test.go
  internal/service/events/find.go
  internal/service/events/rule.go
  internal/service/events/rule_test.go
  internal/service/events/service_package_gen.go
  internal/service/events/state.go
  internal/service/events/state_test.go
  website/docs/r/cloudwatch_event_endpoint.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/events

#25849 Increase account assignment timeout and delay
  .changelog/25849.txt
  internal/service/ssoadmin/wait.go
Labels: size/XS, service/ssoadmin

#26317 Fix s3 third party provider error on creating bucket without object lock
  .changelog/26317.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_object_lock_configuration.go
  internal/service/s3/bucket_object_lock_configuration_test.go
  internal/service/s3/errors.go
  internal/service/s3/sweep.go
Labels: enhancement, size/L, tests, service/s3, sweeper

#30170 Resolves issue with importing an aws_ecs_service with an iam role that has a non-default path with multiple slashes
  .changelog/30170.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
Labels: bug, size/M, tests, service/ecs

#30747 aws_ecs_cluster - task_definition
  website/docs/d/ecs_service.html.markdown
Labels: size/XS

#30743 Correct aws_quicksight_data_set custom_sql documentation
  .changelog/30742.txt
  website/docs/r/quicksight_data_set.html.markdown
Labels: documentation, size/XS, service/quicksight

#30750 Add role_last_used attribute to iam_role resource
  .changelog/30750.txt
  internal/service/iam/role.go
  internal/service/iam/role_data_source.go
  website/docs/d/iam_role.html.markdown
  website/docs/r/iam_role.html.markdown
Labels: documentation, size/M, service/iam

#27640 [Enhancement]: Changed id to use the ServicePermissionID - the ID of the actual resource.
  .changelog/27640.txt
  internal/service/cognitoidp/find.go
  internal/service/ec2/find.go
  internal/service/ec2/vpc_endpoint_service.go
  internal/service/ec2/vpc_endpoint_service_allowed_principal.go
  internal/service/ec2/vpc_endpoint_service_allowed_principal_test.go
  internal/tfresource/not_found_error.go
Labels: size/L, tests, service/cognitoidp, service/vpc

#29975 feat: add `validatefunc` to name+pfx for `eks_node_group`
  .changelog/29975.txt
  internal/service/eks/node_group.go
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, size/XS, service/eks

#30754 add attritebutes to outposts_outpost datasource
  .changelog/30754.txt
  internal/service/outposts/generate.go
  internal/service/outposts/outpost_data_source.go
  internal/service/outposts/outpost_data_source_test.go
  internal/service/outposts/tags_gen.go
  website/docs/d/outposts_outpost.html.markdown
Labels: documentation, size/M, tests, service/outposts, tags, generators, partner

#30660 Fix error when creating MediaLive Channel throws error about the destination not having a settings section
  .changelog/30660.txt
  internal/service/medialive/channel.go
  internal/service/medialive/channel_test.go
Labels: bug, size/M, tests, service/medialive

#30108 d/aws_sesv2_configuration_set: new data source
  .changelog/30108.txt
  internal/service/sesv2/configuration_set.go
  internal/service/sesv2/configuration_set_data_source.go
  internal/service/sesv2/configuration_set_data_source_test.go
  internal/service/sesv2/service_package_gen.go
  website/docs/d/sesv2_configuration_set.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/sesv2, generators

#26643 Lakeformation Permissions trigger Force New
  .changelog/26643.txt
  internal/service/lakeformation/lakeformation_test.go
  internal/service/lakeformation/permissions.go
  internal/service/lakeformation/permissions_data_source.go
  internal/service/lakeformation/permissions_data_source_test.go
  internal/service/lakeformation/permissions_test.go
Labels: bug, size/L, tests, service/lakeformation

#28574 d/aws_prometheus_workspaces: Add New Data Source
  .changelog/28574.txt
  internal/acctest/acctest.go
  internal/service/amp/find.go
  internal/service/amp/service_package_gen.go
  internal/service/amp/workspaces_data_source.go
  internal/service/amp/workspaces_data_source_test.go
  website/docs/d/prometheus_workspaces.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, service/amp

#30718 Rename `Inspector` and `Inspector V2` services to match current AWS branding
  .teamcity/components/generated/services_all.kt
  GNUmakefile
  internal/generate/checknames/main.go
  internal/service/inspector/assessment_target.go
  internal/service/inspector/assessment_target_test.go
  internal/service/inspector/assessment_template.go
  internal/service/inspector/assessment_template_test.go
  internal/service/inspector/resource_group.go
  internal/service/inspector/resource_group_test.go
  internal/service/inspector/rules_packages_data_source.go
  internal/service/inspector/tags.go
  internal/service/inspector2/delegated_admin_account.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/d/inspector_rules_packages.html.markdown
  website/docs/r/inspector2_delegated_admin_account.html.markdown
  website/docs/r/inspector2_enabler.html.markdown
  website/docs/r/inspector2_member_association.html.markdown
  website/docs/r/inspector2_organization_configuration.html.markdown
  website/docs/r/inspector_assessment_target.html.markdown
  website/docs/r/inspector_assessment_template.html.markdown
  website/docs/r/inspector_resource_group.html.markdown
Labels: documentation, size/XL, tests, service/inspector, repository, generators, service/inspector2

#30774 d/aws_iam_role: check json equivalence of trust
  internal/service/iam/role_data_source_test.go
Labels: size/M, tests, service/iam

#25474 f-data-networkfirewall_firewall_resource_policy
  .changelog/25474.txt
  internal/service/networkfirewall/firewall_resource_policy_data_source.go
  internal/service/networkfirewall/firewall_resource_policy_data_source_test.go
  internal/service/networkfirewall/service_package_gen.go
  website/docs/d/networkfirewall_resource_policy.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/networkfirewall, partner

#30755 fix timeout issues aws_route_table_association
  .changelog/30755.txt
  internal/service/ec2/vpc_main_route_table_association.go
  internal/service/ec2/vpc_route_table.go
  internal/service/ec2/vpc_route_table_association.go
  internal/service/ec2/wait.go
  website/docs/r/main_route_table_association.html.markdown
  website/docs/r/route_table_association.html.markdown
Labels: documentation, size/M, service/vpc, partner

#28662 d/aws_ecs_task_definition: add execution_role_arn attribute
  .changelog/28662.txt
  internal/service/ecs/task_definition_data_source.go
  internal/service/ecs/task_definition_data_source_test.go
  website/docs/d/ecs_task_definition.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ecs

#28628 resource/aws_iot_topic_rule: Add batch_mode argument to firehose, iot_analytics and iot_events
  .changelog/28568.txt
  internal/service/iot/topic_rule.go
  internal/service/iot/topic_rule_test.go
  website/docs/r/iot_topic_rule.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/iot

#30794 Feed: Add release tag notifier
  .github/workflows/release-tag.yml
Labels: size/XS, repository, github_actions

#28940 Add remove_headers_config to aws_cloudfront_response_headers_policy
  .changelog/28940.txt
  internal/service/cloudfront/response_headers_policy.go
  internal/service/cloudfront/response_headers_policy_data_source.go
  internal/service/cloudfront/response_headers_policy_data_source_test.go
  internal/service/cloudfront/response_headers_policy_test.go
  website/docs/d/cloudfront_response_headers_policy.html.markdown
  website/docs/r/cloudfront_response_headers_policy.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/cloudfront

#29111 New Data Source: aws_route53_resolver_query_log_config
  .changelog/29111.txt
  internal/service/route53resolver/query_log_config_data_source.go
  internal/service/route53resolver/query_log_config_data_source_test.go
  internal/service/route53resolver/service_package_gen.go
  website/docs/d/route53_resolver_query_log_config.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/route53resolver, generators

#30798 add subnet attribute: enable_lni_at_device_index
  .changelog/30798.txt
  internal/service/ec2/status.go
  internal/service/ec2/vpc_default_subnet.go
  internal/service/ec2/vpc_default_subnet_test.go
  internal/service/ec2/vpc_subnet.go
  internal/service/ec2/vpc_subnet_data_source.go
  internal/service/ec2/vpc_subnet_data_source_test.go
  internal/service/ec2/vpc_subnet_test.go
  internal/service/ec2/wait.go
  website/docs/d/subnet.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation, size/L, tests, service/vpc, partner

#28622 Add aws_fsx_windows_file_system data source
  .changelog/28622.txt
  internal/service/fsx/service_package_gen.go
  internal/service/fsx/windows_file_system.go
  internal/service/fsx/windows_file_system_data_source.go
  internal/service/fsx/windows_file_system_data_source_test.go
  internal/service/fsx/windows_file_system_test.go
  website/docs/d/fsx_windows_file_system.html.markdown
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/fsx, generators

#30692 Update SecurityHub Account Configuration
  .changelog/30692.txt
  internal/service/securityhub/account.go
  internal/service/securityhub/account_test.go
  internal/service/securityhub/securityhub_test.go
  website/docs/r/securityhub_account.markdown
Labels: enhancement, documentation, size/M, tests, service/securityhub

#29208 New Data Source: aws_redshiftserverless_workgroup
  .changelog/29208.txt
  internal/service/redshiftserverless/service_package_gen.go
  internal/service/redshiftserverless/workgroup_data_source.go
  internal/service/redshiftserverless/workgroup_data_source_test.go
  website/docs/d/redshiftserverless_workgroup.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, service/redshiftserverless

#30796 Documentation Update For Issue #30791
  website/docs/r/vpclattice_service_network_vpc_association.html.markdown
Labels: documentation, size/XS, needs-triage, service/vpclattice

#25232 Update documentation related to IAM roles and policies used for emr_cluster resource
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, size/XS, service/emr

#30717 Adding dms_endpoint data source to dms resource.
  internal/service/dms/endpoint_data_source.go
  internal/service/dms/endpoint_data_source_test.go
  internal/service/dms/service_package_gen.go
  website/docs/d/dms_endpoint.html.markdown
Labels: documentation, size/XL, tests, generators, service/dms

#29491 aws_cloudfront_public_key: Update docs for issue with string parameters for `encoded_key` when not using `file` terraform function
  website/docs/r/cloudfront_public_key.html.markdown
Labels: enhancement, documentation, size/XS, service/cloudfront

#30800 Workflow: Add `roadmap` labeled issue to working board
  .github/workflows/project-roadmap-label.yml
Labels: size/S, repository, github_actions

#30134 Added SNS topic subscription
  website/docs/r/amplify_branch.html.markdown
Labels: enhancement, documentation, size/XS, service/amplify

#30821 NetworkFirewall: Always specify current `EncryptionConfiguration` on Update
  .changelog/30821.txt
  internal/service/networkfirewall/firewall_policy.go
  internal/service/networkfirewall/firewall_policy_test.go
  internal/service/networkfirewall/firewall_test.go
  internal/service/networkfirewall/rule_group.go
  internal/service/networkfirewall/rule_group_test.go
Labels: size/M, tests, service/networkfirewall

#29250 d/aws_kms_key - additional attributes
  .changelog/29250.txt
  internal/service/kms/key_data_source.go
  internal/service/kms/key_data_source_test.go
  website/docs/d/kms_key.html.markdown
Labels: documentation, size/M, tests, service/kms

#17727 F/aws elastic beanstalk application
  .changelog/17727.txt
  internal/service/elasticbeanstalk/application.go
  internal/service/elasticbeanstalk/application_data_source.go
  internal/service/elasticbeanstalk/application_data_source_test.go
  internal/service/elasticbeanstalk/application_test.go
  internal/service/elasticbeanstalk/flex.go
Labels: enhancement, size/XL, tests, service/elasticbeanstalk

#29278 Add new data source: `iam_access_keys`
  .changelog/29278.txt
  internal/service/iam/access_keys_data_source.go
  internal/service/iam/access_keys_data_source_test.go
  internal/service/iam/find.go
  internal/service/iam/service_package_gen.go
  website/docs/d/iam_access_keys.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/iam, generators

#30827 Add missing CHANGELOG entry
  .changelog/30717.txt
Labels: size/XS

#30711 Add VPC Lattice Listener resource
  .changelog/30711.txt
  internal/service/vpclattice/listener.go
  internal/service/vpclattice/listener_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_listener.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/vpclattice

#29281 Support CW Metric Streams include_linked_accounts_argument
  .changelog/29281.txt
  internal/service/cloudwatch/metric_stream.go
  internal/service/cloudwatch/metric_stream_test.go
  website/docs/r/cloudwatch_metric_stream.html.markdown
Labels: documentation, size/M, tests, service/cloudwatch

#30831 Fix typo in `aws_securityhub_account` documentation
  website/docs/r/securityhub_account.markdown
Labels: documentation, size/XS, service/securityhub

#30815 F vpclattice listener rule resource
  .changelog/30784.txt
  internal/service/vpclattice/listener.go
  internal/service/vpclattice/listener_rule.go
  internal/service/vpclattice/listener_rule_test.go
  internal/service/vpclattice/listener_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_listener_rule.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/vpclattice

#30829 iam_policy_document: Remove source_json, override_json
  .changelog/30829.txt
  internal/service/iam/policy_document_data_source.go
  internal/service/iam/policy_document_data_source_test.go
  website/docs/d/iam_policy_document.html.markdown
Labels: documentation, breaking-change, size/M, tests, service/iam

#30843 F vpclattice listener
  .changelog/30843.txt
  internal/service/vpclattice/listener_data_source.go
  internal/service/vpclattice/listener_data_source_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/d/vpclattice_listener.html.markdown
Labels: documentation, new-data-source, size/XL, tests, generators, partner, service/vpclattice

#29578 feat: adding opensearch datasource to appsync
  .changelog/29578.txt
  internal/service/appsync/datasource.go
  internal/service/appsync/datasource_test.go
  internal/service/appsync/function_test.go
  internal/service/appsync/resolver_test.go
  website/docs/r/appsync_datasource.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/appsync

#29608 Add captcha config to wafv2
  .changelog/29608.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/L, tests, service/wafv2

#30121 Adds placement_group_config block to aws_emr_cluster resource
  .changelog/30121.txt
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
  website/docs/r/emr_cluster.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/emr

#29690 Add challenge action support for wafv2 rule group
  .changelog/29690.txt
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/rule_group_test.go
  website/docs/r/wafv2_rule_group.html.markdown
Labels: enhancement, documentation, size/M, tests, service/wafv2

#30822 Workflow: Partner project integration
  .github/workflows/project-partner-label.yml
  .github/workflows/pull_request_feed.yml
Labels: size/M, repository, github_actions

#30860 Add missing `v4.64.0` CHANGELOG entry
  CHANGELOG.md
Labels: documentation, size/XS, provider

#30857 Update ec2_transit_gateway_route_table_associations.html.markdown
  website/docs/d/ec2_transit_gateway_route_table_associations.html.markdown
Labels: documentation, size/XS, service/transitgateway

#30775 Add vpcid rds subnetgroup vpcid
  .changelog/30775.txt
  internal/service/rds/subnet_group.go
  internal/service/rds/subnet_group_test.go
  website/docs/r/db_subnet_group.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/rds

#30866 Minor `skaff` self-registration annotation updates
  docs/add-a-new-datasource.md
  docs/add-a-new-resource.md
  internal/conns/conns.go
  internal/provider/fwprovider/provider.go
  internal/provider/provider.go
  skaff/datasource/datasource.tmpl
  skaff/resource/resource.tmpl
Labels: documentation, size/XS, provider, client-connections, skaff
