Repository hashicorp/terraform-provider-aws, pull requests merged in 2023-07, with the labels that each got.

#32326 ec2, servicecatalog docs
  .ci/tools/go.mod
  .ci/tools/go.sum
  website/docs/d/servicecatalog_product.html.markdown
  website/docs/r/ec2_managed_prefix_list_entry.html.markdown
Labels: documentation, size/S, service/servicecatalog, linter, service/vpc

#31915 r/aws_secretsmanager_secret_rotation: Fix failing schedule expression updates
  .changelog/31915.txt
  internal/service/secretsmanager/secret_rotation.go
  internal/service/secretsmanager/secret_rotation_test.go
Labels: size/M, tests, service/secretsmanager

#32339 Tech debt: Migrate `keyspaces` resources to AWS SDK for Go v2
  .changelog/32339.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/keyspaces/exports_test.go
  internal/service/keyspaces/find.go
  internal/service/keyspaces/generate.go
  internal/service/keyspaces/keyspace.go
  internal/service/keyspaces/keyspace_test.go
  internal/service/keyspaces/service_package_gen.go
  internal/service/keyspaces/sweep.go
  internal/service/keyspaces/table.go
  internal/service/keyspaces/table_test.go
  internal/service/keyspaces/tags_gen.go
  names/names.go
  names/names_data.csv
  website/docs/r/keyspaces_table.html.markdown
Labels: documentation, size/XL, tests, sweeper, tags, client-connections, generators, service/keyspaces

#32332 r/glue_crawler - add `iceberg_target` + fix `enable_additional_metadata` on `jdbc_target`
  .changelog/32332.txt
  internal/service/glue/crawler.go
  internal/service/glue/crawler_test.go
  website/docs/r/glue_crawler.html.markdown
Labels: bug, enhancement, documentation, size/L, tests, service/glue

#32343 Tech debt: Migrate `internermonitor` resources to AWS SDK for Go v2
  .changelog/32343.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/internetmonitor/exports_test.go
  internal/service/internetmonitor/find.go
  internal/service/internetmonitor/generate.go
  internal/service/internetmonitor/monitor.go
  internal/service/internetmonitor/monitor_test.go
  internal/service/internetmonitor/service_package_gen.go
  internal/service/internetmonitor/status.go
  internal/service/internetmonitor/sweep.go
  internal/service/internetmonitor/tags_gen.go
  internal/service/internetmonitor/wait.go
  names/names.go
  names/names_data.csv
  website/docs/r/internetmonitor_monitor.html.markdown
Labels: documentation, size/XL, tests, sweeper, tags, client-connections, generators, service/internetmonitor

#32327 Add ap-east-1 to Lambda Signer supported regions
  .changelog/32327.txt
  internal/service/lambda/function.go
Labels: enhancement, size/XS, service/lambda

#32276 Add aws_opensearchserverless_vpc_endpoint data source
  .changelog/32276.txt
  internal/service/opensearchserverless/access_policy.go
  internal/service/opensearchserverless/access_policy_data_source.go
  internal/service/opensearchserverless/collection.go
  internal/service/opensearchserverless/collection_data_source.go
  internal/service/opensearchserverless/exports_test.go
  internal/service/opensearchserverless/find.go
  internal/service/opensearchserverless/security_config.go
  internal/service/opensearchserverless/security_config_data_source.go
  internal/service/opensearchserverless/security_policy.go
  internal/service/opensearchserverless/security_policy_data_source.go
  internal/service/opensearchserverless/service_package_gen.go
  internal/service/opensearchserverless/vpc_endpoint.go
  internal/service/opensearchserverless/vpc_endpoint_data_source.go
  internal/service/opensearchserverless/vpc_endpoint_data_source_test.go
  website/docs/d/opensearchserverless_vpc_endpoint.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, service/opensearchserverless, partner

#32198 [New Service]: VerifiedPermissions
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/verifiedpermissions/README.md
  internal/service/verifiedpermissions/generate.go
  internal/service/verifiedpermissions/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XL, tests, provider, sweeper, repository, client-connections, generators, github_actions, new-service

#32345 Tech debt: Migrate`qldb` resources to AWS SDK for Go v2
  .changelog/32345.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/qldb/exports_test.go
  internal/service/qldb/generate.go
  internal/service/qldb/ledger.go
  internal/service/qldb/ledger_data_source.go
  internal/service/qldb/ledger_data_source_test.go
  internal/service/qldb/ledger_test.go
  internal/service/qldb/service_package_gen.go
  internal/service/qldb/stream.go
  internal/service/qldb/stream_test.go
  internal/service/qldb/sweep.go
  internal/service/qldb/tags_gen.go
  names/names.go
  names/names_data.csv
  website/docs/r/qldb_stream.html.markdown
Labels: documentation, size/XL, tests, technical-debt, service/qldb, sweeper, tags, timeouts, client-connections, generators

#32349 wafv2 web acl logging configuration docs
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, size/M, service/wafv2

#32342 Stop private and public dns namespace resources being replaced when the description is altered
  .changelog/32342.txt
  internal/service/servicediscovery/private_dns_namespace.go
  internal/service/servicediscovery/private_dns_namespace_test.go
  internal/service/servicediscovery/public_dns_namespace.go
  internal/service/servicediscovery/public_dns_namespace_test.go
Labels: size/XS, tests, service/servicediscovery

#32352 Use correct list of forbidden ids
  .changelog/32352.txt
  internal/conns/config.go
  internal/provider/provider.go
Labels: bug, size/XS, provider, client-connections

#32348 lambda: add ListTags to allow computed tags
  internal/service/lambda/function_test.go
  internal/service/lambda/generate.go
  internal/service/lambda/tags_gen.go
Labels: bug, size/S, tests, service/lambda, tags, generators

#32357 Add copyright CI
  .ci/tools/go.mod
  .ci/tools/go.sum
  .ci/tools/main.go
  .github/workflows/copyright.yml
  GNUmakefile
  internal/service/timestreamwrite/export_test.go
Labels: size/S, tests, service/timestreamwrite, linter, repository, github_actions

#32355 Fix PrivateDnsOnlyForInboundResolverEndpoint for S3 interface endpoints
  .changelog/32355.txt
  internal/service/ec2/vpc_endpoint.go
  internal/service/ec2/vpc_endpoint_test.go
Labels: size/M, tests, service/vpc, partner

#31680 Add CleanRooms Collaboration Resource
  .changelog/31680.txt
  examples/cleanrooms/main.tf
  internal/service/cleanrooms/collaboration.go
  internal/service/cleanrooms/collaboration_test.go
  internal/service/cleanrooms/generate.go
  internal/service/cleanrooms/service_package_gen.go
  internal/service/cleanrooms/tags_gen.go
  names/names.go
  website/docs/r/cleanrooms_collaboration.html.markdown
Labels: documentation, new-resource, size/XL, tests, examples, tags, generators, partner, service/cleanrooms

#32377 [docs]: fix documentation with correct attribute reference
  website/docs/d/opensearchserverless_vpc_endpoint.html.markdown
Labels: documentation, service/opensearchserverless

#32372 resource/aws_ssm_parameter: Ignore Update if only `overwrite` parameter changes
  .changelog/32372.txt
  internal/service/ssm/parameter.go
  internal/service/ssm/parameter_test.go
Labels: size/L, tests, service/ssm

#32325 Fixes "Cannot delete self" error in OpsWorks User Profile sweeper
  internal/errs/sdkdiag/diags.go
  internal/service/opsworks/sweep.go
Labels: size/M, service/opsworks, sweeper

#32324 Corrects error handling in sweeper reference documentation
  docs/running-and-writing-acceptance-tests.md
Labels: documentation, size/S

#32371 KMS Keys: Fixes timeout when removing all tags
  .changelog/32371.txt
  internal/generate/tags/main.go
  internal/generate/tags/templates/v1/header_body.tmpl
  internal/generate/tags/templates/v1/update_tags_body.tmpl
  internal/generate/tags/templates/v1/v1.go
  internal/generate/tags/templates/v1/wait_tags_propagated_body.tmpl
  internal/generate/tags/templates/v2/header_body.tmpl
  internal/generate/tags/templates/v2/update_tags_body.tmpl
  internal/generate/tags/templates/v2/v2.go
  internal/generate/tags/templates/v2/wait_tags_propagated_body.tmpl
  internal/service/kms/external_key.go
  internal/service/kms/external_key_test.go
  internal/service/kms/generate.go
  internal/service/kms/key.go
  internal/service/kms/key_test.go
  internal/service/kms/replica_external_key.go
  internal/service/kms/replica_external_key_test.go
  internal/service/kms/replica_key.go
  internal/service/kms/replica_key_test.go
  internal/service/kms/tags_gen.go
  internal/service/kms/wait.go
Labels: size/XL, tests, service/kms, tags, generators

#32346 TechDebt: `workspaces` move to `aws-sdk-go-v2`
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/workspaces/bundle_data_source.go
  internal/service/workspaces/bundle_data_source_test.go
  internal/service/workspaces/directory.go
  internal/service/workspaces/directory_data_source.go
  internal/service/workspaces/directory_data_source_test.go
  internal/service/workspaces/directory_test.go
  internal/service/workspaces/find.go
  internal/service/workspaces/generate.go
  internal/service/workspaces/image_data_source.go
  internal/service/workspaces/image_data_source_test.go
  internal/service/workspaces/ip_group.go
  internal/service/workspaces/ip_group_test.go
  internal/service/workspaces/list_pages_gen.go
  internal/service/workspaces/service_package_gen.go
  internal/service/workspaces/status.go
  internal/service/workspaces/sweep.go
  internal/service/workspaces/tags_gen.go
  internal/service/workspaces/wait.go
  internal/service/workspaces/workspace.go
  internal/service/workspaces/workspace_data_source.go
  internal/service/workspaces/workspace_data_source_test.go
  internal/service/workspaces/workspace_test.go
  names/names_data.csv
Labels: size/XL, tests, service/workspaces, technical-debt, sweeper, tags, client-connections, generators

#32261 Fix headers, anchor links in `aws_wafv2_web_acl docs`
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XL, service/wafv2

#32383 Sweepers: Fixes failures in `aws_iam_policy` sweeper
  internal/service/iam/sweep.go
Labels: size/M, service/iam, sweeper

#32396 docs/r/wafv2: add CONSTANT to aggregate_key_type
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XS, service/wafv2

#32397 deps: group aws-sdk-go dependencies
  .github/dependabot.yml
Labels: dependencies, size/XS, repository, github_actions

#32386 Fix TeamCity configuration
  .teamcity/components/service_build_config.kt
  .teamcity/settings.kts
Labels: size/XS

#32382 resource/aws_kms_key: Shortens deletion window for basic and tag tests
  internal/service/kms/key_test.go
Labels: size/XS, tests, service/kms

#32329 waf: up aws_wafregional_web_acl_association create timeout to 5 minutes
  .changelog/32329.txt
  internal/service/wafregional/web_acl_association.go
Labels: bug, size/XS, service/wafregional, timeouts

#32330 Update `addresses` argument description in `wafv2_ip_set`
  website/docs/d/wafv2_ip_set.html.markdown
  website/docs/r/wafv2_ip_set.html.markdown
Labels: documentation, size/XS, service/wafv2

#32413 deps: bump terraform-plugin-framework-timeouts to v0.4.1
  go.mod
  go.sum
Labels: size/XS

#32419 chore: go mod tidy
  go.sum
Labels: size/XS

#32422 dependabot: Groups together `aws-sdk-go-base` and `awsv1shim` modules
  .github/dependabot.yml
Labels: dependencies, size/S, repository, github_actions

#32417 Adds `dependabot` rule for `tfsdk2fw` tool
  .github/dependabot.yml
  .github/workflows/tfsdk2fw.yml
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, size/XL, repository, github_actions

#32404 docs: Add examples and AWS documentation to `aws_opensearchserverless_security_policy` resource
  website/docs/r/opensearchserverless_security_policy.html.markdown
Labels: documentation, size/L, service/opensearchserverless, partner

#31795 securityhub_standards_control: improve docs for control ARNs
  website/docs/r/securityhub_standards_control.markdown
Labels: documentation, size/XS, service/securityhub

#32439 r/aws_configservice_config_rule: fix nil output handling
  .changelog/32439.txt
  internal/service/configservice/find.go
Labels: size/XS, service/configservice

#32427 Don't manually set `Status` field to `To Do` for new Projects automation
  .github/workflows/new-project-automation.yml
Labels: repository, github_actions

#32443 [docs]: appsync/datasource: add missing documentation
  website/docs/r/appsync_datasource.html.markdown
Labels: documentation, size/S, service/appsync

#30117 aws_kendra_data_source - fix example
  website/docs/r/kendra_data_source.html.markdown
Labels: enhancement, documentation, size/M, service/kendra

#32454 B MQ replication user fix
  .changelog/32454.txt
  internal/service/mq/broker.go
  internal/service/mq/broker_test.go
  website/docs/r/mq_broker.html.markdown
Labels: bug, documentation, size/M, tests, service/mq

#32424 aws_security_group - remove all managed ingress & egress rules
  website/docs/r/security_group.html.markdown
Labels: documentation, size/XS, needs-triage, service/vpc

#32444 Update index.html.markdown to match provider version 5
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider

#32409 Update kinesis_firehose_delivery_stream.html.markdown
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, size/XS, service/firehose

#32463 sweeper: Skip KMS Keys if access is denied
  internal/service/kms/sweep.go
  internal/service/opsworks/sweep.go
Labels: size/XS, service/opsworks, service/kms, sweeper

#32387 workflow: GHA and text update in end user documentation highlight the resources/data-source count.
  .github/workflows/resource-counts.yml
  website/docs/index.html.markdown
Labels: documentation, size/S, provider, repository, github_actions

#32461 skaff: parallelize unit tests
  skaff/datasource/datasourcetest.tmpl
  skaff/resource/resourcetest.tmpl
Labels: size/XS, skaff

#32466 sweeper: SSO resources
  internal/service/ssoadmin/sweep.go
Labels: size/XS, service/ssoadmin, sweeper

#32464 Correct typos in Quicksight flatteners for `visible_range`, `rows`, and `visibility`
  .changelog/32464.txt
  internal/service/quicksight/schema/visual_chart_configuration.go
  internal/service/quicksight/schema/visual_pivot_table.go
Labels: size/S, service/quicksight

#32483 Update tfproviderdocs
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: size/XS, linter

#32465 sweep: `aws_batch_job_definition` sweeper was calling wrong resource implementation
  internal/service/batch/sweep.go
Labels: size/XS, service/batch, sweeper

#32485 Remove `name` attribute from `aws_db_instance` docs
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds

#32486 Document max items for `aws_wafv2_regex_pattern_set.regular_expression`
  website/docs/r/wafv2_regex_pattern_set.html.markdown
Labels: documentation, size/XS, service/wafv2

#32490 Update `raising-a-pull-request.md` contributor doc to reflect changelog creation order
  docs/raising-a-pull-request.md
Labels: documentation, size/XS

#32495 FIX api_gateway_authorizer.html.markdown data reference
  website/docs/r/api_gateway_authorizer.html.markdown
Labels: documentation, service/apigateway

#25362 r/aws_fms_policy: Added policy_option config block for FMS policy
  .changelog/25362.txt
  internal/service/fms/fms_test.go
  internal/service/fms/policy.go
  internal/service/fms/policy_test.go
  internal/service/ssm/sweep.go
  website/docs/r/fms_policy.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ssm, service/fms, sweeper

#32488 sweepers: Create AWS SDK version-specific skip error handlers for sweepers
  internal/service/accessanalyzer/sweep.go
  internal/service/acm/sweep.go
  internal/service/acmpca/sweep.go
  internal/service/auditmanager/sweep.go
  internal/service/ec2/sweep.go
  internal/service/glacier/sweep.go
  internal/service/internetmonitor/sweep.go
  internal/service/kendra/sweep.go
  internal/service/keyspaces/sweep.go
  internal/service/lightsail/sweep.go
  internal/service/medialive/sweep.go
  internal/service/opensearchserverless/sweep.go
  internal/service/pipes/sweep.go
  internal/service/qldb/sweep.go
  internal/service/resourceexplorer2/sweep.go
  internal/service/scheduler/sweep.go
  internal/service/sesv2/sweep.go
  internal/service/ssm/sweep.go
  internal/service/swf/sweep.go
  internal/service/timestreamwrite/sweep.go
  internal/service/transcribe/sweep.go
  internal/service/vpclattice/sweep.go
  internal/service/workspaces/sweep.go
  internal/sweep/awsv1/skip.go
  internal/sweep/awsv2/skip.go
  internal/sweep/sweep.go
Labels: size/XL, service/lightsail, service/acm, service/glacier, service/medialive, service/ssm, service/workspaces, service/swf, service/acmpca, service/qldb, service/sesv2, service/accessanalyzer, service/kendra, service/timestreamwrite, service/auditmanager, sweeper, service/keyspaces, service/transcribe, service/scheduler, service/resourceexplorer2, service/pipes, service/opensearchserverless, service/vpclattice, service/internetmonitor

#32513 Add `skaff` `--include-tags` flag
  docs/skaff.md
  skaff/cmd/datasource.go
  skaff/cmd/resource.go
  skaff/datasource/datasource.go
  skaff/datasource/datasource.tmpl
  skaff/datasource/datasourcefw.tmpl
  skaff/datasource/websitedoc.tmpl
  skaff/resource/resource.go
  skaff/resource/resource.tmpl
  skaff/resource/resourcefw.tmpl
  skaff/resource/websitedoc.tmpl
Labels: documentation, size/M, skaff

#32499 Decision Log Framework
  docs/design-decision-log.md
  mkdocs.yml
Labels: documentation, size/XS

#32501 chore(ci): remove tfsdk2fw workflow
  .github/workflows/tfsdk2fw.yml
Labels: size/S, repository, github_actions

#32286 `r/aws_quicksight_analysis`: Correctly expand comparison method
  .changelog/32285.txt
  internal/service/quicksight/schema/visual.go
Labels: bug, size/XS, service/quicksight

#31222 aws_lakeformation_permissions lf_tag_policy expression values supports max 15 fix
  internal/service/lakeformation/permissions.go
  internal/service/lakeformation/permissions_data_source.go
Labels: enhancement, size/XS, service/lakeformation

#32477 d/aws_db_instance: Add max_allocated_storage attribute
  .changelog/32477.txt
  internal/service/rds/instance_data_source.go
  internal/service/rds/instance_data_source_test.go
  website/docs/d/db_instance.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/rds

#32515 sweepers: Fixes
  GNUmakefile
  internal/service/opensearchserverless/sweep.go
  internal/service/route53resolver/sweep.go
  internal/service/ses/sweep.go
  internal/service/vpclattice/sweep.go
Labels: size/S

#32496 allow non default value for quicksight group membership
  .changelog/32494.txt
  internal/service/quicksight/group_membership.go
  internal/service/quicksight/group_membership_test.go
  website/docs/r/quicksight_group_membership.html.markdown
Labels: enhancement, documentation, size/M, tests, service/quicksight, partner

#32520 r/aws_config_config_rule: handle err during read
  .changelog/32520.txt
  internal/service/configservice/config_rule.go
Labels: size/XS, service/configservice

#32517 Add additional attribute to `aws_vpc_endpoint` data source
  .changelog/32517.txt
  internal/service/ec2/vpc_endpoint_data_source.go
  website/docs/d/vpc_endpoint.html.markdown
Labels: documentation, size/XS, service/vpc

#31111 Fixed WAFv2 ATP response inspection parameters
  .changelog/31111.txt
  internal/acctest/acctest.go
  internal/service/wafv2/flex.go
  internal/service/wafv2/web_acl_test.go
Labels: bug, size/L, tests, service/wafv2

#32543 Moved log delivery config
  website/docs/r/elasticache_cluster.html.markdown
Labels: documentation, service/elasticache

#32523 Workflow: Update resource count action to use app token
  .github/workflows/resource-counts.yml
Labels: size/XS, repository, github_actions

#32432 use correct parameter key in ECS target in aws_pipes_pipe
  .changelog/32432.txt
  internal/service/pipes/target_parameters.go
Labels: bug, size/XS, service/pipes

#26614 Bugfix: AppFlow: Ignore empty tasks
  .changelog/26614.txt
  internal/service/appflow/flow.go
Labels: bug, size/XS, service/appflow

#32500 Add `username` input to community check reusable workflow
  .github/workflows/autoremove_labels.yml
  .github/workflows/changelog.yml
  .github/workflows/community-check.yml
  .github/workflows/dependencies.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/maintainer-edit.yml
  .github/workflows/new-project-automation.yml
  .github/workflows/project.yml
  .github/workflows/pull_request_feed.yml
  .github/workflows/pull_requests.yml
Labels: size/M, repository, github_actions

#32538 r/aws_connect_queue - support delete
  .changelog/32538.txt
  internal/service/connect/queue.go
  internal/service/connect/queue_test.go
  website/docs/r/connect_queue.html.markdown
Labels: enhancement, documentation, size/S, tests, service/connect, partner

#32546 r/aws_datasync_agent: handle computed `private_link_endpoint` values
  .changelog/32546.txt
  internal/service/datasync/agent.go
Labels: size/XS, service/datasync

#32570 Issue #32568 aws_wafv2_web_acl_logging_configuration doc fix
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, size/XS, service/wafv2

#32548 sweepers: Prevent panic with `nil` error
  internal/service/iam/sweep.go
  internal/service/ssoadmin/sweep.go
Labels: size/S, service/iam, service/ssoadmin, sweeper

#32540 r/aws_connect_routing_profile - support delete
  .changelog/32540.txt
  internal/service/connect/routing_profile.go
  internal/service/connect/routing_profile_test.go
Labels: enhancement, size/S, tests, service/connect, partner

#32414 update platform id validation on signing_profile
  .changelog/32414.txt
  internal/service/signer/signing_profile.go
Labels: bug, size/M, service/signer

#32569 Label Updates
  infrastructure/repository/labels-workflow.tf
Labels: size/XS, repository

#32580 Shorten description to fit max length
  infrastructure/repository/labels-workflow.tf
Labels: repository

#32594 r/aws_ec2_traffic_mirror_filter_rule: Fix crash when updating `rule_number`
  .changelog/32594.txt
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_traffic_mirror_filter_rule.go
  internal/service/ec2/vpc_traffic_mirror_filter_rule_test.go
Labels: bug, crash, size/L, tests, sweeper, service/vpc

#32593 d/aws_mq_broker: Add `user.replication_user`
  .changelog/32593.txt
  internal/service/mq/broker_data_source.go
  internal/service/mq/broker_data_source_test.go
  internal/service/mq/broker_test.go
Labels: bug, size/M, tests, service/mq

#32388 add asset_id field to ec2_host
  .changelog/32388.txt
  internal/service/ec2/ec2_host.go
  internal/service/ec2/ec2_host_data_source.go
  internal/service/ec2/ec2_host_data_source_test.go
  internal/service/ec2/ec2_host_test.go
  website/docs/d/ec2_host.html.markdown
  website/docs/r/ec2_host.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ec2, partner

#32393 r/aws_globalaccelerator_custom_routing_endpoint_group: honor endpoint_group_region attribute
  .changelog/32393.txt
  internal/service/globalaccelerator/custom_routing_endpoint_group.go
  internal/service/globalaccelerator/custom_routing_endpoint_group_test.go
Labels: bug, size/M, tests, service/globalaccelerator

#32449 Add path object to rewrite on gateway route
  .changelog/32449.txt
  internal/service/appmesh/gateway_route.go
  internal/service/appmesh/gateway_route_test.go
  website/docs/r/appmesh_gateway_route.html.markdown
Labels: enhancement, documentation, size/L, tests, service/appmesh

#32596 r/aws_route53_cidr_location: Fix `Value Conversion Error` on Read
  .changelog/32596.txt
  internal/service/route53/cidr_location.go
Labels: bug, size/XS, service/route53

#32558 docs: Add example for `aws_opensearchserverless` resources
  examples/opensearchserverless/README.md
  examples/opensearchserverless/main.tf
  examples/opensearchserverless/outputs.tf
  examples/opensearchserverless/variables.tf
  examples/opensearchserverless/vpc.tf
Labels: documentation, size/L, examples, partner

#32601 VPC Traffic Mirror: Handle "resource not found" errors on Delete
  internal/service/ec2/errors.go
  internal/service/ec2/vpc_traffic_mirror_filter.go
  internal/service/ec2/vpc_traffic_mirror_filter_rule.go
  internal/service/ec2/vpc_traffic_mirror_session.go
  internal/service/ec2/vpc_traffic_mirror_session_test.go
  internal/service/ec2/vpc_traffic_mirror_target.go
  internal/service/ec2/vpc_traffic_mirror_target_test.go
Labels: size/S, tests, technical-debt, service/vpc

#24523 r/aws_cloudformation_stack_set_instance: Empty OU refactor
  .changelog/24523.txt
  internal/service/cloudformation/find.go
  internal/service/cloudformation/stack_set_instance.go
  internal/service/cloudformation/stack_set_instance_test.go
  website/docs/r/cloudformation_stack_set_instance.html.markdown
Labels: bug, documentation, size/XL, tests, service/cloudformation

#32551 Bug: Properly set DMS Replication Instance data source private/public IPs, VPC security group IDs
  .changelog/32551.txt
  internal/service/dms/replication_instance_data_source.go
  internal/service/dms/replication_instance_data_source_test.go
  website/docs/d/dms_replication_instance.html.markdown
Labels: documentation, size/M, tests, service/dms

#32547 Remove outdated note about Kinesis requirement for `aws_wafv2_web_acl_logging_configuration`
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, size/XS, service/wafv2

#32578 r/aws_codepipeline(test): fix PreCheck panic
  internal/service/codepipeline/codepipeline_test.go
Labels: size/XS, tests, service/codepipeline

#32445 r/aws_cognitoidp_user_pool: suppress diff when schema.string_attribute_constraints is omitted
  .changelog/32445.txt
  internal/service/cognitoidp/flex_test.go
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_test.go
Labels: size/L, tests, service/cognitoidp

#32518 [Docs]: `aws_lb_target_group_attachment` add multiple targets example
  website/docs/r/lb_target_group_attachment.html.markdown
Labels: documentation, size/XS, service/elbv2

#32429 Update autoscaling_group.html.markdown
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling

#32606 r/aws_lightsail_key_pair: tags
  .changelog/32606.txt
  internal/generate/tags/templates/v2/service_tags_slice_body.tmpl
  internal/service/lightsail/generate.go
  internal/service/lightsail/key_pair.go
  internal/service/lightsail/key_pair_test.go
  internal/service/lightsail/service_package_gen.go
  internal/service/lightsail/tags_gen.go
  website/docs/r/lightsail_key_pair.html.markdown
Labels: enhancement, documentation, size/L, tests, service/lightsail, tags, generators

#32615 docs: Add missing type value for `aws_appsync_datasource`
  website/docs/r/appsync_datasource.html.markdown
Labels: documentation, size/XS, service/appsync

#32482 New Resource: `aws_workspaces_connection_alias`
  .changelog/32482.txt
  GNUmakefile
  internal/service/workspaces/connection_alias.go
  internal/service/workspaces/connection_alias_test.go
  internal/service/workspaces/service_package_gen.go
  website/docs/r/workspaces_connection_alias.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/workspaces, repository, generators

#32603 Fixes panic in `provider` acceptance tests
  docs/add-a-new-service.md
  internal/conns/awsclient_gen.go
  internal/generate/allowsubcats/main.go
  internal/generate/awsclient/main.go
  internal/generate/customends/main.go
  internal/generate/namesconsts/main.go
  internal/provider/provider_acc_test.go
  names/columns.go
  names/consts_gen.go
  names/names.go
  names/names_data.csv
  names/names_test.go
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, size/XL, tests, provider, client-connections, generators

#31668 r/aws_wafv2_web_acl add support for association_config
  .changelog/31668.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/wafv2

#32622 r/aws_pipes_pipe: Prevent `ValidationException` errors on Update
  .changelog/32622.txt
  internal/service/pipes/pipe.go
Labels: bug, size/XS, service/pipes

#32592 Fix misidentification of parent folder at grandchild level or deeper.
  .changelog/32592.txt
  internal/service/quicksight/folder.go
  internal/service/quicksight/folder_test.go
Labels: size/M, tests, service/quicksight

#32627 elasticache/replication_group: Fix acc test for v7
  internal/service/elasticache/replication_group_test.go
Labels: size/XS, tests, service/elasticache

#32628 skaff: Update website template for new import format
  .github/PULL_REQUEST_TEMPLATE.md
  skaff/resource/websitedoc.tmpl
Labels: size/XS

#32579 B finspace kx cluster caching
  .changelog/32579.txt
  internal/service/finspace/kx_cluster.go
  internal/service/finspace/kx_cluster_test.go
  website/docs/r/finspace_kx_cluster.html.markdown
Labels: documentation, size/M, tests, service/finspace, partner

#32644 r/aws_quicksight: grid layout `optimized_view_port_width` argument is optional
  .changelog/32644.txt
  internal/service/quicksight/schema/template_sheet.go
Labels: size/XS, service/quicksight

#32595 Allow usage of service principals for KMS grants
  .changelog/32595.txt
  internal/service/kms/grant.go
  internal/service/kms/grant_test.go
  internal/verify/validate.go
  internal/verify/validate_test.go
Labels: size/M, tests, service/kms, verify, prioritized

#31778 Add secondary IPs to AWS NAT Gateway
  .changelog/31778.txt
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/vpc_nat_gateway.go
  internal/service/ec2/vpc_nat_gateway_data_source.go
  internal/service/ec2/vpc_nat_gateway_data_source_test.go
  internal/service/ec2/vpc_nat_gateway_test.go
  internal/service/ec2/wait.go
  website/docs/d/nat_gateway.html.markdown
  website/docs/r/nat_gateway.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/vpc

#32662 Update CHANGELOG entries
  .changelog/32644.txt
Labels: size/XS

#32368 r/aws_vpc and r/aws_default_vpc use AWS SDKv2
  internal/acctest/acctest.go
  internal/generate/tags/README.md
  internal/generate/tags/main.go
  internal/generate/tags/templates/v1/update_tags_body.tmpl
  internal/generate/tags/templates/v2/update_tags_body.tmpl
  internal/service/ec2/exports.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/filter.go
  internal/service/ec2/findv2.go
  internal/service/ec2/generate.go
  internal/service/ec2/statusv2.go
  internal/service/ec2/tagsv2_gen.go
  internal/service/ec2/vpc_.go
  internal/service/ec2/vpc_default_vpc.go
  internal/service/ec2/vpc_test.go
  internal/service/ec2/waitv2.go
Labels: documentation, size/XL, tests, technical-debt, generators, service/vpc

#32631 docs: Fix example for aws_licensemanager_grant_accepter
  website/docs/r/licensemanager_grant_accepter.html.markdown
Labels: documentation, size/XS, service/licensemanager

#32571 docs: Add examples and AWS documentation to aws_opensearchserverless_access…
  website/docs/r/opensearchserverless_access_policy.html.markdown
Labels: documentation, size/M, service/opensearchserverless, partner

#32554 docs: api_gateway_method_settings: Document Cloudwatch Logging Examples
  website/docs/r/api_gateway_method_settings.html.markdown
Labels: documentation, size/M, service/apigateway

#32669 r/aws_elasticache_parameter_group: reset ID if deleted manually
  .changelog/32669.txt
  internal/service/elasticache/find.go
  internal/service/elasticache/parameter_group.go
  internal/service/elasticache/parameter_group_test.go
Labels: bug, size/L, tests, service/elasticache

#32664 r/aws_lightsail_domain_entry: support for AAAA record type
  .changelog/32664.txt
  internal/service/lightsail/domain_entry.go
  internal/service/lightsail/domain_entry_test.go
Labels: enhancement, size/S, tests, service/lightsail

#32654 F aws transfer server structured logging destinations
  .changelog/32654.txt
  internal/service/transfer/server.go
  internal/service/transfer/server_data_source.go
  internal/service/transfer/server_data_source_test.go
  internal/service/transfer/server_test.go
  internal/service/transfer/transfer_test.go
  website/docs/d/transfer_server.html.markdown
  website/docs/r/transfer_server.html.markdown
Labels: enhancement, documentation, size/L, tests, service/transfer

#32659 r/aws_elasticsearch_domain: omit iops/throughput when not supported
  .changelog/32659.txt
  internal/service/elasticsearch/domain.go
  internal/service/elasticsearch/domain_test.go
  internal/service/elasticsearch/flex.go
Labels: bug, size/L, tests, service/elasticsearch

#32670 Fix `aws_cloudtrail` docs examples
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, size/XS, service/cloudtrail

#32668 Correct type in Quicksight flattener `flattenDataLabelOptions`
  .changelog/32668.txt
  internal/service/quicksight/schema/visual.go
Labels: size/XS, service/quicksight

#32679 r/aws_grafana_workspace: Allow in-place version updates
  .changelog/32679.txt
  internal/service/grafana/wait.go
  internal/service/grafana/workspace.go
  internal/service/grafana/workspace_data_source_test.go
  internal/service/grafana/workspace_test.go
  website/docs/r/grafana_workspace.html.markdown
Labels: enhancement, documentation, size/L, tests, service/grafana

#30438 Make batch compute environments updatable. Fixes GH-24374
  .changelog/30438.txt
  internal/service/batch/compute_environment.go
  internal/service/batch/compute_environment_test.go
  internal/service/batch/exports_test.go
Labels: size/XL, tests, service/batch, prioritized

#32667 Update Project Automation Workflows
  .ci/scripts/archive-on-milestone-closed.sh
  .github/workflows/issues.yml
  .github/workflows/milestone.yml
  .github/workflows/new-project-automation.yml
  .github/workflows/pull_request_review.yml
  .github/workflows/pull_request_target.yml
Labels: size/L, linter, repository, github_actions, prioritized

#32666 Update projects Terraform config for View field
  infrastructure/repository/projects.tf
Labels: size/XS, repository

#32605 Rework Labeling & Project Automation Workflows
  .ci/scripts/archive-on-milestone-closed.sh
  .ci/scripts/unlabel-on-milestone-closed.sh
  .github/ISSUE_TEMPLATE/00_bug_report.yml
  .github/ISSUE_TEMPLATE/01_documentation.yml
  .github/ISSUE_TEMPLATE/02_enhancement.yml
  .github/ISSUE_TEMPLATE/03_new_resource.yml
  .github/ISSUE_TEMPLATE/04_repository.yml
  .github/ISSUE_TEMPLATE/05_other.yml
  .github/workflows/autoremove_labels.yml
  .github/workflows/community-comment.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/issue_comment.yml
  .github/workflows/issues.yml
  .github/workflows/maintainer-edit.yml
  .github/workflows/milestone-closed.yml
  .github/workflows/milestone.yml
  .github/workflows/new-project-automation.yml
  .github/workflows/pull_request_review.yml
  .github/workflows/pull_request_target.yml
  .github/workflows/pull_requests.yml
  .github/workflows/reusable-add-or-remove-labels.yml
Labels: size/XL, linter, repository, github_actions, prioritized

#32683 Add conditionals to community comment jobs
  .github/workflows/issues.yml
  .github/workflows/pull_request_target.yml
Labels: size/XS, repository, github_actions, prioritized

#32684 Properly filter `gh` output to capture Project Item ID
  .github/workflows/issues.yml
  .github/workflows/pull_request_target.yml
Labels: size/XS, repository, github_actions, prioritized

#32685 Fix conditional for maintainer edit check
  .github/workflows/pull_request_target.yml
Labels: size/XS, prioritized

#32686 Add `--format json` flag to properly retrieve Project Item ID
  .github/workflows/issues.yml
  .github/workflows/pull_request_target.yml
Labels: size/XS, repository, github_actions, prioritized

#32233 medialive/channel: implement additional encoder settings
  .changelog/32233.txt
  internal/service/medialive/channel.go
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
  website/docs/r/medialive_channel.html.markdown
Labels: enhancement, documentation, size/XL, service/medialive

#32091 New Resource - IAM Security Token Service Preferences
  .changelog/32091.txt
  internal/service/iam/acc_test.go
  internal/service/iam/security_token_service_preferences.go
  internal/service/iam/security_token_service_preferences_test.go
  internal/service/iam/service_package_gen.go
  website/docs/r/iam_security_token_service_preferences.html.markdown
Labels: documentation, new-resource, size/L, tests, service/iam, generators, external-maintainer

#32682 Fix api_gateway_authorizer documentation example
  website/docs/r/api_gateway_authorizer.html.markdown
Labels: documentation, size/XS, service/apigateway, needs-triage

#32526 Add workspace settings to sagemaker studio resources
  .changelog/32526.txt
  internal/service/sagemaker/domain.go
  internal/service/sagemaker/domain_test.go
  internal/service/sagemaker/sagemaker_test.go
  internal/service/sagemaker/user_profile.go
  website/docs/r/sagemaker_domain.html.markdown
  website/docs/r/sagemaker_user_profile.html.markdown
Labels: enhancement, documentation, size/L, tests, service/sagemaker, external-maintainer

#32700 enhancement: add tests for ECS task definition EFS volume (#24921)
  internal/service/ecs/task_definition_test.go
Labels: size/M, tests, service/ecs

#32643 r/aws_finspace: add sweepers
  internal/service/finspace/sweep.go
  internal/sweep/sweep_test.go
Labels: size/M, tests, sweeper, service/finspace

#32689 Remove flawed `pull_request_review` Workflow
  .github/workflows/pull_request_review.yml
Labels: size/S, repository, github_actions, prioritized

#32687 Remove indication that `identifier` and `identifier_prefix` arguments of `aws_db_instance` force new on change
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/XS, service/rds, prioritized

#32658 fix: fix `aws_vpclattice_service_network_vpc_association` forced replacement
  .changelog/32658.txt
  internal/service/ec2/vpc_.go
  internal/service/vpclattice/exports_test.go
  internal/service/vpclattice/service_network.go
  internal/service/vpclattice/service_network_service_association.go
  internal/service/vpclattice/service_network_service_association_test.go
  internal/service/vpclattice/service_network_test.go
  internal/service/vpclattice/service_network_vpc_association.go
  internal/service/vpclattice/service_network_vpc_association_test.go
  internal/service/vpclattice/service_package_gen.go
  internal/tfresource/retry.go
Labels: bug, size/M, tests, service/vpclattice

#32703 r/aws_signer: convert to SDKv2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/lambda/function_test.go
  internal/service/signer/export_test.go
  internal/service/signer/generate.go
  internal/service/signer/service_package_gen.go
  internal/service/signer/signing_job.go
  internal/service/signer/signing_job_data_source.go
  internal/service/signer/signing_job_data_source_test.go
  internal/service/signer/signing_job_test.go
  internal/service/signer/signing_profile.go
  internal/service/signer/signing_profile_data_source.go
  internal/service/signer/signing_profile_data_source_test.go
  internal/service/signer/signing_profile_permission.go
  internal/service/signer/signing_profile_permission_test.go
  internal/service/signer/signing_profile_test.go
  internal/service/signer/sweep.go
  internal/service/signer/tags_gen.go
  internal/sweep/sweep_test.go
  names/names_data.csv
Labels: size/XL, tests, service/signer, tags, client-connections, generators, prioritized

#32186 r/aws_vpclattice_access_log_subscription: Show actionable error message when CloudWatch Logs destination_arn is not suffixed with wildcard
  .changelog/32186.txt
  internal/service/vpclattice/access_log_subscription.go
  internal/service/vpclattice/access_log_subscription_test.go
  internal/service/vpclattice/exports_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_access_log_subscription.html.markdown
Labels: bug, documentation, size/M, tests, service/vpclattice

#32706 Adds check so deferred input values
  .changelog/32706.txt
  internal/service/lambda/diff.go
Labels: size/XS, service/lambda, prioritized

#32708 Correct syntax error in `issues.yml`
  .github/workflows/issues.yml
Labels: size/XS, repository, github_actions, prioritized

#32709 Remove unused links from `aws_default_route_table` docs
  website/docs/r/default_route_table.html.markdown
Labels: documentation, size/XS, service/vpc, prioritized

#32719 Update vpc_endpoint.html.markdown
  website/docs/r/vpc_endpoint.html.markdown
Labels: documentation, size/XS, service/vpc

#32718 docs(aws_eks_cluster_auth): update outdated note on resource imports
  website/docs/cdktf/python/d/eks_cluster_auth.html.markdown
  website/docs/cdktf/typescript/d/eks_cluster_auth.html.markdown
  website/docs/d/eks_cluster_auth.html.markdown
Labels: documentation, size/XS, service/eks

#32720 Remove `backlog` Project Status variable
  infrastructure/repository/projects.tf
Labels: size/XS, repository, prioritized

#32733 Include top-level `github.com/aws/aws-sdk-go-v2` module in `aws-sdk-go` dependabot group
  .github/dependabot.yml
Labels: dependencies, size/XS, repository, github_actions, prioritized

#32416 Fix bug reading emr studio session mapping
  .changelog/32416.txt
  internal/service/emr/find.go
  internal/service/emr/id.go
  internal/service/emr/studio_session_mapping.go
  internal/service/emr/studio_session_mapping_test.go
Labels: bug, size/L, tests, service/emr

#32722 Add to Milestone: Conditional check for related issues
  .ci/scripts/add-to-milestone.sh
Labels: size/XS, linter, prioritized

#32738 r/aws_emr_cluster: Test empty strings in `bootstrap_action.args`
  internal/flex/flex.go
  internal/flex/flex_test.go
  internal/service/emr/cluster_test.go
Labels: size/L, tests, service/emr, flex, prioritized
