Repository hashicorp/terraform-provider-aws, pull requests merged in 2023-03, with the labels that each got.

#29728 `aws_dms_endpoint`: Deprecate `s3_settings`
  .changelog/29728.txt
  internal/service/dms/endpoint.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, size/XS, service/dms

#29727 fix verifiedaccess 'ProviderNameUpper' in names.csv
  .ci/.semgrep-service-name3.yml
  names/names_data.csv
Labels: size/XS

#29683 Add Contributors Slack Google Form
  README.md
  docs/index.md
Labels: documentation, size/XS, provider

#29745 GoReleaser - add new rlcp default setting to remove deprecation notice
  .goreleaser.yml
Labels: size/XS

#21293 Don't retry on `InsufficientInstanceCapacity` error
  .changelog/21293.txt
  internal/conns/config.go
  internal/service/ec2/ec2_ami_data_source_test.go
  internal/service/ec2/ec2_spot_fleet_request_test.go
Labels: size/XS, tests, service/ec2, client-connections

#27563 r/aws_transfer_user - fix error removing `home_directory_mappings`
  .changelog/27563.txt
  internal/service/transfer/find.go
  internal/service/transfer/server.go
  internal/service/transfer/server_data_source_test.go
  internal/service/transfer/status.go
  internal/service/transfer/tag_test.go
  internal/service/transfer/transfer_test.go
  internal/service/transfer/user.go
  internal/service/transfer/user_test.go
  internal/service/transfer/wait.go
  website/docs/r/transfer_user.html.markdown
Labels: bug, documentation, size/XL, tests, service/transfer, tags

#29750 Adds context parameter to `acctest.CheckFrameworkResourceDisappears`
  .ci/.golangci2.yml
  docs/resource-name-generation.md
  docs/resource-tagging.md
  internal/acctest/framework.go
  internal/service/auditmanager/account_registration_test.go
  internal/service/auditmanager/assessment_delegation_test.go
  internal/service/auditmanager/assessment_report_test.go
  internal/service/auditmanager/assessment_test.go
  internal/service/auditmanager/control_test.go
  internal/service/auditmanager/framework_share_test.go
  internal/service/auditmanager/framework_test.go
  internal/service/auditmanager/organization_admin_account_registration_test.go
  internal/service/ec2/vpc_security_group_egress_rule_test.go
  internal/service/ec2/vpc_security_group_ingress_rule_test.go
  internal/service/medialive/multiplex_program_test.go
  internal/service/resourceexplorer2/index_test.go
  internal/service/resourceexplorer2/view_test.go
  internal/service/route53/cidr_collection_test.go
  internal/service/simpledb/domain_test.go
  internal/sweep/framework.go
  internal/tfresource/retry_test.go
Labels: documentation, size/M, tests, service/route53, service/medialive, service/simpledb, service/auditmanager, sweeper, service/vpc, service/resourceexplorer2

#29391 Add Amazon HealthLake service client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/provider/service_packages_gen.go
  internal/service/healthlake/README.md
  internal/service/healthlake/generate.go
  internal/service/healthlake/service_package_gen.go
  internal/service/healthlake/sweep.go
  internal/service/healthlake/tags_gen.go
  internal/sweep/sweep_test.go
  names/names_data.csv
Labels: documentation, size/XL, tests, provider, sweeper, tags, client-connections, generators, service/healthlake

#29623 r/aws_networkmanager_core_network - base policy multi region support
  .changelog/29623.txt
  internal/service/networkmanager/core_network.go
  internal/service/networkmanager/core_network_policy_attachment_test.go
  internal/service/networkmanager/core_network_test.go
  website/docs/r/networkmanager_core_network.html.markdown
  website/docs/r/networkmanager_core_network_policy_attachment.html.markdown
Labels: documentation, size/XL, tests, service/networkmanager

#29721 `r/aws_lambda_function`: Add `memory_size`, `role`, and `timeout` validation
  .changelog/29721.txt
  internal/service/lambda/function.go
Labels: size/XS, service/lambda

#29761 Retries finding SQS Queue in tests to handle eventual consistency
  internal/service/sqs/exports_test.go
  internal/service/sqs/queue_test.go
  internal/tfresource/retry.go
Labels: size/XS, tests, service/sqs, eventual-consistency

#27730 r/aws_transfer_server - support on_partial_upload block on workflow_details
  .changelog/27730.txt
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  internal/service/transfer/transfer_test.go
  website/docs/r/transfer_server.html.markdown
Labels: documentation, size/XL, tests, service/transfer

#29764 Add logging to acceptance tests
  .ci/semgrep/migrate/context.yml
  internal/acctest/acctest.go
  internal/acctest/context.go
  internal/service/transfer/acc_test.go
  internal/service/transfer/server_test.go
Labels: size/M, tests, service/transfer, linter

#29641 `r/aws_organizations_account`: Test cleanup
  internal/service/organizations/account.go
  internal/service/organizations/account_test.go
Labels: size/XS, tests, service/organizations

#29772 dms/endpoint: Add s3 setting detachTargetOnLobLookupFailureParquet
  .changelog/29772.txt
  internal/acctest/acctest.go
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  internal/service/dms/s3_endpoint.go
  internal/service/dms/s3_endpoint_test.go
  website/docs/r/dms_s3_endpoint.html.markdown
Labels: size/XL, service/dms

#29766 Tech debt: Tidy up some service-level `testAccPreCheck` functions
  internal/service/amplify/app_test.go
  internal/service/eks/fargate_profile_test.go
  internal/service/elasticache/subnet_group_data_source_test.go
  internal/service/mediaconvert/queue.go
  internal/service/mediaconvert/queue_test.go
  internal/service/memorydb/subnet_group_test.go
  internal/service/route53/traffic_policy_instance_test.go
Labels: size/M, tests, service/route53, service/mediaconvert, service/elasticache, service/eks, service/amplify, service/memorydb

#29515 update ssm-contacts go sdk client from v1 to v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  names/names.go
  names/names_data.csv
Labels: size/XS, client-connections, generators, partner

#29810 chore: go mod tidy
  go.mod
  go.sum
Labels: size/XS

#29796 aws_codebuild_project - update secondary_artifacts
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, size/XS, service/codebuild, needs-triage

#29813 Update CHANGELOG: Next release will be `v4.57.1`
  CHANGELOG.md
Labels: documentation, size/XS, provider

#29812 r/aws_lambda_function: Always set `skip_destroy` in resource Read
  .changelog/29812.txt
  internal/service/lambda/function.go
  internal/service/lambda/function_test.go
Labels: bug, regression, size/M, tests, service/lambda

#29692 aws_transfer_workflow - add decrypt type
  .changelog/29692.txt
  internal/service/transfer/workflow.go
  internal/service/transfer/workflow_test.go
  website/docs/r/transfer_workflow.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/transfer

#28621 aws_transfer_server - add protocol_details
  .changelog/28621.txt
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  internal/service/transfer/transfer_test.go
  website/docs/r/transfer_server.html.markdown
Labels: enhancement, documentation, size/L, tests, service/transfer

#29500 r/redshift_cluster_snapshot - new resource
  internal/service/redshift/cluster_snapshot.go
  internal/service/redshift/cluster_snapshot_test.go
  internal/service/redshift/cluster_test.go
  internal/service/redshift/consts.go
  internal/service/redshift/find.go
  internal/service/redshift/service_package_gen.go
  internal/service/redshift/status.go
  internal/service/redshift/sweep.go
  internal/service/redshift/wait.go
  website/docs/r/redshift_cluster_snapshot.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/redshift, sweeper, generators

#29020 sweeper/aws_sesv2_configuration_set: new sweeper
  internal/service/sesv2/list.go
  internal/service/sesv2/sweep.go
  internal/sweep/sweep_test.go
Labels: size/M, tests, service/sesv2, sweeper

#28812 r/aws_sesv2_configuration_set - add vdm_options argument
  .changelog/28812.txt
  internal/service/sesv2/configuration_set.go
  internal/service/sesv2/configuration_set_test.go
  website/docs/r/sesv2_configuration_set.html.markdown
Labels: documentation, size/L, tests, service/sesv2

#29793 r/grafana_workspace - add `network_access_control` support + removing VPCs
  .changelog/29793.txt
  internal/service/grafana/workspace.go
  internal/service/grafana/workspace_test.go
  website/docs/r/grafana_workspace.html.markdown
Labels: bug, enhancement, documentation, size/L, tests, service/grafana

#29783 New Data Source: `aws_ecs_task_execution`
  .changelog/29783.txt
  internal/service/ecs/service_package_gen.go
  internal/service/ecs/task_execution_data_source.go
  internal/service/ecs/task_execution_data_source_test.go
  website/docs/d/ecs_task_execution.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/ecs, generators

#28434 r/db_instance - add `listener_endpoint` + validations
  .changelog/28434.txt
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds

#28424 r/db_snapshot - add support for sharing snapshots
  .changelog/28424.txt
  internal/service/rds/consts.go
  internal/service/rds/snapshot.go
  internal/service/rds/snapshot_copy.go
  internal/service/rds/snapshot_copy_test.go
  internal/service/rds/snapshot_test.go
  internal/service/rds/status.go
  internal/service/rds/wait.go
  website/docs/r/db_snapshot.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/rds

#29824 Fix setting of the video_pid attribute in m2ts_settings
  .changelog/29824.txt
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
Labels: bug, size/XS, tests, service/medialive

#29834 Remove note on Terraform version compatibility changes v4 upgrade guide
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/XS

#29835 Fix file name reference for docs
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/XS, service/lambda, needs-triage

#29820 resource/aws_batch_job_description: Ignore diffs on `container_properties` environment variables with an empty value
  .changelog/29820.txt
  internal/acctest/acctest.go
  internal/errs/diag.go
  internal/service/batch/container_properties.go
  internal/service/batch/container_properties_test.go
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_test.go
Labels: size/XL, tests, service/batch

#29788 docs: improve detail for app runner secrets
  website/docs/r/apprunner_service.html.markdown
Labels: documentation, size/XS, service/apprunner

#20891 r/cloudhsm_v2_hsm: Clarify the need for `subnet_id` or `availability_zone`
  .changelog/20891.txt
  internal/service/cloudhsmv2/cloudhsmv2_test.go
  internal/service/cloudhsmv2/cluster.go
  internal/service/cloudhsmv2/cluster_data_source.go
  internal/service/cloudhsmv2/cluster_data_source_test.go
  internal/service/cloudhsmv2/cluster_test.go
  internal/service/cloudhsmv2/find.go
  internal/service/cloudhsmv2/hsm.go
  internal/service/cloudhsmv2/hsm_test.go
  internal/service/cloudhsmv2/status.go
  internal/service/cloudhsmv2/wait.go
  website/docs/r/cloudhsm_v2_hsm.html.markdown
Labels: documentation, size/XL, tests, service/cloudhsmv2

#29816 resource/aws_dynamodb_table: Table class cannot be modified in the same request as other fields
  .github/workflows/acctest-terraform-lint.yml
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, size/L, tests, service/dynamodb, linter, repository, github_actions

#29840 Add Sharon to maintainers list
  docs/faq.md
  infrastructure/repository/maintainer-list.tf
Labels: documentation, size/XS, repository

#29567 Add warning about discouraged launch configuration resource
  website/docs/r/launch_configuration.html.markdown
Labels: documentation, size/XS, service/autoscaling, needs-triage

#29494 docs: adjust import syntax of aws_cognito_resource_server
  website/docs/r/cognito_resource_server.markdown
Labels: documentation, size/XS, service/cognitoidp

#29388 Fix domain_name newline in website docs
  website/docs/r/sagemaker_domain.html.markdown
Labels: documentation, size/XS, service/sagemaker, needs-triage

#29843 Use `go.mod` for Go version in GitHub Actions
  .actrc
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/goreleaser-ci.yml
  .github/workflows/providerlint.yml
  .github/workflows/release.yml
  .github/workflows/skaff.yml
  .github/workflows/snapshot.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
  .github/workflows/workflow-lint.yml
Labels: size/M, linter, repository, github_actions

#29847 lambda/docs: Document how to fix Lambda KMSAccessDeniedException
  website/docs/d/lambda_invocation.html.markdown
  website/docs/r/lambda_function.html.markdown
  website/docs/r/lambda_invocation.html.markdown
Labels: documentation, size/XS, service/lambda

#29763 r/aws_acm_certificate: Update options in place
  .changelog/29763.txt
  internal/service/acm/certificate.go
  internal/service/acm/certificate_test.go
Labels: bug, size/XL, tests, service/acm

#29863 r/aws_elastic_beanstalk_configuration_template: Map `InvalidParameterValue: No Platform named ...` to NotFoundError
  .changelog/29863.txt
  internal/service/elasticbeanstalk/configuration_template.go
  internal/service/elasticbeanstalk/configuration_template_test.go
Labels: bug, size/M, tests, service/elasticbeanstalk

#29865 docs: Modify policy reference for resource aws_iam_role_policy.cloudwatch
  website/docs/r/api_gateway_account.html.markdown
Labels: documentation, size/XS, service/apigateway, needs-triage

#29808 Fix issue with include_fec attribute not being set
  .changelog/29808.txt
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
Labels: bug, size/L, tests, service/medialive

#29254 r/flow_log: Add `cross_account_iam_role_arn` attribute
  .changelog/29254.txt
  internal/service/ec2/vpc_flow_log.go
  internal/service/ec2/vpc_flow_log_test.go
  website/docs/r/flow_log.html.markdown
Labels: documentation, size/L, tests, service/vpc

#29741 New Resources: `aws_licensemanager_grant` and `aws_licensemanager_grant_accepter`, New Datasources: `aws_licensemanager_received_license` , `aws_licensemanager_received_licenses`, and `aws_licensemanager_grants`
  .changelog/29741.txt
  .teamcity/components/generated/service_orgacct.kt
  docs/acc-test-environment-variables.md
  internal/acctest/acctest.go
  internal/service/licensemanager/association_test.go
  internal/service/licensemanager/common_schema_data_source.go
  internal/service/licensemanager/generate.go
  internal/service/licensemanager/grant.go
  internal/service/licensemanager/grant_accepter.go
  internal/service/licensemanager/grant_accepter_test.go
  internal/service/licensemanager/grant_test.go
  internal/service/licensemanager/license_configuration_test.go
  internal/service/licensemanager/license_grants_data_source.go
  internal/service/licensemanager/license_grants_data_source_test.go
  internal/service/licensemanager/list_pages_gen.go
  internal/service/licensemanager/received_license_data_source.go
  internal/service/licensemanager/received_license_data_source_test.go
  internal/service/licensemanager/received_licenses_data_source.go
  internal/service/licensemanager/received_licenses_data_source_test.go
  internal/service/licensemanager/service_package_gen.go
  website/docs/d/licensemanager_grants.html.markdown
  website/docs/d/licensemanager_received_license.html.markdown
  website/docs/d/licensemanager_received_licenses.html.markdown
  website/docs/r/licensemanager_grant.html.markdown
  website/docs/r/licensemanager_grant_accepter.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, service/licensemanager, needs-triage, generators

#29648 Data source: Add association attributes to aws_ec2_transit_gateway_attachment
  .changelog/29648.txt
  internal/service/ec2/transitgateway_attachment_data_source.go
  internal/service/ec2/transitgateway_attachment_data_source_test.go
  website/docs/d/ec2_transit_gateway_attachment.html.markdown
Labels: documentation, size/XS, tests, service/transitgateway

#29874 Fixed aws_iam_policy_document data source example and added the necessary 'statement' block.
  website/docs/r/organizations_policy.html.markdown
Labels: documentation, size/XS, service/organizations, needs-triage

#29891 Fix typo in r/aws_eks_cluster
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, size/XS, service/eks

#29892 Fix typos related to policy rewrite
  website/docs/r/appsync_datasource.html.markdown
  website/docs/r/codebuild_project.html.markdown
  website/docs/r/iam_policy_attachment.html.markdown
Labels: documentation, size/XS, service/iam, service/codebuild, service/appsync

#29730 [Docs]: Code Example for aws_sesv2_email_identity (BYODKIM) is misleading
  website/docs/r/sesv2_email_identity.html.markdown
Labels: documentation, size/XS, service/sesv2

#29909 Document Direct Connect SiteLink support
  website/docs/r/dx_private_virtual_interface.html.markdown
  website/docs/r/dx_transit_virtual_interface.html.markdown
Labels: documentation, size/XS, service/directconnect

#29735 fix: apigatewayv2 error handling for ConflictException: Unable to complete operation due to concurrent modification.
  .changelog/29735.txt
  internal/conns/config.go
Labels: enhancement, size/XS

#29632 fix: add XNotImplemented error handling in resourceBucketRead
  .changelog/29632.txt
  internal/service/s3/bucket.go
Labels: size/XS, service/s3

#29659 aws_scheduler_schedule - correct assign_public_ip description
  website/docs/r/scheduler_schedule.html.markdown
Labels: documentation, size/XS, service/scheduler

#29566 r/aws_glue_crawler: Add create_native_delta_table option to delta_target block
  .changelog/29566.txt
  internal/service/glue/crawler.go
  internal/service/glue/crawler_test.go
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, size/XL, tests, service/glue

#29635 Added timeouts to QLDB ledger
  .changelog/29635.txt
  internal/service/qldb/ledger.go
  website/docs/r/qldb_ledger.html.markdown
  website/docs/r/rds_cluster_activity_stream.html.markdown
Labels: documentation, size/XS, service/rds, needs-triage, service/qldb

#27598 AWS supports higher throughput ranges for select customers
  .changelog/27598.txt
  internal/service/elasticsearch/domain.go
  internal/service/opensearch/domain.go
  website/docs/r/elasticsearch_domain.html.markdown
  website/docs/r/opensearch_domain.html.markdown
Labels: bug, documentation, size/XS, service/elasticsearch, service/opensearch

#27616 Add the option to preserve the source data type for S3 output format…
  .changelog/27616.txt
  internal/service/appflow/flow.go
  internal/service/appflow/flow_test.go
  website/docs/r/appflow_flow.html.markdown
Labels: enhancement, documentation, size/M, tests, service/appflow

#29915 `r/aws_sagemaker_endpoint_configuration`: Fix `variant_name` generation when unset
  .changelog/29915.txt
  internal/service/sagemaker/endpoint_configuration.go
  internal/service/sagemaker/endpoint_configuration_test.go
Labels: size/S, tests, service/sagemaker

#29916 Correct CHANGELOG entry
  .changelog/29632.txt
Labels: size/XS

#29903 Fix aws_lightsail_instance name validation
  .changelog/29903.txt
  internal/service/lightsail/instance.go
  internal/service/lightsail/instance_test.go
Labels: size/S, tests, service/lightsail

#29839 Fix updates on empty env vars in aws_lambda_func
  .changelog/29839.txt
  internal/service/lambda/function.go
  internal/service/lambda/function_test.go
Labels: size/M, tests, service/lambda

#29897 Add gp3 under iops section for launch template
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XS, service/ec2, needs-triage

#29904 fix r/sagemaker_app typos
  website/docs/r/sagemaker_app.html.markdown
Labels: documentation, size/XS, service/sagemaker, needs-triage

#27351 Add attribute arn_without_revision on aws_ecs_task_definition
  .changelog/27351.txt
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_data_source.go
  internal/service/ecs/task_definition_test.go
  website/docs/d/ecs_task_definition.html.markdown
  website/docs/r/ecs_task_definition.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ecs

#29964 Tech debt: Replace service-specific Region acceptance tests with `acctest.PreCheckRegion`
  docs/running-and-writing-acceptance-tests.md
  internal/acctest/acctest.go
  internal/service/cur/acc_test.go
  internal/service/cur/report_definition_data_source_test.go
  internal/service/cur/report_definition_test.go
  internal/service/fms/acc_test.go
  internal/service/fms/admin_account_test.go
  internal/service/fms/policy_test.go
  internal/service/lightsail/acc_test.go
  internal/service/lightsail/domain_entry_test.go
  internal/service/lightsail/domain_test.go
  internal/service/pricing/acc_test.go
  internal/service/pricing/product_data_source_test.go
  internal/service/route53/hosted_zone_dnssec_test.go
  internal/service/route53/key_signing_key_test.go
  internal/service/waf/acc_test.go
  internal/service/waf/web_acl_test.go
Labels: documentation, size/XL, tests, service/route53, service/lightsail, service/waf, technical-debt, service/fms, service/pricing, service/cur

#27790 Add cloudfront_distribution_zone_id to aws_cognito_user_pool_domain
  .changelog/27790.txt
  internal/conns/awsclient.go
  internal/service/apigateway/acc_test.go
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/domain_name_data_source.go
  internal/service/apigateway/domain_name_data_source_test.go
  internal/service/apigateway/domain_name_test.go
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_configuration_structure.go
  internal/service/cloudfront/distribution_data_source.go
  internal/service/cloudfront/distribution_data_source_test.go
  internal/service/cloudfront/find.go
  internal/service/cognitoidp/acc_test.go
  internal/service/cognitoidp/status.go
  internal/service/cognitoidp/user_pool_domain.go
  internal/service/cognitoidp/user_pool_domain_test.go
  internal/service/cognitoidp/wait.go
  website/docs/r/cognito_user_pool_domain.markdown
Labels: enhancement, documentation, size/XL, tests, service/apigateway, service/cloudfront, client-connections, service/cognitoidp

#29670 Adding resource - OAM Sink
  .changelog/29670.txt
  internal/service/oam/service_package_gen.go
  internal/service/oam/sink.go
  internal/service/oam/sink_test.go
  names/names.go
  website/docs/r/oam_sink.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/oam

#25535 add data source for aws_servicecatalog_provisioning_artifacts
  .changelog/25535.txt
  internal/service/servicecatalog/provisioning_artifacts_data_source.go
  internal/service/servicecatalog/provisioning_artifacts_data_source_test.go
  internal/service/servicecatalog/service_package_gen.go
  website/docs/d/servicecatalog_provisioning_artifacts.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/servicecatalog, generators

#29656 add resource: codegurureviewer_repository_association
  .changelog/29656.txt
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  internal/provider/service_packages_gen.go
  internal/service/codegurureviewer/generate.go
  internal/service/codegurureviewer/repository_association.go
  internal/service/codegurureviewer/repository_association_test.go
  internal/service/codegurureviewer/service_package_gen.go
  internal/service/codegurureviewer/sweep.go
  internal/service/codegurureviewer/tags_gen.go
  internal/sweep/sweep_test.go
  website/docs/r/codegurureviewer_repository_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/codegurureviewer, sweeper, tags, generators

#29928 aws_batch_job_definition - fix example
  website/docs/r/batch_job_definition.html.markdown
Labels: documentation, size/XS, service/batch

#29806 Add RDS cli command to help determine engine version when using aws_r…
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#29875 aws_launch_template: Show safer example for `device_name`, and mark it as required
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XS, service/ec2

#26746 Adds missing anonymous_auth_enabled parameter
  .changelog/26746.txt
  internal/service/opensearch/domain_data_source.go
  internal/service/opensearch/domain_data_source_test.go
Labels: bug, size/S, tests, service/opensearch

#29906 docs: update aws_budgets_budget documentation
  website/docs/r/budgets_budget.html.markdown
Labels: documentation, size/M, service/budgets

#29926 r/aws_fms_policy - add description
  .changelog/29926.txt
  internal/service/fms/policy.go
  internal/service/fms/policy_test.go
  internal/service/wafregional/rule_group.go
  website/docs/r/fms_policy.html.markdown
Labels: documentation, size/M, tests, service/fms, service/wafregional

#26305 Disable `ForceNew` flag for `enable_resource_name_dns_*` on aws_instance resource
  .changelog/26305.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
Labels: enhancement, size/M, tests, service/ec2

#29971 Correct CHANGELOG entry
  .changelog/29656.txt
Labels: size/XS

#29744 Replace version pinning of actions/setup-go to its SHA
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/goreleaser-ci.yml
  .github/workflows/providerlint.yml
  .github/workflows/skaff.yml
  .github/workflows/snapshot.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
  .github/workflows/workflow-lint.yml
Labels: size/S, linter, repository, github_actions

#29746 Replace version pinning of actions/cache to its SHA
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/changelog.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/goreleaser-ci.yml
  .github/workflows/providerlint.yml
  .github/workflows/skaff.yml
  .github/workflows/snapshot.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
Labels: size/M, linter, repository, github_actions

#28961 [Enhancement]: Add support for auto-enabling lambda scanning on aws_inspector2_organization_configuration
  .changelog/28961.txt
  internal/service/inspector2/organization_configuration.go
  internal/service/inspector2/organization_configuration_test.go
  website/docs/r/inspector2_organization_configuration.html.markdown
Labels: enhancement, documentation, size/M, tests, service/inspector2

#29924 [Enhancement]: dynamodb: add arg to set deletion protection for table
  .changelog/29924.txt
  internal/service/dynamodb/global_table.go
  internal/service/dynamodb/global_table_test.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_data_source.go
  internal/service/dynamodb/table_data_source_test.go
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, size/XL, tests, service/dynamodb

#29743 Replace version pinning of actions/checkout to SHA
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencies.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/gen-teamcity.yml
  .github/workflows/generate_changelog.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/goreleaser-ci.yml
  .github/workflows/milestone.yml
  .github/workflows/mkdocs.yml
  .github/workflows/providerlint.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  .github/workflows/semgrep-ci.yml
  .github/workflows/skaff.yml
  .github/workflows/snapshot.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
  .github/workflows/workflow-lint.yml
  .github/workflows/yamllint.yml
Labels: size/M, linter, repository, github_actions

#28245 New Data Source: aws_vpc_public_ipv4_pools
  .changelog/28245.txt
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  internal/service/ec2/ec2_public_ipv4_pool_data_source.go
  internal/service/ec2/ec2_public_ipv4_pool_data_source_test.go
  internal/service/ec2/ec2_public_ipv4_pools_data_source.go
  internal/service/ec2/ec2_public_ipv4_pools_data_source_test.go
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/service_package_gen.go
  names/names_data.csv
  website/docs/d/ec2_public_ipv4_pool.html.markdown
  website/docs/d/ec2_public_ipv4_pools.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/ec2, repository, generators, github_actions

#29920 Add disable cross zone load balancing option to target group
  .changelog/29920.txt
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_data_source.go
  internal/service/elbv2/target_group_data_source_test.go
  internal/service/elbv2/target_group_test.go
  website/docs/r/lb_target_group.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/elbv2

#29914 docs(api-gateway-usage-plan-key): correct example
  website/docs/r/api_gateway_usage_plan_key.html.markdown
Labels: documentation, size/XS, service/apigateway

#29807 Fix casting of bitrate and sample rate for aac settings
  .changelog/29807.txt
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
Labels: bug, size/XS, tests, service/medialive

#29809 Fix casting bitrate for eac3
  .changelog/29809.txt
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
Labels: bug, size/S, tests, service/medialive

#29859 Audio normalization and remix not computed
  .changelog/29859.txt
  internal/service/medialive/channel_encoder_settings_schema.go
Labels: bug, size/XS, service/medialive

#29917 Smooth output audio_only_timecode_control typo
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
Labels: bug, size/M, tests, service/medialive

#30005 chore: add CHANGELOG for PR 29917
  .changelog/29917.txt
Labels: size/XS, service/medialive

#30007 Correct CHANGELOG entry
  .changelog/29814.txt
  CHANGELOG.md
Labels: size/XS

#30003 Fix `aws_cloudwatch_event_target` example
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, size/XS, service/events

#30001 Fix misspelling in `aws_kendra_data_source`
  website/docs/r/kendra_data_source.html.markdown
Labels: documentation, size/XS, service/kendra

#29994 :bug: AWS Route now Support IPv6 Destinations with VPC Endpoints as Targets
  .changelog/29994.txt
  internal/service/ec2/vpc_route.go
  internal/service/ec2/vpc_route_test.go
Labels: enhancement, size/M, tests, service/vpc

#29999 Decrease neptune ServerlessMinNCUs from 2.5 to 1.0.
  .changelog/29999.txt
  internal/service/neptune/cluster.go
  website/docs/r/neptune_cluster.html.markdown
Labels: enhancement, documentation, size/XS, service/neptune

#29792 Add support for additional aws_lb attributes
  .changelog/29792.txt
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/load_balancer_data_source_test.go
  internal/service/elbv2/load_balancer_test.go
  website/docs/r/lb.html.markdown
Labels: documentation, size/XL, tests, service/elbv2

#30006 [Tests] aws_medialive_channel: update only channel name
  internal/service/medialive/channel_test.go
Labels: size/XS, tests, service/medialive

#29923 add resource aws kms policy attachment
  .changelog/29923.txt
  internal/conns/awsclient.go
  internal/service/kms/key_policy.go
  internal/service/kms/key_policy_test.go
  internal/service/kms/key_test.go
  internal/service/kms/service_package_gen.go
  website/docs/r/kms_key.html.markdown
  website/docs/r/kms_key_policy.html.markdown
Labels: documentation, size/XL, tests, service/kms, client-connections, generators, partner

#29991 b-cachekeyparameters-29910
  .changelog/29991.txt
  internal/service/apigateway/account.go
  internal/service/apigateway/account_test.go
  internal/service/apigateway/flex.go
  internal/service/apigateway/flex_test.go
  internal/service/apigateway/integration_test.go
  internal/service/apigateway/method.go
Labels: size/XL, tests, service/apigateway

#29896 resource/aws_cloudwatch_metric_alarm: Add `period` to `metric_query` block
  .changelog/29896.txt
  internal/service/cloudwatch/metric_alarm.go
  internal/service/cloudwatch/metric_alarm_test.go
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, size/XL, tests, service/cloudwatch

#30020 New Resource - `aws_oam_sink_policy`
  .changelog/30020.txt
  internal/service/oam/service_package_gen.go
  internal/service/oam/sink_policy.go
  internal/service/oam/sink_policy_test.go
  website/docs/r/oam_sink_policy.html.markdown
Labels: documentation, size/XL, tests, generators, partner, service/oam

#22302 Make the recovery_mechanism optional in account_recovery_settings
  .changelog/22302.txt
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_test.go
  website/docs/r/cognito_user_pool.markdown
Labels: documentation, size/L, tests, service/cognitoidp

#28928 Add authentication_mode to aws_elasticache_user
  .changelog/28928.txt
  internal/service/elasticache/find.go
  internal/service/elasticache/status.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_data_source.go
  internal/service/elasticache/user_test.go
  internal/service/elasticache/wait.go
  website/docs/r/elasticache_user.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/elasticache

#26838 fix: retry find the association in resourceNetworkACLAssociationRead
  .changelog/26838.txt
  internal/service/ec2/vpc_network_acl_association.go
Labels: bug, size/XS, service/vpc

#30018 add allExcept behavior to cloudfront_origin_request_policy
  website/docs/r/cloudfront_origin_request_policy.html.markdown
Labels: documentation, size/XS, service/cloudfront

#30046 Update servicecatalog_product.html.markdown
  website/docs/r/servicecatalog_product.html.markdown
Labels: documentation, size/XS, service/servicecatalog

#30042 Add `event_bridge_config` argument to support AppSync EventBridge data sources
  .changelog/30042.txt
  internal/service/appsync/appsync_test.go
  internal/service/appsync/datasource.go
  internal/service/appsync/datasource_test.go
  internal/service/appsync/graphql_api_test.go
  website/docs/r/appsync_datasource.html.markdown
Labels: enhancement, documentation, size/L, tests, service/appsync

#29047 r/aws_cognito_user_pool: Support removing `custom_email_sender` and `custom_sms_sender` triggers
  .changelog/29047.txt
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_test.go
Labels: bug, size/M, tests, service/cognitoidp

#30045 [Tests] aws_rds_global_cluster: destroy fails when `force_destroy = true`
  internal/service/rds/cluster_test.go
  internal/service/rds/global_cluster.go
  internal/service/rds/global_cluster_test.go
Labels: size/M, tests, service/rds

#29825 Audio descriptions are not computed
  .changelog/29825.txt
  internal/service/medialive/channel_encoder_settings_schema.go
Labels: bug, size/XS, service/medialive

#30066 r/aws_cognito_user_pool_domain: Allow update of `certificate_arn` in place
  .changelog/25275.txt
  internal/service/cognitoidp/user_pool_domain.go
  internal/service/cognitoidp/user_pool_domain_test.go
Labels: size/L, tests, service/cognitoidp

#30034 data-source/aws_ecrpublic_authorization_token: Update documentation to say `us-east-1`-only
  docs/acc-test-environment-variables.md
  internal/service/ecrpublic/authorization_token_data_source.go
  internal/service/ecrpublic/authorization_token_data_source_test.go
  internal/service/ecrpublic/repository_policy_test.go
  internal/service/ecrpublic/repository_test.go
  website/docs/d/ecrpublic_authorization_token.html.markdown
  website/docs/r/ecrpublic_repository.html.markdown
  website/docs/r/ecrpublic_repository_policy.html.markdown
Labels: documentation, size/M, tests, service/ecrpublic

#29773 Add `auto_enable_standards` to `aws_securityhub_organization_configuration`
  .changelog/29773.txt
  internal/service/securityhub/organization_configuration.go
  internal/service/securityhub/organization_configuration_test.go
  internal/service/securityhub/securityhub_test.go
  website/docs/r/securityhub_organization_configuration.markdown
Labels: documentation, size/M, tests, service/securityhub

#30067 r/aws_ecr_repository: handle err, nil output on read
  .changelog/30067.txt
  internal/service/ecr/repository.go
Labels: size/XS, service/ecr

#30056 BugFix and Cleanup: Implement new Lightsail `expandOperations` across all Lightsail resources. Additionally fix 3 reported Lightsail Bugs.
  .changelog/30056.txt
  internal/service/lightsail/bucket.go
  internal/service/lightsail/bucket_access_key.go
  internal/service/lightsail/bucket_resource_access.go
  internal/service/lightsail/certificate.go
  internal/service/lightsail/database.go
  internal/service/lightsail/disk.go
  internal/service/lightsail/disk_attachment.go
  internal/service/lightsail/domain.go
  internal/service/lightsail/domain_entry.go
  internal/service/lightsail/domain_entry_test.go
  internal/service/lightsail/find.go
  internal/service/lightsail/flex.go
  internal/service/lightsail/instance.go
  internal/service/lightsail/instance_public_ports_test.go
  internal/service/lightsail/instance_test.go
  internal/service/lightsail/key_pair.go
  internal/service/lightsail/lb.go
  internal/service/lightsail/lb_attachment.go
  internal/service/lightsail/lb_attachment_test.go
  internal/service/lightsail/lb_certificate.go
  internal/service/lightsail/lb_certificate_attachment.go
  internal/service/lightsail/lb_certificate_attachment_test.go
  internal/service/lightsail/lb_certificate_test.go
  internal/service/lightsail/lb_https_redirection_policy.go
  internal/service/lightsail/lb_https_redirection_policy_test.go
  internal/service/lightsail/lb_stickiness_policy.go
  internal/service/lightsail/lb_stickiness_policy_test.go
  internal/service/lightsail/lb_test.go
  internal/service/lightsail/static_ip_attachment_test.go
  internal/service/lightsail/wait.go
  website/docs/r/lightsail_disk_attachment.html.markdown
  website/docs/r/lightsail_instance.html.markdown
  website/docs/r/lightsail_instance_public_ports.html.markdown
  website/docs/r/lightsail_lb_attachment.html.markdown
Labels: bug, documentation, size/XL, tests, service/lightsail

#29976 Extend timeouts for aws_budget_actions
  .changelog/29976.txt
  internal/service/budgets/budget_action.go
  website/docs/r/budgets_budget_action.html.markdown
Labels: documentation, size/XS, service/budgets

#30078 Pin dorny/paths-filter to SHA (v2.11.1)
  .github/workflows/changelog.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser-ci.yml
Labels: size/XS, repository, github_actions

#30076 Correct page title on aws_eks_clusters data source
  website/docs/d/eks_clusters.html.markdown
Labels: documentation, size/XS, service/eks

#30073 d/aws_ecs_cluster - add tags attribute
  .changelog/30073.txt
  internal/service/ecs/cluster_data_source.go
  internal/service/ecs/cluster_data_source_test.go
  website/docs/d/ecs_cluster.html.markdown
Labels: enhancement, documentation, size/S, tests, service/ecs

#30089 Pin github/codeql-action to v2.2.7
  .github/workflows/codeql-analysis.yml
Labels: size/XS, repository, github_actions

#30091 Pin yakdriver/md-check-links to sha at v2.0.5
  .github/workflows/documentation.yml
  .github/workflows/website.yml
Labels: size/XS

#30090 Pin peter-evans/create-or-update-comment to v2.1.1
  .github/workflows/changelog.yml
  .github/workflows/community-comment.yml
  .github/workflows/dependencies.yml
  .github/workflows/maintainer-edit.yml
Labels: size/XS, repository, github_actions

#30070 r/aws_securityhub_account: Add `enable_default_standards` argument
  .changelog/13477.txt
  internal/service/securityhub/account.go
  internal/service/securityhub/account_test.go
  internal/service/securityhub/find.go
  internal/service/securityhub/securityhub_test.go
  internal/service/securityhub/standards_subscription.go
  internal/service/securityhub/status.go
  internal/service/securityhub/wait.go
  website/docs/r/securityhub_account.markdown
Labels: documentation, size/XL, tests, service/securityhub

#30093 skaff: Add missing context to the CheckDestroy function
  skaff/resource/resourcetest.tmpl
Labels: size/XS, skaff

#30081 Fix: Custom Domain recreating on update truststore
  .changelog/30081.txt
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/domain_name_test.go
  internal/service/apigatewayv2/domain_name.go
  internal/service/apigatewayv2/domain_name_test.go
  internal/service/apigatewayv2/find.go
  internal/service/apigatewayv2/status.go
  internal/service/apigatewayv2/wait.go
Labels: size/XL, tests, service/apigateway, service/apigatewayv2

#30071 Consolidates `providerlint` check into a single check
  .ci/scripts/providerlint.sh
  .github/workflows/providerlint.yml
  .github/workflows/terraform_provider.yml
Labels: size/M, linter, repository, github_actions

#30074 resource/aws_cognito_risk_configuration: validation for `risk_exception_configuration`
  .changelog/30074.txt
  internal/acctest/acctest.go
  internal/service/cognitoidp/risk_configuration.go
  internal/service/cognitoidp/risk_configuration_test.go
  website/docs/r/cognito_risk_configuration.html.markdown
Labels: enhancement, size/L, service/cognitoidp

#30096 Updated missing outputs for `vpc_ipam` resource
  website/docs/r/vpc_ipam.html.markdown
Labels: documentation, size/XS, service/ipam

#30100 Update missing outputs for vpc_iapm_scope resource
  website/docs/r/vpc_ipam_scope.html.markdown
Labels: documentation, size/XS, service/ipam

#30094 r/aws_sesv2_contact_list: new resource
  .changelog/30094.txt
  internal/service/sesv2/contact_list.go
  internal/service/sesv2/contact_list_test.go
  internal/service/sesv2/list.go
  internal/service/sesv2/service_package_gen.go
  internal/service/sesv2/sweep.go
  website/docs/r/sesv2_contact_list.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/sesv2, sweeper, generators

#30106 Website: Amend `lightsail_instance`, Add details and example for user_data
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, size/XS, service/lightsail

#19065 f/aws_securityhub_member: email is optional variable
  .changelog/19065.txt
  internal/service/securityhub/errors.go
  internal/service/securityhub/member.go
  internal/service/securityhub/member_test.go
  website/docs/r/securityhub_member.markdown
Labels: enhancement, documentation, size/L, tests, service/securityhub

#30101 Pinpoint Application & OpsWorks Application: Don't return an error on successful Delete
  .changelog/30101.txt
  internal/service/opsworks/application.go
  internal/service/pinpoint/app.go
Labels: size/S, service/opsworks, service/pinpoint

#30102 Fix typo in `aws_codepipeline`
  website/docs/r/codepipeline.markdown
Labels: documentation, size/XS, service/codepipeline

#30115 fix: correct key in tfMap for AS2 transports
  .changelog/30115.txt
  internal/service/transfer/server.go
Labels: bug, size/XS, service/transfer

#30123 Update vpc_ipam_resource_discovery_association docs
  website/docs/r/vpc_ipam_resource_discovery_association.html.markdown
Labels: documentation, size/XS, needs-triage, service/ipam

#30110 Pin avto-dev/markdown-lint to SHA v1.5
  .github/workflows/documentation.yml
  .github/workflows/terraform_provider.yml
  .github/workflows/website.yml
Labels: size/XS, linter, repository, github_actions

#30112 Pin actions/upload-artifact to SHA v3.1.2
  .github/workflows/firewatch.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
Labels: size/XS, repository, github_actions

#30111 Pin hashicorp/setup-terraform to SHA v2.0.3
  .github/workflows/examples.yml
  .github/workflows/terraform_provider.yml
Labels: size/XS, linter, repository, github_actions

#30114 security_group: Destroying takes forever improvements
  .changelog/30114.txt
  GNUmakefile
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/vpc_security_group_test.go
  website/docs/r/codestarconnections_host.markdown
  website/docs/r/security_group.html.markdown
Labels: documentation, size/L, tests, service/codestarconnections, repository, service/vpc

#30113 Serializes WAF rate-based rule tests
  .ci/.semgrep-service-name3.yml
  internal/generate/servicesemgrep/service.tmpl
  internal/service/waf/rate_based_rule_data_source_test.go
  internal/service/waf/rate_based_rule_test.go
Labels: size/S, tests, service/waf, generators

#30109 EventBridge `event_bus_name` parameter validation
  internal/service/events/bus_policy.go
  internal/service/events/permission.go
  internal/service/events/validate.go
  internal/service/events/validate_test.go
  internal/verify/validate.go
  website/docs/r/cloudwatch_event_bus_policy.html.markdown
  website/docs/r/cloudwatch_event_permission.html.markdown
  website/docs/r/cloudwatch_event_rule.html.markdown
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: documentation, size/M, tests, verify, service/events

#30137 makefile: Fix bad phony, order
  GNUmakefile
Labels: size/XS, repository

#30125 New resource - `aws_oam_link`
  .changelog/30125.txt
  internal/flex/flex.go
  internal/flex/flex_test.go
  internal/service/inspector2/enabler.go
  internal/service/oam/link.go
  internal/service/oam/link_test.go
  internal/service/oam/service_package_gen.go
  website/docs/r/oam_link.html.markdown
Labels: documentation, size/XL, tests, flex, generators, service/inspector2, partner, service/oam

#29315 feat: [appmesh] add logformat field for App Mesh Virtual Node
  .changelog/29315.txt
  internal/service/appmesh/flex.go
  internal/service/appmesh/virtual_gateway.go
  internal/service/appmesh/virtual_gateway_test.go
  internal/service/appmesh/virtual_node.go
  internal/service/appmesh/virtual_node_test.go
  website/docs/r/appmesh_virtual_gateway.html.markdown
  website/docs/r/appmesh_virtual_node.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/appmesh
