Repository hashicorp/terraform-provider-aws, pull requests merged in 2023-08, with the labels that each got.

#31602 feat: option to filter cluster snapshots by tags
  .changelog/31602.txt
  internal/service/rds/cluster_snapshot.go
  internal/service/rds/cluster_snapshot_data_source.go
  internal/service/rds/cluster_snapshot_data_source_test.go
  internal/service/rds/service_package_gen.go
  internal/service/rds/snapshot_data_source.go
  website/docs/d/db_cluster_snapshot.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds

#32771 Improve conditionals for adding PRs to Project
  .github/workflows/pull_request_target.yml
Labels: size/XS, repository, github_actions, prioritized

#32792 r/aws_iam_group_policy(test): rm unnecessary s3 bucket acl config
  internal/service/iam/group_policy_test.go
Labels: size/XS, tests, service/iam, prioritized

#32791 Correct typo in quicksight `schema.flattenInsightConfiguration`
  .changelog/32791.txt
  internal/service/quicksight/schema/visual_insight.go
Labels: size/XS, service/quicksight, prioritized

#32779 `aws_wafv2_web_acl_logging_configuration`: Clarify destination naming requirements
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, size/XS, service/wafv2, prioritized

#32793 Correct `aws_ecs_task_execution` data source `container_overrides` expander
  .changelog/32793.txt
  internal/service/ecs/task_execution_data_source.go
Labels: size/XS, service/ecs, prioritized

#32796 d/aws_iam_openid_connect_provider(test): add thumbprint_list test config
  internal/service/iam/openid_connect_provider_data_source_test.go
Labels: size/XS, tests, service/iam, prioritized

#32790 td/mediapackage: convert to sdkv2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/mediapackage/channel.go
  internal/service/mediapackage/channel_test.go
  internal/service/mediapackage/export_test.go
  internal/service/mediapackage/generate.go
  internal/service/mediapackage/service_package_gen.go
  internal/service/mediapackage/sweep.go
  internal/service/mediapackage/tags_gen.go
  internal/sweep/sweep_test.go
  names/names_data.csv
Labels: size/XL, tests, service/mediapackage, sweeper, tags, client-connections, generators, prioritized

#32789 r/aws_finspace(test): serialize finspace managed kdb tests
  docs/acc-test-environment-variables.md
  internal/service/finspace/finspace_test.go
  internal/service/finspace/kx_cluster_test.go
  internal/service/finspace/kx_database_test.go
  internal/service/finspace/kx_environment_test.go
  internal/service/finspace/kx_user_test.go
Labels: documentation, size/L, tests, service/finspace, prioritized

#32798 [TechDebt]: AuditManager acceptance test fixes
  internal/service/auditmanager/assessment_delegation_test.go
  internal/service/auditmanager/assessment_report_test.go
Labels: size/XS, tests, service/auditmanager, prioritized

#32799 d/aws_kinesis_firehose_delivery_stream(test): rm unnecessary s3 bucket acl config
  internal/service/firehose/delivery_stream_data_source_test.go
Labels: size/XS, tests, service/firehose, prioritized

#32797 fix: typo in autoscaling policy website docs
  website/docs/r/autoscaling_policy.html.markdown
Labels: documentation, size/XS, service/autoscaling

#32803 b/aws_chimesdkvoice_global_settings: retry if cdr_bucket is empty
  internal/service/chimesdkvoice/global_settings.go
  internal/service/chimesdkvoice/global_settings_test.go
Labels: size/XS, tests, service/chimesdkvoice, prioritized

#32800 B finspace kx cluster savedown size
  .changelog/32800.txt
  internal/service/finspace/kx_cluster.go
  website/docs/r/finspace_kx_cluster.html.markdown
Labels: documentation, size/XS, service/finspace, partner, prioritized

#32811 r/aws_codepipeline_webhook(test): rm unnecessary s3 bucket acl config
  internal/service/codepipeline/webhook_test.go
Labels: size/XS, tests, service/codepipeline, prioritized

#32812 r/aws_flow_log: rm unnecessary s3 bucket acl config
  internal/service/ec2/vpc_flow_log_test.go
Labels: size/XS, tests, service/vpc, prioritized

#32819 r/aws_fsx_lustre_file_system(test): rm unnecessary s3 bucket acl config
  internal/service/fsx/lustre_file_system_test.go
Labels: size/XS, tests, service/fsx, prioritized

#32816 r/aws_guardduty(test): rm unnecessary s3 bucket acl config
  internal/service/guardduty/ipset_test.go
  internal/service/guardduty/publishing_destination_test.go
  internal/service/guardduty/threatintelset_test.go
Labels: size/S, tests, service/guardduty, prioritized

#32822 QuickSight: Use correct enums for template filters
  .changelog/32822.txt
  internal/service/quicksight/schema/template_filter.go
Labels: size/XS, service/quicksight, prioritized

#32825 r/aws_mskconnect_custom_plugin(test): rm unnecessary s3 bucket acl config
  internal/service/kafkaconnect/custom_plugin_test.go
Labels: size/XS, tests, service/kafkaconnect, prioritized

#32827 r/aws_lambda_permission(test): rm unnecessary s3 bucket acl config
  internal/service/lambda/permission_test.go
Labels: size/XS, tests, service/lambda, prioritized

#32828 r/aws_cloudwatch_log_subscription_filter(test): rm unnecessary s3 bucket acl config
  internal/service/logs/subscription_filter_test.go
Labels: size/XS, tests, service/logs, prioritized

#32177 d/aws_vpclattice_service: Ability to find by service name
  .changelog/32177.txt
  internal/service/vpclattice/exports_test.go
  internal/service/vpclattice/service.go
  internal/service/vpclattice/service_data_source.go
  internal/service/vpclattice/service_data_source_test.go
  internal/service/vpclattice/service_network.go
  internal/service/vpclattice/service_network_data_source.go
  internal/service/vpclattice/service_network_test.go
  internal/service/vpclattice/service_package_gen.go
  internal/service/vpclattice/service_test.go
  internal/service/vpclattice/sweep.go
  website/docs/d/vpclattice_service.html.markdown
Labels: enhancement, documentation, size/M, tests, service/vpclattice

#32830 r/aws_sagemaker(test): rm unnecessary s3 bucket acl config
  internal/service/sagemaker/device_fleet_test.go
  internal/service/sagemaker/device_test.go
  internal/service/sagemaker/endpoint_test.go
  internal/service/sagemaker/project_test.go
Labels: size/XS, tests, service/sagemaker, prioritized

#32831 r/aws_servicecatalog(test): rm unnecessary s3 bucket acl config
  internal/service/servicecatalog/constraint_test.go
  internal/service/servicecatalog/provisioning_artifacts_data_source_test.go
Labels: size/XS, tests, service/servicecatalog, prioritized

#32833 r/aws_ssm_maintenance_window_task(test): rm unnecessary s3 bucket acl config
  internal/service/ssm/maintenance_window_task_test.go
Labels: size/XS, tests, service/ssm, prioritized

#32821 r/aws_ec2_transit_gateway_vpc_attachment: `transit_gateway_default_route_table_association` is Computed
  .changelog/32821.txt
  internal/service/ec2/transitgateway_route_table_association_test.go
  internal/service/ec2/transitgateway_route_table_associations_data_source_test.go
  internal/service/ec2/transitgateway_route_table_propagation_test.go
  internal/service/ec2/transitgateway_route_table_propagations_data_source_test.go
  internal/service/ec2/transitgateway_vpc_attachment.go
  internal/service/ec2/transitgateway_vpc_attachment_data_source_test.go
  internal/service/ec2/transitgateway_vpc_attachment_test.go
Labels: size/XL, tests, service/transitgateway, prioritized

#32834 r/aws_transfer_access(test): rm unnecessary s3 bucket acl config
  internal/service/transfer/access_test.go
Labels: size/XS, tests, service/transfer, prioritized

#32840 Support new AWS Israel (Tel Aviv) Region `il-central-1` in data sources
  .changelog/32840.txt
  docs/add-a-new-region.md
  go.mod
  go.sum
  internal/service/cloudtrail/service_account_data_source.go
  internal/service/elb/hosted_zone_id_data_source.go
  internal/service/elbv2/hosted_zone_id_data_source.go
  internal/service/s3/hosted_zones.go
Labels: documentation, size/S, service/s3, service/elbv2, service/cloudtrail, service/elb, prioritized

#32794 vpc/route_table: Allow local inline routes
  .changelog/32794.txt
  internal/service/ec2/vpc_route_data_source_test.go
  internal/service/ec2/vpc_route_table.go
  internal/service/ec2/vpc_route_table_test.go
  internal/service/ec2/vpc_route_test.go
  website/docs/r/route_table.html.markdown
Labels: documentation, size/XL, tests, service/vpc, prioritized

#32527 r/sagemaker_pipeline - new resource
  .changelog/32527.txt
  internal/service/sagemaker/find.go
  internal/service/sagemaker/pipeline.go
  internal/service/sagemaker/pipeline_test.go
  internal/service/sagemaker/service_package_gen.go
  internal/service/sagemaker/sweep.go
  website/docs/r/sagemaker_pipeline.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/sagemaker, sweeper, generators, external-maintainer

#32843 r/aws_ses_receipt_rule(test): fix s3 bucket acl config
  internal/service/ses/receipt_rule_test.go
Labels: size/XS, tests, service/ses, prioritized

#32844 r/aws_sfn_state_machine: Always set `publish` in resource Read
  .changelog/32844.txt
  internal/service/sfn/generate.go
  internal/service/sfn/list_pages_gen.go
  internal/service/sfn/state_machine.go
  internal/service/sfn/state_machine_test.go
  internal/service/sfn/state_machine_versions_data_source.go
  internal/service/sfn/state_machine_versions_data_source_test.go
Labels: bug, size/L, tests, service/sfn, generators, prioritized

#32863 r/aws_cloudfront_distribution(test): fix s3 bucket acl config
  internal/service/cloudfront/distribution_test.go
Labels: size/M, tests, service/cloudfront, prioritized

#32860 r/aws_fms_policy: Suppress diffs on `null` and `[]` JSON fields
  .changelog/32860.txt
  internal/service/fms/admin_account.go
  internal/service/fms/admin_account_test.go
  internal/service/fms/exports_test.go
  internal/service/fms/fms_test.go
  internal/service/fms/managed_service_data.go
  internal/service/fms/managed_service_data_test.go
  internal/service/fms/policy.go
  internal/service/fms/policy_test.go
  internal/service/fms/service_package_gen.go
  internal/service/fms/ujson/LICENSE
  internal/service/fms/ujson/quote.go
  internal/service/fms/ujson/quote_test.go
  internal/service/fms/ujson/µjson.go
  internal/service/fms/ujson/µjson_test.go
  website/docs/r/fms_admin_account.html.markdown
Labels: documentation, size/XL, tests, service/fms, generators, prioritized

#32366 F codecatalyst devenv
  .changelog/32366.txt
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/codecatalyst/dev_environment.go
  internal/service/codecatalyst/dev_environment_test.go
  internal/service/codecatalyst/generate.go
  internal/service/codecatalyst/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/names_data.csv
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/r/codecatalyst_dev_environment.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ec2, provider, sweeper, repository, client-connections, generators, github_actions, new-service, service/vpnclient, service/transitgateway, service/wavelength, service/ec2outposts, service/vpc, partner

#32849 Move `issues` and `pull_request_target` workflows to GitHub App
  .github/workflows/issues.yml
  .github/workflows/pull_request_target.yml
Labels: size/S, repository, github_actions, prioritized

#32866 Ignore additional error when deleting fleet
  .changelog/32866.txt
  internal/service/emr/instance_fleet.go
Labels: bug, size/XS, service/emr

#32867 Latest `aws-sdk-go` modules
  go.mod
  go.sum
Labels: size/XL, prioritized

#32865 r/aws_cloudfront_distribution: Speed up `tags`-only updates
  .changelog/32865.txt
  internal/service/cloudfront/distribution.go
Labels: bug, size/M, service/cloudfront, prioritized

#30772 feat(data-transit-gateway-routes): prepare changelog
  .changelog/30771.txt
  internal/service/ec2/ebs_snapshot_data_source.go
  internal/service/ec2/ebs_snapshot_ids_data_source.go
  internal/service/ec2/ebs_volume_data_source.go
  internal/service/ec2/ebs_volumes_data_source.go
  internal/service/ec2/ec2_ami_data_source.go
  internal/service/ec2/ec2_ami_ids_data_source.go
  internal/service/ec2/ec2_eips_data_source.go
  internal/service/ec2/ec2_host_data_source.go
  internal/service/ec2/ec2_instance_type_offering_data_source.go
  internal/service/ec2/ec2_instance_type_offerings_data_source.go
  internal/service/ec2/ec2_instance_types_data_source.go
  internal/service/ec2/ec2_instances_data_source.go
  internal/service/ec2/ec2_key_pair_data_source.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/ec2_public_ipv4_pools_data_source.go
  internal/service/ec2/ec2_spot_price_data_source.go
  internal/service/ec2/filters.go
  internal/service/ec2/find.go
  internal/service/ec2/ipam_pool_cidrs_data_source.go
  internal/service/ec2/ipam_pool_data_source.go
  internal/service/ec2/ipam_pools_data_source.go
  internal/service/ec2/outposts_coip_pools_data_source.go
  internal/service/ec2/outposts_local_gateway_route_tables_data_source.go
  internal/service/ec2/outposts_local_gateway_virtual_interface_groups_data_source.go
  internal/service/ec2/outposts_local_gateways_data_source.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/transitgateway_connect_data_source.go
  internal/service/ec2/transitgateway_connect_peer_data_source.go
  internal/service/ec2/transitgateway_data_source_test.go
  internal/service/ec2/transitgateway_multicast_domain_data_source.go
  internal/service/ec2/transitgateway_route.go
  internal/service/ec2/transitgateway_route_table_associations_data_source.go
  internal/service/ec2/transitgateway_route_table_propagations_data_source.go
  internal/service/ec2/transitgateway_route_table_routes_data_source.go
  internal/service/ec2/transitgateway_route_table_routes_data_source_test.go
  internal/service/ec2/transitgateway_route_tables_data_source.go
  internal/service/ec2/transitgateway_route_test.go
  internal/service/ec2/transitgateway_vpc_attachments_data_source.go
  internal/service/ec2/vpc_managed_prefix_lists_data_source.go
  internal/service/ec2/vpc_nat_gateways_data_source.go
  internal/service/ec2/vpc_network_acls_data_source.go
  internal/service/ec2/vpc_network_interface_data_source.go
  internal/service/ec2/vpc_network_interfaces_data_source.go
  internal/service/ec2/vpc_peering_connections_data_source.go
  internal/service/ec2/vpc_route_tables_data_source.go
  internal/service/ec2/vpc_security_groups_data_source.go
  internal/service/ec2/vpc_subnets_data_source.go
  internal/service/ec2/vpc_vpcs_data_source.go
  internal/service/ec2/vpnclient_endpoint_data_source.go
  internal/service/ec2/vpnsite_customer_gateway_data_source.go
  internal/service/ec2/wait.go
  website/docs/d/ec2_transit_gateway_route_table_routes.html.markdown
Labels: documentation, new-data-source, size/XL, tests, provider, generators, service/transitgateway

#32846 RDS Custom enhancements
  .changelog/32846.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_data_source_test.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
  internal/service/rds/validate.go
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: enhancement, size/M, service/rds, partner, prioritized

#32870 RDS AccTests - KMS Keys
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/cluster_test.go
  internal/service/rds/instance_test.go
Labels: size/XS, tests, service/rds, partner

#32882 cloudwatch_events_target - add sagemaker pipeline support
  .changelog/32882.txt
  internal/service/events/target.go
  internal/service/events/target_test.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: enhancement, documentation, size/L, tests, service/events, external-maintainer

#32850 docs(s3_bucket_lifecycle_configuration): add note about propagation delay
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
Labels: documentation, size/XS, service/s3, needs-triage

#32813 Added validation info to documentation for ssm contacts
  website/docs/r/ssmcontacts_contact.html.markdown
  website/docs/r/ssmcontacts_contact_channel.html.markdown
Labels: documentation, size/XS, service/ssmcontacts

#32898 r/glue_crawler - add hudi target support
  .changelog/32898.txt
  internal/service/glue/crawler.go
  internal/service/glue/crawler_test.go
  website/docs/r/glue_crawler.html.markdown
Labels: enhancement, documentation, size/L, tests, service/glue, external-maintainer

#32883 F codecatalyst Project
  .changelog/32366.txt
  .changelog/32883.txt
  internal/service/codecatalyst/project.go
  internal/service/codecatalyst/project_test.go
  internal/service/codecatalyst/service_package_gen.go
  website/docs/r/codecatalyst_project.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/codecatalyst

#32886 f-CodeCatalyst-DevEnvironment Datasource
  .changelog/32886.txt
  internal/service/codecatalyst/dev_environment_data_source.go
  internal/service/codecatalyst/dev_environment_data_source_test.go
  internal/service/codecatalyst/dev_environment_test.go
  internal/service/codecatalyst/project_test.go
  internal/service/codecatalyst/service_package_gen.go
  website/docs/d/codecatalyst_dev_environment.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, partner, service/codecatalyst

#32572 provider: Update `aws-sdk-go-base` and handle returned `diags`
  .ci/semgrep/pluginsdk/diags.yml
  internal/acctest/vcr.go
  internal/conns/config.go
  internal/errs/sdkdiag/append.go
  internal/provider/provider.go
  internal/service/configservice/configservice_test.go
  internal/service/configservice/conformance_pack_test.go
  internal/service/configservice/organization_conformance_pack_test.go
Labels: size/M, tests, service/configservice, provider, linter, client-connections

#32899 f-CodeCatalyst-SourceRepository
  .changelog/32899.txt
  internal/service/codecatalyst/service_package_gen.go
  internal/service/codecatalyst/source_repository.go
  internal/service/codecatalyst/source_repository_test.go
  website/docs/r/codecatalyst_source_repository.html.markdown
Labels: documentation, new-data-source, size/XL, tests, generators, partner, service/codecatalyst

#32904 [Sweper] aws_ssoadmin_account_assignment: assert correct type in data object
  internal/service/ssoadmin/sweep.go
Labels: size/XS, service/ssoadmin, sweeper, prioritized

#32909 r/aws_cloudfront_distribution(doc): add example headings, tidy descriptions
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/XS, service/cloudfront, prioritized

#32913 Correct CHANGELOG entry
  .changelog/32899.txt
Labels: size/XS, prioritized

#32911 [Tests]: skip `chime` test when ForbiddenException
  internal/acctest/acctest.go
  internal/service/chime/voice_connector_group_test.go
  internal/service/chime/voice_connector_logging_test.go
  internal/service/chime/voice_connector_origination_test.go
  internal/service/chime/voice_connector_streaming_test.go
  internal/service/chime/voice_connector_termination_credentials_test.go
  internal/service/chime/voice_connector_termination_test.go
  internal/service/chime/voice_connector_test.go
Labels: size/M, tests, service/chime, prioritized

#32915 r/aws_s3control_access_point(_policy): Fix acceptance test `AccessDenied` errors
  internal/service/s3control/access_point_policy_test.go
  internal/service/s3control/access_point_test.go
Labels: size/M, tests, service/s3control, prioritized

#32890 Increase `MaxItems` of `aws_lambda_event_source_mapping.filter_critera.filter` from 5 to 10
  .changelog/32890.txt
  internal/service/lambda/event_source_mapping.go
Labels: size/XS, service/lambda, prioritized

#32903 Update EKS Cluster docs example to limit OIDC thumbprint list
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, size/XS, service/eks, prioritized

#32905 Add note on character limit for `aws_cloudwatch_event_rule.name_prefix`
  website/docs/r/cloudwatch_event_rule.html.markdown
Labels: documentation, size/XS, service/events, prioritized

#32854 Fix aws_instance creation with subnet and launch template having VPC …
  .changelog/32854.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
Labels: bug, size/M, tests, service/ec2, prioritized

#32914 r/aws_autoscaling_group: Add `ignore_failed_scaling_activities` argument
  .changelog/32914.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_migrate.go
  internal/service/autoscaling/group_migrate_test.go
  internal/service/autoscaling/group_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/autoscaling, prioritized

#32929 Auto Scaling Plans: Fix acceptance test failures
  internal/service/autoscalingplans/scaling_plan_test.go
Labels: size/S, tests, service/autoscalingplans, prioritized

#32802 add example for threshold expression and
  website/docs/r/ce_anomaly_subscription.html.markdown
Labels: documentation, size/S, service/ce

#32916 S3: Fix acceptance test errors
  internal/service/s3/bucket.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_server_side_encryption_configuration.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  internal/service/s3/errors.go
  website/docs/r/s3_bucket_server_side_encryption_configuration.html.markdown
Labels: documentation, size/L, tests, service/s3, prioritized

#32928 B aws db instance empty restore to point in time bug 32907
  .changelog/32928.txt
  internal/service/rds/cluster.go
  internal/service/rds/instance.go
Labels: bug, crash, size/XS, service/rds

#32931 Redshift: Fix acceptance test failures
  internal/service/redshift/find.go
  internal/service/redshift/snapshot_copy_grant.go
  internal/service/redshift/snapshot_copy_grant_test.go
  internal/service/redshift/snapshot_schedule.go
  internal/service/redshift/snapshot_schedule_association.go
  internal/service/redshift/snapshot_schedule_association_test.go
  internal/service/redshift/snapshot_schedule_test.go
  internal/service/redshift/status.go
  internal/service/redshift/wait.go
Labels: size/XL, tests, service/redshift, prioritized

#32934 Update CIDR arguments in various resource docs to use a private range
  website/docs/r/subnet.html.markdown
  website/docs/r/vpc.html.markdown
  website/docs/r/vpc_ipam_pool.html.markdown
  website/docs/r/vpc_ipam_pool_cidr.html.markdown
  website/docs/r/vpc_ipam_pool_cidr_allocation.html.markdown
  website/docs/r/vpc_ipam_preview_next_cidr.html.markdown
  website/docs/r/vpc_ipv4_cidr_block_association.html.markdown
Labels: documentation, size/XS, service/ipam, service/vpc, prioritized

#32937 elasicache/replication_group: Better version error message
  internal/service/elasticache/engine_version.go
Labels: size/XS, service/elasticache, prioritized

#32941 elbv2/lb: Check for duplicate name
  .changelog/32941.txt
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_test.go
Labels: size/XL, tests, service/elbv2, prioritized

#32751 Add CloudWatch composite alarm actions suppressor attributes
  .changelog/32751.txt
  internal/service/cloudwatch/composite_alarm.go
  internal/service/cloudwatch/composite_alarm_test.go
  website/docs/r/cloudwatch_composite_alarm.html.markdown
Labels: enhancement, documentation, size/M, tests, service/cloudwatch

#32939 fix: Skip listing tags on `aws_vpclattice_service_network` data source when shared via RAM
  .changelog/32939.txt
  internal/service/vpclattice/service_data_source.go
  internal/service/vpclattice/service_data_source_test.go
  internal/service/vpclattice/service_network_data_source.go
  internal/service/vpclattice/service_network_data_source_test.go
  internal/service/vpclattice/service_package_gen.go
Labels: size/S, partner, service/vpclattice, prioritized

#32933 r/aws_appstream_fleet: Update `max_user_duration_in_seconds` to `432000`
  .changelog/32933.txt
  internal/service/appstream/fleet.go
Labels: size/XS, service/appstream, prioritized

#32954 `aws_lambda_function`: mention `java17` support for `snap_start`
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/XS, service/lambda, prioritized

#32775 F msk-vpc-connection
  .changelog/31062.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/generate/tags/main.go
  internal/generate/tags/templates/v1/header_body.tmpl
  internal/generate/tags/templates/v2/header_body.tmpl
  internal/service/kafka/broker_nodes_data_source_test.go
  internal/service/kafka/cluster.go
  internal/service/kafka/cluster_data_source_test.go
  internal/service/kafka/cluster_test.go
  internal/service/kafka/generate.go
  internal/service/kafka/scram_secret_association_test.go
  internal/service/kafka/service_package_gen.go
  internal/service/kafka/tagsv2_gen.go
  internal/service/kafka/vpc_connection.go
  internal/service/kafka/vpc_connection_data_source.go
  internal/service/kafka/vpc_connection_data_source_test.go
  internal/service/kafka/vpc_connection_test.go
  internal/service/kafka/wait.go
  names/names_data.csv
  website/docs/d/msk_vpc_connection.html.markdown
  website/docs/r/msk_cluster.html.markdown
  website/docs/r/msk_vpc_connection.html.markdown
Labels: new-resource, new-data-source, size/XL, tests, service/kafka, client-connections, generators, partner, prioritized

#32935 CloudWatch: Fix acceptance test failures
  internal/service/cloudwatch/metric_stream_test.go
  internal/service/logs/resource_policy_test.go
Labels: size/XS, tests, service/cloudwatch, service/logs, prioritized

#32955 S3 Bucket Server Side Encryption: add `aws:kms:dsse` to list of supported `sse_algorithm`
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  website/docs/r/s3_bucket_server_side_encryption_configuration.html.markdown
Labels: documentation, size/S, tests, service/s3, prioritized

#32956 emr/cluster: Allow bootstrap action empty args
  .changelog/32956.txt
  internal/flex/flex.go
  internal/flex/flex_test.go
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
Labels: size/S, tests, service/emr, flex, prioritized

#22591 Add associated resource ARNs to `aws_ram_resource_share` data source
  .changelog/22591.txt
  internal/service/ram/resource_share.go
  internal/service/ram/resource_share_accepter.go
  internal/service/ram/resource_share_data_source.go
  internal/service/ram/resource_share_data_source_test.go
  internal/service/ram/service_package_gen.go
  website/docs/d/ram_resource_share.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ram, generators

#30697 fix(events): fix arn based partner evernt bus id parse bug
  .changelog/30293.txt
  internal/service/events/id.go
  internal/service/events/id_test.go
Labels: bug, size/XS, tests, service/events, prioritized

#32973 Increase `golangci-lint-action` timeout
  .github/workflows/golangci-lint.yml
Labels: size/XS, repository, github_actions, prioritized

#32535 Lambda Layers - New Version Every Run #25647
  .changelog/32535.txt
  internal/service/lambda/layer_version.go
  internal/service/lambda/layer_version_test.go
Labels: bug, size/XS, service/lambda, prioritized

#32209 opensearch update delay: 10 min -> 1 min
  internal/service/opensearch/wait.go
Labels: enhancement, size/XS, service/opensearch, prioritized

#32412 r/aws_lb_listener_certificate: remove from state if listener not found
  .changelog/32412.txt
  internal/service/elbv2/listener_certificate.go
  internal/service/elbv2/listener_certificate_test.go
Labels: bug, size/XS, service/elbv2, prioritized

#31449 Fix : ECR scanning configuration empty rules
  .changelog/31449.txt
  internal/service/ecr/registry_scanning_configuration.go
  internal/service/ecr/registry_scanning_configuration_test.go
Labels: bug, size/XS, tests, service/ecr, prioritized

#31757 Fix aws_ecr_repository data source's most_recent_image_tags attribute
  .changelog/31757.txt
  internal/service/ecr/repository_data_source.go
Labels: bug, size/XS, service/ecr, prioritized

#32896 Fix: Enabling IPv6 apply error
  .changelog/32896.txt
  .github/labeler-pr-triage.yml
  .github/workflows/provider.yml
  .github/workflows/website.yml
  internal/generate/prlabels/file.tmpl
  internal/service/ec2/vpc_subnet.go
  internal/service/ec2/vpc_subnet_test.go
Labels: bug, size/XS, service/vpc, prioritized

#32848 Adding new resource aws_msk_cluster_policy
  .changelog/32848.txt
  internal/service/kafka/cluster_policy.go
  internal/service/kafka/cluster_policy_test.go
  internal/service/kafka/service_package_gen.go
  website/docs/r/msk_cluster_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/kafka, generators, partner, prioritized

#32978 Update md-check-links
  .github/workflows/documentation.yml
  .github/workflows/website.yml
Labels: size/XS, linter, repository, github_actions, prioritized

#31127 Added WAFv2 challenge action to rule_action_override
  .changelog/31127.txt
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
Labels: enhancement, size/XS, service/wafv2, prioritized

#30996 Add validation to the `global_cluster_identifier` property on a global cluster
  .changelog/30996.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_snapshot.go
  internal/service/rds/consts.go
  internal/service/rds/errors.go
  internal/service/rds/find.go
  internal/service/rds/global_cluster.go
  internal/service/rds/global_cluster_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_automated_backups_replication.go
  internal/service/rds/instance_data_source.go
  internal/service/rds/snapshot.go
  internal/service/rds/sweep.go
Labels: enhancement, size/XL, tests, service/rds, sweeper, prioritized

#33000 Organizations: Fix acceptance test failures
  internal/service/organizations/delegated_services_data_source_test.go
Labels: size/XS, tests, service/organizations, prioritized

#32980 Add cross-account details to docs for `rds_cluster`
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#32989 Fix perpetual diff on aws_s3_bucket_logging resource when expected_bucket_owner contains a value
  .changelog/32989.txt
  internal/service/s3/bucket_logging.go
  internal/service/s3/bucket_logging_test.go
Labels: size/XS, service/s3

#33006 OpsWorks: Fix acceptance test failures
  internal/service/opsworks/rds_db_instance_test.go
Labels: size/XS, tests, service/opsworks, prioritized

#33010 Fix `issue_comment` workflow
  .github/workflows/issue_comment.yml
Labels: size/XS, repository, github_actions, prioritized

#33011 Add make sweeper target
  .github/workflows/examples.yml
  GNUmakefile
  go.mod
  go.sum
  internal/service/configservice/remediation_configuration.go
  internal/service/ecr/image_data_source.go
  internal/service/ecr/repository_data_source.go
  internal/service/elasticache/global_replication_group.go
  internal/service/elasticbeanstalk/environment.go
Labels: size/L, service/configservice, service/elasticbeanstalk, service/elasticache, service/ecr, repository, github_actions, prioritized

#33008 docs/r/lb: Support security groups for NLB
  website/docs/r/lb.html.markdown
Labels: documentation, size/XS, needs-triage

#32988 update lightsail_database docs to use the correct name argument
  website/docs/r/lightsail_database.html.markdown
Labels: documentation, size/S, service/lightsail

#33013 Update dependencies
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#33002 RAM: Fix acceptance test failures
  internal/service/ram/find.go
  internal/service/ram/resource_share.go
  internal/service/ram/resource_share_accepter.go
  internal/service/ram/resource_share_accepter_test.go
  internal/service/ram/resource_share_test.go
  internal/service/ram/status.go
  internal/service/ram/wait.go
Labels: size/XL, tests, service/ram, prioritized

#33012 r/aws_quicksight: adjust definition.*.calculated_fields.*.expression max length to 32000
  .changelog/33012.txt
  internal/service/quicksight/schema/analysis.go
  internal/service/quicksight/schema/dashboard.go
  internal/service/quicksight/schema/template.go
Labels: size/S, service/quicksight

#33015 ressource/aws_budgets_budget_action : No longer waits for action to have completed running or be pending
  .changelog/33015.txt
  internal/service/budgets/budget_action.go
  internal/service/budgets/budget_action_test.go
Labels: tests, service/budgets, prioritized

#32984 b-32645: Updated attribue type for permissions from TypeList to TypeSet
  .changelog/32984.txt
  internal/service/quicksight/data_set.go
  internal/service/quicksight/data_set_test.go
  internal/service/quicksight/data_source_test.go
Labels: bug, size/XS, service/quicksight, partner, prioritized

#33023 r/aws_quicksight: convert `permissions` to type set
  .changelog/33023.txt
  internal/service/quicksight/analysis.go
  internal/service/quicksight/dashboard.go
  internal/service/quicksight/template.go
Labels: size/S, service/quicksight, prioritized

#32987 Update `aws_lb` resource to cover edge cases with network load balancer security groups.
  .changelog/32987.txt
  internal/service/elbv2/listener_data_source_test.go
  internal/service/elbv2/listener_rule_test.go
  internal/service/elbv2/listener_test.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_test.go
  website/docs/r/lb.html.markdown
Labels: enhancement, documentation, size/M, tests, service/elbv2

#32435 F create aws open search vpc endpoint
  .changelog/32435.txt
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_data_source.go
  internal/service/opensearch/exports_test.go
  internal/service/opensearch/flex.go
  internal/service/opensearch/service_package_gen.go
  internal/service/opensearch/vpc_endpoint.go
  internal/service/opensearch/vpc_endpoint_test.go
  website/docs/r/opensearch_vpc_endpoint.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/opensearch, partner, prioritized

#33030 teamcity: add failure condition for service build
  .teamcity/components/service_build_config.kt
Labels: size/XS, prioritized

#33049 Fix CHANGELOG entries
  .changelog/30293.txt
  .changelog/31127.txt
  .changelog/31757.txt
  .changelog/32856.txt
  .changelog/33023.txt
Labels: size/XS, prioritized

#33048 Add `terraform-devex` Dependabot group
  .github/dependabot.yml
Labels: dependencies, size/XS, repository, github_actions, prioritized

#33005 Add image scanning to imagebuilder image pipeline resource
  .changelog/33005.txt
  internal/service/imagebuilder/distribution_configuration_data_source_test.go
  internal/service/imagebuilder/distribution_configuration_test.go
  internal/service/imagebuilder/image_pipeline.go
  internal/service/imagebuilder/image_pipeline_data_source.go
  internal/service/imagebuilder/image_pipeline_data_source_test.go
  internal/service/imagebuilder/image_pipeline_test.go
  internal/service/imagebuilder/image_recipes_data_source_test.go
  website/docs/d/imagebuilder_image_pipeline.html.markdown
  website/docs/r/imagebuilder_image_pipeline.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/imagebuilder

#33037 DataSync: Fix acceptance test failures
  internal/service/datasync/find.go
  internal/service/datasync/location_nfs.go
  internal/service/datasync/location_nfs_test.go
Labels: size/L, tests, service/datasync, prioritized

#33042 Tech debt: Migrate `codestarnotifications` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/codestarnotifications/exports_test.go
  internal/service/codestarnotifications/generate.go
  internal/service/codestarnotifications/notification_rule.go
  internal/service/codestarnotifications/notification_rule_test.go
  internal/service/codestarnotifications/service_package_gen.go
  internal/service/codestarnotifications/sweep.go
  internal/service/codestarnotifications/tags_gen.go
  internal/sweep/sweep_test.go
  names/names.go
  names/names_data.csv
Labels: size/XL, technical-debt, service/codestarnotifications, prioritized

#33056 teamcity: failure condition using regex
  .teamcity/components/service_build_config.kt
Labels: size/XS, prioritized

#33046 r/aws_iam_user_login_profile(test): fix keybase configs
  internal/service/iam/user_login_profile_test.go
Labels: size/XS, tests, service/iam

#33059 resource/aws_cloudformation_stack: Sets `outputs` as `Computed` when other fields change
  .changelog/33059.txt
  internal/service/cloudformation/stack.go
  internal/service/cloudformation/stack_test.go
Labels: size/L, tests, service/cloudformation, prioritized

#33052 r/rds_cluster documentation: put the db_cluster_parameter_group_name parameter back after it was removed for some reason.
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#33024 provider: Adds support for enabling regional endpoint for S3
  .changelog/33024.txt
  go.mod
  go.sum
  internal/conns/awsclient.go
  internal/conns/config.go
  internal/provider/fwprovider/provider.go
  internal/provider/provider.go
  internal/service/s3/service_package.go
  website/docs/index.html.markdown
Labels: documentation, size/M, service/s3, provider, client-connections, prioritized

#33091 r/aws_organizations_organization: Fix regression caused by checking for correct Org ID in Read
  .changelog/33091.txt
  internal/service/organizations/organization.go
Labels: size/XS, service/organizations

#33097 r/aws_lambda_layer_version: Fix `doesn't support update` error
  .changelog/33097.txt
  internal/service/lambda/layer_version.go
  internal/service/lambda/layer_version_test.go
Labels: bug, regression, size/L, tests, service/lambda, prioritized

#33098 Next version is `v5.13.1`
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#33110 cdktf: update documentation
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#33103 r/aws_route53_zone: skip disabling dnssec in unsupported partitions
  .changelog/33103.txt
  internal/service/route53/zone.go
  internal/service/route53/zone_test.go
Labels: size/S, tests, service/route53, prioritized

#33085 r/aws_organizations_organizational_unit: Acceptance tests require running in a management account
  internal/service/organizations/exports_test.go
  internal/service/organizations/flex_test.go
  internal/service/organizations/organizational_unit.go
  internal/service/organizations/organizational_unit_descendant_accounts_data_source.go
  internal/service/organizations/organizational_unit_test.go
  internal/service/organizations/organizational_units_data_source.go
  internal/service/organizations/organizational_units_data_source_test.go
  internal/service/organizations/organizations_test.go
Labels: size/XL, tests, service/organizations, prioritized

#33087 Network Manager: Fix acceptance test failures
  internal/acctest/acctest.go
  internal/service/networkmanager/connect_attachment_test.go
  internal/service/networkmanager/connect_peer_test.go
  internal/service/networkmanager/site_to_site_vpn_attachment_test.go
  internal/service/networkmanager/transit_gateway_peering_test.go
  internal/service/networkmanager/vpc_attachment_test.go
Labels: size/M, tests, service/networkmanager, prioritized

#32714 medialive/channel: update channel audio selector settings and caption selector settings.
  .changelog/32714.txt
  internal/service/medialive/channel.go
  website/docs/r/medialive_channel.html.markdown
Labels: enhancement, documentation, size/XL, service/medialive, prioritized

#33099 Fix `aws_docdb_global_cluster` example
  website/docs/r/docdb_global_cluster.html.markdown
Labels: documentation, service/docdb, prioritized

#33094 Correct `aws_pipes_pipe` examples
  website/docs/r/pipes_pipe.html.markdown
Labels: documentation, size/XS, service/pipes, prioritized

#33116 Fix typo in aws_sesv2_configuration_set_event_destination docs
  website/docs/r/sesv2_configuration_set_event_destination.html.markdown
Labels: documentation, size/XS, service/sesv2

#33095 r/aws_securityhub_account: Remove default value for `control_finding_generator`
  .changelog/33095.txt
  internal/service/securityhub/account.go
  internal/service/securityhub/account_test.go
  internal/service/securityhub/securityhub_test.go
Labels: size/M, tests, service/securityhub, prioritized

#33122 Fix typo in `flattenWordCloudOptions` flattener
  .changelog/33122.txt
  internal/service/quicksight/schema/visual_word_cloud.go
Labels: bug, size/XS, service/quicksight, prioritized

#33121 ssoadmin: Configurable timeouts
  .changelog/33121.txt
  internal/service/ssoadmin/account_assignment.go
  internal/service/ssoadmin/account_assignment_test.go
  internal/service/ssoadmin/customer_managed_policy_attachment.go
  internal/service/ssoadmin/customer_managed_policy_attachment_test.go
  internal/service/ssoadmin/find.go
  internal/service/ssoadmin/managed_policy_attachment.go
  internal/service/ssoadmin/managed_policy_attachment_test.go
  internal/service/ssoadmin/permission_set.go
  internal/service/ssoadmin/permission_set_inline_policy.go
  internal/service/ssoadmin/permission_set_inline_policy_test.go
  internal/service/ssoadmin/permission_set_test.go
  internal/service/ssoadmin/permissions_boundary_attachment.go
  internal/service/ssoadmin/permissions_boundary_attachment_test.go
  internal/service/ssoadmin/service_package.go
  internal/service/ssoadmin/status.go
  internal/service/ssoadmin/wait.go
  website/docs/r/ssoadmin_account_assignment.html.markdown
  website/docs/r/ssoadmin_customer_managed_policy_attachment.html.markdown
  website/docs/r/ssoadmin_managed_policy_attachment.html.markdown
  website/docs/r/ssoadmin_permission_set.html.markdown
  website/docs/r/ssoadmin_permission_set_inline_policy.html.markdown
  website/docs/r/ssoadmin_permissions_boundary_attachment.html.markdown
Labels: documentation, size/XL, tests, service/ssoadmin, prioritized

#33106 fix parameter name structured_log_destinations
  website/docs/d/transfer_server.html.markdown
  website/docs/r/transfer_server.html.markdown
Labels: documentation, size/XS, service/transfer

#33118 r/aws_msk_cluster_policy: Specify `CurrentVersion` when updating a policy
  .changelog/33118.txt
  internal/service/kafka/cluster_policy.go
  internal/service/kafka/cluster_policy_test.go
Labels: bug, size/M, tests, service/kafka, prioritized

#33120 r/aws_quicksight: change parameter_declarations to set type
  .changelog/33120.txt
  internal/service/quicksight/schema/analysis.go
  internal/service/quicksight/schema/dashboard.go
  internal/service/quicksight/schema/template.go
Labels: size/XS, service/quicksight, prioritized

#33132 r/aws_finspace(test): de-serialize acceptance tests
  internal/service/finspace/finspace_test.go
  internal/service/finspace/kx_cluster_test.go
  internal/service/finspace/kx_database_test.go
  internal/service/finspace/kx_environment_test.go
  internal/service/finspace/kx_user_test.go
Labels: size/L, tests, service/finspace, prioritized

#33137 Bump aws-sdk-go-v2 service modules
  go.mod
  go.sum
Labels: dependencies, size/XL, prioritized

#33123 F finspace kx environment nacls
  .changelog/33123.txt
  internal/service/finspace/kx_environment.go
  internal/service/finspace/kx_environment_test.go
  website/docs/r/finspace_kx_environment.html.markdown
Labels: documentation, size/XL, tests, service/finspace, partner, prioritized

#33138 AWS S3 Object: Support seamless upgrade from provider v4.x
  .changelog/33138.txt
  internal/service/s3/object.go
  internal/service/s3/object_copy.go
  internal/service/s3/object_test.go
Labels: bug, size/S, tests, service/s3, prioritized

#33142 add computed field for asset_id attribute
  .changelog/33142.txt
  internal/service/ec2/ec2_host.go
Labels: size/XS, service/ec2, partner

#33155 Fix regex, regexache error
  internal/service/ssoadmin/account_assignment_test.go
Labels: size/XS, tests, service/ssoadmin, prioritized

#33156 semgrep: Add regexache check
  .ci/.semgrep.yml
Labels: size/XS, prioritized

#33141 Update s3_bucket_lifecycle_configuration documentation to correct expected date type
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
Labels: documentation, size/XS, service/s3

#33160 batch: Fix job queue lint
  internal/service/batch/job_queue.go
  internal/service/batch/job_queue_schema.go
Labels: size/XS, service/batch, prioritized

#33164 skaff, docs: Update for regexache
  .ci/providerlint/passes/AWSAT001/README.md
  .ci/providerlint/passes/AWSAT001/testdata/src/a/main.go
  docs/debugging.md
  skaff/datasource/datasourcetest.tmpl
  skaff/go.mod
  skaff/go.sum
  skaff/resource/resource.go
  skaff/resource/resourcetest.tmpl
Labels: documentation, size/S, linter, skaff, prioritized

#33159 go mod tidy `tfsdk2fw`
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#33161 r/aws_quicksight: skip setting empty static_values fields
  .changelog/33161.txt
  internal/service/quicksight/schema/template_parameter.go
Labels: size/XS, service/quicksight, prioritized

#33168 r/aws_ec2_network_insights_path: Avoid recreating resource when passing an ARN as `source` or `destination`
  .changelog/33168.txt
  internal/service/ec2/errors.go
  internal/service/ec2/vpc_network_insights_analysis.go
  internal/service/ec2/vpc_network_insights_analysis_test.go
  internal/service/ec2/vpc_network_insights_path.go
  internal/service/ec2/vpc_network_insights_path_data_source.go
  internal/service/ec2/vpc_network_insights_path_data_source_test.go
  internal/service/ec2/vpc_network_insights_path_test.go
  website/docs/d/ec2_network_insights_path.html.markdown
  website/docs/r/ec2_network_insights_path.html.markdown
Labels: documentation, size/L, tests, service/vpc, prioritized

#33163 aws_batch_job_queue: return on error
  internal/service/batch/job_queue.go
Labels: size/XS, service/batch, prioritized

#33190 Tech debt: Migrate `codestarconnections` resources to AWS SDK for Go v2
  .ci/semgrep/migrate/context.yml
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/codestarconnections/connection.go
  internal/service/codestarconnections/connection_data_source.go
  internal/service/codestarconnections/connection_data_source_test.go
  internal/service/codestarconnections/connection_test.go
  internal/service/codestarconnections/consts.go
  internal/service/codestarconnections/exports_test.go
  internal/service/codestarconnections/find.go
  internal/service/codestarconnections/generate.go
  internal/service/codestarconnections/host.go
  internal/service/codestarconnections/host_test.go
  internal/service/codestarconnections/service_package_gen.go
  internal/service/codestarconnections/sweep.go
  internal/service/codestarconnections/tags_gen.go
  internal/service/codestarnotifications/notification_rule.go
  internal/service/codestarnotifications/notification_rule_test.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, service/codestarnotifications, service/codestarconnections, sweeper, tags, client-connections, generators, prioritized

#33189 Add support for LakeFormation ReadOnlyAdmins
  .changelog/33189.txt
  internal/service/lakeformation/data_lake_settings.go
  internal/service/lakeformation/data_lake_settings_data_source.go
  internal/service/lakeformation/data_lake_settings_data_source_test.go
  internal/service/lakeformation/data_lake_settings_test.go
  internal/service/lakeformation/lakeformation_test.go
  website/docs/d/lakeformation_data_lake_settings.html.markdown
  website/docs/r/lakeformation_data_lake_settings.html.markdown
Labels: enhancement, tests, service/lakeformation
