Repository hashicorp/terraform-provider-aws, pull requests merged in 2023-02, with the labels that each got.

#29173 Adds sweepers for `aws_neptune_cluster` and `aws_neptune_cluster_instance`
  internal/service/neptune/cluster_instance.go
  internal/service/neptune/sweep.go
  internal/service/rds/sweep.go
Labels: size/M, technical-debt, service/neptune, sweeper

#29192 Fixes non-service acceptance tests
  internal/provider/provider_acc_test.go
Labels: size/M, tests, provider

#29126 fix autoscaling group OnDemandAllocationStrategy parameter
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XS, service/autoscaling, needs-triage

#29110 [Docs]: fix error in documentation for r/aws_lambda_function
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/XS, service/lambda

#29220 linter: return diagnostic warnings correctly
  internal/service/auditmanager/control.go
  internal/service/auditmanager/framework.go
  internal/service/medialive/multiplex_program.go
  internal/service/rds/blue_green.go
Labels: size/XS, service/rds, service/medialive, service/auditmanager

#29189 resource/aws_dms_endpoint: Updates S3 Endpoint tests for extra connection attributes
  .actrc
  GNUmakefile
  internal/service/comprehend/diff.go
  internal/service/comprehend/document_classifier.go
  internal/service/comprehend/entity_recognizer.go
  internal/service/comprehend/validate.go
  internal/service/comprehend/validate_test.go
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  internal/service/kms/diff.go
  internal/service/kms/diff_test.go
  internal/service/kms/key_data_source.go
  internal/service/kms/public_key_data_source.go
  internal/service/kms/validate.go
  internal/service/kms/validate_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, size/XL, tests, service/kms, service/comprehend, repository, service/dms

#29134 AWS IPAM Contig Block
  internal/service/ec2/find.go
  internal/service/ec2/ipam_pool.go
  internal/service/ec2/ipam_pool_cidr.go
  internal/service/ec2/ipam_pool_cidr_allocation.go
  internal/service/ec2/ipam_pool_cidr_test.go
  internal/service/ec2/ipam_pool_test.go
  internal/service/ec2/status.go
  internal/service/ec2/wait.go
  website/docs/r/vpc_ipam_pool.html.markdown
  website/docs/r/vpc_ipam_pool_cidr.html.markdown
  website/docs/r/vpc_ipam_pool_cidr_allocation.html.markdown
Labels: documentation, size/L, tests, service/ipam, partner

#29223 Updates HTTP request/response logging
  .changelog/29223.txt
  go.mod
  go.sum
  internal/conns/config.go
  internal/service/iam/user_login_profile_test.go
Labels: size/M, tests, service/iam, client-connections

#29235 Add a note to d/lambda_function docs about invoke_arn change of behavior.
  website/docs/d/lambda_function.html.markdown
Labels: documentation, size/XS, service/lambda

#29237 r//aws_prometheus_workspace: Create a logging configuration on resource update if none existed previously
  .changelog/27472.txt
  internal/service/amp/wait.go
  internal/service/amp/workspace.go
  internal/service/amp/workspace_test.go
Labels: size/S, tests, service/amp

#29243 r/aws_s3_bucket.logging: Fix `panic: interface conversion: interface {} is nil, not map[string]interface {}`
  .changelog/29243.txt
  internal/service/s3/bucket.go
Labels: size/XS, service/s3

#29150 aws_acmpca_certificate_authority doc clarifications
  website/docs/r/acmpca_certificate_authority.html.markdown
Labels: documentation, size/XS, service/acmpca

#29244 r/aws_api_gateway_rest_api: Remove out-of-date endpoint types note
  website/docs/r/api_gateway_rest_api.html.markdown
Labels: documentation, size/XS, service/apigateway

#28239 (docs): Inform about potential traffic blocking
  website/docs/r/security_group.html.markdown
Labels: documentation, size/XS, service/vpc

#29245 resource/aws_kms_grant: Retries read until principals return valid ARNs
  .changelog/29245.txt
  .ci/.semgrep.yml
  .ci/semgrep/aws/arn.yml
  .github/workflows/semgrep-ci.yml
  GNUmakefile
  internal/service/apigateway/integration.go
  internal/service/iam/group_policy_attachment_test.go
  internal/service/iam/role_policy_attachment_test.go
  internal/service/iam/user_policy_attachment_test.go
  internal/service/iam/wait.go
  internal/service/kms/grant.go
  internal/service/kms/grant_test.go
Labels: size/M, tests, service/iam, service/apigateway, service/kms, linter, repository, github_actions

#29226 Fix race condition in SNS topic and topic policy resources
  .changelog/29226.txt
  internal/acctest/acctest.go
  internal/service/sns/find.go
  internal/service/sns/topic.go
  internal/service/sns/topic_policy_doc_test.go
  internal/service/sns/topic_policy_test.go
  internal/service/sns/topic_test.go
Labels: size/XL, tests, service/iam, service/sns, linter, repository, github_actions

#28699 New Resource: `aws_lightsail_bucket_access_key`. New Shared Resource Separator and associated functions
  .changelog/28699.txt
  internal/create/errors.go
  internal/flex/flex.go
  internal/flex/flex_test.go
  internal/provider/provider.go
  internal/service/lightsail/bucket_access_key.go
  internal/service/lightsail/bucket_access_key_test.go
  internal/service/lightsail/consts.go
  internal/service/lightsail/find.go
  website/docs/r/lightsail_bucket_access_key.html.markdown
Labels: documentation, new-resource, proposal, size/XL, tests, service/lightsail, provider, create, flex

#29267 Temporarily revert `golangci-lint` upgrade
  .ci/tools/go.mod
  .ci/tools/go.sum
  go.mod
  internal/service/lightsail/bucket_access_key.go
  internal/service/lightsail/bucket_access_key_test.go
Labels: size/M, tests, service/lightsail, linter

#29133 changed description of enable_cross_zone_load_balancing parameter in terraform aws_lb resource
  website/docs/r/lb.html.markdown
Labels: documentation, waiting-response, size/XS

#29272 Fix golangci-lint `paralleltest` errors
  .github/workflows/golangci-lint.yml
  internal/flex/flex_test.go
Labels: size/XS, tests, repository, flex, github_actions

#29097 r/aws_networkmanager_core_network_policy_attachment
  .changelog/29097.txt
  internal/provider/provider.go
  internal/service/networkmanager/core_network.go
  internal/service/networkmanager/core_network_policy_attachment.go
  internal/service/networkmanager/core_network_policy_attachment_test.go
  internal/service/networkmanager/core_network_test.go
  website/docs/r/networkmanager_core_network.html.markdown
  website/docs/r/networkmanager_core_network_policy_attachment.html.markdown
Labels: documentation, size/XL, tests, provider, service/networkmanager

#29285 Fix example for `aws_eks_cluster_auth` datasource
  website/docs/d/eks_cluster_auth.html.markdown
Labels: documentation, size/XS, service/eks, needs-triage

#28496 codebuild_webhook example should use BASE_REF
  website/docs/r/codebuild_webhook.html.markdown
Labels: documentation, size/XS, service/codebuild

#27589 docs: add `tags` attribute to RDS Cluster data source
  website/docs/d/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#29288 Update README image to set based on dark/light mode
  .github/terraform_logo.svg
  .github/terraform_logo_dark.svg
  .github/terraform_logo_light.svg
  README.md
Labels: documentation, size/XS, provider, repository

#29290 Update README to remove hard tabs
  README.md
Labels: documentation, size/XS, provider

#29010 Network Firewall Ipv6 - Updated Subnet Mapping to include IP address type for ipv6 support
  .changelog/29010.txt
  internal/service/networkfirewall/find.go
  internal/service/networkfirewall/firewall.go
  internal/service/networkfirewall/firewall_policy.go
  internal/service/networkfirewall/firewall_policy_test.go
  internal/service/networkfirewall/firewall_test.go
  internal/service/networkfirewall/resource_policy.go
  internal/service/networkfirewall/resource_policy_test.go
  internal/service/networkfirewall/rule_group.go
  internal/service/networkfirewall/rule_group_test.go
  internal/service/networkfirewall/status.go
  internal/service/networkfirewall/wait.go
  website/docs/r/networkfirewall_firewall.html.markdown
  website/docs/r/networkfirewall_rule_group.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/networkfirewall

#29294 r/aws_ec2_client_vpn_endpoint: Change `authentication_options` to `TypeSet`
  .changelog/29294.txt
  internal/service/ec2/vpnclient_endpoint.go
  internal/service/ec2/vpnclient_endpoint_test.go
Labels: size/M, tests, service/vpnclient

#29292 various framework validators
  internal/flex/framework.go
  internal/flex/framework_test.go
  internal/framework/int64planmodifier/default_value.go
  internal/framework/int64planmodifier/default_value_test.go
  internal/framework/validators/cluster.go
  internal/framework/validators/cluster_test.go
  internal/framework/validators/timestamp.go
  internal/framework/validators/timestamp_test.go
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, tests, flex

#28752 r/aws_evidently_launch
  .changelog/28752.txt
  internal/flex/flex.go
  internal/provider/provider.go
  internal/service/evidently/find.go
  internal/service/evidently/launch.go
  internal/service/evidently/launch_test.go
  internal/service/evidently/status.go
  internal/service/evidently/wait.go
  website/docs/r/evidently_launch.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, flex, service/evidently

#29303 Docs/aws_networkmanager_core network_policy_attachment
  website/docs/r/networkmanager_core_network_policy_attachment.html.markdown
Labels: documentation, size/XS, service/networkmanager

#29302 Run `go get -u` manually
  go.mod
  go.sum
Labels: dependencies, size/XL

#29269 dynamodb/table: Not recreate on PITR enable
  .changelog/29269.txt
  GNUmakefile
  go.mod
  go.sum
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, size/XL, tests, service/dynamodb, repository

#29316 fix typo in the aws_medialive_channel resource example
  website/docs/r/medialive_channel.html.markdown
Labels: documentation, size/XS, service/medialive

#29320 updated terraform documentation to include "self managed Kafka" for parameter 'starting_position' https://registry.terraform.io/providers/hashicorp/aws/3.70.0/docs/resources/lambda_event_source_mapping
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, service/lambda

#29325 r/aws_cloudwatch_log_group: Retry `PutRetentionPolicyWithContext` for IAM eventual consistency
  .changelog/29325.txt
  internal/service/logs/group.go
Labels: size/XS, eventual-consistency, service/logs

#29328 Add changelog note
  .changelog/29269.txt
Labels: size/XS

#29289 Optionally replace Lambda function ENI security groups on destroy
  .changelog/29289.txt
  internal/service/ec2/find.go
  internal/service/lambda/function.go
  internal/service/lambda/function_test.go
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/XL, tests, service/lambda

#29329 Updates `aws-sdk-go-base` to `v2.0.0-beta.23`
  .changelog/29329.txt
  go.mod
  go.sum
  internal/service/elb/hosted_zone_id_data_source.go
Labels: size/XS, service/elb

#29330 Reduce magic values with consts
  internal/service/dynamodb/global_table.go
  internal/service/dynamodb/global_table_test.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_data_source.go
  internal/service/dynamodb/table_data_source_test.go
  internal/service/dynamodb/table_replica.go
  internal/service/dynamodb/table_replica_test.go
  internal/service/dynamodb/table_test.go
  names/attr_consts.go
Labels: size/XL, tests, service/dynamodb

#29264 imagebuilder component validate.go: accountIDRegexp add third-party
  internal/verify/validate.go
  internal/verify/validate_test.go
Labels: bug, size/XS, tests, verify

#29277 r/aws_autoscaling_policy Change resource_label to optional
  .changelog/29277.txt
  internal/service/autoscaling/policy.go
  internal/service/autoscaling/policy_test.go
Labels: enhancement, size/M, tests, service/autoscaling

#28993 Consistent port validation on App Mesh
  internal/service/appmesh/gateway_route.go
  internal/service/appmesh/route.go
Labels: enhancement, size/XS, service/appmesh

#29217 Moved RequiredWith from wrong attribute on an appmesh route
  .changelog/29217.txt
  internal/service/appmesh/route.go
Labels: bug, size/XS, service/appmesh

#29015 Update cloudfront_distribution.html.markdown
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/XL, service/cloudfront

#29042 fix(codebuild): return error on delete only when is not nil
  .changelog/29042.txt
  internal/service/codebuild/project.go
Labels: bug, size/XS, service/codebuild

#28813 Align aws_ecs_service security_connect_configuration schema with API
  .changelog/28813.txt
  internal/service/ecs/service.go
  website/docs/r/ecs_service.html.markdown
Labels: bug, documentation, size/XS, service/ecs

#29202 Add ownerid filter to subnet search
  internal/service/ec2/find.go
  internal/service/elb/load_balancer.go
  internal/service/elb/load_balancer_data_source.go
  internal/service/emr/cluster_test.go
  internal/service/globalaccelerator/endpoint_group_test.go
Labels: bug, size/XS, tests, service/emr, service/elb, service/globalaccelerator

#28636 Uptick kms key policy propagation timeout to 10m
  .changelog/22339.txt
  .changelog/28636.txt
  internal/service/kms/wait.go
Labels: bug, size/XS, service/kms

#28653 include a doc url in aws_subnet_ids deprecation message
  internal/service/ec2/vpc_subnet_ids_data_source.go
Labels: enhancement, size/XS, service/vpc

#28608 Fixed bug in validation regex of aws_appflow_connector_profile resource
  .changelog/28550.txt
  internal/service/appflow/connector_profile.go
Labels: bug, size/XS, service/appflow

#29030 Added CloudFront managed policy example, added required note
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/S, service/cloudfront

#29344 Docs: Update ce_cost_category.html.markdown
  website/docs/d/ce_cost_category.html.markdown
Labels: documentation, size/XS, needs-triage, service/ce

#29093 docs: Clarify kinesis_firehose_delivery_stream dynamic partitioning requirements
  .changelog/29093.txt
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: enhancement, documentation, size/M, tests, service/firehose

#29327 Fixing name_node parameter typo
  internal/service/datasync/location_hdfs.go
Labels: size/XS, service/datasync, needs-triage

#28432 r/db_proxy - add `client_password_auth_type` argument
  .changelog/28432.txt
  internal/service/rds/proxy.go
  internal/service/rds/proxy_test.go
  website/docs/r/db_proxy.html.markdown
Labels: enhancement, documentation, size/S, tests, service/rds

#28600 Fixed naming bug for argument of aws_appflow_flow resource
  .changelog/28600.txt
  internal/service/appflow/flow.go
  internal/service/appflow/flow_test.go
  names/attr_consts.go
  website/docs/r/appflow_flow.html.markdown
Labels: bug, documentation, size/M, tests, service/appflow

#28581 fix: default_resource_spec are actually optional
  .changelog/28581.txt
  .changelog/29202.txt
  internal/service/sagemaker/user_profile.go
Labels: enhancement, size/XS, service/sagemaker

#27535 Documentation Improvement: Make examples for S3 bucket references consistent across documentation
  website/docs/d/elb_service_account.html.markdown
  website/docs/d/s3_bucket_object.html.markdown
  website/docs/d/s3_bucket_objects.html.markdown
  website/docs/d/s3_object.html.markdown
  website/docs/d/s3_objects.html.markdown
  website/docs/guides/version-4-upgrade.html.md
  website/docs/r/athena_database.html.markdown
  website/docs/r/elastictranscoder_pipeline.html.markdown
  website/docs/r/gamelift_build.html.markdown
  website/docs/r/gamelift_script.html.markdown
  website/docs/r/kinesisanalyticsv2_application.html.markdown
  website/docs/r/lb.html.markdown
  website/docs/r/s3_bucket_accelerate_configuration.html.markdown
  website/docs/r/s3_bucket_analytics_configuration.html.markdown
  website/docs/r/s3_bucket_intelligent_tiering_configuration.html.markdown
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
  website/docs/r/s3_bucket_metric.html.markdown
  website/docs/r/s3_bucket_object_lock_configuration.html.markdown
  website/docs/r/s3_bucket_request_payment_configuration.html.markdown
  website/docs/r/s3_bucket_server_side_encryption_configuration.html.markdown
  website/docs/r/s3_bucket_versioning.html.markdown
  website/docs/r/s3_bucket_website_configuration.html.markdown
  website/docs/r/spot_datafeed_subscription.html.markdown
  website/docs/r/ssm_maintenance_window_task.html.markdown
  website/docs/r/ssm_resource_data_sync.html.markdown
Labels: documentation, size/M, service/ec2, service/s3, service/elbv2, service/gamelift, service/elb, service/athena, service/ssm, service/kinesisanalyticsv2, service/elastictranscoder

#28328 Updated s3_bucket_server_side_encryption_configuration documentation
  website/docs/r/s3_bucket_server_side_encryption_configuration.html.markdown
Labels: documentation, size/XS, service/s3

#27778 Enable setting of 0 for sampling_rate
  .changelog/27778.txt
  internal/service/cloudfront/response_headers_policy.go
  internal/service/cloudfront/response_headers_policy_test.go
Labels: bug, size/XS, tests, service/cloudfront

#29352 s3: Cleanup docs a little
  website/docs/r/s3_access_point.html.markdown
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_accelerate_configuration.html.markdown
  website/docs/r/s3_bucket_acl.html.markdown
  website/docs/r/s3_bucket_analytics_configuration.html.markdown
  website/docs/r/s3_bucket_cors_configuration.html.markdown
  website/docs/r/s3_bucket_intelligent_tiering_configuration.html.markdown
  website/docs/r/s3_bucket_inventory.html.markdown
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
  website/docs/r/s3_bucket_logging.html.markdown
  website/docs/r/s3_bucket_metric.html.markdown
  website/docs/r/s3_bucket_object_lock_configuration.html.markdown
  website/docs/r/s3_bucket_ownership_controls.html.markdown
  website/docs/r/s3_bucket_policy.html.markdown
  website/docs/r/s3_bucket_replication_configuration.html.markdown
  website/docs/r/s3_bucket_request_payment_configuration.html.markdown
  website/docs/r/s3_bucket_server_side_encryption_configuration.html.markdown
  website/docs/r/s3_bucket_versioning.html.markdown
  website/docs/r/s3_bucket_website_configuration.html.markdown
  website/docs/r/s3_object_copy.html.markdown
Labels: documentation, size/XL, service/s3, service/s3control

#27704 s3 datasource aws_s3_object can read application/xml
  .changelog/27704.txt
  internal/service/s3/object_data_source.go
Labels: enhancement, size/XS, service/s3

#28530 adding support for NoSuchTagSetError
  .changelog/28530.txt
  internal/service/s3/tags.go
Labels: enhancement, size/XS, service/s3

#28444 r/aws_autoscaling_policy: Fix type of target_value for predictive scaling
  .changelog/28444.txt
  internal/service/autoscaling/policy.go
  internal/service/autoscaling/policy_test.go
Labels: bug, size/S, tests, service/autoscaling, partner

#28051 r/neptune_cluster - fix major version upgrade
  .changelog/28051.txt
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_instance.go
  internal/service/neptune/cluster_instance_test.go
  internal/service/neptune/cluster_snapshot.go
  internal/service/neptune/cluster_snapshot_test.go
  internal/service/neptune/cluster_test.go
  internal/service/neptune/consts.go
  internal/service/neptune/find.go
  internal/service/neptune/global_cluster.go
  internal/service/neptune/global_cluster_test.go
  internal/service/neptune/status.go
  internal/service/neptune/sweep.go
  internal/service/neptune/wait.go
  website/docs/r/neptune_cluster.html.markdown
  website/docs/r/neptune_global_cluster.html.markdown
Labels: bug, documentation, size/XL, tests, service/neptune, sweeper

#29370 fix typos in aws_medialive_channel documentation
  website/docs/r/medialive_channel.html.markdown
Labels: documentation, size/XS, service/medialive

#29371 Fix typo in dvb_sub_pids and audio_pids assignment
  .changelog/29371.txt
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
Labels: size/L, tests, service/medialive

#29353 Replace heredoc with aws_iam_policy_document datasource (d/*)
  website/docs/d/billing_service_account.html.markdown
  website/docs/d/cloudtrail_service_account.html.markdown
  website/docs/d/elb_service_account.html.markdown
  website/docs/d/redshift_service_account.html.markdown
Labels: documentation, size/L, service/cloudtrail, service/elb, service/redshift, service/meta

#29354 Replace heredoc with aws_iam_policy_document datasource (r/a*)
  website/docs/r/acmpca_policy.html.markdown
  website/docs/r/api_gateway_account.html.markdown
  website/docs/r/api_gateway_authorizer.html.markdown
  website/docs/r/api_gateway_integration.html.markdown
  website/docs/r/api_gateway_rest_api_policy.html.markdown
  website/docs/r/appflow_flow.html.markdown
  website/docs/r/appsync_datasource.html.markdown
  website/docs/r/appsync_graphql_api.html.markdown
Labels: documentation, size/XL, service/apigateway, service/appsync, service/acmpca, service/appflow

#29381 r/aws_kms_grant: Tweak invalid principal error message
  internal/service/kms/grant.go
  internal/service/kms/grant_test.go
  internal/service/kms/key_data_source_test.go
Labels: size/XL, tests, service/kms

#29345 d/aws_redshift_service_account: Document future deprecation
  website/docs/d/redshift_service_account.html.markdown
Labels: documentation, size/XS, service/redshift

#29347 d/aws_elb_service_account: Document behavior for newer Regions
  website/docs/d/elb_service_account.html.markdown
Labels: documentation, size/XS, service/elb

#29384 Additional `golangci-lint` linters
  .ci/.golangci2.yml
  internal/acctest/acctest.go
  internal/errs/errs_test.go
  internal/flex/flex.go
  internal/sdktypes/duration.go
  internal/sdktypes/duration_test.go
  internal/service/autoscaling/policy.go
  internal/service/ec2/vpc_route.go
  internal/service/elasticbeanstalk/configuration_template.go
  internal/service/elasticbeanstalk/environment.go
  internal/service/elasticbeanstalk/environment_test.go
  internal/service/elasticbeanstalk/flex.go
  internal/service/elasticbeanstalk/generate.go
  internal/service/elasticbeanstalk/list_pages_gen.go
  internal/service/elasticbeanstalk/sweep.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/rds/cluster.go
  internal/service/rds/cluster_endpoint.go
  internal/service/rds/cluster_endpoint_test.go
  internal/service/rds/cluster_parameter_group.go
  internal/service/rds/find.go
  internal/service/rds/parameter_group.go
  internal/service/rds/snapshot_copy.go
  internal/service/rds/snapshot_copy_test.go
Labels: size/XL, tests, service/elbv2, service/rds, service/elasticbeanstalk, service/autoscaling, sweeper, flex, generators, service/vpc

#29407 Route 53: IP-based routing
  .changelog/29407.txt
  .github/labeler-pr-triage.yml
  internal/flex/framework.go
  internal/framework/types/cidr_block.go
  internal/framework/types/cidr_block_test.go
  internal/service/route53/cidr_collection.go
  internal/service/route53/cidr_collection_test.go
  internal/service/route53/cidr_location.go
  internal/service/route53/cidr_location_test.go
  internal/service/route53/exports_test.go
  internal/service/route53/find.go
  internal/service/route53/record.go
  internal/service/route53/record_test.go
  internal/service/route53/zone_test.go
  names/names_data.csv
  website/docs/r/route53_cidr_collection.html.markdown
  website/docs/r/route53_cidr_location.html.markdown
  website/docs/r/route53_record.html.markdown
Labels: documentation, size/XL, tests, service/route53, repository, flex, github_actions

#29390 acctest/aws_imagebuilder_image_recipe: removes version restriction
  internal/service/imagebuilder/image_recipe_test.go
Labels: size/XS, tests, service/imagebuilder

#29426 aws_cloudwatch_log_group: Allow a three year retention period (1096 days)
  .changelog/29426.txt
  internal/service/logs/group.go
  internal/service/logs/group_test.go
  website/docs/r/cloudwatch_log_group.html.markdown
Labels: bug, documentation, size/XS, tests, service/logs

#24350 Add data sources aws_organizations_organizational_unit_child_accounts and aws_organizations_organizational_unit_descendant_accounts
  .changelog/24350.txt
  internal/provider/provider.go
  internal/service/organizations/organizational_unit_child_accounts_data_source.go
  internal/service/organizations/organizational_unit_child_accounts_data_source_test.go
  internal/service/organizations/organizational_unit_descendant_accounts_data_source.go
  internal/service/organizations/organizational_unit_descendant_accounts_data_source_test.go
  internal/service/organizations/organizational_units_data_source.go
  internal/service/organizations/organizational_units_data_source_test.go
  internal/service/organizations/organizations_test.go
  internal/service/organizations/resource_tags_data_source_test.go
  website/docs/d/organizations_organizational_unit_child_accounts.html.markdown
  website/docs/d/organizations_organizational_unit_descendant_accounts.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/organizations, provider

#29427 resource/aws_secretsmanager_secret: Retries reading resource until policy returns valid principals
  internal/service/iam/policy_model.go
  internal/service/iam/policy_model_test.go
  internal/service/iam/role.go
  internal/service/secretsmanager/secret.go
  internal/service/sns/find.go
  internal/service/sns/topic.go
  internal/tfresource/retry_test.go
Labels: size/L, tests, service/iam, service/sns, service/secretsmanager

#29389 Update nullable bool
  .ci/semgrep/types/nullable.yml
  .github/workflows/semgrep-ci.yml
  GNUmakefile
  internal/experimental/nullable/bool.go
  internal/experimental/nullable/bool_test.go
  internal/experimental/nullable/float_test.go
  internal/experimental/nullable/int_test.go
  internal/experimental/nullable/testing.go
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_test.go
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_test.go
  internal/service/imagebuilder/container_recipe.go
  internal/service/imagebuilder/image_recipe.go
  internal/verify/diff.go
  internal/verify/diff_test.go
  internal/verify/validate.go
  internal/verify/validate_test.go
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XL, tests, service/ec2, service/elbv2, service/imagebuilder, linter, repository, verify, github_actions

#29473 update deps
  go.mod
  go.sum
Labels: size/M

#29472 Fix typo in custom user-agent paragraph of provider overview
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider

#29425 docs: Fix case of dms_endpoint canned_acl_for_objects valid values
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, size/XS, service/dms

#29481 Fix CodeQL `go/clear-text-logging` warnings
  internal/service/rds/proxy.go
  internal/service/wafv2/web_acl.go
Labels: size/XS, service/rds, technical-debt, service/wafv2

#29467 fix typo in arib_captions_pid and arib_captions_pid_control
  .changelog/29467.txt
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
Labels: size/S, tests, service/medialive

#29551 Bump `aws-sdk-go-v2` service modules
  go.mod
  go.sum
Labels: size/L

#29462 Add SignatureVersion support to sns topics.
  .changelog/29462.txt
  internal/service/sns/consts.go
  internal/service/sns/topic.go
  internal/service/sns/topic_test.go
  website/docs/r/sns_topic.html.markdown
Labels: documentation, size/S, tests, service/sns

#29482 aws_load_balancer_listener_policy: add triggers argument
  .changelog/29482.txt
  internal/service/elb/lb_ssl_negotiation_policy.go
  internal/service/elb/lb_ssl_negotiation_policy_test.go
  internal/service/elb/listener_policy.go
  internal/service/elb/listener_policy_test.go
  website/docs/r/lb_ssl_negotiation_policy.html.markdown
  website/docs/r/load_balancer_listener_policy.html.markdown
Labels: enhancement, documentation, size/L, tests, service/elb

#28572 Ensure correct SNS Subscription Filter Policy Scope update order
  .changelog/28572.txt
  internal/service/sns/topic_subscription.go
  internal/service/sns/topic_subscription_test.go
Labels: bug, size/M, tests, service/sns

#29296 r/networkmanager connect peer
  .changelog/29296.txt
  internal/provider/provider.go
  internal/service/networkmanager/connect_attachment.go
  internal/service/networkmanager/connect_peer.go
  internal/service/networkmanager/connect_peer_test.go
  internal/service/networkmanager/errors.go
  internal/service/networkmanager/global_network.go
  website/docs/r/networkmanager_connect_peer.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, service/networkmanager

#29557 Correct CHANGELOG entries
  .changelog/29482.txt
Labels: size/XS

#29570 Tech debt: Use paginators in EC2 finders
  internal/service/ec2/ec2_host_data_source.go
  internal/service/ec2/ec2_host_data_source_test.go
  internal/service/ec2/ec2_host_test.go
  internal/service/ec2/find.go
Labels: size/L, tests, service/ec2, technical-debt

#29573 Move CODEOWNERS to root and add commented out default owner line
  .github/CODEOWNERS
  CODEOWNERS
Labels: repository

#26857 ECR - Add ability to query by and return most recent image tag(s)
  .changelog/26857.txt
  internal/service/ecr/image_data_source.go
  internal/service/ecr/image_data_source_test.go
  internal/service/ecr/repository.go
  internal/service/ecr/repository_data_source.go
  internal/service/ecr/repository_data_source_test.go
  internal/service/ecr/repository_test.go
  website/docs/d/ecr_image.html.markdown
  website/docs/d/ecr_repository.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ecr

#29484 Enable new VPC Security Group Rule resources
  .changelog/29484.txt
  .github/labeler-pr-triage.yml
  internal/service/ec2/vpc_security_group_egress_rule.go
  internal/service/ec2/vpc_security_group_ingress_rule.go
  internal/service/ec2/vpc_security_group_rule_data_source.go
  internal/service/ec2/vpc_security_group_rule_data_source_test.go
  internal/service/ec2/vpc_security_group_rules_data_source.go
  internal/service/ec2/vpc_security_group_rules_data_source_test.go
  names/names_data.csv
  website/docs/d/vpc_security_group_rule.html.markdown
  website/docs/d/vpc_security_group_rules.html.markdown
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
  website/docs/r/vpc_security_group_egress_rule.html.markdown
  website/docs/r/vpc_security_group_ingress_rule.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, repository, github_actions, service/vpc

#28591 Add Observability Access Manager Service
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/provider/service_packages_gen.go
  internal/service/oam/README.md
  internal/service/oam/generate.go
  internal/service/oam/service_package_gen.go
  internal/service/oam/sweep.go
  internal/service/oam/tags_gen.go
  internal/sweep/sweep_test.go
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.md
Labels: documentation, new-resource, new-data-source, size/XL, tests, provider, sweeper, tags, repository, client-connections, generators, github_actions, new-service

#29575 wafv2/web_acl: Handle DDoS auto mitigation
  .changelog/29575.txt
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XL, tests, service/wafv2

#29607 r/aws_default_vpc: Change `enable_network_address_usage_metrics` to Optional+Computed
  .changelog/29607.txt
  internal/service/ec2/vpc_default_vpc.go
  internal/service/ec2/vpc_default_vpc_test.go
  website/docs/r/default_vpc.html.markdown
Labels: documentation, size/XS, tests, service/vpc

#29609 Bump aws-sdk-go-v2 service modules
  go.mod
  go.sum
Labels: size/L

#29612 go mod tidy
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/L

#29613 Acceptance tests fixes
  .changelog/29613.txt
  internal/provider/provider.go
  internal/service/account/account_test.go
  internal/service/account/alternate_contact.go
  internal/service/account/alternate_contact_test.go
  internal/service/account/service_package_gen.go
  internal/service/acmpca/certificate_authority.go
  internal/service/acmpca/certificate_authority_test.go
  internal/service/acmpca/find.go
  internal/service/acmpca/status.go
  internal/service/acmpca/wait.go
  internal/service/apigateway/usage_plan.go
  internal/service/apigateway/usage_plan_test.go
  website/docs/r/acmpca_certificate_authority.html.markdown
Labels: documentation, size/XL, tests, service/apigateway, provider, service/acmpca, generators, service/account

#29621 make: Add target for test subset
  GNUmakefile
Labels: size/XL, repository

#29638 Add missed changelog
  .changelog/29615.txt
Labels: size/XS

#29645 ELBv2: Fix CI acceptance test failures
  internal/service/elbv2/listener_rule_test.go
Labels: size/XL, tests, service/elbv2

#29224 Add `kms_key_id` attribute to CloudTrail Event Data Store
  .changelog/29224.txt
  internal/service/cloudtrail/event_data_store.go
  internal/service/cloudtrail/event_data_store_test.go
  internal/service/cloudtrail/find.go
  internal/service/cloudtrail/status.go
  internal/service/cloudtrail/wait.go
  website/docs/r/cloudtrail_event_data_store.html.markdown
Labels: documentation, size/L, tests, service/cloudtrail

#29380 Add SecretsManager support for DB2 LUW
  .changelog/29380.txt
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
Labels: size/M, tests, service/dms, partner

#28960 aws_dms_endpoint resource engine_name updated with azure-sql-managed-…
  .changelog/28960.txt
  internal/service/dms/consts.go
  internal/service/dms/endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: enhancement, documentation, size/M, tests, service/dms

#29513 Add auto rollback feature to auto scaling groups preferences
  .changelog/29513.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/S, tests, service/autoscaling

#28560 r/aws_autoscaling_policy: Support metric math for target tracking policy
  .changelog/28560.txt
  internal/service/autoscaling/policy.go
  internal/service/autoscaling/policy_test.go
  website/docs/r/autoscaling_policy.html.markdown
Labels: documentation, size/XL, tests, service/autoscaling, partner

#29655 Tech debt: Use interface type for generated `listpages` AWS SDK for Go v1 API clients
  internal/generate/listpages/header.tmpl
  internal/generate/listpages/main.go
  internal/service/amplify/list_pages_gen.go
  internal/service/apigatewayv2/list_pages_gen.go
  internal/service/appstream/list_pages_gen.go
  internal/service/autoscaling/list_pages_gen.go
  internal/service/autoscalingplans/list_pages_gen.go
  internal/service/directconnect/list_pages_gen.go
  internal/service/ds/list_pages_gen.go
  internal/service/ec2/list_pages_gen.go
  internal/service/ecs/list_pages_gen.go
  internal/service/efs/list_pages_gen.go
  internal/service/elasticbeanstalk/list_pages_gen.go
  internal/service/events/list_pages_gen.go
  internal/service/kinesisanalyticsv2/list_pages_gen.go
  internal/service/licensemanager/list_pages_gen.go
  internal/service/logs/list_pages_gen.go
  internal/service/memorydb/list_pages_gen.go
  internal/service/mq/list_pages_gen.go
  internal/service/route53/list_traffic_policies_pages_gen.go
  internal/service/route53/list_traffic_policy_versions_pages_gen.go
  internal/service/waf/list_pages_gen.go
  internal/service/wafv2/list_pages_gen.go
  internal/service/workspaces/list_pages_gen.go
Labels: size/L, service/ecs, service/route53, service/directconnect, service/elasticbeanstalk, service/autoscaling, service/mq, service/efs, service/waf, service/workspaces, service/autoscalingplans, service/appstream, service/amplify, service/kinesisanalyticsv2, service/licensemanager, service/apigatewayv2, service/wafv2, service/memorydb, generators, service/events, service/ds, service/logs

#29140 Add support for `instance_requirements.allowed_instance_types`
  .changelog/29140.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  internal/service/ec2/ec2_fleet.go
  internal/service/ec2/ec2_fleet_test.go
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/ec2_launch_template_test.go
  internal/service/ec2/ec2_spot_fleet_request.go
  website/docs/r/autoscaling_group.html.markdown
  website/docs/r/ec2_fleet.html.markdown
  website/docs/r/launch_template.html.markdown
  website/docs/r/spot_fleet_request.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ec2, service/autoscaling

#29651 Fixes custom Framework types
  internal/framework/types/arn.go
  internal/framework/types/arn_test.go
  internal/framework/types/cidr_block.go
  internal/framework/types/cidr_block_test.go
  internal/framework/types/duration.go
  internal/framework/types/duration_test.go
Labels: size/L

#29553 sweeper/aws_rds_global_cluster: Fixes dependency errors
  internal/service/neptune/sweep.go
  internal/service/rds/blue_green.go
  internal/service/rds/global_cluster.go
  internal/service/rds/global_cluster_test.go
  internal/service/rds/instance.go
  internal/service/rds/sweep.go
  internal/tfresource/retry.go
Labels: size/M, tests, service/rds, service/neptune, sweeper

#29662 aws_api_gateway_deployment - outdated link
  website/docs/r/api_gateway_deployment.html.markdown
Labels: documentation, size/XS, service/apigateway, needs-triage

#29424 Replace heredoc with jsonencode (r/a*, r/b*, r/c*)
  website/docs/r/api_gateway_model.html.markdown
  website/docs/r/apigatewayv2_model.html.markdown
  website/docs/r/applicationinsights_application.html.markdown
  website/docs/r/autoscaling_group.html.markdown
  website/docs/r/autoscaling_lifecycle_hook.html.markdown
  website/docs/r/batch_job_definition.html.markdown
  website/docs/r/ce_anomaly_monitor.html.markdown
  website/docs/r/cloudformation_stack.html.markdown
  website/docs/r/cloudformation_stack_set.html.markdown
  website/docs/r/cloudwatch_dashboard.html.markdown
  website/docs/r/cloudwatch_event_archive.html.markdown
  website/docs/r/cloudwatch_event_rule.html.markdown
  website/docs/r/cloudwatch_event_target.html.markdown
  website/docs/r/codecommit_approval_rule_template.html.markdown
  website/docs/r/connect_contact_flow.html.markdown
  website/docs/r/connect_contact_flow_module.html.markdown
Labels: documentation, size/XL, service/apigateway, service/codecommit, service/autoscaling, service/cloudwatch, service/cloudformation, service/batch, service/connect, service/apigatewayv2, service/applicationinsights, service/events, service/ce

#29386 Replace heredoc with aws_iam_policy_document datasource (r/o*, r/p*, …
  website/docs/r/opensearch_domain.html.markdown
  website/docs/r/opensearch_domain_policy.html.markdown
  website/docs/r/organizations_policy.html.markdown
  website/docs/r/pinpoint_email_channel.markdown
  website/docs/r/pinpoint_event_stream.markdown
  website/docs/r/redshift_scheduled_action.html.markdown
Labels: documentation, waiting-response, size/XL, service/redshift, service/organizations, service/pinpoint, service/opensearch

#29358 Replace heredoc with aws_iam_policy_document datasource (r/d*, r/e*)
  website/docs/r/dlm_lifecycle_policy.markdown
  website/docs/r/ecr_repository_policy.html.markdown
  website/docs/r/ecrpublic_repository_policy.html.markdown
  website/docs/r/efs_file_system_policy.html.markdown
  website/docs/r/eks_cluster.html.markdown
  website/docs/r/elasticsearch_domain.html.markdown
  website/docs/r/emr_cluster.html.markdown
Labels: documentation, waiting-response, size/XL, service/emr, service/efs, service/elasticsearch, service/ecr, service/eks, service/dlm, service/ecrpublic

#29356 Replace heredoc with aws_iam_policy_document datasource (r/b*, r/c*)
  website/docs/r/backup_selection.html.markdown
  website/docs/r/backup_vault_policy.html.markdown
  website/docs/r/batch_compute_environment.html.markdown
  website/docs/r/budgets_budget_action.html.markdown
  website/docs/r/cloudfront_realtime_log_config.html.markdown
  website/docs/r/cloudsearch_domain_service_access_policy.html.markdown
  website/docs/r/cloudtrail.html.markdown
  website/docs/r/cloudwatch_event_target.html.markdown
  website/docs/r/cloudwatch_metric_stream.html.markdown
  website/docs/r/codeartifact_domain_permissions_policy.html.markdown
  website/docs/r/codeartifact_repository_permissions_policy.html.markdown
  website/docs/r/codebuild_project.html.markdown
  website/docs/r/codebuild_report_group.html.markdown
  website/docs/r/codedeploy_deployment_group.html.markdown
  website/docs/r/codepipeline.markdown
  website/docs/r/cognito_identity_pool_roles_attachment.markdown
  website/docs/r/cognito_user_group.html.markdown
  website/docs/r/cognito_user_pool_client.markdown
  website/docs/r/config_config_rule.html.markdown
  website/docs/r/config_configuration_aggregator.html.markdown
  website/docs/r/config_configuration_recorder.html.markdown
  website/docs/r/config_configuration_recorder_status.html.markdown
  website/docs/r/config_delivery_channel.html.markdown
Labels: documentation, waiting-response, size/XL, service/configservice, service/codebuild, service/cloudtrail, service/cloudfront, service/cloudwatch, service/cloudsearch, service/budgets, service/codepipeline, service/batch, service/backup, service/codeartifact, service/events, service/deploy, service/cognitoidp, service/cognitoidentity

#29686 Correct link for using-object-lock-configuration
  website/docs/r/s3_bucket_object_lock_configuration.html.markdown
Labels: documentation, size/XS, service/s3, needs-triage

#29688 d-Update organizations_delegated_administrators.html.markdown
  website/docs/d/organizations_delegated_administrators.html.markdown
Labels: documentation, size/XS, service/organizations, needs-triage

#29677 Fix route53_delegation_set argument description
  website/docs/d/route53_delegation_set.html.markdown
Labels: documentation, size/XS, service/route53, needs-triage

#29669 #29667 Fix example for API Gateway permissions
  website/docs/r/lambda_permission.html.markdown
Labels: documentation, size/XS, service/lambda

#29646 r/aws_lambda_function: Add `skip_destroy` argument and retry deletion of replicated Lambda@Edge functions
  .changelog/29646.txt
  internal/errs/errs.go
  internal/service/lambda/function.go
  internal/service/lambda/function_test.go
  internal/tfresource/retry.go
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/L, tests, service/lambda

#29703 Website: Amend s3_bucket, Clarify `force_destroy` behavior
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, size/XS, service/s3

#29460 New Resource: `aws_lightsail_bucket_resource_access`
  .changelog/29460.txt
  internal/provider/provider.go
  internal/service/lightsail/bucket_resource_access.go
  internal/service/lightsail/bucket_resource_access_test.go
  internal/service/lightsail/consts.go
  internal/service/lightsail/find.go
  website/docs/r/lightsail_bucket_resource_access.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/lightsail, provider

#29701 add verifiedaccess to names.csv
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  infrastructure/repository/labels-service.tf
  names/names_data.csv
  website/allowed-subcategories.txt
Labels: documentation, size/S, repository, github_actions, new-service

#29713 Update Firewatch to SHA (2.0.4)
  .github/workflows/firewatch.yml
Labels: size/XS

#29274 Fixes ElastiCache acceptance tests for new default Redis engine version
  internal/service/elasticache/find.go
  internal/service/elasticache/replication_group_test.go
Labels: size/XL, tests, service/elasticache

#29181 update aws_ec2_fleet resource to latest functionality
  .changelog/29181.txt
  internal/service/ec2/ec2_fleet.go
  internal/service/ec2/ec2_fleet_test.go
  website/docs/r/ec2_fleet.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ec2, partner

#29408 Replace heredoc with aws_iam_policy_document datasource (r/s*, r/t*, …
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_notification.html.markdown
  website/docs/r/s3_bucket_replication_configuration.html.markdown
  website/docs/r/secretsmanager_secret_policy.html.markdown
  website/docs/r/sqs_queue_policy.html.markdown
  website/docs/r/ssm_activation.html.markdown
  website/docs/r/ssm_resource_data_sync.html.markdown
  website/docs/r/transfer_ssh_key.html.markdown
  website/docs/r/transfer_user.html.markdown
  website/docs/r/vpc_endpoint_connection_notification.html.markdown
  website/docs/r/xray_encryption_config.html.markdown
Labels: documentation, waiting-response, size/XL, service/s3, service/sqs, service/ssm, service/secretsmanager, service/xray, service/transfer, service/vpc

#29718 Pin current-milestone-action to SHA
  .github/workflows/milestone.yml
Labels: size/XS, repository, github_actions

#29658 aws_lb_target_group - specify name requirements in docs
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, size/XS, service/elbv2, needs-triage

#29660 aws_ce_anomaly_subscription - add example using threshold_expression
  website/docs/r/ce_anomaly_subscription.html.markdown
Labels: documentation, size/XS, needs-triage, service/ce

#29506 Updated CloudWatch synthetics canary docs
  website/docs/r/synthetics_canary.html.markdown
Labels: documentation, size/XS, service/synthetics

#26509 Lambda Website Example Requires Implied Zipping Step, Updated
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/XS, service/lambda

#29720 Pin github-jira-tidy to SHA
  .github/workflows/post_publish.yml
Labels: size/XS, repository, github_actions

#29716 docs: update contributor docs for creating new resources and datasources
  docs/add-a-new-datasource.md
  docs/add-a-new-resource.md
Labels: documentation, size/S

#29724 Pin GHA: github-team-slackbot to SHA
  .github/workflows/team_slack_bot.yml
Labels: size/XS
