Repository hashicorp/terraform-provider-aws, pull requests merged in 2023-11, with the labels that each got.

#34181 r/redshift_cluster - add support for restoring from `snapshot_arn`
  .changelog/34181.txt
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_test.go
  website/docs/r/redshift_cluster.html.markdown
Labels: enhancement, documentation, size/M, tests, service/redshift, external-maintainer

#34149 r/redshift_resource_policy - new resource
  .changelog/34149.txt
  internal/service/redshift/find.go
  internal/service/redshift/resource_policy.go
  internal/service/redshift/resource_policy_test.go
  internal/service/redshift/service_package_gen.go
  website/docs/r/redshift_resource_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/redshift, generators, external-maintainer

#34184 ci: switch library_versions action to pull_request_target event
  .github/workflows/library_versions.yml
Labels: size/XS, repository, github_actions, prioritized

#34180 r/aws_secretsmanager_secret_rotation: support managed secrets
  .changelog/34180.txt
  internal/service/secretsmanager/secret_rotation.go
  internal/service/secretsmanager/secret_rotation_test.go
  website/docs/r/secretsmanager_secret_rotation.html.markdown
Labels: documentation, tests, service/secretsmanager, prioritized

#34191 Add Kafka message headers to IoT topic rules
  .changelog/34191.txt
  internal/service/iot/topic_rule.go
  internal/service/iot/topic_rule_test.go
  website/docs/r/iot_topic_rule.html.markdown
Labels: enhancement, size/M, tests, service/iot

#34182 r/aws_redshift_cluster: support managed master passwords
  .changelog/34182.txt
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_test.go
  website/docs/r/redshift_cluster.html.markdown
Labels: documentation, size/M, tests, service/redshift, prioritized

#34187 rds/cluster: Use AWS backup retention default
  .changelog/34187.txt
  internal/service/rds/cluster.go
Labels: size/XS, service/rds, prioritized

#33870 SDKv2 to Framework migration guide
  docs/migrate-from-sdk-to-framework.md
  mkdocs.yml
Labels: documentation, size/S, prioritized

#34201 r/aws_finspace_kx_cluster(test): add missing license check gates
  internal/service/finspace/kx_cluster_test.go
Labels: tests, service/finspace, prioritized

#34172 acctest: Bump engine versions for MQ tests
  internal/service/lambda/event_source_mapping_test.go
  internal/service/mq/broker_data_source_test.go
  internal/service/mq/broker_test.go
  internal/service/mq/configuration_test.go
  internal/service/pipes/pipe_test.go
  website/docs/r/mq_broker.html.markdown
  website/docs/r/mq_configuration.html.markdown
Labels: documentation, size/M, tests, service/lambda, service/mq, service/pipes, prioritized

#33727 Change min forward target group action rule to one per docs
  .changelog/33727.txt
  internal/service/elbv2/listener_rule.go
Labels: bug, size/XS, service/elbv2, prioritized

#34206 Bump `github.com/hashicorp/aws-sdk-go-base/v2`
  go.mod
  go.sum
Labels: size/S, prioritized

#34205 improved resource tips
  website/docs/r/vpc_endpoint.html.markdown
Labels: documentation, size/XS, service/vpc

#34207 ci: pass repository argument during head checkout
  .github/workflows/library_versions.yml
Labels: size/XS, prioritized

#34144 Add `aws_opensearchserverless_lifecycle_policy` resource and data source
  .changelog/34144.txt
  internal/service/opensearchserverless/exports_test.go
  internal/service/opensearchserverless/find.go
  internal/service/opensearchserverless/lifecycle_policy.go
  internal/service/opensearchserverless/lifecycle_policy_data_source.go
  internal/service/opensearchserverless/lifecycle_policy_data_source_test.go
  internal/service/opensearchserverless/lifecycle_policy_test.go
  internal/service/opensearchserverless/service_package_gen.go
  website/docs/d/opensearchserverless_lifecycle_policy.html.markdown
  website/docs/r/opensearchserverless_lifecycle_policy.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, generators, service/opensearchserverless, partner, prioritized

#34210 Migrate`sqs` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/attrmap/attrmap.go
  internal/conns/awsclient_gen.go
  internal/errs/unsupported.go
  internal/flex/flex.go
  internal/maps/maps.go
  internal/maps/maps_test.go
  internal/service/dynamodb/flex.go
  internal/service/sqs/attribute_funcs.go
  internal/service/sqs/consts.go
  internal/service/sqs/exports_test.go
  internal/service/sqs/find.go
  internal/service/sqs/generate.go
  internal/service/sqs/json.go
  internal/service/sqs/json_test.go
  internal/service/sqs/name.go
  internal/service/sqs/name_test.go
  internal/service/sqs/queue.go
  internal/service/sqs/queue_data_source.go
  internal/service/sqs/queue_data_source_test.go
  internal/service/sqs/queue_policy.go
  internal/service/sqs/queue_policy_test.go
  internal/service/sqs/queue_redrive_allow_policy.go
  internal/service/sqs/queue_redrive_allow_policy_test.go
  internal/service/sqs/queue_redrive_policy.go
  internal/service/sqs/queue_redrive_policy_test.go
  internal/service/sqs/queue_test.go
  internal/service/sqs/queues_data_source.go
  internal/service/sqs/queues_data_source_test.go
  internal/service/sqs/service_package_gen.go
  internal/service/sqs/status.go
  internal/service/sqs/sweep.go
  internal/service/sqs/tags_gen.go
  internal/service/sqs/wait.go
  internal/verify/resource_differ.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, service/sqs, service/dynamodb, technical-debt, sweeper, tags, client-connections, flex, generators, prioritized

#34214 AWS SDK for Go 11/01/2023 updates
  .ci/scripts/update-aws-sdk-go-dependencies.sh
  go.mod
  go.sum
Labels: linter, prioritized

#34217 `flex.PointersMapToStringList` -> `flex.FlattenStringMap`
  internal/flex/flex.go
  internal/maps/maps.go
  internal/service/apigatewayv2/integration.go
  internal/service/apigatewayv2/integration_response.go
  internal/service/apigatewayv2/route.go
  internal/service/apigatewayv2/route_response.go
  internal/service/apigatewayv2/stage.go
  internal/service/ecs/task_definition.go
  internal/service/elasticsearch/domain.go
  internal/service/elasticsearch/domain_data_source.go
  internal/service/kinesisanalyticsv2/application.go
  internal/service/kms/grant.go
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_data_source.go
  internal/slices/slices.go
  internal/verify/diff_test.go
Labels: size/M, tests, service/ecs, service/kms, service/elasticsearch, service/kinesisanalyticsv2, service/apigatewayv2, flex, verify, service/opensearch, prioritized

#34211 Additional CV Guide Examples
  website/docs/guides/continuous-validation-examples.html.markdown
Labels: documentation, size/S, prioritized

#34222 Update appflow_flow.html.markdown
  website/docs/r/appflow_flow.html.markdown
Labels: documentation, size/XS, needs-triage, service/appflow

#34226 Tech debt: Use `errs.IsUnsupportedOperationInPartitionError` instead of `verify.ErrorISOUnsupported`
  internal/errs/unsupported.go
  internal/service/ec2/ec2_instance.go
  internal/service/ecr/repository_data_source.go
  internal/service/ecs/find.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_set.go
  internal/service/elasticache/cluster_data_source.go
  internal/service/elasticache/parameter_group.go
  internal/service/elbv2/listener_data_source.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/target_group_data_source.go
  internal/verify/verify.go
Labels: size/M, service/ec2, service/ecs, service/elbv2, service/elasticache, service/ecr, verify, prioritized

#34228 correcting values for vpc_config block
  website/docs/cdktf/python/r/appstream_image_builder.html.markdown
  website/docs/cdktf/typescript/r/appstream_image_builder.html.markdown
  website/docs/r/appstream_image_builder.html.markdown
Labels: documentation, size/XS, service/appstream

#34230 r/aws_quicksight: fix window_options.bounds validator
  .changelog/34230.txt
  internal/service/quicksight/schema/visual_map.go
Labels: service/quicksight, prioritized

#34235 docs: Update compatible runtime limit for lambada_layer_version
  website/docs/r/lambda_layer_version.html.markdown
Labels: documentation, size/XS, service/lambda

#34236 docs: Added service_role_arn conditional req for aws_appsync_datasource
  website/docs/r/appsync_datasource.html.markdown
Labels: documentation, size/XS, service/appsync

#34240 docs: Fix desc of custom_datatype_configured arg for aws_glue_classifier
  website/docs/r/glue_classifier.html.markdown
Labels: documentation, size/XS, service/glue

#33861 r/aws_datasync_task: add `task_report_config` argument
  .changelog/33861.txt
  internal/service/datasync/task.go
  internal/service/datasync/task_test.go
  website/docs/r/datasync_task.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/datasync, prioritized

#34229 remove deprecated threshold field references
  website/docs/r/ce_anomaly_subscription.html.markdown
Labels: documentation, size/XS, service/ce

#34212 fix[aws_route53_record]: Allow importing with empty record name
  .changelog/34212.txt
  internal/service/route53/record.go
  internal/service/route53/record_test.go
  website/docs/r/route53_record.html.markdown
Labels: bug, documentation, size/XS, tests, service/route53

#34250 Tech debt: Replace `verify.SliceContainsString`
  internal/service/cloudfront/origin_access_identities_data_source.go
  internal/service/docdb/cluster.go
  internal/service/resourceexplorer2/index.go
  internal/service/resourceexplorer2/view.go
  internal/service/waf/helpers.go
  internal/slices/slices.go
  internal/slices/slices_test.go
  internal/verify/verify.go
Labels: tests, service/cloudfront, service/waf, technical-debt, service/docdb, verify, service/resourceexplorer2, prioritized

#34248 r/aws_appflow_connector_profile: add salesforce jwt_token and oauth2_grant_type arguments
  .changelog/34248.txt
  internal/service/appflow/connector_profile.go
  website/docs/r/appflow_connector_profile.html.markdown
Labels: documentation, size/XS, service/appflow, prioritized

#34253 docs: Fix id and name attr descs for aws_iam_group and aws_iam_user
  website/docs/d/iam_group.html.markdown
  website/docs/d/iam_user.html.markdown
  website/docs/r/iam_group.html.markdown
  website/docs/r/iam_user.html.markdown
Labels: documentation, size/XS, service/iam

#34255 docs: Add catalog_target description for aws_glue_crawler
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, size/XS, service/glue

#34256 docs: Moved invocation_http_parameters arg under auth_parameters for
  website/docs/r/cloudwatch_event_connection.html.markdown
Labels: documentation, size/XS, service/events

#34258 docs: Improve config block descs for aws_ssmcontacts_plan
  website/docs/r/ssmcontacts_plan.html.markdown
Labels: documentation, size/S, service/ssmcontacts

#34271 docs: Improve aws_ssm_parameters_by_path data source doc
  website/docs/d/ssm_parameters_by_path.html.markdown
Labels: documentation, size/XS, service/ssm

#34272 docs: Mark service_role as optional for aws_batch_compute_environment
  website/docs/r/batch_compute_environment.html.markdown
Labels: documentation, size/XS, service/batch

#34252 Migrate `sns` resources to AWS SDK for Go v2
  .changelog/34252.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/sns/consts.go
  internal/service/sns/exports_test.go
  internal/service/sns/find.go
  internal/service/sns/generate.go
  internal/service/sns/platform_application.go
  internal/service/sns/platform_application_test.go
  internal/service/sns/service_package_gen.go
  internal/service/sns/sms_preferences.go
  internal/service/sns/sms_preferences_test.go
  internal/service/sns/sweep.go
  internal/service/sns/tags_gen.go
  internal/service/sns/topic.go
  internal/service/sns/topic_data_protection_policy.go
  internal/service/sns/topic_data_protection_policy_test.go
  internal/service/sns/topic_data_source.go
  internal/service/sns/topic_data_source_test.go
  internal/service/sns/topic_policy.go
  internal/service/sns/topic_policy_test.go
  internal/service/sns/topic_subscription.go
  internal/service/sns/topic_subscription_test.go
  internal/service/sns/topic_test.go
  internal/verify/json.go
  names/names.go
  names/names_data.csv
  website/docs/r/sns_topic.html.markdown
  website/docs/r/sns_topic_subscription.html.markdown
Labels: documentation, size/XL, tests, service/sns, technical-debt, sweeper, tags, client-connections, generators, verify, prioritized

#34279 Run `go mod tidy`
  go.mod
  go.sum
Labels: size/XS, prioritized

#34216 feat(rds): Add postgres to supported blue green engines
  .changelog/34216.txt
  internal/service/rds/instance.go
Labels: enhancement, size/XS, service/rds

#34261 feat: Add lambda_code attr to aws_inspector2_organization_configuration resource
  .changelog/34261.txt
  internal/service/inspector2/inspector2_test.go
  internal/service/inspector2/organization_configuration.go
  internal/service/inspector2/organization_configuration_test.go
  website/docs/r/inspector2_organization_configuration.html.markdown
Labels: enhancement, documentation, size/M, tests, service/inspector2

#34260 r/aws_autoscaling_group: Force new in case of initial_lifecycle_hook update
  .changelog/34260.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
Labels: bug, size/XS, tests, service/autoscaling

#30758 Use trail `arn` instead of `name` to get organization trails from a delegated account
  .changelog/30758.txt
  internal/service/cloudtrail/cloudtrail.go
  internal/service/cloudtrail/cloudtrail_test.go
  internal/service/cloudtrail/consts.go
  internal/service/cloudtrail/exports_test.go
  website/docs/r/cloudtrail.html.markdown
Labels: bug, documentation, size/S, service/cloudtrail, prioritized

#12145 r/aws_autoscaling_lifecycle_hook: Add plan time validation for `aws_autoscaling_lifecycle_hook`
  .changelog/12145.txt
  internal/service/autoscaling/consts.go
  internal/service/autoscaling/group.go
  internal/service/autoscaling/lifecycle_hook.go
Labels: enhancement, size/S, service/autoscaling

#34277 Tech debt: Remove unused and duplicate FlEx code
  internal/framework/flex/attrtypes.go
  internal/framework/flex/attrtypes_test.go
  internal/framework/flex/list.go
  internal/framework/types/list_nested_objectof.go
  internal/framework/types/nested_object.go
  internal/framework/types/objectof.go
  internal/framework/types/set_nested_objectof.go
  internal/service/appconfig/environment.go
  internal/service/cognitoidp/managed_user_pool_client.go
  internal/service/cognitoidp/user_pool_client.go
  internal/service/opensearchserverless/security_config.go
Labels: size/XL, tests, technical-debt, service/appconfig, flex, service/cognitoidp, service/opensearchserverless, prioritized

#34209 Remove force new on eks vpc change
  .changelog/32409.txt
  internal/service/eks/cluster.go
  internal/service/eks/cluster_test.go
Labels: enhancement, size/M, tests, service/eks

#34148 F aws bedrock foundation model datasource
  .changelog/34148.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/bedrock/foundation_model_data_source.go
  internal/service/bedrock/foundation_model_data_source_test.go
  internal/service/bedrock/foundation_models_data_source.go
  internal/service/bedrock/foundation_models_data_source_test.go
  internal/service/bedrock/service_package_gen.go
  names/names_data.csv
  website/docs/d/bedrock_foundation_model.html.markdown
  website/docs/d/bedrock_foundation_models.html.markdown
Labels: documentation, size/XL, tests, client-connections, generators, partner, prioritized, service/bedrock

#33417 [New resource]: aws_athena_prepared_statement
  .changelog/33417.txt
  internal/acctest/acctest.go
  internal/service/athena/exports_test.go
  internal/service/athena/named_query.go
  internal/service/athena/prepared_statement.go
  internal/service/athena/prepared_statement_test.go
  internal/service/athena/service_package_gen.go
  website/docs/r/athena_prepared_statement.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/athena, generators, prioritized

#24815 d/aws_athena_named_query
  .changelog/24815.txt
  internal/service/athena/named_query_data_source.go
  internal/service/athena/named_query_data_source_test.go
  internal/service/athena/named_query_test.go
  internal/service/athena/service_package_gen.go
  website/docs/d/athena_named_query.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/athena, provider

#34284 docs: Add note about regex_string quota for aws_wafv2_rule_group
  website/docs/r/wafv2_rule_group.html.markdown
Labels: documentation, size/XS, service/wafv2

#34300 Rolls back AWS SDK modules with shared config parsing bug
  .changelog/34300.txt
  go.mod
  go.sum
  internal/errs/sdkdiag/compare.go
  internal/errs/sdkdiag/diags.go
  internal/provider/provider_config_test.go
Labels: size/L, tests, provider, prioritized

#33604 Fix error in `lex_bot_alias` resource documentation
  website/docs/r/lex_bot_alias.html.markdown
Labels: documentation, size/XS, service/lexmodels, needs-triage

#33949 New Resource Lex Bot Locale
  .changelog/33949.txt
  internal/service/lexv2models/bot_locale.go
  internal/service/lexv2models/bot_locale_test.go
  internal/service/lexv2models/exports_test.go
  internal/service/lexv2models/service_package_gen.go
  website/docs/r/lexv2models_bot_locale.html.markdown
Labels: documentation, size/XL, tests, generators, prioritized, service/lexv2models

#34313 deps: ignore aws-sdk-go-v2/config
  .github/dependabot.yml
Labels: dependencies, repository, github_actions, prioritized

#34312 docs: fix resource id
  website/docs/r/budgets_budget.html.markdown
Labels: documentation, size/XS, service/budgets

#34265 r/sagemaker_domain/user_profile - add additional canvas app args
  .changelog/34265.txt
  internal/service/sagemaker/domain.go
  internal/service/sagemaker/domain_test.go
  internal/service/sagemaker/sagemaker_test.go
  internal/service/sagemaker/space.go
  internal/service/sagemaker/user_profile.go
  website/docs/r/sagemaker_domain.html.markdown
  website/docs/r/sagemaker_user_profile.html.markdown
Labels: bug, enhancement, documentation, size/XL, tests, service/sagemaker, external-maintainer

#34283 r/sagemaker_feature_group - add args
  .changelog/34283.txt
  internal/service/sagemaker/feature_group.go
  internal/service/sagemaker/feature_group_test.go
  internal/service/sagemaker/wait.go
  website/docs/r/sagemaker_feature_group.html.markdown
Labels: enhancement, documentation, tests, service/sagemaker, external-maintainer

#34114 feat: Udpate EKS to use aws-sdk-go-v2
  go.mod
  go.sum
  internal/acctest/acctest.go
  internal/conns/awsclient_gen.go
  internal/enum/values.go
  internal/enum/values_test.go
  internal/service/dms/event_subscription_test.go
  internal/service/eks/addon.go
  internal/service/eks/addon_data_source.go
  internal/service/eks/addon_data_source_test.go
  internal/service/eks/addon_test.go
  internal/service/eks/addon_version_data_source.go
  internal/service/eks/addon_version_data_source_test.go
  internal/service/eks/arn.go
  internal/service/eks/cluster.go
  internal/service/eks/cluster_auth_data_source.go
  internal/service/eks/cluster_auth_data_source_test.go
  internal/service/eks/cluster_data_source.go
  internal/service/eks/cluster_data_source_test.go
  internal/service/eks/cluster_test.go
  internal/service/eks/clusters_data_source.go
  internal/service/eks/clusters_data_source_test.go
  internal/service/eks/errors.go
  internal/service/eks/exports_test.go
  internal/service/eks/fargate_profile.go
  internal/service/eks/fargate_profile_test.go
  internal/service/eks/find.go
  internal/service/eks/generate.go
  internal/service/eks/identity_provider_config.go
  internal/service/eks/identity_provider_config_test.go
  internal/service/eks/node_group.go
  internal/service/eks/node_group_data_source.go
  internal/service/eks/node_group_data_source_test.go
  internal/service/eks/node_group_test.go
  internal/service/eks/node_groups_data_source.go
  internal/service/eks/node_groups_data_source_test.go
  internal/service/eks/service_package_gen.go
  internal/service/eks/status.go
  internal/service/eks/sweep.go
  internal/service/eks/tags_gen.go
  internal/service/eks/wait.go
  internal/service/sts/caller_identity_data_source.go
  internal/service/sts/caller_identity_data_source_test.go
  internal/service/sts/find.go
  internal/service/sts/service_package.go
  internal/slices/slices.go
  internal/slices/slices_test.go
  names/names.go
  names/names_data.csv
Labels: size/XL, technical-debt, service/eks, partner

#34302 provider: Adds SSO endpoint override
  .changelog/34302.txt
  go.mod
  go.sum
  internal/conns/config.go
  internal/errs/fwdiag/diags.go
  internal/errs/sdkdiag/diags.go
  internal/generate/checknames/main.go
  internal/generate/customends/main.go
  internal/generate/namesconsts/main.go
  internal/provider/provider_config_test.go
  names/README.md
  names/columns.go
  names/consts_gen.go
  names/names.go
  names/names_data.csv
  skaff/go.mod
  skaff/go.sum
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, client-connections, generators, prioritized

#34158 F add support for model_data_source attribute in aws sagemaker model
  .changelog/34158.txt
  internal/service/sagemaker/model.go
  internal/service/sagemaker/model_test.go
  website/docs/r/sagemaker_model.html.markdown
Labels: enhancement, documentation, size/L, tests, service/sagemaker

#34326 Fixes for #34158
  .changelog/34158.txt
  internal/service/sagemaker/model.go
Labels: size/XS, service/sagemaker, prioritized

#33975 DataSource AWS Apigatewayv2 Vpc Link
  .changelog/33974.txt
  internal/service/apigatewayv2/deployment.go
  internal/service/apigatewayv2/deployment_test.go
  internal/service/apigatewayv2/integration_test.go
  internal/service/apigatewayv2/route_test.go
  internal/service/apigatewayv2/service_package_gen.go
  internal/service/apigatewayv2/status.go
  internal/service/apigatewayv2/vpc_link.go
  internal/service/apigatewayv2/vpc_link_data_source.go
  internal/service/apigatewayv2/vpc_link_data_source_test.go
  internal/service/apigatewayv2/vpc_link_test.go
  internal/service/apigatewayv2/wait.go
  website/docs/d/apigatewayv2_vpc_link.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/apigatewayv2, generators

#34319 Fix `Value Conversion Error` panics for Plugin Framework resources when `null` tag values are specified
  .changelog/34319.txt
  internal/framework/flex/map_test.go
  internal/service/appconfig/application.go
  internal/service/appconfig/configuration_profile.go
  internal/service/appconfig/deployment_strategy.go
  internal/service/appconfig/environment_test.go
  internal/service/appconfig/extension_association.go
  internal/service/appconfig/hosted_configuration_version.go
  internal/service/appconfig/sweep.go
  internal/tags/key_value_tags.go
Labels: size/XL, tests, service/appconfig, sweeper, tags, prioritized

#34316 dms/endpoint: Pause replication tasks for updates
  .changelog/34316.txt
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  internal/service/dms/replication_task.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, size/XL, tests, service/dms, prioritized

#34327 deps: add feature/s3/manager to temporary ignore list
  .github/dependabot.yml
Labels: dependencies, size/XS, repository, github_actions, prioritized

#34338 Updated docs for aws_codecommit_trigger
  website/docs/r/codecommit_trigger.html.markdown
Labels: documentation, size/XS, service/codecommit

#34350 OSIS Service Client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/service/osis/README.md
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XS, repository, client-connections, generators, github_actions, partner

#34309 Automated backups can be retained when deleting Aurora clusters.
  .changelog/34309.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_migrate.go
  internal/service/rds/cluster_test.go
  internal/service/rds/sweep.go
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds, sweeper

#34084 Fixed diff suppress function on canary schedule expression
  .changelog/34084.txt
  internal/service/synthetics/canary.go
  internal/service/synthetics/canary_test.go
Labels: bug, service/synthetics, prioritized

#33061 [BugFix] Set all parameters to update aws_quicksight_data_source
  .changelog/33061.txt
  internal/service/quicksight/data_source.go
  internal/service/quicksight/data_source_test.go
Labels: bug, size/M, tests, service/quicksight, prioritized

#34329 fix: Add retry for eventual consistency bug in aws_iot_policy
  .changelog/34329.txt
  internal/service/iot/policy.go
  internal/service/iot/policy_attachment.go
  internal/service/iot/policy_attachment_test.go
  internal/service/iot/policy_test.go
  website/docs/r/iot_policy.html.markdown
Labels: bug, enhancement, documentation, size/XL, tests, service/iot, eventual-consistency

#34365 cdktf: update documentation
  website/docs/cdktf/python/d/apigatewayv2_vpc_link.html.markdown
  website/docs/cdktf/python/d/athena_named_query.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/athena_prepared_statement.html.markdown
  website/docs/cdktf/python/r/budgets_budget.html.markdown
  website/docs/cdktf/python/r/codecommit_trigger.html.markdown
  website/docs/cdktf/python/r/dms_endpoint.html.markdown
  website/docs/cdktf/python/r/lex_bot_alias.html.markdown
  website/docs/cdktf/python/r/lexv2models_bot_locale.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/python/r/sagemaker_domain.html.markdown
  website/docs/cdktf/python/r/sagemaker_feature_group.html.markdown
  website/docs/cdktf/python/r/sagemaker_model.html.markdown
  website/docs/cdktf/python/r/sagemaker_user_profile.html.markdown
  website/docs/cdktf/python/r/wafv2_rule_group.html.markdown
  website/docs/cdktf/typescript/d/apigatewayv2_vpc_link.html.markdown
  website/docs/cdktf/typescript/d/athena_named_query.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/athena_prepared_statement.html.markdown
  website/docs/cdktf/typescript/r/budgets_budget.html.markdown
  website/docs/cdktf/typescript/r/codecommit_trigger.html.markdown
  website/docs/cdktf/typescript/r/dms_endpoint.html.markdown
  website/docs/cdktf/typescript/r/lex_bot_alias.html.markdown
  website/docs/cdktf/typescript/r/lexv2models_bot_locale.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_domain.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_feature_group.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_model.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_user_profile.html.markdown
  website/docs/cdktf/typescript/r/wafv2_rule_group.html.markdown
Labels: documentation, size/XL, service/rds, service/athena, service/codecommit, service/sagemaker, service/budgets, service/lexmodels, service/apigatewayv2, service/wafv2, service/dms, service/lexv2models

#15098 Add resource aws_iot_ca_certificate and data aws_iot_registration_code
  .changelog/15098.txt
  internal/service/iot/ca_certificate.go
  internal/service/iot/ca_certificate_test.go
  internal/service/iot/certificate.go
  internal/service/iot/certificate_test.go
  internal/service/iot/domain_configuration.go
  internal/service/iot/domain_configuration_test.go
  internal/service/iot/policy_attachment_test.go
  internal/service/iot/registration_code_data_source.go
  internal/service/iot/registration_code_data_source_test.go
  internal/service/iot/service_package_gen.go
  internal/service/iot/sweep.go
  internal/service/iot/thing_principal_attachment_test.go
  website/docs/d/iot_registration_code.html.markdown
  website/docs/r/iot_ca_certificate.html.markdown
  website/docs/r/iot_certificate.html.markdown
Labels: enhancement, documentation, new-resource, new-data-source, size/XL, tests, service/iot, pre-service-packages

#34352 Migrate `logs` resources to AWS SDK for Go v2
  internal/acctest/vcr.go
  internal/conns/awsclient_gen.go
  internal/service/logs/data_protection_policy.go
  internal/service/logs/destination.go
  internal/service/logs/destination_policy.go
  internal/service/logs/destination_policy_test.go
  internal/service/logs/destination_test.go
  internal/service/logs/exports_test.go
  internal/service/logs/generate.go
  internal/service/logs/group.go
  internal/service/logs/group_data_source.go
  internal/service/logs/group_data_source_test.go
  internal/service/logs/group_test.go
  internal/service/logs/groups_data_source.go
  internal/service/logs/groups_data_source_test.go
  internal/service/logs/list_pages.go
  internal/service/logs/list_pages_gen.go
  internal/service/logs/log_group_tags_gen.go
  internal/service/logs/metric_filter.go
  internal/service/logs/metric_filter_test.go
  internal/service/logs/query_definition.go
  internal/service/logs/query_definition_test.go
  internal/service/logs/resource_policy.go
  internal/service/logs/resource_policy_test.go
  internal/service/logs/service_package_gen.go
  internal/service/logs/stream.go
  internal/service/logs/stream_test.go
  internal/service/logs/subscription_filter.go
  internal/service/logs/subscription_filter_test.go
  internal/service/logs/sweep.go
  internal/service/logs/tags_gen.go
  names/names_data.csv
Labels: size/XL, tests, technical-debt, sweeper, tags, client-connections, generators, service/logs, prioritized

#34363 Added Connect Cases Client and enabled Customer Profiles Client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/service/connectcases/README.md
  internal/service/customerprofiles/README.md
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, repository, client-connections, generators, github_actions, service/customerprofiles

#34334 chime service: fix race condition when not using `us-east-1`
  .changelog/34334.txt
  internal/service/chime/chime_test.go
  internal/service/chime/exports_test.go
  internal/service/chime/find.go
  internal/service/chime/generate.go
  internal/service/chime/tags_gen.go
  internal/service/chime/voice_connector.go
  internal/service/chime/voice_connector_group.go
  internal/service/chime/voice_connector_group_test.go
  internal/service/chime/voice_connector_logging.go
  internal/service/chime/voice_connector_logging_test.go
  internal/service/chime/voice_connector_origination.go
  internal/service/chime/voice_connector_origination_test.go
  internal/service/chime/voice_connector_streaming_test.go
  internal/service/chime/voice_connector_termination.go
  internal/service/chime/voice_connector_termination_credentials.go
  internal/service/chime/voice_connector_termination_credentials_test.go
  internal/service/chime/voice_connector_termination_test.go
  internal/service/chime/voice_connector_test.go
  internal/service/chimesdkmediapipelines/media_insights_pipeline_configuration.go
Labels: bug, size/XL, tests, service/chime, tags, generators, service/chimesdkmediapipelines, prioritized

#34380 internal/framework/flex: generic set/list of string value flatteners
  internal/framework/flex/autoflex.go
  internal/framework/flex/list.go
  internal/framework/flex/list_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/service/bedrock/foundation_model_data_source.go
  internal/service/bedrock/foundation_models_data_source.go
Labels: size/M, tests, prioritized, service/bedrock

#31237 New resource: aws_iot_billing_group
  .changelog/31237.txt
  internal/service/iot/billing_group.go
  internal/service/iot/billing_group_test.go
  internal/service/iot/event_configurations.go
  internal/service/iot/event_configurations_test.go
  internal/service/iot/service_package_gen.go
  internal/verify/validate.go
  internal/verify/validate_test.go
  website/docs/r/iot_billing_group.html.markdown
  website/docs/r/iot_event_configurations.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/iot, generators, verify

#34375 r/aws_gamelift_build: Document all valid values for `operating_system`
  website/docs/r/gamelift_build.html.markdown
Labels: documentation, size/XS, service/gamelift, prioritized

#33931 r/aws_quicksight_dashboard: various bug fixes
  .changelog/33931.txt
  internal/service/quicksight/data_set.go
  internal/service/quicksight/schema/analysis.go
  internal/service/quicksight/schema/dashboard.go
  internal/service/quicksight/schema/template.go
  internal/service/quicksight/schema/template_control.go
  internal/service/quicksight/schema/template_filter.go
  internal/service/quicksight/schema/template_format.go
  internal/service/quicksight/schema/template_parameter.go
  internal/service/quicksight/schema/template_sheet.go
  internal/service/quicksight/schema/visual.go
  internal/service/quicksight/schema/visual_chart_configuration.go
  internal/service/quicksight/schema/visual_conditional_formatting.go
  internal/service/quicksight/schema/visual_fields.go
  internal/service/quicksight/schema/visual_kpi.go
  internal/service/quicksight/schema/visual_sort.go
  internal/service/quicksight/schema/visual_table.go
Labels: bug, enhancement, size/XL, service/quicksight, prioritized

#34378 service/iam: retry attaching policy on ConcurrentModificationException
  .changelog/34378.txt
  internal/service/iam/exports_test.go
  internal/service/iam/find.go
  internal/service/iam/group_policy_attachment.go
  internal/service/iam/group_policy_attachment_test.go
  internal/service/iam/policy.go
  internal/service/iam/policy_attachment.go
  internal/service/iam/policy_attachment_test.go
  internal/service/iam/policy_data_source.go
  internal/service/iam/role.go
  internal/service/iam/role_policy_attachment.go
  internal/service/iam/role_policy_attachment_test.go
  internal/service/iam/service_package_gen.go
  internal/service/iam/sweep.go
  internal/service/iam/user_policy_attachment.go
  internal/service/iam/user_policy_attachment_test.go
Labels: bug, size/S, service/iam

#34381 Fix various sweeper errors
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_endpoint.go
  internal/service/neptune/cluster_endpoint_test.go
  internal/service/neptune/cluster_instance.go
  internal/service/neptune/consts.go
  internal/service/neptune/event_subscription.go
  internal/service/neptune/find.go
  internal/service/neptune/global_cluster.go
  internal/service/neptune/id.go
  internal/service/neptune/status.go
  internal/service/neptune/sweep.go
  internal/service/neptune/wait.go
  internal/service/resourceexplorer2/sweep.go
  internal/service/route53resolver/sweep.go
  internal/service/ssoadmin/sweep.go
  internal/sweep/awsv1/skip.go
  internal/sweep/awsv2/skip.go
Labels: size/XL, tests, service/neptune, service/route53resolver, service/ssoadmin, sweeper, service/resourceexplorer2, prioritized

#33500 Add missing notification channel
  website/docs/r/ssmcontacts_plan.html.markdown
Labels: documentation, size/XS, service/ssmcontacts

#34401 Add support for AWS Lambda Node.js 20 runtime
  .changelog/34401.txt
Labels: size/XS

#34383 improvement of aws_vpc_security_group_ingress_rule example
  website/docs/r/vpc_security_group_ingress_rule.html.markdown
Labels: documentation, size/XS, service/vpc

#34404 Fix a typo on import controltower_control
  website/docs/r/controltower_control.html.markdown
Labels: documentation, size/XS, service/controltower

#34396 r/aws_elasticache_user: Add acceptance test for tagging during out-of-band modification
  .changelog/34396.txt
  internal/service/elasticache/sweep.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_test.go
  website/docs/r/elasticache_user.html.markdown
Labels: documentation, size/L, tests, service/elasticache, sweeper, prioritized

#34418 r/aws_sagemaker_user_profile: Fix crash
  .changelog/34418.txt
  internal/service/sagemaker/domain.go
  internal/service/sagemaker/user_profile.go
Labels: bug, crash, size/S, service/sagemaker, prioritized

#34208 [Design Decision]: SecretsManager Secret Target Attachment
  docs/design-decision-log.md
  docs/design-decisions/secretsmanager-secret-target-attachment.md
Labels: documentation, proposal, size/L, prioritized

#34423 `github.com/hashicorp/terraform-plugin-go@v0.19.1`
  go.mod
  go.sum
Labels: dependencies, size/XS, prioritized

#34424 inspector2: Fix a couple of crashes
  .changelog/34424.txt
  internal/service/inspector2/delegated_admin_account.go
  internal/service/inspector2/enabler.go
Labels: size/XS, service/inspector2, prioritized

#34400 Regressions notifier: wrap title with toJSON to prevent quoting issues
  .github/workflows/regressions.yml
Labels: size/XS, repository, github_actions, prioritized

#34426 r/chimesdkvoice service: fix eventual consistency errors
  .changelog/34426.txt
  internal/service/chimesdkvoice/exports_test.go
  internal/service/chimesdkvoice/find..go
  internal/service/chimesdkvoice/sip_media_application.go
  internal/service/chimesdkvoice/sip_media_application_test.go
  internal/service/chimesdkvoice/sip_rule.go
  internal/service/chimesdkvoice/sip_rule_test.go
Labels: bug, size/L, tests, service/chimesdkvoice, prioritized

#34420 r/aws_vpn_connection: Fix `UnsupportedOperation: The tunnel inside ip version parameter is not currently supported in this region` error when creating connections in certain partitions and Regions
  .changelog/34420.txt
  internal/service/ec2/vpnsite_connection.go
  internal/service/ec2/vpnsite_connection_test.go
Labels: bug, size/M, tests, service/vpnsite, prioritized

#34437 `github.com/aws/aws-sdk-go@v1.47.12`
  go.mod
  go.sum
Labels: dependencies, prioritized

#34398 finspace: Increase kx_cluster create/update and kx_environment delete timeouts
  .changelog/34398.txt
  internal/service/finspace/kx_cluster.go
  internal/service/finspace/kx_environment.go
  website/docs/r/finspace_kx_cluster.html.markdown
  website/docs/r/finspace_kx_environment.html.markdown
Labels: documentation, size/XS, service/finspace, partner

#34105 Mark Grafana API key as sensitive.
  .changelog/34105.txt
  .teamcity/scripts/provider_tests/acceptance_tests.sh
  .teamcity/scripts/provider_tests/unit_tests.sh
  internal/acctest/acctest.go
  internal/service/fms/managed_service_data.go
  internal/service/grafana/grafana_test.go
  internal/service/grafana/workspace.go
  internal/service/grafana/workspace_api_key.go
  internal/service/grafana/workspace_test.go
  internal/ujson/LICENSE
  internal/ujson/quote.go
  internal/ujson/quote_test.go
  internal/ujson/µjson.go
  internal/ujson/µjson_test.go
Labels: bug, size/L, tests, service/fms, service/grafana

#34430 r/aws_autoscaling_group Instance maintenance policy enhancement
  .changelog/34430.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_data_source.go
  internal/service/autoscaling/group_data_source_test.go
  internal/service/autoscaling/group_test.go
  website/docs/d/autoscaling_group.html.markdown
  website/docs/r/autoscaling_group.html.markdown
Labels: documentation, size/XL, tests, service/autoscaling, partner, prioritized

#34340 ci: Adds VPC lock to Performance test
  .teamcity/settings.kts
Labels: size/XS, prioritized

#34358 provider: Adds support for `https_proxy` and `no_proxy`
  .changelog/34243.txt
  go.mod
  go.sum
  internal/conns/config.go
  internal/conns/config_test.go
  internal/provider/fwprovider/provider.go
  internal/provider/provider.go
  internal/service/kms/secret_data_source.go
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/docs/index.html.markdown
Labels: documentation, size/XL, tests, service/kms, provider, client-connections, prioritized

#34443 td/chime service -> sdkv2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/chime/generate.go
  internal/service/chime/tags_gen.go
  internal/service/chime/voice_connector.go
  internal/service/chime/voice_connector_group.go
  internal/service/chime/voice_connector_group_test.go
  internal/service/chime/voice_connector_logging.go
  internal/service/chime/voice_connector_logging_test.go
  internal/service/chime/voice_connector_origination.go
  internal/service/chime/voice_connector_origination_test.go
  internal/service/chime/voice_connector_streaming.go
  internal/service/chime/voice_connector_streaming_test.go
  internal/service/chime/voice_connector_termination.go
  internal/service/chime/voice_connector_termination_credentials.go
  internal/service/chime/voice_connector_termination_credentials_test.go
  internal/service/chime/voice_connector_termination_test.go
  internal/service/chime/voice_connector_test.go
  internal/service/chimesdkvoice/generate.go
  internal/service/chimesdkvoice/global_settings.go
  internal/service/chimesdkvoice/global_settings_test.go
  internal/service/chimesdkvoice/service_package_gen.go
  internal/service/chimesdkvoice/sip_media_application.go
  internal/service/chimesdkvoice/sip_media_application_test.go
  internal/service/chimesdkvoice/sip_rule.go
  internal/service/chimesdkvoice/sip_rule_test.go
  internal/service/chimesdkvoice/tags_gen.go
  internal/service/chimesdkvoice/voice_profile_domain.go
  internal/service/chimesdkvoice/voice_profile_domain_test.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, technical-debt, service/chime, tags, client-connections, generators, service/chimesdkvoice, prioritized

#33858 New resource bot version and add flattener for bot
  .changelog/33858.txt
  internal/service/lexv2models/bot.go
  internal/service/lexv2models/bot_version.go
  internal/service/lexv2models/bot_version_test.go
  internal/service/lexv2models/exports_test.go
  internal/service/lexv2models/service_package_gen.go
  internal/service/lexv2models/sweep.go
  internal/sweep/register_gen_test.go
  website/docs/r/lexv2models_bot_version.html.markdown
Labels: documentation, size/XL, tests, generators, prioritized, service/lexv2models

#34442 Fix domain_name argument formatting
  website/docs/r/sagemaker_domain.html.markdown
Labels: documentation, size/XS, service/sagemaker

#34458 Aurora: Remove references to `multimaster`
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds, prioritized

#34456 Migrate `appflow` resources to AWS SDK for Go v2
  .changelog/34456.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/appflow/connector_profile.go
  internal/service/appflow/connector_profile_test.go
  internal/service/appflow/exports_test.go
  internal/service/appflow/find.go
  internal/service/appflow/flow.go
  internal/service/appflow/flow_test.go
  internal/service/appflow/generate.go
  internal/service/appflow/service_package_gen.go
  internal/service/appflow/status.go
  internal/service/appflow/tags_gen.go
  internal/service/appflow/test-fixtures/flow_source.csv
  internal/service/appflow/wait.go
  names/names.go
  names/names_data.csv
Labels: bug, crash, size/XL, tests, technical-debt, service/appflow, tags, client-connections, generators, prioritized

#34459 Migrate `chimesdkmediapipelines` to AWS Go SDKv2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/chimesdkmediapipelines/generate.go
  internal/service/chimesdkmediapipelines/media_insights_pipeline_configuration.go
  internal/service/chimesdkmediapipelines/media_insights_pipeline_configuration_test.go
  internal/service/chimesdkmediapipelines/service_package_gen.go
  internal/service/chimesdkmediapipelines/tags_gen.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, tags, client-connections, generators, service/chimesdkmediapipelines, prioritized

#34461 Add description of voice settings
  website/docs/r/lexv2models_bot_locale.html.markdown
Labels: documentation, size/XS, prioritized, service/lexv2models

#34425 Remove `dependabot` and `go.mod` `aws-sdk-go-v2` exclusions
  .github/dependabot.yml
  go.mod
  go.sum
Labels: dependencies, size/S, repository, github_actions, prioritized

#34282 TechDebt: Migrate `deploy` service to `aws-sdk-go-v2`
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/deploy/app.go
  internal/service/deploy/app_test.go
  internal/service/deploy/deployment_config.go
  internal/service/deploy/deployment_config_test.go
  internal/service/deploy/deployment_group.go
  internal/service/deploy/deployment_group_test.go
  internal/service/deploy/exports_test.go
  internal/service/deploy/generate.go
  internal/service/deploy/service_package_gen.go
  internal/service/deploy/sweep.go
  internal/service/deploy/tags_gen.go
  internal/service/deploy/validate.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, technical-debt, sweeper, tags, client-connections, generators, service/deploy, external-maintainer

#34478 doc: fix typo in flatten complex structure example
  docs/data-handling-and-conversion.md
Labels: documentation, size/XS, prioritized

#34479 doc: fix another typo in flatten complex structure example
  docs/data-handling-and-conversion.md
Labels: documentation, size/XS, prioritized

#34467 cdktf: update documentation
  website/docs/cdktf/python/d/autoscaling_group.html.markdown
  website/docs/cdktf/python/d/iot_registration_code.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/autoscaling_group.html.markdown
  website/docs/cdktf/python/r/bedrock_model_invocation_logging_configuration.html.markdown
  website/docs/cdktf/python/r/controltower_control.html.markdown
  website/docs/cdktf/python/r/elasticache_user.html.markdown
  website/docs/cdktf/python/r/finspace_kx_cluster.html.markdown
  website/docs/cdktf/python/r/finspace_kx_environment.html.markdown
  website/docs/cdktf/python/r/gamelift_build.html.markdown
  website/docs/cdktf/python/r/iot_billing_group.html.markdown
  website/docs/cdktf/python/r/iot_ca_certificate.html.markdown
  website/docs/cdktf/python/r/iot_certificate.html.markdown
  website/docs/cdktf/python/r/iot_event_configurations.html.markdown
  website/docs/cdktf/python/r/iot_policy.html.markdown
  website/docs/cdktf/python/r/lexv2models_bot_locale.html.markdown
  website/docs/cdktf/python/r/lexv2models_bot_version.html.markdown
  website/docs/cdktf/python/r/lightsail_bucket_access_key.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/python/r/sagemaker_domain.html.markdown
  website/docs/cdktf/python/r/ssmcontacts_plan.html.markdown
  website/docs/cdktf/python/r/vpc_security_group_ingress_rule.html.markdown
  website/docs/cdktf/typescript/d/autoscaling_group.html.markdown
  website/docs/cdktf/typescript/d/iot_registration_code.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/autoscaling_group.html.markdown
  website/docs/cdktf/typescript/r/bedrock_model_invocation_logging_configuration.html.markdown
  website/docs/cdktf/typescript/r/controltower_control.html.markdown
  website/docs/cdktf/typescript/r/elasticache_user.html.markdown
  website/docs/cdktf/typescript/r/finspace_kx_cluster.html.markdown
  website/docs/cdktf/typescript/r/finspace_kx_environment.html.markdown
  website/docs/cdktf/typescript/r/gamelift_build.html.markdown
  website/docs/cdktf/typescript/r/iot_billing_group.html.markdown
  website/docs/cdktf/typescript/r/iot_ca_certificate.html.markdown
  website/docs/cdktf/typescript/r/iot_certificate.html.markdown
  website/docs/cdktf/typescript/r/iot_event_configurations.html.markdown
  website/docs/cdktf/typescript/r/iot_policy.html.markdown
  website/docs/cdktf/typescript/r/lexv2models_bot_locale.html.markdown
  website/docs/cdktf/typescript/r/lexv2models_bot_version.html.markdown
  website/docs/cdktf/typescript/r/lightsail_bucket_access_key.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_domain.html.markdown
  website/docs/cdktf/typescript/r/ssmcontacts_plan.html.markdown
  website/docs/cdktf/typescript/r/vpc_security_group_ingress_rule.html.markdown
Labels: documentation, size/XL, service/rds, service/gamelift, service/lightsail, service/autoscaling, service/sagemaker, service/elasticache, service/iot, service/ssmcontacts, service/vpc, service/finspace, service/controltower, service/lexv2models, service/bedrock

#34464 Docs: Correct typo JBDC to JDBC
  website/docs/r/glue_connection.html.markdown
  website/docs/r/glue_crawler.html.markdown
Labels: documentation, size/XS, service/glue

#34481 [New Data Source]: `aws_emr_supported_instance_types`
  .changelog/34481.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/framework/flex/float.go
  internal/framework/flex/float_test.go
  internal/service/emr/service_package_gen.go
  internal/service/emr/supported_instance_types_data_source.go
  internal/service/emr/supported_instance_types_data_source_test.go
  names/names.go
  names/names_data.csv
  website/docs/d/emr_supported_instance_types.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/emr, client-connections, generators, prioritized

#34498 `aws-sdk-go-base/v2@v2.0.0-beta.42`
  go.mod
  go.sum
Labels: dependencies, size/S, prioritized

#34339 documentation: Removes unimplemented parameter
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, size/XS, service/dynamodb, prioritized

#34484 sweepers: Fix `RequestLimitExceeded` error when sweeping large number of Subnets
  internal/service/ec2/vpc_network_interface.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/vpc_subnet.go
  internal/service/lambda/function_test.go
  internal/sweep/context.go
  internal/sweep/framework/resource.go
  internal/sweep/logging.go
  internal/sweep/sdk/resource.go
  internal/sweep/sweep.go
Labels: size/XL, tests, service/lambda, sweeper, service/vpc

#34488 resource/aws_lb_target_group: Adds plan- and apply-time validation and corrects documentation
  .changelog/34488.txt
  internal/service/elbv2/export_test.go
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_test.go
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, tests, service/elbv2, prioritized

#34507 Lexv2 fixes
  website/docs/r/lexv2models_bot.html.markdown
Labels: documentation, size/XS, service/lexv2models

#34487 r/aws_pipes_pipe: fix zero value vs `null` value on update
  .changelog/34487.txt
  internal/service/pipes/pipe_test.go
  internal/service/pipes/source_parameters.go
Labels: bug, tests, service/pipes, prioritized

#34292 TechDebt: Migrate `apprunner` service to `aws-sdk-go-v2`
  .changelog/34292.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/apprunner/auto_scaling_configuration_version.go
  internal/service/apprunner/auto_scaling_configuration_version_test.go
  internal/service/apprunner/connection.go
  internal/service/apprunner/connection_test.go
  internal/service/apprunner/custom_domain_association.go
  internal/service/apprunner/custom_domain_association_test.go
  internal/service/apprunner/default_auto_scaling_configuration_version.go
  internal/service/apprunner/default_auto_scaling_configuration_version_test.go
  internal/service/apprunner/exports_test.go
  internal/service/apprunner/find.go
  internal/service/apprunner/generate.go
  internal/service/apprunner/id.go
  internal/service/apprunner/id_test.go
  internal/service/apprunner/observability_configuration.go
  internal/service/apprunner/observability_configuration_test.go
  internal/service/apprunner/service.go
  internal/service/apprunner/service_package_gen.go
  internal/service/apprunner/service_test.go
  internal/service/apprunner/status.go
  internal/service/apprunner/sweep.go
  internal/service/apprunner/tags_gen.go
  internal/service/apprunner/vpc_connector.go
  internal/service/apprunner/vpc_connector_test.go
  internal/service/apprunner/vpc_ingress_connection.go
  internal/service/apprunner/vpc_ingress_connection_test.go
  internal/service/apprunner/wait.go
  internal/slices/slices.go
  names/names.go
  names/names_data.csv
  website/docs/r/apprunner_default_auto_scaling_configuration_version.html.markdown
  website/docs/r/apprunner_service.html.markdown
Labels: documentation, new-resource, size/XL, tests, technical-debt, service/apprunner, sweeper, tags, client-connections, generators, external-maintainer

#34504 Migrate `aws_s3_bucket_lifecycle_configuration` and `aws_s3_bucket_replication_configuration` to AWS SDK for Go v2
  .changelog/34504.txt
  .ci/.golangci2.yml
  internal/service/s3/bucket.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_logging.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_replication_configuration.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/enum.go
  internal/service/s3/errors.go
  internal/service/s3/exports_test.go
  internal/service/s3/flex.go
  internal/service/s3/flex_test.go
  internal/service/s3/status.go
  internal/service/s3/wait.go
  website/docs/r/s3_bucket_logging.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/s3, technical-debt, prioritized

#34510 resource/aws_cloudwatch_event_rule: Adds `state` parameter
  .changelog/34510.txt
  internal/service/events/rule.go
  internal/service/events/rule_migrate.go
  internal/service/events/rule_test.go
  website/docs/r/cloudwatch_event_rule.html.markdown
Labels: enhancement, size/XL, prioritized

#34524 r/aws_lexv2models_bot: support explicit type argument on create and update
  .changelog/34524.txt
  internal/service/lexv2models/bot.go
  internal/service/lexv2models/bot_test.go
Labels: bug, size/M, tests, prioritized, service/lexv2models

#34525 `aws_s3_account_public_access_block`: Migrate to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/s3control/account_public_access_block.go
  internal/service/s3control/account_public_access_block_data_source.go
  internal/service/s3control/account_public_access_block_test.go
  internal/service/s3control/errors.go
  internal/service/s3control/multi_region_access_point.go
  internal/service/s3control/service_package_gen.go
  names/names_data.csv
Labels: size/L, tests, technical-debt, service/s3control, client-connections, generators, prioritized

#34533 Add CHANGELOG for python3.12
  .changelog/34533.txt
Labels: size/XS, service/lambda

#34534 r/aws_s3_bucket_public_access_block: Migrate to AWS SDK for Go v2
  internal/service/s3/bucket_public_access_block.go
  internal/service/s3/bucket_public_access_block_test.go
  internal/service/s3/errors.go
  internal/service/s3/exports_test.go
Labels: size/XL, tests, service/s3, technical-debt, prioritized

#34530 r/aws_glue_trigger: handle concurrent modification exceptions
  .changelog/34530.txt
  internal/service/glue/trigger.go
Labels: size/XS, service/glue, prioritized

#34532 r/aws_lexv2models_bot_locale: fix `voice_settings.engine` validation
  .changelog/34532.txt
  internal/service/lexv2models/bot_locale.go
  internal/service/lexv2models/bot_locale_test.go
  website/docs/r/lexv2models_bot_locale.html.markdown
Labels: documentation, tests, prioritized, service/lexv2models

#34560 cdktf: update documentation
  website/docs/cdktf/python/d/emr_supported_instance_types.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/apprunner_default_auto_scaling_configuration_version.html.markdown
  website/docs/cdktf/python/r/apprunner_service.html.markdown
  website/docs/cdktf/python/r/cloudwatch_event_rule.html.markdown
  website/docs/cdktf/python/r/dms_replication_config.html.markdown
  website/docs/cdktf/python/r/dynamodb_table.html.markdown
  website/docs/cdktf/python/r/elasticache_replication_group.html.markdown
  website/docs/cdktf/python/r/glue_connection.html.markdown
  website/docs/cdktf/python/r/glue_crawler.html.markdown
  website/docs/cdktf/python/r/lb_target_group.html.markdown
  website/docs/cdktf/python/r/lexv2models_bot.html.markdown
  website/docs/cdktf/python/r/lexv2models_bot_locale.html.markdown
  website/docs/cdktf/python/r/s3_bucket_logging.html.markdown
  website/docs/cdktf/typescript/d/emr_supported_instance_types.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/apprunner_default_auto_scaling_configuration_version.html.markdown
  website/docs/cdktf/typescript/r/apprunner_service.html.markdown
  website/docs/cdktf/typescript/r/cloudwatch_event_rule.html.markdown
  website/docs/cdktf/typescript/r/dms_replication_config.html.markdown
  website/docs/cdktf/typescript/r/dynamodb_table.html.markdown
  website/docs/cdktf/typescript/r/elasticache_replication_group.html.markdown
  website/docs/cdktf/typescript/r/glue_connection.html.markdown
  website/docs/cdktf/typescript/r/glue_crawler.html.markdown
  website/docs/cdktf/typescript/r/lb_target_group.html.markdown
  website/docs/cdktf/typescript/r/lexv2models_bot.html.markdown
  website/docs/cdktf/typescript/r/lexv2models_bot_locale.html.markdown
  website/docs/cdktf/typescript/r/s3_bucket_logging.html.markdown
Labels: documentation, size/XL, service/s3, service/emr, service/elbv2, service/dynamodb, service/elasticache, service/glue, service/apprunner, service/events, service/dms, service/lexv2models

#34535 Migrate Evidently service to Go SDKv2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/flex/flex.go
  internal/service/evidently/feature.go
  internal/service/evidently/feature_test.go
  internal/service/evidently/find.go
  internal/service/evidently/generate.go
  internal/service/evidently/launch.go
  internal/service/evidently/launch_test.go
  internal/service/evidently/project.go
  internal/service/evidently/project_test.go
  internal/service/evidently/segment.go
  internal/service/evidently/segment_test.go
  internal/service/evidently/service_package_gen.go
  internal/service/evidently/status.go
  internal/service/evidently/sweep.go
  internal/service/evidently/tags_gen.go
  internal/service/evidently/wait.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, sweeper, tags, client-connections, flex, generators, service/evidently, prioritized

#34564 Amazon S3 Access Grants
  .changelog/34564.txt
  internal/framework/validators/json.go
  internal/framework/validators/json_test.go
  internal/service/s3/sweep.go
  internal/service/s3control/access_grant.go
  internal/service/s3control/access_grant_test.go
  internal/service/s3control/access_grants_instance.go
  internal/service/s3control/access_grants_instance_resource_policy.go
  internal/service/s3control/access_grants_instance_resource_policy_test.go
  internal/service/s3control/access_grants_instance_test.go
  internal/service/s3control/access_grants_location.go
  internal/service/s3control/access_grants_location_test.go
  internal/service/s3control/access_grants_test.go
  internal/service/s3control/account_public_access_block.go
  internal/service/s3control/bucket.go
  internal/service/s3control/bucket_lifecycle_configuration.go
  internal/service/s3control/consts.go
  internal/service/s3control/errors.go
  internal/service/s3control/exports_test.go
  internal/service/s3control/generate.go
  internal/service/s3control/multi_region_access_point.go
  internal/service/s3control/service_package_gen.go
  internal/service/s3control/storage_lens_configuration.go
  internal/service/s3control/sweep.go
  internal/service/s3control/tags_gen.go
  internal/service/s3control/tagss3_gen.go
  website/docs/r/s3control_access_grant.html.markdown
  website/docs/r/s3control_access_grants_instance.html.markdown
  website/docs/r/s3control_access_grants_instance_resource_policy.html.markdown
  website/docs/r/s3control_access_grants_location.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3, service/s3control, sweeper, tags, generators, prioritized

#34573 Updates to diags functions in `create`
  .ci/semgrep/pluginsdk/diags.yml
  docs/error-handling.md
  docs/retries-and-waiters.md
  internal/create/errors.go
  internal/service/appautoscaling/policy.go
  internal/service/appconfig/configuration_profile_data_source.go
  internal/service/appconfig/configuration_profiles_data_source.go
  internal/service/appconfig/environment_data_source.go
  internal/service/appconfig/environments_data_source.go
  internal/service/appconfig/extension.go
  internal/service/appconfig/extension_association.go
  internal/service/appstream/fleet.go
  internal/service/lakeformation/resource_lf_tags.go
  internal/service/ssm/default_patch_baseline.go
  skaff/datasource/datasource.tmpl
  skaff/resource/resource.tmpl
Labels: documentation, size/L, service/ssm, service/appstream, service/lakeformation, service/appconfig, linter, create, skaff, service/appautoscaling, prioritized

#34583 deps: tfsdk2fw
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#34565 Add AppFabric Client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/appfabric/README.md
  internal/service/appfabric/generate.go
  internal/service/appfabric/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, sweeper, repository, client-connections, generators, github_actions

#34559 Migrate `controltower` service to `aws-sdk-go-v2`
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/controltower/control.go
  internal/service/controltower/control_test.go
  internal/service/controltower/controls_data_source.go
  internal/service/controltower/controls_data_source_test.go
  internal/service/controltower/exports_test.go
  internal/service/controltower/service_package_gen.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, provider, client-connections, generators, service/controltower, external-maintainer

#34593 go mod tidy
  go.mod
Labels: size/XS

#34582 r/aws_s3control_access_grants_instance: AWS IAM Identity Center integration
  .changelog/34582.txt
  internal/service/identitystore/group_data_source_test.go
  internal/service/identitystore/group_membership_test.go
  internal/service/identitystore/group_test.go
  internal/service/identitystore/user_data_source_test.go
  internal/service/identitystore/user_test.go
  internal/service/s3control/access_grants_instance.go
  internal/service/s3control/access_grants_instance_test.go
  internal/service/s3control/access_grants_test.go
  internal/service/ssoadmin/account_assignment_test.go
  internal/service/ssoadmin/customer_managed_policy_attachment_test.go
  internal/service/ssoadmin/instance_access_control_attributes_test.go
  internal/service/ssoadmin/instances_data_source_test.go
  internal/service/ssoadmin/managed_policy_attachment_test.go
  internal/service/ssoadmin/permission_set_data_source_test.go
  internal/service/ssoadmin/permission_set_inline_policy_test.go
  internal/service/ssoadmin/permission_set_test.go
  internal/service/ssoadmin/permissions_boundary_attachment_test.go
  website/docs/r/s3control_access_grants_instance.html.markdown
Labels: documentation, size/XL, tests, service/s3control, service/identitystore, service/ssoadmin, prioritized

#34600 r/aws_elasticache_replication_group: v2 state upgrader
  .changelog/34600.txt
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_migrate.go
  internal/service/elasticache/replication_group_test.go
Labels: size/XL, tests, service/elasticache, prioritized

#34608 11/28/2023 AWS SDK for Go updates
  go.mod
  go.sum
Labels: size/XL, prioritized

#34580 RDS fixes
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/consts.go
  internal/service/rds/instance_test.go
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, size/M, tests, service/rds

#34633 r/aws_elasticache_replication_group(doc): clarify auth_token_update_strategy argument dependencies
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, size/XS, service/elasticache, prioritized

#34636 Tech debt: Move `internal/service/account/retry` to `internal/retry`
  .teamcity/scripts/provider_tests/acceptance_tests.sh
  .teamcity/scripts/provider_tests/unit_tests.sh
  internal/flex/flex.go
  internal/flex/flex_test.go
  internal/retry/README.md
  internal/retry/retry.go
  internal/retry/retry_test.go
  internal/retry/wrappers.go
  internal/service/account/alternate_contact.go
  internal/service/apigatewayv2/integration.go
  internal/service/apigatewayv2/stage.go
  internal/service/glue/dev_endpoint.go
  internal/verify/diff.go
  internal/verify/diff_test.go
Labels: documentation, size/L, tests, service/glue, service/apigatewayv2, flex, verify, service/account, prioritized

#34355 Add CodeGuru Profiler service client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/codeguruprofiler/README.md
  internal/service/codeguruprofiler/generate.go
  internal/service/codeguruprofiler/service_package_gen.go
  internal/service/codeguruprofiler/tags_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XS, client-connections, generators, new-service

#34551 Architecture decision for RDS Blue/Green Deployments
  docs/design-decisions/rds-bluegreen-deployments.md
Labels: documentation, size/M, service/rds

#34497 feat: add new AWS service client MediaPackageV2
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/service/mediapackagev2/README.md
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/L, repository, client-connections, generators, github_actions

#34637 DocDB & Neptune sweepers
  .changelog/34500.txt
  .changelog/34637.txt
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_parameter_group.go
  internal/service/docdb/cluster_snapshot.go
  internal/service/docdb/cluster_snapshot_test.go
  internal/service/docdb/cluster_test.go
  internal/service/docdb/consts.go
  internal/service/docdb/engine_version_data_source.go
  internal/service/docdb/engine_version_data_source_test.go
  internal/service/docdb/event_subscription.go
  internal/service/docdb/event_subscription_test.go
  internal/service/docdb/find.go
  internal/service/docdb/global_cluster.go
  internal/service/docdb/global_cluster_test.go
  internal/service/docdb/orderable_db_instance_data_source.go
  internal/service/docdb/orderable_db_instance_data_source_test.go
  internal/service/docdb/status.go
  internal/service/docdb/sweep.go
  internal/service/docdb/wait.go
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_instance.go
  internal/service/neptune/cluster_parameter_group.go
  internal/service/neptune/cluster_snapshot.go
  internal/service/neptune/consts.go
  internal/service/neptune/engine_version_data_source.go
  internal/service/neptune/engine_version_data_source_test.go
  internal/service/neptune/flex.go
  internal/service/neptune/global_cluster.go
  internal/service/neptune/global_cluster_test.go
  internal/service/neptune/orderable_db_instance_data_source.go
  internal/service/neptune/orderable_db_instance_data_source_test.go
  internal/service/neptune/parameter_group.go
  internal/service/neptune/parameter_group_test.go
  internal/service/neptune/subnet_group.go
  internal/service/neptune/sweep.go
  internal/service/neptune/validate.go
  website/docs/r/docdb_cluster.html.markdown
  website/docs/r/neptune_parameter_group.html.markdown
Labels: enhancement, documentation, tests, service/neptune, service/docdb, sweeper, prioritized

#34547 resource/aws_networkmanager_vpc_attachment: Allow deleting when not attached
  .changelog/34547.txt
  internal/service/networkmanager/README.md
  internal/service/networkmanager/attachment_accepter.go
  internal/service/networkmanager/core_network.go
  internal/service/networkmanager/vpc_attachment.go
  internal/service/networkmanager/vpc_attachment_test.go
  website/docs/r/networkmanager_attachment_accepter.html.markdown
  website/docs/r/networkmanager_connect_attachment.html.markdown
  website/docs/r/networkmanager_connect_peer.html.markdown
  website/docs/r/networkmanager_site_to_site_vpn_attachment.html.markdown
  website/docs/r/networkmanager_vpc_attachment.html.markdown
Labels: documentation, size/XL, tests, service/networkmanager, prioritized

#34642 Adds RDS blue green design decision link to design index page
  docs/design-decision-log.md
Labels: documentation, size/XS, prioritized

#34566 feat: Add pod identity association resource
  .changelog/34566.txt
  internal/service/eks/exports_test.go
  internal/service/eks/pod_identity_association.go
  internal/service/eks/pod_identity_association_test.go
  internal/service/eks/service_package_gen.go
  website/docs/r/eks_pod_identity_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/eks, partner
