Repository hashicorp/terraform-provider-aws, pull requests merged in 2023-05, with the labels that each got.

#19413 aws: Consolidate usage of RDS API
  internal/service/rds/cluster.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_data_source_test.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_snapshot.go
  internal/service/rds/cluster_snapshot_data_source.go
  internal/service/rds/cluster_snapshot_data_source_test.go
  internal/service/rds/cluster_snapshot_test.go
  internal/service/rds/consts.go
  internal/service/rds/find.go
  internal/service/rds/instance.go
  internal/service/rds/instance_data_source.go
  internal/service/rds/snapshot.go
  internal/service/rds/snapshot_data_source.go
Labels: enhancement, size/XL, tests, service/rds

#31084 r/aws_acmpca_certificate_authority: Remove `status` attribute
  .changelog/31084.txt
  internal/service/acmpca/certificate_authority.go
  internal/service/acmpca/certificate_authority_data_source_test.go
  internal/service/acmpca/certificate_authority_test.go
  website/docs/r/acmpca_certificate_authority.html.markdown
Labels: documentation, breaking-change, size/XS, tests, service/acmpca

#30172 r/aws_appautoscaling_policy:Enable Metric Math support for TargetTrackingPolicy in Application Au…
  .changelog/30172.txt
  internal/service/appautoscaling/generate.go
  internal/service/appautoscaling/policy.go
  internal/service/appautoscaling/policy_test.go
  internal/service/appautoscaling/service_package_gen.go
  internal/service/appautoscaling/tags_gen.go
  internal/service/appautoscaling/target.go
  internal/service/appautoscaling/target_test.go
  website/docs/r/appautoscaling_policy.html.markdown
  website/docs/r/appautoscaling_target.html.markdown
Labels: enhancement, documentation, size/XL, tests, tags, generators, service/appautoscaling, partner

#31086 r/aws_servicecatalog_provisioning_artifact: add `provisioning_artifact_id` attribute
  .changelog/31086.txt
  internal/service/servicecatalog/provisioning_artifact.go
  internal/service/servicecatalog/provisioning_artifact_test.go
  website/docs/r/servicecatalog_provisioning_artifact.html.markdown
Labels: documentation, size/XS, tests, service/servicecatalog

#30892 New VPCLattice resource aws_vpclattice_auth_policy
  .changelog/30891.txt
  internal/service/vpclattice/auth_policy.go
  internal/service/vpclattice/auth_policy_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_auth_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/vpclattice

#30896 New VPCLattice resource for Access log subscription: aws_vpclattice_access_log_subscription
  .changelog/30896.txt
  internal/service/vpclattice/access_log_subscription.go
  internal/service/vpclattice/access_log_subscription_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_access_log_subscription.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/vpclattice

#31087 Workflow: Use org scoped token for workflows using an org level project
  .github/workflows/project-partner-label.yml
  .github/workflows/project-roadmap-label.yml
Labels: size/XS

#29409 Force replacement on `snapshot_identifier` change for DB cluster resources
  .changelog/29409.txt
  internal/service/docdb/cluster.go
  internal/service/neptune/cluster.go
  internal/service/rds/cluster.go
  website/docs/r/docdb_cluster.html.markdown
  website/docs/r/neptune_cluster.html.markdown
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, breaking-change, size/S, service/rds, service/neptune, service/docdb

#30898 Added new datasource aws_vpclattice_auth_policy with tests, doc
  .changelog/30898.txt
  internal/service/vpclattice/auth_policy_data_source.go
  internal/service/vpclattice/auth_policy_data_source_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/d/vpclattice_auth_policy.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, partner, service/vpclattice

#31094 r/aws_servicecatalog_provisioned_product: Fix `product_name` update handling
  .changelog/31094.txt
  internal/service/servicecatalog/provisioned_product.go
  internal/service/servicecatalog/provisioned_product_test.go
Labels: size/M, tests, service/servicecatalog

#30904 F vpclattice service network data source
  .changelog/30904.txt
  internal/service/vpclattice/service_network_data_source.go
  internal/service/vpclattice/service_network_data_source_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/d/vpclattice_service_network.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, partner, service/vpclattice

#30915 New VPCLattice resource aws_vpclattice_resource_policy
  .changelog/30900.txt
  internal/service/vpclattice/resource_policy.go
  internal/service/vpclattice/resource_policy_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_resource_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/vpclattice

#31095 r/aws_account_alternate_contact: Simplify retries
  internal/service/account/alternate_contact.go
  internal/service/account/retry/wrappers.go
Labels: size/M, technical-debt, service/account

#31008 elasticache/rep_group: Remove availability zones and other deprecated parameters
  .changelog/31008.txt
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_data_source.go
  internal/service/elasticache/replication_group_data_source_test.go
  internal/service/elasticache/replication_group_test.go
  website/docs/d/elasticache_replication_group.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, size/XL, tests, service/elasticache

#26371 fix(26271): a changed provisioning_artifact_name is now taken into account and triggers an update in AWS for a provisioned_product
  .changelog/26371.txt
  internal/service/servicecatalog/provisioned_product.go
  internal/service/servicecatalog/provisioned_product_test.go
Labels: bug, size/M, tests, service/servicecatalog

#31074 F register target resource
  .changelog/31039.txt
  internal/service/vpclattice/exports_test.go
  internal/service/vpclattice/service_package_gen.go
  internal/service/vpclattice/target_group_attachment.go
  internal/service/vpclattice/target_group_attachment_test.go
  internal/service/vpclattice/test-fixtures/lambda.zip
  website/docs/r/vpclattice_target_group_attachment.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/vpclattice

#28539 Omit Sid in aws_iam_policy_document data source when empty
  .changelog/28539.txt
  internal/service/iam/policy_document_data_source_test.go
  internal/service/iam/policy_model.go
Labels: bug, breaking-change, size/XS, tests, service/iam

#30895 b/aws_connect_routing_profile-queue batched association
  .changelog/30895.txt
  internal/service/connect/connect_test.go
  internal/service/connect/routing_profile.go
  internal/service/connect/routing_profile_test.go
Labels: enhancement, size/XL, tests, service/connect, partner

#31115 Disable ServiceCatalog Provisioned Product `product_name` update test until v5
  internal/service/servicecatalog/provisioned_product_test.go
Labels: size/M, tests, service/servicecatalog

#31089 Correctly fetch overridden actions in the Network Firewall policy data source
  .changelog/31089.txt
  internal/service/networkfirewall/firewall_policy_data_source.go
  internal/service/networkfirewall/firewall_policy_data_source_test.go
Labels: bug, size/M, tests, service/networkfirewall

#31097 Add configurable timeouts to aws_sfn_state_machine
  .changelog/31097.txt
  internal/service/sfn/state_machine.go
  website/docs/r/sfn_state_machine.html.markdown
Labels: enhancement, documentation, size/S, service/sfn, timeouts

#31113 Added RDS Custom for Oracle examples
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/M, service/rds, partner

#31118 aws_nat_gateway: guarantee that all attributes are set when the NAT Gateway is associated with a single address
  .changelog/31118.txt
  internal/service/ec2/vpc_nat_gateway.go
  internal/service/ec2/vpc_nat_gateway_data_source.go
Labels: bug, size/XS, service/vpc

#31083 Enhancement: Add argument `grafana_version` to r/`aws_grafana_workspace`
  .changelog/31083.txt
  internal/service/grafana/workspace.go
  internal/service/grafana/workspace_test.go
  website/docs/r/grafana_workspace.html.markdown
Labels: enhancement, documentation, size/S, tests, service/grafana

#31137 Changes to the Version 4 Upgrade Guide
  website/docs/guides/version-4-upgrade.html.md
Labels: documentation, size/S

#31135 Terraform AWS Provider Version 5 Upgrade Guide
  website/docs/guides/version-5-upgrade.html.md
Labels: documentation, size/M

#31076 Add aws_elasticache_user customizable timeouts
  .changelog/31076.txt
  internal/service/elasticache/user.go
  website/docs/r/elasticache_user.html.markdown
Labels: enhancement, documentation, size/S, service/elasticache, timeouts

#31112 rds/cluster/cluster_instance: engine becomes required
  .changelog/31112.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/consts.go
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, size/XL, tests, service/rds

#31122 CI: Enables assuming role for nightly sweepers
  .github/workflows/gen-teamcity.yml
  .teamcity/scripts/pullrequest_tests/tests.sh
  .teamcity/scripts/service_tests/acceptance_tests.sh
  .teamcity/scripts/service_tests/compile_test_binary.sh
  .teamcity/scripts/service_tests/unit_tests.sh
  .teamcity/scripts/setup_goenv.sh
  .teamcity/scripts/sweeper.sh
  .teamcity/scripts/sweeper_role.sh
  .teamcity/settings.kts
Labels: size/M, repository, github_actions

#30452 Removed deprecated field ignore_headers_row
  .changelog/30452.txt
  internal/service/dms/endpoint.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, size/XS, service/dms

#31140 d/aws_subnet_ids: Remove
  .changelog/31140.txt
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/vpc_endpoint_connection_accepter_test.go
  internal/service/ec2/vpc_subnet_ids_data_source.go
  internal/service/ec2/vpc_subnet_ids_data_source_test.go
  website/docs/d/subnet_ids.html.markdown
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/apigatewayv2_vpc_link.html.markdown
  website/docs/r/elasticsearch_domain.html.markdown
  website/docs/r/opensearch_domain.html.markdown
  website/docs/r/spot_fleet_request.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/ec2, service/elasticsearch, service/apigatewayv2, generators, service/opensearch, service/vpc

#31073 r/fsx_lustre_file_system - add `root_squash_configuration`
  .changelog/31073.txt
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
Labels: enhancement, documentation, size/M, tests, service/fsx

#30374 Removed deprecated field threshold from resource aws_ce_anomaly_subscription
  .changelog/30374.txt
  internal/service/ce/anomaly_subscription.go
  internal/service/ce/anomaly_subscription_test.go
  website/docs/guides/version-5-upgrade.html.md
Labels: documentation, breaking-change, size/L, tests, service/ce

#31071 r/glue_catalog_database - add tagging support
  .changelog/31071.txt
  internal/service/glue/catalog_database.go
  internal/service/glue/catalog_database_test.go
  internal/service/glue/find.go
  internal/service/glue/service_package_gen.go
  website/docs/r/glue_catalog_database.html.markdown
Labels: enhancement, documentation, size/L, tests, service/glue, generators

#31070 r/sagemaker_endpoint_configuration - add `async_inference_config` and `s3_failure_path`
  .changelog/31070.txt
  internal/service/sagemaker/endpoint_configuration.go
  internal/service/sagemaker/endpoint_configuration_test.go
  website/docs/r/sagemaker_endpoint_configuration.html.markdown
Labels: enhancement, documentation, size/L, tests, service/sagemaker

#31067 rd/aws_autoscaling_group: add missing attributes
  .changelog/31067.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_data_source.go
  internal/service/autoscaling/group_data_source_test.go
  internal/service/autoscaling/group_test.go
  website/docs/d/autoscaling_group.html.markdown
  website/docs/r/autoscaling_group.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/autoscaling

#31141 firehose/delivery_stream: Make buffering args consistent
  .changelog/31141.txt
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, size/M, tests, service/firehose

#30918 Add 'context' field to EC2 spot fleet request
  .changelog/30918.txt
  internal/service/ec2/ec2_spot_fleet_request.go
  internal/service/ec2/ec2_spot_fleet_request_test.go
  website/docs/r/spot_fleet_request.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ec2, partner

#31144 Update permissive ECR policy docs to better demonstrate best practices
  website/docs/r/ecr_repository_policy.html.markdown
  website/docs/r/ecrpublic_repository_policy.html.markdown
Labels: documentation, size/XS, service/ecr, needs-triage, service/ecrpublic

#31143 docs: remove statemux from `aws_medialive_multiplex_program`
  website/docs/r/medialive_multiplex_program.html.markdown
Labels: documentation, size/XS, service/medialive

#30736 r/aws_guardduty_organization_configuration: add auto_enable_organization_members attribute
  .changelog/30736.txt
  internal/service/guardduty/guardduty_test.go
  internal/service/guardduty/organization_admin_account_test.go
  internal/service/guardduty/organization_configuration.go
  internal/service/guardduty/organization_configuration_test.go
  website/docs/r/guardduty_organization_configuration.html.markdown
Labels: enhancement, documentation, size/L, tests, service/guardduty

#31041 Fix aws_quicksight_data_set S3 source upload settings flatten func
  internal/service/quicksight/data_set.go
Labels: crash, size/XS, service/quicksight

#31054 Add timeout to aws_redshiftserverless_workgroup
  .changelog/31054.txt
  internal/service/redshiftserverless/wait.go
  internal/service/redshiftserverless/workgroup.go
  website/docs/r/redshiftserverless_workgroup.html.markdown
Labels: enhancement, documentation, size/S, timeouts, service/redshiftserverless

#31015 Enhancement: add configurable timeouts to r/`aws_rds_cluster_role_association`
  .changelog/31015.txt
  internal/service/rds/cluster_role_association.go
  internal/service/rds/cluster_role_association_test.go
  internal/service/rds/wait.go
  website/docs/r/rds_cluster_role_association.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds, timeouts

#31020 Fix aws_redshift_scheduled_action naming allowing non [0-9a-z-]{1,63}
  .changelog/31020.txt
  internal/service/redshift/scheduled_action.go
  internal/service/redshift/scheduled_action_test.go
Labels: enhancement, size/S, tests, service/redshift

#31138 r/aws_kinesis_firehose_delivery_stream: deprecate root `s3_configuration`
  .changelog/31138.txt
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, size/XL, tests, service/firehose

#30977 add voice profile domain resource
  .changelog/30977.txt
  internal/service/chimesdkvoice/generate.go
  internal/service/chimesdkvoice/service_package_gen.go
  internal/service/chimesdkvoice/tags_gen.go
  internal/service/chimesdkvoice/voice_profile_domain.go
  internal/service/chimesdkvoice/voice_profile_domain_test.go
  website/docs/r/chimesdkvoice_voice_profile_domain.html.markdown
Labels: documentation, new-resource, size/XL, tests, tags, generators, partner, service/chimesdkvoice

#31157 chore: switch changelog deprecations to note
  .changelog/31035.txt
Labels: size/XS

#31142 Tech debt: Reduce `tags` boilerplate code - Generate and use `createTags`; Phase 2
  .ci/semgrep/tags/update.yml
  internal/errs/unsupported.go
  internal/generate/tagresource/resource.tmpl
  internal/provider/fwprovider/intercept.go
  internal/provider/intercept.go
  internal/service/autoscaling/group_tag.go
  internal/service/cloudwatch/composite_alarm.go
  internal/service/cloudwatch/composite_alarm_test.go
  internal/service/cloudwatch/consts.go
  internal/service/cloudwatch/find.go
  internal/service/cloudwatch/generate.go
  internal/service/cloudwatch/metric_alarm.go
  internal/service/cloudwatch/metric_alarm_test.go
  internal/service/cloudwatch/metric_stream.go
  internal/service/cloudwatch/tags_gen.go
  internal/service/dynamodb/tag_gen.go
  internal/service/ec2/vpc_default_network_acl.go
  internal/service/ec2/vpc_default_security_group.go
  internal/service/ec2/vpc_default_subnet.go
  internal/service/ec2/vpc_default_vpc.go
  internal/service/ecr/generate.go
  internal/service/ecr/repository.go
  internal/service/ecr/tags_gen.go
  internal/service/ecs/capacity_provider.go
  internal/service/ecs/cluster.go
  internal/service/ecs/generate.go
  internal/service/ecs/service.go
  internal/service/ecs/service_package_gen.go
  internal/service/ecs/tag_gen.go
  internal/service/ecs/tags_gen.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_set.go
  internal/service/ecs/task_set_test.go
  internal/service/elasticache/cluster.go
  internal/service/elasticache/generate.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/subnet_group.go
  internal/service/elasticache/tags_gen.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_group.go
  internal/service/elbv2/generate.go
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/tags_gen.go
  internal/service/elbv2/target_group.go
  internal/service/events/bus.go
  internal/service/events/bus_test.go
  internal/service/events/generate.go
  internal/service/events/rule.go
  internal/service/events/tags_gen.go
  internal/service/route53domains/registered_domain.go
  internal/service/sns/generate.go
  internal/service/sns/tags_gen.go
  internal/service/sns/topic.go
  internal/service/sqs/generate.go
  internal/service/sqs/queue.go
  internal/service/sqs/tags_gen.go
  internal/service/transfer/tag_gen.go
Labels: size/XL, tests, service/ecs, service/elbv2, service/sns, service/sqs, service/autoscaling, service/dynamodb, service/cloudwatch, service/elasticache, service/ecr, technical-debt, provider, service/route53domains, service/transfer, linter, tags, generators, service/events, service/vpc

#31155 Remove deprecated provider configuration attributes
  .changelog/31155.txt
  internal/conns/config.go
  internal/generate/customends/custom_endpoints_footer.tmpl
  internal/provider/fwprovider/provider.go
  internal/provider/provider.go
  website/docs/guides/custom-service-endpoints.html.md
  website/docs/guides/version-5-upgrade.html.md
  website/docs/index.html.markdown
Labels: documentation, breaking-change, size/M, provider, client-connections, generators

#24965 d/aws_appintegrations_event_integration
  .changelog/24965.txt
  internal/service/appintegrations/event_integration_data_source.go
  internal/service/appintegrations/event_integration_data_source_test.go
  internal/service/appintegrations/service_package_gen.go
  website/docs/d/appintegrations_event_integration.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, service/appintegrations, partner

#31162 Deprecate data source `tags_all` attributes
  .changelog/31162.txt
  .ci/semgrep/tags/ds-tags-all.yml
  internal/service/quicksight/data_set_data_source.go
  internal/service/servicediscovery/service_data_source.go
  website/docs/d/service_discovery_service.html.markdown
Labels: documentation, size/S, service/servicediscovery, service/quicksight, linter

#31156 Tech debt: Migrate `accessanalyzer` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/service/accessanalyzer/accessanalyzer_test.go
  internal/service/accessanalyzer/analyzer.go
  internal/service/accessanalyzer/analyzer_test.go
  internal/service/accessanalyzer/archive_rule.go
  internal/service/accessanalyzer/archive_rule_test.go
  internal/service/accessanalyzer/exports_test.go
  internal/service/accessanalyzer/generate.go
  internal/service/accessanalyzer/service_package_gen.go
  internal/service/accessanalyzer/sweep.go
  internal/service/accessanalyzer/tags_gen.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, service/accessanalyzer, sweeper, tags, client-connections, generators

#31214 r/aws_appautoscaling_target: Skip `ListTags`/`UpdateTags` for existing resources with no assigned ARN
  .changelog/31214.txt
  internal/provider/fwprovider/intercept.go
  internal/provider/intercept.go
  website/docs/r/appautoscaling_target.html.markdown
Labels: bug, documentation, regression, size/L, provider, service/appautoscaling

#31215 d/aws_rbin_rule: Add missing quotes in the example.
  website/docs/r/rbin_rule.html.markdown
Labels: documentation, size/XS, service/rbin

#31220 Bump aws-sdk-go-v2 service modules
  go.mod
  go.sum
Labels: size/L

#31159 CI: Enables assuming role for pull request configuration
  .teamcity/scripts/pullrequest_tests/tests.sh
  .teamcity/settings.kts
Labels: size/M

#25233 b/aws_cloudwatch_event_target: remove default value from ecs_target.propagate_tags
  .changelog/25233.txt
  internal/service/events/target.go
  internal/service/events/target_test.go
  website/docs/guides/version-5-upgrade.html.md
Labels: bug, documentation, breaking-change, size/M, tests, service/events

#30920 F organization policy
  .changelog/15398.txt
  internal/service/organizations/policy_data_source.go
  internal/service/organizations/policy_data_source_test.go
  internal/service/organizations/service_package_gen.go
  website/docs/d/organizations_policy.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/organizations, generators, partner

#31247 data_source: cn-north-1 (Beijing) hostedZoneID
  .changelog/31247.txt
  internal/service/s3/hosted_zones.go
Labels: enhancement, size/XS, service/s3, partition/aws-cn

#31248 data_source: ap-southeast-3 (Jakarta) HostedZoneID
  .changelog/31248.txt
  docs/add-a-new-region.md
  internal/service/elasticbeanstalk/hosted_zone_data_source.go
Labels: enhancement, documentation, size/XS, service/elasticbeanstalk

#31262 Tech debt: `ssmincidents` -- remove custom tag update code
  internal/acctest/acctest.go
  internal/provider/provider_acc_test.go
  internal/service/ssmincidents/generate.go
  internal/service/ssmincidents/replication_set.go
  internal/service/ssmincidents/replication_set_test.go
  internal/service/ssmincidents/response_plan.go
  internal/service/ssmincidents/response_plan_test.go
  internal/service/ssmincidents/ssmincidents_replication_set_test.go
  internal/service/ssmincidents/ssmincidents_test.go
  internal/service/ssmincidents/tags.go
  internal/service/ssmincidents/tags_gen.go
Labels: size/L, tests, provider, tags, generators, service/ssmincidents

#31251 r/aws_fsx_ontap_file_system - allow updating route table ids + 4096 throughput_capacity support
  .changelog/31251.txt
  internal/service/fsx/ontap_file_system.go
  internal/service/fsx/ontap_file_system_test.go
  website/docs/r/fsx_ontap_file_system.html.markdown
Labels: enhancement, documentation, size/S, tests, service/fsx

#31266 Fix CHANGELOG entry
  .changelog/15398.txt
  .changelog/30920.txt
Labels: size/XS

#31250 New Data Source: aws_redshiftserverless_namespace
  .changelog/31250.txt
  internal/service/redshiftserverless/namespace_data_source.go
  internal/service/redshiftserverless/namespace_data_source_test.go
  internal/service/redshiftserverless/service_package_gen.go
  website/docs/d/redshiftserverless_namespace.html.markdown
Labels: documentation, new-data-source, size/XL, tests, generators, service/redshiftserverless

#31268 Correct CHANGELOG entry
  .changelog/30920.txt
Labels: size/XS

#31235 Fix cognito_user_in_group doc example
  website/docs/r/cognito_user_in_group.html.markdown
Labels: documentation, size/XS, needs-triage, service/cognitoidp

#31253 fix: Ignore order of client IDs in iam_openid_connect_provider
  .changelog/31253.txt
  internal/service/iam/openid_connect_provider.go
  internal/service/iam/openid_connect_provider_test.go
Labels: bug, size/M, tests, service/iam

#26158 d/aws_connect_vocabulary
  .changelog/26158.txt
  internal/service/connect/connect_test.go
  internal/service/connect/enum.go
  internal/service/connect/service_package_gen.go
  internal/service/connect/vocabulary_data_source.go
  internal/service/connect/vocabulary_data_source_test.go
  website/docs/d/connect_vocabulary.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/connect, generators, partner

#31270 Tech debt: Migrate`xray` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/service/xray/encryption_config.go
  internal/service/xray/encryption_config_test.go
  internal/service/xray/exports_test.go
  internal/service/xray/generate.go
  internal/service/xray/group.go
  internal/service/xray/group_test.go
  internal/service/xray/sampling_rule.go
  internal/service/xray/sampling_rule_test.go
  internal/service/xray/service_package_gen.go
  internal/service/xray/status.go
  internal/service/xray/tags_gen.go
  internal/service/xray/wait.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, technical-debt, service/xray, tags, client-connections, generators

#31280 r/aws_acmpca_certificate_authority: Add `key_storage_security_standard` argument
  .changelog/31280.txt
  internal/service/acmpca/certificate_authority.go
  internal/service/acmpca/certificate_authority_data_source.go
  internal/service/acmpca/certificate_authority_data_source_test.go
  internal/service/acmpca/certificate_authority_test.go
  website/docs/r/acmpca_certificate_authority.html.markdown
Labels: enhancement, documentation, size/M, tests, service/acmpca

#31275 CI: Sets `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` to empty if not set
  .teamcity/settings.kts
Labels: size/XS

#29555 r/eks_addon: Deprecate `resolve_conflicts` attribute
  .changelog/29555.txt
  internal/provider/tags_interceptor.go
  internal/service/ec2/vpc_subnet_test.go
  internal/service/eks/addon.go
  internal/service/eks/addon_test.go
  website/docs/r/eks_addon.html.markdown
Labels: documentation, size/XL, tests, provider, service/eks, service/vpc

#31293 r/aws_servicecatalog_provisioned_product: properly set `stack_set_provisioned_preferences.accounts`
  .changelog/31293.txt
  internal/service/servicecatalog/provisioned_product.go
  internal/service/servicecatalog/provisioned_product_test.go
Labels: size/XS, tests, service/servicecatalog

#31295 Fix typo in VPCLattice Target Group docs
  website/docs/r/vpclattice_target_group.html.markdown
Labels: documentation, size/XS, service/vpclattice

#31294 [Docs]: V5 Upgrade guide additions
  website/docs/guides/version-5-upgrade.html.md
Labels: documentation, size/S

#31288 Add metric name filtering to AWS Metric Streams
  .changelog/31288.txt
  internal/service/cloudwatch/metric_stream.go
  internal/service/cloudwatch/metric_stream_test.go
  website/docs/r/cloudwatch_metric_stream.html.markdown
Labels: documentation, size/L, tests, service/cloudwatch, partner

#31296 Tech debt: Migrate `acm` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/conns/config_gen.go
  internal/service/account/alternate_contact.go
  internal/service/account/exports_test.go
  internal/service/account/primary_contact.go
  internal/service/account/service_package_gen.go
  internal/service/acm/certificate.go
  internal/service/acm/certificate_data_source.go
  internal/service/acm/certificate_data_source_test.go
  internal/service/acm/certificate_test.go
  internal/service/acm/certificate_validation.go
  internal/service/acm/certificate_validation_test.go
  internal/service/acm/exports_test.go
  internal/service/acm/generate.go
  internal/service/acm/service_package_gen.go
  internal/service/acm/sweep.go
  internal/service/acm/tags_gen.go
  internal/service/apigatewayv2/api_mapping.go
  internal/service/apigatewayv2/api_mapping_test.go
  internal/service/apigatewayv2/generate.go
  internal/service/apigatewayv2/list_pages_gen.go
  internal/service/apigatewayv2/sweep.go
  internal/service/appmesh/sweep.go
  internal/tfresource/retry.go
  names/names.go
  names/names_data.csv
Labels: size/XL, tests, service/acm, service/appmesh, service/apigatewayv2, sweeper, tags, client-connections, generators, service/account

#31310 New Resource: `aws_quicksight_template_alias`
  .changelog/31310.txt
  internal/service/quicksight/exports_test.go
  internal/service/quicksight/service_package_gen.go
  internal/service/quicksight/template_alias.go
  internal/service/quicksight/template_alias_test.go
  website/docs/r/quicksight_template_alias.html.markdown
Labels: documentation, size/XL, tests, service/quicksight, generators

#31315 configservice/remediation_configuration: parameters TypeSet -> TypeList
  .changelog/31315.txt
  internal/service/configservice/configservice_test.go
  internal/service/configservice/remediation_configuration.go
  internal/service/configservice/remediation_configuration_test.go
Labels: bug, size/M, tests, service/configservice

#31317 [TechDebt](skaff): add missing `ctx` argument
  skaff/resource/resourcetest.tmpl
Labels: size/XS, skaff

#30778 aws_quicksight_data_set: Add support for configuring refresh properties
  .changelog/30744.txt
  docs/acc-test-environment-variables.md
  internal/service/quicksight/data_set.go
  internal/service/quicksight/data_set_test.go
  website/docs/r/quicksight_data_set.html.markdown
Labels: documentation, size/XL, tests, service/quicksight

#30820 TechDebt: Move `lightsail_domain_entry` to common separator
  .changelog/30820.txt
  internal/flex/flex.go
  internal/flex/flex_test.go
  internal/service/lightsail/bucket_access_key.go
  internal/service/lightsail/bucket_resource_access.go
  internal/service/lightsail/domain_entry.go
  internal/service/lightsail/domain_entry_test.go
  internal/service/lightsail/find.go
  website/docs/r/lightsail_domain_entry.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/lightsail, technical-debt, flex

#31337 [Docs]: Fix dead Kendra links
  website/docs/d/kendra_index.html.markdown
  website/docs/r/kendra_index.html.markdown
Labels: documentation, size/XS, service/kendra

#31291 dms: Add db2-zos engine type
  .changelog/31291.txt
  internal/service/dms/consts.go
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: enhancement, documentation, size/L, tests, service/dms

#31324 r/aws_msk_cluster: Remove `broker_node_group_info.ebs_volume_size` attribute
  .changelog/31324.txt
  internal/service/eks/addon_test.go
  internal/service/kafka/broker_nodes_data_source_test.go
  internal/service/kafka/cluster.go
  internal/service/kafka/cluster_data_source_test.go
  internal/service/kafka/cluster_test.go
  internal/service/kafka/scram_secret_association_test.go
  internal/service/kafkaconnect/connector_test.go
  internal/service/lambda/event_source_mapping_test.go
  website/docs/d/kendra_index.html.markdown
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/msk_cluster.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/lambda, service/eks, service/kafka, service/kendra, service/kafkaconnect

#31339 [TechDebt]: QuickSight sweepers
  internal/service/quicksight/data_set.go
  internal/service/quicksight/sweep.go
Labels: size/L, service/quicksight, sweeper

#31309 New Resource: `aws_quicksight_vpc_connection`
  .changelog/31309.txt
  internal/service/quicksight/exports_test.go
  internal/service/quicksight/iam_policy_assignment.go
  internal/service/quicksight/service_package_gen.go
  internal/service/quicksight/vpc_connection.go
  internal/service/quicksight/vpc_connection_test.go
  internal/service/quicksight/wait.go
  website/docs/r/quicksight_vpc_connection.html.markdown
Labels: documentation, size/XL, tests, service/quicksight, generators

#31340 Bugfix: `aws_ssm_activation` Fails on nonexistent role
  .changelog/31340.txt
  internal/service/ssm/activation.go
  internal/service/ssm/activation_test.go
Labels: bug, size/S, tests, service/ssm

#31341 Tech debt: Reduce tags boilerplate code - Use `createTags`; IAM
  internal/service/iam/find.go
  internal/service/iam/instance_profile.go
  internal/service/iam/instance_profile_data_source.go
  internal/service/iam/instance_profile_data_source_test.go
  internal/service/iam/instance_profile_test.go
  internal/service/iam/openid_connect_provider.go
  internal/service/iam/openid_connect_provider_data_source_test.go
  internal/service/iam/openid_connect_provider_test.go
  internal/service/iam/policy.go
  internal/service/iam/policy_data_source.go
  internal/service/iam/policy_data_source_test.go
  internal/service/iam/policy_test.go
  internal/service/iam/role.go
  internal/service/iam/saml_provider.go
  internal/service/iam/server_certificate.go
  internal/service/iam/service_linked_role.go
  internal/service/iam/service_linked_role_test.go
  internal/service/iam/sweep.go
  internal/service/iam/tags.go
  internal/service/iam/user.go
  internal/service/iam/user_test.go
  internal/service/iam/virtual_mfa_device.go
  internal/service/iam/virtual_mfa_device_test.go
  internal/service/iam/wait.go
Labels: size/XL, tests, service/iam, technical-debt, sweeper

#31336 Aurora I/O-Optimized (storage_type)
  .changelog/31336.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
  internal/service/rds/instance.go
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, documentation, size/L, tests, service/rds, partner

#31346 r/aws_ecs_cluster: Remove `capacity_providers` and `default_capacity_provider_strategy` attributes
  .changelog/31312.txt
  .changelog/31324.txt
  .changelog/31346.txt
  internal/service/ecs/cluster.go
  internal/service/ecs/cluster_test.go
  internal/service/ecs/find.go
  internal/service/ecs/service_test.go
  internal/service/ecs/status.go
  internal/service/ecs/task_set_test.go
  internal/service/ecs/wait.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/ecs_cluster.html.markdown
  website/docs/r/ecs_cluster_capacity_providers.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/ecs

#31374 r/aws_wafv2_web_acl: Remove `statement.managed_rule_group_statement.excluded_rule` and `statement.rule_group_reference_statement.excluded_rule`
  .changelog/31374.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, breaking-change, size/L, tests, service/wafv2

#31376 r/aws_connect_routing_profile: Remove `queue_configs_associated` attribute
  .changelog/31376.txt
  internal/service/connect/queue.go
  internal/service/connect/routing_profile.go
  website/docs/guides/version-5-upgrade.html.md
Labels: documentation, breaking-change, size/M, service/connect

#31380 r/aws_ssm_association: Call out deprecation of `instance_id`
  .changelog/31380.txt
  website/docs/r/ssm_association.html.markdown
Labels: documentation, size/XS, service/ssm

#31382 r/aws_flow_log: Call out deprecation of `log_group_name`
  .changelog/31382.txt
  website/docs/r/flow_log.html.markdown
Labels: documentation, size/XS, service/vpc

#31384 r/aws_dx_gateway_association: Call out deprecation of `vpn_gateway_id`
  .changelog/31384.txt
Labels: documentation, size/XS, service/directconnect

#31394 Tech debt: Reduce tags boilerplate code - Use `createTags`; Inspector
  internal/service/inspector/assessment_template.go
  internal/service/inspector/tags.go
Labels: size/XS, service/inspector

#31146 patch default AWS values for origin config in the doc
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/XS, service/cloudfront

#31395 r/aws_budgets_budget: Remove `cost_filters` attribute
  .changelog/31395.txt
  internal/service/budgets/budget.go
  internal/service/budgets/budget_test.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/budgets_budget.html.markdown
Labels: documentation, breaking-change, size/M, tests, service/budgets

#31396 r/aws_ec2_client_vpn_network_association: Remove `security_groups`
  .changelog/31396.txt
  internal/service/ec2/vpnclient_endpoint_test.go
  internal/service/ec2/vpnclient_network_association.go
  internal/service/ec2/vpnclient_network_association_test.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/ec2_client_vpn_endpoint.html.markdown
  website/docs/r/ec2_client_vpn_network_association.html.markdown
Labels: documentation, breaking-change, size/L, tests, service/vpnclient

#31232 rds/instance: NEW ID configuration
  .changelog/31232.txt
  examples/rds/main.tf
  examples/rds/outputs.tf
  internal/service/rds/blue_green.go
  internal/service/rds/export_task_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_automated_backups_replication_test.go
  internal/service/rds/instance_data_source_test.go
  internal/service/rds/instance_migrate.go
  internal/service/rds/instance_migrate_test.go
  internal/service/rds/instance_role_association_test.go
  internal/service/rds/instance_test.go
  internal/service/rds/option_group_test.go
  internal/service/rds/proxy_target_test.go
  internal/service/rds/snapshot_copy_test.go
  internal/service/rds/snapshot_data_source_test.go
  internal/service/rds/snapshot_test.go
  internal/service/rds/sweep.go
  website/docs/d/db_snapshot.html.markdown
  website/docs/r/db_event_subscription.html.markdown
  website/docs/r/db_instance.html.markdown
  website/docs/r/db_instance_automated_backups_replication.markdown
  website/docs/r/db_instance_role_association.html.markdown
  website/docs/r/db_proxy_target.html.markdown
  website/docs/r/db_snapshot.html.markdown
  website/docs/r/db_snapshot_copy.html.markdown
  website/docs/r/rds_export_task.html.markdown
  website/docs/r/ssm_parameter.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/rds, service/ssm, examples, sweeper

#31483 r/aws_codebuild_project: Remove `secondary_sources.auth` and `source.auth`
  .changelog/31483.txt
  internal/service/codebuild/project.go
  internal/service/codebuild/project_test.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, breaking-change, size/M, tests, service/codebuild

#31490 r/aws_opensearch_domain: Deprecate `kibana_endpoint`
  .changelog/31490.txt
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_data_source.go
  website/docs/d/opensearch_domain.html.markdown
  website/docs/r/opensearch_domain.html.markdown
Labels: documentation, size/XS, service/opensearch

#31487 r/aws_secretsmanager_secret: Remove `rotation_*`
  .changelog/31487.txt
  internal/service/secretsmanager/secret.go
  internal/service/secretsmanager/secret_data_source.go
  internal/service/secretsmanager/secret_data_source_test.go
  internal/service/secretsmanager/secret_rotation.go
  internal/service/secretsmanager/secret_rotation_data_source.go
  internal/service/secretsmanager/secret_rotation_data_source_test.go
  internal/service/secretsmanager/secret_rotation_test.go
  internal/service/secretsmanager/secret_test.go
  website/docs/d/secretsmanager_secret.html.markdown
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/secretsmanager_secret.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/secretsmanager

#31492 r/aws_s3_bucket_object: Add deprecation message to schemas
  internal/service/s3/bucket_object.go
  internal/service/s3/bucket_object_data_source.go
  internal/service/s3/bucket_objects_data_source.go
Labels: size/XS, service/s3

#31496 Add missing Terraform AWS Provider Version 5 Upgrade Guide entries
  website/docs/guides/version-5-upgrade.html.md
Labels: documentation, size/S

#31500 Fix crash when removing all tags for resources with no `identifierAttribute` declared
  internal/provider/intercept.go
Labels: crash, size/XS, provider, tags

#31502 Suppress `golangci-lint` `s3Config.DisableRestProtocolURICleaning is deprecated` warning
  .ci/.golangci2.yml
Labels: linter

#31508 Revise v5 upgrade guide
  website/docs/guides/version-5-upgrade.html.md
Labels: documentation, size/XL

#31511 Update 31006.txt
  .changelog/31006.txt
Labels: size/XS

#31523 r/aws_servicecatalog_provisioned_product: re-enable product namee update test
  internal/service/servicecatalog/provisioned_product_test.go
Labels: size/M, tests, service/servicecatalog

#31524 [Tests] elasticache
  internal/service/elasticache/global_replication_group_test.go
  internal/service/elasticache/replication_group_data_source_test.go
  internal/service/elasticache/replication_group_test.go
Labels: size/L, tests, service/elasticache

#31276 Use default retry count from AWS SDK
  .changelog/31276.txt
  internal/provider/provider.go
  internal/sweep/sweep.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider, sweeper

#31548 Updates `aws-sdk-go-base`
  go.mod
  go.sum
Labels: size/M

#30545 Remove default values present in launch template
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_test.go
  website/docs/r/launch_template.html.markdown
Labels: bug, size/XS, tests, service/ec2

#31554 add changelog for launch template
  .changelog/30545.txt
  website/docs/guides/version-5-upgrade.html.md
Labels: documentation, size/XS, service/ec2

#27197 No default value for acl attribute in s3 object
  .changelog/27197.txt
  internal/service/s3/object.go
  internal/service/s3/object_copy.go
  internal/service/s3/object_test.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/s3_object.html.markdown
  website/docs/r/s3_object_copy.html.markdown
Labels: enhancement, documentation, size/S, tests, service/s3

#31563 Revert "Use default retry count from AWS SDK"
  .changelog/31276.txt
  internal/provider/provider.go
  internal/sweep/sweep.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider, sweeper

#25724 Fix bucket_regional_domain_name for us-east-1 region
  .changelog/25724.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_test.go
  website/docs/d/s3_bucket.html.markdown
  website/docs/r/s3_bucket.html.markdown
Labels: bug, documentation, breaking-change, size/XS, tests, service/s3

#31567 aws_eip: deprecate `vpc` attribute
  .changelog/31567.txt
  examples/eip/main.tf
  internal/service/codebuild/project_test.go
  internal/service/ec2/ec2_eip.go
  internal/service/ec2/ec2_eip_association_test.go
  internal/service/ec2/ec2_eip_data_source_test.go
  internal/service/ec2/ec2_eip_test.go
  internal/service/ec2/ec2_eips_data_source_test.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/vpc_nat_gateway_data_source_test.go
  internal/service/ec2/vpc_nat_gateway_test.go
  internal/service/ec2/vpc_nat_gateways_data_source_test.go
  internal/service/ec2/vpc_network_interface_data_source_test.go
  internal/service/ec2/vpc_route_data_source_test.go
  internal/service/ec2/vpc_route_table_test.go
  internal/service/ec2/vpc_route_test.go
  internal/service/ec2/vpc_security_group_ingress_rule_test.go
  internal/service/ec2/vpc_security_group_test.go
  internal/service/ec2/vpc_test.go
  internal/service/eks/fargate_profile_test.go
  internal/service/globalaccelerator/endpoint_group_test.go
  internal/service/mwaa/environment_test.go
  internal/service/shield/protection_health_check_association_test.go
  internal/service/shield/protection_test.go
  internal/service/transfer/server_test.go
  internal/service/wafv2/ip_set_test.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/cloud9_environment_ec2.html.markdown
  website/docs/r/eip.html.markdown
  website/docs/r/eip_association.html.markdown
  website/docs/r/shield_protection.html.markdown
  website/docs/r/shield_protection_group.html.markdown
  website/docs/r/shield_protection_health_check_association.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ec2, service/codebuild, service/shield, service/cloud9, service/eks, service/transfer, service/globalaccelerator, service/wafv2, examples, service/mwaa, service/vpc

#31568 r/aws_opensearch_domain: Remove `engine_version` default
  .changelog/31568.txt
  internal/service/cognitoidp/managed_user_pool_client_test.go
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_policy_test.go
  internal/service/opensearch/domain_test.go
  internal/service/opensearch/inbound_connection_accepter_test.go
  internal/service/opensearch/outbound_connection_test.go
  internal/service/opensearch/wait.go
  website/docs/guides/version-5-upgrade.html.md
  website/docs/r/opensearch_domain.html.markdown
Labels: documentation, size/M, tests, service/opensearch, service/cognitoidp

#31354 datasource/aws_iam_policy_document: Add test for multiple condition keys
  internal/service/iam/policy_document_data_source_test.go
Labels: size/M, tests, service/iam

#31587 Tags: fix for null tags in config
  .changelog/31587.txt
  internal/service/ec2/vpc_test.go
  internal/tags/key_value_tags.go
Labels: size/S, tests, tags, service/vpc

#31358 CI: Enables build notifications
  .teamcity/components/service_build_config.kt
  .teamcity/settings.kts
Labels: size/L

#31588 resource/aws_route53_vpc_association_authorization: Fix `ConcurrentModification` error
  .changelog/31588.txt
  internal/service/route53/vpc_association_authorization.go
  internal/service/route53/vpc_association_authorization_test.go
Labels: size/M, tests, service/route53

#31551 resource/aws_autoscaling_group: Ignore scaling activities from before the scaling operation started
  .changelog/31551.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
Labels: size/M, tests, service/autoscaling

#31356 Fixes S3 bucket policy for CloudTrail acceptance tests
  internal/service/cloudtrail/cloudtrail_test.go
  website/docs/r/cloudtrail.html.markdown
Labels: documentation, size/M, tests, service/cloudtrail

#31616 Remove duplicate line from RDS cluster doc
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#31608 Remove the upper bound on aws_cloudfront_distribution/origin_keepalive_timeout
  .changelog/31608.txt
  internal/service/cloudfront/distribution.go
Labels: bug, size/XS, service/cloudfront

#31547 fix: bump Grafana Workspace to 30 minutes
  .changelog/31422.txt
  internal/service/grafana/workspace.go
Labels: size/XS, timeouts, service/grafana

#31400 Added managed execution config to stacksets
  .changelog/25210.txt
  internal/service/cloudformation/stack_set.go
  internal/service/cloudformation/stack_set_test.go
  internal/service/cloudformation/wait.go
  website/docs/r/cloudformation_stack_set.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/cloudformation, partner

#31430 add resourcegroups resource
  .changelog/31430.txt
  internal/service/resourcegroups/resource.go
  internal/service/resourcegroups/resource_test.go
  internal/service/resourcegroups/service_package_gen.go
  website/docs/r/resourcegroups_resource.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/resourcegroups, generators, partner

#31480 Fix schema type for vlan_id on aws_dx_connection
  .changelog/31480.txt
  internal/service/directconnect/connection.go
  internal/service/directconnect/connection_data_source.go
  internal/service/directconnect/connection_test.go
Labels: bug, size/XS, tests, service/directconnect

#31393 r/aws_rbin_rule: Fix multiple resource tag panic
  .changelog/31393.txt
  internal/service/rbin/rule.go
  internal/service/rbin/rule_test.go
Labels: bug, crash, size/M, tests, service/rbin

#31398 r/sagemaker_endpoint_configuration - add support for serverless `provisioned_concurrency`
  .changelog/31398.txt
  internal/service/sagemaker/endpoint_configuration.go
  internal/service/sagemaker/endpoint_configuration_test.go
  website/docs/r/sagemaker_endpoint_configuration.html.markdown
Labels: enhancement, documentation, size/M, tests, service/sagemaker

#31372 F vpclattice resource policy data source
  .changelog/31372.txt
  internal/service/vpclattice/resource_policy_data_source.go
  internal/service/vpclattice/resource_policy_data_source_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/d/vpclattice_resource_policy.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, partner, service/vpclattice

#31369 r/appsync_graphql_api - add visibility argument
  .changelog/31369.txt
  internal/service/appsync/appsync_test.go
  internal/service/appsync/find.go
  internal/service/appsync/graphql_api.go
  internal/service/appsync/graphql_api_test.go
  internal/service/appsync/type.go
  internal/service/appsync/type_test.go
  website/docs/r/appsync_graphql_api.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/appsync

#31349 d/ec2_transit_gateway_route_tables: Fix example typo
  website/docs/d/ec2_transit_gateway_route_tables.html.markdown
Labels: documentation, size/XS, service/transitgateway

#31640 Fix compilation error: `cannot use acctest.ErrorCheck(t, names.VPCLatticeEndpointID) ...`
  internal/service/vpclattice/resource_policy_data_source_test.go
Labels: size/XS, tests, service/vpclattice

#26632 aws_cloudfront_distribution (docs): note about 'Use origin cache headers' work-around
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/XS, service/cloudfront

#31641 Revert `s3Config.DisableRestProtocolURICleaning` deprecation suppression
  .ci/.golangci2.yml
Labels: size/XS

#31448 New resource aws_quicksight_dashboard
  .changelog/31448.txt
  internal/service/quicksight/dashboard.go
  internal/service/quicksight/dashboard_test.go
  internal/service/quicksight/schema/dashboard.go
  internal/service/quicksight/schema/dataset.go
  internal/service/quicksight/schema/parameters.go
  internal/service/quicksight/schema/template.go
  internal/service/quicksight/schema/template_parameter.go
  internal/service/quicksight/schema/template_sheet.go
  internal/service/quicksight/service_package_gen.go
  internal/service/quicksight/status.go
  internal/service/quicksight/template.go
  internal/service/quicksight/template_test.go
  internal/service/quicksight/wait.go
  website/docs/r/quicksight_dashboard.html.markdown
Labels: documentation, size/XL, tests, service/quicksight, generators

#31424 Updated map for quicksight data set join operation
  .changelog/31424.txt
  internal/service/quicksight/data_set.go
Labels: bug, size/XS, service/quicksight

#31488 r/aws_quicksight_data_set: Ignore failure to read refresh properties for non-SPICE datasets
  .changelog/31488.txt
  internal/service/quicksight/data_set.go
Labels: size/XS, service/quicksight

#29367 F aws lambda invocation crud support
  .changelog/29367.txt
  internal/service/lambda/consts.go
  internal/service/lambda/diff.go
  internal/service/lambda/invocation.go
  internal/service/lambda/invocation_test.go
  internal/service/lambda/test-fixtures/lambda_invocation_crud.js
  internal/service/lambda/test-fixtures/lambda_invocation_crud.zip
  website/docs/r/lambda_invocation.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/lambda

#31604 r/aws_glue_data_quality_ruleset
  .changelog/31604.txt
  internal/service/glue/data_quality_ruleset.go
  internal/service/glue/data_quality_ruleset_test.go
  internal/service/glue/find.go
  internal/service/glue/service_package_gen.go
  website/docs/r/glue_data_quality_ruleset.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/glue, generators, partner

#31516 source enum validations from AWS Go SDK
  internal/service/cognitoidentity/pool_roles_attachment.go
  internal/service/configservice/organization_custom_policy_rule.go
  internal/service/configservice/organization_custom_rule.go
  internal/service/configservice/organization_managed_rule.go
  internal/service/configservice/validate.go
  internal/service/ec2/ec2_availability_zones_data_source.go
  internal/service/guardduty/ipset.go
  internal/service/guardduty/threatintelset.go
  internal/service/opensearch/domain.go
  internal/service/redshift/event_subscription.go
  internal/service/route53/health_check.go
Labels: size/M, service/ec2, service/route53, service/guardduty, service/configservice, service/redshift, service/opensearch, service/cognitoidentity

#31647 medialive/channel: fix`hls_cdn_settings` mapping
  .changelog/31647.txt
  internal/service/medialive/channel_encoder_settings_schema.go
Labels: bug, size/XS, service/medialive

#31630 ci/teamcity: Remove hanging build notifications
  .teamcity/components/service_build_config.kt
  .teamcity/settings.kts
Labels: size/XS
