Repository hashicorp/terraform-provider-aws, pull requests merged in 2023-09, with the labels that each got.

#33129 medialive/channel: add expand/flatten/docs for InputAttachment.AutomaticInputFailoverSettings.
  .changelog/33129.txt
  internal/service/medialive/channel.go
  website/docs/r/medialive_channel.html.markdown
Labels: enhancement, documentation, size/L, service/medialive, prioritized

#33263 fix r/aws_fsx_ontap_file_system - increase max iops
  .changelog/33263.txt
  internal/service/fsx/ontap_file_system.go
Labels: bug, size/XS, service/fsx

#23515 adds sync_compliance attribute to ssm_association resource, fixes #22945
  .changelog/23515.txt
  internal/service/ssm/association.go
  internal/service/ssm/association_test.go
  website/docs/r/ssm_association.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ssm, prioritized

#33280 Docs: Fix import instructions and formatting for 'aws_cloudformation_stack_set'
  website/docs/r/cloudformation_stack_set.html.markdown
  website/docs/r/cloudformation_stack_set_instance.html.markdown
Labels: documentation, size/XS, service/cloudformation

#33274 feat: added open_table_format_input attribute + tests
  .changelog/33274.txt
  internal/service/glue/catalog_table.go
  internal/service/glue/catalog_table_test.go
  website/docs/r/glue_catalog_table.html.markdown
Labels: documentation, size/L, tests, service/glue

#33282 ssm/association: attributes in alphabetical order
  internal/service/ssm/association.go
Labels: size/M, service/ssm, prioritized

#33281 r/api_gateway_api_key - add customer key and make name updateable
  .changelog/33281.txt
  internal/service/apigateway/api_key.go
  internal/service/apigateway/api_key_data_source.go
  internal/service/apigateway/api_key_data_source_test.go
  internal/service/apigateway/api_key_test.go
  website/docs/d/api_gateway_api_key.html.markdown
  website/docs/r/api_gateway_api_key.html.markdown
Labels: enhancement, documentation, tests, service/apigateway, external-maintainer

#33289 cdktf: update documentation
  website/docs/cdktf/python/d/efs_file_system.html.markdown
  website/docs/cdktf/python/d/opensearchserverless_collection.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.md
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/cloudformation_stack_set.html.markdown
  website/docs/cdktf/python/r/cloudformation_stack_set_instance.html.markdown
  website/docs/cdktf/python/r/efs_file_system.html.markdown
  website/docs/cdktf/python/r/fsx_openzfs_file_system.html.markdown
  website/docs/cdktf/python/r/glue_catalog_table.html.markdown
  website/docs/cdktf/python/r/glue_connection.html.markdown
  website/docs/cdktf/python/r/medialive_channel.html.markdown
  website/docs/cdktf/python/r/opensearchserverless_collection.html.markdown
  website/docs/cdktf/python/r/ssm_association.html.markdown
  website/docs/cdktf/python/r/waf_rule_group.html.markdown
  website/docs/cdktf/python/r/wafv2_web_acl.html.markdown
  website/docs/cdktf/typescript/d/efs_file_system.html.markdown
  website/docs/cdktf/typescript/d/opensearchserverless_collection.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.md
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/cloudformation_stack_set.html.markdown
  website/docs/cdktf/typescript/r/cloudformation_stack_set_instance.html.markdown
  website/docs/cdktf/typescript/r/efs_file_system.html.markdown
  website/docs/cdktf/typescript/r/fsx_openzfs_file_system.html.markdown
  website/docs/cdktf/typescript/r/glue_catalog_table.html.markdown
  website/docs/cdktf/typescript/r/glue_connection.html.markdown
  website/docs/cdktf/typescript/r/medialive_channel.html.markdown
  website/docs/cdktf/typescript/r/opensearchserverless_collection.html.markdown
  website/docs/cdktf/typescript/r/ssm_association.html.markdown
  website/docs/cdktf/typescript/r/waf_rule_group.html.markdown
  website/docs/cdktf/typescript/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XL, service/medialive, service/ssm, service/efs, service/waf, service/glue, service/cloudformation, service/fsx, service/wafv2, service/opensearchserverless

#33304 s3: Enable use of AWS SDK for Go v2
  .changelog/#####.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/s3/bucket_objects_data_source_test.go
  internal/service/s3/canonical_user_id_data_source.go
  internal/service/s3/canonical_user_id_data_source_test.go
  internal/service/s3/objects_data_source.go
  internal/service/s3/objects_data_source_test.go
  internal/service/s3/service_package.go
  internal/service/s3/service_package_gen.go
  names/names.go
  names/names_data.csv
  website/docs/d/s3_objects.html.markdown
Labels: documentation, size/XL, tests, service/s3, client-connections, generators, prioritized

#33279 r/api_gateway_account - fix account import + add some attributes
  .changelog/33279.txt
  internal/service/apigateway/account.go
  internal/service/apigateway/account_test.go
  website/docs/r/api_gateway_account.html.markdown
Labels: bug, enhancement, documentation, tests, service/apigateway, external-maintainer

#33303 FSx Windows acceptance tests fixes and enhancements
  .changelog/33303.txt
  internal/service/fsx/find.go
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  internal/service/fsx/ontap_file_system.go
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_file_system_test.go
  internal/service/fsx/status.go
  internal/service/fsx/wait.go
  internal/service/fsx/windows_file_system.go
  internal/service/fsx/windows_file_system_data_source.go
  internal/service/fsx/windows_file_system_data_source_test.go
  internal/service/fsx/windows_file_system_test.go
  website/docs/d/fsx_windows_file_system.html.markdown
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, size/XL, tests, service/fsx, prioritized

#33309 Correct CHANGELOG entry file name
  .changelog/33304.txt
Labels: size/XS, prioritized

#33310 r/aws_autoscaling_group: Add instance_refresh preferences
  .changelog/33310.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: enhancement, documentation, size/M, tests, service/autoscaling

#33311 identitystore: Restore `filter` argument for Group and User data sources
  .changelog/33311.txt
  internal/service/identitystore/group_data_source.go
  internal/service/identitystore/group_data_source_test.go
  internal/service/identitystore/user_data_source.go
  internal/service/identitystore/user_data_source_test.go
  website/docs/d/identitystore_group.html.markdown
  website/docs/d/identitystore_user.html.markdown
Labels: documentation, size/XL, tests, service/identitystore, prioritized

#33307 Update the example for Private CA with revocation list
  website/docs/r/acmpca_certificate_authority.html.markdown
Labels: documentation, size/XS, service/acmpca

#33317 Use new version of regexache
  go.mod
  go.sum
Labels: size/XS, prioritized

#33316 Updated aws_dms_endpoint.engine_name possible values w/ redshift-serverless
  .changelog/33316.txt
  internal/service/dms/consts.go
Labels: enhancement, size/XS, service/dms

#33315 Added RDS Custom for SQL Server example
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/S, service/rds, partner

#33318 internal/conns: switch to shared VerifyAccountIDAllowed method
  internal/conns/config.go
Labels: size/M, client-connections, prioritized

#33332 Changelog for 33317
  .changelog/33317.txt
Labels: size/XS, prioritized

#33328 Feature: AWS Shield Advanced: DRT AccessRole ARN and Access Log Bucket Associations
  .changelog/33328.txt
  internal/service/shield/drt_access_log_bucket_association.go
  internal/service/shield/drt_access_log_bucket_association_test.go
  internal/service/shield/drt_access_role_arn_association.go
  internal/service/shield/drt_access_role_arn_association_test.go
  internal/service/shield/exports_test.go
  internal/service/shield/service_package_gen.go
  website/docs/r/shield_drt_access_log_bucket_association.html.markdown
  website/docs/r/shield_drt_access_role_arn_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/shield, generators, partner

#33331 Disable module cache for `actions/setup-go` with `golangci/golangci-lint-action`
  .github/workflows/golangci-lint.yml
Labels: size/XS, repository, github_actions, prioritized

#33330 r/aws_s3_object_copy: Migrate to AWS SDK for Go v2.
  internal/service/s3/bucket_inventory.go
  internal/service/s3/bucket_logging.go
  internal/service/s3/bucket_metric.go
  internal/service/s3/bucket_notification.go
  internal/service/s3/bucket_object.go
  internal/service/s3/bucket_object_data_source.go
  internal/service/s3/bucket_object_test.go
  internal/service/s3/bucket_public_access_block.go
  internal/service/s3/bucket_replication_configuration.go
  internal/service/s3/bucket_server_side_encryption_configuration.go
  internal/service/s3/generate.go
  internal/service/s3/object.go
  internal/service/s3/object_copy.go
  internal/service/s3/object_copy_test.go
  internal/service/s3/object_data_source.go
  internal/service/s3/object_test.go
  internal/service/s3/tags.go
  internal/service/s3/tagsv2_gen.go
  internal/service/s3/wait.go
Labels: size/XL, tests, service/s3, generators, prioritized

#32243 Addressing Issue 32229 - cleaning up IAM_PATTERN properly
  .changelog/32243.txt
  internal/service/servicecatalog/find.go
  internal/service/servicecatalog/id.go
  internal/service/servicecatalog/principal_portfolio_association.go
  internal/service/servicecatalog/principal_portfolio_association_test.go
  internal/service/servicecatalog/status.go
  internal/service/servicecatalog/sweep.go
  internal/service/servicecatalog/wait.go
  website/docs/r/servicecatalog_principal_portfolio_association.html.markdown
Labels: bug, documentation, size/M, tests, service/servicecatalog, sweeper

#33314 Removes incorrect environment variables from assume role documentation
  website/docs/index.html.markdown
Labels: documentation, size/S, provider, prioritized

#33349 r/aws_iot_provisioning_template: include enabled = true in example
  website/docs/r/iot_provisioning_template.html.markdown
Labels: documentation, size/XS, service/iot

#26987 r/aws_elasticache_cluster: Add support for in-transit encryption
  .changelog/26987.txt
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/diff.go
  website/docs/r/elasticache_cluster.html.markdown
Labels: enhancement, documentation, size/M, tests, service/elasticache, prioritized

#33355 Tech debt: Use Plugin SDK v2 `Any` and `All` `Diag`-flavor validator combinators
  internal/service/acm/certificate.go
  internal/service/appflow/connector_profile.go
  internal/service/appflow/flow.go
  internal/service/codepipeline/codepipeline.go
  internal/service/eks/identity_provider_config.go
  internal/service/evidently/feature.go
  internal/service/evidently/launch.go
  internal/service/finspace/kx_cluster.go
  internal/service/servicediscovery/instance.go
  internal/verify/validate.go
Labels: size/S, service/acm, service/servicediscovery, service/codepipeline, technical-debt, service/eks, service/appflow, verify, service/evidently, service/finspace, prioritized

#33356 Fix CHANGELOG entry
  .changelog/26987.txt
Labels: size/XS, prioritized

#32234 Support for OpenSearch SoftwareUpdateOptions
  .changelog/32234.txt
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_data_source.go
  internal/service/opensearch/domain_data_source_test.go
  internal/service/opensearch/domain_test.go
  internal/service/opensearch/flex.go
  website/docs/d/opensearch_domain.html.markdown
  website/docs/r/opensearch_domain.html.markdown
Labels: enhancement, size/M, service/opensearch, prioritized

#33361 skaff mod tidy
  skaff/go.mod
  skaff/go.sum
Labels: size/XS, skaff, prioritized

#33336 Added pagination support to DescribeFileSystems in EFS
  .changelog/33336.txt
  internal/service/efs/file_system.go
  internal/service/efs/file_system_data_source.go
  internal/service/efs/file_system_data_source_test.go
Labels: bug, size/XS, service/efs

#33374 r/aws_glue_catalog_table: Fix removal of Parameters when updating Iceberg table
  .changelog/33374.txt
  internal/service/glue/catalog_table.go
  internal/service/glue/catalog_table_test.go
  internal/service/glue/find.go
Labels: size/L, tests, service/glue, prioritized

#33369 r/aws_db_instance_automated_backups_replication: Guard against status code capitalization changes
  .changelog/33369.txt
  internal/service/rds/instance_automated_backups_replication.go
Labels: bug, size/XS, service/rds, prioritized

#33378 Correct CHANGELOG entry
  .changelog/33369.txt
Labels: size/XS, prioritized

#33379 Next release is `v5.16.1`
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#33371 Fix validation for `servicediscovery` etc.
  .changelog/33371.txt
  internal/service/athena/workgroup.go
  internal/service/datasync/task.go
  internal/service/ec2/ec2_spot_fleet_request_test.go
  internal/service/ec2/ipam_pool_cidr_allocation_test.go
  internal/service/elbv2/listener_rule.go
  internal/service/events/target.go
  internal/service/evidently/feature.go
  internal/service/evidently/launch.go
  internal/service/imagebuilder/image_pipeline.go
  internal/service/servicediscovery/instance.go
  internal/service/shield/drt_access_role_arn_association.go
Labels: size/S, tests, service/ec2, service/elbv2, service/athena, service/servicediscovery, service/shield, service/datasync, service/imagebuilder, service/events, service/ipam, service/evidently, prioritized

#33392 cdktf: update documentation
  website/docs/cdktf/python/d/api_gateway_api_key.html.markdown
  website/docs/cdktf/python/d/fsx_windows_file_system.html.markdown
  website/docs/cdktf/python/d/identitystore_group.html.markdown
  website/docs/cdktf/python/d/identitystore_user.html.markdown
  website/docs/cdktf/python/d/lambda_function_url.html.markdown
  website/docs/cdktf/python/d/opensearch_domain.html.markdown
  website/docs/cdktf/python/d/s3_objects.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/acmpca_certificate_authority.html.markdown
  website/docs/cdktf/python/r/api_gateway_account.html.markdown
  website/docs/cdktf/python/r/api_gateway_api_key.html.markdown
  website/docs/cdktf/python/r/autoscaling_group.html.markdown
  website/docs/cdktf/python/r/db_instance.html.markdown
  website/docs/cdktf/python/r/elasticache_cluster.html.markdown
  website/docs/cdktf/python/r/fsx_windows_file_system.html.markdown
  website/docs/cdktf/python/r/iot_provisioning_template.html.markdown
  website/docs/cdktf/python/r/opensearch_domain.html.markdown
  website/docs/cdktf/python/r/servicecatalog_principal_portfolio_association.html.markdown
  website/docs/cdktf/python/r/shield_drt_access_log_bucket_association.html.markdown
  website/docs/cdktf/python/r/shield_drt_access_role_arn_association.html.markdown
  website/docs/cdktf/typescript/d/api_gateway_api_key.html.markdown
  website/docs/cdktf/typescript/d/fsx_windows_file_system.html.markdown
  website/docs/cdktf/typescript/d/identitystore_group.html.markdown
  website/docs/cdktf/typescript/d/identitystore_user.html.markdown
  website/docs/cdktf/typescript/d/lambda_function_url.html.markdown
  website/docs/cdktf/typescript/d/opensearch_domain.html.markdown
  website/docs/cdktf/typescript/d/s3_objects.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/acmpca_certificate_authority.html.markdown
  website/docs/cdktf/typescript/r/api_gateway_account.html.markdown
  website/docs/cdktf/typescript/r/api_gateway_api_key.html.markdown
  website/docs/cdktf/typescript/r/autoscaling_group.html.markdown
  website/docs/cdktf/typescript/r/db_instance.html.markdown
  website/docs/cdktf/typescript/r/elasticache_cluster.html.markdown
  website/docs/cdktf/typescript/r/fsx_windows_file_system.html.markdown
  website/docs/cdktf/typescript/r/iot_provisioning_template.html.markdown
  website/docs/cdktf/typescript/r/opensearch_domain.html.markdown
  website/docs/cdktf/typescript/r/servicecatalog_principal_portfolio_association.html.markdown
  website/docs/cdktf/typescript/r/shield_drt_access_log_bucket_association.html.markdown
  website/docs/cdktf/typescript/r/shield_drt_access_role_arn_association.html.markdown
Labels: documentation, service/lambda, service/s3, service/apigateway, service/rds, service/autoscaling, service/shield, service/servicecatalog, service/elasticache, service/iot, service/acmpca, service/fsx, service/identitystore, service/opensearch

#33195 F verified access trust provider
  .changelog/33195.txt
  .github/labeler-pr-triage.yml
  internal/service/ec2/errors.go
  internal/service/ec2/find.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/verifiedaccess_trust_provider.go
  internal/service/ec2/verifiedaccess_trust_provider_test.go
  names/names_data.csv
  website/docs/r/verifiedaccess_trust_provider.html.markdown
Labels: documentation, new-resource, size/XL, tests, repository, generators, github_actions, new-service, partner, service/verifiedaccess

#33380 r/aws_iot_topic_rule: Fix `InvalidParameter` errors on Update with Kafka destinations
  .changelog/33360.txt
  internal/service/iot/topic_rule.go
  internal/service/iot/topic_rule_test.go
Labels: size/XL, tests, service/iot, prioritized

#33388 f/aws_s3control_object_lambda_access_point: add alias attribute to s3 object lambda
  .changelog/33388.txt
  internal/service/s3control/object_lambda_access_point.go
  internal/service/s3control/object_lambda_access_point_test.go
  website/docs/r/s3control_object_lambda_access_point.html.markdown
Labels: documentation, size/S, tests, service/s3control

#33382 Fix: Setting default values for scale_in_protected_instances and standby_instances as per documentation
  .changelog/33382.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: bug, size/XS, service/autoscaling, prioritized

#33405 lightsail: Fix regex name validation
  .changelog/33405.txt
  internal/service/lightsail/certificate.go
  internal/service/lightsail/database.go
  internal/service/lightsail/disk.go
  internal/service/lightsail/instance.go
  internal/service/lightsail/lb.go
  internal/service/lightsail/lb_attachment.go
  internal/service/lightsail/lb_certificate.go
  internal/service/lightsail/lb_certificate_attachment.go
  internal/service/lightsail/lb_https_redirection_policy.go
  internal/service/lightsail/lb_stickiness_policy.go
Labels: size/M, service/lightsail, prioritized

#33409 Add point release
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#33414 Fix markdown-link checks and Lex V2 in names
  .ci/.markdownlinkcheck.json
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .ci/scripts/markdown-link-check.sh
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  docs/prioritization.md
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/generate/customends/main.go
  internal/provider/service_packages_gen.go
  internal/service/lexv2models/generate.go
  internal/service/lexv2models/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/names_data.csv
  website/allowed-subcategories.txt
  website/docs/d/kms_secret.html.markdown
  website/docs/guides/custom-service-endpoints.html.markdown
  website/docs/guides/version-4-upgrade.html.markdown
Labels: documentation, size/XL, tests, service/kms, provider, linter, sweeper, repository, client-connections, generators, github_actions, prioritized

#33358 r/aws_s3_object: Migrate to AWS SDK for Go v2
  .changelog/33358.txt
  go.mod
  go.sum
  internal/conns/awsclient.go
  internal/service/s3/bucket_object.go
  internal/service/s3/bucket_object_data_source_test.go
  internal/service/s3/bucket_object_test.go
  internal/service/s3/delete_test.go
  internal/service/s3/errors.go
  internal/service/s3/exports_test.go
  internal/service/s3/object.go
  internal/service/s3/object_copy.go
  internal/service/s3/object_copy_test.go
  internal/service/s3/object_data_source.go
  internal/service/s3/object_data_source_test.go
  internal/service/s3/object_test.go
  internal/service/s3/sweep.go
  internal/service/s3/tags.go
  website/docs/d/s3_object.html.markdown
  website/docs/r/s3_object.html.markdown
  website/docs/r/s3_object_copy.html.markdown
Labels: documentation, size/XL, tests, service/s3, sweeper, client-connections, prioritized

#33416 Tech debt: Migrate (more) `s3control` resources to AWS SDK for Go v2
  .changelog/33416.txt
  internal/service/codestarnotifications/notification_rule.go
  internal/service/ec2/vpc_.go
  internal/service/s3control/access_point.go
  internal/service/s3control/access_point_policy.go
  internal/service/s3control/access_point_policy_test.go
  internal/service/s3control/access_point_test.go
  internal/service/s3control/account_public_access_block.go
  internal/service/s3control/account_public_access_block_data_source.go
  internal/service/s3control/account_public_access_block_data_source_test.go
  internal/service/s3control/account_public_access_block_test.go
  internal/service/s3control/bucket.go
  internal/service/s3control/bucket_lifecycle_configuration.go
  internal/service/s3control/bucket_lifecycle_configuration_test.go
  internal/service/s3control/bucket_policy.go
  internal/service/s3control/bucket_policy_test.go
  internal/service/s3control/bucket_test.go
  internal/service/s3control/consts.go
  internal/service/s3control/exports_test.go
  internal/service/s3control/generate.go
  internal/service/s3control/multi_region_access_point.go
  internal/service/s3control/multi_region_access_point_data_source.go
  internal/service/s3control/multi_region_access_point_data_source_test.go
  internal/service/s3control/multi_region_access_point_policy.go
  internal/service/s3control/multi_region_access_point_policy_test.go
  internal/service/s3control/multi_region_access_point_test.go
  internal/service/s3control/object_lambda_access_point.go
  internal/service/s3control/object_lambda_access_point_policy.go
  internal/service/s3control/object_lambda_access_point_policy_test.go
  internal/service/s3control/object_lambda_access_point_test.go
  internal/service/s3control/storage_lens_configuration.go
  internal/service/s3control/storage_lens_configuration_test.go
  internal/service/s3control/sweep.go
  internal/service/s3control/tags_gen.go
  internal/tfresource/retry.go
  names/names.go
  website/docs/d/s3control_multi_region_access_point.html.markdown
  website/docs/r/s3control_multi_region_access_point.html.markdown
Labels: documentation, size/XL, tests, service/s3control, service/codestarnotifications, sweeper, tags, generators, service/vpc, prioritized

#33391 Add Import section for AWS Clean Rooms collaboration documentation
  website/docs/r/cleanrooms_collaboration.html.markdown
Labels: documentation, size/S, service/cleanrooms

#33415 F aws transfer connector
  .changelog/32741.txt
  internal/service/transfer/connector.go
  internal/service/transfer/connector_test.go
  website/docs/r/transfer_connector.html.markdown
Labels: enhancement, documentation, size/L, tests, service/transfer, partner, prioritized

#33431 r/aws_s3_bucket_policy at al.: Migrate to AWS SDK for Go v2
  internal/conns/awsclient.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_accelerate_configuration.go
  internal/service/s3/bucket_accelerate_configuration_test.go
  internal/service/s3/bucket_policy.go
  internal/service/s3/bucket_policy_data_source.go
  internal/service/s3/bucket_policy_data_source_test.go
  internal/service/s3/bucket_policy_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_versioning.go
  internal/service/s3/bucket_versioning_test.go
  internal/service/s3/delete.go
  internal/service/s3/delete_test.go
  internal/service/s3/enum.go
  internal/service/s3/errors.go
  internal/service/s3/exports_test.go
  internal/service/s3/object.go
  internal/service/s3/status.go
  internal/service/s3/wait.go
  internal/slices/slices.go
  internal/slices/slices_test.go
Labels: size/XL, tests, service/s3, client-connections, prioritized

#33448 aws_servicecatalog_product: import latest `provisioning_artifact_parameters`
  .changelog/33448.txt
  internal/service/servicecatalog/find.go
  internal/service/servicecatalog/product.go
  internal/service/servicecatalog/product_test.go
Labels: bug, size/M, tests, service/servicecatalog, prioritized

#33413 r/neptune_cluster: fix ignored kms key on snapshot restore #15240.
  .changelog/33413.txt
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_test.go
Labels: bug, size/S, tests, service/neptune, partner, prioritized

#33432 Feature - AWS Shield Advanced - Application Layer Automatic Response
  .changelog/33432.txt
  internal/acctest/acctest.go
  internal/service/shield/application_layer_automatic_response.go
  internal/service/shield/application_layer_automatic_response_test.go
  internal/service/shield/exports_test.go
  internal/service/shield/service_package_gen.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/shield_application_layer_automatic_response.html.markdown
Labels: documentation, size/XL, tests, service/shield, service/wafv2, generators, partner, prioritized

#33452 r/aws_s3_bucket: Migrate `FindBucket` to AWS SDK for Go v2
  internal/service/s3/bucket.go
  internal/service/s3/bucket_test.go
  internal/service/s3/exports_test.go
Labels: size/S, tests, service/s3, prioritized

#33456 aws_dms_replication_task: allow removal of replication_task_settings
  .changelog/33456.txt
  internal/service/dms/replication_task.go
Labels: bug, size/XS, service/dms

#33457 Generate tags
  internal/service/lexv2models/generate.go
  internal/service/lexv2models/tags_gen.go
Labels: size/M, tags, generators, prioritized, service/lexv2models

#33451 r/aws_elasticache_cluster: fix transit_encryption_enabled for redis
  .changelog/33451.txt
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/diff.go
Labels: size/M, tests, service/elasticache, prioritized

#33442 feat(aws_schemas_schema): add JSON Schema support
  .changelog/35971.txt
  internal/service/schemas/schema.go
  internal/service/schemas/schema_test.go
  website/docs/r/schemas_schema.html.markdown
Labels: enhancement, documentation, size/M, tests, service/schemas

#33477 Marking dkim signing key as sensitive
  .changelog/33477.txt
  internal/service/sesv2/email_identity.go
  internal/service/sesv2/email_identity_data_source.go
  website/docs/r/sesv2_email_identity.html.markdown
Labels: documentation, size/XS, service/sesv2, prioritized

#33485 Add sanity TeamCity job
  .teamcity/scripts/oneliners.txt
  .teamcity/scripts/sanity.sh
  .teamcity/settings.kts
Labels: size/L, prioritized

#33486 Add sanity buildType
  .teamcity/settings.kts
Labels: size/XS, prioritized

#33488 Add write lock to TC sanity
  .teamcity/settings.kts
Labels: size/XS, prioritized

#33491 teamcity/sanity: No log
  .teamcity/scripts/sanity.sh
Labels: size/XS, prioritized

#33493 Sanity job fix
  .teamcity/scripts/sanity.sh
Labels: size/XS, prioritized

#33494 Change sanity job notification settings
  .teamcity/settings.kts
Labels: size/XS, prioritized

#33497 teamcity/sanity: Handle text file busy
  .teamcity/scripts/sanity.sh
Labels: size/M, prioritized

#33498 teamcity/sanity: Fix bug in reporting status
  .teamcity/scripts/sanity.sh
Labels: size/XS, prioritized

#33499 teamcity/sanity: Fix
  .teamcity/scripts/oneliners.txt
  .teamcity/scripts/sanity.sh
Labels: size/S, prioritized

#33489 improve WAFv2 Web ACL Association documentation
  website/docs/r/wafv2_web_acl_association.html.markdown
Labels: documentation, size/XS, service/wafv2

#33511 rds/option_group: Fix bad diffs with version and port
  .changelog/33511.txt
  internal/service/rds/flex.go
  internal/service/rds/option_group_test.go
  website/docs/r/db_option_group.html.markdown
Labels: size/L, tests, service/rds, prioritized

#33513 Fix destination argument description
  website/docs/r/ec2_network_insights_path.html.markdown
Labels: documentation, size/XS, service/vpc

#33496 t/aws-mq-update-tests-for-rabbitmq-configuration
  internal/service/mq/broker_test.go
  internal/service/mq/configuration_test.go
  website/docs/r/mq_broker.html.markdown
  website/docs/r/mq_configuration.html.markdown
Labels: documentation, size/L, tests, service/mq, prioritized

#33466 r/aws_fsx_ontap_storage_virtual_machine: In-place update of all `active_directory_configuration` attributes
  .changelog/33466.txt
  internal/service/athena/sweep.go
  internal/service/cloudformation/sweep.go
  internal/service/codestarconnections/sweep.go
  internal/service/cur/sweep.go
  internal/service/fsx/find.go
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  internal/service/fsx/ontap_file_system.go
  internal/service/fsx/ontap_file_system_test.go
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/service/fsx/ontap_storage_virtual_machine_migrate.go
  internal/service/fsx/ontap_storage_virtual_machine_migrate_test.go
  internal/service/fsx/ontap_storage_virtual_machine_test.go
  internal/service/fsx/service_package_gen.go
  internal/service/fsx/status.go
  internal/service/fsx/sweep.go
  internal/service/fsx/wait.go
  internal/service/fsx/windows_file_system.go
  internal/service/fsx/windows_file_system_test.go
  internal/service/kms/sweep.go
  internal/service/logs/group.go
  internal/service/quicksight/sweep.go
  internal/service/ssm/patch_group.go
  internal/service/ssm/sweep.go
  internal/sweep/awsv1/skip.go
  names/names.go
Labels: size/XL, tests, service/athena, service/ssm, service/kms, service/cloudformation, service/fsx, service/quicksight, service/codestarconnections, sweeper, generators, service/logs, service/cur, prioritized

#33022 [Docs]: Config and example content for content tabs
  docs/README.md
  docs/add-a-new-service.md
  mkdocs.yml
Labels: documentation, size/L, prioritized

#33529 rds/instance: Fix ability to change storage IOPS, throughput
  .changelog/33529.txt
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
Labels: size/L, tests, service/rds, prioritized

#33519 Use AWS SDK for Go v2 for mediaconnect service.
  .github/labeler-pr-triage.yml
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/mediaconnect/README.md
  internal/service/mediaconnect/generate.go
  internal/service/mediaconnect/service_package_gen.go
  internal/service/mediaconnect/tags_gen.go
  names/names_data.csv
Labels: documentation, size/M, service/mediaconnect, tags, repository, client-connections, generators, github_actions, prioritized

#33528 docs(docs/ami.html.markdown): remove duplicate attribute
  website/docs/r/ami.html.markdown
Labels: documentation, size/XS, service/ec2

#32503 [New Data Source]: `aws_fsx_ontap_file_system`
  .changelog/32503.txt
  internal/service/fsx/ontap_file_system_data_source.go
  internal/service/fsx/ontap_file_system_data_source_test.go
  internal/service/fsx/service_package_gen.go
  website/docs/d/fsx_ontap_file_system.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/fsx, generators

#33538 teamcity/performance: Fix script
  .teamcity/scripts/performance.sh
  GNUmakefile
Labels: size/XS, prioritized

#33408 Add org unit data source
  .changelog/33408.txt
  internal/service/organizations/organizational_unit_data_source.go
  internal/service/organizations/organizational_unit_data_source_test.go
  internal/service/organizations/organizational_unit_descendant_accounts_data_source.go
  internal/service/organizations/organizational_units_data_source.go
  internal/service/organizations/organizations_test.go
  internal/service/organizations/service_package_gen.go
  website/docs/cdktf/python/r/organizations_organizational_unit.html.markdown
  website/docs/cdktf/typescript/r/organizations_organizational_unit.html.markdown
  website/docs/d/organizations_organizational_unit.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/organizations, generators

#32621 [New Data Source] `fsx_ontap_storage_virtual_machine`
  .changelog/32621.txt
  internal/service/fsx/common_schema_data_source.go
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/service/fsx/ontap_storage_virtual_machine_data_source.go
  internal/service/fsx/ontap_storage_virtual_machine_data_source_test.go
  internal/service/fsx/service_package_gen.go
  website/docs/d/fsx_ontap_storage_virtual_machine.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/fsx, generators

#33549 teamcity/sanity: Avoid double message
  .teamcity/settings.kts
Labels: size/XS, prioritized

#32624 [New Data Source] `fsx_ontap_storage_virtual_machines`
  .changelog/32624.txt
  internal/service/fsx/ontap_storage_virtual_machine_data_source.go
  internal/service/fsx/ontap_storage_virtual_machines_data_source.go
  internal/service/fsx/ontap_storage_virtual_machines_data_source_test.go
  internal/service/fsx/service_package_gen.go
  website/docs/d/fsx_ontap_storage_virtual_machines.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/fsx, generators

#33571 Tech debt: Various sweeper fixes
  internal/service/codestarconnections/sweep.go
  internal/service/codestarnotifications/sweep.go
  internal/service/elasticsearch/sweep.go
  internal/service/emrserverless/sweep.go
  internal/service/iam/sweep.go
  internal/service/opensearch/inbound_connection_accepter.go
  internal/service/opensearch/outbound_connection.go
  internal/service/opensearch/sweep.go
  internal/service/quicksight/sweep.go
  internal/service/route53/sweep.go
  internal/service/s3control/sweep.go
  names/names.go
Labels: size/L, service/iam, service/route53, service/elasticsearch, service/s3control, service/quicksight, service/codestarnotifications, service/codestarconnections, sweeper, service/opensearch, service/emrserverless, prioritized

#33531 S3 bucket resources retry delete on `conflicting conditional operation` errors
  .changelog/33531.txt
  internal/conns/apiretry.go
  internal/conns/apiretry_test.go
  internal/service/s3/bucket_object_data_source_test.go
  internal/service/s3/service_package.go
Labels: size/M, tests, service/s3, client-connections, prioritized

#33579 Update vpclattice_target_group resource docs
  website/docs/r/vpclattice_target_group.html.markdown
Labels: documentation, service/vpclattice

#33581 Update port description in vpclattice_target_group_attachment docs
  website/docs/r/vpclattice_target_group_attachment.html.markdown
Labels: documentation, size/XS, service/vpclattice

#32908 [New Resource] DMS Serverless Replication resource
  .changelog/32908.txt
  internal/service/dms/consts.go
  internal/service/dms/replication_config.go
  internal/service/dms/replication_config_test.go
  internal/service/dms/service_package_gen.go
  website/docs/r/dms_replication_config.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/dms, prioritized

#33537 r/aws_s3_bucket_website_configuration et al.: Migrate to AWS SDK for Go v2
  .changelog/33537.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_accelerate_configuration.go
  internal/service/s3/bucket_acl.go
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_analytics_configuration.go
  internal/service/s3/bucket_analytics_configuration_test.go
  internal/service/s3/bucket_cors_configuration.go
  internal/service/s3/bucket_cors_configuration_test.go
  internal/service/s3/bucket_metric.go
  internal/service/s3/bucket_object_lock_configuration.go
  internal/service/s3/bucket_object_lock_configuration_test.go
  internal/service/s3/bucket_policy.go
  internal/service/s3/bucket_server_side_encryption_configuration.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  internal/service/s3/bucket_versioning.go
  internal/service/s3/bucket_website_configuration.go
  internal/service/s3/bucket_website_configuration_test.go
  internal/service/s3/errors.go
  internal/service/s3/exports_test.go
  internal/service/s3/sweep.go
Labels: bug, size/XL, tests, service/s3, sweeper, prioritized

#33591 (doc) aws_connect_instance_storage_config : fix enums fixes #33589
  website/docs/cdktf/python/d/connect_instance_storage_config.html.markdown
  website/docs/cdktf/python/r/connect_instance_storage_config.html.markdown
  website/docs/d/connect_instance_storage_config.html.markdown
  website/docs/r/connect_instance_storage_config.html.markdown
Labels: documentation, size/XS, service/connect

#33590 docs(route53-dnssec): Improve documentation for route53 dnssec resources
  website/docs/r/route53_hosted_zone_dnssec.html.markdown
Labels: documentation, size/XS, service/route53

#33592 Tech debt: Various sweeper fixes
  internal/service/appstream/sweep.go
  internal/service/cloudformation/stack_set_instance.go
  internal/service/cloudformation/sweep.go
  internal/service/cloudformation/wait.go
  internal/service/ds/sweep.go
  internal/service/kafka/sweep.go
  internal/service/opensearchserverless/sweep.go
  internal/service/servicecatalog/sweep.go
  internal/service/servicecatalog/wait.go
  names/names.go
Labels: size/L, service/servicecatalog, service/cloudformation, service/appstream, service/kafka, sweeper, service/ds, service/opensearchserverless, prioritized

#33600 Fix typo in docs of `vpclattice_service` data source
  website/docs/d/vpclattice_service.html.markdown
Labels: documentation, size/XS, service/vpclattice

#33599 Fix data source docs of vpclattice_service_network
  website/docs/d/vpclattice_service_network.html.markdown
Labels: documentation, size/XS, service/vpclattice

#33597 Fix vpclattice_listener_rule resource docs
  website/docs/r/vpclattice_listener_rule.html.markdown
Labels: documentation, size/XS, service/vpclattice

#33586 [enhancement]: r/aws_lightsail_bucket: add force_delete attr for lightsail s3 bucket
  .changelog/33586.txt
  internal/service/lightsail/bucket.go
  internal/service/lightsail/bucket_test.go
  website/docs/r/lightsail_bucket.html.markdown
Labels: documentation, size/M, tests, service/lightsail

#32990 Add connection_mode field to OpenSearch outbound connection resource
  .changelog/32990.txt
  internal/service/opensearch/inbound_connection_accepter.go
  internal/service/opensearch/outbound_connection.go
  internal/service/opensearch/outbound_connection_test.go
  website/docs/r/opensearch_inbound_connection_accepter.html.markdown
  website/docs/r/opensearch_outbound_connection.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/opensearch

#33629 doc(cdktf): remove duplicate .html.md extensions
  website/docs/cdktf/python/guides/continuous-validation-examples.html.md
  website/docs/cdktf/python/guides/custom-service-endpoints.html.md
  website/docs/cdktf/python/guides/resource-tagging.html.md
  website/docs/cdktf/python/guides/using-aws-with-awscc-provider.html.md
  website/docs/cdktf/python/guides/version-2-upgrade.html.md
  website/docs/cdktf/python/guides/version-3-upgrade.html.md
  website/docs/cdktf/python/guides/version-4-upgrade.html.md
  website/docs/cdktf/python/guides/version-5-upgrade.html.md
  website/docs/cdktf/typescript/guides/continuous-validation-examples.html.md
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.md
  website/docs/cdktf/typescript/guides/resource-tagging.html.md
  website/docs/cdktf/typescript/guides/using-aws-with-awscc-provider.html.md
  website/docs/cdktf/typescript/guides/version-2-upgrade.html.md
  website/docs/cdktf/typescript/guides/version-3-upgrade.html.md
  website/docs/cdktf/typescript/guides/version-4-upgrade.html.md
  website/docs/cdktf/typescript/guides/version-5-upgrade.html.md
Labels: documentation, size/XL, prioritized

#33594 [enhancement] r/aws_wafv2_{web_acl, rule_group}: Add custom keys aggregate on Rate based rules
  .changelog/33594.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/rule_group_test.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: size/XL, tests, service/wafv2

#33627 r/aws_fsx_ontap_volume: Set `bypass_snaplock_enterprise_retention` in sweeper
  internal/service/fsx/sweep.go
Labels: size/XS, service/fsx, sweeper, prioritized

#33630 Prepare 5.18.1 release
  .changelog/33630.txt
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#33615 sweeper/aws_quicksight_vpc_connection: Ignores error when account not configured for QuickSight
  internal/service/quicksight/sweep.go
Labels: size/XS, service/quicksight, sweeper, prioritized

#33614 sweeper/aws_servicecatalog_provisioning_artifact: Fix sweeper
  internal/service/servicecatalog/sweep.go
Labels: size/XS, service/servicecatalog, sweeper, prioritized

#33285 RDS custom engine version (CEV)
  .changelog/33285.txt
  internal/service/rds/custom_db_engine_version.go
  internal/service/rds/custom_db_engine_version_test.go
  internal/service/rds/service_package_gen.go
  internal/service/rds/test-fixtures/custom-oracle-manifest.json
  website/docs/r/rds_custom_db_engine_version.markdown
Labels: documentation, new-resource, size/XL, tests, service/rds, generators, partner, prioritized

#33570 [Enhancement]: Check for duplicate keys in IAM policy JSON arguments
  .changelog/33570.txt
  go.mod
  go.sum
  internal/conns/config.go
  internal/service/iam/policy_test.go
  internal/service/iam/role.go
  internal/service/iam/role_test.go
  internal/verify/validate.go
  internal/verify/validate_test.go
Labels: size/M, tests, service/iam, client-connections, verify, prioritized

#33643 Refine docs for aws_sns_alias resource
  website/docs/r/sfn_alias.html.markdown
Labels: documentation, size/XS, service/sfn

#33646 Merge `release/5.18.x` changes to `main`
  .changelog/33630.txt
  CHANGELOG.md
Labels: documentation, size/XL, provider, prioritized

#33578 aws_cloudfront_distribution: IllegalUpdate test
  internal/service/cloudfront/continuous_deployment_policy.go
  internal/service/cloudfront/continuous_deployment_policy_test.go
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_configuration_structure.go
  internal/service/cloudfront/distribution_test.go
  internal/service/cloudfront/sweep.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/XL, tests, service/cloudfront, sweeper, prioritized

#33657 r/aws_quicksight_vpc_connection: Fix sweeper in US GovCloud
  internal/service/quicksight/sweep.go
Labels: service/quicksight, sweeper, prioritized

#33658 cloudfront/sweep: Fix warn message
  .changelog/30482.txt
  .changelog/30965.txt
  .changelog/33442.txt
  .changelog/33578.txt
  CHANGELOG.md
  internal/service/cloudfront/sweep.go
Labels: size/XS, service/cloudfront, sweeper, prioritized

#33593 r/aws_s3_bucket_intelligent_tiering_configuration et al.: Migrate to AWS SDK for Go v2
  internal/conns/awsclient.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_accelerate_configuration.go
  internal/service/s3/bucket_acl.go
  internal/service/s3/bucket_data_source.go
  internal/service/s3/bucket_data_source_test.go
  internal/service/s3/bucket_intelligent_tiering_configuration.go
  internal/service/s3/bucket_intelligent_tiering_configuration_test.go
  internal/service/s3/bucket_inventory.go
  internal/service/s3/bucket_inventory_test.go
  internal/service/s3/bucket_logging.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_metric.go
  internal/service/s3/bucket_metric_test.go
  internal/service/s3/bucket_notification.go
  internal/service/s3/bucket_notification_test.go
  internal/service/s3/bucket_object.go
  internal/service/s3/bucket_object_data_source.go
  internal/service/s3/bucket_object_data_source_test.go
  internal/service/s3/bucket_object_test.go
  internal/service/s3/bucket_objects_data_source.go
  internal/service/s3/bucket_objects_data_source_test.go
  internal/service/s3/bucket_ownership_controls.go
  internal/service/s3/bucket_ownership_controls_test.go
  internal/service/s3/bucket_request_payment_configuration.go
  internal/service/s3/bucket_request_payment_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/enum.go
  internal/service/s3/errors.go
  internal/service/s3/exports_test.go
  internal/service/s3/object_data_source_test.go
  internal/service/s3/tags.go
  internal/service/s3/wait.go
Labels: size/XL, tests, service/s3, client-connections, prioritized

#33660 S3 Object `metadata` keys are returned in lowercase
  .changelog/33660.txt
  website/docs/d/s3_bucket_object.html.markdown
  website/docs/d/s3_object.html.markdown
Labels: documentation, size/XS, service/s3, prioritized

#33602 Add Clean Rooms Configured Table resource
  .changelog/33602.txt
  examples/cleanrooms/main.tf
  internal/service/cleanrooms/configured_table.go
  internal/service/cleanrooms/configured_table_test.go
  internal/service/cleanrooms/service_package_gen.go
  website/docs/r/cleanrooms_configured_table.html.markdown
Labels: documentation, new-resource, tests, examples, generators, service/cleanrooms

#33577 resource/aws_batch_job_queue: Require ARN for `compute_environments` elements
  .changelog/33577.txt
  internal/service/batch/job_queue.go
  internal/service/batch/job_queue_test.go
  website/docs/r/batch_job_queue.html.markdown
Labels: documentation, size/M, tests, service/batch, prioritized

#33663 sweeper/aws_cloudfront_distribution: Fixes infinite loop
  internal/service/cloudfront/sweep.go
Labels: size/XS, service/cloudfront, sweeper, prioritized

#33475 Bot Resource for lexv2
  .changelog/33475.txt
  internal/framework/flex/int.go
  internal/framework/flex/int_test.go
  internal/service/lexv2models/bot.go
  internal/service/lexv2models/bot_test.go
  internal/service/lexv2models/exports_test.go
  internal/service/lexv2models/service_package_gen.go
  names/names.go
  website/docs/r/lexv2models_bot.html.markdown
Labels: documentation, size/XL, tests, generators, prioritized, service/lexv2models

#33662 Add Ubuntu 22.04 to Cloud9 ec2 options
  .changelog/33662.txt
  internal/service/cloud9/environment_ec2.go
  internal/service/cloud9/environment_ec2_test.go
  website/docs/r/cloud9_environment_ec2.html.markdown
Labels: documentation, size/XS, service/cloud9

#33641 aws_datasync_location_fsx_ontap_file_system: fix missing fields in smb
  .changelog/33641.txt
  internal/service/datasync/common_fsx_protocol_functions.go
  internal/service/datasync/location_fsx_ontap_file_system.go
  internal/service/datasync/location_fsx_ontap_file_system_test.go
Labels: bug, size/XS, service/datasync

#33675 cloudfront/distribution: Sweeper infinite loop
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/sweep.go
Labels: size/M, service/cloudfront, sweeper, prioritized

#33677 r/aws_s3_object: Test access through a multi-region access point
  internal/service/s3control/multi_region_access_point_test.go
Labels: size/M, tests, service/s3control, prioritized

#33685 Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#31463 Support for features in GuardDuty Detector
  .changelog/21030.txt
  .changelog/31463.txt
  internal/service/guardduty/detector.go
  internal/service/guardduty/detector_data_source.go
  internal/service/guardduty/detector_data_source_test.go
  internal/service/guardduty/detector_feature.go
  internal/service/guardduty/detector_feature_test.go
  internal/service/guardduty/detector_test.go
  internal/service/guardduty/filter.go
  internal/service/guardduty/filter_test.go
  internal/service/guardduty/finding_ids_data_source_test.go
  internal/service/guardduty/guardduty_test.go
  internal/service/guardduty/invite_accepter_test.go
  internal/service/guardduty/ipset_test.go
  internal/service/guardduty/member_test.go
  internal/service/guardduty/organization_admin_account_test.go
  internal/service/guardduty/organization_configuration_test.go
  internal/service/guardduty/publishing_destination_test.go
  internal/service/guardduty/service_package_gen.go
  internal/service/guardduty/threatintelset_test.go
  website/docs/d/guardduty_detector.html.markdown
  website/docs/r/guardduty_detector.html.markdown
  website/docs/r/guardduty_detector_feature.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, service/guardduty, generators, prioritized

#33656 aws_servicequotas: update to aws sdk v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/servicequotas/acc_test.go
  internal/service/servicequotas/find.go
  internal/service/servicequotas/service_data_source.go
  internal/service/servicequotas/service_data_source_test.go
  internal/service/servicequotas/service_package_gen.go
  internal/service/servicequotas/service_quota.go
  internal/service/servicequotas/service_quota_data_source.go
  internal/service/servicequotas/service_quota_data_source_test.go
  internal/service/servicequotas/service_quota_test.go
  names/names.go
  names/names_data.csv
Labels: size/L, tests, service/servicequotas, client-connections, generators, prioritized

#33664 D-fix documentation typos and grammars mistakes
  docs/terraform-plugin-versions.md
Labels: documentation, size/XS, needs-triage, prioritized
