Repository hashicorp/terraform-provider-aws, pull requests merged in 2024-03, with the labels that each got.

#36041 docs: Refer to AWS doc for allocation_strategy valid values for aws_batch_compute_environment
  website/docs/r/batch_compute_environment.html.markdown
Labels: documentation, size/XS, service/batch

#36059 td/elasticbeanstalk: fix multiple tests in service
  internal/service/elasticbeanstalk/configuration_template.go
  internal/service/elasticbeanstalk/configuration_template_test.go
  internal/service/elasticbeanstalk/environment.go
  internal/service/elasticbeanstalk/environment_test.go
Labels: size/S, tests, service/elasticbeanstalk, prioritized

#36073 tfsdk2fw: go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#35902 resource/aws_s3_object_copy: Fixes acceptance test
  internal/service/s3/object_copy_test.go
Labels: size/XS, tests, service/s3, prioritized

#35710 Allow empty values for tags for S3 resources
  .changelog/35710.txt
  internal/service/ec2/vpc_test.go
  internal/service/elbv2/load_balancer_test.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_object.go
  internal/service/s3/bucket_object_data_source.go
  internal/service/s3/bucket_object_data_source_test.go
  internal/service/s3/bucket_object_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/errors.go
  internal/service/s3/object.go
  internal/service/s3/object_arn.go
  internal/service/s3/object_arn_test.go
  internal/service/s3/object_copy.go
  internal/service/s3/object_copy_test.go
  internal/service/s3/object_data_source.go
  internal/service/s3/object_data_source_test.go
  internal/service/s3/object_test.go
  internal/service/s3/service_package_gen.go
  internal/service/s3/tags.go
  website/docs/d/s3_object.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
  website/docs/r/s3_object.html.markdown
  website/docs/r/s3_object_copy.html.markdown
Labels: documentation, size/XL, tests, service/s3, service/elbv2, generators, service/vpc, prioritized

#36069 Documentation - Updated the example for adding a Custom Service Client
  docs/add-a-new-service.md
Labels: documentation, size/S, client-connections

#36061 cdktf: update documentation
  website/docs/cdktf/python/d/redshift_data_shares.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/batch_compute_environment.html.markdown
  website/docs/cdktf/python/r/cloudwatch_event_rule.html.markdown
  website/docs/cdktf/python/r/codepipeline.html.markdown
  website/docs/cdktf/python/r/config_retention_configuration.html.markdown
  website/docs/cdktf/python/r/ecr_registry_policy.html.markdown
  website/docs/cdktf/python/r/fsx_openzfs_volume.html.markdown
  website/docs/cdktf/python/r/instance.html.markdown
  website/docs/cdktf/python/r/iot_domain_configuration.html.markdown
  website/docs/cdktf/python/r/kinesis_firehose_delivery_stream.html.markdown
  website/docs/cdktf/python/r/lambda_event_source_mapping.html.markdown
  website/docs/cdktf/python/r/mq_broker.html.markdown
  website/docs/cdktf/python/r/redshiftserverless_namespace.html.markdown
  website/docs/cdktf/python/r/securityhub_automation_rule.html.markdown
  website/docs/cdktf/python/r/shield_drt_access_log_bucket_association.html.markdown
  website/docs/cdktf/python/r/shield_drt_access_role_arn_association.html.markdown
  website/docs/cdktf/python/r/shield_proactive_engagement.html.markdown
  website/docs/cdktf/python/r/wafv2_ip_set.html.markdown
  website/docs/cdktf/python/r/wafv2_web_acl.html.markdown
  website/docs/cdktf/typescript/d/redshift_data_shares.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/batch_compute_environment.html.markdown
  website/docs/cdktf/typescript/r/cloudwatch_event_rule.html.markdown
  website/docs/cdktf/typescript/r/codepipeline.html.markdown
  website/docs/cdktf/typescript/r/config_retention_configuration.html.markdown
  website/docs/cdktf/typescript/r/ecr_registry_policy.html.markdown
  website/docs/cdktf/typescript/r/fsx_openzfs_volume.html.markdown
  website/docs/cdktf/typescript/r/instance.html.markdown
  website/docs/cdktf/typescript/r/iot_domain_configuration.html.markdown
  website/docs/cdktf/typescript/r/kinesis_firehose_delivery_stream.html.markdown
  website/docs/cdktf/typescript/r/lambda_event_source_mapping.html.markdown
  website/docs/cdktf/typescript/r/mq_broker.html.markdown
  website/docs/cdktf/typescript/r/redshiftserverless_namespace.html.markdown
  website/docs/cdktf/typescript/r/securityhub_automation_rule.html.markdown
  website/docs/cdktf/typescript/r/shield_drt_access_log_bucket_association.html.markdown
  website/docs/cdktf/typescript/r/shield_drt_access_role_arn_association.html.markdown
  website/docs/cdktf/typescript/r/shield_proactive_engagement.html.markdown
  website/docs/cdktf/typescript/r/wafv2_ip_set.html.markdown
  website/docs/cdktf/typescript/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XL, service/lambda, service/ec2, service/configservice, service/redshift, service/firehose, service/mq, service/shield, service/codepipeline, service/iot, service/ecr, service/batch, service/securityhub, service/fsx, service/wafv2, service/events, service/redshiftserverless

#36045 feat: Add evaluation_window_sec arg to rate_based_statement for aws_wafv2_rule_group and aws_wafv2_web_acl
  .changelog/36045.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/rule_group_test.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/M, tests, service/wafv2

#36092 shield+memorydb: Fix sweepers
  internal/sweep/awsv1/skip.go
  internal/sweep/awsv2/skip.go
Labels: size/XS, sweeper, prioritized

#36079 td/elasticbeanstalk: Migrate to AWS SDKv2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/generate/listpages/main.go
  internal/generate/listpages/v1/function.tmpl
  internal/generate/listpages/v1/header.tmpl
  internal/generate/listpages/v2/function.tmpl
  internal/generate/listpages/v2/header.tmpl
  internal/generate/tags/templates/v2/update_tags_body.tmpl
  internal/service/elasticbeanstalk/application.go
  internal/service/elasticbeanstalk/application_data_source.go
  internal/service/elasticbeanstalk/application_test.go
  internal/service/elasticbeanstalk/application_version.go
  internal/service/elasticbeanstalk/application_version_test.go
  internal/service/elasticbeanstalk/configuration_template.go
  internal/service/elasticbeanstalk/configuration_template_test.go
  internal/service/elasticbeanstalk/environment.go
  internal/service/elasticbeanstalk/environment_test.go
  internal/service/elasticbeanstalk/flex.go
  internal/service/elasticbeanstalk/generate.go
  internal/service/elasticbeanstalk/list_pages_gen.go
  internal/service/elasticbeanstalk/service_endpoints_gen_test.go
  internal/service/elasticbeanstalk/service_package_gen.go
  internal/service/elasticbeanstalk/solution_stack_data_source.go
  internal/service/elasticbeanstalk/sweep.go
  internal/service/elasticbeanstalk/tags_gen.go
  names/data/names_data.csv
Labels: size/XL, tests, service/elasticbeanstalk, technical-debt, sweeper, tags, client-connections, generators, prioritized

#36080 resource/aws_db_instance: Sets `parameter_group_name` on replica when source is in different region
  .changelog/36080.txt
  docs/running-and-writing-acceptance-tests.md
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
Labels: bug, documentation, size/M, tests, service/rds, prioritized

#36088 Remove upper limit on origin_read_timeout for CloudFront distribution
  .changelog/36088.txt
  internal/service/cloudfront/distribution.go
Labels: enhancement, size/XS, service/cloudfront

#36095 Remove max target group limit
  .changelog/36095.txt
  internal/service/vpclattice/listener_rule.go
Labels: bug, size/XS, service/vpclattice

#35893 Fix RDS ClusterInstanceEngine Validation
  internal/service/rds/consts.go
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, size/XS, service/rds, needs-triage, prioritized

#36105 New label `aws-sdk-go-migration` to help track SDK migration effort
  infrastructure/repository/labels-workflow.tf
Labels: size/XS, repository, prioritized

#34750 aws_batch_job_queue add `compute_environment_order` and deprecate `compute_environments`
  .changelog/34750.txt
  internal/service/batch/job_queue.go
  internal/service/batch/job_queue_schema.go
  internal/service/batch/job_queue_test.go
  website/docs/r/batch_job_queue.html.markdown
Labels: documentation, size/XL, tests, service/batch, external-maintainer, prioritized

#36074 Ensure Sequential Update of Elastic Beanstalk Tags and Environment Properties
  .changelog/36074.txt
  internal/service/elasticbeanstalk/environment.go
  internal/service/elasticbeanstalk/environment_test.go
Labels: bug, size/XS, service/elasticbeanstalk, partner, prioritized

#36101 Replace `types.Timestamp(Type)` with `timetypes.RFC3339(Type)`
  go.mod
  go.sum
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/autoflex_test.go
  internal/framework/flex/bool.go
  internal/framework/flex/errs.go
  internal/framework/flex/float.go
  internal/framework/flex/int.go
  internal/framework/flex/list.go
  internal/framework/flex/map.go
  internal/framework/flex/set.go
  internal/framework/flex/string.go
  internal/framework/flex/time.go
  internal/framework/flex/time_test.go
  internal/framework/types/timestamp_type.go
  internal/framework/types/timestamp_type_test.go
  internal/framework/types/timestamp_value.go
  internal/framework/types/timestamp_value_test.go
  internal/service/bedrock/custom_model_data_source.go
  internal/service/bedrock/custom_models_data_source.go
  internal/service/cloudfront/key_value_store.go
  internal/service/elasticache/serverless_cache.go
  internal/service/lexv2models/intent.go
  internal/service/lexv2models/intent_test.go
  internal/service/securityhub/automation_rule.go
  internal/service/ssmcontacts/rotation.go
  internal/service/ssmcontacts/rotation_data_source.go
  internal/service/verifiedpermissions/policy_store_data_source.go
  internal/service/verifiedpermissions/policy_template.go
Labels: size/XL, tests, service/cloudfront, service/elasticache, technical-debt, service/securityhub, service/ssmcontacts, service/verifiedpermissions, prioritized, service/lexv2models, service/bedrock

#36108 Fix `markdown-lint` errors
  ROADMAP.md
Labels: documentation, size/XS, provider, prioritized

#36097 r/medialive_channel: allow empty audio descriptions
  .changelog/36097.txt
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
  website/docs/r/medialive_channel.html.markdown
Labels: documentation, size/M, tests, service/medialive

#35927 Fix for 35897
  .changelog/35927.txt
  internal/service/elasticache/exports_test.go
  internal/service/elasticache/serverless_cache.go
  internal/service/elasticache/serverless_cache_test.go
  internal/service/elasticache/service_package_gen.go
Labels: bug, size/M, tests, service/elasticache, partner, prioritized

#35981 Feature/aws securitylake subscriber
  .changelog/35981.txt
  internal/service/securitylake/data_lake_test.go
  internal/service/securitylake/exports_test.go
  internal/service/securitylake/securitylake_test.go
  internal/service/securitylake/service_package_gen.go
  internal/service/securitylake/subscriber.go
  internal/service/securitylake/subscriber_test.go
  website/docs/r/securitylake_subscriber.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/securitylake, prioritized

#36240 [Documentation] Update `aws_guardduty_detector_feature`documentation with runtime monitoring values
  website/docs/r/guardduty_detector_feature.html.markdown
Labels: documentation, size/XS, service/guardduty, prioritized

#35739 New resource: aws_account_region
  .changelog/35739.txt
  internal/acctest/acctest.go
  internal/service/account/account_test.go
  internal/service/account/exports.go
  internal/service/account/region.go
  internal/service/account/region_test.go
  internal/service/account/service_package_gen.go
  website/docs/r/account_region.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/account

#36053 Tech debt: Migrate `dax` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/dax/cluster.go
  internal/service/dax/cluster_test.go
  internal/service/dax/flex.go
  internal/service/dax/generate.go
  internal/service/dax/list_pages_gen.go
  internal/service/dax/parameter_group.go
  internal/service/dax/parameter_group_test.go
  internal/service/dax/service_endpoints_gen_test.go
  internal/service/dax/service_package_gen.go
  internal/service/dax/subnet_group.go
  internal/service/dax/subnet_group_test.go
  internal/service/dax/sweep.go
  internal/service/dax/tags_gen.go
  names/data/names_data.csv
Labels: size/XL, tests, service/dax, needs-triage, sweeper, tags, client-connections, generators, prioritized, aws-sdk-go-migration

#36246 rds/global_cluster: Fix version upgrade errors
  .changelog/36246.txt
  internal/service/rds/engine_version_data_source.go
  internal/service/rds/engine_version_data_source_test.go
  internal/service/rds/global_cluster.go
  internal/service/rds/global_cluster_test.go
  website/docs/d/rds_engine_version.html.markdown
Labels: documentation, size/XL, tests, service/rds, prioritized

#36252 feat: Add support for io2 storage type in RDS resources
  .changelog/36252.txt
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds

#34952 [New Provider Function]: `arn_parse` and `arn_build`
  .changelog/34952.txt
  .ci/scripts/changelog.tmpl
  .ci/scripts/release-note.tmpl
  .ci/tools/go.mod
  .ci/tools/go.sum
  .ci/tools/main.go
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/website.yml
  .teamcity/scripts/provider_tests/acceptance_tests.sh
  .teamcity/scripts/provider_tests/unit_tests.sh
  GNUmakefile
  docs/add-a-new-function.md
  internal/function/arn_build_function.go
  internal/function/arn_build_function_test.go
  internal/function/arn_parse_function.go
  internal/function/arn_parse_function_test.go
  internal/provider/fwprovider/provider.go
  mkdocs.yml
  website/docs/functions/arn_build.html.markdown
  website/docs/functions/arn_parse.html.markdown
Labels: documentation, size/XL, tests, provider, linter, repository, github_actions, prioritized, service/meta

#35905 Initial set of generated tag tests
  internal/generate/servicepackage/main.go
  internal/generate/tagstests/file.tmpl
  internal/generate/tagstests/main.go
  internal/service/acmpca/certificate_authority.go
  internal/service/acmpca/certificate_authority_tags_gen_test.go
  internal/service/acmpca/certificate_authority_test.go
  internal/service/acmpca/generate.go
  internal/service/xray/encryption_config_test.go
  internal/service/xray/generate.go
  internal/service/xray/group.go
  internal/service/xray/group_tags_gen_test.go
  internal/service/xray/group_test.go
  internal/service/xray/sampling_rule.go
  internal/service/xray/sampling_rule_tags_gen_test.go
  internal/service/xray/sampling_rule_test.go
Labels: size/XL, tests, service/acmpca, service/xray, generators, service/amp, prioritized

#36262 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/L, prioritized

#36260 repo: add new-function github label
  infrastructure/repository/labels-workflow.tf
Labels: size/XS, repository, prioritized

#36100 Tech debt: Migrate `cognitoidentity` resources to AWS SDK for Go v2
  .changelog/36100.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/cognitoidentity/flex.go
  internal/service/cognitoidentity/generate.go
  internal/service/cognitoidentity/pool.go
  internal/service/cognitoidentity/pool_data_source.go
  internal/service/cognitoidentity/pool_data_source_test.go
  internal/service/cognitoidentity/pool_provider_principal_tag.go
  internal/service/cognitoidentity/pool_provider_principal_tag_test.go
  internal/service/cognitoidentity/pool_roles_attachment.go
  internal/service/cognitoidentity/pool_roles_attachment_test.go
  internal/service/cognitoidentity/pool_test.go
  internal/service/cognitoidentity/service_endpoints_gen_test.go
  internal/service/cognitoidentity/service_package_gen.go
  internal/service/cognitoidentity/tags_gen.go
  internal/service/cognitoidentity/validate.go
  internal/service/cognitoidentity/validate_test.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, tags, client-connections, generators, service/cognitoidentity, prioritized, aws-sdk-go-migration

#35752 Add SecurityHub central organization configuration support
  .changelog/35752.txt
  internal/acctest/acctest.go
  internal/framework/types/arn.go
  internal/framework/types/attrtypes.go
  internal/framework/types/cidr_block.go
  internal/framework/types/duration.go
  internal/framework/types/iam_policy.go
  internal/framework/types/list_nested_objectof.go
  internal/framework/types/listof.go
  internal/framework/types/mapof.go
  internal/framework/types/objectof.go
  internal/framework/types/regexp.go
  internal/framework/types/set_nested_objectof.go
  internal/framework/types/setof.go
  internal/framework/types/string_enum.go
  internal/service/securityhub/account.go
  internal/service/securityhub/account_test.go
  internal/service/securityhub/action_target.go
  internal/service/securityhub/configuration_policy.go
  internal/service/securityhub/configuration_policy_association.go
  internal/service/securityhub/configuration_policy_association_test.go
  internal/service/securityhub/configuration_policy_test.go
  internal/service/securityhub/errors.go
  internal/service/securityhub/exports_test.go
  internal/service/securityhub/finding_aggregator.go
  internal/service/securityhub/insight.go
  internal/service/securityhub/invite_accepter.go
  internal/service/securityhub/member.go
  internal/service/securityhub/organization_admin_account.go
  internal/service/securityhub/organization_configuration.go
  internal/service/securityhub/organization_configuration_test.go
  internal/service/securityhub/product_subscription.go
  internal/service/securityhub/securityhub_test.go
  internal/service/securityhub/service_package_gen.go
  internal/service/securityhub/standards_control.go
  internal/service/securityhub/standards_subscription.go
  website/docs/r/securityhub_configuration_policy.html.markdown
  website/docs/r/securityhub_configuration_policy_association.markdown
  website/docs/r/securityhub_organization_configuration.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, service/securityhub, generators

#36279 TechDebt: resume using upstream `terrafmt` repository
  .ci/tools/go.mod
  .ci/tools/go.sum
  .ci/tools/main.go
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/website.yml
  GNUmakefile
Labels: size/XS, prioritized

#36290 cdktf: update documentation
  website/docs/cdktf/python/d/rds_engine_version.html.markdown
  website/docs/cdktf/python/d/s3_object.html.markdown
  website/docs/cdktf/python/functions/arn_build.html.markdown
  website/docs/cdktf/python/functions/arn_parse.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/account_region.markdown
  website/docs/cdktf/python/r/batch_job_queue.html.markdown
  website/docs/cdktf/python/r/guardduty_detector_feature.html.markdown
  website/docs/cdktf/python/r/iot_policy.html.markdown
  website/docs/cdktf/python/r/iot_role_alias.html.markdown
  website/docs/cdktf/python/r/medialive_channel.html.markdown
  website/docs/cdktf/python/r/opensearch_domain.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/python/r/rds_cluster_instance.html.markdown
  website/docs/cdktf/python/r/s3_bucket_object.html.markdown
  website/docs/cdktf/python/r/s3_object.html.markdown
  website/docs/cdktf/python/r/s3_object_copy.html.markdown
  website/docs/cdktf/python/r/securityhub_configuration_policy.html.markdown
  website/docs/cdktf/python/r/securityhub_configuration_policy_association.markdown
  website/docs/cdktf/python/r/securityhub_organization_configuration.html.markdown
  website/docs/cdktf/python/r/securitylake_subscriber.html.markdown
  website/docs/cdktf/python/r/wafv2_rule_group.html.markdown
  website/docs/cdktf/python/r/wafv2_web_acl.html.markdown
  website/docs/cdktf/typescript/d/rds_engine_version.html.markdown
  website/docs/cdktf/typescript/d/s3_object.html.markdown
  website/docs/cdktf/typescript/functions/arn_build.html.markdown
  website/docs/cdktf/typescript/functions/arn_parse.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/account_region.markdown
  website/docs/cdktf/typescript/r/batch_job_queue.html.markdown
  website/docs/cdktf/typescript/r/guardduty_detector_feature.html.markdown
  website/docs/cdktf/typescript/r/iot_policy.html.markdown
  website/docs/cdktf/typescript/r/iot_role_alias.html.markdown
  website/docs/cdktf/typescript/r/medialive_channel.html.markdown
  website/docs/cdktf/typescript/r/opensearch_domain.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster_instance.html.markdown
  website/docs/cdktf/typescript/r/s3_bucket_object.html.markdown
  website/docs/cdktf/typescript/r/s3_object.html.markdown
  website/docs/cdktf/typescript/r/s3_object_copy.html.markdown
  website/docs/cdktf/typescript/r/securityhub_configuration_policy.html.markdown
  website/docs/cdktf/typescript/r/securityhub_configuration_policy_association.markdown
  website/docs/cdktf/typescript/r/securityhub_organization_configuration.html.markdown
  website/docs/cdktf/typescript/r/securitylake_subscriber.html.markdown
  website/docs/cdktf/typescript/r/wafv2_rule_group.html.markdown
  website/docs/cdktf/typescript/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XL, service/s3, service/guardduty, service/rds, service/medialive, service/iot, service/batch, service/securityhub, service/wafv2, service/account, service/opensearch, service/securitylake, service/meta

#36287 d/aws_acm_certificate: Migrate tests to AWS SDK v2
  internal/service/acm/certificate_data_source_test.go
Labels: size/S, tests, service/acm

#36285 aws_route53domains_registered_domain: Add billing_contact and billing_privacy
  .changelog/36285.txt
  internal/service/route53domains/exports_test.go
  internal/service/route53domains/registered_domain.go
  internal/service/route53domains/registered_domain_test.go
  internal/service/route53domains/service_package_gen.go
  website/docs/r/route53domains_registered_domain.html.markdown
Labels: enhancement, size/M, tests, service/route53domains, prioritized

#36294 Latest `aws-sdk-go` modules
  go.mod
  go.sum
Labels: size/XL, prioritized

#36236 resource/aws_vpn_connection: Fixes CIDR validation for inside_ipv6_cidr fields
  .changelog/36236.txt
  internal/service/ec2/vpnsite_connection.go
  internal/service/ec2/vpnsite_connection_test.go
Labels: bug, size/XS, tests, service/vpnsite, prioritized

#36296 Replace `go-multierror` with `errors.Join`
  internal/generate/checknames/main.go
  internal/generate/servicepackage/main.go
  internal/generate/tagstests/main.go
  internal/service/acm/certificate_validation.go
  internal/service/acmpca/sweep.go
  internal/service/appstream/user_stack_association.go
  internal/service/appstream/wait.go
  internal/service/backup/vault.go
  internal/service/cloudformation/errors.go
  internal/service/cloudformation/wait.go
  internal/service/cognitoidp/find.go
  internal/service/datapipeline/pipeline_definition.go
  internal/service/dynamodb/table.go
  internal/service/ec2/wait.go
  internal/service/elasticache/engine_version.go
  internal/service/elasticbeanstalk/environment.go
  internal/service/elb/load_balancer.go
  internal/service/events/target.go
  internal/service/iam/role.go
  internal/service/iam/user.go
  internal/service/inspector2/enabler.go
  internal/service/inspector2/enabler_test.go
  internal/service/lightsail/instance_public_ports.go
  internal/service/networkfirewall/logging_configuration.go
  internal/service/networkmanager/core_network.go
  internal/service/quicksight/wait.go
  internal/service/servicecatalog/provisioned_product.go
  internal/service/servicediscovery/service.go
  internal/service/sns/sms_preferences_test.go
  internal/service/transfer/server.go
Labels: size/XL, tests, service/iam, service/sns, service/lightsail, service/acm, service/elb, service/elasticbeanstalk, service/dynamodb, service/servicediscovery, service/servicecatalog, service/elasticache, service/cloudformation, technical-debt, service/appstream, service/acmpca, service/datapipeline, service/transfer, service/backup, service/quicksight, service/networkmanager, service/networkfirewall, sweeper, generators, service/events, service/inspector2, service/cognitoidp, prioritized

#36264 r/aws_lakeformation_data_cells_filter: new resource
  .changelog/36264.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/lakeformation/data_cells_filter.go
  internal/service/lakeformation/data_cells_filter_test.go
  internal/service/lakeformation/exports_test.go
  internal/service/lakeformation/filter.go
  internal/service/lakeformation/lakeformation_test.go
  internal/service/lakeformation/permissions.go
  internal/service/lakeformation/permissions_data_source.go
  internal/service/lakeformation/permissions_data_source_test.go
  internal/service/lakeformation/permissions_test.go
  internal/service/lakeformation/service_endpoints_gen_test.go
  internal/service/lakeformation/service_package_gen.go
  names/data/names_data.csv
  website/docs/d/lakeformation_permissions.html.markdown
  website/docs/r/lakeformation_data_cells_filter.html.markdown
  website/docs/r/lakeformation_permissions.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, service/lakeformation, client-connections, generators, prioritized

#36288 feat: implement apprunner_hosted_zone_id
  .changelog/36288.txt
  docs/add-a-new-region.md
  internal/service/apprunner/hosted_zone_id_data_source.go
  internal/service/apprunner/hosted_zone_id_data_source_test.go
  internal/service/apprunner/service_package_gen.go
  website/docs/d/apprunner_hosted_zone_id.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/apprunner, generators

#36298 fix: Add missing use_off_peak_window arg to schema for aws_opensearch_domain data source
  .changelog/36298.txt
  internal/service/opensearch/domain_data_source.go
Labels: bug, size/XS, service/opensearch

#36303 Add `aws_cloudformation_stack_set(_instance)` delegated administrator acceptance tests
  internal/acctest/acctest.go
  internal/service/cloudformation/find.go
  internal/service/cloudformation/stack_set_instance_test.go
  internal/service/cloudformation/stack_set_test.go
Labels: size/L, tests, service/cloudformation, prioritized

#36299 docs(aws_msk_bootstrap_brokers): Correct example
  website/docs/d/msk_bootstrap_brokers.html.markdown
Labels: documentation, size/XS, service/kafka

#36283 r/aws_vpc_default_network_acl: Migrate to AWS SDK v2
  internal/service/ec2/exports_test.go
  internal/service/ec2/findv2.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_default_network_acl.go
  internal/service/ec2/vpc_default_network_acl_test.go
  internal/service/ec2/vpc_network_acl.go
  internal/service/ec2/vpc_network_acl_test.go
Labels: size/XL, tests, service/vpc, aws-sdk-go-migration

#36313 docs: Add use_off_peak_window attr to aws_opensearch_domain data source
  website/docs/d/opensearch_domain.html.markdown
Labels: documentation, size/XS, service/opensearch

#36310 elasticache: Allow for tagging retries
  .changelog/36310.txt
  internal/generate/tags/main.go
  internal/generate/tags/templates/v1/get_tag_body.tmpl
  internal/generate/tags/templates/v1/list_tags_body.tmpl
  internal/generate/tags/templates/v1/update_tags_body.tmpl
  internal/service/elasticache/generate.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/tags_gen.go
  internal/tfresource/retry.go
Labels: size/L, service/elasticache, tags, generators, prioritized

#36319 35770 - Clarify market_type is required
  website/docs/r/instance.html.markdown
Labels: documentation, service/ec2

#36306 feat: add devopsguru service client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/devopsguru/generate.go
  internal/service/devopsguru/service_endpoints_gen_test.go
  internal/service/devopsguru/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: size/L, tests, provider, sweeper, generators, service/devopsguru, prioritized

#36328 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#36309 b-aws_ecs-fix-service-connect-bug-when-empty-block-supplied
  .changelog/36309.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
Labels: bug, crash, size/L, tests, service/ecs

#36308 aws_ec2_instance: allow adjusting ipv6_address_count without replacing the instance
  .changelog/36308.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
Labels: bug, size/M, tests, service/ec2, prioritized

#36304 aws_ec2_transit_gateway_peering_attachment: add attachment status
  .changelog/36304.txt
  internal/service/ec2/exports_test.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/sweep.go
  internal/service/ec2/transitgateway_peering_attachment.go
  internal/service/ec2/transitgateway_peering_attachment_data_source.go
  internal/service/ec2/transitgateway_peering_attachment_data_source_test.go
  internal/service/ec2/transitgateway_peering_attachment_test.go
Labels: enhancement, size/XS, tests, service/transitgateway, prioritized

#36329 deps: bump hashicorp/aws-sdk-go-base/v2
  go.mod
  go.sum
Labels: size/S, prioritized

#36326 Prevent creation of duplicate `aws_network_acl_rule` resources
  .changelog/36326.txt
  internal/service/ec2/errors.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/vpc_default_route_table.go
  internal/service/ec2/vpc_default_route_table_test.go
  internal/service/ec2/vpc_network_acl_rule.go
  internal/service/ec2/vpc_network_acl_rule_test.go
  internal/service/ec2/vpc_route.go
  internal/service/ec2/vpc_route_data_source_test.go
  internal/service/ec2/vpc_route_table.go
  internal/service/ec2/vpc_route_table_test.go
  internal/service/ec2/vpc_route_test.go
Labels: bug, size/L, tests, generators, service/vpc, prioritized

#36336 make: Use .go-version by default
  GNUmakefile
Labels: size/S, repository, prioritized

#36341 fix: Add nil check for empty blocks to fix crashes for aws_ecs_cluster
  .changelog/36341.txt
  internal/service/ecs/cluster.go
Labels: bug, crash, size/XS, service/ecs

#36352 elbv2: Fix occasionally crashing acceptance tests
  internal/service/elbv2/listener_rule_test.go
  internal/service/elbv2/listener_test.go
Labels: size/XS, tests, service/elbv2, prioritized

#35236 r/cognito_user_pool - add `pre_token_generation_config` to `lambda_config`
  .changelog/35236.txt
  .changelog/36311.txt
  examples/cognito-user-pool/main.tf
  internal/service/cognitoidentity/exports_test.go
  internal/service/cognitoidentity/pool.go
  internal/service/cognitoidentity/pool_data_source.go
  internal/service/cognitoidentity/pool_provider_principal_tag.go
  internal/service/cognitoidentity/pool_roles_attachment.go
  internal/service/cognitoidentity/service_package_gen.go
  internal/service/cognitoidp/consts.go
  internal/service/cognitoidp/exports_test.go
  internal/service/cognitoidp/find.go
  internal/service/cognitoidp/identity_provider.go
  internal/service/cognitoidp/identity_provider_test.go
  internal/service/cognitoidp/managed_user_pool_client.go
  internal/service/cognitoidp/resource_server.go
  internal/service/cognitoidp/risk_configuration.go
  internal/service/cognitoidp/service_package_gen.go
  internal/service/cognitoidp/test-fixtures/logo.png
  internal/service/cognitoidp/test-fixtures/logo_modified.png
  internal/service/cognitoidp/user.go
  internal/service/cognitoidp/user_group_data_source.go
  internal/service/cognitoidp/user_groups_data_source.go
  internal/service/cognitoidp/user_in_group.go
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_client.go
  internal/service/cognitoidp/user_pool_client_data_source.go
  internal/service/cognitoidp/user_pool_clients_data_source.go
  internal/service/cognitoidp/user_pool_domain.go
  internal/service/cognitoidp/user_pool_signing_certificate_data_source.go
  internal/service/cognitoidp/user_pool_test.go
  internal/service/cognitoidp/user_pool_ui_customization.go
  internal/service/cognitoidp/user_pool_ui_customization_test.go
  internal/service/cognitoidp/user_pools_data_source.go
  website/docs/cdktf/python/r/cognito_user_pool.html.markdown
  website/docs/cdktf/typescript/r/cognito_user_pool.html.markdown
  website/docs/cdktf/typescript/r/cognito_user_pool.markdown
  website/docs/r/cognito_user_pool.html.markdown
Labels: enhancement, documentation, size/XL, tests, examples, generators, service/cognitoidp, service/cognitoidentity

#36358 Use Go 1.21.8
  .go-version
Labels: size/XS, technical-debt, provider, go, prioritized

#36337 docs: Add waiter information to AWS SDK v2 migration guide
  docs/aws-go-sdk-migrations.md
Labels: documentation, size/XS

#36361 [Bug Fix] kx_cluster Init script and command line arg updates
  .changelog/36361.txt
  internal/service/finspace/kx_cluster.go
  internal/service/finspace/kx_cluster_test.go
Labels: size/S, tests, service/finspace, partner

#36323 Feature/subscriber notification
  .changelog/36323.txt
  internal/service/securitylake/exports_test.go
  internal/service/securitylake/securitylake_test.go
  internal/service/securitylake/service_package_gen.go
  internal/service/securitylake/subscriber_notification.go
  internal/service/securitylake/subscriber_notification_test.go
  website/docs/r/securitylake_subscriber_notification.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/securitylake, prioritized

#36378 `protobuf` should only be updated via `terraform-plugin-go`/`terraform-plugin-framework`
  .github/dependabot.yml
Labels: dependencies, size/XS, repository, github_actions, prioritized

#36062 feat: Mark name arg as optional to match AWS API for aws_ram_resource_share data source
  .changelog/36062.txt
  internal/framework/validators/aws_account_id.go
  internal/service/ram/consts.go
  internal/service/ram/exports_test.go
  internal/service/ram/find.go
  internal/service/ram/principal_association.go
  internal/service/ram/principal_association_test.go
  internal/service/ram/resource_association.go
  internal/service/ram/resource_association_test.go
  internal/service/ram/resource_share.go
  internal/service/ram/resource_share_accepter.go
  internal/service/ram/resource_share_accepter_test.go
  internal/service/ram/resource_share_data_source.go
  internal/service/ram/resource_share_data_source_test.go
  internal/service/ram/resource_share_test.go
  internal/service/ram/service_package_gen.go
  internal/service/ram/sharing_with_organization.go
  internal/service/ram/status.go
  internal/service/ram/sweep.go
  internal/service/ram/wait.go
  internal/tfresource/not_found_error.go
  internal/tfresource/retry.go
  internal/types/aws_account_id.go
  internal/types/aws_account_id_test.go
  internal/types/option/option.go
  internal/verify/validate.go
  website/docs/d/ram_resource_share.html.markdown
Labels: bug, enhancement, documentation, size/XL, tests, service/ram, sweeper, generators, verify

#36380 `.ci/providerlint`: `protobuf` should only be updated via `terraform-plugin-go`/`terraform-plugin-framework`
  .github/dependabot.yml
Labels: dependencies, size/XS, repository, github_actions, prioritized

#36362 Migrate LakeFormation Service to AWS Go SDKv2
  internal/conns/awsclient_gen.go
  internal/service/lakeformation/data_lake_settings.go
  internal/service/lakeformation/data_lake_settings_data_source.go
  internal/service/lakeformation/data_lake_settings_data_source_test.go
  internal/service/lakeformation/data_lake_settings_test.go
  internal/service/lakeformation/filter.go
  internal/service/lakeformation/filter_test.go
  internal/service/lakeformation/lf_tag.go
  internal/service/lakeformation/lf_tag_test.go
  internal/service/lakeformation/permissions.go
  internal/service/lakeformation/permissions_data_source.go
  internal/service/lakeformation/permissions_test.go
  internal/service/lakeformation/prettify.go
  internal/service/lakeformation/resource.go
  internal/service/lakeformation/resource_data_source.go
  internal/service/lakeformation/resource_data_source_test.go
  internal/service/lakeformation/resource_lf_tags.go
  internal/service/lakeformation/resource_lf_tags_test.go
  internal/service/lakeformation/resource_test.go
  internal/service/lakeformation/service_endpoints_gen_test.go
  internal/service/lakeformation/service_package_gen.go
  internal/service/lakeformation/status.go
  internal/service/lakeformation/strings.go
  internal/service/lakeformation/strings_test.go
  internal/service/lakeformation/wait.go
  names/data/names_data.csv
Labels: size/XL, tests, technical-debt, service/lakeformation, client-connections, generators, prioritized, aws-sdk-go-migration

#36382 docs: add details on restrictions for maximum ecpus and data storage
  website/docs/r/elasticache_serverless_cache.html.markdown
Labels: documentation, size/XS, service/elasticache

#36383 d/aws_iam_policy_document: Fix `Failed to marshal plan to json, unsupported attribute "override_json"`
  .changelog/36383.txt
  internal/service/iam/access_key.go
  internal/service/iam/access_key_test.go
  internal/service/iam/access_keys_data_source.go
  internal/service/iam/account_alias.go
  internal/service/iam/account_alias_data_source.go
  internal/service/iam/exports_test.go
  internal/service/iam/find.go
  internal/service/iam/group_data_source.go
  internal/service/iam/group_membership.go
  internal/service/iam/group_policy.go
  internal/service/iam/instance_profile_data_source.go
  internal/service/iam/instance_profiles_data_source.go
  internal/service/iam/openid_connect_provider_data_source.go
  internal/service/iam/policy_data_source.go
  internal/service/iam/policy_document_data_source.go
  internal/service/iam/principal_policy_simulation_data_source.go
  internal/service/iam/role_data_source.go
  internal/service/iam/role_policy.go
  internal/service/iam/roles_data_source.go
  internal/service/iam/saml_provider_data_source.go
  internal/service/iam/security_token_service_preferences.go
  internal/service/iam/server_certificate_data_source.go
  internal/service/iam/service_package_gen.go
  internal/service/iam/service_specific_credential.go
  internal/service/iam/session_context_data_source.go
  internal/service/iam/signing_certificate.go
  internal/service/iam/sweep.go
  internal/service/iam/user.go
  internal/service/iam/user_data_source.go
  internal/service/iam/user_group_membership.go
  internal/service/iam/user_policy.go
  internal/service/iam/user_ssh_key_data_source.go
  internal/service/iam/users_data_source.go
Labels: size/XL, tests, service/iam, sweeper, generators, prioritized

#36410 internal/acctest: custom framework disappears state function
  internal/acctest/framework.go
Labels: size/M, tests, prioritized

#34382 Fix: FindScheduledAction in aws_appautoscaling
  .changelog/34382.txt
  internal/service/appautoscaling/exports_test.go
  internal/service/appautoscaling/find.go
  internal/service/appautoscaling/policy.go
  internal/service/appautoscaling/scheduled_action.go
  internal/service/appautoscaling/scheduled_action_test.go
  internal/service/appautoscaling/service_package_gen.go
  internal/service/appautoscaling/target.go
Labels: bug, size/XS, tests, service/appautoscaling

#36432 cdktf: update documentation
  website/docs/cdktf/python/d/apprunner_hosted_zone_id.html.markdown
  website/docs/cdktf/python/d/lakeformation_permissions.html.markdown
  website/docs/cdktf/python/d/medialive_input.html.markdown
  website/docs/cdktf/python/d/msk_bootstrap_brokers.html.markdown
  website/docs/cdktf/python/d/opensearch_domain.html.markdown
  website/docs/cdktf/python/d/ram_resource_share.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/cognito_user_pool.html.markdown
  website/docs/cdktf/python/r/elasticache_serverless_cache.html.markdown
  website/docs/cdktf/python/r/instance.html.markdown
  website/docs/cdktf/python/r/lakeformation_data_cells_filter.html.markdown
  website/docs/cdktf/python/r/lakeformation_permissions.html.markdown
  website/docs/cdktf/python/r/route53domains_registered_domain.html.markdown
  website/docs/cdktf/python/r/securitylake_subscriber_notification.html.markdown
  website/docs/cdktf/typescript/d/apprunner_hosted_zone_id.html.markdown
  website/docs/cdktf/typescript/d/lakeformation_permissions.html.markdown
  website/docs/cdktf/typescript/d/medialive_input.html.markdown
  website/docs/cdktf/typescript/d/msk_bootstrap_brokers.html.markdown
  website/docs/cdktf/typescript/d/opensearch_domain.html.markdown
  website/docs/cdktf/typescript/d/ram_resource_share.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/cognito_user_pool.html.markdown
  website/docs/cdktf/typescript/r/elasticache_serverless_cache.html.markdown
  website/docs/cdktf/typescript/r/instance.html.markdown
  website/docs/cdktf/typescript/r/lakeformation_data_cells_filter.html.markdown
  website/docs/cdktf/typescript/r/lakeformation_permissions.html.markdown
  website/docs/cdktf/typescript/r/route53domains_registered_domain.html.markdown
  website/docs/cdktf/typescript/r/securitylake_subscriber_notification.html.markdown
Labels: documentation, service/ec2, service/medialive, service/elasticache, service/route53domains, service/ram, service/kafka, service/lakeformation, service/apprunner, service/opensearch, service/cognitoidp, service/securitylake

#36426 docs: Fix lambda_arn casing in pre_token_generation_config
  website/docs/cdktf/python/r/cognito_user_pool.html.markdown
  website/docs/r/cognito_user_pool.html.markdown
Labels: documentation, size/XS, service/cognitoidp

#36267 Fix `aws_securitylake_subscriber` import ID
  website/docs/r/securitylake_subscriber.html.markdown
Labels: documentation, size/XS, needs-triage, service/securitylake

#33713 Initialize start time and end time value avoid null override
  .changelog/33713.txt
  internal/service/appautoscaling/scheduled_action.go
  internal/service/appautoscaling/scheduled_action_test.go
Labels: bug, size/L, tests, service/appautoscaling

#36281 resource/aws_opensearch_domain: Fixes eventual consistency error when adding role to access policy
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_test.go
  internal/service/opensearch/wait.go
Labels: size/L, tests, service/opensearch, prioritized

#34934 fix when importing a msk storage app autoscaling policy
  .changelog/34934.txt
  internal/service/appautoscaling/exports_test.go
  internal/service/appautoscaling/policy.go
  internal/service/appautoscaling/policy_test.go
  internal/service/appautoscaling/scheduled_action.go
Labels: bug, size/XS, tests, service/appautoscaling

#36035 r/aws_dms_replication_config: Add missing task settings
  .changelog/35670.txt
  internal/service/dms/replication_config_test.go
  internal/service/dms/task_settings_json.go
Labels: size/XL, tests, service/dms, prioritized

#36418 Fix documentation error for lb_listener mutual_authentication block
  website/docs/r/lb_listener.html.markdown
Labels: documentation, size/XS, service/elbv2

#36408 list kafka_versions as optional
  website/docs/r/msk_configuration.html.markdown
Labels: documentation, size/XS, service/kafka

#36422 docs: add missing attribute for aws_sfn_state_machine
  website/docs/r/sfn_state_machine.html.markdown
Labels: documentation, size/XS, service/sfn

#36461 skaff: use service ID with acctest.ErrorCheck
  skaff/datasource/datasourcetest.tmpl
  skaff/resource/resourcetest.tmpl
Labels: size/XS, skaff, prioritized

#36458 chore: allow a minimum of 1 worker for a Glue Job
  .changelog/36458.txt
  internal/service/glue/job.go
  internal/service/glue/job_test.go
Labels: size/XS, tests, service/glue, external-maintainer

#36427 ecrpublic migrated to aws-sdk-v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/ecrpublic/authorization_token_data_source.go
  internal/service/ecrpublic/authorization_token_data_source_test.go
  internal/service/ecrpublic/generate.go
  internal/service/ecrpublic/repository.go
  internal/service/ecrpublic/repository_policy.go
  internal/service/ecrpublic/repository_policy_test.go
  internal/service/ecrpublic/repository_test.go
  internal/service/ecrpublic/service_endpoints_gen_test.go
  internal/service/ecrpublic/service_package_gen.go
  internal/service/ecrpublic/sweep.go
  internal/service/ecrpublic/tags_gen.go
  names/data/names_data.csv
Labels: tests, provider, service/ecrpublic, sweeper, tags, client-connections, generators, partner, prioritized, aws-sdk-go-migration

#36470 Fix listpages generator for AWS SDK v2
  internal/generate/listpages/v2/function.tmpl
Labels: size/XS, generators

#36469 flex: Add helpers for AWS SDK v2
  internal/flex/flex.go
  internal/flex/flex_test.go
Labels: size/M, tests, flex

#34370 feat: Add enable_local_write_forwarding arg to aws_rds_cluster
  .changelog/34370.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds

#36405 [Bug]: aws_vpn_connection removes transit gateway id dependency for IPv6 tunnel options
  .changelog/36405.txt
  internal/service/ec2/exports_test.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpnsite_connection.go
  internal/service/ec2/vpnsite_connection_route.go
  internal/service/ec2/vpnsite_connection_test.go
  internal/service/ec2/vpnsite_customer_gateway.go
  internal/service/ec2/vpnsite_customer_gateway_data_source.go
  internal/service/ec2/vpnsite_gateway.go
  internal/service/ec2/vpnsite_gateway_attachment.go
  internal/service/ec2/vpnsite_gateway_data_source.go
  internal/service/ec2/vpnsite_gateway_route_propagation.go
  internal/service/networkmanager/customer_gateway_association_test.go
Labels: bug, size/XS, tests, service/vpnsite

#36391 d/aws_vpc_peering_connection: Add IPv6 CIDR block attributes
  .changelog/36391.txt
  internal/service/ec2/vpc_peering_connection_data_source.go
  internal/service/ec2/vpc_peering_connection_data_source_test.go
  website/docs/d/vpc_peering_connection.html.markdown
Labels: enhancement, documentation, size/M, tests, service/vpc

#36467 Default `RateLimiter` is `ratelimit.None`
  .changelog/36467.txt
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider, prioritized

#36483 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#36481 d/aws_redshift_producer_data_shares: new data source
  .changelog/36481.txt
  internal/service/redshift/producer_data_shares_data_source.go
  internal/service/redshift/producer_data_shares_data_source_test.go
  internal/service/redshift/service_package_gen.go
  website/docs/d/redshift_producer_data_shares.html.markdown
Labels: documentation, size/L, tests, service/redshift, generators, prioritized

#36484 Bugfix: Resource aws_eks_access_entry only updates group OR username
  .changelog/36484.txt
  internal/service/eks/access_entry.go
  internal/service/eks/access_entry_test.go
Labels: bug, size/XS, service/eks

#36482 Transit Gateway: Increase acceptance test concurrency
  docs/acc-test-environment-variables.md
  internal/service/ec2/transitgateway_attachment_data_source_test.go
  internal/service/ec2/transitgateway_attachments_data_source_test.go
  internal/service/ec2/transitgateway_connect_data_source_test.go
  internal/service/ec2/transitgateway_connect_peer_data_source_test.go
  internal/service/ec2/transitgateway_connect_peer_test.go
  internal/service/ec2/transitgateway_connect_test.go
  internal/service/ec2/transitgateway_data_source_test.go
  internal/service/ec2/transitgateway_dx_gateway_attachment_data_source_test.go
  internal/service/ec2/transitgateway_multicast_domain_association_test.go
  internal/service/ec2/transitgateway_multicast_domain_data_source_test.go
  internal/service/ec2/transitgateway_multicast_domain_test.go
  internal/service/ec2/transitgateway_multicast_group_member_test.go
  internal/service/ec2/transitgateway_multicast_group_source_test.go
  internal/service/ec2/transitgateway_peering_attachment_accepter_test.go
  internal/service/ec2/transitgateway_peering_attachment_data_source_test.go
  internal/service/ec2/transitgateway_peering_attachment_test.go
  internal/service/ec2/transitgateway_policy_table_association_test.go
  internal/service/ec2/transitgateway_policy_table_test.go
  internal/service/ec2/transitgateway_prefix_list_reference_test.go
  internal/service/ec2/transitgateway_route_table_association_test.go
  internal/service/ec2/transitgateway_route_table_associations_data_source_test.go
  internal/service/ec2/transitgateway_route_table_data_source_test.go
  internal/service/ec2/transitgateway_route_table_propagation_test.go
  internal/service/ec2/transitgateway_route_table_propagations_data_source_test.go
  internal/service/ec2/transitgateway_route_table_routes_data_source_test.go
  internal/service/ec2/transitgateway_route_table_test.go
  internal/service/ec2/transitgateway_route_tables_data_source_test.go
  internal/service/ec2/transitgateway_route_test.go
  internal/service/ec2/transitgateway_test.go
  internal/service/ec2/transitgateway_vpc_attachment_accepter_test.go
  internal/service/ec2/transitgateway_vpc_attachment_data_source_test.go
  internal/service/ec2/transitgateway_vpc_attachment_test.go
  internal/service/ec2/transitgateway_vpc_attachments_data_source_test.go
  internal/service/ec2/transitgateway_vpn_attachment_data_source_test.go
Labels: documentation, size/XL, tests, service/transitgateway, prioritized

#36485 r/aws_devopsguru_event_sources_config: new resource
  .changelog/36485.txt
  internal/service/devopsguru/devopsguru_test.go
  internal/service/devopsguru/event_sources_config.go
  internal/service/devopsguru/event_sources_config_test.go
  internal/service/devopsguru/exports_test.go
  internal/service/devopsguru/service_package_gen.go
  names/names.go
  website/docs/r/devopsguru_event_sources_config.html.markdown
Labels: documentation, size/XL, tests, generators, service/devopsguru, prioritized

#35507 Adds workflow job for commenting on closed issues
  .github/workflows/issues.yml
Labels: size/XS, repository, github_actions, prioritized

#30399 r/aws_dynamodb_table_export - support DynamoDB ExportTableToPointInTime API.
  .changelog/30399.txt
  .github/workflows/semgrep-ci.yml
  GNUmakefile
  internal/service/dynamodb/find.go
  internal/service/dynamodb/service_package_gen.go
  internal/service/dynamodb/status.go
  internal/service/dynamodb/table_export.go
  internal/service/dynamodb/table_export_test.go
  internal/service/dynamodb/wait.go
  website/docs/r/codebuild_source_credential.html.markdown
  website/docs/r/dynamodb_table_export.html.markdown
Labels: documentation, size/XL, tests, service/dynamodb, generators, prioritized

#36488 Fix custom payload typo
  .changelog/36488.txt
  internal/service/lexv2models/slot.go
Labels: size/XS, prioritized, service/lexv2models

#36489 r/aws_devopsguru_resource_collection: new resource
  .changelog/36489.txt
  internal/service/devopsguru/devopsguru_test.go
  internal/service/devopsguru/exports_test.go
  internal/service/devopsguru/resource_collection.go
  internal/service/devopsguru/resource_collection_test.go
  internal/service/devopsguru/service_package_gen.go
  website/docs/r/devopsguru_resource_collection.html.markdown
Labels: documentation, size/XL, tests, generators, service/devopsguru, prioritized

#36486 Add support for database maintenance for FinSpace Kx Dataviews
  .changelog/36486.txt
  internal/service/finspace/kx_dataview.go
  internal/service/finspace/kx_dataview_test.go
  website/docs/r/finspace_kx_dataview.html.markdown
Labels: documentation, size/L, tests, service/finspace, partner, prioritized

#35518 docs: Improve access_endpoint attr desc for aws_appstream_image_builder
  website/docs/r/appstream_image_builder.html.markdown
Labels: documentation, size/XS, service/appstream

#36512 r/aws_route: Don't fail on Create if there's already a propagated (or local) route to the same destination
  .changelog/36512.txt
  internal/service/ec2/vpc_route.go
  internal/service/ec2/vpc_route_test.go
Labels: bug, size/S, tests, service/vpc, prioritized

#36487 Generated tagging acceptance tests for IAM resources
  internal/generate/tagstests/file.tmpl
  internal/generate/tagstests/main.go
  internal/provider/fwprovider/intercept.go
  internal/provider/intercept.go
  internal/provider/tags_interceptor.go
  internal/service/iam/generate.go
  internal/service/iam/instance_profile.go
  internal/service/iam/instance_profile_tags_gen_test.go
  internal/service/iam/instance_profile_test.go
  internal/service/iam/openid_connect_provider.go
  internal/service/iam/openid_connect_provider_tags_gen_test.go
  internal/service/iam/openid_connect_provider_test.go
  internal/service/iam/policy.go
  internal/service/iam/policy_tags_gen_test.go
  internal/service/iam/policy_test.go
  internal/service/iam/role.go
  internal/service/iam/role_tags_gen_test.go
  internal/service/iam/role_test.go
  internal/service/iam/saml_provider.go
  internal/service/iam/server_certificate.go
  internal/service/iam/service_linked_role_tags_gen_test.go
  internal/service/iam/service_linked_role_test.go
  internal/service/iam/tags.go
  internal/service/iam/user.go
  internal/service/iam/user_tags_gen_test.go
  internal/service/iam/user_test.go
  internal/service/iam/virtual_mfa_device.go
  internal/service/iam/virtual_mfa_device_tags_gen_test.go
  internal/service/iam/virtual_mfa_device_test.go
  internal/verify/diff.go
Labels: size/XL, tests, service/iam, provider, generators, verify, prioritized

#36421 doc: fix sense of remote_ipv6_network_cidr
  website/docs/r/vpn_connection.html.markdown
Labels: documentation, waiting-response, size/XS, needs-triage, service/vpnsite

#34227 fix resourceDashboardUpdate
  .changelog/34227.txt
  internal/service/quicksight/dashboard.go
  internal/service/quicksight/dashboard_test.go
  internal/service/quicksight/schema/template_sheet.go
  internal/service/quicksight/schema/visual_table.go
  internal/service/quicksight/status.go
  internal/service/quicksight/wait.go
Labels: bug, size/M, tests, service/quicksight, prioritized

#36535 Run `make cleantidy`
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/M, prioritized

#36551 cdktf: update documentation
  website/docs/cdktf/python/d/redshift_producer_data_shares.html.markdown
  website/docs/cdktf/python/d/vpc_peering_connection.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/appstream_image_builder.html.markdown
  website/docs/cdktf/python/r/codebuild_source_credential.html.markdown
  website/docs/cdktf/python/r/cognito_user_pool.html.markdown
  website/docs/cdktf/python/r/datasync_location_azure_blob.html.markdown
  website/docs/cdktf/python/r/datasync_location_hdfs.html.markdown
  website/docs/cdktf/python/r/devopsguru_event_sources_config.html.markdown
  website/docs/cdktf/python/r/devopsguru_resource_collection.html.markdown
  website/docs/cdktf/python/r/dynamodb_table_export.html.markdown
  website/docs/cdktf/python/r/finspace_kx_dataview.html.markdown
  website/docs/cdktf/python/r/lb_listener.html.markdown
  website/docs/cdktf/python/r/msk_configuration.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/python/r/securitylake_subscriber.html.markdown
  website/docs/cdktf/python/r/sfn_state_machine.html.markdown
  website/docs/cdktf/python/r/vpn_connection.html.markdown
  website/docs/cdktf/typescript/d/redshift_producer_data_shares.html.markdown
  website/docs/cdktf/typescript/d/vpc_peering_connection.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/appstream_image_builder.html.markdown
  website/docs/cdktf/typescript/r/codebuild_source_credential.html.markdown
  website/docs/cdktf/typescript/r/cognito_user_pool.html.markdown
  website/docs/cdktf/typescript/r/datasync_location_azure_blob.html.markdown
  website/docs/cdktf/typescript/r/datasync_location_hdfs.html.markdown
  website/docs/cdktf/typescript/r/devopsguru_event_sources_config.html.markdown
  website/docs/cdktf/typescript/r/devopsguru_resource_collection.html.markdown
  website/docs/cdktf/typescript/r/dynamodb_table_export.html.markdown
  website/docs/cdktf/typescript/r/finspace_kx_dataview.html.markdown
  website/docs/cdktf/typescript/r/lb_listener.html.markdown
  website/docs/cdktf/typescript/r/msk_configuration.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/securitylake_subscriber.html.markdown
  website/docs/cdktf/typescript/r/sfn_state_machine.html.markdown
  website/docs/cdktf/typescript/r/vpn_connection.html.markdown
Labels: documentation, size/XL, service/elbv2, service/rds, service/codebuild, service/redshift, service/dynamodb, service/sfn, service/appstream, service/datasync, service/kafka, service/devopsguru, service/cognitoidp, service/vpc, service/vpnsite, service/finspace, service/securitylake

#36537 [new resource] lakeformation_resource_lf_tag
  .changelog/36537.txt
  internal/service/lakeformation/exports_test.go
  internal/service/lakeformation/lakeformation_test.go
  internal/service/lakeformation/resource_lf_tag.go
  internal/service/lakeformation/resource_lf_tag_test.go
  internal/service/lakeformation/service_package_gen.go
  website/docs/r/lakeformation_resource_lf_tag.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/lakeformation, generators, prioritized

#36544 Add original_snapshot_create_time for aws_db_snapshot data source
  .changelog/36544.txt
  internal/service/rds/snapshot_data_source.go
  internal/service/rds/snapshot_data_source_test.go
  website/docs/cdktf/python/d/db_snapshot.html.markdown
  website/docs/d/db_snapshot.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/rds

#36538 aws_ec2_host: Add configurable timeout
  .changelog/36538.txt
  internal/service/ec2/ec2_host.go
  internal/service/ec2/wait.go
  website/docs/r/ec2_host.html.markdown
Labels: documentation, size/S, service/ec2

#35865 r/aws_redshiftserverless_custom_domain_association: implement new resource
  .changelog/35865.txt
  internal/service/redshiftserverless/credentials_data_source.go
  internal/service/redshiftserverless/custom_domain_association.go
  internal/service/redshiftserverless/custom_domain_association_test.go
  internal/service/redshiftserverless/endpoint_access.go
  internal/service/redshiftserverless/endpoint_access_test.go
  internal/service/redshiftserverless/exports_test.go
  internal/service/redshiftserverless/find.go
  internal/service/redshiftserverless/namespace.go
  internal/service/redshiftserverless/namespace_data_source.go
  internal/service/redshiftserverless/namespace_test.go
  internal/service/redshiftserverless/resource_policy.go
  internal/service/redshiftserverless/service_package_gen.go
  internal/service/redshiftserverless/snapshot.go
  internal/service/redshiftserverless/status.go
  internal/service/redshiftserverless/sweep.go
  internal/service/redshiftserverless/usage_limit.go
  internal/service/redshiftserverless/workgroup.go
  internal/service/redshiftserverless/workgroup_data_source.go
  names/names.go
  website/docs/r/redshiftserverless_custom_domain_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/redshiftserverless

#36550 [docs] Fix terraform-provider-aws documentation typos, misspellings
  docs/acc-test-environment-variables.md
  docs/add-a-new-datasource.md
  docs/add-a-new-function.md
  docs/add-a-new-region.md
  docs/add-a-new-resource.md
  docs/add-a-new-service.md
  docs/aws-go-sdk-migrations.md
  docs/aws-go-sdk-versions.md
  docs/changelog-process.md
  docs/data-handling-and-conversion.md
  docs/debugging.md
  docs/dependency-updates.md
  docs/design-decisions/rds-bluegreen-deployments.md
  docs/design-decisions/relationship-resource-design-standards.md
  docs/documentation-changes.md
  docs/error-handling.md
  docs/faq.md
  docs/index.md
  docs/issue-reporting-and-lifecycle.md
  docs/naming.md
  docs/prioritization.md
  docs/provider-design.md
  docs/raising-a-pull-request.md
  docs/resource-filtering.md
  docs/resource-name-generation.md
  docs/resource-tagging.md
  docs/retries-and-waiters.md
  docs/running-and-writing-acceptance-tests.md
  docs/skaff.md
  docs/terraform-plugin-migrations.md
Labels: documentation, size/XL

#36557 r/aws_devopsguru_notification_channel: new resource
  .changelog/36557.txt
  internal/framework/flex/auto_expand.go
  internal/service/devopsguru/devopsguru_test.go
  internal/service/devopsguru/exports_test.go
  internal/service/devopsguru/notification_channel.go
  internal/service/devopsguru/notification_channel_test.go
  internal/service/devopsguru/service_package_gen.go
  website/docs/r/devopsguru_notification_channel.html.markdown
Labels: documentation, size/XL, tests, generators, service/devopsguru, prioritized

#36548 feat: add amazon datazone service
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/datazone/README.md
  internal/service/datazone/generate.go
  internal/service/datazone/service_endpoints_gen_test.go
  internal/service/datazone/service_package_gen.go
  internal/service/datazone/tags_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, sweeper, repository, client-connections, generators, github_actions, prioritized

#35408 AWS Mainframe Modernisation Service Deployment Resource
  .changelog/35311.txt
  .changelog/35399.txt
  .changelog/35408.txt
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_flatten.go
  internal/framework/types/once_a_week_window.go
  internal/framework/types/once_a_week_window_test.go
  internal/service/elbv2/exports_test.go
  internal/service/m2/application.go
  internal/service/m2/application_test.go
  internal/service/m2/consts.go
  internal/service/m2/deployment.go
  internal/service/m2/deployment_test.go
  internal/service/m2/environment.go
  internal/service/m2/environment_test.go
  internal/service/m2/exports_test.go
  internal/service/m2/generate.go
  internal/service/m2/service_package_gen.go
  internal/service/m2/tags_gen.go
  internal/service/m2/test-fixtures/PlanetsDemo-v1.zip
  internal/service/m2/test-fixtures/application-definition.json
  internal/service/mediapackage/exports_test.go
  internal/service/timestreamwrite/exports_test.go
  names/names.go
  website/docs/r/m2_application.html.markdown
  website/docs/r/m2_deployment.html.markdown
  website/docs/r/m2_environment.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/elbv2, service/mediapackage, service/timestreamwrite, tags, generators, partner, prioritized, service/m2

#36564 iam/instance_profile: Clarify docs
  internal/service/iam/instance_profile_test.go
  website/docs/r/iam_instance_profile.html.markdown
Labels: documentation, size/M, tests, service/iam, prioritized

#36565 t go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: documentation, size/M, tests, service/iam, prioritized

#36566 r/aws_lakeformation_resource_lf_tag: remove unneeded validation
  internal/service/lakeformation/resource_lf_tag.go
Labels: size/XS, service/lakeformation, prioritized

#35960 Adding Forcenew for `data_type` in SSM parameter
  .changelog/35960.txt
  internal/service/ssm/parameter.go
  internal/service/ssm/parameter_test.go
Labels: bug, size/XS, service/ssm

#36576 Fix doc on setting up multiple alb targets
  website/docs/r/lb_target_group_attachment.html.markdown
Labels: documentation, size/XS, service/elbv2

#36563 r/aws_route53_zone: prevent re-creation with uppercase name
  .changelog/36563.txt
  internal/service/route53/zone.go
  internal/service/route53/zone_data_source.go
  internal/service/route53/zone_test.go
Labels: size/S, tests, service/route53, prioritized

#36590 ec2/instance: Replace instance when architecture changes
  .changelog/36590.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
Labels: size/M, tests, service/ec2, prioritized

#36594 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, prioritized

#36491 Correct example in `aws_api_gateway_method_response`
  website/docs/r/api_gateway_method_response.html.markdown
Labels: documentation, size/XS, service/apigateway, prioritized

#36277 [New Resource] aws_servicecatalogappregistry_application
  .changelog/36277.txt
  internal/service/servicecatalogappregistry/application.go
  internal/service/servicecatalogappregistry/application_test.go
  internal/service/servicecatalogappregistry/exports_test.go
  internal/service/servicecatalogappregistry/service_package_gen.go
  names/names.go
  website/docs/r/servicecatalogappregistry_application.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/servicecatalogappregistry, prioritized

#36592 r/aws_opensearch_domain_policy: handle domain update propagation delays
  .changelog/36592.txt
  internal/service/elasticsearch/domain_policy.go
  internal/service/opensearch/domain_policy.go
Labels: size/XS, prioritized

#36534 New Resource: `aws_cloudfrontkeyvaluestore_key`
  .changelog/36534.txt
  .github/labeler-pr-triage.yml
  internal/errs/fwdiag/diags.go
  internal/errs/fwdiag/must.go
  internal/service/cloudfrontkeyvaluestore/exports_test.go
  internal/service/cloudfrontkeyvaluestore/key.go
  internal/service/cloudfrontkeyvaluestore/key_test.go
  internal/service/cloudfrontkeyvaluestore/service_package_gen.go
  names/data/names_data.csv
  website/docs/r/cloudfrontkeyvaluestore_key.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, external-maintainer, prioritized, service/cloudfrontkeyvaluestore

#36559 Enable Payment Cryptography Control Plane service
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/generate/serviceendpointtests/main.go
  internal/provider/service_packages_gen.go
  internal/service/paymentcryptography/generate.go
  internal/service/paymentcryptography/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, sweeper, repository, client-connections, generators, github_actions, new-service, partner

#36581 AutoFlEx: Add function to `null` out "model" structure fields
  internal/framework/types/attrtypes.go
  internal/framework/types/objectof.go
  internal/framework/types/objectof_test.go
Labels: size/M, tests, prioritized

#36597 iam/policy: Allow IAM policy leading whitespace
  .changelog/36597.txt
  internal/service/iam/policy_test.go
  internal/verify/validate.go
  internal/verify/validate_test.go
  website/docs/r/glacier_vault_lock.html.markdown
  website/docs/r/iam_group_policy.html.markdown
  website/docs/r/iam_policy.html.markdown
  website/docs/r/iam_role.html.markdown
  website/docs/r/iam_role_policy.html.markdown
  website/docs/r/iam_user_policy.html.markdown
  website/docs/r/media_store_container_policy.html.markdown
  website/docs/r/ssoadmin_permission_set_inline_policy.html.markdown
  website/docs/r/transfer_access.html.markdown
  website/docs/r/transfer_user.html.markdown
Labels: documentation, size/M, tests, service/iam, verify, prioritized

#36611 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, prioritized

#36589 New resource: aws_ec2_instance_metadata_defaults
  .changelog/36589.txt
  internal/service/ec2/ec2_instance_metadata_defaults.go
  internal/service/ec2/ec2_instance_metadata_defaults_test.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/service_package_gen.go
  website/docs/r/ec2_instance_metadata_defaults.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ec2, generators, prioritized

#36606 Sweeper fixes
  internal/service/ecrpublic/sweep.go
Labels: size/XS, service/ecrpublic, sweeper, prioritized

#36609 r/aws_secretsmanager_secret_version: shorten expected error message text
  .changelog/36609.txt
  internal/service/secretsmanager/secret_version.go
  website/docs/r/secretsmanager_secret_version.html.markdown
Labels: size/XS, service/secretsmanager, prioritized

#36586 ASG check instance protection
  .changelog/36586.txt
  internal/service/autoscaling/group.go
Labels: bug, size/XS, service/autoscaling, prioritized

#36615 r/aws_applicationinsights_application: ACTIVE is a valid create target status
  .changelog/36615.txt
  internal/service/applicationinsights/wait.go
Labels: bug, size/XS, service/applicationinsights, prioritized

#34099 Fix aws_iam_instance_profile detects that the instance profile is not associated with IAM Role.
  .changelog/34099.txt
  internal/service/iam/instance_profile.go
Labels: bug, size/XS, service/iam

#36618 generate/tags: Fix a couple of bugs with AWS SDKv2 gen
  internal/generate/tags/templates/v2/list_tags_body.tmpl
  internal/generate/tags/templates/v2/service_tags_slice_body.tmpl
Labels: size/XS, tags, generators, external-maintainer, prioritized

#34289 key_algorithm argument in the tls_cert_request resource is read only
  website/docs/r/acmpca_certificate.html.markdown
Labels: documentation, size/XS, service/acmpca, prioritized

#36626 Correct CHANGELOG entry
  .changelog/34099.txt
Labels: size/XS, prioritized

#36627 Run `make cleantidy`
  go.mod
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, prioritized

#36631 iam/policy_doc: Test there's no panic
  internal/service/iam/policy_document_data_source_test.go
Labels: size/XS, tests, service/iam, prioritized

#36633 r/aws_kinesis_firehose_delivery_stream fix broken link
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, size/XS, service/firehose

#36560 New Datasource Resource Explorer2 Search
  .changelog/36560.txt
  docs/acc-test-environment-variables.md
  internal/service/resourceexplorer2/resourceexplorer2_test.go
  internal/service/resourceexplorer2/search_data_source.go
  internal/service/resourceexplorer2/search_data_source_test.go
  internal/service/resourceexplorer2/service_package_gen.go
  website/docs/d/resourceexplorer2_search.html.markdown
Labels: documentation, size/XL, tests, generators, service/resourceexplorer2, prioritized

#36635 r/aws_redshift_cluster: skip_final_snapshot updates state only
  .changelog/36635.txt
  internal/service/redshift/cluster.go
Labels: size/XS, service/redshift, prioritized

#36640 iam/user: Force destroy with policies
  .changelog/36640.txt
  GNUmakefile
  internal/service/iam/exports.go
  internal/service/iam/sweep.go
  internal/service/iam/user.go
  internal/service/iam/user_test.go
Labels: size/XL, tests, service/iam, sweeper, prioritized

#36653 r/lakeformation_permissions: use flex functions to flatten/expand permissions
  internal/flex/flex.go
  internal/service/lakeformation/data_lake_settings.go
  internal/service/lakeformation/permissions.go
Labels: size/S, service/lakeformation, flex, prioritized

#36655 r/aws_redshift_cluster: allow snapshot_copy modifications
  .changelog/36655.txt
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_test.go
Labels: size/S, tests, service/redshift, prioritized

#36656 d/aws_devopsguru_notification_channel: new data source
  .changelog/36656.txt
  internal/service/devopsguru/devopsguru_test.go
  internal/service/devopsguru/notification_channel_data_source.go
  internal/service/devopsguru/notification_channel_data_source_test.go
  internal/service/devopsguru/service_package_gen.go
  website/docs/d/devopsguru_notification_channel.html.markdown
  website/docs/r/devopsguru_notification_channel.html.markdown
Labels: documentation, size/L, tests, generators, service/devopsguru, prioritized
