Repository hashicorp/terraform-provider-aws, pull requests merged in 2024-04, with the labels that each got.

#36659 fix: Add '.' to name regex in ami_distribution_configuration block for aws_imagebuilder_distribution_configuration
  .changelog/36659.txt
  internal/service/imagebuilder/distribution_configuration.go
  internal/service/imagebuilder/distribution_configuration_test.go
Labels: size/XS, tests, service/imagebuilder, external-maintainer, prioritized

#36661 fix: Count UTF-8 string length by # of chars vs. bytes in message and subject args for aws_cognito_user_pool
  .changelog/36661.txt
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_test.go
  internal/service/cognitoidp/validate.go
  internal/service/cognitoidp/validate_test.go
Labels: size/L, tests, service/cognitoidp, external-maintainer

#36670 r/aws_dynamodb_resource_policy: Remove documentation comments
  CHANGELOG.md
  website/docs/r/dynamodb_resource_policy.html.markdown
Labels: documentation, size/XS, service/dynamodb, prioritized

#36664 feat: Add s3_storage_options configuration block for aws_transfer_server
  .changelog/36664.txt
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  internal/service/transfer/transfer_test.go
  website/docs/r/transfer_server.html.markdown
Labels: enhancement, documentation, size/L, tests, service/transfer, external-maintainer, prioritized

#36675 r/aws_guardduty_organization_configuration_feature: Document valid values
  website/docs/r/guardduty_organization_configuration_feature.html.markdown
Labels: documentation, size/XS, service/guardduty, prioritized

#36523 feat: Add unhealthy_node_replacement arg for aws_emr_cluster
  .changelog/36523.txt
  internal/service/emr/block_public_access_configuration.go
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
  internal/service/emr/exports_test.go
  internal/service/emr/find.go
  internal/service/emr/instance_fleet.go
  internal/service/emr/instance_group.go
  internal/service/emr/managed_scaling_policy.go
  internal/service/emr/release_labels_data_source.go
  internal/service/emr/security_configuration.go
  internal/service/emr/service_package_gen.go
  internal/service/emr/status.go
  internal/service/emr/studio.go
  internal/service/emr/studio_session_mapping.go
  internal/service/emr/sweep.go
  internal/service/emr/wait.go
  website/docs/r/emr_cluster.html.markdown
Labels: enhancement, documentation, size/M, tests, service/emr, external-maintainer

#36676 Latest `aws-sdk-go` modules
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, size/XL, prioritized

#36363 amplify: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/amplify/app.go
  internal/service/amplify/app_test.go
  internal/service/amplify/backend_environment.go
  internal/service/amplify/backend_environment_test.go
  internal/service/amplify/branch.go
  internal/service/amplify/branch_test.go
  internal/service/amplify/consts.go
  internal/service/amplify/domain_association.go
  internal/service/amplify/domain_association_test.go
  internal/service/amplify/exports_test.go
  internal/service/amplify/find.go
  internal/service/amplify/generate.go
  internal/service/amplify/id.go
  internal/service/amplify/id_test.go
  internal/service/amplify/list_pages_gen.go
  internal/service/amplify/service_endpoints_gen_test.go
  internal/service/amplify/service_package_gen.go
  internal/service/amplify/status.go
  internal/service/amplify/sweep.go
  internal/service/amplify/tags_gen.go
  internal/service/amplify/wait.go
  internal/service/amplify/webhook.go
  internal/service/amplify/webhook_test.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/amplify, sweeper, tags, client-connections, generators, aws-sdk-go-migration

#36647 Fix/Enhancement: Add application_tag attribute to aws_servicecatalogappregistry_application
  .changelog/36647.txt
  internal/service/servicecatalogappregistry/application.go
  internal/service/servicecatalogappregistry/application_data_source.go
  internal/service/servicecatalogappregistry/application_data_source_test.go
  internal/service/servicecatalogappregistry/application_test.go
  website/docs/d/servicecatalogappregistry_application.html.markdown
  website/docs/r/servicecatalogappregistry_application.html.markdown
Labels: documentation, size/S, tests, service/servicecatalogappregistry, prioritized

#36542 appconfig: Migrate to AWS SDK v2
  internal/conns/awsclient_gen.go
  internal/service/appconfig/application.go
  internal/service/appconfig/application_test.go
  internal/service/appconfig/configuration_profile.go
  internal/service/appconfig/configuration_profile_data_source.go
  internal/service/appconfig/configuration_profile_data_source_test.go
  internal/service/appconfig/configuration_profile_test.go
  internal/service/appconfig/configuration_profiles_data_source.go
  internal/service/appconfig/configuration_profiles_data_source_test.go
  internal/service/appconfig/deployment.go
  internal/service/appconfig/deployment_strategy.go
  internal/service/appconfig/deployment_strategy_test.go
  internal/service/appconfig/deployment_test.go
  internal/service/appconfig/environment.go
  internal/service/appconfig/environment_data_source.go
  internal/service/appconfig/environment_data_source_test.go
  internal/service/appconfig/environment_test.go
  internal/service/appconfig/environments_data_source.go
  internal/service/appconfig/environments_data_source_test.go
  internal/service/appconfig/extension.go
  internal/service/appconfig/extension_association.go
  internal/service/appconfig/extension_test.go
  internal/service/appconfig/extenstion_association_test.go
  internal/service/appconfig/find.go
  internal/service/appconfig/generate.go
  internal/service/appconfig/hosted_configuration_version.go
  internal/service/appconfig/hosted_configuration_version_test.go
  internal/service/appconfig/service_endpoints_gen_test.go
  internal/service/appconfig/service_package.go
  internal/service/appconfig/service_package_gen.go
  internal/service/appconfig/sweep.go
  internal/service/appconfig/tags_gen.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, provider, service/appconfig, sweeper, tags, client-connections, generators, external-maintainer, prioritized, aws-sdk-go-migration

#35149 batch job definition remove force new and increment revisions
  .changelog/35149.txt
  internal/service/batch/findv2.go
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_data_source_test.go
  internal/service/batch/job_definition_test.go
  website/docs/r/batch_job_definition.html.markdown
Labels: documentation, size/XL, tests, service/batch, external-maintainer

#34266 Added multi-session support on the `appstream_fleet` resource
  .changelog/34266.txt
  internal/service/appstream/fleet.go
  internal/service/appstream/fleet_test.go
  website/docs/r/appstream_fleet.html.markdown
Labels: enhancement, documentation, size/M, tests, service/appstream, prioritized

#36692 Add documentation on engine_version update on rds cluster instance
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, size/XS, service/rds

#36691 ECS Service Alarm Config read uses wrong key
  .changelog/36691.txt
  internal/service/ecs/service.go
Labels: bug, size/XS, service/ecs

#36709 Add catalog_encryption_service_role to aws_glue_data_catalog_encryption_settings
  .changelog/35978.txt
  internal/service/glue/data_catalog_encryption_settings.go
  internal/service/glue/data_catalog_encryption_settings_data_source.go
  internal/service/glue/data_catalog_encryption_settings_test.go
  website/docs/cdktf/python/d/glue_data_catalog_encryption_settings.html.markdown
  website/docs/d/glue_data_catalog_encryption_settings.html.markdown
  website/docs/r/glue_data_catalog_encryption_settings.html.markdown
Labels: enhancement, documentation, size/M, tests, service/glue

#36699 r/aws_route53_record(fix): correctly interpret wildcard record names
  .changelog/36699.txt
  internal/service/route53/record.go
  internal/service/route53/record_test.go
Labels: size/XS, tests, service/route53

#36717 Update GuardDuty Detector Feature documentation to refer to AWS docs for supported values
  website/docs/r/guardduty_detector_feature.html.markdown
Labels: documentation, size/XS, service/guardduty, prioritized

#36685 f_wafv2_add_phone_number_address_fields
  .changelog/36685.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, size/M, tests, service/wafv2, prioritized

#36713 Fix CHANGELOG entry
  .changelog/36647.txt
Labels: size/XS, prioritized

#36652 autoscalingplans: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/autoscalingplans/find.go
  internal/service/autoscalingplans/generate.go
  internal/service/autoscalingplans/list_pages_gen.go
  internal/service/autoscalingplans/scaling_plan.go
  internal/service/autoscalingplans/scaling_plan_test.go
  internal/service/autoscalingplans/service_endpoints_gen_test.go
  internal/service/autoscalingplans/service_package_gen.go
  internal/service/autoscalingplans/status.go
  internal/service/autoscalingplans/sweep.go
  internal/service/autoscalingplans/wait.go
  names/data/names_data.csv
  names/names.go
Labels: tests, service/autoscalingplans, sweeper, client-connections, generators, external-maintainer, prioritized, aws-sdk-go-migration

#36722 Fix CHANGELOG entry
  .changelog/36699.txt
Labels: size/XS, prioritized

#36466 aws_transfer_ssh_key: Fix typos in error messages
  internal/service/transfer/ssh_key_test.go
  website/docs/r/transfer_ssh_key.html.markdown
Labels: documentation, size/XS, tests, service/transfer

#36725 infrastructure/repository: add function label
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  infrastructure/repository/labels-workflow.tf
  internal/generate/issuelabels/file.tmpl
  internal/generate/prlabels/file.tmpl
Labels: size/XS, repository, prioritized

#36723 [New Function]: `trim_iam_role_path`
  .changelog/36723.txt
  internal/function/arn_build.go
  internal/function/arn_build_test.go
  internal/function/arn_parse.go
  internal/function/arn_parse_test.go
  internal/function/trim_iam_role_path.go
  internal/function/trim_iam_role_path_test.go
  internal/provider/fwprovider/provider.go
  website/docs/functions/trim_iam_role_path.html.markdown
Labels: documentation, size/L, tests, provider, prioritized

#36517 Generated tagging acceptance tests for Batch resources
  .changelog/36517.txt
  internal/generate/tagstests/file.tmpl
  internal/generate/tagstests/main.go
  internal/service/batch/compute_environment.go
  internal/service/batch/compute_environment_tags_gen_test.go
  internal/service/batch/compute_environment_test.go
  internal/service/batch/generate.go
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_tags_gen_test.go
  internal/service/batch/job_definition_test.go
  internal/service/batch/job_queue.go
  internal/service/batch/job_queue_tags_gen_test.go
  internal/service/batch/job_queue_test.go
  internal/service/batch/scheduling_policy.go
  internal/service/batch/scheduling_policy_tags_gen_test.go
  internal/service/batch/scheduling_policy_test.go
  internal/service/batch/service_package_gen.go
Labels: size/XL, tests, service/batch, generators, prioritized

#36518 resource/aws_db_instance: Adds warning when setting `character_set_name` on replica- or restore-type resources
  .changelog/36518.txt
  internal/errs/diag.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/XL, tests, service/rds, prioritized

#36738 Updates `aws-sdk-go-base` to v2.0.0-beta.51
  .changelog/36738.txt
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/L, prioritized

#36748 [Docs]: modified aws_quicksight_data_set.physical_table_map from required to optional
  website/docs/cdktf/python/r/quicksight_data_set.html.markdown
  website/docs/cdktf/typescript/r/quicksight_data_set.html.markdown
  website/docs/r/quicksight_data_set.html.markdown
Labels: documentation, size/XS, service/quicksight

#36740 fix: add enabled_standard_arns if service_enabled is true in aws_securityhub_configuration_policy
  .changelog/36740.txt
  internal/service/securityhub/configuration_policy.go
  internal/service/securityhub/configuration_policy_test.go
  website/docs/r/securityhub_configuration_policy.html.markdown
Labels: documentation, size/XS, tests, service/securityhub, prioritized

#36751 Document support for AWS Lambda Ruby 3.3 runtime
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#36763 New Service: BCM Data Exports service client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/bcmdataexports/generate.go
  internal/service/bcmdataexports/service_endpoints_gen_test.go
  internal/service/bcmdataexports/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, sweeper, repository, client-connections, generators, github_actions, new-service, prioritized

#36490 apigatewayv2: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient.go
  internal/conns/awsclient_gen.go
  internal/flex/flex.go
  internal/sdkv2/set.go
  internal/sdkv2/set_test.go
  internal/service/apigatewayv2/api.go
  internal/service/apigatewayv2/api_data_source.go
  internal/service/apigatewayv2/api_mapping.go
  internal/service/apigatewayv2/api_mapping_test.go
  internal/service/apigatewayv2/api_test.go
  internal/service/apigatewayv2/apis_data_source.go
  internal/service/apigatewayv2/authorizer.go
  internal/service/apigatewayv2/authorizer_test.go
  internal/service/apigatewayv2/deployment.go
  internal/service/apigatewayv2/deployment_test.go
  internal/service/apigatewayv2/domain_name.go
  internal/service/apigatewayv2/domain_name_test.go
  internal/service/apigatewayv2/export_data_source.go
  internal/service/apigatewayv2/exports_test.go
  internal/service/apigatewayv2/flex.go
  internal/service/apigatewayv2/forge.go
  internal/service/apigatewayv2/generate.go
  internal/service/apigatewayv2/integration.go
  internal/service/apigatewayv2/integration_response.go
  internal/service/apigatewayv2/integration_response_test.go
  internal/service/apigatewayv2/integration_test.go
  internal/service/apigatewayv2/list_pages_gen.go
  internal/service/apigatewayv2/model.go
  internal/service/apigatewayv2/model_test.go
  internal/service/apigatewayv2/route.go
  internal/service/apigatewayv2/route_response.go
  internal/service/apigatewayv2/route_response_test.go
  internal/service/apigatewayv2/route_test.go
  internal/service/apigatewayv2/service_endpoints_gen_test.go
  internal/service/apigatewayv2/service_package.go
  internal/service/apigatewayv2/service_package_gen.go
  internal/service/apigatewayv2/stage.go
  internal/service/apigatewayv2/stage_test.go
  internal/service/apigatewayv2/sweep.go
  internal/service/apigatewayv2/tags_gen.go
  internal/service/apigatewayv2/vpc_link.go
  internal/service/apigatewayv2/vpc_link_data_source.go
  internal/service/apigatewayv2/vpc_link_test.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, provider, service/apigatewayv2, sweeper, tags, client-connections, generators, prioritized, aws-sdk-go-migration

#36762 [New Service] Adding new NeptuneGraph service.
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/generate/serviceendpointtests/main.go
  internal/provider/service_packages_gen.go
  internal/service/neptunegraph/generate.go
  internal/service/neptunegraph/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, sweeper, repository, client-connections, generators, github_actions, new-service, partner

#36761 update transitgateway cross account peering example
  examples/transit-gateway-cross-account-peering-attachment/main.tf
Labels: size/XS, examples, prioritized

#36765 docs: Add more info about multi-AZ DB cluster support for aws_rds_cluster
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/S, service/rds, needs-triage, external-maintainer

#36514 docs: add protocol to target_ip object in route53 resolver rule
  website/docs/r/route53_resolver_rule.html.markdown
Labels: documentation, waiting-response, size/XS, service/route53resolver

#36786 Restore `v5.44.0` GH Issue labeler generator
  .github/labeler-issue-triage.yml
  internal/generate/issuelabels/file.tmpl
Labels: size/XL, repository, generators, github_actions, prioritized

#36662 Auto-generate patches to help with AWS SDK v2 migration
  .ci/tools/go.mod
  .ci/tools/go.sum
  .ci/tools/main.go
  .gitignore
  GNUmakefile
  docs/aws-go-sdk-migrations.md
  tools/awssdkpatch/README.md
  tools/awssdkpatch/go.mod
  tools/awssdkpatch/go.sum
  tools/awssdkpatch/main.go
  tools/awssdkpatch/patch.tmpl
Labels: documentation, size/L, provider, generators, external-maintainer, prioritized, aws-sdk-go-migration

#36789 internal/framework/flex: support set of enum expansion
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_expand_test.go
Labels: size/M, tests, flex, prioritized

#36803 fix: add af-south-1 registry id for sagemaker prebuilt ECR image data source
  .changelog/36803.txt
  internal/service/sagemaker/prebuilt_ecr_image_data_source.go
Labels: enhancement, size/XS, service/sagemaker

#36804 r/aws_devopsguru_notification_channel: fix filters persistent diff
  .changelog/36804.txt
  internal/service/devopsguru/notification_channel.go
  internal/service/devopsguru/notification_channel_test.go
Labels: size/S, tests, service/devopsguru, prioritized

#36638 autoscaling: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/flex/flex.go
  internal/generate/tags/main.go
  internal/generate/tags/templates/v2/service_tags_slice_body.tmpl
  internal/service/autoscaling/attachment.go
  internal/service/autoscaling/attachment_test.go
  internal/service/autoscaling/consts.go
  internal/service/autoscaling/errors.go
  internal/service/autoscaling/exports_test.go
  internal/service/autoscaling/flex.go
  internal/service/autoscaling/flex_test.go
  internal/service/autoscaling/generate.go
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_data_source.go
  internal/service/autoscaling/group_migrate.go
  internal/service/autoscaling/group_tag.go
  internal/service/autoscaling/group_tag_test.go
  internal/service/autoscaling/group_test.go
  internal/service/autoscaling/groups_data_source.go
  internal/service/autoscaling/launch_configuration.go
  internal/service/autoscaling/launch_configuration_data_source.go
  internal/service/autoscaling/launch_configuration_test.go
  internal/service/autoscaling/lifecycle_hook.go
  internal/service/autoscaling/lifecycle_hook_test.go
  internal/service/autoscaling/list_pages_gen.go
  internal/service/autoscaling/notification.go
  internal/service/autoscaling/notification_test.go
  internal/service/autoscaling/policy.go
  internal/service/autoscaling/policy_test.go
  internal/service/autoscaling/schedule.go
  internal/service/autoscaling/schedule_test.go
  internal/service/autoscaling/service_endpoints_gen_test.go
  internal/service/autoscaling/service_package_gen.go
  internal/service/autoscaling/sweep.go
  internal/service/autoscaling/tags_gen.go
  internal/service/autoscaling/traffic_source_attachment.go
  internal/service/autoscaling/traffic_source_attachment_test.go
  internal/service/gamelift/game_server_group.go
  internal/tags/key_value_tags.go
  names/data/names_data.csv
Labels: size/XL, tests, service/gamelift, service/autoscaling, provider, sweeper, tags, client-connections, flex, generators, external-maintainer, prioritized, aws-sdk-go-migration

#36813 Initial Projects without Limits cleanup
  .github/workflows/pull_request_target.yml
  infrastructure/repository/projects.tf
Labels: size/XS, repository, github_actions, prioritized

#36833 internal/framework/flex(test): fix race condition
  internal/framework/flex/auto_expand_test.go
Labels: size/S, tests, prioritized

#36819 r/datasync_location_object_storage: fix issue when updating `agent_arns`
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/datasync/agent.go
  internal/service/datasync/agent_test.go
  internal/service/datasync/common_fsx_protocol_functions.go
  internal/service/datasync/generate.go
  internal/service/datasync/location_azure_blob.go
  internal/service/datasync/location_azure_blob_test.go
  internal/service/datasync/location_efs.go
  internal/service/datasync/location_efs_test.go
  internal/service/datasync/location_fsx_lustre_file_system.go
  internal/service/datasync/location_fsx_lustre_file_system_test.go
  internal/service/datasync/location_fsx_ontap_file_system.go
  internal/service/datasync/location_fsx_ontap_file_system_test.go
  internal/service/datasync/location_fsx_openzfs_file_system.go
  internal/service/datasync/location_fsx_openzfs_file_system_test.go
  internal/service/datasync/location_fsx_windows_file_system.go
  internal/service/datasync/location_fsx_windows_file_system_test.go
  internal/service/datasync/location_hdfs.go
  internal/service/datasync/location_hdfs_test.go
  internal/service/datasync/location_nfs.go
  internal/service/datasync/location_nfs_test.go
  internal/service/datasync/location_object_storage.go
  internal/service/datasync/location_object_storage_test.go
  internal/service/datasync/location_s3.go
  internal/service/datasync/location_s3_test.go
  internal/service/datasync/location_smb.go
  internal/service/datasync/location_smb_test.go
  internal/service/datasync/service_endpoints_gen_test.go
  internal/service/datasync/service_package_gen.go
  internal/service/datasync/sweep.go
  internal/service/datasync/tags_gen.go
  internal/service/datasync/task.go
  internal/service/datasync/task_test.go
  internal/service/datasync/uri.go
  names/data/names_data.csv
Labels: bug, size/XL, tests, service/datasync, sweeper, tags, client-connections, generators, prioritized, aws-sdk-go-migration

#36844 add CHANGELOG entry for `aws_datasync_location_object_storage`
  .changelog/36819.txt
Labels: size/XS, prioritized

#36810 r/aws_redshift_snapshot_copy: new resource
  .changelog/36810.txt
  internal/service/redshift/cluster.go
  internal/service/redshift/exports_test.go
  internal/service/redshift/service_package_gen.go
  internal/service/redshift/snapshot_copy.go
  internal/service/redshift/snapshot_copy_test.go
  website/docs/r/redshift_cluster.html.markdown
  website/docs/r/redshift_snapshot_copy.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/redshift, generators, prioritized

#36855 AWS SDK for Go v2 `MaxBackoff` delay to match AWS SDK for Go v1 default
  .changelog/36855.txt
  internal/conns/config.go
Labels: size/S, client-connections, prioritized, aws-sdk-go-migration

#36867 iam/docs: Update documentation
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/docs/r/iam_policy_attachment.html.markdown
Labels: documentation, size/M, service/iam, prioritized

#36862 r/aws_redshift_logging: new resource
  .changelog/36862.txt
  internal/service/redshift/cluster.go
  internal/service/redshift/exports_test.go
  internal/service/redshift/logging.go
  internal/service/redshift/logging_test.go
  internal/service/redshift/service_package_gen.go
  website/docs/r/redshift_cluster.html.markdown
  website/docs/r/redshift_logging.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/redshift, generators, prioritized

#36871 tools/awssdkpatch: tidy help text
  tools/awssdkpatch/README.md
  tools/awssdkpatch/main.go
Labels: documentation, size/XS, prioritized

#36649 fms: Migrate to aws-sdk-go-v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/fms/admin_account.go
  internal/service/fms/admin_account_test.go
  internal/service/fms/errors.go
  internal/service/fms/generate.go
  internal/service/fms/policy.go
  internal/service/fms/policy_test.go
  internal/service/fms/service_endpoints_gen_test.go
  internal/service/fms/service_package.go
  internal/service/fms/service_package_gen.go
  internal/service/fms/tags_gen.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, provider, service/fms, tags, client-connections, generators, aws-sdk-go-migration

#36879 docs: Add new filter type values for aws_codebuild_webhook
  website/docs/r/codebuild_webhook.html.markdown
Labels: documentation, size/XS, service/codebuild, external-maintainer

#36878 docs: Fix basic example in `aws_ce_anomaly_subscription` resource doc
  website/docs/r/ce_anomaly_subscription.html.markdown
Labels: documentation, size/S, service/ce, external-maintainer

#36877 docs: Fix aws_ce_tags data source doc heading + add config block links
  website/docs/d/ce_tags.html.markdown
Labels: documentation, size/S, service/ce, external-maintainer

#36876 docs: Add missing arg and attr descs for aws_ssm_document
  website/docs/d/ssm_document.html.markdown
  website/docs/r/ssm_document.html.markdown
Labels: documentation, service/ssm, external-maintainer

#36864 Update preserving EBS volume documentation link
  website/docs/cdktf/python/r/launch_template.html.markdown
  website/docs/cdktf/typescript/r/launch_template.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XS, service/ec2

#36839 d/wafv2_web_acl: Update default action docs
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XS, service/wafv2

#36843 Update kms_alias.html.markdown
  website/docs/d/kms_alias.html.markdown
Labels: documentation, size/XS, service/kms

#36820 Updated docs for aws_apigatewayv2_route_response
  website/docs/r/apigatewayv2_route_response.html.markdown
Labels: documentation, size/XS, service/apigatewayv2

#36773 costexplorer: Migrate to AWS SDK v2
  .changelog/36773.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/sdkv2/schema.go
  internal/service/appmesh/gateway_route_data_source.go
  internal/service/appmesh/mesh.go
  internal/service/appmesh/mesh_data_source.go
  internal/service/appmesh/route_data_source.go
  internal/service/appmesh/virtual_gateway_data_source.go
  internal/service/appmesh/virtual_node_data_source.go
  internal/service/appmesh/virtual_router_data_source.go
  internal/service/appmesh/virtual_service_data_source.go
  internal/service/ce/anomaly_monitor.go
  internal/service/ce/anomaly_monitor_test.go
  internal/service/ce/anomaly_subscription.go
  internal/service/ce/anomaly_subscription_test.go
  internal/service/ce/consts.go
  internal/service/ce/cost_allocation_tag.go
  internal/service/ce/cost_allocation_tag_test.go
  internal/service/ce/cost_category.go
  internal/service/ce/cost_category_data_source.go
  internal/service/ce/cost_category_data_source_test.go
  internal/service/ce/cost_category_test.go
  internal/service/ce/exports_test.go
  internal/service/ce/find.go
  internal/service/ce/generate.go
  internal/service/ce/service_endpoints_gen_test.go
  internal/service/ce/service_package_gen.go
  internal/service/ce/tags_data_source.go
  internal/service/ce/tags_data_source_test.go
  internal/service/ce/tags_gen.go
  internal/slices/slices.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, tags, client-connections, generators, service/ce, external-maintainer, prioritized, aws-sdk-go-migration

#36766 f-aws_elasticache_serverless_cache:supports-minimum for cache_usage_l…
  .changelog/36766.txt
  internal/service/elasticache/serverless_cache.go
  internal/service/elasticache/serverless_cache_test.go
  website/docs/r/elasticache_serverless_cache.html.markdown
Labels: enhancement, size/XS, service/elasticache, prioritized

#36771 Added lambda and mediapackagev2 options to aws_cloudfront_origin_access_control
  .changelog/34362.txt
  internal/service/cloudfront/origin_access_control_test.go
  website/docs/r/cloudfront_origin_access_control.html.markdown
Labels: enhancement, documentation, size/M, tests, service/cloudfront

#14270 Removes carriage return characters from CF stacks during normalize
  .changelog/14270.txt
  internal/verify/json.go
  internal/verify/json_test.go
Labels: enhancement, size/XS, tests, service/cloudformation, verify, prioritized

#36890 fix CHANGELOG entry
  .changelog/36766.txt
Labels: size/XS, prioritized

#36903 f-aws_mwaa_environment: added endpoint service as output
  .changelog/36903.txt
  internal/service/mwaa/environment.go
  internal/service/mwaa/environment_test.go
  website/docs/r/mwaa_environment.html.markdown
Labels: documentation, size/XS, tests, service/mwaa, prioritized

#36901 f-aws_dms_replication_task support for resource identifier
  .changelog/36901.txt
  internal/service/dms/replication_task.go
  internal/service/dms/replication_task_test.go
  website/docs/r/dms_replication_task.html.markdown
Labels: size/S, tests, service/dms

#36895 docs: Add missing config block descriptions for aws_signer_signing_profile
  website/docs/r/signer_signing_profile.html.markdown
Labels: documentation, size/S, service/signer, external-maintainer

#25967 fix(iam): the order of service principals should not matter
  .changelog/25967.txt
  internal/service/iam/policy_model.go
  internal/service/iam/policy_model_test.go
Labels: bug, size/S, tests, service/iam, prioritized

#36920 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/M, prioritized

#36892 [WIP] r/aws_security_group_rule: Preliminary work for migration
  go.mod
  internal/framework/base.go
  internal/framework/data_source_with_configure.go
  internal/framework/flex/string.go
  internal/framework/flex/string_test.go
  internal/framework/resource_with_configure.go
  internal/framework/types/multiset.go
  internal/framework/types/multiset_test.go
  internal/framework/types/null.go
  internal/framework/types/objectof.go
  internal/framework/with_import_by_id.go
  internal/framework/with_meta.go
  internal/framework/with_no_update.go
  internal/framework/with_noop_delete.go
  internal/framework/with_noop_update.go
  internal/framework/with_timeouts.go
  internal/generate/common/generator.go
  internal/provider/fwprovider/intercept.go
  internal/sdkv2/schema_test.go
  internal/service/appconfig/environment.go
  internal/service/batch/job_queue.go
  internal/service/cognitoidp/user_pool_client.go
  internal/service/ec2/consts.go
  internal/service/ec2/ebs_fast_snapshot_restore.go
  internal/service/ec2/ebs_fast_snapshot_restore_test.go
  internal/service/ec2/ec2_instance_connect_endpoint.go
  internal/service/ec2/ec2_instance_connect_endpoint_test.go
  internal/service/ec2/errors.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/vpc_security_group_egress_rule.go
  internal/service/ec2/vpc_security_group_ingress_rule.go
  internal/service/ec2/vpc_security_group_ingress_rule_test.go
  internal/service/ec2/vpc_security_group_rule.go
  internal/service/ec2/vpc_security_group_rule_data_source.go
  internal/service/ec2/vpc_security_group_rules_data_source.go
  internal/service/ec2/wait.go
  internal/service/globalaccelerator/accelerator_data_source.go
  internal/service/meta/arn_data_source.go
  internal/service/meta/billing_service_account_data_source.go
  internal/service/meta/default_tags_data_source.go
  internal/service/meta/ip_ranges_data_source.go
  internal/service/meta/partition_data_source.go
  internal/service/meta/region_data_source.go
  internal/service/meta/regions_data_source.go
  internal/service/meta/service_data_source.go
  internal/service/simpledb/domain.go
  internal/service/sts/caller_identity_data_source.go
  internal/tfresource/not_found_error.go
  internal/tfresource/not_found_error_test.go
Labels: size/XL, tests, service/ec2, service/simpledb, service/batch, provider, service/sts, service/globalaccelerator, service/appconfig, sweeper, generators, service/cognitoidp, service/vpc, service/ec2ebs, prioritized, service/meta

#36891 skaff: add function subcommand
  docs/skaff.md
  skaff/cmd/function.go
  skaff/cmd/root.go
  skaff/convert/convert.go
  skaff/convert/convert_test.go
  skaff/datasource/datasource.go
  skaff/datasource/datasource_test.go
  skaff/function/function.go
  skaff/function/function.tmpl
  skaff/function/functiontest.tmpl
  skaff/function/websitedoc.tmpl
  skaff/resource/resource.go
Labels: size/XL, tests, skaff, prioritized

#36919 Update amplify_app.html.markdown
  website/docs/r/amplify_app.html.markdown
Labels: documentation, size/XS, service/amplify

#36925 rds/cluster: Add test for serverlessv2 with HTTP endpoint enabled
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
Labels: size/S, tests, service/rds, prioritized

#36924 internal/function(test): change terraform version checks to 1.8.0
  internal/function/arn_build_test.go
  internal/function/arn_parse_test.go
  internal/function/trim_iam_role_path_test.go
Labels: size/XS, tests, prioritized, function

#36922 Update documentation for `@FrameworkResource` annotation
  docs/add-a-new-resource.md
  docs/resource-tagging.md
  docs/terraform-plugin-migrations.md
  skaff/resource/resourcefw.tmpl
  tools/tfsdk2fw/resource.tmpl
Labels: documentation, size/XS, skaff, prioritized

#36797 add master_account_name to oragnization's data source
  .changelog/36797.txt
  internal/service/organizations/organization.go
  internal/service/organizations/organization_data_source.go
  internal/service/organizations/organization_data_source_test.go
  website/docs/d/organizations_organization.html.markdown
  website/docs/r/organizations_organization.html.markdown
Labels: enhancement, size/XS, tests, service/organizations, prioritized

#36932 Tech debt: Migrate`events` resources to AWS SDK for Go v2
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/errs/api.go
  internal/generate/servicesemgrep/service.tmpl
  internal/service/appconfig/service_package.go
  internal/service/ec2/ebs_fast_snapshot_restore.go
  internal/service/ec2/errors.go
  internal/service/events/api_destination.go
  internal/service/events/api_destination_test.go
  internal/service/events/archive.go
  internal/service/events/archive_test.go
  internal/service/events/bus.go
  internal/service/events/bus_data_source.go
  internal/service/events/bus_policy.go
  internal/service/events/bus_policy_test.go
  internal/service/events/bus_test.go
  internal/service/events/connection.go
  internal/service/events/connection_data_source.go
  internal/service/events/connection_test.go
  internal/service/events/endpoint.go
  internal/service/events/endpoint_test.go
  internal/service/events/errors.go
  internal/service/events/exports_test.go
  internal/service/events/find.go
  internal/service/events/generate.go
  internal/service/events/id.go
  internal/service/events/id_test.go
  internal/service/events/list_pages_gen.go
  internal/service/events/permission.go
  internal/service/events/permission_test.go
  internal/service/events/rule.go
  internal/service/events/rule_migrate.go
  internal/service/events/rule_test.go
  internal/service/events/service_endpoints_gen_test.go
  internal/service/events/service_package_gen.go
  internal/service/events/source_data_source.go
  internal/service/events/status.go
  internal/service/events/sweep.go
  internal/service/events/tags_gen.go
  internal/service/events/target.go
  internal/service/events/target_migrate.go
  internal/service/events/target_test.go
  internal/service/events/validate.go
  internal/service/events/wait.go
  internal/service/s3/object.go
  internal/verify/validate.go
  internal/verify/validate_test.go
  names/data/names_data.csv
  names/names.go
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, tests, service/s3, service/appconfig, linter, sweeper, tags, client-connections, generators, verify, service/events, service/ec2ebs, prioritized

#36928 fsx/windows_file_system: Allow updates to disable audit logs
  .changelog/36928.txt
  internal/service/fsx/windows_file_system.go
  internal/service/fsx/windows_file_system_test.go
Labels: size/S, tests, service/fsx, prioritized

#36818 Generated tagging acceptance tests for Access Analyzer resources
  .actrc
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  internal/generate/servicesemgrep/service.tmpl
  internal/generate/tagstests/file.tmpl
  internal/generate/tagstests/main.go
  internal/service/accessanalyzer/accessanalyzer_test.go
  internal/service/accessanalyzer/analyzer.go
  internal/service/accessanalyzer/analyzer_tags_gen_test.go
  internal/service/accessanalyzer/analyzer_test.go
  internal/service/accessanalyzer/generate.go
Labels: size/XL, tests, service/accessanalyzer, generators, prioritized

#36933 r/aws_vpc_dhcp_options: fix not found error handling on delete
  .changelog/36933.txt
  internal/service/ec2/errors.go
  internal/service/ec2/vpc_dhcp_options.go
Labels: size/XS, service/vpc, prioritized

#29664 r/aws_key_pair: switch to aws-sdk-go-v2
  internal/service/ec2/ec2_key_pair.go
  internal/service/ec2/ec2_key_pair_data_source.go
  internal/service/ec2/ec2_key_pair_test.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/sweep.go
Labels: enhancement, size/M, tests, service/ec2, technical-debt, aws-sdk-go-migration

#36934 Add support for IPv6 DHCP Lease Time option
  .changelog/36934.txt
  internal/service/ec2/vpc_default_vpc_dhcp_options.go
  internal/service/ec2/vpc_dhcp_options.go
  internal/service/ec2/vpc_dhcp_options_data_source.go
  internal/service/ec2/vpc_dhcp_options_data_source_test.go
  internal/service/ec2/vpc_dhcp_options_test.go
  website/docs/d/vpc_dhcp_options.html.markdown
  website/docs/r/vpc_dhcp_options.html.markdown
Labels: documentation, size/M, tests, service/vpc, partner, prioritized

#36898 f-aws_vpc_ipam_pool support for cascade
  .changelog/36898.txt
  internal/service/ec2/ipam_pool.go
  internal/service/ec2/ipam_pool_test.go
  website/docs/r/vpc_ipam_pool.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ipam

#36767 f-aws_fsx_openzfs_file_system-add endpoint IP as output
  .changelog/36767.txt
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_file_system_test.go
  website/docs/r/fsx_openzfs_file_system.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/fsx

#36770 t - aws glue job
  .changelog/36770.txt
  internal/service/glue/job.go
  internal/service/glue/job_test.go
  website/docs/r/glue_job.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/glue

#36949 Add status output for organizations_account resource
  website/docs/r/organizations_account.html.markdown
Labels: documentation, size/XS, service/organizations, external-maintainer

#36942 feat: Add GitLab support to report_build_status and build_status_config for aws_codebuild_project
  .changelog/36942.txt
  internal/service/codebuild/project.go
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, size/XS, service/codebuild, external-maintainer, prioritized

#36759 f-policy_data_source: adding support for attachment count
  .changelog/36759.txt
  internal/service/iam/policy.go
  internal/service/iam/policy_data_source.go
  internal/service/iam/policy_data_source_test.go
  internal/service/iam/policy_test.go
  website/docs/d/iam_policy.html.markdown
  website/docs/r/iam_policy.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/iam

#36955 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, prioritized

#36956 Update README.md
  README.md
Labels: documentation, size/XS, provider, prioritized

#34905 Add an option to forcibly delete EventBridge Rules
  .changelog/34905.txt
  internal/service/events/rule.go
  internal/service/events/rule_test.go
  website/docs/r/cloudwatch_event_rule.html.markdown
Labels: enhancement, size/S, tests, service/events, prioritized

#36888 b-aws_lightsail_distribution:attach certificate
  .changelog/36888.txt
  internal/service/lightsail/distribution.go
Labels: bug, size/XS, service/lightsail

#36964 doc: add skaff instructions to new function guide
  docs/add-a-new-function.md
Labels: documentation, size/S, prioritized

#36969 elbv2/lb: Add client keep alive
  .changelog/36969.txt
  internal/service/elbv2/const.go
  internal/service/elbv2/exports_test.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/load_balancer_test.go
  internal/service/iam/access_key_test.go
  website/docs/r/lb.html.markdown
Labels: documentation, size/L, tests, service/iam, service/elbv2, prioritized

#36893 f-aws_transfer_connector-support security policies
  .changelog/36893.txt
  internal/service/transfer/connector.go
  internal/service/transfer/connector_test.go
  website/docs/r/transfer_connector.html.markdown
Labels: enhancement, documentation, size/M, tests, service/transfer

#36954 Add Alarm Specification feature to auto scaling groups instance refresh preferences
  .changelog/36954.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: enhancement, documentation, size/M, tests, service/autoscaling, prioritized

#36967 Fix `panic: interface conversion: interface {} is nil, not map[string]interface {}` in `sdkv2.SimpleSchemaSetFunc`
  .changelog/36967.txt
  internal/sdkv2/set.go
  internal/sdkv2/set_test.go
Labels: crash, size/S, tests, prioritized

#36953 r/imagebuilder_image: adds workflow functionality
  .changelog/36953.txt
  internal/service/imagebuilder/flex.go
  internal/service/imagebuilder/image.go
  internal/service/imagebuilder/image_test.go
  website/docs/r/imagebuilder_image.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/imagebuilder, prioritized

#36963 New resource: `aws_eip_domain_name`
  .changelog/36767.txt
  .changelog/36963.txt
  internal/conns/awsclient.go
  internal/conns/awsclient_test.go
  internal/sdkv2/suppress.go
  internal/service/ec2/consts.go
  internal/service/ec2/ec2_eip.go
  internal/service/ec2/ec2_eip_association.go
  internal/service/ec2/ec2_eip_association_test.go
  internal/service/ec2/ec2_eip_data_source.go
  internal/service/ec2/ec2_eip_domain_name.go
  internal/service/ec2/ec2_eip_domain_name_test.go
  internal/service/ec2/ec2_eip_test.go
  internal/service/ec2/ec2_eips_data_source.go
  internal/service/ec2/ec2_key_pair_data_source.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/filters.go
  internal/service/ec2/find.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_default_vpc_dhcp_options.go
  internal/service/ec2/vpc_default_vpc_dhcp_options_test.go
  internal/service/ec2/vpc_network_interface_data_source.go
  internal/service/ec2/wait.go
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/verify/diff.go
  website/docs/d/eip.html.markdown
  website/docs/r/eip.html.markdown
  website/docs/r/eip_domain_name.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ec2, service/fsx, sweeper, client-connections, generators, verify, service/vpc, prioritized

#36980 r/aws_appconfig_deployment: Handle `ConflictException` in resource Create
  .changelog/36980.txt
  internal/conns/apiretry_test.go
  internal/service/appconfig/deployment.go
  internal/service/appconfig/deployment_test.go
  internal/service/appconfig/service_package.go
  internal/service/appconfig/service_package_gen.go
  names/data/names_data.csv
Labels: size/L, tests, service/appconfig, client-connections, generators, prioritized

#36735 [Tech Debt] Split EC2 tests in CI
  .teamcity/components/generated/services_all.kt
  .teamcity/components/service_build_config.kt
  .teamcity/scripts/service_tests/acceptance_tests.sh
  .teamcity/settings.kts
  internal/generate/teamcity/acctest_services.hcl
  internal/generate/teamcity/services.go
  internal/generate/teamcity/services.tmpl
Labels: size/M, generators, prioritized

#36982 cloudformation/stack_set: Add retry on create
  .changelog/36982.txt
  internal/service/cloudformation/stack_set.go
  internal/service/cloudformation/status.go
  internal/service/cloudformation/wait.go
Labels: size/M, service/cloudformation, prioritized

#36984 Fix changelog
  .changelog/36934.txt
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XS, prioritized

#36851 New Resource aws_bedrockagent_agent
  .changelog/36851.txt
  .github/labeler-pr-triage.yml
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/agent_test.go
  internal/service/bedrockagent/exports_test.go
  internal/service/bedrockagent/generate.go
  internal/service/bedrockagent/service_package_gen.go
  internal/service/bedrockagent/tags_gen.go
  internal/service/bedrockagent/test-fixtures/instruction.txt
  internal/service/bedrockagent/test-fixtures/knowledge-base-response-generation.txt
  internal/service/bedrockagent/test-fixtures/orchestration.txt
  internal/service/bedrockagent/test-fixtures/post-processing.txt
  internal/service/bedrockagent/test-fixtures/pre-processing.txt
  names/data/names_data.csv
  names/names.go
  website/docs/r/bedrockagent_agent.html.markdown
Labels: documentation, new-resource, size/XL, tests, provider, tags, repository, generators, partner, prioritized, service/bedrockagent

#30403 r/aws_elasticache_replication_group: Add support for `transit_encryption_mode` and enabling transit encryption on existing groups
  .changelog/30403.txt
  internal/service/elasticache/exports_test.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elasticache/wait.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: bug, documentation, size/S, service/elasticache, prioritized

#36905 New Resource: Bedrock Agent Alias
  .changelog/36905.txt
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/agent_alias.go
  internal/service/bedrockagent/agent_alias_test.go
  internal/service/bedrockagent/agent_test.go
  internal/service/bedrockagent/exports_test.go
  internal/service/bedrockagent/service_package_gen.go
  website/docs/r/bedrockagent_agent_alias.html.markdown
Labels: documentation, new-resource, size/XL, tests, tags, repository, generators, github_actions, partner, prioritized, service/bedrockagent

#36993 Add `d/aws_identitystore_groups`
  .changelog/36993.txt
  internal/service/identitystore/groups_data_source.go
  internal/service/identitystore/groups_data_source_test.go
  internal/service/identitystore/service_package_gen.go
  website/docs/d/identitystore_groups.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/identitystore, generators, prioritized

#30862 AWS_CE_COST_CATEGORY: be able to use nested operands like you can via aws api
  .changelog/30862.txt
  internal/service/ce/anomaly_subscription.go
  internal/service/ce/cost_category.go
  internal/service/ce/cost_category_data_source.go
  internal/service/ce/cost_category_test.go
  internal/service/ce/tags_data_source.go
  names/names.go
Labels: bug, size/L, tests, service/ce

#36996 bump go version to 1.22
  .changelog/36996.txt
  .ci/providerlint/go.mod
  .ci/tools/go.mod
  .go-version
  docs/development-environment.md
  go.mod
  skaff/go.mod
  tools/awssdkpatch/go.mod
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, provider, linter, go, skaff, prioritized

#35413 feat: add aws_verifiedpermissions_policy
  .changelog/35413.txt
  go.mod
  go.sum
  internal/service/verifiedpermissions/exports_test.go
  internal/service/verifiedpermissions/policy.go
  internal/service/verifiedpermissions/policy_test.go
  internal/service/verifiedpermissions/service_package_gen.go
  internal/service/verifiedpermissions/sweep.go
  internal/sweep/register_gen_test.go
  website/docs/r/verifiedpermissions_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/verifiedpermissions, prioritized

#36646 Enhancement: snowflake destination addition in firehose kinesis stream
  .changelog/36646.txt
  internal/acctest/crypto.go
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: enhancement, documentation, size/L, service/firehose

#37044 td/correct test pattern for EC2 Outposts
  .teamcity/components/generated/services_all.kt
  internal/generate/teamcity/acctest_services.hcl
Labels: size/XS, generators, prioritized

#36847 New Resource Export
  .changelog/36847.txt
  internal/framework/flex/auto_flatten.go
  internal/service/bcmdataexports/export.go
  internal/service/bcmdataexports/export_test.go
  internal/service/bcmdataexports/exports_test.go
  internal/service/bcmdataexports/generate.go
  internal/service/bcmdataexports/service_package_gen.go
  internal/service/bcmdataexports/sweep.go
  internal/service/bcmdataexports/tags_gen.go
  internal/sweep/register_gen_test.go
  names/names.go
  website/docs/r/bcmdataexports_export.html.markdown
Labels: documentation, size/XL, tests, sweeper, tags, generators, prioritized, service/bcmdataexports

#37064 guides: Continuous Validation: replace Terraform Cloud with HCP Terraform
  website/docs/guides/continuous-validation-examples.html.markdown
Labels: documentation, size/XS, prioritized

#36545 appintegrations: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/appintegrations/data_integration.go
  internal/service/appintegrations/data_integration_test.go
  internal/service/appintegrations/event_integration.go
  internal/service/appintegrations/event_integration_data_source.go
  internal/service/appintegrations/event_integration_data_source_test.go
  internal/service/appintegrations/event_integration_test.go
  internal/service/appintegrations/generate.go
  internal/service/appintegrations/service_endpoints_gen_test.go
  internal/service/appintegrations/service_package_gen.go
  internal/service/appintegrations/tags_gen.go
  names/data/names_data.csv
  names/names.go
Labels: tests, provider, tags, client-connections, generators, service/appintegrations, external-maintainer, prioritized, aws-sdk-go-migration

#37047 [docs] Typo fix in website docs
  website/docs/r/codecommit_repository.html.markdown
Labels: documentation, size/XS, service/codecommit, needs-triage

#35991 [New Resource] : `aws_globalaccelerator_cross_account_attachment`
  .changelog/35991.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/flex/flex.go
  internal/flex/flex_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/service/ec2/ec2_eip.go
  internal/service/ec2/ec2_eip_data_source.go
  internal/service/ec2/ec2_eip_data_source_test.go
  internal/service/ec2/ec2_eip_test.go
  internal/service/globalaccelerator/accelerator.go
  internal/service/globalaccelerator/accelerator_data_source.go
  internal/service/globalaccelerator/accelerator_test.go
  internal/service/globalaccelerator/arn.go
  internal/service/globalaccelerator/arn_test.go
  internal/service/globalaccelerator/cross_account_attachment.go
  internal/service/globalaccelerator/cross_account_attachment_test.go
  internal/service/globalaccelerator/custom_routing_accelerator.go
  internal/service/globalaccelerator/custom_routing_accelerator_data_source.go
  internal/service/globalaccelerator/custom_routing_accelerator_test.go
  internal/service/globalaccelerator/custom_routing_endpoint_group.go
  internal/service/globalaccelerator/custom_routing_endpoint_group_test.go
  internal/service/globalaccelerator/custom_routing_listener.go
  internal/service/globalaccelerator/custom_routing_listener_test.go
  internal/service/globalaccelerator/endpoint_group.go
  internal/service/globalaccelerator/endpoint_group_test.go
  internal/service/globalaccelerator/exports_test.go
  internal/service/globalaccelerator/generate.go
  internal/service/globalaccelerator/listener.go
  internal/service/globalaccelerator/listener_test.go
  internal/service/globalaccelerator/service_endpoints_gen_test.go
  internal/service/globalaccelerator/service_package.go
  internal/service/globalaccelerator/service_package_gen.go
  internal/service/globalaccelerator/sweep.go
  internal/service/globalaccelerator/tags_gen.go
  internal/service/ssm/document.go
  internal/types/set.go
  internal/types/set_test.go
  names/data/names_data.csv
  website/docs/r/globalaccelerator_cross_account_attachment.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ec2, service/ssm, service/globalaccelerator, flex, generators

#37040 r/aws_api_gateway_rest_api: Correct set `root_resource_id` on resource Read
  .changelog/37040.txt
  internal/service/apigateway/resource_test.go
  internal/service/apigateway/rest_api.go
  internal/service/apigateway/rest_api_data_source.go
Labels: size/M, tests, service/apigateway, prioritized

#37066 Service Catalog Provisioned Product tagging issues
  .changelog/37066.txt
  internal/acctest/s3.go
  internal/generate/tagstests/file.tmpl
  internal/generate/tagstests/main.go
  internal/service/s3/exports.go
  internal/service/s3/exports_test.go
  internal/service/servicecatalog/generate.go
  internal/service/servicecatalog/portfolio.go
  internal/service/servicecatalog/portfolio_data_source_test.go
  internal/service/servicecatalog/portfolio_tags_gen_test.go
  internal/service/servicecatalog/portfolio_test.go
  internal/service/servicecatalog/product.go
  internal/service/servicecatalog/product_tags_gen_test.go
  internal/service/servicecatalog/product_test.go
  internal/service/servicecatalog/provisioned_product.go
  internal/service/servicecatalog/provisioned_product_tags_test.go
  internal/service/servicecatalog/provisioned_product_test.go
  internal/service/servicecatalog/service_package_gen.go
  internal/service/servicecatalog/tags.go
Labels: tests, service/s3, service/servicecatalog, generators, prioritized

#37042 Add MeshServiceDiscovery to MeshSpec in App Mesh
  .changelog/37042.txt
  internal/service/appmesh/appmesh_test.go
  internal/service/appmesh/consts.go
  internal/service/appmesh/exports_test.go
  internal/service/appmesh/flex.go
  internal/service/appmesh/gateway_route.go
  internal/service/appmesh/gateway_route_data_source.go
  internal/service/appmesh/mesh.go
  internal/service/appmesh/mesh_data_source.go
  internal/service/appmesh/mesh_test.go
  internal/service/appmesh/route.go
  internal/service/appmesh/route_data_source.go
  internal/service/appmesh/service_package_gen.go
  internal/service/appmesh/sweep.go
  internal/service/appmesh/virtual_gateway.go
  internal/service/appmesh/virtual_gateway_data_source.go
  internal/service/appmesh/virtual_node.go
  internal/service/appmesh/virtual_node_data_source.go
  internal/service/appmesh/virtual_router.go
  internal/service/appmesh/virtual_router_data_source.go
  internal/service/appmesh/virtual_service.go
  internal/service/appmesh/virtual_service_data_source.go
  website/docs/r/appmesh_mesh.html.markdown
Labels: enhancement, size/M, tests, service/appmesh, prioritized

#37059 r/sagemaker_app_image_config - add `code_editor_app_image_config`
  .changelog/37059.txt
  internal/service/sagemaker/app_image_config.go
  internal/service/sagemaker/app_image_config_test.go
  website/docs/r/sagemaker_app_image_config.html.markdown
Labels: enhancement, documentation, size/L, tests, service/sagemaker, external-maintainer, prioritized

#37061 new service: route53profiles
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/generate/serviceendpointtests/main.go
  internal/provider/service_packages_gen.go
  internal/service/route53profiles/generate.go
  internal/service/route53profiles/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, linter, sweeper, repository, client-connections, generators, github_actions, new-service, prioritized

#37071 Issue 36795 protobuf
  .ci/providerlint/go.mod
  .ci/providerlint/go.sum
  .ci/providerlint/vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/encoding/json/decode.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/genid/struct_gen.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/genid/type_gen.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/impl/codec_extension.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/impl/codec_tables.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/impl/message_reflect_field.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/strs/strings.go
  .ci/providerlint/vendor/google.golang.org/protobuf/internal/version/version.go
  .ci/providerlint/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  .ci/providerlint/vendor/google.golang.org/protobuf/reflect/protodesc/desc_resolve.go
  .ci/providerlint/vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  .ci/providerlint/vendor/google.golang.org/protobuf/reflect/protoreflect/proto.go
  .ci/providerlint/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  .ci/providerlint/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  .ci/providerlint/vendor/modules.txt
Labels: dependencies, size/XL, linter

#37015 f-aws_transfer_server support for sftp authentication methods
  .changelog/37015.txt
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  internal/service/transfer/transfer_test.go
  website/docs/r/transfer_server.html.markdown
Labels: enhancement, documentation, size/L, tests, service/transfer, prioritized

#37068 Correct CHANGELOG entries
  .changelog/30862.txt
  .changelog/37040.txt
Labels: size/XS, prioritized

#36783 Feature/bedrockagent knowledge base
  .changelog/36783.txt
  internal/service/bedrockagent/bedrockagent_test.go
  internal/service/bedrockagent/consts.go
  internal/service/bedrockagent/errors.go
  internal/service/bedrockagent/exports_test.go
  internal/service/bedrockagent/knowledge_base.go
  internal/service/bedrockagent/knowledge_base_test.go
  internal/service/bedrockagent/service_package_gen.go
  internal/service/bedrockagent/test-fixtures/api_schema.yaml
  internal/service/bedrockagent/test-fixtures/instruction.txt
  internal/service/bedrockagent/test-fixtures/knowledge-base-response-generation.txt
  internal/service/bedrockagent/test-fixtures/lambda_function.py
  internal/service/bedrockagent/test-fixtures/lambda_function.zip
  internal/service/bedrockagent/test-fixtures/orchestration.txt
  internal/service/bedrockagent/test-fixtures/post-processing.txt
  internal/service/bedrockagent/test-fixtures/pre-processing.txt
  website/docs/r/bedrockagent_knowledge_base.html.markdown
Labels: documentation, new-resource, size/XL, tests, tags, repository, generators, github_actions, partner, prioritized, service/bedrockagent

#37085 autoflex: json interface
  internal/framework/flex/auto_flatten.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/autoflex_test.go
  internal/json/smithy.go
  internal/service/opensearchserverless/access_policy.go
  internal/service/opensearchserverless/access_policy_data_source.go
  internal/service/opensearchserverless/lifecycle_policy.go
  internal/service/opensearchserverless/lifecycle_policy_data_source.go
Labels: size/XL, tests, flex, service/opensearchserverless, prioritized

#37069 resource/aws_cloudformation_stack_set: Adds guidance about required permissions to error message
  .changelog/37069.txt
  internal/service/cloudformation/stack_set.go
  internal/service/cloudformation/stack_set_test.go
  website/docs/r/cloudformation_stack_set.html.markdown
Labels: documentation, size/XS, tests, service/cloudformation, prioritized

#36503 Add `dedicated_log_volume` argument to `aws_db_instance` resource.
  .changelog/36503.txt
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds, prioritized

#32027 r/memorydb_user: Support IAM authentication mode
  .changelog/32027.txt
  internal/service/memorydb/user.go
  internal/service/memorydb/user_data_source_test.go
  internal/service/memorydb/user_test.go
  website/docs/d/memorydb_user.html.markdown
  website/docs/r/memorydb_user.html.markdown
Labels: enhancement, documentation, size/L, tests, service/memorydb, prioritized

#37111 batch/job_definition: Fix for ARN updating
  .changelog/37111.txt
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_data_source_test.go
  internal/service/batch/job_definition_test.go
  internal/service/batch/test-fixtures/lambdatest.zip
  website/docs/r/batch_job_definition.html.markdown
Labels: documentation, size/XL, tests, service/batch, prioritized

#37113 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/M

#37104 AutoFlEx: Avoid loss of equivalence when flattening `float32`
  internal/framework/flex/auto_flatten.go
  internal/framework/flex/auto_flatten_test.go
Labels: size/M, tests, flex, prioritized

#37109 r/aws_bedrockagent_knowledge_base: Aurora Cluster is publicly accessible in acceptance tests
  internal/acctest/acctest.go
  internal/framework/flex/list.go
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/bedrockagent_test.go
  internal/service/bedrockagent/knowledge_base.go
  internal/service/bedrockagent/knowledge_base_test.go
  internal/service/rds/cluster_instance_test.go
Labels: size/XL, tests, service/rds, prioritized, service/bedrockagent

#37114 docs: Improved desc for control_sets and controls blocks for aws_auditmanager_framework resource
  website/docs/r/auditmanager_framework.html.markdown
Labels: documentation, size/XS, service/auditmanager, external-maintainer

#37129 d/aws_verifiedpermissions_policy: fix documentation
  website/docs/r/verifiedpermissions_policy.html.markdown
Labels: documentation, size/XS, service/verifiedpermissions, prioritized

#37122 Added service client for the service AWS Chatbot
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/chatbot/generate.go
  internal/service/chatbot/service_endpoints_gen_test.go
  internal/service/chatbot/service_package.go
  internal/service/chatbot/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, sweeper, repository, client-connections, generators, new-service, partner, prioritized

#37159 Tech debt: Move `verify/ResourceDiffer` to `sdkv2` package
  .teamcity/scripts/provider_tests/acceptance_tests.sh
  .teamcity/scripts/provider_tests/unit_tests.sh
  internal/sdkv2/resource_differ.go
  internal/semver/semver.go
  internal/semver/semver_test.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticsearch/domain.go
  internal/service/kafka/cluster.go
  internal/service/lambda/function.go
  internal/service/lambda/layer_version_permission.go
  internal/service/lexmodels/bot.go
  internal/service/lexmodels/intent.go
  internal/service/lexmodels/slot_type.go
  internal/service/opensearch/domain.go
  internal/service/s3/bucket_object.go
  internal/service/s3/object.go
  internal/service/sns/topic.go
  internal/service/sqs/queue.go
  internal/service/ssm/patch_baseline.go
Labels: size/M, tests, service/lambda, service/s3, service/sns, service/sqs, service/ssm, service/elasticache, service/elasticsearch, service/lexmodels, technical-debt, service/kafka, service/opensearch, prioritized

#37145 cdktf: update documentation
  website/docs/cdktf/python/d/ecr_lifecycle_policy_document.html.markdown
  website/docs/cdktf/python/d/memorydb_user.html.markdown
  website/docs/cdktf/python/guides/continuous-validation-examples.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/appmesh_mesh.html.markdown
  website/docs/cdktf/python/r/auditmanager_framework.html.markdown
  website/docs/cdktf/python/r/batch_job_definition.html.markdown
  website/docs/cdktf/python/r/bcmdataexports_export.html.markdown
  website/docs/cdktf/python/r/bedrockagent_knowledge_base.html.markdown
  website/docs/cdktf/python/r/cloudformation_stack_set.html.markdown
  website/docs/cdktf/python/r/cloudwatch_event_target.html.markdown
  website/docs/cdktf/python/r/codecommit_repository.html.markdown
  website/docs/cdktf/python/r/db_instance.html.markdown
  website/docs/cdktf/python/r/globalaccelerator_cross_account_attachment.html.markdown
  website/docs/cdktf/python/r/kinesis_firehose_delivery_stream.html.markdown
  website/docs/cdktf/python/r/memorydb_user.html.markdown
  website/docs/cdktf/python/r/sagemaker_app_image_config.html.markdown
  website/docs/cdktf/python/r/transfer_server.html.markdown
  website/docs/cdktf/python/r/verifiedpermissions_policy.html.markdown
  website/docs/cdktf/typescript/d/ecr_lifecycle_policy_document.html.markdown
  website/docs/cdktf/typescript/d/memorydb_user.html.markdown
  website/docs/cdktf/typescript/guides/continuous-validation-examples.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/appmesh_mesh.html.markdown
  website/docs/cdktf/typescript/r/auditmanager_framework.html.markdown
  website/docs/cdktf/typescript/r/batch_job_definition.html.markdown
  website/docs/cdktf/typescript/r/bcmdataexports_export.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_knowledge_base.html.markdown
  website/docs/cdktf/typescript/r/cloudformation_stack_set.html.markdown
  website/docs/cdktf/typescript/r/cloudwatch_event_target.html.markdown
  website/docs/cdktf/typescript/r/codecommit_repository.html.markdown
  website/docs/cdktf/typescript/r/db_instance.html.markdown
  website/docs/cdktf/typescript/r/globalaccelerator_cross_account_attachment.html.markdown
  website/docs/cdktf/typescript/r/kinesis_firehose_delivery_stream.html.markdown
  website/docs/cdktf/typescript/r/memorydb_user.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_app_image_config.html.markdown
  website/docs/cdktf/typescript/r/transfer_server.html.markdown
  website/docs/cdktf/typescript/r/verifiedpermissions_policy.html.markdown
Labels: documentation, size/XL, service/rds, service/firehose, service/codecommit, service/sagemaker, service/cloudformation, service/ecr, service/batch, service/transfer, service/appmesh, service/globalaccelerator, service/auditmanager, service/memorydb, service/events, service/verifiedpermissions, service/bedrockagent, service/bcmdataexports

#37112 autoflex/ expand json interface type
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/autoflex_test.go
  internal/framework/types/smithy_json.go
  internal/framework/types/smithy_json_test.go
  internal/service/opensearchserverless/lifecycle_policy.go
Labels: size/L, tests, flex, service/opensearchserverless, prioritized

#37169 Improved docs for route53domains_registred_domain resource
  website/docs/r/route53domains_registered_domain.html.markdown
Labels: documentation, size/XS, service/route53domains, needs-triage, external-maintainer

#37107 f-aws_opensearchserverless_collection autoflex
  internal/service/opensearchserverless/collection.go
  internal/service/opensearchserverless/collection_data_source.go
Labels: size/M, flex, service/opensearchserverless, prioritized

#37164 Migrate`lambda` resources to AWS SDK for Go v2
  .ci/.golangci2.yml
  internal/conns/awsclient_gen.go
  internal/flex/flex.go
  internal/service/lambda/alias.go
  internal/service/lambda/alias_data_source.go
  internal/service/lambda/alias_data_source_test.go
  internal/service/lambda/alias_test.go
  internal/service/lambda/code_signing_config.go
  internal/service/lambda/code_signing_config_data_source.go
  internal/service/lambda/code_signing_config_test.go
  internal/service/lambda/consts.go
  internal/service/lambda/diff.go
  internal/service/lambda/event_source_mapping.go
  internal/service/lambda/event_source_mapping_test.go
  internal/service/lambda/exports_test.go
  internal/service/lambda/flex.go
  internal/service/lambda/function.go
  internal/service/lambda/function_data_source.go
  internal/service/lambda/function_event_invoke_config.go
  internal/service/lambda/function_event_invoke_config_test.go
  internal/service/lambda/function_test.go
  internal/service/lambda/function_url.go
  internal/service/lambda/function_url_data_source.go
  internal/service/lambda/function_url_test.go
  internal/service/lambda/functions_data_source.go
  internal/service/lambda/invocation.go
  internal/service/lambda/invocation_data_source.go
  internal/service/lambda/invocation_test.go
  internal/service/lambda/layer_version.go
  internal/service/lambda/layer_version_data_source.go
  internal/service/lambda/layer_version_permission.go
  internal/service/lambda/layer_version_permission_test.go
  internal/service/lambda/layer_version_test.go
  internal/service/lambda/permission.go
  internal/service/lambda/permission_test.go
  internal/service/lambda/provisioned_concurrency_config.go
  internal/service/lambda/provisioned_concurrency_config_migrate.go
  internal/service/lambda/provisioned_concurrency_config_test.go
  internal/service/lambda/service_endpoints_gen_test.go
  internal/service/lambda/service_package_gen.go
  internal/service/lambda/sweep.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/lambda, linter, sweeper, client-connections, flex, generators, prioritized

#37188 awssdkpatch: fix error message contains patch
  tools/awssdkpatch/patch.tmpl
Labels: size/XS, prioritized, aws-sdk-go-migration

#37189 bcmdataexports/export: Add test for bad column
  .changelog/37189.txt
  internal/service/bcmdataexports/export.go
  internal/service/bcmdataexports/export_test.go
  website/docs/r/bcmdataexports_export.html.markdown
Labels: documentation, size/L, tests, prioritized, service/bcmdataexports

#37194 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, prioritized
