Repository hashicorp/terraform-provider-aws, pull requests merged in 2024-05, with the labels that each got.

#37180 r/aws_vpc_endpoint: fix multiple services matched in DynamoDB gateway endpoint tests
  internal/service/ec2/vpc_endpoint_test.go
Labels: size/XS, tests, service/vpc, partner

#37131 :pencil: docs fix for role_arn argument
  website/docs/r/sagemaker_pipeline.html.markdown
Labels: documentation, size/XS, service/sagemaker, needs-triage

#37205 r/aws_bcmdataexports_export: fix error on table configuration
  .changelog/37189.txt
  .changelog/37205.txt
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/autoflex_test.go
  internal/service/bcmdataexports/export.go
  internal/service/bcmdataexports/export_test.go
  website/docs/r/bcmdataexports_export.html.markdown
Labels: bug, size/L, tests, prioritized, service/bcmdataexports

#37144 Improve import docs for aws_bcmdataexports_export resource
  website/docs/r/bcmdataexports_export.html.markdown
Labels: documentation, size/XS, prioritized, service/bcmdataexports

#26755 Additional validation for aws_cloudwatch_event_connection
  .changelog/26755.txt
  internal/service/events/connection.go
  internal/service/events/connection_test.go
Labels: bug, crash, size/L, tests, service/events, prioritized

#37182 r/aws_elasticache_replication_group: Use configured Delete timeout during resource Delete
  .changelog/30493.txt
  .changelog/34819.txt
  .changelog/37182.txt
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_data_source.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/diff.go
  internal/service/elasticache/engine_version.go
  internal/service/elasticache/engine_version_test.go
  internal/service/elasticache/errors.go
  internal/service/elasticache/exports_test.go
  internal/service/elasticache/find.go
  internal/service/elasticache/global_replication_group.go
  internal/service/elasticache/global_replication_group_test.go
  internal/service/elasticache/parameter_group.go
  internal/service/elasticache/parameter_group_test.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_data_source.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elasticache/serverless_cache.go
  internal/service/elasticache/serverless_cache_test.go
  internal/service/elasticache/service_package_gen.go
  internal/service/elasticache/status.go
  internal/service/elasticache/subnet_group_data_source.go
  internal/service/elasticache/sweep.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_data_source.go
  internal/service/elasticache/user_group.go
  internal/service/elasticache/user_group_association.go
  internal/service/elasticache/user_group_association_test.go
  internal/service/elasticache/wait.go
  internal/slices/predicates.go
  internal/slices/predicates_test.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, size/XL, tests, service/elasticache, sweeper, generators, prioritized

#36511 FSx ONTAP FlexGroup and Scale-out update
  .changelog/36511.txt
  .ci/.golangci2.yml
  internal/sdkv2/types/nullable/int.go
  internal/service/fsx/backup.go
  internal/service/fsx/backup_test.go
  internal/service/fsx/common_schema_data_source.go
  internal/service/fsx/data_repository_association.go
  internal/service/fsx/exports.go
  internal/service/fsx/exports_test.go
  internal/service/fsx/file_cache.go
  internal/service/fsx/file_cache_test.go
  internal/service/fsx/find.go
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/ontap_file_system.go
  internal/service/fsx/ontap_file_system_data_source.go
  internal/service/fsx/ontap_file_system_test.go
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/service/fsx/ontap_storage_virtual_machine_data_source.go
  internal/service/fsx/ontap_storage_virtual_machine_migrate.go
  internal/service/fsx/ontap_storage_virtual_machine_migrate_test.go
  internal/service/fsx/ontap_storage_virtual_machines_data_source.go
  internal/service/fsx/ontap_volume.go
  internal/service/fsx/ontap_volume_test.go
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_snapshot.go
  internal/service/fsx/openzfs_snapshot_data_source.go
  internal/service/fsx/openzfs_snapshot_data_source_test.go
  internal/service/fsx/openzfs_snapshot_test.go
  internal/service/fsx/openzfs_volume.go
  internal/service/fsx/service_package_gen.go
  internal/service/fsx/status.go
  internal/service/fsx/sweep.go
  internal/service/fsx/wait.go
  internal/service/fsx/windows_file_system.go
  internal/service/fsx/windows_file_system_data_source.go
  website/docs/r/fsx_ontap_file_system.html.markdown
  website/docs/r/fsx_ontap_volume.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/fsx, partner, prioritized

#37227 tools/awssdkpatch: enum type input/output patch
  tools/awssdkpatch/patch.tmpl
Labels: enhancement, size/XS, prioritized, aws-sdk-go-migration

#37215 Adds sweeper for X-Ray Group
  internal/service/xray/sweep.go
  internal/sweep/register_gen_test.go
Labels: size/S, tests, service/xray, sweeper, generators, prioritized

#37185 New resource aws_bedrockagent_agent_knowledge_base_association
  .changelog/37185.txt
  internal/service/bedrockagent/agent_knowledge_base_association.go
  internal/service/bedrockagent/agent_knowledge_base_association_test.go
  internal/service/bedrockagent/agent_test.go
  internal/service/bedrockagent/exports_test.go
  internal/service/bedrockagent/knowledge_base_test.go
  internal/service/bedrockagent/service_package_gen.go
  internal/service/bedrockagent/test-fixtures/api_schema.yaml
  internal/service/bedrockagent/test-fixtures/instruction.txt
  internal/service/bedrockagent/test-fixtures/knowledge-base-response-generation.txt
  internal/service/bedrockagent/test-fixtures/lambda_function.py
  internal/service/bedrockagent/test-fixtures/lambda_function.zip
  internal/service/bedrockagent/test-fixtures/orchestration.txt
  internal/service/bedrockagent/test-fixtures/post-processing.txt
  internal/service/bedrockagent/test-fixtures/pre-processing.txt
  website/docs/r/bedrockagent_agent_knowledge_base_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, prioritized, service/bedrockagent

#36437 autoflex: wire up option functions, add `IgnoreFieldNames` option
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/autoflex.go
Labels: size/XL, tests, flex, prioritized

#37235 Added Workspaces Web Client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/workspacesweb/README.md
  internal/service/workspacesweb/generate.go
  internal/service/workspacesweb/service_endpoints_gen_test.go
  internal/service/workspacesweb/service_package_gen.go
  internal/service/workspacesweb/tags_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, linter, sweeper, tags, client-connections, generators, new-service, service/workspacesweb, external-maintainer

#37225 td/fix various EBS test failures
  internal/service/ec2/ebs_default_kms_key_data_source_test.go
  internal/service/ec2/ebs_volume_attachment.go
Labels: size/XS, tests, service/ec2ebs, prioritized

#37158 Feature/bedrockagent data source
  .changelog/37158.txt
  internal/service/bedrockagent/bedrockagent_test.go
  internal/service/bedrockagent/data_source.go
  internal/service/bedrockagent/data_source_test.go
  internal/service/bedrockagent/exports_test.go
  internal/service/bedrockagent/service_package_gen.go
  website/docs/r/bedrockagent_data_source.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, prioritized, service/bedrockagent

#37261 Ensure regressions action runs on pull_request_target
  .github/workflows/regressions.yml
Labels: size/XS, repository, github_actions, prioritized

#37251 fix(rds): DescribeOrderableDBInstanceOptionsInput MaxRecords to 1000
  .changelog/37251.txt
  internal/service/rds/orderable_instance_data_source.go
Labels: bug, regression, size/XS, service/rds, prioritized

#36600 feat(datazone): add domain and environment blueprint configuration resources
  internal/service/datazone/domain.go
  internal/service/datazone/domain_test.go
  internal/service/datazone/environment_blueprint_configuration.go
  internal/service/datazone/environment_blueprint_configuration_test.go
  internal/service/datazone/environment_blueprint_data_source.go
  internal/service/datazone/environment_blueprint_data_source_test.go
  internal/service/datazone/errors.go
  internal/service/datazone/exports_test.go
  internal/service/datazone/service_package_gen.go
  website/docs/d/datazone_environment_blueprint.html.markdown
  website/docs/r/datazone_domain.html.markdown
  website/docs/r/datazone_environment_blueprint_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, prioritized, service/datazone

#37267 go mod tidy
  .changelog/36600.txt
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XS, prioritized

#36268 Fix `aws_securitylake_subscriber` to accept more than one source blocks
  .changelog/36268.txt
  internal/service/securitylake/aws_log_source.go
  internal/service/securitylake/aws_log_source_test.go
  internal/service/securitylake/custom_log_source.go
  internal/service/securitylake/custom_log_source_test.go
  internal/service/securitylake/data_lake.go
  internal/service/securitylake/data_lake_test.go
  internal/service/securitylake/exports_test.go
  internal/service/securitylake/securitylake_test.go
  internal/service/securitylake/subscriber.go
  internal/service/securitylake/subscriber_notification_test.go
  internal/service/securitylake/subscriber_test.go
  internal/service/ssm/parameter_test.go
  website/docs/r/securitylake_aws_log_source.html.markdown
  website/docs/r/securitylake_custom_log_source.html.markdown
  website/docs/r/securitylake_data_lake.html.markdown
  website/docs/r/securitylake_subscriber.html.markdown
Labels: bug, size/XS, service/securitylake, prioritized

#37140 `r/kms_key`: add support for `rotation_period_in_days`
  .changelog/37140.txt
  internal/service/kms/key.go
  internal/service/kms/key_test.go
  website/docs/r/kms_key.html.markdown
Labels: enhancement, documentation, size/M, tests, service/s3, service/kms, sweeper, tags, client-connections, generators, service/ec2ebs, prioritized

#37265 tools/awssdkpatch: use expression for string slice/map patch
  tools/awssdkpatch/patch.tmpl
Labels: enhancement, size/XS, prioritized, aws-sdk-go-migration

#37279 cdktf: update documentation
  website/docs/cdktf/python/d/datazone_environment_blueprint.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/bcmdataexports_export.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent_knowledge_base_association.html.markdown
  website/docs/cdktf/python/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/python/r/datazone_domain.html.markdown
  website/docs/cdktf/python/r/datazone_environment_blueprint_configuration.html.markdown
  website/docs/cdktf/python/r/elasticache_replication_group.html.markdown
  website/docs/cdktf/python/r/fsx_ontap_file_system.html.markdown
  website/docs/cdktf/python/r/fsx_ontap_volume.html.markdown
  website/docs/cdktf/python/r/route53domains_registered_domain.html.markdown
  website/docs/cdktf/python/r/sagemaker_pipeline.html.markdown
  website/docs/cdktf/python/r/securitylake_aws_log_source.html.markdown
  website/docs/cdktf/python/r/securitylake_custom_log_source.html.markdown
  website/docs/cdktf/python/r/securitylake_data_lake.html.markdown
  website/docs/cdktf/python/r/securitylake_subscriber.html.markdown
  website/docs/cdktf/typescript/d/datazone_environment_blueprint.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/bcmdataexports_export.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent_knowledge_base_association.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/typescript/r/datazone_domain.html.markdown
  website/docs/cdktf/typescript/r/datazone_environment_blueprint_configuration.html.markdown
  website/docs/cdktf/typescript/r/elasticache_replication_group.html.markdown
  website/docs/cdktf/typescript/r/fsx_ontap_file_system.html.markdown
  website/docs/cdktf/typescript/r/fsx_ontap_volume.html.markdown
  website/docs/cdktf/typescript/r/route53domains_registered_domain.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_pipeline.html.markdown
  website/docs/cdktf/typescript/r/securitylake_aws_log_source.html.markdown
  website/docs/cdktf/typescript/r/securitylake_custom_log_source.html.markdown
  website/docs/cdktf/typescript/r/securitylake_data_lake.html.markdown
  website/docs/cdktf/typescript/r/securitylake_subscriber.html.markdown
Labels: documentation, size/XL, service/sagemaker, service/elasticache, service/route53domains, service/fsx, service/securitylake, service/bedrockagent, service/datazone, service/bcmdataexports

#37268 iam: Prefer constants over literal strings
  .ci/.semgrep.yml
  internal/generate/servicepackage/file.tmpl
  internal/generate/servicepackage/main.go
  internal/service/firehose/service_package_gen.go
  internal/service/iam/group.go
  internal/service/iam/group_membership.go
  internal/service/iam/group_policy.go
  internal/service/iam/group_policy_test.go
  internal/service/iam/group_test.go
  internal/service/iam/instance_profile.go
  internal/service/iam/instance_profile_data_source.go
  internal/service/iam/instance_profile_test.go
  internal/service/iam/instance_profiles_data_source_test.go
  internal/service/iam/policy.go
  internal/service/iam/policy_attachment.go
  internal/service/iam/policy_data_source.go
  internal/service/iam/policy_data_source_test.go
  internal/service/iam/policy_test.go
  internal/service/iam/role.go
  internal/service/iam/role_data_source.go
  internal/service/iam/role_data_source_test.go
  internal/service/iam/role_policy.go
  internal/service/iam/role_policy_test.go
  internal/service/iam/role_test.go
  internal/service/iam/saml_provider.go
  internal/service/iam/saml_provider_data_source.go
  internal/service/iam/saml_provider_data_source_test.go
  internal/service/iam/saml_provider_test.go
  internal/service/iam/server_certificate.go
  internal/service/iam/server_certificate_data_source.go
  internal/service/iam/server_certificate_data_source_test.go
  internal/service/iam/server_certificate_test.go
  internal/service/iam/service_linked_role.go
  internal/service/iam/service_linked_role_test.go
  internal/service/iam/service_package_gen.go
  internal/service/iam/service_specific_credential_test.go
  internal/service/iam/session_context_data_source_test.go
  internal/service/iam/signing_certificate_test.go
  internal/service/iam/user.go
  internal/service/iam/user_data_source_test.go
  internal/service/iam/user_policy.go
  internal/service/iam/user_policy_test.go
  internal/service/iam/validate_test.go
  internal/service/kinesis/service_package_gen.go
Labels: size/XL, tests, service/iam, service/firehose, service/kinesis, linter, generators, prioritized

#37292 meta: Prefer constants over string literals
  .ci/.semgrep.yml
  internal/service/meta/region_data_source.go
  internal/service/meta/region_data_source_test.go
Labels: size/XS, tests, linter, prioritized, service/meta

#37287 Adjust documentation of enable_http_endpoint option of RDS cluster
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#37275 docs: Add missing SSE-KMS-WITH-SERVICE-ROLE valid value to catalog_encryption_mode for aws_glue_data_catalog_encryption_settings
  website/docs/r/glue_data_catalog_encryption_settings.html.markdown
Labels: documentation, size/XS, service/glue, external-maintainer

#37274 docs: Add AWS Resource Tagging Standard ARN to the ref list in the aws_securityhub_standards_subscription resource doc
  website/docs/r/securityhub_standards_subscription.html.markdown
Labels: documentation, size/XS, service/securityhub, needs-triage, external-maintainer

#37294 rds: Prefer constants over string literals
  .ci/.semgrep.yml
  internal/service/rds/cluster_parameter_group.go
  internal/service/rds/cluster_parameter_group_test.go
  internal/service/rds/event_subscription.go
  internal/service/rds/event_subscription_test.go
  internal/service/rds/flex.go
  internal/service/rds/flex_test.go
  internal/service/rds/instance_migrate.go
  internal/service/rds/instance_test.go
  internal/service/rds/option_group.go
  internal/service/rds/option_group_test.go
  internal/service/rds/parameter_group.go
  internal/service/rds/parameter_group_data_source.go
  internal/service/rds/parameter_group_data_source_test.go
  internal/service/rds/parameter_group_test.go
  internal/service/rds/proxy.go
  internal/service/rds/proxy_data_source.go
  internal/service/rds/proxy_default_target_group.go
  internal/service/rds/proxy_endpoint_test.go
  internal/service/rds/proxy_test.go
  internal/service/rds/subnet_group.go
  internal/service/rds/subnet_group_data_source.go
  internal/service/rds/subnet_group_data_source_test.go
  internal/service/rds/subnet_group_test.go
  internal/service/rds/validate_test.go
Labels: size/XL, tests, service/rds, linter, prioritized

#37250 Docs: Update mysql major version for db_instance to 8.0
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds

#37304 q*: Prefer consts over string literals
  .ci/.semgrep.yml
  internal/service/qldb/ledger.go
  internal/service/qldb/ledger_data_source.go
  internal/service/qldb/ledger_data_source_test.go
  internal/service/qldb/ledger_test.go
  internal/service/qldb/stream.go
  internal/service/qldb/stream_test.go
  internal/service/quicksight/analysis.go
  internal/service/quicksight/analysis_test.go
  internal/service/quicksight/dashboard.go
  internal/service/quicksight/dashboard_test.go
  internal/service/quicksight/data_set.go
  internal/service/quicksight/data_set_data_source.go
  internal/service/quicksight/data_set_data_source_test.go
  internal/service/quicksight/data_set_test.go
  internal/service/quicksight/data_source.go
  internal/service/quicksight/data_source_test.go
  internal/service/quicksight/folder.go
  internal/service/quicksight/folder_membership.go
  internal/service/quicksight/folder_test.go
  internal/service/quicksight/group.go
  internal/service/quicksight/group_data_source.go
  internal/service/quicksight/group_data_source_test.go
  internal/service/quicksight/group_membership.go
  internal/service/quicksight/group_test.go
  internal/service/quicksight/iam_policy_assignment.go
  internal/service/quicksight/iam_policy_assignment_test.go
  internal/service/quicksight/ingestion.go
  internal/service/quicksight/ingestion_test.go
  internal/service/quicksight/namespace.go
  internal/service/quicksight/namespace_test.go
  internal/service/quicksight/refresh_schedule.go
  internal/service/quicksight/refresh_schedule_test.go
  internal/service/quicksight/sweep.go
  internal/service/quicksight/template.go
  internal/service/quicksight/template_alias.go
  internal/service/quicksight/template_alias_test.go
  internal/service/quicksight/template_test.go
  internal/service/quicksight/theme.go
  internal/service/quicksight/theme_data_source.go
  internal/service/quicksight/theme_data_source_test.go
  internal/service/quicksight/theme_test.go
  internal/service/quicksight/user.go
  internal/service/quicksight/user_data_source.go
  internal/service/quicksight/user_data_source_test.go
  internal/service/quicksight/user_test.go
  internal/service/quicksight/vpc_connection.go
  internal/service/quicksight/vpc_connection_test.go
Labels: size/XL, tests, service/quicksight, service/qldb, linter, sweeper, prioritized

#37298 deps: use go 1.22.2
  go.mod
  skaff/go.mod
  tools/awssdkpatch/go.mod
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, skaff, prioritized

#37307 p*: Prefer consts over string literals
  .ci/.semgrep.yml
  internal/service/pinpoint/adm_channel.go
  internal/service/pinpoint/adm_channel_test.go
  internal/service/pinpoint/apns_channel.go
  internal/service/pinpoint/apns_sandbox_channel.go
  internal/service/pinpoint/apns_voip_channel.go
  internal/service/pinpoint/apns_voip_sandbox_channel.go
  internal/service/pinpoint/app.go
  internal/service/pinpoint/app_test.go
  internal/service/pinpoint/baidu_channel.go
  internal/service/pinpoint/baidu_channel_test.go
  internal/service/pinpoint/email_channel.go
  internal/service/pinpoint/email_channel_test.go
  internal/service/pinpoint/event_stream.go
  internal/service/pinpoint/event_stream_test.go
  internal/service/pinpoint/gcm_channel.go
  internal/service/pinpoint/gcm_channel_test.go
  internal/service/pinpoint/sms_channel.go
  internal/service/pinpoint/sms_channel_test.go
  internal/service/pipes/pipe.go
  internal/service/pipes/pipe_test.go
  internal/service/pipes/source_parameters.go
  internal/service/pipes/target_parameters.go
  internal/service/polly/voices_data_source.go
  internal/service/polly/voices_data_source_test.go
  internal/service/pricing/product_data_source.go
Labels: size/XL, tests, service/pinpoint, service/pricing, service/polly, linter, service/pipes, prioritized

#37329 quicksight: Add const over literal
  .ci/.semgrep.yml
  internal/service/quicksight/schema/analysis.go
  internal/service/quicksight/schema/dashboard.go
  internal/service/quicksight/schema/parameters.go
  internal/service/quicksight/schema/template.go
  internal/service/quicksight/schema/template_control.go
  internal/service/quicksight/schema/template_filter.go
  internal/service/quicksight/schema/template_format.go
  internal/service/quicksight/schema/template_parameter.go
  internal/service/quicksight/schema/template_sheet.go
  internal/service/quicksight/schema/visual.go
  internal/service/quicksight/schema/visual_actions.go
  internal/service/quicksight/schema/visual_chart_configuration.go
  internal/service/quicksight/schema/visual_histogram.go
  internal/service/quicksight/schema/visual_insight.go
  internal/service/quicksight/schema/visual_kpi.go
  internal/service/quicksight/schema/visual_line_chart.go
  internal/service/quicksight/schema/visual_pivot_table.go
  internal/service/quicksight/schema/visual_table.go
Labels: size/S, service/quicksight, linter, prioritized

#37354 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, prioritized

#37239 awssdkpatch: Fix aliased import substitutions
  tools/awssdkpatch/README.md
  tools/awssdkpatch/main.go
  tools/awssdkpatch/patch.tmpl
Labels: size/XS, external-maintainer, aws-sdk-go-migration

#37358 .ci: Prefer min, max constants over literals
  .ci/.semgrep.yml
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_data_source.go
  internal/service/autoscaling/group_migrate.go
  internal/service/ec2/ec2_fleet.go
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/ec2_spot_fleet_request.go
  internal/service/quicksight/schema/visual_gauge_chart.go
  names/attr_consts.go
Labels: size/XL, service/ec2, service/autoscaling, service/quicksight, linter, prioritized

#37334 Adds sweepers for `aws_lakeformation_permissions` and `aws_lakeformation_resource`
  internal/service/lakeformation/sweep.go
  internal/sweep/register_gen_test.go
Labels: size/M, tests, service/lakeformation, sweeper, generators, prioritized

#37332 resource/aws_securitylake_subscriber_notification: Fixes
  .changelog/37332.txt
  internal/service/securitylake/exports_test.go
  internal/service/securitylake/securitylake_test.go
  internal/service/securitylake/subscriber_notification.go
  internal/service/securitylake/subscriber_notification_test.go
  website/docs/r/securitylake_subscriber.html.markdown
  website/docs/r/securitylake_subscriber_notification.html.markdown
Labels: documentation, size/XL, tests, service/securitylake, prioritized

#37360 dms: Clarify that read-only task settings should not be used
  internal/service/dms/replication_task_test.go
  internal/service/dms/task_settings_json_test.go
  website/docs/r/dms_replication_task.html.markdown
Labels: documentation, size/M, tests, service/dms, prioritized

#37364 ci: Prefer constant for string literal "availability_zones"
  .ci/.semgrep.yml
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_data_source.go
  internal/service/autoscaling/group_migrate.go
  internal/service/dax/cluster.go
  internal/service/dlm/lifecycle_policy.go
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_snapshot.go
  internal/service/docdb/orderable_db_instance_data_source.go
  internal/service/ds/directory.go
  internal/service/ds/directory_data_source.go
  internal/service/ec2/vpc_endpoint_service.go
  internal/service/ec2/vpc_endpoint_service_data_source.go
  internal/service/ec2/vpc_network_insights_analysis.go
  internal/service/elasticsearch/domain.go
  internal/service/elasticsearch/domain_data_source.go
  internal/service/elasticsearch/flex.go
  internal/service/elasticsearch/vpc_endpoint.go
  internal/service/elb/load_balancer.go
  internal/service/elb/load_balancer_data_source.go
  internal/service/finspace/kx_environment.go
  internal/service/finspace/kx_volume.go
  internal/service/medialive/channel.go
  internal/service/medialive/multiplex.go
  internal/service/mq/broker_instance_type_offerings_data_source.go
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_snapshot.go
  internal/service/neptune/orderable_db_instance_data_source.go
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_data_source.go
  internal/service/opensearch/flex.go
  internal/service/opensearch/vpc_endpoint.go
  internal/service/rds/cluster.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_migrate.go
  internal/service/rds/cluster_snapshot.go
  internal/service/rds/cluster_snapshot_data_source.go
  internal/service/rds/orderable_instance_data_source.go
  internal/service/redshift/orderable_cluster_data_source.go
  names/attr_consts.go
Labels: size/L, service/dax, service/rds, service/elb, service/redshift, service/medialive, service/autoscaling, service/mq, service/elasticsearch, service/neptune, service/dlm, service/docdb, linter, service/opensearch, service/ds, service/vpc, service/finspace, prioritized

#37365 ci: Prefer constant for string literal "network_interface_id"
  .ci/.semgrep.yml
  internal/service/ec2/ec2_eip_association.go
  internal/service/ec2/ec2_eip_data_source.go
  internal/service/ec2/ec2_eip_data_source_test.go
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_data_source.go
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/transitgateway_multicast_domain_data_source.go
  internal/service/ec2/transitgateway_multicast_group_member.go
  internal/service/ec2/transitgateway_multicast_group_source.go
  internal/service/ec2/verifiedaccess_endpoint.go
  internal/service/ec2/vpc_default_route_table.go
  internal/service/ec2/vpc_nat_gateway.go
  internal/service/ec2/vpc_nat_gateway_data_source.go
  internal/service/ec2/vpc_nat_gateway_data_source_test.go
  internal/service/ec2/vpc_nat_gateway_test.go
  internal/service/ec2/vpc_network_insights_analysis.go
  internal/service/ec2/vpc_network_interface_attachment.go
  internal/service/ec2/vpc_network_interface_attachment_test.go
  internal/service/ec2/vpc_network_interface_sg_attachment.go
  internal/service/ec2/vpc_network_interface_sg_attachment_test.go
  internal/service/ec2/vpc_route.go
  internal/service/ec2/vpc_route_data_source.go
  internal/service/ec2/vpc_route_table.go
  internal/service/ec2/vpc_route_table_data_source.go
  internal/service/ec2/vpc_route_table_test.go
  internal/service/ec2/vpc_route_test.go
  internal/service/ec2/vpc_traffic_mirror_session.go
  internal/service/ec2/vpc_traffic_mirror_target.go
  internal/service/ec2/vpc_traffic_mirror_target_test.go
  internal/service/efs/mount_target.go
  internal/service/efs/mount_target_data_source.go
  internal/service/efs/mount_target_data_source_test.go
  internal/service/efs/mount_target_test.go
  internal/service/redshift/endpoint_access.go
  internal/service/redshiftserverless/endpoint_access.go
  internal/service/redshiftserverless/workgroup.go
  internal/service/redshiftserverless/workgroup_data_source.go
  internal/service/s3outposts/endpoint.go
  internal/service/sagemaker/notebook_instance.go
  internal/service/sagemaker/notebook_instance_test.go
  internal/service/storagegateway/cached_iscsi_volume.go
  internal/service/storagegateway/cached_iscsi_volume_test.go
  internal/service/storagegateway/stored_iscsi_volume.go
  internal/service/storagegateway/stored_iscsi_volume_test.go
  names/attr_consts.go
Labels: size/XL, tests, service/ec2, service/redshift, service/storagegateway, service/sagemaker, service/efs, service/s3outposts, linter, service/transitgateway, service/vpc, service/redshiftserverless, service/verifiedaccess, prioritized

#37378 ci: Prefer constant for string literal "cluster_identifier"
  .ci/.semgrep.yml
  internal/service/appflow/connector_profile.go
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_instance.go
  internal/service/docdb/cluster_instance_test.go
  internal/service/docdb/cluster_test.go
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_endpoint.go
  internal/service/neptune/cluster_endpoint_test.go
  internal/service/neptune/cluster_instance.go
  internal/service/neptune/cluster_instance_test.go
  internal/service/neptune/cluster_test.go
  internal/service/rds/cluster.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_data_source_test.go
  internal/service/rds/cluster_endpoint.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  internal/service/rds/cluster_migrate.go
  internal/service/rds/cluster_test.go
  internal/service/rds/clusters_data_source_test.go
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_credentials_data_source.go
  internal/service/redshift/cluster_credentials_data_source_test.go
  internal/service/redshift/cluster_data_source.go
  internal/service/redshift/cluster_data_source_test.go
  internal/service/redshift/cluster_iam_roles.go
  internal/service/redshift/cluster_snapshot.go
  internal/service/redshift/cluster_snapshot_test.go
  internal/service/redshift/endpoint_access.go
  internal/service/redshift/endpoint_access_test.go
  internal/service/redshift/endpoint_authorization.go
  internal/service/redshift/endpoint_authorization_test.go
  internal/service/redshift/logging.go
  internal/service/redshift/logging_test.go
  internal/service/redshift/partner.go
  internal/service/redshift/partner_test.go
  internal/service/redshift/scheduled_action.go
  internal/service/redshift/snapshot_copy.go
  internal/service/redshift/snapshot_copy_test.go
  internal/service/redshift/snapshot_schedule_association.go
  internal/service/redshift/snapshot_schedule_association_test.go
  internal/service/redshift/usage_limit.go
  internal/service/redshift/usage_limit_test.go
  internal/service/redshiftdata/statement.go
  internal/service/redshiftdata/statement_test.go
  names/attr_consts.go
Labels: size/L, tests, service/rds, service/redshift, service/neptune, service/docdb, service/appflow, linter, service/redshiftdata, prioritized

#36778 Fix: Set view_arn and other attrs properly for aws_resourcexplorer2_search data source
  .changelog/36778.txt
  internal/service/resourceexplorer2/search_data_source.go
  internal/service/resourceexplorer2/search_data_source_test.go
  website/docs/d/resourceexplorer2_search.html.markdown
Labels: bug, documentation, size/L, tests, service/resourceexplorer2, external-maintainer

#37288 Migrate `dynamodb` resources to AWS SDK for Go v2
  .changelog/37288.txt
  internal/conns/awsclient.go
  internal/conns/awsclient_gen.go
  internal/maps/maps.go
  internal/service/dynamodb/arn.go
  internal/service/dynamodb/backup.go
  internal/service/dynamodb/contributor_insights.go
  internal/service/dynamodb/contributor_insights_test.go
  internal/service/dynamodb/errors.go
  internal/service/dynamodb/exports_test.go
  internal/service/dynamodb/find.go
  internal/service/dynamodb/flex.go
  internal/service/dynamodb/flex_test.go
  internal/service/dynamodb/generate.go
  internal/service/dynamodb/global_table.go
  internal/service/dynamodb/global_table_test.go
  internal/service/dynamodb/kinesis_streaming_destination.go
  internal/service/dynamodb/kinesis_streaming_destination_test.go
  internal/service/dynamodb/list_backups_pages_gen.go
  internal/service/dynamodb/service_endpoints_gen_test.go
  internal/service/dynamodb/service_package.go
  internal/service/dynamodb/service_package_gen.go
  internal/service/dynamodb/status.go
  internal/service/dynamodb/sweep.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_data_source.go
  internal/service/dynamodb/table_export.go
  internal/service/dynamodb/table_export_test.go
  internal/service/dynamodb/table_item.go
  internal/service/dynamodb/table_item_data_source.go
  internal/service/dynamodb/table_item_test.go
  internal/service/dynamodb/table_migrate.go
  internal/service/dynamodb/table_replica.go
  internal/service/dynamodb/table_replica_test.go
  internal/service/dynamodb/table_test.go
  internal/service/dynamodb/tag_gen.go
  internal/service/dynamodb/tags_gen.go
  internal/service/dynamodb/tagsv2_gen.go
  internal/service/dynamodb/wait.go
  internal/service/lambda/function_url.go
  internal/slices/slices.go
  internal/sweep/awsv1/skip.go
  names/data/names_data.csv
Labels: size/XL, tests, service/lambda, service/dynamodb, sweeper, tags, client-connections, generators, prioritized

#37278 Update pipes_pipe.html.markdown
  website/docs/r/pipes_pipe.html.markdown
Labels: documentation, size/XS, service/pipes

#37393 Latest `aws-sdk-go` modules
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, size/XL, prioritized

#37099 Include license file in release package
  .goreleaser.yml
Labels: size/XS, prioritized

#36983 r/ecs_sevice doc: removes duplicate references
  website/docs/r/ecs_service.html.markdown
Labels: documentation, size/XS, service/ecs

#37264 Migrate `wafv2` service to AWS Go SDKv2
  go.mod
  go.sum
  internal/acctest/acctest.go
  internal/conns/awsclient_gen.go
  internal/flex/flex.go
  internal/service/wafv2/exports_test.go
  internal/service/wafv2/flex.go
  internal/service/wafv2/generate.go
  internal/service/wafv2/ip_set.go
  internal/service/wafv2/ip_set_data_source.go
  internal/service/wafv2/ip_set_test.go
  internal/service/wafv2/list_pages_gen.go
  internal/service/wafv2/regex_pattern_set.go
  internal/service/wafv2/regex_pattern_set_data_source.go
  internal/service/wafv2/regex_pattern_set_test.go
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/rule_group_data_source.go
  internal/service/wafv2/rule_group_test.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/service_endpoints_gen_test.go
  internal/service/wafv2/service_package.go
  internal/service/wafv2/service_package_gen.go
  internal/service/wafv2/sweep.go
  internal/service/wafv2/tags_gen.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_association.go
  internal/service/wafv2/web_acl_association_test.go
  internal/service/wafv2/web_acl_data_source.go
  internal/service/wafv2/web_acl_logging_configuration.go
  internal/service/wafv2/web_acl_logging_configuration_test.go
  internal/service/wafv2/web_acl_test.go
  names/data/names_data.csv
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, tests, service/wafv2, sweeper, tags, client-connections, flex, generators, external-maintainer, aws-sdk-go-migration

#37394 r/aws_opensearch_domain: handle unset auto_tune_options.rollback_on_disable
  .changelog/37394.txt
  internal/service/elasticsearch/domain_structure.go
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_structure.go
Labels: size/XS, service/elasticsearch, service/opensearch, prioritized

#35677 Add `minified_json` to `aws_iam_policy_document` data source
  .changelog/35677.txt
  internal/service/iam/policy_document_data_source.go
  internal/service/iam/policy_document_data_source_test.go
  website/docs/d/iam_policy_document.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/iam

#37406 d/aws_route: update documentation for `vpc_route_id`
  website/docs/r/route.html.markdown
Labels: size/XS, prioritized

#37404 provider: AWS SDK for Go v1-compatible `Backoff` mechanism
  .changelog/37404.txt
  internal/conns/backoff_delayer.go
  internal/conns/backoff_delayer_test.go
  internal/conns/config.go
Labels: size/M, tests, client-connections, prioritized

#37411 ci: Prefer constant for string literal "hosted_zone_id"
  .ci/.semgrep.yml
  internal/service/apigatewayv2/domain_name.go
  internal/service/appsync/domain_name.go
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_data_source.go
  internal/service/cloudfront/distribution_data_source_test.go
  internal/service/cloudfront/distribution_test.go
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_test.go
  internal/service/ec2/vpc_endpoint.go
  internal/service/ec2/vpc_endpoint_data_source.go
  internal/service/globalaccelerator/accelerator.go
  internal/service/globalaccelerator/accelerator_data_source.go
  internal/service/globalaccelerator/accelerator_data_source_test.go
  internal/service/globalaccelerator/accelerator_test.go
  internal/service/globalaccelerator/custom_routing_accelerator.go
  internal/service/globalaccelerator/custom_routing_accelerator_data_source.go
  internal/service/globalaccelerator/custom_routing_accelerator_data_source_test.go
  internal/service/globalaccelerator/custom_routing_accelerator_test.go
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_test.go
  internal/service/rds/cluster.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_data_source_test.go
  internal/service/rds/cluster_migrate.go
  internal/service/rds/cluster_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_data_source.go
  internal/service/rds/instance_data_source_test.go
  internal/service/rds/instance_migrate.go
  internal/service/rds/instance_test.go
  internal/service/route53/hosted_zone_dnssec.go
  internal/service/route53/hosted_zone_dnssec_test.go
  internal/service/route53/key_signing_key.go
  internal/service/route53/key_signing_key_test.go
  internal/service/route53/sweep.go
  internal/service/route53/traffic_policy_instance.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_data_source.go
  internal/service/s3/bucket_data_source_test.go
  internal/service/s3/bucket_test.go
  internal/service/vpclattice/service.go
  internal/service/vpclattice/service_data_source.go
  internal/service/vpclattice/service_network_service_association.go
  names/attr_consts.go
Labels: size/L, tests, service/s3, service/route53, service/rds, service/cloudfront, service/appsync, service/neptune, service/globalaccelerator, service/apigatewayv2, service/docdb, linter, sweeper, service/vpc, service/vpclattice, prioritized

#37425 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/M, prioritized

#37002 f-aws_instance: support for launch time
  .changelog/37002.txt
  internal/service/ec2/ec2_instance_data_source.go
  internal/service/ec2/ec2_instance_data_source_test.go
  website/docs/d/instance.html.markdown
Labels: enhancement, size/XS, tests, service/ec2, prioritized

#37429 ci: Prefer constant for string literal "target"
  .ci/.semgrep.yml
  internal/service/amplify/app.go
  internal/service/apigatewayv2/api.go
  internal/service/apigatewayv2/api_test.go
  internal/service/apigatewayv2/route.go
  internal/service/apigatewayv2/route_test.go
  internal/service/appmesh/gateway_route.go
  internal/service/codestarnotifications/notification_rule.go
  internal/service/dlm/lifecycle_policy.go
  internal/service/ds/shared_directory.go
  internal/service/elastictranscoder/preset.go
  internal/service/elb/flex.go
  internal/service/elb/flex_test.go
  internal/service/elb/load_balancer.go
  internal/service/elb/load_balancer_data_source.go
  internal/service/elb/load_balancer_test.go
  internal/service/fis/experiment_template.go
  internal/service/glue/script_data_source.go
  internal/service/iot/policy_attachment.go
  internal/service/iot/policy_attachment_test.go
  internal/service/iot/sweep.go
  internal/service/kendra/data_source.go
  internal/service/lightsail/domain_entry.go
  internal/service/lightsail/domain_entry_test.go
  internal/service/macie2/classification_job.go
  internal/service/pipes/pipe.go
  internal/service/pipes/pipe_test.go
  internal/service/quicksight/schema/visual_table.go
  internal/service/s3/object_copy_test.go
  internal/service/scheduler/schedule.go
  internal/service/ssmcontacts/flex.go
  internal/service/ssmcontacts/plan.go
  internal/service/ssmcontacts/plan_data_source.go
  internal/service/transfer/access.go
  internal/service/transfer/user.go
  internal/service/transfer/workflow.go
  internal/service/vpclattice/target_group_attachment.go
  names/attr_consts.go
Labels: tests, service/lambda, service/iam, service/s3, service/guardduty, service/configservice, service/elbv2, service/rds, service/codebuild, service/lightsail, service/elb, service/medialive, service/opsworks, service/firehose, service/mq, service/storagegateway, service/ssm, service/shield, service/waf, service/elasticache, service/workspaces, service/glue, service/codepipeline, service/mediapackage, service/iot, service/ecr, service/batch, service/appstream, service/eks, service/dlm, service/connect, service/chime, service/route53resolver, service/datasync, service/amplify, service/transfer, service/appmesh, service/fsx, service/apigatewayv2, service/quicksight, service/codestarnotifications, service/wafv2, service/appconfig, service/kendra, service/networkmanager, service/ssoadmin, service/macie2, service/appflow, linter, service/wafregional, service/networkfirewall, service/signer, service/ecrpublic, sweeper, service/memorydb, service/events, service/elastictranscoder, service/amp, service/appintegrations, service/ds, service/ce, service/deploy, service/cognitoidp, service/dms, service/ssmincidents, service/ssmcontacts, service/vpc, service/vpnsite, service/fis, service/rolesanywhere, service/scheduler, service/pipes, service/securitylake, service/vpclattice, prioritized, service/lexv2models

#37431 ci: Prefer constant for string literal "prefix"
  .ci/.semgrep.yml
  internal/service/amplify/domain_association.go
  internal/service/amplify/domain_association_test.go
  internal/service/appmesh/flex.go
  internal/service/appmesh/gateway_route.go
  internal/service/appmesh/route.go
  internal/service/batch/validate_test.go
  internal/service/cloudfront/distribution.go
  internal/service/cloudtrail/cloudtrail_test.go
  internal/service/connect/connect_test.go
  internal/service/connect/instance_storage_config.go
  internal/service/connect/instance_storage_config_data_source.go
  internal/service/connect/phone_number.go
  internal/service/connect/phone_number_test.go
  internal/service/connect/validate_test.go
  internal/service/ec2/ec2_spot_datafeed_subscription.go
  internal/service/ec2/verifiedaccess_instance_logging_configuration.go
  internal/service/ec2/vpc_subnet_cidr_reservation_test.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/emr/release_labels_data_source.go
  internal/service/evidently/project.go
  internal/service/firehose/delivery_stream.go
  internal/service/fis/experiment_template.go
  internal/service/glue/crawler_test.go
  internal/service/kafka/cluster.go
  internal/service/kafkaconnect/connector.go
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
  internal/service/quicksight/schema/template_format.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_analytics_configuration.go
  internal/service/s3/bucket_intelligent_tiering_configuration.go
  internal/service/s3/bucket_inventory.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_metric.go
  internal/service/s3/bucket_objects_data_source.go
  internal/service/s3/bucket_replication_configuration.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/objects_data_source.go
  internal/service/s3control/bucket_lifecycle_configuration.go
  internal/service/s3control/storage_lens_configuration.go
  internal/service/signer/signing_job.go
  internal/service/ssm/resource_data_sync.go
  internal/service/vpclattice/listener_rule.go
  names/attr_consts.go
Labels: tests, service/lambda, service/ec2, service/s3, service/emr, service/elbv2, service/rds, service/codebuild, service/cloudtrail, service/lightsail, service/elb, service/cloudfront, service/medialive, service/firehose, service/autoscaling, service/organizations, service/ssm, service/glue, service/codepipeline, service/iot, service/ecr, service/batch, service/secretsmanager, service/dlm, service/connect, service/s3control, service/ram, service/route53resolver, service/amplify, service/transfer, service/appmesh, service/fsx, service/kafka, service/licensemanager, service/apigatewayv2, service/quicksight, service/codestarnotifications, service/wafv2, service/accessanalyzer, service/kendra, service/imagebuilder, service/identitystore, service/macie2, linter, service/signer, sweeper, service/elastictranscoder, service/kafkaconnect, service/ipam, service/ds, service/ce, service/vpnclient, service/transitgateway, service/ec2outposts, service/ssmcontacts, service/vpc, service/evidently, service/vpnsite, service/ec2ebs, service/fis, service/scheduler, service/resourceexplorer2, service/pipes, service/verifiedaccess, service/vpclattice, prioritized, service/meta

#37347 Added `nil` check for `notification_property` on the `glue_job` resource
  .changelog/37347.txt
  internal/service/glue/job.go
Labels: bug, crash, size/XS, service/glue, external-maintainer

#37433 r/lakeformation_data_cells_filter: fix error when using `row_filter.all_rows_wildcard`
  .changelog/37433.txt
  internal/service/lakeformation/data_cells_filter.go
  internal/service/lakeformation/data_cells_filter_test.go
  internal/service/lakeformation/lakeformation_test.go
Labels: bug, size/M, tests, service/lakeformation, prioritized

#37438 Uses `names` constants in generated tagging tests
  internal/generate/tagstests/test.go.gtpl
  internal/service/accessanalyzer/analyzer_tags_gen_test.go
  internal/service/acmpca/certificate_authority_tags_gen_test.go
  internal/service/batch/compute_environment_tags_gen_test.go
  internal/service/batch/job_definition_tags_gen_test.go
  internal/service/batch/job_queue_tags_gen_test.go
  internal/service/batch/scheduling_policy_tags_gen_test.go
  internal/service/iam/instance_profile_tags_gen_test.go
  internal/service/iam/openid_connect_provider_tags_gen_test.go
  internal/service/iam/policy_tags_gen_test.go
  internal/service/iam/role_tags_gen_test.go
  internal/service/iam/service_linked_role_tags_gen_test.go
  internal/service/iam/user_tags_gen_test.go
  internal/service/iam/virtual_mfa_device_tags_gen_test.go
  internal/service/servicecatalog/portfolio_tags_gen_test.go
  internal/service/servicecatalog/product_tags_gen_test.go
  internal/service/servicecatalog/provisioned_product_tags_test.go
  internal/service/xray/group_tags_gen_test.go
  internal/service/xray/sampling_rule_tags_gen_test.go
Labels: size/XL, tests, service/iam, service/servicecatalog, service/batch, service/acmpca, service/xray, service/accessanalyzer, generators, prioritized

#37455 cdktf: update documentation
  website/docs/cdktf/python/d/budgets_budget.html.markdown
  website/docs/cdktf/python/d/iam_policy_document.html.markdown
  website/docs/cdktf/python/d/instance.html.markdown
  website/docs/cdktf/python/d/resourceexplorer2_search.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/python/r/budgets_budget.html.markdown
  website/docs/cdktf/python/r/budgets_budget_action.html.markdown
  website/docs/cdktf/python/r/db_instance.html.markdown
  website/docs/cdktf/python/r/dms_replication_task.html.markdown
  website/docs/cdktf/python/r/ecs_service.html.markdown
  website/docs/cdktf/python/r/glue_data_catalog_encryption_settings.html.markdown
  website/docs/cdktf/python/r/kms_key.html.markdown
  website/docs/cdktf/python/r/lakeformation_data_cells_filter.html.markdown
  website/docs/cdktf/python/r/pipes_pipe.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/python/r/route.html.markdown
  website/docs/cdktf/python/r/securityhub_standards_subscription.html.markdown
  website/docs/cdktf/python/r/securitylake_subscriber.html.markdown
  website/docs/cdktf/python/r/securitylake_subscriber_notification.html.markdown
  website/docs/cdktf/typescript/d/budgets_budget.html.markdown
  website/docs/cdktf/typescript/d/iam_policy_document.html.markdown
  website/docs/cdktf/typescript/d/instance.html.markdown
  website/docs/cdktf/typescript/d/resourceexplorer2_search.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/typescript/r/budgets_budget.html.markdown
  website/docs/cdktf/typescript/r/budgets_budget_action.html.markdown
  website/docs/cdktf/typescript/r/db_instance.html.markdown
  website/docs/cdktf/typescript/r/dms_replication_task.html.markdown
  website/docs/cdktf/typescript/r/ecs_service.html.markdown
  website/docs/cdktf/typescript/r/glue_data_catalog_encryption_settings.html.markdown
  website/docs/cdktf/typescript/r/kms_key.html.markdown
  website/docs/cdktf/typescript/r/lakeformation_data_cells_filter.html.markdown
  website/docs/cdktf/typescript/r/pipes_pipe.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/route.html.markdown
  website/docs/cdktf/typescript/r/securityhub_standards_subscription.html.markdown
  website/docs/cdktf/typescript/r/securitylake_subscriber.html.markdown
  website/docs/cdktf/typescript/r/securitylake_subscriber_notification.html.markdown
Labels: documentation, size/XL, service/iam, service/ec2, service/ecs, service/rds, service/budgets, service/glue, service/kms, service/securityhub, service/lakeformation, service/dms, service/vpc, service/resourceexplorer2, service/pipes, service/securitylake, service/bedrockagent

#37454 docs: Adjust formatting and add details in aws_bedrockagent_* resource docs
  website/docs/r/bedrockagent_agent.html.markdown
  website/docs/r/bedrockagent_agent_action_group.html.markdown
  website/docs/r/bedrockagent_agent_alias.html.markdown
  website/docs/r/bedrockagent_agent_knowledge_base_association.html.markdown
  website/docs/r/bedrockagent_knowledge_base.html.markdown
Labels: documentation, size/XL, external-maintainer, service/bedrockagent

#37464 Update launch_template.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XS, service/ec2

#37306 fix: Fix by_provider regex for aws_bedrock_foundation_models data source
  .changelog/37306.txt
  internal/service/bedrock/foundation_models_data_source.go
  internal/service/bedrock/foundation_models_data_source_test.go
Labels: size/S, tests, external-maintainer, prioritized, service/bedrock

#37467 d/aws_bedrock_foundation_models(test): fix semgrep finding
  internal/service/bedrock/foundation_models_data_source_test.go
Labels: size/XS, tests, prioritized, service/bedrock

#37469 chore: make cleantidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, prioritized

#36921 Update amplify_domain_association.html.markdown
  website/docs/r/amplify_domain_association.html.markdown
Labels: documentation, size/XS, service/amplify

#37472 r/aws_dynamodb_table: Fix `UnknownOperationException: Tagging is not currently supported in DynamoDB Local` errors on resource Read
  .changelog/37472.txt
  internal/provider/tags_interceptor.go
Labels: bug, size/XS, service/dynamodb, provider, tags, prioritized

#36546 appautoscaling: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/appautoscaling/generate.go
  internal/service/appautoscaling/policy.go
  internal/service/appautoscaling/policy_test.go
  internal/service/appautoscaling/scheduled_action.go
  internal/service/appautoscaling/scheduled_action_test.go
  internal/service/appautoscaling/service_endpoints_gen_test.go
  internal/service/appautoscaling/service_package.go
  internal/service/appautoscaling/service_package_gen.go
  internal/service/appautoscaling/tags_gen.go
  internal/service/appautoscaling/target.go
  internal/service/appautoscaling/target_test.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, provider, tags, client-connections, generators, service/appautoscaling, external-maintainer, prioritized, aws-sdk-go-migration

#37439 Adds sweeper for `aws_xray_sampling_rule`
  internal/service/xray/sampling_rule.go
  internal/service/xray/sweep.go
Labels: size/M, service/xray, sweeper, prioritized

#37481 Migrate `ssm` resources to AWS SDK for Go v2
  .changelog/37481.txt
  internal/conns/awsclient_gen.go
  internal/generate/tags/main.go
  internal/generate/tags/templates/v2/list_tags_body.tmpl
  internal/generate/tags/templates/v2/update_tags_body.tmpl
  internal/service/codepipeline/codepipeline.go
  internal/service/ec2/vpc_default_network_acl.go
  internal/service/inspector2/organization_configuration.go
  internal/service/lightsail/flex.go
  internal/service/ssm/activation.go
  internal/service/ssm/activation_test.go
  internal/service/ssm/association.go
  internal/service/ssm/association_migrate.go
  internal/service/ssm/association_migrate_test.go
  internal/service/ssm/association_test.go
  internal/service/ssm/default_patch_baseline.go
  internal/service/ssm/default_patch_baseline_test.go
  internal/service/ssm/document.go
  internal/service/ssm/document_data_source.go
  internal/service/ssm/document_test.go
  internal/service/ssm/errors.go
  internal/service/ssm/exports_test.go
  internal/service/ssm/find.go
  internal/service/ssm/flex.go
  internal/service/ssm/generate.go
  internal/service/ssm/instances_data_source.go
  internal/service/ssm/maintenance_window.go
  internal/service/ssm/maintenance_window_target.go
  internal/service/ssm/maintenance_window_target_test.go
  internal/service/ssm/maintenance_window_task.go
  internal/service/ssm/maintenance_window_task_test.go
  internal/service/ssm/maintenance_window_test.go
  internal/service/ssm/maintenance_windows_data_source.go
  internal/service/ssm/parameter.go
  internal/service/ssm/parameter_data_source.go
  internal/service/ssm/parameter_data_source_test.go
  internal/service/ssm/parameter_test.go
  internal/service/ssm/parameters_by_path_data_source.go
  internal/service/ssm/patch_baseline.go
  internal/service/ssm/patch_baseline_data_source.go
  internal/service/ssm/patch_baseline_test.go
  internal/service/ssm/patch_group.go
  internal/service/ssm/patch_group_migrate.go
  internal/service/ssm/patch_group_migrate_test.go
  internal/service/ssm/patch_group_test.go
  internal/service/ssm/resource_data_sync.go
  internal/service/ssm/resource_data_sync_test.go
  internal/service/ssm/service_endpoints_gen_test.go
  internal/service/ssm/service_package_gen.go
  internal/service/ssm/service_setting.go
  internal/service/ssm/service_setting_test.go
  internal/service/ssm/status.go
  internal/service/ssm/sweep.go
  internal/service/ssm/tags_gen.go
  internal/service/ssm/wait.go
  names/data/names_data.csv
Labels: tests, service/lightsail, service/ssm, service/codepipeline, sweeper, tags, client-connections, generators, service/inspector2, service/vpc, prioritized

#37492 rds: Mention PostgreSQL in low-downtime update docs
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/XS, service/rds, needs-triage

#37450 Migrate `ram` resources to AWS Go SDKv2
  .changelog/37450.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/ram/consts.go
  internal/service/ram/generate.go
  internal/service/ram/principal_association.go
  internal/service/ram/principal_association_test.go
  internal/service/ram/resource_association.go
  internal/service/ram/resource_association_test.go
  internal/service/ram/resource_share.go
  internal/service/ram/resource_share_accepter.go
  internal/service/ram/resource_share_accepter_test.go
  internal/service/ram/resource_share_data_source.go
  internal/service/ram/resource_share_data_source_test.go
  internal/service/ram/resource_share_test.go
  internal/service/ram/service_endpoints_gen_test.go
  internal/service/ram/service_package_gen.go
  internal/service/ram/sharing_with_organization.go
  internal/service/ram/sweep.go
  internal/service/ram/tags_gen.go
  internal/tfresource/not_found_error.go
  names/data/names_data.csv
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: bug, size/XL, tests, service/ram, sweeper, tags, client-connections, generators, verify, external-maintainer, prioritized, aws-sdk-go-migration

#35662 r/aws_organizations_account: Allow Import when IAM Billing is set
  .changelog/35662.txt
  .ci/.golangci2.yml
  internal/service/organizations/account.go
  website/docs/r/organizations_account.html.markdown
Labels: bug, documentation, size/XS, service/organizations

#37507 tools/awssdkpatch: tfawserr import patch
  tools/awssdkpatch/patch.tmpl
Labels: enhancement, prioritized, aws-sdk-go-migration

#36549 appstream: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/appstream/directory_config.go
  internal/service/appstream/directory_config_test.go
  internal/service/appstream/find.go
  internal/service/appstream/fleet.go
  internal/service/appstream/fleet_stack_association.go
  internal/service/appstream/fleet_stack_association_test.go
  internal/service/appstream/fleet_test.go
  internal/service/appstream/generate.go
  internal/service/appstream/image_builder.go
  internal/service/appstream/image_builder_test.go
  internal/service/appstream/list_pages_gen.go
  internal/service/appstream/service_endpoints_gen_test.go
  internal/service/appstream/service_package_gen.go
  internal/service/appstream/stack.go
  internal/service/appstream/stack_test.go
  internal/service/appstream/status.go
  internal/service/appstream/sweep.go
  internal/service/appstream/tags_gen.go
  internal/service/appstream/user.go
  internal/service/appstream/user_stack_association.go
  internal/service/appstream/user_stack_association_test.go
  internal/service/appstream/user_test.go
  internal/service/appstream/wait.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/appstream, sweeper, tags, client-connections, generators, external-maintainer, prioritized, aws-sdk-go-migration

#37540 tools/awssdkpatch: add multiclient support
  GNUmakefile
  docs/aws-go-sdk-migrations.md
  tools/awssdkpatch/README.md
  tools/awssdkpatch/main.go
  tools/awssdkpatch/patch.tmpl
Labels: documentation, size/M, repository, prioritized, aws-sdk-go-migration

#37546 tools/awssdkpatch: add missed filters patches
  tools/awssdkpatch/patch.tmpl
Labels: size/XS, prioritized

#37483 Allows generating tag tests for resource types that use self-signed certificates
  .changelog/37483.txt
  internal/generate/tagstests/main.go
  internal/generate/tagstests/test.go.gtpl
  internal/generate/tagstests/test.tf.gtpl
  internal/service/iam/server_certificate.go
  internal/service/iam/server_certificate_tags_gen_test.go
  internal/service/iam/server_certificate_test.go
  internal/service/iam/tags.go
  internal/service/iam/testdata/ServerCertificate/tags/main_gen.tf
  internal/service/iam/testdata/ServerCertificate/tagsComputed1/main_gen.tf
  internal/service/iam/testdata/ServerCertificate/tagsComputed2/main_gen.tf
  internal/service/iam/testdata/ServerCertificate/tags_defaults/main_gen.tf
  internal/service/iam/testdata/tmpl/server_certificate_tags.gtpl
Labels: size/XL, tests, service/iam, generators, prioritized

#37560 Latest `aws-sdk-go` modules
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#37505 Migrate `organizations` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/acctest/acctest.go
  internal/conns/awsclient_gen.go
  internal/service/cloudformation/stack_set_test.go
  internal/service/cloudformation/sweep.go
  internal/service/ec2/errors.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/ipam_organization_admin_account.go
  internal/service/ec2/ipam_organization_admin_account_test.go
  internal/service/ec2/service_package_gen.go
  internal/service/organizations/account.go
  internal/service/organizations/account_test.go
  internal/service/organizations/consts.go
  internal/service/organizations/delegated_administrator.go
  internal/service/organizations/delegated_administrator_test.go
  internal/service/organizations/delegated_administrators_data_source.go
  internal/service/organizations/delegated_services_data_source.go
  internal/service/organizations/exports.go
  internal/service/organizations/exports_test.go
  internal/service/organizations/find.go
  internal/service/organizations/generate.go
  internal/service/organizations/organization.go
  internal/service/organizations/organization_data_source.go
  internal/service/organizations/organization_test.go
  internal/service/organizations/organizational_unit.go
  internal/service/organizations/organizational_unit_child_accounts_data_source.go
  internal/service/organizations/organizational_unit_data_source.go
  internal/service/organizations/organizational_unit_descendant_accounts_data_source.go
  internal/service/organizations/organizational_unit_test.go
  internal/service/organizations/organizational_units_data_source.go
  internal/service/organizations/policies_data_source.go
  internal/service/organizations/policies_data_source_test.go
  internal/service/organizations/policies_for_target_data_source.go
  internal/service/organizations/policy.go
  internal/service/organizations/policy_attachment.go
  internal/service/organizations/policy_attachment_test.go
  internal/service/organizations/policy_data_source.go
  internal/service/organizations/policy_test.go
  internal/service/organizations/resource_policy.go
  internal/service/organizations/resource_policy_test.go
  internal/service/organizations/resource_tags_data_source.go
  internal/service/organizations/service_endpoints_gen_test.go
  internal/service/organizations/service_package.go
  internal/service/organizations/service_package_gen.go
  internal/service/organizations/tags_gen.go
  internal/service/ram/sharing_with_organization.go
  internal/service/securitylake/securitylake_test.go
  internal/tfresource/not_found_error.go
  internal/tfresource/not_found_error_test.go
  names/data/names_data.csv
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, tests, service/organizations, service/cloudformation, service/ram, sweeper, tags, client-connections, generators, service/ipam, service/securitylake, prioritized, aws-sdk-go-migration

#37547 Documentation updates for Grafana v10
  website/docs/r/grafana_workspace.html.markdown
Labels: documentation, size/XS, service/grafana

#37551 docs: fix typo in user_id on r/aws_cloud9_environment_membership
  website/docs/r/cloud9_environment_membership.html.markdown
Labels: documentation, size/XS, service/cloud9

#37555 docs!: remove al1 references from image_id for `aws_cloud9_environment_ec2`
  website/docs/r/cloud9_environment_ec2.html.markdown
Labels: documentation, service/cloud9

#37563 Remove secrets management from Terraform config
  infrastructure/repository/community.tf
  infrastructure/repository/projects.tf
  infrastructure/repository/removed.tf
Labels: size/M, repository, prioritized

#37534 Migrate `vpc` resources to AWS SDK V2 (Part 1)
  .changelog/37534.txt
  internal/generate/listpages/README.md
  internal/generate/listpages/main.go
  internal/generate/listpages/v2/function.tmpl
  internal/service/ec2/errors.go
  internal/service/ec2/errorsv2.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/findv2.go
  internal/service/ec2/generate.go
  internal/service/ec2/list_pagesv2_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/statusv2.go
  internal/service/ec2/vpc_default_route_table.go
  internal/service/ec2/vpc_default_route_table_test.go
  internal/service/ec2/vpc_endpoint.go
  internal/service/ec2/vpc_endpoint_connection_accepter.go
  internal/service/ec2/vpc_endpoint_connection_accepter_test.go
  internal/service/ec2/vpc_endpoint_connection_notification.go
  internal/service/ec2/vpc_endpoint_connection_notification_test.go
  internal/service/ec2/vpc_endpoint_data_source.go
  internal/service/ec2/vpc_endpoint_policy.go
  internal/service/ec2/vpc_endpoint_policy_test.go
  internal/service/ec2/vpc_endpoint_route_table_association.go
  internal/service/ec2/vpc_endpoint_route_table_association_test.go
  internal/service/ec2/vpc_endpoint_security_group_association.go
  internal/service/ec2/vpc_endpoint_security_group_association_test.go
  internal/service/ec2/vpc_endpoint_service.go
  internal/service/ec2/vpc_endpoint_service_allowed_principal.go
  internal/service/ec2/vpc_endpoint_service_allowed_principal_test.go
  internal/service/ec2/vpc_endpoint_service_data_source.go
  internal/service/ec2/vpc_endpoint_service_data_source_test.go
  internal/service/ec2/vpc_endpoint_service_test.go
  internal/service/ec2/vpc_endpoint_subnet_association.go
  internal/service/ec2/vpc_endpoint_subnet_association_test.go
  internal/service/ec2/vpc_endpoint_test.go
  internal/service/ec2/vpc_managed_prefix_list.go
  internal/service/ec2/vpc_prefix_list_data_source.go
  internal/service/ec2/vpc_route.go
  internal/service/ec2/vpc_route_data_source.go
  internal/service/ec2/vpc_route_data_source_test.go
  internal/service/ec2/vpc_route_table.go
  internal/service/ec2/vpc_route_table_association.go
  internal/service/ec2/vpc_route_table_association_test.go
  internal/service/ec2/vpc_route_table_data_source.go
  internal/service/ec2/vpc_route_table_test.go
  internal/service/ec2/vpc_route_tables_data_source.go
  internal/service/ec2/vpc_route_test.go
  internal/service/ec2/vpnsite_gateway_route_propagation.go
  internal/service/ec2/vpnsite_gateway_route_propagation_test.go
  internal/service/ec2/wait.go
  internal/service/ec2/waitv2.go
Labels: documentation, size/XL, tests, generators, service/vpc, service/vpnsite, prioritized

#37549 Correct securityhub_configuration_policy_association import docs
  website/docs/r/securityhub_configuration_policy_association.markdown
Labels: documentation, size/XS, service/securityhub

#37565 r/route53_record Check region set
  .changelog/37565.txt
  internal/service/route53/service_package.go
Labels: size/XS, service/route53, prioritized

#37476 [DOCS] fix console command in developer environment setup instructions
  docs/development-environment.md
Labels: documentation, size/XS, needs-triage

#37485 Use single custom label in GHA jobs
  .github/actionlint.yaml
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/examples.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/goreleaser-ci.yml
  .github/workflows/provider.yml
  .github/workflows/providerlint.yml
  .github/workflows/website.yml
Labels: size/XS, linter, repository, github_actions, prioritized

#37518 docs: Improve origin_ssl_protocols arg doc for aws_cloudfront_distribution
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/XS, service/cloudfront, needs-triage, external-maintainer

#37581 r/aws_m2_deployment: set `deployment_id` on start/stop
  .changelog/37581.txt
  internal/service/m2/deployment.go
  internal/service/m2/deployment_test.go
Labels: bug, size/S, tests, prioritized, service/m2

#37590 cdktf: update documentation
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/amplify_domain_association.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent_action_group.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent_alias.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent_knowledge_base_association.html.markdown
  website/docs/cdktf/python/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/python/r/bedrockagent_knowledge_base.html.markdown
  website/docs/cdktf/python/r/cloud9_environment_ec2.html.markdown
  website/docs/cdktf/python/r/cloud9_environment_membership.html.markdown
  website/docs/cdktf/python/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/python/r/codeguruprofiler_profiling_group.html.markdown
  website/docs/cdktf/python/r/db_instance.html.markdown
  website/docs/cdktf/python/r/grafana_workspace.html.markdown
  website/docs/cdktf/python/r/launch_template.html.markdown
  website/docs/cdktf/python/r/m2_application.html.markdown
  website/docs/cdktf/python/r/organizations_account.html.markdown
  website/docs/cdktf/python/r/rekognition_collection.html.markdown
  website/docs/cdktf/python/r/securityhub_configuration_policy_association.markdown
  website/docs/cdktf/python/r/vpc_endpoint_service_private_dns_verification.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/amplify_domain_association.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent_action_group.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent_alias.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent_knowledge_base_association.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_knowledge_base.html.markdown
  website/docs/cdktf/typescript/r/cloud9_environment_ec2.html.markdown
  website/docs/cdktf/typescript/r/cloud9_environment_membership.html.markdown
  website/docs/cdktf/typescript/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/typescript/r/codeguruprofiler_profiling_group.html.markdown
  website/docs/cdktf/typescript/r/db_instance.html.markdown
  website/docs/cdktf/typescript/r/grafana_workspace.html.markdown
  website/docs/cdktf/typescript/r/launch_template.html.markdown
  website/docs/cdktf/typescript/r/m2_application.html.markdown
  website/docs/cdktf/typescript/r/organizations_account.html.markdown
  website/docs/cdktf/typescript/r/rekognition_collection.html.markdown
  website/docs/cdktf/typescript/r/securityhub_configuration_policy_association.markdown
  website/docs/cdktf/typescript/r/vpc_endpoint_service_private_dns_verification.html.markdown
Labels: documentation, service/ec2, service/rds, service/cloudfront, service/organizations, service/cloud9, service/amplify, service/securityhub, service/codeguruprofiler, service/grafana, service/rekognition, service/vpc, service/m2, service/bedrockagent

#37600 docs: Add more example usages for aws_kms_key
  website/docs/r/kms_key.html.markdown
Labels: documentation, size/L, service/kms, external-maintainer

#37570 Fix bug with AWS not return KMS key for replica
  .changelog/37570.txt
  internal/service/dynamodb/table_replica.go
  internal/service/dynamodb/table_replica_test.go
Labels: bug, size/XS, tests, service/dynamodb, prioritized

#37588 feat: Add support for large req body inspection for regional resources for aws_wafv2_web_acl
  .changelog/37588.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, size/L, tests, service/wafv2, external-maintainer

#37390 Migrate `vpnclient` resources to AWS Go SDKv2
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/findv2.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/statusv2.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpnclient_authorization_rule.go
  internal/service/ec2/vpnclient_authorization_rule_test.go
  internal/service/ec2/vpnclient_endpoint.go
  internal/service/ec2/vpnclient_endpoint_data_source.go
  internal/service/ec2/vpnclient_endpoint_test.go
  internal/service/ec2/vpnclient_network_association.go
  internal/service/ec2/vpnclient_network_association_test.go
  internal/service/ec2/vpnclient_route.go
  internal/service/ec2/vpnclient_route_test.go
  internal/service/ec2/wait.go
  internal/service/ec2/waitv2.go
Labels: size/XL, tests, service/vpnclient, external-maintainer, prioritized, aws-sdk-go-migration

#37407 Migrate `wavelength` resource to AWS Go SDKv2
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/findv2.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/statusv2.go
  internal/service/ec2/sweep.go
  internal/service/ec2/wait.go
  internal/service/ec2/waitv2.go
  internal/service/ec2/wavelength_carrier_gateway.go
  internal/service/ec2/wavelength_carrier_gateway_test.go
Labels: size/L, service/wavelength, external-maintainer, aws-sdk-go-migration

#37409 Migrate `vpnsite` resources to AWS Go SDKv2
  internal/acctest/acctest.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/findv2.go
  internal/service/ec2/service_package.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/statusv2.go
  internal/service/ec2/vpc_.go
  internal/service/ec2/vpc_data_source.go
  internal/service/ec2/vpc_default_route_table.go
  internal/service/ec2/vpc_main_route_table_association.go
  internal/service/ec2/vpc_main_route_table_association_test.go
  internal/service/ec2/vpc_route.go
  internal/service/ec2/vpc_route_data_source.go
  internal/service/ec2/vpc_route_table.go
  internal/service/ec2/vpc_route_table_association.go
  internal/service/ec2/vpc_route_tables_data_source.go
  internal/service/ec2/vpnsite_connection.go
  internal/service/ec2/vpnsite_connection_route.go
  internal/service/ec2/vpnsite_connection_route_test.go
  internal/service/ec2/vpnsite_connection_test.go
  internal/service/ec2/vpnsite_customer_gateway.go
  internal/service/ec2/vpnsite_customer_gateway_data_source.go
  internal/service/ec2/vpnsite_customer_gateway_test.go
  internal/service/ec2/vpnsite_gateway.go
  internal/service/ec2/vpnsite_gateway_attachment.go
  internal/service/ec2/vpnsite_gateway_attachment_test.go
  internal/service/ec2/vpnsite_gateway_data_source.go
  internal/service/ec2/vpnsite_gateway_route_propagation.go
  internal/service/ec2/vpnsite_gateway_test.go
  internal/service/ec2/wait.go
  internal/service/ec2/waitv2.go
  names/data/names_data.csv
Labels: size/XL, tests, service/vpnsite, external-maintainer, aws-sdk-go-migration

#37612 feat: modify update method to use api to add or remove client ids wit…
  .changelog/37612.txt
  internal/service/iam/openid_connect_provider.go
  internal/service/iam/openid_connect_provider_test.go
Labels: enhancement, size/M, tests, service/iam, prioritized

#37618 chore(route53): add traffic policy document endpoint type 'application-load-balancer'
  .changelog/37618.txt
  internal/service/route53/traffic_policy_document_model.go
  website/docs/cdktf/typescript/d/route53_traffic_policy_document.html.markdown
  website/docs/d/route53_traffic_policy_document.html.markdown
Labels: enhancement, documentation, size/XS, service/route53

#37513 Migrate `ipam` resources to AWS Go SDKv2
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/findv2.go
  internal/service/ec2/ipam_.go
  internal/service/ec2/ipam_byoip_test.go
  internal/service/ec2/ipam_pool.go
  internal/service/ec2/ipam_pool_cidr.go
  internal/service/ec2/ipam_pool_cidr_allocation.go
  internal/service/ec2/ipam_pool_cidr_allocation_test.go
  internal/service/ec2/ipam_pool_cidr_test.go
  internal/service/ec2/ipam_pool_cidrs_data_source.go
  internal/service/ec2/ipam_pool_data_source.go
  internal/service/ec2/ipam_pool_test.go
  internal/service/ec2/ipam_pools_data_source.go
  internal/service/ec2/ipam_preview_next_cidr.go
  internal/service/ec2/ipam_preview_next_cidr_data_source.go
  internal/service/ec2/ipam_resource_discovery.go
  internal/service/ec2/ipam_resource_discovery_association.go
  internal/service/ec2/ipam_resource_discovery_association_test.go
  internal/service/ec2/ipam_resource_discovery_test.go
  internal/service/ec2/ipam_scope.go
  internal/service/ec2/ipam_scope_test.go
  internal/service/ec2/ipam_test.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/statusv2.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_ipv6_cidr_block_association_test.go
  internal/service/ec2/wait.go
  internal/service/ec2/waitv2.go
Labels: size/XL, tests, service/organizations, client-connections, generators, service/ipam, service/vpc, external-maintainer, prioritized, aws-sdk-go-migration

#37626 d/aws_ssm_patch_baseline: Correctly handle `default_baseline`
  .changelog/37626.txt
  internal/service/ssm/patch_baseline_data_source.go
  internal/service/ssm/patch_group_test.go
Labels: bug, size/M, tests, service/ssm, prioritized

#37214 dlm: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/dlm/exports_test.go
  internal/service/dlm/generate.go
  internal/service/dlm/lifecycle_policy.go
  internal/service/dlm/lifecycle_policy_test.go
  internal/service/dlm/service_endpoints_gen_test.go
  internal/service/dlm/service_package_gen.go
  internal/service/dlm/sweep.go
  internal/service/dlm/tags_gen.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/dlm, sweeper, tags, client-connections, generators, external-maintainer, prioritized, aws-sdk-go-migration

#37585 Adds tagging test for empty-valued default tag
  internal/generate/tagstests/test.go.gtpl
  internal/service/accessanalyzer/analyzer_tags_gen_test.go
  internal/service/acm/certificate_tags_gen_test.go
  internal/service/acmpca/certificate_authority_tags_gen_test.go
  internal/service/batch/compute_environment_tags_gen_test.go
  internal/service/batch/job_definition_tags_gen_test.go
  internal/service/batch/job_queue_tags_gen_test.go
  internal/service/batch/scheduling_policy_tags_gen_test.go
  internal/service/iam/instance_profile_tags_gen_test.go
  internal/service/iam/openid_connect_provider_tags_gen_test.go
  internal/service/iam/policy_tags_gen_test.go
  internal/service/iam/role_tags_gen_test.go
  internal/service/iam/server_certificate_tags_gen_test.go
  internal/service/iam/service_linked_role_tags_gen_test.go
  internal/service/iam/user_tags_gen_test.go
  internal/service/iam/virtual_mfa_device_tags_gen_test.go
  internal/service/servicecatalog/portfolio_tags_gen_test.go
  internal/service/servicecatalog/product_tags_gen_test.go
  internal/service/servicecatalog/provisioned_product_tags_gen_test.go
  internal/service/xray/group_tags_gen_test.go
  internal/service/xray/sampling_rule_tags_gen_test.go
Labels: size/XL, tests, service/iam, service/acm, service/servicecatalog, service/batch, service/acmpca, service/xray, service/accessanalyzer, generators, prioritized

#37630 Enable and fix semgrep `diags` checks for additional services: `w*`, `v*` and `t*`
  .ci/semgrep/pluginsdk/diags.yml
  internal/service/timestreamwrite/database.go
  internal/service/timestreamwrite/table.go
  internal/service/transcribe/language_model.go
  internal/service/transcribe/medical_vocabulary.go
  internal/service/transcribe/vocabulary.go
  internal/service/transcribe/vocabulary_filter.go
  internal/service/vpclattice/access_log_subscription.go
  internal/service/vpclattice/auth_policy.go
  internal/service/vpclattice/auth_policy_data_source.go
  internal/service/vpclattice/listener.go
  internal/service/vpclattice/listener_data_source.go
  internal/service/vpclattice/listener_rule.go
  internal/service/vpclattice/resource_policy.go
  internal/service/vpclattice/resource_policy_data_source.go
  internal/service/vpclattice/service.go
  internal/service/vpclattice/service_data_source.go
  internal/service/vpclattice/service_network.go
  internal/service/vpclattice/service_network_service_association.go
  internal/service/vpclattice/service_network_vpc_association.go
  internal/service/vpclattice/target_group.go
  internal/service/vpclattice/target_group_attachment.go
  internal/service/waf/byte_match_set.go
  internal/service/waf/geo_match_set.go
  internal/service/waf/ipset.go
  internal/service/waf/regex_match_set.go
  internal/service/waf/regex_pattern_set.go
  internal/service/waf/rule.go
  internal/service/waf/rule_group.go
  internal/service/waf/sql_injection_match_set.go
  internal/service/waf/web_acl.go
  internal/service/waf/xss_match_set.go
  internal/service/wafregional/byte_match_set.go
  internal/service/wafregional/geo_match_set.go
  internal/service/wafregional/ipset.go
  internal/service/wafregional/regex_match_set.go
  internal/service/wafregional/regex_pattern_set.go
  internal/service/wafregional/rule.go
  internal/service/wafregional/rule_group.go
  internal/service/wafregional/sql_injection_match_set.go
  internal/service/wafregional/subscribed_rule_group_data_source.go
  internal/service/wafregional/web_acl.go
  internal/service/wafregional/web_acl_association.go
  internal/service/wafregional/xss_match_set.go
  internal/service/wafv2/ip_set.go
  internal/service/wafv2/regex_pattern_set.go
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_association.go
  internal/service/wafv2/web_acl_logging_configuration.go
Labels: size/XL, service/waf, service/wafv2, linter, service/wafregional, prioritized

#37611 fix: Fix crash on update when cache_attributes block is removed for aws_storagegateway_smb_file_share
  .changelog/37611.txt
  internal/service/storagegateway/cache.go
  internal/service/storagegateway/cache_test.go
  internal/service/storagegateway/cached_iscsi_volume.go
  internal/service/storagegateway/errors.go
  internal/service/storagegateway/exports_test.go
  internal/service/storagegateway/file_system_association.go
  internal/service/storagegateway/find.go
  internal/service/storagegateway/gateway.go
  internal/service/storagegateway/local_disk_data_source.go
  internal/service/storagegateway/nfs_file_share.go
  internal/service/storagegateway/service_package_gen.go
  internal/service/storagegateway/smb_file_share.go
  internal/service/storagegateway/stored_iscsi_volume.go
  internal/service/storagegateway/sweep.go
  internal/service/storagegateway/tape_pool.go
  internal/service/storagegateway/upload_buffer.go
  internal/service/storagegateway/validate.go
  internal/service/storagegateway/validate_test.go
  internal/service/storagegateway/working_storage.go
  internal/service/wafregional/web_acl_association.go
  website/docs/r/storagegateway_smb_file_share.html.markdown
Labels: bug, crash, documentation, size/XS, service/storagegateway, external-maintainer

#37640 make: Add targets to perform all CI checks
  .github/workflows/provider.yml
  GNUmakefile
  docs/continuous-integration.md
  internal/service/comprehend/test-fixtures/entity_recognizer/documents.txt
  internal/service/comprehend/test-fixtures/entity_recognizer/entitylist.csv
  internal/service/comprehend/test-fixtures/generate/entity_recognizer/main.go
  mkdocs.yml
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XS, repository, prioritized

#37648 make: Last fixes
  .github/workflows/changelog_misspell.yml
  .github/workflows/documentation.yml
  .github/workflows/provider.yml
  .github/workflows/website.yml
  GNUmakefile
  docs/continuous-integration.md
Labels: documentation, size/XL, repository, prioritized

#37628 r/aws_vpc_endpoint_private_dns: new resource
  .changelog/37628.txt
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/vpc_endpoint.go
  internal/service/ec2/vpc_endpoint_private_dns.go
  internal/service/ec2/vpc_endpoint_private_dns_test.go
  website/docs/r/vpc_endpoint_private_dns.html.markdown
Labels: documentation, size/XL, tests, generators, service/vpc, prioritized

#37643 r/aws_lambda_runtime_management_config: new resource
  .changelog/37643.txt
  internal/service/lambda/exports_test.go
  internal/service/lambda/runtime_management_config.go
  internal/service/lambda/runtime_management_config_test.go
  internal/service/lambda/service_package_gen.go
  website/docs/r/lambda_runtime_management_config.html.markdown
Labels: documentation, size/XL, tests, service/lambda, generators, prioritized

#37624 r/aws_lambda_function: re-implement replace_security_groups_on_destroy
  .changelog/37624.txt
  internal/service/ec2/findv2.go
  internal/service/lambda/function.go
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/M, service/lambda, prioritized

#37663 docs/ci: Make copying easier
  docs/continuous-integration.md
Labels: documentation, size/XS

#37646 r/lambda_layer_version: fix `ForceNew` issue with `source_code_hash` attribute
  .changelog/37646.txt
  internal/service/lambda/layer_version.go
  internal/service/lambda/layer_version_data_source.go
  internal/service/lambda/layer_version_data_source_test.go
  website/docs/d/lambda_layer_version.html.markdown
  website/docs/r/lambda_layer_version.html.markdown
Labels: bug, enhancement, documentation, size/XS, tests, service/lambda, prioritized

#37665 d/lambda_layer_version: tweak changelog entry
  .changelog/37646.txt
Labels: size/XS, prioritized

#37667 chore: fix make help description spacing
  GNUmakefile
Labels: size/XS, repository, prioritized

#37664 Add docs for canary_settings in apigateway_deployment
  website/docs/r/api_gateway_deployment.html.markdown
Labels: documentation, size/XS, service/apigateway, prioritized

#37638 Update lakeformation tag value limitation to real in documentation
  website/docs/r/lakeformation_lf_tag.html.markdown
Labels: documentation, size/XS, service/lakeformation

#37669 r/lambda_function: fix drift when `source_code_hash` does not match upstream value
  .changelog/37669.txt
  internal/service/lambda/function.go
  internal/service/lambda/function_data_source.go
  internal/service/lambda/function_data_source_test.go
  internal/service/lambda/function_test.go
  website/docs/d/lambda_function.html.markdown
  website/docs/r/lambda_function.html.markdown
Labels: bug, enhancement, documentation, size/S, tests, service/lambda, prioritized

#37673 tweak CHANGELOG entry
  .changelog/37669.txt
Labels: size/XS, prioritized

#37674 make: Respect PKG for more targets
  GNUmakefile
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XS, repository, prioritized

#37218 Added the data source for a Slack Workspace
  .changelog/37218.txt
  internal/service/chatbot/service_package_gen.go
  internal/service/chatbot/slack_workspace_data_source.go
  internal/service/chatbot/slack_workspace_data_source_test.go
  website/docs/d/chatbot_slack_workspace.html.markdown
Labels: documentation, new-data-source, tests, generators, partner, prioritized, service/chatbot

#37019 f-aws_ecs_service: support for EBS
  .changelog/37019.txt
  GNUmakefile
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_test.go
  website/docs/r/ecs_service.html.markdown
  website/docs/r/ecs_task_definition.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ecs, prioritized

#37685 r/aws_route53_zone: fix invalid `name_servers` values
  .changelog/37685.txt
  internal/service/route53/zone.go
Labels: regression, size/XS, service/route53, prioritized

#37686 d/aws_route53_zone: permit both `name` and `zone_id` arguments
  .changelog/37686.txt
  internal/service/route53/zone_data_source.go
  internal/service/route53/zone_data_source_test.go
Labels: regression, size/M, tests, service/route53, prioritized

#37690 chore: set unreleased version to v5.51.1
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#37688 ci: Prefer constants for test string literals
  .ci/.semgrep-test-constants.yml
  internal/acctest/consts.csv
  internal/acctest/consts_gen.go
  internal/generate/tagstests/test.go.gtpl
  internal/service/accessanalyzer/analyzer_tags_gen_test.go
  internal/service/acm/certificate_tags_gen_test.go
  internal/service/acm/certificate_test.go
  internal/service/acmpca/certificate_authority_tags_gen_test.go
  internal/service/apprunner/vpc_connector_test.go
  internal/service/appsync/appsync_test.go
  internal/service/batch/compute_environment_tags_gen_test.go
  internal/service/batch/job_definition_tags_gen_test.go
  internal/service/batch/job_queue_tags_gen_test.go
  internal/service/batch/scheduling_policy_tags_gen_test.go
  internal/service/comprehend/document_classifier_test.go
  internal/service/comprehend/entity_recognizer_test.go
  internal/service/ec2/vpc_security_group_ingress_rule_test.go
  internal/service/ec2/vpc_subnet_test.go
  internal/service/ec2/vpc_test.go
  internal/service/iam/instance_profile_tags_gen_test.go
  internal/service/iam/openid_connect_provider_tags_gen_test.go
  internal/service/iam/policy_tags_gen_test.go
  internal/service/iam/role_tags_gen_test.go
  internal/service/iam/server_certificate_tags_gen_test.go
  internal/service/iam/service_linked_role_tags_gen_test.go
  internal/service/iam/user_tags_gen_test.go
  internal/service/iam/virtual_mfa_device_tags_gen_test.go
  internal/service/licensemanager/grant_test.go
  internal/service/lightsail/lb_test.go
  internal/service/s3/bucket_object_tags_gen_test.go
  internal/service/s3/bucket_tags_gen_test.go
  internal/service/s3/object_copy_tags_gen_test.go
  internal/service/s3/object_tags_gen_test.go
  internal/service/s3/object_test.go
  internal/service/servicecatalog/portfolio_tags_gen_test.go
  internal/service/servicecatalog/product_tags_gen_test.go
  internal/service/servicecatalog/provisioned_product_tags_gen_test.go
  internal/service/ssmcontacts/ssmcontacts_test.go
  internal/service/xray/group_tags_gen_test.go
  internal/service/xray/sampling_rule_tags_gen_test.go
Labels: size/XL, tests, service/iam, service/s3, service/lightsail, service/acm, service/servicecatalog, service/appsync, service/batch, service/acmpca, service/xray, service/licensemanager, service/comprehend, service/accessanalyzer, linter, service/apprunner, generators, service/ssmcontacts, service/vpc, prioritized

#37735 fix wrong argument name in example and a typo
  website/docs/d/chatbot_slack_workspace.html.markdown
Labels: documentation, size/XS, needs-triage, service/chatbot

#37719 cdktf: update documentation
  website/docs/cdktf/python/d/chatbot_slack_workspace.html.markdown
  website/docs/cdktf/python/d/ec2_network_insights_analysis.html.markdown
  website/docs/cdktf/python/d/lambda_function.html.markdown
  website/docs/cdktf/python/d/lambda_layer_version.html.markdown
  website/docs/cdktf/python/d/quicksight_user.html.markdown
  website/docs/cdktf/python/d/route53_traffic_policy_document.html.markdown
  website/docs/cdktf/python/d/s3_bucket_object.html.markdown
  website/docs/cdktf/python/d/s3_object.html.markdown
  website/docs/cdktf/python/r/ami_from_instance.html.markdown
  website/docs/cdktf/python/r/api_gateway_deployment.html.markdown
  website/docs/cdktf/python/r/budgets_budget.html.markdown
  website/docs/cdktf/python/r/cloudfront_origin_access_identity.html.markdown
  website/docs/cdktf/python/r/ec2_network_insights_analysis.html.markdown
  website/docs/cdktf/python/r/ecs_service.html.markdown
  website/docs/cdktf/python/r/ecs_task_definition.html.markdown
  website/docs/cdktf/python/r/instance.html.markdown
  website/docs/cdktf/python/r/kms_grant.html.markdown
  website/docs/cdktf/python/r/kms_key.html.markdown
  website/docs/cdktf/python/r/lakeformation_lf_tag.html.markdown
  website/docs/cdktf/python/r/lambda_function.html.markdown
  website/docs/cdktf/python/r/lambda_layer_version.html.markdown
  website/docs/cdktf/python/r/lambda_runtime_management_config.html.markdown
  website/docs/cdktf/python/r/launch_configuration.html.markdown
  website/docs/cdktf/python/r/macie2_classification_job.html.markdown
  website/docs/cdktf/python/r/ses_domain_identity.html.markdown
  website/docs/cdktf/python/r/storagegateway_smb_file_share.html.markdown
  website/docs/cdktf/python/r/vpc_endpoint_private_dns.html.markdown
  website/docs/cdktf/python/r/wafv2_web_acl.html.markdown
  website/docs/cdktf/typescript/d/chatbot_slack_workspace.html.markdown
  website/docs/cdktf/typescript/d/ec2_network_insights_analysis.html.markdown
  website/docs/cdktf/typescript/d/lambda_function.html.markdown
  website/docs/cdktf/typescript/d/lambda_layer_version.html.markdown
  website/docs/cdktf/typescript/d/quicksight_user.html.markdown
  website/docs/cdktf/typescript/d/route53_traffic_policy_document.html.markdown
  website/docs/cdktf/typescript/d/s3_bucket_object.html.markdown
  website/docs/cdktf/typescript/d/s3_object.html.markdown
  website/docs/cdktf/typescript/r/ami_from_instance.html.markdown
  website/docs/cdktf/typescript/r/api_gateway_deployment.html.markdown
  website/docs/cdktf/typescript/r/budgets_budget.html.markdown
  website/docs/cdktf/typescript/r/cloudfront_origin_access_identity.html.markdown
  website/docs/cdktf/typescript/r/ec2_network_insights_analysis.html.markdown
  website/docs/cdktf/typescript/r/ecs_service.html.markdown
  website/docs/cdktf/typescript/r/ecs_task_definition.html.markdown
  website/docs/cdktf/typescript/r/instance.html.markdown
  website/docs/cdktf/typescript/r/kms_grant.html.markdown
  website/docs/cdktf/typescript/r/kms_key.html.markdown
  website/docs/cdktf/typescript/r/lakeformation_lf_tag.html.markdown
  website/docs/cdktf/typescript/r/lambda_function.html.markdown
  website/docs/cdktf/typescript/r/lambda_layer_version.html.markdown
  website/docs/cdktf/typescript/r/lambda_runtime_management_config.html.markdown
  website/docs/cdktf/typescript/r/launch_configuration.html.markdown
  website/docs/cdktf/typescript/r/macie2_classification_job.html.markdown
  website/docs/cdktf/typescript/r/ses_domain_identity.html.markdown
  website/docs/cdktf/typescript/r/storagegateway_smb_file_share.html.markdown
  website/docs/cdktf/typescript/r/vpc_endpoint_private_dns.html.markdown
  website/docs/cdktf/typescript/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XL, service/lambda, service/ec2, service/s3, service/ecs, service/route53, service/apigateway, service/cloudfront, service/autoscaling, service/storagegateway, service/ses, service/budgets, service/kms, service/quicksight, service/lakeformation, service/wafv2, service/macie2, service/vpc, service/chatbot

#37714 r/kinesisanalyticsv2_application: add `application_mode` attribute
  .changelog/37714.txt
  internal/service/kinesisanalyticsv2/application.go
  internal/service/kinesisanalyticsv2/application_test.go
  website/docs/r/kinesisanalyticsv2_application.html.markdown
Labels: enhancement, documentation, size/S, tests, service/kinesisanalyticsv2, prioritized

#37707 docs: add link to s3 access point naming convention
  website/docs/r/s3_access_point.html.markdown
Labels: documentation, service/s3control, needs-triage

#37744 [new service]: timestreaminfluxdb
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/timestreaminfluxdb/generate.go
  internal/service/timestreaminfluxdb/service_endpoints_gen_test.go
  internal/service/timestreaminfluxdb/service_package_gen.go
  internal/service/timestreaminfluxdb/tags_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, tests, provider, linter, sweeper, tags, repository, client-connections, generators, github_actions, new-service, prioritized

#37755 Remove Tech Preview verbigage
  website/docs/guides/using-aws-with-awscc-provider.html.markdown
Labels: documentation, size/XS, prioritized

#37753 AWS SDK go mod updates
  go.mod
  go.sum
  internal/service/s3/bucket_object_data_source.go
  internal/service/s3/object_data_source.go
Labels: dependencies, size/XL, go, prioritized

#37756 go mod tidy
  go.sum
Labels: size/XS, prioritized

#37711 feat: Implement ListTags for all taggable Lightsail resources
  .changelog/37711.txt
  internal/errs/errs.go
  internal/service/lightsail/bucket.go
  internal/service/lightsail/bucket_test.go
  internal/service/lightsail/certificate.go
  internal/service/lightsail/certificate_test.go
  internal/service/lightsail/container_service.go
  internal/service/lightsail/container_service_test.go
  internal/service/lightsail/database.go
  internal/service/lightsail/database_test.go
  internal/service/lightsail/disk.go
  internal/service/lightsail/disk_test.go
  internal/service/lightsail/distribution.go
  internal/service/lightsail/distribution_test.go
  internal/service/lightsail/domain.go
  internal/service/lightsail/domain_entry.go
  internal/service/lightsail/domain_entry_test.go
  internal/service/lightsail/domain_test.go
  internal/service/lightsail/errs.go
  internal/service/lightsail/instance_test.go
  internal/service/lightsail/key_pair.go
  internal/service/lightsail/key_pair_test.go
  internal/service/lightsail/lb.go
  internal/service/lightsail/lb_certificate.go
  internal/service/lightsail/lb_test.go
  internal/service/lightsail/lightsail_test.go
  internal/service/lightsail/service_package.go
  internal/service/lightsail/service_package_gen.go
  internal/service/lightsail/static_ip.go
  internal/service/lightsail/tags.go
  website/docs/r/lightsail_container_service.html.markdown
  website/docs/r/lightsail_distribution.html.markdown
  website/docs/r/lightsail_key_pair.html.markdown
Labels: bug, enhancement, documentation, size/XL, tests, service/lightsail, tags, generators, external-maintainer, prioritized

#37762 td:add lightsail sweepers
  internal/service/lightsail/generate.go
  internal/service/lightsail/list_pages_gen.go
  internal/service/lightsail/sweep.go
Labels: size/XL, service/lightsail, sweeper, generators, prioritized

#37764 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, size/XL, go, prioritized

#37765 docs: Makefile cheat sheet
  .github/workflows/README.md
  .github/workflows/acctest-terraform-lint.yml
  .github/workflows/changelog.yml
  .github/workflows/changelog_misspell.yml
  .github/workflows/community-check.yml
  .github/workflows/copyright.yml
  .github/workflows/dependencies.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/library_versions.yml
  .github/workflows/provider.yml
  .github/workflows/providerlint.yml
  .github/workflows/semgrep-ci.yml
  .github/workflows/skaff.yml
  .github/workflows/website.yml
  .github/workflows/workflow-lint.yml
  .github/workflows/yamllint.yml
  .markdownlint.yml
  GNUmakefile
  docs/continuous-integration.md
  docs/makefile-cheat-sheet.md
  mkdocs.yml
Labels: documentation, prioritized

#37776 go mod tidy
  docs/makefile-cheat-sheet.md
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: documentation, size/S, prioritized

#37781 docs/ci/make: Fix grammar and typos
  docs/continuous-integration.md
  docs/makefile-cheat-sheet.md
Labels: documentation, size/M, prioritized

#37792 ci: Prefer constants for string literals
  .ci/.semgrep-constants.yml
  internal/generate/serviceendpointtests/file.tmpl
  internal/generate/serviceendpointtests/main.go
  internal/service/codebuild/project.go
  internal/service/datasync/task.go
  internal/service/datasync/task_test.go
  internal/service/dms/replication_instance.go
  internal/service/dms/replication_instance_test.go
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_test.go
  internal/service/ec2/verifiedaccess_instance_logging_configuration.go
  internal/service/ecs/service.go
  internal/service/ecs/task_execution_data_source.go
  internal/service/ecs/task_set.go
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/diff.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_migrate.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elasticsearch/domain.go
  internal/service/elasticsearch/domain_data_source.go
  internal/service/elasticsearch/domain_structure.go
  internal/service/events/target.go
  internal/service/evidently/project.go
  internal/service/iot/topic_rule.go
  internal/service/ivschat/logging_configuration.go
  internal/service/kafka/cluster.go
  internal/service/kafkaconnect/connector.go
  internal/service/logs/data_protection_policy_document_data_source.go
  internal/service/logs/service_endpoints_gen_test.go
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_test.go
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_data_source.go
  internal/service/opensearch/domain_structure.go
  internal/service/pipes/target_parameters.go
  internal/service/rds/cluster.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_migrate.go
  internal/service/rds/cluster_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_migrate.go
  internal/service/rds/instance_test.go
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_test.go
  internal/service/route53/query_log.go
  internal/service/route53/query_log_test.go
  internal/service/scheduler/flex.go
  internal/service/scheduler/schedule.go
  internal/service/storagegateway/gateway.go
  internal/service/storagegateway/gateway_test.go
  names/attr_constants.csv
  names/attr_consts_gen.go
Labels: size/XL, tests, service/ecs, service/route53, service/rds, service/codebuild, service/redshift, service/storagegateway, service/elasticache, service/elasticsearch, service/iot, service/neptune, service/datasync, service/kafka, service/docdb, linter, generators, service/events, service/kafkaconnect, service/opensearch, service/logs, service/dms, service/evidently, service/scheduler, service/ivschat, service/pipes, service/verifiedaccess, prioritized
