Repository hashicorp/terraform-provider-aws, pull requests merged in 2024-11, with the labels that each got.

#39929 r/aws_apigateway_stage: add deployment_id to canary_settings
  .changelog/39929.txt
  internal/service/apigateway/deployment.go
  internal/service/apigateway/deployment_test.go
  internal/service/apigateway/stage.go
  internal/service/apigateway/stage_test.go
  website/docs/r/api_gateway_stage.html.markdown
Labels: enhancement, documentation, tests, service/apigateway, prioritized

#39971 Remove CodeDeploy alarm limit
  .changelog/39971.txt
  internal/service/deploy/deployment_group.go
  website/docs/r/codedeploy_deployment_group.html.markdown
Labels: bug, documentation, service/deploy

#39989 r/aws_iam_role: refine `managed_policy_arns` deprecation message
  internal/service/iam/role.go
  website/docs/r/iam_role.html.markdown
Labels: documentation, service/iam, prioritized

#39990 Upgrade tools dependencies
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: linter, prioritized

#40002 add label for new ephemeral resource
  infrastructure/repository/labels-workflow.tf
Labels: repository, prioritized

#39987 r/aws_iot_billing_group migration to Plugin Framework
  internal/service/iot/billing_group.go
  internal/service/iot/billing_group_test.go
  internal/service/iot/exports_test.go
  internal/service/iot/service_package_gen.go
Labels: tests, service/iot, generators, prioritized

#39991 feat: mark password attribute of aws_iam_user_login_profile as sensitive
  .changelog/39991.txt
  internal/service/iam/user_login_profile.go
Labels: bug, service/iam

#39973 feat: Add support for `pod_identity_associations` argument for `aws_eks_addon`
  .changelog/38357.txt
  internal/service/eks/addon.go
  internal/service/eks/addon_data_source.go
  internal/service/eks/addon_data_source_test.go
  internal/service/eks/addon_test.go
  website/docs/d/eks_addon.html.markdown
  website/docs/r/eks_addon.html.markdown
Labels: enhancement, documentation, tests, service/eks, partner, prioritized

#39975 linter: Add `perfsprint`
  .ci/.golangci2.yml
  .ci/.golangci3.yml
  internal/acctest/acctest.go
  internal/service/acmpca/certificate.go
  internal/service/apigateway/authorizer.go
  internal/service/apigateway/method.go
  internal/service/apigateway/method_settings.go
  internal/service/apigateway/request_validator.go
  internal/service/apigateway/stage.go
  internal/service/cloudtrail/trail_test.go
  internal/service/ec2/ec2_ami_ids_data_source.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/events/api_destination_test.go
  internal/service/fsx/ontap_file_system_test.go
  internal/service/fsx/ontap_volume_test.go
  internal/service/gamelift/game_session_queue_test.go
  internal/service/iam/group_data_source_test.go
  internal/service/iam/group_policies_exclusive_test.go
  internal/service/iam/group_policy_attachments_exclusive_test.go
  internal/service/iam/role_policies_exclusive_test.go
  internal/service/iam/role_policy_attachments_exclusive_test.go
  internal/service/iam/user_policies_exclusive_test.go
  internal/service/iam/user_policy_attachments_exclusive_test.go
  internal/service/lakeformation/data_lake_settings.go
  internal/service/lakeformation/data_lake_settings_data_source.go
  internal/service/lakeformation/permissions.go
  internal/service/lakeformation/permissions_data_source.go
  internal/service/lakeformation/resource_lf_tag.go
  internal/service/lakeformation/resource_lf_tags.go
  internal/service/lightsail/lb_https_redirection_policy.go
  internal/service/lightsail/lb_stickiness_policy.go
  internal/service/pricing/product_data_source.go
  internal/service/rds/instance.go
  internal/service/rds/reserved_instance_offering_data_source.go
  internal/service/sfn/state_machine_test.go
  internal/service/sns/platform_application.go
  internal/service/xray/sampling_rule_test.go
  internal/tags/key_value_tags.go
  internal/vault/helper/pgpkeys/encrypt_decrypt.go
Labels: tests, service/iam, service/ec2, service/apigateway, service/sns, service/rds, service/gamelift, service/cloudtrail, service/lightsail, service/sfn, service/acmpca, service/pricing, service/xray, service/fsx, service/lakeformation, linter, tags, service/events, prioritized

#39835 ephemeral resources: bootstrap provider
  internal/conns/conns.go
  internal/framework/ephemeral_resource_with_configure.go
  internal/generate/servicepackage/file.gtpl
  internal/generate/servicepackage/main.go
  internal/provider/fwprovider/intercept.go
  internal/provider/fwprovider/provider.go
  internal/types/service_package.go
Labels: service/kms, provider, client-connections, generators, prioritized, new-ephemeral-resource

#40008 internal/framework/types: surface ARN validation errors
  .changelog/40008.txt
  internal/framework/types/arn.go
  internal/framework/types/arn_test.go
Labels: tests, prioritized

#40010 Fix typo on db_cluster_snapshot, db_snapshot and db_snapshot_copy
  website/docs/r/db_cluster_snapshot.html.markdown
  website/docs/r/db_snapshot.html.markdown
  website/docs/r/db_snapshot_copy.html.markdown
Labels: documentation, service/rds

#40014 infrastructure/repository: add `terraform-plugin-migration` label
  infrastructure/repository/labels-workflow.tf
Labels: repository, prioritized

#40019 :sparkles: add additional properties on eks job definition
  .changelog/40019.txt
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_data_source.go
  internal/service/batch/job_definition_data_source_test.go
  internal/service/batch/job_definition_test.go
  website/docs/d/batch_job_definition.html.markdown
  website/docs/r/batch_job_definition.html.markdown
Labels: documentation, tests, service/batch, prioritized

#40026 Add missing `shared_accounts` parameter to `db_snapshot_copy` documentation
  website/docs/r/db_snapshot_copy.html.markdown
Labels: documentation, service/rds

#40017 website/docs/functions: remove required version note
  website/docs/functions/arn_build.html.markdown
  website/docs/functions/arn_parse.html.markdown
  website/docs/functions/trim_iam_role_path.html.markdown
Labels: documentation, prioritized, service/meta, function

#40018 autoflex: Allow []byte-string conversion
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/autoflex_test.go
Labels: tests, prioritized

#40028 skaff: fix framework data source annotation
  skaff/datasource/datasourcefw.gtpl
Labels: skaff, prioritized

#39647 feat: new datasource spot datafeed subscription
  .changelog/39647.txt
  internal/service/ec2/ec2_spot_datafeed_subscription_data_source.go
  internal/service/ec2/ec2_spot_datafeed_subscription_data_source_test.go
  internal/service/ec2/ec2_spot_datafeed_subscription_test.go
  internal/service/ec2/service_package_gen.go
  website/docs/d/spot_datafeed_subscription.html.markdown
Labels: documentation, new-data-source, tests, service/ec2, generators

#40042 ipam_pool: Fix publicly_advertisable bug
  .changelog/40042.txt
  .github/workflows/golangci-lint.yml
  internal/service/ec2/ipam_pool.go
  internal/service/ec2/ipam_pool_test.go
  website/docs/r/vpc_ipam_pool.html.markdown
Labels: documentation, tests, service/ipam, prioritized

#40039 r/aws_lb_listener: remove `tcp_idle_timeout_seconds` default value
  .changelog/40039.txt
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_test.go
Labels: tests, service/elbv2, prioritized

#40044 docs: add argument `validation_window_hours`
  website/docs/r/backup_restore_testing_selection.html.markdown
Labels: documentation, service/backup

#39980 feat: Add description arg/attr for aws_cloudwatch_event_bus resource and data source
  .changelog/39980.txt
  internal/service/events/bus.go
  internal/service/events/bus_data_source.go
  internal/service/events/bus_data_source_test.go
  internal/service/events/bus_test.go
  website/docs/d/cloudwatch_event_bus.html.markdown
  website/docs/r/cloudwatch_event_bus.html.markdown
Labels: enhancement, documentation, tests, service/events, external-maintainer

#40049 sagemaker/domain: Fix ValidationException with AppSecurityGroupMangement
  .changelog/40049.txt
  internal/service/sagemaker/domain.go
  internal/service/sagemaker/domain_test.go
  internal/service/sagemaker/sagemaker_test.go
Labels: tests, service/sagemaker, prioritized

#40046 dynamodb/table: Fix ability to disable dynamodb table ttl
  .changelog/40046.txt
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
Labels: tests, service/dynamodb, prioritized

#40066 dynamodb/table: TTL validation test no longer valid
  internal/service/dynamodb/table_test.go
Labels: tests, service/dynamodb, prioritized

#40077 cdktf: update documentation
  website/docs/cdktf/python/d/batch_job_definition.html.markdown
  website/docs/cdktf/python/d/cloudwatch_event_bus.html.markdown
  website/docs/cdktf/python/d/eks_addon.html.markdown
  website/docs/cdktf/python/d/spot_datafeed_subscription.html.markdown
  website/docs/cdktf/python/functions/arn_build.html.markdown
  website/docs/cdktf/python/functions/arn_parse.html.markdown
  website/docs/cdktf/python/functions/trim_iam_role_path.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/api_gateway_account.html.markdown
  website/docs/cdktf/python/r/backup_restore_testing_selection.html.markdown
  website/docs/cdktf/python/r/batch_job_definition.html.markdown
  website/docs/cdktf/python/r/cloudwatch_event_bus.html.markdown
  website/docs/cdktf/python/r/codedeploy_deployment_group.html.markdown
  website/docs/cdktf/python/r/db_cluster_snapshot.html.markdown
  website/docs/cdktf/python/r/db_snapshot.html.markdown
  website/docs/cdktf/python/r/db_snapshot_copy.html.markdown
  website/docs/cdktf/python/r/eks_addon.html.markdown
  website/docs/cdktf/python/r/iam_group_policies_exclusive.html.markdown
  website/docs/cdktf/python/r/iam_group_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/python/r/iam_role.html.markdown
  website/docs/cdktf/python/r/iam_role_policies_exclusive.html.markdown
  website/docs/cdktf/python/r/iam_role_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/python/r/iam_user_policies_exclusive.html.markdown
  website/docs/cdktf/python/r/iam_user_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/python/r/vpc_ipam_pool.html.markdown
  website/docs/cdktf/typescript/d/batch_job_definition.html.markdown
  website/docs/cdktf/typescript/d/cloudwatch_event_bus.html.markdown
  website/docs/cdktf/typescript/d/eks_addon.html.markdown
  website/docs/cdktf/typescript/d/spot_datafeed_subscription.html.markdown
  website/docs/cdktf/typescript/functions/arn_build.html.markdown
  website/docs/cdktf/typescript/functions/arn_parse.html.markdown
  website/docs/cdktf/typescript/functions/trim_iam_role_path.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/api_gateway_account.html.markdown
  website/docs/cdktf/typescript/r/backup_restore_testing_selection.html.markdown
  website/docs/cdktf/typescript/r/batch_job_definition.html.markdown
  website/docs/cdktf/typescript/r/cloudwatch_event_bus.html.markdown
  website/docs/cdktf/typescript/r/codedeploy_deployment_group.html.markdown
  website/docs/cdktf/typescript/r/db_cluster_snapshot.html.markdown
  website/docs/cdktf/typescript/r/db_snapshot.html.markdown
  website/docs/cdktf/typescript/r/db_snapshot_copy.html.markdown
  website/docs/cdktf/typescript/r/eks_addon.html.markdown
  website/docs/cdktf/typescript/r/iam_group_policies_exclusive.html.markdown
  website/docs/cdktf/typescript/r/iam_group_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/typescript/r/iam_role.html.markdown
  website/docs/cdktf/typescript/r/iam_role_policies_exclusive.html.markdown
  website/docs/cdktf/typescript/r/iam_role_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/typescript/r/iam_user_policies_exclusive.html.markdown
  website/docs/cdktf/typescript/r/iam_user_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/typescript/r/vpc_ipam_pool.html.markdown
Labels: documentation, service/iam, service/ec2, service/apigateway, service/rds, service/batch, service/eks, service/backup, service/events, service/ipam, service/deploy, service/meta

#40068 Update tools dependencies
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: linter, prioritized

#40067 resource/aws_api_gateway_deployment: Reverts validation errors
  .changelog/40067.txt
  internal/service/apigateway/deployment.go
  website/docs/r/api_gateway_deployment.html.markdown
Labels: documentation, service/apigateway, prioritized

#40047 feat: new service `taxsettings`
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/taxsettings/generate.go
  internal/service/taxsettings/service_endpoint_resolver_gen.go
  internal/service/taxsettings/service_endpoints_gen_test.go
  internal/service/taxsettings/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, tests, provider, linter, sweeper, repository, client-connections, generators, github_actions, new-service, prioritized

#40063 docs: remove invalid argument from resource documentation
  website/docs/r/sagemaker_space.html.markdown
Labels: documentation, service/sagemaker, needs-triage

#40082 b/aws_eip on delete error with ipam_pool_id stuck in IPAM eventual consistency loop
  .changelog/40082.txt
  internal/service/ec2/ec2_eip.go
Labels: bug, service/ec2

#40088 autoscaling/group: Handle eventual consistency
  .changelog/40088.txt
  internal/service/autoscaling/errors.go
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/find.go
  internal/service/iam/instance_profile.go
Labels: tests, service/iam, service/ec2, service/autoscaling, prioritized

#40087 Increase operation count of stale workflow
  .github/workflows/stale.yml
Labels: repository, github_actions, prioritized

#40097 Bump aws-sdk-go-v2 service modules
  .ci/tools/go.sum
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: linter, prioritized

#40105 Fix panic in Evidently sweepers
  internal/service/evidently/sweep.go
  internal/sweep/awsv2/skip.go
Labels: sweeper, service/evidently, prioritized

#40120 Correct typo in elasticache_replication_group regarding number of allowed Secondary replica groups
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, service/elasticache

#40124 apigateway/integration: Fix parameters issues
  .changelog/40124.txt
  internal/service/apigateway/integration.go
  internal/service/apigateway/integration_test.go
  internal/service/apigateway/method.go
Labels: tests, service/apigateway, prioritized

#40133 Update dependencies
  .ci/tools/go.mod
  .ci/tools/go.sum
  GNUmakefile
  go.mod
  go.sum
  internal/errs/errs.go
  internal/service/lightsail/errs.go
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: linter, repository, prioritized

#40134 dataexchange/docs: Update valid values
  website/docs/r/dataexchange_data_set.html.markdown
Labels: documentation, service/dataexchange, prioritized

#39960 aws_rds_global_cluster: Add `endpoint` attribute for DB writer endpoint
  .changelog/39960.txt
  internal/service/rds/global_cluster.go
  internal/service/rds/global_cluster_test.go
  website/docs/r/rds_global_cluster.html.markdown
Labels: enhancement, documentation, tests, service/rds, provider

#39964 Add Script to Check Registry Version to Github and Initialize
  .github/workflows/post_publish.yml
Labels: linter, repository, github_actions, prioritized

#40122 API Gateway: clean up tests to remove unneeded serialization
  internal/generate/tagstests/data_source_test.go.gtpl
  internal/generate/tagstests/main.go
  internal/generate/tagstests/resource_test.go.gtpl
  internal/service/apigateway/method_settings_test.go
  internal/service/apigateway/rest_api_test.go
  internal/service/apigateway/stage.go
  internal/service/apigateway/stage_tags_gen_test.go
  internal/service/apigateway/stage_test.go
  internal/service/apigateway/testdata/Stage/tags/main_gen.tf
  internal/service/apigateway/testdata/Stage/tagsComputed1/main_gen.tf
  internal/service/apigateway/testdata/Stage/tagsComputed2/main_gen.tf
  internal/service/apigateway/testdata/Stage/tags_defaults/main_gen.tf
  internal/service/apigateway/testdata/Stage/tags_ignore/main_gen.tf
  internal/service/apigateway/testdata/tmpl/stage_tags.gtpl
Labels: tests, service/apigateway, generators, prioritized

#40108 Adds `aws_servicecatalogappregistry_application` sweeper
  internal/service/resourcegroups/sweep.go
  internal/service/servicecatalogappregistry/sweep.go
  internal/sweep/register_gen_test.go
Labels: tests, service/resourcegroups, sweeper, generators, service/servicecatalogappregistry, prioritized

#40145 [Docs] Add RCP documentation for aws_organizations_policy
  website/docs/r/organizations_policy.html.markdown
Labels: documentation, service/organizations

#40163 docs: update terminology from "customer managed policies" to "managed IAM policies"
  internal/service/iam/group_policy_attachments_exclusive.go
  internal/service/iam/role_policy_attachments_exclusive.go
  internal/service/iam/user_policy_attachments_exclusive.go
  website/docs/r/iam_group_policy_attachments_exclusive.html.markdown
  website/docs/r/iam_role_policy_attachments_exclusive.html.markdown
  website/docs/r/iam_user_policy_attachments_exclusive.html.markdown
Labels: documentation, service/iam

#40174 [Docs] Additional doc additions for RCPs
  website/docs/d/organizations_policies.html.markdown
  website/docs/d/organizations_policies_for_target.html.markdown
  website/docs/d/organizations_policy.html.markdown
  website/docs/r/organizations_organization.html.markdown
Labels: documentation, service/organizations

#40144 d/aws_subnet: use `Tags` field from `DescribeSubnets` response
  .changelog/40144.txt
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/vpc_subnet_data_source.go
  internal/service/ec2/vpc_subnet_data_source_tags_gen_test.go
Labels: tests, generators, service/vpc, prioritized

#40142 d/aws_elbv2_listener_rule(test): fix flaky test configuration
  internal/service/elbv2/listener_rule_data_source_test.go
Labels: tests, service/elbv2, prioritized

#40175 sweeper/aws_sagemaker_hub: Skip sweeper in unsupported regions
  internal/service/sagemaker/sweep.go
Labels: service/sagemaker, sweeper, prioritized

#40129 Replace golangci `errcheck` `ignore` with `exclude-functions`
  .ci/.golangci2.yml
Labels: linter

#40179 [Docs] Extended snapstart runtime support for lambda_function
  website/docs/r/lambda_function.html.markdown
Labels: documentation, service/lambda

#40183 chore(aws_s3_bucket_acl): add valid values for canned acl to the documentation.
  website/docs/r/s3_bucket_acl.html.markdown
Labels: documentation, service/s3, needs-triage

#38366 aws_fsx_openzfs_file_system
  internal/service/fsx/openzfs_file_system_test.go
  website/docs/r/fsx_openzfs_file_system.html.markdown
Labels: documentation, size/XS, tests, service/fsx

#40168 r/aws_eks_addon: fix crash when updating `pod_identity_association`
  .changelog/40168.txt
  internal/service/eks/addon.go
  internal/service/eks/addon_test.go
Labels: bug, crash, service/eks, prioritized

#40201 add ephemeral resource contributor docs
  docs/add-a-new-ephemeral-resource.md
  mkdocs.yml
Labels: documentation, prioritized

#40204 make: Update update target
  .ci/providerlint/go.mod
  .ci/providerlint/go.sum
  .ci/providerlint/passes/AWSAT001/testdata/go.mod
  .ci/providerlint/passes/AWSAT001/testdata/go.sum
  .ci/providerlint/passes/AWSAT004/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.sum
  .ci/providerlint/passes/AWSV001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.sum
  .ci/tools/go.mod
  .ci/tools/go.sum
  GNUmakefile
  go.mod
  go.sum
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: repository, prioritized

#40205 docs: indicate `domain` is optional in `aws_eip` resource
  website/docs/r/eip.html.markdown
Labels: documentation, service/ec2, needs-triage

#40213 .github/workflows: address breaking changes to `slack-github-action`
  .github/workflows/comments-feed.yml
  .github/workflows/label-notifications.yml
  .github/workflows/post_publish.yml
  .github/workflows/pull_request_feed.yml
  .github/workflows/pull_request_review.yml
  .github/workflows/release-tag.yml
Labels: repository, github_actions, prioritized

#40009 new ephemeral resources: `aws_secretsmanager_secret_version` and `aws_kms_secrets`
  .changelog/40009.txt
  internal/service/kms/secrets_ephemeral.go
  internal/service/kms/secrets_ephemeral_test.go
  internal/service/kms/service_package_gen.go
  internal/service/secretsmanager/secret_version_ephemeral.go
  internal/service/secretsmanager/secret_version_ephemeral_test.go
  internal/service/secretsmanager/service_package_gen.go
  website/docs/ephemeral-resources/kms_secrets.html.markdown
  website/docs/ephemeral-resources/secretsmanager_secret_version.html.markdown
Labels: documentation, tests, service/kms, service/secretsmanager, generators, prioritized, new-ephemeral-resource

#40220 update AWS sdkv2 dependencies
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#40222 .ci/scripts: add handling for `new-ephemeral` entry types
  .ci/scripts/changelog.tmpl
  .ci/scripts/release-note.tmpl
Labels: linter, prioritized

#40180 f/Start/Stop DB Instance Resource
  .changelog/40180.txt
  internal/service/rds/exports_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_state.go
  internal/service/rds/instance_state_test.go
  internal/service/rds/service_package_gen.go
  website/docs/r/rds_instance_state.html.markdown
Labels: documentation, tests, service/rds, generators, prioritized

#39988 lambda: Ephemeral resource `aws_lambda_invocation`
  .changelog/39988.txt
  internal/create/errors.go
  internal/service/lambda/invocation_ephemeral.go
  internal/service/lambda/invocation_ephemeral_test.go
  internal/service/lambda/service_package_gen.go
  website/docs/ephemeral-resources/kms_secrets.html.markdown
  website/docs/ephemeral-resources/lambda_invocation.html.markdown
  website/docs/ephemeral-resources/secretsmanager_secret_version.html.markdown
Labels: documentation, tests, service/lambda, service/kms, provider, service/secretsmanager, linter, client-connections, create, generators, prioritized, new-ephemeral-resource

#40216 resource/aws_ecs_service: Add `versionConsistency` support to `container_definitions`
  .changelog/40216.txt
  internal/service/ecs/container_definitions.go
  internal/service/ecs/container_definitions_test.go
  internal/service/ecs/task_definition_test.go
Labels: tests, service/ecs, prioritized

#40211 d/aws_ami: warn when most_recent is true and filters are missing
  .changelog/40211.txt
  internal/service/ec2/ec2_ami_data_source.go
  internal/service/ec2/ec2_ami_data_source_test.go
  internal/service/ec2/exports_test.go
Labels: tests, service/ec2, prioritized

#40177 resource/aws_ecs_service: Add 'vpc_lattice_configurations'
  .changelog/40177.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
  website/docs/r/ecs_service.html.markdown
Labels: documentation, tests, service/ecs, prioritized

#40240 .github/workflows: fix slack notification actions
  .github/workflows/comments-feed.yml
  .github/workflows/label-notifications.yml
  .github/workflows/post_publish.yml
  .github/workflows/pull_request_feed.yml
  .github/workflows/pull_request_review.yml
  .github/workflows/release-tag.yml
Labels: repository, github_actions, prioritized

#40218 docs: add missing transformation block
  website/docs/r/bedrockagent_data_source.html.markdown
Labels: documentation, service/bedrockagent

#40247 Build with Go v1.23.3
  .ci/providerlint/go.mod
  .ci/providerlint/passes/AWSAT001/testdata/go.mod
  .ci/providerlint/passes/AWSAT002/testdata/go.mod
  .ci/providerlint/passes/AWSAT003/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.mod
  .ci/providerlint/passes/AWSAT005/testdata/go.mod
  .ci/providerlint/passes/AWSAT006/testdata/go.mod
  .ci/providerlint/passes/AWSR001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.mod
  .ci/tools/go.mod
  .go-version
  go.mod
  skaff/go.mod
  tools/literally/go.mod
  tools/tfsdk2fw/go.mod
Labels: provider, linter, skaff, prioritized

#40245 .github/workflows: fix formatting in `post_publish` shell script
  .github/workflows/post_publish.yml
Labels: repository, github_actions, prioritized

#40262 dependabot: Remove `/tools/awssdkpatch`
  .github/dependabot.yml
Labels: dependencies, repository, github_actions, prioritized

#40172 r/batch_job_definition :bug: fix crash when EKS and ECS Properties defined on node_properties
  .changelog/40172.txt
  internal/service/batch/eks_properties.go
  internal/service/batch/eks_properties_test.go
  internal/service/batch/exports_test.go
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_test.go
  internal/service/batch/node_properties.go
  internal/service/batch/node_properties_test.go
Labels: bug, crash, tests, service/batch, prioritized

#40248 fix: update documentation for AWS ALB health check paths
  website/docs/r/lb_target_group.html.markdown
Labels: documentation, service/elbv2

#37257 Fix RDS instance bug where switching to IO2 from GP needs the allocated storage set
  internal/service/rds/cluster_test.go
  internal/service/rds/instance.go
Labels: bug, size/M, tests, service/rds, prioritized

#40268 r/aws_s3_bucket_lifecycle_configuration: S3 directory buckets are now supported
  .changelog/40268.txt
  internal/service/s3/bucket_lifecycle_configuration_test.go
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
Labels: documentation, tests, service/s3, prioritized

#40253 r/chatbot: Fix SNS topic ARNs ordering in Slack channel configuration
  .changelog/40253.txt
  internal/service/chatbot/slack_channel_configuration.go
  internal/service/rds/cluster_test.go
  internal/service/rds/instance.go
Labels: service/chatbot

#40277 Document support for AWS Lambda Node.js 22 and Python 3.13 runtimes
  CHANGELOG.md
Labels: documentation, provider, prioritized

#28847 Ensure required values are set when changing `storage_type`.
  .changelog/28847.txt
  .changelog/37257.txt
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
Labels: bug, size/M, tests, service/rds, prioritized

#40278 rds/instance: Test correct updating of cert
  internal/service/rds/instance_test.go
Labels: tests, service/rds, prioritized

#40280 Update dependencies
  .ci/tools/go.mod
  .ci/tools/go.sum
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: linter, prioritized

#40281 Fix aws_rds_reserved_instance_offering data source
  .changelog/40281.txt
  internal/service/rds/reserved_instance_offering_data_source.go
  internal/service/rds/reserved_instance_offering_data_source_test.go
Labels: tests, service/rds, prioritized

#40287 cdktf: update documentation
  website/docs/cdktf/python/d/organizations_policies.html.markdown
  website/docs/cdktf/python/d/organizations_policies_for_target.html.markdown
  website/docs/cdktf/python/d/organizations_policy.html.markdown
  website/docs/cdktf/python/ephemeral-resources/kms_secrets.html.markdown
  website/docs/cdktf/python/ephemeral-resources/lambda_invocation.html.markdown
  website/docs/cdktf/python/ephemeral-resources/secretsmanager_secret_version.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/python/r/ecs_service.html.markdown
  website/docs/cdktf/python/r/eip.html.markdown
  website/docs/cdktf/python/r/fsx_openzfs_file_system.html.markdown
  website/docs/cdktf/python/r/iam_group_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/python/r/iam_role_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/python/r/iam_user_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/python/r/imagebuilder_image_pipeline.html.markdown
  website/docs/cdktf/python/r/lambda_function.html.markdown
  website/docs/cdktf/python/r/lb_target_group.html.markdown
  website/docs/cdktf/python/r/organizations_organization.html.markdown
  website/docs/cdktf/python/r/rds_instance_state.html.markdown
  website/docs/cdktf/python/r/s3_bucket_acl.html.markdown
  website/docs/cdktf/python/r/s3_bucket_lifecycle_configuration.html.markdown
  website/docs/cdktf/typescript/d/organizations_policies.html.markdown
  website/docs/cdktf/typescript/d/organizations_policies_for_target.html.markdown
  website/docs/cdktf/typescript/d/organizations_policy.html.markdown
  website/docs/cdktf/typescript/ephemeral-resources/kms_secrets.html.markdown
  website/docs/cdktf/typescript/ephemeral-resources/lambda_invocation.html.markdown
  website/docs/cdktf/typescript/ephemeral-resources/secretsmanager_secret_version.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/typescript/r/ecs_service.html.markdown
  website/docs/cdktf/typescript/r/eip.html.markdown
  website/docs/cdktf/typescript/r/fsx_openzfs_file_system.html.markdown
  website/docs/cdktf/typescript/r/iam_group_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/typescript/r/iam_role_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/typescript/r/iam_user_policy_attachments_exclusive.html.markdown
  website/docs/cdktf/typescript/r/imagebuilder_image_pipeline.html.markdown
  website/docs/cdktf/typescript/r/lambda_function.html.markdown
  website/docs/cdktf/typescript/r/lb_target_group.html.markdown
  website/docs/cdktf/typescript/r/organizations_organization.html.markdown
  website/docs/cdktf/typescript/r/rds_instance_state.html.markdown
  website/docs/cdktf/typescript/r/s3_bucket_acl.html.markdown
  website/docs/cdktf/typescript/r/s3_bucket_lifecycle_configuration.html.markdown
Labels: documentation, service/lambda, service/iam, service/ec2, service/s3, service/ecs, service/elbv2, service/rds, service/organizations, service/kms, service/secretsmanager, service/fsx, service/imagebuilder, service/bedrockagent

#40291 r/chatbot_teams_channel_configuration: Fix SNS topic ARNs ordering
  .changelog/40291.txt
  internal/service/chatbot/slack_channel_configuration.go
  internal/service/chatbot/teams_channel_configuration.go
Labels: prioritized, service/chatbot

#40164 r/aws_iam_organization_features: IAM Organizations Root Access Management new resource
  .changelog/40164.txt
  internal/acctest/acctest.go
  internal/service/iam/exports_test.go
  internal/service/iam/organizations_features.go
  internal/service/iam/organizations_features_test.go
  internal/service/iam/service_package_gen.go
  website/docs/r/iam_organizations_features.html.markdown
Labels: documentation, new-resource, tests, service/iam, generators, prioritized

#40312 r/aws_db_proxy: Fix sweeper in US GovCloud
  internal/sweep/awsv2/skip.go
Labels: sweeper, prioritized

#40304 resource/aws_bedrock_guardrail: Convert `content_policy_config.filters_config` to Set
  .changelog/40304.txt
  internal/service/bedrock/guardrail.go
  internal/service/bedrock/guardrail_test.go
  website/docs/r/bedrock_guardrail.html.markdown
Labels: documentation, tests, prioritized, service/bedrock

#40233 Added new resource aws_vpc_block_public_access_options
  .changelog/40233.txt
  .github/labeler-pr-triage.yml
  internal/service/ec2/find.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/vpc_block_public_access_options.go
  internal/service/ec2/vpc_block_public_access_options_test.go
  internal/service/ec2/wait.go
  names/data/names_data.hcl
  website/docs/r/vpc_block_public_access_options.html.markdown
Labels: documentation, new-resource, tests, repository, generators, github_actions, service/vpc, partner, prioritized

#40235 New resource - aws_vpc_block_public_access_exclusion
  .changelog/40235.txt
  internal/service/ec2/errors.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/generate.go
  internal/service/ec2/list_pages_gen.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/testdata/BlockPublicAccessExclusion/tags/main_gen.tf
  internal/service/ec2/testdata/BlockPublicAccessExclusion/tagsComputed1/main_gen.tf
  internal/service/ec2/testdata/BlockPublicAccessExclusion/tagsComputed2/main_gen.tf
  internal/service/ec2/testdata/BlockPublicAccessExclusion/tags_defaults/main_gen.tf
  internal/service/ec2/testdata/BlockPublicAccessExclusion/tags_ignore/main_gen.tf
  internal/service/ec2/testdata/tmpl/vpc_block_public_access_exclusion_tags.gtpl
  internal/service/ec2/vpc_block_public_access_exclusion.go
  internal/service/ec2/vpc_block_public_access_exclusion_tags_gen_test.go
  internal/service/ec2/vpc_block_public_access_exclusion_test.go
  internal/service/ec2/vpc_block_public_access_options.go
  internal/service/ec2/vpc_block_public_access_options_test.go
  internal/service/ec2/wait.go
  website/docs/r/vpc_block_public_access_exclusion.html.markdown
Labels: documentation, new-resource, tests, repository, generators, github_actions, service/vpc, partner, prioritized

#40322 Adds `metrics_config` to aws_lambda_event_source_mapping
  .changelog/40322.txt
  internal/service/lambda/event_source_mapping.go
  internal/service/lambda/event_source_mapping_test.go
  website/docs/cdktf/python/r/lambda_event_source_mapping.html.markdown
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: enhancement, documentation, tests, service/lambda, prioritized
