Repository hashicorp/terraform-provider-aws, pull requests merged in 2024-10, with the labels that each got.

#39535 resource/aws_lambda_event_source_mapping & resource/aws_lambda_code_signing_config: Add tags support
  .changelog/39535.txt
  internal/service/lambda/code_signing_config.go
  internal/service/lambda/code_signing_config_data_source_test.go
  internal/service/lambda/code_signing_config_test.go
  internal/service/lambda/event_source_mapping.go
  internal/service/lambda/event_source_mapping_test.go
  internal/service/lambda/service_package_gen.go
  website/docs/r/lambda_code_signing_config.html.markdown
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, tests, service/lambda, tags, prioritized

#39507 r/aws_globalaccelerator_endpoint_group: add `attachment_arn` to `endpoint_configuration`
  .changelog/39507.txt
  internal/service/globalaccelerator/endpoint_group.go
  internal/service/globalaccelerator/endpoint_group_test.go
  website/docs/cdktf/python/r/globalaccelerator_endpoint_group.html.markdown
  website/docs/r/globalaccelerator_endpoint_group.html.markdown
Labels: enhancement, documentation, tests, service/globalaccelerator, prioritized

#39552 td/auto-flex-union-type_aws_appfabric_ingestion_destination
  internal/service/appfabric/app_authorization.go
  internal/service/appfabric/ingestion_destination.go
Labels: technical-debt, partner, prioritized, service/appfabric, autoflex

#39538 worklink: Deprecate resources
  .changelog/39538.txt
  internal/service/worklink/fleet.go
  internal/service/worklink/website_certificate_authority_association.go
Labels: service/worklink, prioritized

#39565 Bug Fix bug where customer_encryption_key_arn was not passed in on update
  .changelog/39565.txt
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/agent_test.go
Labels: bug, tests, partner, prioritized, service/bedrockagent

#39544 r/aws_iam_user_policies_exclusive: new resource
  .changelog/39544.txt
  internal/service/iam/exports_test.go
  internal/service/iam/service_package_gen.go
  internal/service/iam/user_policies_exclusive.go
  internal/service/iam/user_policies_exclusive_test.go
  website/docs/r/iam_user_policies_exclusive.html.markdown
Labels: documentation, tests, service/iam, generators, prioritized

#39554 r/aws_iam_group_policies_exclusive: new resource
  .changelog/39554.txt
  internal/service/iam/exports_test.go
  internal/service/iam/group_policies_exclusive.go
  internal/service/iam/group_policies_exclusive_test.go
  internal/service/iam/service_package_gen.go
  website/docs/r/iam_group_policies_exclusive.html.markdown
Labels: documentation, tests, service/iam, generators, prioritized

#39557 feat: add start_time attribute to data source aws_ebs_snapshot
  .changelog/39557.txt
  internal/service/ec2/ebs_snapshot_data_source.go
  internal/service/ec2/ebs_snapshot_data_source_test.go
  website/docs/d/ebs_snapshot.html.markdown
Labels: documentation, tests, service/ec2ebs

#39556 Bedrock Agent DataSource custom transformation support
  .changelog/39556.txt
  internal/service/bedrockagent/bedrockagent_test.go
  internal/service/bedrockagent/data_source.go
  internal/service/bedrockagent/data_source_test.go
  website/docs/r/bedrockagent_data_source.html.markdown
Labels: enhancement, documentation, tests, partner, prioritized, service/bedrockagent

#39567 Add RequiresReplace to attributes that can't be modified by update
  .changelog/39567.txt
  internal/service/bedrockagent/agent_knowledge_base_association_test.go
  internal/service/bedrockagent/data_source_test.go
  internal/service/bedrockagent/knowledge_base.go
  internal/service/bedrockagent/knowledge_base_test.go
Labels: bug, partner, prioritized, service/bedrockagent

#39098 [New resource] AWS Backup logically air gapped vault
  .changelog/39098.txt
  internal/service/backup/consts.go
  internal/service/backup/exports_test.go
  internal/service/backup/find.go
  internal/service/backup/framework.go
  internal/service/backup/framework_data_source.go
  internal/service/backup/framework_data_source_test.go
  internal/service/backup/framework_test.go
  internal/service/backup/global_settings.go
  internal/service/backup/global_settings_test.go
  internal/service/backup/logically_air_gapped_vault.go
  internal/service/backup/logically_air_gapped_vault_test.go
  internal/service/backup/plan.go
  internal/service/backup/plan_data_source.go
  internal/service/backup/plan_test.go
  internal/service/backup/region_settings.go
  internal/service/backup/region_settings_test.go
  internal/service/backup/report_plan.go
  internal/service/backup/report_plan_data_source.go
  internal/service/backup/report_plan_data_source_test.go
  internal/service/backup/report_plan_test.go
  internal/service/backup/selection.go
  internal/service/backup/selection_data_source.go
  internal/service/backup/selection_test.go
  internal/service/backup/service_package_gen.go
  internal/service/backup/status.go
  internal/service/backup/sweep.go
  internal/service/backup/vault.go
  internal/service/backup/vault_data_source.go
  internal/service/backup/vault_lock_configuration.go
  internal/service/backup/vault_lock_configuration_test.go
  internal/service/backup/vault_notifications.go
  internal/service/backup/vault_notifications_test.go
  internal/service/backup/vault_policy.go
  internal/service/backup/vault_policy_test.go
  internal/service/backup/vault_test.go
  internal/service/backup/wait.go
  website/docs/r/backup_logically_air_gapped_vault.html.markdown
Labels: documentation, new-resource, tests, service/backup, generators, prioritized

#39486 r/aws_bedrockagent_agent_action_group: use configured prepare_agent value
  .changelog/39486.txt
  internal/service/bedrockagent/agent_action_group.go
  internal/service/bedrockagent/agent_action_group_test.go
  website/docs/r/bedrockagent_agent_action_group.html.markdown
Labels: documentation, tests, partner, prioritized, service/bedrockagent

#39578 r/aws_s3_bucket_lifecycle_configuration: Add `transition_default_minimum_object_size` argument
  .changelog/39578.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/exports_test.go
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
Labels: enhancement, documentation, tests, service/s3, prioritized

#39586 go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#39569 provider: Reduce schema memory usage by 18 MB
  internal/provider/factory_test.go
  internal/provider/provider_test.go
  internal/service/ec2/tags.go
  internal/service/wafv2/schemas.go
  internal/tags/tags.go
Labels: tests, provider, service/wafv2, tags, prioritized

#39591 Fix aws_elasticache_replication_group recreation on import
  .changelog/39591.txt
  go.mod
  go.sum
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/flex.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
Labels: bug, documentation, tests, service/elasticache, generators, prioritized

#37039 [NEW RESOURCE] AWS Backup Restore Testing
  .changelog/37039.txt
  internal/framework/types/mapof.go
  internal/framework/types/setof.go
  internal/framework/validators/arn.go
  internal/framework/validators/arn_test.go
  internal/service/backup/exports_test.go
  internal/service/backup/logically_air_gapped_vault.go
  internal/service/backup/restore_testing_plan.go
  internal/service/backup/restore_testing_plan_test.go
  internal/service/backup/restore_testing_selection.go
  internal/service/backup/restore_testing_selection_test.go
  internal/service/backup/service_package_gen.go
  internal/service/backup/sweep.go
  website/docs/r/backup_restore_testing_plan.html.markdown
  website/docs/r/backup_restore_testing_selection.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/backup, sweeper, client-connections, generators, prioritized

#39602 resource/aws_spot_instance_request : Fix issue with overwriting shared schema elements
  internal/service/ec2/ec2_spot_instance_request.go
Labels: service/ec2, prioritized

#38172 `route53profiles` - `r/association`, `r/resource_association` and `d/profiles` resources added
  .changelog/38172.txt
  internal/service/route53profiles/association.go
  internal/service/route53profiles/association_test.go
  internal/service/route53profiles/exports_test.go
  internal/service/route53profiles/generate.go
  internal/service/route53profiles/profile.go
  internal/service/route53profiles/profile_test.go
  internal/service/route53profiles/profiles_data_source.go
  internal/service/route53profiles/profiles_data_source_test.go
  internal/service/route53profiles/resource_association.go
  internal/service/route53profiles/resource_association_test.go
  internal/service/route53profiles/service_package_gen.go
  internal/service/route53profiles/sweep.go
  internal/service/route53profiles/tags.go
  internal/service/route53profiles/tags_gen.go
  internal/sweep/register_gen_test.go
  website/docs/d/route53profiles_profiles.html.markdown
  website/docs/r/route53profiles_association.html.markdown
  website/docs/r/route53profiles_profile.html.markdown
  website/docs/r/route53profiles_resource_association.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, sweeper, tags, generators, prioritized, service/route53profiles

#39607 Update dms_endpoint.html.markdown
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, service/dms

#39601 Build with Go v1.23.2
  .ci/providerlint/go.mod
  .ci/tools/go.mod
  .go-version
  docs/development-environment.md
  go.mod
  go.sum
  skaff/go.mod
  tools/awssdkpatch/go.mod
  tools/literally/go.mod
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: documentation, provider, linter, go, skaff, prioritized

#39612 chore: go get -u golang.org/x/tools
  .ci/providerlint/go.mod
  .ci/providerlint/go.sum
  go.mod
  go.sum
  skaff/go.mod
  skaff/go.sum
  tools/awssdkpatch/go.mod
  tools/awssdkpatch/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: linter, skaff, prioritized

#38810 [New Resource]: DataZone User Profile
  .changelog/38810.txt
  internal/service/datazone/exports_test.go
  internal/service/datazone/service_package_gen.go
  internal/service/datazone/user_profile.go
  internal/service/datazone/user_profile_test.go
  website/docs/r/datazone_user_profile.html.markdown
Labels: documentation, tests, generators, prioritized, service/datazone

#39616 Update string filters in the criteria block of ``aws_securityhub_automation_rule`` to allow different Max Item sizes
  .changelog/39616.txt
  go.mod
  go.sum
  internal/service/securityhub/automation_rule.go
Labels: enhancement, service/securityhub, prioritized

#39624 r/aws_datazone_user_profile: replace when attribute cannot be updated
  internal/service/datazone/user_profile.go
Labels: prioritized, service/datazone

#39604 r/aws_eip enhancement IPAM pool allocation
  .changelog/39604.txt
  internal/service/ec2/consts.go
  internal/service/ec2/ec2_eip.go
  internal/service/ec2/ec2_eip_data_source.go
  internal/service/ec2/ec2_eip_data_source_test.go
  internal/service/ec2/ec2_eip_test.go
  internal/service/ec2/vpc_.go
  website/docs/d/eip.html.markdown
  website/docs/r/eip.html.markdown
Labels: enhancement, documentation, tests, service/ec2, prioritized

#39620 Add new resource `aws_pinpointsmsvoicev2_configuration_set`
  .changelog/39620.txt
  internal/service/pinpointsmsvoicev2/configuration_set.go
  internal/service/pinpointsmsvoicev2/configuration_set_test.go
  internal/service/pinpointsmsvoicev2/exports_test.go
  internal/service/pinpointsmsvoicev2/service_package_gen.go
  website/docs/r/pinpointsmsvoicev2_configuration_set.html.markdown
Labels: enhancement, documentation, new-resource, tests, generators, prioritized, service/pinpointsmsvoicev2

#39631 chore: make clean-tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#39629 [internal] Moving over comment integration from awscc
  .github/workflows/comments-feed.yml
Labels: repository, github_actions, prioritized

#39600 r/aws_vpc_ipam_pool: set publicly_advertisable only if public_ip_source = byoip and address_family = ipv6
  .changelog/39600.txt
  internal/service/ec2/ipam_.go
  internal/service/ec2/ipam_pool.go
  internal/service/ec2/ipam_pool_test.go
  internal/service/ec2/ipam_test.go
  internal/service/ec2/vpc_ipv6_cidr_block_association.go
  internal/service/ec2/vpc_ipv6_cidr_block_association_test.go
  website/docs/r/vpc_ipam.html.markdown
  website/docs/r/vpc_ipv6_cidr_block_association.html.markdown
Labels: bug, documentation, tests, service/ipam, service/vpc, prioritized

#39642 b/aws_eip reverse network_border_group change introduced by PR #39604
  go.mod
  go.sum
  internal/service/ec2/ec2_eip.go
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: bug, service/ec2, prioritized

#39633 feat: add `ssmquicksetup` service
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/ssmquicksetup/generate.go
  internal/service/ssmquicksetup/service_endpoint_resolver_gen.go
  internal/service/ssmquicksetup/service_endpoints_gen_test.go
  internal/service/ssmquicksetup/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, tests, provider, linter, sweeper, repository, client-connections, generators, github_actions, prioritized

#39583 Update batch_compute_environment update_policy job_execution_timeout_minutes to validate range between 1 and 360
  .changelog/39583.txt
  internal/service/batch/compute_environment.go
Labels: enhancement, service/batch, prioritized

#39630 resource/aws_sagemaker_workteam: Fix `workforce_name`: WorkforceName is misconfigured as Required.
  .changelog/39630.txt
  internal/service/sagemaker/sagemaker_test.go
  internal/service/sagemaker/workteam.go
  internal/service/sagemaker/workteam_test.go
  website/docs/r/sagemaker_workteam.html.markdown
Labels: bug, documentation, tests, service/sagemaker

#21834 r/aws_batch_job_definition: Suppress unnecessary environment variable diffs
  .changelog/21834.txt
  internal/service/batch/container_properties.go
Labels: bug, size/XS, service/batch

#30167 feat: added IPv6 support to Route53 Resolver Endpoint and Forward rule
  .changelog/30167.txt
  internal/service/route53resolver/endpoint.go
  internal/service/route53resolver/endpoint_data_source.go
  internal/service/route53resolver/endpoint_test.go
  internal/service/route53resolver/rule.go
  internal/service/route53resolver/rule_test.go
  website/docs/r/route53_resolver_endpoint.html.markdown
  website/docs/r/route53_resolver_rule.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/route53resolver, prioritized

#35280 Add data source for default scraper configuration
  .changelog/35280.txt
  internal/provider/provider.go
  internal/service/amp/default_scraper_configuration_data_source.go
  internal/service/amp/default_scraper_configuration_data_source_test.go
  internal/service/amp/service_package_gen.go
  main.go
  website/docs/d/prometheus_default_scraper_configuration.html.markdown
  website/docs/r/prometheus_scraper.html.markdown
Labels: documentation, new-data-source, size/L, tests, generators, service/amp, partner, prioritized

#37441 Fix for default_tags and tags on EC2 block devices
  .changelog/37441.txt
  internal/provider/intercept.go
  internal/provider/tags_interceptor.go
  internal/service/ec2/ebs_volume.go
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
  internal/tags/key_value_tags.go
  website/docs/r/ebs_volume.html.markdown
Labels: bug, size/XS, service/ec2, tags, prioritized

#39649 skaff: fix errant opening brace
  skaff/resource/resourcefw.gtpl
Labels: skaff, prioritized

#39590 Add data_source for aws_elasticache_serverless_cache
  .changelog/39590.txt
  internal/service/appstream/image_data_source.go
  internal/service/elasticache/serverless_cache_data_source.go
  internal/service/elasticache/serverless_cache_data_source_test.go
  internal/service/elasticache/service_package_gen.go
  website/docs/d/elasticache_serverless_cache.html.markdown
Labels: documentation, new-data-source, tests, service/elasticache, service/appstream, generators, prioritized

#39656 Corrects regex pattern `/+.` in various acceptance tests
  internal/service/apigateway/api_key_test.go
  internal/service/apigateway/client_certificate_test.go
  internal/service/apigateway/domain_name_test.go
  internal/service/apigateway/rest_api_test.go
  internal/service/apigateway/usage_plan_test.go
  internal/service/apigateway/vpc_link_test.go
  internal/service/apigatewayv2/domain_name_test.go
  internal/service/appconfig/configuration_profile_data_source_test.go
  internal/service/appconfig/environment_data_source_test.go
  internal/service/auditmanager/assessment_test.go
  internal/service/auditmanager/control_test.go
  internal/service/auditmanager/framework_test.go
  internal/service/chimesdkmediapipelines/media_insights_pipeline_configuration_test.go
  internal/service/chimesdkvoice/voice_profile_domain_test.go
  internal/service/dynamodb/table_export_test.go
  internal/service/dynamodb/table_test.go
  internal/service/m2/environment_test.go
  internal/service/networkfirewall/tls_inspection_configuration_test.go
  internal/service/oam/link_data_source_test.go
  internal/service/oam/link_test.go
  internal/service/oam/links_data_source_test.go
  internal/service/oam/sink_data_source_test.go
  internal/service/oam/sink_policy_test.go
  internal/service/oam/sink_test.go
  internal/service/oam/sinks_data_source_test.go
  internal/service/redshift/data_share_authorization_test.go
  internal/service/redshift/data_share_consumer_association_test.go
  internal/service/redshift/data_shares_data_source_test.go
  internal/service/redshift/producer_data_shares_data_source_test.go
  internal/service/resourceexplorer2/index_test.go
  internal/service/resourceexplorer2/view_test.go
  internal/service/servicecatalogappregistry/application_data_source_test.go
  internal/service/servicecatalogappregistry/application_test.go
  internal/service/shield/protection_data_source_test.go
  internal/service/ssmcontacts/contact_test.go
  internal/service/ssmcontacts/rotation_test.go
  internal/service/ssmincidents/replication_set_data_source_test.go
  internal/service/ssmincidents/replication_set_test.go
  internal/service/ssmincidents/response_plan_data_source_test.go
  internal/service/ssoadmin/application_test.go
  internal/service/timestreaminfluxdb/db_instance_test.go
  internal/service/verifiedpermissions/policy_store_test.go
Labels: tests, service/apigateway, service/redshift, service/dynamodb, service/shield, service/apigatewayv2, service/appconfig, service/ssoadmin, service/networkfirewall, service/auditmanager, service/servicecatalogappregistry, service/ssmincidents, service/ssmcontacts, service/resourceexplorer2, service/oam, service/chimesdkmediapipelines, service/chimesdkvoice, service/verifiedpermissions, prioritized, service/m2, service/timestreaminfluxdb

#39659 d/vpc_endpoint_service: add output of private_dns_names
  .changelog/39659.txt
  internal/service/ec2/vpc_endpoint_service_data_source.go
  internal/service/ec2/vpc_endpoint_service_data_source_test.go
  website/docs/d/vpc_endpoint_service.html.markdown
Labels: documentation, tests, service/vpc

#39342 d/aws_bedrock_inference_profiles: new data source
  .changelog/39342.txt
  internal/framework/data_source_list_of_object.go
  internal/framework/resource_list_of_object.go
  internal/service/bedrock/bedrock_test.go
  internal/service/bedrock/custom_model.go
  internal/service/bedrock/custom_model_data_source.go
  internal/service/bedrock/custom_model_data_source_test.go
  internal/service/bedrock/custom_model_test.go
  internal/service/bedrock/custom_models_data_source.go
  internal/service/bedrock/custom_models_data_source_test.go
  internal/service/bedrock/foundation_model_data_source.go
  internal/service/bedrock/foundation_models_data_source.go
  internal/service/bedrock/inference_profile_data_source.go
  internal/service/bedrock/inference_profile_data_source_test.go
  internal/service/bedrock/inference_profiles_data_source.go
  internal/service/bedrock/inference_profiles_data_source_test.go
  internal/service/bedrock/service_package_gen.go
  website/docs/d/bedrock_inference_profile.html.markdown
  website/docs/d/bedrock_inference_profiles.html.markdown
Labels: documentation, new-data-source, tests, generators, prioritized, service/bedrock

#39670 r/aws_backup_vault: Fix `empty result` errors reading vaults in certain Regions
  .changelog/39670.txt
  internal/service/backup/logically_air_gapped_vault.go
  internal/service/backup/vault.go
Labels: bug, service/backup, prioritized

#39685 CHANGELOG: `v5.71.0` release retracted
  CHANGELOG.md
Labels: documentation, provider, prioritized

#20386 r/aws_cognito_user_pool: fix empty string_attribute_constraints on user_pool attribute creates no-op update that results in a failure when applied
  .changelog/20386.txt
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_test.go
Labels: bug, size/M, tests, pre-service-packages, service/cognitoidp, prioritized

#33298 enhancement: allow AWS Federated users to be granted permissions
  .changelog/33298.txt
  internal/service/lakeformation/validate.go
  internal/service/lakeformation/validate_test.go
  website/docs/r/lakeformation_permissions.html.markdown
Labels: documentation, size/XS, tests, service/lakeformation

#39703 docs: add missing owner to aws_s3_bucket_acl
  website/docs/d/cloudfront_log_delivery_canonical_user_id.html.markdown
Labels: documentation, service/cloudfront

#39697 Increase Aurora Serverless V2 Max Capacity to 256
  .changelog/39697.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, documentation, tests, service/rds, prioritized

#39686 Additional Athena sweepers
  internal/service/athena/data_catalog.go
  internal/service/athena/database.go
  internal/service/athena/sweep.go
  internal/service/athena/workgroup.go
Labels: service/athena, sweeper, prioritized

#39692 Add next planned release details to `v5.71.0` CHANGELOG entry
  .changelog/39692.txt
  CHANGELOG.md
Labels: documentation, provider, prioritized

#37799 r/aws_dynamodb_table: add `on_demand_throughput` attribute
  .changelog/37799.txt
  internal/service/dynamodb/forge.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: enhancement, documentation, size/L, tests, service/dynamodb, prioritized

#37773 F add appsync target to aws cloudwatch event target
  .changelog/37773.txt
  .changelog/37799.txt
  internal/service/events/target.go
  internal/service/events/target_test.go
  website/docs/r/cloudwatch_event_target.html.markdown
Labels: enhancement, documentation, size/L, tests, service/events, prioritized

#39648 fix: aws_cloudwatch_event_rule update with tags
  .changelog/39648.txt
  internal/service/events/rule.go
Labels: enhancement, service/events, prioritized

#39691 r/aws_rds_cluster_instance: Treat `storage-optimization` status as success when creating or updating cluster DB instances
  .changelog/39691.txt
  internal/service/rds/cluster_instance.go
Labels: service/rds, prioritized

#39702 b/aws_workspaces_directory fixed error when update ip_group_ids from empty set
  .changelog/39702.txt
  internal/service/workspaces/bundle_data_source.go
  internal/service/workspaces/bundle_data_source_test.go
  internal/service/workspaces/connection_alias.go
  internal/service/workspaces/connection_alias_test.go
  internal/service/workspaces/directory.go
  internal/service/workspaces/directory_data_source.go
  internal/service/workspaces/directory_test.go
  internal/service/workspaces/exports_test.go
  internal/service/workspaces/find.go
  internal/service/workspaces/generate.go
  internal/service/workspaces/image_data_source.go
  internal/service/workspaces/ip_group.go
  internal/service/workspaces/ip_group_test.go
  internal/service/workspaces/list_pages_gen.go
  internal/service/workspaces/service_package_gen.go
  internal/service/workspaces/status.go
  internal/service/workspaces/sweep.go
  internal/service/workspaces/wait.go
  internal/service/workspaces/workspace.go
  internal/service/workspaces/workspace_data_source.go
  internal/service/workspaces/workspace_test.go
Labels: bug, service/workspaces, prioritized

#39718 r/aws_iam_role_policy_attachments_exclusive: new resource
  .changelog/39718.txt
  internal/service/iam/exports_test.go
  internal/service/iam/role.go
  internal/service/iam/role_policy_attachments_exclusive.go
  internal/service/iam/role_policy_attachments_exclusive_test.go
  internal/service/iam/service_package_gen.go
  website/docs/r/iam_role.html.markdown
  website/docs/r/iam_role_policy_attachments_exclusive.html.markdown
Labels: documentation, new-resource, tests, service/iam, generators, prioritized

#38932 feat(appflow): add support for pagination and parallelism properties for `aws_appflow_flow `
  .changelog/38932.txt
  internal/service/appflow/flow.go
  website/docs/r/appflow_flow.html.markdown
Labels: enhancement, documentation, service/appflow

#39060 Add aws_workspaces_directory.saml_properties
  .changelog/39060.txt
  internal/service/workspaces/README.md
  internal/service/workspaces/directory.go
  internal/service/workspaces/directory_data_source.go
  internal/service/workspaces/directory_data_source_test.go
  internal/service/workspaces/directory_test.go
  internal/service/workspaces/workspaces_test.go
  website/docs/r/workspaces_directory.html.markdown
Labels: enhancement, documentation, tests, service/workspaces, prioritized

#39652 provider: Reduce schema memory usage by 36.2 MB (69.5%)
  .actrc
  .ci/.golangci2.yml
  .ci/semgrep/pluginsdk/quicksight/schema.yml
  internal/service/quicksight/ingestion_test.go
  internal/service/quicksight/schema/analysis.go
  internal/service/quicksight/schema/dashboard.go
  internal/service/quicksight/schema/data_set.go
  internal/service/quicksight/schema/data_source.go
  internal/service/quicksight/schema/dataset.go
  internal/service/quicksight/schema/parameters.go
  internal/service/quicksight/schema/permissions.go
  internal/service/quicksight/schema/template.go
  internal/service/quicksight/schema/template_control.go
  internal/service/quicksight/schema/template_filter.go
  internal/service/quicksight/schema/template_format.go
  internal/service/quicksight/schema/template_parameter.go
  internal/service/quicksight/schema/template_sheet.go
  internal/service/quicksight/schema/theme.go
  internal/service/quicksight/schema/visual.go
  internal/service/quicksight/schema/visual_actions.go
  internal/service/quicksight/schema/visual_bar_chart.go
  internal/service/quicksight/schema/visual_box_plot.go
  internal/service/quicksight/schema/visual_chart_configuration.go
  internal/service/quicksight/schema/visual_combo_chart.go
  internal/service/quicksight/schema/visual_conditional_formatting.go
  internal/service/quicksight/schema/visual_custom_content.go
  internal/service/quicksight/schema/visual_empty.go
  internal/service/quicksight/schema/visual_fields.go
  internal/service/quicksight/schema/visual_filled_map.go
  internal/service/quicksight/schema/visual_funnel_chart.go
  internal/service/quicksight/schema/visual_gauge_chart.go
  internal/service/quicksight/schema/visual_geospatial_map.go
  internal/service/quicksight/schema/visual_heat_map.go
  internal/service/quicksight/schema/visual_histogram.go
  internal/service/quicksight/schema/visual_insight.go
  internal/service/quicksight/schema/visual_kpi.go
  internal/service/quicksight/schema/visual_line_chart.go
  internal/service/quicksight/schema/visual_map.go
  internal/service/quicksight/schema/visual_pie_chart.go
  internal/service/quicksight/schema/visual_pivot_table.go
  internal/service/quicksight/schema/visual_radar_chart.go
  internal/service/quicksight/schema/visual_sankey_diagram.go
  internal/service/quicksight/schema/visual_sort.go
  internal/service/quicksight/schema/visual_table.go
  internal/service/quicksight/schema/visual_tree_map.go
  internal/service/quicksight/schema/visual_waterfall.go
  internal/service/quicksight/schema/visual_word_cloud.go
Labels: tests, service/quicksight, linter, prioritized

#39690 resource/aws_ecs_task_definition: Prevents failures when target was deleted outside of Terraform
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_test.go
Labels: tests, service/ecs, prioritized

#39696 sweeper/aws_lb_trust_store: Adds sweeper
  internal/service/appstream/sweep.go
  internal/service/autoscalingplans/sweep.go
  internal/service/elbv2/sweep.go
  internal/service/iam/sweep.go
  internal/service/sqs/sweep.go
  internal/sweep/awsv1/register.go
Labels: service/iam, service/elbv2, service/sqs, service/autoscalingplans, service/appstream, sweeper, prioritized

#39729 r/aws_iam_role_policy_attachments_exclusive(test): fix test configuration
  internal/service/iam/role_policy_attachments_exclusive_test.go
Labels: tests, service/iam, prioritized

#39744 b/aws_resourceexplorer2_index error create AGGREGATOR index and r/aws_resourceexplorer2_view new argument: scope
  .changelog/39744.txt
  internal/service/resourceexplorer2/exports_test.go
  internal/service/resourceexplorer2/index.go
  internal/service/resourceexplorer2/index_test.go
  internal/service/resourceexplorer2/resourceexplorer2_test.go
  internal/service/resourceexplorer2/service_package_gen.go
  internal/service/resourceexplorer2/sweep.go
  internal/service/resourceexplorer2/view.go
  internal/service/resourceexplorer2/view_test.go
  website/docs/r/resourceexplorer2_view.html.markdown
Labels: enhancement, documentation, tests, service/resourceexplorer2, prioritized

#39731 r/aws_iam_user_policy_attachments_exclusive: new resource
  .changelog/39731.txt
  internal/service/iam/exports_test.go
  internal/service/iam/service_package_gen.go
  internal/service/iam/user_policy_attachments_exclusive.go
  internal/service/iam/user_policy_attachments_exclusive_test.go
  website/docs/r/iam_role_policy_attachments_exclusive.html.markdown
  website/docs/r/iam_user_policy_attachments_exclusive.html.markdown
Labels: documentation, new-resource, tests, service/iam, generators, prioritized

#39732 r/aws_iam_group_policy_attachments_exclusive: new resource
  .changelog/39732.txt
  internal/service/iam/exports_test.go
  internal/service/iam/group_policy_attachments_exclusive.go
  internal/service/iam/group_policy_attachments_exclusive_test.go
  internal/service/iam/service_package_gen.go
  website/docs/r/iam_group_policy_attachments_exclusive.html.markdown
Labels: documentation, new-resource, tests, service/iam, generators, prioritized

#39752 r/dynamodb_table: fix crash when table is updated without GSI updates
  .changelog/39752.txt
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
Labels: crash, tests, service/dynamodb, prioritized

#39753 update CHANGLOG for patch release
  CHANGELOG.md
Labels: documentation, provider, prioritized

#39728 Update record.go allow ttl to be 0
  .changelog/39728.txt
  internal/service/route53/record.go
  internal/service/route53/record_test.go
Labels: bug, service/route53, prioritized

#39766 Update ce_anomaly_subscription.html.markdown
  website/docs/r/ce_anomaly_subscription.html.markdown
Labels: documentation, service/ce

#39767 Updated FH docs with Decompression & CloudWatchLogProcessing
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, service/firehose

#39768 Update Verified Access Group SSE Config Example
  website/docs/r/verifiedaccess_group.html.markdown
Labels: documentation, service/verifiedaccess

#39765 Fix GovCloud `imagebuilder` sweepers
  internal/sweep/awsv2/skip.go
Labels: partition/aws-us-gov, sweeper, prioritized

#39777 d/aws_workspaces_bundle: Fix `multiple WorkSpaces Bundles matched; use additional constraints to reduce matches to a single WorkSpaces Bundle` regression
  .changelog/39777.txt
  internal/service/workspaces/bundle_data_source.go
  internal/service/workspaces/bundle_data_source_test.go
  internal/service/workspaces/workspaces_data_source_test.go
Labels: tests, service/workspaces, prioritized

#39780 docs: add ARN for new CIS benchmark to resource description
  website/docs/r/securityhub_standards_subscription.html.markdown
Labels: documentation, service/securityhub

#39781 Update the name of the resource to be more accurate.
  website/docs/d/subnet.html.markdown
Labels: documentation, service/vpc

#39778 Fix #33114
  .changelog/39778.txt
  internal/service/quicksight/schema/data_set.go
Labels: bug, service/quicksight, prioritized

#39784 r/aws_dynamodb_table: ignore go default value when expanding `on_demand_throughput`
  .changelog/39784.txt
  internal/service/dynamodb/table.go
Labels: service/dynamodb, prioritized

#39774 r/sagemaker_domain - refresh missing arguments
  .changelog/39774.txt
  internal/service/sagemaker/domain.go
  internal/service/sagemaker/domain_test.go
  internal/service/sagemaker/sagemaker_test.go
  internal/service/sagemaker/user_profile.go
  website/docs/r/sagemaker_domain.html.markdown
  website/docs/r/sagemaker_user_profile.html.markdown
Labels: enhancement, tests, service/sagemaker, external-maintainer, prioritized

#39796 r/sagemaker_mlflow_tracking_server - new resource
  .changelog/39796.txt
  internal/service/sagemaker/exports_test.go
  internal/service/sagemaker/mlflow_tracking_server.go
  internal/service/sagemaker/mlflow_tracking_server_test.go
  internal/service/sagemaker/service_package_gen.go
  internal/service/sagemaker/status.go
  internal/service/sagemaker/sweep.go
  internal/service/sagemaker/wait.go
  website/docs/r/sagemaker_mlflow_tracking_server.html.markdown
Labels: documentation, new-resource, tests, service/sagemaker, sweeper, generators, external-maintainer, prioritized

#38913 feat: [New Resource] aws_resiliencehub_resiliency_policy
  .changelog/38913.txt
  .teamcity/components/generated/services_all.kt
  internal/generate/teamcity/acctest_services.hcl
  internal/service/resiliencehub/exports_test.go
  internal/service/resiliencehub/generate.go
  internal/service/resiliencehub/resiliency_policy.go
  internal/service/resiliencehub/resiliency_policy_test.go
  internal/service/resiliencehub/service_package_gen.go
  internal/service/resiliencehub/sweep.go
  internal/service/resiliencehub/tags_gen.go
  internal/sweep/register_gen_test.go
  website/docs/r/resiliencehub_resiliency_policy.html.markdown
Labels: documentation, new-resource, tests, tags, generators, service/resiliencehub, prioritized

#39779 d/aws_ssm_patch_baselines: new data source
  .changelog/39779.txt
  internal/service/ssm/patch_baselines_data_source.go
  internal/service/ssm/patch_baselines_data_source_test.go
  internal/service/ssm/service_package_gen.go
  website/docs/d/ssm_patch_baselines.html.markdown
Labels: documentation, new-data-source, tests, service/ssm, generators, prioritized

#39800 r/sagemaker_space - support app lifecycle management
  .changelog/39800.txt
  internal/service/sagemaker/sagemaker_test.go
  internal/service/sagemaker/space.go
  internal/service/sagemaker/space_test.go
  website/docs/r/sagemaker_space.html.markdown
Labels: enhancement, documentation, tests, service/sagemaker, external-maintainer, prioritized

#39816 cdktf: update documentation
  website/docs/cdktf/python/d/ssm_patch_baselines.html.markdown
  website/docs/cdktf/python/r/sagemaker_space.html.markdown
  website/docs/cdktf/typescript/d/ssm_patch_baselines.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_space.html.markdown
Labels: documentation, service/ssm, service/sagemaker

#39805 r/sagemaker_feature_group - add support for `feature_definition.collection_config`, `feature_definition.collection_type`, and `throughput_config`
  .changelog/39805.txt
  internal/service/sagemaker/feature_group.go
  internal/service/sagemaker/feature_group_test.go
  internal/service/sagemaker/status.go
  internal/service/sagemaker/wait.go
  website/docs/cdktf/python/r/sagemaker_feature_group.html.markdown
Labels: enhancement, documentation, tests, service/sagemaker, external-maintainer, prioritized

#39808 r/sagemaker_app_image and image_version - log errors better
  internal/service/sagemaker/image.go
  internal/service/sagemaker/wait.go
Labels: service/sagemaker, external-maintainer

#39807 r/sagemaker_hub - new resource
  .changelog/39807.txt
  internal/service/sagemaker/exports_test.go
  internal/service/sagemaker/hub.go
  internal/service/sagemaker/hub_test.go
  internal/service/sagemaker/service_package_gen.go
  internal/service/sagemaker/status.go
  internal/service/sagemaker/sweep.go
  internal/service/sagemaker/wait.go
  website/docs/r/sagemaker_hub.html.markdown
Labels: documentation, new-resource, tests, service/sagemaker, sweeper, generators, external-maintainer, prioritized

#39797 r/aws_batch_job_definition: Ensure that any newly created revision is tagged correctly
  .changelog/39797.txt
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_data_source_test.go
  internal/service/batch/job_definition_test.go
Labels: bug, tests, service/batch, tags, prioritized

#39745 Add Valkey engine support for ElastiCache resources
  .changelog/39745.txt
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/consts.go
  internal/service/elasticache/engine_version.go
  internal/service/elasticache/engine_version_test.go
  internal/service/elasticache/exports_test.go
  internal/service/elasticache/global_replication_group.go
  internal/service/elasticache/global_replication_group_test.go
  internal/service/elasticache/parameter_group_test.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_migrate.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elasticache/reserved_cache_node_offering_data_source_test.go
  internal/service/elasticache/reserved_cache_node_test.go
  internal/service/elasticache/serverless_cache.go
  internal/service/elasticache/serverless_cache_data_source_test.go
  internal/service/elasticache/serverless_cache_test.go
  website/docs/d/elasticache_reserved_cache_node_offering.html.markdown
  website/docs/d/elasticache_serverless_cache.html.markdown
  website/docs/r/elasticache_cluster.html.markdown
  website/docs/r/elasticache_global_replication_group.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
  website/docs/r/elasticache_serverless_cache.html.markdown
Labels: enhancement, documentation, tests, service/elasticache, prioritized

#39827 fix: documentation typos
  ROADMAP.md
  docs/index.md
Labels: documentation, provider

#39834 r/aws_security_group_rule: Remove from state when rule not found
  .changelog/39834.txt
  internal/service/ec2/exports_test.go
  internal/service/ec2/vpc_security_group_rule.go
  internal/service/ec2/vpc_security_group_rule_test.go
Labels: bug, tests, service/vpc, prioritized

#39842 internal/verify: handle policy parsing errors of state content
  .changelog/39842.txt
  internal/service/iam/policy_test.go
  internal/verify/json.go
  internal/verify/json_test.go
Labels: tests, service/iam, verify, prioritized

#39843 Remove unnecessary upper limit on AppRunner Autoscaling Config max size.
  .changelog/39843.txt
  internal/service/apprunner/auto_scaling_configuration_version.go
Labels: enhancement, service/apprunner, prioritized

#39585 r/aws_lb_listener: Add support for TCP idle timeout for NLB, GWLB listeners
  .changelog/39585.txt
  internal/service/elbv2/const.go
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_test.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/load_balancer_data_source_test.go
  internal/service/elbv2/load_balancer_test.go
  website/docs/r/lb.html.markdown
  website/docs/r/lb_listener.html.markdown
Labels: enhancement, documentation, tests, service/elbv2, partner, prioritized

#39782 aws_s3_object (et al.): Remove `kms:DescribeKey` on default S3 KMS key
  .changelog/39782.txt
  internal/service/kms/exports.go
  internal/service/kms/exports_test.go
  internal/service/s3/bucket_object.go
  internal/service/s3/enum.go
  internal/service/s3/object.go
  internal/service/s3/object_copy.go
  internal/service/s3/object_test.go
Labels: tests, service/s3, service/kms, prioritized

#39798 r/route53profiles_association: Validate name field against regex
  .changelog/39798.txt
  internal/service/route53profiles/association.go
  website/docs/r/route53profiles_association.html.markdown
Labels: bug, documentation, service/route53profiles

#39860 Changed boolEquals to boolvalidator.Equals package and removed custom validator
  internal/framework/validators/bool_equals.go
  internal/framework/validators/bool_equals_test.go
  internal/service/synthetics/runtime_version_data_source.go
Labels: tests, service/synthetics, prioritized

#38098 Add `approximate_creation_date_time_precision` to `aws_dynamodb_kinesis_streaming_destination`
  .changelog/38098.txt
  .changelog/39844.txt
  internal/service/dynamodb/kinesis_streaming_destination.go
  internal/service/dynamodb/kinesis_streaming_destination_test.go
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
  website/docs/r/dynamodb_kinesis_streaming_destination.html.markdown
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, size/XL, tests, service/firehose, service/dynamodb, linter, prioritized

#34850 Add `zonal_config` argument to `aws_codedeploy_deployment_config`
  .changelog/34850.txt
  internal/service/deploy/deployment_config.go
  internal/service/deploy/deployment_config_test.go
  internal/service/deploy/deployment_group_test.go
  website/docs/r/codedeploy_deployment_config.html.markdown
Labels: enhancement, documentation, size/L, tests, service/deploy, partner, prioritized

#39865 New data source `aws_lb_listener_rule`
  .changelog/39865.txt
  internal/provider/fwprovider/intercept.go
  internal/provider/fwprovider/provider.go
  internal/service/elbv2/generate.go
  internal/service/elbv2/list_rules_pages_gen.go
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_data_source.go
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/listener_rule_data_source.go
  internal/service/elbv2/listener_rule_data_source_tags_gen_test.go
  internal/service/elbv2/listener_rule_data_source_test.go
  internal/service/elbv2/listener_rule_test.go
  internal/service/elbv2/service_package_gen.go
  internal/service/elbv2/testdata/ListenerRule/data.tags/main_gen.tf
  internal/service/elbv2/testdata/ListenerRule/data.tags_defaults/main_gen.tf
  internal/service/elbv2/testdata/ListenerRule/data.tags_ignore/main_gen.tf
  internal/service/elbv2/testdata/tmpl/listener_rule_data_source.gtpl
  skaff/datasource/datasource.go
  skaff/datasource/datasource.gtpl
  skaff/datasource/datasourcefw.gtpl
  skaff/datasource/datasourcetest.gtpl
  skaff/resource/resource.go
  skaff/resource/resource.gtpl
  skaff/resource/resourcefw.gtpl
  skaff/resource/resourcetest.gtpl
  website/docs/d/lb_listener_rule.html.markdown
  website/docs/r/lb_listener_rule.html.markdown
Labels: documentation, tests, service/elbv2, provider, generators, skaff, prioritized

#39880 docs: update `aws_networkmanager_core_network_policy_document`
  website/docs/d/networkmanager_core_network_policy_document.html.markdown
Labels: documentation, needs-triage, service/networkmanager

#39882 feat: Add support for `efa-only` interface types
  .changelog/39882.txt
  internal/service/ec2/ec2_launch_template.go
Labels: enhancement, service/ec2, partner, prioritized

#39864 docs: remove non-usable workflow type in ami_imagebuilder_workflow resource
  website/docs/r/imagebuilder_workflow.html.markdown
Labels: documentation, service/imagebuilder

#39892 [Compliance] Update team name to correlate with standard
  META.d/_summary.yaml
Labels: prioritized

#39802 docs: add argument description to resource aws_ami_copy
  website/docs/r/ami_copy.html.markdown
Labels: documentation, service/ec2

#39878 r/wafv2_web_acl: fix `rule_json` error when unmarshalling
  .changelog/39878.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/flex_test.go
  internal/service/wafv2/web_acl_test.go
Labels: bug, tests, service/wafv2, prioritized

#39895 chore/Remove leftover comments
  internal/service/pinpoint/email_template.go
  internal/service/pinpoint/email_template_test.go
Labels: tests, service/pinpoint, prioritized

#39283 fix(webaclv2): WAFv2 rule loss when making an update."
  .changelog/39283.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
Labels: bug, service/wafv2, prioritized

#39914 deps: bump github.com/hashicorp/aws-sdk-go-base/v2
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#39899 Replaces `sort.Slice` and `sort.SliceStable` with `slices.SortFunc` and `slices.SortStableFunc`
  .ci/semgrep/stdlib/sort.yml
  internal/generate/acctestconsts/main.go
  internal/generate/allowsubcats/main.go
  internal/generate/attrconsts/main.go
  internal/generate/awsclient/main.go
  internal/generate/customends/main.go
  internal/generate/customendsfwschema/main.go
  internal/generate/customendsschema/main.go
  internal/generate/issuelabels/main.go
  internal/generate/namescapslist/main.go
  internal/generate/namesconsts/main.go
  internal/generate/prlabels/main.go
  internal/generate/servicelabels/main.go
  internal/generate/servicepackage/main.go
  internal/generate/servicepackages/main.go
  internal/generate/servicesemgrep/main.go
  internal/generate/sweeperregistration/main.go
  internal/generate/teamcity/services.go
  internal/service/batch/container_properties.go
  internal/service/batch/ecs_properties.go
  internal/service/batch/job_queue.go
  internal/service/ec2/ebs_snapshot_data_source.go
  internal/service/ec2/ebs_snapshot_ids_data_source.go
  internal/service/ec2/ec2_ami_data_source.go
  internal/service/ec2/ec2_ami_ids_data_source.go
  internal/service/ec2/ec2_availability_zones_data_source.go
  internal/service/ec2/ec2_availability_zones_data_source_test.go
  internal/service/ecr/lifecycle_policy.go
  internal/service/ecs/container_definitions.go
  internal/service/fsx/openzfs_snapshot_data_source.go
  internal/service/kafka/broker_nodes_data_source.go
  internal/service/rds/engine_version_data_source.go
  internal/service/rds/orderable_instance_data_source.go
  internal/service/servicecatalog/product.go
  internal/service/ssmcontacts/planmodifiers.go
  internal/service/ssmcontacts/rotation.go
  tools/literally/main.go
Labels: tests, service/ec2, service/ecs, service/rds, service/servicecatalog, service/ecr, service/batch, service/fsx, service/kafka, linter, generators, service/ssmcontacts, service/ec2ebs, prioritized

#39898 Replace custom single-attribute `ImportStateIdFunc`s with `acctest.AttrImportStateIdFunc`
  internal/service/chatbot/slack_channel_configuration_test.go
  internal/service/ec2/vpc_default_route_table_test.go
  internal/service/ec2/vpc_dhcp_options_association_test.go
  internal/service/ec2/vpc_endpoint_private_dns_test.go
  internal/service/ecs/task_definition_test.go
  internal/service/events/rule_test.go
  internal/service/iam/group_policies_exclusive_test.go
  internal/service/iam/group_policy_attachments_exclusive_test.go
  internal/service/iam/role_policies_exclusive_test.go
  internal/service/iam/role_policy_attachments_exclusive_test.go
  internal/service/iam/user_policies_exclusive_test.go
  internal/service/iam/user_policy_attachments_exclusive_test.go
  internal/service/lambda/function_recursion_config_test.go
  internal/service/networkmanager/connection_test.go
  internal/service/networkmanager/device_test.go
  internal/service/networkmanager/link_test.go
  internal/service/networkmanager/site_test.go
  internal/service/pinpoint/email_template_test.go
  internal/service/rekognition/stream_processor_test.go
  internal/service/s3control/access_point_policy_test.go
  internal/service/serverlessrepo/cloudformation_stack_test.go
  internal/service/ssm/default_patch_baseline_test.go
Labels: tests, service/lambda, service/iam, service/ecs, service/ssm, service/serverlessrepo, service/pinpoint, service/s3control, service/networkmanager, service/events, service/rekognition, service/vpc, prioritized, service/chatbot

#39924 Tech debt: Remove AWS SDK for Go v1 support from `skaff`
  docs/skaff.md
  skaff/cmd/datasource.go
  skaff/cmd/resource.go
  skaff/convert/convert.go
  skaff/convert/convert_test.go
  skaff/datasource/datasource.go
  skaff/datasource/datasource.gtpl
  skaff/datasource/datasourcefw.gtpl
  skaff/datasource/datasourcetest.gtpl
  skaff/function/function.go
  skaff/go.mod
  skaff/go.sum
  skaff/resource/resource.go
  skaff/resource/resource.gtpl
  skaff/resource/resourcefw.gtpl
  skaff/resource/resourcetest.gtpl
Labels: documentation, tests, technical-debt, skaff, prioritized, aws-sdk-go-migration

#39117 Change for recipe ARN should not force new pipeline
  .changelog/39117.txt
  internal/service/imagebuilder/container_recipe.go
  internal/service/imagebuilder/image_pipeline.go
Labels: enhancement, service/imagebuilder, prioritized

#35492 aws_imagebuilder_distribution_configuration: Add s3_export_configuration
  .changelog/35492.txt
  internal/service/imagebuilder/distribution_configuration.go
  internal/service/imagebuilder/distribution_configuration_data_source.go
  internal/service/imagebuilder/distribution_configuration_data_source_test.go
  internal/service/imagebuilder/distribution_configuration_test.go
  website/docs/d/imagebuilder_distribution_configuration.html.markdown
  website/docs/r/imagebuilder_distribution_configuration.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/imagebuilder, prioritized

#39926 Tech debt: Remove `awssdkpatch`
  GNUmakefile
  docs/aws-go-sdk-migrations.md
  docs/makefile-cheat-sheet.md
  tools/awssdkpatch/README.md
  tools/awssdkpatch/go.mod
  tools/awssdkpatch/go.sum
  tools/awssdkpatch/main.go
  tools/awssdkpatch/patch.tmpl
Labels: documentation, technical-debt, repository, prioritized, aws-sdk-go-migration

#39920 Replaces typed `sort` package functions with `slices.Sort`
  .ci/semgrep/stdlib/sort.yml
  internal/generate/listpages/main.go
  internal/generate/namevaluesfilters/main.go
  internal/service/autoscaling/groups_data_source.go
  internal/service/autoscalingplans/scaling_plan_test.go
  internal/service/deploy/deployment_group_test.go
  internal/service/ec2/ec2_availability_zones_data_source_test.go
  internal/service/ec2/filters.go
  internal/service/ec2/vpc_network_interface_test.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ec2/vpc_security_group_rule.go
  internal/service/elasticbeanstalk/environment.go
  internal/service/elasticbeanstalk/environment_test.go
  internal/service/elastictranscoder/pipeline_test.go
  internal/service/elb/flex.go
  internal/service/iam/policy_model.go
  internal/service/inspector/rules_packages_data_source.go
  internal/service/inspector2/enabler.go
  internal/service/kafka/cluster_test.go
  internal/service/kafka/sort.go
  internal/service/lakeformation/permissions.go
  internal/service/lakeformation/strings.go
  internal/service/lambda/event_source_mapping.go
  internal/service/meta/ip_ranges_data_source.go
  internal/service/route53/zone.go
  internal/service/s3/object_test.go
  internal/service/ses/receipt_rule.go
  internal/tags/key_value_tags.go
  tools/literally/main.go
  tools/tfsdk2fw/main.go
Labels: tests, service/lambda, service/iam, service/ec2, service/s3, service/route53, service/elb, service/inspector, service/elasticbeanstalk, service/autoscaling, service/ses, service/autoscalingplans, service/kafka, service/lakeformation, linter, tags, generators, service/elastictranscoder, service/inspector2, service/deploy, service/vpc, prioritized, service/meta

#38193 fix: Add master password to ModifyDbClusterInput when creating DocumentDb from Snapshot
  .changelog/38193.txt
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_instance.go
  internal/service/docdb/cluster_parameter_group.go
  internal/service/docdb/cluster_snapshot.go
  internal/service/docdb/consts.go
  internal/service/docdb/engine_version_data_source.go
  internal/service/docdb/event_subscription.go
  internal/service/docdb/exports_test.go
  internal/service/docdb/global_cluster.go
  internal/service/docdb/orderable_db_instance_data_source.go
  internal/service/docdb/service_package_gen.go
  internal/service/docdb/subnet_group.go
  internal/service/docdb/sweep.go
Labels: bug, size/XS, service/docdb, prioritized

#39846 f/New Resource Authorize VPC Endpoint Access
  .changelog/39846.txt
  internal/service/opensearch/authorize_vpc_endpoint_access.go
  internal/service/opensearch/authorize_vpc_endpoint_access_test.go
  internal/service/opensearch/exports_test.go
  internal/service/opensearch/generate.go
  internal/service/opensearch/list_pages_gen.go
  internal/service/opensearch/service_package_gen.go
  website/docs/r/opensearch_authorize_vpc_endpoint_access.html.markdown
Labels: documentation, new-resource, tests, generators, service/opensearch, prioritized

#39928 d/aws_imagebuilder_image_recipe: Fix `block_device_mapping.0.ebs.0.delete_on_termination: '' expected type 'bool', got unconvertible type 'string', value: 'true'`
  .changelog/39928.txt
  internal/service/imagebuilder/image_recipe_data_source.go
  internal/service/imagebuilder/image_recipe_data_source_test.go
Labels: tests, service/imagebuilder, prioritized

#39932 Remove AWS SDK for Go v1 references from contributor documentation
  docs/add-a-new-datasource.md
  docs/add-a-new-region.md
  docs/add-a-new-resource.md
  docs/add-a-new-service.md
  docs/adding-a-tag-resource.md
  docs/aws-go-sdk-versions.md
  docs/data-handling-and-conversion.md
  docs/error-handling.md
  docs/retries-and-waiters.md
  docs/skaff.md
Labels: documentation, technical-debt, prioritized, aws-sdk-go-migration

#39931 r/aws_ssmquicksetup_configuration_manager: new resource
  .changelog/39931.txt
  internal/service/ssmquicksetup/configuration_manager.go
  internal/service/ssmquicksetup/configuration_manager_test.go
  internal/service/ssmquicksetup/exports_test.go
  internal/service/ssmquicksetup/generate.go
  internal/service/ssmquicksetup/service_package_gen.go
  internal/service/ssmquicksetup/tags_gen.go
  internal/service/ssmquicksetup/tags_slice_gen.go
  names/names.go
  website/docs/r/ssmquicksetup_configuration_manager.html.markdown
Labels: documentation, new-resource, tests, tags, generators, prioritized, service/ssmquicksetup

#39944 r/aws_route53_record: Fix `panic: interface conversion` when `geolocation_routing_policy` is empty
  .changelog/39944.txt
  internal/service/route53/record.go
Labels: service/route53, prioritized

#39938 Fix constants
  internal/service/keyspaces/keyspace_test.go
Labels: tests, service/keyspaces, prioritized

#39949 fix: update approve_after_days validation in ssm patch baseline resource
  .changelog/39949.txt
  internal/service/ssm/patch_baseline.go
  internal/service/ssm/patch_baseline_test.go
  website/docs/r/ssm_patch_baseline.html.markdown
Labels: documentation, tests, service/ssm

#39954 Address security findings
  .ci/providerlint/go.mod
  .ci/providerlint/go.sum
  .ci/providerlint/passes/AWSAT001/testdata/go.mod
  .ci/providerlint/passes/AWSAT001/testdata/go.sum
  .ci/providerlint/passes/AWSAT002/testdata/go.mod
  .ci/providerlint/passes/AWSAT003/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.sum
  .ci/providerlint/passes/AWSAT005/testdata/go.mod
  .ci/providerlint/passes/AWSAT006/testdata/go.mod
  .ci/providerlint/passes/AWSR001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.sum
  internal/service/cloudformation/test-fixtures/examplecompany-exampleservice-exampleresource/go.mod
  internal/service/cloudformation/test-fixtures/examplecompany-exampleservice-exampleresource/go.sum
  internal/service/opsworks/layers.go
Labels: tests, service/opsworks, service/cloudformation, linter, prioritized

#39946 feat: Add support for `zonal_shift_config` to EKS cluster
  .changelog/39852.txt
  internal/service/eks/cluster.go
  internal/service/eks/cluster_data_source.go
  internal/service/eks/cluster_data_source_test.go
  internal/service/eks/cluster_test.go
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: tests, service/eks, service/keyspaces, partner, prioritized

#39945 Fix aws_elasticache_reserved_cache_node data mapping
  .changelog/39945.txt
  internal/service/elasticache/reserved_cache_node.go
Labels: bug, service/elasticache, prioritized
