Repository hashicorp/terraform-provider-aws, pull requests merged in 2024-07, with the labels that each got.

#37105 r/aws_amplify_domain_association: add `certificate_settings` attribute
  .changelog/37105.txt
  internal/service/amplify/amplify_test.go
  internal/service/amplify/domain_association.go
  internal/service/amplify/domain_association_test.go
  website/docs/r/amplify_domain_association.html.markdown
Labels: enhancement, documentation, size/L, tests, service/amplify

#38211 Latest AWS SDK updates
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, size/XL, go, prioritized

#38068 feature: Add DataBrew client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/databrew/README.md
  internal/service/databrew/generate.go
  internal/service/databrew/service_endpoint_resolver_gen.go
  internal/service/databrew/service_endpoints_gen_test.go
  internal/service/databrew/service_package_gen.go
  internal/service/databrew/tags_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, linter, sweeper, tags, repository, client-connections, generators, github_actions, service/databrew

#38214 docs: Add note indiciating that dns_name is not set for aws_fsx_ontap_file_system
  website/docs/d/fsx_ontap_file_system.html.markdown
  website/docs/r/fsx_ontap_file_system.html.markdown
Labels: documentation, size/XS, service/fsx, external-maintainer

#38213 [New Data Source]: aws_describe_connector
  .changelog/38213.txt
  internal/service/transfer/connector_data_source.go
  internal/service/transfer/connector_data_source_test.go
  internal/service/transfer/service_package_gen.go
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/docs/d/transfer_connector.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/transfer, generators

#36902 f-aws_ec2_transit_gateway_peering_attachment support for dynamic routing
  .changelog/36902.txt
  internal/experimental/sync/sync.go
  internal/service/ec2/transitgateway_peering_attachment.go
  internal/service/ec2/transitgateway_peering_attachment_test.go
  internal/service/ec2/transitgateway_test.go
  website/docs/r/ec2_transit_gateway_peering_attachment.html.markdown
Labels: size/M, tests, service/transitgateway, prioritized

#37890 r/aws_backup_plan: add `rule` attribute to data source
  .changelog/37890.txt
  internal/service/backup/plan_data_source.go
  internal/service/backup/plan_data_source_test.go
  website/docs/d/backup_plan.html.markdown
Labels: enhancement, documentation, size/M, tests, service/backup

#38226 make cleantidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, prioritized

#38170 docs: Add missing id attr for aws_oam resources and data sources
  website/docs/d/oam_link.html.markdown
  website/docs/d/oam_sink.html.markdown
  website/docs/r/oam_link.html.markdown
  website/docs/r/oam_sink.html.markdown
  website/docs/r/oam_sink_policy.html.markdown
Labels: documentation, size/XS, needs-triage, service/oam, external-maintainer

#38225 [New Data Source]: aws_appstream_image
  .changelog/38225.txt
  internal/service/appstream/find.go
  internal/service/appstream/image_data_source.go
  internal/service/appstream/image_data_source_test.go
  internal/service/appstream/service_package_gen.go
  website/docs/d/appstream_image.html.markdown
Labels: documentation, size/XL, tests, service/appstream, needs-triage, generators

#36286 Retry Updating an aws_iot_topic_rule resource on temporary IAM exception
  .changelog/36286.txt
  internal/service/iot/topic_rule.go
Labels: bug, size/XS, service/iot, prioritized

#36772 f-aws_iot_topic_rule-support for log group batch mode
  .changelog/36772.txt
  internal/service/iot/topic_rule.go
  internal/service/iot/topic_rule_test.go
  website/docs/r/iot_topic_rule.html.markdown
Labels: enhancement, documentation, size/M, tests, service/iot, prioritized

#38239 Update formatting in `ecr_lifecycle_policy_document` documentation
  website/docs/d/ecr_lifecycle_policy_document.html.markdown
Labels: documentation, size/XS, service/ecr

#38246 docs: add endpoint_management attribute to the aws_mwaa_environment resource documentation
  website/docs/r/mwaa_environment.html.markdown
Labels: documentation, size/XS, service/mwaa

#38017 Efs awssdkv2 migration
  go.mod
  go.sum
  internal/conns/awsclient.go
  internal/conns/awsclient_gen.go
  internal/service/efs/access_point.go
  internal/service/efs/access_point_data_source.go
  internal/service/efs/access_point_data_source_test.go
  internal/service/efs/access_point_test.go
  internal/service/efs/access_points_data_source.go
  internal/service/efs/backup_policy.go
  internal/service/efs/backup_policy_test.go
  internal/service/efs/exports_test.go
  internal/service/efs/file_system.go
  internal/service/efs/file_system_data_source.go
  internal/service/efs/file_system_data_source_test.go
  internal/service/efs/file_system_policy.go
  internal/service/efs/file_system_policy_test.go
  internal/service/efs/file_system_test.go
  internal/service/efs/find.go
  internal/service/efs/generate.go
  internal/service/efs/list_pages_gen.go
  internal/service/efs/mount_target.go
  internal/service/efs/mount_target_data_source.go
  internal/service/efs/mount_target_data_source_test.go
  internal/service/efs/mount_target_test.go
  internal/service/efs/replication_configuration.go
  internal/service/efs/replication_configuration_test.go
  internal/service/efs/service_endpoint_resolver_gen.go
  internal/service/efs/service_endpoints_gen_test.go
  internal/service/efs/service_package_gen.go
  internal/service/efs/status.go
  internal/service/efs/sweep.go
  internal/service/efs/tags_gen.go
  internal/service/efs/wait.go
  names/data/names_data.hcl
  names/names.go
Labels: size/XL, tests, service/efs, sweeper, tags, client-connections, generators, external-maintainer, prioritized, aws-sdk-go-migration

#38162 Add support for bootstrapSelfManagedAddons flag in aws_eks_cluster resource
  .changelog/38162.txt
  internal/service/eks/cluster.go
  internal/service/eks/cluster_migrate.go
  internal/service/eks/cluster_migrate_test.go
  internal/service/eks/cluster_test.go
  internal/service/eks/exports_test.go
  website/docs/r/eks_cluster.html.markdown
Labels: enhancement, documentation, size/M, tests, service/eks

#37142 Added the `PrimaryIpv6` argument in launch template network configuration.
  .changelog/36754.txt
  .changelog/37142.txt
  internal/service/ec2/ec2_capacity_reservation.go
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/ec2_launch_template_test.go
  internal/service/ec2/service_package.go
  internal/service/ec2/waitv2.go
  website/docs/d/launch_configuration.html.markdown
  website/docs/r/ec2_capacity_reservation.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ec2, service/autoscaling

#38258 Adds validation of Diagnostics and logging to AutoFlEx tests
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten_test.go
Labels: size/L, tests, prioritized

#37898 r/aws_cloudformation_stack_set_instance: add support for additional deployment_targets config and refactor update deployment_targets config
  .changelog/37898.txt
  internal/service/cloudformation/stack_set_instance.go
  internal/service/cloudformation/stack_set_instance_test.go
  website/docs/r/cloudformation_stack_set_instance.html.markdown
Labels: bug, enhancement, documentation, size/M, tests, service/cloudformation

#38278 cdktf: update documentation
  website/docs/cdktf/python/d/appstream_image.html.markdown
  website/docs/cdktf/python/d/backup_plan.html.markdown
  website/docs/cdktf/python/d/ecr_lifecycle_policy_document.html.markdown
  website/docs/cdktf/python/d/fsx_ontap_file_system.html.markdown
  website/docs/cdktf/python/d/launch_configuration.html.markdown
  website/docs/cdktf/python/d/oam_link.html.markdown
  website/docs/cdktf/python/d/oam_sink.html.markdown
  website/docs/cdktf/python/d/transfer_connector.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/amplify_domain_association.html.markdown
  website/docs/cdktf/python/r/cloudformation_stack_set_instance.html.markdown
  website/docs/cdktf/python/r/ec2_capacity_reservation.html.markdown
  website/docs/cdktf/python/r/ec2_transit_gateway_peering_attachment.html.markdown
  website/docs/cdktf/python/r/eks_cluster.html.markdown
  website/docs/cdktf/python/r/fsx_ontap_file_system.html.markdown
  website/docs/cdktf/python/r/iot_authorizer.html.markdown
  website/docs/cdktf/python/r/iot_topic_rule.html.markdown
  website/docs/cdktf/python/r/mwaa_environment.html.markdown
  website/docs/cdktf/python/r/oam_link.html.markdown
  website/docs/cdktf/python/r/oam_sink.html.markdown
  website/docs/cdktf/python/r/oam_sink_policy.html.markdown
  website/docs/cdktf/typescript/d/appstream_image.html.markdown
  website/docs/cdktf/typescript/d/backup_plan.html.markdown
  website/docs/cdktf/typescript/d/ecr_lifecycle_policy_document.html.markdown
  website/docs/cdktf/typescript/d/fsx_ontap_file_system.html.markdown
  website/docs/cdktf/typescript/d/launch_configuration.html.markdown
  website/docs/cdktf/typescript/d/oam_link.html.markdown
  website/docs/cdktf/typescript/d/oam_sink.html.markdown
  website/docs/cdktf/typescript/d/transfer_connector.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/amplify_domain_association.html.markdown
  website/docs/cdktf/typescript/r/cloudformation_stack_set_instance.html.markdown
  website/docs/cdktf/typescript/r/ec2_capacity_reservation.html.markdown
  website/docs/cdktf/typescript/r/ec2_transit_gateway_peering_attachment.html.markdown
  website/docs/cdktf/typescript/r/eks_cluster.html.markdown
  website/docs/cdktf/typescript/r/fsx_ontap_file_system.html.markdown
  website/docs/cdktf/typescript/r/iot_authorizer.html.markdown
  website/docs/cdktf/typescript/r/iot_topic_rule.html.markdown
  website/docs/cdktf/typescript/r/mwaa_environment.html.markdown
  website/docs/cdktf/typescript/r/oam_link.html.markdown
  website/docs/cdktf/typescript/r/oam_sink.html.markdown
  website/docs/cdktf/typescript/r/oam_sink_policy.html.markdown
Labels: documentation, size/XL, service/ec2, service/autoscaling, service/cloudformation, service/iot, service/ecr, service/appstream, service/eks, service/amplify, service/transfer, service/fsx, service/backup, service/mwaa, service/transitgateway, service/oam

#38272 fix: Remove extra closing bracket in Tags annotation for aws_ecr_repository data source
  .changelog/38272.txt
  internal/service/ecr/repository_data_source.go
  internal/service/ecr/repository_data_source_test.go
  internal/service/ecr/service_package_gen.go
Labels: size/XS, tests, service/ecr, generators, external-maintainer, prioritized

#38269 aws_elasticache_serverless_cache
  .changelog/38269.txt
  internal/service/elasticache/serverless_cache.go
  internal/service/elasticache/serverless_cache_test.go
Labels: bug, size/S, tests, service/elasticache

#38263 [Tech Debt] - Migrate `iot` sweepers to use paginators
  internal/service/iot/sweep.go
Labels: size/XL, service/iot, sweeper, external-maintainer

#38274 aws_appstream_fleet
  .changelog/38274.txt
  internal/service/appstream/fleet.go
  internal/service/appstream/fleet_test.go
  website/docs/r/appstream_fleet.html.markdown
Labels: bug, size/XS, tests, service/appstream

#38273 aws_cloudtrail_event_data_store
  .changelog/38273.txt
  internal/service/cloudtrail/event_data_store.go
  internal/service/cloudtrail/event_data_store_test.go
  internal/service/cloudtrail/sweep.go
  website/docs/r/cloudtrail_event_data_store.html.markdown
Labels: documentation, size/XS, tests, service/cloudtrail, prioritized

#37927 ds: Migrate to AWS SDK v2
  internal/acctest/acctest.go
  internal/conns/awsclient.go
  internal/conns/awsclient_gen.go
  internal/generate/tags/templates/v2/service_tags_map_body.tmpl
  internal/generate/tags/templates/v2/service_tags_slice_body.tmpl
  internal/generate/tags/templates/v2/service_tags_value_map_body.tmpl
  internal/service/cloudwatch/tags_gen.go
  internal/service/devicefarm/tags_gen.go
  internal/service/drs/tags_gen.go
  internal/service/ds/conditional_forwarder.go
  internal/service/ds/conditional_forwarder_test.go
  internal/service/ds/directory.go
  internal/service/ds/directory_data_source.go
  internal/service/ds/directory_test.go
  internal/service/ds/exports_test.go
  internal/service/ds/find.go
  internal/service/ds/generate.go
  internal/service/ds/list_pages_gen.go
  internal/service/ds/log_subscription.go
  internal/service/ds/log_subscription_test.go
  internal/service/ds/radius_settings.go
  internal/service/ds/radius_settings_test.go
  internal/service/ds/region.go
  internal/service/ds/region_test.go
  internal/service/ds/service_endpoint_resolver_gen.go
  internal/service/ds/service_endpoints_gen_test.go
  internal/service/ds/service_package_gen.go
  internal/service/ds/shared_directory.go
  internal/service/ds/shared_directory_accepter.go
  internal/service/ds/shared_directory_accepter_test.go
  internal/service/ds/shared_directory_test.go
  internal/service/ds/status.go
  internal/service/ds/sweep.go
  internal/service/ds/tags_gen.go
  internal/service/ds/trust.go
  internal/service/ds/trust_test.go
  internal/service/ds/validate_test.go
  internal/service/ds/wait.go
  internal/service/ecr/tags_gen.go
  internal/service/elbv2/tagsv2_gen.go
  internal/service/events/tags_gen.go
  internal/service/finspace/tags_gen.go
  internal/service/glacier/tags_gen.go
  internal/service/kinesis/tags_gen.go
  internal/service/lightsail/tags_gen.go
  internal/service/logs/tags_gen.go
  internal/service/route53/tags_gen.go
  internal/service/sns/tags_gen.go
  internal/service/sqs/tags_gen.go
  internal/service/ssm/tags_gen.go
  internal/service/workspacesweb/tags_gen.go
  names/data/names_data.hcl
Labels: size/XL, tests, sweeper, tags, client-connections, generators, service/ds, external-maintainer, aws-sdk-go-migration

#38159 ci: Sets the parallelism for AMP acceptance tests to 10
  .teamcity/components/generated/services_all.kt
  internal/generate/teamcity/acctest_services.hcl
Labels: size/XS, generators, prioritized

#38271 feat: Add tags support to aws_ssm_association
  .changelog/38271.txt
  internal/service/ssm/association.go
  internal/service/ssm/association_tags_gen_test.go
  internal/service/ssm/service_package_gen.go
  internal/service/ssm/testdata/Association/tags/main_gen.tf
  internal/service/ssm/testdata/Association/tagsComputed1/main_gen.tf
  internal/service/ssm/testdata/Association/tagsComputed2/main_gen.tf
  internal/service/ssm/testdata/Association/tags_defaults/main_gen.tf
  internal/service/ssm/testdata/Association/tags_ignore/main_gen.tf
  internal/service/ssm/testdata/tmpl/association_tags.gtpl
  website/docs/r/ssm_association.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ssm, tags, generators, external-maintainer, prioritized

#38075 Migrate `Outposts` resources to AWS SDK V2
  internal/service/ec2/errors.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/findv2.go
  internal/service/ec2/outposts_coip_pool_data_source.go
  internal/service/ec2/outposts_coip_pools_data_source.go
  internal/service/ec2/outposts_local_gateway_data_source.go
  internal/service/ec2/outposts_local_gateway_route.go
  internal/service/ec2/outposts_local_gateway_route_table_data_source.go
  internal/service/ec2/outposts_local_gateway_route_table_vpc_association.go
  internal/service/ec2/outposts_local_gateway_route_table_vpc_association_test.go
  internal/service/ec2/outposts_local_gateway_route_tables_data_source.go
  internal/service/ec2/outposts_local_gateway_route_test.go
  internal/service/ec2/outposts_local_gateway_virtual_interface_data_source.go
  internal/service/ec2/outposts_local_gateway_virtual_interface_group_data_source.go
  internal/service/ec2/outposts_local_gateway_virtual_interface_groups_data_source.go
  internal/service/ec2/outposts_local_gateways_data_source.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/statusv2.go
  internal/service/ec2/transitgateway_.go
  internal/service/ec2/wait.go
  internal/service/ec2/waitv2.go
Labels: size/XL, tests, generators, service/transitgateway, service/ec2outposts, external-maintainer, prioritized, aws-sdk-go-migration

#38268 Move handling of some service data only used by generators to functions on `ServiceRecord`
  internal/generate/listpages/main.go
  internal/generate/namesconsts/main.go
  internal/generate/tags/main.go
  names/data/lookup.go
  names/data/read.go
  names/names.go
  names/names_test.go
Labels: size/L, tests, generators, prioritized

#38192 autoflex: Adds support for Expanding union types
  .actrc
  .teamcity/components/generated/services_all.kt
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/autoflex.go
  internal/framework/flex/autoflex_test.go
  internal/service/bedrockagent/agent_action_group.go
  internal/service/fsx/lustre_file_system.go
  internal/service/m2/application.go
  internal/service/m2/application_test.go
  internal/service/m2/environment.go
  internal/service/m2/environment_test.go
  names/data/names_data.hcl
  website/allowed-subcategories.txt
  website/docs/cdktf/python/d/bedrock_custom_model.html.markdown
  website/docs/cdktf/python/d/bedrock_custom_models.html.markdown
  website/docs/cdktf/python/d/bedrock_foundation_model.html.markdown
  website/docs/cdktf/python/d/bedrock_foundation_models.html.markdown
  website/docs/cdktf/python/r/bedrock_custom_model.html.markdown
  website/docs/cdktf/python/r/bedrock_model_invocation_logging_configuration.html.markdown
  website/docs/cdktf/python/r/bedrock_provisioned_model_throughput.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent_action_group.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent_alias.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent_knowledge_base_association.html.markdown
  website/docs/cdktf/python/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/python/r/bedrockagent_knowledge_base.html.markdown
  website/docs/cdktf/typescript/d/bedrock_custom_model.html.markdown
  website/docs/cdktf/typescript/d/bedrock_custom_models.html.markdown
  website/docs/cdktf/typescript/d/bedrock_foundation_model.html.markdown
  website/docs/cdktf/typescript/d/bedrock_foundation_models.html.markdown
  website/docs/cdktf/typescript/r/bedrock_custom_model.html.markdown
  website/docs/cdktf/typescript/r/bedrock_model_invocation_logging_configuration.html.markdown
  website/docs/cdktf/typescript/r/bedrock_provisioned_model_throughput.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent_action_group.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent_alias.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent_knowledge_base_association.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_knowledge_base.html.markdown
  website/docs/d/bedrock_custom_model.html.markdown
  website/docs/d/bedrock_custom_models.html.markdown
  website/docs/d/bedrock_foundation_model.html.markdown
  website/docs/d/bedrock_foundation_models.html.markdown
  website/docs/r/bedrock_custom_model.html.markdown
  website/docs/r/bedrock_model_invocation_logging_configuration.html.markdown
  website/docs/r/bedrock_provisioned_model_throughput.html.markdown
  website/docs/r/bedrockagent_agent.html.markdown
  website/docs/r/bedrockagent_agent_action_group.html.markdown
  website/docs/r/bedrockagent_agent_alias.html.markdown
  website/docs/r/bedrockagent_agent_knowledge_base_association.html.markdown
  website/docs/r/bedrockagent_data_source.html.markdown
  website/docs/r/bedrockagent_knowledge_base.html.markdown
Labels: documentation, size/XL, tests, service/fsx, prioritized, service/bedrock, service/m2, service/bedrockagent

#38257 Migrate `SFN` resources to AWS SDK V2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/sfn/activity.go
  internal/service/sfn/activity_data_source.go
  internal/service/sfn/activity_test.go
  internal/service/sfn/alias.go
  internal/service/sfn/alias_data_source.go
  internal/service/sfn/alias_test.go
  internal/service/sfn/exports_test.go
  internal/service/sfn/generate.go
  internal/service/sfn/list_pages_gen.go
  internal/service/sfn/service_endpoint_resolver_gen.go
  internal/service/sfn/service_endpoints_gen_test.go
  internal/service/sfn/service_package_gen.go
  internal/service/sfn/state_machine.go
  internal/service/sfn/state_machine_data_source.go
  internal/service/sfn/state_machine_test.go
  internal/service/sfn/state_machine_versions_data_source.go
  internal/service/sfn/sweep.go
  internal/service/sfn/tags_gen.go
  names/data/names_data.hcl
Labels: size/XL, tests, service/sfn, sweeper, tags, client-connections, generators, external-maintainer, prioritized, aws-sdk-go-migration

#38270 feat: Add tags support to aws_mskconnect resources and data sources
  .changelog/38270.txt
  .ci/semgrep/migrate/context.yml
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/kafkaconnect/connector.go
  internal/service/kafkaconnect/connector_data_source.go
  internal/service/kafkaconnect/connector_data_source_test.go
  internal/service/kafkaconnect/connector_test.go
  internal/service/kafkaconnect/custom_plugin.go
  internal/service/kafkaconnect/custom_plugin_data_source.go
  internal/service/kafkaconnect/custom_plugin_data_source_test.go
  internal/service/kafkaconnect/custom_plugin_test.go
  internal/service/kafkaconnect/exports_test.go
  internal/service/kafkaconnect/find.go
  internal/service/kafkaconnect/generate.go
  internal/service/kafkaconnect/service_endpoint_resolver_gen.go
  internal/service/kafkaconnect/service_endpoints_gen_test.go
  internal/service/kafkaconnect/service_package_gen.go
  internal/service/kafkaconnect/status.go
  internal/service/kafkaconnect/sweep.go
  internal/service/kafkaconnect/tags_gen.go
  internal/service/kafkaconnect/wait.go
  internal/service/kafkaconnect/worker_configuration.go
  internal/service/kafkaconnect/worker_configuration_data_source.go
  internal/service/kafkaconnect/worker_configuration_data_source_test.go
  internal/service/kafkaconnect/worker_configuration_test.go
  names/data/names_data.hcl
  names/names.go
  website/docs/d/mskconnect_connector.html.markdown
  website/docs/d/mskconnect_custom_plugin.html.markdown
  website/docs/d/mskconnect_worker_configuration.html.markdown
  website/docs/r/mskconnect_connector.html.markdown
  website/docs/r/mskconnect_custom_plugin.html.markdown
  website/docs/r/mskconnect_worker_configuration.html.markdown
Labels: documentation, size/XL, tests, linter, sweeper, tags, client-connections, generators, service/kafkaconnect, external-maintainer

#38196 aws_globalaccelerator_cross_account_attachment
  .changelog/38196.txt
  internal/service/globalaccelerator/cross_account_attachment.go
  website/docs/r/globalaccelerator_cross_account_attachment.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/globalaccelerator, prioritized

#38252 r/aws_db_instance: Fix resource leak on error during creation.
  .changelog/38252.txt
  internal/service/rds/instance.go
Labels: bug, size/XS, service/rds

#38227 r/aws_db_instance: Handle `InvalidParameterCombination: A parameter group can't be specified during Read Replica creation for the following DB engine: postgres`
  .changelog/38227.txt
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
Labels: bug, size/XL, tests, service/rds, prioritized

#38292 Ensure that all errors are checked during read, not just `tfresource.NotFound`
  .changelog/38292.txt
  .ci/semgrep/errors/error-checks.go
  .ci/semgrep/errors/error-checks.yml
  .github/workflows/semgrep-ci.yml
  GNUmakefile
  internal/retry/wrappers.go
  internal/service/directconnect/lag.go
  internal/service/dynamodb/kinesis_streaming_destination.go
  internal/service/ec2/ec2_capacity_block_reservation.go
  internal/service/ec2/vpc_route_table.go
  internal/service/opensearchserverless/access_policy.go
  internal/service/opensearchserverless/collection.go
  internal/service/opensearchserverless/security_config.go
  internal/service/opensearchserverless/security_policy.go
  internal/service/opensearchserverless/vpc_endpoint.go
  internal/service/opsworks/stack.go
  internal/service/ram/principal_association_test.go
  internal/service/rds/instance.go
  internal/service/ssmincidents/replication_set_test.go
Labels: tests, service/ec2, service/rds, service/directconnect, service/opsworks, service/dynamodb, service/ram, linter, repository, github_actions, service/ssmincidents, service/vpc, service/opensearchserverless, prioritized

#38212 Elb awssdkv2 migration
  .changelog/38212.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/flex/flex.go
  internal/generate/tags/templates/v2/service_tags_slice_body.tmpl
  internal/service/autoscaling/consts.go
  internal/service/autoscaling/group.go
  internal/service/elb/app_cookie_stickiness_policy.go
  internal/service/elb/app_cookie_stickiness_policy_test.go
  internal/service/elb/attachment.go
  internal/service/elb/attachment_test.go
  internal/service/elb/backend_server_policy.go
  internal/service/elb/backend_server_policy_test.go
  internal/service/elb/consts.go
  internal/service/elb/enum.go
  internal/service/elb/errors.go
  internal/service/elb/exports_test.go
  internal/service/elb/flex.go
  internal/service/elb/flex_test.go
  internal/service/elb/generate.go
  internal/service/elb/hosted_zone_id_data_source.go
  internal/service/elb/hosted_zone_id_data_source_test.go
  internal/service/elb/lb_cookie_stickiness_policy.go
  internal/service/elb/lb_cookie_stickiness_policy_test.go
  internal/service/elb/lb_ssl_negotiation_policy.go
  internal/service/elb/lb_ssl_negotiation_policy_test.go
  internal/service/elb/listener_policy.go
  internal/service/elb/listener_policy_test.go
  internal/service/elb/load_balancer.go
  internal/service/elb/load_balancer_data_source.go
  internal/service/elb/load_balancer_test.go
  internal/service/elb/policy.go
  internal/service/elb/policy_test.go
  internal/service/elb/proxy_protocol_policy.go
  internal/service/elb/proxy_protocol_policy_test.go
  internal/service/elb/service_account_data_source.go
  internal/service/elb/service_account_data_source_test.go
  internal/service/elb/service_endpoint_resolver_gen.go
  internal/service/elb/service_endpoints_gen_test.go
  internal/service/elb/service_package_gen.go
  internal/service/elb/sweep.go
  internal/service/elb/tags_gen.go
  internal/service/elb/validate.go
  internal/service/elb/validate_test.go
  internal/service/iam/server_certificate.go
  internal/verify/validate.go
  names/data/names_data.hcl
  names/names.go
  skaff/go.mod
  skaff/go.sum
  tools/awssdkpatch/go.mod
  tools/awssdkpatch/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/docs/r/iam_server_certificate.html.markdown
Labels: size/XL, tests, service/elb, service/autoscaling, sweeper, tags, client-connections, generators, external-maintainer, prioritized, aws-sdk-go-migration

#38295 bootstrap_cluster_creator_admin_permissions value fix when access_config is not provided at eks cluster creation
  .changelog/38295.txt
  internal/service/eks/cluster.go
  internal/service/eks/cluster_data_source.go
  internal/service/eks/cluster_test.go
  website/docs/r/eks_cluster.html.markdown
Labels: bug, size/XS, service/eks, partner

#37108 f-aws_rds_cluster: Support setting CA certificate on create and update
  .changelog/37108.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds

#38161 Add resource_set_ids attribute to fms policy
  .changelog/38161.txt
  internal/service/fms/fms_test.go
  internal/service/fms/policy.go
  internal/service/fms/policy_test.go
Labels: enhancement, size/M, tests, service/fms, prioritized

#38328 add aws_cloudwatch_log_account_policy resource
  .changelog/38328.txt
  go.mod
  go.sum
  internal/service/logs/account_policy.go
  internal/service/logs/account_policy_test.go
  internal/service/logs/exports_test.go
  internal/service/logs/service_package_gen.go
  internal/service/logs/validate.go
  website/docs/r/cloudwatch_log_account_policy.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/logs

#38181 [New Resource]: Added Verified Permissions `identity_source`
  .changelog/38181.txt
  internal/service/verifiedpermissions/exports_test.go
  internal/service/verifiedpermissions/identity_source.go
  internal/service/verifiedpermissions/identity_source_test.go
  internal/service/verifiedpermissions/service_package_gen.go
  website/docs/r/verifiedpermissions_identity_source.html.markdown
Labels: documentation, size/XL, tests, generators, service/verifiedpermissions, external-maintainer, prioritized

#38323 resource/aws_pinpoint_app: Fix panic when nested objects are empty
  internal/service/pinpoint/app.go
  internal/service/pinpoint/app_test.go
Labels: size/L, tests, service/pinpoint

#38349 add explicit reference to the type of the expected value
  website/docs/r/docdb_cluster.html.markdown
Labels: documentation, size/XS, service/docdb

#38341 docs: mark attributes as required in wafv2 web acl and wafv2 web acl logging configuration
  website/docs/r/wafv2_web_acl.html.markdown
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, size/XS, service/wafv2

#37317 r/aws_imagebuilder_pipeline: add support for workflows
  .changelog/37317.txt
  internal/service/imagebuilder/image_pipeline.go
  internal/service/imagebuilder/image_pipeline_test.go
  website/docs/r/imagebuilder_image_pipeline.html.markdown
Labels: enhancement, documentation, size/L, tests, service/imagebuilder, external-maintainer

#38350 r/aws_kinesisanalyticsv2_application: Document support for FLINK-1_19
  .changelog/38350.txt
  website/docs/r/kinesisanalyticsv2_application.html.markdown
Labels: documentation, size/XS, service/kinesisanalyticsv2

#38351 Go v1.22.5
  .ci/providerlint/go.mod
  .ci/tools/go.mod
  .go-version
  go.mod
  skaff/go.mod
  tools/awssdkpatch/go.mod
  tools/literally/go.mod
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, provider, linter, skaff

#35003 [New Resource]: aws_rds_certificate
  .changelog/35003.txt
  internal/service/rds/certificate.go
  internal/service/rds/certificate_test.go
  internal/service/rds/exports_test.go
  internal/service/rds/service_package_gen.go
  website/docs/r/rds_certificate.html.markdown
Labels: documentation, new-resource, size/L, tests, service/rds, generators

#36301 feat: add datasource for Cloudfront Origin Access Control
  .changelog/36301.txt
  internal/service/cloudfront/origin_access_control_data_source.go
  internal/service/cloudfront/origin_access_control_data_source_test.go
  internal/service/cloudfront/service_package_gen.go
  website/docs/d/cloudfront_origin_access_control.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/cloudfront, generators

#38139 Elbv2 awssdkv2 migration
  internal/conns/awsclient_gen.go
  internal/generate/listpages/main.go
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  internal/service/ec2/vpc_default_route_table_test.go
  internal/service/elb/hosted_zone_id_data_source.go
  internal/service/elb/service_account_data_source.go
  internal/service/elbv2/const.go
  internal/service/elbv2/errors.go
  internal/service/elbv2/exports.go
  internal/service/elbv2/exports_test.go
  internal/service/elbv2/generate.go
  internal/service/elbv2/hosted_zone_id_data_source.go
  internal/service/elbv2/hosted_zone_id_data_source_test.go
  internal/service/elbv2/id.go
  internal/service/elbv2/list_listener_certificates_pages_gen.go
  internal/service/elbv2/list_rules_pages_gen.go
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_certificate.go
  internal/service/elbv2/listener_certificate_test.go
  internal/service/elbv2/listener_data_source.go
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/listener_rule_test.go
  internal/service/elbv2/listener_test.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_data_source.go
  internal/service/elbv2/load_balancer_tags_gen_test.go
  internal/service/elbv2/load_balancer_test.go
  internal/service/elbv2/load_balancers_data_source.go
  internal/service/elbv2/service_endpoint_resolver_gen.go
  internal/service/elbv2/service_endpoints_gen_test.go
  internal/service/elbv2/service_package_gen.go
  internal/service/elbv2/sweep.go
  internal/service/elbv2/tags_gen.go
  internal/service/elbv2/tagsv2_gen.go
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_attachment.go
  internal/service/elbv2/target_group_attachment_test.go
  internal/service/elbv2/target_group_data_source.go
  internal/service/elbv2/target_group_tags_gen_test.go
  internal/service/elbv2/target_group_test.go
  internal/service/elbv2/trust_store.go
  internal/service/elbv2/trust_store_data_source.go
  internal/service/elbv2/trust_store_revocation.go
  internal/service/elbv2/trust_store_revocation_test.go
  internal/service/elbv2/trust_store_tags_gen_test.go
  internal/service/elbv2/trust_store_test.go
  names/data/names_data.hcl
Labels: size/XL, tests, service/elbv2, service/autoscaling, sweeper, tags, client-connections, flex, generators, service/vpc, external-maintainer, aws-sdk-go-migration

#38332 aws_lb_trust_store: wait for status ACTIVE
  .changelog/38332.txt
  internal/service/elbv2/trust_store.go
Labels: size/M, tests, service/elbv2

#34474 r/lakeformation_data_lake_settings: add `allow_full_table_external_data_access` attribute
  .changelog/34474.txt
  internal/service/lakeformation/data_lake_settings.go
  internal/service/lakeformation/data_lake_settings_data_source.go
  internal/service/lakeformation/data_lake_settings_data_source_test.go
  internal/service/lakeformation/data_lake_settings_test.go
  website/docs/d/lakeformation_data_lake_settings.html.markdown
  website/docs/r/lakeformation_data_lake_settings.html.markdown
Labels: enhancement, documentation, size/S, tests, provider, service/lakeformation

#36423 aws_lb_target_group: always support ip_address_type
  .changelog/36423.txt
  .changelog/38323.txt
  internal/service/elbv2/target_group.go
Labels: bug, size/XS, service/elbv2

#37348 Fixes aws_lb_listener datasource's default_action's target_group_arn
  .changelog/37348.txt
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_data_source_test.go
Labels: bug, size/XS, tests, service/elbv2

#37082 Add support for target_group_health block
  .changelog/37082.txt
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_test.go
  internal/service/elbv2/validate.go
  website/docs/r/lb_target_group.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/elbv2

#38101 Add Grafana service account
  .changelog/38101.txt
  internal/framework/types/string_enum.go
  internal/service/grafana/exports_test.go
  internal/service/grafana/service_package_gen.go
  internal/service/grafana/workspace_service_account.go
  internal/service/grafana/workspace_service_account_test.go
  internal/service/grafana/workspace_service_account_token.go
  internal/service/grafana/workspace_service_account_token_test.go
  website/docs/r/grafana_workspace_service_account.html.markdown
  website/docs/r/grafana_workspace_service_account_token.html.markdown
Labels: documentation, new-resource, size/XL, tests, linter, client-connections, generators, service/grafana, partner

#38365 docs: add svm_admin_password to fsx_ontap_storage_virtual_machine args
  website/docs/r/fsx_ontap_storage_virtual_machine.html.markdown
Labels: documentation, size/XS, service/fsx

#38046 Elasticache awssdkv2 migration
  internal/conns/awsclient_gen.go
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_data_source.go
  internal/service/elasticache/cluster_data_source_test.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/consts.go
  internal/service/elasticache/diff.go
  internal/service/elasticache/engine_version.go
  internal/service/elasticache/exports_test.go
  internal/service/elasticache/flex.go
  internal/service/elasticache/generate.go
  internal/service/elasticache/global_replication_group.go
  internal/service/elasticache/global_replication_group_test.go
  internal/service/elasticache/parameter_group.go
  internal/service/elasticache/parameter_group_test.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_data_source.go
  internal/service/elasticache/replication_group_data_source_test.go
  internal/service/elasticache/replication_group_migrate.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elasticache/serverless_cache.go
  internal/service/elasticache/service_endpoint_resolver_gen.go
  internal/service/elasticache/service_endpoints_gen_test.go
  internal/service/elasticache/service_package_gen.go
  internal/service/elasticache/subnet_group.go
  internal/service/elasticache/subnet_group_data_source.go
  internal/service/elasticache/subnet_group_test.go
  internal/service/elasticache/sweep.go
  internal/service/elasticache/tags_gen.go
  internal/service/elasticache/tagsv2_gen.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_data_source.go
  internal/service/elasticache/user_group.go
  internal/service/elasticache/user_group_association.go
  internal/service/elasticache/user_group_association_test.go
  internal/service/elasticache/user_group_test.go
  internal/service/elasticache/user_test.go
  names/data/names_data.hcl
  names/names.go
Labels: tests, service/elasticache, sweeper, tags, client-connections, generators, external-maintainer, aws-sdk-go-migration

#38372 d/aws_efs_access_point: Set `id` to access point ID
  .changelog/38372.txt
  internal/service/efs/access_point_data_source.go
  internal/service/efs/access_point_data_source_test.go
Labels: bug, size/XS, tests, service/efs

#38199 aws_codebuild_webhook
  .changelog/38199.txt
  internal/service/codebuild/webhook.go
  internal/service/codebuild/webhook_test.go
  website/docs/r/codebuild_webhook.html.markdown
Labels: enhancement, size/M, tests, service/codebuild

#38109 Bug fix: fixes throughput type for managed ebs volume
  .changelog/38109.txt
  internal/service/ecs/service.go
Labels: bug, size/XS, service/ecs

#37748 codebuild: support unsetting project concurrency
  .changelog/37748.txt
  internal/service/codebuild/project.go
  internal/service/codebuild/project_test.go
Labels: bug, size/XS, tests, service/codebuild

#38375 td/serverless application repository: migrate to AWS go SDKv2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/serverlessrepo/application_data_source.go
  internal/service/serverlessrepo/cloudformation_stack.go
  internal/service/serverlessrepo/cloudformation_stack_test.go
  internal/service/serverlessrepo/find.go
  internal/service/serverlessrepo/generate.go
  internal/service/serverlessrepo/service_endpoint_resolver_gen.go
  internal/service/serverlessrepo/service_endpoints_gen_test.go
  internal/service/serverlessrepo/service_package_gen.go
  internal/service/serverlessrepo/tags_gen.go
  names/data/names_data.hcl
Labels: size/XL, tests, service/serverlessrepo, tags, client-connections, generators

#38358 dependabot: Consolidate Dependabot rules for Go dependencies
  .github/dependabot.yml
Labels: dependencies, size/M, repository, github_actions

#37932 feat: Add managed_storage_configuration block to aws_ecs_cluster
  .changelog/37932.txt
  internal/service/ecs/cluster.go
  internal/service/ecs/cluster_test.go
  website/docs/r/ecs_cluster.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/ecs, external-maintainer

#36968 f-aws_msk_replicator:Argument for Replication starting position
  .changelog/36968.txt
  internal/service/kafka/replicator.go
  internal/service/kafka/replicator_test.go
  website/docs/r/msk_replicator.html.markdown
Labels: enhancement, documentation, size/M, tests, service/kafka

#37780 dms: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/dms/certificate.go
  internal/service/dms/certificate_data_source.go
  internal/service/dms/certificate_test.go
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_data_source.go
  internal/service/dms/endpoint_test.go
  internal/service/dms/event_subscription.go
  internal/service/dms/event_subscription_test.go
  internal/service/dms/exports_test.go
  internal/service/dms/generate.go
  internal/service/dms/replication_config.go
  internal/service/dms/replication_config_test.go
  internal/service/dms/replication_instance.go
  internal/service/dms/replication_instance_data_source.go
  internal/service/dms/replication_instance_test.go
  internal/service/dms/replication_subnet_group.go
  internal/service/dms/replication_subnet_group_data_source.go
  internal/service/dms/replication_subnet_group_test.go
  internal/service/dms/replication_task.go
  internal/service/dms/replication_task_data_source.go
  internal/service/dms/replication_task_data_source_test.go
  internal/service/dms/replication_task_test.go
  internal/service/dms/s3_endpoint.go
  internal/service/dms/service_endpoint_resolver_gen.go
  internal/service/dms/service_endpoints_gen_test.go
  internal/service/dms/service_package_gen.go
  internal/service/dms/sweep.go
  internal/service/dms/tags_gen.go
  names/data/names_data.hcl
Labels: size/XL, tests, sweeper, tags, client-connections, generators, service/dms, external-maintainer, aws-sdk-go-migration

#38232 [Enhancement]: Convert references of names_data.csv to names_data.hcl
  docs/aws-go-sdk-migrations.md
  internal/generate/teamcity/README.md
  names/names.go
Labels: documentation, size/XS, generators

#37195 detective: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/detective/generate.go
  internal/service/detective/graph.go
  internal/service/detective/graph_test.go
  internal/service/detective/invitation_accepter.go
  internal/service/detective/invitation_accepter_test.go
  internal/service/detective/member.go
  internal/service/detective/member_test.go
  internal/service/detective/organization_admin_account.go
  internal/service/detective/organization_admin_account_test.go
  internal/service/detective/organization_configuration.go
  internal/service/detective/service_endpoint_resolver_gen.go
  internal/service/detective/service_endpoints_gen_test.go
  internal/service/detective/service_package_gen.go
  internal/service/detective/tags_gen.go
  names/data/names_data.hcl
  names/names.go
Labels: size/XL, tests, service/detective, tags, client-connections, generators, external-maintainer, aws-sdk-go-migration

#37705 f/aws_msk_cluster update to add broker_node_group_info
  .changelog/37705.txt
  internal/service/kafka/cluster_data_source.go
  internal/service/kafka/cluster_data_source_test.go
  website/docs/d/msk_cluster.html.markdown
Labels: enhancement, size/L, tests, service/kafka

#37006 f-aws_wafv2_web_acl:support for enable machine learning
  .changelog/37006.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/wafv2

#38383 Correct `aws_sagemaker_space` header links
  website/docs/r/sagemaker_space.html.markdown
Labels: documentation, size/M, service/sagemaker

#37708 EngineLifecycleSupport
  .changelog/37708.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_migrate.go
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
  internal/service/rds/global_cluster.go
  internal/service/rds/global_cluster_test.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  internal/service/rds/sweep.go
  website/docs/r/db_instance.html.markdown
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_global_cluster.html.markdown
Labels: enhancement, documentation, size/L, tests, service/rds

#38345 [New Resource]: DataZone Project
  .changelog/38345.txt
  internal/service/datazone/exports_test.go
  internal/service/datazone/project.go
  internal/service/datazone/project_test.go
  internal/service/datazone/service_package_gen.go
  names/names.go
  website/docs/r/datazone_project.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/datazone

#36368 New Datasource for AWS Timestream Database
  .changelog/36368.txt
  internal/service/timestreamwrite/database_data_source.go
  internal/service/timestreamwrite/database_data_source_test.go
  internal/service/timestreamwrite/service_package_gen.go
  website/docs/d/timestreamwrite_database.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/timestreamwrite, generators

#38384 chore: make cleantidy
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/S, skaff

#37192 datapipeline: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/datapipeline/generate.go
  internal/service/datapipeline/pipeline.go
  internal/service/datapipeline/pipeline_data_source.go
  internal/service/datapipeline/pipeline_definition.go
  internal/service/datapipeline/pipeline_definition_data_source.go
  internal/service/datapipeline/pipeline_definition_test.go
  internal/service/datapipeline/pipeline_test.go
  internal/service/datapipeline/service_endpoint_resolver_gen.go
  internal/service/datapipeline/service_endpoints_gen_test.go
  internal/service/datapipeline/service_package_gen.go
  internal/service/datapipeline/tags_gen.go
  names/data/names_data.hcl
  names/names.go
Labels: size/XL, tests, service/datapipeline, tags, client-connections, generators, external-maintainer, aws-sdk-go-migration

#36599 NEW DataSource AWS Timestream Database Table
  .changelog/36599.txt
  internal/service/timestreamwrite/service_package_gen.go
  internal/service/timestreamwrite/table_data_source.go
  internal/service/timestreamwrite/table_data_source_test.go
  website/docs/d/timestreamwrite_table.html.markdown
Labels: documentation, new-data-source, size/XL, tests, service/timestreamwrite, generators

#37889 aws_emrserverless_application
  .changelog/37889.txt
  internal/service/emrserverless/application.go
  internal/service/emrserverless/application_test.go
  website/docs/r/emrserverless_application.html.markdown
Labels: enhancement, size/M, tests, service/emrserverless

#37964 aws_vpclattice_listener
  .changelog/37964.txt
  internal/service/vpclattice/exports_test.go
  internal/service/vpclattice/listener.go
  internal/service/vpclattice/listener_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_listener.html.markdown
Labels: enhancement, size/M, tests, service/vpclattice

#37996 F/aws redshift cluster snapshot
  .changelog/37996.txt
  internal/service/redshift/cluster_snapshot.go
Labels: enhancement, size/XS, service/redshift

#38002 aws_elasticache_replication_group
  .changelog/38002.txt
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_data_source.go
  internal/service/elasticache/replication_group_data_source_test.go
  internal/service/elasticache/replication_group_test.go
  website/docs/d/elasticache_replication_group.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
Labels: enhancement, documentation, size/M, tests, service/elasticache

#37591 fix: convert insight_type to set type to address element order issue in aws_cloudtrail
  .changelog/37591.txt
  internal/service/cloudtrail/cloudtrail.go
  internal/service/cloudtrail/cloudtrail_test.go
Labels: bug, size/XS, tests, service/cloudtrail, external-maintainer

#36316 feat: Add timeout_in_minutes to action block for aws_codepipeline
  .changelog/36316.txt
  internal/service/codepipeline/codepipeline.go
  internal/service/codepipeline/codepipeline_test.go
  website/docs/cdktf/python/r/codepipeline.markdown
Labels: enhancement, documentation, tests, service/codepipeline

#38396 resource/aws_elasticache_replication_group: Validation fixes
  .changelog/38396.txt
  internal/service/elasticache/cluster.go
  internal/service/elasticache/diff.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, size/L, tests, service/elasticache

#38394 docs: [aws_rds_cluster] Change the sample string for the Master Password
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#38392 Updating the documentation of ec2 capacity block
  website/docs/d/ec2_capacity_block_offering.html.markdown
  website/docs/r/ec2_capacity_block_reservation.html.markdown
Labels: documentation, size/XS, service/ec2

#38407 Clarify the instance type to use for Aurora Serverless v2
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, size/XS, service/rds

#38151 feature: Support `SecretsManagerConfiguration` for Firehose Delivery Stream Snowflake Configuration
  .changelog/38151.txt
  .changelog/38245.txt
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/firehose

#38385 Update CHANGELOG Checks to use new community check
  .github/workflows/changelog.yml
Labels: size/S, repository, github_actions

#38413 38242 - The example does not correspond recomendation from AWS. Use ~All instead of -All
  website/docs/r/ses_domain_mail_from.html.markdown
Labels: documentation, size/XS, service/ses

#38228 Update dependency check workflow
  .github/workflows/dependencies.yml
Labels: size/M, repository, github_actions, prioritized

#37536 [New Resource] `aws_rekognition_stream_processor`
  .changelog/37536.txt
  internal/service/rekognition/exports_test.go
  internal/service/rekognition/generate.go
  internal/service/rekognition/service_package_gen.go
  internal/service/rekognition/stream_processor.go
  internal/service/rekognition/stream_processor_test.go
  website/docs/r/rekognition_stream_processor.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/rekognition

#37484 feat: Add function schema and return of control support to aws_bedrockagent_agent_action_group
  .changelog/37484.txt
  internal/service/bedrockagent/agent_action_group.go
  internal/service/bedrockagent/agent_action_group_test.go
  website/docs/r/bedrockagent_agent_action_group.html.markdown
Labels: enhancement, documentation, size/XL, tests, external-maintainer, service/bedrockagent

#37520 feat: Add provisioned throughput support to aws_bedrockagent_agent_alias
  .changelog/37520.txt
  internal/service/bedrockagent/agent_alias.go
  internal/service/bedrockagent/agent_alias_test.go
  website/docs/r/bedrockagent_agent_alias.html.markdown
Labels: enhancement, documentation, size/M, tests, external-maintainer, service/bedrockagent

#37586 feat: Add skip_resource_in_use_check arg to aws_bedrockagent_agent
  .changelog/37586.txt
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/agent_test.go
  website/docs/r/bedrockagent_agent.html.markdown
Labels: bug, documentation, size/S, tests, external-maintainer, service/bedrockagent

#37717 feat: Add delete config args to aws_fsx_[lustre|openzfs|windows]_file_system and aws_fsx_ontap_volume
  .changelog/37717.txt
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  internal/service/fsx/ontap_volume.go
  internal/service/fsx/ontap_volume_test.go
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_file_system_test.go
  internal/service/fsx/windows_file_system.go
  internal/service/fsx/windows_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
  website/docs/r/fsx_ontap_volume.html.markdown
  website/docs/r/fsx_openzfs_file_system.html.markdown
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/fsx, external-maintainer

#38424 Update `issue_comment` workflow to use new community check
  .github/workflows/issue_comment.yml
Labels: size/S, repository, github_actions

#38423 docs: use note admonition on naming standards
  docs/naming.md
Labels: documentation, size/XS

#38419 chime: add voice connector sweeper
  internal/service/chime/sweep.go
  internal/sweep/register_gen_test.go
Labels: size/M, tests, service/chime, sweeper, generators

#38425 fix: Add missing security policy names for aws_transfer_server
  .changelog/38425.txt
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  website/docs/r/transfer_server.html.markdown
Labels: documentation, size/M, tests, service/transfer

#38018 elastictranscoder: Migrate to AWS SDK v2
  .changelog/38018.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/elastictranscoder/pipeline.go
  internal/service/elastictranscoder/pipeline_test.go
  internal/service/elastictranscoder/preset.go
  internal/service/elastictranscoder/preset_test.go
  internal/service/elastictranscoder/service_endpoint_resolver_gen.go
  internal/service/elastictranscoder/service_endpoints_gen_test.go
  internal/service/elastictranscoder/service_package_gen.go
  names/data/names_data.hcl
  names/names.go
Labels: size/XL, tests, client-connections, generators, service/elastictranscoder, external-maintainer, aws-sdk-go-migration

#38342 emrcontainers: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/emrcontainers/exports_test.go
  internal/service/emrcontainers/generate.go
  internal/service/emrcontainers/job_template.go
  internal/service/emrcontainers/job_template_test.go
  internal/service/emrcontainers/service_endpoint_resolver_gen.go
  internal/service/emrcontainers/service_endpoints_gen_test.go
  internal/service/emrcontainers/service_package_gen.go
  internal/service/emrcontainers/sweep.go
  internal/service/emrcontainers/tags_gen.go
  internal/service/emrcontainers/virtual_cluster.go
  internal/service/emrcontainers/virtual_cluster_data_source.go
  internal/service/emrcontainers/virtual_cluster_test.go
  names/data/names_data.hcl
Labels: size/XL, tests, service/emrcontainers, sweeper, tags, client-connections, generators, aws-sdk-go-migration

#38436 r/aws_codebuild_project: Get acceptance tests passing in US GovCloud
  internal/service/codebuild/project.go
  internal/service/codebuild/project_test.go
Labels: size/XS, tests, service/codebuild

#38438 resource/aws_bedrockagent_agent_action_group: updates `function_schema` to allow other tagged union types
  internal/service/bedrockagent/agent_action_group.go
  internal/service/bedrockagent/agent_action_group_test.go
  website/docs/r/bedrockagent_agent_action_group.html.markdown
Labels: documentation, size/L, tests, service/bedrockagent

#38343 fsx: Migrate to AWS SDK v2
  .changelog/38343.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/fsx/backup.go
  internal/service/fsx/backup_test.go
  internal/service/fsx/common_schema_data_source.go
  internal/service/fsx/data_repository_association.go
  internal/service/fsx/data_repository_association_test.go
  internal/service/fsx/file_cache.go
  internal/service/fsx/file_cache_test.go
  internal/service/fsx/generate.go
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  internal/service/fsx/ontap_file_system.go
  internal/service/fsx/ontap_file_system_data_source.go
  internal/service/fsx/ontap_file_system_test.go
  internal/service/fsx/ontap_storage_virtual_machine.go
  internal/service/fsx/ontap_storage_virtual_machine_data_source.go
  internal/service/fsx/ontap_storage_virtual_machine_data_source_test.go
  internal/service/fsx/ontap_storage_virtual_machine_migrate.go
  internal/service/fsx/ontap_storage_virtual_machine_test.go
  internal/service/fsx/ontap_storage_virtual_machines_data_source.go
  internal/service/fsx/ontap_volume.go
  internal/service/fsx/ontap_volume_test.go
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_file_system_test.go
  internal/service/fsx/openzfs_snapshot.go
  internal/service/fsx/openzfs_snapshot_data_source.go
  internal/service/fsx/openzfs_snapshot_data_source_test.go
  internal/service/fsx/openzfs_snapshot_test.go
  internal/service/fsx/openzfs_volume.go
  internal/service/fsx/openzfs_volume_test.go
  internal/service/fsx/service_endpoint_resolver_gen.go
  internal/service/fsx/service_endpoints_gen_test.go
  internal/service/fsx/service_package_gen.go
  internal/service/fsx/sweep.go
  internal/service/fsx/tags_gen.go
  internal/service/fsx/windows_file_system.go
  internal/service/fsx/windows_file_system_data_source.go
  internal/service/fsx/windows_file_system_test.go
  names/data/names_data.hcl
  names/names.go
Labels: size/XL, tests, service/fsx, sweeper, tags, client-connections, generators, aws-sdk-go-migration

#38454 awssdkpatch: Minor fixups
  GNUmakefile
  tools/awssdkpatch/patch.tmpl
Labels: size/XS, repository, aws-sdk-go-migration

#38459 docs: Add sensitivity_level arg to sqli_match_statement block for aws_wafv2_rule_group and aws_wafv2_web_acl
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XS, service/wafv2

#38443 docs: add missing serde argument
  website/docs/r/glue_classifier.html.markdown
Labels: documentation, size/XS, service/glue

#38449 fix: Add nil checks to fix perpetual diff of rule arg for aws_ce_cost_category
  .changelog/38449.txt
  internal/service/ce/cost_category.go
Labels: size/XS, service/ce

#38458 feat: Add event_bridge_destination block for aws_sesv2_configuration_set_event_destination
  .changelog/38458.txt
  internal/service/sesv2/configuration_set_event_destination.go
  internal/service/sesv2/configuration_set_event_destination_test.go
  website/docs/r/sesv2_configuration_set_event_destination.html.markdown
Labels: documentation, size/L, tests, service/sesv2

#38434 Move pull request feed to new community check
  .github/workflows/pull_request_feed.yml
Labels: size/S, repository, github_actions

#38467 Only comment if necessary
  .github/workflows/dependencies.yml
Labels: size/XS, repository, github_actions

#38440 Update `aws_bedrockagent_agent_action_group` tests
  internal/service/bedrockagent/agent_action_group_test.go
Labels: size/S, tests, service/bedrockagent

#38470 Clarify aws_securitylake_subscriber docs
  website/docs/r/securitylake_subscriber.html.markdown
Labels: documentation, size/S, service/securitylake

#38469 Fix failing acceptance tests after AWS SDK for Go v2 migration
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/ontap_storage_virtual_machine_test.go
  internal/service/fsx/openzfs_file_system.go
  internal/service/fsx/openzfs_file_system_test.go
  internal/service/fsx/openzfs_volume.go
Labels: size/L, tests, service/fsx

#38437 r/aws_rds_cluster: Wait for no pending modified values on Update if `apply_immediately` is `true`
  .changelog/38437.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_snapshot.go
  internal/service/rds/consts.go
  internal/service/rds/exports_test.go
  internal/service/rds/find.go
  internal/service/rds/service_package_gen.go
  internal/service/rds/sweep.go
  internal/service/rds/wait.go
Labels: size/M, tests, service/rds, sweeper, generators

#38473 Fixed typo in resource note for aws_lambda_runtime_management_config
  website/docs/r/lambda_runtime_management_config.html.markdown
Labels: documentation, size/XS, service/lambda

#38322 autoflex: Adds support for Flattening union types
  internal/errs/fwdiag/diags.go
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/autoflex.go
  internal/framework/flex/autoflex_test.go
  internal/service/bedrockagent/agent_action_group.go
  internal/service/m2/environment.go
Labels: size/XL, tests, flex, service/m2, service/bedrockagent

#38451 feat: Add scaling_configuration.seconds_before_timeout arg for aws_db_cluster
  .changelog/38451.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  internal/service/rds/flex.go
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/S, tests, service/rds

#38397 Glue: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/glue/catalog_database.go
  internal/service/glue/catalog_database_test.go
  internal/service/glue/catalog_table.go
  internal/service/glue/catalog_table_data_source.go
  internal/service/glue/catalog_table_test.go
  internal/service/glue/classifier.go
  internal/service/glue/classifier_test.go
  internal/service/glue/connection.go
  internal/service/glue/connection_data_source.go
  internal/service/glue/connection_test.go
  internal/service/glue/crawler.go
  internal/service/glue/crawler_test.go
  internal/service/glue/data_catalog_encryption_settings.go
  internal/service/glue/data_catalog_encryption_settings_data_source.go
  internal/service/glue/data_catalog_encryption_settings_test.go
  internal/service/glue/data_quality_ruleset.go
  internal/service/glue/data_quality_ruleset_test.go
  internal/service/glue/dev_endpoint.go
  internal/service/glue/dev_endpoint_test.go
  internal/service/glue/find.go
  internal/service/glue/generate.go
  internal/service/glue/id.go
  internal/service/glue/job.go
  internal/service/glue/job_test.go
  internal/service/glue/ml_transform.go
  internal/service/glue/ml_transform_test.go
  internal/service/glue/partition.go
  internal/service/glue/partition_index.go
  internal/service/glue/partition_index_test.go
  internal/service/glue/partition_test.go
  internal/service/glue/registry.go
  internal/service/glue/registry_test.go
  internal/service/glue/resource_policy.go
  internal/service/glue/resource_policy_test.go
  internal/service/glue/schema.go
  internal/service/glue/schema_test.go
  internal/service/glue/script_data_source.go
  internal/service/glue/security_configuration.go
  internal/service/glue/security_configuration_test.go
  internal/service/glue/service_endpoint_resolver_gen.go
  internal/service/glue/service_endpoints_gen_test.go
  internal/service/glue/service_package_gen.go
  internal/service/glue/status.go
  internal/service/glue/sweep.go
  internal/service/glue/tags_gen.go
  internal/service/glue/trigger.go
  internal/service/glue/trigger_test.go
  internal/service/glue/user_defined_function.go
  internal/service/glue/user_defined_function_test.go
  internal/service/glue/wait.go
  internal/service/glue/workflow.go
  internal/service/glue/workflow_test.go
  names/data/names_data.hcl
  names/names.go
Labels: size/XL, tests, service/glue, sweeper, tags, client-connections, generators, aws-sdk-go-migration

#38472 Fix `aws_sagemaker_space` documentation
  website/docs/r/sagemaker_space.html.markdown
Labels: documentation, size/S, service/sagemaker

#37731 feat: Add support for third-party connection types to aws_glue_connection
  .changelog/37731.txt
  internal/service/ec2/consts.go
  internal/service/glue/connection.go
  internal/service/glue/connection_test.go
  internal/service/glue/validate.go
  website/docs/r/glue_connection.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/glue, external-maintainer

#38476 r/aws_elasticache_replication_group: Fix `error marshaling prior state` when upgrading from v4.67.0 to v5.59.0
  .changelog/38476.txt
  internal/service/elasticache/replication_group_migrate.go
  internal/service/elasticache/replication_group_test.go
Labels: size/L, tests, service/elasticache

#38483 feat: Add tags support to aws_cur_report_definition resource and data source
  .changelog/38483.txt
  internal/service/cur/cur_test.go
  internal/service/cur/generate.go
  internal/service/cur/report_definition.go
  internal/service/cur/report_definition_data_source.go
  internal/service/cur/report_definition_data_source_test.go
  internal/service/cur/report_definition_test.go
  internal/service/cur/service_package_gen.go
  internal/service/cur/tags_gen.go
  website/docs/d/cur_report_definition.html.markdown
  website/docs/r/cur_report_definition.html.markdown
Labels: documentation, size/XL, tests, tags, generators, service/cur

#38477 iam/role: If inline fails, role fails
  .changelog/38477.txt
  internal/service/iam/role.go
  internal/service/iam/role_test.go
Labels: size/M, tests, service/iam

#38490 r/aws_ecs_service: Fix `error marshaling prior state: a number is required` when upgrading from v5.58.0 to v5.59.0
  .changelog/38490.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
Labels: bug, size/XL, tests, service/ecs

#38491 Broken link fix: For EC2 stop protection
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XS, service/ec2

#34885 Allow cross-account sharing of db_cluster_snapshot
  .changelog/34885.txt
  internal/service/rds/cluster_snapshot.go
  internal/service/rds/cluster_snapshot_data_source.go
  internal/service/rds/cluster_snapshot_test.go
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
  internal/service/rds/exports_test.go
  internal/service/rds/service_package_gen.go
  internal/service/rds/subnet_group.go
  internal/service/rds/sweep.go
  website/docs/r/db_cluster_snapshot.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds

#38478 Adds sweepers for `aws_appautoscaling_policy` and `aws_appautoscaling_target`
  internal/service/appautoscaling/sweep.go
  internal/sweep/register_gen_test.go
  internal/sweep/sweep.go
Labels: size/M, tests, sweeper, generators, service/appautoscaling

#34102 Fix aws_rds_cluster copy_tags_to_snapshot
  .changelog/34044.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
Labels: bug, size/M, tests, service/rds

#38480 Documentation Enhancement(ecs_task_definition): more clarity on `track_latest`
  website/docs/r/ecs_task_definition.html.markdown
Labels: documentation, size/XS, service/ecs

#38471 r/aws_ecs_task_definition: `Provider produced inconsistent final plan` for `container_definitions` after v5.59.0
  .changelog/38471.txt
  internal/sdkv2/state.go
  internal/sdkv2/state_test.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_equivalency.go
  internal/service/ecs/task_definition_test.go
Labels: bug, size/XL, tests, service/ecs

#38498 Add concurrency_mode parameter to aws_cloudformation_stack_set_instance
  .changelog/38498.txt
  internal/service/cloudformation/stack_set_instance.go
  internal/service/cloudformation/stack_set_instance_test.go
  internal/service/cloudformation/type.go
  website/docs/r/cloudformation_stack_set_instance.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/cloudformation

#38508 Fix `ec2` service acceptance test errors
  internal/service/ec2/ec2_fleet_test.go
  internal/service/ec2/find.go
  internal/service/ec2/vpc_ipv4_cidr_block_association.go
  internal/service/ec2/vpc_peering_connection_options_test.go
  internal/service/ec2/vpc_peering_connection_test.go
  internal/service/ec2/wait.go
Labels: size/M, tests, service/ec2, service/vpc

#38512 Check `err != nil` after `!d.IsNewResource() && tfresource.NotFound()`
  .changelog/38512.txt
  .ci/semgrep/errors/error-checks.yml
  internal/service/chime/voice_connector_logging.go
  internal/service/chimesdkvoice/sip_media_application.go
  internal/service/chimesdkvoice/sip_rule.go
  internal/service/timestreamwrite/table.go
Labels: bug, crash, size/S, service/chime, service/timestreamwrite, linter, service/chimesdkvoice

#38445 kinesisanalytics: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/kinesisanalytics/application.go
  internal/service/kinesisanalytics/application_test.go
  internal/service/kinesisanalytics/exports_test.go
  internal/service/kinesisanalytics/find.go
  internal/service/kinesisanalytics/generate.go
  internal/service/kinesisanalytics/list.go
  internal/service/kinesisanalytics/service_endpoint_resolver_gen.go
  internal/service/kinesisanalytics/service_endpoints_gen_test.go
  internal/service/kinesisanalytics/service_package_gen.go
  internal/service/kinesisanalytics/status.go
  internal/service/kinesisanalytics/sweep.go
  internal/service/kinesisanalytics/tags_gen.go
  internal/service/kinesisanalytics/wait.go
  names/data/names_data.hcl
Labels: size/XL, tests, service/kinesisanalytics, sweeper, tags, client-connections, generators, aws-sdk-go-migration

#38513 Fix scope attribute validation for codebuild webhooks
  .changelog/38513.txt
  internal/service/codebuild/webhook.go
Labels: size/XS, service/codebuild

#38514 Prevent running tests in partitions with only 1 region
  internal/acctest/acctest.go
  internal/acctest/partition.go
  internal/acctest/partition_test.go
Labels: size/L, tests

#37637 add support for aws shield subscription resource fixes hashicorp#21430
  .changelog/37637.txt
  internal/service/shield/service_package_gen.go
  internal/service/shield/subscription.go
  internal/service/shield/subscription_test.go
  website/docs/r/shield_subscription.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/shield, generators

#38307 feat(spn): created service principal name data source
  .changelog/38307.txt
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  internal/service/meta/service_package_gen.go
  internal/service/meta/service_principal_data_source.go
  internal/service/meta/service_principal_data_source_test.go
  names/data/names_data.hcl
  names/names.go
  website/docs/d/service_principal.html.markdown
Labels: documentation, new-data-source, size/XL, tests, generators, service/meta

#38517 batch/jobdef: Add image_pull_secret
  .changelog/38517.txt
  internal/service/batch/eks_properties.go
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_test.go
  website/docs/r/batch_job_definition.html.markdown
Labels: documentation, size/L, tests, service/batch

#38447 kinesisanalyticsv2: Migrate to AWS SDK v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/kinesisanalyticsv2/application.go
  internal/service/kinesisanalyticsv2/application_snapshot.go
  internal/service/kinesisanalyticsv2/application_snapshot_test.go
  internal/service/kinesisanalyticsv2/application_test.go
  internal/service/kinesisanalyticsv2/exports_test.go
  internal/service/kinesisanalyticsv2/find.go
  internal/service/kinesisanalyticsv2/generate.go
  internal/service/kinesisanalyticsv2/id.go
  internal/service/kinesisanalyticsv2/list_pages_gen.go
  internal/service/kinesisanalyticsv2/service_endpoint_resolver_gen.go
  internal/service/kinesisanalyticsv2/service_endpoints_gen_test.go
  internal/service/kinesisanalyticsv2/service_package_gen.go
  internal/service/kinesisanalyticsv2/status.go
  internal/service/kinesisanalyticsv2/sweep.go
  internal/service/kinesisanalyticsv2/tags_gen.go
  internal/service/kinesisanalyticsv2/wait.go
  names/data/names_data.hcl
Labels: size/XL, tests, service/kinesisanalyticsv2, sweeper, tags, client-connections, generators, aws-sdk-go-migration

#38492 rd/aws_cloudwatch_event_bus: Add `kms_key_identifier` argument
  .changelog/38492.txt
  internal/service/events/bus.go
  internal/service/events/bus_data_source.go
  internal/service/events/bus_data_source_test.go
  internal/service/events/bus_test.go
  website/docs/d/cloudwatch_event_bus.html.markdown
  website/docs/r/cloudwatch_event_bus.html.markdown
Labels: documentation, size/L, tests, service/events

#38524 docs: add details on supported endpoints for fifo queues
  website/docs/r/sns_topic.html.markdown
Labels: documentation, size/XS, service/sns

#38488 docs: update account alias output docs
  website/docs/d/iam_account_alias.html.markdown
Labels: documentation, size/XS, service/iam

#38537 Run `make clean-tidy`
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XS, skaff

#34843 Add shared_accounts parameter to db_snapshot_copy
  .changelog/34843.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_endpoint.go
  internal/service/rds/cluster_endpoint_test.go
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_parameter_group.go
  internal/service/rds/cluster_parameter_group_test.go
  internal/service/rds/cluster_role_association.go
  internal/service/rds/cluster_role_association_test.go
  internal/service/rds/cluster_snapshot.go
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
  internal/service/rds/exports_test.go
  internal/service/rds/find.go
  internal/service/rds/flex.go
  internal/service/rds/flex_test.go
  internal/service/rds/id.go
  internal/service/rds/instance_test.go
  internal/service/rds/option_group.go
  internal/service/rds/parameter_group.go
  internal/service/rds/parameter_group_test.go
  internal/service/rds/reserved_instance.go
  internal/service/rds/reserved_instance_offering_data_source.go
  internal/service/rds/reserved_instance_offering_data_source_test.go
  internal/service/rds/service_package_gen.go
  internal/service/rds/snapshot.go
  internal/service/rds/snapshot_copy.go
  internal/service/rds/snapshot_copy_test.go
  internal/service/rds/snapshot_data_source.go
  internal/service/rds/snapshot_test.go
  internal/service/rds/status.go
  internal/service/rds/sweep.go
  internal/service/rds/wait.go
  internal/slices/predicates.go
  website/docs/r/db_snapshot_copy.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/rds, sweeper, generators
