Repository hashicorp/terraform-provider-aws, pull requests merged in 2024-12, with the labels that each got.

#40377 cdktf: update documentation
  website/docs/cdktf/python/d/memorydb_acl.html.markdown
  website/docs/cdktf/python/d/memorydb_cluster.html.markdown
  website/docs/cdktf/python/d/memorydb_parameter_group.html.markdown
  website/docs/cdktf/python/d/memorydb_snapshot.html.markdown
  website/docs/cdktf/python/d/memorydb_subnet_group.html.markdown
  website/docs/cdktf/python/d/memorydb_user.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/bedrock_guardrail.html.markdown
  website/docs/cdktf/python/r/iam_organizations_features.html.markdown
  website/docs/cdktf/python/r/lambda_event_source_mapping.html.markdown
  website/docs/cdktf/python/r/memorydb_acl.html.markdown
  website/docs/cdktf/python/r/memorydb_cluster.html.markdown
  website/docs/cdktf/python/r/memorydb_parameter_group.html.markdown
  website/docs/cdktf/python/r/memorydb_snapshot.html.markdown
  website/docs/cdktf/python/r/memorydb_subnet_group.html.markdown
  website/docs/cdktf/python/r/memorydb_user.html.markdown
  website/docs/cdktf/python/r/vpc_block_public_access_exclusion.html.markdown
  website/docs/cdktf/python/r/vpc_block_public_access_options.html.markdown
  website/docs/cdktf/typescript/d/memorydb_acl.html.markdown
  website/docs/cdktf/typescript/d/memorydb_cluster.html.markdown
  website/docs/cdktf/typescript/d/memorydb_parameter_group.html.markdown
  website/docs/cdktf/typescript/d/memorydb_snapshot.html.markdown
  website/docs/cdktf/typescript/d/memorydb_subnet_group.html.markdown
  website/docs/cdktf/typescript/d/memorydb_user.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/bedrock_guardrail.html.markdown
  website/docs/cdktf/typescript/r/iam_organizations_features.html.markdown
  website/docs/cdktf/typescript/r/lambda_event_source_mapping.html.markdown
  website/docs/cdktf/typescript/r/memorydb_acl.html.markdown
  website/docs/cdktf/typescript/r/memorydb_cluster.html.markdown
  website/docs/cdktf/typescript/r/memorydb_parameter_group.html.markdown
  website/docs/cdktf/typescript/r/memorydb_snapshot.html.markdown
  website/docs/cdktf/typescript/r/memorydb_subnet_group.html.markdown
  website/docs/cdktf/typescript/r/memorydb_user.html.markdown
  website/docs/cdktf/typescript/r/vpc_block_public_access_exclusion.html.markdown
  website/docs/cdktf/typescript/r/vpc_block_public_access_options.html.markdown
Labels: documentation, service/lambda, service/iam, service/memorydb, service/vpc, service/bedrock

#40380 `aws-sdk-go-v2` updates (Release 2024-12-02)
  .ci/scripts/update-aws-sdk-go-dependencies.sh
  go.mod
  go.sum
Labels: dependencies, linter, prioritized

#40385 chore: make clean-tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#40346 [Enhancement] Cross region endpoint service support
  .changelog/40346.txt
  internal/acctest/acctest.go
  internal/service/ec2/consts.go
  internal/service/ec2/vpc_endpoint_service.go
  internal/service/ec2/vpc_endpoint_service_test.go
  internal/service/opsworks/rails_app_layer_test.go
  internal/service/opsworks/stack_test.go
  website/docs/r/vpc_endpoint_service.html.markdown
Labels: documentation, tests, service/opsworks, service/vpc, partner, prioritized

#40355 sweeper/aws_docdb_cluster: Fix error when sweeping members of global cluster
  internal/service/docdb/sweep.go
Labels: service/docdb, sweeper, prioritized

#40392 Update dependencies
  .ci/providerlint/passes/AWSAT001/testdata/go.mod
  .ci/providerlint/passes/AWSAT001/testdata/go.sum
  .ci/providerlint/passes/AWSAT004/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.sum
  .ci/providerlint/passes/AWSV001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.sum
  .ci/tools/go.mod
  .ci/tools/go.sum
  go.mod
  go.sum
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: linter, skaff, prioritized

#40371 r/aws_eks_cluster: Add support for EKS Hybrid nodes
  .changelog/40371.txt
  internal/service/eks/cluster.go
  internal/service/eks/cluster_data_source.go
  internal/service/eks/cluster_data_source_test.go
  internal/service/eks/cluster_test.go
  internal/service/eks/consts.go
  internal/service/eks/validate.go
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, tests, service/eks, needs-triage, partner, prioritized

#40356 docs: move attribute to separate block
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, service/eks

#40359 r/aws_fsx_openzfs_file_system increase SINGLE_AZ_2 max IOPS to 400000
  .changelog/40359.txt
  internal/service/fsx/openzfs_file_system.go
Labels: bug, service/fsx

#40365 sweeper/aws_subnet: Updates sweeper
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_network_interface.go
Labels: sweeper, service/vpc, prioritized

#40366 CI: Fixes "Process exited with code 1" error for non-service acceptance tests
  .teamcity/scripts/provider_tests/acceptance_tests.sh
  .teamcity/scripts/service_tests/acceptance_tests.sh
  internal/generate/teamcity/acceptance_tests.tmpl
  internal/provider/provider_acc_test.go
Labels: generators, prioritized

#40370 r/aws_eks_cluster: Add support for EKS Auto Mode
  .changelog/40370.txt
  internal/service/eks/cluster.go
  internal/service/eks/cluster_data_source.go
  internal/service/eks/cluster_data_source_test.go
  internal/service/eks/cluster_test.go
  internal/service/eks/consts.go
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, tests, service/eks, partner, prioritized

#40337 r/rds_cluster: add ability to promotion read replica cluster to standalone
  .changelog/40337.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: tests, service/rds, prioritized

#40403 d/aws_standards_control_association: Fix resource name in docs
  website/docs/r/securityhub_standards_control_association.html.markdown
Labels: documentation, service/securityhub

#40406 .github/workflows: fix registry version check comparison
  .github/workflows/post_publish.yml
Labels: repository, github_actions, prioritized

#40396 aws_rds_cluster: Verify sg destroy okay with cluster
  internal/service/rds/cluster_test.go
Labels: tests, service/rds, prioritized

#35359 [Enhancement]: dynamodb: add arg to set deletion protection for table replica
  .changelog/35359.txt
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_replica.go
  internal/service/dynamodb/table_replica_test.go
  internal/service/dynamodb/wait.go
  website/docs/r/dynamodb_table_replica.html.markdown
Labels: enhancement, size/M, tests, service/dynamodb

#40300 add initial codeconnections resources
  .changelog/40300.txt
  internal/service/codeconnections/connection.go
  internal/service/codeconnections/connection_test.go
  internal/service/codeconnections/exports_test.go
  internal/service/codeconnections/generate.go
  internal/service/codeconnections/host.go
  internal/service/codeconnections/host_test.go
  internal/service/codeconnections/service_package_gen.go
  internal/service/codeconnections/tags_gen.go
  website/docs/r/codeconnections_connection.html.markdown
  website/docs/r/codeconnections_host.html.markdown
Labels: documentation, new-resource, tests, tags, generators, partner, prioritized, service/codeconnections

#40413 `aws-sdk-go-v2` updates (Release 2024-12-03.2)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#40419 r/aws_connect_contact_flow: Document fixing of `deserialization failed` errors
  .changelog/40419.txt
Labels: bug, service/connect, prioritized

#40416 docs: update argument name in aws_bedrock_agent resource
  website/docs/r/bedrockagent_agent.html.markdown
Labels: documentation, service/bedrockagent

#40339 `names.GlobalRegionID` -> `endpoints.AwsGlobalRegionID`
  .changelog/40339.txt
  internal/conns/awsclient.go
  internal/service/s3/bucket_accelerate_configuration.go
  internal/service/s3/bucket_accelerate_configuration_test.go
  internal/service/s3/bucket_acl.go
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_analytics_configuration.go
  internal/service/s3/bucket_analytics_configuration_test.go
  internal/service/s3/bucket_cors_configuration.go
  internal/service/s3/bucket_cors_configuration_test.go
  internal/service/s3/bucket_data_source.go
  internal/service/s3/bucket_intelligent_tiering_configuration.go
  internal/service/s3/bucket_intelligent_tiering_configuration_test.go
  internal/service/s3/bucket_inventory.go
  internal/service/s3/bucket_inventory_test.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_logging.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_metric.go
  internal/service/s3/bucket_metric_test.go
  internal/service/s3/bucket_notification.go
  internal/service/s3/bucket_notification_test.go
  internal/service/s3/bucket_object_data_source_test.go
  internal/service/s3/bucket_object_lock_configuration.go
  internal/service/s3/bucket_object_lock_configuration_test.go
  internal/service/s3/bucket_object_test.go
  internal/service/s3/bucket_ownership_controls.go
  internal/service/s3/bucket_ownership_controls_test.go
  internal/service/s3/bucket_policy.go
  internal/service/s3/bucket_policy_data_source.go
  internal/service/s3/bucket_policy_test.go
  internal/service/s3/bucket_public_access_block.go
  internal/service/s3/bucket_public_access_block_test.go
  internal/service/s3/bucket_replication_configuration.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_request_payment_configuration.go
  internal/service/s3/bucket_request_payment_configuration_test.go
  internal/service/s3/bucket_server_side_encryption_configuration.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_versioning.go
  internal/service/s3/bucket_versioning_test.go
  internal/service/s3/bucket_website_configuration.go
  internal/service/s3/bucket_website_configuration_test.go
  internal/service/s3/directory_bucket.go
  internal/service/s3/directory_buckets_data_source.go
  internal/service/s3/enum.go
  internal/service/s3/enum_test.go
  internal/service/s3/exports_test.go
  internal/service/s3/object.go
  internal/service/s3/object_copy.go
  internal/service/s3/object_copy_test.go
  internal/service/s3/object_data_source.go
  internal/service/s3/object_test.go
  internal/service/s3/objects_data_source.go
  internal/service/s3/service_package.go
  internal/service/s3/tags.go
  names/names.go
  website/docs/r/s3_directory_bucket.html.markdown
Labels: documentation, tests, service/s3, client-connections, prioritized

#40420 New Service: `s3tables`
  .changelog/40420.txt
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .ci/semgrep/aws/go-sdk-v1.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/acctest/knownvalue/stringable_value.go
  internal/conns/awsclient_gen.go
  internal/framework/validators/prefix_none_of.go
  internal/framework/validators/prefix_none_of_test.go
  internal/framework/validators/suffix_none_of.go
  internal/framework/validators/suffix_none_of_test.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/devopsguru/resource_collection_test.go
  internal/service/s3tables/exports_test.go
  internal/service/s3tables/generate.go
  internal/service/s3tables/namespace.go
  internal/service/s3tables/namespace_test.go
  internal/service/s3tables/s3tables_test.go
  internal/service/s3tables/service_endpoint_resolver_gen.go
  internal/service/s3tables/service_endpoints_gen_test.go
  internal/service/s3tables/service_package_gen.go
  internal/service/s3tables/sweep.go
  internal/service/s3tables/table.go
  internal/service/s3tables/table_bucket.go
  internal/service/s3tables/table_bucket_policy.go
  internal/service/s3tables/table_bucket_policy_test.go
  internal/service/s3tables/table_bucket_test.go
  internal/service/s3tables/table_policy.go
  internal/service/s3tables/table_policy_test.go
  internal/service/s3tables/table_test.go
  internal/service/s3tables/validate.go
  internal/sweep/register_gen_test.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  skaff/resource/resourcetest.gtpl
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
  website/docs/r/s3tables_namespace.html.markdown
  website/docs/r/s3tables_table.html.markdown
  website/docs/r/s3tables_table_bucket.html.markdown
  website/docs/r/s3tables_table_bucket_policy.html.markdown
  website/docs/r/s3tables_table_policy.html.markdown
Labels: documentation, tests, provider, linter, sweeper, repository, client-connections, generators, github_actions, skaff, service/devopsguru, prioritized

#40230 Allow Aurora Serverless scaling to zero capacity.
  .changelog/40230.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, tests, service/rds, prioritized

#40409 r/aws_rds_cluster_instance: fix destroy error when cluster instance is in a read replica
  .changelog/40409.txt
  internal/service/rds/cluster_instance.go
  internal/service/rds/cluster_instance_test.go
  website/docs/r/rds_cluster_instance.html.markdown
Labels: tests, service/rds, prioritized

#40440 r/aws_s3tables_namespace: Fix sweeper
  internal/service/s3tables/sweep.go
Labels: sweeper, prioritized, service/s3tables

#40364 r/apigateway_domain_name - support for private endpoints
  .changelog/40364.txt
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/domain_name_data_source.go
  internal/service/apigateway/domain_name_data_source_test.go
  internal/service/apigateway/domain_name_test.go
  internal/service/apigateway/exports_test.go
  website/docs/d/api_gateway_domain_name.html.markdown
  website/docs/r/api_gateway_domain_name.html.markdown
Labels: enhancement, documentation, tests, service/apigateway, external-maintainer, prioritized

#40294 New resource aws_bedrock_inference_profile
  .changelog/40294.txt
  internal/service/bedrock/exports_test.go
  internal/service/bedrock/inference_profile.go
  internal/service/bedrock/inference_profile_tags_gen_test.go
  internal/service/bedrock/inference_profile_test.go
  internal/service/bedrock/service_package_gen.go
  internal/service/bedrock/testdata/InferenceProfile/tags/main_gen.tf
  internal/service/bedrock/testdata/InferenceProfile/tagsComputed1/main_gen.tf
  internal/service/bedrock/testdata/InferenceProfile/tagsComputed2/main_gen.tf
  internal/service/bedrock/testdata/InferenceProfile/tags_defaults/main_gen.tf
  internal/service/bedrock/testdata/InferenceProfile/tags_ignore/main_gen.tf
  internal/service/bedrock/testdata/tmpl/inference_profile_tags.gtpl
  website/docs/d/bedrock_inference_profile.html.markdown
  website/docs/r/bedrock_inference_profile.html.markdown
Labels: documentation, new-resource, tests, generators, prioritized, service/bedrock

#40456 Docs - ECS `containerInsights` add enhanced observability as an option
  website/docs/r/ecs_cluster.html.markdown
Labels: documentation, service/ecs

#40463 skaff: make clean-tidy
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: skaff, prioritized

#40333 r/aws_rds_cluster: Fix `InvalidDBClusterStateFault` errors when deleting clusters that are members of a global cluster
  .changelog/40333.txt
  internal/service/docdb/sweep.go
  internal/service/neptune/sweep.go
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  internal/service/rds/global_cluster.go
  internal/service/rds/sweep.go
Labels: tests, service/rds, service/neptune, service/docdb, sweeper, prioritized

#40464 .github/workflows: exit successfully once registry and github versions match
  .github/workflows/post_publish.yml
Labels: repository, github_actions, prioritized

#38183 New Resource Service Catalog AppRegistry AttributeGroup
  .changelog/38183.txt
  internal/service/servicecatalogappregistry/application.go
  internal/service/servicecatalogappregistry/application_data_source.go
  internal/service/servicecatalogappregistry/attribute_group.go
  internal/service/servicecatalogappregistry/attribute_group_tags_gen_test.go
  internal/service/servicecatalogappregistry/attribute_group_test.go
  internal/service/servicecatalogappregistry/exports_test.go
  internal/service/servicecatalogappregistry/generate.go
  internal/service/servicecatalogappregistry/service_package_gen.go
  internal/service/servicecatalogappregistry/tags_gen_test.go
  internal/service/servicecatalogappregistry/testdata/AttributeGroup/tags/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/AttributeGroup/tagsComputed1/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/AttributeGroup/tagsComputed2/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/AttributeGroup/tags_defaults/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/AttributeGroup/tags_ignore/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/tmpl/attribute_group_tags.gtpl
  website/docs/r/servicecatalogappregistry_attribute_group.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/servicecatalogappregistry, partner

#40341 docs(r-lb-listener-rule): Notes the relationship between a tag key `Name` to the AWS Console
  website/docs/r/lb_listener.html.markdown
Labels: documentation, service/elbv2

#40336 [Enhancement]: r/ebs_snapshot_copy new `completion_duration_minutes` argument. Time-based Copy for EBS Snapshots
  .changelog/40336.txt
  internal/service/ec2/ebs_snapshot_copy.go
  internal/service/ec2/ebs_snapshot_copy_test.go
  website/docs/r/ebs_snapshot_copy.html.markdown
Labels: documentation, tests, service/ec2ebs, prioritized

#40284 fix(route53profiles): improve documentation about tags usage.
  website/docs/r/route53profiles_association.html.markdown
  website/docs/r/route53profiles_profile.html.markdown
Labels: documentation, tags, service/route53profiles

#40447 r/apigateway_base_path_mapping - add support `domain_name_id`
  .changelog/40447.txt
  internal/service/apigateway/base_path_mapping.go
  internal/service/apigateway/base_path_mapping_test.go
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/exports_test.go
  website/docs/r/api_gateway_base_path_mapping.html.markdown
  website/docs/r/api_gateway_domain_name.html.markdown
Labels: enhancement, documentation, tests, service/apigateway, external-maintainer, prioritized

#40332 [Docs] Add section on PR hygiene to contributor docs
  docs/raising-a-pull-request.md
Labels: documentation, prioritized

#38188 New DataSource for Service Catalog AppRegistry Attribute Group
  .changelog/38188.txt
  internal/service/servicecatalogappregistry/attribute_group_data_source.go
  internal/service/servicecatalogappregistry/attribute_group_data_source_tags_gen_test.go
  internal/service/servicecatalogappregistry/attribute_group_data_source_test.go
  internal/service/servicecatalogappregistry/service_package_gen.go
  internal/service/servicecatalogappregistry/tags_gen_test.go
  internal/service/servicecatalogappregistry/testdata/AttributeGroup/data.tags/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/AttributeGroup/data.tags_defaults/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/AttributeGroup/data.tags_ignore/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/tmpl/attribute_group_data_source.gtpl
  website/docs/d/servicecatalogappregistry_attribute_group.html.markdown
Labels: documentation, new-data-source, size/XL, tests, generators, service/servicecatalogappregistry, partner, prioritized

#40471 r/aws_rds_cluster: respect `storage_type` when restored from snapshot
  .changelog/40471.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
Labels: tests, service/rds, prioritized

#40470 r/aws_rds_global_cluster: Add tagging support
  .changelog/40470.txt
  internal/service/rds/global_cluster.go
  internal/service/rds/global_cluster_tags_gen_test.go
  internal/service/rds/global_cluster_test.go
  internal/service/rds/service_package_gen.go
  internal/service/rds/testdata/GlobalCluster/tags/main_gen.tf
  internal/service/rds/testdata/GlobalCluster/tagsComputed1/main_gen.tf
  internal/service/rds/testdata/GlobalCluster/tagsComputed2/main_gen.tf
  internal/service/rds/testdata/GlobalCluster/tags_defaults/main_gen.tf
  internal/service/rds/testdata/GlobalCluster/tags_ignore/main_gen.tf
  internal/service/rds/testdata/tmpl/global_cluster_tags.gtpl
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, tests, service/rds, tags, generators, prioritized

#39996 feat: Add flow_timeouts arg to stateful_engine_options block for aws_networkfirewall_firewall_policy
  .changelog/39996.txt
  internal/service/networkfirewall/firewall_policy.go
  internal/service/networkfirewall/firewall_policy_test.go
  website/docs/r/networkfirewall_firewall_policy.html.markdown
Labels: enhancement, documentation, tests, service/networkfirewall, external-maintainer, prioritized

#40469 r/aws_rds_global_cluster: Mark `database_name` as Computed
  .changelog/40469.txt
  .changelog/40471.txt
  internal/service/rds/global_cluster.go
  internal/service/rds/global_cluster_test.go
  website/docs/r/rds_global_cluster.html.markdown
Labels: tests, service/rds, prioritized

#40472 ci: Remove on-premise related parameters
  .teamcity/settings.kts
Labels: prioritized

#40468 fix: update validation for throughput capacity
  .changelog/40468.txt
  internal/service/fsx/windows_file_system.go
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: enhancement, documentation, service/fsx, prioritized

#38243 Add tags to application resource and datasource
  .changelog/38243.txt
  internal/service/servicecatalogappregistry/application.go
  internal/service/servicecatalogappregistry/application_data_source.go
  internal/service/servicecatalogappregistry/application_data_source_tags_gen_test.go
  internal/service/servicecatalogappregistry/application_tags_gen_test.go
  internal/service/servicecatalogappregistry/application_test.go
  internal/service/servicecatalogappregistry/service_package_gen.go
  internal/service/servicecatalogappregistry/testdata/Application/data.tags/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/Application/data.tags_defaults/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/Application/data.tags_ignore/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/Application/tags/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/Application/tagsComputed1/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/Application/tagsComputed2/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/Application/tags_defaults/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/Application/tags_ignore/main_gen.tf
  internal/service/servicecatalogappregistry/testdata/tmpl/application_data_source.gtpl
  internal/service/servicecatalogappregistry/testdata/tmpl/application_tags.gtpl
  website/docs/d/servicecatalogappregistry_application.html.markdown
  website/docs/r/servicecatalogappregistry_application.html.markdown
Labels: enhancement, documentation, size/XL, tests, tags, generators, service/servicecatalogappregistry, partner, prioritized

#40426 resource/aws_db_instance: Allow creating read replica in same region with different subnet group
  internal/service/rds/instance.go
  internal/service/rds/instance_diff_test.go
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, tests, service/rds, prioritized

#40481 ci: Removes legacy alternate account configurations
  .teamcity/scripts/pullrequest_tests/tests.sh
  .teamcity/scripts/service_tests/acceptance_tests.sh
  .teamcity/settings.kts
Labels: prioritized

#40199 [Enhancement]: `r/aws_glue_catalog_table_optimizer` Add configuration support for `retention` and `orphan_file_deletion` types
  .changelog/40199.txt
  internal/service/glue/catalog_table_optimizer.go
  internal/service/glue/catalog_table_optimizer_test.go
  internal/service/glue/glue_test.go
  website/docs/r/glue_catalog_table_optimizer.html.markdown
Labels: enhancement, documentation, tests, service/glue, prioritized

#40415 r/aws_eks_cluster: Fix enablement of EKS Auto Mode on existing clusters without forcing re-creation
  internal/service/eks/cluster.go
  internal/service/eks/cluster_test.go
Labels: bug, tests, service/eks, partner, prioritized

#40484 feat: allow `notebook-al2-v3` as platform_identifier
  .changelog/40484.txt
  internal/service/sagemaker/notebook_instance.go
  internal/service/sagemaker/notebook_instance_test.go
  website/docs/r/sagemaker_notebook_instance.html.markdown
Labels: documentation, tests, service/sagemaker

#40092 #38917 #39197 Fixing the expand function and the remove functi…
  .changelog/40092.txt
  internal/service/networkfirewall/logging_configuration.go
  internal/service/networkfirewall/logging_configuration_test.go
  website/docs/r/networkfirewall_logging_configuration.html.markdown
Labels: bug, documentation, service/networkfirewall, prioritized

#40437 F/log anomaly detector resource
  .changelog/40437.txt
  internal/service/logs/anomaly_detector.go
  internal/service/logs/anomaly_detector_tags_gen_test.go
  internal/service/logs/anomaly_detector_test.go
  internal/service/logs/exports_test.go
  internal/service/logs/service_package_gen.go
  internal/service/logs/testdata/AnomalyDetector/tags/main_gen.tf
  internal/service/logs/testdata/AnomalyDetector/tagsComputed1/main_gen.tf
  internal/service/logs/testdata/AnomalyDetector/tagsComputed2/main_gen.tf
  internal/service/logs/testdata/AnomalyDetector/tags_defaults/main_gen.tf
  internal/service/logs/testdata/AnomalyDetector/tags_ignore/main_gen.tf
  internal/service/logs/testdata/tmpl/anomaly_detector_tags.gtpl
  website/docs/r/cloudwatch_log_anomaly_detector.html.markdown
Labels: documentation, tests, generators, service/logs, prioritized

#38290 New resource: `aws_servicecatalogappregistry_application_attribute_group_association`
  .changelog/38290.txt
  internal/service/servicecatalogappregistry/attribute_group_association.go
  internal/service/servicecatalogappregistry/attribute_group_association_test.go
  internal/service/servicecatalogappregistry/exports_test.go
  internal/service/servicecatalogappregistry/service_package_gen.go
  website/docs/r/servicecatalogappregistry_attribute_group_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/servicecatalogappregistry, partner

#40495 fixing the doc: Update cognito_user_pool_domain example
  website/docs/r/cognito_user_pool_domain.html.markdown
Labels: documentation, service/cognitoidp

#40498 docs: Avoid DB proxy diffs for unsupported AZs
  website/docs/r/db_proxy.html.markdown
Labels: documentation, service/rds, prioritized

#40500 ci: Prevent over-quota exceptions
  .teamcity/components/generated/services_all.kt
  internal/generate/teamcity/acctest_services.hcl
Labels: generators, prioritized

#40499 r/aws_kinesis_stream: Prevent long retries when quotas would be exceeded
  .changelog/40499.txt
  internal/service/kinesis/exports_test.go
  internal/service/kinesis/list_pages.go
  internal/service/kinesis/stream.go
  internal/service/kinesis/stream_data_source_test.go
  internal/service/kinesis/stream_test.go
Labels: tests, service/kinesis, prioritized

#40511 `aws_rds_cluster`: Fix Regression in `serverlessv2_scaling_configuration` Handling
  .changelog/40511.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
Labels: tests, service/rds, prioritized

#40513 Removes unused `Check`s when test step has `ExpectError`
  .ci/semgrep/acctest/steps.yml
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/vpc_security_group_test.go
  internal/service/ecr/pull_through_cache_rule_test.go
  internal/service/ecr/repository_creation_template_test.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elasticsearch/domain_test.go
  internal/service/iot/role_alias_test.go
  internal/service/opensearch/domain_test.go
  internal/service/s3/bucket_metric_test.go
Labels: tests, service/ec2, service/s3, service/elasticache, service/elasticsearch, service/iot, service/ecr, linter, service/opensearch, service/vpc, prioritized

#40515 Fix incorrect word in eks_access_policy_association import documention.
  website/docs/r/eks_access_policy_association.html.markdown
Labels: documentation, service/eks

#37056 feat: add support for single scram secret association
  .changelog/37056.txt
  internal/service/kafka/exports_test.go
  internal/service/kafka/scram_secret_association.go
  internal/service/kafka/scram_secret_association_test.go
  internal/service/kafka/service_package_gen.go
  internal/service/kafka/single_scram_secret_association.go
  internal/service/kafka/single_scram_secret_association_test.go
  website/docs/r/msk_scram_secret_association.html.markdown
  website/docs/r/msk_single_scram_secret_association.html.markdown
Labels: enhancement, documentation, new-resource, size/L, tests, service/kafka, generators

#40530 Update dependencies
  .ci/providerlint/passes/AWSAT001/testdata/go.mod
  .ci/providerlint/passes/AWSAT001/testdata/go.sum
  .ci/providerlint/passes/AWSAT004/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.sum
  .ci/providerlint/passes/AWSV001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.sum
  .ci/tools/go.mod
  .ci/tools/go.sum
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: linter, prioritized

#40521 [Bug] Fix cost category rule ordering
  .changelog/40521.txt
  internal/service/ce/anomaly_monitor_test.go
  internal/service/ce/anomaly_subscription_test.go
  internal/service/ce/cost_allocation_tag_test.go
  internal/service/ce/cost_category.go
  internal/service/ce/cost_category_data_source_test.go
  internal/service/ce/cost_category_test.go
  internal/service/ce/tags_data_source_test.go
Labels: tests, service/ce, partner, prioritized

#40533 Add a Terraform Plugin Framework case-insensitive custom string type
  internal/framework/types/case_insensitive_string.go
  internal/framework/types/case_insensitive_string_test.go
  internal/framework/types/once_a_week_window.go
Labels: tests, prioritized

#39952 Bug26868: fix RAM CSR retrieval
  .changelog/39952.txt
  internal/service/acmpca/certificate_authority_data_source.go
  internal/service/acmpca/certificate_authority_data_source_test.go
Labels: bug, tests, service/acmpca, prioritized

#28017 d/aws_acmpca_certificate_authority - handle exception when retrieving a shared ACM PCA
  .changelog/39952.txt
  internal/service/acmpca/certificate_authority_data_source.go
  internal/service/acmpca/certificate_authority_data_source_test.go
Labels: size/M, tests, service/acmpca

#40547 Add timestreamquery client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/timestreamquery/generate.go
  internal/service/timestreamquery/service_endpoint_resolver_gen.go
  internal/service/timestreamquery/service_endpoints_gen_test.go
  internal/service/timestreamquery/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, tests, provider, linter, sweeper, client-connections, generators, service/timestreamquery, prioritized

#38047 bugfix: Lake Formation permissions/permissions_with_grant_option type
  .changelog/38047.txt
  internal/service/lakeformation/permissions.go
  internal/service/lakeformation/permissions_test.go
Labels: bug, size/M, tests, service/lakeformation

#40398 feat: rds_cluster_snapshot_copy resource
  .changelog/40398.txt
  internal/service/rds/cluster_snapshot.go
  internal/service/rds/cluster_snapshot_copy.go
  internal/service/rds/cluster_snapshot_copy_test.go
  internal/service/rds/consts.go
  internal/service/rds/exports_test.go
  internal/service/rds/service_package_gen.go
  website/docs/r/rds_cluster_snapshot_copy.html.markdown
Labels: documentation, new-resource, tests, service/rds, generators, prioritized

#40483 [Docs]: `aws_eks_cluster.bootstrap_self_managed_addons` must be set to `false` for EKS Auto Mode
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, service/eks, prioritized

#40514 resource/aws_elasticache_replication_group: Make `at_rest_encryption_enabled` nullable Bool
  .changelog/40514.txt
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, tests, service/elasticache, prioritized

#40562 add validation for iam policy document sid
  .changelog/40562.txt
  internal/service/iam/policy_document_data_source.go
  internal/service/iam/policy_document_data_source_test.go
Labels: tests, service/iam, prioritized

#33797 added teletext destinations settings
  .changelog/33797.txt
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
Labels: bug, size/XS, service/medialive, prioritized

#34263 Add diff function on aws_lambda_invocation resource to invalidate result on input change
  .changelog/34263.txt
  internal/service/lambda/consts.go
  internal/service/lambda/invocation.go
  internal/service/lambda/invocation_test.go
  internal/service/medialive/channel_test.go
Labels: bug, size/XS, tests, service/lambda, prioritized

#40570 cdktf: update documentation
  website/docs/cdktf/python/d/sesv2_configuration_set.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/cloudwatch_log_anomaly_detector.html.markdown
  website/docs/cdktf/python/r/cognito_user_pool_domain.html.markdown
  website/docs/cdktf/python/r/db_proxy.html.markdown
  website/docs/cdktf/python/r/eks_access_policy_association.html.markdown
  website/docs/cdktf/python/r/eks_cluster.html.markdown
  website/docs/cdktf/python/r/elasticache_replication_group.html.markdown
  website/docs/cdktf/python/r/iam_openid_connect_provider.html.markdown
  website/docs/cdktf/python/r/instance.html.markdown
  website/docs/cdktf/python/r/launch_template.html.markdown
  website/docs/cdktf/python/r/msk_scram_secret_association.html.markdown
  website/docs/cdktf/python/r/msk_single_scram_secret_association.html.markdown
  website/docs/cdktf/python/r/network_interface.html.markdown
  website/docs/cdktf/python/r/networkfirewall_logging_configuration.html.markdown
  website/docs/cdktf/python/r/rds_cluster_snapshot_copy.html.markdown
  website/docs/cdktf/python/r/sagemaker_notebook_instance.html.markdown
  website/docs/cdktf/python/r/servicecatalogappregistry_attribute_group_association.html.markdown
  website/docs/cdktf/python/r/sesv2_configuration_set.html.markdown
  website/docs/cdktf/typescript/d/sesv2_configuration_set.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/cloudwatch_log_anomaly_detector.html.markdown
  website/docs/cdktf/typescript/r/cognito_user_pool_domain.html.markdown
  website/docs/cdktf/typescript/r/db_proxy.html.markdown
  website/docs/cdktf/typescript/r/eks_access_policy_association.html.markdown
  website/docs/cdktf/typescript/r/eks_cluster.html.markdown
  website/docs/cdktf/typescript/r/elasticache_replication_group.html.markdown
  website/docs/cdktf/typescript/r/iam_openid_connect_provider.html.markdown
  website/docs/cdktf/typescript/r/instance.html.markdown
  website/docs/cdktf/typescript/r/launch_template.html.markdown
  website/docs/cdktf/typescript/r/msk_scram_secret_association.html.markdown
  website/docs/cdktf/typescript/r/msk_single_scram_secret_association.html.markdown
  website/docs/cdktf/typescript/r/network_interface.html.markdown
  website/docs/cdktf/typescript/r/networkfirewall_logging_configuration.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster_snapshot_copy.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_notebook_instance.html.markdown
  website/docs/cdktf/typescript/r/servicecatalogappregistry_attribute_group_association.html.markdown
  website/docs/cdktf/typescript/r/sesv2_configuration_set.html.markdown
Labels: documentation, service/iam, service/ec2, service/rds, service/sagemaker, service/elasticache, service/eks, service/kafka, service/sesv2, service/networkfirewall, service/logs, service/servicecatalogappregistry, service/cognitoidp, service/vpc

#40567 docs: rename wrong parameter name for AWS Verified Access group resource
  website/docs/r/verifiedaccess_group.html.markdown
Labels: documentation, service/verifiedaccess

#40543 Add `agent_collaboration` property to `aws_bedrockagent_agent`
  .changelog/40543.txt
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/agent_test.go
  website/docs/r/bedrockagent_agent.html.markdown
Labels: enhancement, documentation, tests, partner, service/bedrockagent

#40560 Combine `issue_comment` workflows
  .github/workflows/comments.yml
  .github/workflows/issue_comment.yml
Labels: repository, github_actions, prioritized

#40574 fix tls cert for `aws_codeconnections_host`
  .changelog/40574.txt
  internal/service/codeconnections/exports_test.go
  internal/service/codeconnections/host.go
  internal/service/codeconnections/host_test.go
Labels: partner, prioritized, service/codeconnections

#38306 New Datasource `aws_servicecatalogappregistry_attribute_group_associations`
  .changelog/38306.txt
  internal/service/servicecatalogappregistry/attribute_group_associations_data_source.go
  internal/service/servicecatalogappregistry/attribute_group_associations_data_source_test.go
  internal/service/servicecatalogappregistry/service_package_gen.go
  website/docs/d/servicecatalogappregistry_attribute_group_associations.html.markdown
Labels: documentation, new-data-source, tests, generators, service/servicecatalogappregistry, partner, prioritized

#40565 [New Service] AWS Application Migration Service (MGN)
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/mgn/generate.go
  internal/service/mgn/service_endpoint_resolver_gen.go
  internal/service/mgn/service_endpoints_gen_test.go
  internal/service/mgn/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: enhancement, new-service

#40584 r/aws_lakeformation_resource_lf_tag: fix destroy panic
  .changelog/40584.txt
  internal/service/lakeformation/resource_lf_tag.go
Labels: bug, crash, service/lakeformation, prioritized

#40566 r/api_gateway_domain_name_access_association - new resource
  .changelog/40566.txt
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/domain_name_access_association.go
  internal/service/apigateway/domain_name_access_association_tags_gen_test.go
  internal/service/apigateway/domain_name_access_association_test.go
  internal/service/apigateway/exports_test.go
  internal/service/apigateway/generate.go
  internal/service/apigateway/list_pages_gen.go
  internal/service/apigateway/service_package_gen.go
  internal/service/apigateway/testdata/DomainNameAccessAssociation/tags/main_gen.tf
  internal/service/apigateway/testdata/DomainNameAccessAssociation/tagsComputed1/main_gen.tf
  internal/service/apigateway/testdata/DomainNameAccessAssociation/tagsComputed2/main_gen.tf
  internal/service/apigateway/testdata/DomainNameAccessAssociation/tags_defaults/main_gen.tf
  internal/service/apigateway/testdata/DomainNameAccessAssociation/tags_ignore/main_gen.tf
  internal/service/apigateway/testdata/tmpl/domain_name_access_association_tags.gtpl
  website/docs/r/api_gateway_domain_name_access_association.html.markdown
Labels: documentation, new-resource, tests, service/apigateway, generators, external-maintainer, prioritized

#40601 r/rds_cluster: fix wait error when modifying `allocated_storage`
  .changelog/40601.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
Labels: bug, tests, service/rds, prioritized

#40617 docs: add missing policy types
  website/docs/r/cloudwatch_log_account_policy.html.markdown
Labels: documentation, service/logs

#40239 New Resource: aws_cloudfront_vpc_origin
  .changelog/40239.txt
  internal/framework/types/listof.go
  internal/framework/types/setof.go
  internal/service/cloudfront/consts.go
  internal/service/cloudfront/continuous_deployment_policy.go
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_test.go
  internal/service/cloudfront/exports_test.go
  internal/service/cloudfront/generate.go
  internal/service/cloudfront/list_vpc_origin_pages_gen.go
  internal/service/cloudfront/service_package_gen.go
  internal/service/cloudfront/sweep.go
  internal/service/cloudfront/vpc_origin.go
  internal/service/cloudfront/vpc_origin_test.go
  website/docs/r/cloudfront_distribution.html.markdown
  website/docs/r/cloudfront_vpc_origin.html.markdown
Labels: enhancement, documentation, new-resource, tests, service/cloudfront, generators, prioritized

#40579 r/aws_resourcegroups_resource: fix crash when attempting to parse arn
  .changelog/40579.txt
  internal/service/resourcegroups/resource.go
  internal/service/resourcegroups/resource_migrate.go
  internal/service/resourcegroups/resource_test.go
  website/docs/r/resourcegroups_resource.html.markdown
Labels: bug, crash, documentation, tests, service/resourcegroups, prioritized

#38600 aws_lakeformation_permissions support AllIAMPrincipals special principal
  .changelog/38600.txt
  internal/service/lakeformation/lakeformation_test.go
  internal/service/lakeformation/permissions_test.go
  internal/service/lakeformation/validate.go
  internal/service/lakeformation/validate_test.go
  website/docs/r/lakeformation_permissions.html.markdown
Labels: bug, documentation, tests, service/lakeformation

#40376 memorydb: add new `multi_region_cluster` resource
  .changelog/40376.txt
  internal/service/memorydb/cluster.go
  internal/service/memorydb/cluster_test.go
  internal/service/memorydb/exports_test.go
  internal/service/memorydb/multi_region_cluster.go
  internal/service/memorydb/multi_region_cluster_test.go
  internal/service/memorydb/service_package_gen.go
  website/docs/r/memorydb_cluster.html.markdown
  website/docs/r/memorydb_multi_region_cluster.html.markdown
Labels: enhancement, documentation, tests, service/memorydb, generators, external-maintainer, prioritized

#40620 tweak CHANGELOG entry for medialive
  .changelog/33797.txt
Labels: prioritized

#40590 Updates to `skaff` templates
  skaff/datasource/datasourcetest.gtpl
  skaff/resource/resourcefw.gtpl
  skaff/resource/resourcetest.gtpl
Labels: skaff, prioritized

#34295 [Bug] `aws_secretsmanager_secret_rotation` not updating days after expression set
  .changelog/34295.txt
  internal/service/secretsmanager/secret_rotation.go
  internal/service/secretsmanager/secret_rotation_test.go
Labels: bug, size/L, tests, service/secretsmanager, prioritized

#40604 SuppressEquivalentJsonDiffs on redrive_allow_policy for aws_sqs_queue_redrive_allow_policy
  .changelog/40604.txt
  internal/service/sqs/queue_data_source.go
  internal/service/sqs/queue_redrive_allow_policy.go
  internal/service/sqs/queue_redrive_allow_policy_test.go
Labels: bug, tests, service/sqs, prioritized

#40568 Add support for EFA enabled Lustre
  .changelog/40381.txt
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
Labels: enhancement, documentation, tests, service/fsx, prioritized

#40621 d/aws_licensemanager_received_license: Fix `setting entitlements: Invalid address to set: []string{"entitlements", "0", "overage"}` errors
  .changelog/40621.txt
  internal/service/licensemanager/received_license_data_source.go
Labels: service/licensemanager, prioritized

#40619 docs: refine terraform plugin package verbiage
  docs/terraform-plugin-development-packages.md
Labels: documentation, prioritized

#40630 docs: Fix description related with performance insights
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds

#40588 feat: add documentation for new feature in appstream_stack
  internal/service/appstream/stack_test.go
  website/docs/r/appstream_stack.html.markdown
Labels: documentation, tests, service/appstream, prioritized

#40550 r/aws_lb_listener: Add advertise_ca_subject_names for mTLS
  .changelog/40550.txt
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_test.go
  website/docs/r/lb_listener.html.markdown
Labels: enhancement, tests, service/elbv2, prioritized

#40636 github workflow: install terraform on post publish check
  .github/workflows/post_publish.yml
Labels: repository, github_actions, prioritized

#40634 autoscaling: add new `availability_zone_distribution` argument
  .archive/changelog/40634.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: enhancement, documentation, tests, service/autoscaling, external-maintainer, prioritized

#40642 Put CHANGELOG entry file in the correct location
  .changelog/40634.txt
Labels: technical-debt, prioritized

#40643 github workflow: fixes to post publish terraform init
  .github/workflows/post_publish.yml
Labels: repository, github_actions, prioritized

#40645 Next release will be `v5.82.1`
  CHANGELOG.md
Labels: documentation, provider, prioritized

#40640 Revert 40562 add validation for iam policy document sid
  .changelog/40562.txt
  .changelog/40639.txt
  internal/service/iam/policy_document_data_source.go
  internal/service/iam/policy_document_data_source_test.go
Labels: bug, tests, service/iam

#40650 Moves API inputs off of heap
  internal/service/accessanalyzer/accessanalyzer_test.go
  internal/service/accessanalyzer/analyzer.go
  internal/service/accessanalyzer/archive_rule.go
  internal/service/accessanalyzer/sweep.go
  internal/service/account/alternate_contact.go
  internal/service/account/primary_contact.go
  internal/service/account/region.go
  internal/service/acm/certificate.go
  internal/service/acm/certificate_data_source.go
  internal/service/acm/certificate_test.go
  internal/service/acm/certificate_validation.go
  internal/service/acm/sweep.go
  internal/service/acmpca/certificate.go
  internal/service/acmpca/certificate_authority.go
  internal/service/acmpca/certificate_authority_certificate.go
  internal/service/acmpca/certificate_authority_data_source.go
  internal/service/acmpca/permission.go
  internal/service/acmpca/policy.go
  internal/service/acmpca/sweep.go
  internal/service/amp/alert_manager_definition.go
  internal/service/amp/default_scraper_configuration_data_source.go
  internal/service/amp/rule_group_namespace.go
  internal/service/amp/scraper.go
  internal/service/amp/scraper_test.go
  internal/service/amp/workspace.go
  internal/service/amp/workspaces_data_source.go
  internal/service/amplify/app.go
  internal/service/amplify/backend_environment.go
  internal/service/amplify/branch.go
  internal/service/amplify/domain_association.go
  internal/service/amplify/sweep.go
  internal/service/amplify/webhook.go
  internal/service/appautoscaling/policy.go
  internal/service/appautoscaling/scheduled_action.go
  internal/service/appautoscaling/target.go
Labels: service/acm, service/acmpca, service/amplify, service/accessanalyzer, generators, service/amp, service/account, service/appautoscaling

#40626 Deprecates some `id` attributes on Framework resources
  .changelog/40626.txt
  internal/framework/stdattributes.go
  internal/service/apigateway/account.go
  internal/service/apigateway/domain_name_access_association.go
  internal/service/appconfig/environment.go
  internal/service/datazone/environment_profile.go
  internal/service/datazone/user_profile.go
  internal/service/lexv2models/bot_locale.go
  internal/service/route53/cidr_location.go
  internal/service/s3/bucket_accelerate_configuration_test.go
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_cors_configuration_test.go
  internal/service/s3/bucket_inventory_test.go
  internal/service/s3/directory_bucket.go
  website/docs/r/api_gateway_domain_name_access_association.html.markdown
  website/docs/r/route53_cidr_location.html.markdown
  website/docs/r/s3_directory_bucket.html.markdown
Labels: documentation, tests, service/s3, service/route53, service/apigateway, prioritized

#40655 `aws-sdk-go-v2` updates (Release 2024-12-19)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, prioritized

#40646 docs: update argument name in resource `aws_msk_replicator`
  website/docs/r/msk_replicator.html.markdown
Labels: documentation, service/kafka

#40653 docs: update RDS Proxy client_password_auth_type supported auth type
  website/docs/r/db_proxy.html.markdown
Labels: documentation, service/rds

#40658 d/aws_lb_listener: Add `mutual_authentication.advertise_trust_store_ca_names` attribute
  .changelog/40658.txt
  internal/service/elbv2/listener_data_source.go
  internal/service/elbv2/listener_data_source_test.go
  internal/service/elbv2/listener_test.go
Labels: bug, tests, service/elbv2, prioritized

#40663 Merge back `v5.82.2` into `main`
  CHANGELOG.md
Labels: documentation, provider, prioritized

#40664 doc: fix example code in documentation for aws_lb_trust_store
  website/docs/r/lb_trust_store.html.markdown
Labels: documentation, service/elbv2

#40673 docs: fix example import block by quoting
  website/docs/r/cloudfront_vpc_origin.html.markdown
Labels: documentation, service/cloudfront

#40674 docs: fix example code for resource aws_resiliencehub_resiliency_policy
  website/docs/r/resiliencehub_resiliency_policy.html.markdown
Labels: documentation, service/resiliencehub

#40676 cdktf: update documentation
  website/docs/cdktf/python/d/dx_gateway.html.markdown
  website/docs/cdktf/python/d/servicecatalogappregistry_attribute_group_associations.html.markdown
  website/docs/cdktf/python/d/vpc_endpoint.html.markdown
  website/docs/cdktf/python/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/amplify_domain_association.html.markdown
  website/docs/cdktf/python/r/api_gateway_domain_name_access_association.html.markdown
  website/docs/cdktf/python/r/appstream_stack.html.markdown
  website/docs/cdktf/python/r/autoscaling_group.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/python/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/python/r/cloudfront_vpc_origin.html.markdown
  website/docs/cdktf/python/r/cloudwatch_log_account_policy.html.markdown
  website/docs/cdktf/python/r/db_proxy.html.markdown
  website/docs/cdktf/python/r/dx_gateway.html.markdown
  website/docs/cdktf/python/r/fsx_lustre_file_system.html.markdown
  website/docs/cdktf/python/r/lakeformation_permissions.html.markdown
  website/docs/cdktf/python/r/lb_listener.html.markdown
  website/docs/cdktf/python/r/memorydb_cluster.html.markdown
  website/docs/cdktf/python/r/memorydb_multi_region_cluster.html.markdown
  website/docs/cdktf/python/r/msk_replicator.html.markdown
  website/docs/cdktf/python/r/networkmanager_attachment_accepter.html.markdown
  website/docs/cdktf/python/r/networkmanager_dx_gateway_attachment.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/python/r/resourcegroups_resource.html.markdown
  website/docs/cdktf/python/r/route53_cidr_location.html.markdown
  website/docs/cdktf/python/r/s3_directory_bucket.html.markdown
  website/docs/cdktf/python/r/verifiedaccess_group.html.markdown
  website/docs/cdktf/python/r/vpc_endpoint.html.markdown
  website/docs/cdktf/typescript/d/dx_gateway.html.markdown
  website/docs/cdktf/typescript/d/servicecatalogappregistry_attribute_group_associations.html.markdown
  website/docs/cdktf/typescript/d/vpc_endpoint.html.markdown
  website/docs/cdktf/typescript/guides/custom-service-endpoints.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/amplify_domain_association.html.markdown
  website/docs/cdktf/typescript/r/api_gateway_domain_name_access_association.html.markdown
  website/docs/cdktf/typescript/r/appstream_stack.html.markdown
  website/docs/cdktf/typescript/r/autoscaling_group.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/typescript/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/typescript/r/cloudfront_vpc_origin.html.markdown
  website/docs/cdktf/typescript/r/cloudwatch_log_account_policy.html.markdown
  website/docs/cdktf/typescript/r/db_proxy.html.markdown
  website/docs/cdktf/typescript/r/dx_gateway.html.markdown
  website/docs/cdktf/typescript/r/fsx_lustre_file_system.html.markdown
  website/docs/cdktf/typescript/r/lakeformation_permissions.html.markdown
  website/docs/cdktf/typescript/r/lb_listener.html.markdown
  website/docs/cdktf/typescript/r/memorydb_cluster.html.markdown
  website/docs/cdktf/typescript/r/memorydb_multi_region_cluster.html.markdown
  website/docs/cdktf/typescript/r/msk_replicator.html.markdown
  website/docs/cdktf/typescript/r/networkmanager_attachment_accepter.html.markdown
  website/docs/cdktf/typescript/r/networkmanager_dx_gateway_attachment.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/resourcegroups_resource.html.markdown
  website/docs/cdktf/typescript/r/route53_cidr_location.html.markdown
  website/docs/cdktf/typescript/r/s3_directory_bucket.html.markdown
  website/docs/cdktf/typescript/r/verifiedaccess_group.html.markdown
  website/docs/cdktf/typescript/r/vpc_endpoint.html.markdown
Labels: documentation, service/s3, service/route53, service/elbv2, service/apigateway, service/rds, service/directconnect, service/cloudfront, service/autoscaling, service/resourcegroups, service/appstream, service/amplify, service/fsx, service/kafka, service/lakeformation, service/networkmanager, service/memorydb, service/logs, service/servicecatalogappregistry, service/vpc, service/verifiedaccess, service/bedrockagent

#40678 docs: fix typo for aws_vpc_peering_connection_options
  website/docs/r/vpc_peering_connection_options.html.markdown
Labels: documentation, service/vpc

#40679 Fix typo in batch_job_queue.html.markdown
  website/docs/r/batch_job_queue.html.markdown
Labels: documentation, service/batch

#40670 r/aws_sesv2_configuration: Fix `delivery_options.max_delivery_seconds` handling
  .changelog/40670.txt
  internal/service/sesv2/configuration_set.go
  internal/service/sesv2/configuration_set_test.go
Labels: tests, service/sesv2, external-maintainer, prioritized

#40594 feat: add cloudwatch log group index policy
  .changelog/40594.txt
  internal/sdkv2/schema.go
  internal/sdkv2/suppress.go
  internal/service/logs/account_policy.go
  internal/service/logs/account_policy_test.go
  internal/service/logs/anomaly_detector.go
  internal/service/logs/anomaly_detector_test.go
  internal/service/logs/arn.go
  internal/service/logs/data_protection_policy.go
  internal/service/logs/data_protection_policy_test.go
  internal/service/logs/destination.go
  internal/service/logs/destination_policy.go
  internal/service/logs/destination_policy_test.go
  internal/service/logs/exports_test.go
  internal/service/logs/generate.go
  internal/service/logs/group.go
  internal/service/logs/group_data_source.go
  internal/service/logs/groups_data_source.go
  internal/service/logs/index_policy.go
  internal/service/logs/index_policy_test.go
  internal/service/logs/list_pages.go
  internal/service/logs/list_pages_gen.go
  internal/service/logs/metric_filter.go
  internal/service/logs/query_definition.go
  internal/service/logs/resource_policy.go
  internal/service/logs/service_package_gen.go
  internal/service/logs/stream.go
  internal/service/logs/subscription_filter.go
  internal/service/logs/subscription_filter_test.go
  internal/service/logs/validate.go
  internal/service/logs/validate_test.go
  website/docs/r/cloudwatch_log_index_policy.html.markdown
Labels: documentation, new-resource, tests, generators, service/logs, prioritized

#40536 r/rds_certificate: add `default_for_new_launches` attribute
  .changelog/40536.txt
  internal/service/rds/certificate_data_source.go
  internal/service/rds/certificate_data_source_test.go
  internal/service/rds/cluster_test.go
  website/docs/d/rds_certificate.html.markdown
Labels: documentation, tests, service/rds, prioritized

#40662 d/aws_cloudwatch_event_buses: new data source
  .changelog/40662.txt
  internal/service/events/buses_data_source.go
  internal/service/events/buses_data_source_test.go
  internal/service/events/service_package_gen.go
  website/docs/d/cloudwatch_event_buses.html.markdown
Labels: documentation, new-data-source, tests, generators, service/events, external-maintainer, prioritized

#40638 feat: new aws_ecs_clusters datasource
  .changelog/40638.txt
  internal/service/ecs/clusters_data_source.go
  internal/service/ecs/clusters_data_source_test.go
  internal/service/ecs/service_package_gen.go
  website/docs/d/ecs_clusters.html.markdown
Labels: documentation, new-data-source, tests, service/ecs, generators, prioritized

#40684 r/aws_ses_identity_notification_topic: Do not fail when deleting not existing resource
  .changelog/40684.txt
  internal/service/ses/identity_notification_topic.go
  internal/service/ses/identity_notification_topic_test.go
Labels: bug, service/ses, external-maintainer, prioritized

#40686 Remove Google Group from README.md
  README.md
Labels: documentation, provider

#40695 Cloudfront distribution logging config documentation update
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, service/cloudfront

#40696 In the resource aws_cloudfront_distribution for argumentrelated to lo…
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, service/cloudfront

#40700 Add support for supports_local_write_forwarding, supports_certificate_rotation_without_restart and supports_integrations
  .changelog/40700.txt
  internal/service/rds/engine_version_data_source.go
  internal/service/rds/engine_version_data_source_test.go
  website/docs/d/rds_engine_version.html.markdown
Labels: enhancement, documentation, tests, service/rds, prioritized

#40704 docs: update Performance Insights documentation for RDS and Aurora clusters
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_cluster_instance.html.markdown
Labels: documentation, service/rds

#40698 add node_repair_config to aws_eks_node_group
  .changelog/40698.txt
  internal/service/eks/node_group.go
  internal/service/eks/node_group_data_source.go
  internal/service/eks/node_group_data_source_test.go
  internal/service/eks/node_group_test.go
  internal/service/eks/node_groups_data_source_test.go
  website/docs/r/eks_node_group.html.markdown
Labels: enhancement, documentation, tests, service/eks, prioritized

#37939 Fix aws_ec2_instance_connect_endpoint/fips_dns_name in non-US regions
  .changelog/37939.txt
  internal/service/ec2/ec2_instance_connect_endpoint.go
  internal/service/ec2/ec2_instance_connect_endpoint_test.go
Labels: bug, size/XS, service/ec2, prioritized

#40708 aws_api_gateway_domain_name - fixed issue when policy is added to private domain name after initial creation
  .changelog/40708.txt
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/domain_name_test.go
Labels: bug, tests, service/apigateway, prioritized

#40719 cdktf: update documentation
  website/docs/cdktf/python/d/cloudwatch_event_buses.html.markdown
  website/docs/cdktf/python/d/ecs_clusters.html.markdown
  website/docs/cdktf/python/d/rds_certificate.html.markdown
  website/docs/cdktf/python/d/rds_engine_version.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/batch_job_queue.html.markdown
  website/docs/cdktf/python/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/python/r/cloudfront_vpc_origin.html.markdown
  website/docs/cdktf/python/r/cloudwatch_log_index_policy.html.markdown
  website/docs/cdktf/python/r/eks_node_group.html.markdown
  website/docs/cdktf/python/r/lb_trust_store.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/python/r/rds_cluster_instance.html.markdown
  website/docs/cdktf/python/r/resiliencehub_resiliency_policy.html.markdown
  website/docs/cdktf/python/r/route53_record.html.markdown
  website/docs/cdktf/python/r/vpc_peering_connection_options.html.markdown
  website/docs/cdktf/typescript/d/cloudwatch_event_buses.html.markdown
  website/docs/cdktf/typescript/d/ecs_clusters.html.markdown
  website/docs/cdktf/typescript/d/rds_certificate.html.markdown
  website/docs/cdktf/typescript/d/rds_engine_version.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/batch_job_queue.html.markdown
  website/docs/cdktf/typescript/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/typescript/r/cloudfront_vpc_origin.html.markdown
  website/docs/cdktf/typescript/r/cloudwatch_log_index_policy.html.markdown
  website/docs/cdktf/typescript/r/eks_node_group.html.markdown
  website/docs/cdktf/typescript/r/lb_trust_store.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster_instance.html.markdown
  website/docs/cdktf/typescript/r/resiliencehub_resiliency_policy.html.markdown
  website/docs/cdktf/typescript/r/route53_record.html.markdown
  website/docs/cdktf/typescript/r/vpc_peering_connection_options.html.markdown
Labels: documentation, service/ecs, service/route53, service/elbv2, service/rds, service/cloudfront, service/batch, service/eks, service/events, service/logs, service/resiliencehub, service/vpc

#40668 Update ROADMAP.md
  ROADMAP.md
Labels: documentation, provider, prioritized

#40710 r/aws_instance: Set `public_dns` and `public_ip` as newly Computed if instance is stopped/started
  .changelog/40710.txt
  internal/acctest/statecheck/expect_not_known_value.go
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_data_source_test.go
  internal/service/ec2/ec2_instance_test.go
Labels: bug, tests, service/ec2, prioritized

#40733 Fix `ROADMAP.md` markdown-lint errors
  ROADMAP.md
Labels: documentation, provider, prioritized

#40732 docs: Retries and Waiters fixes
  docs/retries-and-waiters.md
Labels: documentation, external-maintainer
