Repository hashicorp/terraform-provider-aws, pull requests merged in 2024-02, with the labels that each got.

#32710 add ssm contacts rotation resource and data source
  .changelog/32710.txt
  internal/framework/flex/int.go
  internal/service/ssmcontacts/exports_test.go
  internal/service/ssmcontacts/planmodifiers.go
  internal/service/ssmcontacts/rotation.go
  internal/service/ssmcontacts/rotation_data_source.go
  internal/service/ssmcontacts/rotation_data_source_test.go
  internal/service/ssmcontacts/rotation_test.go
  internal/service/ssmcontacts/service_package_gen.go
  internal/service/ssmcontacts/ssmcontacts_test.go
  internal/service/ssmcontacts/sweep.go
  internal/service/ssmincidents/sweep.go
  internal/sweep/register_gen_test.go
  website/docs/d/ssmcontacts_rotation.html.markdown
  website/docs/r/ssmcontacts_rotation.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, tests, generators, service/ssmcontacts, partner, prioritized

#35407 Add Rekognition collection resource
  .changelog/35407.txt
  internal/service/rekognition/collection.go
  internal/service/rekognition/collection_test.go
  internal/service/rekognition/exports_test.go
  internal/service/rekognition/project_test.go
  internal/service/rekognition/service_package_gen.go
  names/names.go
  website/docs/r/rekognition_collection.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/rekognition, prioritized

#35583 Add improved validation and required acceptance tests for `aws_lb_listener` and `aws_lb_listener_rule`
  .ci/.semgrep-caps-aws-ec2.yml
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  internal/errs/diag.go
  internal/errs/sdkdiag/diags.go
  internal/generate/servicesemgrep/cae.tmpl
  internal/generate/servicesemgrep/service.tmpl
  internal/service/elbv2/const.go
  internal/service/elbv2/export_test.go
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/listener_rule_test.go
  internal/service/elbv2/listener_test.go
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_test.go
Labels: size/XL, tests, service/elbv2, generators, prioritized

#35584 docs: update codestarconnections_connection supported provider_type values
  website/docs/d/codestarconnections_connection.html.markdown
  website/docs/r/codestarconnections_connection.html.markdown
Labels: documentation, size/XS, service/codestarconnections

#35585 fix: Remove MaxItems limitation for `aws_networkmanager_core_network_policy_document` edge_locations
  .changelog/35585.txt
  internal/service/networkmanager/core_network_policy_document_data_source.go
Labels: bug, size/XS, service/networkmanager

#35598 r/aws_rekognition_collection: retry on create
  internal/service/rekognition/collection.go
  website/docs/r/rekognition_collection.html.markdown
Labels: documentation, size/S, service/rekognition, prioritized

#34310 F aws bedrock custom model
  .changelog/34310.txt
  internal/framework/base.go
  internal/framework/types/mapof.go
  internal/framework/types/string_enum.go
  internal/framework/validators/s3_uri.go
  internal/framework/validators/s3_uri_test.go
  internal/service/bedrock/consts.go
  internal/service/bedrock/custom_model.go
  internal/service/bedrock/custom_model_data_source.go
  internal/service/bedrock/custom_model_data_source_test.go
  internal/service/bedrock/custom_model_test.go
  internal/service/bedrock/custom_models_data_source.go
  internal/service/bedrock/custom_models_data_source_test.go
  internal/service/bedrock/errors.go
  internal/service/bedrock/exports_test.go
  internal/service/bedrock/foundation_model_data_source.go
  internal/service/bedrock/foundation_model_data_source_test.go
  internal/service/bedrock/foundation_models_data_source.go
  internal/service/bedrock/foundation_models_data_source_test.go
  internal/service/bedrock/generate.go
  internal/service/bedrock/service_package_gen.go
  internal/service/bedrock/tags_gen.go
  internal/service/bedrock/test-fixtures/train.jsonl
  internal/service/bedrock/test-fixtures/validate.jsonl
  internal/service/route53domains/delegation_signer_record.go
  website/docs/d/bedrock_custom_model.html.markdown
  website/docs/d/bedrock_custom_models.html.markdown
  website/docs/r/bedrock_custom_model.html.markdown
Labels: new-resource, new-data-source, size/XL, tests, tags, generators, partner, prioritized, service/bedrock

#35612 Update flow_log.html.markdown
  website/docs/r/flow_log.html.markdown
Labels: documentation, size/XS, service/vpc

#35606 B fix ssm patching manager to set computed value as new
  .changelog/35606.txt
  internal/service/ssm/default_patch_baseline.go
  internal/service/ssm/exports_test.go
  internal/service/ssm/patch_baseline.go
  internal/service/ssm/patch_baseline_test.go
  internal/service/ssm/service_package_gen.go
  internal/service/ssm/sweep.go
Labels: bug, size/S, tests, service/ssm

#35615 mediaconvert: Use standard Regional endpoints, not per-account endpoints
  .changelog/35615.txt
  go.mod
  go.sum
  internal/conns/awsclient.go
  internal/conns/awsclient_gen.go
  internal/service/mediaconvert/exports_test.go
  internal/service/mediaconvert/generate.go
  internal/service/mediaconvert/queue.go
  internal/service/mediaconvert/queue_data_source.go
  internal/service/mediaconvert/queue_data_source_test.go
  internal/service/mediaconvert/queue_test.go
  internal/service/mediaconvert/service_endpoints_gen_test.go
  internal/service/mediaconvert/service_package_gen.go
  internal/service/mediaconvert/structure.go
  internal/service/mediaconvert/tags_gen.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/mediaconvert, tags, client-connections, generators, prioritized

#35600 Tech Debt: `synthetics` service to AWS Go SDKv2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/synthetics/canary.go
  internal/service/synthetics/canary_test.go
  internal/service/synthetics/find.go
  internal/service/synthetics/generate.go
  internal/service/synthetics/group.go
  internal/service/synthetics/group_association.go
  internal/service/synthetics/group_association_test.go
  internal/service/synthetics/group_test.go
  internal/service/synthetics/retry.go
  internal/service/synthetics/service_endpoints_gen_test.go
  internal/service/synthetics/service_package_gen.go
  internal/service/synthetics/status.go
  internal/service/synthetics/sweep.go
  internal/service/synthetics/tags_gen.go
  internal/service/synthetics/wait.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, technical-debt, service/synthetics, sweeper, tags, client-connections, generators, prioritized

#35354 Feature/aws custom log source
  .changelog/35354.txt
  internal/service/bedrock/custom_model.go
  internal/service/bedrock/custom_model_data_source.go
  internal/service/securitylake/aws_log_source.go
  internal/service/securitylake/aws_log_source_test.go
  internal/service/securitylake/custom_log_source.go
  internal/service/securitylake/custom_log_source_test.go
  internal/service/securitylake/data_lake.go
  internal/service/securitylake/data_lake_test.go
  internal/service/securitylake/errors.go
  internal/service/securitylake/exports_test.go
  internal/service/securitylake/securitylake_test.go
  internal/service/securitylake/service_package_gen.go
  website/docs/r/securitylake_custom_log_source.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, partner, service/securitylake

#35619 Run `go mod tidy`
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, skaff, prioritized

#35633 Update cloudwatch_log_subscription_filter.html.markdown
  website/docs/r/cloudwatch_log_subscription_filter.html.markdown
Labels: documentation, size/XS, service/logs

#35632 Enhancing Documentation for aws_cognito_resource_server with Required Field - user_pool_id
  website/docs/r/cognito_resource_server.html.markdown
Labels: documentation, size/XS, service/cognitoidp

#35628 docs: Add missing multi_az_with_standby_enabled attr desc for aws_opensearch_domain
  website/docs/d/opensearch_domain.html.markdown
  website/docs/r/opensearch_domain.html.markdown
Labels: documentation, size/XS, service/opensearch

#35627 docs: Refer to AWS doc for tls_security_policy valid values for aws_opensearch_domain
  website/docs/r/opensearch_domain.html.markdown
Labels: documentation, size/XS, service/opensearch

#35626 feat: Support Db2 CloudWatch log exports for aws_db_instance
  .changelog/35626.txt
  internal/service/rds/consts.go
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rds

#35546 fix(tests): Update Route53 Registered Domain acceptance test emails
  internal/service/route53domains/registered_domain_test.go
Labels: size/XS, tests, service/route53domains, prioritized

#35488 Updates documentation around Blue/Green Deployments with DB Instances with replicas
  .markdownlint.yml
  docs/design-decisions/rds-bluegreen-deployments.md
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: documentation, size/XS, tests, service/rds, prioritized

#35500 feat: add self managed active directory settings to aws_db_instance
  .changelog/35500.txt
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/rds

#35589 fix(rds): trigger subsequent instance update operation for PITR case masterUserPassword
  .changelog/35589.txt
  internal/service/rds/instance.go
Labels: bug, size/XS, service/rds

#35658 Various sweeper fixes
  internal/service/apigateway/sweep.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_endpoint_connection_accepter.go
  internal/service/eks/sweep.go
  internal/service/finspace/sweep.go
  internal/service/iam/sweep.go
  internal/service/rds/global_cluster.go
  internal/service/s3/sweep.go
  internal/service/sagemaker/notebook_instance.go
  internal/service/sagemaker/sweep.go
  internal/service/ssmcontacts/sweep.go
  internal/sweep/awsv2/skip.go
Labels: size/L, service/iam, service/s3, service/apigateway, service/rds, service/sagemaker, service/eks, sweeper, service/ssmcontacts, service/vpc, service/finspace, prioritized

#35590 feat(aws_s3_bucket_metric): add support for access_point configuration in s3 bucket metric filter
  .changelog/35590.txt
  internal/service/s3/bucket_metric.go
  internal/service/s3/bucket_metric_test.go
  website/docs/r/s3_bucket_metric.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/s3

#35587 Tech debt: Migrate `cloudtrail` resources to AWS SDK for Go v2
  .ci/.golangci2.yml
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/cloudtrail/cloudtrail.go
  internal/service/cloudtrail/cloudtrail_test.go
  internal/service/cloudtrail/event_data_store.go
  internal/service/cloudtrail/event_data_store_test.go
  internal/service/cloudtrail/exports.go
  internal/service/cloudtrail/exports_test.go
  internal/service/cloudtrail/generate.go
  internal/service/cloudtrail/service_account_data_source.go
  internal/service/cloudtrail/service_endpoints_gen_test.go
  internal/service/cloudtrail/service_package_gen.go
  internal/service/cloudtrail/sweep.go
  internal/service/cloudtrail/tags_gen.go
  internal/service/controltower/controls_data_source_test.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/cloudtrail, sweeper, tags, client-connections, generators, service/controltower, prioritized

#35667 r/aws_ssoadmin_application(doc): add note on CreateApplication API limitations
  website/docs/r/ssoadmin_application.html.markdown
Labels: documentation, size/XS, service/ssoadmin, prioritized

#35569 Tech debt: Migrate `cloudwatch` resources to AWS SDK for Go v2
  .changelog/35569.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/cloudwatch/composite_alarm.go
  internal/service/cloudwatch/composite_alarm_test.go
  internal/service/cloudwatch/consts.go
  internal/service/cloudwatch/dashboard.go
  internal/service/cloudwatch/dashboard_test.go
  internal/service/cloudwatch/errors.go
  internal/service/cloudwatch/exports_test.go
  internal/service/cloudwatch/generate.go
  internal/service/cloudwatch/metric_alarm.go
  internal/service/cloudwatch/metric_alarm_test.go
  internal/service/cloudwatch/metric_stream.go
  internal/service/cloudwatch/metric_stream_test.go
  internal/service/cloudwatch/service_endpoints_gen_test.go
  internal/service/cloudwatch/service_package_gen.go
  internal/service/cloudwatch/sweep.go
  internal/service/cloudwatch/tags_gen.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/cloudwatch, technical-debt, sweeper, tags, client-connections, generators, prioritized

#35630 Fix dynamodb make a DescribeTable call per replica
  .changelog/35630.txt
  internal/service/dynamodb/errors.go
  internal/service/dynamodb/exports_test.go
  internal/service/dynamodb/find.go
  internal/service/dynamodb/kinesis_streaming_destination.go
  internal/service/dynamodb/kinesis_streaming_destination_test.go
  internal/service/dynamodb/service_package_gen.go
  internal/service/dynamodb/status.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_replica.go
  internal/service/dynamodb/table_test.go
  internal/service/dynamodb/wait.go
Labels: bug, size/S, service/dynamodb, eventual-consistency

#35672 r/aws_kinesis_firehose_delivery_stream: Change `parameters` from `TypeList` to `TypeSet`
  .changelog/35672.txt
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
Labels: size/S, tests, service/firehose, prioritized

#35659 [docs] CodeBuild Project attribute clarifications
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, size/XS, service/codebuild

#35686 lack of support for http api gateway doc
  website/docs/r/wafv2_web_acl_association.html.markdown
Labels: documentation, size/XS, service/wafv2

#35665 Tech Debt: convert mediastore to AWS Go SDKv2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/mediastore/container.go
  internal/service/mediastore/container_policy.go
  internal/service/mediastore/container_policy_test.go
  internal/service/mediastore/container_test.go
  internal/service/mediastore/exports_test.go
  internal/service/mediastore/generate.go
  internal/service/mediastore/service_endpoints_gen_test.go
  internal/service/mediastore/service_package_gen.go
  internal/service/mediastore/tags_gen.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/mediastore, technical-debt, tags, client-connections, generators, prioritized

#35671 Fixes errors with `target_group_arn` and `forward` for `aws_lb_listener` and `aws_lb_listener_rule`
  .changelog/35671.txt
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_certificate_test.go
  internal/service/elbv2/listener_data_source.go
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/listener_rule_test.go
  internal/service/elbv2/listener_test.go
  website/docs/r/lb_listener.html.markdown
  website/docs/r/lb_listener_rule.html.markdown
Labels: bug, size/XL, tests, service/elbv2, prioritized

#35678 Fixes unexpected diff for `aws_lb_listener` and `aws_lb_listener_rule`
  .changelog/35678.txt
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_rule.go
  internal/service/elbv2/listener_rule_test.go
  internal/service/elbv2/listener_test.go
Labels: size/XL, tests, service/elbv2, prioritized

#35707 docs: update vpclattice docs
  website/docs/r/vpclattice_listener.html.markdown
  website/docs/r/vpclattice_service.html.markdown
Labels: documentation, size/XS, service/vpclattice

#35582 [New Resource]: OpenSearch Ingestion Pipeline
  .changelog/35582.txt
  internal/service/osis/consts.go
  internal/service/osis/exports_test.go
  internal/service/osis/generate.go
  internal/service/osis/pipeline.go
  internal/service/osis/pipeline_test.go
  internal/service/osis/service_package_gen.go
  internal/service/osis/tags_gen.go
  names/names.go
  website/docs/r/osis_pipeline.html.markdown
Labels: documentation, new-resource, size/XL, tests, tags, generators, partner, service/osis

#35708 Agents for Amazon Bedrock: Service Client without implementation
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/bedrockagent/generate.go
  internal/service/bedrockagent/service_endpoints_gen_test.go
  internal/service/bedrockagent/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: size/XS, repository, github_actions

#35694 Resolve logging_config consecutive diff issue
  .changelog/35694.txt
  internal/service/lambda/function.go
  internal/service/lambda/function_test.go
Labels: bug, size/S, tests, service/lambda, partner

#34367 fix: Properly normalize allocation_strategy values for aws_emr_cluster
  .changelog/34367.txt
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
  internal/service/emr/instance_fleet_test.go
  internal/service/emr/managed_scaling_policy_test.go
  website/docs/r/emr_instance_fleet.html.markdown
Labels: bug, documentation, size/XS, tests, service/emr

#35709 resource/aws_s3_bucket: Fixes acceptance tests
  internal/service/s3/bucket_test.go
Labels: size/M, tests, service/s3, prioritized

#34055 Feature: Add KMS Support to Verified Access Group
  .changelog/34055.txt
  internal/service/ec2/verifiedaccess_group.go
  internal/service/ec2/verifiedaccess_group_test.go
  website/docs/r/verifiedaccess_group.html.markdown
Labels: enhancement, documentation, size/L, tests, partner, service/verifiedaccess, prioritized

#35679 [Docs] Added help migrating from RDS Serverless v1 to Serverless v2
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds

#35687 aws_lexv2models_slot - Correct locale_id example to aws_lexv2models_bot_locale
  website/docs/r/lexv2models_slot.html.markdown
Labels: documentation, size/XS, service/lexv2models

#34483 Fixed docs for data.aws_cloudfront_origin_access_identity
  website/docs/d/cloudfront_origin_access_identity.html.markdown
Labels: documentation, size/XS, service/cloudfront

#35698 rds: Improve version/instance data sources
  .changelog/35698.txt
  go.mod
  go.sum
  internal/service/neptune/cluster_instance.go
  internal/service/neptune/sweep.go
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
  internal/service/rds/consts_test.go
  internal/service/rds/engine_version_data_source.go
  internal/service/rds/engine_version_data_source_test.go
  internal/service/rds/instance_automated_backups_replication_test.go
  internal/service/rds/instance_test.go
  internal/service/rds/option_group_test.go
  internal/service/rds/orderable_instance_data_source.go
  internal/service/rds/orderable_instance_data_source_test.go
  internal/service/rds/parameter_group_data_source.go
  internal/service/rds/parameter_group_data_source_test.go
  internal/service/rds/service_package_gen.go
  website/docs/d/db_parameter_group.markdown
  website/docs/d/rds_engine_version.html.markdown
  website/docs/d/rds_orderable_db_instance.html.markdown
  website/docs/r/neptune_cluster_instance.html.markdown
Labels: documentation, size/XL, tests, service/rds, prioritized

#35736 r/aws_eks_access_policy_association: Retry Create on IAM eventual consistency errors
  .changelog/35736.txt
  internal/service/eks/access_policy_association.go
Labels: bug, size/XS, service/eks, eventual-consistency, prioritized

#35738 r/medialive_channel: add `client_cache` to HLS group settings
  .changelog/35738.txt
  internal/service/medialive/channel.go
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/channel_test.go
Labels: bug, size/XS, tests, service/medialive, prioritized

#35542 Add 'timeout' attribute to Glue Trigger create, update and delete
  .changelog/35542.txt
  internal/service/glue/trigger.go
  internal/service/glue/trigger_test.go
  internal/service/glue/wait.go
  website/docs/r/glue_trigger.html.markdown
Labels: enhancement, size/XS, service/glue, timeouts, prioritized

#35740 IAM: Participate in transparent tagging
  internal/service/iam/account_password_policy.go
  internal/service/iam/exports.go
  internal/service/iam/exports_test.go
  internal/service/iam/group.go
  internal/service/iam/group_membership.go
  internal/service/iam/group_test.go
  internal/service/iam/instance_profile.go
  internal/service/iam/instance_profile_data_source.go
  internal/service/iam/openid_connect_provider.go
  internal/service/iam/policy.go
  internal/service/iam/role.go
  internal/service/iam/role_data_source.go
  internal/service/iam/role_test.go
  internal/service/iam/saml_provider.go
  internal/service/iam/saml_provider_data_source.go
  internal/service/iam/server_certificate.go
  internal/service/iam/service_linked_role.go
  internal/service/iam/service_linked_role_test.go
  internal/service/iam/service_package_gen.go
  internal/service/iam/session_context_data_source.go
  internal/service/iam/sweep.go
  internal/service/iam/tags.go
  internal/service/iam/user.go
  internal/service/iam/user_group_membership.go
  internal/service/iam/user_login_profile.go
  internal/service/iam/user_login_profile_test.go
  internal/service/iam/user_ssh_key.go
  internal/service/iam/virtual_mfa_device.go
  internal/service/iam/wait.go
  internal/service/rds/cluster_role_association_test.go
  internal/service/servicecatalog/product.go
  internal/service/servicecatalog/product_data_source.go
  internal/service/servicecatalog/service_package_gen.go
  internal/service/servicecatalog/tags.go
  internal/service/servicecatalog/wait.go
Labels: size/XL, tests, service/iam, service/rds, service/servicecatalog, sweeper, generators, prioritized

#35743 Tech debt: `d.HasChangesExcept("tags_all", "tags")` -> `d.HasChangesExcept("tags", "tags_all")`
  internal/service/backup/report_plan.go
  internal/service/cloud9/environment_ec2.go
  internal/service/cognitoidentity/pool.go
  internal/service/fsx/openzfs_snapshot.go
  internal/service/sagemaker/project.go
  internal/service/storagegateway/nfs_file_share.go
Labels: size/XS, technical-debt, tags, prioritized

#35745 r/aws_instance: Fix `ReservationCapacityExceeded` errors
  .changelog/33412.txt
  internal/service/autoscaling/launch_configuration_test.go
  internal/service/ec2/ec2_ami_data_source_test.go
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_state.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/ec2_spot_fleet_request_test.go
Labels: size/L, tests, service/ec2, service/autoscaling, prioritized

#35760 Add s3_bucket_arn to codeartifact domain resource
  .changelog/35760.txt
  internal/service/codeartifact/domain.go
  internal/service/codeartifact/domain_test.go
  website/docs/r/codeartifact_domain.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/codeartifact

#35764 Tech debt: Migrate `cloudsearch` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/flex/flex.go
  internal/service/cloudsearch/domain.go
  internal/service/cloudsearch/domain_service_access_policy.go
  internal/service/cloudsearch/domain_service_access_policy_test.go
  internal/service/cloudsearch/domain_test.go
  internal/service/cloudsearch/exports_test.go
  internal/service/cloudsearch/service_endpoints_gen_test.go
  internal/service/cloudsearch/service_package_gen.go
  internal/service/cloudsearch/sweep.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/cloudsearch, sweeper, client-connections, flex, generators, prioritized

#33393 ecs/account_setting_default: Remove validation on `value` value
  .changelog/33393.txt
  internal/service/ecs/account_setting_default.go
  internal/service/ecs/account_setting_default_test.go
  internal/service/ecs/service_package_gen.go
  website/docs/r/ecs_account_setting_default.html.markdown
Labels: bug, documentation, size/XS, service/ecs

#34402 Added ClientToken to ECS Task Execution Data Source
  .changelog/34402.txt
  internal/service/ecs/task_execution_data_source.go
  internal/service/ecs/task_execution_data_source_test.go
  website/docs/d/ecs_task_execution.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/ecs

#35769 Verified Access: Limit acceptance test concurrency
  docs/acc-test-environment-variables.md
  internal/acctest/acctest.go
  internal/envvar/envvar.go
  internal/experimental/sync/sync.go
  internal/service/ec2/find.go
  internal/service/ec2/sweep.go
  internal/service/ec2/verifiedaccess_endpoint_test.go
  internal/service/ec2/verifiedaccess_group_test.go
  internal/service/ec2/verifiedaccess_instance.go
  internal/service/ec2/verifiedaccess_instance_logging_configuration.go
  internal/service/ec2/verifiedaccess_instance_logging_configuration_test.go
  internal/service/ec2/verifiedaccess_instance_test.go
  internal/service/ec2/verifiedaccess_instance_trust_provider_attachment.go
  internal/service/ec2/verifiedaccess_instance_trust_provider_attachment_test.go
  internal/service/ec2/verifiedaccess_test.go
  internal/service/ec2/verifiedaccess_trust_provider.go
  internal/service/ec2/vpnclient_authorization_rule_test.go
  internal/service/ec2/vpnclient_endpoint_data_source_test.go
  internal/service/ec2/vpnclient_endpoint_test.go
  internal/service/ec2/vpnclient_network_association_test.go
  internal/service/ec2/vpnclient_route_test.go
  internal/service/ec2/vpnclient_test.go
Labels: documentation, size/XL, tests, sweeper, service/vpnclient, service/verifiedaccess, prioritized

#30154 r/aws_ecs_task_definition: add track_latest attribute
  .changelog/30154.txt
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_test.go
  website/docs/r/ecs_task_definition.html.markdown
Labels: enhancement, documentation, size/XS, service/ecs

#35757 Correct issue with unlabel-on-milestone-closed
  .ci/scripts/unlabel-on-milestone-closed.sh
Labels: size/XS, linter, prioritized

#35684 f-aws_ecs_service-service_connect_tls
  .changelog/35684.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
  website/docs/r/ecs_service.html.markdown
Labels: enhancement, documentation, size/L, tests, service/ecs

#35772 r/aws_vpn_gateway: Fix acceptance tests
  internal/service/ec2/status.go
  internal/service/ec2/vpnsite_gateway.go
  internal/service/ec2/vpnsite_gateway_test.go
  internal/service/ec2/wait.go
  internal/service/elbv2/listener_rule_test.go
Labels: size/M, tests, service/vpnsite, prioritized

#35771 [New Resource]: `aws_redshift_data_share_consumer_association`
  .changelog/35771.txt
  internal/service/redshift/data_share_authorization.go
  internal/service/redshift/data_share_consumer_association.go
  internal/service/redshift/data_share_consumer_association_test.go
  internal/service/redshift/exports_test.go
  internal/service/redshift/service_package_gen.go
  website/docs/r/redshift_data_share_consumer_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/redshift, generators, prioritized

#35776 cloudfront: Add support for AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/cloudfront/service_endpoints_gen_test.go
  internal/service/cloudfront/service_package_gen.go
  names/data/names_data.csv
Labels: size/M, tests, service/cloudfront, client-connections, generators, prioritized

#35754 [Docs]: Correct default rotate_immediately argument for aws_secretsmanager_secret_rotation
  website/docs/r/secretsmanager_secret_rotation.html.markdown
Labels: documentation, size/XS, service/secretsmanager, needs-triage

#35774 Fix launch template bug with versions
  .changelog/35774.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
Labels: bug, regression, size/S, tests, service/autoscaling, prioritized

#35116 r/sagemaker_space - add args
  .changelog/35116.txt
  internal/service/sagemaker/sagemaker_test.go
  internal/service/sagemaker/space.go
  internal/service/sagemaker/space_test.go
  website/docs/r/sagemaker_space.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/sagemaker, external-maintainer, prioritized

#35663 New Resource: aws_cloudfront_key_value_store
  .changelog/35663.txt
  internal/service/cloudfront/exports_test.go
  internal/service/cloudfront/key_value_store.go
  internal/service/cloudfront/key_value_store_test.go
  internal/service/cloudfront/service_package_gen.go
  names/data/names_data.csv
  website/docs/r/cloudfront_key_value_store.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/cloudfront, generators, prioritized

#34753 fix: Wait until RAM resource share available after accepting the invitation
  .changelog/34753.txt
  internal/service/ram/resource_share_accepter.go
Labels: bug, size/XS, service/ram, prioritized

#35795 td/aws_sns_topic_policy: fix disappears test
  internal/service/sns/topic_policy.go
Labels: size/XS, service/sns, prioritized

#35775 Fix assorted S3 bucket configuration resources
  .changelog/35775.txt
  internal/service/s3/bucket_acl.go
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_analytics_configuration_test.go
  internal/service/s3/bucket_cors_configuration_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  website/docs/r/s3_bucket_acl.html.markdown
Labels: documentation, size/XL, tests, service/s3, prioritized

#35744 `r/aws_route53_resolver_rule`: add `protocols`
  .changelog/35744.txt
  internal/service/route53resolver/rule.go
  internal/service/route53resolver/rule_test.go
Labels: enhancement, size/M, tests, service/route53resolver

#35790 Update fms_policy.html.markdown
  website/docs/r/fms_policy.html.markdown
Labels: documentation, service/fms, needs-triage

#35800 r/aws_ram_resource_share_accepter: handle out-of-band resource deletion
  .changelog/35800.txt
  internal/service/ram/resource_share_accepter.go
Labels: size/XS, service/ram, prioritized

#35799 r/aws_glue_catalog_database: add `federated_database` argument
  .changelog/35799.txt
  internal/service/glue/catalog_database.go
  internal/service/glue/catalog_database_test.go
  internal/service/lakeformation/resource.go
  website/docs/r/glue_catalog_database.html.markdown
Labels: documentation, size/L, tests, service/glue, service/lakeformation, prioritized

#35631 feat: Add introspection and limit args to aws_appsync_graphql_api
  .changelog/35631.txt
  internal/service/appsync/appsync_test.go
  internal/service/appsync/graphql_api.go
  internal/service/appsync/graphql_api_test.go
  website/docs/r/appsync_graphql_api.html.markdown
Labels: enhancement, documentation, size/L, tests, service/appsync

#35778 Fix bug in `aws_datasync_task`
  .changelog/35778.txt
  internal/service/datasync/task.go
  website/docs/r/datasync_task.html.markdown
Labels: bug, documentation, size/M, service/datasync, prioritized

#34475 Implement credential_arn for ecr pull cache through rules
  .changelog/34475.txt
  internal/service/ecr/exports_test.go
  internal/service/ecr/find.go
  internal/service/ecr/pull_through_cache_rule.go
  internal/service/ecr/pull_through_cache_rule_data_source.go
  internal/service/ecr/pull_through_cache_rule_data_source_test.go
  internal/service/ecr/pull_through_cache_rule_test.go
  internal/service/ecr/service_package_gen.go
  website/docs/d/ecr_pull_through_cache_rule.html.markdown
  website/docs/r/ecr_pull_through_cache_rule.html.markdown
Labels: enhancement, size/M, tests, service/ecr, prioritized

#35689 r/aws_bedrock_provisioned_model_throughput: New resource
  .changelog/35689.txt
  internal/framework/flex/auto_expand.go
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/autoflex_test.go
  internal/framework/types/list_nested_objectof.go
  internal/framework/types/nested_object.go
  internal/framework/types/object_map.go
  internal/framework/types/object_mapof.go
  internal/framework/types/object_mapof_test.go
  internal/framework/types/objectof.go
  internal/framework/types/set_nested_objectof.go
  internal/service/appsync/datasource_test.go
  internal/service/appsync/resolver.go
  internal/service/appsync/service_package_gen.go
  internal/service/bedrock/exports_test.go
  internal/service/bedrock/model_invocation_logging_configuration.go
  internal/service/bedrock/model_invocation_logging_configuration_test.go
  internal/service/bedrock/provisioned_model_throughput.go
  internal/service/bedrock/provisioned_model_throughput_test.go
  internal/service/bedrock/service_package_gen.go
  website/docs/r/bedrock_model_invocation_logging_configuration.html.markdown
  website/docs/r/bedrock_provisioned_model_throughput.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/appsync, generators, prioritized, service/bedrock

#34777 Add routing config support to Sagemaker Endpoint Configuration
  .changelog/34777.txt
  internal/service/sagemaker/endpoint_configuration.go
  internal/service/sagemaker/endpoint_configuration_test.go
  website/docs/r/sagemaker_endpoint_configuration.html.markdown
Labels: enhancement, documentation, size/M, tests, service/sagemaker, prioritized

#35789 Added service client for the new service Cost Optimization Hub
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/service_packages_gen.go
  internal/service/costoptimizationhub/generate.go
  internal/service/costoptimizationhub/service_endpoints_gen_test.go
  internal/service/costoptimizationhub/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, sweeper, repository, client-connections, generators, github_actions, new-service

#35822 td/shield: fix various tests
  internal/service/shield/drt_access_log_bucket_association_test.go
  internal/service/shield/drt_access_role_arn_association.go
  internal/service/shield/drt_access_role_arn_association_test.go
  internal/service/shield/protection_group_test.go
  internal/service/shield/shield_test.go
Labels: size/S, tests, service/shield, prioritized

#35814 Added cloudfrontkeyvaluestore service.
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/generate/serviceendpointtests/main.go
  internal/provider/service_packages_gen.go
  internal/service/cloudfrontkeyvaluestore/generate.go
  internal/service/cloudfrontkeyvaluestore/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.csv
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, sweeper, repository, client-connections, generators, github_actions, new-service

#35821 Fix update operation for authorizer id on apigatewayv2 route
  .changelog/35821.txt
  internal/service/apigatewayv2/route.go
  internal/service/apigatewayv2/route_test.go
Labels: bug, size/XS, tests, service/apigatewayv2

#35832 Upgrade to go1.21 and make: Fix tidying
  .ci/providerlint/go.mod
  .ci/providerlint/go.sum
  .ci/tools/go.mod
  .ci/tools/go.sum
  .go-version
  .teamcity/scripts/sanity.sh
  GNUmakefile
  go.mod
  go.sum
  skaff/go.mod
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, provider, linter, repository, skaff, prioritized

#35835 Go mod tidy
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XS, prioritized

#35837 Add changelog for go1.21 upgrade
  .changelog/35832.txt
  .devcontainer/devcontainer.json
Labels: size/XS, prioritized

#35836 r/aws_route53_record: Add `geoproximity_routing_policy` configuration block
  .changelog/35565.txt
  internal/service/route53/record.go
  internal/service/route53/record_test.go
  website/docs/r/route53_record.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/route53, prioritized

#35838 Fix changelog
  .changelog/35832.txt
Labels: size/XS, prioritized

#35839 Remove toolchain directive
  .ci/tools/go.mod
Labels: linter, prioritized

#35854 Update ec2_client_vpn_network_association.html.markdown.
  website/docs/r/ec2_client_vpn_network_association.html.markdown
Labels: documentation, size/XS, service/vpnclient

#35841 Tech Debt: migrate `shield` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/shield/application_layer_automatic_response.go
  internal/service/shield/application_layer_automatic_response_test.go
  internal/service/shield/drt_access_log_bucket_association.go
  internal/service/shield/drt_access_log_bucket_association_test.go
  internal/service/shield/drt_access_role_arn_association.go
  internal/service/shield/drt_access_role_arn_association_test.go
  internal/service/shield/generate.go
  internal/service/shield/protection.go
  internal/service/shield/protection_group.go
  internal/service/shield/protection_group_test.go
  internal/service/shield/protection_health_check_association.go
  internal/service/shield/protection_health_check_association_test.go
  internal/service/shield/protection_test.go
  internal/service/shield/service_endpoints_gen_test.go
  internal/service/shield/service_package.go
  internal/service/shield/tags_gen.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, service/shield, tags, client-connections, generators, prioritized

#35844 resource/aws_prometheus_scraper: Fix `Provider returned invalid result object after apply` error
  .changelog/35844.txt
  internal/service/amp/scraper.go
  internal/service/amp/scraper_test.go
Labels: size/S, tests, service/amp, prioritized

#35840 d/aws_ec2_instance_type maximum_network_cards
  .changelog/35840.txt
  internal/service/ec2/ec2_instance_type_data_source.go
  internal/service/ec2/ec2_instance_type_data_source_test.go
  website/docs/d/ec2_instance_type.html.markdown
Labels: size/XS, tests, service/ec2, partner

#35720 r/aws_redshiftserverless_workgroup: Add max_capacity argument
  .changelog/35720.txt
  internal/service/redshiftserverless/workgroup.go
  internal/service/redshiftserverless/workgroup_test.go
  website/docs/r/redshiftserverless_workgroup.html.markdown
Labels: enhancement, documentation, size/S, tests, service/redshiftserverless

#35599 Tech debt: Migrate `cloud9` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/cloud9/environment_ec2.go
  internal/service/cloud9/environment_ec2_test.go
  internal/service/cloud9/environment_membership.go
  internal/service/cloud9/environment_membership_test.go
  internal/service/cloud9/exports_test.go
  internal/service/cloud9/find.go
  internal/service/cloud9/generate.go
  internal/service/cloud9/service_endpoints_gen_test.go
  internal/service/cloud9/service_package_gen.go
  internal/service/cloud9/status.go
  internal/service/cloud9/sweep.go
  internal/service/cloud9/tags_gen.go
  internal/service/cloud9/wait.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, technical-debt, service/cloud9, sweeper, tags, client-connections, generators, prioritized

#35860 b/aws_caller_identity: fix error when `sts_region` is different from `default_region`
  .changelog/35860.txt
  internal/service/sts/caller_identity_data_source_test.go
  internal/service/sts/service_package.go
Labels: bug, regression, size/S, tests, service/sts, prioritized

#35862 f/redshiftserverless: add AWS SDK for Go V2 client to implement new resource for custom domain association
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/redshiftserverless/service_endpoints_gen_test.go
  internal/service/redshiftserverless/service_package_gen.go
  names/data/names_data.csv
Labels: size/M, tests, client-connections, generators, service/redshiftserverless

#35861 Add eventual consistency protection on queue policy attributes
  .changelog/35861.txt
  internal/service/sqs/attribute_funcs.go
  internal/service/sqs/consts.go
Labels: bug, size/XS, service/sqs, eventual-consistency

#35864 remove toolchain directive
  .github/workflows/generate_changelog.yml
  go.mod
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XS, linter, prioritized

#35880 Additional `golangci-lint` linters
  .ci/.golangci2.yml
  internal/acctest/acctest.go
  internal/acctest/context.go
  internal/acctest/crypto.go
  internal/acctest/vcr.go
  internal/conns/config_test.go
  internal/errs/diag.go
  internal/errs/fwdiag/diags.go
  internal/service/apigatewayv2/api.go
  internal/service/apigatewayv2/api_data_source.go
  internal/service/apigatewayv2/domain_name.go
  internal/service/apigatewayv2/vpc_link.go
  internal/service/apigatewayv2/vpc_link_data_source.go
  internal/service/appautoscaling/policy.go
  internal/service/applicationinsights/application.go
  internal/service/appstream/stack.go
  internal/service/appsync/resolver.go
  internal/service/budgets/budget.go
  internal/service/budgets/budget_data_source.go
  internal/service/comprehend/document_classifier.go
  internal/service/comprehend/entity_recognizer.go
  internal/service/configservice/aggregate_authorization.go
  internal/service/configservice/config_rule.go
  internal/service/configservice/configservice.go
  internal/service/configservice/flex.go
  internal/service/cur/report_definition.go
  internal/service/datasync/agent.go
  internal/service/devicefarm/device_pool.go
  internal/service/efs/access_point.go
  internal/service/efs/access_point_data_source.go
  internal/service/efs/file_system.go
  internal/service/efs/file_system_data_source.go
  internal/service/efs/mount_target.go
  internal/service/efs/mount_target_data_source.go
  internal/service/eks/token.go
  internal/service/eks/token_test.go
  internal/service/glue/connection_test.go
  internal/service/glue/crawler_test.go
  internal/service/servicequotas/acc_test.go
  internal/service/servicequotas/service_quota_data_source_test.go
  internal/service/servicequotas/service_quota_test.go
  internal/service/storagegateway/gateway.go
  names/data/read.go
Labels: size/XL, tests, service/configservice, service/storagegateway, service/efs, service/budgets, service/appsync, service/glue, technical-debt, service/devicefarm, service/appstream, service/eks, service/datasync, service/apigatewayv2, service/comprehend, service/applicationinsights, service/servicequotas, client-connections, service/appautoscaling, service/cur, prioritized

#35881 Update Workspaces KMS documentation.
  website/docs/r/workspaces_workspace.html.markdown
Labels: documentation, service/workspaces

#35888 [feat] add arn attribute to aws_codedeploy_deployment_config
  .changelog/35888.txt
  internal/service/deploy/deployment_config.go
  internal/service/deploy/deployment_config_test.go
  website/docs/r/codedeploy_deployment_config.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/deploy

#35874 fix: Fix EKS cluster name regex
  .changelog/35874.txt
  internal/service/eks/validate.go
  internal/service/eks/validate_test.go
  website/docs/d/eks_access_entry.html.markdown
  website/docs/d/eks_addon.html.markdown
  website/docs/d/eks_cluster.html.markdown
  website/docs/r/eks_access_entry.html.markdown
  website/docs/r/eks_access_policy_association.html.markdown
  website/docs/r/eks_addon.html.markdown
  website/docs/r/eks_cluster.html.markdown
  website/docs/r/eks_fargate_profile.html.markdown
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, size/XS, tests, service/eks

#35885 Tech debt: Migrate `cloudhsmv2` resources to AWS SDK for Go v2
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/cloudhsmv2/cluster.go
  internal/service/cloudhsmv2/cluster_data_source.go
  internal/service/cloudhsmv2/cluster_data_source_test.go
  internal/service/cloudhsmv2/cluster_test.go
  internal/service/cloudhsmv2/exports_test.go
  internal/service/cloudhsmv2/find.go
  internal/service/cloudhsmv2/generate.go
  internal/service/cloudhsmv2/hsm.go
  internal/service/cloudhsmv2/hsm_test.go
  internal/service/cloudhsmv2/service_endpoints_gen_test.go
  internal/service/cloudhsmv2/service_package_gen.go
  internal/service/cloudhsmv2/status.go
  internal/service/cloudhsmv2/sweep.go
  internal/service/cloudhsmv2/tags_gen.go
  internal/service/cloudhsmv2/wait.go
  names/data/names_data.csv
  names/names.go
Labels: size/XL, tests, technical-debt, service/cloudhsmv2, sweeper, tags, client-connections, generators, prioritized

#35875 feat: Add execution_mode arg to aws_codepipeline
  .changelog/35875.txt
  internal/service/codepipeline/codepipeline.go
  internal/service/codepipeline/codepipeline_test.go
  website/docs/r/codepipeline.html.markdown
Labels: documentation, size/XS, tests, service/codepipeline

#35872 docs: updated s3_bucket_notification docs
  website/docs/r/s3_bucket_notification.html.markdown
Labels: documentation, size/XS, service/s3

#35870 [Enhancement] : Validation function for RDS performance_insights_retention_period attribute
  .changelog/35870.txt
  internal/service/rds/instance.go
Labels: enhancement, size/XS, tests, service/rds

#27262 resource/aws_config_configuration_recorder add retention period
  .changelog/35527.txt
  internal/service/configservice/configuration_recorder.go
  internal/service/configservice/configuration_recorder_test.go
  internal/service/configservice/flex.go
  website/docs/r/config_configuration_recorder.html.markdown
Labels: enhancement, documentation, size/M, tests, service/configservice

#35879 feat: Add support for 2 new security_policy_name (2024-01)
  .changelog/35879.txt
  internal/service/transfer/enum.go
  internal/service/transfer/exports_test.go
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  internal/service/transfer/service_package_gen.go
  internal/service/transfer/sweep.go
  website/docs/cdktf/python/r/transfer_server.html.markdown
  website/docs/cdktf/typescript/r/transfer_server.html.markdown
  website/docs/r/transfer_server.html.markdown
Labels: enhancement, size/M, service/transfer

#34364 aws_lb_target_group: Add lb_arns attribute
  .changelog/34364.txt
  internal/service/elbv2/target_group.go
  internal/service/elbv2/target_group_attachment_test.go
  internal/service/elbv2/target_group_data_source.go
  internal/service/elbv2/target_group_data_source_test.go
  internal/service/elbv2/target_group_test.go
  website/docs/r/lb_target_group.html.markdown
Labels: enhancement, size/S, tests, service/elbv2, prioritized

#35917 Update eks_node_group.html.markdown
  website/docs/r/eks_node_group.html.markdown
Labels: documentation, size/XS, service/eks

#35924 Latest `aws-sdk-go` modules
  go.mod
  go.sum
Labels: dependencies, size/XL, prioritized

#35926 Add provider `token_bucket_rate_limiter_capacity` parameter
  .changelog/35926.txt
  internal/acctest/vcr.go
  internal/conns/awsclient.go
  internal/conns/awsclient_test.go
  internal/conns/config.go
  internal/conns/config_test.go
  internal/provider/fwprovider/provider.go
  internal/provider/provider.go
  internal/provider/provider_acc_test.go
  internal/provider/provider_config_test.go
  internal/service/apigateway/deployment.go
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/domain_name_data_source.go
  internal/service/apigateway/stage.go
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_data_source.go
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_domain.go
  internal/service/ec2/ec2_eip.go
  internal/service/ec2/ec2_eip_data_source.go
  internal/service/efs/file_system.go
  internal/service/efs/file_system_data_source.go
  internal/service/efs/mount_target.go
  internal/service/efs/mount_target_data_source.go
  internal/service/globalaccelerator/accelerator.go
  internal/service/globalaccelerator/accelerator_data_source.go
  internal/service/globalaccelerator/custom_routing_accelerator.go
  internal/service/globalaccelerator/custom_routing_accelerator_data_source.go
  internal/service/kms/key_policy.go
  internal/service/meta/partition_data_source.go
  internal/service/meta/partition_data_source_test.go
  internal/service/meta/service_data_source.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_data_source.go
  internal/service/s3/bucket_data_source_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/sweep.go
  internal/service/s3control/access_point.go
  internal/service/s3control/multi_region_access_point.go
  internal/service/s3control/multi_region_access_point_data_source.go
  internal/service/sagemaker/prebuilt_ecr_image_data_source.go
  internal/service/transfer/server.go
  internal/service/transfer/server_data_source.go
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/docs/index.html.markdown
Labels: documentation, size/XL, tests, service/ec2, service/s3, service/apigateway, service/cloudfront, service/sagemaker, service/efs, service/kms, provider, service/s3control, service/transfer, service/globalaccelerator, sweeper, client-connections, service/cognitoidp, prioritized, service/meta

#35936 redshift: add v2 aws sdk client
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/redshift/service_endpoints_gen_test.go
  internal/service/redshift/service_package_gen.go
  names/data/names_data.csv
Labels: size/M, tests, service/redshift, client-connections, generators, prioritized

#35938 make: Default tidy to default Go version
  .github/workflows/dependencies.yml
  GNUmakefile
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: repository, prioritized

#35943 Correct CHANGELOG entry
  .changelog/34046.txt
Labels: size/XS, prioritized

#35955 r/aws_ec2_instance/spot_instance_request: add configurable `read` timeout
  .changelog/35955.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_data_source.go
  internal/service/ec2/ec2_spot_instance_request.go
  website/docs/r/instance.html.markdown
  website/docs/r/spot_instance_request.html.markdown
Labels: documentation, size/XS, service/ec2, prioritized

#35758 [New Resource] - Implement `aws_apprunner_deployment`
  .changelog/35758.txt
  internal/framework/base.go
  internal/service/apprunner/deployment.go
  internal/service/apprunner/deployment_test.go
  internal/service/apprunner/service_package_gen.go
  website/docs/r/apprunner_deployment.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/apprunner, generators, external-maintainer, prioritized

#35944 docs: Add note about aws_ecr_registry_policy resource being singleton
  website/docs/r/ecr_registry_policy.html.markdown
Labels: documentation, size/XS, service/ecr

#35932 docs: Add status arg desc for the aws_iot_domain_configuration resource
  website/docs/r/iot_domain_configuration.html.markdown
Labels: documentation, size/XS, service/iot

#35972 docs: Refer to AWS doc for source_access_configuration.type valid values for aws_lambda_event_source_mapping
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, size/XS, service/lambda

#35971 docs: Add origin_snapshot block decription for aws_fsx_openzfs_volume
  website/docs/r/fsx_openzfs_volume.html.markdown
Labels: documentation, size/XS, service/fsx

#35970 docs: Add note about incompability of schedule_expression and certain state for aws_cloudwatch_event_rule
  website/docs/r/cloudwatch_event_rule.html.markdown
Labels: documentation, size/XS, service/events

#35967 Replace use of `nodejs14.x` runtime for service/lambda acceptance tests
  internal/service/lambda/function_test.go
  internal/service/lambda/function_url_data_source_test.go
  internal/service/lambda/function_url_test.go
  internal/service/lambda/invocation_test.go
  internal/service/lambda/layer_version_test.go
  internal/service/lambda/test-fixtures/lambda_invocation_crud.js
  internal/service/lambda/test-fixtures/lambda_invocation_crud.mjs
  internal/service/lambda/test-fixtures/lambda_invocation_crud.zip
Labels: size/M, tests, service/lambda, prioritized

#35974 add application integration url as exported attribute
  .changelog/35974.txt
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, tests, service/wafv2

#35965 feat: add attributes for manage password to aws redshiftserverless namespace
  .changelog/35965.txt
  internal/service/redshiftserverless/namespace.go
  internal/service/redshiftserverless/namespace_data_source.go
  internal/service/redshiftserverless/namespace_test.go
  website/docs/r/redshiftserverless_namespace.html.markdown
Labels: documentation, size/M, tests, service/redshiftserverless

#35966 fix: Fix bad detect_and_copy_new_topics state mapping on read for aws_msk_replicator
  .changelog/35966.txt
  internal/service/kafka/replicator.go
Labels: bug, size/XS, service/kafka

#35973 f/aws_codepipeline add support for triggers
  .changelog/35475.txt
  internal/service/codepipeline/codepipeline.go
  internal/service/codepipeline/codepipeline_test.go
  website/docs/r/codepipeline.html.markdown
Labels: enhancement, documentation, tests, service/codepipeline, prioritized

#35961 r/aws_mwaa_environment: add `endpoint_management` attribute
  .changelog/35961.txt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/generate/serviceendpointtests/main.go
  internal/service/mwaa/environment.go
  internal/service/mwaa/environment_test.go
  internal/service/mwaa/generate.go
  internal/service/mwaa/service_endpoints_gen_test.go
  internal/service/mwaa/service_package_gen.go
  internal/service/mwaa/sweep.go
  internal/service/mwaa/tags_gen.go
  names/data/names_data.csv
Labels: enhancement, size/XL, tests, service/mwaa, sweeper, tags, client-connections, generators

#35980 Latest `aws-sdk-go` modules
  go.mod
  go.sum
Labels: size/XL, prioritized

#35969 feat: Add custom_time_zone & file_extension to extended_S3_configuration block for aws_kinesis_firehose_delivery_stream
  .changelog/35969.txt
  internal/service/firehose/delivery_stream.go
  internal/service/firehose/delivery_stream_test.go
  website/docs/r/kinesis_firehose_delivery_stream.html.markdown
Labels: documentation, size/XL, tests, service/firehose, prioritized

#35988 Sweeper fixes
  internal/service/cloudsearch/sweep.go
Labels: size/XS, service/cloudsearch, sweeper, prioritized

#35937 d/aws_redshift_data_sources: new data source
  .changelog/35937.txt
  internal/service/redshift/data_shares_data_source.go
  internal/service/redshift/data_shares_data_source_test.go
  internal/service/redshift/service_package_gen.go
  names/names.go
  website/docs/d/redshift_data_shares.html.markdown
Labels: documentation, new-data-source, size/L, tests, service/redshift, generators, prioritized

#35930 docs(35907): add forces new resource warning to ip set and web acl docs
  website/docs/r/wafv2_ip_set.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XS, service/wafv2

#35993 r/aws_appflow_flow: suppress diff when `task_type` value of `Map_all` is used
  .changelog/35993.txt
  internal/service/appflow/flow.go
  internal/service/appflow/flow_test.go
Labels: bug, enhancement, size/M, tests, service/appflow, prioritized

#36006 skaff: go mod tidy
  skaff/go.mod
  skaff/go.sum
Labels: size/XS, skaff, prioritized

#34667 Add support for Shield ProactiveEngagement
  .changelog/34667.txt
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/string_test.go
  internal/framework/types/arn.go
  internal/framework/types/arn_test.go
  internal/framework/types/attrtypes.go
  internal/framework/types/consts.go
  internal/framework/types/duration.go
  internal/framework/types/duration_test.go
  internal/framework/types/list_nested_objectof.go
  internal/framework/types/list_nested_objectof_test.go
  internal/framework/types/listof.go
  internal/framework/types/mapof.go
  internal/framework/types/objectof.go
  internal/framework/types/objectof_test.go
  internal/framework/types/regexp.go
  internal/framework/types/regexp_test.go
  internal/framework/types/set_nested_objectof.go
  internal/framework/types/set_nested_objectof_test.go
  internal/framework/types/setof.go
  internal/service/amp/scraper.go
  internal/service/appconfig/environment.go
  internal/service/apprunner/default_auto_scaling_configuration_version.go
  internal/service/bedrock/custom_model.go
  internal/service/kinesis/resource_policy.go
  internal/service/lexv2models/intent_test.go
  internal/service/redshift/data_share_authorization.go
  internal/service/redshift/data_share_consumer_association.go
  internal/service/route53domains/delegation_signer_record.go
  internal/service/s3/directory_bucket.go
  internal/service/securitylake/aws_log_source.go
  internal/service/securitylake/data_lake.go
  internal/service/shield/application_layer_automatic_response.go
  internal/service/shield/application_layer_automatic_response_test.go
  internal/service/shield/consts.go
  internal/service/shield/drt_access_log_bucket_association.go
  internal/service/shield/drt_access_log_bucket_association_test.go
  internal/service/shield/drt_access_role_arn_association.go
  internal/service/shield/drt_access_role_arn_association_test.go
  internal/service/shield/exports_test.go
  internal/service/shield/proactive_engagement.go
  internal/service/shield/proactive_engagement_test.go
  internal/service/shield/protection.go
  internal/service/shield/protection_test.go
  internal/service/shield/service_package_gen.go
  internal/service/shield/shield_test.go
  internal/service/shield/sweep.go
  internal/service/ssmcontacts/rotation.go
  internal/service/ssmcontacts/rotation_data_source.go
  internal/service/ssoadmin/application_access_scope.go
  internal/sweep/register_gen_test.go
  website/docs/r/shield_drt_access_log_bucket_association.html.markdown
  website/docs/r/shield_drt_access_role_arn_association.html.markdown
  website/docs/r/shield_proactive_engagement.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/shield, generators, partner

#36029 resource/aws_ecs_task_definition: prevent spurious container definition diffs
  .changelog/36029.txt
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_equivalency.go
Labels: bug, size/XS, service/ecs

#36032 b/aws_redshiftserverless_workgroup: Fix base_capacity, max_capacity ordered updates and max_capacity limit removal
  .changelog/36032.txt
  internal/service/redshiftserverless/workgroup.go
  internal/service/redshiftserverless/workgroup_test.go
Labels: bug, size/L, tests, service/redshiftserverless

#35990 r/aws_mq_broker: enable cross-region data replication
  .changelog/35990.txt
  internal/service/mq/broker.go
  internal/service/mq/broker_test.go
  internal/service/mq/exports_test.go
  website/docs/r/mq_broker.html.markdown
Labels: documentation, size/XL, tests, service/mq, prioritized

#33769 Use default tags for ec2 root block device
  .changelog/33769.txt
  docs/resource-tagging.md
  internal/provider/intercept.go
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_data_source.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/ec2_spot_instance_request.go
  internal/service/ec2/tags.go
  website/docs/r/instance.html.markdown
Labels: enhancement, size/XL, tests, service/ec2, provider, prioritized
