Repository hashicorp/terraform-provider-aws, pull requests merged in 2025-02, with the labels that each got.

#40993 testing: Reduce uses of `resource.TestCheckResourceAttrSet` with ARN attributes: `k` to `m` services
  .ci/semgrep/acctest/checks/arn.yml
  internal/service/kafka/replicator_test.go
  internal/service/kafka/vpc_connection_test.go
  internal/service/kafkaconnect/connector_test.go
  internal/service/kafkaconnect/custom_plugin_test.go
  internal/service/kafkaconnect/worker_configuration_test.go
  internal/service/kendra/index_test.go
  internal/service/kinesis/stream_data_source_test.go
  internal/service/kinesis/stream_test.go
  internal/service/kinesisvideo/stream_test.go
  internal/service/lexmodels/bot_alias_test.go
  internal/service/lexmodels/bot_test.go
  internal/service/lexmodels/intent_test.go
  internal/service/lightsail/container_service_test.go
  internal/service/lightsail/database_test.go
  internal/service/lightsail/key_pair_test.go
  internal/service/medialive/input_security_group_test.go
  internal/service/medialive/input_test.go
  internal/service/medialive/medialive_test.go
  internal/service/medialive/multiplex_test.go
  internal/service/memorydb/multi_region_cluster_test.go
Labels: tests, service/lightsail, service/medialive, service/kinesis, service/lexmodels, service/kinesisvideo, service/kafka, service/kendra, linter, service/memorydb, service/kafkaconnect, prioritized

#41107 testing: Reduce uses of `resource.TestCheckResourceAttrSet` with ARN attributes: `oam`
  .ci/semgrep/acctest/checks/arn.yml
  internal/service/oam/link_data_source_test.go
  internal/service/oam/link_test.go
  internal/service/oam/links_data_source_test.go
  internal/service/oam/sink_data_source_test.go
  internal/service/oam/sink_policy_test.go
  internal/service/oam/sink_test.go
  website/docs/d/oam_link.html.markdown
  website/docs/d/oam_sink.html.markdown
  website/docs/r/oam_link.html.markdown
  website/docs/r/oam_sink.html.markdown
  website/docs/r/oam_sink_policy.html.markdown
Labels: documentation, tests, linter, service/oam, prioritized

#41192 feat: Add tagging support for aws_rekognition_project
  .changelog/41192.txt
  internal/service/rekognition/project.go
  internal/service/rekognition/project_test.go
  internal/service/rekognition/service_package_gen.go
  website/docs/r/rekognition_project.html.markdown
Labels: documentation, tests, tags, generators, service/rekognition, external-maintainer, prioritized

#41185 docs: fix argument names for resource aws_wafv2_web_acl
  website/docs/r/wafv2_web_acl.html.markdown
Labels: documentation, service/wafv2

#41189 docs: add @FrameworkDataSource method description to register data source to the provider
  docs/add-a-new-datasource.md
Labels: documentation

#41188 docs: Clarify usage of name_pattern and name_prefix args for aws_cognito_managed_user_pool_client
  website/docs/r/cognito_managed_user_pool_client.html.markdown
Labels: documentation, service/cognitoidp, external-maintainer

#41186 fix: Allow name, name_prefix_and path update for aws_iam_server_certificate
  .changelog/41186.txt
  internal/service/iam/server_certificate.go
  internal/service/iam/server_certificate_test.go
  website/docs/r/iam_server_certificate.html.markdown
Labels: bug, documentation, tests, service/iam, external-maintainer, prioritized

#41187 fix: Fix string length checks for UTF-8 fields for aws_cognito_identity_provider, aws_cognito_user_group, and aws_cognito_user_pool_client
  .changelog/41187.txt
  internal/service/cognitoidp/identity_provider.go
  internal/service/cognitoidp/identity_provider_test.go
  internal/service/cognitoidp/user_group_test.go
  internal/service/cognitoidp/user_pool_client_test.go
  internal/service/cognitoidp/validate.go
  internal/service/cognitoidp/validate_test.go
Labels: bug, tests, service/cognitoidp, external-maintainer, prioritized

#41184 F support connection tracking specification for aws launch template network interfaces
  .changelog/41184.txt
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/ec2_launch_template_test.go
  website/docs/r/launch_template.html.markdown
Labels: enhancement, tests, service/ec2, prioritized

#41205 r/aws_wafv2_web_acl: set `rule` on import
  .changelog/41205.txt
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: bug, documentation, regression, tests, service/wafv2, prioritized

#41211 Tech debt: Use service package API client `withExtraOptions` mechanism
  docs/add-a-new-service.md
  internal/generate/serviceendpointtests/main.go
  internal/service/apigateway/service_package.go
  internal/service/apigateway/service_package_gen.go
  internal/service/apigatewayv2/service_package.go
  internal/service/apigatewayv2/service_package_gen.go
  internal/service/appsync/service_package.go
  internal/service/appsync/service_package_gen.go
  internal/service/chatbot/service_package.go
  internal/service/chatbot/service_package_gen.go
  internal/service/cloudformation/service_package.go
  internal/service/cloudformation/service_package_gen.go
  internal/service/cloudhsmv2/service_package.go
  internal/service/cloudhsmv2/service_package_gen.go
  internal/service/dynamodb/service_package.go
  internal/service/dynamodb/service_package_gen.go
  internal/service/ec2/service_package.go
  internal/service/ec2/service_package_gen.go
  internal/service/fms/service_package.go
  internal/service/fms/service_package_gen.go
  internal/service/kafka/service_package.go
  internal/service/kafka/service_package_gen.go
  internal/service/kinesis/service_package.go
  internal/service/kinesis/service_package_gen.go
  internal/service/lightsail/service_package.go
  internal/service/lightsail/service_package_gen.go
  internal/service/organizations/service_package.go
  internal/service/organizations/service_package_gen.go
  internal/service/route53recoverycontrolconfig/service_endpoints_gen_test.go
  internal/service/route53recoverycontrolconfig/service_package.go
  internal/service/route53recoverycontrolconfig/service_package_gen.go
  internal/service/route53recoveryreadiness/service_endpoints_gen_test.go
  internal/service/route53recoveryreadiness/service_package.go
  internal/service/route53recoveryreadiness/service_package_gen.go
  internal/service/s3/service_package.go
  internal/service/s3/service_package_gen.go
  internal/service/schemas/service_package.go
  internal/service/schemas/service_package_gen.go
  internal/service/ssoadmin/service_package.go
  internal/service/ssoadmin/service_package_gen.go
  internal/service/sts/service_package.go
  internal/service/sts/service_package_gen.go
  names/data/names_data.hcl
Labels: tests, service/s3, service/apigateway, service/lightsail, service/dynamodb, service/organizations, service/appsync, service/kinesis, service/cloudformation, service/cloudhsmv2, service/fms, service/sts, service/kafka, service/apigatewayv2, service/ssoadmin, service/schemas, service/route53recoveryreadiness, service/route53recoverycontrolconfig, generators, prioritized, service/chatbot

#41219 feat: AWS Firewall Manager common NACL policies implementation.
  .changelog/41219.txt
  internal/service/fms/fms_test.go
  internal/service/fms/policy.go
  internal/service/fms/policy_test.go
  website/docs/r/fms_policy.html.markdown
Labels: enhancement, documentation, tests, service/fms, prioritized

#41232 aws_sqs_queue: Add customizable timeouts
  .changelog/41232.txt
  internal/service/sqs/attribute_funcs.go
  internal/service/sqs/consts.go
  internal/service/sqs/queue.go
  internal/service/sqs/queue_test.go
  website/docs/r/sqs_queue.html.markdown
Labels: documentation, tests, service/sqs, prioritized

#41242 .ci/tools: remove gopatch
  .ci/tools/go.mod
  .ci/tools/go.sum
  .ci/tools/main.go
Labels: linter, prioritized

#41243 Latest `aws-sdk-go-base` and `aws-sdk-go-v2` modules
  .changelog/41243.txt
  go.mod
  go.sum
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, skaff, prioritized

#41249 `aws_sqs_queue` and `aws_sqs_queue_policy`: Add warning and clean up docs
  website/docs/r/sqs_queue.html.markdown
  website/docs/r/sqs_queue_policy.html.markdown
Labels: documentation, service/sqs, prioritized

#41255 flex: add write only flex functions
  internal/flex/write_only.go
  internal/flex/write_only_test.go
Labels: tests, flex, prioritized

#41002 f/aws_rds_cluster-add-enhanced-monitoring
  .changelog/41002.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, documentation, tests, service/rds, prioritized

#41256 r/aws_gamelift_game_server_group: Correct tagging
  .changelog/41256.txt
  internal/service/gamelift/game_server_group.go
  internal/service/gamelift/game_server_group_test.go
Labels: bug, tests, service/gamelift, tags, prioritized

#41257 flex: simplify func signature for string write-only
  internal/flex/write_only.go
  internal/flex/write_only_test.go
Labels: tests, flex, prioritized

#41159 resource/aws_s3_bucket_lifecycle_configuration: Set `transition_default_minimum_object_size` to default when removing from Terraform configuration
  .changelog/41159.txt
  internal/framework/flex/auto_flatten.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/int.go
  internal/service/s3/bucket_accelerate_configuration.go
  internal/service/s3/bucket_cors_configuration.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_migrate.go
  internal/service/s3/bucket_lifecycle_configuration_migrate_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_logging.go
  internal/service/s3/bucket_object_lock_configuration.go
  internal/service/s3/bucket_replication_configuration.go
  internal/service/s3/bucket_request_payment_configuration.go
  internal/service/s3/bucket_server_side_encryption_configuration.go
  internal/service/s3/bucket_versioning.go
  internal/service/s3/bucket_website_configuration.go
  internal/service/s3/exports_test.go
  internal/service/s3/id.go
  internal/service/s3/service_package_gen.go
Labels: bug, tests, service/s3, generators, prioritized

#41279 fix: Allow specifying ARN as sns_topic_name if region/account is different for aws_cloudtrail
  .changelog/41279.txt
  internal/service/cloudtrail/cloudtrail_test.go
  internal/service/cloudtrail/trail.go
  internal/service/cloudtrail/trail_test.go
  website/docs/r/cloudtrail.html.markdown
Labels: bug, documentation, regression, tests, service/cloudtrail, external-maintainer, prioritized

#41265 Fixes `flex` test names
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/bool_test.go
Labels: tests, prioritized

#41302 cdktf: update documentation
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/cloudtrail.html.markdown
  website/docs/cdktf/python/r/cognito_managed_user_pool_client.html.markdown
  website/docs/cdktf/python/r/fms_policy.html.markdown
  website/docs/cdktf/python/r/iam_server_certificate.html.markdown
  website/docs/cdktf/python/r/launch_template.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/python/r/rekognition_project.html.markdown
  website/docs/cdktf/python/r/route53_record.html.markdown
  website/docs/cdktf/python/r/sqs_queue.html.markdown
  website/docs/cdktf/python/r/sqs_queue_policy.html.markdown
  website/docs/cdktf/python/r/wafv2_web_acl.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/cloudtrail.html.markdown
  website/docs/cdktf/typescript/r/cognito_managed_user_pool_client.html.markdown
  website/docs/cdktf/typescript/r/fms_policy.html.markdown
  website/docs/cdktf/typescript/r/iam_server_certificate.html.markdown
  website/docs/cdktf/typescript/r/launch_template.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/rekognition_project.html.markdown
  website/docs/cdktf/typescript/r/route53_record.html.markdown
  website/docs/cdktf/typescript/r/sqs_queue.html.markdown
  website/docs/cdktf/typescript/r/sqs_queue_policy.html.markdown
  website/docs/cdktf/typescript/r/wafv2_web_acl.html.markdown
Labels: documentation, service/iam, service/ec2, service/route53, service/rds, service/sqs, service/cloudtrail, service/fms, service/wafv2, service/cognitoidp, service/rekognition

#41293 docs: fix invalid value for type in resource aws_backup_selection
  website/docs/r/backup_selection.html.markdown
Labels: documentation, service/backup

#41295 Fix AccessDeniedError listing tags in aws_vpclattice_service_network, aws_vpclattice_service data sources
  .changelog/41295.txt
  internal/service/ram/principal_association.go
  internal/service/vpclattice/service_data_source.go
  internal/service/vpclattice/service_network_data_source.go
  internal/service/vpclattice/service_package_gen.go
Labels: regression, service/sts, service/ram, generators, service/vpclattice, prioritized

#41296 resource/aws_s3_bucket_lifecycle_configuration: fixes "inconsistent result" errors introduced in v5.86.0
  .changelog/41296.txt
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_migrate_v0.go
  internal/service/s3/bucket_lifecycle_configuration_migrate_v0_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_lifecycle_configuration_upgrade_v5_86_0_test.go
Labels: bug, tests, service/s3, prioritized

#41304 feat: Add service_network_log_type arg for aws_vpclattice_access_log_subscription
  .changelog/41304.txt
  internal/service/vpclattice/access_log_subscription.go
  internal/service/vpclattice/access_log_subscription_test.go
  website/docs/r/vpclattice_access_log_subscription.html.markdown
Labels: documentation, tests, service/vpclattice, external-maintainer

#41331 Adding valid aws_connect_instance_storage_config resource_type
  website/docs/r/connect_instance_storage_config.html.markdown
Labels: documentation, service/connect

#41333 Bump aws-sdk-go-v2 service modules
  go.mod
  go.sum
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: skaff, prioritized

#41311 r/aws_vpclattice_service_network_resource_association: add sweeper
  internal/service/vpclattice/sweep.go
Labels: sweeper, service/vpclattice, prioritized

#41314 r/rds_cluster: add `master_password_wo` write-only attribute
  .changelog/41314.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
  website/docs/r/rds_cluster.html.markdown
Labels: enhancement, documentation, tests, service/rds, prioritized

#41292 Avoid recreating aws_ec2_transit_gateway_route_table_association when unnecessary
  .changelog/41292.txt
  internal/service/ec2/transitgateway_route_table_association.go
  internal/service/ec2/transitgateway_route_table_association_test.go
  internal/service/ec2/transitgateway_test.go
  internal/service/ec2/transitgateway_vpc_attachment_accepter_test.go
  internal/service/ec2/transitgateway_vpc_attachment_test.go
Labels: tests, service/transitgateway, prioritized

#41297 docs(aws_bedrockagent_data_source): web source config
  website/docs/r/bedrockagent_data_source.html.markdown
Labels: documentation, needs-triage, service/bedrockagent

#41341 Fixes `appstream` test errors
  internal/service/appstream/fleet_test.go
  internal/service/appstream/stack_test.go
Labels: tests, service/appstream, prioritized

#41284 r/aws_quicksight_data_source - parameters.s3.role_arn
  .changelog/41284.txt
  internal/service/quicksight/data_source.go
  internal/service/quicksight/data_source_test.go
  internal/service/quicksight/schema/data_source.go
  website/docs/r/quicksight_data_source.html.markdown
Labels: enhancement, documentation, tests, service/quicksight, partner

#41336 chore: remove `gopatch` from `make tools` target
  GNUmakefile
Labels: repository, prioritized

#41344 resource/aws_detective_member: Fix "unexpected state" error when adding Organization member account
  .changelog/41344.txt
  .teamcity/components/generated/service_orgacct.kt
  internal/service/detective/detective_test.go
  internal/service/detective/exports_test.go
  internal/service/detective/graph.go
  internal/service/detective/graph_test.go
  internal/service/detective/invitation_accepter_test.go
  internal/service/detective/member.go
  internal/service/detective/member_test.go
  internal/service/detective/organization_admin_account.go
  internal/service/detective/organization_admin_account_test.go
  internal/service/detective/organization_configuration_test.go
  internal/service/detective/service_package_gen.go
  website/docs/r/detective_graph.html.markdown
  website/docs/r/detective_invitation_accepter.html.markdown
  website/docs/r/detective_member.html.markdown
Labels: documentation, tests, service/detective, generators, prioritized

#41346 r/aws_internet_gateway: continue to deletion when attachment not found
  .changelog/41346.txt
  internal/service/ec2/vpc_internet_gateway.go
  internal/service/ec2/vpc_internet_gateway_test.go
Labels: bug, regression, tests, service/vpc, prioritized

#41368 resource/aws_sagemaker_endpoint_configuration: Prevents panic when `data_capture_config.capture_content_type_header` empty
  internal/errs/diag.go
  internal/errs/sdkdiag/diags.go
  internal/service/sagemaker/endpoint_configuration.go
  internal/service/sagemaker/endpoint_configuration_test.go
  website/docs/r/sagemaker_endpoint_configuration.html.markdown
Labels: documentation, tests, service/sagemaker, prioritized

#41267 docs: add storage configuration block for eks_cluster resource
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, service/eks, needs-triage

#41350 fix: Add missing on_demand_throughput attrs for aws_dynamodb_table data source
  .changelog/41350.txt
  internal/service/dynamodb/table_data_source.go
  internal/service/dynamodb/table_data_source_test.go
Labels: bug, regression, tests, service/dynamodb, external-maintainer, prioritized

#41386 docs: fix typo in `config_configuration_recorder`
  website/docs/r/config_configuration_recorder.html.markdown
Labels: documentation, service/configservice

#41373 f/ New Resource Cloudwatch Contributor Insight Rule
  .changelog/41373.txt
  .github/labeler-pr-triage.yml
  internal/service/cloudwatch/contributor_insight_rule.go
  internal/service/cloudwatch/contributor_insight_rule_tags_gen_test.go
  internal/service/cloudwatch/contributor_insight_rule_test.go
  internal/service/cloudwatch/exports_test.go
  internal/service/cloudwatch/service_package_gen.go
  internal/service/cloudwatch/testdata/ContributorInsightRule/tags/main_gen.tf
  internal/service/cloudwatch/testdata/ContributorInsightRule/tagsComputed1/main_gen.tf
  internal/service/cloudwatch/testdata/ContributorInsightRule/tagsComputed2/main_gen.tf
  internal/service/cloudwatch/testdata/ContributorInsightRule/tags_defaults/main_gen.tf
  internal/service/cloudwatch/testdata/ContributorInsightRule/tags_ignore/main_gen.tf
  internal/service/cloudwatch/testdata/tmpl/contributor_insight_rule_tags.gtpl
  names/data/names_data.hcl
  website/docs/r/cloudwatch_contributor_insight_rule.html.markdown
Labels: documentation, tests, service/cloudwatch, generators, prioritized

#41379 fix: Convert SingleNestedBlocks to ListNestedBlocks and fix arg required states for aws_paymentcryptography_key
  .changelog/41379.txt
  internal/service/paymentcryptography/key.go
  internal/service/paymentcryptography/key_test.go
Labels: bug, tests, external-maintainer, service/paymentcryptography

#41402 Revert "fix: Convert SingleNestedBlocks to ListNestedBlocks and fix arg required states for aws_paymentcryptography_key (#41379)"
  .changelog/41379.txt
  internal/service/paymentcryptography/key.go
  internal/service/paymentcryptography/key_test.go
Labels: tests, prioritized, service/paymentcryptography

#41366 r/db_instance: add `password_wo` write-only attribute
  .changelog/41366.txt
  internal/service/rds/blue_green.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  website/docs/r/db_instance.html.markdown
Labels: enhancement, documentation, tests, service/rds, prioritized

#41371 r/secretsmanager_secret_version: add `secret_string_wo` attribute
  .changelog/41371.txt
  internal/flex/write_only.go
  internal/flex/write_only_test.go
  internal/service/secretsmanager/secret_version.go
  internal/service/secretsmanager/secret_version_test.go
  website/docs/r/secretsmanager_secret_version.html.markdown
Labels: enhancement, documentation, tests, service/secretsmanager, flex, prioritized

#41317 feat: Add video_data_delivery_enabled arg for aws_bedrock_model_invocation_logging_configuration
  .changelog/41317.txt
  internal/service/bedrock/model_invocation_logging_configuration.go
  internal/service/bedrock/model_invocation_logging_configuration_test.go
  website/docs/r/bedrock_model_invocation_logging_configuration.html.markdown
Labels: bug, enhancement, documentation, tests, external-maintainer, service/bedrock

#41425 Fix document `remote_network_config` attribute `aws_eks_cluster`(#41421)
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, service/eks

#41410 Add mediapackagevod service client
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/mediapackagevod/generate.go
  internal/service/mediapackagevod/service_endpoint_resolver_gen.go
  internal/service/mediapackagevod/service_endpoints_gen_test.go
  internal/service/mediapackagevod/service_package_gen.go
  internal/service/mediapackagevod/tags_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, tests, provider, service/mediapackagevod, linter, sweeper, tags, client-connections, generators, new-service

#41405 docs: fix invalid name in example
  website/docs/r/cloudfront_vpc_origin.html.markdown
Labels: documentation, service/cloudfront

#41409 docs: add admin_password_secret_arn attribute to Redshift Serverless namespace
  website/docs/r/redshiftserverless_namespace.html.markdown
Labels: documentation, service/redshiftserverless

#41434 r/aws_glue_partition - storage_descriptor.additional_locations
  .changelog/41434.txt
  internal/service/glue/partition.go
  internal/service/glue/partition_test.go
  website/docs/r/glue_partition.html.markdown
Labels: documentation, tests, service/glue, partner

#41444 [Docs]: `target_ip.ip` is optional in Route 53 Resolver rule
  website/docs/r/route53_resolver_rule.html.markdown
Labels: documentation, service/route53resolver, needs-triage

#35249 AWS Q for Business application resources
  .changelog/35249.txt
  internal/service/qbusiness/application.go
  internal/service/qbusiness/application_test.go
  internal/service/qbusiness/exports_test.go
  internal/service/qbusiness/generate.go
  internal/service/qbusiness/service_package_gen.go
  internal/service/qbusiness/sweep.go
  internal/service/qbusiness/tags_gen.go
  internal/sweep/register_gen_test.go
  website/docs/r/qbusiness_application.html.markdown
Labels: documentation, new-resource, size/XL, tests, sweeper, tags, generators, prioritized, service/qbusiness

#41446 r/aws_s3tables_table[_bucket](doc): tidy headings, add documentation links
  website/docs/r/s3tables_table.html.markdown
  website/docs/r/s3tables_table_bucket.html.markdown
Labels: documentation, prioritized, service/s3tables

#41451 resource/aws_dynamodb_table: Fix hang when creating inline `replica`s
  .changelog/41451.txt
  internal/acctest/knownvalue/regional_arn_exact.go
  internal/acctest/knownvalue/regional_arn_regexp.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
Labels: tests, service/dynamodb, prioritized

#41449 f/ New Resource aws_cloudwatch_contributor_managed_insight_rule
  .changelog/41449.txt
  internal/service/cloudwatch/contributor_insight_rule.go
  internal/service/cloudwatch/contributor_managed_insight_rule.go
  internal/service/cloudwatch/contributor_managed_insight_rule_test.go
  internal/service/cloudwatch/exports_test.go
  internal/service/cloudwatch/service_package_gen.go
  website/docs/r/cloudwatch_contributor_managed_insight_rule.html.markdown
Labels: documentation, new-resource, tests, service/cloudwatch, generators, prioritized

#41411 r/redshift_cluster: add `master_password_wo` write-only attribute
  .changelog/41411.txt
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_test.go
  website/docs/r/redshift_cluster.html.markdown
Labels: enhancement, documentation, tests, service/redshift, prioritized

#41413 r/docdb_cluster: add `master_password_wo` write-only attribute
  .changelog/41413.txt
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_test.go
  website/docs/r/docdb_cluster.html.markdown
Labels: enhancement, documentation, tests, service/docdb, prioritized

#41412 r/redshiftserverless_namespace: add `admin_user_password_wo` write-only attribute
  .changelog/41412.txt
  internal/service/redshiftserverless/namespace.go
  internal/service/redshiftserverless/namespace_test.go
  website/docs/r/redshiftserverless_namespace.html.markdown
Labels: enhancement, documentation, tests, service/redshiftserverless, prioritized

#41465 resource/aws_dynamodb_table: Updates replica tagging tests
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: documentation, tests, service/dynamodb, prioritized

#41447 docs: add docs for aws_backup_selection
  website/docs/r/backup_selection.html.markdown
Labels: documentation, service/backup

#41481 `aws-sdk-go-v2` updates (Release 2025-02-19)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#41280 double digit region regex
  internal/acctest/acctest.go
  internal/service/apprunner/service.go
  internal/service/ec2/vpc_endpoint.go
  internal/service/elasticbeanstalk/environment.go
  internal/service/pipes/pipe.go
  internal/service/pipes/source_parameters.go
  internal/verify/validate.go
Labels: enhancement, tests, service/elasticbeanstalk, service/apprunner, verify, service/vpc, service/pipes

#36961 Fix issue #29791
  .changelog/36961.txt
  internal/service/amplify/amplify_test.go
  internal/service/amplify/domain_association.go
  internal/service/amplify/domain_association_test.go
Labels: bug, size/XS, service/amplify, prioritized

#41462 r/aws_s3_bucket_lifecycle_configuration: remove `expired_object_delete_marker` plan modifier
  .changelog/41462.txt
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_migrate_v0_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
Labels: tests, service/s3, prioritized

#41472 F/ New DataSource Cloudwatch Contributor Managed Insight Rules
  internal/service/cloudwatch/contributor_managed_insight_rule.go
  internal/service/cloudwatch/contributor_managed_insight_rules_data_source.go
  internal/service/cloudwatch/contributor_managed_insight_rules_data_source_test.go
  internal/service/cloudwatch/exports_test.go
  internal/service/cloudwatch/service_package_gen.go
  website/docs/d/cloudwatch_contributor_managed_insight_rules.html.markdown
Labels: documentation, tests, service/cloudwatch, generators, prioritized

#41489 Add changelog to Cloudwatch Contributor Managed Insight DataSource
  .changelog/41472.txt
Labels: prioritized

#41492 docs/aws_vpclattice_resource_configuration: added missing protocol arguments to examples
  website/docs/r/vpclattice_resource_configuration.html.markdown
Labels: documentation, needs-triage, service/vpclattice

#41408 fix(rds): instance enabled_cloudwatch_logs_exports doesn't allow iam-db-auth-error
  .changelog/41408.txt
  internal/service/rds/consts.go
  internal/service/rds/instance_test.go
Labels: bug, tests, service/rds, prioritized

#41443 data-source/aws_s3_object: add `application/yaml` to the list of `Content-Type` that return a body.
  .changelog/41443.txt
  internal/service/s3/object_data_source.go
  website/docs/d/s3_object.html.markdown
Labels: enhancement, documentation, service/s3, prioritized

#41496 Fix typos in CHANGELOG.md
  CHANGELOG.md
Labels: documentation, provider, prioritized

#41497 r/cloudwatch_log_delivery: fix provider error on `s3_delivery_configuration.suffix_path`
  .changelog/41497.txt
  internal/framework/resource_list_of_object.go
  internal/service/logs/delivery.go
  internal/service/route53domains/domain.go
Labels: bug, service/route53domains, service/logs, prioritized

#41266 macie2: Remove ForceNew from `tags`
  .changelog/41266.txt
  internal/service/macie2/classification_job.go
  internal/service/macie2/classification_job_test.go
  internal/service/macie2/custom_data_identifier.go
  internal/service/macie2/custom_data_identifier_test.go
  internal/service/macie2/errors.go
  internal/service/macie2/exports_test.go
  internal/service/macie2/find.go
  internal/service/macie2/findings_filter.go
  internal/service/macie2/findings_filter_test.go
  internal/service/macie2/generate.go
  internal/service/macie2/invitation_accepter_test.go
  internal/service/macie2/macie2_test.go
  internal/service/macie2/member.go
  internal/service/macie2/member_test.go
  internal/service/macie2/service_package_gen.go
  internal/service/macie2/status.go
  internal/service/macie2/tags_gen.go
  internal/service/macie2/wait.go
  website/docs/r/macie2_classification_job.html.markdown
  website/docs/r/macie2_custom_data_identifier.html.markdown
  website/docs/r/macie2_findings_filter.html.markdown
  website/docs/r/macie2_member.html.markdown
Labels: bug, enhancement, documentation, tests, service/macie2, tags, generators, prioritized

#41494 sweeper/memorydb: Adds support for multi-region clusters
  internal/service/memorydb/acl.go
  internal/service/memorydb/cluster.go
  internal/service/memorydb/cluster_test.go
  internal/service/memorydb/sweep.go
Labels: tests, sweeper, service/memorydb, prioritized

#41507 docs: add details on exceptions and example code
  website/docs/d/cloudfront_cache_policy.html.markdown
Labels: documentation, service/cloudfront

#41216 r/aws_neptunegraph_graph: New Resource: Addition of Amazon Neptune Analytics Graph resource.
  .changelog/41216.txt
  internal/service/neptunegraph/exports_test.go
  internal/service/neptunegraph/generate.go
  internal/service/neptunegraph/graph.go
  internal/service/neptunegraph/graph_test.go
  internal/service/neptunegraph/service_package_gen.go
  internal/service/neptunegraph/sweep.go
  internal/service/neptunegraph/tags_gen.go
  internal/service/neptunegraph/tags_gen_test.go
  internal/sweep/register_gen_test.go
  website/docs/r/neptunegraph_graph.html.markdown
Labels: documentation, new-resource, tests, tags, generators, partner, prioritized, service/neptunegraph

#41511 Replace `tenv` linter by `usetesting`
  .ci/.golangci5.yml
  internal/provider/provider_config_test.go
  internal/provider/provider_test.go
  internal/service/s3/object_test.go
Labels: tests, service/s3, provider, linter, prioritized

#41254 rds: Support Aurora Limitless
  .changelog/41254.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_data_source.go
  internal/service/rds/cluster_test.go
  internal/service/rds/exports_test.go
  internal/service/rds/generate.go
  internal/service/rds/integration.go
  internal/service/rds/list_pages_gen.go
  internal/service/rds/service_package_gen.go
  internal/service/rds/shard_group.go
  internal/service/rds/shard_group_test.go
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/rds_shard_group.html.markdown
Labels: enhancement, documentation, new-resource, tests, service/rds, generators, prioritized

#41516 Update dependencies, mostly for CI and tools
  .ci/providerlint/go.mod
  .ci/providerlint/go.sum
  .ci/providerlint/passes/AWSAT001/testdata/go.mod
  .ci/providerlint/passes/AWSAT001/testdata/go.sum
  .ci/providerlint/passes/AWSAT004/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.sum
  .ci/providerlint/passes/AWSV001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.sum
  .ci/tools/go.mod
  .ci/tools/go.sum
  go.mod
  go.sum
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, linter, skaff, prioritized

#41475 r/aws_macie2_organization_configuration: Automatically enable and add new organization accounts as Macie member accounts
  .changelog/41475.txt
  internal/service/macie2/macie2_test.go
  internal/service/macie2/organization_configuration.go
  internal/service/macie2/organization_configuration_test.go
  internal/service/macie2/service_package_gen.go
  website/docs/r/macie2_organization_configuration.html.markdown
Labels: enhancement, new-resource, tests, service/macie2, generators, prioritized

#41385 Support defining period in custom metrics for target tracking policies
  .changelog/41385.txt
  internal/service/autoscaling/policy.go
  internal/service/autoscaling/policy_test.go
  website/docs/r/autoscaling_policy.html.markdown
Labels: enhancement, documentation, tests, service/autoscaling, prioritized

#41517 F/New resource X-Ray Resource Policy
  .changelog/41517.txt
  internal/service/xray/exports_test.go
  internal/service/xray/resource_policy.go
  internal/service/xray/resource_policy_test.go
  internal/service/xray/service_package_gen.go
  website/docs/r/xray_resource_policy.html.markdown
Labels: documentation, new-resource, tests, service/xray, generators, prioritized

#41207 Tech debt: Simplify interceptors
  internal/provider/fwprovider/intercept.go
  internal/provider/fwprovider/provider.go
  internal/provider/fwprovider/tags_interceptor.go
  internal/provider/fwprovider/wrap.go
  internal/provider/intercept.go
  internal/provider/intercept_test.go
  internal/provider/interceptors/info.go
  internal/provider/interceptors/tags.go
  internal/provider/provider.go
  internal/provider/tags_interceptor.go
  internal/provider/tags_interceptor_test.go
  internal/provider/wrap.go
Labels: documentation, tests, service/lambda, service/iam, service/ec2, service/s3, service/ecs, service/emr, service/route53, service/guardduty, service/configservice, service/elbv2, service/apigateway, service/rds, service/cloudtrail, service/cloudfront, service/redshift, service/medialive, service/dynamodb, service/ssm, service/shield, service/appsync, service/elasticache, service/simpledb, service/glue, service/kinesis, service/kms, service/iot, service/ecr, service/batch, provider, service/route53domains, service/appstream, service/secretsmanager, service/fms, service/eks, service/pinpoint, service/polly, service/s3control, service/securityhub, service/globalaccelerator, service/kafka, service/backup, service/quicksight, service/servicequotas, service/lakeformation, service/appconfig, service/sesv2, service/codeguruprofiler, service/computeoptimizer, service/networkmanager, service/imagebuilder, service/identitystore, linter, service/networkfirewall, service/apprunner, service/auditmanager, service/memorydb, service/events, service/amp, service/grafana, service/opensearch, skaff, service/ds, service/logs, service/devopsguru, service/servicecatalogappregistry, service/resiliencehub, service/drs, service/cognitoidp, service/rekognition, service/cognitoidentity, service/ssmcontacts, service/ec2ebs, service/redshiftserverless, service/resourceexplorer2, service/opensearchserverless, service/securitylake, service/docdbelastic, service/cleanrooms, service/lexv2models, service/bedrock, service/osis, service/appfabric, service/mediapackagev2, service/meta, service/m2, service/bedrockagent, service/costoptimizationhub, service/cloudfrontkeyvaluestore, service/datazone, service/paymentcryptography, service/bcmdataexports, service/route53profiles, service/chatbot, service/networkmonitor, service/pinpointsmsvoicev2, service/codeconnections, service/s3tables, service/billing

#41299 bugfix: Fix listener attributes not being updated
  .changelog/41299.txt
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_test.go
Labels: bug, service/elbv2, prioritized

#41509 resource/aws_servicequotas_service_quota: Better handle quotas not supported in current region or partition
  .changelog/41509.txt
  internal/service/servicequotas/find.go
  internal/service/servicequotas/service_quota.go
  internal/service/servicequotas/service_quota_data_source.go
Labels: service/servicequotas, prioritized

#41513 sweeper: Fixes sweeper for `aws_autoscalingplans_scaling_plan`
  .ci/semgrep/aws/input-on-heap.yml
  internal/service/autoscalingplans/exports_test.go
  internal/service/autoscalingplans/find.go
  internal/service/autoscalingplans/id.go
  internal/service/autoscalingplans/scaling_plan.go
  internal/service/autoscalingplans/status.go
  internal/service/autoscalingplans/sweep.go
  internal/service/autoscalingplans/wait.go
Labels: tests, service/autoscalingplans, linter, sweeper, prioritized

#41272 Fix missing arguments in `spot_options` block for `aws_ec2_fleet` resource
  .changelog/41272.txt
  internal/service/ec2/ec2_fleet.go
  internal/service/ec2/ec2_fleet_test.go
Labels: bug, tests, service/ec2, prioritized

#41468 enable zonal shift for application loadbalancers
  .changelog/41335.txt
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_test.go
Labels: enhancement, service/elbv2, prioritized

#41524 Support custom data identifiers in `aws_cloudwatch_log_data_protection_policy_document`
  .changelog/41524.txt
  internal/json/encode.go
  internal/json/encode_test.go
  internal/service/logs/data_protection_policy_document_data_source.go
  internal/service/logs/data_protection_policy_document_data_source_test.go
  website/docs/d/cloudwatch_log_data_protection_policy_document.html.markdown
Labels: enhancement, documentation, tests, service/logs, prioritized

#41539 autoflex: Rename Calculate to Diff
  internal/framework/flex/diff.go
  internal/framework/flex/diff_test.go
  internal/service/apigateway/account.go
  internal/service/chatbot/slack_channel_configuration.go
  internal/service/chatbot/teams_channel_configuration.go
  internal/service/cleanrooms/membership.go
  internal/service/datazone/user_profile.go
  internal/service/docdbelastic/cluster.go
  internal/service/elasticache/serverless_cache.go
  internal/service/logs/anomaly_detector.go
  internal/service/medialive/multiplex_program.go
  internal/service/mediapackagev2/channel_group.go
  internal/service/opensearchserverless/security_config.go
  internal/service/opensearchserverless/security_policy.go
  internal/service/resiliencehub/resiliency_policy.go
  internal/service/timestreamquery/scheduled_query.go
  skaff/resource/resourcefw.gtpl
Labels: tests, service/apigateway, service/medialive, service/elasticache, skaff, service/logs, service/resiliencehub, service/timestreamquery, service/opensearchserverless, service/docdbelastic, service/cleanrooms, prioritized, service/mediapackagev2, service/datazone, service/chatbot

#41554 Fix `Examples Checks / validate-terraform (0.12.31)` CI check
  examples/sagemaker/main.tf
Labels: examples, prioritized

#41555 Correct CHANGELOG entry
  .changelog/41335.txt
Labels: prioritized

#41560 Sweepers: Fix `panic: not implemented` for Framework resources
  internal/sweep/framework/resource.go
Labels: sweeper, prioritized

#41543 Adds sweeper for `aws_organizations_account`
  internal/service/organizations/organization.go
  internal/service/organizations/sweep.go
Labels: service/organizations, sweeper, prioritized

#41542 resource/aws_s3_bucket_lifecycle_configuration: Prevents sending 0 for `rule.and.object_size_less_than`
  .changelog/41542.txt
  internal/framework/flex/int.go
  internal/framework/flex/int_test.go
  internal/framework/flex/string.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_migrate_v0_test.go
Labels: bug, tests, service/s3, prioritized

#41556 r/aws_redshift_cluster: Fix `master_username` validation
  .changelog/41556.txt
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_test.go
Labels: tests, service/redshift, prioritized

#41403 [Bug] Fix issues related to secondary EIPs and Private IPs being updated
  .changelog/41403.txt
  internal/service/ec2/vpc_nat_gateway.go
  internal/service/ec2/vpc_nat_gateway_test.go
  internal/service/ec2/wait.go
Labels: bug, tests, service/vpc, partner, prioritized

#41015 feat: Add checksum_crc64nvme arg to aws_s3_object + related resources and data sources
  .changelog/41015.txt
  internal/service/s3/object.go
  internal/service/s3/object_copy.go
  internal/service/s3/object_copy_test.go
  internal/service/s3/object_data_source.go
  internal/service/s3/object_data_source_test.go
  internal/service/s3/object_test.go
  website/docs/d/s3_object.html.markdown
  website/docs/r/s3_object.html.markdown
  website/docs/r/s3_object_copy.html.markdown
Labels: enhancement, documentation, tests, service/s3, external-maintainer, prioritized

#41562 validations: remove `PreferWriteOnlyAttribute` validations
  .changelog/41562.txt
  internal/service/docdb/cluster.go
  internal/service/rds/cluster.go
  internal/service/rds/instance.go
  internal/service/redshift/cluster.go
  internal/service/redshiftserverless/namespace.go
  internal/service/secretsmanager/secret_version.go
  internal/service/ssm/parameter.go
  website/docs/r/db_instance.html.markdown
  website/docs/r/docdb_cluster.html.markdown
  website/docs/r/rds_cluster.html.markdown
  website/docs/r/redshift_cluster.html.markdown
  website/docs/r/redshiftserverless_namespace.html.markdown
  website/docs/r/secretsmanager_secret_version.html.markdown
  website/docs/r/ssm_parameter.html.markdown
Labels: documentation, service/rds, service/redshift, service/ssm, service/secretsmanager, service/docdb, service/redshiftserverless, prioritized

#41564 Tech Debt: Improve memory behaviour of type-specific Flattener and Expander functions
  internal/framework/flex/auto_expand_test.go
  internal/framework/flex/auto_flatten_test.go
  internal/framework/flex/bool.go
  internal/framework/flex/bool_test.go
  internal/framework/flex/float.go
  internal/framework/flex/float_test.go
  internal/framework/flex/int.go
  internal/framework/flex/int_test.go
  internal/framework/flex/logging_test.go
  internal/framework/flex/string.go
  internal/framework/flex/string_test.go
  internal/service/emr/supported_instance_types_data_source.go
Labels: tests, service/emr, prioritized

#40944 Allow AWS Local Zones (LocalZone) as locationType F_aws_s3 directory_bucket_enchancements
  .changelog/40944.txt
  internal/service/s3/bucket.go
  internal/service/s3/bucket_accelerate_configuration_test.go
  internal/service/s3/bucket_acl_test.go
  internal/service/s3/bucket_analytics_configuration_test.go
  internal/service/s3/bucket_cors_configuration_test.go
  internal/service/s3/bucket_data_source.go
  internal/service/s3/bucket_intelligent_tiering_configuration_test.go
  internal/service/s3/bucket_inventory_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_logging_test.go
  internal/service/s3/bucket_metric_test.go
  internal/service/s3/bucket_notification_test.go
  internal/service/s3/bucket_object_lock_configuration_test.go
  internal/service/s3/bucket_ownership_controls_test.go
  internal/service/s3/bucket_policy_test.go
  internal/service/s3/bucket_public_access_block_test.go
  internal/service/s3/bucket_replication_configuration_test.go
  internal/service/s3/bucket_request_payment_configuration_test.go
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_versioning_test.go
  internal/service/s3/bucket_website_configuration_test.go
  internal/service/s3/directory_bucket.go
  internal/service/s3/directory_bucket_test.go
  internal/service/s3/directory_buckets_data_source_test.go
  internal/service/s3/exports_test.go
  internal/service/s3/object_copy_test.go
  internal/service/s3/object_data_source_test.go
  internal/service/s3/object_test.go
  internal/service/s3/objects_data_source_test.go
  website/docs/r/s3_directory_bucket.html.markdown
Labels: enhancement, documentation, tests, service/s3, partner, prioritized

#41589 r/aws_quicksight_role_membership: new resource
  .changelog/41589.txt
  docs/acc-test-environment-variables.md
  internal/service/quicksight/exports_test.go
  internal/service/quicksight/quicksight_test.go
  internal/service/quicksight/role_membership.go
  internal/service/quicksight/role_membership_test.go
  internal/service/quicksight/service_package_gen.go
  website/docs/r/quicksight_account_subscription.html.markdown
  website/docs/r/quicksight_role_membership.html.markdown
Labels: documentation, tests, service/quicksight, generators, prioritized

#41590 docs/aws_sqs_queue: Timeout with incompatible arguments
  website/docs/r/sqs_queue.html.markdown
Labels: documentation, service/sqs, prioritized

#41604 Fix typo in CHANGELOG.md
  CHANGELOG.md
Labels: documentation, provider, prioritized

#41605 `aws-sdk-go-v2` updates (Release 2025-02-27)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, prioritized

#40552 add aws_dataexchange_event_action
  .changelog/40552.txt
  docs/acc-test-environment-variables.md
  internal/service/dataexchange/event_action.go
  internal/service/dataexchange/event_action_test.go
  internal/service/dataexchange/exports_test.go
  internal/service/dataexchange/service_package_gen.go
  website/docs/r/dataexchange_event_action.html.markdown
Labels: documentation, new-resource, tests, service/dataexchange, generators, partner, prioritized

#41608 docs: add missing ip_address_type option for aws_lightsail_instance
  website/docs/r/lightsail_instance.html.markdown
Labels: documentation, service/lightsail

#41594 b/aws_ecs_service: fix VPC Lattice configuration removal
  .changelog/41594.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
  internal/service/vpclattice/exports_test.go
  internal/service/vpclattice/service_package_gen.go
  internal/service/vpclattice/sweep.go
  internal/service/vpclattice/target_group.go
  internal/service/vpclattice/target_group_test.go
Labels: bug, tests, service/ecs, service/vpclattice, prioritized
