Repository hashicorp/terraform-provider-aws, pull requests merged in 2025-06, with the labels that each got.

#42832 cdktf: update documentation
  website/docs/cdktf/python/d/ami.html.markdown
  website/docs/cdktf/python/r/api_gateway_domain_name_access_association.html.markdown
  website/docs/cdktf/python/r/backup_region_settings.html.markdown
  website/docs/cdktf/python/r/ecs_service.html.markdown
  website/docs/cdktf/python/r/launch_template.html.markdown
  website/docs/cdktf/python/r/notifications_channel_association.html.markdown
  website/docs/cdktf/python/r/notifications_event_rule.html.markdown
  website/docs/cdktf/python/r/notifications_notification_configuration.html.markdown
  website/docs/cdktf/python/r/notificationscontacts_email_contact.html.markdown
  website/docs/cdktf/python/r/organizations_account.html.markdown
  website/docs/cdktf/python/r/quicksight_account_subscription.html.markdown
  website/docs/cdktf/python/r/quicksight_data_source.html.markdown
  website/docs/cdktf/python/r/securityhub_standards_subscription.html.markdown
  website/docs/cdktf/python/r/workspacesweb_browser_settings.html.markdown
  website/docs/cdktf/python/r/workspacesweb_network_settings.html.markdown
  website/docs/cdktf/python/r/workspacesweb_user_settings.html.markdown
  website/docs/cdktf/typescript/d/ami.html.markdown
  website/docs/cdktf/typescript/r/api_gateway_domain_name_access_association.html.markdown
  website/docs/cdktf/typescript/r/backup_region_settings.html.markdown
  website/docs/cdktf/typescript/r/ecs_service.html.markdown
  website/docs/cdktf/typescript/r/launch_template.html.markdown
  website/docs/cdktf/typescript/r/notifications_channel_association.html.markdown
  website/docs/cdktf/typescript/r/notifications_event_rule.html.markdown
  website/docs/cdktf/typescript/r/notifications_notification_configuration.html.markdown
  website/docs/cdktf/typescript/r/notificationscontacts_email_contact.html.markdown
  website/docs/cdktf/typescript/r/organizations_account.html.markdown
  website/docs/cdktf/typescript/r/quicksight_account_subscription.html.markdown
  website/docs/cdktf/typescript/r/quicksight_data_source.html.markdown
  website/docs/cdktf/typescript/r/securityhub_standards_subscription.html.markdown
  website/docs/cdktf/typescript/r/workspacesweb_browser_settings.html.markdown
  website/docs/cdktf/typescript/r/workspacesweb_network_settings.html.markdown
  website/docs/cdktf/typescript/r/workspacesweb_user_settings.html.markdown
Labels: documentation, size/XL, service/ec2, service/ecs, service/apigateway, service/organizations, service/securityhub, service/backup, service/quicksight, service/workspacesweb, service/notifications, service/notificationscontacts

#42628 Add `TestAccTimestreamInfluxDBDBInstance_upgradeV5_90_0`
  internal/service/timestreaminfluxdb/db_instance_test.go
Labels: size/M, tests, prioritized, service/timestreaminfluxdb

#42741 Tech debt: Use AutoFlEx for `auditmanager`
  .changelog/42741.txt
  internal/service/auditmanager/account_registration.go
  internal/service/auditmanager/account_registration_test.go
  internal/service/auditmanager/assessment_delegation.go
  internal/service/auditmanager/assessment_delegation_test.go
  internal/service/auditmanager/assessment_report.go
  internal/service/auditmanager/assessment_report_test.go
  internal/service/auditmanager/exports_test.go
  internal/service/auditmanager/framework_share.go
  internal/service/auditmanager/framework_share_test.go
  internal/service/auditmanager/organization_admin_account_registration.go
  internal/service/auditmanager/organization_admin_account_registration_test.go
  internal/service/auditmanager/sweep.go
  internal/service/iam/sweep.go
Labels: size/XL, tests, service/iam, service/auditmanager, sweeper, prioritized

#42837 Add 'Migrating from multiple provider configurations' section to Enhanced Region Support guide
  website/docs/guides/enhanced-region-support.html.markdown
Labels: documentation, size/XS, prioritized

#42865 Technical debt: Fold `framework.WithNoOpUpdate` into `framework.ResourceWithModel`
  docs/add-a-new-datasource.md
  docs/add-a-new-ephemeral-resource.md
  docs/add-a-new-resource.md
  internal/flex/flex.go
  internal/framework/resource_with_model.go
  internal/framework/with_noop_update.go
  internal/service/apigateway/domain_name_access_association.go
  internal/service/appfabric/app_bundle.go
  internal/service/appfabric/ingestion.go
  internal/service/backup/logically_air_gapped_vault.go
  internal/service/bedrock/guardrail_version.go
  internal/service/bedrock/provisioned_model_throughput.go
  internal/service/cloudwatch/contributor_managed_insight_rule.go
  internal/service/ec2/ec2_capacity_block_reservation.go
  internal/service/ec2/ec2_instance_connect_endpoint.go
  internal/service/ec2/ec2_launch_template.go
  internal/service/elasticache/reserved_cache_node.go
  internal/service/lakeformation/opt_in.go
  internal/service/logs/delivery.go
  internal/service/logs/delivery_source.go
  internal/service/notificationscontacts/email_contact.go
  internal/service/pinpointsmsvoicev2/opt_out_list.go
  internal/service/quicksight/namespace.go
  internal/service/rds/integration.go
  internal/service/route53profiles/association.go
  internal/service/route53profiles/profile.go
  internal/service/s3/directory_bucket.go
  internal/service/servicequotas/template_association.go
  internal/service/vpclattice/service_network_resource_association.go
  internal/service/workspaces/connection_alias.go
  internal/service/xray/resource_policy.go
Labels: documentation, size/M, size/S, service/ec2, service/s3, service/apigateway, service/rds, service/cloudwatch, service/elasticache, service/workspaces, technical-debt, service/xray, service/backup, service/quicksight, service/servicequotas, service/lakeformation, flex, service/logs, service/vpclattice, prioritized, service/bedrock, service/appfabric, service/route53profiles, service/pinpointsmsvoicev2, service/notificationscontacts

#42869 Upgrade to `tfproviderdocs` v0.21.0
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: dependencies, size/XS, linter, prioritized

#42870 add ValidateAttribute to listOf custom type
  internal/framework/types/listof.go
  internal/framework/types/listof_test.go
Labels: size/M, tests, prioritized

#42852 F aws workspacesweb data protection settings
  .changelog/42852.txt
  internal/service/workspacesweb/data_protection_settings.go
  internal/service/workspacesweb/data_protection_settings_tags_gen_test.go
  internal/service/workspacesweb/data_protection_settings_test.go
  internal/service/workspacesweb/exports_test.go
  internal/service/workspacesweb/service_package_gen.go
  internal/service/workspacesweb/testdata/DataProtectionSettings/tags/main_gen.tf
  internal/service/workspacesweb/testdata/DataProtectionSettings/tagsComputed1/main_gen.tf
  internal/service/workspacesweb/testdata/DataProtectionSettings/tagsComputed2/main_gen.tf
  internal/service/workspacesweb/testdata/DataProtectionSettings/tags_defaults/main_gen.tf
  internal/service/workspacesweb/testdata/DataProtectionSettings/tags_ignore/main_gen.tf
  internal/service/workspacesweb/testdata/tmpl/data_protection_settings_tags.gtpl
  website/docs/r/workspacesweb_data_protection_settings.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, generators, service/workspacesweb, partner, prioritized

#42715 Split initialization check into a distinct workflow
  .github/workflows/post_publish.yml
  .github/workflows/registry-check.yml
Labels: size/XL, repository, github_actions, prioritized

#42881 Remove incorrect CHANGELOG modification after `v6.0.0-beta3` release
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#42338 Feature: Add support for s3 access points for directory buckets
  .changelog/42338.txt
  internal/service/s3control/access_point.go
  internal/service/s3control/access_point_policy.go
  internal/service/s3control/access_point_test.go
  internal/service/s3control/directory_bucket_access_point_scope.go
  internal/service/s3control/directory_bucket_access_point_scope_test.go
  internal/service/s3control/errors.go
  internal/service/s3control/exports_test.go
  internal/service/s3control/service_package_gen.go
  website/docs/r/s3_access_point.html.markdown
  website/docs/r/s3control_directory_bucket_access_point_scope.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3control, repository, generators, github_actions, partner, prioritized

#42854 [bug] Allow major and minor engine upgrades of Neptune clusters in global clusters
  .changelog/42854.txt
  .ci/semgrep/errors/error-checks.yml
  internal/acctest/acctest.go
  internal/service/neptune/cluster.go
  internal/service/neptune/cluster_instance.go
  internal/service/neptune/cluster_test.go
  internal/service/neptune/consts.go
  internal/service/neptune/engine_version_data_source.go
  internal/service/neptune/engine_version_data_source_test.go
  internal/service/neptune/errors.go
  internal/service/neptune/exports_test.go
  internal/service/neptune/global_cluster.go
  internal/service/neptune/orderable_db_instance_data_source.go
  internal/service/neptune/sweep.go
  internal/service/neptune/testdata/cluster/GlobalUpgrade_major/main.tf
  internal/service/neptune/testdata/cluster/GlobalUpgrade_majorSecondary/main.tf
  internal/service/neptune/testdata/cluster/GlobalUpgrade_minor/main.tf
  internal/service/neptune/testdata/cluster/GlobalUpgrade_minorSecondary/main.tf
  internal/service/neptune/testdata/cluster/GlobalUpgrade_minorTertiary/main.tf
  website/docs/d/neptune_engine_version.html.markdown
  website/docs/r/neptune_cluster.html.markdown
  website/docs/r/neptune_global_cluster.html.markdown
Labels: documentation, size/XL, tests, service/neptune, linter, sweeper, prioritized

#42885 Correct new resource name in CHANGELOG
  .changelog/42338.txt
Labels: size/XS, prioritized

#42886 opensearchserverless resource documentation
  internal/service/opensearchserverless/access_policy.go
  internal/service/opensearchserverless/access_policy_data_source.go
  internal/service/opensearchserverless/collection.go
  internal/service/opensearchserverless/collection_data_source.go
  internal/service/opensearchserverless/lifecycle_policy.go
  internal/service/opensearchserverless/lifecycle_policy_data_source.go
  internal/service/opensearchserverless/security_config.go
  internal/service/opensearchserverless/security_config_data_source.go
  internal/service/opensearchserverless/security_policy.go
  internal/service/opensearchserverless/security_policy_data_source.go
  internal/service/opensearchserverless/vpc_endpoint.go
  internal/service/opensearchserverless/vpc_endpoint_data_source.go
Labels: size/L, service/opensearchserverless, prioritized

#42839 Add support for FSX Lustre Intelligent Tiering
  .changelog/42839.txt
  internal/service/fsx/lustre_file_system.go
  internal/service/fsx/lustre_file_system_test.go
  website/docs/r/fsx_lustre_file_system.html.markdown
Labels: enhancement, documentation, size/L, tests, service/fsx, partner, prioritized

#42478 [New Resource] - AWS Prometheus workspace configuration
  .changelog/42478.txt
  internal/framework/flex/int.go
  internal/service/amp/exports_test.go
  internal/service/amp/service_package_gen.go
  internal/service/amp/workspace_configuration.go
  internal/service/amp/workspace_configuration_test.go
  website/docs/r/prometheus_workspace_configuration.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/amp, partner, prioritized

#42392 [New Resources] VPC Route Server
  .changelog/42392.txt
  .github/labeler-pr-triage.yml
  internal/service/ec2/errors.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_route_server.go
  internal/service/ec2/vpc_route_server_endpoint.go
  internal/service/ec2/vpc_route_server_endpoint_test.go
  internal/service/ec2/vpc_route_server_peer.go
  internal/service/ec2/vpc_route_server_peer_test.go
  internal/service/ec2/vpc_route_server_propagation.go
  internal/service/ec2/vpc_route_server_propagation_test.go
  internal/service/ec2/vpc_route_server_test.go
  internal/service/ec2/vpc_route_server_vpc_association.go
  internal/service/ec2/vpc_route_server_vpc_association_test.go
  internal/service/ec2/wait.go
  names/data/names_data.hcl
  website/docs/r/vpc_route_server.html.markdown
  website/docs/r/vpc_route_server_endpoint.html.markdown
  website/docs/r/vpc_route_server_peer.html.markdown
  website/docs/r/vpc_route_server_propagation.html.markdown
  website/docs/r/vpc_route_server_vpc_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, sweeper, repository, generators, github_actions, service/vpc, external-maintainer, prioritized

#42884 r/aws_vpc_endpoint_subnet_association: Fix `OperationInProgress: VpcEndpoint modify operation in progress` errors when deleting multiple associations in parallel
  .changelog/42884.txt
  internal/service/ec2/vpc_endpoint_subnet_association.go
  internal/service/ec2/vpc_endpoint_subnet_association_test.go
Labels: bug, size/L, tests, service/vpc

#42896 r/aws_logs: add return first match option to resource finders
  .changelog/42896.txt
  internal/service/logs/delivery.go
  internal/service/logs/destination.go
  internal/service/logs/group.go
  internal/service/logs/metric_filter.go
  internal/service/logs/query_definition.go
  internal/service/logs/resource_policy.go
  internal/service/logs/stream.go
  internal/service/logs/subscription_filter.go
  internal/slices/options.go
Labels: size/M, service/logs, prioritized

#42905 docs: replace invalid system log level in lambda function docs
  website/docs/r/lambda_function.html.markdown
Labels: documentation, size/XS, service/lambda, external-maintainer

#42910 docs: update key in resource import statement
  website/docs/r/inspector2_filter.html.markdown
Labels: documentation, size/XS, service/inspector2, external-maintainer

#42913 docs: enhanced aws_ssm_association for multiple instances/tag values
  website/docs/r/ssm_association.html.markdown
Labels: documentation, size/L, service/ssm, partner

#42908 Lightsail: Revise documentation (part 3)
  website/docs/r/lightsail_lb.html.markdown
  website/docs/r/lightsail_lb_certificate.html.markdown
  website/docs/r/lightsail_lb_certificate_attachment.html.markdown
  website/docs/r/lightsail_lb_https_redirection_policy.html.markdown
  website/docs/r/lightsail_lb_stickiness_policy.html.markdown
  website/docs/r/lightsail_static_ip.html.markdown
  website/docs/r/lightsail_static_ip_attachment.html.markdown
Labels: documentation, size/L, service/lightsail, prioritized

#42903 Lightsail: Revise documentation (part 1)
  skaff/datasource/websitedoc.gtpl
  skaff/resource/websitedoc.gtpl
  website/docs/r/lightsail_bucket.html.markdown
  website/docs/r/lightsail_bucket_access_key.html.markdown
  website/docs/r/lightsail_bucket_resource_access.html.markdown
  website/docs/r/lightsail_certificate.html.markdown
  website/docs/r/lightsail_container_service.html.markdown
  website/docs/r/lightsail_container_service_deployment_version.html.markdown
  website/docs/r/lightsail_database.html.markdown
  website/docs/r/lightsail_disk.html.markdown
  website/docs/r/lightsail_disk_attachment.html.markdown
Labels: documentation, size/XL, service/lightsail, skaff, prioritized

#42918 docs: fix import block reference in bedrock resources
  website/docs/r/bedrock_custom_model.html.markdown
  website/docs/r/bedrock_provisioned_model_throughput.html.markdown
Labels: documentation, size/XS, partner, service/bedrock

#42917 Sweeper fixes
  internal/service/ec2/sweep.go
  internal/service/notifications/sweep.go
Labels: size/S, sweeper, prioritized, service/notifications

#42916 New service: EVS
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/evs/generate.go
  internal/service/evs/service_endpoint_resolver_gen.go
  internal/service/evs/service_endpoints_gen_test.go
  internal/service/evs/service_package_gen.go
  internal/service/evs/sweep.go
  internal/service/evs/tags_gen.go
  internal/sweep/register_gen_test.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, linter, sweeper, tags, repository, client-connections, generators, github_actions, prioritized

#42915 Support new AWS Asia Pacific (Taipei) Region `ap-east-2` in data sources
  .changelog/42915.txt
  internal/service/elb/hosted_zone_id_data_source.go
  internal/service/elbv2/hosted_zone_id_data_source.go
  internal/service/s3/hosted_zones.go
Labels: size/M, size/XS, service/s3, service/elbv2, service/elb, prioritized

#42921 Run `make clean-tidy`
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, size/M, skaff, prioritized

#42922 networkmanager: Revise documentation (part 1)
  website/docs/r/networkmanager_attachment_accepter.html.markdown
  website/docs/r/networkmanager_connect_attachment.html.markdown
  website/docs/r/networkmanager_connect_peer.html.markdown
  website/docs/r/networkmanager_connection.html.markdown
  website/docs/r/networkmanager_core_network.html.markdown
  website/docs/r/networkmanager_core_network_policy_attachment.html.markdown
  website/docs/r/networkmanager_customer_gateway_association.html.markdown
  website/docs/r/networkmanager_device.html.markdown
  website/docs/r/networkmanager_dx_gateway_attachment.html.markdown
  website/docs/r/networkmanager_global_network.html.markdown
Labels: documentation, size/XL, service/networkmanager, prioritized

#42923 networkmanager: Revise documentation (part 2)
  website/docs/r/networkmanager_link.html.markdown
  website/docs/r/networkmanager_link_association.html.markdown
  website/docs/r/networkmanager_site.html.markdown
  website/docs/r/networkmanager_site_to_site_vpn_attachment.html.markdown
  website/docs/r/networkmanager_transit_gateway_connect_peer_association.html.markdown
  website/docs/r/networkmanager_transit_gateway_peering.html.markdown
  website/docs/r/networkmanager_transit_gateway_registration.html.markdown
  website/docs/r/networkmanager_transit_gateway_route_table_attachment.html.markdown
  website/docs/r/networkmanager_vpc_attachment.html.markdown
Labels: documentation, size/XL, service/networkmanager, prioritized

#42931 docs: glue_job examples for glueetl and pythonshell jobs
  website/docs/r/glue_job.html.markdown
Labels: documentation, size/M, service/glue, partner

#42926 mq: Revise documentation (part 1 of 1)
  website/docs/d/bedrock_custom_model.html.markdown
  website/docs/d/mq_broker.html.markdown
  website/docs/d/mq_broker_engine_types.html.markdown
  website/docs/d/mq_broker_instance_type_offerings.html.markdown
  website/docs/r/mq_broker.html.markdown
  website/docs/r/mq_configuration.html.markdown
Labels: documentation, size/L, service/mq, prioritized, service/bedrock

#42736 fix(ec2): Fix InvalidParameterValue error for TCP load balancer endpoints in Verified Access
  .changelog/42736.txt
  internal/service/ec2/verifiedaccess_endpoint.go
  internal/service/ec2/verifiedaccess_endpoint_test.go
  internal/service/ec2/verifiedaccess_test.go
Labels: bug, size/XL, tests, service/verifiedaccess, prioritized

#42934 lambda: Revise documentation (part 1)
  website/docs/r/lambda_alias.html.markdown
  website/docs/r/lambda_event_source_mapping.html.markdown
  website/docs/r/lambda_function.html.markdown
  website/docs/r/lambda_function_event_invoke_config.html.markdown
  website/docs/r/lambda_function_url.html.markdown
  website/docs/r/lambda_layer_version.html.markdown
  website/docs/r/lambda_permission.html.markdown
  website/docs/r/lambda_provisioned_concurrency_config.html.markdown
  website/docs/r/lambda_runtime_management_config.html.markdown
Labels: documentation, size/XL, service/lambda, prioritized

#42965 [Enhancement] aws_wafv2_web_acl, aws_wafv2_rule_group: Support `asn_match_statement`
  .changelog/42965.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/rule_group_test.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/wafv2, prioritized

#43002 v6.0.0 is the next unreleased version on `main` branch
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#42978 Technical debt: Use `internal/backoff` in `internal/retry`
  internal/backoff/backoff.go
  internal/retry/README.md
  internal/retry/retry.go
  internal/retry/retry_test.go
  internal/retry/wrappers.go
  internal/retry/wrappers_test.go
  internal/service/account/alternate_contact.go
  internal/types/deadline.go
Labels: documentation, size/XL, tests, service/account, prioritized

#42942 r/aws_cognito_user_pool_client: Set `State` to `Plan` values
  internal/service/cognitoidp/managed_user_pool_client.go
  internal/service/cognitoidp/managed_user_pool_client_test.go
  internal/service/cognitoidp/user_pool_client.go
  internal/service/cognitoidp/user_pool_client_test.go
  internal/service/dataexchange/revision_assets.go
  internal/service/logs/delivery.go
  internal/service/m2/deployment.go
  internal/service/route53domains/domain.go
  internal/service/workspacesweb/user_settings_test.go
Labels: size/XL, tests, service/route53domains, service/dataexchange, service/logs, service/cognitoidp, service/workspacesweb, prioritized, service/m2

#42753 aws_sagemaker_app_image_config: have at least one jupyterlab, codeeditor or kernel gateway config block, and push them even if empty fixes #37766 #40493
  .changelog/42753.txt
  internal/service/sagemaker/app_image_config.go
  internal/service/sagemaker/app_image_config_test.go
  website/docs/r/sagemaker_app_image_config.html.markdown
Labels: bug, documentation, breaking-change, size/L, tests, service/sagemaker

#43012 Don't validate `region` if partition is empty
  internal/conns/awsclient.go
  internal/conns/awsclient_test.go
Labels: size/M, tests, client-connections

#43006 Other: Update website documentation
  website/docs/r/lakeformation_resource.html.markdown
Labels: documentation, size/XS, service/lakeformation

#42993 docs: fix textual description of the workspace configuration example
  website/docs/r/grafana_workspace.html.markdown
Labels: documentation, size/XS, service/grafana, external-maintainer

#43017 Populates the `sdk.arn_service` attribute in `names/data/names_data.hcl`
  internal/generate/checknames/main.go
  internal/generate/identitytests/main.go
  internal/generate/identitytests/resource_test.go.gtpl
  names/data/names_data.hcl
  names/data/read.go
Labels: size/XL, generators, prioritized

#43032 Technical debt: Remove unused functions identified by `deadcode` (v6.0.0)
  internal/acctest/acctest.go
  internal/errs/diag.go
  internal/errs/errs.go
  internal/errs/sdkdiag/must.go
  internal/framework/flex/bool.go
  internal/framework/flex/bool_test.go
  internal/framework/flex/float.go
  internal/framework/flex/float_test.go
  internal/framework/flex/int.go
  internal/framework/flex/int_test.go
  internal/framework/flex/list.go
  internal/framework/flex/list_test.go
  internal/framework/flex/map.go
  internal/framework/flex/map_test.go
  internal/framework/flex/set.go
  internal/framework/flex/set_test.go
  internal/framework/flex/string.go
  internal/framework/resource_list_of_object.go
  internal/sdkv2/resource_differ.go
  internal/sdkv2/types/nullable/bool.go
  internal/sdkv2/types/rfc3339_duration.go
  internal/service/chatbot/generate.go
  internal/service/chatbot/tags_gen.go
  internal/service/drs/generate.go
  internal/service/drs/tags_gen.go
  internal/service/timestreaminfluxdb/generate.go
  internal/service/timestreaminfluxdb/tags_gen.go
  internal/types/timestamp/timestamp.go
Labels: size/XL, tests, tags, generators, service/drs, prioritized, service/chatbot, service/timestreaminfluxdb

#42967 Resource Identity: Handles ARN Identity edge case of Regional Resource with Global ARN Format
  internal/framework/import_test.go
  internal/framework/with_import_by_arn.go
  internal/framework/with_import_by_arn_test.go
  internal/framework/with_import_by_global_arn.go
  internal/framework/with_import_by_global_arn_test.go
  internal/generate/identitytests/main.go
  internal/generate/identitytests/resource_test.go.gtpl
  internal/generate/servicepackage/main.go
  internal/generate/servicepackage/service_package_gen.go.gtpl
  internal/provider/framework/identity/schema.go
  internal/provider/framework/importer/arn.go
  internal/provider/framework/importer/arn_test.go
  internal/provider/framework/importer/context.go
  internal/provider/framework/importer/diag.go
  internal/provider/framework/importer/schema_test.go
  internal/provider/framework/provider.go
  internal/provider/framework/wrap.go
  internal/provider/sdkv2/identity/schema.go
  internal/provider/sdkv2/identity_interceptor.go
  internal/provider/sdkv2/provider.go
  internal/service/appflow/connector_profile.go
  internal/service/appflow/flow.go
  internal/service/appflow/service_package_gen.go
  internal/service/s3/service_package_gen.go
  internal/service/ssoadmin/application.go
  internal/service/ssoadmin/application_assignment_configuration.go
  internal/service/ssoadmin/application_assignment_configuration_identity_gen_test.go
  internal/service/ssoadmin/application_identity_gen_test.go
  internal/service/ssoadmin/service_package_gen.go
  internal/service/ssoadmin/trusted_token_issuer.go
  internal/service/ssoadmin/trusted_token_issuer_identity_gen_test.go
  internal/types/service_package.go
Labels: size/XL, tests, service/s3, provider, service/ssoadmin, service/appflow, generators, prioritized

#43038 Resource Identity: Disable for Mutable Identity
  internal/framework/flex/autoflex.go
  internal/generate/identitytests/resource_test.go.gtpl
  internal/generate/servicepackage/service_package_gen.go.gtpl
  internal/service/batch/job_definition_identity_gen_test.go
  internal/service/batch/service_package_gen.go
  internal/service/ec2/vpc_block_public_access_exclusion.go
  internal/service/route53/record_test.go
  internal/service/route53/service_package_gen.go
  internal/vault/helper/pgpkeys/keybase.go
Labels: size/XL, tests, service/route53, service/batch, generators, service/vpc, prioritized

#43072 Re-enable Terraform 0.12 support
  internal/provider/sdkv2/provider.go
Labels: size/XS, provider, prioritized

#43014 feat: remove ForceNew for email
  .changelog/43014.txt
  internal/service/quicksight/user.go
  internal/service/quicksight/user_test.go
Labels: bug, size/XS, tests, service/quicksight, external-maintainer, prioritized

#43109 CHANGELOG entry for #43090
  .changelog/43090.txt
Labels: size/XS, prioritized

#42982 [Enhancement]: aws_codebuild_project: Support `docker_server` block for remote Docker servers
  .changelog/42982.txt
  internal/service/codebuild/project.go
  internal/service/codebuild/project_test.go
  website/docs/r/codebuild_project.html.markdown
Labels: enhancement, documentation, size/L, tests, service/codebuild, prioritized

#37116 fix: Add WHOLE arc thickness to pie chart visuals for aws_quicksight_analysis and aws_quicksight_dashboard
  .changelog/37116.txt
  internal/service/quicksight/analysis_test.go
  internal/service/quicksight/dashboard_test.go
  internal/service/quicksight/schema/visual_pie_chart.go
Labels: bug, size/L, tests, service/quicksight, external-maintainer, prioritized

#37703 feat: Add icmpv6 protocol support for aws_lightsail_instance_public_ports
  .changelog/37703.txt
  internal/service/lightsail/instance_public_ports.go
  internal/service/lightsail/instance_public_ports_test.go
  website/docs/r/lightsail_instance_public_ports.html.markdown
Labels: enhancement, documentation, size/L, tests, service/lightsail, external-maintainer, prioritized

#43070 internal/retry: replace SDK V2 `WaitForState` helper
  internal/backoff/backoff.go
  internal/enum/values.go
  internal/retry/error.go
  internal/retry/state.go
  internal/retry/state_test.go
  internal/retry/wrappers.go
  internal/slices/slices.go
  internal/types/zero.go
  internal/types/zero_test.go
Labels: size/XL, tests, prioritized

#43116 r/aws_verifiedpermissions_schema: Fix `Value Conversion Error` errors when upgrading existing resources to Terraform AWS Provider v6.0.0
  .changelog/43116.txt
  internal/service/verifiedpermissions/schema_migrate.go
Labels: bug, size/XS, service/verifiedpermissions, prioritized

#43117 chore: make clean-tidy
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, skaff, prioritized

#42979 EKS Pod Identity Cross Account
  .changelog/42979.txt
  internal/service/eks/pod_identity_association.go
  internal/service/eks/pod_identity_association_test.go
  website/docs/r/eks_pod_identity_association.html.markdown
Labels: enhancement, documentation, size/L, size/XL, tests, service/eks, prioritized

#43089 Resource Identity: Don't set Identity when removing resource
  internal/provider/framework/identity_interceptor.go
  internal/provider/sdkv2/identity_interceptor.go
Labels: size/XS, provider, prioritized

#43135 aws_s3_bucket_policy overwrite behavior clarification #43060
  website/docs/r/s3_bucket_policy.html.markdown
Labels: documentation, size/XS, service/s3

#43018 feat: Add os_release_label arg to aws_emr_cluster
  .changelog/43018.txt
  internal/service/emr/cluster.go
  internal/service/emr/cluster_test.go
  website/docs/r/emr_cluster.html.markdown
Labels: enhancement, documentation, size/L, size/M, tests, service/emr, external-maintainer, prioritized

#43128 r/aws_kms_key: Support post-quantum ML-DSA digital signatures
  .changelog/43128.txt
  .ci/.golangci4.yml
  internal/service/kms/external_key.go
  internal/service/kms/key.go
  internal/service/kms/key_data_source.go
  internal/service/kms/key_policy.go
  internal/service/kms/key_test.go
  internal/service/kms/public_key_data_source.go
  internal/service/kms/replica_external_key.go
  internal/service/kms/replica_key.go
  internal/service/kms/replica_key_test.go
  website/docs/d/kms_key.html.markdown
  website/docs/r/kms_key.html.markdown
Labels: documentation, size/L, tests, service/kms, linter

#43091 cloudtrail: add newest fields supported by advanced event selectors
  .changelog/43091.txt
  internal/service/cloudtrail/consts.go
Labels: enhancement, size/XS, service/cloudtrail, prioritized

#43174 docs: Add extended threat detection for EKS info and example to aws_guardduty_detector_feature doc
  website/docs/r/guardduty_detector_feature.html.markdown
Labels: documentation, size/XS, service/guardduty, needs-triage, external-maintainer

#43139 feat: Add kms_key_identifier arg to aws_cloudwatch_event_archive
  .changelog/43139.txt
  internal/service/events/archive.go
  internal/service/events/archive_test.go
  website/docs/r/cloudwatch_event_archive.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/events, external-maintainer, prioritized

#43230 Update index page to show new provider version 6
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider
