Repository hashicorp/terraform-provider-aws, pull requests merged in 2025-04, with the labels that each got.

#42064 Update apprunner_custom_domain_association.html.markdown
  website/docs/r/apprunner_custom_domain_association.html.markdown
Labels: documentation, size/XS, service/apprunner

#40953 fix: update comparison
  .changelog/40953.txt
  internal/service/workspaces/workspace.go
  internal/service/workspaces/workspace_test.go
  internal/service/workspaces/workspaces_test.go
Labels: bug, regression, size/M, tests, service/workspaces, external-maintainer, prioritized

#42039 Add support for cross account scraping in AMP scraper
  .changelog/42039.txt
  internal/service/amp/scraper.go
  internal/service/amp/scraper_test.go
  website/docs/r/prometheus_scraper.html.markdown
Labels: enhancement, documentation, size/L, tests, service/amp, partner, prioritized

#41998 r/aws_ecs_service: include volume_configuration, service_connect_configurations in resourceServiceRead
  .changelog/41998.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
Labels: bug, size/L, tests, service/ecs, prioritized

#42062 Fix SQS Queue Timeout When Waiting for KMS Data Key Reuse Period Propagation
  .changelog/42062.txt
  internal/service/sqs/queue.go
  internal/service/sqs/queue_test.go
  website/docs/r/sqs_queue.html.markdown
Labels: documentation, size/M, tests, service/sqs, prioritized

#42074 Update bug template
  .github/ISSUE_TEMPLATE/00_bug_report.yml
  .github/ISSUE_TEMPLATE/05_beta_feedback.yml
Labels: size/L, repository, prioritized

#41958 rds: Fix Security Findings in Tests by Removing Hardcoded Passwords and Enforcing TLS 1.3
  internal/acctest/configs.go
  internal/acctest/configs_test.go
  internal/acctest/vcr.go
  internal/service/rds/cluster_test.go
  internal/service/rds/export_task_test.go
  internal/service/rds/instance_automated_backups_replication_test.go
  internal/service/rds/instance_data_source_test.go
  internal/service/rds/instance_role_association_test.go
  internal/service/rds/instance_test.go
  internal/service/rds/testdata/DBInstance/data.tags/main_gen.tf
  internal/service/rds/testdata/DBInstance/data.tags_defaults/main_gen.tf
  internal/service/rds/testdata/DBInstance/data.tags_ignore/main_gen.tf
  internal/service/rds/testdata/DBInstance/tags/main_gen.tf
  internal/service/rds/testdata/DBInstance/tagsComputed1/main_gen.tf
  internal/service/rds/testdata/DBInstance/tagsComputed2/main_gen.tf
  internal/service/rds/testdata/DBInstance/tags_defaults/main_gen.tf
  internal/service/rds/testdata/DBInstance/tags_ignore/main_gen.tf
  internal/service/rds/testdata/tmpl/instance_tags.gtpl
Labels: size/XL, tests, service/rds, prioritized

#42075 Update documentation issue form
  .github/ISSUE_TEMPLATE/01_documentation.yml
Labels: size/S, repository

#42046 r/glue_job - add support for source_control_details
  .changelog/42046.txt
  internal/service/glue/catalog_database.go
  internal/service/glue/catalog_table.go
  internal/service/glue/catalog_table_data_source.go
  internal/service/glue/classifier.go
  internal/service/glue/connection.go
  internal/service/glue/connection_data_source.go
  internal/service/glue/connection_test.go
  internal/service/glue/crawler.go
  internal/service/glue/data_catalog_encryption_settings.go
  internal/service/glue/data_catalog_encryption_settings_data_source.go
  internal/service/glue/data_quality_ruleset.go
  internal/service/glue/dev_endpoint.go
  internal/service/glue/exports_test.go
  internal/service/glue/find.go
  internal/service/glue/job.go
  internal/service/glue/job_test.go
  internal/service/glue/ml_transform.go
  internal/service/glue/partition.go
  internal/service/glue/partition_index.go
  internal/service/glue/registry.go
  internal/service/glue/registry_data_source.go
  internal/service/glue/resource_policy.go
  internal/service/glue/schema.go
  internal/service/glue/script_data_source.go
  internal/service/glue/security_configuration.go
  internal/service/glue/service_package_gen.go
  internal/service/glue/status.go
  internal/service/glue/sweep.go
  internal/service/glue/trigger.go
  internal/service/glue/user_defined_function.go
  internal/service/glue/wait.go
  internal/service/glue/workflow.go
  website/docs/r/glue_job.html.markdown
Labels: enhancement, documentation, size/L, tests, service/glue, external-maintainer, prioritized

#42076 r/aws_quicksight_data_set: Fix perpetual diff when `refresh_properties` is not configured
  .changelog/42076.txt
  internal/service/quicksight/schema/data_set.go
Labels: bug, size/XS, service/quicksight, prioritized

#42071 r/aws_fms_resource_set: replace theyy with they
  website/docs/r/fms_resource_set.html.markdown
Labels: documentation, size/XS, service/fms

#38050 aws_batch_compute_environment : Deprecated compute_environment_name and compute_environment_name_prefix
  .changelog/38050.txt
  internal/service/batch/compute_environment.go
  internal/service/batch/compute_environment_data_source.go
  internal/service/batch/compute_environment_data_source_test.go
  internal/service/batch/compute_environment_test.go
  internal/service/batch/testdata/ComputeEnvironment/data.tags/main_gen.tf
  internal/service/batch/testdata/ComputeEnvironment/data.tags_defaults/main_gen.tf
  internal/service/batch/testdata/ComputeEnvironment/data.tags_ignore/main_gen.tf
  internal/service/batch/testdata/ComputeEnvironment/tags/main_gen.tf
  internal/service/batch/testdata/ComputeEnvironment/tagsComputed1/main_gen.tf
  internal/service/batch/testdata/ComputeEnvironment/tagsComputed2/main_gen.tf
  internal/service/batch/testdata/ComputeEnvironment/tags_defaults/main_gen.tf
  internal/service/batch/testdata/ComputeEnvironment/tags_ignore/main_gen.tf
  internal/service/batch/testdata/tmpl/compute_environment_data_source.gtpl
  internal/service/batch/testdata/tmpl/compute_environment_tags.gtpl
  website/docs/cdktf/python/d/batch_compute_environment.html.markdown
  website/docs/cdktf/python/r/batch_compute_environment.html.markdown
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/L, tests, service/batch

#42091 Update repository issue form
  .github/ISSUE_TEMPLATE/04_repository.yml
Labels: size/XS, repository, prioritized

#42092 Update "other" issue form
  .github/ISSUE_TEMPLATE/06_other.yml
Labels: size/S, repository, prioritized

#38448 fix: Change etag to read-only for aws_cloudfront_response_headers_policy
  .changelog/38448.txt
  internal/service/cloudfront/response_headers_policy.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: breaking-change, size/XS, service/cloudfront, external-maintainer, prioritized

#42097 r/aws_globalaccelerator/accelerator_data_source: Make ID only computed
  .changelog/42097.txt
  internal/service/globalaccelerator/accelerator_data_source.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: size/XS, service/globalaccelerator, prioritized

#40777 r/aws_service_discovery_service: Deprecates `health_check_custom_config.failure_threshold`
  .changelog/40777.txt
  internal/service/servicediscovery/service.go
  website/docs/r/service_discovery_service.html.markdown
Labels: documentation, size/XS, service/servicediscovery

#42078 r/aws_instance: set user_data cleartext instead of hash
  .changelog/42078.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: breaking-change, size/L, tests, service/ec2, prioritized

#42099 sagemaker: Remove `accelerator_types` from notebook instance
  .changelog/42099.txt
  internal/service/sagemaker/notebook_instance.go
  internal/service/sagemaker/notebook_instance_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/sagemaker_notebook_instance.html.markdown
Labels: documentation, size/S, tests, service/sagemaker, prioritized

#42104 The former AMI ubuntu14.04 is too old & The nginx welcome page can not be accessed
  examples/eip/variables.tf
Labels: size/XS, examples

#42108 r/aws_connect_queue: Fix API limitation when assigning more than 50 Quick Connects to a queue
  .changelog/42108.txt
  internal/service/connect/queue.go
Labels: bug, size/S, service/connect, prioritized

#42101 r/aws_osis_pipeline: Add sweeper
  internal/service/osis/pipeline.go
  internal/service/osis/pipeline_test.go
  internal/service/osis/sweep.go
  internal/sweep/register_gen_test.go
Labels: size/M, tests, sweeper, generators, prioritized, service/osis

#38398 Removed deprecated `base_policy_region` attribute in `r/aws_networkmanager_core_network`
  .changelog/38398.txt
  internal/service/networkmanager/core_network.go
  internal/service/networkmanager/core_network_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/networkmanager_core_network.html.markdown
Labels: documentation, breaking-change, size/M, tests, service/networkmanager, prioritized

#42111 s3tables: Correctly identify arguments as objects rather than blocks
  website/docs/r/s3tables_table.html.markdown
  website/docs/r/s3tables_table_bucket.html.markdown
Labels: documentation, size/S, service/s3tables

#42102 Deprecating `aws_kinesis_analytics_application` Resource
  .changelog/42102.txt
  internal/service/kinesisanalytics/application.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/kinesis_analytics_application.html.markdown
Labels: documentation, size/XS, service/kinesisanalytics, prioritized

#42114 d/aws_ami: upgrade unsafe filter warning to suppressible error
  .changelog/42114.txt
  internal/service/ec2/ec2_ami_data_source.go
  internal/service/ec2/ec2_ami_data_source_test.go
  website/docs/d/ami.html.markdown
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, size/M, tests, service/ec2, prioritized

#42117 r/aws_sns_topic_subscription: ignore `AuthorizationError` for `ListSubscriptionByTopic` operations
  .changelog/42117.txt
  internal/service/sns/topic_subscription.go
Labels: bug, regression, size/XS, service/sns, prioritized

#42119 redshift_cluster: Remove optional for computed-only attributes
  .changelog/42119.txt
  internal/service/redshift/cluster.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, size/XS, service/redshift, prioritized

#42133 Update docs to make addresses optional to match the code
  website/docs/r/wafv2_ip_set.html.markdown
Labels: documentation, size/XS, service/wafv2

#42120 Update Go dependencies
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#42130 Build with Go v1.24.2
  .ci/providerlint/go.mod
  .ci/providerlint/passes/AWSAT001/testdata/go.mod
  .ci/providerlint/passes/AWSAT002/testdata/go.mod
  .ci/providerlint/passes/AWSAT003/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.mod
  .ci/providerlint/passes/AWSAT005/testdata/go.mod
  .ci/providerlint/passes/AWSAT006/testdata/go.mod
  .ci/providerlint/passes/AWSR001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.mod
  .ci/tools/go.mod
  .go-version
  go.mod
  internal/service/cloudformation/test-fixtures/examplecompany-exampleservice-exampleresource/go.mod
  skaff/go.mod
  tools/literally/go.mod
  tools/tfsdk2fw/go.mod
Labels: size/S, tests, service/cloudformation, provider, linter, skaff, prioritized

#42129 Build with Go v1.23.8
  .ci/providerlint/go.mod
  .ci/providerlint/passes/AWSAT001/testdata/go.mod
  .ci/providerlint/passes/AWSAT002/testdata/go.mod
  .ci/providerlint/passes/AWSAT003/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.mod
  .ci/providerlint/passes/AWSAT005/testdata/go.mod
  .ci/providerlint/passes/AWSAT006/testdata/go.mod
  .ci/providerlint/passes/AWSR001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.mod
  .ci/tools/go.mod
  .go-version
  go.mod
  internal/service/cloudformation/test-fixtures/examplecompany-exampleservice-exampleresource/go.mod
  skaff/go.mod
  tools/literally/go.mod
  tools/tfsdk2fw/go.mod
Labels: size/S, tests, service/cloudformation, provider, linter, skaff, prioritized

#42136 ds/servicediscovery_service: Remove tags_all
  .changelog/42136.txt
  internal/service/servicediscovery/service_data_source.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/service_discovery_service.html.markdown
Labels: documentation, size/XS, service/servicediscovery, prioritized

#42141 r/sagemaker_notebook_lifecycle_config - support tags
  .changelog/42141.txt
  internal/service/sagemaker/notebook_instance_lifecycle_configuration.go
  internal/service/sagemaker/notebook_instance_lifecycle_configuration_test.go
  internal/service/sagemaker/service_package_gen.go
  website/docs/r/sagemaker_notebook_instance_lifecycle_configuration.html.markdown
Labels: enhancement, documentation, size/M, tests, service/sagemaker, tags, generators, external-maintainer, prioritized

#42138 docs: typo in `aws_vpc_ipv6_cidr_block_association`
  website/docs/r/vpc_ipv6_cidr_block_association.html.markdown
Labels: documentation, size/XS, service/vpc

#42143 r/sagemaker_image_version - add args
  .changelog/42143.txt
  internal/service/sagemaker/image_version.go
  internal/service/sagemaker/image_version_test.go
  website/docs/r/sagemaker_image_version.html.markdown
Labels: enhancement, documentation, size/L, tests, service/sagemaker, external-maintainer, prioritized

#42144 r/sagemaker_domain - allow removing custom file config
  .changelog/42144.txt
  internal/service/sagemaker/domain.go
  internal/service/sagemaker/domain_test.go
Labels: bug, size/S, tests, service/sagemaker, external-maintainer, prioritized

#42151 cdktf: update documentation
  website/docs/cdktf/python/d/ami.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/ami.html.markdown
  website/docs/cdktf/python/r/apprunner_custom_domain_association.html.markdown
  website/docs/cdktf/python/r/fms_resource_set.html.markdown
  website/docs/cdktf/python/r/glue_job.html.markdown
  website/docs/cdktf/python/r/instance.html.markdown
  website/docs/cdktf/python/r/prometheus_scraper.html.markdown
  website/docs/cdktf/python/r/s3tables_table.html.markdown
  website/docs/cdktf/python/r/s3tables_table_bucket.html.markdown
  website/docs/cdktf/python/r/sagemaker_image_version.html.markdown
  website/docs/cdktf/python/r/sagemaker_notebook_instance_lifecycle_configuration.html.markdown
  website/docs/cdktf/python/r/sqs_queue.html.markdown
  website/docs/cdktf/python/r/ssm_parameter.html.markdown
  website/docs/cdktf/python/r/vpc_ipv6_cidr_block_association.html.markdown
  website/docs/cdktf/python/r/wafv2_ip_set.html.markdown
  website/docs/cdktf/python/r/wafv2_rule_group.html.markdown
  website/docs/cdktf/typescript/d/ami.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/ami.html.markdown
  website/docs/cdktf/typescript/r/apprunner_custom_domain_association.html.markdown
  website/docs/cdktf/typescript/r/fms_resource_set.html.markdown
  website/docs/cdktf/typescript/r/glue_job.html.markdown
  website/docs/cdktf/typescript/r/instance.html.markdown
  website/docs/cdktf/typescript/r/prometheus_scraper.html.markdown
  website/docs/cdktf/typescript/r/s3tables_table.html.markdown
  website/docs/cdktf/typescript/r/s3tables_table_bucket.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_image_version.html.markdown
  website/docs/cdktf/typescript/r/sagemaker_notebook_instance_lifecycle_configuration.html.markdown
  website/docs/cdktf/typescript/r/sqs_queue.html.markdown
  website/docs/cdktf/typescript/r/ssm_parameter.html.markdown
  website/docs/cdktf/typescript/r/vpc_ipv6_cidr_block_association.html.markdown
  website/docs/cdktf/typescript/r/wafv2_ip_set.html.markdown
  website/docs/cdktf/typescript/r/wafv2_rule_group.html.markdown
Labels: documentation, size/XL, service/ec2, service/sqs, service/ssm, service/sagemaker, service/glue, service/fms, service/wafv2, service/apprunner, service/amp, service/vpc, service/s3tables

#42153 Update variables.tf -- update new AMI ubuntu 22.04
  examples/elb/variables.tf
Labels: size/XS, examples

#42167 42164 aws transfer server policy support
  .changelog/42164.txt
  internal/service/transfer/server.go
  internal/service/transfer/server_test.go
  website/docs/r/transfer_server.html.markdown
Labels: enhancement, documentation, size/M, tests, service/transfer, prioritized

#42179 docs: fix typos in networkfirewall and iot docs
  website/docs/cdktf/python/r/iot_ca_certificate.html.markdown
  website/docs/cdktf/python/r/networkfirewall_firewall.html.markdown
  website/docs/cdktf/typescript/r/iot_ca_certificate.html.markdown
  website/docs/cdktf/typescript/r/networkfirewall_firewall.html.markdown
  website/docs/r/iot_ca_certificate.html.markdown
  website/docs/r/networkfirewall_firewall.html.markdown
Labels: documentation, size/XS, service/iot, service/networkfirewall

#42161 doc: Fix parameter name from table_wild_card to wildcard in aws_lakeformation_opt_in resource
  website/docs/r/lakeformation_opt_in.html.markdown
Labels: documentation, size/XS, service/lakeformation

#42191 Fix "Ssh" in variable name to "SSH" to comply with naming caps rule to prevent CI failure (Naming Scan Caps/AWS/EC2)
  internal/service/transfer/server.go
Labels: size/XS, service/transfer

#42189 Update elasticache_cluster.html.markdown
  website/docs/r/elasticache_cluster.html.markdown
Labels: documentation, size/XS, service/elasticache

#42193 Fixup CHANGELOG entry
  .changelog/42164.txt
Labels: size/XS, prioritized

#42184 [Fix]: docs example typo
  website/docs/r/drs_replication_configuration_template.html.markdown
Labels: documentation, size/XS, service/drs

#42134 feat(eks): added `force` argument for eks cluster version upgrade
  .changelog/42134.txt
  internal/service/eks/cluster.go
  internal/service/eks/cluster_test.go
  website/docs/r/eks_cluster.html.markdown
Labels: enhancement, size/M, tests, service/eks, prioritized

#42198 docs: fixed missing required name-argument in example
  website/docs/r/backup_restore_testing_plan.html.markdown
Labels: documentation, size/XS, service/backup

#41650 Add computeRoleArn support for AWS Amplify
  .changelog/41650.txt
  internal/service/amplify/amplify_test.go
  internal/service/amplify/app.go
  internal/service/amplify/app_test.go
  internal/service/amplify/consts.go
  website/docs/r/amplify_app.html.markdown
Labels: enhancement, documentation, size/M, tests, service/amplify, prioritized

#42205 Update acm_certificate.html.markdown
  website/docs/r/acm_certificate.html.markdown
Labels: documentation, size/XS, service/acm

#42216 cdktf: update documentation
  website/docs/cdktf/python/r/acm_certificate.html.markdown
  website/docs/cdktf/python/r/amplify_app.html.markdown
  website/docs/cdktf/python/r/backup_restore_testing_plan.html.markdown
  website/docs/cdktf/python/r/drs_replication_configuration_template.html.markdown
  website/docs/cdktf/python/r/eks_cluster.html.markdown
  website/docs/cdktf/python/r/elasticache_cluster.html.markdown
  website/docs/cdktf/python/r/iot_ca_certificate.html.markdown
  website/docs/cdktf/python/r/lakeformation_opt_in.html.markdown
  website/docs/cdktf/python/r/networkfirewall_firewall.html.markdown
  website/docs/cdktf/python/r/prometheus_scraper.html.markdown
  website/docs/cdktf/python/r/sns_topic_subscription.html.markdown
  website/docs/cdktf/python/r/transfer_server.html.markdown
  website/docs/cdktf/typescript/r/acm_certificate.html.markdown
  website/docs/cdktf/typescript/r/amplify_app.html.markdown
  website/docs/cdktf/typescript/r/backup_restore_testing_plan.html.markdown
  website/docs/cdktf/typescript/r/drs_replication_configuration_template.html.markdown
  website/docs/cdktf/typescript/r/eks_cluster.html.markdown
  website/docs/cdktf/typescript/r/elasticache_cluster.html.markdown
  website/docs/cdktf/typescript/r/iot_ca_certificate.html.markdown
  website/docs/cdktf/typescript/r/lakeformation_opt_in.html.markdown
  website/docs/cdktf/typescript/r/networkfirewall_firewall.html.markdown
  website/docs/cdktf/typescript/r/prometheus_scraper.html.markdown
  website/docs/cdktf/typescript/r/sns_topic_subscription.html.markdown
  website/docs/cdktf/typescript/r/transfer_server.html.markdown
Labels: documentation, size/XL, service/sns, service/acm, service/elasticache, service/iot, service/eks, service/amplify, service/transfer, service/backup, service/lakeformation, service/networkfirewall, service/amp, service/drs

#42206 docs: add `ExpectResourceAction` plan check in `_disappears` test design decision
  docs/design-decision-log.md
  docs/design-decisions/expect-resource-action-with-disappears-tests.md
Labels: documentation, size/M, prioritized

#42207 [TechDebt]: add `ExpectResourceAction` plan check to `_disappears` test examples, skaff
  docs/running-and-writing-acceptance-tests.md
  skaff/resource/resourcetest.gtpl
Labels: documentation, size/XS, skaff, prioritized

#42219 `aws-sdk-go-v2` (Release 2025-04-11) and `aws-sdk-go-base` updates
  go.mod
  go.sum
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, size/XL, skaff

#42208 r/aws_elasticache_serverless_cache: allow in-place `redis` to `valkey` engine updates
  .changelog/42208.txt
  internal/service/elasticache/serverless_cache.go
  internal/service/elasticache/serverless_cache_test.go
Labels: bug, size/L, tests, service/elasticache, prioritized

#42105 New Resource aws_redshift_integration
  .changelog/42105.txt
  internal/service/redshift/exports_test.go
  internal/service/redshift/find.go
  internal/service/redshift/integration.go
  internal/service/redshift/integration_test.go
  internal/service/redshift/service_package_gen.go
  internal/service/redshift/status.go
  internal/service/redshift/sweep.go
  internal/service/redshift/wait.go
  website/docs/r/redshift_integration.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/redshift, sweeper, generators, prioritized

#42223 Update workflows to newer Ubuntu images
  .github/actionlint.yml
  .github/workflows/acctest-terraform-embedded-lint.yml
  .github/workflows/examples.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/goreleaser-ci.yml
  .github/workflows/modern_go.yml
  .github/workflows/provider.yml
  .github/workflows/providerlint.yml
  .github/workflows/website.yml
Labels: size/XS, linter, repository, github_actions

#42224 r/aws_ssm_association: remove `instance_id` argument
  .changelog/42224.txt
  internal/service/ssm/association.go
  internal/service/ssm/association_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/ssm_association.html.markdown
Labels: documentation, breaking-change, size/XS, tests, service/ssm, prioritized

#42137 ec2, ecs: EOL Amazon Elastic Inference
  .changelog/42137.txt
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  internal/service/ec2/ec2_launch_template_data_source_test.go
  internal/service/ec2/ec2_launch_template_test.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_data_source.go
  internal/service/ecs/task_definition_data_source_test.go
  internal/service/ecs/task_definition_test.go
  internal/service/ecs/task_execution_data_source.go
  website/docs/d/ecs_task_definition.html.markdown
  website/docs/d/ecs_task_execution.html.markdown
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/ecs_task_definition.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, size/XL, tests, service/ec2, service/ecs, prioritized

#40155 feat: Add manual_creation argument to aws_codebuild_webhook resource
  .changelog/40155.txt
  internal/service/codebuild/webhook.go
  internal/service/codebuild/webhook_test.go
  website/docs/r/codebuild_webhook.html.markdown
Labels: enhancement, documentation, tests, service/codebuild, prioritized

#42226 r/aws_api_gateway_account: remove `reset_on_delete` argument
  .changelog/42226.txt
  internal/service/apigateway/account.go
  internal/service/apigateway/account_test.go
  internal/service/apigateway/apigateway_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/L, tests, service/apigateway, prioritized

#42228 resource/aws_s3_bucket_lifecycle_configuration: Fixes error when removing rules from top of list
  .changelog/42228.txt
  internal/framework/planmodifiers/boolplanmodifier/legacy_value.go
  internal/framework/planmodifiers/boolplanmodifier/legacy_value_test.go
  internal/framework/planmodifiers/int32planmodifier/legacy_value.go
  internal/framework/planmodifiers/int32planmodifier/legacy_value_test.go
  internal/framework/planmodifiers/int64planmodifier/legacy_value.go
  internal/framework/planmodifiers/int64planmodifier/legacy_value_test.go
  internal/framework/planmodifiers/stringplanmodifier/legacy_value.go
  internal/framework/planmodifiers/stringplanmodifier/legacy_value_test.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
Labels: bug, size/XL, tests, service/s3, prioritized

#42230 resource/aws_cloudfront_key_value_store: Set `id` attribute to remote object's `Id`
  .changelog/42230.txt
  internal/service/cloudfront/key_value_store.go
  internal/service/cloudfront/key_value_store_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/cloudfront_key_value_store.html.markdown
Labels: documentation, size/M, tests, service/cloudfront, prioritized

#42231 Add Semgrep checks for Framework import functions
  .ci/semgrep/framework/import-passthrough-id.yml
  internal/framework/with_import_by_id.go
  internal/service/apigateway/account.go
  internal/service/auditmanager/account_registration.go
  internal/service/auditmanager/assessment.go
  internal/service/auditmanager/assessment_delegation.go
  internal/service/auditmanager/assessment_report.go
  internal/service/auditmanager/control.go
  internal/service/auditmanager/framework.go
  internal/service/auditmanager/framework_share.go
  internal/service/auditmanager/organization_admin_account_registration.go
  internal/service/backup/restore_testing_plan.go
  internal/service/bedrock/inference_profile.go
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/agent_action_group.go
  internal/service/codeconnections/connection.go
  internal/service/codeconnections/host.go
  internal/service/codeguruprofiler/profiling_group.go
  internal/service/dataexchange/event_action.go
  internal/service/datazone/domain.go
  internal/service/devopsguru/event_sources_config.go
  internal/service/devopsguru/notification_channel.go
  internal/service/devopsguru/resource_collection.go
  internal/service/devopsguru/service_integration.go
  internal/service/elasticache/reserved_cache_node.go
  internal/service/fms/resource_set.go
  internal/service/guardduty/malware_protection_plan.go
  internal/service/iot/billing_group.go
  internal/service/lambda/function_recursion_config.go
  internal/service/lexv2models/bot.go
  internal/service/lexv2models/bot_locale.go
  internal/service/lexv2models/bot_version.go
  internal/service/opensearch/authorize_vpc_endpoint_access.go
  internal/service/opensearchserverless/collection.go
  internal/service/opensearchserverless/security_config.go
  internal/service/paymentcryptography/key.go
  internal/service/pinpoint/email_template.go
  internal/service/rds/cluster_snapshot_copy.go
  internal/service/rds/export_task.go
  internal/service/redshift/data_share_authorization.go
  internal/service/redshift/data_share_consumer_association.go
  internal/service/redshift/logging.go
  internal/service/redshift/snapshot_copy.go
  internal/service/route53profiles/association.go
  internal/service/route53profiles/resource_association.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/securitylake/subscriber.go
  internal/service/securitylake/subscriber_notification.go
  internal/service/servicecatalogappregistry/application.go
  internal/service/servicequotas/template.go
  internal/service/servicequotas/template_association.go
  internal/service/shield/subscription.go
  internal/service/ssoadmin/application.go
  internal/service/ssoadmin/application_access_scope.go
  internal/service/ssoadmin/application_assignment.go
  internal/service/ssoadmin/application_assignment_configuration.go
  internal/service/ssoadmin/trusted_token_issuer.go
  internal/service/verifiedpermissions/policy_store.go
Labels: size/XL, service/lambda, service/s3, service/guardduty, service/apigateway, service/rds, service/redshift, service/shield, service/elasticache, service/iot, service/fms, service/pinpoint, service/backup, service/servicequotas, service/dataexchange, service/codeguruprofiler, service/ssoadmin, linter, service/auditmanager, service/opensearch, service/devopsguru, service/servicecatalogappregistry, service/opensearchserverless, service/securitylake, service/verifiedpermissions, prioritized, service/lexv2models, service/bedrock, service/bedrockagent, service/datazone, service/paymentcryptography, service/route53profiles, service/codeconnections

#42243 Removes unused `import`
  internal/service/apigateway/account.go
Labels: size/XS, service/apigateway, prioritized

#40946 Add price_performance_target param onto aws provider
  .changelog/40946.txt
  internal/service/redshiftserverless/workgroup.go
  internal/service/redshiftserverless/workgroup_test.go
  website/docs/r/redshiftserverless_workgroup.html.markdown
Labels: enhancement, tests, service/redshiftserverless, prioritized

#42244 apigateway_deployment: Deprecate `invoke_url`, `execution_arn`
  .changelog/42244.txt
  internal/service/apigateway/deployment.go
  website/docs/r/api_gateway_deployment.html.markdown
Labels: documentation, size/XS, service/apigateway, prioritized

#42041 resource/aws_s3_bucket_lifecycle_configuration: Requires at least one `rule.filter.and.tags`
  .changelog/42041.txt
  internal/service/s3/bucket_lifecycle_configuration.go
  website/docs/r/s3_bucket_lifecycle_configuration.html.markdown
Labels: bug, documentation, size/XS, service/s3, prioritized

#41764 resource/aws_s3_bucket_lifecycle_configuration: Better handles eventual consistency for some regions
  .changelog/41764.txt
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_lifecycle_configuration_migrate_v0_test.go
  internal/service/s3/bucket_lifecycle_configuration_test.go
  internal/service/s3/bucket_lifecycle_configuration_upgrade_v5_86_0_test.go
  internal/service/s3/directory_bucket_test.go
  internal/service/s3/exports_test.go
Labels: bug, size/XL, tests, service/s3, prioritized

#42232 resource/aws_codeconnections_host: Deprecates `id` in favour of `arn`
  .changelog/42232.txt
  internal/service/codeconnections/host.go
  internal/service/codeconnections/host_test.go
  website/docs/r/codeconnections_host.html.markdown
Labels: documentation, size/XS, tests, prioritized, service/codeconnections

#42241 Fix panic in kms_custom_key_store
  .changelog/42241.txt
  internal/service/kms/custom_key_store.go
Labels: bug, crash, size/XS, service/kms, prioritized

#40855 Add `managed_login_version` attribute to the `aws_cognito_user_pool_domain`
  40855.txt
  internal/service/cognitoidp/user_pool_domain.go
  internal/service/cognitoidp/user_pool_domain_test.go
  website/docs/r/cognito_user_pool_domain.html.markdown
Labels: enhancement, documentation, size/M, tests, service/cognitoidp, prioritized

#41380 r/aws_rekognition_stream_processor: Convert `SingleNestedBlock` to `ListNestedBlock`
  .changelog/41380.txt
  internal/service/rekognition/stream_processor.go
  internal/service/rekognition/stream_processor_migrate.go
  internal/service/rekognition/stream_processor_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: bug, documentation, breaking-change, size/XL, tests, service/rekognition, external-maintainer

#42260 d/aws_quicksight_data_set: remove `tags_all`
  .changelog/42260.txt
  internal/service/quicksight/data_set_data_source.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/XS, service/quicksight, tags, prioritized

#42249 apigateway_deployment: Remove stage from deployment
  .changelog/42249.txt
  internal/service/apigateway/deployment.go
  internal/service/apigateway/deployment_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/api_gateway_deployment.html.markdown
  website/docs/r/api_gateway_stage.html.markdown
Labels: documentation, size/XL, tests, service/apigateway, prioritized

#42264 r/aws_paymentcryptography_key: `key_attributes` and `key_attributes.key_modes_of_use` to list nested blocks
  .changelog/42264.txt
  internal/service/paymentcryptography/key.go
  internal/service/paymentcryptography/key_migrate.go
  internal/service/paymentcryptography/key_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/XL, tests, prioritized, service/paymentcryptography

#42270 [r|d]/aws_opensearchserverless_security_config: `saml_options` to list nested block
  .changelog/42270.txt
  internal/service/opensearchserverless/security_config.go
  internal/service/opensearchserverless/security_config_data_source.go
  internal/service/opensearchserverless/security_config_migrate.go
  internal/service/opensearchserverless/security_config_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/opensearchserverless, prioritized

#42265 mediastore: Deprecate resources
  .changelog/42265.txt
  internal/service/mediastore/container.go
  internal/service/mediastore/container_policy.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/media_store_container.html.markdown
  website/docs/r/media_store_container_policy.html.markdown
Labels: documentation, size/XS, service/mediastore

#42268 Remove `kibana_endpoint` Output from `aws_opensearch_domain` Resource and Data Source
  .changelog/42268.txt
  internal/service/opensearch/domain.go
  internal/service/opensearch/domain_data_source.go
  internal/service/opensearch/domain_test.go
  website/docs/d/opensearch_domain.html.markdown
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/opensearch_domain.html.markdown
Labels: documentation, breaking-change, size/S, tests, service/opensearch, prioritized

#42277 Update Go Dependencies Ahead of Weekly Release
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#42282 make clean-tidy
  skaff/go.mod
  skaff/go.sum
Labels: size/XS, skaff, prioritized

#42284 patch: move changelog entry to correct location
  .changelog/40855.txt
Labels: size/XS, prioritized

#42281 Fix typo in route53_key_signing_key docs
  website/docs/r/route53_key_signing_key.html.markdown
Labels: documentation, size/XS, service/route53

#42283 d/aws_elbv2_listener_rule: `SingleNestedBlock` to `ListNestedBlock`
  .changelog/42283.txt
  internal/service/elbv2/listener_rule_data_source.go
  internal/service/elbv2/listener_rule_data_source_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/elbv2

#42290 docs: update typo
  website/docs/r/route53_records_exclusive.html.markdown
Labels: documentation, size/XS, service/route53

#42295 Update docs FAQ
  docs/faq.md
Labels: documentation, size/XS, prioritized

#42300 feat: add new argument to kinesis configuration of aws_dms_endpoint
  .changelog/42300.txt
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_data_source.go
  internal/service/dms/endpoint_test.go
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, size/S, tests, service/dms, external-maintainer, prioritized

#42301 cdktf: update documentation
  website/docs/cdktf/python/d/ec2_network_insights_path.html.markdown
  website/docs/cdktf/python/r/api_gateway_deployment.html.markdown
  website/docs/cdktf/python/r/codebuild_webhook.html.markdown
  website/docs/cdktf/python/r/cognito_user_pool_domain.html.markdown
  website/docs/cdktf/python/r/ec2_network_insights_path.html.markdown
  website/docs/cdktf/python/r/redshift_integration.html.markdown
  website/docs/cdktf/python/r/redshiftserverless_workgroup.html.markdown
  website/docs/cdktf/python/r/route53_key_signing_key.html.markdown
  website/docs/cdktf/python/r/route53_records_exclusive.html.markdown
  website/docs/cdktf/python/r/s3_bucket_lifecycle_configuration.html.markdown
  website/docs/cdktf/typescript/d/ec2_network_insights_path.html.markdown
  website/docs/cdktf/typescript/r/api_gateway_deployment.html.markdown
  website/docs/cdktf/typescript/r/codebuild_webhook.html.markdown
  website/docs/cdktf/typescript/r/cognito_user_pool_domain.html.markdown
  website/docs/cdktf/typescript/r/ec2_network_insights_path.html.markdown
  website/docs/cdktf/typescript/r/redshift_integration.html.markdown
  website/docs/cdktf/typescript/r/redshiftserverless_workgroup.html.markdown
  website/docs/cdktf/typescript/r/route53_key_signing_key.html.markdown
  website/docs/cdktf/typescript/r/route53_records_exclusive.html.markdown
  website/docs/cdktf/typescript/r/s3_bucket_lifecycle_configuration.html.markdown
Labels: documentation, size/XL, service/s3, service/route53, service/apigateway, service/codebuild, service/redshift, service/cognitoidp, service/vpc, service/redshiftserverless

#42227 TechDebt: Resource aws_evidently deprecation
  .changelog/42227.txt
  internal/service/evidently/feature.go
  internal/service/evidently/launch.go
  internal/service/evidently/project.go
  internal/service/evidently/segment.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/evidently_feature.html.markdown
  website/docs/r/evidently_launch.html.markdown
  website/docs/r/evidently_project.html.markdown
  website/docs/r/evidently_segment.html.markdown
Labels: documentation, size/S, service/evidently, prioritized

#42297 r/aws_resiliencehub_resiliency_policy: `SingleNestedBlock` to `ListNestedBlock`
  .changelog/42297.txt
  internal/service/resiliencehub/resiliency_policy.go
  internal/service/resiliencehub/resiliency_policy_migrate.go
  internal/service/resiliencehub/resiliency_policy_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/resiliencehub, prioritized

#42296 Add label indicating resource import issues
  infrastructure/repository/labels-workflow.tf
Labels: size/XS, repository

#42145 [apigatewayv2] add `ip_address_type` argument to `api` and `domain_name` resource to support "dualstack" IP address type
  .changelog/42145.txt
  internal/service/apigatewayv2/api.go
  internal/service/apigatewayv2/api_data_source.go
  internal/service/apigatewayv2/api_data_source_test.go
  internal/service/apigatewayv2/api_test.go
  internal/service/apigatewayv2/domain_name.go
  internal/service/apigatewayv2/domain_name_test.go
  website/docs/r/apigatewayv2_api.html.markdown
  website/docs/r/apigatewayv2_domain_name.html.markdown
Labels: enhancement, documentation, size/M, tests, service/apigatewayv2, prioritized

#41120 feat: Add Experiment Template (experiment_report_configuration)
  .changelog/41120.txt
  internal/service/fis/experiment_template.go
  internal/service/fis/experiment_template_test.go
  website/docs/r/fis_experiment_template.html.markdown
Labels: enhancement, documentation, tests, linter, service/fis, prioritized

#37060 Add d/aws_fis_experiment_templates
  .changelog/37060.txt
  internal/service/fis/experiment_templates_data_source.go
  internal/service/fis/experiment_templates_data_source_test.go
  internal/service/fis/service_package_gen.go
  internal/service/fis/sweep.go
  website/docs/d/fis_experiment_templates.html.markdown
Labels: documentation, new-data-source, size/XL, tests, generators, service/fis, prioritized

#41180 fix(rds): allow disabling serverless v2 auto pause after enabling
  .changelog/41180.txt
  internal/service/rds/cluster.go
  internal/service/rds/cluster_test.go
Labels: bug, service/rds, prioritized

#42303 Sweeper fixes
  internal/service/appconfig/sweep.go
  internal/service/appstream/sweep.go
  internal/service/sagemaker/generate.go
  internal/service/sagemaker/list_pages_gen.go
  internal/service/sagemaker/sweep.go
  internal/sweep/awsv2/skip.go
Labels: size/XL, service/sagemaker, service/appstream, service/appconfig, sweeper, generators, prioritized

#42304 Update `aws_route53_record.type` accepted values
  website/docs/r/route53_record.html.markdown
Labels: documentation, size/XS, service/route53, prioritized

#42309 Correct CHANGELOG entry
  .changelog/41180.txt
Labels: size/XS, prioritized

#42310 [Docs]: add example of CloudFront V2 standard logging to S3
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/S, service/cloudfront, external-maintainer

#41918 Add `aws_vpc_endpoint_associations` datasource
  .changelog/41918.txt
  internal/service/ec2/find.go
  internal/service/ec2/generate.go
  internal/service/ec2/list_pages_gen.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/vpc_endpoint_associations_data_source.go
  internal/service/ec2/vpc_endpoint_associations_data_source_test.go
  website/docs/d/vpc_endpoint_associations.html.markdown
Labels: documentation, new-data-source, size/XL, tests, generators, service/vpc, partner, prioritized

#42315 Update bucket_public_access_block.go
  internal/service/s3/bucket_public_access_block.go
Labels: size/XS, service/s3

#42305 r/aws_verifiedpermissions_schema: `SingleNestedBlock` to `ListNestedBlock`
  .changelog/42305.txt
  internal/service/verifiedpermissions/schema.go
  internal/service/verifiedpermissions/schema_migrate.go
  internal/service/verifiedpermissions/schema_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/verifiedpermissions, prioritized

#42316 More sweeper fixes
  internal/service/appconfig/sweep.go
  internal/service/cloudformation/sweep.go
  internal/service/sagemaker/sweep.go
Labels: size/L, service/sagemaker, service/cloudformation, service/appconfig, sweeper, prioritized

#42312 [r/d]/aws_launch_template: remove `elastic_gpu_specifications` attribute
  .changelog/42312.txt
  internal/service/ec2/ec2_launch_template.go
  internal/service/ec2/ec2_launch_template_data_source.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/launch_template.html.markdown
Labels: documentation, breaking-change, size/M, service/ec2

#42313 r/aws_elastictranscoder_*: deprecate resources
  .changelog/42313.txt
  internal/service/elastictranscoder/pipeline.go
  internal/service/elastictranscoder/preset.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/elastictranscoder_pipeline.html.markdown
  website/docs/r/elastictranscoder_preset.html.markdown
Labels: documentation, size/XS, service/elastictranscoder

#42317 Update links in `aws_elasticache_cluster` docs
  website/docs/r/elasticache_cluster.html.markdown
Labels: documentation, size/XS, service/elasticache, prioritized

#42294 Add check to notify if a changelog entry is needed
  .github/workflows/triage.yml
  infrastructure/repository/labels-workflow.tf
Labels: size/S, repository, github_actions, prioritized

#42318 r/aws_eks_addon: remove `resolve_conflicts`
  .changelog/42318.txt
  internal/service/eks/addon.go
  internal/service/eks/addon_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/eks_addon.html.markdown
Labels: documentation, breaking-change, size/L, tests, service/eks, prioritized

#42320 d/aws_cloudtrail_service_account: deprecate data source
  .changelog/42320.txt
  internal/service/cloudtrail/service_account_data_source.go
  website/docs/d/cloudtrail_service_account.html.markdown
Labels: documentation, size/XS, service/cloudtrail, prioritized

#37571 Remove `removed.tf`
  infrastructure/repository/removed.tf
Labels: size/S, repository, prioritized

#42323 resource/aws_dx_gateway_association: Removes deprecated attribute `vpn_gateway_id`
  .changelog/42323.txt
  internal/service/directconnect/gateway_association.go
  internal/service/directconnect/gateway_association_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/dx_gateway_association.html.markdown
Labels: documentation, size/M, tests, service/directconnect, prioritized

#42342 Correct test in auto triage
  .github/workflows/triage.yml
Labels: size/XS, repository, github_actions, prioritized

#42242 Adds tagging tests to `codeconnections` resource types
  internal/service/codeconnections/connection.go
  internal/service/codeconnections/connection_tags_gen_test.go
  internal/service/codeconnections/connection_test.go
  internal/service/codeconnections/generate.go
  internal/service/codeconnections/host.go
  internal/service/codeconnections/host_tags_gen_test.go
  internal/service/codeconnections/host_test.go
  internal/service/codeconnections/tags_gen_test.go
  internal/service/codeconnections/testdata/Connection/tags/main_gen.tf
  internal/service/codeconnections/testdata/Connection/tagsComputed1/main_gen.tf
  internal/service/codeconnections/testdata/Connection/tagsComputed2/main_gen.tf
  internal/service/codeconnections/testdata/Connection/tags_defaults/main_gen.tf
  internal/service/codeconnections/testdata/Connection/tags_ignore/main_gen.tf
  internal/service/codeconnections/testdata/Host/tags/main_gen.tf
  internal/service/codeconnections/testdata/Host/tagsComputed1/main_gen.tf
  internal/service/codeconnections/testdata/Host/tagsComputed2/main_gen.tf
  internal/service/codeconnections/testdata/Host/tags_defaults/main_gen.tf
  internal/service/codeconnections/testdata/Host/tags_ignore/main_gen.tf
  internal/service/codeconnections/testdata/tmpl/connection_tags.gtpl
  internal/service/codeconnections/testdata/tmpl/host_tags.gtpl
Labels: documentation, size/XL, tests, service/ec2, service/ecs, service/configservice, service/apigateway, service/dax, service/directconnect, service/codebuild, service/cloudtrail, service/acm, service/cloudfront, service/athena, service/codecommit, service/autoscaling, service/dynamodb, service/cloudwatch, service/cloudsearch, service/efs, service/budgets, service/appsync, service/codepipeline, service/cloudformation, service/ecr, service/cloud9, service/devicefarm, service/batch, provider, service/autoscalingplans, service/cloudhsmv2, service/appstream, service/acmpca, service/eks, service/dlm, service/connect, service/chime, service/datapipeline, service/datasync, service/amplify, service/appmesh, service/apigatewayv2, service/docdb, service/backup, service/comprehend, service/applicationinsights, service/codestarnotifications, service/dataexchange, service/appconfig, service/accessanalyzer, service/codeguruprofiler, service/computeoptimizer, service/codegurureviewer, service/codestarconnections, service/detective, service/codeartifact, service/appflow, linter, service/ecrpublic, service/apprunner, service/auditmanager, sweeper, tags, client-connections, generators, service/amp, service/account, service/appintegrations, skaff, service/ds, service/ce, service/devopsguru, service/deploy, service/appautoscaling, service/drs, service/cognitoidp, service/dms, service/cognitoidentity, service/databrew, service/cloudcontrol, service/cur, service/customerprofiles, service/controltower, service/chimesdkmediapipelines, service/docdbelastic, service/chimesdkvoice, service/cleanrooms, prioritized, service/bedrock, service/connectcases, service/appfabric, service/bedrockagent, service/costoptimizationhub, service/datazone, service/bcmdataexports, service/chatbot, service/applicationsignals, service/codeconnections, service/billing, service/dsql

#42081 r/aws_iam_user: retry ConcurrentModificationExceptions
  .changelog/42081.txt
  internal/service/iam/user.go
Labels: bug, size/S, service/iam

#42336 r/aws_elasticache_replication_group: remove `auth_token_update_strategy` default
  .changelog/42336.txt
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_migrate.go
  internal/service/elasticache/replication_group_migrate_test.go
  internal/service/elasticache/replication_group_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/elasticache_replication_group.html.markdown
Labels: documentation, breaking-change, size/L, tests, service/elasticache, prioritized

#42346 r/aws_elasticache_replication_group: malformed version error
  .changelog/42346.txt
  internal/service/elasticache/engine_version.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_test.go
Labels: bug, size/M, tests, service/elasticache, prioritized

#42348 resource/aws_db_instance: Makes attribute conflict warnings for `character_set_name` errors
  .changelog/42348.txt
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/M, tests, service/rds, prioritized

#42325 Removes `filter` from `data.aws_identitystore_group` and `data.aws_identitystore_user`
  .changelog/42325.txt
  internal/service/identitystore/group.go
  internal/service/identitystore/group_data_source.go
  internal/service/identitystore/group_data_source_test.go
  internal/service/identitystore/user.go
  internal/service/identitystore/user_data_source.go
  internal/service/identitystore/user_data_source_test.go
  website/docs/d/identitystore_group.html.markdown
  website/docs/d/identitystore_user.html.markdown
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/identitystore, prioritized

#42333 r/aws_flow_log: Remove `log_group_name`
  .changelog/42333.txt
  internal/service/ec2/vpc_flow_log.go
  internal/service/ec2/vpc_flow_log_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/flow_log.html.markdown
Labels: documentation, breaking-change, size/M, tests, service/vpc, prioritized

#42279 Add note to `aws_shield_proactive_engagement` regarding phone number requirement
  website/docs/r/shield_proactive_engagement.html.markdown
Labels: documentation, size/XS, service/shield, prioritized

#42347 [Enhancement] aws_imagebuilder_infrastructure_configuration: add `placement` configuration block
  .changelog/42347.txt
  internal/service/imagebuilder/infrastructure_configuration.go
  internal/service/imagebuilder/infrastructure_configuration_data_source.go
  internal/service/imagebuilder/infrastructure_configuration_data_source_test.go
  internal/service/imagebuilder/infrastructure_configuration_test.go
  website/docs/d/imagebuilder_infrastructure_configuration.html.markdown
  website/docs/r/imagebuilder_infrastructure_configuration.html.markdown
Labels: enhancement, documentation, size/L, tests, service/imagebuilder, prioritized

#42332 [Enhancement] aws_accessanalyzer_analyzer: add `analysis_rule` configuration block
  .changelog/42332.txt
  internal/service/accessanalyzer/accessanalyzer_test.go
  internal/service/accessanalyzer/analyzer.go
  internal/service/accessanalyzer/analyzer_test.go
  website/docs/r/accessanalyzer_analyzer.html.markdown
Labels: enhancement, documentation, size/L, tests, service/accessanalyzer, prioritized

#42362 Add synchonize to triggers for AutoTriage
  .github/workflows/triage.yml
Labels: size/XS, repository, github_actions, prioritized

#42363 `aws_transfer_server`: Be more explicit about IdentityProviderDetails arguments
  website/docs/r/transfer_server.html.markdown
Labels: documentation, size/XS, service/transfer

#42370 `aws-sdk-go-v2` updates (Release 2025-04-24)
  .ci/.golangci4.yml
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, size/XL, linter, prioritized

#42345 feat(aws_ec2_instance): added new resource `aws_ec2_instance_default_credit_specification`
  .changelog/42345.txt
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  internal/service/ec2/ec2_default_credit_specification.go
  internal/service/ec2/ec2_default_credit_specification_test.go
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/service_package_gen.go
  names/data/names_data.hcl
  website/docs/r/ec2_default_credit_specification.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/ec2, repository, generators, github_actions, prioritized

#42280 ec2/instance: Remove `cpu_core_count` and `cpu_threads_per_core` in favor of `cpu_options` block
  .changelog/42280.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_migrate.go
  internal/service/ec2/ec2_instance_migrate_test.go
  internal/service/ec2/ec2_instance_test.go
  internal/service/ec2/exports_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/instance.html.markdown
Labels: documentation, size/XL, tests, service/ec2, prioritized

#42379 r-d/aws_dms_endpoint: remove `s3_settings` attribute
  .changelog/42379.txt
  internal/service/dms/consts.go
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_data_source.go
  internal/service/dms/endpoint_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/dms_endpoint.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/dms

#42394 cdktf: update documentation
  website/docs/cdktf/python/d/api_gateway_domain_name.html.markdown
  website/docs/cdktf/python/d/api_gateway_rest_api.html.markdown
  website/docs/cdktf/python/d/fis_experiment_templates.html.markdown
  website/docs/cdktf/python/d/guardduty_detector.html.markdown
  website/docs/cdktf/python/d/imagebuilder_infrastructure_configuration.html.markdown
  website/docs/cdktf/python/d/vpc_endpoint_associations.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/accessanalyzer_analyzer.html.markdown
  website/docs/cdktf/python/r/api_gateway_domain_name.html.markdown
  website/docs/cdktf/python/r/api_gateway_rest_api.html.markdown
  website/docs/cdktf/python/r/apigatewayv2_api.html.markdown
  website/docs/cdktf/python/r/apigatewayv2_domain_name.html.markdown
  website/docs/cdktf/python/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/python/r/dms_endpoint.html.markdown
  website/docs/cdktf/python/r/ec2_default_credit_specification.html.markdown
  website/docs/cdktf/python/r/elasticache_cluster.html.markdown
  website/docs/cdktf/python/r/fis_experiment_template.html.markdown
  website/docs/cdktf/python/r/imagebuilder_infrastructure_configuration.html.markdown
  website/docs/cdktf/python/r/route53_record.html.markdown
  website/docs/cdktf/python/r/shield_proactive_engagement.html.markdown
  website/docs/cdktf/python/r/transfer_server.html.markdown
  website/docs/cdktf/typescript/d/api_gateway_domain_name.html.markdown
  website/docs/cdktf/typescript/d/api_gateway_rest_api.html.markdown
  website/docs/cdktf/typescript/d/fis_experiment_templates.html.markdown
  website/docs/cdktf/typescript/d/guardduty_detector.html.markdown
  website/docs/cdktf/typescript/d/imagebuilder_infrastructure_configuration.html.markdown
  website/docs/cdktf/typescript/d/vpc_endpoint_associations.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/accessanalyzer_analyzer.html.markdown
  website/docs/cdktf/typescript/r/api_gateway_domain_name.html.markdown
  website/docs/cdktf/typescript/r/api_gateway_rest_api.html.markdown
  website/docs/cdktf/typescript/r/apigatewayv2_api.html.markdown
  website/docs/cdktf/typescript/r/apigatewayv2_domain_name.html.markdown
  website/docs/cdktf/typescript/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/typescript/r/dms_endpoint.html.markdown
  website/docs/cdktf/typescript/r/ec2_default_credit_specification.html.markdown
  website/docs/cdktf/typescript/r/elasticache_cluster.html.markdown
  website/docs/cdktf/typescript/r/fis_experiment_template.html.markdown
  website/docs/cdktf/typescript/r/imagebuilder_infrastructure_configuration.html.markdown
  website/docs/cdktf/typescript/r/route53_record.html.markdown
  website/docs/cdktf/typescript/r/shield_proactive_engagement.html.markdown
  website/docs/cdktf/typescript/r/transfer_server.html.markdown
Labels: documentation, size/XL, service/ec2, service/route53, service/guardduty, service/apigateway, service/cloudfront, service/shield, service/elasticache, service/transfer, service/apigatewayv2, service/accessanalyzer, service/imagebuilder, service/dms, service/vpc, service/fis

#42377 docs(aws_bedrockagent_data_source): update valid values for data_source_configuration.type
  website/docs/r/bedrockagent_data_source.html.markdown
Labels: documentation, size/XS, service/bedrockagent

#42376 feat: add missing target key in aws_fis_experiment_template
  .changelog/42376.txt
  internal/service/fis/experiment_template.go
  internal/service/fis/experiment_template_test.go
  website/docs/r/fis_experiment_template.html.markdown
Labels: documentation, size/M, tests, service/fis, external-maintainer

#42401 Fix aws_eks_cluster documentation to use correct aws_iam_role variable name (#42395)
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, size/XS, service/eks

#39858 fix: adjust `enable_machine_learning` default configuration
  .changelog/39858.txt
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: breaking-change, size/XS, tests, service/wafv2, prioritized

#42375 provider: deprecate support for s3 global endpoints
  .changelog/42375.txt
  internal/provider/provider.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider, prioritized

#40751 [BREAKING] :boom: remove compute environments from job queue
  .changelog/40751.txt
  CHANGELOG.md
  internal/service/batch/compute_environment.go
  internal/service/batch/compute_environment_migrate.go
  internal/service/batch/compute_environment_migrate_test.go
  internal/service/batch/compute_environment_test.go
  internal/service/batch/exports_test.go
  internal/service/batch/job_queue.go
  internal/service/batch/job_queue_data_source_test.go
  internal/service/batch/job_queue_migrate.go
  internal/service/batch/job_queue_test.go
  internal/service/batch/testdata/JobQueue/data.tags/main_gen.tf
  internal/service/batch/testdata/JobQueue/data.tags_defaults/main_gen.tf
  internal/service/batch/testdata/JobQueue/data.tags_ignore/main_gen.tf
  internal/service/batch/testdata/JobQueue/tags/main_gen.tf
  internal/service/batch/testdata/JobQueue/tagsComputed1/main_gen.tf
  internal/service/batch/testdata/JobQueue/tagsComputed2/main_gen.tf
  internal/service/batch/testdata/JobQueue/tags_defaults/main_gen.tf
  internal/service/batch/testdata/JobQueue/tags_ignore/main_gen.tf
  internal/service/batch/testdata/tmpl/job_queue_tags.gtpl
  internal/service/ecs/tag_test.go
  internal/service/events/target_test.go
  internal/service/pipes/pipe_test.go
  website/docs/cdktf/python/r/batch_job_queue.html.markdown
  website/docs/d/batch_compute_environment.html.markdown
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/batch_compute_environment.html.markdown
  website/docs/r/batch_job_queue.html.markdown
  website/docs/r/ecs_tag.html.markdown
Labels: documentation, breaking-change, size/XL, tests, service/ecs, service/batch, provider, tags, service/events, service/pipes, external-maintainer, prioritized

#42166 [add test] `aws_ecr_replication_configuration` for cross-account and cross-region destination configuration
  internal/service/ecr/replication_configuration_test.go
Labels: size/S, tests, service/ecr, prioritized

#42419 r/aws_elasticache[user|user_group|replication_group]: deprecate non-exact `engine` values
  .changelog/42419.txt
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_group.go
  internal/verify/validate.go
  internal/verify/validate_test.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, size/M, tests, service/elasticache, verify, prioritized

#42160 feat: add enabled_analysis_types to aws_networkfirewall_firewall
  .changelog/42160.txt
  internal/service/networkfirewall/firewall.go
  internal/service/networkfirewall/firewall_data_source.go
  internal/service/networkfirewall/firewall_data_source_test.go
  internal/service/networkfirewall/firewall_test.go
  website/docs/cdktf/python/d/networkfirewall_firewall.html.markdown
  website/docs/d/networkfirewall_firewall.html.markdown
  website/docs/r/networkfirewall_firewall.html.markdown
Labels: enhancement, documentation, size/L, tests, service/networkfirewall, prioritized

#42427 [TFLint] update tflint-ruleset-aws version to fix CI failure
  .ci/.tflint.hcl
Labels: size/XS, linter
