Repository hashicorp/terraform-provider-aws, pull requests merged in 2025-07, with the labels that each got.

#43218 Add enableSkewProtection support to AWS Amplify
  .changelog/43218.txt
  internal/service/amplify/branch.go
  internal/service/amplify/branch_test.go
  website/docs/r/amplify_branch.html.markdown
Labels: documentation, size/XS, tests, service/amplify

#43189 feat: Add exclude_resource_tags arg to aws_rbin_rule
  .changelog/43189.txt
  internal/service/rbin/exports_test.go
  internal/service/rbin/rule.go
  internal/service/rbin/rule_test.go
  internal/service/rbin/service_package_gen.go
  website/docs/r/rbin_rule.html.markdown
Labels: enhancement, documentation, size/XL, tests, generators, service/rbin, external-maintainer, prioritized

#43183 Fix: add ARN support in log_group_names for aws_cloudwatch_query_definition
  .changelog/43183.txt
  internal/service/logs/query_definition.go
  internal/service/logs/query_definition_test.go
Labels: bug, size/M, tests, service/logs, prioritized

#43173 feat: Add resource tagging to aws_kinesis_stream_consumer
  .changelog/43173.txt
  internal/service/kinesis/generate.go
  internal/service/kinesis/service_package_gen.go
  internal/service/kinesis/stream.go
  internal/service/kinesis/stream_consumer.go
  internal/service/kinesis/stream_consumer_data_source.go
  internal/service/kinesis/stream_consumer_data_source_test.go
  internal/service/kinesis/stream_consumer_test.go
  internal/service/kinesis/stream_data_source.go
  internal/service/kinesis/tags.go
  internal/service/kinesis/tags_gen.go
  internal/service/s3/tags.go
Labels: enhancement, documentation, size/L, size/XL, tests, service/s3, service/kinesis, tags, generators, external-maintainer, prioritized

#43252 Fix: Managed login version updates for custom Cognito domains
  .changelog/43252.txt
  internal/service/cognitoidp/user_pool_domain.go
  internal/service/cognitoidp/user_pool_domain_test.go
Labels: bug, size/M, tests, service/cognitoidp, prioritized

#43269 resource/aws_rds_integration: Generates Identity tests
  internal/service/rds/integration.go
  internal/service/rds/integration_identity_gen_test.go
  internal/service/rds/integration_test.go
  internal/service/rds/testdata/Integration/basic/main_gen.tf
  internal/service/rds/testdata/Integration/region_override/main_gen.tf
  internal/service/rds/testdata/tmpl/integration_tags.gtpl
  internal/service/redshift/cluster.go
  website/docs/r/rds_integration.html.markdown
Labels: documentation, size/XL, tests, service/rds, service/redshift, generators, prioritized

#43222 [New resource] Support for amp_query_logging_configuration
  .changelog/43222.txt
  internal/service/amp/exports_test.go
  internal/service/amp/query_logging_configuration.go
  internal/service/amp/query_logging_configuration_test.go
  internal/service/amp/service_package_gen.go
  website/docs/r/prometheus_query_logging_configuration.html.markdown
Labels: enhancement, documentation, new-resource, size/XL, tests, generators, service/amp, partner, prioritized

#43273 Resource Identity: Adds `ExistingResource` tests for Framework-based resource types with ARN Identity
  .changelog/43273.txt
  internal/generate/identitytests/resource_test.go.gtpl
  internal/service/apigateway/domain_name_access_association_test.go
  internal/service/appfabric/app_bundle_identity_gen_test.go
  internal/service/appfabric/app_bundle_test.go
  internal/service/appflow/connector_profile_test.go
  internal/service/batch/job_queue_test.go
  internal/service/bcmdataexports/export.go
  internal/service/bcmdataexports/export_test.go
  internal/service/bedrock/custom_model_identity_gen_test.go
  internal/service/bedrock/custom_model_test.go
  internal/service/bedrock/provisioned_model_throughput_test.go
  internal/service/codeconnections/connection_test.go
  internal/service/codeconnections/host_test.go
  internal/service/docdbelastic/cluster_test.go
  internal/service/dynamodb/resource_policy_test.go
  internal/service/globalaccelerator/cross_account_attachment_test.go
  internal/service/imagebuilder/lifecycle_policy_test.go
  internal/service/kinesis/resource_policy_test.go
  internal/service/networkfirewall/tls_inspection_configuration_test.go
  internal/service/paymentcryptography/key_test.go
  internal/service/rds/integration_test.go
  internal/service/resourceexplorer2/index_identity_gen_test.go
  internal/service/resourceexplorer2/index_test.go
  internal/service/resourceexplorer2/view_identity_gen_test.go
  internal/service/resourceexplorer2/view_test.go
  internal/service/securityhub/automation_rule_identity_gen_test.go
  internal/service/securityhub/automation_rule_test.go
  internal/service/securitylake/data_lake_test.go
  internal/service/securitylake/securitylake_test.go
  internal/service/shield/application_layer_automatic_response_test.go
  internal/service/ssmcontacts/rotation_identity_gen_test.go
  internal/service/ssmcontacts/rotation_test.go
  internal/service/ssmcontacts/ssmcontacts_test.go
  internal/service/ssoadmin/application.go
  internal/service/ssoadmin/application_assignment_configuration_test.go
  internal/service/ssoadmin/application_test.go
  internal/service/ssoadmin/trusted_token_issuer_identity_gen_test.go
  internal/service/ssoadmin/trusted_token_issuer_test.go
Labels: size/XL, tests, service/apigateway, service/rds, service/redshift, service/dynamodb, service/shield, service/kinesis, service/batch, service/securityhub, service/globalaccelerator, service/imagebuilder, service/ssoadmin, service/appflow, service/networkfirewall, generators, service/ssmcontacts, service/resourceexplorer2, service/securitylake, service/docdbelastic, prioritized, service/bedrock, service/appfabric, service/paymentcryptography, service/bcmdataexports, service/codeconnections

#43270 resource/aws_redshift_cluster: Update `node_type` to valid value
  .changelog/43270.txt
  internal/service/dms/endpoint_test.go
  internal/service/events/target_test.go
  internal/service/firehose/delivery_stream_test.go
  internal/service/pipes/pipe_test.go
  internal/service/redshift/cluster_credentials_data_source_test.go
  internal/service/redshift/cluster_data_source_test.go
  internal/service/redshift/cluster_iam_roles_test.go
  internal/service/redshift/cluster_test.go
  internal/service/redshift/logging_test.go
  internal/service/redshift/orderable_cluster_data_source_test.go
  internal/service/redshift/scheduled_action_test.go
  internal/service/redshift/snapshot_copy_test.go
  internal/service/redshiftdata/statement_test.go
Labels: size/XL, size/M, tests, service/rds, service/redshift, service/firehose, service/events, service/dms, service/redshiftdata, service/pipes, prioritized

#43236 feat: Add support for DynamoDB Multi-Region Strong Consistency
  .changelog/43236.txt
  internal/acctest/acctest.go
  internal/acctest/configs.go
  internal/acctest/knownvalue/regional_arn_exact.go
  internal/acctest/knownvalue/regional_arn_regexp.go
  internal/envvar/envvar.go
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/dynamodb, partner, prioritized

#43267 Technical debt: Use `internal/retry` for `tfresource.RetryUntilEqual`
  .ci/.semgrep-test-constants-temp.yml
  internal/generate/tags/templates/wait_tags_propagated_body.gtpl
  internal/retry/op.go
  internal/retry/op_test.go
  internal/retry/wrappers.go
  internal/service/account/alternate_contact.go
  internal/service/dynamodb/tags_gen.go
  internal/service/dynamodb/update_tags_for_resource_gen.go
  internal/service/ec2/ec2_ami.go
  internal/service/ec2/ec2_default_credit_specification.go
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/trust_store.go
  internal/service/inspector2/organization_configuration.go
  internal/service/kms/external_key.go
  internal/service/kms/key.go
  internal/service/kms/tags_gen.go
  internal/service/organizations/account.go
  internal/service/rds/instance_automated_backups_replication.go
  internal/service/securityhub/account.go
  internal/service/ses/domain_identity_verification.go
  internal/tfresource/retry.go
  internal/tfresource/retry_test.go
  internal/tfresource/wait.go
  internal/tfresource/wait_test.go
Labels: size/XL, tests, service/ec2, service/elbv2, service/rds, service/dynamodb, service/organizations, service/ses, service/kms, technical-debt, service/securityhub, linter, tags, generators, service/account, service/inspector2, prioritized

#43308 r/aws_medialive_channel: Fix `interface conversion: interface {} is nil, not map[string]interface {}` panics
  .changelog/43308.txt
  internal/service/medialive/channel.go
  internal/service/medialive/channel_encoder_settings_schema.go
  internal/service/medialive/exports_test.go
  internal/service/medialive/input.go
  internal/service/medialive/input_data_source.go
  internal/service/medialive/input_security_group.go
  internal/service/medialive/multiplex.go
  internal/service/medialive/service_package_gen.go
  internal/service/medialive/sweep.go
Labels: bug, crash, size/L, tests, service/medialive, sweeper, generators, prioritized

#43303 r/aws_rds_cluster_role_association & aws_db_instance_role_association: Retry invalid state errors on Delete
  .changelog/43303.txt
  internal/service/rds/cluster_role_association.go
  internal/service/rds/instance_role_association.go
Labels: bug, size/S, service/rds, prioritized

#43312 Converts `ExistingResource` tests to `resource.ParallelTest`
  internal/service/apigateway/domain_name_access_association_test.go
  internal/service/batch/job_queue_test.go
  internal/service/bedrock/provisioned_model_throughput_test.go
  internal/service/codeconnections/connection_test.go
  internal/service/codeconnections/host_test.go
  internal/service/docdbelastic/cluster_test.go
  internal/service/dynamodb/resource_policy_test.go
  internal/service/globalaccelerator/cross_account_attachment_test.go
  internal/service/imagebuilder/lifecycle_policy_test.go
  internal/service/kinesis/resource_policy_test.go
  internal/service/networkfirewall/tls_inspection_configuration_test.go
  internal/service/paymentcryptography/key_test.go
  internal/service/shield/application_layer_automatic_response_test.go
Labels: size/M, tests, service/apigateway, service/dynamodb, service/shield, service/kinesis, service/batch, service/globalaccelerator, service/imagebuilder, service/networkfirewall, service/docdbelastic, prioritized, service/bedrock, service/paymentcryptography, service/codeconnections

#43314 sweeper/aws_sagemaker_user_profile
  internal/service/sagemaker/sweep.go
Labels: size/XS, service/sagemaker, sweeper

#43201 Go-VCR: support `elasticache`
  internal/service/elasticache/cluster.go
  internal/service/elasticache/cluster_data_source_test.go
  internal/service/elasticache/cluster_test.go
  internal/service/elasticache/global_replication_group.go
  internal/service/elasticache/global_replication_group_test.go
  internal/service/elasticache/parameter_group.go
  internal/service/elasticache/parameter_group_test.go
  internal/service/elasticache/replication_group.go
  internal/service/elasticache/replication_group_data_source_test.go
  internal/service/elasticache/replication_group_test.go
  internal/service/elasticache/reserved_cache_node.go
  internal/service/elasticache/reserved_cache_node_offering_data_source_test.go
  internal/service/elasticache/reserved_cache_node_test.go
  internal/service/elasticache/serverless_cache.go
  internal/service/elasticache/serverless_cache_data_source_test.go
  internal/service/elasticache/serverless_cache_test.go
  internal/service/elasticache/subnet_group.go
  internal/service/elasticache/subnet_group_data_source_test.go
  internal/service/elasticache/subnet_group_test.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_data_source_test.go
  internal/service/elasticache/user_group.go
  internal/service/elasticache/user_group_association.go
  internal/service/elasticache/user_group_association_test.go
  internal/service/elasticache/user_group_test.go
  internal/service/elasticache/user_test.go
  internal/vcr/.semgrep-vcr.yml
Labels: size/XL, tests, service/elasticache, prioritized

#43296 ssoadmin: Update tests and documentation to use `arn` instead of `application_arn` for `aws_ssoadmin_application`
  internal/service/ssoadmin/application_access_scope_test.go
  internal/service/ssoadmin/application_assignment_test.go
  internal/service/ssoadmin/application_assignments_data_source_test.go
  internal/service/ssoadmin/application_data_source_test.go
  internal/service/ssoadmin/principal_application_assignments_data_source_test.go
  internal/service/ssoadmin/testdata/ApplicationAssignmentConfiguration/basic/main_gen.tf
  internal/service/ssoadmin/testdata/ApplicationAssignmentConfiguration/region_override/main_gen.tf
  internal/service/ssoadmin/testdata/tmpl/application_assignment_configuration_basic.gtpl
  website/docs/d/ssoadmin_application_assignments.html.markdown
  website/docs/r/ssoadmin_application_access_scope.html.markdown
  website/docs/r/ssoadmin_application_assignment.html.markdown
  website/docs/r/ssoadmin_application_assignment_configuration.html.markdown
Labels: documentation, size/S, tests, service/ssoadmin, prioritized

#42562 fix: mark aws_route53profiles_resource_association resource_properties as Computed
  .changelog/42562.txt
  internal/service/route53profiles/resource_association.go
  internal/service/route53profiles/resource_association_test.go
Labels: bug, size/M, tests, external-maintainer, prioritized, service/route53profiles

#43196 feat: add anycast_ip_list_id to aws_cloudfront_distribution resource
  .changelog/43196.txt
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_data_source.go
  internal/service/cloudfront/distribution_data_source_test.go
  website/docs/d/cloudfront_distribution.html.markdown
  website/docs/r/cloudfront_distribution.html.markdown
Labels: enhancement, documentation, size/S, size/XS, tests, service/cloudfront, prioritized

#43355 [Bug] Fix read back of `parent_action_group_signature`
  .changelog/43355.txt
  internal/service/bedrockagent/agent_action_group.go
  internal/service/bedrockagent/agent_action_group_test.go
Labels: bug, size/M, size/S, tests, partner, prioritized, service/bedrockagent

#43341 Technical debt: Use `internal/retry` for `tfresource.RetryUntilNotFound`
  internal/service/appautoscaling/target.go
  internal/service/appstream/stack.go
  internal/service/autoscaling/group.go
  internal/service/detective/organization_admin_account.go
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_parameter_group.go
  internal/service/docdb/subnet_group.go
  internal/service/ec2/ebs_snapshot_create_volume_permission.go
  internal/service/ec2/ec2_eip.go
  internal/service/ec2/ec2_spot_fleet_request.go
  internal/service/ec2/transitgateway_multicast_group_member.go
  internal/service/ec2/transitgateway_multicast_group_source.go
  internal/service/ec2/vpc_.go
  internal/service/ec2/vpc_ipv4_cidr_block_association_test.go
  internal/service/ec2/vpc_security_group.go
  internal/service/ecr/repository.go
  internal/service/elasticbeanstalk/application.go
  internal/service/elbv2/load_balancer.go
  internal/service/emr/cluster.go
  internal/service/gamelift/game_session_queue.go
  internal/service/keyspaces/keyspace.go
  internal/service/kms/grant.go
  internal/service/lambda/permission.go
  internal/service/mediapackagev2/channel_group.go
  internal/service/neptune/cluster.go
  internal/service/quicksight/iam_policy_assignment.go
  internal/service/rds/global_cluster.go
  internal/service/rds/subnet_group.go
  internal/service/redshift/snapshot_copy_grant.go
  internal/service/s3/bucket.go
  internal/service/s3/bucket_analytics_configuration.go
  internal/service/s3/bucket_cors_configuration.go
  internal/service/s3/bucket_intelligent_tiering_configuration.go
  internal/service/s3/bucket_inventory.go
  internal/service/s3/bucket_lifecycle_configuration.go
  internal/service/s3/bucket_metric.go
  internal/service/s3/bucket_ownership_controls.go
  internal/service/s3/bucket_policy.go
  internal/service/s3/bucket_public_access_block.go
  internal/service/s3/bucket_replication_configuration.go
  internal/service/s3/bucket_test.go
  internal/service/s3/bucket_website_configuration.go
  internal/service/s3control/account_public_access_block.go
  internal/service/secretsmanager/consts.go
  internal/service/secretsmanager/secret.go
  internal/service/secretsmanager/secret_policy.go
  internal/service/secretsmanager/secret_version.go
  internal/service/servicecatalog/principal_portfolio_association.go
  internal/service/shield/drt_access_log_bucket_association.go
  internal/service/shield/drt_access_role_arn_association.go
  internal/service/signer/signing_profile_permission.go
  internal/service/sqs/queue_test.go
  internal/service/swf/domain_test.go
  internal/service/transfer/user.go
  internal/tfresource/retry.go
  internal/tfresource/retry_test.go
Labels: size/M, tests, service/lambda, service/ec2, service/s3, service/emr, service/elbv2, service/rds, service/gamelift, service/sqs, service/redshift, service/elasticbeanstalk, service/autoscaling, service/shield, service/servicecatalog, service/kms, service/swf, service/ecr, technical-debt, service/appstream, service/secretsmanager, service/neptune, service/s3control, service/transfer, service/docdb, service/quicksight, service/detective, service/signer, service/keyspaces, service/transitgateway, service/appautoscaling, service/vpc, service/ec2ebs, prioritized, service/mediapackagev2

#43359 Correct CHANGELOG entry
  .changelog/43355.txt
Labels: size/XS, prioritized

#43207 [Enhancement] aws_acm_certificate: support to issue an exportable certificate
  .changelog/43207.txt
  docs/acc-test-environment-variables.md
  internal/service/acm/certificate.go
  internal/service/acm/certificate_test.go
  website/docs/r/acm_certificate.html.markdown
Labels: enhancement, documentation, size/M, tests, service/acm, prioritized

#43363 docs: add required attributes to example
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, size/XS, service/cloudfront, external-maintainer

#43372 internal/acctest: skip vcr testing for test step provider factories
  internal/acctest/vcr.go
Labels: size/XS, tests, prioritized

#43284 Add possible `ARN` value for `function_name` in `aws_lambda_permission` resource
  website/docs/r/lambda_permission.html.markdown
Labels: documentation, size/XS, service/lambda

#42201 New resource: aws_bedrockagent_flow
  .changelog/42201.txt
  internal/service/bedrockagent/exports_test.go
  internal/service/bedrockagent/flow.go
  internal/service/bedrockagent/flow_test.go
  internal/service/bedrockagent/prompt.go
  internal/service/bedrockagent/prompt_test.go
  internal/service/bedrockagent/service_package_gen.go
  website/docs/r/bedrockagent_flow.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/bedrockagent

#43374 Remove duplicated words from the aws_bedrock_inference_profiles documentation
  website/docs/d/bedrock_inference_profiles.html.markdown
Labels: documentation, size/XS, service/bedrock

#43387 Go-VCR: add contributor documentation
  docs/go-vcr.md
  mkdocs.yml
Labels: documentation, size/M, tests, prioritized

#43377 [Enhancement] aws_lakeformation_resource: support `with_privileged_access` argument
  .changelog/43377.txt
  internal/service/lakeformation/resource.go
  internal/service/lakeformation/resource_data_source.go
  internal/service/lakeformation/resource_data_source_test.go
  internal/service/lakeformation/resource_test.go
  website/docs/d/lakeformation_resource.html.markdown
  website/docs/r/lakeformation_resource.html.markdown
Labels: enhancement, documentation, size/M, tests, service/lakeformation, prioritized

#43386 sweeper/aws_organizations_delegated_administrator
  internal/service/organizations/sweep.go
Labels: size/M, service/organizations, sweeper, prioritized

#43332 Go-VCR: support `logs`
  internal/service/logs/account_policy.go
  internal/service/logs/account_policy_test.go
  internal/service/logs/anomaly_detector.go
  internal/service/logs/anomaly_detector_tags_gen_test.go
  internal/service/logs/anomaly_detector_test.go
  internal/service/logs/data_protection_policy.go
  internal/service/logs/data_protection_policy_document_data_source_test.go
  internal/service/logs/data_protection_policy_test.go
  internal/service/logs/delivery.go
  internal/service/logs/delivery_destination.go
  internal/service/logs/delivery_destination_policy.go
  internal/service/logs/delivery_destination_policy_test.go
  internal/service/logs/delivery_destination_test.go
  internal/service/logs/delivery_source.go
  internal/service/logs/delivery_source_test.go
  internal/service/logs/delivery_test.go
  internal/service/logs/destination.go
  internal/service/logs/destination_policy.go
  internal/service/logs/destination_policy_test.go
  internal/service/logs/destination_tags_gen_test.go
  internal/service/logs/destination_test.go
  internal/service/logs/group.go
  internal/service/logs/group_data_source_test.go
  internal/service/logs/group_test.go
  internal/service/logs/groups_data_source_test.go
  internal/service/logs/index_policy.go
  internal/service/logs/index_policy_test.go
  internal/service/logs/metric_filter.go
  internal/service/logs/metric_filter_test.go
  internal/service/logs/query_definition.go
  internal/service/logs/query_definition_test.go
  internal/service/logs/resource_policy.go
  internal/service/logs/resource_policy_test.go
  internal/service/logs/stream.go
  internal/service/logs/stream_test.go
  internal/service/logs/subscription_filter.go
  internal/service/logs/subscription_filter_test.go
Labels: size/XL, tests, generators, service/logs, prioritized

#43414 r/aws_cloudwatch_log_account_policy: add sweeper
  internal/service/logs/sweep.go
Labels: size/S, sweeper, service/logs, prioritized

#43405 resource/aws_ec2_transit_gateway_route_table_propagation: Fix deleting and recreating resource when dependencies changes don't require the resource be recreated.
  .changelog/43405.txt
  internal/service/ec2/transitgateway_route_table_propagation.go
  internal/service/ec2/transitgateway_route_table_propagation_test.go
  internal/service/ec2/transitgateway_test.go
Labels: bug, size/M, tests, service/transitgateway, partner, prioritized

#43415 r/aws_s3_bucket_public_access_block: add `skip_destroy` argument
  .changelog/43415.txt
  internal/service/s3/bucket_public_access_block.go
  internal/service/s3/bucket_public_access_block_test.go
  website/docs/r/s3_bucket_public_access_block.html.markdown
Labels: documentation, size/M, tests, service/s3, prioritized

#43422 docs: add missing code block identifiers for aws_ssm_association resource documentation
  website/docs/r/ssm_association.html.markdown
Labels: documentation, size/XS, service/ssm, external-maintainer

#42807 Documentation - data source aws_secretsmanager_secret_rotation attributes fix
  website/docs/d/secretsmanager_secret_rotation.html.markdown
Labels: documentation, size/XS, service/secretsmanager

#43459 fix: Fix aws_s3_object attr references in aws_elasticbeanstalk tests
  internal/service/elasticbeanstalk/application_version_test.go
  internal/service/elasticbeanstalk/environment_test.go
Labels: size/S, tests, service/elasticbeanstalk, external-maintainer

#43460 Fix typo in aws_bedrock_agent_collaborator documentation
  website/docs/r/bedrockagent_agent_collaborator.html.markdown
Labels: documentation, size/XS, service/bedrockagent

#43461 r/lb_listener(doc): Add weighted target groups example
  website/docs/r/lb_listener.html.markdown
Labels: documentation, size/S, service/elbv2

#43478 Backfill v6.2.0 CHANGELOG notes with change to S3 Object `id` attribute
  CHANGELOG.md
  internal/service/apigatewayv2/domain_name_test.go
  internal/service/dynamodb/table_test.go
  website/docs/d/iam_principal_policy_simulation.html.markdown
  website/docs/r/comprehend_document_classifier.html.markdown
  website/docs/r/comprehend_entity_recognizer.html.markdown
  website/docs/r/elastic_beanstalk_application_version.html.markdown
Labels: documentation, size/XS, tests, service/iam, service/elasticbeanstalk, service/dynamodb, technical-debt, provider, service/apigatewayv2, service/comprehend

#43419 Resource Identity: Generate Resource Identity tests for `aws_codebuild_project`
  internal/service/codebuild/project.go
  internal/service/codebuild/project_identity_gen_test.go
  internal/service/codebuild/project_test.go
  internal/service/codebuild/source_credential_test.go
  internal/service/codebuild/testdata/Project/basic/main_gen.tf
  internal/service/codebuild/testdata/Project/basic_v5.100.0/main_gen.tf
  internal/service/codebuild/testdata/Project/basic_v6.0.0/main_gen.tf
  internal/service/codebuild/testdata/Project/region_override/main_gen.tf
  internal/service/codebuild/testdata/tmpl/project_tags.gtpl
Labels: size/XL, tests, service/codebuild, generators, prioritized

#43158 `aws_instance`: fix `ipv6_addresses` / `ipv6_addresses_count` refresh
  .changelog/43158.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
Labels: bug, size/M, tests, service/ec2, prioritized

#43215 `aws_api_gateway_resource`: recompute `path` when `path_part` changes
  .changelog/43215.txt
  internal/service/apigateway/resource.go
  internal/service/apigateway/resource_test.go
Labels: bug, size/M, tests, service/apigateway, prioritized

#43468 VCR: Use `internal/json` for comparing VCR request and cassette JSON
  internal/acctest/vcr.go
Labels: size/XS, tests, technical-debt, prioritized

#43491 aws_rds_cluster docs fix: use camel case for typescript parameter
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
Labels: documentation, size/XS, service/rds, prioritized

#43471 Remove flow node/connection limits
  .changelog/43471.txt
  internal/service/bedrockagent/flow.go
Labels: bug, size/XS, service/bedrockagent

#43423 Add resource identity to `aws_globalaccelerator_custom_routing_accelerator`
  .changelog/43423.txt
  internal/service/globalaccelerator/custom_routing_accelerator.go
  internal/service/globalaccelerator/custom_routing_accelerator_identity_gen_test.go
  internal/service/globalaccelerator/service_package_gen.go
  internal/service/globalaccelerator/testdata/CustomRoutingAccelerator/basic/main_gen.tf
  internal/service/globalaccelerator/testdata/CustomRoutingAccelerator/basic_v6.3.0/main_gen.tf
  internal/service/globalaccelerator/testdata/tmpl/custom_routing_accelerator_tags.gtpl
Labels: size/L, tests, service/globalaccelerator, generators, prioritized

#43202 Add resource identity to `aws_sns_topic`
  .changelog/43202.txt
  internal/service/sns/generate.go
  internal/service/sns/service_package_gen.go
  internal/service/sns/testdata/Topic/basic/main_gen.tf
  internal/service/sns/testdata/Topic/basic_v6.4.0/main_gen.tf
  internal/service/sns/testdata/Topic/region_override/main_gen.tf
  internal/service/sns/testdata/tmpl/topic_tags.gtpl
  internal/service/sns/topic.go
  internal/service/sns/topic_identity_gen_test.go
Labels: size/L, size/XL, tests, service/sns, generators, prioritized

#43483 docs(eks): correct default value for bootstrap_cluster_creator_admin_…
  website/docs/r/cloudfront_distribution.html.markdown
  website/docs/r/eks_cluster.html.markdown
Labels: documentation, size/XS, service/cloudfront, service/eks

#43396 [New Resource]: Cognito User Pool LogDeliveryConfiguration
  .changelog/43356.txt
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  internal/service/cognitoidp/exports_test.go
  internal/service/cognitoidp/generate.go
  internal/service/cognitoidp/log_delivery_configuration.go
  internal/service/cognitoidp/log_delivery_configuration_identity_gen_test.go
  internal/service/cognitoidp/log_delivery_configuration_test.go
  internal/service/cognitoidp/service_package_gen.go
  internal/service/cognitoidp/testdata/LogDeliveryConfiguration/basic/main_gen.tf
  internal/service/cognitoidp/testdata/LogDeliveryConfiguration/basic_v6.3.0/main_gen.tf
  internal/service/cognitoidp/testdata/LogDeliveryConfiguration/region_override/main_gen.tf
  internal/service/cognitoidp/testdata/tmpl/log_delivery_configuration_basic.gtpl
  names/data/names_data.hcl
  website/docs/r/cognito_log_delivery_configuration.html.markdown
Labels: documentation, size/XL, tests, repository, generators, github_actions, service/cognitoidp, prioritized

#43450 Add resource identity to `glue`
  .changelog/43450.txt
  internal/service/glue/registry.go
  internal/service/glue/registry_identity_gen_test.go
  internal/service/glue/schema.go
  internal/service/glue/schema_identity_gen_test.go
  internal/service/glue/service_package_gen.go
  internal/service/glue/testdata/Registry/basic/main_gen.tf
  internal/service/glue/testdata/Registry/basic_v6.3.0/main_gen.tf
  internal/service/glue/testdata/Registry/region_override/main_gen.tf
  internal/service/glue/testdata/Schema/basic/main_gen.tf
  internal/service/glue/testdata/Schema/basic_v6.3.0/main_gen.tf
  internal/service/glue/testdata/Schema/region_override/main_gen.tf
  internal/service/glue/testdata/tmpl/registry_tags.gtpl
  internal/service/glue/testdata/tmpl/schema_tags.gtpl
Labels: size/XL, size/M, tests, service/iam, service/glue, generators, prioritized

#43496 Resource Identity: Adds attribute name mapping for Framework resource types
  internal/provider/framework/identity_interceptor.go
  internal/provider/framework/identity_interceptor_test.go
  internal/provider/framework/importer/parameterized.go
  internal/provider/framework/importer/parameterized_test.go
  internal/provider/sdkv2/importer/parameterized_test.go
  internal/types/service_package.go
Labels: size/XL, tests, provider, prioritized

#43397 New Attribute for r/wafv2_rule_group: rule_json attribute
  .changelog/433245.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/rule_group_test.go
  website/docs/r/wafv2_rule_group.html.markdown
Labels: documentation, size/L, tests, service/wafv2, prioritized

#43481 Feature: Integrated smarterr to skaff
  skaff/datasource/datasource.gtpl
  skaff/datasource/datasourcefw.gtpl
  skaff/resource/resource.gtpl
  skaff/resource/resourcefw.gtpl
Labels: size/L, skaff, prioritized

#43505 Tags: generate tagging tests for `organizations` package
  internal/generate/tagstests/main.go
  internal/generate/tagstests/resource_test.go.gtpl
  internal/service/organizations/account.go
  internal/service/organizations/generate.go
  internal/service/organizations/organizational_unit_tags_gen_test.go
  internal/service/organizations/organizational_unit_test.go
  internal/service/organizations/organizations_test.go
  internal/service/organizations/policy_tags_gen_test.go
  internal/service/organizations/policy_test.go
  internal/service/organizations/resource_policy_tags_gen_test.go
  internal/service/organizations/resource_policy_test.go
  internal/service/organizations/tags_gen_test.go
  internal/service/organizations/testdata/OrganizationalUnit/tags/main_gen.tf
  internal/service/organizations/testdata/OrganizationalUnit/tagsComputed1/main_gen.tf
  internal/service/organizations/testdata/OrganizationalUnit/tagsComputed2/main_gen.tf
  internal/service/organizations/testdata/OrganizationalUnit/tags_defaults/main_gen.tf
  internal/service/organizations/testdata/OrganizationalUnit/tags_ignore/main_gen.tf
  internal/service/organizations/testdata/Policy/tags/main_gen.tf
  internal/service/organizations/testdata/Policy/tagsComputed1/main_gen.tf
  internal/service/organizations/testdata/Policy/tagsComputed2/main_gen.tf
  internal/service/organizations/testdata/Policy/tags_defaults/main_gen.tf
  internal/service/organizations/testdata/Policy/tags_ignore/main_gen.tf
  internal/service/organizations/testdata/ResourcePolicy/tags/main_gen.tf
  internal/service/organizations/testdata/ResourcePolicy/tagsComputed1/main_gen.tf
  internal/service/organizations/testdata/ResourcePolicy/tagsComputed2/main_gen.tf
  internal/service/organizations/testdata/ResourcePolicy/tags_defaults/main_gen.tf
  internal/service/organizations/testdata/ResourcePolicy/tags_ignore/main_gen.tf
Labels: size/XL, tests, service/organizations, generators, prioritized

#43506 [Enhancement] aws_wafv2_web_acl: Support `asn` custom key in `rate_based_statement`
  .changelog/43506.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/M, tests, service/wafv2, prioritized

#43516 Prevent planned `forces replacement` on `region` when upgrading from a pre-v6.0.0 provider version and `-refresh=false` is in effect
  .changelog/43516.txt
  internal/provider/framework/region.go
  internal/service/appfabric/app_bundle_test.go
  internal/service/appfabric/appfabric_test.go
  internal/service/ec2/vpc_test.go
Labels: bug, size/XL, tests, provider, service/vpc, prioritized, service/appfabric

#43495 Resource Identity: Passes Identity Spec to SDKv2 custom imports
  internal/generate/servicepackage/main.go
  internal/generate/servicepackage/service_package_gen.go.gtpl
  internal/provider/sdkv2/identity_interceptor.go
  internal/provider/sdkv2/importer/arn.go
  internal/provider/sdkv2/importer/arn_test.go
  internal/provider/sdkv2/importer/context.go
  internal/provider/sdkv2/importer/parameterized.go
  internal/provider/sdkv2/importer/parameterized_test.go
  internal/provider/sdkv2/provider.go
  internal/service/acmpca/certificate.go
  internal/service/acmpca/certificate_authority.go
  internal/service/acmpca/service_package_gen.go
  internal/service/batch/job_definition.go
  internal/service/iam/role.go
  internal/service/iam/service_package_gen.go
  internal/service/organizations/account.go
  internal/service/organizations/organization.go
  internal/service/organizations/policy.go
  internal/service/organizations/service_package_gen.go
  internal/service/s3/bucket.go
  internal/service/s3/service_package_gen.go
  internal/types/service_package.go
Labels: size/XL, tests, service/iam, service/s3, service/organizations, service/batch, provider, service/acmpca, generators, prioritized

#42577 aws_ecr_images - add new datasource - Fixes #42576
  .changelog/42577.txt
  internal/service/ecr/images_data_source.go
  internal/service/ecr/images_data_source_test.go
  internal/service/ecr/service_package_gen.go
  website/docs/d/ecr_images.html.markdown
Labels: documentation, new-data-source, size/L, size/XL, tests, service/ecr, generators

#43501 r/aws_quicksight_account_subscription: add import support
  .changelog/43501.txt
  internal/service/quicksight/account_subscription.go
  internal/service/quicksight/account_subscription_test.go
  website/docs/r/quicksight_account_subscription.html.markdown
Labels: documentation, size/S, tests, service/quicksight, prioritized

#43502 Fixes in-place UpdateService stabilization
  .changelog/43502.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
Labels: bug, regression, size/L, tests, service/ecs, partner, prioritized

#43532 Fix some CHANGELOG entries
  .changelog/43396.txt
  .changelog/43397.txt
  .changelog/43516.txt
Labels: size/XS, technical-debt, prioritized

#43536 fix roadmap linting
  ROADMAP.md
Labels: documentation, size/XS, provider, prioritized

#43522 Resource Identity: Adds support for Mutable Identity for SDKv2-based resource types
  internal/generate/identitytests/main.go
  internal/generate/identitytests/resource_test.go.gtpl
  internal/generate/servicepackage/service_package_gen.go.gtpl
  internal/provider/sdkv2/identity_interceptor.go
  internal/provider/sdkv2/identity_interceptor_test.go
  internal/provider/sdkv2/provider.go
  internal/service/batch/job_definition.go
  internal/service/batch/job_definition_identity_gen_test.go
  internal/service/batch/job_definition_test.go
  internal/service/batch/service_package_gen.go
  internal/service/batch/testdata/JobDefinition/basic_v6.4.0/main_gen.tf
  internal/service/route53/exports_test.go
  internal/service/route53/record.go
  internal/service/route53/record_identity_gen_test.go
  internal/service/route53/record_test.go
  internal/service/route53/service_package_gen.go
  internal/service/route53/testdata/Record/basic/main_gen.tf
  internal/service/route53/testdata/Record/basic_v6.4.0/main_gen.tf
  internal/service/route53/testdata/tmpl/record_basic.gtpl
  internal/slices/slices.go
  internal/slices/slices_test.go
  internal/types/service_package.go
Labels: size/XL, tests, service/route53, service/batch, provider, generators, prioritized

#43535 infrastructure/repository: add `resource-identity` label
  infrastructure/repository/labels-workflow.tf
Labels: size/XS, repository, prioritized

#43539 Add ARN-based resource identity to `globalaccelerator`
  .changelog/43539.txt
  internal/service/globalaccelerator/custom_routing_endpoint_group.go
  internal/service/globalaccelerator/custom_routing_endpoint_group_identity_gen_test.go
  internal/service/globalaccelerator/custom_routing_listener.go
  internal/service/globalaccelerator/custom_routing_listener_identity_gen_test.go
  internal/service/globalaccelerator/endpoint_group.go
  internal/service/globalaccelerator/endpoint_group_identity_gen_test.go
  internal/service/globalaccelerator/listener.go
  internal/service/globalaccelerator/listener_identity_gen_test.go
  internal/service/globalaccelerator/service_package_gen.go
  internal/service/globalaccelerator/testdata/CustomRoutingEndpointGroup/basic/main_gen.tf
  internal/service/globalaccelerator/testdata/CustomRoutingEndpointGroup/basic_v6.4.0/main_gen.tf
  internal/service/globalaccelerator/testdata/CustomRoutingListener/basic/main_gen.tf
  internal/service/globalaccelerator/testdata/CustomRoutingListener/basic_v6.4.0/main_gen.tf
  internal/service/globalaccelerator/testdata/EndpointGroup/basic/main_gen.tf
  internal/service/globalaccelerator/testdata/EndpointGroup/basic_v6.4.0/main_gen.tf
  internal/service/globalaccelerator/testdata/Listener/basic/main_gen.tf
  internal/service/globalaccelerator/testdata/Listener/basic_v6.4.0/main_gen.tf
  internal/service/globalaccelerator/testdata/tmpl/custom_routing_endpoint_group_basic.gtpl
  internal/service/globalaccelerator/testdata/tmpl/custom_routing_listener_basic.gtpl
  internal/service/globalaccelerator/testdata/tmpl/endpoint_group_basic.gtpl
  internal/service/globalaccelerator/testdata/tmpl/listener_basic.gtpl
Labels: size/XL, tests, service/globalaccelerator, generators, prioritized

#43542 Add ARN-based resource identity to `inspector`
  .changelog/43542.txt
  internal/service/inspector/assessment_target.go
  internal/service/inspector/assessment_target_identity_gen_test.go
  internal/service/inspector/assessment_target_test.go
  internal/service/inspector/assessment_template.go
  internal/service/inspector/assessment_template_identity_gen_test.go
  internal/service/inspector/assessment_template_test.go
  internal/service/inspector/generate.go
  internal/service/inspector/resource_group.go
  internal/service/inspector/resource_group_identity_gen_test.go
  internal/service/inspector/service_package_gen.go
  internal/service/inspector/testdata/AssessmentTarget/basic/main_gen.tf
  internal/service/inspector/testdata/AssessmentTarget/basic_v6.4.0/main_gen.tf
  internal/service/inspector/testdata/AssessmentTarget/region_override/main_gen.tf
  internal/service/inspector/testdata/AssessmentTemplate/basic/main_gen.tf
  internal/service/inspector/testdata/AssessmentTemplate/basic_v6.4.0/main_gen.tf
  internal/service/inspector/testdata/AssessmentTemplate/region_override/main_gen.tf
  internal/service/inspector/testdata/ResourceGroup/basic/main_gen.tf
  internal/service/inspector/testdata/ResourceGroup/basic_v6.4.0/main_gen.tf
  internal/service/inspector/testdata/ResourceGroup/region_override/main_gen.tf
  internal/service/inspector/testdata/tmpl/assessment_target_tags.gtpl
  internal/service/inspector/testdata/tmpl/assessment_template_tags.gtpl
  internal/service/inspector/testdata/tmpl/resource_group_tags.gtpl
Labels: size/XL, tests, service/iam, service/inspector, generators, prioritized

#43557 New resource: `aws_connect_phone_number_contact_flow_association`
  .changelog/43557.txt
  internal/service/connect/connect_test.go
  internal/service/connect/exports_test.go
  internal/service/connect/phone_number_contact_flow_association.go
  internal/service/connect/phone_number_contact_flow_association_test.go
  internal/service/connect/service_package_gen.go
  internal/service/connect/user_data_source.go
  website/docs/r/connect_phone_number_contact_flow_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/connect, generators, prioritized

#42591 New Resource `aws_nat_gateway_eip_association`
  .changelog/42591.txt
  internal/service/ec2/exports_test.go
  internal/service/ec2/find.go
  internal/service/ec2/service_package_gen.go
  internal/service/ec2/vpc_nat_gateway.go
  internal/service/ec2/vpc_nat_gateway_eip_association.go
  internal/service/ec2/vpc_nat_gateway_eip_association_test.go
  internal/service/ec2/vpc_nat_gateway_test.go
  internal/service/ec2/wait.go
  website/docs/r/nat_gateway.html.markdown
  website/docs/r/nat_gateway_eip_association.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, service/vpc, partner, prioritized

#43523 [bug fix] aws_appsync_api_cache: Fix "missing required field" errors during update
  .changelog/43523.txt
  internal/service/appsync/api_cache.go
  internal/service/appsync/api_cache_test.go
Labels: bug, size/S, tests, service/appsync, prioritized

#43558 [bugfix] aws_ecs_service: Allow unspecified `test_listener_rule` in `load_balancer.advanced_configuration` block
  .changelog/43558.txt
  internal/service/ecs/service.go
  internal/service/ecs/service_test.go
Labels: bug, size/M, tests, service/ecs, prioritized

#43517 feature - Enable crossregion inference and safeguard tiers
  .changelog/43517.txt
  internal/service/bedrock/guardrail.go
  internal/service/bedrock/guardrail_test.go
  internal/service/bedrock/guardrail_version.go
  website/docs/r/bedrock_guardrail.html.markdown
Labels: enhancement, documentation, size/XL, size/M, tests, prioritized, service/bedrock

#43521 Technical debt: Use `internal/retry` for `tfresource.RetryWhenIsOneOf` and `tfresource.RetryWhenAWSErrCodeContains`
  internal/service/cloudfront/distribution.go
  internal/service/datazone/domain.go
  internal/service/ec2/tags.go
  internal/service/ecs/cluster.go
  internal/service/kms/grant.go
  internal/service/kms/key.go
  internal/service/lambda/permission.go
  internal/service/wafv2/rule_group.go
  internal/service/wafv2/web_acl.go
  internal/tfresource/retry.go
Labels: size/M, service/lambda, service/ecs, service/cloudfront, service/kms, technical-debt, service/wafv2, prioritized, service/datazone

#43567 cdktf: update documentation
  website/docs/cdktf/python/d/ecr_images.html.markdown
  website/docs/cdktf/python/d/iam_principal_policy_simulation.html.markdown
  website/docs/cdktf/python/d/networkfirewall_firewall.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/batch_compute_environment.html.markdown
  website/docs/cdktf/python/r/bedrock_guardrail.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent_collaborator.html.markdown
  website/docs/cdktf/python/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/python/r/cognito_log_delivery_configuration.html.markdown
  website/docs/cdktf/python/r/comprehend_document_classifier.html.markdown
  website/docs/cdktf/python/r/comprehend_entity_recognizer.html.markdown
  website/docs/cdktf/python/r/connect_phone_number_contact_flow_association.html.markdown
  website/docs/cdktf/python/r/dms_endpoint.html.markdown
  website/docs/cdktf/python/r/dms_replication_instance.html.markdown
  website/docs/cdktf/python/r/dx_gateway_association.html.markdown
  website/docs/cdktf/python/r/eks_cluster.html.markdown
  website/docs/cdktf/python/r/elastic_beanstalk_application_version.html.markdown
  website/docs/cdktf/python/r/inspector2_enabler.html.markdown
  website/docs/cdktf/python/r/inspector2_organization_configuration.html.markdown
  website/docs/cdktf/python/r/lb_listener.html.markdown
  website/docs/cdktf/python/r/nat_gateway.html.markdown
  website/docs/cdktf/python/r/nat_gateway_eip_association.html.markdown
  website/docs/cdktf/python/r/networkfirewall_firewall.html.markdown
  website/docs/cdktf/python/r/networkfirewall_firewall_transit_gateway_attachment_accepter.html.markdown
  website/docs/cdktf/python/r/quicksight_account_subscription.html.markdown
  website/docs/cdktf/python/r/rds_cluster.html.markdown
  website/docs/cdktf/python/r/rekognition_project.html.markdown
  website/docs/cdktf/python/r/s3_bucket_metadata_configuration.html.markdown
  website/docs/cdktf/python/r/wafv2_rule_group.html.markdown
  website/docs/cdktf/python/r/wafv2_web_acl.html.markdown
  website/docs/cdktf/typescript/d/ecr_images.html.markdown
  website/docs/cdktf/typescript/d/iam_principal_policy_simulation.html.markdown
  website/docs/cdktf/typescript/d/networkfirewall_firewall.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/batch_compute_environment.html.markdown
  website/docs/cdktf/typescript/r/bedrock_guardrail.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent_collaborator.html.markdown
  website/docs/cdktf/typescript/r/cloudfront_distribution.html.markdown
  website/docs/cdktf/typescript/r/cognito_log_delivery_configuration.html.markdown
  website/docs/cdktf/typescript/r/comprehend_document_classifier.html.markdown
  website/docs/cdktf/typescript/r/comprehend_entity_recognizer.html.markdown
  website/docs/cdktf/typescript/r/connect_phone_number_contact_flow_association.html.markdown
  website/docs/cdktf/typescript/r/dms_endpoint.html.markdown
  website/docs/cdktf/typescript/r/dms_replication_instance.html.markdown
  website/docs/cdktf/typescript/r/dx_gateway_association.html.markdown
  website/docs/cdktf/typescript/r/eks_cluster.html.markdown
  website/docs/cdktf/typescript/r/elastic_beanstalk_application_version.html.markdown
  website/docs/cdktf/typescript/r/inspector2_enabler.html.markdown
  website/docs/cdktf/typescript/r/inspector2_organization_configuration.html.markdown
  website/docs/cdktf/typescript/r/lb_listener.html.markdown
  website/docs/cdktf/typescript/r/nat_gateway.html.markdown
  website/docs/cdktf/typescript/r/nat_gateway_eip_association.html.markdown
  website/docs/cdktf/typescript/r/networkfirewall_firewall.html.markdown
  website/docs/cdktf/typescript/r/networkfirewall_firewall_transit_gateway_attachment_accepter.html.markdown
  website/docs/cdktf/typescript/r/quicksight_account_subscription.html.markdown
  website/docs/cdktf/typescript/r/rds_cluster.html.markdown
  website/docs/cdktf/typescript/r/rekognition_project.html.markdown
  website/docs/cdktf/typescript/r/s3_bucket_metadata_configuration.html.markdown
  website/docs/cdktf/typescript/r/wafv2_rule_group.html.markdown
  website/docs/cdktf/typescript/r/wafv2_web_acl.html.markdown
Labels: documentation, size/XL, service/iam, service/s3, service/elbv2, service/rds, service/directconnect, service/cloudfront, service/elasticbeanstalk, service/ecr, service/batch, service/eks, service/connect, service/comprehend, service/quicksight, service/wafv2, service/networkfirewall, service/inspector2, service/cognitoidp, service/rekognition, service/dms, service/vpc, service/bedrock, service/bedrockagent

#43563 Delete duplicated definition from transcribe_vocabulary.html.markdown
  website/docs/r/transcribe_vocabulary.html.markdown
Labels: documentation, size/XS, service/transcribe

#43562 [Enhancement] aws_ssm_service_setting: Fix perpetual diff issue by supporting short format (with `/ssm/` prefix) for `setting_id`
  .changelog/43562.txt
  internal/service/ssm/service_setting.go
  internal/service/ssm/service_setting_test.go
  website/docs/r/ssm_service_setting.html.markdown
Labels: enhancement, documentation, size/L, size/M, tests, service/ssm, prioritized

#43574 tfsdk2fw: Fix compilation errors
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  tools/tfsdk2fw/main.go
Labels: size/S, provider, prioritized

#43449 [Enhancement] aws_codebuild_fleet: Support custom instance type in the fleet
  .changelog/43449.txt
  internal/service/codebuild/fleet.go
  internal/service/codebuild/fleet_data_source.go
  internal/service/codebuild/fleet_data_source_test.go
  internal/service/codebuild/fleet_test.go
  website/docs/d/codebuild_fleet.html.markdown
  website/docs/r/codebuild_fleet.html.markdown
Labels: enhancement, documentation, size/M, tests, service/codebuild, prioritized

#43452 feat: add deletion protection for verifiedpermissions_policy_store
  .changelog/43452.txt
  internal/service/verifiedpermissions/policy_store.go
  internal/service/verifiedpermissions/policy_store_data_source.go
  internal/service/verifiedpermissions/policy_store_data_source_test.go
  internal/service/verifiedpermissions/policy_store_test.go
  website/docs/d/verifiedpermissions_policy_store.html.markdown
  website/docs/r/verifiedpermissions_policy_store.html.markdown
Labels: enhancement, documentation, size/M, tests, service/verifiedpermissions, external-maintainer, prioritized

#43596 New resource: `aws_quicksight_ip_restriction`
  .changelog/43596.txt
  internal/service/quicksight/exports_test.go
  internal/service/quicksight/ip_restriction.go
  internal/service/quicksight/ip_restriction_test.go
  internal/service/quicksight/key_registration.go
  internal/service/quicksight/quicksight_test.go
  internal/service/quicksight/service_package_gen.go
  website/docs/r/quicksight_account_settings.html.markdown
  website/docs/r/quicksight_account_subscription.html.markdown
  website/docs/r/quicksight_analysis.html.markdown
  website/docs/r/quicksight_dashboard.html.markdown
  website/docs/r/quicksight_data_set.html.markdown
  website/docs/r/quicksight_data_source.html.markdown
  website/docs/r/quicksight_folder.html.markdown
  website/docs/r/quicksight_folder_membership.html.markdown
  website/docs/r/quicksight_group.html.markdown
  website/docs/r/quicksight_group_membership.html.markdown
  website/docs/r/quicksight_iam_policy_assignment.html.markdown
  website/docs/r/quicksight_ingestion.html.markdown
  website/docs/r/quicksight_ip_restriction.html.markdown
  website/docs/r/quicksight_key_registration.html.markdown
  website/docs/r/quicksight_namespace.html.markdown
  website/docs/r/quicksight_refresh_schedule.html.markdown
  website/docs/r/quicksight_role_membership.html.markdown
  website/docs/r/quicksight_template.html.markdown
  website/docs/r/quicksight_template_alias.html.markdown
  website/docs/r/quicksight_theme.html.markdown
  website/docs/r/quicksight_user.html.markdown
  website/docs/r/quicksight_vpc_connection.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/quicksight, generators

#43606 r/aws_servicequotas_service_quota: fix error when updating pending quota increase
  .changelog/43606.txt
  internal/service/servicequotas/service_quota.go
Labels: bug, size/XS, service/servicequotas, prioritized

#43619 `aws-sdk-go-v2` updates (Release 2025-07-30)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, prioritized

#43614 feat(cleanrooms): add analytics_engine support to aws_cleanrooms_coll…
  .changelog/43614.txt
  internal/service/cleanrooms/collaboration.go
  internal/service/cleanrooms/collaboration_test.go
  website/docs/r/cleanrooms_collaboration.html.markdown
Labels: documentation, size/M, size/S, tests, service/cleanrooms

#43629 github.com/aws/aws-sdk-go-v2/service/s3control@1.62.0
  go.mod
  go.sum
Labels: dependencies, size/XS, service/s3control, prioritized
