Repository hashicorp/terraform-provider-aws, pull requests merged in 2025-05, with the labels that each got.

#42434 internal/sdkv2/types/nullable: refine `TypeNullableBool` validation
  .changelog/42434.txt
  internal/sdkv2/types/nullable/bool.go
  internal/sdkv2/types/nullable/bool_test.go
  internal/sdkv2/types/nullable/testing.go
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, breaking-change, size/M, tests, prioritized

#42262 [Enhancement] aws_glue_connection: add `athena_properties` attribute to support dynamoDB connection
  .changelog/42262.txt
  internal/service/glue/connection.go
  internal/service/glue/connection_data_source.go
  internal/service/glue/connection_data_source_test.go
  internal/service/glue/connection_test.go
  internal/service/glue/service_package_gen.go
  website/docs/d/glue_connection.html.markdown
  website/docs/r/glue_connection.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/glue, generators

#42269 Add aws_workspaces_directory.certificate_based_auth_properties
  .changelog/42269.txt
  internal/service/workspaces/directory.go
  internal/service/workspaces/directory_data_source.go
  internal/service/workspaces/directory_data_source_test.go
  internal/service/workspaces/directory_test.go
  internal/service/workspaces/workspaces_test.go
  website/docs/r/workspaces_directory.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/workspaces, prioritized

#42326 resource/aws_lb_listener: Updates validation for `mutual_authentication` attributes
  .changelog/42326.txt
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/lb_listener.html.markdown
Labels: documentation, breaking-change, size/L, tests, service/elbv2, prioritized

#42330 Feature: AWS WorkSpaces pools directory functionality
  .changelog/42330.txt
  internal/service/workspaces/directory.go
  internal/service/workspaces/directory_data_source.go
  internal/service/workspaces/directory_data_source_test.go
  internal/service/workspaces/directory_test.go
  internal/service/workspaces/ip_group_test.go
  internal/service/workspaces/workspace_test.go
  internal/service/workspaces/workspaces_test.go
  website/docs/d/workspaces_directory.html.markdown
  website/docs/r/workspaces_directory.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/workspaces, prioritized

#42369 [Bug fix] Fix `aws_ec2_network_insights_path` failure when `filter_at_source.source_address` is unspecified (related to recently merged PR #42214)
  .changelog/42369.txt
  internal/service/ec2/vpc_network_insights_path.go
  internal/service/ec2/vpc_network_insights_path_test.go
Labels: bug, regression, size/M, tests, service/vpc, prioritized

#42356 Add `encryption_configuration` to `aws_s3tables_tablet_bucket` and `aws_s3tables_table` to support KMS CMK encryption
  .changelog/42356.txt
  internal/service/s3tables/table.go
  internal/service/s3tables/table_bucket.go
  internal/service/s3tables/table_bucket_test.go
  internal/service/s3tables/table_test.go
  website/docs/r/s3tables_table.html.markdown
  website/docs/r/s3tables_table_bucket.html.markdown
Labels: enhancement, documentation, size/XL, tests, partner, prioritized, service/s3tables

#42374 New Resource - aws_inspector2_filter
  .changelog/42374.txt
  internal/service/inspector2/exports_test.go
  internal/service/inspector2/filter.go
  internal/service/inspector2/filter_tags_gen_test.go
  internal/service/inspector2/filter_test.go
  internal/service/inspector2/generate.go
  internal/service/inspector2/inspector2_test.go
  internal/service/inspector2/service_package_gen.go
  internal/service/inspector2/tags_gen.go
  internal/service/inspector2/tags_gen_test.go
  internal/service/inspector2/testdata/Filter/tags/main_gen.tf
  internal/service/inspector2/testdata/Filter/tagsComputed1/main_gen.tf
  internal/service/inspector2/testdata/Filter/tagsComputed2/main_gen.tf
  internal/service/inspector2/testdata/Filter/tags_defaults/main_gen.tf
  internal/service/inspector2/testdata/Filter/tags_ignore/main_gen.tf
  internal/service/inspector2/testdata/tmpl/filter_tags.gtpl
  website/docs/r/inspector2_filter.html.markdown
Labels: documentation, new-resource, size/XL, tests, tags, generators, service/inspector2, partner, prioritized

#42473 fix: add missing attribute `policy_variables` in data source `aws_networkfirewall_firewall_policy`
  .changelog/42473.txt
  internal/service/networkfirewall/firewall_policy_data_source.go
  internal/service/networkfirewall/firewall_policy_data_source_test.go
Labels: bug, size/M, tests, service/networkfirewall, external-maintainer, prioritized

#42418 feat: add support for default ecs log driver mode on account level
  .changelog/42418.txt
  internal/service/ecs/account_setting_default.go
  internal/service/ecs/account_setting_default_test.go
  website/docs/r/ecs_account_setting_default.html.markdown
Labels: enhancement, documentation, size/M, tests, service/ecs, external-maintainer, prioritized

#42474 cdktf: update documentation
  website/docs/cdktf/python/d/glue_connection.html.markdown
  website/docs/cdktf/python/d/networkfirewall_firewall.html.markdown
  website/docs/cdktf/python/d/workspaces_directory.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/python/r/eks_cluster.html.markdown
  website/docs/cdktf/python/r/fis_experiment_template.html.markdown
  website/docs/cdktf/python/r/glue_connection.html.markdown
  website/docs/cdktf/python/r/networkfirewall_firewall.html.markdown
  website/docs/cdktf/python/r/vpclattice_listener_rule.html.markdown
  website/docs/cdktf/python/r/workspaces_directory.html.markdown
  website/docs/cdktf/typescript/d/glue_connection.html.markdown
  website/docs/cdktf/typescript/d/networkfirewall_firewall.html.markdown
  website/docs/cdktf/typescript/d/workspaces_directory.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_data_source.html.markdown
  website/docs/cdktf/typescript/r/eks_cluster.html.markdown
  website/docs/cdktf/typescript/r/fis_experiment_template.html.markdown
  website/docs/cdktf/typescript/r/glue_connection.html.markdown
  website/docs/cdktf/typescript/r/networkfirewall_firewall.html.markdown
  website/docs/cdktf/typescript/r/vpclattice_listener_rule.html.markdown
  website/docs/cdktf/typescript/r/workspaces_directory.html.markdown
Labels: documentation, size/XL, service/workspaces, service/glue, service/eks, service/networkfirewall, service/fis, service/vpclattice, service/bedrockagent

#42380 autoscaling: adds new `capacity_reservation_specification` argument
  .archive/changelog/42380.txt
  internal/service/autoscaling/group.go
  internal/service/autoscaling/group_test.go
  website/docs/r/autoscaling_group.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/autoscaling, prioritized

#42390 Support for metric period value 20 - #42389
  .changelog/42390.txt
  internal/service/cloudwatch/metric_alarm.go
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: bug, documentation, size/XS, service/cloudwatch, prioritized

#42399 New Service - Add support for AWS User Notifications
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/generate/serviceendpointtests/main.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/notifications/generate.go
  internal/service/notifications/service_endpoint_resolver_gen.go
  internal/service/notifications/service_endpoints_gen_test.go
  internal/service/notifications/service_package_gen.go
  internal/service/notificationscontacts/generate.go
  internal/service/notificationscontacts/service_endpoint_resolver_gen.go
  internal/service/notificationscontacts/service_endpoints_gen_test.go
  internal/service/notificationscontacts/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, linter, sweeper, repository, client-connections, generators, github_actions, new-service, prioritized

#42404 [Enhancement ] aws_wafv2_web_acl: Support `data_protection_config` block
  .changelog/42404.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/web_acl.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/XL, tests, service/wafv2, prioritized

#42407 [Enhancement] WAFv2: Support URI fragment field matching in aws_wafv2_web_acl and aws_wafv2_rule_group resources
  .changelog/42407.txt
  internal/service/wafv2/flex.go
  internal/service/wafv2/rule_group_test.go
  internal/service/wafv2/schemas.go
  internal/service/wafv2/web_acl_test.go
  website/docs/r/wafv2_rule_group.html.markdown
  website/docs/r/wafv2_web_acl.html.markdown
Labels: enhancement, documentation, size/L, tests, service/wafv2, prioritized

#42055 techdebt: migrating to golangci-lint v2
  .ci/.golangci.yml
  .ci/.golangci2.yml
  .ci/.golangci3.yml
  .ci/.golangci4.yml
  .ci/.golangci5.yml
  .ci/tools/go.mod
  .ci/tools/go.sum
  .ci/tools/main.go
  .github/workflows/golangci-lint.yml
  GNUmakefile
  internal/errs/diag.go
  internal/errs/sdkdiag/diags.go
  internal/framework/types/objectof.go
  internal/service/budgets/budget.go
  internal/service/chimesdkmediapipelines/media_insights_pipeline_configuration.go
  internal/service/cloudhsmv2/cluster.go
  internal/service/comprehend/document_classifier.go
  internal/service/comprehend/entity_recognizer.go
  internal/service/ds/directory_data_source.go
  internal/service/ec2/vpc_security_group_ingress_rule.go
  internal/service/opsworks/application.go
  internal/service/rolesanywhere/trust_anchor.go
  internal/service/s3/bucket.go
  internal/service/securitylake/subscriber.go
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, service/s3, service/opsworks, service/budgets, technical-debt, service/cloudhsmv2, service/comprehend, linter, repository, github_actions, service/ds, service/vpc, service/rolesanywhere, service/chimesdkmediapipelines, service/securitylake

#42480 Correct CHANGELOG entry location
  .changelog/42380.txt
Labels: size/XS, prioritized

#42456 [Enhancement] aws_rum_app_monitor: add `domain_list` argument
  .changelog/42451.txt
  .changelog/42456.txt
  .changelog/42471.txt
  internal/service/rum/app_monitor.go
  internal/service/rum/app_monitor_test.go
  website/docs/r/rum_app_monitor.html.markdown
Labels: enhancement, documentation, size/M, tests, service/rum, prioritized

#42494 r/aws_controltower_control: handle removal of parameters block
  .changelog/42494.txt
  docs/acc-test-environment-variables.md
  internal/service/controltower/control.go
  internal/service/controltower/control_test.go
  internal/service/controltower/controltower_test.go
Labels: bug, documentation, size/L, tests, service/controltower

#42470 [Enhancement] aws_cognitoidp_user_pool: add `advanced_security_additional_flows` block to `user_pool_add_ons`
  .changelog/42470.txt
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_data_source.go
  internal/service/cognitoidp/user_pool_data_source_test.go
  internal/service/cognitoidp/user_pool_test.go
  website/docs/d/cognito_user_pool.html.markdown
  website/docs/r/cognito_user_pool.html.markdown
Labels: enhancement, documentation, size/L, tests, service/cognitoidp, prioritized

#42503 docs: update environment and compute type details for codebuild project
  website/docs/r/codebuild_project.html.markdown
Labels: documentation, size/XS, service/codebuild, external-maintainer

#42504 docs: fix cloudwatch alarm example for anomaly detection
  website/docs/r/cloudwatch_metric_alarm.html.markdown
Labels: documentation, size/XS, service/cloudwatch

#42506 Revise v6 upgrade guide
  .markdownlint.yml
  website/docs/guides/enhanced-region-support.html.markdown
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, size/XL

#42520 Update CHANGELOG after `v6.0.0-beta1` release
  CHANGELOG.md
Labels: documentation, size/XS, provider

#41484 [Enhancement]: Support configurable point-in-time recovery period for dynamodb
  .changelog/41484.txt
  internal/service/dynamodb/table.go
  internal/service/dynamodb/table_data_source.go
  internal/service/dynamodb/table_data_source_test.go
  internal/service/dynamodb/table_replica.go
  internal/service/dynamodb/table_test.go
  website/docs/r/dynamodb_table.html.markdown
Labels: enhancement, documentation, size/L, tests, service/dynamodb, partner, prioritized

#42479 [Enhancement]: add appflow flow Salesforce destination data_transfer_ap…
  .changelog/42479.txt
  internal/service/appflow/flow.go
  website/docs/r/appflow_flow.html.markdown
Labels: enhancement, documentation, size/S, service/appflow, partner, prioritized

#42523 d/aws_servicequotas_templates: Standard `Argument Reference` byline
  website/docs/d/servicequotas_templates.html.markdown
Labels: documentation, size/XS, service/servicequotas, prioritized

#42524 d/aws_kms_secret: This data source will be removed in a future version
  .changelog/42524.txt
  website/docs/d/kms_secret.html.markdown
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, size/XS, service/kms, prioritized

#42415 Enhance Auto Triage Workflows
  .github/workflows/closed_items.yml
  .github/workflows/community_note.yml
  .github/workflows/readiness_comment.yml
  .github/workflows/triage.yml
Labels: size/XL, repository, github_actions, prioritized

#42532 docs: Minor update to upgrade guide, remove HRs
  website/docs/guides/version-6-upgrade.html.markdown
Labels: documentation, size/M, prioritized

#42537 Deep update dependencies
  .ci/tools/go.mod
  .ci/tools/go.sum
  GNUmakefile
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: size/XL, linter, repository, prioritized

#42542 skaff: Enhanced Region support
  skaff/datasource/datasourcefw.gtpl
  skaff/ephemeral/ephemeral.gtpl
  skaff/resource/resourcefw.gtpl
Labels: size/XS, skaff, prioritized

#41846 [Bug] Unconfigured listener attributes of `bool` type sent as `false`
  .changelog/41846.txt
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_test.go
Labels: bug, size/M, tests, service/elbv2, partner, prioritized

#42148 feat: add `bootstrap_brokers_sasl_iam` attribute for `aws_msk_serverless_cluster`
  .changelog/42148.txt
  internal/service/kafka/bootstrap_brokers_data_source.go
  internal/service/kafka/cluster.go
  internal/service/kafka/cluster_data_source.go
  internal/service/kafka/exports_test.go
  internal/service/kafka/serverless_cluster.go
  internal/service/kafka/serverless_cluster_test.go
  internal/service/kafka/sort.go
  website/docs/r/msk_serverless_cluster.html.markdown
Labels: documentation, size/M, tests, service/kafka, external-maintainer, prioritized

#42546 Glue Partition Documentation Typo Fix
  website/docs/r/glue_partition.html.markdown
Labels: documentation, size/XS, service/glue

#42572 [document typo fix] aws_lambda_event_source_mapping: `maximum_poller` and `mimimum_poller` in the example to be plural
  website/docs/r/lambda_event_source_mapping.html.markdown
Labels: documentation, size/XS, service/lambda

#42559 r/aws_rds_cluster_parameter_group: Ensure that dependent parameters are modified together
  .changelog/42559.txt
  .teamcity/scripts/provider_tests/acceptance_tests.sh
  .teamcity/scripts/provider_tests/unit_tests.sh
  internal/iters/README.md
  internal/iters/concat.go
  internal/iters/concat_test.go
  internal/service/rds/cluster_parameter_group.go
  internal/service/rds/cluster_parameter_group_test.go
  internal/service/rds/exports_test.go
  internal/service/rds/parameter_group.go
  internal/service/rds/parameter_group_test.go
Labels: bug, documentation, size/XL, tests, service/rds, prioritized

#42563 r/aws_docdb_cluster: add support for `manage_master_user_password` argument
  .changelog/42563.txt
  internal/service/docdb/cluster.go
  internal/service/docdb/cluster_test.go
  website/docs/r/docdb_cluster.html.markdown
Labels: enhancement, documentation, size/L, tests, service/docdb, prioritized

#42536 r/aws_sagemaker_image_version: read correct `version` after create
  .changelog/42536.txt
  internal/service/sagemaker/exports_test.go
  internal/service/sagemaker/image_version.go
  internal/service/sagemaker/image_version_migrate.go
  internal/service/sagemaker/image_version_test.go
  internal/service/sagemaker/status.go
  internal/service/sagemaker/wait.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/sagemaker_image_version.html.markdown
Labels: bug, documentation, breaking-change, size/XL, tests, service/sagemaker

#42435 fix: normalize returned MLflow version
  .changelog/42435.txt
  go.mod
  internal/semver/semver.go
  internal/semver/semver_test.go
  internal/service/mq/broker.go
  internal/service/mq/broker_data_source_test.go
  internal/service/mq/broker_test.go
  internal/service/sagemaker/mlflow_tracking_server.go
  internal/service/sagemaker/mlflow_tracking_server_test.go
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: bug, size/L, tests, service/mq, service/sagemaker, external-maintainer, prioritized

#42525 [New Resource] - AWS WAF APIKey
  .changelog/42525.txt
  internal/errs/fwdiag/diags.go
  internal/service/wafv2/api_key.go
  internal/service/wafv2/api_key_test.go
  internal/service/wafv2/exports_test.go
  internal/service/wafv2/generate.go
  internal/service/wafv2/list_pages_gen.go
  internal/service/wafv2/service_package_gen.go
  internal/service/wafv2/sweep.go
  website/docs/r/wafv2_api_key.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/wafv2, sweeper, generators, prioritized

#42534 [Enhancement] aws_iot_domain_configuration: support for application protocol and authentication type
  .changelog/42534.txt
  internal/service/iot/domain_configuration.go
  internal/service/iot/domain_configuration_test.go
  website/docs/r/iot_domain_configuration.html.markdown
Labels: enhancement, documentation, size/M, tests, service/iot, prioritized

#42586 Expose `prepared_at` to use as a trigger for replacing an alias to allow terraform to create new versions of agents
  .changelog/42586.txt
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/agent_test.go
  website/docs/r/bedrockagent_agent.html.markdown
Labels: enhancement, documentation, size/XS, tests, partner, prioritized, service/bedrockagent

#42600 Adds required PCI verbiage to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, size/XS, repository, prioritized

#42246 New Resource: `aws_cloudfrontkeyvaluestore_keys_exclusive`
  .changelog/42246.txt
  internal/create/errors.go
  internal/service/cloudfront/exports.go
  internal/service/cloudfront/exports_test.go
  internal/service/cloudfrontkeyvaluestore/equal.go
  internal/service/cloudfrontkeyvaluestore/keys_exclusive.go
  internal/service/cloudfrontkeyvaluestore/keys_exclusive_test.go
  internal/service/cloudfrontkeyvaluestore/service_package_gen.go
  website/docs/r/cloudfrontkeyvaluestore_key.html.markdown
  website/docs/r/cloudfrontkeyvaluestore_keys_exclusive.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/cloudfront, create, generators, external-maintainer, service/cloudfrontkeyvaluestore

#42602 AWS Billing and Cost Management services are global
  internal/service/bcmdataexports/export.go
  internal/service/bcmdataexports/service_package_gen.go
  internal/service/billing/billing_service_account_data_source.go
  internal/service/budgets/service_package_gen.go
  internal/service/ce/service_package_gen.go
  internal/service/costoptimizationhub/enrollment_status.go
  internal/service/costoptimizationhub/preferences.go
  internal/service/costoptimizationhub/service_package_gen.go
  internal/service/cur/service_package_gen.go
  internal/service/pricing/service_package_gen.go
  names/data/names_data.hcl
  website/docs/guides/enhanced-region-support.html.markdown
Labels: documentation, size/S, service/budgets, service/pricing, generators, service/ce, service/cur, prioritized, service/costoptimizationhub, service/bcmdataexports, service/billing

#42272 [new resource]: aws_dataexchange_revision_assets
  .changelog/42272.txt
  .teamcity/components/generated/services_all.kt
  internal/acctest/knownvalue/regional_arn_regexp_ignore_account.go
  internal/conns/awsclient.go
  internal/conns/config.go
  internal/generate/teamcity/acctest_services.hcl
  internal/service/dataexchange/data_set.go
  internal/service/dataexchange/exports_test.go
  internal/service/dataexchange/find.go
  internal/service/dataexchange/generate.go
  internal/service/dataexchange/revision.go
  internal/service/dataexchange/revision_assets.go
  internal/service/dataexchange/revision_assets_tags_gen_test.go
  internal/service/dataexchange/revision_assets_test.go
  internal/service/dataexchange/revision_test.go
  internal/service/dataexchange/service_package_gen.go
  internal/service/dataexchange/sweep.go
  internal/service/dataexchange/tags_gen_test.go
  internal/service/dataexchange/test-fixtures/data.json
  internal/service/dataexchange/test-fixtures/data2.json
  internal/service/dataexchange/testdata/RevisionAssets/tags/main_gen.tf
  internal/service/dataexchange/testdata/RevisionAssets/tagsComputed1/main_gen.tf
  internal/service/dataexchange/testdata/RevisionAssets/tagsComputed2/main_gen.tf
  internal/service/dataexchange/testdata/RevisionAssets/tags_defaults/main_gen.tf
  internal/service/dataexchange/testdata/RevisionAssets/tags_ignore/main_gen.tf
  internal/service/dataexchange/testdata/tmpl/revision_assets_tags.gtpl
  internal/service/s3/bucket_server_side_encryption_configuration_test.go
  website/docs/r/dataexchange_revision_assets.html.markdown
Labels: documentation, new-resource, size/XL, tests, service/s3, service/dataexchange, sweeper, client-connections, generators, prioritized

#42211 New resource: aws_bedrockagent_prompt
  .changelog/42211.txt
  internal/service/bedrockagent/exports_test.go
  internal/service/bedrockagent/prompt.go
  internal/service/bedrockagent/prompt_test.go
  internal/service/bedrockagent/service_package_gen.go
  website/docs/r/bedrockagent_prompt.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, prioritized, service/bedrockagent

#42613 `aws-sdk-go-v2` updates (Release 2025-05-13)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, size/XL

#42615 Fix DataExchange sweepers
  internal/service/dataexchange/data_set.go
  internal/service/dataexchange/data_set_test.go
  internal/service/dataexchange/exports_test.go
  internal/service/dataexchange/find.go
  internal/service/dataexchange/revision.go
  internal/service/dataexchange/revision_assets.go
  internal/service/dataexchange/service_package_gen.go
  internal/service/dataexchange/sweep.go
Labels: size/L, tests, service/dataexchange, sweeper, generators, prioritized

#42603 Bug: Make updating a Bedrock Agent Alias create a new version
  .changelog/42603.txt
  internal/service/bedrockagent/agent_alias.go
  internal/service/bedrockagent/agent_alias_test.go
Labels: bug, size/M, tests, partner, prioritized, service/bedrockagent

#42461 Corrects `aws_rds_certificate` import documentation
  website/docs/r/rds_certificate.html.markdown
Labels: documentation, size/XS, service/rds, prioritized

#42540 resource/aws_backup_region_settings: Fix error in acceptance test
  internal/service/backup/region_settings_test.go
Labels: size/XS, tests, service/backup, prioritized

#42604 r/aws_imagebuilder_distribution_configuration: support for ssm_parameter_configuration
  .changelog/42604.txt
  internal/service/imagebuilder/distribution_configuration.go
  internal/service/imagebuilder/distribution_configuration_data_source.go
  internal/service/imagebuilder/distribution_configuration_data_source_test.go
  internal/service/imagebuilder/distribution_configuration_test.go
  website/docs/d/imagebuilder_distribution_configuration.html.markdown
  website/docs/r/imagebuilder_distribution_configuration.html.markdown
Labels: enhancement, documentation, size/L, tests, service/imagebuilder, prioritized

#42629 add note about ipv6
  website/docs/index.html.markdown
Labels: documentation, size/XS, provider

#42621 Prototype of a new retry package
  .teamcity/scripts/provider_tests/acceptance_tests.sh
  .teamcity/scripts/provider_tests/unit_tests.sh
  internal/backoff/backoff.go
  internal/backoff/backoff_test.go
  internal/backoff/deadline.go
Labels: size/XL, tests, prioritized

#42624 resource/aws_s3_bucket_lifecycle_configuration: Fixes `filter` validation to allow empty block
  .changelog/42624.txt
  internal/framework/validators/objectvalidator/at_most_one_of_children.go
  internal/framework/validators/objectvalidator/warn_at_most_one_of_children.go
  internal/service/s3/bucket_lifecycle_configuration.go
Labels: bug, size/L, service/s3, prioritized

#42645 Correct `v5.98.0` and `v5.99.0` CHANGELOG headings
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#42635 docs: add default values recommendation
  docs/data-handling-and-conversion.md
Labels: documentation, size/XS, prioritized

#42634 Align `make` between v5 and v6
  GNUmakefile
Labels: size/XS, repository, prioritized

#42652 Incorrect `v6.0.0-beta` CHANGELOG entries
  CHANGELOG.md
Labels: documentation, size/M, provider, prioritized

#42650 Build with Go v1.23.9
  .ci/providerlint/go.mod
  .ci/providerlint/passes/AWSAT001/testdata/go.mod
  .ci/providerlint/passes/AWSAT002/testdata/go.mod
  .ci/providerlint/passes/AWSAT003/testdata/go.mod
  .ci/providerlint/passes/AWSAT004/testdata/go.mod
  .ci/providerlint/passes/AWSAT005/testdata/go.mod
  .ci/providerlint/passes/AWSAT006/testdata/go.mod
  .ci/providerlint/passes/AWSR001/testdata/go.mod
  .ci/providerlint/passes/AWSV001/testdata/go.mod
  .ci/tools/go.mod
  .go-version
  go.mod
  internal/service/cloudformation/test-fixtures/examplecompany-exampleservice-exampleresource/go.mod
  skaff/go.mod
  tools/literally/go.mod
  tools/tfsdk2fw/go.mod
Labels: size/S, tests, service/cloudformation, provider, linter, skaff, prioritized

#42664 cdktf: update documentation
  website/docs/cdktf/python/d/account_primary_contact.html.markdown
  website/docs/cdktf/python/d/imagebuilder_distribution_configuration.html.markdown
  website/docs/cdktf/python/index.html.markdown
  website/docs/cdktf/python/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/python/r/bedrockagent_prompt.html.markdown
  website/docs/cdktf/python/r/cloudfrontkeyvaluestore_key.html.markdown
  website/docs/cdktf/python/r/cloudfrontkeyvaluestore_keys_exclusive.html.markdown
  website/docs/cdktf/python/r/dataexchange_revision_assets.html.markdown
  website/docs/cdktf/python/r/imagebuilder_distribution_configuration.html.markdown
  website/docs/cdktf/python/r/iot_domain_configuration.html.markdown
  website/docs/cdktf/python/r/quicksight_account_settings.html.markdown
  website/docs/cdktf/python/r/rds_certificate.html.markdown
  website/docs/cdktf/python/r/securityhub_finding_aggregator.html.markdown
  website/docs/cdktf/python/r/transfer_tag.html.markdown
  website/docs/cdktf/python/r/wafv2_api_key.html.markdown
  website/docs/cdktf/typescript/d/account_primary_contact.html.markdown
  website/docs/cdktf/typescript/d/imagebuilder_distribution_configuration.html.markdown
  website/docs/cdktf/typescript/index.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_agent.html.markdown
  website/docs/cdktf/typescript/r/bedrockagent_prompt.html.markdown
  website/docs/cdktf/typescript/r/cloudfrontkeyvaluestore_key.html.markdown
  website/docs/cdktf/typescript/r/cloudfrontkeyvaluestore_keys_exclusive.html.markdown
  website/docs/cdktf/typescript/r/dataexchange_revision_assets.html.markdown
  website/docs/cdktf/typescript/r/imagebuilder_distribution_configuration.html.markdown
  website/docs/cdktf/typescript/r/iot_domain_configuration.html.markdown
  website/docs/cdktf/typescript/r/quicksight_account_settings.html.markdown
  website/docs/cdktf/typescript/r/rds_certificate.html.markdown
  website/docs/cdktf/typescript/r/securityhub_finding_aggregator.html.markdown
  website/docs/cdktf/typescript/r/transfer_tag.html.markdown
  website/docs/cdktf/typescript/r/wafv2_api_key.html.markdown
Labels: documentation, size/XL, service/rds, service/iot, service/transfer, service/securityhub, service/quicksight, service/dataexchange, service/wafv2, service/imagebuilder, service/account, service/bedrockagent, service/cloudfrontkeyvaluestore

#42663 feat: add tags implementation
  .changelog/42663.txt
  internal/service/verifiedpermissions/generate.go
  internal/service/verifiedpermissions/policy_store.go
  internal/service/verifiedpermissions/policy_store_data_source.go
  internal/service/verifiedpermissions/policy_store_data_source_test.go
  internal/service/verifiedpermissions/policy_store_test.go
  internal/service/verifiedpermissions/service_package_gen.go
  internal/service/verifiedpermissions/tags_gen.go
  website/docs/d/verifiedpermissions_policy_store.html.markdown
  website/docs/r/verifiedpermissions_policy_store.html.markdown
Labels: enhancement, documentation, size/XL, tests, tags, generators, service/verifiedpermissions, external-maintainer, prioritized

#42704 Incorrect `v6.0.0-beta` CHANGELOG entries (again)
  CHANGELOG.md
Labels: documentation, size/M, provider, prioritized

#42703 iotanalytics & iotevents: Remove as services are at end of life
  .changelog/42703.txt
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/fwprovider/service_packages_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/iotanalytics/README.md
  internal/service/iotanalytics/generate.go
  internal/service/iotanalytics/service_endpoint_resolver_gen.go
  internal/service/iotanalytics/service_endpoints_gen_test.go
  internal/service/iotanalytics/service_package_gen.go
  internal/service/iotanalytics/tags_gen.go
  internal/service/iotevents/README.md
  internal/service/iotevents/generate.go
  internal/service/iotevents/service_endpoint_resolver_gen.go
  internal/service/iotevents/service_endpoints_gen_test.go
  internal/service/iotevents/service_package_gen.go
  internal/service/iotevents/tags_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, size/XL, tests, provider, service/iotevents, service/iotanalytics, linter, sweeper, tags, client-connections, generators, prioritized

#42707 `release/v6.0.0-beta` port of #42706
  website/docs/d/appmesh_virtual_gateway.html.markdown
  website/docs/d/datazone_domain.html.markdown
  website/docs/d/dx_router_configuration.html.markdown
  website/docs/r/appfabric_app_authorization.html.markdown
  website/docs/r/appfabric_ingestion.html.markdown
  website/docs/r/appfabric_ingestion_destination.html.markdown
  website/docs/r/backup_logically_air_gapped_vault.html.markdown
  website/docs/r/ce_anomaly_monitor.html.markdown
  website/docs/r/ce_anomaly_subscription.html.markdown
  website/docs/r/ce_cost_category.html.markdown
  website/docs/r/cloudfront_origin_access_control.html.markdown
  website/docs/r/datazone_environment_profile.html.markdown
  website/docs/r/dms_s3_endpoint.html.markdown
  website/docs/r/ec2_network_insights_path.html.markdown
  website/docs/r/emr_studio_session_mapping.html.markdown
  website/docs/r/emrcontainers_job_template.html.markdown
  website/docs/r/emrcontainers_virtual_cluster.html.markdown
  website/docs/r/emrserverless_application.html.markdown
  website/docs/r/glue_catalog_table.html.markdown
  website/docs/r/glue_partition_index.html.markdown
  website/docs/r/imagebuilder_component.html.markdown
  website/docs/r/imagebuilder_container_recipe.html.markdown
  website/docs/r/imagebuilder_image_recipe.html.markdown
  website/docs/r/keyspaces_keyspace.html.markdown
  website/docs/r/memorydb_cluster.html.markdown
  website/docs/r/msk_replicator.html.markdown
  website/docs/r/msk_vpc_connection.html.markdown
  website/docs/r/mskconnect_custom_plugin.html.markdown
  website/docs/r/networkmonitor_probe.html.markdown
  website/docs/r/quicksight_data_set.html.markdown
  website/docs/r/quicksight_role_membership.html.markdown
  website/docs/r/route53profiles_resource_association.html.markdown
  website/docs/r/route53recoveryreadiness_recovery_group.html.markdown
  website/docs/r/s3control_bucket.html.markdown
  website/docs/r/s3control_bucket_lifecycle_configuration.html.markdown
  website/docs/r/securitylake_aws_log_source.html.markdown
  website/docs/r/securitylake_data_lake.html.markdown
  website/docs/r/securitylake_subscriber_notification.html.markdown
  website/docs/r/ssmincidents_response_plan.html.markdown
  website/docs/r/vpclattice_target_group_attachment.html.markdown
Labels: documentation, size/M, service/emr, service/directconnect, service/cloudfront, service/glue, service/s3control, service/appmesh, service/kafka, service/backup, service/quicksight, service/imagebuilder, service/emrcontainers, service/route53recoveryreadiness, service/memorydb, service/kafkaconnect, service/keyspaces, service/ce, service/dms, service/ssmincidents, service/vpc, service/emrserverless, service/securitylake, service/vpclattice, prioritized, service/appfabric, service/datazone, service/route53profiles, service/networkmonitor

#42692 notifications: Global service
  names/data/names_data.hcl
  website/docs/guides/enhanced-region-support.html.markdown
Labels: documentation, size/XS, prioritized, service/notifications

#42544 feat: implement notification hub resource
  .changelog/42544.txt
  internal/service/notifications/exports_test.go
  internal/service/notifications/notification_hub.go
  internal/service/notifications/notification_hub_test.go
  internal/service/notifications/service_package_gen.go
  names/names.go
  website/docs/r/notifications_notification_hub.html.markdown
Labels: documentation, new-resource, size/XL, tests, generators, external-maintainer, prioritized, service/notifications

#42716 Upgrade `tfproviderdocs` to v0.20.0
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: dependencies, size/XS, linter, prioritized

#42717 `release/v6.0.0-beta` port of #42716
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: dependencies, size/XS, linter, prioritized

#42685 add capacity reservation support for alb and nlb
  .changelog/42685.txt
  internal/service/elbv2/load_balancer.go
  internal/service/elbv2/load_balancer_test.go
  website/docs/r/lb.html.markdown
Labels: enhancement, documentation, size/L, tests, service/elbv2, prioritized

#42631 resource/aws_redshift_cluster: Update default value of `encrypted` to `true` to match AWS default
  .changelog/42631.txt
  internal/service/dms/endpoint_test.go
  internal/service/pipes/pipe_test.go
  internal/service/redshift/cluster.go
  internal/service/redshift/cluster_data_source_test.go
  internal/service/redshift/cluster_iam_roles_test.go
  internal/service/redshift/cluster_test.go
  internal/service/redshift/consts.go
  internal/service/redshift/endpoint_access_test.go
  internal/service/redshift/endpoint_authorization_test.go
  internal/service/redshift/logging.go
  internal/service/redshift/logging_test.go
  internal/service/redshift/snapshot_copy_test.go
  internal/service/redshiftdata/statement_test.go
  website/docs/guides/version-6-upgrade.html.markdown
  website/docs/r/redshift_cluster.html.markdown
  website/docs/r/redshift_logging.html.markdown
Labels: documentation, size/XL, tests, service/redshift, service/dms, service/redshiftdata, service/pipes, prioritized

#42726 r/aws_elasticache_replication_group: fix crash reading empty node groups
  .changelog/42726.txt
  internal/service/elasticache/replication_group.go
Labels: bug, crash, size/XS, service/elasticache, prioritized

#42610 aws_sagemaker_image_version - add support for alias fixes #35931
  .changelog/42610.txt
  internal/service/sagemaker/image_version.go
  internal/service/sagemaker/image_version_test.go
  website/docs/r/sagemaker_image_version.html.markdown
Labels: enhancement, documentation, size/M, tests, service/sagemaker, prioritized

#42728 Document 'region' argument for Region-aware data sources - Phase IV
  website/docs/d/appstream_image.html.markdown
  website/docs/d/batch_job_definition.html.markdown
  website/docs/d/cloudcontrolapi_resource.html.markdown
  website/docs/d/db_instances.html.markdown
  website/docs/d/dynamodb_table_item.html.markdown
  website/docs/d/ec2_local_gateway_virtual_interface.html.markdown
  website/docs/d/ec2_local_gateway_virtual_interface_group.html.markdown
  website/docs/d/ec2_local_gateway_virtual_interface_groups.html.markdown
  website/docs/d/ec2_public_ipv4_pools.html.markdown
  website/docs/d/ec2_transit_gateway_route_table_associations.html.markdown
  website/docs/d/ecs_task_execution.html.markdown
  website/docs/d/eks_cluster_versions.html.markdown
  website/docs/d/identitystore_group.html.markdown
  website/docs/d/identitystore_user.html.markdown
  website/docs/d/lakeformation_data_lake_settings.html.markdown
  website/docs/d/lakeformation_permissions.html.markdown
  website/docs/d/lbs.html.markdown
  website/docs/d/opensearchserverless_collection.html.markdown
  website/docs/d/outposts_outpost_instance_type.html.markdown
  website/docs/d/polly_voices.html.markdown
  website/docs/d/quicksight_group.html.markdown
  website/docs/d/quicksight_theme.html.markdown
  website/docs/d/quicksight_user.html.markdown
  website/docs/d/rds_clusters.html.markdown
  website/docs/d/rds_engine_version.html.markdown
  website/docs/d/redshift_producer_data_shares.html.markdown
  website/docs/d/resourceexplorer2_search.html.markdown
  website/docs/d/servicecatalog_constraint.html.markdown
  website/docs/d/servicecatalog_launch_paths.html.markdown
  website/docs/d/servicecatalog_portfolio.html.markdown
  website/docs/d/servicecatalog_portfolio_constraints.html.markdown
  website/docs/d/servicecatalog_product.html.markdown
  website/docs/d/servicecatalog_provisioning_artifacts.html.markdown
  website/docs/d/servicecatalogappregistry_attribute_group.html.markdown
  website/docs/d/servicecatalogappregistry_attribute_group_associations.html.markdown
  website/docs/d/sqs_queues.html.markdown
  website/docs/d/ssm_patch_baseline.html.markdown
  website/docs/d/ssm_patch_baselines.html.markdown
  website/docs/d/synthetics_runtime_version.html.markdown
Labels: documentation, size/S, service/ec2, service/ecs, service/rds, service/sqs, service/redshift, service/dynamodb, service/ssm, service/servicecatalog, service/batch, service/appstream, service/eks, service/polly, service/quicksight, service/lakeformation, service/outposts, service/synthetics, service/identitystore, service/transitgateway, service/servicecatalogappregistry, service/ec2outposts, service/cloudcontrol, service/resourceexplorer2, service/opensearchserverless, prioritized

#42734 Remove incorrect CHANGELOG modification after `v6.0.0-beta2` release
  CHANGELOG.md
Labels: documentation, size/XS, provider

#42735 Correct CHANGELOG after `v6.0.0-beta2` release
  CHANGELOG.md
Labels: documentation, size/M, provider

#42732 Tech debt: Consolidate duplicate `Deadline` types
  internal/backoff/backoff.go
  internal/backoff/backoff_test.go
  internal/backoff/deadline.go
  internal/service/ec2/ec2_instance.go
  internal/service/mq/broker_test.go
  internal/service/rds/global_cluster.go
  internal/service/rds/instance.go
  internal/service/rds/instance_test.go
  internal/service/rds/shard_group.go
  internal/service/sqs/attribute_funcs.go
  internal/service/sqs/queue.go
  internal/tfresource/retry.go
  internal/types/deadline.go
Labels: size/L, tests, service/ec2, service/rds, service/sqs, service/mq, technical-debt, prioritized

#42745 Clean up duplicate `region` arguments documentation
  website/docs/d/apprunner_hosted_zone_id.html.markdown
  website/docs/d/arn.html.markdown
  website/docs/d/availability_zone.html.markdown
  website/docs/d/cloudfront_log_delivery_canonical_user_id.html.markdown
  website/docs/d/cloudtrail_service_account.html.markdown
  website/docs/d/elastic_beanstalk_hosted_zone.html.markdown
  website/docs/d/elb_hosted_zone_id.html.markdown
  website/docs/d/elb_service_account.html.markdown
  website/docs/d/lb_hosted_zone_id.html.markdown
  website/docs/d/sagemaker_prebuilt_ecr_image.html.markdown
  website/docs/d/service.html.markdown
  website/docs/d/service_principal.html.markdown
  website/docs/r/lightsail_bucket.html.markdown
Labels: documentation, size/M, service/ec2, service/elbv2, service/cloudtrail, service/lightsail, service/elb, service/cloudfront, service/elasticbeanstalk, service/sagemaker, service/apprunner, prioritized, service/meta

#42733 ECS Enhanced Region import support
  .changelog/42733.txt
  internal/acctest/state_id.go
  internal/acctest/statecheck/expect_regional_arn_format.go
  internal/acctest/statecheck/format.go
  internal/service/ecs/cluster.go
  internal/service/ecs/cluster_test.go
  internal/service/ecs/service.go
  internal/service/ecs/service_package_gen.go
  internal/service/ecs/service_test.go
  website/docs/r/ecs_service.html.markdown
Labels: documentation, size/XL, tests, service/ecs, generators

#42770 fix: replace bucket arn with bucket name
  website/docs/r/quicksight_data_source.html.markdown
Labels: documentation, size/XS, service/quicksight, external-maintainer

#42575 feat (AWS notifications): implement notification configuration, event rule, email contact
  .changelog/42575.txt
  internal/acctest/knownvalue/global_arn_regexp.go
  internal/service/notifications/channel_association.go
  internal/service/notifications/channel_association_test.go
  internal/service/notifications/event_rule.go
  internal/service/notifications/event_rule_test.go
  internal/service/notifications/exports_test.go
  internal/service/notifications/generate.go
  internal/service/notifications/notification_configuration.go
  internal/service/notifications/notification_configuration_test.go
  internal/service/notifications/service_package_gen.go
  internal/service/notifications/sweep.go
  internal/service/notifications/tags_gen.go
  internal/service/notificationscontacts/email_contact.go
  internal/service/notificationscontacts/email_contact_test.go
  internal/service/notificationscontacts/exports_test.go
  internal/service/notificationscontacts/generate.go
  internal/service/notificationscontacts/service_package_gen.go
  internal/service/notificationscontacts/sweep.go
  internal/service/notificationscontacts/tags_gen.go
  internal/sweep/register_gen_test.go
  names/names.go
  website/docs/r/notifications_channel_association.html.markdown
  website/docs/r/notifications_event_rule.html.markdown
  website/docs/r/notifications_notification_configuration.html.markdown
  website/docs/r/notificationscontacts_email_contact.html.markdown
Labels: documentation, new-resource, size/XL, tests, sweeper, tags, generators, external-maintainer, prioritized, service/notifications, service/notificationscontacts

#42719 r/aws_cloudwatch_log_stream: return first match during read
  .changelog/42719.txt
  internal/service/logs/stream.go
  internal/slices/options.go
Labels: bug, regression, size/S, service/logs, prioritized

#42724 r/aws_lb: Gracefully ignore `AccessDenied` errors from `DescribeCapacityReservation`
  internal/service/elbv2/errors.go
  internal/service/elbv2/load_balancer.go
Labels: enhancement, size/XS, service/elbv2

#42350 r/aws_organizations_account: support for account name update
  .changelog/42350.txt
  internal/service/organizations/account.go
  internal/service/organizations/account_test.go
  internal/service/organizations/organizations_test.go
  website/docs/r/organizations_account.html.markdown
Labels: enhancement, documentation, size/M, tests, service/organizations, external-maintainer, prioritized

#42786 r/aws_s3_bucket: Ensure that `HeadBucket` S3 API calls are made using configured credentials
  .changelog/42786.txt
  internal/service/s3/bucket.go
Labels: bug, regression, size/XS, service/s3, prioritized

#42681 F aws workspacesweb browser settings
  .changelog/42681.txt
  internal/service/workspacesweb/browser_settings.go
  internal/service/workspacesweb/browser_settings_tags_gen_test.go
  internal/service/workspacesweb/browser_settings_test.go
  internal/service/workspacesweb/exports_test.go
  internal/service/workspacesweb/generate.go
  internal/service/workspacesweb/service_package_gen.go
  internal/service/workspacesweb/tags_gen.go
  internal/service/workspacesweb/tags_gen_test.go
  internal/service/workspacesweb/testdata/BrowserSettings/tags/main_gen.tf
  internal/service/workspacesweb/testdata/BrowserSettings/tagsComputed1/main_gen.tf
  internal/service/workspacesweb/testdata/BrowserSettings/tagsComputed2/main_gen.tf
  internal/service/workspacesweb/testdata/BrowserSettings/tags_defaults/main_gen.tf
  internal/service/workspacesweb/testdata/BrowserSettings/tags_ignore/main_gen.tf
  internal/service/workspacesweb/testdata/tmpl/browser_settings_tags.gtpl
  names/names.go
  website/docs/r/workspacesweb_browser_settings.html.markdown
Labels: documentation, new-resource, size/XL, tests, tags, generators, service/workspacesweb, partner, prioritized

#42793 r/aws_cognitoidp_user_pool: prevent crash with certain `user_pool_add_ons` values
  .changelog/42793.txt
  internal/service/cognitoidp/user_pool.go
Labels: bug, crash, size/XS, service/cognitoidp, prioritized

#42787 Update aws_backup_region_settings documentation
  website/docs/r/backup_region_settings.html.markdown
Labels: documentation, size/XS, service/backup

#42803 update changelog after release 5.99.0
  CHANGELOG.md
Labels: documentation, size/XS, provider

#42806 docs: update description for multiple groups
  website/docs/r/quicksight_account_subscription.html.markdown
Labels: documentation, size/XS, service/quicksight, external-maintainer

#42816 Next release is `v5.99.1`
  CHANGELOG.md
Labels: documentation, size/XS, provider, prioritized

#42812 r/aws_lb: Ignore `InvalidAction` exceptions for `DescribeCapacityReservation` operations
  .changelog/42812.txt
  internal/service/elbv2/errors.go
  internal/service/elbv2/load_balancer.go
Labels: bug, regression, size/XS, service/elbv2, prioritized

#42825 test generation: Improves test generation time
  internal/generate/identitytests/resource_test.go.gtpl
  internal/service/apigateway/domain_name_access_association.go
  internal/service/apigateway/domain_name_access_association_tags_gen_test.go
  internal/service/logs/anomaly_detector.go
Labels: size/S, tests, service/apigateway, generators, service/logs
