Repository hashicorp/terraform-provider-aws, pull requests merged in 2025-01, with the labels that each got.

#40627 doc: standardize use of the id attribute design decision
  docs/design-decision-log.md
  docs/design-decisions/standardize-use-of-the-id-attribute.md
Labels: documentation, prioritized

#40754 docs: Remove non-existent pages from navigation bar
  mkdocs.yml
Labels: documentation, external-maintainer

#40750 :pencil2: typo fixes caught from website linting
  website/docs/d/ssmincidents_replication_set.html.markdown
  website/docs/d/transfer_connector.html.markdown
Labels: documentation, service/transfer, service/ssmincidents

#40749 Update s3 tables namespace documentation
  website/docs/r/s3tables_table.html.markdown
Labels: documentation, service/s3tables

#40761 r/aws_glue_catalog_database: fix crash expanding `create_table_default_permission`
  .changelog/40761.txt
  internal/service/glue/catalog_database.go
Labels: bug, crash, service/glue, prioritized

#40752 rd/aws_codebuild_fleet: Add `compute configuration` argument
  .changelog/40752.txt
  internal/service/codebuild/fleet.go
  internal/service/codebuild/fleet_data_source.go
  internal/service/codebuild/fleet_test.go
  website/docs/d/codebuild_fleet.html.markdown
  website/docs/r/codebuild_fleet.html.markdown
Labels: documentation, tests, service/codebuild, external-maintainer

#35165 Add Clean Rooms Membership resource
  .changelog/35165.txt
  .teamcity/components/generated/services_all.kt
  examples/cleanrooms/main.tf
  internal/generate/teamcity/acctest_services.hcl
  internal/service/cleanrooms/collaboration.go
  internal/service/cleanrooms/configured_table.go
  internal/service/cleanrooms/exports_test.go
  internal/service/cleanrooms/generate.go
  internal/service/cleanrooms/membership.go
  internal/service/cleanrooms/membership_tags_gen_test.go
  internal/service/cleanrooms/membership_test.go
  internal/service/cleanrooms/service_package_gen.go
  internal/service/cleanrooms/tags_gen_test.go
  internal/service/cleanrooms/testdata/Membership/tags/main_gen.tf
  internal/service/cleanrooms/testdata/Membership/tagsComputed1/main_gen.tf
  internal/service/cleanrooms/testdata/Membership/tagsComputed2/main_gen.tf
  internal/service/cleanrooms/testdata/Membership/tags_defaults/main_gen.tf
  internal/service/cleanrooms/testdata/Membership/tags_ignore/main_gen.tf
  internal/service/cleanrooms/testdata/tmpl/membership_tags.gtpl
  website/docs/r/cleanrooms_membership.html.markdown
Labels: documentation, new-resource, size/XL, tests, examples, generators, service/cleanrooms, prioritized

#40633 🚀 Cognito-idp: user_pool_tier
  .changelog/40633.txt
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_test.go
  website/docs/r/cognito_user_pool.html.markdown
Labels: enhancement, tests, service/cognitoidp, prioritized

#40713 Fix resource aws_quicksight_data_set so tags of tag_column_operation gets populated
  .changelog/40713.txt
  internal/service/quicksight/data_set_test.go
  internal/service/quicksight/schema/data_set.go
Labels: bug, tests, service/quicksight, prioritized

#36918 Add sasl_mechanism to dms kafka_settings
  .changelog/36918.txt
  internal/service/dms/endpoint.go
  internal/service/dms/endpoint_data_source.go
  internal/service/dms/endpoint_test.go
  website/docs/cdktf/python/r/dms_endpoint.html.markdown
  website/docs/cdktf/typescript/r/dms_endpoint.html.markdown
  website/docs/r/dms_endpoint.html.markdown
Labels: enhancement, documentation, size/XS, tests, service/dms, prioritized

#40154 fix(route53): handle escape codes correctly in zone and record name
  .changelog/40154.txt
  internal/service/route53/clean.go
  internal/service/route53/clean_test.go
  internal/service/route53/delegation_set_test.go
  internal/service/route53/exports_test.go
  internal/service/route53/record.go
  internal/service/route53/record_flex_test.go
  internal/service/route53/record_test.go
  internal/service/route53/zone.go
  internal/service/route53/zone_data_source.go
  internal/service/route53/zone_test.go
  internal/slices/slices.go
Labels: bug, tests, service/route53

#40729 r/aws_sqs_queue: Fix timeout error on creation if `sqs_managed_sse_enabled=true` and `kms_data_key_reuse_period_seconds` is configured
  .changelog/40729.txt
  internal/service/sqs/queue.go
  internal/service/sqs/queue_test.go
Labels: bug, tests, service/sqs, prioritized

#40778 Add a comment to default_ttl, min and max ttl arguments in `aws_cloudfront_distribution` resource telling that TTL configuration coming from cache policy overrides other TTL arguments
  website/docs/r/cloudfront_distribution.html.markdown
Labels: documentation, service/cloudfront

#40775 feat: Add user_invitation_url attr for aws_quicksight_user
  .changelog/40775.txt
  internal/service/quicksight/user.go
  internal/service/quicksight/user_test.go
  website/docs/r/quicksight_user.html.markdown
Labels: enhancement, documentation, tests, service/quicksight, external-maintainer, prioritized

#40770 docs: Mark limit_amount and limit_unit args as optional for aws_budgets_budget
  website/docs/r/budgets_budget.html.markdown
Labels: documentation, service/budgets, external-maintainer

#40772 feat: Add registry policy scope support for aws_ecr_account_setting
  .changelog/40772.txt
  internal/service/ecr/account_setting.go
  internal/service/ecr/account_setting_test.go
  website/docs/r/ecr_account_setting.html.markdown
Labels: enhancement, documentation, tests, service/ecr, external-maintainer, prioritized

#40762 feat: added support for grpc config in cloudfront
  .changelog/40762.txt
  internal/service/cloudfront/distribution.go
  internal/service/cloudfront/distribution_test.go
  website/docs/r/cloudfront_distribution.html.markdown
Labels: enhancement, documentation, tests, service/cloudfront, prioritized

#40707 B inconsistent field
  .changelog/40707.txt
  .teamcity/scripts/provider_tests/acceptance_tests.sh
  .teamcity/scripts/provider_tests/unit_tests.sh
  go.mod
  internal/service/apigatewayv2/api.go
  internal/service/apigatewayv2/api_test.go
  internal/service/apigatewayv2/exports_test.go
  internal/service/apigatewayv2/generate.go
  internal/service/apigatewayv2/integration.go
  internal/service/apigatewayv2/list_pages_gen.go
  internal/service/apigatewayv2/route.go
  internal/service/apigatewayv2/stage.go
  internal/verify/verify.go
  internal/yaml/decode.go
  internal/yaml/decode_test.go
Labels: bug, tests, service/apigatewayv2, prioritized

#40727 aws_instance not taking input for metadata_options
  .changelog/40727.txt
  internal/service/ec2/ec2_instance.go
  internal/service/ec2/ec2_instance_test.go
Labels: bug, tests, service/ec2, prioritized

#40716 d/aws_route53_records: New data source
  .changelog/38186.txt
  internal/service/route53/cidr_collection.go
  internal/service/route53/cidr_location.go
  internal/service/route53/records_data_source.go
  internal/service/route53/records_data_source_test.go
  internal/service/route53/service_package_gen.go
  internal/service/route53/zones_data_source.go
  website/docs/d/route53_records.html.markdown
Labels: documentation, new-data-source, tests, service/route53, generators, prioritized

#40790 r/aws_internet_gateway(_attachment): Handle errors on delete for resources deleted out-of-band
  .changelog/40790.txt
  internal/service/ec2/vpc_internet_gateway.go
  internal/service/ec2/vpc_internet_gateway_attachment.go
  internal/service/ec2/vpc_internet_gateway_attachment_test.go
  internal/service/ec2/vpc_internet_gateway_test.go
Labels: bug, tests, service/vpc, prioritized

#40628 `tfsdk2fw`: Updates `id` handling
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  tools/tfsdk2fw/main.go
Labels: prioritized

#34937 add data_transfer_api to destination_flow_config_list.destination_con…
  .changelog/34937.txt
  internal/service/appflow/flow.go
  website/docs/cdktf/python/r/appflow_flow.html.markdown
  website/docs/r/appflow_flow.html.markdown
Labels: enhancement, documentation, size/XS, service/appflow, prioritized

#40764 support of valkey engine for elasticache user and usergroup
  .changelog/40764.txt
  internal/service/elasticache/user.go
  internal/service/elasticache/user_group.go
  internal/service/elasticache/user_group_test.go
  internal/service/elasticache/user_test.go
  website/docs/r/elasticache_user.html.markdown
  website/docs/r/elasticache_user_group.html.markdown
Labels: enhancement, documentation, tests, service/elasticache, partner, prioritized

#40765 feat: cognito idp user pool passwordless and passkey configuration
  .changelog/40765.txt
  internal/service/cognitoidp/user_pool.go
  internal/service/cognitoidp/user_pool_test.go
  website/docs/r/cognito_user_pool.html.markdown
Labels: enhancement, documentation, tests, service/cognitoidp, prioritized

#40689 add override_provider block to s3 object copy
  .changelog/40689.txt
  internal/service/s3/object_copy.go
  internal/service/s3/object_copy_test.go
  website/docs/r/s3_object_copy.html.markdown
Labels: enhancement, documentation, tests, service/s3

#40807 Tidy dependencies
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: skaff, prioritized

#40795 d/vpc_endpoint_service: support cross-region endpoint services
  .changelog/40795.txt
  internal/service/ec2/vpc_endpoint_service_data_source.go
  internal/service/ec2/vpc_endpoint_service_data_source_test.go
  website/docs/d/vpc_endpoint_service.html.markdown
Labels: documentation, tests, service/vpc, prioritized

#40810 Split `golangci-lint` configuration into 5
  .ci/.golangci2.yml
  .ci/.golangci3.yml
  .ci/.golangci4.yml
  .ci/.golangci5.yml
  .github/workflows/golangci-lint.yml
  GNUmakefile
  docs/continuous-integration.md
  docs/makefile-cheat-sheet.md
  internal/json/remove.go
  internal/json/ujson/µjson.go
  internal/provider/provider_acc_test.go
  internal/service/iam/session_context_data_source.go
  internal/service/sagemaker/prebuilt_ecr_image_data_source.go
Labels: documentation, tests, service/iam, service/sagemaker, provider, linter, repository, github_actions, prioritized

#40769 feat: Add association_id arg for aws_eip_association + improve docs
  .changelog/40769.txt
  internal/service/ec2/ec2_eip_association.go
  internal/service/ec2/ec2_eip_association_test.go
  internal/service/ec2/find.go
  website/docs/r/eip_association.html.markdown
Labels: enhancement, documentation, tests, service/ec2, external-maintainer, prioritized

#40731 CloudWatch Logs Delivery v2
  .changelog/40731.txt
  internal/acctest/acctest.go
  internal/acctest/configs.go
  internal/framework/resource_list_of_object.go
  internal/service/bedrockagent/knowledge_base_test.go
  internal/service/logs/anomaly_detector.go
  internal/service/logs/delivery.go
  internal/service/logs/delivery_destination.go
  internal/service/logs/delivery_destination_policy.go
  internal/service/logs/delivery_destination_policy_test.go
  internal/service/logs/delivery_destination_test.go
  internal/service/logs/delivery_source.go
  internal/service/logs/delivery_source_test.go
  internal/service/logs/delivery_test.go
  internal/service/logs/exports_test.go
  internal/service/logs/index_policy.go
  internal/service/logs/logs_test.go
  internal/service/logs/service_package_gen.go
  website/docs/r/cloudwatch_log_delivery.html.markdown
  website/docs/r/cloudwatch_log_delivery_destination.html.markdown
  website/docs/r/cloudwatch_log_delivery_destination_policy.html.markdown
  website/docs/r/cloudwatch_log_delivery_source.html.markdown
Labels: documentation, new-resource, tests, generators, service/logs, prioritized, service/bedrockagent

#40773 r/aws_codebuild_fleet: Allow `scaling_configuration` to be removed on Update
  .changelog/40773.txt
  internal/service/codebuild/fleet.go
  internal/service/codebuild/fleet_test.go
Labels: bug, tests, service/codebuild, external-maintainer, prioritized

#40819 docs: reduce cost foot print of example code
  website/docs/r/fsx_windows_file_system.html.markdown
Labels: documentation, service/fsx

#40559 [New Resource] aws_bedrockagent_agent_collaborator to manage multi-agent collaboration
  .changelog/40559.txt
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/agent_collaborator.go
  internal/service/bedrockagent/agent_collaborator_test.go
  internal/service/bedrockagent/agent_test.go
  internal/service/bedrockagent/exports_test.go
  internal/service/bedrockagent/service_package_gen.go
  website/docs/r/bedrockagent_agent_collaborator.html.markdown
Labels: documentation, new-resource, tests, generators, partner, prioritized, service/bedrockagent

#40815 r/aws_cloudfront_cache_policy: Fix crash when `parameters_in_cache_key_and_forwarded_to_origin` nested blocks are empty
  .changelog/40815.txt
  internal/service/cloudfront/cache_policy.go
Labels: bug, service/cloudfront, prioritized

#40763 GetOpenIdTokenForDeveloperIdentity ephemeral resource
  .changelog/40763.txt
  .ci/.golangci3.yml
  internal/service/cognitoidentity/openid_token_for_developer_identity_ephemeral.go
  internal/service/cognitoidentity/openid_token_for_developer_identity_ephemeral_test.go
  internal/service/cognitoidentity/service_package_gen.go
  website/docs/ephemeral-resources/cognito_identity_openid_token_for_developer_identity.markdown
Labels: documentation, tests, generators, service/cognitoidentity, prioritized, new-ephemeral-resource

#40838 sweepers: fix opensearchserverless resource references
  internal/service/opensearchserverless/sweep.go
Labels: sweeper, service/opensearchserverless, prioritized

#40822 testing: Reduce uses of `resource.TestCheckResourceAttrSet` with ARN attributes: `a` services
  internal/service/amp/scraper_test.go
  internal/service/amp/workspace_test.go
  internal/service/appautoscaling/target_test.go
  internal/service/appfabric/ingestion_destination_test.go
  internal/service/appfabric/ingestion_test.go
  internal/service/appintegrations/data_integration_test.go
  internal/service/appintegrations/event_integration_test.go
  internal/service/appstream/image_data_source_test.go
Labels: tests, service/appstream, service/amp, service/appintegrations, service/appautoscaling, prioritized, service/appfabric

#40841 `aws-sdk-go-v2` updates (Release 2025-01-08)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#40842 r/aws_codebuild_project: Allow `file_system_locations` to be removed on Update
  .changelog/40842.txt
  internal/service/codebuild/project.go
  internal/service/codebuild/project_test.go
Labels: bug, tests, service/codebuild, external-maintainer, prioritized

#40835 docs: add id attribute standards reference
  docs/id-attributes.md
  docs/unit-tests.md
  mkdocs.yml
Labels: documentation, prioritized

#40840 r/aws_apigatewayv2: additional `ConflictException` retry logic
  .changelog/40840.txt
  internal/service/apigatewayv2/service_package.go
Labels: bug, regression, service/apigatewayv2, prioritized

#40821 Add resource: aws_vpclattice_resource_gateway
  .changelog/40821.txt
  internal/service/vpclattice/exports_test.go
  internal/service/vpclattice/resource_gateway.go
  internal/service/vpclattice/resource_gateway_test.go
  internal/service/vpclattice/service_package_gen.go
  website/docs/r/vpclattice_resource_gateway.html.markdown
Labels: documentation, new-resource, tests, generators, partner, service/vpclattice, prioritized

#40850 Support new AWS Asia Pacific (Thailand) Region `ap-southeast-7` in data sources
  .changelog/40850.txt
  internal/service/elb/hosted_zone_id_data_source.go
  internal/service/elbv2/hosted_zone_id_data_source.go
  internal/service/s3/hosted_zones.go
Labels: service/s3, service/elbv2, service/elb, prioritized

#40868 r/aws_route53_record: Correct `fqdn` for wildcard records
  .changelog/40868.txt
  CHANGELOG.md
  internal/service/route53/clean_test.go
  internal/service/route53/record.go
  internal/service/route53/record_test.go
Labels: documentation, tests, service/route53, provider, prioritized

#40864 `aws-sdk-go-v2` updates (Release 2025-01-09)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, prioritized

#38406 add aws_media_packagev2_channel_group resource
  .changelog/38406.txt
  internal/service/mediapackagev2/channel_group.go
  internal/service/mediapackagev2/channel_group_tags_gen_test.go
  internal/service/mediapackagev2/channel_group_test.go
  internal/service/mediapackagev2/exports_test.go
  internal/service/mediapackagev2/generate.go
  internal/service/mediapackagev2/mediapackagev2_test.go
  internal/service/mediapackagev2/service_package_gen.go
  internal/service/mediapackagev2/tags_gen.go
  internal/service/mediapackagev2/tags_gen_test.go
  internal/service/mediapackagev2/testdata/ChannelGroup/tags/main_gen.tf
  internal/service/mediapackagev2/testdata/ChannelGroup/tagsComputed1/main_gen.tf
  internal/service/mediapackagev2/testdata/ChannelGroup/tagsComputed2/main_gen.tf
  internal/service/mediapackagev2/testdata/ChannelGroup/tags_defaults/main_gen.tf
  internal/service/mediapackagev2/testdata/ChannelGroup/tags_ignore/main_gen.tf
  internal/service/mediapackagev2/testdata/tmpl/channel_group_tags.gtpl
  website/docs/r/media_packagev2_channel_group.html.markdown
Labels: documentation, new-resource, size/XL, tests, tags, generators, service/mediapackagev2

#40853 r/aws_ecs_task_definition: Correctly detect `volume` differences
  .changelog/40853.txt
  internal/sdkv2/set.go
  internal/sdkv2/set_test.go
  internal/service/ecs/task_definition.go
  internal/service/ecs/task_definition_test.go
Labels: bug, tests, service/ecs, prioritized

#40873 r/aws_ses_receipt_rule: Retry IAM eventual consistency errors
  .changelog/40873.txt
  internal/service/ses/errors.go
  internal/service/ses/receipt_rule.go
Labels: bug, service/ses, eventual-consistency, external-maintainer

#40877 Correct year in `ROADMAP.md`
  ROADMAP.md
Labels: documentation, provider, prioritized

#40854 testing: Reduce uses of `resource.TestCheckResourceAttrSet` with ARN attributes: `b` and `c` services
  .ci/semgrep/acctest/checks/arn.go
  .ci/semgrep/acctest/checks/arn.yml
  GNUmakefile
  internal/acctest/arn.go
  internal/service/amp/scraper_test.go
  internal/service/amp/workspace_test.go
  internal/service/appintegrations/event_integration_test.go
  internal/service/backup/framework_test.go
  internal/service/backup/report_plan_test.go
  internal/service/backup/restore_testing_plan_test.go
  internal/service/batch/scheduling_policy_test.go
  internal/service/chimesdkvoice/sip_media_application_test.go
  internal/service/cloudfront/key_value_store_test.go
  internal/service/cloudfront/vpc_origin_test.go
  internal/service/cloudtrail/organization_delegated_admin_account_test.go
  internal/service/codeguruprofiler/profiling_group_test.go
  internal/service/configservice/aggregate_authorization_test.go
Labels: tests, service/configservice, service/cloudtrail, service/cloudfront, service/batch, service/backup, service/codeguruprofiler, linter, repository, service/amp, service/appintegrations, service/chimesdkvoice, prioritized

#40881 fix: update year in ROADMAP
  ROADMAP.md
Labels: documentation, provider

#40862 fix(typo): fixes typo in "awiting for Lambda Function" message
  internal/service/lambda/function.go
Labels: bug, service/lambda

#40717 Add attributes to the aws_ec2_instance_type data source
  .changelog/40717.txt
  internal/service/ec2/ec2_instance_type_data_source.go
  internal/service/ec2/ec2_instance_type_data_source_test.go
  website/docs/d/ec2_instance_type.html.markdown
Labels: enhancement, documentation, service/ec2, prioritized

#40883 docs: update import instructions for aws_dataexchange_data_set
  website/docs/r/dataexchange_data_set.html.markdown
Labels: documentation, service/dataexchange

#40882 r/sagemaker_endpoint_configuration - allow scaling endpoints to zero
  .changelog/40882.txt
  internal/service/sagemaker/endpoint_configuration.go
  internal/service/sagemaker/endpoint_configuration_test.go
Labels: enhancement, tests, service/sagemaker, external-maintainer, prioritized

#40900 feat: new service `invoicing`
  .ci/.semgrep-service-name0.yml
  .ci/.semgrep-service-name1.yml
  .ci/.semgrep-service-name2.yml
  .ci/.semgrep-service-name3.yml
  .github/labeler-issue-triage.yml
  .github/labeler-pr-triage.yml
  .teamcity/components/generated/services_all.kt
  go.mod
  go.sum
  infrastructure/repository/labels-service.tf
  internal/conns/awsclient_gen.go
  internal/provider/fwprovider/provider_gen.go
  internal/provider/provider_gen.go
  internal/provider/service_packages_gen.go
  internal/service/invoicing/generate.go
  internal/service/invoicing/service_endpoint_resolver_gen.go
  internal/service/invoicing/service_endpoints_gen_test.go
  internal/service/invoicing/service_package_gen.go
  internal/sweep/service_packages_gen_test.go
  names/consts_gen.go
  names/data/names_data.hcl
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
  website/allowed-subcategories.txt
  website/docs/guides/custom-service-endpoints.html.markdown
Labels: documentation, tests, provider, linter, sweeper, repository, client-connections, generators, github_actions, new-service, prioritized

#40736 feat: Add Listener Attributes for Application Load Balancer
  .changelog/40736.txt
  internal/service/elbv2/listener.go
  internal/service/elbv2/listener_test.go
  internal/service/elbv2/load_balancer.go
  website/docs/r/lb_listener.html.markdown
Labels: enhancement, documentation, tests, service/elbv2, prioritized

#40557 kms: add support for external key store
  .changelog/40557.txt
  docs/acc-test-environment-variables.md
  internal/service/kms/custom_key_store.go
  internal/service/kms/kms_test.go
  website/docs/r/kms_custom_key_store.html.markdown
Labels: enhancement, documentation, service/kms, external-maintainer, prioritized

#40919 Tech debt: Require `name=` value for `@EphemeralResource` and `@FrameworkResource` annotations
  internal/generate/servicepackage/main.go
  internal/service/apigateway/account.go
  internal/service/apigateway/service_package_gen.go
  internal/service/auditmanager/account_registration.go
  internal/service/auditmanager/assessment_delegation.go
  internal/service/auditmanager/assessment_report.go
  internal/service/auditmanager/framework_share.go
  internal/service/auditmanager/organization_admin_account_registration.go
  internal/service/auditmanager/service_package_gen.go
  internal/service/elasticache/reserved_cache_node.go
  internal/service/elasticache/service_package_gen.go
  internal/service/medialive/multiplex_program.go
  internal/service/medialive/service_package_gen.go
  internal/service/rds/export_task.go
  internal/service/rds/service_package_gen.go
  internal/service/simpledb/domain.go
  internal/service/simpledb/service_package_gen.go
Labels: service/apigateway, service/rds, service/medialive, service/elasticache, service/simpledb, service/auditmanager, generators, prioritized

#40906 sweeper: `aws_organizations_organizational_unit`
  internal/service/organizations/sweep.go
  internal/sweep/register_gen_test.go
Labels: tests, service/organizations, sweeper, generators, prioritized

#40845 Moves API inputs off of heap: `apigateway`
  .ci/semgrep/aws/input-on-heap.yml
  internal/service/apigateway/account.go
  internal/service/apigateway/account_test.go
  internal/service/apigateway/api_key.go
  internal/service/apigateway/authorizer.go
  internal/service/apigateway/authorizers_data_source.go
  internal/service/apigateway/base_path_mapping.go
  internal/service/apigateway/client_certificate.go
  internal/service/apigateway/deployment.go
  internal/service/apigateway/documentation_part.go
  internal/service/apigateway/documentation_version.go
  internal/service/apigateway/domain_name.go
  internal/service/apigateway/domain_name_access_association.go
  internal/service/apigateway/export_data_source.go
  internal/service/apigateway/gateway_response.go
  internal/service/apigateway/integration.go
  internal/service/apigateway/integration_response.go
  internal/service/apigateway/method.go
  internal/service/apigateway/method_response.go
  internal/service/apigateway/method_settings.go
  internal/service/apigateway/model.go
  internal/service/apigateway/request_validator.go
  internal/service/apigateway/resource.go
  internal/service/apigateway/resource_data_source.go
  internal/service/apigateway/rest_api.go
  internal/service/apigateway/rest_api_data_source.go
  internal/service/apigateway/rest_api_policy.go
  internal/service/apigateway/rest_api_policy_test.go
  internal/service/apigateway/rest_api_test.go
  internal/service/apigateway/sdk_data_source.go
  internal/service/apigateway/stage.go
  internal/service/apigateway/sweep.go
  internal/service/apigateway/usage_plan.go
  internal/service/apigateway/usage_plan_key.go
  internal/service/apigateway/vpc_link.go
  internal/service/apigateway/vpc_link_data_source.go
Labels: tests, service/apigateway, linter, sweeper, prioritized

#40909 testing: Reduce uses of `resource.TestCheckResourceAttrSet` with ARN attributes: `connect` and `d` services
  .ci/semgrep/acctest/checks/arn.yml
  internal/service/connect/contact_flow_module_test.go
  internal/service/connect/contact_flow_test.go
  internal/service/connect/hours_of_operation_test.go
  internal/service/connect/instance_test.go
  internal/service/connect/phone_number_test.go
  internal/service/connect/prompt_data_source_test.go
  internal/service/connect/queue_test.go
  internal/service/connect/quick_connect_test.go
  internal/service/connect/routing_profile_test.go
  internal/service/connect/security_profile_test.go
  internal/service/connect/user_hierarchy_group_test.go
  internal/service/connect/user_test.go
  internal/service/connect/vocabulary_test.go
  internal/service/datazone/domain_test.go
  internal/service/deploy/deployment_config_test.go
  internal/service/directconnect/gateway_test.go
  internal/service/directconnect/hosted_private_virtual_interface_test.go
  internal/service/directconnect/hosted_public_virtual_interface_test.go
  internal/service/directconnect/hosted_transit_virtual_interface_test.go
  internal/service/dms/replication_config_test.go
  internal/service/dms/testdata/replication_config/defaults/cdc.json
  internal/service/dms/testdata/replication_config/defaults/full-load-and-cdc.json
  internal/service/dms/testdata/replication_config/defaults/full-load.json
  internal/service/docdb/cluster_instance_test.go
  internal/service/docdb/cluster_parameter_group_test.go
  internal/service/docdb/subnet_group_test.go
  internal/service/docdbelastic/cluster_test.go
  internal/service/drs/replication_configuration_template_test.go
Labels: tests, service/directconnect, service/connect, service/docdb, linter, service/deploy, service/drs, service/dms, service/docdbelastic, prioritized, service/datazone

#40918 r/aws_route53_health_check: add `triggers` argument
  .changelog/40918.txt
  internal/service/route53/health_check.go
  internal/service/route53/health_check_test.go
  website/docs/r/route53_health_check.html.markdown
Labels: documentation, tests, service/route53, prioritized

#40794 feat(elasticache): Make engine name case insensitive for user and user_group
  .changelog/40794.txt
  internal/service/elasticache/cluster.go
  internal/service/elasticache/user.go
  internal/service/elasticache/user_group.go
  internal/service/elasticache/user_test.go
  website/docs/r/elasticache_user.html.markdown
  website/docs/r/elasticache_user_group.html.markdown
Labels: enhancement, documentation, service/elasticache, prioritized

#40928 testing: Reduce uses of `resource.TestCheckResourceAttrSet` with ARN attributes: `e` services
  .ci/semgrep/acctest/checks/arn.yml
  internal/service/ec2/ec2_eip_test.go
  internal/service/ec2/ipam_pool_test.go
  internal/service/ec2/ipam_test.go
  internal/service/ec2/transitgateway_attachment_data_source_test.go
  internal/service/ec2/vpc_default_subnet_test.go
  internal/service/ec2/vpc_default_vpc_test.go
  internal/service/ec2/vpc_security_group_egress_rule_test.go
  internal/service/ec2/vpc_security_group_ingress_rule_test.go
  internal/service/elasticache/serverless_cache_test.go
  internal/service/elasticache/subnet_group_test.go
  internal/service/elasticbeanstalk/application_data_source_test.go
  internal/service/elasticbeanstalk/application_test.go
  internal/service/elb/load_balancer_test.go
  internal/service/elbv2/load_balancer_test.go
  internal/service/elbv2/target_group_data_source_test.go
  internal/service/elbv2/target_group_test.go
  internal/service/elbv2/trust_store_data_source_test.go
  internal/service/events/source_data_source_test.go
Labels: tests, service/ec2, service/elbv2, service/elb, service/elasticbeanstalk, service/elasticache, linter, service/events, service/ipam, service/transitgateway, service/vpc, prioritized

#40939 `aws-sdk-go-v2` updates (Release 2025-01-14)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#40938 Tech debt: Require `name=` value for `@FrameworkDataSource` annotation
  internal/generate/servicepackage/main.go
  internal/service/auditmanager/control_data_source.go
  internal/service/auditmanager/framework_data_source.go
  internal/service/auditmanager/service_package_gen.go
  internal/service/elasticache/reserved_cache_node_offering_data_source.go
  internal/service/elasticache/service_package_gen.go
  internal/service/sts/caller_identity_data_source.go
  internal/service/sts/exports.go
  internal/service/sts/find.go
  internal/service/sts/service_package_gen.go
Labels: service/elasticache, service/sts, service/auditmanager, generators, prioritized

#40910 r/aws_msk_cluster: fix `provisioned_throughput` block update behavior
  .changelog/40910.txt
  internal/service/kafka/cluster.go
  internal/service/kafka/cluster_test.go
Labels: bug, tests, service/kafka, prioritized

#40927 [Bug]: AWS Apprunner Vpc Ingress Connection recreate upon service arn modification
  .changelog/40927.txt
  internal/service/apprunner/vpc_ingress_connection.go
Labels: bug, tests, service/apprunner, prioritized

#40940 Support new AWS Mexico (Central) Region `mx-central-1` in data sources
  .changelog/40940.txt
  internal/service/elb/hosted_zone_id_data_source.go
  internal/service/elbv2/hosted_zone_id_data_source.go
  internal/service/s3/hosted_zones.go
  skaff/go.mod
  skaff/go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: enhancement, service/s3, service/elbv2, service/elb, skaff, prioritized

#40629 Add Missing Field for CloudTrail Events
  .changelog/40629.txt
  internal/service/cloudtrail/consts.go
Labels: enhancement, service/cloudtrail

#40930 testing: Reduce uses of `resource.TestCheckResourceAttrSet` with ARN attributes: `f` to `i` services
  .changelog/40930.txt
  .ci/semgrep/acctest/checks/arn.yml
  internal/service/firehose/delivery_stream_test.go
  internal/service/globalaccelerator/accelerator.go
  internal/service/globalaccelerator/accelerator_data_source_test.go
  internal/service/globalaccelerator/accelerator_test.go
  internal/service/globalaccelerator/cross_account_attachment_test.go
  internal/service/globalaccelerator/custom_routing_accelerator.go
  internal/service/globalaccelerator/custom_routing_accelerator_data_source_test.go
  internal/service/globalaccelerator/custom_routing_accelerator_test.go
  internal/service/globalaccelerator/custom_routing_endpoint_group_test.go
  internal/service/globalaccelerator/custom_routing_listener.go
  internal/service/globalaccelerator/custom_routing_listener_test.go
  internal/service/globalaccelerator/endpoint_group_test.go
  internal/service/globalaccelerator/listener.go
  internal/service/globalaccelerator/listener_test.go
  internal/service/guardduty/malware_protection_plan_test.go
  internal/service/iam/server_certificate_data_source_test.go
  internal/service/iot/ca_certificate_test.go
  internal/service/iot/certificate_test.go
  internal/service/iot/domain_configuration_test.go
  internal/service/iot/provisioning_template_test.go
  internal/service/iot/thing_test.go
  internal/service/iot/thing_type_test.go
  internal/service/shield/protection_data_source_test.go
  internal/service/shield/protection_test.go
  website/docs/r/globalaccelerator_accelerator.html.markdown
  website/docs/r/globalaccelerator_custom_routing_accelerator.html.markdown
  website/docs/r/globalaccelerator_custom_routing_endpoint_group.html.markdown
  website/docs/r/globalaccelerator_custom_routing_listener.html.markdown
  website/docs/r/globalaccelerator_endpoint_group.html.markdown
  website/docs/r/globalaccelerator_listener.html.markdown
Labels: enhancement, documentation, tests, service/iam, service/guardduty, service/firehose, service/shield, service/iot, service/globalaccelerator, linter, prioritized

#40210 Add support for UEFI data
  .changelog/40210.txt
  internal/service/ec2/ec2_ami.go
  internal/service/ec2/ec2_ami_copy.go
  internal/service/ec2/ec2_ami_data_source.go
  internal/service/ec2/ec2_ami_from_instance.go
  website/docs/d/ami.html.markdown
  website/docs/r/ami.html.markdown
Labels: enhancement, documentation, service/ec2, prioritized

#40929 fix: Fix S3 on Outposts read error for aws_datasync_location_s3
  .changelog/40929.txt
  internal/service/datasync/location_s3.go
  internal/service/datasync/uri.go
  internal/service/datasync/uri_test.go
  website/docs/r/datasync_location_s3.html.markdown
Labels: bug, documentation, tests, service/datasync, external-maintainer, prioritized

#40955 Fixup CHANGELOG entries
  .changelog/40210.txt
  .changelog/40794.txt
Labels: prioritized

#40660 eks: add ephemeral `aws_eks_cluster_auth` resource
  .changelog/40660.txt
  internal/service/eks/cluster_auth_ephemeral.go
  internal/service/eks/cluster_auth_ephemeral_test.go
  internal/service/eks/service_package_gen.go
  website/docs/ephemeral-resources/eks_cluster_auth.html.markdown
Labels: tests, service/eks, generators, external-maintainer, prioritized, new-ephemeral-resource

#40969 r/elasticache_serverless_cache: fix modify error using autoflex
  .changelog/40969.txt
  internal/service/elasticache/serverless_cache.go
  internal/service/elasticache/serverless_cache_test.go
Labels: bug, tests, service/elasticache, prioritized

#40963 `aws-sdk-go-v2` updates (Release 2025-01-15 & Release 2025-01-16)
  GNUmakefile
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: repository, prioritized

#40921 rds_global_cluster: Ensure replication_source_identifier changes ignored on secondary
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, service/rds

#40985 fix(doc): typo in timestream resource documentation
  website/docs/r/timestreaminfluxdb_db_instance.html.markdown
Labels: documentation, service/timestreaminfluxdb

#40972 r/medialive_multiplex_program: use autoflex
  .changelog/40972.txt
  internal/service/medialive/exports_test.go
  internal/service/medialive/multiplex_program.go
  website/docs/r/medialive_multiplex_program.html.markdown
Labels: tests, service/medialive, technical-debt, prioritized

#40989 Tech debt: Some prep work for upcoming changes
  GNUmakefile
  internal/conns/awsclient.go
  internal/provider/fwprovider/intercept.go
  internal/provider/fwprovider/provider.go
  internal/provider/fwprovider/wrap.go
  internal/provider/intercept.go
  internal/provider/provider.go
  internal/provider/tags_interceptor_test.go
  internal/sweep/sweep.go
Labels: tests, technical-debt, provider, sweeper, repository, client-connections, prioritized

#40997 docs: update conflict details for ipv6 cidr block association
  website/docs/r/vpc_ipv6_cidr_block_association.html.markdown
Labels: documentation, service/vpc

#40990 Add missing enabled_cloudwatch_logs_export option to rds cluster
  website/docs/r/rds_cluster.html.markdown
Labels: documentation, service/rds

#41009 docs: Fix typo in aws_ssm_parameter ephemeral resource doc
  website/docs/ephemeral-resources/ssm_parameter.html.markdown
Labels: documentation, service/ssm, external-maintainer

#40979 fix(doc): update valid values for action property of wafv2 logging configuration
  website/docs/r/wafv2_web_acl_logging_configuration.html.markdown
Labels: documentation, service/wafv2

#41010 `aws-sdk-go-v2` updates (Release 2025-01-17)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#41038 docs: add missing explicit auth flow option for cognito user pool client
  website/docs/r/cognito_user_pool_client.html.markdown
Labels: documentation, service/cognitoidp

#41042 feat: Support resource import for aws_vpc_endpoint_security_group_association
  .changelog/41042.txt
  internal/service/ec2/vpc_endpoint_security_group_association.go
  internal/service/ec2/vpc_endpoint_security_group_association_test.go
  website/docs/r/vpc_endpoint_security_group_association.html.markdown
Labels: documentation, tests, service/vpc, external-maintainer, prioritized

#41043 feat: Add orchestration_sending_role_arn arg for aws_pinpoint_email_channel
  .changelog/41043.txt
  internal/service/pinpoint/email_channel.go
  internal/service/pinpoint/email_channel_test.go
  website/docs/r/pinpoint_email_channel.html.markdown
Labels: documentation, tests, service/pinpoint, external-maintainer, prioritized

#41012 feat: Add concurrent_jobs arg for aws_media_convert_queue
  .changelog/41012.txt
  internal/service/mediaconvert/queue.go
  internal/service/mediaconvert/queue_test.go
  website/docs/r/media_convert_queue.html.markdown
Labels: enhancement, documentation, tests, service/mediaconvert, external-maintainer, prioritized

#41059 feat: Add configurable timeouts to aws_organizations_account
  .changelog/41059.txt
  internal/service/organizations/account.go
  website/docs/r/organizations_account.html.markdown
Labels: documentation, service/organizations, external-maintainer, prioritized

#41074 docs: Clarify when the Lambda function is invoked for the aws_lambda_function data source
  website/docs/d/lambda_invocation.html.markdown
Labels: documentation, service/lambda, external-maintainer

#41085 docs: update cost filter example and description in aws_budgets_budget
  website/docs/r/budgets_budget.html.markdown
Labels: documentation, service/budgets

#41089 chore: Remove reamining use of deprecated strings.Title function and its linter exclusion
  .ci/.golangci4.yml
  internal/service/workspaces/ip_group_test.go
Labels: tests, service/workspaces, technical-debt, linter, external-maintainer

#41094 Tech debt: Fix `goreleaser` error `• DEPRECATED: archives.format should not be used any more`
  .goreleaser.yml
Labels: technical-debt, prioritized

#41072 fix: Don't force new resource on role_arn update for aws_bedrockagent_knowledge_base
  .changelog/41072.txt
  internal/acctest/configs.go
  internal/service/bedrockagent/knowledge_base.go
  internal/service/bedrockagent/knowledge_base_test.go
  website/docs/r/bedrockagent_knowledge_base.html.markdown
Labels: bug, documentation, tests, external-maintainer, prioritized, service/bedrockagent

#41095 `aws-sdk-go-v2` updates (Release 2025-01-24)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: dependencies, go, prioritized

#41088 test: Fix aws_secretsmanager_secret_rotation scheduled expression test case
  internal/service/secretsmanager/secret_rotation_test.go
Labels: tests, service/secretsmanager, external-maintainer

#41019 [New Resource] `aws_vpclattice_resource_configuration`
  .changelog/41019.txt
  internal/service/vpclattice/access_log_subscription.go
  internal/service/vpclattice/exports_test.go
  internal/service/vpclattice/generate.go
  internal/service/vpclattice/listener.go
  internal/service/vpclattice/listener_rule.go
  internal/service/vpclattice/resource_configuration.go
  internal/service/vpclattice/resource_configuration_tags_gen_test.go
  internal/service/vpclattice/resource_configuration_test.go
  internal/service/vpclattice/resource_gateway.go
  internal/service/vpclattice/resource_gateway_tags_gen_test.go
  internal/service/vpclattice/resource_gateway_test.go
  internal/service/vpclattice/resource_policy.go
  internal/service/vpclattice/service.go
  internal/service/vpclattice/service_data_source.go
  internal/service/vpclattice/service_network.go
  internal/service/vpclattice/service_network_data_source.go
  internal/service/vpclattice/service_network_service_association.go
  internal/service/vpclattice/service_network_vpc_association.go
  internal/service/vpclattice/service_package_gen.go
  internal/service/vpclattice/tags_gen_test.go
  internal/service/vpclattice/target_group.go
  internal/service/vpclattice/target_group_attachment.go
  internal/service/vpclattice/testdata/ResourceConfiguration/tags/main_gen.tf
  internal/service/vpclattice/testdata/ResourceConfiguration/tagsComputed1/main_gen.tf
  internal/service/vpclattice/testdata/ResourceConfiguration/tagsComputed2/main_gen.tf
  internal/service/vpclattice/testdata/ResourceConfiguration/tags_defaults/main_gen.tf
  internal/service/vpclattice/testdata/ResourceConfiguration/tags_ignore/main_gen.tf
  internal/service/vpclattice/testdata/ResourceGateway/tags/main_gen.tf
  internal/service/vpclattice/testdata/ResourceGateway/tagsComputed1/main_gen.tf
  internal/service/vpclattice/testdata/ResourceGateway/tagsComputed2/main_gen.tf
  internal/service/vpclattice/testdata/ResourceGateway/tags_defaults/main_gen.tf
  internal/service/vpclattice/testdata/ResourceGateway/tags_ignore/main_gen.tf
  internal/service/vpclattice/testdata/tmpl/resource_configuration_tags.gtpl
  internal/service/vpclattice/testdata/tmpl/resource_gateway_tags.gtpl
  website/docs/r/vpclattice_resource_configuration.html.markdown
Labels: documentation, new-resource, tests, generators, partner, service/vpclattice, prioritized

#41048 docs: aws_db_parameter_group: Add note to `create_before_destroy` section
  website/docs/r/db_parameter_group.html.markdown
Labels: documentation, service/rds

#41082 feat: Add kms_key_identifier arg for aws_pipes_pipe
  .changelog/41082.txt
  internal/service/pipes/pipe.go
  internal/service/pipes/pipe_test.go
  website/docs/r/pipes_pipe.html.markdown
Labels: enhancement, documentation, tests, service/pipes, external-maintainer, prioritized

#41084 feat: Add arn attribute to aws_ec2_transit_gateway_vpc_attachment resource and data source
  .changelog/41084.txt
  internal/service/ec2/transitgateway_vpc_attachment.go
  internal/service/ec2/transitgateway_vpc_attachment_data_source.go
  internal/service/ec2/transitgateway_vpc_attachment_data_source_test.go
  internal/service/ec2/transitgateway_vpc_attachment_test.go
  website/docs/d/ec2_transit_gateway_vpc_attachment.html.markdown
  website/docs/r/ec2_transit_gateway_vpc_attachment.html.markdown
Labels: enhancement, documentation, tests, service/transitgateway, external-maintainer, prioritized

#41111 fix(rds): cluster enabled_cloudwatch_logs_exports doesn't allow instance
  .changelog/41111.txt
  internal/service/rds/cluster_test.go
  internal/service/rds/consts.go
Labels: enhancement, tests, service/rds, prioritized

#41087 feat: Add arn attribute to aws_ec2_transit_gateway_peering_attachment resource and data source
  .changelog/41087.txt
  internal/service/ec2/transitgateway_peering_attachment.go
  internal/service/ec2/transitgateway_peering_attachment_data_source.go
  internal/service/ec2/transitgateway_peering_attachment_data_source_test.go
  internal/service/ec2/transitgateway_peering_attachment_test.go
  website/docs/d/ec2_transit_gateway_peering_attachment.html.markdown
  website/docs/r/ec2_transit_gateway_peering_attachment.html.markdown
Labels: enhancement, documentation, tests, service/transitgateway, external-maintainer, prioritized

#41086 feat: Add arn attribute to aws_ec2_transit_gateway_dx_gateway_attachment data source
  .changelog/41086.txt
  internal/service/ec2/transitgateway_dx_gateway_attachment_data_source.go
  internal/service/ec2/transitgateway_dx_gateway_attachment_data_source_test.go
  website/docs/d/ec2_transit_gateway_dx_gateway_attachment.html.markdown
Labels: enhancement, documentation, tests, service/transitgateway, external-maintainer, prioritized

#41081 feat: Add missing attributes to aws_ecs_task_definition data source
  .changelog/41081.txt
  internal/service/ecs/task_definition_data_source.go
  internal/service/ecs/task_definition_data_source_test.go
  website/docs/d/ecs_task_definition.html.markdown
Labels: enhancement, documentation, tests, service/ecs, external-maintainer, prioritized

#41096 fix: `aws_dms_replication_task` - type assertion to avoid nil pointer panics
  .changelog/41096.txt
  internal/service/dms/task_settings_json.go
  internal/service/dms/task_settings_json_test.go
Labels: bug, crash, service/dms, prioritized

#41057 [New Resource] `aws_vpclattice_service_network_resource_association`
  .changelog/41057.txt
  internal/framework/resource_list_of_object.go
  internal/service/vpclattice/exports_test.go
  internal/service/vpclattice/resource_configuration.go
  internal/service/vpclattice/service_network_resource_association.go
  internal/service/vpclattice/service_network_resource_association_tags_gen_test.go
  internal/service/vpclattice/service_network_resource_association_test.go
  internal/service/vpclattice/service_package_gen.go
  internal/service/vpclattice/testdata/ServiceNetworkResourceAssociation/tags/main_gen.tf
  internal/service/vpclattice/testdata/ServiceNetworkResourceAssociation/tagsComputed1/main_gen.tf
  internal/service/vpclattice/testdata/ServiceNetworkResourceAssociation/tagsComputed2/main_gen.tf
  internal/service/vpclattice/testdata/ServiceNetworkResourceAssociation/tags_defaults/main_gen.tf
  internal/service/vpclattice/testdata/ServiceNetworkResourceAssociation/tags_ignore/main_gen.tf
  internal/service/vpclattice/testdata/tmpl/service_network_resource_association_tags.gtpl
  website/docs/r/vpclattice_service_network_resource_association.html.markdown
Labels: documentation, new-resource, tests, generators, partner, service/vpclattice, prioritized

#41106 [new ephemeral resource] aws_secretsmanager_random_password
  .changelog/41106.txt
  internal/service/secretsmanager/random_password_ephemeral.go
  internal/service/secretsmanager/random_password_ephemeral_test.go
  internal/service/secretsmanager/service_package_gen.go
  website/docs/ephemeral-resources/secretsmanager_random_password.html.markdown
Labels: documentation, tests, service/secretsmanager, generators, prioritized, new-ephemeral-resource

#41105 d/aws_opensearch_serverless_collection: fix autoflex failure
  .changelog/41105.txt
  internal/service/opensearchserverless/collection_data_source.go
  internal/service/opensearchserverless/service_package_gen.go
  website/docs/d/opensearchserverless_collection.html.markdown
Labels: documentation, generators, service/opensearchserverless, prioritized

#41127 [documentation] aws_rds_global_cluster: add clarity on updating global cluster versions
  website/docs/r/rds_global_cluster.html.markdown
Labels: documentation, service/rds, prioritized

#40737 enable support within aws_bedrockagent_knowledge_base for embedding_model_configuration and supplemental_data_storage_configuration
  .changelog/40737.txt
  docs/acc-test-environment-variables.md
  internal/service/bedrockagent/bedrockagent_test.go
  internal/service/bedrockagent/knowledge_base.go
  internal/service/bedrockagent/knowledge_base_test.go
  website/docs/r/bedrockagent_knowledge_base.html.markdown
Labels: enhancement, documentation, tests, prioritized, service/bedrockagent

#41116 [Enhancement] Add `resource_configuration_arn` and `service_network_arn` to `vpc_endpoint`
  .changelog/41116.txt
  .ci/.tflint.hcl
  .github/workflows/website.yml
  internal/service/ec2/consts.go
  internal/service/ec2/find.go
  internal/service/ec2/status.go
  internal/service/ec2/sweep.go
  internal/service/ec2/vpc_endpoint.go
  internal/service/ec2/vpc_endpoint_test.go
  internal/service/ec2/wait.go
  website/docs/r/vpc_endpoint.html.markdown
Labels: enhancement, documentation, tests, sweeper, service/vpc, partner, prioritized

#41136 bedrockagent: Add sweepers
  internal/service/bedrockagent/agent.go
  internal/service/bedrockagent/sweep.go
  internal/sweep/register_gen_test.go
Labels: tests, sweeper, generators, prioritized, service/bedrockagent

#41122 r/aws_cloudwatch_log_delivery: Computed values with CloudFront distribution sources
  .changelog/41122.txt
  internal/service/logs/anomaly_detector_test.go
  internal/service/logs/delivery.go
  internal/service/logs/delivery_destination_test.go
  internal/service/logs/delivery_source_test.go
  internal/service/logs/delivery_test.go
  internal/service/logs/logs_test.go
  internal/service/logs/sweep.go
Labels: tests, sweeper, service/logs, prioritized

#41144 r/aws_cloudwatch_event_connection: Add `invocation_connectivity_parameters` argument
  .changelog/41144.txt
  internal/service/events/connection.go
  internal/service/events/connection_test.go
  internal/service/vpclattice/listener_data_source_test.go
  internal/service/vpclattice/listener_test.go
  internal/service/vpclattice/resource_configuration.go
  internal/service/vpclattice/sweep.go
  website/docs/r/cloudwatch_event_connection.html.markdown
Labels: enhancement, documentation, tests, sweeper, service/events, service/vpclattice, prioritized

#41145 New resource: aws_timestreamquery_scheduled_query
  .changelog/41145.txt
  internal/service/timestreamquery/exports_test.go
  internal/service/timestreamquery/generate.go
  internal/service/timestreamquery/scheduled_query.go
  internal/service/timestreamquery/scheduled_query_test.go
  internal/service/timestreamquery/service_package_gen.go
  internal/service/timestreamquery/tags_gen.go
  website/docs/r/timestreamquery_scheduled_query.html.markdown
Labels: documentation, tests, tags, generators, service/timestreamquery, prioritized

#41151 [documentation] Update Documentation for `aws_securityhub_automation_rule` and `aws_securityhub_insight` to Reflect All Supported Comparison Operations
  website/docs/r/securityhub_automation_rule.html.markdown
  website/docs/r/securityhub_insight.html.markdown
Labels: documentation, service/securityhub

#40711 add new data sources to aws_bedrockagent_data_source
  .changelog/40711.txt
  internal/service/bedrockagent/bedrockagent_test.go
  internal/service/bedrockagent/data_source.go
  internal/service/bedrockagent/data_source_test.go
  website/docs/r/bedrockagent_data_source.html.markdown
Labels: enhancement, documentation, prioritized, service/bedrockagent

#41158 Missing CHANGELOG entries
  .changelog/37885.txt
  CHANGELOG.md
Labels: documentation, provider, prioritized

#41167 [docs]: update details for max allocated storage
  website/docs/r/db_instance.html.markdown
Labels: documentation, service/rds

#41168 feat: Add sns_topic_arn attr to aws_cloudtrail
  .changelog/41168.txt
  .ci/.golangci4.yml
  internal/service/cloudtrail/cloudtrail_test.go
  internal/service/cloudtrail/trail.go
  internal/service/cloudtrail/trail_test.go
  website/docs/r/cloudtrail.html.markdown
Labels: enhancement, documentation, tests, service/cloudtrail, linter, external-maintainer, prioritized

#41163 r/aws_macie2_invitation_accepter: properly set `invitation_id` during creation
  .changelog/41163.txt
  internal/service/macie2/invitation_accepter.go
Labels: bug, regression, service/macie2, prioritized

#41175 r/aws_appflow_connector_profile: Add `connector_profile_config.connector_profile_properties.salesforce.use_privatelink_for_metadata_and_authorization` argument
  .changelog/41175.txt
  internal/service/appflow/connector_profile.go
  internal/service/appflow/connector_profile_test.go
  website/docs/r/appflow_connector_profile.html.markdown
Labels: enhancement, documentation, tests, service/appflow, prioritized

#41173 `aws-sdk-go-v2` updates (Release 2025-01-30)
  go.mod
  go.sum
  tools/tfsdk2fw/go.mod
  tools/tfsdk2fw/go.sum
Labels: prioritized

#41165 flex: add semantic equality to `ListNestedObject` custom type
  internal/framework/types/list_nested_objectof.go
  internal/framework/types/list_nested_objectof_test.go
  internal/framework/types/list_options.go
Labels: tests, prioritized

#40529 Fix sorting in data.aws_ami_ids
  .changelog/40529.txt
  internal/service/ec2/ec2_ami_ids_data_source.go
Labels: bug, service/ec2, prioritized
